Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2018-07, with the labels that each got.

#1469 Add "Allow access to Azure services" note to postgresql doc
  website/docs/r/postgresql_firewall_rule.html.markdown
Labels: documentation, service/postgresql

#1471 Make additional_unattend_config.content sensitive to hide AutoLogon Password
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_scale_set.go
Labels: enhancement, service/virtual-machine, service/vmss

#1473 VM Data Disk Attachment: support for setting Write Accelerator Enabled
  azurerm/resource_arm_virtual_machine_data_disk_attachment.go
  azurerm/resource_arm_virtual_machine_data_disk_attachment_test.go
  website/docs/r/virtual_machine_data_disk_attachment.html.markdown
Labels: enhancement, service/disks

#1476 TestAccDataSourceAzureRMAppService_ipRestriction test fix
  azurerm/data_source_app_service_test.go
Labels: bug, testing

#1477 Role definition contributor test fix
  azurerm/data_source_builtin_role_definition_test.go
Labels: enhancement, testing

#1475 Updating doc for Global Virtual Network peering
  website/docs/r/virtual_network_peering.html.markdown
Labels: documentation, service/virtual-networks

#1474 Upgrade ContainerServices 2017-09-30 to 2018-03-31
  azurerm/config.go
  azurerm/data_source_kubernetes_cluster.go
  azurerm/resource_arm_container_service.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/containerservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/managedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/version.go
  vendor/vendor.json
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, service/kubernetes-cluster

#1472 Add build-docker and test-docker target to build without local Golang
  GNUmakefile
Labels: enhancement, testing

#1465 CDN: support for Standard_Microsoft / China CDN
  azurerm/config.go
  azurerm/resource_arm_cdn_endpoint.go
  azurerm/resource_arm_cdn_profile.go
  azurerm/resource_arm_cdn_profile_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2017-10-12/cdn/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2017-10-12/cdn/customdomains.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2017-10-12/cdn/edgenodes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2017-10-12/cdn/endpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2017-10-12/cdn/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2017-10-12/cdn/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2017-10-12/cdn/origins.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2017-10-12/cdn/profiles.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2017-10-12/cdn/resourceusage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2017-10-12/cdn/version.go
  vendor/vendor.json
  website/docs/r/cdn_profile.html.markdown
Labels: enhancement, service/cdn

#1424 azurerm_cosmosdb_account: add capabilities property
  azurerm/data_source_cosmos_db_account.go
  azurerm/resource_arm_cosmos_db_account.go
  azurerm/resource_arm_cosmos_db_account_test.go
  website/docs/d/cosmosdb_account.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
Labels: enhancement, service/cosmos-db

#1391 enable_partitioning not supported servicebus Premium Sku.
  azurerm/resource_arm_servicebus_queue.go
  azurerm/resource_arm_servicebus_queue_test.go
  azurerm/resource_arm_servicebus_topic.go
  azurerm/resource_arm_servicebus_topic_test.go
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_topic.html.markdown
Labels: bug, documentation, service/servicebus

#1172 New Resource: `azurerm_scheduler_job`
  azurerm/config.go
  azurerm/helpers/set/set.go
  azurerm/helpers/validate/validate.go
  azurerm/helpers/validate/validate_test.go
  azurerm/provider.go
  azurerm/resource_arm_scheduler_job.go
  azurerm/resource_arm_scheduler_job_test.go
  examples/scheduler-jobs/main.tf
  examples/scheduler-jobs/outputs.tf
  website/azurerm.erb
  website/docs/d/scheduler_job_collection.html.markdown
  website/docs/r/scheduler_job.html.markdown
  website/docs/r/scheduler_job_collection.html.markdown
Labels: new-resource, service/scheduler

#1411 VMSS: ensuring we always set the `vhd_containers` field
  azurerm/resource_arm_virtual_machine_scale_set.go
Labels: bug, service/vmss

#1481 `azurerm_lb` - allow `private_ip_address` to be set to an empty value
  azurerm/helpers/validate/network.go
  azurerm/helpers/validate/network_test.go
  azurerm/resource_arm_loadbalancer.go
  azurerm/resource_arm_loadbalancer_test.go
  azurerm/resource_arm_virtual_network_gateway.go
Labels: bug, service/load-balancers

#1490 Application Security Groups now GA
  website/docs/d/application_security_group.html.markdown
  website/docs/r/application_security_group.html.markdown
  website/docs/r/network_interface.html.markdown
Labels: documentation, service/application-security-groups

#1503 resource/azurerm_sql_database: Fix requested_service_objective_name updates
  azurerm/resource_arm_sql_database.go
  azurerm/resource_arm_sql_database_test.go
Labels: bug, service/sql

#1504 Fixing the Network Interface Data Source Documentation
  azurerm/data_source_network_interface.go
  website/docs/d/network_interface.html.markdown
Labels: documentation, service/network-interfaces

#1510 resource/application_Gateway: Add minimum_servers to probe resource
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: enhancement, service/application-gateway

#1505 Virtual Network Gateway - fixing a set error
  azurerm/data_source_virtual_network_gateway.go
  azurerm/resource_arm_virtual_network_gateway.go
  website/docs/d/virtual_network_gateway.html.markdown
  website/docs/r/virtual_network_gateway.html.markdown
Labels: bug, service/virtual-network-gateway

#1149 New Resource: Key Vault Access Policy
  azurerm/data_source_key_vault.go
  azurerm/helpers/schema/key_vault_access_policy.go
  azurerm/import_arm_key_vault_access_policy_test.go
  azurerm/provider.go
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_access_policy.go
  azurerm/resource_arm_key_vault_access_policy_test.go
  website/azurerm.erb
  website/docs/r/key_vault.html.markdown
  website/docs/r/key_vault_access_policy.html.markdown
Labels: new-resource, service/keyvault

#1191 scheduler_job: Added storage queue support
  azurerm/resource_arm_scheduler_job.go
  azurerm/resource_arm_scheduler_job_test.go
  examples/scheduler-jobs/main.tf
  examples/scheduler-jobs/outputs.tf
  website/docs/r/scheduler_job.html.markdown
Labels: enhancement, service/scheduler

#1499 New Resource: `azurerm_data_lake_store_firewall_rule`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_data_lake_store_firewall_rule.go
  azurerm/resource_arm_data_lake_store_firewall_rule_test.go
  website/azurerm.erb
  website/docs/r/data_lake_store.html.markdown
  website/docs/r/data_lake_store_firewall_rule.html.markdown
Labels: new-resource, service/data-lake

#1524 azurerm_storage_account: limit tag names to 128 characters
  azurerm/resource_arm_storage_account.go
  azurerm/tags.go
Labels: bug, service/storage

#1533 cosmos db account - fixes for #1525
  azurerm/data_source_cosmos_db_account.go
  azurerm/data_source_cosmos_db_account_test.go
  azurerm/resource_arm_cosmos_db_account.go
Labels: bug, service/cosmos-db

#1532 Fix to not drop MySQL and PostgreSQL DB when storage_mb value is changed
  azurerm/resource_arm_mysql_server.go
  azurerm/resource_arm_mysql_server_test.go
  azurerm/resource_arm_postgresql_server.go
  azurerm/resource_arm_postgresql_server_test.go
  website/docs/r/mysql_server.html.markdown
  website/docs/r/postgresql_server.html.markdown
Labels: bug, service/mysql, service/postgresql

#1535 `azurerm_key_vault_key` - handling the parent Key Vault being deleted
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_certificate_test.go
  azurerm/resource_arm_key_vault_key.go
  azurerm/resource_arm_key_vault_key_test.go
  azurerm/resource_arm_key_vault_secret.go
  azurerm/resource_arm_key_vault_secret_test.go
  azurerm/resource_arm_key_vault_test.go
Labels: enhancement, service/keyvault

#1534 Remove tags validate in preConfig of TestAccAzureRMKeyVault_update
  azurerm/resource_arm_key_vault_test.go
Labels: testing

#1546 Workaround upstream issue in creating azureEndpoints in traffic manager
  azurerm/resource_arm_traffic_manager_endpoint.go
Labels: bug, service/traffic-manager

#1548 Docs: SQL DB should be Creation Date not Creation Data
  website/docs/r/sql_database.html.markdown
Labels: documentation

#1549 VMSS: Updating the code samples to be valid.
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss

#1552 New Data Source: `azurerm_azuread_application`
  azurerm/data_source_azuread_application.go
  azurerm/data_source_azuread_application_test.go
  azurerm/provider.go
  azurerm/resource_arm_azuread_application.go
  website/azurerm.erb
  website/docs/d/azuread_application.html.markdown
Labels: new-data-source, service/authentication

#1563 resouce/app_insights: Allow different application_type deployments
  azurerm/import_arm_application_insights_test.go
  azurerm/resource_arm_application_insights.go
  azurerm/resource_arm_application_insights_test.go
  website/docs/r/application_insights.html.markdown
Labels: bug, service/application-insights

#1565 resource/servicebus_subscription_rule: Fix the correlation_filter opt…
  azurerm/resource_arm_servicebus_subscription_rule.go
Labels: bug, service/servicebus

#1558 VMSS: changed sku property from a set to list
  azurerm/resource_arm_virtual_machine_scale_set.go
Labels: bug, service/vmss

#1568 resource/servicebus_subscription: Allow the setting of default_message_ttl
  azurerm/resource_arm_servicebus_subscription.go
  azurerm/resource_arm_servicebus_subscription_test.go
Labels: bug, service/servicebus

#1574 Allow - in disk snapshot names
  azurerm/resource_arm_snapshot.go
  azurerm/resource_arm_snapshot_test.go
Labels: enhancement, service/disks

#1436 Support in-place update of app service slots
  azurerm/config.go
  azurerm/helpers/schema/app_service.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_active_slot.go
  azurerm/resource_arm_app_service_custom_hostname_binding.go
  azurerm/resource_arm_app_service_plan.go
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  azurerm/resource_arm_function_app.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2016-09-01/web/billingmeters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2016-09-01/web/resourcehealthmetadata.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/apps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/appservicecertificateorders.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/appserviceenvironments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/appserviceplans.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/certificateregistrationprovider.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/certificates.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/deletedwebapps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/diagnostics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/domainregistrationprovider.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/domains.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/provider.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/recommendations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/topleveldomains.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/version.go
  vendor/vendor.json
  website/docs/r/app_service_slot.html.markdown
Labels: enhancement, service/app-service

#1577 resource/app_service: Add support for site_config FtpsState
  azurerm/helpers/schema/app_service.go
  azurerm/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
Labels: enhancement, service/app-service

#1579 resource/app_service_slot: Add support for enabling MSI
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_slot_test.go
  website/docs/r/app_service_slot.html.markdown
Labels: enhancement, service/app-service

#1544 Authentication: Refreshing the Service Principal Token before using it
  azurerm/config.go
Labels: authentication, bug

#1578 resource/app_service: Add support for running Containers
  azurerm/helpers/schema/app_service.go
  azurerm/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
Labels: enhancement, service/app-service

#1529 resource/container_group: add registry credential
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  examples/aci-image-registry-credentials/main.tf
  website/docs/r/container_group.html.markdown
Labels: enhancement, service/container-service

#1515 Function app consumption plan bug
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_function_app_test.go
Labels: bug, service/functions

#1266 New Resource: `azurerm_logic_app_workflow`
  azurerm/config.go
  azurerm/data_source_logic_app_workflow.go
  azurerm/data_source_logic_app_workflow_test.go
  azurerm/import_arm_logic_app_action_custom_test.go
  azurerm/import_arm_logic_app_action_http_test.go
  azurerm/import_arm_logic_app_trigger_custom_test.go
  azurerm/import_arm_logic_app_trigger_http_request_test.go
  azurerm/import_arm_logic_app_trigger_recurrence_test.go
  azurerm/import_arm_logic_app_workflow_test.go
  azurerm/logic_apps.go
  azurerm/logic_apps_test.go
  azurerm/provider.go
  azurerm/resource_arm_logic_app_action_custom.go
  azurerm/resource_arm_logic_app_action_custom_test.go
  azurerm/resource_arm_logic_app_action_http.go
  azurerm/resource_arm_logic_app_action_http_test.go
  azurerm/resource_arm_logic_app_trigger_custom.go
  azurerm/resource_arm_logic_app_trigger_custom_test.go
  azurerm/resource_arm_logic_app_trigger_http_request.go
  azurerm/resource_arm_logic_app_trigger_http_request_test.go
  azurerm/resource_arm_logic_app_trigger_recurrence.go
  azurerm/resource_arm_logic_app_trigger_recurrence_test.go
  azurerm/resource_arm_logic_app_workflow.go
  azurerm/resource_arm_logic_app_workflow_test.go
  examples/logic-app/README.md
  examples/logic-app/main.tf
  examples/logic-app/variables.tf
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/agreements.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/certificates.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/integrationaccountassemblies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/integrationaccountbatchconfigurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/integrationaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/maps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/partners.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/schemas.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/sessions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/workflowrunactionrepetitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/workflowrunactions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/workflowrunactionscopedrepetitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/workflowrunoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/workflowruns.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/workflows.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/workflowtriggerhistories.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/workflowtriggers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2016-06-01/logic/workflowversions.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/d/logic_app_workflow.html.markdown
  website/docs/r/logic_app_action_custom.html.markdown
  website/docs/r/logic_app_action_http.html.markdown
  website/docs/r/logic_app_trigger_custom.html.markdown
  website/docs/r/logic_app_trigger_http_request.html.markdown
  website/docs/r/logic_app_trigger_recurrence.html.markdown
  website/docs/r/logic_app_workflow.html.markdown
Labels: new-resource, service/logic

#1588 Load Balancer: making the `subnet_id` a nilable field
  azurerm/resource_arm_loadbalancer.go
Labels: bug, service/load-balancers

#1587 Limit number of application security groups in a rule to 1
  azurerm/resource_arm_network_security_rule.go
Labels: enhancement, service/network-security

#1564 Azure Active Directory Service Principals
  azurerm/data_source_azuread_application.go
  azurerm/data_source_azuread_application_test.go
  azurerm/data_source_azuread_service_principal.go
  azurerm/data_source_azuread_service_principal_test.go
  azurerm/helpers/validate/uuid.go
  azurerm/helpers/validate/uuid_test.go
  azurerm/import_arm_azuread_service_principal_test.go
  azurerm/provider.go
  azurerm/resource_arm_azuread_service_principal.go
  azurerm/resource_arm_azuread_service_principal_password.go
  azurerm/resource_arm_azuread_service_principal_password_test.go
  azurerm/resource_arm_azuread_service_principal_test.go
  website/azurerm.erb
  website/docs/d/azuread_application.html.markdown
  website/docs/d/azuread_service_principal.html.markdown
  website/docs/r/azuread_application.html.markdown
  website/docs/r/azuread_service_principal.html.markdown
  website/docs/r/azuread_service_principal_password.html.markdown
Labels: new-data-source, new-resource, service/authentication

#1613 Additional checks for network_rules during read
  azurerm/resource_arm_storage_account.go
Labels: bug, service/storage

#1140 New Resource: Autoscale Settings
  azurerm/config.go
  azurerm/import_arm_autoscale_setting_test.go
  azurerm/provider.go
  azurerm/resource_arm_autoscale_setting.go
  azurerm/resource_arm_autoscale_setting_test.go
  azurerm/resource_arm_metric_alertrule.go
  azurerm/utils/utils.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/actiongroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/activitylogalerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/activitylogs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/alertruleincidents.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/alertrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/autoscalesettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/diagnosticsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/diagnosticsettingscategory.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/eventcategories.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/logprofiles.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/metricalerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/metricalertsstatus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/metricbaseline.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/metricdefinitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/metrics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/scheduledqueryrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/tenantactivitylogs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/version.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/autoscale_setting.html.markdown
  website/docs/r/metric_alertrule.html.markdown
Labels: new-resource, service/monitor

#1601 App Service/App Service Slots - adding support for min TLS version
  azurerm/data_source_app_service_test.go
  azurerm/helpers/schema/app_service.go
  azurerm/import_arm_app_service_slot_test.go
  azurerm/import_arm_app_service_test.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: enhancement, service/app-service

#1621 Data Lake Store File
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_data_lake_store_file.go
  azurerm/resource_arm_data_lake_store_file_test.go
  azurerm/validators.go
  azurerm/validators_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/2016-11-01/filesystem/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/2016-11-01/filesystem/filesystem.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/2016-11-01/filesystem/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/2016-11-01/filesystem/version.go
  vendor/vendor.json
  website/docs/r/data_lake_store_file.html.markdown
Labels: new-resource, service/data-lake

#1632 Fix markdown in service principal data source docs
  website/docs/d/azuread_service_principal.html.markdown
Labels: documentation, service/authentication

#1636 r/application_gateway: clarify default value of require_sni in an http_listener
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway

#1640 azurerm_servicebus_topic name now allows the ~ character
  azurerm/helpers/azure/servicebus.go
  azurerm/resource_arm_servicebus_topic.go
  examples/servicebus/main.tf
Labels: bug, service/servicebus

#1642 New Data Source: `azurerm_container_registry`
  azurerm/data_source_arm_container_registry.go
  azurerm/data_source_arm_container_registry_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/container_registry.markdown
Labels: new-data-source, service/container-registry

#1479 AKS: NetworkProfile / Advanced Networking
  azurerm/data_source_kubernetes_cluster.go
  azurerm/data_source_kubernetes_cluster_test.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  examples/kubernetes-cluster-with-advanced-networking/main.tf
  examples/kubernetes-cluster-with-advanced-networking/outputs.tf
  examples/kubernetes-cluster-with-advanced-networking/variables.tf
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, service/kubernetes-cluster

#1649 Aks node resource group
  azurerm/data_source_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, service/kubernetes-cluster

#1650 Storage Share Quota and Import Support
  azurerm/resource_arm_storage_share.go
  azurerm/resource_arm_storage_share_migration.go
  azurerm/resource_arm_storage_share_migration_test.go
  azurerm/resource_arm_storage_share_test.go
  website/docs/r/storage_share.html.markdown
Labels: enhancement, service/storage

#1654 Data Sources: removing import
  azurerm/data_source_app_service_plan.go
  azurerm/data_source_application_security_group.go
  azurerm/data_source_azuread_application.go
  azurerm/data_source_azuread_service_principal.go
  azurerm/data_source_cosmos_db_account.go
  azurerm/data_source_logic_app_workflow.go
  azurerm/data_source_network_interface.go
  azurerm/data_source_recovery_services_vault.go
  azurerm/data_source_scheduler_job_collection.go
Labels: bug

#1659 Import Support for Container Groups
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  website/docs/r/container_group.html.markdown
Labels: enhancement, service/container-group

#1657 `azurerm_virtual_machine_extension` - docs update
  website/docs/r/virtual_machine_extension.html.markdown
Labels: documentation, service/virtual-machine-extensions

#1646 Setting the connection information for a Virtual Machine
  azurerm/resource_arm_virtual_machine.go
Labels: enhancement, service/virtual-machine

#1666 updated test and example vm size from Standard_A0 -> Standard_F2
  azurerm/resource_arm_container_service_test.go
  azurerm/resource_arm_snapshot_test.go
  azurerm/resource_arm_virtual_machine_extension_test.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
  examples/encrypt-running-linux-vm/variables.tf
  examples/freebsd-jumpbox/variables.tf
  examples/vm-simple-linux-managed-disk/variables.tf
  website/docs/r/container_service.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, enhancement

#1673 documentation: create -> manages
  website/docs/d/storage_account_sas.html.markdown
  website/docs/r/app_service_plan.html.markdown
  website/docs/r/application_insights.html.markdown
  website/docs/r/application_security_group.html.markdown
  website/docs/r/cdn_profile.html.markdown
  website/docs/r/dns_a_record.html.markdown
  website/docs/r/dns_aaaa_record.html.markdown
  website/docs/r/dns_cname_record.html.markdown
  website/docs/r/dns_ns_record.html.markdown
  website/docs/r/dns_ptr_record.html.markdown
  website/docs/r/dns_txt_record.html.markdown
  website/docs/r/dns_zone.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
  website/docs/r/image.html.markdown
  website/docs/r/loadbalancer.html.markdown
  website/docs/r/loadbalancer_backend_address_pool.html.markdown
  website/docs/r/loadbalancer_nat_pool.html.markdown
  website/docs/r/loadbalancer_nat_rule.html.markdown
  website/docs/r/loadbalancer_probe.html.markdown
  website/docs/r/loadbalancer_rule.html.markdown
  website/docs/r/managed_disk.html.markdown
  website/docs/r/postgresql_server.html.markdown
  website/docs/r/public_ip.html.markdown
  website/docs/r/recovery_services_vault.markdown
  website/docs/r/servicebus_namespace.html.markdown
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_subscription.html.markdown
  website/docs/r/servicebus_subscription_rule.html.markdown
  website/docs/r/servicebus_topic.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_elasticpool.html.markdown
  website/docs/r/sql_firewall_rule.html.markdown
  website/docs/r/sql_virtual_network_rule.html.markdown
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_blob.html.markdown
  website/docs/r/storage_container.html.markdown
  website/docs/r/storage_queue.html.markdown
  website/docs/r/storage_share.html.markdown
  website/docs/r/storage_table.html.markdown
  website/docs/r/template_deployment.html.markdown
  website/docs/r/virtual_machine.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation

#4 New Resource: `azurerm_service_fabric_cluster`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_service_fabric_cluster.go
  azurerm/resource_arm_service_fabric_cluster_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicefabric/mgmt/2018-02-01/servicefabric/applications.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicefabric/mgmt/2018-02-01/servicefabric/applicationtypes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicefabric/mgmt/2018-02-01/servicefabric/applicationtypeversions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicefabric/mgmt/2018-02-01/servicefabric/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicefabric/mgmt/2018-02-01/servicefabric/clusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicefabric/mgmt/2018-02-01/servicefabric/clusterversions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicefabric/mgmt/2018-02-01/servicefabric/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicefabric/mgmt/2018-02-01/servicefabric/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicefabric/mgmt/2018-02-01/servicefabric/services.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicefabric/mgmt/2018-02-01/servicefabric/version.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/service_fabric_cluster.html.markdown
Labels: new-resource, service/service-fabric

#1647 Adding retry functionality to role assignment
  azurerm/resource_arm_role_assignment.go
Labels: bug, service/authentication

#1674 Minor documentation edits
  website/docs/r/data_lake_store.html.markdown
  website/docs/r/scheduler_job.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation

#1688 Typo on redis_configuration snippet
  website/docs/r/redis_cache.html.markdown
Labels: documentation, service/redis
