Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2018-02, with the labels that each got.

#693 New Resource: azurerm_kubernetes_cluster
  azurerm/config.go
  azurerm/import_arm_kubernetes_cluster_test.go
  azurerm/provider.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: new-resource, service/container-service

#775 `azurerm_role_assignment` - add `role_definition_name`
  azurerm/resource_arm_role_assignment.go
  azurerm/resource_arm_role_assignment_test.go
  website/docs/r/role_assignment.html.markdown
Labels: authentication, enhancement

#818 New Resources: `azurerm_app_service_slot` & `azurerm_app_service_active_slot`
  azurerm/import_arm_app_service_slot_test.go
  azurerm/provider.go
  azurerm/resource_arm_app_service_active_slot.go
  azurerm/resource_arm_app_service_active_slot_test.go
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_slot_test.go
  website/azurerm.erb
  website/docs/r/app_service_active_slot.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: new-resource, service/app-service

#829 App Service: adding a disclaimer about a perpetual diff with Slots
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_active_slot.html.markdown
  website/docs/r/app_service_plan.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, service/app-service

#830 Upgrading to `v12.5.0-beta` of the Azure SDK for Go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2015-05-01/insights/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/authorization/mgmt/2015-07-01/authorization/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/automation/mgmt/2015-10-31/automation/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2017-04-02/cdn/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2017-12-01/compute/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2017-08-01-preview/containerinstance/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2017-10-01/containerregistry/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2017-09-30/containerservice/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cosmos-db/mgmt/2015-04-08/documentdb/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2016-04-01/dns/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/eventgrid/mgmt/2017-09-15-preview/eventgrid/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/eventhub/mgmt/2017-04-01/eventhub/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/2016-10-01/keyvault/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2016-10-01/keyvault/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2017-05-01-preview/insights/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2017-04-30-preview/mysql/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2017-09-01/network/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/operationalinsights/mgmt/2015-11-01-preview/operationalinsights/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-04-30-preview/postgresql/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2016-04-01/redis/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-06-01/subscriptions/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/scheduler/mgmt/2016-03-01/scheduler/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2015-08-19/search/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicebus/mgmt/2017-04-01/servicebus/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/sql/mgmt/2015-05-01-preview/sql/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2017-06-01/storage/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/trafficmanager/mgmt/2017-05-01/trafficmanager/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2016-09-01/web/version.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/version.go
  vendor/vendor.json
Labels: dependencies

#813 Fix reprovisioning of VM when we attach and detach data disk.
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_managed_disks_test.go
Labels: enhancement, service/virtual-machine

#842 Pulling the Environment from the Azure CLI config
  azurerm/helpers/authentication/config.go
  azurerm/helpers/authentication/config_test.go
Labels: authentication, bug

#827 `azurerm_container_group` - adding `restart_policy`
  azurerm/config.go
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-02-01-preview/containerinstance/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-02-01-preview/containerinstance/containergroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-02-01-preview/containerinstance/containergroupusage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-02-01-preview/containerinstance/containerlogs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-02-01-preview/containerinstance/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-02-01-preview/containerinstance/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-02-01-preview/containerinstance/version.go
  vendor/vendor.json
  website/docs/r/container_group.html.markdown
Labels: enhancement, service/container-instance

#845 App Service Slot: removing a computed field
  azurerm/resource_arm_app_service_slot.go
Labels: service/app-service, technical-debt

#846 Retry to create storage container.
  azurerm/resource_arm_storage_container.go
Labels: enhancement, service/storage

#849 d/App Service Plan: handling a 404 not being returned as an error
  azurerm/data_source_app_service_plan.go
Labels: bug, service/app-service

#848 `azurerm_application_gateway` - removing crash points
  azurerm/resource_arm_application_gateway.go
Labels: bug, service/application-gateway

#852 Network Interface: documenting a known issue in accelerated networking
  website/docs/r/network_interface.html.markdown
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, service/network-interfaces

#850 App Service Plan: support for attaching to an App Service Environment
  azurerm/data_source_app_service_plan.go
  azurerm/resource_arm_app_service_plan.go
  website/docs/d/app_service_plan.html.markdown
  website/docs/r/app_service_plan.html.markdown
Labels: enhancement, service/app-service

#855 Fix `start_ip_address` documentation
  website/docs/r/mysql_firewall_rule.html.markdown
Labels: documentation

#859 Adding AKS to the sidebar
  website/azurerm.erb
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation

#851 `azurerm_storage_account`: adding support for `account_kind` being `StorageV2`
  azurerm/config.go
  azurerm/data_source_storage_account.go
  azurerm/resource_arm_container_registry_migrate.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_account_migration.go
  azurerm/resource_arm_storage_account_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2017-06-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2017-10-01/storage/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2017-10-01/storage/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2017-10-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2017-10-01/storage/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2017-10-01/storage/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2017-10-01/storage/usage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2017-10-01/storage/version.go
  vendor/vendor.json
Labels: enhancement, service/storage

#866 Change network_interface ip_config subnet_id to be case insensitive
  azurerm/resource_arm_network_interface.go
Labels: enhancement, service/network-interfaces

#862 Fixed AKS provider docs
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/container-service

#867 AKS: Removing the `storage_profile` field from the docs
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/container-service

#877 Added dns_name_label and FQDN properties to container group resource.
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  examples/aci-linux-multi/main.tf
  examples/aci-linux-multi/outputs.tf
  examples/aci-linux-multi/variables.tf
  examples/aci-linux-volume-mount/main.tf
  examples/aci-linux-volume-mount/outputs.tf
  examples/aci-linux-volume-mount/variables.tf
  website/docs/r/container_group.html.markdown
Labels: enhancement, service/container-instance

#861 Add forward_to property to servicebus subscription resource
  azurerm/resource_arm_servicebus_subscription.go
  azurerm/resource_arm_servicebus_subscription_test.go
  examples/servicebus-create-topic-and-subscription/README.md
  examples/servicebus-create-topic-and-subscription/deploy.ci.sh
  examples/servicebus-create-topic-and-subscription/deploy.mac.sh
  examples/servicebus-create-topic-and-subscription/graph.png
  examples/servicebus-create-topic-and-subscription/main.tf
  examples/servicebus-create-topic-and-subscription/variables.tf
  website/docs/r/servicebus_subscription.html.markdown
Labels: enhancement, service/servicebus

#868 Add an example using FreeBSD as a jumpbox with SSH keys.
  examples/freebsd-jumpbox/README.md
  examples/freebsd-jumpbox/deploy.ci.sh
  examples/freebsd-jumpbox/deploy.mac.sh
  examples/freebsd-jumpbox/graph.png
  examples/freebsd-jumpbox/main.tf
  examples/freebsd-jumpbox/outputs.tf
  examples/freebsd-jumpbox/variables.tf
Labels: documentation

#878 Fixing the highlighting on various docs/fields
  website/azurerm.erb
  website/docs/r/loadbalancer.html.markdown
  website/docs/r/virtual_network_gateway.html.markdown
  website/docs/r/virtual_network_gateway_connection.html.markdown
Labels: documentation

#885 App Service Active Slot: Fixing a broken example
  website/docs/r/app_service_active_slot.html.markdown
Labels: documentation

#889 Updated virtual_machine_scale_set computer_name_prefix
  azurerm/resource_arm_virtual_machine_scale_set.go
  examples/vmss-ubuntu/README.md
  examples/vmss-ubuntu/deploy.ci.sh
  examples/vmss-ubuntu/deploy.mac.sh
  examples/vmss-ubuntu/graph.png
  examples/vmss-ubuntu/main.tf
  examples/vmss-ubuntu/outputs.tf
  examples/vmss-ubuntu/variables.tf
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: bug, documentation, service/virtual-machine-scale-sets

#883 docs: clarify application gateway docs and cleanup
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway

#736 ServiceBus Topic Authorization Rules
  azurerm/import_arm_servicebus_topic_authorization_rule_test.go
  azurerm/provider.go
  azurerm/resource_arm_servicebus_topic_authorization_rule.go
  azurerm/resource_arm_servicebus_topic_authorization_rule_test.go
  website/azurerm.erb
  website/docs/r/servicebus_topic_authorization_rule.html.markdown
Labels: new-resource, service/servicebus

#900 `azurerm_virtual_machine_extension` - adding disclaimers about case sensitivity
  website/docs/r/virtual_machine_extension.html.markdown
Labels: documentation, service/virtual-machine-extensions

#897 Added documentation block for creating VMs with custom images
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, service/virtual-machine

#904 Changed admin_username and key_data to require a new resource.
  azurerm/resource_arm_kubernetes_cluster.go
  examples/aci-linux-multi/main.tf
  examples/kubernetes-cluster/main.tf
  examples/kubernetes-cluster/outputs.tf
  examples/kubernetes-cluster/variables.tf
  website/docs/r/kubernetes_cluster.html.markdown
Labels: bug, service/kubernetes-cluster

#909 Update AKS location
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation

#737 Examples: vm-from-managed-image
  examples/vm-from-managed-image/README.md
  examples/vm-from-managed-image/main.tf
  examples/vm-from-managed-image/variables.tf
Labels: documentation

#910 Examples: making the golden image example more consistent
  examples/vm-from-managed-image/README.md
  examples/vm-from-managed-image/main.tf
  examples/vm-from-managed-image/variables.tf
Labels: documentation, enhancement

#905 New Resource: `azurerm_application_security_group`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_application_security_group.go
  azurerm/resource_arm_application_security_group_test.go
  website/azurerm.erb
  website/docs/r/application_security_group.html.markdown
Labels: new-resource, service/application-security-groups
