Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2018-09, with the labels that each got.

#1856 Data Lake Store File: updating the ID
  azurerm/resource_arm_data_lake_store.go
  azurerm/resource_arm_data_lake_store_file.go
  azurerm/resource_arm_data_lake_store_file_migration.go
  azurerm/resource_arm_data_lake_store_file_migration_test.go
  azurerm/resource_arm_data_lake_store_file_test.go
  website/docs/r/data_lake_store.html.markdown
  website/docs/r/data_lake_store_file.html.markdown
Labels: enhancement, service/data-lake, size/L

#1774 New Resource: `azurerm_postgresql_virtual_network_rule`
  azurerm/config.go
  azurerm/import_arm_postgresql_virtual_network_rule_test.go
  azurerm/provider.go
  azurerm/resource_arm_postgresql_virtual_network_rule.go
  azurerm/resource_arm_postgresql_virtual_network_rule_test.go
  website/azurerm.erb
  website/docs/r/postgresql_virtual_network_rule.html.markdown
Labels: new-resource, service/postgresql, size/XXL

#1866 website: Add Upcoming Community Events sidebar section with Community Gardening - Fall 2018 link
  website/azurerm.erb
Labels: documentation, size/XS

#1870 Docs: Adding User Assigned Identity to the sidebar
  website/azurerm.erb
  website/docs/r/user_assigned_identity.markdown
Labels: documentation, size/XS

#1788 New Resource: `azurerm_management_group`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_management_group.go
  azurerm/resource_arm_management_group_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2018-03-01-preview/management/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2018-03-01-preview/management/entities.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2018-03-01-preview/management/managementgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2018-03-01-preview/management/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2018-03-01-preview/management/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2018-03-01-preview/management/subscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2018-03-01-preview/management/version.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/management_group.html.markdown
Labels: new-resource, service/authentication, size/XXL

#1877 New Data Source: `azurerm_management_group`
  azurerm/data_source_management_group.go
  azurerm/data_source_management_group_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/management_group.html.markdown
  website/docs/r/management_group.html.markdown
Labels: new-data-source, service/policy, size/L

#1878 `azurerm_application_insights` - support for the MobileCenter kind
  azurerm/resource_arm_application_insights.go
  azurerm/resource_arm_application_insights_test.go
  website/docs/r/application_insights.html.markdown
Labels: enhancement, service/application-insights, size/S

#1882 Refactoring the PostgreSQL Virtual Network Rule
  azurerm/helpers/validate/virtual_network_rule_name.go
  azurerm/helpers/validate/virtual_network_rule_name_test.go
  azurerm/resource_arm_postgresql_virtual_network_rule.go
  azurerm/resource_arm_postgresql_virtual_network_rule_test.go
  website/docs/r/postgresql_virtual_network_rule.html.markdown
Labels: enhancement, service/postgresql, size/XL

#1884 AzureStack: backport VMSS pr comments
  azurerm/resource_arm_virtual_machine_scale_set.go
Labels: service/vmss, size/M, technical-debt

#1886 docs: Policy Assignment: documenting the Scope is a Resource ID
  website/docs/r/policy_assignment.html.markdown
Labels: documentation, size/XS

#1885 doc updates: create -> manage
  website/docs/r/app_service_plan.html.markdown
  website/docs/r/application_insights.html.markdown
  website/docs/r/application_security_group.html.markdown
  website/docs/r/cdn_profile.html.markdown
  website/docs/r/container_group.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
  website/docs/r/image.html.markdown
  website/docs/r/loadbalancer.html.markdown
  website/docs/r/loadbalancer_backend_address_pool.html.markdown
  website/docs/r/managed_disk.html.markdown
  website/docs/r/postgresql_server.html.markdown
  website/docs/r/public_ip.html.markdown
  website/docs/r/recovery_services_vault.markdown
  website/docs/r/servicebus_namespace.html.markdown
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_subscription.html.markdown
  website/docs/r/servicebus_subscription_rule.html.markdown
  website/docs/r/servicebus_topic.html.markdown
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_blob.html.markdown
  website/docs/r/storage_container.html.markdown
  website/docs/r/storage_queue.html.markdown
  website/docs/r/storage_share.html.markdown
  website/docs/r/storage_table.html.markdown
  website/docs/r/template_deployment.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, size/M

#1887 Role Assignment/Definition: parsing the Resource ID's
  azurerm/resource_arm_role_assignment.go
  azurerm/resource_arm_role_definition.go
Labels: bug, service/authentication, size/M

#1892 AzureStack: public IP and subnet datasource PR comments
  azurerm/data_source_public_ip.go
  azurerm/data_source_subnet.go
  website/docs/d/public_ip.html.markdown
Labels: service/public-ip, service/subnets, size/M, technical-debt

#1889 AzureStack: Merged import tests into the regular tests (VMSS, LoadBalancer, Route, RouteTable)
  azurerm/import_arm_loadbalancer_backend_address_pool_test.go
  azurerm/import_arm_loadbalancer_nat_pool_test.go
  azurerm/import_arm_loadbalancer_nat_rule_test.go
  azurerm/import_arm_loadbalancer_probe_test.go
  azurerm/import_arm_loadbalancer_rule_test.go
  azurerm/import_arm_loadbalancer_test.go
  azurerm/import_arm_route_table_test.go
  azurerm/import_arm_route_test.go
  azurerm/import_arm_virtual_machine_scale_set_test.go
  azurerm/resource_arm_loadbalancer_backend_address_pool_test.go
  azurerm/resource_arm_loadbalancer_nat_pool_test.go
  azurerm/resource_arm_loadbalancer_nat_rule_test.go
  azurerm/resource_arm_loadbalancer_probe_test.go
  azurerm/resource_arm_loadbalancer_rule_test.go
  azurerm/resource_arm_loadbalancer_test.go
  azurerm/resource_arm_route_table_test.go
  azurerm/resource_arm_route_test.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
Labels: service/load-balancers, service/route-tables, service/vmss, size/XL, technical-debt

#1696 Automation Runbook: support for setting custom content
  azurerm/config.go
  azurerm/resource_arm_automation_runbook.go
  azurerm/resource_arm_automation_runbook_test.go
  azurerm/resource_arm_key_vault.go
  website/docs/r/automation_runbook.html.markdown
Labels: enhancement, service/automation, size/L

#1862 Use filter for azuread_service_principal and azuread_application data sources
  azurerm/data_source_azuread_application.go
  azurerm/data_source_azuread_service_principal.go
Labels: enhancement, service/authentication, size/M

#1891 AzureStack: virtual network gateway PR comments
  azurerm/data_source_virtual_network_gateway.go
  azurerm/import_arm_virtual_network_gateway_test.go
  azurerm/resource_arm_virtual_network_gateway.go
  azurerm/resource_arm_virtual_network_gateway_test.go
  website/docs/r/virtual_network_gateway.html.markdown
Labels: service/virtual-network-gateway, size/L, technical-debt

#1900 subnet data source: small fix to error handling
  azurerm/data_source_subnet.go
Labels: bug, service/subnets, size/XS

#1896 App Service: Virtual Network Integration
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: enhancement, service/app-service, size/L

#1628 azurerm_sql_database - Add sql threat detection policy configuration
  azurerm/config.go
  azurerm/resource_arm_sql_database.go
  azurerm/resource_arm_sql_database_test.go
  website/docs/r/sql_database.html.markdown
Labels: enhancement, service/sql, size/L

#1904 azurerm_key_vault_certificate return thumbprint as hex
  azurerm/resource_arm_key_vault_certificate.go
  website/docs/r/key_vault_certificate.html.markdown
Labels: enhancement, service/keyvault, size/S, waiting-response

#1912 VM Contributor build-in permissions actions count increase.
  azurerm/data_source_builtin_role_definition_test.go
Labels: size/XS

#1910 Add .go-version into .gitignore file.
  .gitignore
Labels: enhancement, size/XS

#1916 Update start_ip_address documentation
  website/docs/r/postgresql_firewall_rule.html.markdown
Labels: documentation, service/postgresql, size/XS

#1879 New Resource: `azurerm_mysql_virtual_network_rule`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_mysql_virtual_network_rule.go
  azurerm/resource_arm_mysql_virtual_network_rule_test.go
  website/azurerm.erb
  website/docs/r/mysql_virtual_network_rule.html.markdown
  website/docs/r/postgresql_virtual_network_rule.html.markdown
Labels: new-resource, service/mysql, size/XL

#1901 VM/VMSS: support for `StandardSSD_LRS` managed disk type
  azurerm/resource_arm_managed_disk.go
  azurerm/resource_arm_managed_disk_test.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_managed_disks_test.go
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
  website/docs/r/virtual_machine.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: enhancement, service/disks, service/virtual-machine, service/vmss, size/L

#1899 AzureStack: backport virtual network gateway connection PR comments
  azurerm/import_arm_virtual_network_gateway_connection_test.go
  azurerm/resource_arm_virtual_machine_extension.go
  azurerm/resource_arm_virtual_network_gateway_connection.go
  azurerm/resource_arm_virtual_network_gateway_connection_test.go
  website/docs/r/virtual_network_gateway_connection.html.markdown
Labels: service/virtual-network-gateway, size/L, technical-debt

#1908 ServiceBus Namespace: polling for the deletion
  azurerm/resource_arm_servicebus_namespace.go
  azurerm/resource_arm_servicebus_namespace_test.go
Labels: bug, service/servicebus, size/M

#1922 Update application_gateway.html.markdown
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#1921 Update TimeSpan documentation in Service Bus Queue/Topic
  azurerm/resource_arm_servicebus_queue.go
  azurerm/resource_arm_servicebus_queue_test.go
  azurerm/resource_arm_servicebus_topic.go
  azurerm/resource_arm_servicebus_topic_test.go
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_topic.html.markdown
Labels: enhancement, service/servicebus, size/L

#1918 Update resource_arm_logic_app_trigger_http_request.go
  azurerm/resource_arm_logic_app_trigger_http_request.go
  azurerm/resource_arm_logic_app_trigger_http_request_test.go
Labels: bug, service/logic, size/XS

#1627 New Resources: `azurerm_firewall` & `azurerm_firewall_network_rule_collection`
  azurerm/config.go
  azurerm/helpers/azure/firewall.go
  azurerm/provider.go
  azurerm/resource_arm_firewall.go
  azurerm/resource_arm_firewall_network_rule_collection.go
  azurerm/resource_arm_firewall_network_rule_collection_test.go
  azurerm/resource_arm_firewall_test.go
  website/azurerm.erb
  website/docs/r/firewall.html.markdown
  website/docs/r/firewall_network_rule_collection.html.markdown
Labels: new-resource, service/firewall, size/XXL

#1925 azurestack_public_ip: correct import & read idle_timeout_in_minutes
  azurerm/import_arm_public_ip_test.go
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_public_ip_test.go
Labels: bug, service/public-ip, size/L

#1939 allow up-to-two client certs
  azurerm/resource_arm_service_fabric_cluster.go
  azurerm/resource_arm_service_fabric_cluster_test.go
  website/docs/r/service_fabric_cluster.html.markdown
Labels: enhancement, service/service-fabric, size/M, waiting-response

#1952 typos in description
  examples/datalake/variables.tf
Labels: documentation, size/XS

#1951 azurerm_lb_rule: allow 0 for ports again
  azurerm/helpers/validate/network.go
  azurerm/helpers/validate/network_test.go
  azurerm/resource_arm_loadbalancer_rule.go
  website/docs/r/loadbalancer_rule.html.markdown
Labels: bug, service/load-balancers, size/M

#1947 Virtual Machine: Handling `disk.ManagedDisk.ID` being nil
  azurerm/resource_arm_image.go
  azurerm/resource_arm_virtual_machine.go
Labels: bug, service/virtual-machine, size/S

#1950 Support for Data Disk Attachments on VM's with VM Extensions installed
  azurerm/resource_arm_virtual_machine_data_disk_attachment.go
  azurerm/resource_arm_virtual_machine_data_disk_attachment_test.go
Labels: bug, service/disks, service/virtual-machine, size/L

#1944 New Resources: `azurerm_dev_test_lab` / `azurerm_dev_test_virtual_network`
  azurerm/config.go
  azurerm/data_source_dev_test_lab.go
  azurerm/data_source_dev_test_lab_test.go
  azurerm/helpers/azure/devtest.go
  azurerm/helpers/azure/devtest_test.go
  azurerm/provider.go
  azurerm/resource_arm_dev_test_lab.go
  azurerm/resource_arm_dev_test_lab_test.go
  azurerm/resource_arm_dev_test_virtual_network.go
  azurerm/resource_arm_dev_test_virtual_network_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/armtemplates.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/artifacts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/artifactsources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/costs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/customimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/disks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/environments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/formulas.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/galleryimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/globalschedules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/labs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/notificationchannels.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/policies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/policysets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/provideroperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/schedules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/secrets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/servicerunners.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/users.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/virtualmachines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/virtualmachineschedules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/devtestlabs/mgmt/2016-05-15/dtl/virtualnetworks.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/d/dev_test_lab.html.markdown
  website/docs/r/dev_test_lab.html.markdown
  website/docs/r/dev_test_virtual_network.html.markdown
Labels: new-resource, service/devtestlabs, size/XXL

#1934 Check if error is retryable before returning that it is
  azurerm/resource_arm_role_assignment.go
  azurerm/utils/response.go
  azurerm/utils/response_test.go
Labels: bug, size/M

#1961 Add support for vnet rules to CosmosDB accounts.
  azurerm/data_source_cosmos_db_account.go
  azurerm/data_source_cosmos_db_account_test.go
  azurerm/resource_arm_cosmos_db_account.go
  azurerm/resource_arm_cosmos_db_account_test.go
  website/docs/d/cosmosdb_account.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
Labels: enhancement, service/cosmos-db, size/L

#1960 azurerm_azuread_application urls are now required to be https
  azurerm/helpers/validate/url.go
  azurerm/helpers/validate/url_test.go
  azurerm/import_arm_azuread_application_test.go
  azurerm/resource_arm_azuread_application.go
  azurerm/resource_arm_azuread_application_test.go
  website/docs/r/azuread_application.html.markdown
Labels: bug, service/authentication, size/L

#1926 App Service Plan: refactoring / handling errors in flatten functions
  azurerm/data_source_app_service_plan.go
  azurerm/resource_arm_app_service_plan.go
Labels: enhancement, service/app-service, size/M

#1945 `azurerm_service_fabric_cluster` - support for specifying the cluster code version
  azurerm/resource_arm_service_fabric_cluster.go
  azurerm/resource_arm_service_fabric_cluster_test.go
  website/docs/r/service_fabric_cluster.html.markdown
Labels: enhancement, service/service-fabric, size/M

#1818 Example code: vm-with-two-nics
  examples/vm-two-nics/README.MD
  examples/vm-two-nics/main.tf
  examples/vm-two-nics/variables.tf
Labels: documentation, size/L

#1970 App Service Custom Hostname Binding: support for multiple bindings
  azurerm/import_arm_app_service_hostname_binding_test.go
  azurerm/resource_arm_app_service_custom_hostname_binding.go
  azurerm/resource_arm_app_service_custom_hostname_binding_test.go
Labels: bug, service/app-service, size/M

#1971 Role Definition: support for Data Actions
  azurerm/resource_arm_role_definition.go
  azurerm/resource_arm_role_definition_test.go
  website/docs/r/role_definition.html.markdown
Labels: enhancement, service/authentication, size/S

#1985 Removing the Client ID since it breaks networking api's
  azurerm/config.go
Labels: bug, size/XS

#1913 Expose ID of an embedded subnet defined in azurerm_virtual_network
  azurerm/resource_arm_virtual_network.go
  azurerm/resource_arm_virtual_network_test.go
  website/docs/r/virtual_network.html.markdown
Labels: enhancement, service/subnets, size/S

#1997 Update iothub.html.markdown
  website/docs/r/iothub.html.markdown
Labels: documentation, service/iothub, size/XS

#1998 Storage Container
  website/docs/r/iothub.html.markdown
Labels: documentation, service/iothub, size/XS

#1996 Upgrading to v21.0.0 of github.com/Azure/azure-sdk-for-go
  azurerm/data_source_snapshot.go
  azurerm/resource_arm_managed_disk.go
  azurerm/resource_arm_snapshot.go
  azurerm/resource_arm_virtual_machine_data_disk_attachment.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2018-06-01/compute/disks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2018-06-01/compute/galleries.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2018-06-01/compute/galleryimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2018-06-01/compute/galleryimageversions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2018-06-01/compute/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2018-06-01/compute/snapshots.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/managedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/graphrbac/1.6/graphrbac/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/roleassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2018-03-01/insights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2018-03-01-preview/management/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2015-05-01-preview/sql/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-06-01/subscriptions/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-06-01/subscriptions/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/authorizationoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/scheduler/mgmt/2016-03-01/scheduler/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicebus/mgmt/2017-04-01/servicebus/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/apps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/models.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/vendor.json
Labels: dependencies, size/XXL
