Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2018-12, with the labels that each got.

#2425 docs: Removed cdn_endpoint part of docs saying about unexisting feaure (custom domains)
  website/docs/r/cdn_endpoint.html.markdown
Labels: documentation, service/cdn, size/XS

#2399 azurerm_databricks_workspace fix for #2214
  azurerm/resource_arm_databricks_workspace.go
  azurerm/resource_arm_databricks_workspace_test.go
  website/docs/r/databricks_workspace.html.markdown
Labels: enhancement, service/databricks, size/M

#2430 New DataSource: `azurerm_monitor_action_group`
  azurerm/data_source_monitor_action_group.go
  azurerm/data_source_monitor_action_group_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/monitor_action_group.html.markdown
Labels: new-data-source, service/monitor, size/XL

#2406 New Resource: MariaDB
  CHANGELOG.md
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_mariadb_server.go
  azurerm/resource_arm_mariadb_server_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/checknameavailability.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/configurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/firewallrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/locationbasedperformancetier.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/logfiles.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/servers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/serversecurityalertpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/mariadb/mgmt/2018-06-01-preview/mariadb/version.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/mariadb_server.html.markdown
Labels: new-resource, service/mariadb, size/XXL

#2429 Add the ability to do basic filtering with azurerm_subscriptions
  azurerm/data_source_subscriptions.go
  website/docs/d/subscriptions.html.markdown
Labels: enhancement, service/resources, size/S

#2365 VM: ensuring we nil-check items prior to accessing
  azurerm/resource_arm_virtual_machine.go
Labels: bug, service/virtual-machine, size/L

#2438 App Service Plan: removing a field which isn't expose
  website/docs/r/app_service_plan.html.markdown
Labels: documentation, size/XS

#2442 Deprecate azurerm_app_service_plan properties block for top level fields
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_plan.go
  azurerm/resource_arm_app_service_plan_test.go
  website/docs/r/app_service_plan.html.markdown
Labels: refactor, service/app-service, size/L

#2446 Add new skus to MySQL
  azurerm/resource_arm_mysql_server.go
Labels: enhancement, service/mysql, size/XS

#2447 Added new skus to postgreSQL
  azurerm/resource_arm_postgresql_server.go
Labels: enhancement, service/postgresql, size/XS

#2450 azurerm_autoscale_setting: fix doc example
  website/docs/r/autoscale_setting.html.markdown
Labels: documentation, size/XS

#2451 azurerm_shared_image_version: update doc example
  website/docs/r/shared_image_version.html.markdown
Labels: documentation, service/images, size/XS

#2453 azurerm_virtual_machine_data_disk_attachment: fixed doc example code
  website/docs/r/virtual_machine_data_disk_attachment.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#2449 fix datalake doc examples & touch up service bus doc examples
  website/docs/r/data_lake_analytics_account.html.markdown
  website/docs/r/data_lake_analytics_firewall_rule.html.markdown
  website/docs/r/servicebus_namespace.html.markdown
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_queue_authorization_rule.html.markdown
  website/docs/r/servicebus_subscription.html.markdown
  website/docs/r/servicebus_subscription_rule.html.markdown
  website/docs/r/servicebus_topic.html.markdown
Labels: documentation, service/data-lake, size/L

#2454 azurerm_data_lake_store: fixed doc examples
  website/docs/r/data_lake_store.html.markdown
Labels: documentation, service/data-lake, size/XS

#2455 azurerm_iothub: added note about one free IotHub per subscription
  website/docs/r/iothub.html.markdown
Labels: documentation, service/iothub, size/XS

#2445 New Resource: MariaDB Database
  CHANGELOG.md
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_mariadb_database.go
  azurerm/resource_arm_mariadb_database_test.go
  website/azurerm.erb
  website/docs/r/mariadb_database.html.markdown
Labels: documentation, new-resource, service/mariadb, size/XL

#2448 azurerm_public_ip: ensure all fields have a value
  azurerm/data_source_public_ip.go
  azurerm/data_source_public_ip_test.go
Labels: bug, service/public-ip, size/M

#2467 Provider function to replace validation.NoZeroValues
  azurerm/data_source_route_table.go
  azurerm/helpers/validate/strings.go
  azurerm/helpers/validate/strings_test.go
  azurerm/resource_arm_route_table.go
Labels: bug, crash, enhancement, size/M

#2475 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#2476 Updated documentation for agent_pool_profile on container service
  website/docs/r/container_service.html.markdown
Labels: documentation, service/container-service, size/XS

#2481 Deprecating the `azurerm_container_service` resource
  azurerm/resource_arm_container_service.go
  website/docs/r/container_service.html.markdown
Labels: documentation, service/container-service, size/XS

#2483 Documentation Update
  website/docs/r/image.html.markdown
Labels: documentation, service/images, size/XS

#2487 Upgrading to 0.3.1 of github.com/hashicorp/go-azure-helpers
  azurerm/data_source_storage_account_sas.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_azure_cli_parsing.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_azure_cli_token.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/azure_cli_access_token.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/azure_cli_profile.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/azure_cli_profile_population.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/builder.go
  vendor/github.com/hashicorp/go-azure-helpers/storage/sas_token.go
  vendor/vendor.json
Labels: dependencies, enhancement, size/L

#2477 Change all references from NoZeroValues to NoEmptyStrings
  azurerm/data_source_monitor_action_group.go
  azurerm/data_source_public_ip.go
  azurerm/data_source_subnet.go
  azurerm/data_source_virtual_network.go
  azurerm/data_source_virtual_network_gateway.go
  azurerm/helpers/azure/key_vault_child.go
  azurerm/helpers/validate/base64.go
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_automation_dsc_configuration.go
  azurerm/resource_arm_automation_dsc_nodeconfiguration.go
  azurerm/resource_arm_automation_module.go
  azurerm/resource_arm_autoscale_setting.go
  azurerm/resource_arm_azuread_application.go
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_registry.go
  azurerm/resource_arm_databricks_workspace.go
  azurerm/resource_arm_dev_test_policy.go
  azurerm/resource_arm_devspace_controller.go
  azurerm/resource_arm_firewall.go
  azurerm/resource_arm_firewall_network_rule_collection.go
  azurerm/resource_arm_loadbalancer.go
  azurerm/resource_arm_loadbalancer_backend_address_pool.go
  azurerm/resource_arm_loadbalancer_nat_pool.go
  azurerm/resource_arm_loadbalancer_nat_rule.go
  azurerm/resource_arm_loadbalancer_probe.go
  azurerm/resource_arm_loadbalancer_rule.go
  azurerm/resource_arm_log_analytics_solution.go
  azurerm/resource_arm_log_analytics_workspace_linked_service.go
  azurerm/resource_arm_mariadb_server.go
  azurerm/resource_arm_monitor_action_group.go
  azurerm/resource_arm_monitor_activity_log_alert.go
  azurerm/resource_arm_monitor_diagnostic_setting.go
  azurerm/resource_arm_monitor_log_profile.go
  azurerm/resource_arm_monitor_metric_alert.go
  azurerm/resource_arm_mysql_virtual_network_rule.go
  azurerm/resource_arm_network_interface.go
  azurerm/resource_arm_network_interface_application_gateway_association.go
  azurerm/resource_arm_network_interface_backend_address_pool_association.go
  azurerm/resource_arm_network_interface_nat_rule_association.go
  azurerm/resource_arm_postgresql_virtual_network_rule.go
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_route.go
  azurerm/resource_arm_scheduler_job.go
  azurerm/resource_arm_security_center_contact.go
  azurerm/resource_arm_security_center_workspace.go
  azurerm/resource_arm_sql_database.go
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/resource_arm_virtual_network.go
  azurerm/resource_arm_virtual_network_gateway.go
  azurerm/resource_arm_virtual_network_gateway_connection.go
Labels: crash, enhancement, refactor, size/L

#2492 azurerm_mssql_elasticpool: update deprecation messages
  azurerm/resource_arm_mssql_elasticpool.go
Labels: service/mssql, size/XS

#2333 Fix doc & test issues for `disable_password_authentication` in VMSS
  azurerm/resource_arm_virtual_machine_scale_set_test.go
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/virtual-machine, service/vmss, size/XS

#2263 only update the password if it has changed
  azurerm/resource_arm_sql_server.go
Labels: bug, service/mssql, size/XS, waiting-response

#2497 Linking to how to use multiple instances of a provider
  website/docs/index.html.markdown
Labels: documentation, size/XS

#2410 New Resource: SignalR service `azurerm_signalr_service`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_signalr_service.go
  azurerm/resource_arm_signalr_service_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/signalr/mgmt/2018-03-01-preview/signalr/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/signalr/mgmt/2018-03-01-preview/signalr/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/signalr/mgmt/2018-03-01-preview/signalr/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/signalr/mgmt/2018-03-01-preview/signalr/signalr.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/signalr/mgmt/2018-03-01-preview/signalr/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/signalr/mgmt/2018-03-01-preview/signalr/version.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/signalr_service.html.markdown
Labels: dependencies, documentation, new-resource, service/signalr, size/XXL

#2499 r/signalr: fixing a couple of minor bugs
  azurerm/resource_arm_signalr_service.go
  website/azurerm.erb
  website/docs/r/signalr_service.html.markdown
Labels: bug, documentation, service/signalr, size/S

#2500 Changed functions with CreateOrUpdate to CreateUpdate
  azurerm/resource_arm_application_insights.go
  azurerm/resource_arm_autoscale_setting.go
  azurerm/resource_arm_dns_a_record.go
  azurerm/resource_arm_dns_aaaa_record.go
  azurerm/resource_arm_dns_caa_record.go
  azurerm/resource_arm_dns_cname_record.go
  azurerm/resource_arm_dns_mx_record.go
  azurerm/resource_arm_dns_ns_record.go
  azurerm/resource_arm_dns_ptr_record.go
  azurerm/resource_arm_dns_srv_record.go
  azurerm/resource_arm_dns_txt_record.go
  azurerm/resource_arm_express_route_circuit.go
  azurerm/resource_arm_mariadb_database.go
  azurerm/resource_arm_mariadb_server.go
  azurerm/resource_arm_metric_alertrule.go
  azurerm/resource_arm_monitor_action_group.go
  azurerm/resource_arm_monitor_activity_log_alert.go
  azurerm/resource_arm_monitor_log_profile.go
  azurerm/resource_arm_monitor_metric_alert.go
Labels: refactor, size/M

#2428 Support for Azure Batch - Account
  azurerm/config.go
  azurerm/data_source_batch_account.go
  azurerm/data_source_batch_account_test.go
  azurerm/provider.go
  azurerm/resource_arm_batch_account.go
  azurerm/resource_arm_batch_account_test.go
  examples/batch/README.md
  examples/batch/main.tf
  examples/batch/variables.tf
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2017-09-01/batch/account.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2017-09-01/batch/application.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2017-09-01/batch/applicationpackage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2017-09-01/batch/certificate.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2017-09-01/batch/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2017-09-01/batch/location.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2017-09-01/batch/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2017-09-01/batch/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2017-09-01/batch/pool.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2017-09-01/batch/version.go
  vendor/vendor.json
  website/docs/d/batch_account.html.markdown
  website/docs/r/batch_account.html.markdown
Labels: dependencies, documentation, new-resource, service/batch, size/XXL

#2463 Add virtual machines data sources
  azurerm/data_source_arm_virtual_machine.go
  azurerm/data_source_arm_virtual_machine_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/virtual_machine.html.markdown
Labels: documentation, new-data-source, service/virtual-machine, size/L

#2511 Requiring Import (PR 1 of ...)
  azurerm/feature_flags.go
  azurerm/helpers/tf/errors.go
  azurerm/provider_test.go
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_api_management_test.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_custom_hostname_binding.go
  azurerm/resource_arm_app_service_custom_hostname_binding_test.go
  azurerm/resource_arm_app_service_plan.go
  azurerm/resource_arm_app_service_plan_test.go
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  azurerm/resource_arm_application_insights.go
  azurerm/resource_arm_application_insights_test.go
  azurerm/resource_arm_application_security_group.go
  azurerm/resource_arm_application_security_group_test.go
  azurerm/resource_arm_automation_account.go
  azurerm/resource_arm_automation_account_test.go
  azurerm/resource_arm_automation_credential.go
  azurerm/resource_arm_automation_credential_test.go
  azurerm/resource_arm_automation_dsc_configuration.go
  azurerm/resource_arm_automation_dsc_configuration_test.go
  azurerm/resource_arm_automation_dsc_nodeconfiguration.go
  azurerm/resource_arm_automation_dsc_nodeconfiguration_test.go
  azurerm/resource_arm_automation_module.go
  azurerm/resource_arm_automation_module_test.go
  azurerm/resource_arm_automation_runbook.go
  azurerm/resource_arm_automation_runbook_test.go
Labels: enhancement, size/XL

#2529 Update template_deployment docs output syntax
  website/docs/r/template_deployment.html.markdown
Labels: documentation, size/XS

#2524 Documentation Update
  website/docs/r/container_group.html.markdown
  website/docs/r/redis_cache.html.markdown
  website/docs/r/snapshot.html.markdown
Labels: documentation, size/XS

#2514 r/template_deployment: fixing support for nested template deployments
  azurerm/config.go
  azurerm/data_source_dns_zone.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_resource_group.go
  azurerm/resource_arm_template_deployment.go
  azurerm/resource_arm_template_deployment_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/deploymentoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/deployments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/groups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/providers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/resources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/tags.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/version.go
  vendor/vendor.json
Labels: bug, dependencies, service/resources, size/XXL

#2531 Documentation Update
  website/docs/r/recovery_services_protection_policy_vm.markdown
Labels: documentation, size/XS

#2546 aks: the azure_active_directory block is now optional
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#2537 Requiring Imports (3 of ...)
  azurerm/resource_arm_data_lake_analytics_account.go
  azurerm/resource_arm_data_lake_analytics_account_test.go
  azurerm/resource_arm_data_lake_analytics_firewall_rule.go
  azurerm/resource_arm_data_lake_analytics_firewall_rule_test.go
  azurerm/resource_arm_data_lake_store.go
  azurerm/resource_arm_data_lake_store_file.go
  azurerm/resource_arm_data_lake_store_file_test.go
  azurerm/resource_arm_data_lake_store_firewall_rule.go
  azurerm/resource_arm_data_lake_store_firewall_rule_test.go
  azurerm/resource_arm_data_lake_store_test.go
  azurerm/resource_arm_databricks_workspace.go
  azurerm/resource_arm_databricks_workspace_test.go
  azurerm/resource_arm_dev_test_lab.go
  azurerm/resource_arm_dev_test_lab_test.go
  azurerm/resource_arm_dev_test_linux_virtual_machine.go
  azurerm/resource_arm_dev_test_linux_virtual_machine_test.go
  azurerm/resource_arm_dev_test_policy.go
  azurerm/resource_arm_dev_test_policy_test.go
  azurerm/resource_arm_dev_test_virtual_network.go
  azurerm/resource_arm_dev_test_virtual_network_test.go
  azurerm/resource_arm_dev_test_windows_virtual_machine.go
  azurerm/resource_arm_dev_test_windows_virtual_machine_test.go
  azurerm/resource_arm_devspace_controller.go
  azurerm/resource_arm_devspace_controller_test.go
  azurerm/resource_arm_dns_a_record.go
  azurerm/resource_arm_dns_a_record_test.go
  azurerm/resource_arm_dns_aaaa_record.go
  azurerm/resource_arm_dns_aaaa_record_test.go
  azurerm/resource_arm_dns_caa_record.go
  azurerm/resource_arm_dns_caa_record_test.go
  azurerm/resource_arm_dns_cname_record.go
  azurerm/resource_arm_dns_cname_record_test.go
  azurerm/resource_arm_dns_mx_record.go
  azurerm/resource_arm_dns_mx_record_test.go
  azurerm/resource_arm_dns_ns_record.go
  azurerm/resource_arm_dns_ns_record_test.go
  azurerm/resource_arm_dns_ptr_record.go
  azurerm/resource_arm_dns_ptr_record_test.go
  azurerm/resource_arm_dns_srv_record.go
  azurerm/resource_arm_dns_srv_record_test.go
  azurerm/resource_arm_dns_txt_record.go
  azurerm/resource_arm_dns_txt_record_test.go
  azurerm/resource_arm_dns_zone.go
  azurerm/resource_arm_dns_zone_test.go
  azurerm/resource_arm_eventgrid_topic.go
  azurerm/resource_arm_eventgrid_topic_test.go
Labels: enhancement, size/XXL, technical-debt

#2535 New Resource: azurerm_policy_set_definition
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_policy_set_definition.go
  azurerm/resource_arm_policy_set_definition_test.go
  website/azurerm.erb
  website/docs/r/policy_set_definition.html.markdown
Labels: documentation, new-resource, service/policy, size/XL

#2551 Update "current" with "available".
  website/docs/d/subscriptions.html.markdown
Labels: documentation, size/XS

#2513 Add `possible_outbound_ip_addresses` to app service
  azurerm/data_source_app_service.go
  azurerm/data_source_app_service_test.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
Labels: documentation, enhancement, service/app-service, size/XS

#2554 skipping the import test until it's feature toggled on
  azurerm/resource_arm_automation_dsc_nodeconfiguration_test.go
Labels: bug, size/XS

#2552 Updating the docker builds to use Go 1.11
  GNUmakefile
Labels: documentation, size/XS

#2557 docs: azurerm_app_service -> azurerm_dev_test_lab
  website/docs/d/dev_test_lab.html.markdown
Labels: documentation, service/devtestlabs, size/XS

#2564 azurerm_express_route_circuit_peering: fix testAccAzureRMExpressRouteCircuitPeering_azurePrivatePeering acc test
  azurerm/resource_arm_express_route_circuit_peering.go
  azurerm/resource_arm_express_route_circuit_peering_test.go
Labels: bug, service/express-route, size/XS

#2565 azurerm_role_assignment: fix import when use role name instead of id
  azurerm/resource_arm_role_assignment.go
  azurerm/resource_arm_role_assignment_test.go
Labels: authentication, bug, size/S

#2544 Added Service Fabric Reverse Proxy Certificate and Endpoint in Nodetype
  azurerm/resource_arm_service_fabric_cluster.go
  azurerm/resource_arm_service_fabric_cluster_test.go
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, enhancement, service/service-fabric, size/L

#2490 assign policy to a managementgroup
  azurerm/resource_arm_policy_definition.go
  azurerm/resource_arm_policy_definition_test.go
  website/docs/r/policy_definition.html.markdown
Labels: documentation, enhancement, service/policy, size/L

#2556 Add azurerm_application_insights_api_key resource
  azurerm/config.go
  azurerm/helpers/azure/app_insights.go
  azurerm/provider.go
  azurerm/resource_arm_application_insights_api_key.go
  azurerm/resource_arm_application_insights_api_key_test.go
  website/azurerm.erb
  website/docs/r/application_insights_api_key.html.markdown
Labels: documentation, enhancement, service/application-insights, size/XL

#2580 Add availability zone support for Redis cache
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_redis_cache_test.go
  website/docs/r/redis_cache.html.markdown
Labels: documentation, size/M
