Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2018-05, with the labels that each got.

#1182 update backend_http_settings.authentication_certificate documentation…
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway

#1163 Bumping the Azure Provider to use Go v1.10
  .travis.yml
  README.md
Labels: dependencies

#1130 `azurerm_app_service` - support for MSI
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_test.go
  website/docs/r/app_service.html.markdown
Labels: enhancement, service/app-service

#1188 `azurerm_app_service` - adding support for HTTP2
  azurerm/data_source_app_service.go
  azurerm/data_source_app_service_test.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
Labels: enhancement, service/app-service

#1200 r/key_vault_certificate: exposing the `certificate data` field
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_certificate_test.go
  website/docs/r/key_vault_certificate.html.markdown
Labels: enhancement, service/keyvault

#1197 r/kubernetes_cluster: info on unexpected errors
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster

#1201 azurerm_cosmosdb_account: ip_range_filter input validation
  azurerm/import_arm_cosmosdb_account_test.go
  azurerm/resource_arm_cosmos_db_account.go
  azurerm/resource_arm_cosmos_db_account_test.go
  examples/cosmos-db/main.tf
Labels: enhancement, service/cosmos-db

#1203 New Data Source: `azurerm_route_table`
  azurerm/data_source_route_table.go
  azurerm/data_source_route_table_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/route_table.html.markdown
Labels: new-data-source, service/route-tables

#1205 `azurerm_app_service_slot` - adding `http2_enabled`
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_slot_test.go
  website/docs/r/app_service_slot.html.markdown
Labels: bug, service/app-service

#1208 `azurerm_virtual_network` - removing crash points
  azurerm/resource_arm_virtual_network.go
Labels: bug, service/virtual-networks

#1204 New Data Source: `azurerm_kubernetes_cluster`
  azurerm/data_source_kubernetes_cluster.go
  azurerm/data_source_kubernetes_cluster_test.go
  azurerm/provider.go
  azurerm/resource_arm_kubernetes_cluster.go
  website/azurerm.erb
  website/docs/d/kubernetes_cluster.html.markdown
Labels: new-data-source, service/kubernetes-cluster

#1214 Github: Adding Issue Templates for Bugs, Features and Questions
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_Report.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/Question.md
Labels: documentation

#1215 App Service Plan: updating the Linux examples
  azurerm/resource_arm_app_service_plan_test.go
  website/docs/r/app_service_plan.html.markdown
Labels: documentation, service/app-service

#1217 fix link to RSV datasource
  website/azurerm.erb
  website/docs/d/recovery_services_vault.markdown
Labels: documentation

#1222 azurerm_storage_account: minor doc updates
  azurerm/resource_arm_storage_account.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage

#1225 azurerm_kubernetes_cluster: config_raw is now sensitive
  azurerm/data_source_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster.go
Labels: bug, service/kubernetes-cluster

#1202 New Data Sources: `azurerm_key_vault` & `azurerm_key_vault_secret`
  azurerm/data_source_key_vault.go
  azurerm/data_source_key_vault_secret.go
  azurerm/data_source_key_vault_secret_test.go
  azurerm/data_source_key_vault_test.go
  azurerm/import_arm_key_vault_test.go
  azurerm/provider.go
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_test.go
  website/azurerm.erb
  website/docs/d/key_vault.html.markdown
  website/docs/d/key_vault_secret.html.markdown
  website/docs/d/public_ips.html.markdown
  website/docs/d/recovery_services_vault.markdown
  website/docs/r/key_vault.html.markdown
  website/docs/r/key_vault_secret.html.markdown
Labels: new-data-source, service/keyvault

#1223 Data Sources: returning an error when resources don't exist
  azurerm/data_source_app_service.go
  azurerm/data_source_app_service_plan.go
  azurerm/data_source_application_security_group.go
  azurerm/data_source_cdn_profile.go
  azurerm/data_source_cosmos_db_account.go
  azurerm/data_source_dns_zone.go
  azurerm/data_source_eventhub_namespace.go
  azurerm/data_source_image.go
  azurerm/data_source_kubernetes_cluster.go
  azurerm/data_source_managed_disk.go
  azurerm/data_source_network_interface.go
  azurerm/data_source_network_security_group.go
  azurerm/data_source_public_ip.go
  azurerm/data_source_public_ips.go
  azurerm/data_source_recovery_services_vault.go
  azurerm/data_source_resource_group.go
  azurerm/data_source_role_definition.go
  azurerm/data_source_route_table.go
  azurerm/data_source_scheduler_job_collection.go
  azurerm/data_source_snapshot.go
  azurerm/data_source_storage_account.go
  azurerm/data_source_subnet.go
  azurerm/data_source_subscription.go
  azurerm/data_source_virtual_network.go
  azurerm/data_source_virtual_network_gateway.go
Labels: bug

#1211 Added Import support to Redis Cache/Firewall Rule
  azurerm/import_arm_redis_cache_test.go
  azurerm/import_arm_redis_firewall_rule_test.go
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_redis_cache_test.go
  azurerm/resource_arm_redis_firewall_rule.go
  website/docs/r/redis_cache.html.markdown
  website/docs/r/redis_firewall_rule.html.markdown
Labels: enhancement, service/redis

#1232 redis firewall rule: fix max_clients in tests
  azurerm/resource_arm_redis_firewall_rule_test.go
Labels: bug, service/redis

#1224 Normalized hash functions and protect against nil inputs
  azurerm/resource_arm_container_service.go
  azurerm/resource_arm_cosmos_db_account.go
  azurerm/resource_arm_dns_mx_record.go
  azurerm/resource_arm_dns_srv_record.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_traffic_manager_profile.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/resource_arm_virtual_network.go
Labels: bug, service/virtual-machine

#1235 Add dead_lettering_on_message_expiration property to servicebus queue resource
  azurerm/resource_arm_servicebus_queue.go
  azurerm/resource_arm_servicebus_queue_test.go
  website/docs/r/servicebus_queue.html.markdown
Labels: enhancement, service/servicebus

#1233 New Resource: `azurerm_relay_namespace`
  azurerm/config.go
  azurerm/import_arm_relay_namespace_test.go
  azurerm/provider.go
  azurerm/resource_arm_relay_namespace.go
  azurerm/resource_arm_relay_namespace_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/relay/mgmt/2017-04-01/relay/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/relay/mgmt/2017-04-01/relay/hybridconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/relay/mgmt/2017-04-01/relay/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/relay/mgmt/2017-04-01/relay/namespaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/relay/mgmt/2017-04-01/relay/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/relay/mgmt/2017-04-01/relay/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/relay/mgmt/2017-04-01/relay/wcfrelays.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/relay_namespace.html.markdown
Labels: new-resource, service/relay

#1218 scheduler_job_collection: Renamed max_retry_interval to max_recurrence_interval to better match azure
  azurerm/resource_arm_scheduler_job_collection.go
  azurerm/resource_arm_scheduler_job_collection_test.go
  examples/scheduler-jobs/main.tf
  website/docs/r/scheduler_job_collection.html.markdown
Labels: bug, service/scheduler

#1242 Mark numerous key, password and connection string properties sensitive
  azurerm/data_source_cosmos_db_account.go
  azurerm/data_source_eventhub_namespace.go
  azurerm/data_source_kubernetes_cluster.go
  azurerm/data_source_storage_account.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_application_insights.go
  azurerm/resource_arm_container_registry.go
  azurerm/resource_arm_cosmos_db_account.go
  azurerm/resource_arm_eventhub_authorization_rule.go
  azurerm/resource_arm_eventhub_namespace.go
  azurerm/resource_arm_express_route_circuit.go
  azurerm/resource_arm_express_route_circuit_authorization.go
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_log_analytics_workspace.go
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_relay_namespace.go
  azurerm/resource_arm_servicebus_namespace.go
  azurerm/resource_arm_servicebus_topic_authorization_rule.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_virtual_network_gateway_connection.go
Labels: bug

#1244 Redis Cache: removing the unused maxclients key from the docs
  website/docs/r/redis_cache.html.markdown
Labels: documentation, service/redis

#1262 Adjust the log messages to align with each other.
  azurerm/resource_arm_network_security_rule.go
Labels: enhancement, service/network-security

#1247 azurerm_public_ip: computed values now default to an empy string
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_public_ip_test.go
Labels: enhancement, service/public-ip

#1180 DNS Zone data source can be retrieved by name only.
  azurerm/data_source_dns_zone.go
  azurerm/data_source_dns_zone_test.go
  website/docs/d/dns_zone.html.markdown
Labels: enhancement, service/dns

#1219 New Resource: azurerm_data_lake_store
  azurerm/config.go
  azurerm/data_source_data_lake_store.go
  azurerm/data_source_data_lake_store_test.go
  azurerm/provider.go
  azurerm/resource_arm_data_lake_store.go
  azurerm/resource_arm_data_lake_store_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/firewallrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/locations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/trustedidproviders.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/version.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/d/data_lake_store.html.markdown
  website/docs/r/data_lake_store.html.markdown
Labels: new-resource, service/data-lake

#1011 New Data Source: `azurerm_storage_account_sas `
  azurerm/data_source_storage_account_sas.go
  azurerm/data_source_storage_account_sas_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/storage_account_sas.html.markdown
Labels: new-data-source, service/storage

#1245 VMSS: exposing the `licence_type` property
  azurerm/resource_arm_virtual_machine_scale_set.go
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: enhancement, service/vmss

#1264 Container Registry forced new resource on SKU change
  azurerm/resource_arm_container_registry.go
  azurerm/resource_arm_container_registry_test.go
  website/docs/r/container_registry.html.markdown
Labels: bug, service/container-registry

#1273 Container Registry: doc updates
  website/docs/r/container_registry.html.markdown
Labels: documentation

#1190 Update PostgreSQL to GA 2017-12-01 API
  azurerm/config.go
  azurerm/import_arm_postgresql_server_test.go
  azurerm/resource_arm_mysql_server.go
  azurerm/resource_arm_mysql_server_test.go
  azurerm/resource_arm_postgresql_configuration.go
  azurerm/resource_arm_postgresql_configuration_test.go
  azurerm/resource_arm_postgresql_database.go
  azurerm/resource_arm_postgresql_database_test.go
  azurerm/resource_arm_postgresql_firewall_rule.go
  azurerm/resource_arm_postgresql_firewall_rule_test.go
  azurerm/resource_arm_postgresql_server.go
  azurerm/resource_arm_postgresql_server_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-04-30-preview/postgresql/performancetiers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/checknameavailability.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/configurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/firewallrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/locationbasedperformancetier.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/logfiles.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/servers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/version.go
  vendor/vendor.json
  website/docs/r/postgresql_configuration.html.markdown
  website/docs/r/postgresql_database.html.markdown
  website/docs/r/postgresql_server.html.markdown
Labels: breaking-change, enhancement, service/postgresql

#1281 Fix for azurerm_mysql_database resource wants to re-create on every apply
  azurerm/resource_arm_mysql_database.go
  azurerm/resource_arm_mysql_database_test.go
Labels: bug, service/mysql

#1255 [Bug Fix] Fixes PostgreSQL collation issues #396 and #760
  azurerm/resource_arm_postgresql_database.go
  azurerm/resource_arm_postgresql_database_test.go
  azurerm/validators.go
  azurerm/validators_test.go
  website/docs/r/postgresql_server.html.markdown
Labels: bug, service/postgresql

#1284 Authorization: upgrading to the `2018-01-01` Preview SDK
  azurerm/config.go
  azurerm/data_source_builtin_role_definition.go
  azurerm/data_source_role_definition.go
  azurerm/resource_arm_role_assignment.go
  azurerm/resource_arm_role_assignment_test.go
  azurerm/resource_arm_role_definition.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/classicadministrators.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/permissions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/provideroperationsmetadata.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/roleassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/roledefinitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/version.go
  vendor/vendor.json
Labels: bug, service/authentication

#1250 Add 'priority' property for VM scale set
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
Labels: enhancement, service/vmss

#1293 Add missing docs for VMSS priority property
  azurerm/resource_arm_virtual_machine_scale_set.go
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss

#1294 Documenting how to use the App Service Principal ID
  website/docs/r/app_service.html.markdown
Labels: documentation

#1296 azurerm_scheduler_job_collection: fixed missing datasource property max_recurrence_interval
  azurerm/data_source_scheduler_job_collection.go
  azurerm/resource_arm_scheduler_job_collection.go
Labels: bug, service/scheduler

#1287 Added domain_name_label to read to fix import. (#784)
  azurerm/import_arm_public_ip_test.go
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_public_ip_test.go
Labels: bug, service/public-ip, waiting-response

#1299 azure vm size Standard_A0 is not working
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster

#1305 Clarify usage of "ssh_keys" section
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, service/virtual-machine
