Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2018-10, with the labels that each got.

#1987 New Resources: Shared Image Galleries
  azurerm/config.go
  azurerm/data_source_shared_image.go
  azurerm/data_source_shared_image_gallery.go
  azurerm/data_source_shared_image_gallery_test.go
  azurerm/data_source_shared_image_test.go
  azurerm/data_source_shared_image_version.go
  azurerm/data_source_shared_image_version_test.go
  azurerm/helpers/validate/compute.go
  azurerm/helpers/validate/compute_test.go
  azurerm/provider.go
  azurerm/resource_arm_shared_image.go
  azurerm/resource_arm_shared_image_gallery.go
  azurerm/resource_arm_shared_image_gallery_test.go
  azurerm/resource_arm_shared_image_test.go
  azurerm/resource_arm_shared_image_version.go
  azurerm/resource_arm_shared_image_version_test.go
  website/azurerm.erb
  website/docs/d/shared_image.html.markdown
  website/docs/d/shared_image_gallery.html.markdown
  website/docs/d/shared_image_version.html.markdown
  website/docs/r/shared_image.html.markdown
  website/docs/r/shared_image_gallery.html.markdown
  website/docs/r/shared_image_version.html.markdown
Labels: new-resource, service/images, size/XXL

#2000 azurerm_builtin_role_definition: support for `data_actions` and `not_data_actions`
  azurerm/data_source_azuread_application_test.go
  azurerm/data_source_builtin_role_definition.go
  azurerm/resource_arm_role_definition.go
  website/docs/d/builtin_role_definition.markdown
Labels: bug, service/authentication, size/M

#962 New Resource: `azurerm_cognitive_account`
  azurerm/config.go
  azurerm/helpers/validate/cognitiveservices.go
  azurerm/helpers/validate/cognitiveservices_test.go
  azurerm/provider.go
  azurerm/resource_arm_cognitive_account.go
  azurerm/resource_arm_cognitive_account_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2017-04-18/cognitiveservices/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2017-04-18/cognitiveservices/checkskuavailability.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2017-04-18/cognitiveservices/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2017-04-18/cognitiveservices/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2017-04-18/cognitiveservices/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2017-04-18/cognitiveservices/resourceskus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2017-04-18/cognitiveservices/version.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/cognitive_account.html.markdown
Labels: new-resource, service/cognitive-services, size/XXL

#2001 typos in variables description
  examples/sql-database/variables.tf
Labels: documentation, size/XS

#2002 typos in variables description
  examples/wordpress-mysql-replication/variables.tf
Labels: documentation, size/XS

#2003 typos in variables description
  examples/eventhub/variables.tf
Labels: documentation, size/XS

#1134 New Resource: `azurerm_databricks_workspace`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_databricks_workspace.go
  azurerm/resource_arm_databricks_workspace_test.go
  azurerm/utils/response.go
  vendor/github.com/Azure/azure-sdk-for-go/services/databricks/mgmt/2018-04-01/databricks/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/databricks/mgmt/2018-04-01/databricks/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/databricks/mgmt/2018-04-01/databricks/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/databricks/mgmt/2018-04-01/databricks/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/databricks/mgmt/2018-04-01/databricks/workspaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2016-04-01/dns/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2016-04-01/dns/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2016-04-01/dns/recordsets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2016-04-01/dns/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2016-04-01/dns/zones.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/databricks_workspace.html.markdown
Labels: new-resource, service/databricks, size/XXL

#2008 Update README.md
  examples/virtual-machines/managed-disks/attaching-external-disks/README.md
Labels: documentation, size/XS

#1995 Use lower casing for OMS agent and correct solution for container monitoring
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  azurerm/resource_arm_log_analytics_solution_test.go
  examples/log-analytics-container-monitoring/main.tf
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/log_analytics_solution.html.markdown
Labels: bug, service/kubernetes-cluster, size/M

#2017 Fix swapped vnet / resourcegroup in error
  azurerm/data_source_subnet.go
Labels: bug, service/load-balancers, size/XS

#2021 Remove `forcenew` for oms_agent.
  azurerm/resource_arm_kubernetes_cluster.go
Labels: bug, service/kubernetes-cluster, size/XS

#2023 Update aks docs to reflect osm_agent no longer forcing a new resource
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#2015 Add support for application gateway v2, see #1991
  azurerm/resource_arm_application_gateway.go
  website/docs/r/application_gateway.html.markdown
Labels: enhancement, service/application-gateway, size/XS

#2027 `azurerm_key_vault` - support for Virtual Network Rules
  azurerm/config.go
  azurerm/data_source_key_vault.go
  azurerm/data_source_key_vault_access_policy.go
  azurerm/data_source_key_vault_test.go
  azurerm/helpers/azure/key_vault_access_policy.go
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_access_policy.go
  azurerm/resource_arm_key_vault_migration.go
  azurerm/resource_arm_key_vault_test.go
  azurerm/resource_arm_storage_account.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault/vaults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault/version.go
  vendor/vendor.json
  website/docs/r/key_vault.html.markdown
Labels: enhancement, service/keyvault, size/XL

#2034 Update cosmosdb_account.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, service/cosmos-db, size/XS

#2033 Docs: making the data sources reference an `existing` resource
  website/docs/d/api_management.html.markdown
  website/docs/d/app_service.html.markdown
  website/docs/d/app_service_plan.html.markdown
  website/docs/d/application_security_group.html.markdown
  website/docs/d/azuread_application.html.markdown
  website/docs/d/azuread_service_principal.html.markdown
  website/docs/d/builtin_role_definition.markdown
  website/docs/d/cdn_profile.html.markdown
  website/docs/d/client_config.html.markdown
  website/docs/d/container_registry.markdown
  website/docs/d/cosmosdb_account.html.markdown
  website/docs/d/data_lake_store.html.markdown
  website/docs/d/dev_test_lab.html.markdown
  website/docs/d/dns_zone.html.markdown
  website/docs/d/eventhub_namespace.html.markdown
  website/docs/d/image.html.markdown
  website/docs/d/key_vault.html.markdown
  website/docs/d/key_vault_secret.html.markdown
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/d/log_analytics_workspace.html.markdown
  website/docs/d/logic_app_workflow.html.markdown
  website/docs/d/managed_disk.html.markdown
  website/docs/d/management_group.html.markdown
  website/docs/d/network_interface.html.markdown
  website/docs/d/network_security_group.html.markdown
  website/docs/d/notification_hub.html.markdown
  website/docs/d/notification_hub_namespace.html.markdown
  website/docs/d/platform_image.html.markdown
  website/docs/d/public_ip.html.markdown
  website/docs/d/public_ips.html.markdown
  website/docs/d/recovery_services_vault.markdown
  website/docs/d/resource_group.html.markdown
  website/docs/d/role_definition.markdown
  website/docs/d/route_table.html.markdown
  website/docs/d/scheduler_job_collection.html.markdown
  website/docs/d/shared_image.html.markdown
  website/docs/d/shared_image_gallery.html.markdown
  website/docs/d/shared_image_version.html.markdown
  website/docs/d/snapshot.html.markdown
  website/docs/d/storage_account.html.markdown
  website/docs/d/storage_account_sas.html.markdown
  website/docs/d/subnet.html.markdown
  website/docs/d/subscription.html.markdown
  website/docs/d/subscriptions.html.markdown
  website/docs/d/virtual_network.html.markdown
  website/docs/d/virtual_network_gateway.html.markdown
Labels: documentation, size/L

#2040 Fix the name of the resource group
  README.md
Labels: documentation, size/XS

#2039 Rename `actionGroupsClient` to `monitorActionGroupsClient`
  azurerm/config.go
  azurerm/resource_arm_monitor_action_group.go
  azurerm/resource_arm_monitor_action_group_test.go
Labels: size/XS

#2028 service_bus_queue: support for `max_delivery_count`
  azurerm/resource_arm_servicebus_queue.go
  azurerm/resource_arm_servicebus_queue_test.go
  website/docs/r/servicebus_queue.html.markdown
Labels: enhancement, service/servicebus, size/M

#2032 Send provider version in user agent
  GNUmakefile
  azurerm/config.go
  vendor/github.com/hashicorp/terraform/httpclient/client.go
  vendor/github.com/hashicorp/terraform/httpclient/useragent.go
  vendor/vendor.json
  version/version.go
Labels: enhancement, provider, size/M

#2053 Change the log analytics workspace sku to the new default
  examples/log-analytics-container-monitoring/main.tf
  website/docs/r/log_analytics_solution.html.markdown
  website/docs/r/log_analytics_workspace.html.markdown
Labels: documentation, service/oms, size/XS

#2061 Fix variable name in postgresql_virtual_network_rule simple code.
  website/docs/r/postgresql_virtual_network_rule.html.markdown
Labels: documentation, service/postgresql, size/XS

#2067 [API Management] Fixed regex validation of Publisher Name
  azurerm/helpers/validate/api_management.go
  azurerm/helpers/validate/api_management_test.go
Labels: service/api-management, size/S

#2056 Exposed ignore_missing_vnet_service_endpoint attribute
  azurerm/import_arm_postgresql_virtual_network_rule_test.go
  azurerm/resource_arm_postgresql_virtual_network_rule.go
  azurerm/resource_arm_postgresql_virtual_network_rule_test.go
  website/docs/r/postgresql_virtual_network_rule.html.markdown
Labels: bug, service/postgresql, size/L

#2058 New Resources: `azurerm_dev_test_(linux|windows)virtual_machine`
  azurerm/config.go
  azurerm/data_source_dev_test_lab.go
  azurerm/helpers/azure/devtest.go
  azurerm/helpers/azure/devtest_test.go
  azurerm/helpers/validate/devtest.go
  azurerm/helpers/validate/devtest_test.go
  azurerm/provider.go
  azurerm/resource_arm_dev_test_lab.go
  azurerm/resource_arm_dev_test_linux_virtual_machine.go
  azurerm/resource_arm_dev_test_linux_virtual_machine_test.go
  azurerm/resource_arm_dev_test_virtual_network.go
  azurerm/resource_arm_dev_test_windows_virtual_machine.go
  azurerm/resource_arm_dev_test_windows_virtual_machine_test.go
  website/azurerm.erb
  website/docs/r/dev_test_linux_virtual_machine.html.markdown
  website/docs/r/dev_test_virtual_network.html.markdown
  website/docs/r/dev_test_windows_virtual_machine.html.markdown
Labels: new-resource, service/devtestlabs, size/XXL

#2070 New Resource: `azurerm_dev_test_policy`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_dev_test_policy.go
  azurerm/resource_arm_dev_test_policy_test.go
  website/azurerm.erb
  website/docs/r/dev_test_policy.html.markdown
Labels: new-resource, service/devtestlabs, size/XL

#2043 New Resource: azurerm_security_center_subscription_pricing
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_search_service_test.go
  azurerm/resource_arm_security_center_subscription_pricing.go
  azurerm/resource_arm_security_center_subscription_pricing_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/advancedthreatprotection.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/alerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/autoprovisioningsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/compliances.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/contacts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/discoveredsecuritysolutions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/externalsecuritysolutions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/jitnetworkaccesspolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/locations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/pricings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/settings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/tasks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/workspacesettings.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/search_service.html.markdown
  website/docs/r/security_center_subscription_pricing.markdown
Labels: new-resource, service/security-center, size/XXL

#2072 New Resource: azurerm_securitycenter_workspace
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_security_center_contact.go
  azurerm/resource_arm_security_center_subscription_pricing_test.go
  azurerm/resource_arm_security_center_test.go
  azurerm/resource_arm_security_center_workspace.go
  azurerm/resource_arm_security_center_workspace_test.go
  website/azurerm.erb
  website/docs/r/security_center_contact.markdown
  website/docs/r/security_center_workspace.markdown
Labels: new-resource, service/security-center, size/XL

#1989 New Resource: azurerm_monitor_activitylog_alert
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_monitor_activity_log_alert.go
  azurerm/resource_arm_monitor_activity_log_alert_test.go
  azurerm/utils/common_marshal.go
  website/azurerm.erb
  website/docs/r/monitor_activity_log_alert.html.markdown
Labels: new-resource, service/monitor, size/XL

#2075 Allow storage account container access type change without recreation
  azurerm/resource_arm_storage_container.go
  azurerm/resource_arm_storage_container_test.go
  website/docs/r/storage_container.html.markdown
Labels: service/storage, size/M

#2026 New Resource: azurerm_monitor_metric_alert
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_monitor_metric_alert.go
  azurerm/resource_arm_monitor_metric_alert_test.go
  website/azurerm.erb
  website/docs/r/monitor_metric_alert.html.markdown
Labels: new-resource, service/monitor, size/XL

#2079 New Resources: `azurerm_network_interface_(backend_address_pool|nat_rule)_association`
  azurerm/helpers/azure/network_interface.go
  azurerm/provider.go
  azurerm/resource_arm_network_interface.go
  azurerm/resource_arm_network_interface_application_gateway_association.go
  azurerm/resource_arm_network_interface_application_gateway_association_test.go
  azurerm/resource_arm_network_interface_backend_address_pool_association.go
  azurerm/resource_arm_network_interface_backend_address_pool_association_test.go
  azurerm/resource_arm_network_interface_nat_rule_association.go
  azurerm/resource_arm_network_interface_nat_rule_association_test.go
  website/azurerm.erb
  website/docs/r/network_interface.html.markdown
  website/docs/r/network_interface_application_gateway_backend_address_pool_association.html.markdown
  website/docs/r/network_interface_backend_address_pool_association.html.markdown
  website/docs/r/network_interface_nat_rule_association.html.markdown
Labels: new-resource, service/application-gateway, service/load-balancers, service/network-interfaces, size/XXL

#2078 Expose the UserAssignedIdentity auto-generated ClientID property.
  azurerm/resource_arm_user_assigned_identity.go
  azurerm/resource_arm_user_assigned_identity_test.go
  website/docs/r/user_assigned_identity.markdown
Labels: enhancement, size/XS

#2090 Add scaling Redis StateChangeConf
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_redis_cache_test.go
Labels: bug, service/redis, size/S

#2096 update TestAccAzureRMPublicIpDynamic_basic_withIPv6 to check for lowercase ip version
  azurerm/resource_arm_public_ip_test.go
Labels: bug, service/public-ip, size/XS

#2091 Update VMSS configs to reflect network_profile.*.ip_configuration.*.primary now being required
  azurerm/resource_arm_autoscale_setting_test.go
  azurerm/resource_arm_image_test.go
  examples/traffic-manager-lb-scale-set/tf_modules/location.tf
  examples/vmss-ubuntu/main.tf
Labels: service/vmss, size/XS

#2098 test config fixes: acctestrg -> acctestRG & testacc -> acctest
  azurerm/resource_arm_api_management_test.go
  azurerm/resource_arm_cognitive_account_test.go
  azurerm/resource_arm_container_registry_test.go
  azurerm/resource_arm_express_route_circuit_test.go
  azurerm/resource_arm_notification_hub_authorization_rule_test.go
  azurerm/resource_arm_notification_hub_namespace_test.go
  azurerm/resource_arm_notification_hub_test.go
  azurerm/resource_arm_shared_image_gallery_test.go
  azurerm/resource_arm_shared_image_test.go
  azurerm/resource_arm_storage_account_test.go
  azurerm/resource_arm_virtual_machine_data_disk_attachment_test.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
Labels: size/M, technical-debt

#2099 Use enum string instead and update documentation.
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/container-instance, size/M

#2101 Fix shared image gallery name #2081
  azurerm/helpers/validate/compute.go
  azurerm/helpers/validate/compute_test.go
  website/docs/r/shared_image.html.markdown
  website/docs/r/shared_image_gallery.html.markdown
  website/docs/r/shared_image_version.html.markdown
Labels: bug, service/images, size/XS

#1512 Automation resources
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_automation_dsc_configuration.go
  azurerm/resource_arm_automation_dsc_configuration_test.go
  azurerm/resource_arm_automation_dsc_nodeconfiguration.go
  azurerm/resource_arm_automation_dsc_nodeconfiguration_test.go
  azurerm/resource_arm_automation_module.go
  azurerm/resource_arm_automation_module_test.go
  website/azurerm.erb
  website/docs/r/automation_dsc_configuration.html.markdown
  website/docs/r/automation_dsc_nodeconfiguration.html.markdown
  website/docs/r/automation_module.html.markdown
Labels: new-resource, service/automation, size/XXL, waiting-response

#1792 New Resource: azurerm_log_profile
  azurerm/config.go
  azurerm/data_source_monitor_log_profile.go
  azurerm/data_source_monitor_log_profile_test.go
  azurerm/provider.go
  azurerm/resource_arm_monitor_log_profile.go
  azurerm/resource_arm_monitor_log_profile_test.go
  website/azurerm.erb
  website/docs/d/monitor_log_profile.html.markdown
  website/docs/r/monitor_log_profile.html.markdown
Labels: new-resource, service/monitor, size/XXL

#2110 Adding not_data_actions and data_actions to azurerm_role_definition datasource
  azurerm/data_source_role_definition.go
Labels: bug, size/XS

#2024 ACI - added secure environment variables
  azurerm/config.go
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-04-01/containerinstance/containerlogs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-04-01/containerinstance/startcontainer.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-06-01/containerinstance/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-06-01/containerinstance/container.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-06-01/containerinstance/containergroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-06-01/containerinstance/containergroupusage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-06-01/containerinstance/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-06-01/containerinstance/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-06-01/containerinstance/version.go
  vendor/vendor.json
  website/docs/r/container_group.html.markdown
Labels: enhancement, service/container-instance, size/XXL

#1978 New Resource: azurerm_recovery_services_protection_policy_vm
  azurerm/config.go
  azurerm/helpers/validate/time.go
  azurerm/resource_arm_automation_schedule_test.go
  azurerm/resource_arm_recovery_services_protection_policy_vm.go
  azurerm/resource_arm_recovery_services_protection_policy_vm_test.go
  azurerm/resource_arm_recovery_services_vault_test.go
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_scheduler_job.go
  examples/recoveryservice-vault/main.tf
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/backups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/engines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/exportjobsoperationresults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/itemlevelrecoveryconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/jobcancellations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/jobdetails.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/joboperationresults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/jobs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/operationresults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/operationstatuses.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/protectableitems.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/protecteditemoperationresults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/protecteditemoperationstatuses.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/protecteditems.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/protectioncontaineroperationresults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/protectioncontainerrefreshoperationresults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/protectioncontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/protectionpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/protectionpolicyoperationresults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/protectionpolicyoperationstatuses.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/recoverypoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/restores.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/version.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/recovery_services_protection_policy.markdown
Labels: new-resource, service/recovery-services, size/XXL

#1637 New Resource: azurerm_recovery_services_protected_vm
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_recovery_services_protected_vm.go
  azurerm/resource_arm_recovery_services_protected_vm_test.go
  azurerm/resource_arm_recovery_services_protection_policy_vm.go
  azurerm/resource_arm_recovery_services_protection_policy_vm_test.go
  examples/recoveryservice-vault/outputs.tf
  examples/recoveryservice/main.tf
  examples/recoveryservice/modules/vm/main.tf
  examples/recoveryservice/modules/vm/outputs.tf
  examples/recoveryservice/modules/vm/variables.tf
  examples/recoveryservice/outputs.tf
  examples/recoveryservice/variables.tf
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-06-01/backup/models.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/recovery_services_protected_vm.markdown
  website/docs/r/recovery_services_protection_policy_vm.markdown
Labels: new-resource, service/recovery-services, size/XL

#2111 Fixes #1722 - function app's setting read
  azurerm/resource_arm_function_app.go
Labels: bug, service/functions, size/XS

#2122 azurerm_public_ip: fixed domain name label validation
  azurerm/helpers/validate/public_ip.go
  azurerm/helpers/validate/public_ip_test.go
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_public_ip_test.go
Labels: bug, service/public-ip, size/L

#2119 remove the operation property from VMSS doc examples
  website/docs/r/autoscale_setting.html.markdown
Labels: documentation, service/vmss, size/XS

#2121 vendor house keeping
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2016-04-01/dns/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2016-04-01/dns/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2016-04-01/dns/recordsets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2016-04-01/dns/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2016-04-01/dns/zones.go
  vendor/github.com/hashicorp/terraform/config/interpolate_funcs.go
  vendor/github.com/hashicorp/terraform/config/module/get.go
  vendor/github.com/hashicorp/terraform/config/module/storage.go
  vendor/github.com/hashicorp/terraform/config/module/validate_provider_alias.go
  vendor/github.com/hashicorp/terraform/helper/logging/transport.go
  vendor/github.com/hashicorp/terraform/helper/resource/id.go
  vendor/github.com/hashicorp/terraform/helper/resource/testing.go
  vendor/github.com/hashicorp/terraform/helper/resource/testing_config.go
  vendor/github.com/hashicorp/terraform/helper/resource/wait.go
  vendor/github.com/hashicorp/terraform/helper/schema/data_source_resource_shim.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader_config.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader_diff.go
  vendor/github.com/hashicorp/terraform/helper/schema/field_reader_map.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource_data.go
  vendor/github.com/hashicorp/terraform/helper/schema/resource_diff.go
  vendor/github.com/hashicorp/terraform/helper/schema/schema.go
  vendor/github.com/hashicorp/terraform/helper/schema/set.go
  vendor/github.com/hashicorp/terraform/helper/validation/validation.go
  vendor/github.com/hashicorp/terraform/plugin/discovery/get.go
  vendor/github.com/hashicorp/terraform/registry/client.go
  vendor/github.com/hashicorp/terraform/svchost/auth/credentials.go
  vendor/github.com/hashicorp/terraform/svchost/auth/token_credentials.go
  vendor/github.com/hashicorp/terraform/svchost/disco/disco.go
  vendor/github.com/hashicorp/terraform/terraform/context.go
  vendor/github.com/hashicorp/terraform/terraform/eval_apply.go
  vendor/github.com/hashicorp/terraform/terraform/eval_validate.go
  vendor/github.com/hashicorp/terraform/terraform/graph_builder_apply.go
  vendor/github.com/hashicorp/terraform/terraform/interpolate.go
  vendor/github.com/hashicorp/terraform/terraform/node_local.go
  vendor/github.com/hashicorp/terraform/terraform/node_output.go
  vendor/github.com/hashicorp/terraform/terraform/node_resource_apply.go
  vendor/github.com/hashicorp/terraform/terraform/node_resource_refresh.go
  vendor/github.com/hashicorp/terraform/terraform/state.go
  vendor/github.com/hashicorp/terraform/terraform/test_failure
  vendor/github.com/hashicorp/terraform/terraform/transform_output.go
  vendor/github.com/hashicorp/terraform/terraform/transform_reference.go
  vendor/github.com/hashicorp/terraform/terraform/transform_targets.go
  vendor/github.com/hashicorp/terraform/terraform/user_agent.go
  vendor/github.com/hashicorp/terraform/version/version.go
  vendor/vendor.json
Labels: size/XXL, technical-debt

#2117 Add default to AKS agent_pool_profile os_disk_size_gb property
  azurerm/resource_arm_kubernetes_cluster.go
Labels: service/kubernetes-cluster, size/XS

#2116 Switch to GoMetaLinter
  .gometalinter.json
  .travis.yml
  GNUmakefile
  azurerm/config.go
  azurerm/logic_apps_test.go
  azurerm/resource_arm_automation_dsc_configuration.go
  azurerm/resource_arm_automation_runbook.go
  azurerm/resource_arm_container_registry_migrate.go
  azurerm/resource_arm_data_lake_store_file.go
  azurerm/resource_arm_function_app_test.go
  azurerm/resource_arm_notification_hub_namespace.go
  azurerm/resource_arm_storage_blob.go
  azurerm/resource_arm_storage_share.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/utils/io.go
  scripts/errcheck.sh
Labels: size/M, technical-debt

#2131 Stripping the Authorization Header from the Logs
  azurerm/config.go
Labels: authentication, enhancement

#2135 Enable some more linting
  .gometalinter.json
  CHANGELOG.md
  azurerm/config.go
  azurerm/data_source_azuread_application.go
  azurerm/data_source_azuread_service_principal.go
  azurerm/data_source_monitor_log_profile_test.go
  azurerm/data_source_storage_account_sas.go
  azurerm/data_source_storage_account_sas_test.go
  azurerm/data_source_subscriptions.go
  azurerm/helpers/suppress/string.go
  azurerm/loadbalancer.go
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_application_security_group_test.go
  azurerm/resource_arm_automation_schedule.go
  azurerm/resource_arm_azuread_application.go
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_service.go
  azurerm/resource_arm_cosmos_db_account.go
  azurerm/resource_arm_cosmos_db_account_test.go
  azurerm/resource_arm_data_lake_analytics_firewall_rule_test.go
  azurerm/resource_arm_data_lake_store_firewall_rule_test.go
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_key_vault_access_policy_test.go
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_secret.go
  azurerm/resource_arm_loadbalancer_nat_pool.go
  azurerm/resource_arm_loadbalancer_nat_rule.go
  azurerm/resource_arm_loadbalancer_probe_test.go
  azurerm/resource_arm_loadbalancer_rule.go
  azurerm/resource_arm_loadbalancer_test.go
  azurerm/resource_arm_management_group.go
  azurerm/resource_arm_monitor_metric_alert.go
  azurerm/resource_arm_mysql_server.go
  azurerm/resource_arm_mysql_virtual_network_rule.go
  azurerm/resource_arm_notification_hub_namespace_test.go
  azurerm/resource_arm_postgresql_server.go
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_recovery_services_protected_vm.go
  azurerm/resource_arm_recovery_services_protection_policy_vm.go
  azurerm/resource_arm_servicebus_subscription_rule.go
  azurerm/resource_arm_storage_blob.go
  azurerm/resource_arm_storage_container_test.go
  azurerm/resource_arm_storage_share.go
  azurerm/resource_arm_storage_share_test.go
  azurerm/resource_arm_storage_table.go
  azurerm/resource_arm_storage_table_test.go
  azurerm/test_utils.go
  azurerm/validators.go
Labels: size/XL, technical-debt

#2132 azurerm_servicebus_queue_authorization_rule: fixed example docs
  website/docs/r/servicebus_queue_authorization_rule.html.markdown
Labels: documentation, service/servicebus, size/XS

#2134 update mitchellh packages for 0.11.9
  vendor/github.com/fatih/color/Gopkg.lock
  vendor/github.com/fatih/color/Gopkg.toml
  vendor/github.com/fatih/color/LICENSE.md
  vendor/github.com/fatih/color/README.md
  vendor/github.com/fatih/color/color.go
  vendor/github.com/fatih/color/doc.go
  vendor/github.com/mattn/go-colorable/LICENSE
  vendor/github.com/mattn/go-colorable/README.md
  vendor/github.com/mattn/go-colorable/colorable_appengine.go
  vendor/github.com/mattn/go-colorable/colorable_others.go
  vendor/github.com/mattn/go-colorable/colorable_windows.go
  vendor/github.com/mattn/go-colorable/noncolorable.go
  vendor/github.com/mitchellh/cli/cli.go
  vendor/github.com/mitchellh/cli/go.mod
  vendor/github.com/mitchellh/cli/go.sum
  vendor/github.com/mitchellh/cli/ui_colored.go
  vendor/github.com/mitchellh/copystructure/copystructure.go
  vendor/github.com/mitchellh/copystructure/go.mod
  vendor/github.com/mitchellh/copystructure/go.sum
  vendor/github.com/mitchellh/go-homedir/go.mod
  vendor/github.com/mitchellh/go-testing-interface/go.mod
  vendor/github.com/mitchellh/go-testing-interface/testing_go19.go
  vendor/github.com/mitchellh/go-wordwrap/go.mod
  vendor/github.com/mitchellh/hashstructure/README.md
  vendor/github.com/mitchellh/hashstructure/go.mod
  vendor/github.com/mitchellh/hashstructure/hashstructure.go
  vendor/github.com/mitchellh/mapstructure/CHANGELOG.md
  vendor/github.com/mitchellh/mapstructure/README.md
  vendor/github.com/mitchellh/mapstructure/decode_hooks.go
  vendor/github.com/mitchellh/mapstructure/go.mod
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
  vendor/github.com/mitchellh/reflectwalk/go.mod
  vendor/github.com/mitchellh/reflectwalk/location.go
  vendor/github.com/mitchellh/reflectwalk/location_string.go
  vendor/github.com/mitchellh/reflectwalk/reflectwalk.go
  vendor/vendor.json
Labels: size/XXL, technical-debt

#2142 'dev_test_virtual_machine' simple code fix
  website/docs/r/dev_test_linux_virtual_machine.html.markdown
  website/docs/r/dev_test_windows_virtual_machine.html.markdown
Labels: documentation, service/devtestlabs, size/XS

#2141 Remove mention of `Premium` SKU from redis_firewall_rule
  website/docs/r/redis_firewall_rule.html.markdown
Labels: documentation, service/redis, size/XS

#2156 Example has a type
  website/docs/r/security_center_workspace.markdown
Labels: documentation, service/security-center, size/XS

#2150 Monitor Activity Log Alert: add missing criteria fields
  azurerm/resource_arm_monitor_activity_log_alert.go
  azurerm/resource_arm_monitor_activity_log_alert_test.go
  website/docs/r/monitor_activity_log_alert.html.markdown
Labels: size/M

#2128 Add eku to azurerm_key_vault_certificate
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_certificate_test.go
  website/docs/r/key_vault_certificate.html.markdown
Labels: enhancement, service/keyvault, size/M

#2009 Added option to set the application security group of a VMSS
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: enhancement, service/vmss, size/L, waiting-response

#2139 Add resource azurerm_log_analytics_workspace_linked_service
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_log_analytics_workspace_linked_service.go
  azurerm/resource_arm_log_analytics_workspace_linked_service_test.go
  website/azurerm.erb
  website/docs/r/log_analytics_workspace_linked_service.html.markdown
Labels: new-resource, service/log-analytics, size/XL

#2166 `azurerm_automation_account` - exposing DSC endpoint/creds
  azurerm/config.go
  azurerm/resource_arm_automation_account.go
  azurerm/resource_arm_automation_account_test.go
  website/docs/r/automation_account.html.markdown
Labels: enhancement, service/automation, size/M

#2167 docs/aks: removing the network security group
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/S

#2168 update DataLakeAnalyticsFirewallRule basic test to not occasinaly panic
  azurerm/resource_arm_data_lake_analytics_firewall_rule_test.go
Labels: bug, service/data-lake-analytics, size/XS

#2109 Add multi-master for Azure Cosmos DB accounts
  azurerm/data_source_cosmos_db_account.go
  azurerm/data_source_cosmos_db_account_test.go
  azurerm/resource_arm_cosmos_db_account.go
  azurerm/resource_arm_cosmos_db_account_test.go
  website/docs/d/cosmosdb_account.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
Labels: enhancement, service/cosmos-db, size/M

#2176 ran terraform fmt on examples folder
  examples/automation-account/main.tf
  examples/automation-account/outputs.tf
  examples/datalake/main.tf
  examples/datalake/outputs.tf
  examples/eventhub/main.tf
  examples/eventhub/outputs.tf
  examples/recoveryservice/main.tf
  examples/recoveryservice/modules/vm/outputs.tf
  examples/recoveryservice/outputs.tf
  examples/scheduler-jobs/main.tf
  examples/scheduler-jobs/outputs.tf
  examples/servicebus/main.tf
  examples/vm-two-nics/main.tf
Labels: documentation, size/M

#2086 New resource: DevSpace Controller for AKS cluster
  azurerm/config.go
  azurerm/helpers/validate/devspace.go
  azurerm/helpers/validate/devspace_test.go
  azurerm/provider.go
  azurerm/resource_arm_devspace_controller.go
  azurerm/resource_arm_devspace_controller_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/devspaces/mgmt/2018-06-01-preview/devspaces/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/devspaces/mgmt/2018-06-01-preview/devspaces/controllers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/devspaces/mgmt/2018-06-01-preview/devspaces/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/devspaces/mgmt/2018-06-01-preview/devspaces/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/devspaces/mgmt/2018-06-01-preview/devspaces/version.go
  vendor/vendor.json
  website/azurerm.erb
  website/docs/r/devspace_controller.html.markdown
Labels: new-resource, service/devspace, service/kubernetes-cluster, size/XXL

#2174 Upgrade ACI SDK to `2018-10-01`.
  azurerm/config.go
  azurerm/resource_arm_container_group.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-10-01/containerinstance/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-10-01/containerinstance/container.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-10-01/containerinstance/containergroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-10-01/containerinstance/containergroupusage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-10-01/containerinstance/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-10-01/containerinstance/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-10-01/containerinstance/serviceassociationlink.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-10-01/containerinstance/version.go
  vendor/vendor.json
Labels: enhancement, service/container-instance, size/L

#2124 azurerm_eventhub_namespace: allow maximum_throughput_units to be zero
  azurerm/import_arm_eventgrid_topic_test.go
  azurerm/import_arm_eventhub_consumer_group_test.go
  azurerm/import_arm_eventhub_namespace_test.go
  azurerm/import_arm_eventhub_test.go
  azurerm/resource_arm_eventgrid_topic_test.go
  azurerm/resource_arm_eventhub_consumer_group_test.go
  azurerm/resource_arm_eventhub_namespace.go
  azurerm/resource_arm_eventhub_namespace_test.go
  azurerm/resource_arm_eventhub_test.go
Labels: bug, service/event-hubs, size/XL

#2118 Update managed disk docs with correct sizes & add Ultra SSD type
  azurerm/import_arm_managed_disk_test.go
  azurerm/resource_arm_managed_disk.go
  azurerm/resource_arm_managed_disk_test.go
  website/docs/r/managed_disk.html.markdown
Labels: bug, documentation, service/storage, size/L

#2120 data source azurerm_client_config: always set all properties
  azurerm/data_source_client_config.go
Labels: service/authentication, size/XS

#2154 azurerm_recovery_services_protected_vm: fix docs and mark backup_policy_id as required
  azurerm/resource_arm_recovery_services_protected_vm.go
  website/docs/r/recovery_services_protected_vm.markdown
Labels: bug, documentation, service/recovery-services, size/XS

#2123 Add subject alternative names to azurerm_key_vault_certificate
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_certificate_test.go
  website/docs/r/key_vault_certificate.html.markdown
Labels: enhancement, service/keyvault, size/L

#2125 azurerm_sql_database: add validation to requested_service_objective_name preventing empty values & panics
  azurerm/import_arm_sql_database_test.go
  azurerm/resource_arm_sql_database.go
  azurerm/resource_arm_sql_database_test.go
Labels: bug, service/sql, size/L

#2190 Fixing linting errors
  azurerm/resource_arm_devspace_controller.go
  azurerm/resource_arm_key_vault_certificate.go
Labels: size/XS, technical-debt

#2192 Improve azurerm_policy docs
  website/docs/r/policy_assignment.html.markdown
  website/docs/r/policy_definition.html.markdown
Labels: documentation, service/policy, size/XS

#2182 [Refactoring] Devspace Controller
  azurerm/helpers/validate/base64.go
  azurerm/helpers/validate/base64_test.go
  azurerm/resource_arm_devspace_controller.go
  website/docs/r/devspace_controller.html.markdown
Labels: enhancement, service/devspace, size/M

#2189 API Management: ensuring a Key Vault Child ID is passed
  azurerm/data_source_key_vault_secret.go
  azurerm/helpers/azure/key_vault_child.go
  azurerm/helpers/azure/key_vault_child_test.go
  azurerm/helpers/validate/validate.go
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_key.go
  azurerm/resource_arm_key_vault_secret.go
Labels: enhancement, service/api-management, size/L

#2197 Refactoring: Resource Provider Registration / Auth prep.
  azurerm/config.go
  azurerm/helpers/authentication/authorization_token.go
  azurerm/helpers/authentication/config.go
  azurerm/helpers/authentication/environment.go
  azurerm/helpers/authentication/validation.go
  azurerm/helpers/authentication/validation_test.go
  azurerm/helpers/azure/sender.go
  azurerm/helpers/resourceproviders/registration.go
  azurerm/provider.go
  azurerm/provider_test.go
  azurerm/required_resource_providers.go
  azurerm/required_resource_providers_test.go
Labels: authentication, size/XL, technical-debt
