Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2019-11, with the labels that each got.

#4787 Update azurerm_cosmosdb_account docs possible capabilities
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, service/cosmosdb, size/XS

#4140 r/api_management_api_policy: sending `policy` as Raw XML
  azurerm/internal/services/apimanagement/diff_suppress.go
  azurerm/internal/services/apimanagement/diff_suppress_test.go
  azurerm/resource_arm_api_management_api_operation_policy_test.go
  azurerm/resource_arm_api_management_api_policy.go
  azurerm/resource_arm_api_management_api_policy_test.go
  azurerm/resource_arm_api_management_product_policy_test.go
Labels: bug, service/api-management, size/L

#4789 azurerm_servicebus_subscription - support for the `forward_dead_lettered_messages_to` property
  azurerm/resource_arm_servicebus_subscription.go
  azurerm/resource_arm_servicebus_subscription_test.go
  website/docs/r/servicebus_subscription.html.markdown
Labels: documentation, enhancement, service/servicebus, size/M

#4795 Update virtual_network_gateway.html.markdown
  website/docs/r/virtual_network_gateway.html.markdown
Labels: documentation, service/virtual-networks, size/XS

#4777 azurerm_automation_credential - deprecate `account_name` in favour of `automation_account_name`
  azurerm/automation_variable.go
  azurerm/resource_arm_automation_account.go
  azurerm/resource_arm_automation_credential.go
  azurerm/resource_arm_automation_credential_test.go
  azurerm/resource_arm_automation_dsc_configuration.go
  azurerm/resource_arm_automation_dsc_nodeconfiguration.go
  azurerm/resource_arm_automation_module.go
  azurerm/resource_arm_automation_runbook.go
  azurerm/resource_arm_automation_schedule.go
  azurerm/resource_arm_automation_schedule_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/automation_credential.html.markdown
Labels: documentation, enhancement, service/automation, size/L, waiting-response

#4797 Updated cosmosdb_cassandra_keyspace example to show how the cosmosdb_…
  website/docs/r/cosmosdb_cassandra_keyspace.html.markdown
Labels: documentation, service/cosmosdb, size/XS

#4804 fix private dns cname record delete
  azurerm/resource_arm_private_dns_cname_record.go
  azurerm/resource_arm_private_dns_cname_record_test.go
Labels: bug, service/dns, size/XS

#4812 Use the current way to access object_id
  website/docs/r/sql_active_directory_administrator.markdown
Labels: documentation, size/XS

#4811 note KV secret value doesnt preserve newlines
  website/docs/r/key_vault_secret.html.markdown
Labels: documentation, service/keyvault, size/XS

#4814 Update bastion host ip config name validation to allow for hyphens
  azurerm/resource_arm_bastion_host.go
  azurerm/resource_arm_bastion_host_test.go
Labels: enhancement, service/bastion, size/XS

#4828 website/docs/r/kubernetes_cluster: fix kube_dashboard documentation
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#4832 New Resource: `azurerm_relay_hybrid_connection`
  azurerm/internal/services/relay/client.go
  azurerm/provider.go
  azurerm/resource_arm_relay_hybrid_connection.go
  azurerm/resource_arm_relay_hybrid_connection_test.go
  website/docs/r/relay_hybrid_connection.html.markdown
Labels: documentation, new-resource, service/relay, size/XL

#4592 `azurerm_api_management_api` - the `version` and `version_set_id` properties can now be set
  azurerm/resource_arm_api_management_api.go
  azurerm/resource_arm_api_management_api_test.go
  website/docs/r/api_management_api.html.markdown
Labels: documentation, enhancement, service/api-management, size/M

#4838 Support for Custom Timeouts in Custom Refresh Func's
  azurerm/resource_arm_automation_module.go
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_service.go
  azurerm/resource_arm_cosmosdb_account.go
  azurerm/resource_arm_eventhub_namespace.go
  azurerm/resource_arm_eventhub_namespace_disaster_recovery_config.go
  azurerm/resource_arm_iot_dps.go
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_mariadb_virtual_network_rule.go
  azurerm/resource_arm_monitor_diagnostic_setting.go
  azurerm/resource_arm_mysql_virtual_network_rule.go
  azurerm/resource_arm_notification_hub.go
  azurerm/resource_arm_notification_hub_namespace.go
  azurerm/resource_arm_policy_assignment.go
  azurerm/resource_arm_policy_definition.go
  azurerm/resource_arm_policy_set_definition.go
  azurerm/resource_arm_postgresql_virtual_network_rule.go
  azurerm/resource_arm_private_dns_zone_virtual_network_link.go
  azurerm/resource_arm_recovery_services_protected_vm.go
  azurerm/resource_arm_recovery_services_protection_policy_vm.go
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_relay_hybrid_connection.go
  azurerm/resource_arm_relay_namespace.go
  azurerm/resource_arm_security_center_workspace.go
  azurerm/resource_arm_sql_virtual_network_rule.go
  azurerm/resource_arm_storage_share_directory.go
  azurerm/resource_arm_template_deployment.go
  azurerm/resource_arm_template_deployment_test.go
Labels: enhancement, provider, size/XL

#4806 Updating the Github issue templates
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/ISSUE_TEMPLATE/config.yaml
Labels: provider, size/XS

#4845 provider: make registry doc checker a bit more helpful
  .travis.yml
  GNUmakefile
  scripts/website-registrycheck.sh
Labels: documentation, provider, size/XS, tests

#4844 azurerm_container_registry - add network access profile test
  azurerm/resource_arm_container_registry_test.go
Labels: service/container-registry, size/M, tests

#4841 new resource azurerm_private_dns_aaaa_record
  azurerm/provider.go
  azurerm/resource_arm_private_dns_aaaa_record.go
  azurerm/resource_arm_private_dns_aaaa_record_test.go
  website/azurerm.erb
  website/docs/r/private_dns_aaaa_record.html.markdown
Labels: documentation, new-resource, service/dns, size/XL

#4550 Edge node support for HDInsight
  azurerm/common_hdinsight.go
  azurerm/helpers/azure/hdinsight.go
  azurerm/resource_arm_hdinsight_hadoop_cluster.go
  azurerm/resource_arm_hdinsight_hadoop_cluster_test.go
  azurerm/testdata/hadoop_cluster_empty_node.sh
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
Labels: documentation, enhancement, service/hdinsight, size/XL

#4849 `azurerm_virtual_network_gateway_connection` - Configure `routing_weight` with weight `0`
  azurerm/resource_arm_virtual_network_gateway_connection.go
Labels: enhancement, service/virtual-network-gateway, size/XS

#4860 Removed `arm` from `data_source_data_factory` datasource filename(s)
  azurerm/data_source_data_factory.go
  azurerm/data_source_data_factory_test.go
Labels: refactor, service/data-factory, size/XS

#4863 Remove redundant mention of identities
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#4862 Fix typo
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#4793 New Resource: `azurerm_data_factory_trigger_schedule`
  azurerm/helpers/validate/datafactory.go
  azurerm/helpers/validate/datafactory_test.go
  azurerm/internal/services/datafactory/client.go
  azurerm/provider.go
  azurerm/resource_arm_data_factory.go
  azurerm/resource_arm_data_factory_dataset_mysql.go
  azurerm/resource_arm_data_factory_dataset_postgresql.go
  azurerm/resource_arm_data_factory_dataset_sql_server_table.go
  azurerm/resource_arm_data_factory_integration_runtime_managed.go
  azurerm/resource_arm_data_factory_linked_service_data_lake_storage_gen2.go
  azurerm/resource_arm_data_factory_linked_service_mysql.go
  azurerm/resource_arm_data_factory_linked_service_postgresql.go
  azurerm/resource_arm_data_factory_linked_service_sql_server.go
  azurerm/resource_arm_data_factory_pipeline.go
  azurerm/resource_arm_data_factory_trigger_schedule.go
  azurerm/resource_arm_data_factory_trigger_schedule_test.go
  website/azurerm.erb
  website/docs/r/data_factory_trigger_schedule.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#4870 Doc Fix: `data_factory_trigger_schedule` add subcategory
  website/docs/r/data_factory_trigger_schedule.html.markdown
Labels: documentation, service/data-factory, size/XS

#4639 azurerm_firewall: allow multiple `ip_configuration` blocks
  azurerm/data_source_firewall.go
  azurerm/resource_arm_firewall.go
  azurerm/resource_arm_firewall_test.go
  website/docs/r/firewall.html.markdown
Labels: bug, documentation, service/firewall, size/L

#4416 add new resource & data source: `azurerm_netapp_account`
  azurerm/config.go
  azurerm/data_source_netapp_account.go
  azurerm/data_source_netapp_account_test.go
  azurerm/internal/services/netapp/client.go
  azurerm/provider.go
  azurerm/resource_arm_netapp_account.go
  azurerm/resource_arm_netapp_account_test.go
  examples/netapp/account/main.tf
  examples/netapp/account/variables.tf
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-06-01/netapp/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-06-01/netapp/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-06-01/netapp/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-06-01/netapp/mounttargets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-06-01/netapp/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-06-01/netapp/pools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-06-01/netapp/snapshots.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-06-01/netapp/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-06-01/netapp/volumes.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/d/netapp_account.html.markdown
  website/docs/r/netapp_account.html.markdown
Labels: dependencies, documentation, service/netapp, size/XXL

#4887 Fix the issue of missing subcategory attribute for md file
  website/docs/d/netapp_account.html.markdown
  website/docs/r/netapp_account.html.markdown
Labels: documentation, size/XS

#4876 `azurerm_eventgrid_domain` - Export `primary_access_key` and `secondary_access_key`
  azurerm/resource_arm_eventgrid_domain.go
  azurerm/resource_arm_eventgrid_domain_test.go
  website/docs/r/eventgrid_domain.html.markdown
Labels: documentation, enhancement, service/event-grid, size/XS

#4894 Doc Fix: `azurerm_api_management` swap deprecated fields for valid ones and fix `azurerm_api_management_api_version_set` doc
  website/azurerm.erb
  website/docs/r/api_management_api_version_set.html.markdown
  website/docs/r/api_management_backend.html.markdown
  website/docs/r/api_management_certificate.html.markdown
  website/docs/r/api_management_openid_connect_provider.html.markdown
Labels: documentation, size/S

#4897 `azurerm_app_service` - Add support for `JAVA` container
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service_test.go
  website/docs/r/app_service.html.markdown
Labels: documentation, size/M

#4888 Add LUIS.Authoring to cognitive services
  azurerm/resource_arm_cognitive_account.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, enhancement, service/cognitive-services, size/XS

#4779 support minor version of java in azurerm_app_service settings
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, enhancement, service/app-service, size/M

#4852 resource_arm_network_interface.go: Fixes #4721
  azurerm/resource_arm_network_interface.go
Labels: bug, service/network-interfaces, size/XS

#4809 azurerm_storage_share - minimum quota value correction
  website/docs/r/storage_share.html.markdown
Labels: documentation, service/storage, size/XS

#4900 refactor: moving A-C of the Compute clients
  azurerm/config.go
  azurerm/internal/clients/client.go
Labels: provider, refactor, size/S

#4866 `azurerm_postgres_database` allow `-`s in database collation
  azurerm/helpers/validate/database.go
  azurerm/helpers/validate/database_test.go
  azurerm/resource_arm_postgresql_database.go
Labels: enhancement, service/postgresql, size/XS

#4638 azurerm_monitor_action_group: Add Arm Role Receiver and more common alert schema support
  azurerm/data_source_monitor_action_group.go
  azurerm/data_source_monitor_action_group_test.go
  azurerm/resource_arm_monitor_action_group.go
  azurerm/resource_arm_monitor_action_group_test.go
  website/docs/d/monitor_action_group.html.markdown
  website/docs/r/monitor_action_group.html.markdown
Labels: documentation, enhancement, service/monitor, size/XXL

#4904 provider docs: change hdinsights kafka cluster example to working version combination
  website/docs/r/hdinsight_kafka_cluster.html.markdown
Labels: documentation, service/hdinsight, size/XS

#4823 New resources: `iothub_endpoint_storage_container`, `iothub_endpoint_eventhub`, `iothub_endpoint_servicebus_queue`, `iothub_endpoint_servicebus_topic`
  azurerm/helpers/validate/iothub.go
  azurerm/helpers/validate/storage_container.go
  azurerm/provider.go
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_iothub_endpoint_eventhub.go
  azurerm/resource_arm_iothub_endpoint_eventhub_test.go
  azurerm/resource_arm_iothub_endpoint_servicebus_queue.go
  azurerm/resource_arm_iothub_endpoint_servicebus_queue_test.go
  azurerm/resource_arm_iothub_endpoint_servicebus_topic.go
  azurerm/resource_arm_iothub_endpoint_servicebus_topic_test.go
  azurerm/resource_arm_iothub_endpoint_storage_container.go
  azurerm/resource_arm_iothub_endpoint_storage_container_test.go
  azurerm/resource_arm_storage_blob.go
  azurerm/resource_arm_storage_container.go
  azurerm/resource_arm_storage_container_test.go
  website/azurerm.erb
  website/docs/r/iothub.html.markdown
  website/docs/r/iothub_endpoint_eventhub.html.markdown
  website/docs/r/iothub_endpoint_servicebus_queue.html.markdown
  website/docs/r/iothub_endpoint_servicebus_topic.html.markdown
  website/docs/r/iothub_endpoint_storage_container.html.markdown
Labels: documentation, new-resource, service/iothub, size/XXL

#4910 Fixed import example for App Service Plan - failed because of incorrect case
  website/docs/r/app_service_plan.html.markdown
Labels: documentation, service/app-service, size/XS

#4873 `azurerm_key_vault_secret` - support for `not_before_date` and `expiration_date`
  azurerm/resource_arm_key_vault_secret.go
  azurerm/resource_arm_key_vault_secret_test.go
  website/docs/r/key_vault_secret.html.markdown
Labels: documentation, enhancement, service/keyvault, size/M

#4889 New Resource & Data Source: `azurerm_netapp_pool`
  azurerm/data_source_netapp_account.go
  azurerm/data_source_netapp_pool.go
  azurerm/data_source_netapp_pool_test.go
  azurerm/internal/services/netapp/client.go
  azurerm/internal/services/netapp/validate.go
  azurerm/provider.go
  azurerm/resource_arm_netapp_account.go
  azurerm/resource_arm_netapp_pool.go
  azurerm/resource_arm_netapp_pool_test.go
  examples/netapp/pool/main.tf
  examples/netapp/pool/variables.tf
  website/azurerm.erb
  website/docs/d/netapp_pool.html.markdown
  website/docs/r/netapp_pool.html.markdown
Labels: documentation, size/XL

#4909 Add mention of skip_provider_registration in resource provider registration error
  azurerm/provider.go
Labels: documentation, provider, size/XS

#4917 App Service: support for php 7.3
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, size/XS

#4634 `azurerm_hdinsight_*` - support HDInsight clusters with Data Lake Gen2 Filesystems
  azurerm/helpers/azure/hdinsight.go
  azurerm/resource_arm_hdinsight_hadoop_cluster.go
  azurerm/resource_arm_hdinsight_hadoop_cluster_test.go
  azurerm/resource_arm_hdinsight_hbase_cluster.go
  azurerm/resource_arm_hdinsight_hbase_cluster_test.go
  azurerm/resource_arm_hdinsight_interactive_query_cluster.go
  azurerm/resource_arm_hdinsight_interactive_query_cluster_test.go
  azurerm/resource_arm_hdinsight_kafka_cluster.go
  azurerm/resource_arm_hdinsight_kafka_cluster_test.go
  azurerm/resource_arm_hdinsight_ml_services_cluster.go
  azurerm/resource_arm_hdinsight_rserver_cluster.go
  azurerm/resource_arm_hdinsight_spark_cluster.go
  azurerm/resource_arm_hdinsight_spark_cluster_test.go
  azurerm/resource_arm_hdinsight_storm_cluster.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
Labels: documentation, enhancement, service/hdinsight, size/XXL

#4898 r/kubernetes_cluster: supporting conditional updates / introducing `default_node_pool`
  azurerm/data_source_kubernetes_cluster_test.go
  azurerm/internal/services/containers/client.go
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/containers/kubernetes_id.go
  azurerm/internal/services/containers/kubernetes_id_test.go
  azurerm/internal/services/containers/kubernetes_nodepool.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_addons_test.go
  azurerm/resource_arm_kubernetes_cluster_auth_test.go
  azurerm/resource_arm_kubernetes_cluster_legacy_test.go
  azurerm/resource_arm_kubernetes_cluster_network_test.go
  azurerm/resource_arm_kubernetes_cluster_other_test.go
  azurerm/resource_arm_kubernetes_cluster_scaling_test.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/XXL

#4919 New Resource & Data Source: `azurerm_virtual_hub`
  azurerm/data_source_virtual_hub.go
  azurerm/data_source_virtual_hub_test.go
  azurerm/internal/services/network/client.go
  azurerm/internal/services/network/validate.go
  azurerm/provider.go
  azurerm/resource_arm_virtual_hub.go
  azurerm/resource_arm_virtual_hub_test.go
  examples/virtual-networks/virtual-hub/main.tf
  examples/virtual-networks/virtual-hub/variables.tf
  website/azurerm.erb
  website/docs/d/virtual_hub.html.markdown
  website/docs/r/virtual_hub.html.markdown
Labels: documentation, new-data-source, new-resource, size/XXL

#4921 provider: normalize acctest resource group names
  azurerm/data_source_storage_account_blob_container_sas_test.go
  azurerm/data_source_storage_account_sas_test.go
  azurerm/data_source_storage_account_test.go
  azurerm/data_source_storage_management_policy_test.go
  azurerm/resource_arm_api_management_test.go
  azurerm/resource_arm_dev_test_windows_virtual_machine_test.go
  azurerm/resource_arm_recovery_services_network_mapping_test.go
  azurerm/resource_arm_recovery_services_protected_vm_test.go
  azurerm/resource_arm_recovery_services_protection_container_mapping_test.go
  azurerm/resource_arm_recovery_services_replicated_vm_test.go
  azurerm/resource_arm_storage_account_test.go
  azurerm/resource_arm_storage_management_policy_test.go
Labels: provider, size/M, tests

#4927 refactor: moving clients D through L
  azurerm/config.go
  azurerm/internal/clients/client.go
Labels: provider, refactor, size/S

#4929 r/kubernetes_cluster: mapping fields out of the response case-insensitively
  azurerm/internal/services/containers/kubernetes_addons.go
Labels: bug, service/kubernetes-cluster, size/XS

#4941 r/resource_group: fixing a bug in the deletion assertion
  azurerm/resource_arm_resource_group_test.go
Labels: bug, service/resources, size/XS

#4930 r/network_interface: making the `private_ip_address` computed
  azurerm/resource_arm_network_interface.go
  azurerm/resource_arm_network_interface_test.go
Labels: bug, regression, service/network-interfaces, size/XS

#4899 New Resource: `azurerm_kubernetes_cluster_node_pool`
  azurerm/internal/services/containers/nodepool_id.go
  azurerm/provider.go
  azurerm/resource_arm_kubernetes_cluster_node_pool.go
  azurerm/resource_arm_kubernetes_cluster_node_pool_test.go
  website/azurerm.erb
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, new-resource, service/kubernetes-cluster, size/XXL

#4925 `azurerm_application_insights` - support for `sampling_percentage`
  azurerm/resource_arm_application_insights.go
  azurerm/resource_arm_application_insights_test.go
  website/docs/r/application_insights.html.markdown
Labels: documentation, enhancement, service/application-insights, size/M

#4944 Activity log alert - Add ResourceHealth category
  azurerm/resource_arm_monitor_activity_log_alert.go
  website/docs/r/monitor_activity_log_alert.html.markdown
Labels: documentation, enhancement, service/monitor, size/XS

#4946 r/kubernetes_cluster: documenting the `vnet_subnet_id` field limitation
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#4951 `azurerm_netapp_pool`: `size_in_4_tb` -> `size_in_tb`
  azurerm/data_source_netapp_pool.go
  azurerm/data_source_netapp_pool_test.go
  azurerm/resource_arm_netapp_pool.go
  azurerm/resource_arm_netapp_pool_test.go
  website/docs/d/netapp_pool.html.markdown
  website/docs/r/netapp_pool.html.markdown
Labels: documentation, enhancement, service/netapp, size/XS

#4923 New Resource: `azurerm_iothub_route`
  azurerm/provider.go
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_iothub_endpoint_eventhub.go
  azurerm/resource_arm_iothub_endpoint_servicebus_queue.go
  azurerm/resource_arm_iothub_endpoint_servicebus_topic.go
  azurerm/resource_arm_iothub_endpoint_storage_container.go
  azurerm/resource_arm_iothub_route.go
  azurerm/resource_arm_iothub_route_test.go
  website/docs/r/iothub.html.markdown
  website/docs/r/iothub_route.html.markdown
Labels: documentation, new-resource, service/iothub, size/XL

#4953 `azurerm_container_group` - Prevent empty string from being passed into `commands`
  azurerm/resource_arm_container_group.go
Labels: crash, service/container-group, size/XS

#4426 New Resource/Data Source: `azurerm_private_link_service`, Data Source: `azurerm_private_link_service_endpoint_connections` and expose in `azurerm_lb` and `azurerm_subnet`
  azurerm/data_source_loadbalancer.go
  azurerm/data_source_private_link_service.go
  azurerm/data_source_private_link_service_endpoint_connections.go
  azurerm/data_source_private_link_service_test.go
  azurerm/data_source_subnet.go
  azurerm/helpers/validate/uuid.go
  azurerm/internal/services/network/client.go
  azurerm/internal/services/network/validate.go
  azurerm/provider.go
  azurerm/resource_arm_loadbalancer.go
  azurerm/resource_arm_private_link_service.go
  azurerm/resource_arm_private_link_service_test.go
  azurerm/resource_arm_subnet.go
  azurerm/utils/split.go
  examples/virtual-networks/private-link-service/README.md
  examples/virtual-networks/private-link-service/main.tf
  examples/virtual-networks/private-link-service/variables.tf
  website/azurerm.erb
  website/docs/d/loadbalancer.html.markdown
  website/docs/d/private_link_service.html.markdown
  website/docs/d/private_link_service_endpoint_connections.html.markdown
  website/docs/d/subnet.html.markdown
  website/docs/r/loadbalancer.html.markdown
  website/docs/r/private_link_service.html.markdown
  website/docs/r/subnet.html.markdown
Labels: documentation, enhancement, new-data-source, new-resource, service/network-interfaces, service/private-link, size/XXL

#4954 azurerm_postgresql_database - add test that has a - in the collation
  azurerm/helpers/validate/database.go
  azurerm/helpers/validate/database_test.go
  azurerm/resource_arm_mariadb_database.go
  azurerm/resource_arm_postgresql_database.go
  azurerm/resource_arm_postgresql_database_test.go
Labels: service/postgresql, size/M, tests

#4959 provider: being more descriptive with the resource provider error
  azurerm/provider.go
Labels: documentation, provider, size/XS

#4961 Virtual Wan: refactoring & temporarily removing from the release
  azurerm/data_source_virtual_hub.go
  azurerm/provider.go
  azurerm/resource_arm_virtual_hub.go
  azurerm/resource_arm_virtual_hub_test.go
  website/azurerm.erb
  website/docs/r/virtual_hub.html.markdown
Labels: bug, documentation, service/virtual-hub, size/XL

#4976 temporarily hiding from the registry
  website/docs/r/virtual_hub.html.markdown.noregistry
Labels: documentation, size/XS

#4979 dependencies: switching to use a fork of the Go SDK temporarily
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-06-01/netapp/pools.go
  vendor/modules.txt
Labels: dependencies, size/XS

#4981 r/netapp: another couple of 32-bit overflows
  azurerm/resource_arm_netapp_pool.go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-06-01/netapp/volumes.go
  vendor/modules.txt
Labels: bug, dependencies, service/netapp, size/XS

#4940 refactor: moving Account Information into it's own struct
  azurerm/config.go
  azurerm/data_source_client_config.go
  azurerm/data_source_storage_account.go
  azurerm/data_source_subscription.go
  azurerm/data_source_subscription_test.go
  azurerm/data_source_subscriptions.go
  azurerm/internal/clients/auth.go
  azurerm/internal/clients/client.go
  azurerm/provider.go
  azurerm/required_resource_providers_test.go
  azurerm/resource_arm_api_management_group_user.go
  azurerm/resource_arm_api_management_product_api.go
  azurerm/resource_arm_api_management_product_group.go
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_data_lake_store_file_migration_test.go
  azurerm/resource_arm_databricks_workspace.go
  azurerm/resource_arm_dev_test_virtual_network.go
  azurerm/resource_arm_front_door.go
  azurerm/resource_arm_image_test.go
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_iothub_endpoint_eventhub.go
  azurerm/resource_arm_iothub_endpoint_servicebus_queue.go
  azurerm/resource_arm_iothub_endpoint_servicebus_topic.go
  azurerm/resource_arm_iothub_endpoint_storage_container.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_management_group.go
  azurerm/resource_arm_scheduler_job.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_blob_migration.go
  azurerm/resource_arm_storage_blob_migration_test.go
  azurerm/resource_arm_storage_container_migration.go
  azurerm/resource_arm_storage_container_migration_test.go
  azurerm/resource_arm_storage_queue_migration.go
  azurerm/resource_arm_storage_queue_migration_test.go
  azurerm/resource_arm_storage_share_migration.go
  azurerm/resource_arm_storage_share_migration_test.go
  azurerm/resource_arm_storage_table_migration.go
  azurerm/resource_arm_storage_table_migration_test.go
Labels: provider, refactor, size/XL

#4978 remove eventhub's kafka_enabled from all tests
  azurerm/resource_arm_stream_analytics_output_eventhub_test.go
  azurerm/resource_arm_stream_analytics_stream_input_eventhub_test.go
  website/docs/r/eventhub.html.markdown
  website/docs/r/stream_analytics_output_eventhub.html.markdown
  website/docs/r/stream_analytics_stream_input_eventhub.html.markdown
Labels: documentation, service/event-hubs, size/XS, tests

#4980 data.azurerm_netapp_pool - fix failing test
  azurerm/data_source_netapp_pool_test.go
Labels: service/netapp, size/XS, tests

#4997 Website markdown fixes for duplicate 'the'.
  website/docs/d/servicebus_namespace_authorization_rule.html.markdown
  website/docs/r/bot_channel_email.markdown
  website/docs/r/container_registry.html.markdown
  website/docs/r/data_factory_trigger_schedule.html.markdown
  website/docs/r/front_door_firewall_policy.html.markdown
  website/docs/r/image.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/public_ip.html.markdown
  website/docs/r/scheduler_job.html.markdown
Labels: bug, documentation, size/XS

#4999 Resolves #3603
  website/docs/r/monitor_action_group.html.markdown
Labels: documentation, service/monitor, size/XS

#5000 Add `fqdn` attribute for DNS record resources
  azurerm/resource_arm_dns_a_record.go
  azurerm/resource_arm_dns_a_record_test.go
  azurerm/resource_arm_dns_aaaa_record.go
  azurerm/resource_arm_dns_aaaa_record_test.go
  azurerm/resource_arm_dns_caa_record.go
  azurerm/resource_arm_dns_caa_record_test.go
  azurerm/resource_arm_dns_cname_record.go
  azurerm/resource_arm_dns_cname_record_test.go
  azurerm/resource_arm_dns_mx_record.go
  azurerm/resource_arm_dns_mx_record_test.go
  azurerm/resource_arm_dns_ns_record.go
  azurerm/resource_arm_dns_ns_record_test.go
  azurerm/resource_arm_dns_ptr_record.go
  azurerm/resource_arm_dns_ptr_record_test.go
  azurerm/resource_arm_dns_srv_record.go
  azurerm/resource_arm_dns_srv_record_test.go
  azurerm/resource_arm_dns_txt_record.go
  azurerm/resource_arm_dns_txt_record_test.go
  website/docs/r/dns_a_record.html.markdown
  website/docs/r/dns_aaaa_record.html.markdown
  website/docs/r/dns_caa_record.html.markdown
  website/docs/r/dns_cname_record.html.markdown
  website/docs/r/dns_mx_record.html.markdown
  website/docs/r/dns_ns_record.html.markdown
  website/docs/r/dns_ptr_record.html.markdown
  website/docs/r/dns_srv_record.html.markdown
  website/docs/r/dns_txt_record.html.markdown
Labels: documentation, enhancement, service/dns, size/M

#4989 Add IoT Hub Resources section to the website
  website/azurerm.erb
Labels: documentation, service/iothub, size/M

#4908 Only lock each virtual network once
  azurerm/resource_arm_storage_account.go
Labels: bug, service/storage, size/XS

#4958 Update min_capacity and max_capacity of application gateway
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/XS

#5019 azurerm_mysql_server - add support for version 8.0
  azurerm/resource_arm_mysql_server.go
  azurerm/resource_arm_mysql_server_test.go
  website/docs/r/mysql_server.html.markdown
Labels: documentation, enhancement, service/mysql, size/M

#5016 refactor: moving the remaining clients into the common struct
  azurerm/config.go
  azurerm/internal/clients/client.go
Labels: provider, refactor, size/M

#5017 r/mssql_elasticpool: fixing a crash when `sku` was nil
  azurerm/resource_arm_mssql_elasticpool.go
Labels: bug, crash, service/mssql, size/XS

#5018 import: adding a validator prior to import
  azurerm/internal/services/resource/group_parser.go
  azurerm/internal/services/resource/group_parser_test.go
  azurerm/internal/services/resource/group_validator.go
  azurerm/internal/services/resource/group_validator_test.go
  azurerm/internal/tf/schema/import.go
  azurerm/internal/tf/schema/import_test.go
  azurerm/resource_arm_resource_group.go
  azurerm/resource_arm_route_table.go
Labels: provider, size/XL

#5020 timeouts: adding timeouts to resources which are missing them
  azurerm/data_source_app_service_certificate_order.go
  azurerm/data_source_healthcare_service.go
  azurerm/data_source_kubernetes_service_version.go
  azurerm/data_source_netapp_account.go
  azurerm/data_source_netapp_pool.go
  azurerm/data_source_private_link_service.go
  azurerm/data_source_private_link_service_endpoint_connections.go
  azurerm/data_source_virtual_hub.go
  azurerm/resource_arm_app_service_certificate_order.go
  azurerm/resource_arm_bastion_host.go
  azurerm/resource_arm_healthcare_service.go
  azurerm/resource_arm_kubernetes_cluster_node_pool.go
  azurerm/resource_arm_netapp_account.go
  azurerm/resource_arm_netapp_pool.go
  azurerm/resource_arm_private_link_service.go
  azurerm/resource_arm_virtual_hub.go
Labels: enhancement, provider, size/L

#4915 New resource 'azurerm_private_dns_mx_record'
  azurerm/provider.go
  azurerm/resource_arm_private_dns_mx_record.go
  azurerm/resource_arm_private_dns_mx_record_test.go
  website/azurerm.erb
  website/docs/r/private_dns_mx_record.html.markdown
Labels: documentation, new-resource, service/dns, size/XL

#5027 print storage account name in validation error
  azurerm/resource_arm_storage_account.go
Labels: enhancement, service/storage, size/XS
