Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2019-08, with the labels that each got.

#3554 New Resource azurerm_dev_test_lab_schedule - Fix for issue 2334
  azurerm/internal/services/devtestlabs/client.go
  azurerm/provider.go
  azurerm/resource_arm_dev_test_lab_schedule.go
  azurerm/resource_arm_dev_test_lab_schedule_test.go
  website/docs/r/dev_test_lab_schedule.html.markdown
Labels: documentation, new-resource, service/devtestlabs, size/XL

#3990 Bug Fix: `azurerm_app_service_plan` - workaround for missing error on 404
  azurerm/resource_arm_app_service_plan.go
Labels: size/XS

#3992 azurerm/resource_arm_app_service_plan.go Fixing typo
  azurerm/resource_arm_app_service_plan.go
Labels: size/XS

#3922 New Feature: `azrurerm_iot_dps` - add support for `linked_hub`
  azurerm/resource_arm_iot_dps.go
  azurerm/resource_arm_iot_dps_test.go
  website/docs/r/iot_dps.html.markdown
Labels: documentation, enhancement, service/iothub, size/L

#3915 azurerm_postgresql_server - remove unsupported version `10.2`
  azurerm/resource_arm_postgresql_server.go
  azurerm/resource_arm_postgresql_server_test.go
  website/docs/r/postgresql_server.html.markdown
Labels: bug, documentation, service/postgresql, size/S

#3746 Data source for azurerm_dev_test_virtual_network
  azurerm/data_source_dev_test_virtual_network.go
  azurerm/data_source_dev_test_virtual_network_test.go
  azurerm/provider.go
  website/docs/d/dev_test_virtual_network.html.markdown
Labels: documentation, new-data-source, service/devtestlabs, size/XL

#3949 azurerm_function_app - support for cors
  azurerm/helpers/azure/app_service.go
  azurerm/helpers/azure/web.go
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_function_app_test.go
  website/docs/r/function_app.html.markdown
Labels: documentation, enhancement, service/functions, size/L

#3913 azurerm_role_definition - enture role_definition_id is correctly set if left empty after after create
  azurerm/resource_arm_role_definition.go
  azurerm/resource_arm_role_definition_test.go
Labels: bug, service/roles, size/M

#3994 Updated api_management_api_policy for XML file explanation
  website/docs/r/api_management_api_policy.html.markdown
Labels: documentation, service/api-management, size/XS

#3473 `azurerm_traffic_manager_profile` - support for the `interval_in_seconds`, `timeout_in_seconds`, and `tolerated_number_of_failures` propeties
  azurerm/resource_arm_traffic_manager_profile.go
  azurerm/resource_arm_traffic_manager_profile_test.go
  examples/traffic-manager/basic/main.tf
  website/docs/r/traffic_manager_endpoint.html.markdown
  website/docs/r/traffic_manager_profile.html.markdown
Labels: documentation, service/traffic-manager, size/L, waiting-response

#3999 Migrate clients
  azurerm/config.go
  azurerm/data_source_app_service.go
  azurerm/data_source_app_service_plan.go
  azurerm/internal/services/analysisservices/client.go
  azurerm/internal/services/web/client.go
  azurerm/resource_arm_analysis_services_server.go
  azurerm/resource_arm_analysis_services_server_test.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_active_slot.go
  azurerm/resource_arm_app_service_custom_hostname_binding.go
  azurerm/resource_arm_app_service_custom_hostname_binding_test.go
  azurerm/resource_arm_app_service_plan.go
  azurerm/resource_arm_app_service_plan_test.go
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_function_app_test.go
Labels: provider, refactor, size/L

#3977 azurerm_batch_certificate - fix thumbprint casing in tests
  azurerm/config.go
  azurerm/data_source_batch_certificate_test.go
  azurerm/data_source_batch_pool_test.go
  azurerm/resource_arm_batch_certificate.go
  azurerm/resource_arm_batch_certificate_test.go
  azurerm/resource_arm_batch_pool_test.go
Labels: service/batch, size/S, tests

#4005 azurerm_analysis_services_server - correct import documentation (server -> servers)
  website/docs/r/analysis_services_server.html.markdown
Labels: documentation, service/analysis, size/XS

#4007 change linting GOGC to 15
  .travis.yml
Labels: provider, size/XS

#4018 Groundwork for Service Registration
  azurerm/deprecated.go
  azurerm/deprecated_test.go
  azurerm/feature_flags.go
  azurerm/helpers/validate/compute.go
  azurerm/helpers/validate/compute_test.go
  azurerm/helpers/validate/database.go
  azurerm/helpers/validate/database_test.go
  azurerm/helpers/validate/time.go
  azurerm/helpers/validate/time_test.go
  azurerm/internal/services/common/service_registration.go
  azurerm/internal/tags/expand.go
  azurerm/internal/tags/expand_test.go
  azurerm/internal/tags/filter.go
  azurerm/internal/tags/filter_test.go
  azurerm/internal/tags/flatten.go
  azurerm/internal/tags/flatten_test.go
  azurerm/internal/tags/schema.go
  azurerm/internal/tags/validation.go
  azurerm/internal/tags/validation_test.go
  azurerm/networking.go
  azurerm/provider.go
  azurerm/resource_arm_data_lake_store_file.go
  azurerm/resource_arm_data_lake_store_file_test.go
  azurerm/resourceid.go
  azurerm/tags.go
  azurerm/validators.go
  azurerm/validators_test.go
Labels: enhancement, refactor, size/XXL

#4023 provider: add the disable_correlation_request_id option and reduce its log spam
  azurerm/config.go
  azurerm/internal/common/client.go
  azurerm/internal/common/correlation_id.go
  azurerm/provider.go
  azurerm/required_resource_providers_test.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_data_lake_store_file_migration_test.go
  azurerm/resource_arm_storage_blob_migration_test.go
  azurerm/resource_arm_storage_container_migration_test.go
  azurerm/resource_arm_storage_queue_migration_test.go
Labels: provider, refactor, size/M

#4022 refactor: moving Locks into the `internal` directory
  azurerm/deprecated.go
  azurerm/internal/locks/lock.go
  azurerm/locks.go
  azurerm/provider.go
  azurerm/resource_arm_loadbalancer_backend_address_pool.go
  azurerm/resource_arm_loadbalancer_nat_pool.go
  azurerm/resource_arm_loadbalancer_nat_rule.go
  azurerm/resource_arm_loadbalancer_outbound_rule.go
  azurerm/resource_arm_loadbalancer_probe.go
  azurerm/resource_arm_loadbalancer_rule.go
Labels: refactor, size/M

#4024 remove extra date from the DEBUG log
  azurerm/provider.go
Labels: bug, provider, refactor, size/XS

#4033 dns_zone: deprecating the `zone_type` field
  azurerm/data_source_dns_zone.go
  azurerm/resource_arm_dns_zone.go
  website/docs/d/dns_zone.html.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/dns_zone.html.markdown
Labels: deprecation, documentation, service/dns, size/XS

#4038 provider: ensure test logging has date/time
  azurerm/provider.go
  main.go
Labels: provider, regression, size/XS

#3716 Support virtual networks for container groups
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/container-group, size/L, upstream-microsoft

#4036 Update postgresql_server.html.markdown
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, service/postgresql, size/XS

#4011 Update storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XS

#4039 provider: misc golang inspection cleanup
  azurerm/data_factory.go
  azurerm/helpers/azure/automation_variable.go
  azurerm/helpers/azure/batch_pool.go
  azurerm/helpers/azure/hdinsight.go
  azurerm/helpers/azure/location.go
  azurerm/helpers/azure/sender.go
  azurerm/helpers/validate/mariadb.go
  azurerm/internal/services/storage/metadata.go
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_batch_account_test.go
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_iot_dps.go
  azurerm/resource_arm_logic_app_action_http.go
  azurerm/resource_arm_logic_app_trigger_http_request.go
  azurerm/resource_arm_metric_alertrule_test.go
  azurerm/resource_arm_monitor_metric_alertrule_test.go
  azurerm/resource_arm_policy_definition_test.go
  azurerm/resource_arm_sql_server.go
  azurerm/resource_arm_storage_blob.go
  azurerm/resource_arm_storage_share_migration.go
  azurerm/resource_arm_storage_table_test.go
Labels: provider, refactor, size/L

#4013 azurerm_container_group - allow empty log_type
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/log-analytics, size/M

#3946 clarification on which API to use
  website/docs/r/azuread_application.html.markdown
Labels: documentation, size/XS, waiting-response

#4037 r/storage_account: making `default_action` required
  azurerm/resource_arm_storage_account.go
  website/docs/r/storage_account.html.markdown
Labels: bug, documentation, service/storage, size/M

#3987 azurerm_monitor_diagnostic_setting - added LogAnalyticsDestinationType
  azurerm/resource_arm_monitor_diagnostic_setting.go
  azurerm/resource_arm_monitor_diagnostic_setting_test.go
  website/docs/r/monitor_diagnostic_setting.html.markdown
Labels: documentation, enhancement, service/monitor, size/M

#4051 Update servicebus_subscription_rule.html.markdown
  website/docs/r/servicebus_subscription_rule.html.markdown
Labels: documentation, service/servicebus, size/XS

#4054 [azurerm_storage_share] all up to 100TB for the `quota` property
  azurerm/resource_arm_storage_share.go
  website/docs/r/storage_share.html.markdown
Labels: documentation, service/storage, size/XS

#4057 I noticed at the top of the page, it still said azurerm_dns_a_record …
  website/docs/r/private_dns_a_record.html.markdown
Labels: documentation, service/dns, size/XS

#4073 Update function_app.html.markdown
  website/docs/r/function_app.html.markdown
Labels: documentation, service/functions, size/XS

#4077 provider: increase linter deadline to 10m
  .golangci.yml
Labels: provider, size/XS

#4060 New Resource: azurerm_mariadb_configuration
  azurerm/internal/services/mariadb/client.go
  azurerm/provider.go
  azurerm/resource_arm_mariadb_configuration.go
  azurerm/resource_arm_mariadb_configuration_test.go
  website/docs/r/mariadb_configuration.html.markdown
Labels: documentation, new-resource, service/mariadb, size/XL

#4063 [azurerm_role_assignment] Add support for Management Groups
  azurerm/data_source_builtin_role_definition.go
  azurerm/data_source_role_definition.go
  azurerm/internal/services/authorization/client.go
  azurerm/resource_arm_role_assignment.go
  azurerm/resource_arm_role_assignment_test.go
  azurerm/resource_arm_role_definition.go
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization/classicadministrators.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization/denyassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization/globaladministrator.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization/permissions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization/provideroperationsmetadata.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization/roleassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization/roledefinitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization/version.go
  vendor/modules.txt
  website/docs/r/role_assignment.html.markdown
Labels: dependencies, documentation, enhancement, service/roles, size/XXL

#4078 [resource_arm_function_app] Add missing vnet_name property
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_function_app_test.go
  website/docs/r/function_app.html.markdown
Labels: documentation, service/functions, size/M

#4071 Updates tags limits from 15 to 50 per resource
  azurerm/deprecated_test.go
  azurerm/internal/tags/validation.go
  azurerm/internal/tags/validation_test.go
  azurerm/resource_arm_storage_account.go
Labels: enhancement, service/resources, size/XS

#4076 provider: add descriptions to provider schema
  azurerm/provider.go
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#4089 New resource: `azurerm_virtual_wan` #3505
  azurerm/internal/services/network/client.go
  azurerm/provider.go
  azurerm/resource_arm_virtual_wan.go
  azurerm/resource_arm_virtual_wan_test.go
  website/azurerm.erb
  website/docs/r/virtual_wan.html.markdown
Labels: documentation, new-resource, service/virtual-wan, size/XL

#4087 azurerm_notification_hub_authorization_rule fix to be able to create multiple rules in one go
  azurerm/resource_arm_notification_hub.go
  azurerm/resource_arm_notification_hub_authorization_rule.go
  azurerm/resource_arm_notification_hub_authorization_rule_test.go
  azurerm/resource_arm_notification_hub_namespace.go
Labels: bug, service/notifications, size/M

#4094 Increases name length limit for user_assigned_identity to 128 chars
  azurerm/data_source_user_assigned_identity.go
  azurerm/resource_arm_user_assigned_identity.go
Labels: enhancement, service/resources, size/XS

#4092 r/mssql: ensuring the client is correctly registered
  azurerm/config.go
Labels: bug, refactor, service/mssql, size/XS

#4025 Feature: `azurerm_app_service` - `filesystem` logging can now be set.
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service_test.go
  website/docs/r/app_service.html.markdown
Labels: documentation, enhancement, service/app-service, size/L

#4098 azurerm_kubernetes_cluster - support specifying the `enable_pod_security_policy` property
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/M

#4104 r/hdinsight: switching tests to use Standard_A4_v2
  azurerm/resource_arm_hdinsight_spark_cluster_test.go
  azurerm/resource_arm_hdinsight_storm_cluster_test.go
Labels: bug, service/hdinsight, size/S

#4099 auth: dynamically requesting an authorizer for storage
  azurerm/config.go
Labels: bug, regression, service/storage, size/XS

#4109 Update key_vault.html.markdown
  website/docs/r/key_vault.html.markdown
Labels: documentation, service/keyvault, size/XS

#4048 New Resource: `azurerm_mariadb_virtual_network_rule`
  azurerm/internal/services/mariadb/client.go
  azurerm/provider.go
  azurerm/resource_arm_mariadb_virtual_network_rule.go
  azurerm/resource_arm_mariadb_virtual_network_rule_test.go
  website/docs/r/mariadb_virtual_network_rule.html.markdown
Labels: documentation, new-resource, service/mariadb, size/XL, waiting-response

#3871 New Resource: `azurerm_cosmosdb_sql_container`
  azurerm/helpers/azure/cosmos.go
  azurerm/provider.go
  azurerm/resource_arm_cosmosdb_mongo_collection.go
  azurerm/resource_arm_cosmosdb_sql_container.go
  azurerm/resource_arm_cosmosdb_sql_container_test.go
  scripts/gofmtcheck.sh
  website/docs/r/cosmosdb_sql_container.html.markdown
Labels: documentation, new-resource, service/cosmosdb, size/XL, waiting-response

#4114 Update kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#4112 New Resource: azurerm_container_registry_webhook
  azurerm/internal/services/containers/client.go
  azurerm/provider.go
  azurerm/resource_arm_container_registry_webhook.go
  azurerm/resource_arm_container_registry_webhook_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/classicadministrators.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/globaladministrator.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/permissions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/provideroperationsmetadata.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/roleassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/roledefinitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/container_registry_webhook.html.markdown
Labels: dependencies, documentation, new-resource, service/container-registry, size/XXL

#4115 Subnet delegations and service endpoints
  azurerm/resource_arm_subnet.go
  website/docs/r/subnet.html.markdown
Labels: documentation, service/subnets, size/XS

#3901 New Resource: `azurerm_sql_failover_group`
  azurerm/helpers/azure/mssql.go
  azurerm/internal/services/mssql/client.go
  azurerm/internal/services/sql/client.go
  azurerm/provider.go
  azurerm/resource_arm_sql_failover_group.go
  azurerm/resource_arm_sql_failover_group_test.go
  website/azurerm.erb
  website/docs/r/sql_failover_group.html.markdown
Labels: documentation, new-resource, service/mssql, size/XL

#4123 Fixed spelling error in site recovery configuration
  azurerm/resource_arm_recovery_services_replicated_vm.go
  azurerm/resource_arm_recovery_services_replicated_vm_test.go
  website/docs/r/recovery_services_replicated_vm.html.markdown
Labels: documentation, size/XS

#4072 Add Batch Pool Container Registry configuration
  azurerm/data_source_batch_pool.go
  azurerm/data_source_batch_pool_test.go
  azurerm/helpers/azure/batch_pool.go
  azurerm/resource_arm_batch_pool.go
  azurerm/resource_arm_batch_pool_test.go
  website/docs/d/batch_pool.html.markdown
  website/docs/r/batch_pool.html.markdown
Labels: documentation, service/batch, size/L

#4126 `azurerm_cognitive_account` Adding 'QnAMaker' as Kind
  azurerm/resource_arm_cognitive_account.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, enhancement, service/cognitive-services, size/XS

#4130 docs: documenting why resource provider registration happens
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#4131 r/storage_account: support for BlockBlobStorage
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_account_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/S

#4122 r/storage_queue: switching to use SharedKey for auth
  azurerm/helpers/validate/storage.go
  azurerm/helpers/validate/storage_test.go
  azurerm/internal/authorizers/authorizer_shared_key_lite_test.go
  azurerm/internal/services/storage/client.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_blob_test.go
  azurerm/resource_arm_storage_queue.go
  azurerm/resource_arm_storage_queue_test.go
  azurerm/resource_arm_storage_share_directory.go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/recoverypoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationalertsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationevents.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationfabrics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationjobs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationlogicalnetworks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationnetworkmappings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationnetworks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationprotectableitems.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationprotecteditems.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationprotectioncontainermappings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationprotectioncontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationrecoveryplans.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationrecoveryservicesproviders.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationstorageclassificationmappings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationstorageclassifications.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationvaulthealth.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/replicationvcenters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2016-08-10/siterecovery/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2018-01-10/siterecovery/siterecoveryapi/interfaces.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/queue/queues/properties_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/queue/queues/properties_set.go
  vendor/github.com/tombuildsstuff/giovanni/version/version.go
  vendor/modules.txt
Labels: bug, dependencies, service/storage, size/XXL

#3673 Fixing deadlock in subnet resources
  azurerm/networking.go
  azurerm/resource_arm_subnet.go
  azurerm/resource_arm_subnet_network_security_group_association.go
  azurerm/resource_arm_subnet_route_table_association.go
Labels: bug, service/subnets, size/M

#4143 Fix mis-spelled attribute name
  website/docs/r/analysis_services_server.html.markdown
Labels: documentation, service/analysis, size/XS

#4145 Doc Fix: `azurerm_app_service` - http_logs.file_system
  website/docs/r/app_service.html.markdown
Labels: documentation, service/app-service, size/XS

#4064 Add date validator to data_source_storage_account_sas
  azurerm/data_source_storage_account_sas.go
  azurerm/helpers/validate/time.go
  azurerm/helpers/validate/time_test.go
  go.mod
  go.sum
  vendor/github.com/btubbs/datetime/.travis.yml
  vendor/github.com/btubbs/datetime/Gopkg.lock
  vendor/github.com/btubbs/datetime/Gopkg.toml
  vendor/github.com/btubbs/datetime/LICENSE
  vendor/github.com/btubbs/datetime/Makefile
  vendor/github.com/btubbs/datetime/README.md
  vendor/github.com/btubbs/datetime/parse.go
  vendor/github.com/btubbs/datetime/parser.go
  vendor/github.com/btubbs/datetime/round.go
  vendor/github.com/btubbs/datetime/scanner.go
  vendor/github.com/btubbs/datetime/types.go
  vendor/modules.txt
Labels: bug, dependencies, service/storage, size/XL

#4133 refactor: moving the legacy blob storage client -> storage package
  azurerm/config.go
  azurerm/data_source_storage_account.go
  azurerm/internal/services/storage/client.go
  azurerm/internal/services/storage/helpers.go
  azurerm/internal/services/storage/legacy.go
  azurerm/resource_arm_container_registry_migrate.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_account_test.go
  azurerm/resource_arm_storage_blob.go
  azurerm/resource_arm_storage_blob_test.go
Labels: refactor, service/storage, size/XL

#4170 Update resource_arm_mariadb_server.go to support version 10.3
  azurerm/resource_arm_mariadb_server.go
  website/docs/r/mariadb_server.html.markdown
Labels: documentation, enhancement, service/mariadb, size/XS

#4181 Removes `Standard` SKU Public Preview status
  website/docs/r/public_ip.html.markdown
Labels: documentation, service/public-ip, size/XS

#4178 `azurerm_storage_share_directory` Allow uppercase characters
  azurerm/helpers/validate/storage.go
  azurerm/helpers/validate/storage_test.go
  azurerm/resource_arm_storage_share_directory_test.go
Labels: enhancement, service/storage, size/S

#4180 Bug Fix: `azurerm_virtual_network_peering` prevent nil object from being read
  azurerm/resource_arm_virtual_network_peering.go
Labels: crash, documentation, service/virtual-networks, size/XS

#4139 azurerm_kubernetes_cluster: Support for kubeDashboard addon profile
  azurerm/data_source_kubernetes_cluster.go
  azurerm/data_source_kubernetes_cluster_test.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/L

#4137 azurerm_subnet - Fixed delegation (fixes #3730)
  azurerm/resource_arm_subnet.go
  website/docs/r/subnet.html.markdown
Labels: documentation, service/subnets, size/XS

#4129 New Resource: azurerm_kusto_cluster
  azurerm/config.go
  azurerm/internal/services/kusto/client.go
  azurerm/provider.go
  azurerm/required_resource_providers.go
  azurerm/resource_arm_kusto_cluster.go
  azurerm/resource_arm_kusto_cluster_test.go
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-01-21/kusto/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-01-21/kusto/clusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-01-21/kusto/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-01-21/kusto/dataconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-01-21/kusto/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-01-21/kusto/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-01-21/kusto/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/kusto_cluster.html.markdown
Labels: dependencies, documentation, new-resource, service/kusto, size/XXL

#4175 Support multiple alternative locations for azurerm_api_management
  README.md
  azurerm/provider_test.go
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_api_management_test.go
Labels: enhancement, service/api-management, size/XS

#4189 `azurerm_application_gateway` Upping SKU limit from 10 to 32
  azurerm/resource_arm_application_gateway.go
Labels: enhancement, service/application-gateway, size/XS

#4184 Bug Fix: `azurerm_app_service_plan` and `azurerm_app_service_slot` crash fixes
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: crash, documentation, service/app-service, size/L

#4201 azurerm_container_group: make `storage_account_key` field in `volume` block sensitive
  azurerm/resource_arm_container_group.go
Labels: bug, service/container-group, size/XS

#4119 New Resource: Web Application Firewall Policy
  azurerm/internal/services/network/client.go
  azurerm/provider.go
  azurerm/resource_arm_web_application_firewall_policy.go
  azurerm/resource_arm_web_application_firewall_policy_test.go
  website/azurerm.erb
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, new-resource, service/network-interfaces, size/XL
