Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2019-10, with the labels that each got.

#4468 New data source: app_service_certificate
  azurerm/data_source_app_service_certificate.go
  azurerm/data_source_app_service_certificate_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/app_service_certificate.html.markdown
Labels: documentation, new-data-source, service/app-service, size/L

#4436 Example update: AKS advanced networking with multiple agent pool on VMSS
  examples/kubernetes/advanced-networking-multiple-agentpool/main.tf
  examples/kubernetes/advanced-networking-multiple-agentpool/outputs.tf
  examples/kubernetes/advanced-networking-multiple-agentpool/variables.tf
Labels: documentation, service/kubernetes-cluster, size/L

#4469 r/kubernetes_cluster: allowing the Service Principal to be updated
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/XL

#4374 Add support for App Insights Analytics Items
  azurerm/internal/services/applicationinsights/client.go
  azurerm/provider.go
  azurerm/resource_arm_application_insights_analytics_item.go
  azurerm/resource_arm_application_insights_analytics_item_test.go
  website/azurerm.erb
  website/docs/r/application_insights_analytics_item.html.markdown
Labels: documentation, new-resource, service/application-insights, size/XL

#4477 Changing URLs to HTTPS
  website/docs/r/azuread_service_principal_password.html.markdown
Labels: documentation, size/XS

#4479 Adding default_site_hostname attribute
  website/docs/d/app_service.html.markdown
Labels: documentation, service/app-service, size/XS

#4478 Adding the note about the deletion of VM disks.
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#4473 Support log settings for app service slot
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_slot_test.go
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, enhancement, service/app-service, size/L

#4457 [#3319] datalakestore gen2 filesystem resource
  azurerm/config.go
  azurerm/internal/services/storage/client.go
  azurerm/internal/services/storage/id.go
  azurerm/internal/services/storage/id_test.go
  azurerm/provider.go
  azurerm/resource_arm_storage_data_lake_gen2_filesystem.go
  azurerm/resource_arm_storage_data_lake_gen2_filesystem_test.go
  go.mod
  go.sum
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/filesystems/README.md
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/filesystems/client.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/filesystems/create.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/filesystems/delete.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/filesystems/helpers.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/filesystems/properties_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/filesystems/properties_set.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/filesystems/resource_id.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/filesystems/version.go
  vendor/github.com/tombuildsstuff/giovanni/storage/internal/endpoints/endpoints.go
  vendor/github.com/tombuildsstuff/giovanni/version/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/storage_data_lake_gen2_filesystem.html.markdown
Labels: dependencies, documentation, new-resource, service/storage, size/XXL

#3819 New Resource: `azurerm_storage_management_policy`
  azurerm/data_source_storage_management_policy.go
  azurerm/data_source_storage_management_policy_test.go
  azurerm/internal/services/storage/client.go
  azurerm/provider.go
  azurerm/resource_arm_storage_management_policy.go
  azurerm/resource_arm_storage_management_policy_test.go
  website/azurerm.erb
  website/docs/d/storage_management_policy.html.markdown
  website/docs/r/storage_management_policy.html.markdown
Labels: dependencies, documentation, enhancement, service/storage, size/XXL

#4484 Fix docs of api_management_product_group
  website/docs/r/api_management_product_group.html.markdown
Labels: documentation, service/api-management, size/XS

#4204 `azurerm_app_service_custom_hostname_binding`: support for the `ssl_state` and `thumbprint` properties
  azurerm/resource_arm_app_service_custom_hostname_binding.go
  azurerm/resource_arm_app_service_custom_hostname_binding_test.go
  website/docs/r/app_service_custom_hostname_binding.html.markdown
Labels: documentation, enhancement, service/app-service, size/L

#4486 azurerm_client_config - add `authenticated_object_id`property
  azurerm/config.go
  azurerm/data_source_client_config.go
  azurerm/data_source_client_config_test.go
  go.mod
  go.sum
  vendor/github.com/apparentlymart/go-textseg/textseg/make_tables.go
  vendor/github.com/apparentlymart/go-textseg/textseg/make_test_tables.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_azure_cli_token.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_client_cert.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_client_secret.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_client_secret_multi_tenant.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_msi.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/azure_sp_objectid.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/builder.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/config.go
  vendor/github.com/hashicorp/hcl2/hcl/hclsyntax/expression_vars_gen.go
  vendor/github.com/ulikunitz/xz/example.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/modules.txt
  website/docs/d/client_config.html.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: dependencies, enhancement, size/XXL

#4491 Update redis_cache.html.markdown
  website/docs/r/redis_cache.html.markdown
Labels: documentation, service/redis, size/XS

#4489 Bug Fix: `azurerm_hdinight_...` diff suppress passwords that are `*****` from the api
  azurerm/helpers/azure/hdinsight.go
Labels: enhancement, service/hdinsight, size/XS

#4496 Fix operation-timeouts link
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#4497 Update page heading to reflect correct Resource
  website/docs/r/private_dns_cname_record.html.markdown
Labels: documentation, service/dns, size/XS

#4448 [WIP] provider: re-enable staticcheckk linter
  .travis.yml
  GNUmakefile
Labels: provider, size/XS, tests

#4503 azurerm_network_profile - inaccurate docs container_network_interface_configuration
  website/docs/r/network_profile.html.markdown
Labels: documentation, size/XS

#4508 update docs for azurerm_frontdoor
  website/docs/r/front_door.html.markdown
Labels: documentation, service/frontdoor, size/XS

#4507 Adding the identity.principal_id documentation.
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#4475 Groundwork for Custom Timeouts
  azurerm/internal/common/client_options.go
  azurerm/internal/features/custom_timeouts.go
  azurerm/internal/features/custom_timeouts_test.go
  azurerm/internal/timeouts/determine.go
  azurerm/provider.go
  azurerm/resource_arm_resource_group.go
Labels: enhancement, provider, size/L

#4512 Update service_principal_client_secret.html.markdown
  website/docs/auth/service_principal_client_secret.html.markdown
Labels: documentation, service/authentication, size/XS

#4514 Remove extrananeous newlines, fix typos
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#4517 Added new data source `azurerm_data_factory`
  azurerm/data_source_arm_data_factory.go
  azurerm/data_source_arm_data_factory_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/data_factory.html.markdown
Labels: documentation, new-data-source, service/data-factory, size/XL

#4520 refactor: making more clients public
  azurerm/config.go
  azurerm/data_source_app_service.go
  azurerm/data_source_app_service_certificate.go
  azurerm/data_source_app_service_plan.go
  azurerm/data_source_dns_zone.go
  azurerm/data_source_recovery_services_protection_policy_vm.go
  azurerm/data_source_recovery_services_vault.go
  azurerm/data_source_redis_cache.go
  azurerm/data_source_resource_group.go
  azurerm/provider.go
  azurerm/required_resource_providers_test.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_active_slot.go
  azurerm/resource_arm_app_service_certificate.go
  azurerm/resource_arm_app_service_certificate_test.go
  azurerm/resource_arm_app_service_custom_hostname_binding.go
  azurerm/resource_arm_app_service_custom_hostname_binding_test.go
  azurerm/resource_arm_app_service_plan.go
  azurerm/resource_arm_app_service_plan_test.go
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_source_control_token.go
  azurerm/resource_arm_app_service_source_control_token_test.go
  azurerm/resource_arm_app_service_test.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_function_app_test.go
  azurerm/resource_arm_management_lock.go
  azurerm/resource_arm_management_lock_test.go
  azurerm/resource_arm_recovery_services_fabric.go
  azurerm/resource_arm_recovery_services_fabric_test.go
  azurerm/resource_arm_recovery_services_network_mapping.go
  azurerm/resource_arm_recovery_services_network_mapping_test.go
  azurerm/resource_arm_recovery_services_protected_vm.go
  azurerm/resource_arm_recovery_services_protected_vm_test.go
  azurerm/resource_arm_recovery_services_protection_container.go
  azurerm/resource_arm_recovery_services_protection_container_mapping.go
  azurerm/resource_arm_recovery_services_protection_container_mapping_test.go
  azurerm/resource_arm_recovery_services_protection_container_test.go
  azurerm/resource_arm_recovery_services_protection_policy_vm.go
  azurerm/resource_arm_recovery_services_protection_policy_vm_test.go
  azurerm/resource_arm_recovery_services_replicated_vm.go
  azurerm/resource_arm_recovery_services_replicated_vm_test.go
  azurerm/resource_arm_recovery_services_replication_policy.go
  azurerm/resource_arm_recovery_services_replication_policy_test.go
  azurerm/resource_arm_recovery_services_vault.go
  azurerm/resource_arm_recovery_services_vault_test.go
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_redis_cache_test.go
  azurerm/resource_arm_redis_firewall_rule.go
  azurerm/resource_arm_redis_firewall_rule_test.go
  azurerm/resource_arm_relay_namespace.go
  azurerm/resource_arm_relay_namespace_test.go
  azurerm/resource_arm_resource_group.go
  azurerm/resource_arm_resource_group_test.go
  azurerm/resource_arm_template_deployment.go
  azurerm/resource_arm_template_deployment_test.go
Labels: provider, refactor, size/L

#4521 container_network_interface block help
  website/docs/r/network_profile.html.markdown
Labels: documentation, size/XS

#4525 Adding missing resources and data sources on the main page.
  website/azurerm.erb
Labels: documentation, size/XS

#4513 azurerm_kubernetes_cluster - the `log_analytics_workspace_id` property is now optional
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/M

#4501 azurerm_network_security_group_association - prevent deadlock between association and network interface creation
  azurerm/resource_arm_subnet_network_security_group_association.go
Labels: service/network-security, size/XS

#4467 Adds throughput support for Cosmos DB Mongo Collection
  azurerm/helpers/validate/cosmos.go
  azurerm/helpers/validate/cosmos_test.go
  azurerm/resource_arm_cosmosdb_mongo_collection.go
  azurerm/resource_arm_cosmosdb_mongo_collection_test.go
  website/docs/r/cosmosdb_mongo_collection.html.markdown
Labels: documentation, service/cosmosdb, size/L

#4530 `azurerm_app_service_certificate` - Added note to documentation about magic Resource Principal
  website/docs/r/app_service_certificate.html.markdown
Labels: documentation, service/app-service, size/XS

#4535 provider: threading timeouts for resources T -> W
  azurerm/resource_arm_template_deployment.go
  azurerm/resource_arm_traffic_manager_endpoint.go
  azurerm/resource_arm_traffic_manager_profile.go
  azurerm/resource_arm_user_assigned_identity.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_data_disk_attachment.go
  azurerm/resource_arm_virtual_machine_extension.go
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/resource_arm_virtual_network.go
  azurerm/resource_arm_virtual_network_gateway.go
  azurerm/resource_arm_virtual_network_gateway_connection.go
  azurerm/resource_arm_virtual_network_peering.go
  azurerm/resource_arm_virtual_wan.go
  azurerm/resource_arm_web_application_firewall_policy.go
Labels: enhancement, provider, size/L

#4533 provider: threading timeouts through data sources for A -> K
  azurerm/automation_variable.go
  azurerm/data_source_api_management.go
  azurerm/data_source_api_management_api.go
  azurerm/data_source_api_management_group.go
  azurerm/data_source_api_management_product.go
  azurerm/data_source_api_management_user.go
  azurerm/data_source_app_service.go
  azurerm/data_source_app_service_certificate.go
  azurerm/data_source_app_service_plan.go
  azurerm/data_source_application_insights.go
  azurerm/data_source_application_security_group.go
  azurerm/data_source_arm_data_factory.go
  azurerm/data_source_automation_variable_bool.go
  azurerm/data_source_automation_variable_datetime.go
  azurerm/data_source_automation_variable_int.go
  azurerm/data_source_automation_variable_string.go
  azurerm/data_source_availability_set.go
  azurerm/data_source_azuread_application.go
  azurerm/data_source_azuread_service_principal.go
  azurerm/data_source_batch_account.go
  azurerm/data_source_batch_certificate.go
  azurerm/data_source_batch_pool.go
  azurerm/data_source_builtin_role_definition.go
  azurerm/data_source_cdn_profile.go
  azurerm/data_source_client_config.go
  azurerm/data_source_container_registry.go
  azurerm/data_source_cosmos_db_account.go
  azurerm/data_source_data_lake_store.go
  azurerm/data_source_dev_test_lab.go
  azurerm/data_source_dev_test_virtual_network.go
  azurerm/data_source_dns_zone.go
  azurerm/data_source_eventhub_namespace.go
  azurerm/data_source_express_route_circuit.go
  azurerm/data_source_firewall.go
  azurerm/data_source_hdinsight_cluster.go
  azurerm/data_source_image.go
  azurerm/data_source_key_vault.go
  azurerm/data_source_key_vault_key.go
  azurerm/data_source_key_vault_secret.go
  azurerm/data_source_kubernetes_cluster.go
Labels: enhancement, provider, size/L

#4539 provider: threading timeouts through data sources for L -> V
  azurerm/data_source_loadbalancer.go
  azurerm/data_source_log_analytics_workspace.go
  azurerm/data_source_logic_app_workflow.go
  azurerm/data_source_managed_disk.go
  azurerm/data_source_management_group.go
  azurerm/data_source_maps_account.go
  azurerm/data_source_monitor_action_group.go
  azurerm/data_source_monitor_diagnostic_categories.go
  azurerm/data_source_monitor_log_profile.go
  azurerm/data_source_mssql_elasticpool.go
  azurerm/data_source_network_ddos_protection_plan.go
  azurerm/data_source_network_interface.go
  azurerm/data_source_network_security_group.go
  azurerm/data_source_network_watcher.go
  azurerm/data_source_notification_hub.go
  azurerm/data_source_notification_hub_namespace.go
  azurerm/data_source_platform_image.go
  azurerm/data_source_policy_definition.go
  azurerm/data_source_proximity_placement_group.go
  azurerm/data_source_public_ip.go
  azurerm/data_source_public_ip_prefix.go
  azurerm/data_source_public_ips.go
  azurerm/data_source_recovery_services_protection_policy_vm.go
  azurerm/data_source_recovery_services_vault.go
  azurerm/data_source_redis_cache.go
  azurerm/data_source_resource_group.go
  azurerm/data_source_role_definition.go
  azurerm/data_source_route_table.go
  azurerm/data_source_scheduler_job_collection.go
  azurerm/data_source_servicebus_namespace.go
  azurerm/data_source_servicebus_namespace_authorization_rule.go
  azurerm/data_source_shared_image.go
  azurerm/data_source_shared_image_gallery.go
  azurerm/data_source_shared_image_version.go
  azurerm/data_source_snapshot.go
  azurerm/data_source_sql_database.go
  azurerm/data_source_sql_server.go
  azurerm/data_source_storage_account.go
  azurerm/data_source_storage_management_policy.go
  azurerm/data_source_stream_analytics_job.go
  azurerm/data_source_subnet.go
  azurerm/data_source_subscription.go
  azurerm/data_source_subscriptions.go
  azurerm/data_source_traffic_manager_geographical_location.go
  azurerm/data_source_user_assigned_identity.go
  azurerm/data_source_virtual_machine.go
  azurerm/data_source_virtual_network.go
  azurerm/data_source_virtual_network_gateway.go
  azurerm/data_source_virtual_network_gateway_connection.go
  azurerm/loadbalancer.go
Labels: enhancement, provider, size/L

#4545 remove /or for nsg and route table associations
  website/docs/r/subnet.html.markdown
Labels: documentation, service/subnets, size/XS

#4544 provider: threading timeouts through resources for A -> B
  azurerm/automation_variable.go
  azurerm/resource_arm_analysis_services_server.go
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_api_management_api.go
  azurerm/resource_arm_api_management_api_operation.go
  azurerm/resource_arm_api_management_api_operation_policy.go
  azurerm/resource_arm_api_management_api_policy.go
  azurerm/resource_arm_api_management_api_schema.go
  azurerm/resource_arm_api_management_api_version_set.go
  azurerm/resource_arm_api_management_authorization_server.go
  azurerm/resource_arm_api_management_backend.go
  azurerm/resource_arm_api_management_certificate.go
  azurerm/resource_arm_api_management_group.go
  azurerm/resource_arm_api_management_group_user.go
  azurerm/resource_arm_api_management_logger.go
  azurerm/resource_arm_api_management_openid_connect_provider.go
  azurerm/resource_arm_api_management_product.go
  azurerm/resource_arm_api_management_product_api.go
  azurerm/resource_arm_api_management_product_group.go
  azurerm/resource_arm_api_management_product_policy.go
  azurerm/resource_arm_api_management_property.go
  azurerm/resource_arm_api_management_subscription.go
  azurerm/resource_arm_api_management_user.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_active_slot.go
  azurerm/resource_arm_app_service_certificate.go
  azurerm/resource_arm_app_service_custom_hostname_binding.go
  azurerm/resource_arm_app_service_plan.go
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_source_control_token.go
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_insights.go
  azurerm/resource_arm_application_insights_analytics_item.go
  azurerm/resource_arm_application_insights_api_key.go
  azurerm/resource_arm_application_insights_webtests.go
  azurerm/resource_arm_application_security_group.go
  azurerm/resource_arm_automation_account.go
  azurerm/resource_arm_automation_credential.go
  azurerm/resource_arm_automation_dsc_configuration.go
  azurerm/resource_arm_automation_dsc_nodeconfiguration.go
  azurerm/resource_arm_automation_module.go
  azurerm/resource_arm_automation_runbook.go
  azurerm/resource_arm_automation_schedule.go
  azurerm/resource_arm_autoscale_setting.go
  azurerm/resource_arm_availability_set.go
  azurerm/resource_arm_azuread_application.go
  azurerm/resource_arm_azuread_service_principal.go
  azurerm/resource_arm_azuread_service_principal_password.go
  azurerm/resource_arm_batch_account.go
  azurerm/resource_arm_batch_application.go
  azurerm/resource_arm_batch_certificate.go
  azurerm/resource_arm_batch_pool.go
  azurerm/resource_arm_bot_channel_email.go
  azurerm/resource_arm_bot_channel_slack.go
  azurerm/resource_arm_bot_channels_registration.go
  azurerm/resource_arm_bot_connection.go
  azurerm/resource_arm_bot_web_app.go
Labels: enhancement, provider, size/XL

#4537 r/media_services_account: tags are unsupported due to an api bug
  azurerm/resource_arm_media_services_account.go
Labels: bug, regression, services/media, size/XS

#4547 azurerm_virtual_machine - fix WriteAccelerator tests buy using a region with quota
  azurerm/resource_arm_virtual_machine_data_disk_attachment_test.go
  azurerm/resource_arm_virtual_machine_managed_disks_test.go
Labels: service/virtual-machine, size/XS, tests

#4555 azurerm_media_service - fix test resource group names
  azurerm/resource_arm_media_services_account_test.go
Labels: services/media, size/XS, tests

#4534 azurerm_api_management - add the security enable properties to supersede the inverted disabled ones
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_api_management_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/api_management.html.markdown
Labels: bug, documentation, service/api-management, size/L

#4541 azurerm_kubernetes_cluster - allow disabling the `aci_connector_linux` by letting the subnet property be empty
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/M

#4498 azurerm_kubernetes_cluster - add support for the `azure_policy` property in the `addon_profile` block
  azurerm/data_source_kubernetes_cluster.go
  azurerm/data_source_kubernetes_cluster_test.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/L

#4549 provider: threading timeouts through resources for C -> D
  azurerm/resource_arm_cdn_endpoint.go
  azurerm/resource_arm_cdn_profile.go
  azurerm/resource_arm_cognitive_account.go
  azurerm/resource_arm_connection_monitor.go
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_registry.go
  azurerm/resource_arm_container_registry_webhook.go
  azurerm/resource_arm_container_service.go
  azurerm/resource_arm_cosmosdb_account.go
  azurerm/resource_arm_cosmosdb_cassandra_keyspace.go
  azurerm/resource_arm_cosmosdb_mongo_collection.go
  azurerm/resource_arm_cosmosdb_mongo_database.go
  azurerm/resource_arm_cosmosdb_sql_container.go
  azurerm/resource_arm_cosmosdb_sql_database.go
  azurerm/resource_arm_cosmosdb_table.go
  azurerm/resource_arm_dashboard.go
  azurerm/resource_arm_data_factory.go
  azurerm/resource_arm_data_factory_dataset_mysql.go
  azurerm/resource_arm_data_factory_dataset_postgresql.go
  azurerm/resource_arm_data_factory_dataset_sql_server_table.go
  azurerm/resource_arm_data_factory_linked_service_data_lake_storage_gen2.go
  azurerm/resource_arm_data_factory_linked_service_mysql.go
  azurerm/resource_arm_data_factory_linked_service_postgresql.go
  azurerm/resource_arm_data_factory_linked_service_sql_server.go
  azurerm/resource_arm_data_factory_pipeline.go
  azurerm/resource_arm_data_lake_analytics_account.go
  azurerm/resource_arm_data_lake_analytics_firewall_rule.go
  azurerm/resource_arm_data_lake_store.go
  azurerm/resource_arm_data_lake_store_file.go
  azurerm/resource_arm_data_lake_store_firewall_rule.go
  azurerm/resource_arm_databricks_workspace.go
  azurerm/resource_arm_ddos_protection_plan.go
  azurerm/resource_arm_dev_test_lab.go
  azurerm/resource_arm_dev_test_lab_schedule.go
  azurerm/resource_arm_dev_test_linux_virtual_machine.go
  azurerm/resource_arm_dev_test_policy.go
  azurerm/resource_arm_dev_test_virtual_network.go
  azurerm/resource_arm_dev_test_windows_virtual_machine.go
  azurerm/resource_arm_devspace_controller.go
  azurerm/resource_arm_dns_a_record.go
  azurerm/resource_arm_dns_aaaa_record.go
  azurerm/resource_arm_dns_caa_record.go
  azurerm/resource_arm_dns_cname_record.go
  azurerm/resource_arm_dns_mx_record.go
  azurerm/resource_arm_dns_ns_record.go
  azurerm/resource_arm_dns_ptr_record.go
  azurerm/resource_arm_dns_srv_record.go
  azurerm/resource_arm_dns_txt_record.go
  azurerm/resource_arm_dns_zone.go
Labels: enhancement, provider, size/XL

#4567 provider: threading timeouts through resources for E -> H
  azurerm/common_hdinsight.go
  azurerm/resource_arm_eventgrid_domain.go
  azurerm/resource_arm_eventgrid_event_subscription.go
  azurerm/resource_arm_eventgrid_topic.go
  azurerm/resource_arm_eventhub.go
  azurerm/resource_arm_eventhub_authorization_rule.go
  azurerm/resource_arm_eventhub_consumer_group.go
  azurerm/resource_arm_eventhub_namespace.go
  azurerm/resource_arm_eventhub_namespace_authorization_rule.go
  azurerm/resource_arm_eventhub_namespace_disaster_recovery_config.go
  azurerm/resource_arm_express_route_circuit.go
  azurerm/resource_arm_express_route_circuit_authorization.go
  azurerm/resource_arm_express_route_circuit_peering.go
  azurerm/resource_arm_firewall.go
  azurerm/resource_arm_firewall_application_rule_collection.go
  azurerm/resource_arm_firewall_nat_rule_collection.go
  azurerm/resource_arm_firewall_network_rule_collection.go
  azurerm/resource_arm_front_door.go
  azurerm/resource_arm_front_door_firewall_policy.go
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_hdinsight_hadoop_cluster.go
  azurerm/resource_arm_hdinsight_hbase_cluster.go
  azurerm/resource_arm_hdinsight_interactive_query_cluster.go
  azurerm/resource_arm_hdinsight_kafka_cluster.go
  azurerm/resource_arm_hdinsight_ml_services_cluster.go
  azurerm/resource_arm_hdinsight_rserver_cluster.go
  azurerm/resource_arm_hdinsight_spark_cluster.go
  azurerm/resource_arm_hdinsight_storm_cluster.go
Labels: enhancement, provider, size/L

#4568 provider: threading timeouts through resources for I -> L
  azurerm/data_source_loadbalancer_backend_address_pool.go
  azurerm/loadbalancer.go
  azurerm/logic_apps.go
  azurerm/resource_arm_image.go
  azurerm/resource_arm_iot_dps.go
  azurerm/resource_arm_iot_dps_cerificate.go
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_iothub_consumer_group.go
  azurerm/resource_arm_iothub_shared_access_policy.go
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_access_policy.go
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_key.go
  azurerm/resource_arm_key_vault_secret.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kusto_cluster.go
  azurerm/resource_arm_kusto_database.go
  azurerm/resource_arm_loadbalancer.go
  azurerm/resource_arm_loadbalancer_backend_address_pool.go
  azurerm/resource_arm_loadbalancer_nat_pool.go
  azurerm/resource_arm_loadbalancer_nat_rule.go
  azurerm/resource_arm_loadbalancer_outbound_rule.go
  azurerm/resource_arm_loadbalancer_probe.go
  azurerm/resource_arm_loadbalancer_rule.go
  azurerm/resource_arm_local_network_gateway.go
  azurerm/resource_arm_log_analytics_linked_service.go
  azurerm/resource_arm_log_analytics_solution.go
  azurerm/resource_arm_log_analytics_workspace.go
  azurerm/resource_arm_log_analytics_workspace_linked_service.go
  azurerm/resource_arm_logic_app_action_custom.go
  azurerm/resource_arm_logic_app_action_http.go
  azurerm/resource_arm_logic_app_trigger_custom.go
  azurerm/resource_arm_logic_app_trigger_http_request.go
  azurerm/resource_arm_logic_app_trigger_recurrence.go
  azurerm/resource_arm_logic_app_workflow.go
Labels: enhancement, provider, size/XL

#4385 New Resource: azurerm_kusto_eventhub_data_connection
  azurerm/internal/services/kusto/client.go
  azurerm/provider.go
  azurerm/resource_arm_kusto_eventhub_data_connection.go
  azurerm/resource_arm_kusto_eventhub_data_connection_test.go
  website/azurerm.erb
  website/docs/r/kusto_eventhub_data_connection.html.markdown
Labels: documentation, new-resource, service/kusto, size/XL

#4572 provider: threading timeouts through resources for S -> V
  azurerm/resource_arm_scheduler_job.go
  azurerm/resource_arm_scheduler_job_collection.go
  azurerm/resource_arm_search_service.go
  azurerm/resource_arm_security_center_contact.go
  azurerm/resource_arm_security_center_subscription_pricing.go
  azurerm/resource_arm_security_center_workspace.go
  azurerm/resource_arm_service_fabric_cluster.go
  azurerm/resource_arm_servicebus_namespace.go
  azurerm/resource_arm_servicebus_namespace_authorization_rule.go
  azurerm/resource_arm_servicebus_queue.go
  azurerm/resource_arm_servicebus_queue_authorization_rule.go
  azurerm/resource_arm_servicebus_subscription.go
  azurerm/resource_arm_servicebus_subscription_rule.go
  azurerm/resource_arm_servicebus_topic.go
  azurerm/resource_arm_servicebus_topic_authorization_rule.go
  azurerm/resource_arm_shared_image.go
  azurerm/resource_arm_shared_image_gallery.go
  azurerm/resource_arm_shared_image_version.go
  azurerm/resource_arm_signalr_service.go
  azurerm/resource_arm_snapshot.go
  azurerm/resource_arm_sql_administrator.go
  azurerm/resource_arm_sql_database.go
  azurerm/resource_arm_sql_elasticpool.go
  azurerm/resource_arm_sql_failover_group.go
  azurerm/resource_arm_sql_firewall_rule.go
  azurerm/resource_arm_sql_server.go
  azurerm/resource_arm_sql_virtual_network_rule.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_blob.go
  azurerm/resource_arm_storage_container.go
  azurerm/resource_arm_storage_data_lake_gen2_filesystem.go
  azurerm/resource_arm_storage_management_policy.go
  azurerm/resource_arm_storage_queue.go
  azurerm/resource_arm_storage_share.go
  azurerm/resource_arm_storage_share_directory.go
  azurerm/resource_arm_storage_table.go
  azurerm/resource_arm_storage_table_entity.go
  azurerm/resource_arm_stream_analytics_function_javascript_udf.go
  azurerm/resource_arm_stream_analytics_job.go
  azurerm/resource_arm_stream_analytics_output_blob.go
  azurerm/resource_arm_stream_analytics_output_eventhub.go
  azurerm/resource_arm_stream_analytics_output_mssql.go
  azurerm/resource_arm_stream_analytics_output_servicebus_queue.go
  azurerm/resource_arm_stream_analytics_output_servicebus_topic.go
  azurerm/resource_arm_stream_analytics_stream_input_blob.go
  azurerm/resource_arm_stream_analytics_stream_input_eventhub.go
  azurerm/resource_arm_stream_analytics_stream_input_iothub.go
  azurerm/resource_arm_subnet.go
  azurerm/resource_arm_subnet_network_security_group_association.go
  azurerm/resource_arm_subnet_route_table_association.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_data_disk_attachment.go
  azurerm/resource_arm_virtual_network_peering.go
Labels: enhancement, provider, size/XL

#4576 Dashboard doc fix
  website/docs/r/dashboard.html.markdown
Labels: documentation, service/dashboards, size/XS

#4564 storage_account: Ignore Advanced Threat Protection read errors in Azure Germany
  azurerm/resource_arm_storage_account.go
Labels: bug, service/storage, size/XS

#4548 Update key vault data source docs for deprecated vault_uri
  examples/virtual-machines/provisioners/windows/2-certificates.tf
  website/docs/d/key_vault_key.html.markdown
  website/docs/d/key_vault_secret.html.markdown
Labels: documentation, service/keyvault, size/XS

#4476 Fixes for load balancer and virtual machine scale sets related documentation
  website/docs/r/loadbalancer_nat_pool.html.markdown
  website/docs/r/loadbalancer_nat_rule.html.markdown
  website/docs/r/loadbalancer_outbound_rule.html.markdown
  website/docs/r/loadbalancer_probe.html.markdown
  website/docs/r/loadbalancer_rule.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/load-balancers, service/virtual-machine, service/vmss, size/XS

#4527 provider: ensure all locks are done in the same order
  azurerm/resource_arm_firewall.go
  azurerm/resource_arm_network_profile.go
  azurerm/resource_arm_redis_cache.go
Labels: bug, provider, size/S

#4538 r/virtual_machine_data_disk_attachment: removing the identity block when making a delta update
  azurerm/resource_arm_virtual_machine_data_disk_attachment.go
  azurerm/resource_arm_virtual_machine_data_disk_attachment_test.go
Labels: bug, service/disk-attachments, size/M

#4573 azurerm_sql_database - fix #4196 by ensuring `read_scale` is always set during initial creation
  azurerm/resource_arm_sql_database.go
Labels: bug, service/mssql, size/XS

#4586 docs: updating the docs for the upcoming 1.36 release
  README.md
  website/docs/auth/azure_cli.html.markdown
  website/docs/auth/service_principal_client_certificate.html.markdown
  website/docs/auth/service_principal_client_secret.html.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/guides/migrating-to-azuread.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/XS

#4587 refactor: moving off deprecated methods
  azurerm/deprecated.go
  azurerm/resource_arm_front_door.go
  azurerm/resource_arm_front_door_firewall_policy.go
  azurerm/resource_arm_front_door_firewall_policy_test.go
  azurerm/resource_arm_front_door_test.go
  azurerm/resource_arm_kusto_eventhub_data_connection.go
  azurerm/resource_arm_private_dns_zone_virtual_network_link.go
  azurerm/resource_arm_private_dns_zone_virtual_network_link_test.go
Labels: enhancement, size/XL

#4096 New Resource: azurerm_bastion_host
  azurerm/internal/services/network/client.go
  azurerm/provider.go
  azurerm/resource_arm_bastion_host.go
  azurerm/resource_arm_bastion_host_test.go
  go.mod
  go.sum
  website/azurerm.erb
  website/docs/r/bastion_host.html.markdown
Labels: documentation, new-resource, service/bastion, size/XL, waiting-response

#4601 `azurerm_frontdoor` update `custom_host` to be optional, add `redirect_configuration` to documentation
  azurerm/resource_arm_front_door.go
  website/docs/r/front_door.html.markdown
Labels: documentation, enhancement, service/frontdoor, size/XS

#3529 New data source 'azurerm_resources'
  azurerm/data_source_resources.go
  azurerm/data_source_resources_test.go
  azurerm/internal/services/resource/client.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/resources.html.markdown
Labels: documentation, new-data-source, service/resources, size/XL

#4605 d/azurerm_lb_backend_address_pool: exposed backend_ip_configurations
  azurerm/data_source_loadbalancer_backend_address_pool.go
  website/docs/d/loadbalancer_backend_address_pool.html.markdown
Labels: documentation, enhancement, service/load-balancers, size/S

#4483 azurerm_monitor_action_group - add support for the `use_common_alert_schema` webhook property
  azurerm/data_source_monitor_action_group.go
  azurerm/data_source_monitor_diagnostic_categories.go
  azurerm/internal/services/monitor/client.go
  azurerm/resource_arm_autoscale_setting.go
  azurerm/resource_arm_metric_alertrule.go
  azurerm/resource_arm_monitor_action_group.go
  azurerm/resource_arm_monitor_action_group_test.go
  azurerm/resource_arm_monitor_activity_log_alert.go
  azurerm/resource_arm_monitor_autoscale_setting.go
  azurerm/resource_arm_monitor_diagnostic_setting.go
  azurerm/resource_arm_monitor_log_profile.go
  azurerm/resource_arm_monitor_metric_alert.go
  azurerm/resource_arm_monitor_metric_alertrule.go
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/actiongroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/activitylogalerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/activitylogs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/alertruleincidents.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/alertrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/autoscalesettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/baselines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/diagnosticsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/diagnosticsettingscategory.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/eventcategories.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/logprofiles.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/metricalerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/metricalertsstatus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/metricbaseline.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/metricdefinitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/metricnamespaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/metrics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/scheduledqueryrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/tenantactivitylogs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/monitor/mgmt/2019-06-01/insights/vminsights.go
  vendor/modules.txt
  website/docs/r/monitor_action_group.html.markdown
Labels: dependencies, documentation, enhancement, service/application-insights, size/XL

#4433 Updated policy section to clarify usage
  website/docs/r/api_management.html.markdown
Labels: documentation, size/XS, waiting-response

#4628 Update subnet.html.markdown
  website/docs/r/subnet.html.markdown
Labels: documentation, service/subnets, size/XS

#4622 alpha numeric characters only are allowed
  examples/container-registry/main.tf
Labels: service/container-registry, size/XS

#4632 spelling: annot -> cannot
  website/docs/r/storage_blob.html.markdown
Labels: documentation, service/storage, size/XS

#4615 azurerm_network_security_rule & azurerm_network_security_rule - add support for `Icmp` to the `protocol` property
  azurerm/resource_arm_network_security_group.go
  azurerm/resource_arm_network_security_rule.go
  azurerm/resource_arm_network_security_rule_test.go
  website/docs/r/network_security_group.html.markdown
  website/docs/r/network_security_rule.html.markdown
Labels: bug, documentation, service/network-security, size/XS

#4342 New Resource: data_factory_integration_runtime_managed
  azurerm/internal/services/datafactory/client.go
  azurerm/provider.go
  azurerm/resource_arm_data_factory_integration_runtime_managed.go
  azurerm/resource_arm_data_factory_integration_runtime_managed_test.go
  go.sum
  website/azurerm.erb
  website/docs/r/data_factory_integration_runtime_managed.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#4640 [Tiny] [Docs] Update eventhub_namespace.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, service/event-hubs, size/XS

#4625 Data source/loadbalancer backend address pool/backend_ip_configurations to be computed
  azurerm/data_source_loadbalancer_backend_address_pool.go
Labels: bug, service/load-balancers, size/XS

#4630 r/azurerm_servicebus_namespace - Allowed setting messaging units capacity to 8 for Premium SKU
  azurerm/resource_arm_servicebus_namespace.go
  azurerm/resource_arm_servicebus_namespace_test.go
  website/docs/r/servicebus_namespace.html.markdown
Labels: documentation, service/servicebus, size/XS

#4649 Fix non-working example usage
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, service/postgresql, size/XS

#4646 Fixing issue #3843
  azurerm/resource_arm_monitor_activity_log_alert.go
  website/docs/r/monitor_activity_log_alert.html.markdown
Labels: bug, documentation, service/monitor, size/XS

#4660 Update Documentation for Azure Front Door
  website/docs/r/front_door.html.markdown
Labels: documentation, service/firewall, size/XS

#4657 Fix typo in key vault lookup error message
  azurerm/data_source_key_vault_secret.go
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_key.go
  azurerm/resource_arm_key_vault_secret.go
Labels: bug, service/keyvault, size/XS

#4645 [azurerm_key_vault_certificate] - switches the `emails`, `dns_names `, `upns` of the `subject_alternative_names` property to use `TypeSet`
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_certificate_test.go
Labels: enhancement, service/keyvault, size/S

#4670 azure firewall - support for zones
  azurerm/helpers/azure/zones.go
  azurerm/resource_arm_firewall.go
  azurerm/resource_arm_firewall_test.go
  website/docs/r/firewall.html.markdown
Labels: documentation, enhancement, service/firewall, size/M

#4671 fix documentation for importing storage_table into the tf state
  website/docs/r/storage_table.html.markdown
Labels: documentation, service/storage, size/XS

#4672 fix level-3 header rendering
  examples/virtual-machines/managed-disks/from-custom-image/README.md
Labels: documentation, size/XS

#4674 Check if new resource before import check
  azurerm/automation_variable.go
  azurerm/resource_arm_api_management_certificate.go
  azurerm/resource_arm_api_management_subscription.go
  azurerm/resource_arm_front_door.go
  azurerm/resource_arm_front_door_firewall_policy.go
  azurerm/resource_arm_storage_table_entity.go
Labels: provider, size/XS

#4688 Update doc for application gateway
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#4454 New Resource/Data Source: `azurerm_App_Service_Certificate_Order`
  azurerm/data_source_app_service_certificate_order.go
  azurerm/data_source_app_service_certificate_order_test.go
  azurerm/internal/services/web/client.go
  azurerm/provider.go
  azurerm/resource_arm_app_service_certificate_order.go
  azurerm/resource_arm_app_service_certificate_order_test.go
  examples/app-service-certificate-order/standard/README.md
  examples/app-service-certificate-order/standard/main.tf
  examples/app-service-certificate-order/standard/outputs.tf
  examples/app-service-certificate-order/standard/variables.tf
  examples/app-service-certificate-order/wildcard/README.md
  examples/app-service-certificate-order/wildcard/main.tf
  examples/app-service-certificate-order/wildcard/outputs.tf
  examples/app-service-certificate-order/wildcard/variables.tf
  website/docs/d/app_service_certificate_order.html.markdown
  website/docs/r/app_service_certificate_order.html.markdown
Labels: documentation, service/app-service, size/XXL

#4705 missing _ in module name
  website/docs/r/front_door.html.markdown
Labels: documentation, service/frontdoor, size/XS

#4697 azurerm_kubernetes_cluster - prevent possible nil crashes when flattening the `service_principal_profile` property.
  azurerm/resource_arm_kubernetes_cluster.go
Labels: bug, service/kubernetes-cluster, size/XS

#4663 Added Terraform Azure Partner ID
  azurerm/internal/common/client_options.go
Labels: size/XS

#4711 Update app_service_source_control_token.html.markdown
  website/docs/r/app_service_source_control_token.html.markdown
Labels: documentation, service/app-service, size/XS

#4221 New Resource & DataSource: azurerm_healthcare_service
  azurerm/config.go
  azurerm/data_source_healthcare_service.go
  azurerm/data_source_healthcare_service_test.go
  azurerm/internal/services/healthcare/client.go
  azurerm/provider.go
  azurerm/required_resource_providers.go
  azurerm/resource_arm_healthcare_service.go
  azurerm/resource_arm_healthcare_service_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2019-09-16/healthcareapis/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2019-09-16/healthcareapis/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2019-09-16/healthcareapis/operationresults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2019-09-16/healthcareapis/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2019-09-16/healthcareapis/services.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2019-09-16/healthcareapis/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/d/healthcare_service.html.markdown
  website/docs/r/healthcare_service.html.markdown
Labels: dependencies, documentation, new-data-source, new-resource, size/XXL

#4725 fix for #4724 - Error was not propagated in logs in
  azurerm/resource_arm_management_group.go
Labels: bug, service/resources, size/XS

#4714 r/key_vault / r/maps: making the sku case insensitive temporarily
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_maps_account.go
Labels: bug, service/keyvault, service/maps, size/XS, upstream-microsoft

#4712 r/virtual_machine: handling `plan` having no elements
  azurerm/resource_arm_virtual_machine.go
Labels: bug, service/virtual-machine, size/XS

#4728 run terraform fmt on all documentataion terraform configurations
  website/docs/d/app_service_certificate_order.html.markdown
  website/docs/d/data_factory.html.markdown
  website/docs/d/dev_test_virtual_network.html.markdown
  website/docs/d/healthcare_service.html.markdown
  website/docs/d/resources.html.markdown
  website/docs/r/analysis_services_server.html.markdown
  website/docs/r/api_management.html.markdown
  website/docs/r/app_service_certificate_order.html.markdown
  website/docs/r/automation_account.html.markdown
  website/docs/r/container_registry_webhook.html.markdown
  website/docs/r/cosmosdb_sql_container.html.markdown
  website/docs/r/dashboard.html.markdown
  website/docs/r/data_factory.html.markdown
  website/docs/r/dev_test_schedule.html.markdown
  website/docs/r/eventhub_namespace_disaster_recovery_config.html.markdown
  website/docs/r/front_door.html.markdown
  website/docs/r/front_door_firewall_policy.html.markdown
  website/docs/r/healthcare_service.html.markdown
  website/docs/r/kusto_cluster.html.markdown
  website/docs/r/kusto_database.html.markdown
  website/docs/r/kusto_eventhub_data_connection.html.markdown
  website/docs/r/policy_definition.html.markdown
  website/docs/r/recovery_network_mapping.html.markdown
  website/docs/r/recovery_services_fabric.html.markdown
  website/docs/r/recovery_services_protection_container.html.markdown
  website/docs/r/recovery_services_protection_container_mapping.html.markdown
  website/docs/r/recovery_services_replicated_vm.html.markdown
  website/docs/r/sql_elasticpool.html.markdown
  website/docs/r/sql_failover_group.html.markdown
  website/docs/r/storage_management_policy.html.markdown
  website/docs/r/storage_table_entity.html.markdown
Labels: documentation, size/XL

#4690 Add missing subnet delegation services and actions
  azurerm/resource_arm_subnet.go
  website/docs/r/subnet.html.markdown
Labels: documentation, service/subnets, size/XS

#4717 Update docs for adls gen2
  website/docs/r/storage_data_lake_gen2_filesystem.html.markdown
Labels: documentation, service/data-lake, size/XS, waiting-response

#4734 api_management_subscription: Change possible state values to lowercase
  website/docs/r/api_management_subscription.html.markdown
Labels: documentation, service/api-management, size/XS

#4696 azurerm_function_app - add support for the `http2_enabled ` property
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_function_app_test.go
  website/docs/r/function_app.html.markdown
Labels: documentation, enhancement, service/functions, size/M, waiting-response

#3386 Add resource azurerm_automation_job_schedule
  azurerm/helpers/azure/automation.go
  azurerm/internal/services/automation/client.go
  azurerm/provider.go
  azurerm/resource_arm_automation_job_schedule.go
  azurerm/resource_arm_automation_job_schedule_test.go
  azurerm/resource_arm_automation_runbook_test.go
  examples/automation-account/main.tf
  website/azurerm.erb
  website/docs/r/automation_job_schedule.html.markdown
  website/docs/r/automation_runbook.html.markdown
Labels: documentation, new-resource, service/automation, size/XL

#4727 r/storage_blob: making `metadata` a computed field
  azurerm/resource_arm_storage_blob.go
Labels: bug, service/storage, size/XS

#4732 Feature: data source for PostgreSQL
  azurerm/data_source_postgresql_server.go
  azurerm/data_source_postgresql_server_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/postgresql_server.html.markdown
Labels: documentation, new-data-source, service/postgresql, size/L

#4735 Shared Image Gallery is no longer in preview
  website/docs/r/shared_image.html.markdown
  website/docs/r/shared_image_gallery.html.markdown
  website/docs/r/shared_image_version.html.markdown
Labels: documentation, service/images, size/XS

#4737 Remove all expired public preview notices
  website/docs/d/shared_image.html.markdown
  website/docs/d/shared_image_gallery.html.markdown
  website/docs/d/shared_image_version.html.markdown
  website/docs/r/mariadb_configuration.html.markdown
  website/docs/r/mariadb_server.html.markdown
  website/docs/r/public_ip.html.markdown
  website/docs/r/public_ip_prefix.html.markdown
  website/docs/r/virtual_network_gateway.html.markdown
Labels: documentation, size/XS

#4738 Bug Fix: Fix crash when using MSI Authentication
  azurerm/data_source_client_config.go
Labels: provider, size/XS

#4709 storage: caching all of the account information
  azurerm/internal/services/storage/client.go
  azurerm/internal/services/storage/helpers.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_blob.go
  azurerm/resource_arm_storage_blob_test.go
  azurerm/resource_arm_storage_container.go
  azurerm/resource_arm_storage_container_test.go
  azurerm/resource_arm_storage_data_lake_gen2_filesystem.go
  azurerm/resource_arm_storage_queue.go
  azurerm/resource_arm_storage_queue_test.go
  azurerm/resource_arm_storage_share.go
  azurerm/resource_arm_storage_share_directory.go
  azurerm/resource_arm_storage_share_directory_test.go
  azurerm/resource_arm_storage_share_test.go
  azurerm/resource_arm_storage_table.go
  azurerm/resource_arm_storage_table_entity.go
  azurerm/resource_arm_storage_table_entity_test.go
  azurerm/resource_arm_storage_table_test.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_unmanaged_disks_test.go
Labels: enhancement, service/storage, size/XL

#4716 Add signalr args: 'service_mode' and 'allowed_origins'
  azurerm/internal/services/signalr/client.go
  azurerm/resource_arm_signalr_service.go
  azurerm/resource_arm_signalr_service_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/signalr/mgmt/2018-10-01/signalr/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/signalr/mgmt/2018-10-01/signalr/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/signalr/mgmt/2018-10-01/signalr/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/signalr/mgmt/2018-10-01/signalr/signalr.go
  vendor/github.com/Azure/azure-sdk-for-go/services/signalr/mgmt/2018-10-01/signalr/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/signalr/mgmt/2018-10-01/signalr/version.go
  vendor/modules.txt
  website/docs/r/signalr_service.html.markdown
Labels: dependencies, documentation, service/signalr, size/XL

#4715 Added template validation
  azurerm/resource_arm_template_deployment.go
  azurerm/resource_arm_template_deployment_test.go
Labels: enhancement, service/resources, size/XS

#4743 r/eventhub_namespace: deprecating `kafka_enabled` since this is now managed by Azure
  azurerm/data_source_eventhub_namespace_test.go
  azurerm/resource_arm_eventhub_namespace.go
  azurerm/resource_arm_eventhub_namespace_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
Labels: bug, documentation, service/event-hubs, size/M

#4631 Removing lowercasing protocol to avoid changins at plans againsts loa…
  azurerm/resource_arm_loadbalancer_probe.go
  azurerm/resource_arm_loadbalancer_rule.go
Labels: enhancement, service/load-balancers, size/XS

#4746 storage_account: Fix Advanced Threat Protection matching for Azure Germany
  azurerm/resource_arm_storage_account.go
Labels: bug, service/storage, size/XS

#4740 New Data Source: `azurerm_automation_account`
  azurerm/data_source_automation_account.go
  azurerm/data_source_automation_account_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/automation_account.html.markdown
Labels: documentation, new-data-source, service/automation, size/L

#4751 Partner ID: allowing users to opt-out of the default Terraform Partner ID
  azurerm/config.go
  azurerm/internal/common/client_options.go
  azurerm/provider.go
  azurerm/required_resource_providers_test.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_data_lake_store_file_migration_test.go
  azurerm/resource_arm_storage_blob_migration_test.go
  azurerm/resource_arm_storage_container_migration_test.go
  azurerm/resource_arm_storage_queue_migration_test.go
  website/docs/index.html.markdown
Labels: documentation, provider, size/S

#4752 `azurerm_app_service_slot`: `auto_swap_slot_name` support
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service_slot_test.go
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, size/M

#4767 [Website] Fix broken link
  website/azurerm.erb
Labels: documentation, size/XS

#4754 azurerm_sql_server: Enable SystemAssigned identity
  azurerm/data_source_sql_server.go
  azurerm/resource_arm_sql_server.go
  azurerm/resource_arm_sql_server_test.go
  website/docs/d/sql_server.html.markdown
  website/docs/r/sql_server.html.markdown
Labels: documentation, enhancement, service/mssql, size/L

#4766 Bastion Host: Alter Hostname Validation Function to correct Azure Bastion Naming Requirements
  azurerm/resource_arm_bastion_host.go
Labels: enhancement, service/bastion, size/XS

#4703 azurerm_private_dns_ptr_record - new resource type (#4691)
  azurerm/provider.go
  azurerm/resource_arm_private_dns_ptr_record.go
  azurerm/resource_arm_private_dns_ptr_record_test.go
  website/azurerm.erb
  website/docs/r/private_dns_ptr_record.html.markdown
Labels: documentation, new-resource, service/dns, size/XL
