Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2019-04, with the labels that each got.

#3152 Fix docs issue about changing `enabled`
  website/docs/r/app_service.html.markdown
Labels: documentation, service/app-service, size/XS

#3142 remove minItem for zone in VMSS
  azurerm/helpers/azure/zones.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
Labels: enhancement, service/vmss, size/XS

#3151 r/api_management: support for `sign_in`, `sign_up` and `policy` blocks
  azurerm/config.go
  azurerm/helpers/suppress/xml.go
  azurerm/helpers/suppress/xml_test.go
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_api_management_test.go
  variables.tf
  website/docs/r/api_management.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#3161 Update main.tf
  examples/virtual-networks/multiple-subnets/main.tf
Labels: documentation, size/XS

#3126 Dependencies: updating the Azure SDK / Go Autorest
  azurerm/config.go
  azurerm/resource_arm_security_center_contact.go
  azurerm/resource_arm_security_center_subscription_pricing.go
  azurerm/resource_arm_security_center_subscription_pricing_test.go
  azurerm/resource_arm_security_center_workspace.go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2018-02-14/keyvault/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2017-12-01/mysql/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2017-12-01/mysql/server.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2017-12-01/postgresql/server.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2018-12-01-preview/devices/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/pricings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/advancedthreatprotection.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/alerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/allowedconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/autoprovisioningsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/compliances.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/contacts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/discoveredsecuritysolutions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/externalsecuritysolutions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/informationprotectionpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/jitnetworkaccesspolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/locations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/pricings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/settings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/tasks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/topology.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/workspacesettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2015-05-01-preview/sql/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2015-05-01-preview/sql/virtualclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2015-08-19/search/services.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/recommendations.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/github.com/Azure/go-autorest/autorest/authorization.go
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/token.go
  vendor/github.com/Azure/go-autorest/autorest/azure/environments.go
  vendor/github.com/Azure/go-autorest/autorest/client.go
  vendor/github.com/Azure/go-autorest/autorest/version.go
  vendor/modules.txt
Labels: dependencies, enhancement, size/XXL

#3168 Update documentation for storage_account resource
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XS

#3167 update documentation example sku for database
  website/docs/r/mysql_server.html.markdown
Labels: documentation, size/XS

#3155 Enabled AOF data persistence on Redis Cache
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_redis_cache_test.go
Labels: enhancement, service/redis, size/L

#3183 validation for identity_ids
  azurerm/resource_arm_virtual_machine.go
Labels: enhancement, service/virtual-machine, size/XS

#3195 alter identity_id check to be non-empty
  azurerm/resource_arm_virtual_machine.go
Labels: regression, service/virtual-machine, size/XS

#3200 move prop above block definitions
  website/docs/r/mssql_elasticpool.html.markdown
Labels: documentation, service/mssql, size/XS

#3198 Error handling for 404 responses from Azure on App Services
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_slot.go
Labels: enhancement, service/app-service, size/XS

#3184 Add service endpoint to subnet data_source
  azurerm/data_source_subnet.go
  azurerm/data_source_subnet_test.go
  website/docs/d/subnet.html.markdown
Labels: documentation, enhancement, service/subnets, size/M

#3202 remove duplicate word field
  website/docs/r/subnet.html.markdown
Labels: documentation, service/subnets, size/XS

#3173 iothub IP filters
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_iothub_test.go
  website/docs/r/iothub.html.markdown
Labels: documentation, enhancement, service/iothub, size/M

#3153 Add storage permission to KV access policy resource
  azurerm/resource_arm_key_vault_access_policy.go
  azurerm/resource_arm_key_vault_access_policy_test.go
  website/docs/r/key_vault_access_policy.html.markdown
Labels: documentation, enhancement, service/keyvault, size/XS

#3118 Add Probe support for Azure Container Instances
  azurerm/helpers/azure/container_group.go
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/container-instance, size/XL

#3204 Fix Application Insights application_type documentation
  website/docs/r/application_insights.html.markdown
  website/docs/r/application_insights_api_key.html.markdown
Labels: bug, documentation, service/application-insights, size/XS

#3207 Add new Trafficmanager Routing Methods
  azurerm/config.go
  azurerm/data_source_traffic_manager_geographical_location.go
  azurerm/resource_arm_traffic_manager_endpoint.go
  azurerm/resource_arm_traffic_manager_profile.go
  vendor/github.com/Azure/azure-sdk-for-go/services/trafficmanager/mgmt/2018-04-01/trafficmanager/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/trafficmanager/mgmt/2018-04-01/trafficmanager/endpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/trafficmanager/mgmt/2018-04-01/trafficmanager/geographichierarchies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/trafficmanager/mgmt/2018-04-01/trafficmanager/heatmap.go
  vendor/github.com/Azure/azure-sdk-for-go/services/trafficmanager/mgmt/2018-04-01/trafficmanager/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/trafficmanager/mgmt/2018-04-01/trafficmanager/profiles.go
  vendor/github.com/Azure/azure-sdk-for-go/services/trafficmanager/mgmt/2018-04-01/trafficmanager/usermetricskeys.go
  vendor/github.com/Azure/azure-sdk-for-go/services/trafficmanager/mgmt/2018-04-01/trafficmanager/version.go
  vendor/modules.txt
  website/docs/r/traffic_manager_profile.html.markdown
Labels: dependencies, documentation, enhancement, service/traffic-manager, size/XL

#3196 New Resource(s)/Data Sources for HDInsights Cluster
  azurerm/common_hdinsight.go
  azurerm/common_hdinsight_test.go
  azurerm/config.go
  azurerm/data_source_hdinsight_cluster.go
  azurerm/data_source_hdinsight_cluster_test.go
  azurerm/helpers/azure/hdinsight.go
  azurerm/helpers/azure/hdinsight_test.go
  azurerm/helpers/validate/hdinsight.go
  azurerm/helpers/validate/hdinsight_test.go
  azurerm/provider.go
  azurerm/required_resource_providers.go
  azurerm/resource_arm_hdinsight_hadoop_cluster.go
  azurerm/resource_arm_hdinsight_hadoop_cluster_test.go
  azurerm/resource_arm_hdinsight_hbase_cluster.go
  azurerm/resource_arm_hdinsight_hbase_cluster_test.go
  azurerm/resource_arm_hdinsight_interactive_query_cluster.go
  azurerm/resource_arm_hdinsight_interactive_query_cluster_test.go
  azurerm/resource_arm_hdinsight_kafka_cluster.go
  azurerm/resource_arm_hdinsight_kafka_cluster_test.go
  azurerm/resource_arm_hdinsight_ml_services_cluster.go
  azurerm/resource_arm_hdinsight_ml_services_cluster_test.go
  azurerm/resource_arm_hdinsight_rserver_cluster.go
  azurerm/resource_arm_hdinsight_rserver_cluster_test.go
  azurerm/resource_arm_hdinsight_spark_cluster.go
  azurerm/resource_arm_hdinsight_spark_cluster_test.go
  azurerm/resource_arm_hdinsight_storm_cluster.go
  azurerm/resource_arm_hdinsight_storm_cluster_test.go
  azurerm/utils/utils.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/applications.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/clusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/configurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/extensions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/locations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/scriptactions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/scriptexecutionhistory.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/d/hdinsight_cluster.html.markdown
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_ml_services_cluster.html.markdown
  website/docs/r/hdinsight_rserver_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
  website/docs/r/hdinsight_storm_cluster.html.markdown
Labels: dependencies, new-data-source, new-resource, service/hdinsight, size/XXL

#3208 Fix documentation for storage_account network rules
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XS

#3009 New resource: `azurerm_iothub_shared_access_policy`
  azurerm/provider.go
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_iothub_shared_access_policy.go
  azurerm/resource_arm_iothub_shared_access_policy_test.go
  vendor/modules.txt
  website/docs/r/iothub_shared_access_policy.html.markdown
Labels: dependencies, documentation, enhancement, service/iothub, size/XL

#3206 Blob metadata
  azurerm/resource_arm_storage_blob.go
  azurerm/resource_arm_storage_blob_test.go
  website/docs/r/storage_blob.html.markdown
Labels: documentation, enhancement, service/storage, size/M

#3205 New Resource: `azurerm_data_factory_linked_service_sql_server`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_data_factory_linked_service_sql_server.go
  azurerm/resource_arm_data_factory_linked_service_sql_server_test.go
  website/azurerm.erb
  website/docs/r/data_factory_linked_service_sql_server.html.markdown
Labels: dependencies, documentation, size/XL

#3228 Bug Fix: `azurerm_data_factory` tenant_id validation
  azurerm/resource_arm_data_factory.go
Labels: bug, service/data-factory, size/XS

#3221 Update virtual_machine_scale_set.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#3220 Update virtual_machine_scale_set.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/load-balancers, size/XS

#3235 New data source 'azurerm_firewall'
  azurerm/data_source_firewall.go
  azurerm/data_source_firewall_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/firewall.html.markdown
Labels: documentation, service/firewall, size/L

#3097 Add certificate support for Azure Batch
  azurerm/config.go
  azurerm/data_source_batch_certificate.go
  azurerm/data_source_batch_certificate_test.go
  azurerm/data_source_batch_pool.go
  azurerm/data_source_batch_pool_test.go
  azurerm/helpers/azure/batch_pool.go
  azurerm/provider.go
  azurerm/resource_arm_batch_certificate.go
  azurerm/resource_arm_batch_certificate_test.go
  azurerm/resource_arm_batch_pool.go
  azurerm/resource_arm_batch_pool_test.go
  azurerm/testdata/batch_certificate.cer
  azurerm/testdata/batch_certificate.pfx
  website/azurerm.erb
  website/docs/d/batch_certificate.html.markdown
  website/docs/d/batch_pool.html.markdown
  website/docs/r/batch_certificate.html.markdown
  website/docs/r/batch_pool.html.markdown
Labels: documentation, new-data-source, new-resource, service/batch, size/XXL

#3238 Change "vault_uri" to "key_vault_id"
  website/docs/d/key_vault_secret.html.markdown
Labels: documentation, service/keyvault, size/XS

#3236 New Resource: `azurerm_data_factory_dataset_sql_server_table`
  azurerm/config.go
  azurerm/data_factory.go
  azurerm/provider.go
  azurerm/resource_arm_data_factory_dataset_sql_server_table.go
  azurerm/resource_arm_data_factory_dataset_sql_server_table_test.go
  azurerm/resource_arm_data_factory_linked_service_sql_server.go
  azurerm/resource_arm_data_factory_linked_service_sql_server_test.go
  website/azurerm.erb
  website/docs/r/data_factory_dataset_sql_server_table.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#3240 fix testaccAzureRMBatchPool_requiresImport location attribute
  azurerm/resource_arm_batch_pool_test.go
Labels: service/batch, size/XS

#3242 batch tests: fix resource group names
  azurerm/data_source_batch_account_test.go
  azurerm/data_source_batch_pool_test.go
  azurerm/resource_arm_batch_account_test.go
  azurerm/resource_arm_batch_pool_test.go
Labels: service/batch, size/XS, technical-debt

#3245 Update devspace_controller.html.markdown
  website/docs/r/devspace_controller.html.markdown
Labels: documentation, service/devspace, size/XS

#3139 Public ip prefix
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_public_ip_prefix.go
  azurerm/resource_arm_public_ip_prefix_test.go
  azurerm/resource_arm_public_ip_test.go
  website/docs/r/public_ip.html.markdown
  website/docs/r/public_ip_prefix.html.markdown
Labels: documentation, service/public-ip, size/XL

#3248 r/hdinsight: fixing the validation for the `storage_container_id`
  azurerm/helpers/azure/hdinsight.go
Labels: bug, service/hdinsight, size/XS

#3213 Added azure network policy for AKS
  azurerm/data_source_kubernetes_cluster_test.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/M

#3227 New Data Source/Resource: `azurerm_stream_analytics_job`
  azurerm/config.go
  azurerm/data_source_stream_analytics_job.go
  azurerm/data_source_stream_analytics_job_test.go
  azurerm/helpers/azure/stream_analytics_output.go
  azurerm/helpers/azure/stream_analytics_stream_input.go
  azurerm/helpers/validate/stream_analytics.go
  azurerm/helpers/validate/stream_analytics_test.go
  azurerm/provider.go
  azurerm/required_resource_providers.go
  azurerm/resource_arm_stream_analytics_job.go
  azurerm/resource_arm_stream_analytics_job_test.go
  variables.tf
  vendor/github.com/Azure/azure-sdk-for-go/services/streamanalytics/mgmt/2016-03-01/streamanalytics/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/streamanalytics/mgmt/2016-03-01/streamanalytics/functions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/streamanalytics/mgmt/2016-03-01/streamanalytics/inputs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/streamanalytics/mgmt/2016-03-01/streamanalytics/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/streamanalytics/mgmt/2016-03-01/streamanalytics/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/streamanalytics/mgmt/2016-03-01/streamanalytics/outputs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/streamanalytics/mgmt/2016-03-01/streamanalytics/streamingjobs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/streamanalytics/mgmt/2016-03-01/streamanalytics/subscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/streamanalytics/mgmt/2016-03-01/streamanalytics/transformations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/streamanalytics/mgmt/2016-03-01/streamanalytics/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/d/stream_analytics_job.html.markdown
  website/docs/r/stream_analytics_job.html.markdown
Labels: dependencies, documentation, new-data-source, new-resource, service/streamanalytics, size/XXL

#3244 New Resource: `azurerm_data_factory_pipeline`
  azurerm/config.go
  azurerm/data_factory.go
  azurerm/provider.go
  azurerm/resource_arm_data_factory_pipeline.go
  azurerm/resource_arm_data_factory_pipeline_test.go
  website/docs/r/data_factory_pipeline.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#3249 New Resource: `azurerm_stream_analytics_function_javascript_udf`
  azurerm/provider.go
  azurerm/resource_arm_stream_analytics_function_javascript_udf.go
  azurerm/resource_arm_stream_analytics_function_javascript_udf_test.go
  website/azurerm.erb
  website/docs/r/stream_analytics_function_javascript_udf.html.markdown
Labels: dependencies, documentation, new-resource, service/streamanalytics, size/XL

#3250 New Resources: Stream Analytics Outputs
  azurerm/provider.go
  azurerm/resource_arm_stream_analytics_output_blob.go
  azurerm/resource_arm_stream_analytics_output_blob_test.go
  azurerm/resource_arm_stream_analytics_output_eventhub.go
  azurerm/resource_arm_stream_analytics_output_eventhub_test.go
  azurerm/resource_arm_stream_analytics_output_servicebus_queue.go
  azurerm/resource_arm_stream_analytics_output_servicebus_queue_test.go
  azurerm/resource_arm_stream_analytics_stream_input_blob.go
  azurerm/resource_arm_stream_analytics_stream_input_blob_test.go
  azurerm/resource_arm_stream_analytics_stream_input_eventhub.go
  azurerm/resource_arm_stream_analytics_stream_input_eventhub_test.go
  azurerm/resource_arm_stream_analytics_stream_input_iothub.go
  azurerm/resource_arm_stream_analytics_stream_input_iothub_test.go
  website/azurerm.erb
  website/docs/r/stream_analytics_job.html.markdown
  website/docs/r/stream_analytics_output_blob.html.markdown
  website/docs/r/stream_analytics_output_eventhub.html.markdown
  website/docs/r/stream_analytics_output_servicebus_queue.html.markdown
  website/docs/r/stream_analytics_stream_input_blob.html.markdown
  website/docs/r/stream_analytics_stream_input_eventhub.html.markdown
  website/docs/r/stream_analytics_stream_input_iothub.html.markdown
Labels: dependencies, documentation, new-resource, service/streamanalytics, size/XXL

#3222 Revisions to managed identity topic
  website/docs/auth/managed_service_identity.html.markdown
Labels: documentation, size/M

#3254 Switch to use xargs instead of backquote
  GNUmakefile
  scripts/gofmtcheck.sh
Labels: enhancement, size/XS

#3259 Add required test value to data_source_api_management_product_test
  azurerm/data_source_api_management_product_test.go
Labels: bug, service/api-management, size/XS

#3219 remove "Computed" from schema
  azurerm/helpers/azure/app_service.go
Labels: bug, service/app-service, size/XS

#3261 Firewall minimum range it is 26 not 25
  website/docs/r/firewall.html.markdown
Labels: documentation, service/firewall, size/XS

#3264 docs/search_service: Changing the example to lowercase the SKU
  website/docs/r/search_service.html.markdown
Labels: documentation, service/search, size/XS

#3260 r/batch_account & r/batch_pool: temporarily treating the resource group name as case insensitive
  azurerm/resource_arm_batch_account.go
  azurerm/resource_arm_batch_pool.go
  website/docs/r/batch_account.html.markdown
  website/docs/r/batch_pool.html.markdown
Labels: bug, documentation, service/batch, size/XS, upstream-microsoft

#3266 New Resource: `azurerm_data_factory_linked_service_postgresql`
  azurerm/provider.go
  azurerm/resource_arm_data_factory_linked_service_postgresql.go
  azurerm/resource_arm_data_factory_linked_service_postgresql_test.go
  website/azurerm.erb
  website/docs/r/data_factory_linked_service_postgresql.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#3158 New Data Source: `azurerm_express_route_circuit`
  azurerm/data_source_express_route_circuit.go
  azurerm/data_source_express_route_circuit_test.go
  azurerm/provider.go
  azurerm/resource_arm_express_route_circuit_test.go
  azurerm/resource_arm_virtual_network_gateway_connection.go
  website/azurerm.erb
  website/docs/d/express_route_circuit.html.markdown
  website/docs/r/virtual_network_gateway_connection.html.markdown
Labels: documentation, new-data-source, service/express-route, size/XL

#3268 New Resource: `azurerm_data_factory_dataset_postgresql`
  azurerm/provider.go
  azurerm/resource_arm_data_factory_dataset_postgresql.go
  azurerm/resource_arm_data_factory_dataset_postgresql_test.go
  website/azurerm.erb
  website/docs/r/data_factory_dataset_postgresql.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#3269 Downgrading the Security API to 2017-08-01-preview
  azurerm/config.go
  azurerm/resource_arm_security_center_contact.go
  azurerm/resource_arm_security_center_subscription_pricing.go
  azurerm/resource_arm_security_center_subscription_pricing_test.go
  azurerm/resource_arm_security_center_workspace.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/advancedthreatprotection.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/alerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/allowedconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/autoprovisioningsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/compliances.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/contacts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/discoveredsecuritysolutions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/externalsecuritysolutions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/informationprotectionpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/jitnetworkaccesspolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/locations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/pricings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/settings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/tasks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/topology.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v1.0/security/workspacesettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v2.0/security/pricings.go
  vendor/modules.txt
Labels: bug, dependencies, regression, service/security-center, size/XXL

#3270 Added Java 11 to App Service resource
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, enhancement, service/app-service, size/M

#3180 route_table: Prepare "route" argument for Terraform Core v0.12.0
  azurerm/resource_arm_route_table.go
  azurerm/resource_arm_route_table_test.go
  website/docs/r/route_table.html.markdown
Labels: documentation, service/route-tables, size/S

#3199 key_vault: Prepare "access_policy" argument for Terraform Core v0.12.0
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_test.go
  website/docs/r/key_vault.html.markdown
Labels: documentation, size/M, upstream-terraform

#3197 network_security_group: Prepare "security_rule" argument for Terraform Core v0.12.0
  azurerm/resource_arm_network_security_group.go
  azurerm/resource_arm_network_security_group_test.go
  website/docs/r/network_security_group.html.markdown
Labels: documentation, size/S, upstream-terraform

#3211 resource/app_service(_slot): Set SchemaConfigModeAttr on .site_config.up_restriction
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, size/L

#3272 datalake: change test resource names to be more random
  azurerm/resource_arm_data_lake_analytics_account_test.go
  azurerm/resource_arm_data_lake_analytics_firewall_rule_test.go
Labels: bug, service/data-lake, size/XS

#3274 TestAccAzureRMImage: update ubuntu version from 16.04 to 18.04
  azurerm/resource_arm_image_test.go
Labels: bug, service/images, size/XS

#3243 added support for identity attribute on container groups
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/container-instance, size/XL

#3287 hdinsight cluster docs update
  website/docs/d/hdinsight_cluster.html.markdown
Labels: documentation, service/hdinsight, size/XS

#3291 0.12: further test config fixes
  azurerm/data_source_batch_pool_test.go
  azurerm/resource_arm_api_management_test.go
  azurerm/resource_arm_container_group_test.go
  azurerm/resource_arm_data_factory_dataset_mysql_test.go
  azurerm/resource_arm_data_factory_dataset_postgresql_test.go
  azurerm/resource_arm_data_factory_dataset_sql_server_table_test.go
  azurerm/resource_arm_data_factory_linked_service_mysql_test.go
  azurerm/resource_arm_data_factory_linked_service_postgresql_test.go
  azurerm/resource_arm_data_factory_linked_service_sql_server_test.go
  azurerm/resource_arm_data_factory_pipeline_test.go
  azurerm/resource_arm_data_lake_store_firewall_rule_test.go
  azurerm/resource_arm_data_lake_store_test.go
  azurerm/resource_arm_recovery_services_protection_policy_vm_test.go
  azurerm/resource_arm_scheduler_job_test.go
  azurerm/resource_arm_storage_blob_test.go
  azurerm/resource_arm_storage_share_test.go
  website/docs/r/batch_pool.html.markdown
Labels: documentation, size/M

#3296 add azurerm_iothub_shared_access_policy and azurerm_public_ip_prefix to sidebar
  website/azurerm.erb
Labels: documentation, size/XS

#3281 Added required field to get fqdn
  website/docs/r/public_ip.html.markdown
Labels: documentation, service/public-ip, size/XS

#3301 AutoRest: ensuring the same senders are used for auth & client requests
  azurerm/config.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_azure_cli_token.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_client_cert.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_client_secret.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_msi.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/config.go
  vendor/github.com/hashicorp/go-azure-helpers/resourceproviders/registration.go
  vendor/modules.txt
Labels: dependencies, size/S

#3307 Various acceptance test fixes
  azurerm/data_source_image.go
  azurerm/data_source_image_test.go
  azurerm/data_source_management_group.go
  azurerm/data_source_monitor_diagnostic_categories_test.go
  azurerm/data_source_policy_definition_test.go
  azurerm/resource_arm_batch_certificate.go
  azurerm/resource_arm_batch_certificate_test.go
  azurerm/resource_arm_express_route_circuit_peering_test.go
  azurerm/resource_arm_function_app_test.go
  azurerm/resource_arm_hdinsight_storm_cluster_test.go
  azurerm/resource_arm_image_test.go
  azurerm/resource_arm_iothub_shared_access_policy_test.go
  azurerm/resource_arm_virtual_machine_unmanaged_disks_test.go
Labels: bug, size/S

#3313 upgrade go-azure-helpers to 0.4.1 (fixes gov provider registration)
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourceproviders/registration.go
  vendor/modules.txt
Labels: bug, dependencies, provider, regression, size/XS

#3321 linting: extend deadline from 1m to 7m
  .golangci.yml
Labels: bug, provider, size/XS

#3315 azurerm: add missing address_prefixes attributes in the doc
  website/docs/d/network_security_group.html.markdown
Labels: documentation, service/network-security, size/XS

#3286 Application Gateway: removed validation in application gateway
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS

#3218 New Resource: `azurerm_firewall_nat_rule_collection`
  azurerm/provider.go
  azurerm/resource_arm_firewall_nat_rule_collection.go
  azurerm/resource_arm_firewall_nat_rule_collection_test.go
  website/azurerm.erb
  website/docs/r/firewall_nat_rule_collection.html.markdown
Labels: documentation, new-resource, service/firewall, size/XXL

#3324 azurerm_batch_certificate: make RG property case insensitive due to broken API
  azurerm/resource_arm_batch_certificate.go
Labels: bug, service/batch, size/XS

#3323 test cfg: acctestrg -> acctestRG
  azurerm/data_source_monitor_diagnostic_categories_test.go
  azurerm/data_source_monitor_log_profile_test.go
  azurerm/data_source_network_watcher_test.go
  azurerm/resource_arm_api_management_api_operation_test.go
  azurerm/resource_arm_api_management_api_test.go
  azurerm/resource_arm_data_factory_dataset_mysql_test.go
  azurerm/resource_arm_data_factory_dataset_postgresql_test.go
  azurerm/resource_arm_data_factory_dataset_sql_server_table_test.go
  azurerm/resource_arm_data_factory_linked_service_mysql_test.go
  azurerm/resource_arm_data_factory_linked_service_postgresql_test.go
  azurerm/resource_arm_data_factory_linked_service_sql_server_test.go
  azurerm/resource_arm_data_factory_pipeline_test.go
  azurerm/resource_arm_data_factory_test.go
  azurerm/resource_arm_hdinsight_hadoop_cluster_test.go
  azurerm/resource_arm_hdinsight_hbase_cluster_test.go
  azurerm/resource_arm_hdinsight_interactive_query_cluster_test.go
  azurerm/resource_arm_hdinsight_kafka_cluster_test.go
  azurerm/resource_arm_hdinsight_ml_services_cluster_test.go
  azurerm/resource_arm_hdinsight_rserver_cluster_test.go
  azurerm/resource_arm_hdinsight_spark_cluster_test.go
  azurerm/resource_arm_hdinsight_storm_cluster_test.go
  azurerm/resource_arm_monitor_log_profile_test.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
Labels: refactor, size/M

#3325 New Resource: `api_management_product_policy`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_product_policy.go
  azurerm/resource_arm_api_management_product_policy_test.go
  website/azurerm.erb
  website/docs/r/api_management_product_policy.html.markdown
Labels: documentation, size/XL

#3329 bugfix: `azurerm_stream_analytics_job` resource does not set tags
  azurerm/resource_arm_stream_analytics_job.go
  azurerm/resource_arm_stream_analytics_job_test.go
  website/docs/r/stream_analytics_job.html.markdown
Labels: documentation, enhancement, service/stream-analytics, size/XS

#3318 bugfix: azurerm_stream_analytics_output_eventhub does not set the output format
  azurerm/helpers/azure/stream_analytics_output.go
  azurerm/resource_arm_stream_analytics_output_eventhub_test.go
Labels: bug, service/stream-analytics, size/M, waiting-response

#3333 Fix: Ignore case difference in Resource Group Name for Data Factory resources
  azurerm/resource_arm_data_factory.go
  azurerm/resource_arm_data_factory_dataset_mysql.go
  azurerm/resource_arm_data_factory_dataset_postgresql.go
  azurerm/resource_arm_data_factory_dataset_sql_server_table.go
  azurerm/resource_arm_data_factory_linked_service_mysql.go
  azurerm/resource_arm_data_factory_linked_service_postgresql.go
  azurerm/resource_arm_data_factory_linked_service_sql_server.go
  azurerm/resource_arm_data_factory_pipeline.go
Labels: bug, service/data-factory, size/S
