Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2019-12, with the labels that each got.

#4679 New Resource: `azurerm_virtual_machine_scale_set_extension`
  azurerm/internal/clients/compute.go
  azurerm/internal/services/compute/validation.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/virtual_machine_scale_set_extension.go
  azurerm/provider.go
  azurerm/resource_arm_virtual_machine_extension.go
  azurerm/resource_arm_virtual_machine_scale_set_extension.go
  azurerm/resource_arm_virtual_machine_scale_set_extension_test.go
  website/docs/r/virtual_machine_scale_set_extension.html.markdown
Labels: documentation, new-resource, service/vmss, size/XXL

#5043 r/virtual_machine_scale_set_extension: adding a category
  website/docs/r/virtual_machine_scale_set_extension.html.markdown
Labels: documentation, service/vmss, size/XS

#5034 refactor: moving off the deprecated fields/functions
  azurerm/data_source_healthcare_service.go
  azurerm/data_source_storage_management_policy.go
  azurerm/deprecated.go
  azurerm/resource_arm_automation_job_schedule.go
  azurerm/resource_arm_automation_job_schedule_test.go
  azurerm/resource_arm_bastion_host.go
  azurerm/resource_arm_front_door.go
  azurerm/resource_arm_front_door_firewall_policy.go
  azurerm/resource_arm_healthcare_service.go
  azurerm/resource_arm_iothub_endpoint_eventhub.go
  azurerm/resource_arm_iothub_endpoint_eventhub_test.go
  azurerm/resource_arm_iothub_endpoint_servicebus_queue.go
  azurerm/resource_arm_iothub_endpoint_servicebus_queue_test.go
  azurerm/resource_arm_iothub_endpoint_servicebus_topic.go
  azurerm/resource_arm_iothub_endpoint_servicebus_topic_test.go
  azurerm/resource_arm_iothub_endpoint_storage_container.go
  azurerm/resource_arm_iothub_endpoint_storage_container_test.go
  azurerm/resource_arm_iothub_fallback_route.go
  azurerm/resource_arm_iothub_fallback_route_test.go
  azurerm/resource_arm_iothub_route.go
  azurerm/resource_arm_iothub_route_test.go
  azurerm/resource_arm_kubernetes_cluster_node_pool.go
  azurerm/resource_arm_private_dns_zone_virtual_network_link.go
  azurerm/resource_arm_storage_management_policy.go
  azurerm/resource_arm_storage_management_policy_test.go
Labels: provider, refactor, size/L

#5047 r/front_door: Fix typos in doc
  website/docs/r/front_door.html.markdown
Labels: bug, documentation, service/frontdoor, size/XS

#4493 New Resource: `azurerm_private_link_endpoint` New Data Source: `azurerm_private_link_endpoint_connection` and expose attibute in `azurerm_subnet`
  azurerm/data_source_private_link_endpoint_connection.go
  azurerm/data_source_private_link_endpoint_connection_test.go
  azurerm/data_source_private_link_service.go
  azurerm/data_source_private_link_service_endpoint_connections.go
  azurerm/data_source_private_link_service_endpoint_connections_test.go
  azurerm/data_source_private_link_service_test.go
  azurerm/data_source_subnet.go
  azurerm/internal/services/network/client.go
  azurerm/internal/services/network/validate.go
  azurerm/provider.go
  azurerm/resource_arm_private_link_endpoint.go
  azurerm/resource_arm_private_link_endpoint_test.go
  azurerm/resource_arm_private_link_service.go
  azurerm/resource_arm_private_link_service_test.go
  azurerm/resource_arm_subnet.go
  examples/private_endpoint/README.md
  examples/private_endpoint/main.tf
  examples/private_endpoint/variables.tf
  website/azurerm.erb
  website/docs/d/private_link_endpoint_connection.html.markdown
  website/docs/d/private_link_service.html.markdown
  website/docs/d/private_link_service_endpoint_connections.html.markdown
  website/docs/d/subnet.html.markdown
  website/docs/r/private_link_endpoint.html.markdown
  website/docs/r/private_link_service.html.markdown
  website/docs/r/subnet.html.markdown
Labels: documentation, new-data-source, new-resource, service/network-interfaces, size/XXL

#4449 New Resource/Data Source: `azurerm_nat_gateway` and `azurerm_subnet_nat_gateway_association`
  azurerm/data_source_nat_gateway.go
  azurerm/data_source_nat_gateway_test.go
  azurerm/internal/services/network/client.go
  azurerm/internal/services/network/validate.go
  azurerm/provider.go
  azurerm/resource_arm_nat_gateway.go
  azurerm/resource_arm_nat_gateway_test.go
  azurerm/resource_arm_subnet_nat_gateway_association.go
  azurerm/resource_arm_subnet_nat_gateway_association_test.go
  website/azurerm.erb
  website/docs/d/nat_gateway.html.markdown
  website/docs/r/nat_gateway.html.markdown
  website/docs/r/subnet_nat_gateway_association.html.markdown
Labels: documentation, new-data-source, new-resource, preview, service/network-interfaces, size/XXL

#5056 `azurerm_application_gateway` - Fixes crash when using an empty body for probe match
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
Labels: crash, service/application-gateway, size/L

#5087 azurerm_application_gateway: updated `ssl_policy` block documentation
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#5057 Private_Link_Endpoint: Some minor updates
  azurerm/internal/services/network/validate.go
  azurerm/resource_arm_private_link_endpoint.go
  azurerm/resource_arm_private_link_endpoint_test.go
  website/docs/r/private_link_endpoint.html.markdown
Labels: documentation, service/private-link, size/M

#5082 New Resource: `azurerm_storage_account_network_rules`
  azurerm/provider.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_account_network_rules.go
  azurerm/resource_arm_storage_account_network_rules_test.go
  website/azurerm.erb
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_account_network_rules.html.markdown
Labels: documentation, new-resource, service/storage, size/XL

#5101 `azurerm_storage_account_network_rules` - delete updates rules to Allow
  azurerm/resource_arm_storage_account_network_rules.go
  website/docs/r/storage_account_network_rules.html.markdown
Labels: documentation, size/XS

#5062 Updated AppServicePlan documentation
  website/docs/r/app_service_plan.html.markdown
Labels: documentation, service/app-service, size/XS

#5104 r/nat_gateway: handling a crash when the `sku` block is nil
  azurerm/data_source_nat_gateway.go
  azurerm/resource_arm_nat_gateway.go
Labels: bug, service/nat-gateway, size/XS

#5106 refactor: making correlation id private
  azurerm/internal/common/client_options.go
  azurerm/internal/common/correlation_id.go
  azurerm/internal/common/correlation_id_test.go
Labels: provider, refactor, size/XS

#5113 provider: ensuring the providers slice isn't a nil pointer
  azurerm/provider_test.go
Labels: bug, size/XS, tests

#5075 Bug: List storage accounts returns only first page
  azurerm/internal/services/storage/helpers.go
Labels: bug, service/storage, size/XS

#5105 Custom Timeouts: adding compile-time checks
  GNUmakefile
  azurerm/data_source_nat_gateway.go
  azurerm/data_source_private_link_endpoint_connection.go
  azurerm/data_source_private_link_service_endpoint_connections.go
  azurerm/data_source_resources.go
  azurerm/provider.go
  azurerm/provider_test.go
  azurerm/resource_arm_container_registry_migrate.go
  azurerm/resource_arm_container_service.go
  azurerm/resource_arm_data_factory_integration_runtime_managed.go
  azurerm/resource_arm_iothub_fallback_route.go
  azurerm/resource_arm_iothub_route.go
  azurerm/resource_arm_metric_alertrule.go
  azurerm/resource_arm_monitor_log_profile.go
  azurerm/resource_arm_nat_gateway.go
  azurerm/resource_arm_private_link_endpoint.go
  azurerm/resource_arm_storage_data_lake_gen2_filesystem.go
  azurerm/resource_arm_subnet_nat_gateway_association.go
  azurerm/resource_arm_virtual_machine_scale_set_migration.go
  azurerm/resource_arm_windows_virtual_machine_scale_set.go
  scripts/timeouts.sh
Labels: enhancement, provider, size/XL

#5077 refactoring clients: phrase 2
  azurerm/config.go
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/databricks/client/client.go
  azurerm/internal/services/databricks/registration.go
  azurerm/internal/services/datafactory/client/client.go
  azurerm/internal/services/datafactory/registration.go
  azurerm/internal/services/datalake/client/client.go
  azurerm/internal/services/datalake/registration.go
  azurerm/internal/services/devspace/client/client.go
  azurerm/internal/services/devspace/registration.go
  azurerm/internal/services/devtestlabs/client/client.go
  azurerm/internal/services/devtestlabs/registration.go
  azurerm/internal/services/dns/client/client.go
  azurerm/internal/services/dns/registration.go
  azurerm/internal/services/eventgrid/client/client.go
  azurerm/internal/services/eventgrid/registration.go
  azurerm/internal/services/eventhub/client/client.go
  azurerm/internal/services/eventhub/registration.go
  azurerm/internal/services/frontdoor/client/client.go
  azurerm/internal/services/frontdoor/registration.go
  azurerm/internal/services/graph/client/client.go
  azurerm/internal/services/graph/registration.go
  azurerm/internal/services/hdinsight/client/client.go
  azurerm/internal/services/hdinsight/registration.go
  azurerm/internal/services/healthcare/client/client.go
  azurerm/internal/services/healthcare/registration.go
Labels: provider, refactor, size/XL

#5107 App Service: Adding Import-Time Validation
  azurerm/helpers/azure/app_service.go
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_certificate.go
  azurerm/internal/services/web/app_service_certificate_order.go
  azurerm/internal/services/web/app_service_certificate_order_test.go
  azurerm/internal/services/web/app_service_certificate_test.go
  azurerm/internal/services/web/app_service_custom_hostname_binding.go
  azurerm/internal/services/web/app_service_custom_hostname_binding_test.go
  azurerm/internal/services/web/app_service_plan.go
  azurerm/internal/services/web/app_service_plan_test.go
  azurerm/internal/services/web/app_service_slot.go
  azurerm/internal/services/web/app_service_slot_test.go
  azurerm/internal/services/web/app_service_source_control_token.go
  azurerm/internal/services/web/app_service_source_control_token_test.go
  azurerm/internal/services/web/app_service_test.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_active_slot.go
  azurerm/resource_arm_app_service_certificate.go
  azurerm/resource_arm_app_service_certificate_order.go
  azurerm/resource_arm_app_service_custom_hostname_binding.go
  azurerm/resource_arm_app_service_plan.go
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_source_control_token.go
  azurerm/resource_arm_function_app.go
Labels: enhancement, service/app-service, size/XXL

#5118 BUG: `azurerm_private_link_endpoint`: fixes subresource name validation
  azurerm/internal/services/network/private_link_endpoint_test.go
  azurerm/internal/services/network/validate.go
Labels: bug, service/private-link, size/M

#5124 Custom Timeouts: adding a timeout to the linux vmss resource
  azurerm/provider_test.go
  azurerm/resource_arm_linux_virtual_machine_scale_set.go
Labels: bug, provider, size/XS

#4859 New Resource: `azurerm_app_configuration`
  azurerm/internal/clients/client.go
  azurerm/internal/services/appconfiguration/client/client.go
  azurerm/provider.go
  azurerm/resource_arm_app_configuration.go
  azurerm/resource_arm_app_configuration_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appconfiguration/mgmt/2019-10-01/appconfiguration/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appconfiguration/mgmt/2019-10-01/appconfiguration/configurationstores.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appconfiguration/mgmt/2019-10-01/appconfiguration/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appconfiguration/mgmt/2019-10-01/appconfiguration/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appconfiguration/mgmt/2019-10-01/appconfiguration/version.go
  vendor/modules.txt
  website/docs/r/app_configuration.html.markdown
Labels: dependencies, documentation, new-resource, size/XXL

#5116 azurerm_cosmos_mongo_*: fix throughput & deprecate indexes
  azurerm/resource_arm_cosmosdb_mongo_collection.go
  azurerm/resource_arm_cosmosdb_mongo_collection_test.go
  azurerm/resource_arm_cosmosdb_mongo_database.go
  azurerm/resource_arm_cosmosdb_mongo_database_test.go
  website/docs/r/cosmosdb_mongo_collection.html.markdown
  website/docs/r/cosmosdb_mongo_database.html.markdown
Labels: bug, documentation, service/cosmosdb, size/XL

#4984 New Resource: `azurerm_bot_channel_ms_teams`
  azurerm/helpers/validate/bot.go
  azurerm/helpers/validate/bot_test.go
  azurerm/provider.go
  azurerm/resource_arm_bot_channel_ms_teams.go
  azurerm/resource_arm_bot_channel_ms_teams_test.go
  azurerm/resource_arm_bot_channels_registration_test.go
  website/azurerm.erb
  website/docs/r/bot_channel_ms_teams.markdown
Labels: documentation, new-resource, service/bots, size/XL

#5136 azurerm_app_service_certificate - Fix typo in import example
  website/docs/r/app_service_certificate.html.markdown
Labels: documentation, service/app-service, size/XS

#5135 azurerm_container_group - correct docs (httpget -> http_get)
  website/docs/r/container_group.html.markdown
Labels: documentation, service/container-group, size/XS

#3806 [azurerm_database_vulnerability_assessment_rule_baseline] New resource for vulnerability scan baseline settings
  azurerm/internal/services/mssql/client/client.go
  azurerm/provider.go
  azurerm/resource_arm_mssql_database_vulnerability_assessment_rule_baseline.go
  azurerm/resource_arm_mssql_database_vulnerability_assessment_rule_baseline_test.go
  azurerm/resource_arm_mssql_server_security_alert_policy.go
  azurerm/resource_arm_mssql_server_security_alert_policy_test.go
  azurerm/resource_arm_mssql_server_vulnerability_assessment.go
  azurerm/resource_arm_mssql_server_vulnerability_assessment_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-05-15/kusto/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/databasesecurityalertpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/elasticpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/instancepools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/manageddatabasesensitivitylabels.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/managedinstances.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/managedinstancevulnerabilityassessments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/servervulnerabilityassessments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/mssql_database_vulnerability_assessment_rule_baseline.html.markdown
  website/docs/r/mssql_server_security_alert_policy.html.markdown
  website/docs/r/mssql_server_vulnerability_assessment.html.markdown
Labels: dependencies, documentation, new-resource, service/mssql, size/XXL

#5138 azurerm_eventhub_*: update test configs
  azurerm/resource_arm_eventhub_namespace_authorization_rule_test.go
  azurerm/resource_arm_eventhub_namespace_disaster_recovery_config_test.go
  azurerm/resource_arm_eventhub_test.go
Labels: service/event-hubs, size/S, tests

#5074 `azurerm_function_app` - support for `min_tls_version`
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_function_app_test.go
  website/docs/r/function_app.html.markdown
Labels: documentation, enhancement, service/functions, size/M

#4993 Add APIVersion and APIVersionSetID to import
  azurerm/resource_arm_api_management_api.go
Labels: bug, regression, service/api-management, size/XS

#5149 `azurerm_kubernetes_*` - Move tests under a single
  azurerm/data_source_kubernetes_cluster_test.go
  azurerm/resource_arm_kubernetes_cluster_addons_test.go
  azurerm/resource_arm_kubernetes_cluster_auth_test.go
  azurerm/resource_arm_kubernetes_cluster_legacy_test.go
  azurerm/resource_arm_kubernetes_cluster_network_test.go
  azurerm/resource_arm_kubernetes_cluster_node_pool_test.go
  azurerm/resource_arm_kubernetes_cluster_other_test.go
  azurerm/resource_arm_kubernetes_cluster_scaling_test.go
  azurerm/resource_arm_kubernetes_cluster_test.go
Labels: enhancement, service/kubernetes-cluster, size/XL, tests

#5143 dependencies: upgrading to v0.7.1 of github.com/tombuildsstuff/giovanni
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-05-15/kusto/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/manageddatabaserestoredetails.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/manageddatabases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/models.go
  vendor/github.com/tombuildsstuff/giovanni/version/version.go
  vendor/modules.txt
Labels: dependencies, service/storage, size/XXL

#5167 Bug: `azurerm_private_endpoint` fix regex length constraint
  azurerm/internal/services/network/private_link_endpoint_test.go
  azurerm/internal/services/network/validate.go
Labels: bug, service/private-link, size/XS

#5162 add azurerm_private_link_endpoint -> azurerm_private_endpoint to the 2.0 upgrade guide
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: documentation, service/private-link, size/XS

#5151 Doc changes to certificate import options in KeyVault and preconditions for import to WebApp
  website/docs/r/app_service_certificate.html.markdown
  website/docs/r/key_vault_certificate.html.markdown
Labels: documentation, service/app-service, size/XS

#5054 Fix product api not reassigned on manual delete
  azurerm/resource_arm_api_management_product_api.go
Labels: enhancement, service/api-management, size/XS

#5169 `azurerm_function_app` - support for `ftps_state`
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_function_app_test.go
  website/docs/r/function_app.html.markdown
Labels: documentation, enhancement, service/functions, size/M

#5181 fix typo in the notes
  website/docs/r/iothub.html.markdown
Labels: documentation, service/iothub, size/XS

#5182 Two arguments in Management Group import
  website/docs/r/management_group.html.markdown
Labels: documentation, service/resources, size/XS

#5186 fix copy paste errors of App Configuration docs
  website/docs/r/app_configuration.html.markdown
Labels: documentation, size/XS

#5178 azurerm_private_link_service: support for `enable_proxy_protocol`
  azurerm/data_source_private_link_service.go
  azurerm/resource_arm_private_link_service.go
  azurerm/resource_arm_private_link_service_test.go
  website/docs/d/private_link_service.html.markdown
  website/docs/r/private_link_service.html.markdown
Labels: documentation, enhancement, service/private-link, size/L

#5158 Add note about SLB req for availability_zones
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#5184 refactor: moving the config builder / introducing the `acceptance` package
  azurerm/config.go
  azurerm/internal/acceptance/client_data.go
  azurerm/internal/acceptance/data.go
  azurerm/internal/acceptance/deprecated.go
  azurerm/internal/acceptance/locations.go
  azurerm/internal/acceptance/steps.go
  azurerm/internal/acceptance/testing.go
  azurerm/internal/clients/builder.go
  azurerm/internal/clients/client.go
  azurerm/internal/features/dynamic_test_locations.go
  azurerm/internal/features/dynamic_test_locations_test.go
  azurerm/provider.go
  azurerm/required_resource_providers_test.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_data_lake_store_file_migration_test.go
  azurerm/resource_arm_resource_group_test.go
  azurerm/resource_arm_storage_blob_migration_test.go
  azurerm/resource_arm_storage_container_migration_test.go
  azurerm/resource_arm_storage_queue_migration_test.go
Labels: provider, refactor, size/XL, tests

#5190 sql-database documentation update
  website/docs/r/sql_database.html.markdown
Labels: documentation, service/mssql, size/XS

#4453 `azurerm_image`: add option to set the hyper_v_generation for the image
  azurerm/resource_arm_image.go
  azurerm/resource_arm_image_test.go
  azurerm/resource_arm_shared_image_version_test.go
  website/docs/r/image.html.markdown
Labels: documentation, enhancement, service/images, size/M

#5194 azurerm_log_profile wait for stable state
  azurerm/resource_arm_monitor_log_profile.go
Labels: enhancement, service/monitor, size/S

#5046 Healthcare resource. CORS block is fixed to avoid unnecessary diffs
  azurerm/resource_arm_healthcare_service.go
Labels: service/healthcare, size/XS

#5029 feature: query keys for azure search
  azurerm/internal/services/search/client/client.go
  azurerm/resource_arm_search_service.go
  azurerm/resource_arm_search_service_test.go
  website/docs/r/search_service.html.markdown
Labels: documentation, enhancement, service/search, size/S

#3807 New resource - azurerm_storage_account_blob_settings
  azurerm/internal/services/storage/client/client.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_account_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, new-resource, service/storage, size/L

#4933 Add New Resource & Data Source: azurerm_netapp_volume
  azurerm/data_source_netapp_volume.go
  azurerm/data_source_netapp_volume_test.go
  azurerm/internal/services/netapp/client/client.go
  azurerm/internal/services/netapp/validation.go
  azurerm/internal/services/netapp/validation_test.go
  azurerm/provider.go
  azurerm/resource_arm_netapp_account_test.go
  azurerm/resource_arm_netapp_pool.go
  azurerm/resource_arm_netapp_pool_test.go
  azurerm/resource_arm_netapp_volume.go
  azurerm/resource_arm_netapp_volume_test.go
  examples/netapp/pool/main.tf
  examples/netapp/volume/main.tf
  examples/netapp/volume/variables.tf
  website/azurerm.erb
  website/docs/d/netapp_volume.html.markdown
  website/docs/r/netapp_pool.html.markdown
  website/docs/r/netapp_volume.html.markdown
Labels: documentation, new-data-source, new-resource, service/netapp, size/XXL

#5200 Update to Subnet support for Private Link
  azurerm/resource_arm_subnet.go
  website/docs/r/subnet.html.markdown
Labels: documentation, enhancement, service/subnets, size/XS

#5198 r/virtual_network_gateway: support for configuring `generation`
  azurerm/data_source_virtual_network_gateway.go
  azurerm/resource_arm_virtual_network_gateway.go
  azurerm/resource_arm_virtual_network_gateway_test.go
  website/docs/d/virtual_network_gateway.html.markdown
  website/docs/r/virtual_network_gateway.html.markdown
Labels: documentation, enhancement, service/virtual-network-gateway, size/M

#5201 r/storage_account_network_rules: matching the validation for the Storage Account Network Rules
  azurerm/resource_arm_storage_account_network_rules.go
Labels: enhancement, service/storage, size/XS

#5202 r/healthcare_service: fixing the tests
  azurerm/data_source_healthcare_service_test.go
  azurerm/resource_arm_healthcare_service.go
  azurerm/resource_arm_healthcare_service_test.go
Labels: service/healthcare, size/M, tests

#5059 New Resource: azurerm_network_watcher_flow_log
  azurerm/provider.go
  azurerm/resource_arm_network_connection_monitor_test.go
  azurerm/resource_arm_network_packet_capture_test.go
  azurerm/resource_arm_network_watcher.go
  azurerm/resource_arm_network_watcher_flow_log.go
  azurerm/resource_arm_network_watcher_flow_log_test.go
  azurerm/resource_arm_network_watcher_test.go
  website/azurerm.erb
  website/docs/r/network_watcher_flow_log.html.markdown
Labels: documentation, new-resource, service/network-watcher, size/XXL

#4848 new resource: azurerm_advanced_threat_protection
  azurerm/helpers/azure/resourceid.go
  azurerm/internal/services/securitycenter/advanced_threat_protection.go
  azurerm/provider.go
  azurerm/resource_arm_advanced_threat_protection.go
  azurerm/resource_arm_advanced_threat_protection_test.go
  azurerm/resource_arm_automation_dsc_nodeconfiguration_test.go
  azurerm/resource_arm_storage_account.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/advanced_threat_protection.html.markdown
Labels: documentation, new-data-source, service/security-center, size/XL

#5145 azurerm_virtual_network_gateway_connection - add "connection_protocol" property
  azurerm/resource_arm_virtual_network_gateway_connection.go
  azurerm/resource_arm_virtual_network_gateway_connection_test.go
  website/docs/r/virtual_network_gateway_connection.html.markdown
Labels: documentation, enhancement, service/virtual-network-gateway, size/M

#5204 azurerm_application_gateway - add trusted_root_certificate_names property
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/S

#5203 cosmosdb - add throughput to remaining resources
  azurerm/resource_arm_cosmosdb_cassandra_keyspace.go
  azurerm/resource_arm_cosmosdb_cassandra_keyspace_test.go
  azurerm/resource_arm_cosmosdb_mongo_collection.go
  azurerm/resource_arm_cosmosdb_mongo_database.go
  azurerm/resource_arm_cosmosdb_sql_container.go
  azurerm/resource_arm_cosmosdb_sql_container_test.go
  azurerm/resource_arm_cosmosdb_sql_database.go
  azurerm/resource_arm_cosmosdb_sql_database_test.go
  azurerm/resource_arm_cosmosdb_table.go
  azurerm/resource_arm_cosmosdb_table_test.go
  website/docs/r/cosmosdb_cassandra_keyspace.html.markdown
  website/docs/r/cosmosdb_sql_container.html.markdown
  website/docs/r/cosmosdb_sql_database.html.markdown
  website/docs/r/cosmosdb_table.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/XL

#4785 Implement azurerm_automation_certificate
  azurerm/internal/services/automation/client/client.go
  azurerm/provider.go
  azurerm/resource_arm_automation_certificate.go
  azurerm/resource_arm_automation_certificate_test.go
  azurerm/testdata/automation_certificate_test.crt
  azurerm/testdata/automation_certificate_test.key
  azurerm/testdata/automation_certificate_test.pfx
  azurerm/testdata/automation_certificate_test.thumb
  azurerm/testdata/automation_certificate_testdata.sh
  website/azurerm.erb
  website/docs/r/automation_certificate.html.markdown
Labels: documentation, service/automation, size/XL

#5171 Create 'iothub_dps_shared_access_policy' resource
  azurerm/provider.go
  azurerm/resource_arm_iothub_dps_shared_access_policy.go
  azurerm/resource_arm_iothub_dps_shared_access_policy_test.go
  website/azurerm.erb
  website/docs/r/iothub_dps_shared_access_policy.html.markdown
Labels: documentation, new-resource, service/iothub, size/XL

#5210 r/storage_account: handling when network_rules is empty
  azurerm/resource_arm_storage_account.go
Labels: bug, service/storage, size/S

#5207 r/key_vault: making the `network_acls` block computed
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_test.go
Labels: bug, service/keyvault, size/M

#5212 r/shared_image_version - support for the storage_account_type property
  azurerm/data_source_shared_image_version.go
  azurerm/data_source_shared_image_version_test.go
  azurerm/resource_arm_shared_image_version.go
  azurerm/resource_arm_shared_image_version_test.go
  website/docs/d/shared_image_version.html.markdown
  website/docs/r/shared_image_version.html.markdown
Labels: documentation, enhancement, service/images, size/M

#5168 `azurerm_kubernetes_cluster` - add `managed_cluster_identity` support
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_other_test.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/L

#5205 dns_mx_record: name optional (#5199)
  azurerm/resource_arm_dns_mx_record.go
  azurerm/resource_arm_dns_mx_record_test.go
  website/docs/r/dns_mx_record.html.markdown
Labels: documentation, service/dns, size/M

#5161 Add support for AKS private link
  azurerm/data_source_kubernetes_cluster.go
  azurerm/data_source_kubernetes_cluster_test.go
  azurerm/internal/services/containers/client/client.go
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/containers/kubernetes_nodepool.go
  azurerm/resource_arm_container_service.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_node_pool.go
  azurerm/resource_arm_kubernetes_cluster_other_test.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-10-01/containerservice/agentpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-10-01/containerservice/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-10-01/containerservice/containerservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-10-01/containerservice/managedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-10-01/containerservice/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-10-01/containerservice/openshiftmanagedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-10-01/containerservice/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-10-01/containerservice/version.go
  vendor/modules.txt
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: dependencies, documentation, enhancement, service/kubernetes-cluster, size/XL

#4836 New Resource: `azurerm_api_management_diagnostic `
  azurerm/internal/services/apimanagement/client/client.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_diagnostic.go
  azurerm/resource_arm_api_management_diagnostic_test.go
  website/azurerm.erb
  website/docs/r/api_management_diagnostic.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#5214 [New Resource]: azurerm_app_service_virtual_network_swift_connection
  azurerm/provider.go
  azurerm/resource_arm_app_service_virtual_network_association.go
  azurerm/resource_arm_app_service_virtual_network_association_test.go
  website/docs/r/app_service_virtual_network_association.html.markdown
Labels: documentation, new-resource, service/app-service, size/XL

#5213 Support for Azure File Share backup
  azurerm/internal/services/recoveryservices/client/client.go
  azurerm/provider.go
  azurerm/resource_arm_backup_container_storage_account.go
  azurerm/resource_arm_backup_container_storage_account_test.go
  azurerm/resource_arm_backup_policy_file_share.go
  azurerm/resource_arm_backup_policy_file_share_test.go
  azurerm/resource_arm_backup_protected_file_share.go
  azurerm/resource_arm_backup_protected_file_share_test.go
  website/docs/r/backup_container_storage_account.html.markdown
  website/docs/r/backup_policy_file_share.markdown
  website/docs/r/backup_protected_file_share.markdown
Labels: documentation, service/recovery-services, size/XXL

#5081 azurerm_api_management_api - correctly setting the soap API type when `soap_pass_through` is true
  azurerm/resource_arm_api_management_api.go
Labels: bug, service/api-management, size/XS

#5219 Fix typos in Backup Policy documentation
  website/docs/r/backup_policy_vm.markdown
Labels: documentation, service/recovery-services, size/XS

#5220 Moving the aci_connector_linux block
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/S

#5222 appconfiguration: adding a registration
  azurerm/internal/provider/services.go
  azurerm/internal/services/appconfiguration/registration.go
Labels: enhancement, service/app-configuration, size/XS

#5218 r/dns_(a|aaaa|cname)_record: support for configuring `target_resource_id`
  azurerm/data_source_dns_zone.go
  azurerm/internal/services/dns/client/client.go
  azurerm/resource_arm_dns_a_record.go
  azurerm/resource_arm_dns_a_record_test.go
  azurerm/resource_arm_dns_aaaa_record.go
  azurerm/resource_arm_dns_aaaa_record_test.go
  azurerm/resource_arm_dns_caa_record.go
  azurerm/resource_arm_dns_caa_record_test.go
  azurerm/resource_arm_dns_cname_record.go
  azurerm/resource_arm_dns_cname_record_test.go
  azurerm/resource_arm_dns_mx_record.go
  azurerm/resource_arm_dns_mx_record_test.go
  azurerm/resource_arm_dns_ns_record.go
  azurerm/resource_arm_dns_ns_record_test.go
  azurerm/resource_arm_dns_ptr_record.go
  azurerm/resource_arm_dns_ptr_record_test.go
  azurerm/resource_arm_dns_srv_record.go
  azurerm/resource_arm_dns_srv_record_test.go
  azurerm/resource_arm_dns_txt_record.go
  azurerm/resource_arm_dns_txt_record_test.go
  azurerm/resource_arm_dns_zone.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2018-05-01/dns/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2018-05-01/dns/dnsapi/interfaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2018-05-01/dns/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2018-05-01/dns/recordsets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2018-05-01/dns/resourcereference.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2018-05-01/dns/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2018-05-01/dns/zones.go
  vendor/modules.txt
  website/docs/r/dns_a_record.html.markdown
  website/docs/r/dns_aaaa_record.html.markdown
  website/docs/r/dns_cname_record.html.markdown
Labels: dependencies, documentation, enhancement, service/dns, size/XXL

#5195 Recovery Services: adding their own CheckDestroy functions
  azurerm/resource_arm_backup_container_storage_account_test.go
  azurerm/resource_arm_recovery_services_fabric_test.go
  azurerm/resource_arm_recovery_services_network_mapping_test.go
  azurerm/resource_arm_recovery_services_protection_container_mapping_test.go
  azurerm/resource_arm_recovery_services_protection_container_test.go
  azurerm/resource_arm_recovery_services_replicated_vm_test.go
  azurerm/resource_arm_recovery_services_replication_policy_test.go
  azurerm/resource_arm_site_recovery_fabric_test.go
  azurerm/resource_arm_site_recovery_network_mapping_test.go
  azurerm/resource_arm_site_recovery_protection_container_mapping_test.go
  azurerm/resource_arm_site_recovery_protection_container_test.go
  azurerm/resource_arm_site_recovery_replicated_vm_test.go
  azurerm/resource_arm_site_recovery_replication_policy_test.go
Labels: bug, refactor, service/recovery-services, size/XL

#5224 Fix documentation for data source azurerm_resources and add an additional example
  website/docs/d/resources.html.markdown
Labels: documentation, service/resources, size/XS

#5239 tests: misc cleanup after test reorg
  azurerm/internal/services/analysisservices/tests/resource_arm_analysis_services_server_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_api_operation_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_api_schema_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_api_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_api_version_set_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_authorization_server_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_backend_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_diagnostic_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_group_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_group_user_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_openid_connect_provider_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_product_api_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_product_group_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_product_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_property_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_subscription_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_user_test.go
  azurerm/internal/services/appconfiguration/tests/resource_arm_app_configuration_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_job_schedule_test.go
  azurerm/internal/services/batch/tests/data_source_batch_certificate_test.go
  azurerm/internal/services/bot/tests/resource_arm_bot_channel_email_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_scale_set_extension_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_test.go
  azurerm/internal/services/containers/tests/resource_arm_container_registry_test.go
  azurerm/internal/services/datafactory/tests/resource_arm_data_factory_linked_service_sql_server_test.go
  azurerm/internal/services/datalake/tests/resource_arm_data_lake_analytics_account_test.go
  azurerm/internal/services/devtestlabs/tests/resource_arm_dev_test_lab_schedule_test.go
  azurerm/internal/services/frontdoor/tests/resource_arm_front_door_test.go
  azurerm/internal/services/network/tests/resource_arm_express_route_circuit_peering_test.go
  azurerm/internal/services/network/tests/resource_arm_point_to_site_vpn_gateway_test.go
  azurerm/internal/services/network/tests/resource_arm_virtual_hub_test.go
  azurerm/internal/services/network/tests/resource_arm_vpn_gateway_test.go
  azurerm/internal/services/network/tests/resource_arm_vpn_server_configuration_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_share_directory_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_table_entity_test.go
  azurerm/internal/services/web/resource_arm_app_service.go
  website/docs/r/app_service_virtual_network_association.html.markdown
Labels: provider, size/XL, tests

#5244 azurerm_logic_app_trigger_recurrence - support for start_time
  azurerm/internal/services/logic/resource_arm_logic_app_trigger_recurrence.go
  azurerm/internal/services/logic/tests/resource_arm_logic_app_trigger_recurrence_test.go
  website/docs/r/logic_app_trigger_recurrence.html.markdown
Labels: documentation, enhancement, service/logic, size/S

#5215 Add new resource & data source: azurerm_netapp_snapshot
  azurerm/internal/services/netapp/client/client.go
  azurerm/internal/services/netapp/data_source_netapp_snapshot.go
  azurerm/internal/services/netapp/registration.go
  azurerm/internal/services/netapp/resource_arm_netapp_snapshot.go
  azurerm/internal/services/netapp/tests/data_source_netapp_snapshot_test.go
  azurerm/internal/services/netapp/tests/resource_arm_netapp_snapshot_test.go
  azurerm/internal/services/netapp/validation.go
  azurerm/internal/services/netapp/validation_test.go
  examples/netapp/snapshot/main.tf
  examples/netapp/snapshot/variables.tf
  website/azurerm.erb
  website/docs/d/netapp_snapshot.html.markdown
  website/docs/r/netapp_snapshot.html.markdown
Labels: dependencies, documentation, new-data-source, new-resource, service/netapp, size/XL

#5242 New Resource: `azurerm_kusto_database_principal`
  azurerm/internal/services/kusto/registration.go
  azurerm/internal/services/kusto/resource_arm_kusto_database_principal.go
  azurerm/internal/services/kusto/tests/resource_arm_kusto_database_principal_test.go
  website/azurerm.erb
  website/docs/r/kusto_database_principal.html.markdown
Labels: documentation, new-resource, service/kusto, size/XL

#5241 provider: omiting logging during acctests
  azurerm/internal/provider/provider.go
Labels: enhancement, size/XS, tests

#5240 provider - fix travis OOM errors
  .golangci-travis-1.yml
  .golangci-travis-2.yml
  .golangci-travis.yml
  .travis.yml
  GNUmakefile
Labels: provider, size/M, tests

#5248 New Resource `azurerm_cosmosdb_gremlin_database`
  azurerm/internal/services/cosmos/registration.go
  azurerm/internal/services/cosmos/resource_arm_cosmosdb_gremlin_database.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_gremlin_database_test.go
  website/docs/r/cosmosdb_gremlin_database.html.markdown
Labels: documentation, service/cosmosdb, size/XL, waiting-response

#5265 Fix wrong doc items for nat-gateway
  website/docs/d/nat_gateway.html.markdown
Labels: documentation, service/nat-gateway, size/XS

#5267 post-refactor: fixing a couple of test failures
  azurerm/internal/acceptance/data.go
  azurerm/internal/acceptance/deprecated.go
  azurerm/internal/services/containers/tests/resource_arm_container_registry_migrate_test.go
  azurerm/internal/services/cosmos/tests/data_source_cosmos_db_account_test.go
  azurerm/internal/services/eventgrid/tests/resource_arm_eventgrid_event_subscription_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_backup_policy_vm_test.go
Labels: bug, size/L, tests

#5262 provider - fix various test failures from the refactoring
  azurerm/internal/provider/services.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_images_test.go
  azurerm/internal/services/eventhub/tests/resource_arm_eventhub_namespace_disaster_recovery_config_test.go
  azurerm/internal/services/healthcare/tests/resource_arm_healthcare_service_test.go
  azurerm/internal/services/monitor/tests/resource_arm_metric_alertrule_test.go
Labels: size/M, tests

#5268 New Resource: `azurerm_api_management_identity_provider_aad`
  azurerm/internal/services/apimanagement/client/client.go
  azurerm/internal/services/apimanagement/registration.go
  azurerm/internal/services/apimanagement/resource_arm_api_management_identity_provider_aad.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_aad_test.go
  website/azurerm.erb
  website/docs/r/api_management_identity_provider_aad.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#5273 azurerm_api_management_operation - will no longer panic on missing values in `response`
  azurerm/internal/services/apimanagement/resource_arm_api_management_api_operation.go
Labels: bug, service/api-management, size/XS

#5231 Add primary & secondary connection string to 'azurerm_iothub_dps_shared_access_policy'
  azurerm/internal/services/iothub/resource_arm_iothub_dps_shared_access_policy.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_dps_shared_access_policy_test.go
  website/docs/r/iothub_dps_shared_access_policy.html.markdown
Labels: documentation, enhancement, service/iothub, size/S

#5276 New data source: 'azurerm_signalr_service'
  azurerm/internal/services/signalr/data_source_signalr_service.go
  azurerm/internal/services/signalr/registration.go
  azurerm/internal/services/signalr/tests/data_source_signalr_service_test.go
  website/azurerm.erb
  website/docs/d/signalr_service.html.markdown
Labels: documentation, new-data-source, service/signalr, size/L, waiting-response
