Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2019-09, with the labels that each got.

#3860 `azurerm_virtual_machine`: add support for Ultra SSD's to the `managed_disk_type` property
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_managed_disks_test.go
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, enhancement, preview, service/virtual-machine, size/L, upstream-microsoft

#4202 docs: manage -> manages
  website/docs/r/app_service_plan.html.markdown
  website/docs/r/application_insights.html.markdown
  website/docs/r/application_security_group.html.markdown
  website/docs/r/batch_application.html.markdown
  website/docs/r/cdn_profile.html.markdown
  website/docs/r/container_group.html.markdown
  website/docs/r/data_factory.html.markdown
  website/docs/r/data_factory_dataset_mysql.html.markdown
  website/docs/r/data_factory_dataset_postgresql.html.markdown
  website/docs/r/data_factory_dataset_sql_server_table.html.markdown
  website/docs/r/data_factory_linked_service_data_lake_storage_gen2.html.markdown
  website/docs/r/data_factory_linked_service_mysql.html.markdown
  website/docs/r/data_factory_linked_service_postgresql.html.markdown
  website/docs/r/data_factory_linked_service_sql_server.html.markdown
  website/docs/r/data_factory_pipeline.html.markdown
  website/docs/r/data_lake_analytics_account.html.markdown
  website/docs/r/data_lake_analytics_firewall_rule.html.markdown
  website/docs/r/data_lake_store.html.markdown
  website/docs/r/data_lake_store_file.html.markdown
  website/docs/r/data_lake_store_firewall_rule.html.markdown
  website/docs/r/dns_caa_record.html.markdown
  website/docs/r/dns_mx_record.html.markdown
  website/docs/r/dns_srv_record.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
  website/docs/r/image.html.markdown
  website/docs/r/loadbalancer.html.markdown
  website/docs/r/loadbalancer_backend_address_pool.html.markdown
  website/docs/r/managed_disk.html.markdown
  website/docs/r/postgresql_server.html.markdown
  website/docs/r/public_ip.html.markdown
  website/docs/r/public_ip_prefix.html.markdown
  website/docs/r/recovery_services_vault.markdown
  website/docs/r/search_service.html.markdown
  website/docs/r/service_fabric_cluster.html.markdown
  website/docs/r/servicebus_namespace.html.markdown
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_subscription.html.markdown
  website/docs/r/servicebus_subscription_rule.html.markdown
  website/docs/r/servicebus_topic.html.markdown
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_blob.html.markdown
  website/docs/r/storage_container.html.markdown
  website/docs/r/storage_share_directory.html.markdown
  website/docs/r/storage_table.html.markdown
  website/docs/r/template_deployment.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, size/M

#4192 New Resource: `azurerm_app_service_certificate`
  azurerm/internal/services/web/client.go
  azurerm/provider.go
  azurerm/resource_arm_app_service_certificate.go
  azurerm/resource_arm_app_service_certificate_test.go
  azurerm/testdata/app_service_certificate.pfx
  azurerm/testdata/app_service_certificate_nopassword.pfx
  website/azurerm.erb
  website/docs/r/app_service_certificate.html.markdown
Labels: documentation, new-resource, service/app-service, size/XL

#4179 Switching `azurerm_storage_blob` over to the new Storage SDK
  azurerm/internal/services/storage/blobs.go
  azurerm/resource_arm_storage_blob.go
  azurerm/resource_arm_storage_blob_test.go
  azurerm/utils/io.go
  go.mod
  go.sum
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/go.mod
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/go.sum
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/go_mod_tidy_hack.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/blobs/append_block.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/blobs/properties_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/blobs/put_block_blob.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/blobs/put_block_blob_file.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/blobs/put_page_blob.go
  vendor/github.com/tombuildsstuff/giovanni/version/version.go
  vendor/modules.txt
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/storage_blob.html.markdown
Labels: dependencies, documentation, enhancement, service/storage, size/XXL

#4205 storage: caching the Resource Group Name / Account Key
  azurerm/internal/services/storage/helpers.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_container_test.go
  azurerm/resource_arm_storage_queue_test.go
  azurerm/resource_arm_storage_share_directory_test.go
  azurerm/resource_arm_storage_share_test.go
  azurerm/resource_arm_storage_table_test.go
Labels: enhancement, service/storage, size/M

#4209 Feature: add general purpose cognitive service type
  azurerm/resource_arm_cognitive_account.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, enhancement, service/cognitive-services, size/XS, waiting-response

#4217 Change CreateOrUpdate to CreateUpdate for consistency
  azurerm/resource_arm_data_factory.go
  azurerm/resource_arm_data_factory_dataset_mysql.go
  azurerm/resource_arm_data_factory_dataset_postgresql.go
  azurerm/resource_arm_data_factory_dataset_sql_server_table.go
  azurerm/resource_arm_data_factory_linked_service_data_lake_storage_gen2.go
  azurerm/resource_arm_data_factory_linked_service_mysql.go
  azurerm/resource_arm_data_factory_linked_service_postgresql.go
  azurerm/resource_arm_data_factory_linked_service_sql_server.go
  azurerm/resource_arm_iot_dps.go
  azurerm/resource_arm_iot_dps_cerificate.go
  azurerm/resource_arm_policy_assignment.go
  azurerm/resource_arm_virtual_machine_unmanaged_disks_test.go
Labels: refactor, size/M

#4216 azurerm_cosmosdb_sql_database: add missing sidebar link
  website/azurerm.erb
Labels: documentation, service/cosmosdb, size/XS

#4211 tests: add `GOFLAGS=-mod=vendor` to travis
  .travis.yml
Labels: provider, size/XS, tests

#4218 Fix kubernetes cluster agent pool count argument documentation
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#4212 tests: add tf linting R checks & fix errors
  .travis.yml
  GNUmakefile
  azurerm/data_source_azuread_application.go
  azurerm/data_source_managed_disk.go
  azurerm/data_source_maps_account_test.go
  azurerm/data_source_network_interface.go
  azurerm/data_source_snapshot.go
  azurerm/resource_arm_analysis_services_server.go
  azurerm/resource_arm_data_factory_linked_service_mysql.go
  azurerm/resource_arm_data_factory_linked_service_postgresql.go
  azurerm/resource_arm_data_factory_linked_service_sql_server.go
  azurerm/resource_arm_eventgrid_event_subscription.go
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_local_network_gateway.go
  azurerm/resource_arm_managed_disk.go
  azurerm/resource_arm_metric_alertrule.go
  azurerm/resource_arm_monitor_metric_alertrule.go
  azurerm/resource_arm_network_interface.go
  azurerm/resource_arm_network_interface_application_gateway_association.go
  azurerm/resource_arm_network_interface_application_security_group_association.go
  azurerm/resource_arm_network_interface_backend_address_pool_association.go
  azurerm/resource_arm_network_interface_nat_rule_association.go
  azurerm/resource_arm_relay_namespace.go
  azurerm/resource_arm_resource_group.go
  azurerm/resource_arm_servicebus_topic.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_queue.go
Labels: size/XL, tests

#4215 Documentation: Corrected documentation for azurerm_sql_failover_group
  website/docs/r/sql_failover_group.html.markdown
Labels: documentation, service/mssql, size/XS

#4220 r/postgresql_server: support storage auto-grow
  azurerm/resource_arm_postgresql_server.go
  azurerm/resource_arm_postgresql_server_test.go
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, enhancement, service/postgresql, size/XS

#4227 revert make tools to 'go get -u'
  GNUmakefile
  azurerm/resource_arm_storage_account.go
Labels: size/XS, tests

#4210 New Data Source: azurerm_sql_database
  azurerm/data_source_sql_database.go
  azurerm/data_source_sql_database_test.go
  azurerm/provider.go
  website/docs/d/sql_database.html.markdown
Labels: documentation, new-data-source, service/mssql, size/XL

#4229 Update monitor_metric_alert.html.markdown
  website/docs/r/monitor_metric_alert.html.markdown
Labels: documentation, service/monitor, size/XS

#4233 correct name length for azurerm_resource_group
  azurerm/helpers/azure/resource_group.go
  azurerm/helpers/azure/resource_group_test.go
Labels: enhancement, service/resources, size/XS

#4234 resource/storage_table: Lookup correct Storage Table URL
  azurerm/resource_arm_storage_table.go
Labels: bug, service/storage, size/XS

#4195 New data source: azurerm_storage_account_blob_container_sas
  azurerm/data_source_storage_account_blob_container_sas.go
  azurerm/data_source_storage_account_blob_container_sas_test.go
  azurerm/helpers/validate/shared_access_signature.go
  azurerm/helpers/validate/shared_access_signature_test.go
  azurerm/provider.go
  website/docs/d/storage_account_blob_container_sas.html.markdown
Labels: documentation, new-data-source, service/storage, size/XL

#4164 New resource "azurerm_stream_analytics_output_servicebus_topic resource"
  azurerm/provider.go
  azurerm/resource_arm_stream_analytics_output_servicebus_topic.go
  azurerm/resource_arm_stream_analytics_output_servicebus_topic_test.go
  website/docs/r/stream_analytics_output_servicebus_topic.html.markdown
Labels: documentation, new-resource, service/stream-analytics, size/XL

#4149 New Resource: azurerm_kusto_database
  azurerm/internal/services/kusto/client.go
  azurerm/provider.go
  azurerm/resource_arm_kusto_database.go
  azurerm/resource_arm_kusto_database_test.go
  website/docs/r/kusto_database.html.markdown
Labels: dependencies, documentation, new-resource, service/kusto, size/XL

#4235 storage: switching to use SharedKey for authentication
  azurerm/internal/authorizers/authorizer_shared_key.go
  azurerm/internal/authorizers/authorizer_shared_key_lite.go
  azurerm/internal/authorizers/authorizer_shared_key_lite_table.go
  azurerm/internal/authorizers/helpers.go
  azurerm/internal/authorizers/helpers_test.go
  azurerm/internal/services/storage/client.go
  azurerm/resource_arm_storage_blob_test.go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-01-21/kusto/clusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-01-21/kusto/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-01-21/kusto/dataconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-01-21/kusto/operations.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/blobs/append_block.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/blobs/put_block.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/blobs/put_block_blob.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/blobs/put_page_update.go
  vendor/modules.txt
Labels: bug, dependencies, service/storage, size/XL

#4228 Added new data source `azurerm_network_ddos_protection_plan`
  azurerm/data_source_network_ddos_protection_plan.go
  azurerm/data_source_network_ddos_protection_plan_test.go
  azurerm/provider.go
  azurerm/resource_arm_network_ddos_protection_plan_test.go
  website/azurerm.erb
  website/docs/d/network_ddos_protection_plan.html.markdown
  website/docs/r/network_ddos_protection_plan.html.markdown
Labels: documentation, new-data-source, service/virtual-networks, size/L

#4020 Add Proximity Placement Group Resources + Support
  azurerm/data_source_proximity_placement_group.go
  azurerm/data_source_proximity_placement_group_test.go
  azurerm/helpers/azure/location.go
  azurerm/internal/services/compute/client.go
  azurerm/provider.go
  azurerm/resource_arm_availability_set.go
  azurerm/resource_arm_availability_set_test.go
  azurerm/resource_arm_proximity_placement_group.go
  azurerm/resource_arm_proximity_placement_group_test.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
  azurerm/resource_arm_virtual_machine_test.go
  website/docs/d/proximity_placement_group.html.markdown
  website/docs/r/availability_set.html.markdown
  website/docs/r/proximity_placement_group.html.markdown
  website/docs/r/virtual_machine.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, enhancement, new-data-source, new-resource, size/XXL

#4248 storage_account: gracefully degrading when there's a Write Lock or the user doesn't have permissions
  azurerm/data_source_storage_account.go
  azurerm/data_source_storage_account_test.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_account_test.go
  website/docs/d/storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/L

#4241 r/storage_blob: switching to use the new SDK for assertions
  azurerm/internal/services/storage/legacy.go
  azurerm/resource_arm_storage_blob_test.go
Labels: enhancement, service/storage, size/L

#4238 r/storage_blob: support for `access_tier`, append blobs and `source_content`
  azurerm/internal/services/storage/blobs.go
  azurerm/resource_arm_storage_blob.go
  azurerm/resource_arm_storage_blob_test.go
  website/docs/r/storage_blob.html.markdown
Labels: documentation, enhancement, service/storage, size/XL

#4213 provider: deprecate and move final functions in provider.go
  azurerm/deprecated.go
  azurerm/internal/tf/state/state.go
  azurerm/provider.go
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_loadbalancer.go
  azurerm/resource_arm_loadbalancer_nat_pool.go
  azurerm/resource_arm_loadbalancer_nat_rule.go
  azurerm/resource_arm_loadbalancer_probe.go
  azurerm/resource_arm_loadbalancer_rule.go
  azurerm/resource_arm_network_interface.go
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/utils/base64.go
  azurerm/utils/pointer.go
Labels: provider, refactor, size/L

#4243 Fix app service logging with app settings
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_test.go
Labels: enhancement, service/app-service, size/M

#4252 docs: updating the provider refactor status
  azurerm/provider.go
Labels: documentation, size/XS

#4251 storage: removing the old Storage SDK
  azurerm/internal/services/storage/legacy.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/README.md
  vendor/github.com/Azure/azure-sdk-for-go/storage/appendblob.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/authorization.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/blob.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/blobsasuri.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/blobserviceclient.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/blockblob.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/client.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/commonsasuri.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/container.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/copyblob.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/directory.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/entity.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/file.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/fileserviceclient.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/leaseblob.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/message.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/odata.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/pageblob.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/queue.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/queuesasuri.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/queueserviceclient.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/share.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/storagepolicy.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/storageservice.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/table.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/table_batch.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/tableserviceclient.go
  vendor/github.com/Azure/azure-sdk-for-go/storage/util.go
  vendor/modules.txt
Labels: dependencies, enhancement, service/storage, size/XXL

#4254 refactor: moving off deprecated fields
  azurerm/deprecated.go
  azurerm/resource_arm_app_service_certificate.go
  azurerm/resource_arm_kusto_cluster.go
  azurerm/resource_arm_kusto_database.go
  azurerm/resource_arm_proximity_placement_group.go
  azurerm/resource_arm_proximity_placement_group_test.go
  azurerm/resource_arm_stream_analytics_output_servicebus_topic.go
  azurerm/resource_arm_stream_analytics_output_servicebus_topic_test.go
  azurerm/resource_arm_web_application_firewall_policy.go
Labels: refactor, size/S

#4263 `azurerm_application_gateway` Added support for OWASP v3.1 rule set
  azurerm/resource_arm_application_gateway.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#4269 azurerm_sql_failover_group: Fixed documentation to remove unneeded punctuation
  website/docs/r/sql_failover_group.html.markdown
Labels: documentation, service/mssql, size/XS

#4257 r/dev_test_schedule: adding the missing link to the sidebar
  website/azurerm.erb
  website/docs/r/dev_test_schedule.html.markdown
Labels: documentation, service/devtestlabs, size/XS

#4267 azurerm_app_service: Updated documentation to show correct argument
  website/docs/r/app_service.html.markdown
Labels: documentation, service/app-service, size/XS

#4214 New Resource: `azurerm_app_service_source_control_token`
  azurerm/internal/features/requires_import.go
  azurerm/internal/services/web/client.go
  azurerm/provider.go
  azurerm/resource_arm_app_service_source_control_token.go
  azurerm/resource_arm_app_service_source_control_token_test.go
  website/azurerm.erb
  website/docs/r/app_service_source_control_token.html.markdown
Labels: documentation, service/app-service, size/L

#4249 Support app service HTTP blob logging
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_test.go
  website/docs/r/app_service.html.markdown
Labels: documentation, enhancement, service/app-service, size/M

#4102 `azurerm_managed_disk` - add support for the UltraSSD `disk_iops_read_write` & `disk_mbps_read_write` properties
  azurerm/data_source_managed_disk.go
  azurerm/data_source_managed_disk_test.go
  azurerm/resource_arm_managed_disk.go
  azurerm/resource_arm_managed_disk_test.go
  website/docs/d/managed_disk.html.markdown
  website/docs/r/managed_disk.html.markdown
Labels: documentation, enhancement, preview, size/L

#4272 Bug Fix: `azurerm_keyvault_certificate` extended_key_usage cras…
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_certificate_test.go
  azurerm/utils/common_marshal.go
Labels: bug, service/keyvault, size/M

#4264 `azurerm_eventhub_namespace` Added ForceNew property to kafka_enabled setting
  azurerm/resource_arm_eventhub_namespace.go
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, enhancement, service/event-hubs, size/XS

#4168 `arm_role_assignment`: add `pricipal_type` and `skip_servicepricipal_aad_check` properties
  azurerm/resource_arm_role_assignment.go
  azurerm/resource_arm_role_assignment_test.go
  website/docs/r/role_assignment.html.markdown
Labels: documentation, enhancement, service/roles, size/M

#3933 New Resource: Azure Front Door
  azurerm/config.go
  azurerm/internal/services/frontdoor/client.go
  azurerm/internal/services/frontdoor/helper.go
  azurerm/internal/services/frontdoor/validate.go
  azurerm/provider.go
  azurerm/resource_arm_front_door.go
  azurerm/resource_arm_front_door_test.go
  go.mod
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/backendpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/endpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/frontdoors.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/frontendendpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/healthprobesettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/loadbalancingsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/managedrulesets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/policies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/routingrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/frontdoor/mgmt/2019-04-01/frontdoor/version.go
  website/docs/r/front_door.html.markdown
Labels: dependencies, documentation, new-resource, service/frontdoor, size/XXL

#4155 Fix bug for Azure Network Interface
  azurerm/resource_arm_network_interface.go
Labels: bug, service/network-interfaces, size/XS

#4279 Fix large case of validate_certificate_name
  website/docs/r/api_management_backend.html.markdown
Labels: documentation, size/XS

#4284 Fixed a small typo in the database example
  examples/sql-azure/database/main.tf
Labels: documentation, service/mssql, size/XS

#4281 data source azurerm_virtual_network: support for the location property
  azurerm/data_source_virtual_network.go
  azurerm/data_source_virtual_network_test.go
  website/docs/d/virtual_network.html.markdown
Labels: documentation, enhancement, service/virtual-networks, size/XS

#4275 `Azurerm_cosmosdb_account`: revert sdk name check workaround
  azurerm/resource_arm_cosmosdb_account.go
Labels: bug, regression, service/cosmosdb, size/XS

#4273 azurerm_cosmosdb_account: correctly validate `max_interval_in_seconds` & `max_staleness_prefix` for geo replicated accounts
  azurerm/resource_arm_cosmosdb_account.go
  azurerm/resource_arm_cosmosdb_account_test.go
Labels: bug, service/cosmosdb, size/S

#4299 Fixed a typo in the import sample
  website/docs/r/databricks_workspace.html.markdown
Labels: documentation, service/databricks, size/XS

#4253 refactor: adding a Base Client
  azurerm/config.go
  azurerm/internal/common/client.go
  azurerm/internal/common/client_options.go
  azurerm/provider.go
Labels: refactor, size/L

#4294 Data source: azurerm_servicebus_namespace_authorization_rule
  azurerm/data_source_servicebus_namespace_authorization_rule.go
  azurerm/data_source_servicebus_namespace_authorization_rule_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/servicebus_namespace_authorization_rule.html.markdown
Labels: documentation, new-data-source, service/servicebus, size/XL

#4293 r/container_registry - support for configuring Virtual Network Rules to Subnets
  azurerm/resource_arm_container_registry.go
  azurerm/resource_arm_container_registry_test.go
  website/docs/r/container_registry.html.markdown
Labels: documentation, enhancement, service/container-registry, size/L

#4190 `azurerm_stream_analytics_job` Removing requirement of optional properties
  azurerm/resource_arm_stream_analytics_job.go
  azurerm/resource_arm_stream_analytics_job_test.go
  website/docs/r/stream_analytics_job.html.markdown
Labels: documentation, enhancement, service/stream-analytics, size/M

#4324 r/storage_blob: documenting that `parallelism` is only for page blobs
  website/docs/r/storage_blob.html.markdown
Labels: documentation, enhancement, service/storage, size/XS

#4326 Patch: `azurerm_bot_connection`
  azurerm/resource_arm_bot_channels_registration_test.go
  azurerm/resource_arm_bot_connection.go
  website/azurerm.erb
  website/docs/r/bot_channels_registration.markdown
  website/docs/r/bot_connection.markdown
Labels: documentation, service/bots, size/XS

#4314 provider: enable tf linters S001 through S019
  GNUmakefile
  azurerm/data_source_app_service.go
  azurerm/data_source_application_insights.go
  azurerm/data_source_batch_pool.go
  azurerm/data_source_hdinsight_cluster.go
  azurerm/data_source_logic_app_workflow.go
  azurerm/data_source_virtual_network.go
  azurerm/helpers/azure/app_service.go
  azurerm/internal/tags/schema.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_autoscale_setting.go
  azurerm/resource_arm_batch_pool.go
  azurerm/resource_arm_bot_connection.go
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_registry_webhook.go
  azurerm/resource_arm_container_service.go
  azurerm/resource_arm_data_factory_dataset_mysql.go
  azurerm/resource_arm_data_factory_dataset_postgresql.go
  azurerm/resource_arm_data_factory_dataset_sql_server_table.go
  azurerm/resource_arm_data_factory_linked_service_data_lake_storage_gen2.go
  azurerm/resource_arm_data_factory_linked_service_mysql.go
  azurerm/resource_arm_data_factory_linked_service_postgresql.go
  azurerm/resource_arm_data_factory_linked_service_sql_server.go
  azurerm/resource_arm_data_factory_pipeline.go
  azurerm/resource_arm_dns_cname_record.go
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_logic_app_action_http.go
  azurerm/resource_arm_logic_app_workflow.go
  azurerm/resource_arm_metric_alertrule.go
  azurerm/resource_arm_monitor_autoscale_setting.go
  azurerm/resource_arm_monitor_metric_alert.go
  azurerm/resource_arm_monitor_metric_alertrule.go
  azurerm/resource_arm_network_security_rule.go
  azurerm/resource_arm_scheduler_job.go
  azurerm/resource_arm_service_fabric_cluster.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_container.go
  azurerm/resource_arm_template_deployment.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_scale_set.go
Labels: provider, size/L

#4320 network: reverting the locking changes from #3673
  azurerm/internal/services/network/network_security_group.go
  azurerm/internal/services/network/network_security_group_test.go
  azurerm/internal/services/network/route_table.go
  azurerm/internal/services/network/route_table_test.go
  azurerm/resource_arm_subnet.go
  azurerm/resource_arm_subnet_network_security_group_association.go
  azurerm/resource_arm_subnet_route_table_association.go
Labels: bug, regression, service/virtual-networks, size/L

#4339 azurerm_kubernetes_cluster: pass service_pricipal.client_secret during read
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
Labels: bug, regression, service/kubernetes-cluster, size/M

#4348 Added note about `create_option`
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#4125 New Resource: Front Door Firewall Policy
  azurerm/internal/services/frontdoor/client.go
  azurerm/internal/services/frontdoor/helper.go
  azurerm/internal/services/frontdoor/validate.go
  azurerm/provider.go
  azurerm/resource_arm_front_door.go
  azurerm/resource_arm_front_door_firewall_policy.go
  azurerm/resource_arm_front_door_firewall_policy_test.go
  azurerm/resource_arm_front_door_test.go
  website/azurerm.erb
  website/docs/r/front_door.html.markdown
  website/docs/r/front_door_firewall_policy.html.markdown
Labels: dependencies, documentation, new-resource, service/frontdoor, size/XXL

#4331 compute: upgrading the API Version to 2019-07-01
  azurerm/data_source_image.go
  azurerm/data_source_shared_image.go
  azurerm/data_source_shared_image_version.go
  azurerm/data_source_snapshot.go
  azurerm/encryption_settings.go
  azurerm/internal/clients/compute.go
  azurerm/resource_arm_availability_set.go
  azurerm/resource_arm_image.go
  azurerm/resource_arm_managed_disk.go
  azurerm/resource_arm_managed_disk_test.go
  azurerm/resource_arm_proximity_placement_group.go
  azurerm/resource_arm_recovery_services_replicated_vm.go
  azurerm/resource_arm_shared_image.go
  azurerm/resource_arm_shared_image_gallery.go
  azurerm/resource_arm_shared_image_version.go
  azurerm/resource_arm_snapshot.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_data_disk_attachment.go
  azurerm/resource_arm_virtual_machine_extension.go
  azurerm/resource_arm_virtual_machine_managed_disks_test.go
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
  azurerm/resource_arm_virtual_machine_test.go
  azurerm/resource_arm_virtual_machine_unmanaged_disks_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/availabilitysets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/containerservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/dedicatedhostgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/dedicatedhosts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/disks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/galleries.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/galleryimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/galleryimageversions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/images.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/loganalytics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/proximityplacementgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/resourceskus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/snapshots.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/usage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachineextensionimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachineextensions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachineimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachineruncommands.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetextensions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetrollingupgrades.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetvms.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinesizes.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#4344 r/public_ip: reading the `public_ip_prefix_id` field
  azurerm/resource_arm_public_ip.go
Labels: bug, service/public-ip, size/XS

#4335 keyvault_certificate: Store raw data as hex
  azurerm/resource_arm_key_vault_certificate.go
  website/docs/r/key_vault_certificate.html.markdown
Labels: documentation, enhancement, service/keyvault, size/XS

#4364 Fix: Updated a few very minior issues with the Frontdoor docs
  website/docs/r/front_door.html.markdown
  website/docs/r/front_door_firewall_policy.html.markdown
Labels: bug, documentation, service/frontdoor, size/XS

#4370 Remove VMSS and standard LB as preview features
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#4376 Use SDK values for kusto_cluster sku names
  azurerm/internal/services/kusto/client.go
  azurerm/resource_arm_kusto_cluster.go
  azurerm/resource_arm_kusto_database.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/disks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/galleryapplications.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/galleryapplicationversions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/snapshots.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2019-07-01/compute/virtualmachinescalesetvms.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-05-15/kusto/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-05-15/kusto/clusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-05-15/kusto/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-05-15/kusto/dataconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-05-15/kusto/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-05-15/kusto/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2019-05-15/kusto/version.go
  vendor/modules.txt
Labels: dependencies, enhancement, service/kusto, size/XXL

#4367 New Resource: `azurerm_bot_channel_slack`
  azurerm/internal/services/bot/client.go
  azurerm/provider.go
  azurerm/resource_arm_bot_channel_slack.go
  azurerm/resource_arm_bot_channel_slack_test.go
  azurerm/resource_arm_bot_channels_registration_test.go
  website/azurerm.erb
  website/docs/r/bot_channel_slack.markdown
  website/docs/r/bot_connection.markdown
Labels: documentation, new-resource, service/bots, size/XL

#4406 docs: Update search_service SKUs
  website/docs/r/search_service.html.markdown
Labels: documentation, service/search, size/XS

#4340 Adding data source 'azurerm_public_ip_prefix'
  azurerm/data_source_public_ip_prefix.go
  azurerm/data_source_public_ip_prefix_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/public_ip_prefix.html.markdown
Labels: documentation, new-data-source, service/public-ip, size/L

#4404 Adding forwarding_configuration to front door
  website/docs/r/front_door.html.markdown
Labels: documentation, service/frontdoor, size/XS

#4357 Shared Dashboard Resource
  azurerm/config.go
  azurerm/internal/services/portal/client.go
  azurerm/provider.go
  azurerm/resource_arm_dashboard.go
  azurerm/resource_arm_dashboard_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/dashboards.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/dashboard.html.markdown
Labels: dependencies, documentation, new-resource, service/dashboards, size/XXL

#4412 `azurerm_role_assignment` - changing the `skip_service_principal_aad_check` property no longer forces a new resource
  azurerm/resource_arm_role_assignment.go
Labels: bug, service/roles, size/XS

#3154 azurerm_api_management_api - deprecate `sku` in favour of the `sku_name` property
  azurerm/data_source_api_management.go
  azurerm/helpers/azure/sku.go
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_api_management_api_test.go
  azurerm/resource_arm_api_management_group_test.go
  azurerm/resource_arm_api_management_group_user_test.go
  azurerm/resource_arm_api_management_logger_test.go
  azurerm/resource_arm_api_management_product_api_test.go
  azurerm/resource_arm_api_management_product_group_test.go
  azurerm/resource_arm_api_management_product_test.go
  azurerm/resource_arm_api_management_property_test.go
  azurerm/resource_arm_api_management_subscription_test.go
  azurerm/resource_arm_api_management_test.go
  azurerm/resource_arm_api_management_user_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/api_management.html.markdown
  website/docs/r/api_management_api.html.markdown
  website/docs/r/api_management_group.html.markdown
  website/docs/r/api_management_logger.html.markdown
  website/docs/r/api_management_product.html.markdown
  website/docs/r/api_management_property.html.markdown
  website/docs/r/api_management_user.html.markdown
Labels: documentation, enhancement, refactor, service/api-management, size/XL

#4435 typo in this page
  website/docs/r/stream_analytics_stream_input_blob.html.markdown
Labels: documentation, service/stream-analytics, size/XS

#4409 azurerm_eventhub_namespace: support for the `network_rulesets` property
  azurerm/resource_arm_eventhub_namespace.go
  azurerm/resource_arm_eventhub_namespace_test.go
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, enhancement, size/XL

#4437 Update managed_disk.html.markdown
  website/docs/r/managed_disk.html.markdown
Labels: documentation, service/disks, size/XS

#4432 Add zone redundancy for service bus namespace
  azurerm/data_source_servicebus_namespace.go
  azurerm/internal/services/servicebus/client.go
  azurerm/resource_arm_servicebus_namespace.go
  azurerm/resource_arm_servicebus_namespace_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicebus/mgmt/2018-01-01-preview/servicebus/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicebus/mgmt/2018-01-01-preview/servicebus/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicebus/mgmt/2018-01-01-preview/servicebus/namespaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicebus/mgmt/2018-01-01-preview/servicebus/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicebus/mgmt/2018-01-01-preview/servicebus/version.go
  vendor/modules.txt
  website/docs/d/servicebus_namespace.html.markdown
  website/docs/r/servicebus_namespace.html.markdown
Labels: dependencies, documentation, enhancement, preview, service/servicebus, size/XXL

#4424 azurerm_container_registry - Checks if name is available on `create`
  azurerm/resource_arm_container_registry.go
Labels: enhancement, service/container-registry, size/XS

#4397 Analysis services server server_full_name & backup_blob_container_uri
  azurerm/resource_arm_analysis_services_server.go
  azurerm/resource_arm_analysis_services_server_test.go
  website/docs/r/analysis_services_server.html.markdown
Labels: documentation, enhancement, service/analysis, size/M

#4444 Remove duplicated string
  website/docs/d/key_vault_secret.html.markdown
Labels: documentation, service/keyvault, size/XS

#4425 New Resource: azurerm_eventhub_namespace_disaster_recovery_config
  azurerm/helpers/azure/sku.go
  azurerm/internal/services/eventhub/client.go
  azurerm/provider.go
  azurerm/resource_arm_eventhub_namespace_authorization_rule_test.go
  azurerm/resource_arm_eventhub_namespace_disaster_recovery_config.go
  azurerm/resource_arm_eventhub_namespace_disaster_recovery_config_test.go
  website/azurerm.erb
  website/docs/r/eventhub_namespace_authorization_rule.html.markdown
  website/docs/r/eventhub_namespace_disaster_recovery_config.html.markdown
Labels: dependencies, documentation, new-resource, service/event-hubs, size/XL, waiting-response

#4451 Link to resource with imported name
  website/azurerm.erb
Labels: documentation, service/frontdoor, size/XS

#4389 New Resource: `azurerm_bot_channel_email`
  azurerm/provider.go
  azurerm/resource_arm_bot_channel_email.go
  azurerm/resource_arm_bot_channel_email_test.go
  website/azurerm.erb
  website/docs/r/bot_channel_email.markdown
Labels: documentation, new-resource, service/bots, size/XL

#4455 Clarify DNS record resource_group_name usage in documentation.
  website/docs/r/dns_a_record.html.markdown
  website/docs/r/dns_aaaa_record.html.markdown
  website/docs/r/dns_caa_record.html.markdown
  website/docs/r/dns_cname_record.html.markdown
  website/docs/r/dns_mx_record.html.markdown
  website/docs/r/dns_ns_record.html.markdown
  website/docs/r/dns_ptr_record.html.markdown
  website/docs/r/dns_srv_record.html.markdown
  website/docs/r/dns_txt_record.html.markdown
Labels: documentation, service/dns, size/XS

#4452 azurerm/resource_arm_storage_blob.go: make sure storage blob is read after create/update to update all the computed properties
  azurerm/resource_arm_storage_blob.go
Labels: enhancement, service/storage, size/XS

#4439 Removed ForceNew for resource_arm_function_app for the app_service_plan_id
  azurerm/resource_arm_function_app.go
  website/docs/r/function_app.html.markdown
Labels: documentation, enhancement, service/functions, size/XS

#4462 Move linux note
  website/docs/r/app_service_plan.html.markdown
Labels: documentation, service/app-service, size/XS

#4463 clients: ensuring the user agent is set even if there's no partner id
  azurerm/internal/common/client_options.go
Labels: bug, provider, size/XS

#4464 provider: Use real Terraform version
  azurerm/config.go
  azurerm/internal/common/client_options.go
  azurerm/provider.go
  azurerm/required_resource_providers_test.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_data_lake_store_file_migration_test.go
  azurerm/resource_arm_storage_blob_migration_test.go
  azurerm/resource_arm_storage_container_migration_test.go
  azurerm/resource_arm_storage_queue_migration_test.go
Labels: size/S

#4466 Update postgresql_database.html.markdown
  website/docs/r/postgresql_database.html.markdown
Labels: documentation, service/postgresql, size/XS
