Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2019-05, with the labels that each got.

#3336 Update role_assignment.html.markdown
  website/docs/r/role_assignment.html.markdown
Labels: documentation, size/XS

#3362 Fix validation in resource azurerm_virtual_network_gateway for zone-redundant VPN gateways
  azurerm/resource_arm_virtual_network_gateway.go
Labels: refactor, service/virtual-network-gateway, size/XS

#3357 New Resource: `azurerm_api_management_api_schema`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_api_schema.go
  azurerm/resource_arm_api_management_api_schema_test.go
  azurerm/testdata/api_management_api_schema.xml
  website/azurerm.erb
  website/docs/r/api_management_api_schema.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#3367 New Resource: `azurerm_api_management_api_policy`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_api_policy.go
  azurerm/resource_arm_api_management_api_policy_test.go
  website/azurerm.erb
  website/docs/r/api_management_api_policy.html.markdown
Labels: documentation, size/XL

#3349 TestAccAzureRMUserAssignedIdentity_* switch to shared uuid regex
  azurerm/resource_arm_user_assigned_identity_test.go
Labels: refactor, size/XS

#3351 Documentation Fixes
  examples/redis-cache/basic/main.tf
  examples/redis-cache/basic/variables.tf
  examples/redis-cache/premium-with-backup/main.tf
  examples/redis-cache/premium-with-backup/variables.tf
  examples/redis-cache/premium-with-clustering/main.tf
  examples/redis-cache/premium-with-clustering/variables.tf
  examples/redis-cache/standard/main.tf
  examples/redis-cache/standard/variables.tf
  website/docs/d/batch_pool.html.markdown
  website/docs/r/batch_pool.html.markdown
  website/docs/r/redis_cache.html.markdown
Labels: documentation, service/batch, size/L

#3378 r/container_instance: simplifying the example
  website/docs/r/container_group.html.markdown
Labels: documentation, service/container-group, size/M

#3380 azurerm_container_group: ensure all properties are for new
  azurerm/resource_arm_container_group.go
  website/docs/r/container_group.html.markdown
Labels: bug, documentation, service/container-group, size/S

#3262 Container Service Api server authorized ip ranges
  azurerm/config.go
  azurerm/data_source_kubernetes_cluster.go
  azurerm/resource_arm_container_service.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-02-01/containerservice/agentpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-02-01/containerservice/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-02-01/containerservice/containerservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-02-01/containerservice/managedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-02-01/containerservice/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-02-01/containerservice/openshiftmanagedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-02-01/containerservice/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-02-01/containerservice/version.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: dependencies, documentation, enhancement, preview, service/kubernetes-cluster, size/XXL

#3385 Fix mismatched API management hostname configurations
  azurerm/data_source_api_management.go
Labels: size/XS

#3137 [arm_sql_database] - Make collation case insensitive
  azurerm/resource_arm_sql_database.go
Labels: enhancement, service/mssql, size/XS

#3390 docs: fix missing apim user link
  website/azurerm.erb
Labels: documentation, service/api-management, size/XS

#3392 Retry support for azurerm_virtual_network_peering
  azurerm/resource_arm_virtual_network_peering.go
Labels: bug, service/virtual-networks, size/S

#2937 provisionAfterExtension field for chaining multiple extensions…
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/resource_arm_virtual_machine_scale_set_migration.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, enhancement, service/vmss, size/L

#3397 azurerm_redis_cache: fix error messasges and make cfg block optional
  azurerm/resource_arm_redis_cache.go
  website/docs/r/redis_cache.html.markdown
Labels: bug, documentation, service/redis, size/XS

#3353 Application gateway: Autoscale configuration
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XL

#3343 User Assigned Identity: add corresponding data source
  azurerm/data_source_user_assigned_identity.go
  azurerm/data_source_user_assigned_identity_test.go
  azurerm/provider.go
  azurerm/resource_arm_user_assigned_identity_test.go
  website/azurerm.erb
  website/docs/d/user_assigned_identity.html.markdown
Labels: documentation, service/authentication, size/L

#3381 fix error in app service plan and make pre-check
  azurerm/resource_arm_app_service_plan.go
  website/docs/r/app_service_plan.html.markdown
Labels: documentation, enhancement, service/app-service, size/XS

#3400 fix linting error on master
  azurerm/resource_arm_user_assigned_identity_test.go
Labels: regression, size/XS

#3394 resource_arm_application_gateway: add disabled_rule_group to waf_configuration
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/XL

#3402 add support for elastic App plan aka Azure Function Premium Consumption
  azurerm/resource_arm_app_service_plan.go
  azurerm/resource_arm_app_service_plan_test.go
  website/docs/r/app_service_plan.html.markdown
Labels: documentation, size/S

#3410 add missing backticks in the 2.0-upgrade-guide
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#3406 Added validation for firewall subnet name and forced new resource on change in subnet ID
  azurerm/resource_arm_firewall.go
Labels: enhancement, service/firewall, size/XS

#3407 resource_arm_application_gateway: add exclusion configuration for waf
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XL

#3310 New Resource & Datasources: azurerm_automation_variable_[bool|datetime|string|int]
  azurerm/automation_variable.go
  azurerm/automation_variable_test.go
  azurerm/config.go
  azurerm/data_source_automation_variable_bool.go
  azurerm/data_source_automation_variable_bool_test.go
  azurerm/data_source_automation_variable_datetime.go
  azurerm/data_source_automation_variable_datetime_test.go
  azurerm/data_source_automation_variable_int.go
  azurerm/data_source_automation_variable_int_test.go
  azurerm/data_source_automation_variable_string.go
  azurerm/data_source_automation_variable_string_test.go
  azurerm/helpers/azure/automation_variable.go
  azurerm/provider.go
  azurerm/resource_arm_automation_variable_bool.go
  azurerm/resource_arm_automation_variable_bool_test.go
  azurerm/resource_arm_automation_variable_datetime.go
  azurerm/resource_arm_automation_variable_datetime_test.go
  azurerm/resource_arm_automation_variable_int.go
  azurerm/resource_arm_automation_variable_int_test.go
  azurerm/resource_arm_automation_variable_string.go
  azurerm/resource_arm_automation_variable_string_test.go
  website/azurerm.erb
  website/docs/d/automation_variable_bool.html.markdown
  website/docs/d/automation_variable_datetime.html.markdown
  website/docs/d/automation_variable_int.html.markdown
  website/docs/d/automation_variable_string.html.markdown
  website/docs/r/automation_variable_bool.html.markdown
  website/docs/r/automation_variable_datetime.html.markdown
  website/docs/r/automation_variable_int.html.markdown
  website/docs/r/automation_variable_string.html.markdown
Labels: documentation, service/automation, size/XXL

#3377 Add read_scale property to sql database
  azurerm/resource_arm_sql_database.go
  azurerm/resource_arm_sql_database_test.go
  website/docs/r/sql_database.html.markdown
Labels: documentation, enhancement, service/mssql, size/M

#3340 Application Gateway: Moved validations from flatten to expand
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
Labels: bug, refactor, service/application-gateway, size/L

#3311 IC for adding container_configuration to batch pool resource.
  azurerm/data_source_batch_pool.go
  azurerm/data_source_batch_pool_test.go
  azurerm/helpers/azure/batch_pool.go
  azurerm/resource_arm_batch_pool.go
  azurerm/resource_arm_batch_pool_test.go
  website/docs/d/batch_pool.html.markdown
  website/docs/r/batch_pool.html.markdown
Labels: documentation, enhancement, service/batch, size/L

#3425 New Resource: `azurerm_data_factory_linked_service_data_lake_storage_gen2`
  azurerm/provider.go
  azurerm/resource_arm_data_factory_linked_service_data_lake_storage_gen2.go
  azurerm/resource_arm_data_factory_linked_service_data_lake_storage_gen2_test.go
  website/azurerm.erb
  website/docs/r/data_factory_linked_service_data_lake_storage_gen2.html.markdown
Labels: documentation, size/XL

#3427 RandInt -> AccRandTimeInt
  azurerm/data_source_api_management_api_test.go
  azurerm/helpers/azure/key_vault.go
  azurerm/resource_arm_api_management_api_operation_test.go
  azurerm/resource_arm_api_management_api_schema_test.go
  azurerm/resource_arm_api_management_api_test.go
  azurerm/resource_arm_data_factory_dataset_mysql_test.go
  azurerm/resource_arm_data_factory_dataset_postgresql_test.go
  azurerm/resource_arm_data_factory_dataset_sql_server_table_test.go
  azurerm/resource_arm_data_factory_linked_service_mysql_test.go
  azurerm/resource_arm_data_factory_linked_service_postgresql_test.go
  azurerm/resource_arm_data_factory_linked_service_sql_server_test.go
  azurerm/resource_arm_data_factory_test.go
  azurerm/resource_arm_firewall.go
Labels: refactor, size/M

#2636 New Resource: Azure Network Profile
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_network_profile.go
  azurerm/resource_arm_network_profile_test.go
  website/azurerm.erb
  website/docs/r/network_profile.html.markdown
Labels: documentation, new-resource, service/virtual-networks, size/XL

#3424 azurerm_kubernetes_cluster: Add support for virtual machine scale set node pool
  azurerm/data_source_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, preview, service/kubernetes-cluster, size/M

#3434 Enhancement: `application_gateway` - `affinity_cookie_name`
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/L

#3389 Add support to disable authentication for Azure Redis caches
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_redis_cache_test.go
  website/docs/r/redis_cache.html.markdown
Labels: documentation, enhancement, service/redis, size/M

#3437 [WIP] Bug Fix: `azurerm_application_gateway` - updatable gateway subnet
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
Labels: size/L

#3440 Revert "increase max capacity for eventhub namespaces to 100"
  azurerm/resource_arm_eventhub_namespace.go
  azurerm/resource_arm_eventhub_namespace_test.go
Labels: regression, service/event-hubs, size/XS

#3439 RESOURCE: lower minimum partition count to 1
  azurerm/resource_arm_eventhub.go
  azurerm/resource_arm_eventhub_test.go
Labels: bug, service/event-hubs, size/S

#3438 azurerm_application_gateway: fix panic in backend and prob pick hostname validation
  azurerm/resource_arm_application_gateway.go
Labels: bug, service/application-gateway, size/XS

#3447 Show subscription_id as attribute
  website/docs/d/subscription.html.markdown
Labels: documentation, size/XS

#3444 azurerm_app_service_slot: Add site_credential attribute export
  azurerm/resource_arm_app_service_slot.go
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, enhancement, service/app-service, size/S

#3451 Correct to subscription_id
  website/docs/r/management_group.html.markdown
Labels: documentation, size/XS

#3455 Update monitor_diagnostic_categories.html.markdown
  website/docs/d/monitor_diagnostic_categories.html.markdown
Labels: documentation, service/monitor, size/XS

#3453 Adding UltraSSD to list of sku names when creating a managed disk
  azurerm/resource_arm_managed_disk.go
Labels: service/disks, size/XS

#3382 New data-source: azurerm_kubernetes_service_versions
  azurerm/data_source_kubernetes_service_version.go
  azurerm/data_source_kubernetes_service_version_test.go
  azurerm/provider.go
  go.mod
  website/azurerm.erb
  website/docs/d/kubernetes_service_versions.html.markdown
Labels: documentation, new-data-source, service/kubernetes-cluster, size/L

#3442 Add cosmos db/keyspace/table resources
  azurerm/config.go
  azurerm/data_source_cosmos_db_account.go
  azurerm/helpers/azure/cosmos.go
  azurerm/helpers/validate/cosmos.go
  azurerm/provider.go
  azurerm/resource_arm_cosmosdb_account.go
  azurerm/resource_arm_cosmosdb_account_failover_test.go
  azurerm/resource_arm_cosmosdb_account_test.go
  azurerm/resource_arm_cosmosdb_cassandra_keyspace.go
  azurerm/resource_arm_cosmosdb_cassandra_keyspace_test.go
  azurerm/resource_arm_cosmosdb_mongo_database.go
  azurerm/resource_arm_cosmosdb_mongo_database_test.go
  azurerm/resource_arm_cosmosdb_sql_database.go
  azurerm/resource_arm_cosmosdb_sql_database_test.go
  azurerm/resource_arm_cosmosdb_table.go
  azurerm/resource_arm_cosmosdb_table_test.go
  azurerm/resource_arm_sql_server.go
  go.mod
  go.sum
  website/azurerm.erb
  website/docs/r/cosmosdb_cassandra_keyspace.html.markdown
  website/docs/r/cosmosdb_mongo_database.html.markdown
  website/docs/r/cosmosdb_sql_database.html.markdown
  website/docs/r/cosmosdb_table.html.markdown
Labels: documentation, new-resource, service/cosmos, size/XXL

#3459 New Resource: `azurerm_cosmosdb_mongo_collection`
  azurerm/helpers/azure/cosmos.go
  azurerm/provider.go
  azurerm/resource_arm_cosmosdb_cassandra_keyspace_test.go
  azurerm/resource_arm_cosmosdb_mongo_collection.go
  azurerm/resource_arm_cosmosdb_mongo_collection_test.go
  azurerm/resource_arm_cosmosdb_mongo_database_test.go
  azurerm/resource_arm_cosmosdb_sql_database_test.go
  azurerm/resource_arm_cosmosdb_table_test.go
  go.sum
  website/azurerm.erb
  website/docs/r/cosmosdb_mongo_collection.html.markdown
  website/docs/r/cosmosdb_mongo_database.html.markdown
  website/docs/r/cosmosdb_sql_database.html.markdown
Labels: documentation, new-resource, service/cosmos, size/XL

#3460 Test Fixes: `azurerm_firewall_nat_rule_collection`
  azurerm/resource_arm_firewall_nat_rule_collection_test.go
Labels: size/L

#3464 Test Fix: `azurerm_eventhub_namespace`
  azurerm/resource_arm_eventhub_namespace_test.go
Labels: enhancement, service/event-hubs, size/XS

#3463 docs: updating the version to 1.28
  website/docs/auth/azure_cli.html.markdown
  website/docs/auth/service_principal_client_certificate.html.markdown
  website/docs/auth/service_principal_client_secret.html.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/guides/migrating-to-azuread.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/XS

#3465 azurerm_stream_analytics*: Add possible values to docs
  website/docs/r/stream_analytics_output_blob.html.markdown
  website/docs/r/stream_analytics_output_eventhub.html.markdown
  website/docs/r/stream_analytics_output_servicebus_queue.html.markdown
  website/docs/r/stream_analytics_stream_input_blob.html.markdown
  website/docs/r/stream_analytics_stream_input_eventhub.html.markdown
  website/docs/r/stream_analytics_stream_input_iothub.html.markdown
Labels: documentation, service/stream-analytics, size/XS

#3423 Application Gateway: Rewrite Rules
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/XL

#3360 application gateway: add advanced ssl_policies
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/XL

#3467 Fix Test: `TestAccAzureRMStorageShare_disappears`
  azurerm/resource_arm_storage_share_test.go
Labels: size/XS, tests

#3468 Fix TestAccAzureRMContainerGroup_windows
  azurerm/resource_arm_container_group_test.go
Labels: size/XS, tests

#3331 Application Insights Webtests
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_application_insights_webtests.go
  azurerm/resource_arm_application_insights_webtests_test.go
  website/azurerm.erb
  website/docs/r/application_insights_webtests.html.markdown
Labels: documentation, new-resource, service/application-insights, size/XL

#3474 Remove extra wording
  website/docs/r/servicebus_queue.html.markdown
Labels: documentation, service/servicebus, size/XS

#3479 r/data_factory: documenting the `principal_id` and `tenant_id` fields
  website/docs/r/data_factory.html.markdown
Labels: documentation, service/data-factory, size/XS

#3482 r/automation_module: polling until the module's finished provisioning
  azurerm/resource_arm_automation_module.go
  azurerm/resource_arm_automation_module_test.go
Labels: bug, service/automation, size/M

#3475 Update api_management.go
  azurerm/helpers/validate/api_management.go
  azurerm/helpers/validate/api_management_test.go
Labels: bug, service/api-management, size/XS

#3487 Fix d/azurerm_kubernetes_service_versions example usage documentation
  website/docs/d/kubernetes_service_versions.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#3497 Remove `advanced_schedule` block from the azurerm_automation_schedule documentation example
  website/docs/r/automation_schedule.html.markdown
Labels: documentation, service/automation, size/XS

#3253 Enable correlation request ID header in ARM API.
  azurerm/config.go
  azurerm/config_test.go
  azurerm/helpers/azure/request.go
  azurerm/helpers/azure/request_test.go
Labels: enhancement, size/M

#3484 Changed casing of field "SubnetName" for the virtual kubelet/aci addon in AKS
  azurerm/resource_arm_kubernetes_cluster.go
Labels: bug, service/kubernetes-cluster, size/XS

#2831 azurerm_app_service: Adds authentication support
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_test.go
  examples/app-service/docker-authentication/README.md
  examples/app-service/docker-authentication/main.tf
  examples/app-service/docker-authentication/outputs.tf
  examples/app-service/docker-authentication/variables.tf
  examples/app-service/linux-authentication/README.md
  examples/app-service/linux-authentication/main.tf
  examples/app-service/linux-authentication/outputs.tf
  examples/app-service/linux-authentication/variables.tf
  examples/app-service/windows-authentication/README.md
  examples/app-service/windows-authentication/main.tf
  examples/app-service/windows-authentication/outputs.tf
  examples/app-service/windows-authentication/variables.tf
  website/docs/r/app_service.html.markdown
Labels: documentation, enhancement, service/app-service, size/XXL

#3501 Bug Fix: `azurerm_dev_test_virtual_network`
  azurerm/resource_arm_dev_test_virtual_network.go
  azurerm/resource_arm_dev_test_virtual_network_test.go
Labels: size/M

#3496 Bug Fix: `azurerm_express_route_circuit`
  azurerm/resource_arm_express_route_circuit.go
  azurerm/resource_arm_express_route_circuit_authorization.go
  azurerm/resource_arm_express_route_circuit_peering.go
  azurerm/resource_arm_express_route_circuit_peering_test.go
  azurerm/resource_arm_express_route_circuit_test.go
Labels: bug, service/express-route, size/M

#3494 data.azurerm_virtual_network: add network_space property to match resource
  azurerm/data_source_virtual_network.go
  azurerm/data_source_virtual_network_gateway.go
  azurerm/helpers/azure/api_management.go
  azurerm/resource_arm_api_management_property.go
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_eventgrid_event_subscription.go
  azurerm/resource_arm_firewall_application_rule_collection.go
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_monitor_activity_log_alert.go
  azurerm/resource_arm_monitor_metric_alert.go
  azurerm/resource_arm_virtual_network.go
  azurerm/resource_arm_virtual_network_gateway.go
  azurerm/utils/common_marshal.go
  website/docs/d/virtual_network.html.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: bug, documentation, service/virtual-network-gateway, service/virtual-networks, size/L

#3499 Role Assignment - Treat name as case insensitive
  azurerm/resource_arm_role_assignment.go
Labels: enhancement, service/roles, size/XS

#3491 Add support multiple agent pool profiles
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/M

#3518 Updated import statement
  website/docs/r/shared_image_version.html.markdown
Labels: documentation, service/images, size/XS

#3521 linting: re-enable goimports linter
  .golangci.yml
  .travis.yml
  GNUmakefile
  azurerm/resource_arm_key_vault_access_policy.go
  azurerm/resource_arm_sql_database.go
Labels: refactor, size/XS

#3524 azurerm_cosmosdb_account: fix panic from issue #3523
  azurerm/resource_arm_cosmosdb_account.go
Labels: bug, service/cosmos, size/XS

#3513 New Data Source: `azurerm_sql_server`
  azurerm/data_source_sql_server.go
  azurerm/data_source_sql_server_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/sql_server.html.markdown
Labels: documentation, new-data-source, service/mssql, size/L

#3527 [docs] azurerm_app_service: Adds missing auth_settings to the Argument Reference section
  website/docs/r/app_service.html.markdown
Labels: documentation, service/app-service, size/XS

#3525 Travis enhancements
  .travis.yml
  GNUmakefile
Labels: enhancement, size/XS, tests

#3536 Fixed typo issue in resource_arm_loadbalancer_rule
  azurerm/resource_arm_loadbalancer_rule.go
Labels: bug, service/load-balancers, size/XS

#3533 [GH-3470] Adding General group to WAF exclusions
  azurerm/resource_arm_application_gateway.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/XS

#3481 Add redis_cache datasource
  azurerm/data_source_redis_cache.go
  azurerm/data_source_redis_cache_test.go
  azurerm/provider.go
  website/docs/d/redis_cache.html.markdown
Labels: documentation, new-data-source, service/redis, size/XL

#3553 Fix build errors
  azurerm/data_source_redis_cache.go
Labels: bug, size/XS

#3560 Fix the crash point for APIM client registration
  azurerm/config.go
Labels: crash, size/XS

#3566 Support for Windows Container in Azure App Service
  azurerm/data_source_app_service_plan.go
  azurerm/data_source_app_service_plan_test.go
  azurerm/data_source_app_service_test.go
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service_plan.go
  azurerm/resource_arm_app_service_plan_test.go
  azurerm/resource_arm_app_service_test.go
  examples/app-service/windows-container/README.md
  examples/app-service/windows-container/main.tf
  examples/app-service/windows-container/outputs.tf
  examples/app-service/windows-container/variables.tf
  website/docs/d/app_service.html.markdown
  website/docs/d/app_service_plan.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_plan.html.markdown
Labels: documentation, enhancement, service/app-service, size/XL
