Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2019-01, with the labels that each got.

#2553 Support for Azure Active Directory for Azure Service fabric
  azurerm/resource_arm_service_fabric_cluster.go
  azurerm/resource_arm_service_fabric_cluster_test.go
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, enhancement, service/service-fabric, size/L

#2588 r/monitor_diagnostic_setting: fixing the field names
  website/docs/r/monitor_diagnostic_setting.html.markdown
Labels: documentation, service/monitor, size/XS

#2589 doc correction
  website/docs/r/network_interface_application_gateway_backend_address_pool_association.html.markdown
Labels: documentation, size/XS

#2590 add TF_SCHEMA_PANIC_ON_ERROR=1 to the makefile
  GNUmakefile
Labels: refactor, size/XS

#2597 data.azurerm_managed_disk: add missing create_option property
  azurerm/data_source_managed_disk.go
Labels: bug, service/disks, size/XS

#2596 fix schema panic: azurerm_snapshot
  azurerm/data_source_snapshot.go
  azurerm/data_source_snapshot_test.go
Labels: bug, size/XS

#2599 data.azurerm_network_interface: added missing property ip_configuration.0.application_security_group_ids
  azurerm/data_source_network_interface.go
Labels: bug, service/network-interfaces, size/XS

#2595 fix scheme panic: azurerm_storage_account datasource
  azurerm/data_source_storage_account.go
Labels: bug, service/storage, size/XS

#2592 Requiring Imports (PR 4 of ...)
  azurerm/resource_arm_application_insights_api_key.go
  azurerm/resource_arm_batch_account.go
  azurerm/resource_arm_batch_account_test.go
  azurerm/resource_arm_eventhub.go
  azurerm/resource_arm_eventhub_authorization_rule.go
  azurerm/resource_arm_eventhub_authorization_rule_test.go
  azurerm/resource_arm_eventhub_consumer_group.go
  azurerm/resource_arm_eventhub_consumer_group_test.go
  azurerm/resource_arm_eventhub_namespace.go
  azurerm/resource_arm_eventhub_namespace_authorization_rule.go
  azurerm/resource_arm_eventhub_namespace_authorization_rule_test.go
  azurerm/resource_arm_eventhub_namespace_test.go
  azurerm/resource_arm_eventhub_test.go
  azurerm/resource_arm_express_route_circuit.go
  azurerm/resource_arm_express_route_circuit_authorization.go
  azurerm/resource_arm_express_route_circuit_authorization_test.go
  azurerm/resource_arm_express_route_circuit_peering.go
  azurerm/resource_arm_express_route_circuit_peering_test.go
  azurerm/resource_arm_express_route_circuit_test.go
  azurerm/resource_arm_firewall.go
  azurerm/resource_arm_firewall_application_rule_collection.go
  azurerm/resource_arm_firewall_application_rule_collection_test.go
  azurerm/resource_arm_firewall_network_rule_collection.go
  azurerm/resource_arm_firewall_network_rule_collection_test.go
  azurerm/resource_arm_firewall_test.go
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_function_app_test.go
Labels: enhancement, size/XL

#2598 fix schema panic: dns resources
  azurerm/data_source_dns_zone.go
  azurerm/resource_arm_dns_ptr_record.go
  azurerm/resource_arm_dns_zone.go
Labels: bug, service/dns, size/XS

#2607 data.azurerm_container_registry: added missing tags property
  azurerm/data_source_container_registry.go
  azurerm/data_source_container_registry_test.go
  azurerm/data_source_virtual_machine.go
  azurerm/data_source_virtual_machine_test.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
Labels: bug, service/container-registry, size/XS

#2604 Ensure create & update functions have create & update in the name
  azurerm/resource_arm_app_service_active_slot.go
  azurerm/resource_arm_availability_set.go
  azurerm/resource_arm_container_service.go
  azurerm/resource_arm_eventhub.go
  azurerm/resource_arm_eventhub_namespace.go
  azurerm/resource_arm_loadbalancer.go
  azurerm/resource_arm_loadbalancer_nat_pool.go
  azurerm/resource_arm_loadbalancer_rule.go
  azurerm/resource_arm_local_network_gateway.go
  azurerm/resource_arm_managed_disk.go
  azurerm/resource_arm_mssql_elasticpool.go
  azurerm/resource_arm_network_security_group.go
  azurerm/resource_arm_network_security_rule.go
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_servicebus_namespace.go
  azurerm/resource_arm_servicebus_subscription.go
  azurerm/resource_arm_servicebus_topic.go
  azurerm/resource_arm_subnet.go
  azurerm/resource_arm_template_deployment.go
  azurerm/resource_arm_traffic_manager_endpoint.go
  azurerm/resource_arm_traffic_manager_profile.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_extension.go
  azurerm/resource_arm_virtual_machine_scale_set.go
  azurerm/resource_arm_virtual_network.go
  azurerm/resource_arm_virtual_network_peering.go
Labels: refactor, size/L

#2606 update travis CI check order
  .travis.yml
Labels: enhancement, size/XS

#2548 Implement private_ip_address_version for network interfaces.
  azurerm/resource_arm_network_interface.go
  azurerm/resource_arm_network_interface_test.go
  website/docs/r/network_interface.html.markdown
Labels: documentation, enhancement, service/network-interfaces, size/L

#2610 Sidebar: adding Eventhub Namespace Authorization Rules
  website/azurerm.erb
  website/docs/r/eventhub_namespace_authorization_rule.html.markdown
Labels: documentation, size/XS

#2609 App Service: Updating Connection Strings to a Set
  azurerm/data_source_app_service.go
  azurerm/data_source_app_service_test.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
Labels: bug, service/app-service, size/L

#2612 Monitor: documenting the eventhub auth rule type
  website/docs/r/monitor_diagnostic_setting.html.markdown
Labels: documentation, service/monitor, size/XS

#2042 Add delegation support for Subnet
  azurerm/resource_arm_subnet.go
  azurerm/resource_arm_subnet_test.go
  website/docs/r/subnet.html.markdown
Labels: documentation, enhancement, service/subnets, size/L, waiting-response

#2611 Fixes for handling the `dns_prefix` property of an AKS cluster
  azurerm/resource_arm_kubernetes_cluster.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#2626 Correct phrase syntax
  website/docs/index.html.markdown
Labels: documentation, size/XS

#2395 Event hub namespace with KafkaEnabled property
  azurerm/data_source_eventhub_namespace.go
  azurerm/data_source_eventhub_namespace_test.go
  azurerm/resource_arm_eventhub_namespace.go
  azurerm/resource_arm_eventhub_namespace_test.go
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, enhancement, service/event-hubs, size/M, waiting-response

#2620 Support exclusions (notScopes) in azurerm_policy_assignment
  azurerm/resource_arm_policy_assignment.go
  azurerm/resource_arm_policy_assignment_test.go
  website/docs/r/policy_assignment.html.markdown
Labels: documentation, service/policy, size/M

#2627 Azure Event Hub documentation: Kafka enabled property added on namespace
  website/docs/r/eventhub.html.markdown
Labels: documentation, service/event-hubs

#2632 Azure Active Directory: deprecating resources in favour of the new provider
  azurerm/data_source_azuread_application.go
  azurerm/data_source_azuread_service_principal.go
  azurerm/resource_arm_azuread_application.go
  azurerm/resource_arm_azuread_service_principal.go
  azurerm/resource_arm_azuread_service_principal_password.go
  website/docs/d/azuread_application.html.markdown
  website/docs/d/azuread_service_principal.html.markdown
  website/docs/guides/migrating-to-azuread.html.markdown
  website/docs/r/azuread_application.html.markdown
  website/docs/r/azuread_service_principal.html.markdown
  website/docs/r/azuread_service_principal_password.html.markdown
Labels: documentation, enhancement, service/authentication, size/L

#2625 Add application insights data source
  azurerm/data_source_application_insights.go
  azurerm/data_source_application_insights_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/application_insights.html.markdown
Labels: documentation, new-data-source, service/application-insights, size/L

#2635 Fix: add Node.JS for application_type in application_insight resource
  website/docs/r/application_insights.html.markdown
Labels: documentation, service/application-insights, size/XS

#2638 Sort data sources and resources map keys
  azurerm/provider.go
Labels: refactor, size/M

#2637 Adding the Azure Providers to the sidebar
  website/azurerm.erb
Labels: documentation, size/XS

#2640 azurerm_public_ip: fixed inverted validtion condition regression
  azurerm/resource_arm_databricks_workspace_test.go
  azurerm/resource_arm_monitor_log_profile_test.go
  azurerm/resource_arm_network_interface_test.go
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_public_ip_test.go
  azurerm/resource_arm_scheduler_job_test.go
  azurerm/resource_arm_search_service_test.go
  azurerm/resource_arm_servicebus_queue_test.go
  azurerm/resource_arm_servicebus_subscription_rule_test.go
  azurerm/resource_arm_servicebus_subscription_test.go
  azurerm/resource_arm_servicebus_topic_test.go
  examples/scheduler-jobs/main.tf
  examples/servicebus/main.tf
  website/docs/r/firewall_application_rule_collection.html.markdown
  website/docs/r/recovery_services_vault.markdown
  website/docs/r/search_service.html.markdown
  website/docs/r/servicebus_namespace.html.markdown
  website/docs/r/servicebus_namespace_authorization_rule.html.markdown
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_queue_authorization_rule.html.markdown
  website/docs/r/servicebus_subscription.html.markdown
  website/docs/r/servicebus_subscription_rule.html.markdown
  website/docs/r/servicebus_topic.html.markdown
  website/docs/r/servicebus_topic_authorization_rule.html.markdown
Labels: bug, documentation, regression, service/public-ip, size/M

#2583 Added Speech Services Kind
  azurerm/resource_arm_cognitive_account.go
  azurerm/resource_arm_cognitive_account_test.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, enhancement, service/cognitive-services, size/S

#2525 Added Slack workspace with invite link
  README.md
Labels: documentation, size/XS

#2642 Updating the casing on the dns import text
  website/docs/r/dns_a_record.html.markdown
  website/docs/r/dns_aaaa_record.html.markdown
  website/docs/r/dns_caa_record.html.markdown
  website/docs/r/dns_cname_record.html.markdown
  website/docs/r/dns_mx_record.html.markdown
  website/docs/r/dns_ns_record.html.markdown
  website/docs/r/dns_ptr_record.html.markdown
  website/docs/r/dns_srv_record.html.markdown
  website/docs/r/dns_txt_record.html.markdown
  website/docs/r/dns_zone.html.markdown
Labels: documentation, service/dns, size/XS

#2645 Fix testAccDataSourceEventHubNamespace_complete tf
  azurerm/data_source_eventhub_namespace_test.go
Labels: bug, service/event-hubs, size/XS

#2647 azurerm_databricks_workspace: fixed regression in test tf sku casing
  azurerm/resource_arm_databricks_workspace_test.go
Labels: bug, service/databricks, size/XS

#2646 data.azurerm_network_interface: add missing property ip_configuration.private_ip_address_version
  azurerm/data_source_network_interface.go
  azurerm/resource_arm_network_interface.go
Labels: bug, service/network-interfaces, size/XS

#1930 Adding Ports To Container Groups
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/container-instance, size/L

#2648 azurerm_search_service: disallow uppercase in sku and fix acctest
  azurerm/resource_arm_search_service.go
  azurerm/resource_arm_search_service_test.go
Labels: bug, service/search, size/XS

#2641 Support AKS Virtual Nodes
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, preview, service/kubernetes-cluster, size/L

#2354 New Data Sources: `azurerm_lb` / `azurerm_lb_backend_address_pool`
  azurerm/data_source_loadbalancer.go
  azurerm/data_source_loadbalancer_backend_address_pool.go
  azurerm/data_source_loadbalancer_backend_address_pool_test.go
  azurerm/data_source_loadbalancer_test.go
  azurerm/provider.go
  azurerm/resource_arm_loadbalancer.go
  website/azurerm.erb
  website/docs/d/loadbalancer.html.markdown
  website/docs/d/loadbalancer_backend_address_pool.html.markdown
  website/docs/r/loadbalancer.html.markdown
  website/docs/r/loadbalancer_backend_address_pool.html.markdown
Labels: documentation, new-data-source, service/load-balancers, size/XL

#2643 Support for specifying the Partner ID
  azurerm/azurerm_sweeper_test.go
  azurerm/config.go
  azurerm/provider.go
  azurerm/required_resource_providers_test.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_data_lake_store_file_migration_test.go
  azurerm/resource_arm_storage_blob_migration_test.go
  azurerm/resource_arm_storage_container_migration_test.go
  azurerm/resource_arm_storage_queue_migration_test.go
  azurerm/resource_arm_storage_table_migration_test.go
  website/docs/index.html.markdown
Labels: documentation, enhancement, size/S

#2649 Updating the version pin to 1.21
  website/docs/auth/azure_cli.html.markdown
  website/docs/auth/managed_service_identity.html.markdown
  website/docs/auth/service_principal_client_certificate.html.markdown
  website/docs/auth/service_principal_client_secret.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/XS

#2650 allowing the partner_id to be set to an empty string
  azurerm/helpers/validate/uuid.go
  azurerm/provider.go
Labels: bug, size/XS

#2633 Chunked file transfers for azurerm_data_lake_store_file
  azurerm/data_source_application_insights_test.go
  azurerm/data_source_loadbalancer_backend_address_pool_test.go
  azurerm/data_source_loadbalancer_test.go
  azurerm/resource_arm_cognitive_account_test.go
  azurerm/resource_arm_data_lake_store_file.go
  azurerm/resource_arm_data_lake_store_file_test.go
  azurerm/resource_arm_kubernetes_cluster_test.go
Labels: bug, service/data-lake, size/M

#2653 Update documention for partner_id
  website/docs/index.html.markdown
Labels: documentation, size/XS

#2346 Including set max_size_bytes
  azurerm/resource_arm_mssql_elasticpool.go
  azurerm/resource_arm_mssql_elasticpool_test.go
  website/docs/r/mssql_elasticpool.html.markdown
Labels: bug, documentation, service/mssql, size/M

#2657 fix policy definition imports rendering
  website/docs/r/policy_definition.html.markdown
Labels: documentation, service/policy, size/XS

#2578 Example: Deploy a virtual appliance VM from Azure Marketplace
  examples/deploy-virtual-appliance-from-marketplace/README.md
  examples/deploy-virtual-appliance-from-marketplace/images/GetAzureRmMarketPlaceTerms.JPG
  examples/deploy-virtual-appliance-from-marketplace/images/configureprogrammaticdeployment.JPG
  examples/deploy-virtual-appliance-from-marketplace/images/wanttodeployprogrammatically.jpg
  examples/deploy-virtual-appliance-from-marketplace/main.tf
  examples/deploy-virtual-appliance-from-marketplace/variables.tf
Labels: documentation, size/M

#2663 check for rules on the firewall and include in updates
  azurerm/resource_arm_firewall.go
  azurerm/resource_arm_firewall_application_rule_collection_test.go
  azurerm/resource_arm_firewall_network_rule_collection_test.go
Labels: enhancement, service/firewall, size/L

#2654 New Resource: Add DDos Protection Plan for Virtual Network.
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_ddos_protection_plan.go
  azurerm/resource_arm_ddos_protection_plan_test.go
  azurerm/resource_arm_firewall.go
  azurerm/resource_arm_virtual_network.go
  azurerm/resource_arm_virtual_network_test.go
  website/azurerm.erb
  website/docs/r/ddos_protection_plan.html.markdown
  website/docs/r/virtual_network.html.markdown
Labels: documentation, new-resource, service/virtual-networks, size/XL

#2672 Allow service bus subscriptions and subscription rules to start with number
  azurerm/helpers/azure/servicebus.go
Labels: bug, service/servicebus, size/XS

#2666 azurerm_application_gateway: Adding upload limit
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/L

#2679 Fix the doc of app service
  website/docs/r/app_service.html.markdown
Labels: documentation, service/app-service, size/XS

#2691 Update GNUMakefile's fmt step to match the search logic in gofmtcheck.sh
  GNUmakefile
  scripts/gofmtcheck.sh
Labels: bug, refactor, size/XS

#2694 Normalize all documentation line endings to LF instead of CRLF.
  website/docs/d/monitor_action_group.html.markdown
  website/docs/r/application_gateway.html.markdown
  website/docs/r/ddos_protection_plan.html.markdown
  website/docs/r/monitor_activity_log_alert.html.markdown
  website/docs/r/monitor_metric_alert.html.markdown
  website/docs/r/user_assigned_identity.markdown
Labels: documentation, refactor, size/XXL

#2692 r/expressroute: updating the validation
  azurerm/resource_arm_express_route_circuit.go
Labels: bug, service/express-route, size/XS

#2685 [Batch Pool] Fix issue when setting multiple env var in pool start task
  azurerm/helpers/azure/batch_pool.go
  azurerm/resource_arm_batch_pool_test.go
Labels: bug, service/batch, size/XS

#2664 Requiring Imports (PR 5 of ...)
  azurerm/resource_arm_image.go
  azurerm/resource_arm_image_test.go
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_iothub_consumer_group.go
  azurerm/resource_arm_iothub_consumer_group_test.go
  azurerm/resource_arm_iothub_test.go
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_access_policy.go
  azurerm/resource_arm_key_vault_access_policy_test.go
  azurerm/resource_arm_key_vault_test.go
Labels: enhancement, refactor, size/XL

#2703 Replacing %s and %d with actual examples
  website/docs/r/ddos_protection_plan.html.markdown
  website/docs/r/policy_assignment.html.markdown
  website/docs/r/storage_queue.html.markdown
Labels: documentation, size/XS

#2702 r/cosmosdb: handling when the resource has been deleted
  azurerm/resource_arm_cosmos_db_account.go
Labels: bug, service/cosmos-db, size/XS

#2708 Renaming a typo `protectoin` -> `protection`
  azurerm/provider.go
  azurerm/resource_arm_ddos_protection_plan.go
Labels: enhancement, service/virtual-networks, size/XS

#2707 Doc that capabilities is a block requiring name
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, service/cosmos-db, size/XS

#2712 refactor: remove sweepers
  azurerm/azurerm_sweeper_test.go
  azurerm/resource_arm_application_gateway_test.go
  azurerm/resource_arm_cdn_profile_test.go
  azurerm/resource_arm_cosmos_db_account_test.go
  azurerm/resource_arm_monitor_log_profile_test.go
  azurerm/resource_arm_network_interface_test.go
  azurerm/resource_arm_resource_group_test.go
  azurerm/resource_arm_servicebus_namespace_test.go
  azurerm/resource_arm_sql_server_test.go
  azurerm/resource_arm_virtual_network_test.go
Labels: refactor, size/XL

#2713 azurerm_cosmosdb_account: allow an empty value for ip filter property
  azurerm/resource_arm_cosmos_db_account.go
  azurerm/resource_arm_cosmos_db_account_test.go
Labels: bug, service/cosmos-db, size/S

#2720 Fix `sku` docs for `azurerm_databricks_workspace`
  website/docs/r/databricks_workspace.html.markdown
Labels: documentation, service/databricks, size/XS

#2714 Fix broken attributes in example code
  website/docs/r/recovery_services_protected_vm.markdown
Labels: documentation, service/recovery-services, size/XS

#2717 Fix bugs of `sidebar_current` for documents.
  website/azurerm.erb
  website/docs/d/cosmosdb_account.html.markdown
  website/docs/d/key_vault.html.markdown
  website/docs/d/key_vault_key.html.markdown
  website/docs/d/key_vault_secret.html.markdown
  website/docs/d/storage_account.html.markdown
  website/docs/d/virtual_network_gateway.html.markdown
  website/docs/r/application_gateway.html.markdown
  website/docs/r/application_insights.html.markdown
  website/docs/r/eventhub.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
  website/docs/r/function_app.html.markdown
  website/docs/r/log_analytics_solution.html.markdown
  website/docs/r/log_analytics_workspace.html.markdown
  website/docs/r/log_analytics_workspace_linked_service.html.markdown
  website/docs/r/monitor_metric_alert.html.markdown
  website/docs/r/recovery_services_protected_vm.markdown
  website/docs/r/recovery_services_protection_policy_vm.markdown
  website/docs/r/recovery_services_vault.markdown
  website/docs/r/redis_cache.html.markdown
  website/docs/r/redis_firewall_rule.html.markdown
  website/docs/r/servicebus_namespace.html.markdown
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_subscription.html.markdown
  website/docs/r/servicebus_topic.html.markdown
  website/docs/r/sql_firewall_rule.html.markdown
  website/docs/r/virtual_network.html.markdown
Labels: documentation, size/M

#2722 linting: update to work with new staticcheck
  .gometalinter.json
  azurerm/helpers/suppress/string.go
  azurerm/resource_arm_container_registry.go
  azurerm/resource_arm_container_registry_migrate.go
  azurerm/resource_arm_container_registry_test.go
  azurerm/resource_arm_servicebus_namespace.go
  azurerm/tags_test.go
  staticcheck.conf
Labels: refactor, size/S

#2731 removed unused loadbalancerStateRefreshFunc
  azurerm/loadbalancer.go
Labels: size/XS, technical-debt

#2729 azuread_application: correctly read reply URL's from SDK
  azurerm/resource_arm_azuread_application.go
  azurerm/resource_arm_azuread_application_test.go
Labels: service/authentication, size/XS

#2733 Update role_definition.html.markdown
  website/docs/r/role_definition.html.markdown
Labels: documentation, service/authentication, size/XS

#2734 correct valid values for requested_service_objective
  website/docs/r/sql_database.html.markdown
Labels: documentation, service/mssql, size/XS

#2715 azurerm_cosmosdb_account: add new capabilities EnableAggregationPipeline, MongoDBv3.4, mongoEnableDocLevelTTL
  azurerm/resource_arm_cosmos_db_account.go
  azurerm/resource_arm_cosmos_db_account_test.go
  azurerm/resource_arm_ddos_protection_plan_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, enhancement, service/cosmos-db, size/L

#2740 Update the documentation for ddos protection plan in vnet.
  website/docs/r/virtual_network.html.markdown
Labels: documentation, service/virtual-networks, size/XS

#2735 azurerm_application_gateway: Adding http2
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/M

#2741 fix TestAccAzureRMRecoveryServicesProtectedVm_separateResourceGroupstest
  azurerm/resource_arm_recovery_services_protected_vm_test.go
Labels: bug, service/recovery-services, size/XS

#2743 fix test image deprovisioning
  azurerm/resource_arm_image_test.go
Labels: bug, dependencies, service/images, size/XS

#2742 Add nil check before type conversion and deference.
  azurerm/resource_arm_subnet.go
Labels: crash, service/subnets, size/XS

#2745 r/application_gateway: reading `EnableHTTP2` from the props block
  azurerm/resource_arm_application_gateway.go
Labels: enhancement, service/application-gateway, size/XS

#2725 Redis vnet lock
  azurerm/resource_arm_redis_cache.go
Labels: enhancement, service/redis, size/XS

#2761 Fix the side bar issue for application rule in firewall.
  website/azurerm.erb
Labels: documentation, size/XS

#2759 Fix bugs in sample code
  website/docs/r/recovery_services_protection_policy_vm.markdown
Labels: documentation, service/recovery-services, size/XS

#2738 Cover all subnet properties during VNet update
  azurerm/resource_arm_subnet_test.go
  azurerm/resource_arm_virtual_network.go
Labels: bug, service/subnets, service/virtual-networks, size/M

#2774 Reverted ParallelTest for tests that shouldn't be Parallel
  azurerm/resource_arm_app_service_custom_hostname_binding_test.go
  azurerm/resource_arm_ddos_protection_plan_test.go
  azurerm/resource_arm_express_route_circuit_peering_test.go
  azurerm/resource_arm_express_route_circuit_test.go
  azurerm/resource_arm_monitor_log_profile_test.go
  azurerm/resource_arm_network_watcher_test.go
  azurerm/resource_arm_packet_capture_test.go
  azurerm/resource_arm_role_assignment_test.go
Labels: bug, size/M

#2775 Requiring Import (PR 8 of ...)
  azurerm/resource_arm_scheduler_job.go
  azurerm/resource_arm_scheduler_job_collection.go
  azurerm/resource_arm_scheduler_job_collection_test.go
  azurerm/resource_arm_scheduler_job_test.go
  azurerm/resource_arm_search_service.go
  azurerm/resource_arm_search_service_test.go
  azurerm/resource_arm_security_center_contact.go
  azurerm/resource_arm_security_center_contact_test.go
  azurerm/resource_arm_security_center_subscription_pricing.go
  azurerm/resource_arm_security_center_subscription_pricing_test.go
  azurerm/resource_arm_security_center_test.go
  azurerm/resource_arm_security_center_workspace.go
  azurerm/resource_arm_security_center_workspace_test.go
  azurerm/resource_arm_service_fabric_cluster.go
  azurerm/resource_arm_service_fabric_cluster_test.go
  azurerm/resource_arm_servicebus_namespace.go
  azurerm/resource_arm_servicebus_namespace_authorization_rule.go
  azurerm/resource_arm_servicebus_namespace_authorization_rule_test.go
  azurerm/resource_arm_servicebus_namespace_test.go
  azurerm/resource_arm_servicebus_queue.go
  azurerm/resource_arm_servicebus_queue_authorization_rule.go
  azurerm/resource_arm_servicebus_queue_authorization_rule_test.go
  azurerm/resource_arm_servicebus_queue_test.go
  azurerm/resource_arm_servicebus_subscription.go
  azurerm/resource_arm_servicebus_subscription_rule.go
  azurerm/resource_arm_servicebus_subscription_rule_test.go
  azurerm/resource_arm_servicebus_subscription_test.go
  azurerm/resource_arm_servicebus_topic.go
  azurerm/resource_arm_servicebus_topic_authorization_rule.go
  azurerm/resource_arm_servicebus_topic_authorization_rule_test.go
  azurerm/resource_arm_servicebus_topic_test.go
  azurerm/resource_arm_shared_image.go
  azurerm/resource_arm_shared_image_gallery.go
  azurerm/resource_arm_shared_image_gallery_test.go
  azurerm/resource_arm_shared_image_test.go
  azurerm/resource_arm_shared_image_version.go
  azurerm/resource_arm_shared_image_version_test.go
  azurerm/resource_arm_signalr_service.go
  azurerm/resource_arm_signalr_service_test.go
  azurerm/resource_arm_snapshot.go
  azurerm/resource_arm_snapshot_test.go
  azurerm/resource_arm_sql_administrator.go
  azurerm/resource_arm_sql_administrator_test.go
  azurerm/resource_arm_sql_database.go
  azurerm/resource_arm_sql_database_test.go
  azurerm/resource_arm_sql_elasticpool.go
  azurerm/resource_arm_sql_elasticpool_test.go
  azurerm/resource_arm_sql_firewall_rule.go
  azurerm/resource_arm_sql_firewall_rule_test.go
  azurerm/resource_arm_sql_server.go
  azurerm/resource_arm_sql_server_test.go
  azurerm/resource_arm_sql_virtual_network_rule.go
  azurerm/resource_arm_sql_virtual_network_rule_test.go
Labels: refactor, size/XXL, technical-debt

#2777 Requiring Import (PR 10 of ...)
  azurerm/resource_arm_batch_pool.go
  azurerm/resource_arm_batch_pool_test.go
  azurerm/resource_arm_template_deployment.go
  azurerm/resource_arm_template_deployment_test.go
  azurerm/resource_arm_traffic_manager_endpoint.go
  azurerm/resource_arm_traffic_manager_endpoint_test.go
  azurerm/resource_arm_traffic_manager_profile.go
  azurerm/resource_arm_traffic_manager_profile_test.go
  azurerm/resource_arm_user_assigned_identity.go
  azurerm/resource_arm_user_assigned_identity_test.go
Labels: refactor, size/XL, technical-debt

#2773 Requiring Import (PR 7 of ...)
  azurerm/feature_flags.go
  azurerm/resource_arm_network_watcher_test.go
  azurerm/resource_arm_packet_capture.go
  azurerm/resource_arm_packet_capture_test.go
  azurerm/resource_arm_policy_assignment.go
  azurerm/resource_arm_policy_assignment_test.go
  azurerm/resource_arm_policy_definition.go
  azurerm/resource_arm_policy_definition_test.go
  azurerm/resource_arm_policy_set_definition.go
  azurerm/resource_arm_policy_set_definition_test.go
  azurerm/resource_arm_postgresql_configuration.go
  azurerm/resource_arm_postgresql_configuration_test.go
  azurerm/resource_arm_postgresql_database.go
  azurerm/resource_arm_postgresql_database_test.go
  azurerm/resource_arm_postgresql_firewall_rule.go
  azurerm/resource_arm_postgresql_firewall_rule_test.go
  azurerm/resource_arm_postgresql_server.go
  azurerm/resource_arm_postgresql_server_test.go
  azurerm/resource_arm_postgresql_virtual_network_rule.go
  azurerm/resource_arm_postgresql_virtual_network_rule_test.go
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_public_ip_test.go
  azurerm/resource_arm_recovery_services_protected_vm.go
  azurerm/resource_arm_recovery_services_protected_vm_test.go
  azurerm/resource_arm_recovery_services_protection_policy_vm.go
  azurerm/resource_arm_recovery_services_protection_policy_vm_test.go
  azurerm/resource_arm_recovery_services_vault.go
  azurerm/resource_arm_recovery_services_vault_test.go
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_redis_cache_test.go
  azurerm/resource_arm_redis_firewall_rule.go
  azurerm/resource_arm_redis_firewall_rule_test.go
  azurerm/resource_arm_relay_namespace.go
  azurerm/resource_arm_relay_namespace_test.go
  azurerm/resource_arm_resource_group.go
  azurerm/resource_arm_resource_group_test.go
  azurerm/resource_arm_role_assignment.go
  azurerm/resource_arm_role_assignment_test.go
  azurerm/resource_arm_role_definition.go
  azurerm/resource_arm_role_definition_test.go
  azurerm/resource_arm_route.go
  azurerm/resource_arm_route_table.go
  azurerm/resource_arm_route_table_test.go
  azurerm/resource_arm_route_test.go
Labels: refactor, size/XXL, technical-debt

#2776 Requiring Import (PR 9 of ...)
  azurerm/resource_arm_mysql_configuration.go
  azurerm/resource_arm_mysql_configuration_test.go
  azurerm/resource_arm_mysql_database.go
  azurerm/resource_arm_mysql_database_test.go
  azurerm/resource_arm_mysql_firewall_rule.go
  azurerm/resource_arm_mysql_firewall_rule_test.go
  azurerm/resource_arm_mysql_server.go
  azurerm/resource_arm_mysql_server_test.go
  azurerm/resource_arm_mysql_virtual_network_rule.go
  azurerm/resource_arm_mysql_virtual_network_rule_test.go
  azurerm/resource_arm_notification_hub.go
  azurerm/resource_arm_notification_hub_authorization_rule.go
  azurerm/resource_arm_notification_hub_authorization_rule_test.go
  azurerm/resource_arm_notification_hub_namespace.go
  azurerm/resource_arm_notification_hub_namespace_test.go
  azurerm/resource_arm_notification_hub_test.go
Labels: refactor, size/XL, technical-debt

#2787 Add linting output to prevent timeouts in travis
  GNUmakefile
Labels: refactor, size/XS

#2747 [service_fabric] Don't pass the reverse proxy port if not set
  azurerm/resource_arm_service_fabric_cluster.go
  azurerm/resource_arm_service_fabric_cluster_test.go
Labels: bug, service/service-fabric, size/M

#2790 azurerm_key_vault: fix sku documentation casing
  website/docs/r/key_vault.html.markdown
Labels: documentation, service/keyvault, size/XS

#2789 New Resource: `azurerm_network_interface_application_security_group_association`
  azurerm/provider.go
  azurerm/resource_arm_network_interface.go
  azurerm/resource_arm_network_interface_application_security_group_association.go
  azurerm/resource_arm_network_interface_application_security_group_association_test.go
  website/azurerm.erb
  website/docs/r/network_interface.html.markdown
  website/docs/r/network_interface_application_gateway_backend_address_pool_association.html.markdown
  website/docs/r/network_interface_application_security_group_association.html.markdown
Labels: documentation, new-resource, service/application-security-groups, service/network-interfaces, size/XL

#2795 added documentation for ssl certificate in app gateway
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#2794 Fix servicebus sku check
  azurerm/resource_arm_servicebus_namespace.go
Labels: bug, service/servicebus, size/XS

#2783 Feature application gateway customerrors
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/L

#2797 azurerm_application_gateway: fix typo in test
  azurerm/resource_arm_application_gateway_test.go
Labels: bug, service/application-gateway, size/XS

#2765 azurerm_app_service: Allow to turn off/on "Incoming client certificates"
  azurerm/data_source_app_service.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
Labels: documentation, enhancement, service/app-service, size/M

#2772 Add validations for K8s resource fields
  azurerm/helpers/validate/kubernetes.go
  azurerm/helpers/validate/kubernetes_test.go
  azurerm/helpers/validate/network.go
  azurerm/helpers/validate/network_test.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
Labels: enhancement, service/kubernetes-cluster, size/XL, waiting-response

#2803 azurerm_mysql_server: Correcting values in documentation
  website/docs/r/mysql_server.html.markdown
Labels: documentation, service/mysql, size/XS

#2805 Add max_tasks_per_node setting to Batch Pool
  azurerm/data_source_batch_pool.go
  azurerm/data_source_batch_pool_test.go
  azurerm/resource_arm_batch_pool.go
  azurerm/resource_arm_batch_pool_test.go
  website/docs/d/batch_pool.html.markdown
  website/docs/r/batch_pool.html.markdown
Labels: documentation, enhancement, service/batch, size/XS

#2808 Requiring Imports: PR 11 of 12(?)
  azurerm/resource_arm_automation_schedule.go
  azurerm/resource_arm_automation_schedule_test.go
  azurerm/resource_arm_autoscale_setting.go
  azurerm/resource_arm_autoscale_setting_test.go
  azurerm/resource_arm_key_vault_access_policy_test.go
  azurerm/resource_arm_monitor_autoscale_setting.go
  azurerm/resource_arm_monitor_autoscale_setting_test.go
  azurerm/resource_arm_network_interface.go
  azurerm/resource_arm_network_interface_test.go
  azurerm/resource_arm_network_security_group.go
  azurerm/resource_arm_network_security_group_test.go
  azurerm/resource_arm_network_security_rule.go
  azurerm/resource_arm_network_security_rule_test.go
  azurerm/resource_arm_network_watcher.go
  azurerm/resource_arm_network_watcher_test.go
  azurerm/resource_arm_route_test.go
  azurerm/resource_arm_shared_image.go
  azurerm/resource_arm_shared_image_test.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_account_test.go
  azurerm/resource_arm_storage_blob.go
  azurerm/resource_arm_storage_blob_test.go
  azurerm/resource_arm_storage_container.go
  azurerm/resource_arm_storage_container_test.go
Labels: enhancement, size/XL

#2810 Add missing certificate permissions in key vault docs.
  website/docs/r/key_vault.html.markdown
  website/docs/r/key_vault_access_policy.html.markdown
Labels: documentation, service/keyvault, size/XS
