Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2019-02, with the labels that each got.

#2767 Adds support to specify linux_fx_version for Function Apps
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_function_app_test.go
  website/docs/r/function_app.html.markdown
Labels: documentation, enhancement, service/functions, size/L

#2788 add built-in policies for both subscriptions and management-groups
  azurerm/data_source_policy_definition.go
  azurerm/data_source_policy_definition_test.go
  azurerm/provider.go
  azurerm/resource_arm_policy_definition.go
  website/azurerm.erb
  website/docs/d/policy_definition.markdown
Labels: documentation, enhancement, new-data-source, service/policy, size/XL

#2695 Refactor: mssql_elasticpool max_size_bytes to max_size_gb
  azurerm/helpers/azure/elasticpool.go
  azurerm/resource_arm_mssql_elasticpool.go
  azurerm/resource_arm_mssql_elasticpool_test.go
  website/docs/r/mssql_elasticpool.html.markdown
Labels: documentation, refactor, service/mssql, size/XL

#2845 fix build: update google go get cookie & switch to golangci for linting
  .golangci.yml
  .gometalinter.json
  GNUmakefile
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_dns_a_record.go
  azurerm/resource_arm_dns_aaaa_record.go
  azurerm/resource_arm_dns_caa_record.go
  azurerm/resource_arm_dns_cname_record.go
  azurerm/resource_arm_dns_mx_record.go
  azurerm/resource_arm_dns_ns_record.go
  azurerm/resource_arm_dns_ptr_record.go
  azurerm/resource_arm_dns_srv_record.go
  azurerm/resource_arm_dns_txt_record.go
  azurerm/resource_arm_sql_database_test.go
  azurerm/resource_arm_virtual_machine_unmanaged_disks_test.go
  scripts/gogetcookie.sh
Labels: bug, size/L

#2838 Update data_lake_store.html.markdown
  website/docs/r/data_lake_store.html.markdown
Labels: documentation, size/XS

#2842 Use the correct argument name for the AAD Client ID of the Client Application.
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, size/XS

#2815 re-opening #2806 (adjust autoscale limit validation)
  azurerm/resource_arm_autoscale_setting.go
  azurerm/resource_arm_autoscale_setting_test.go
  azurerm/resource_arm_monitor_autoscale_setting.go
  azurerm/resource_arm_monitor_autoscale_setting_test.go
  examples/vmss-ubuntu/main.tf
  website/docs/r/autoscale_setting.html.markdown
  website/docs/r/monitor_autoscale_setting.html.markdown
Labels: documentation, enhancement, service/monitor, size/XL

#2846 fix TestAccAzureRMSnapshot_fromManagedDisk
  azurerm/resource_arm_snapshot_test.go
Labels: bug, service/snapshot, size/XS

#2841 New Data Source: `azurerm_servicebus_namespace`
  azurerm/data_source_servicebus_namespace.go
  azurerm/data_source_servicebus_namespace_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/servicebus_namespace.html.markdown
Labels: documentation, enhancement, service/servicebus, size/L

#2816 Documentation: adding the initial 2.0 guide
  website/azurerm.erb
  website/docs/auth/azure_cli.html.markdown
  website/docs/auth/managed_service_identity.html.markdown
  website/docs/auth/service_principal_client_certificate.html.markdown
  website/docs/auth/service_principal_client_secret.html.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: documentation, size/XL

#2847 r/log_analytics_linked_service: fixing bugs
  azurerm/resource_arm_log_analytics_linked_service.go
  azurerm/resource_arm_log_analytics_workspace_linked_service.go
  azurerm/resource_arm_log_analytics_workspace_linked_service_test.go
  website/docs/r/log_analytics_linked_service.html.markdown
  website/docs/r/log_analytics_workspace_linked_service.html.markdown
Labels: bug, documentation, service/log-analytics, size/M

#2820 Switch Key Vault sub resources to use Key Vault ID instead of URL
  azurerm/data_source_key_vault_key.go
  azurerm/data_source_key_vault_key_test.go
  azurerm/data_source_key_vault_secret.go
  azurerm/data_source_key_vault_secret_test.go
  azurerm/helpers/azure/key_vault.go
  azurerm/helpers/azure/key_vault_access_policy.go
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_access_policy.go
  azurerm/resource_arm_key_vault_access_policy_test.go
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_certificate_test.go
  azurerm/resource_arm_key_vault_key.go
  azurerm/resource_arm_key_vault_key_test.go
  azurerm/resource_arm_key_vault_secret.go
  azurerm/resource_arm_key_vault_secret_test.go
  azurerm/resource_arm_sql_administrator.go
  azurerm/resource_arm_sql_database.go
  website/docs/d/key_vault_key.html.markdown
  website/docs/d/key_vault_secret.html.markdown
  website/docs/r/key_vault_certificate.html.markdown
  website/docs/r/key_vault_key.html.markdown
  website/docs/r/key_vault_secret.html.markdown
Labels: bug, documentation, service/keyvault, size/XL

#2852 azurerm_service_fabric_cluster: small fix to docs
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, service/service-fabric, size/XS

#2853 azurerm_autoscale_setting: fix tests
  azurerm/resource_arm_autoscale_setting_test.go
Labels: bug, service/vmss, size/XS

#2861 fixing the docs / bumping the version to v1.22
  website/docs/auth/azure_cli.html.markdown
  website/docs/auth/managed_service_identity.html.markdown
  website/docs/auth/service_principal_client_certificate.html.markdown
  website/docs/auth/service_principal_client_secret.html.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/guides/migrating-between-renamed-resources.html.markdown
  website/docs/guides/migrating-to-azuread.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/XS

#2863 azurerm_function_app (website): Add line between linux_fx_version and separator
  website/docs/r/function_app.html.markdown
Labels: documentation, size/XS

#2871 fix spurious markdown in data source azurerm_policy_definition
  website/docs/d/policy_definition.markdown
Labels: documentation, service/policy, size/XS

#2873 Correctly List Storage Containers
  azurerm/resource_arm_storage_container.go
Labels: bug, service/storage, size/XS

#2874 azurerm_key_vault_*: fall back to vault_uri for resources created prior to 1.22
  azurerm/data_source_key_vault_key.go
  azurerm/data_source_key_vault_secret.go
  azurerm/helpers/azure/key_vault.go
  azurerm/resource_arm_key_vault_access_policy.go
  azurerm/resource_arm_key_vault_access_policy_test.go
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_key_vault_certificate_test.go
  azurerm/resource_arm_key_vault_key.go
  azurerm/resource_arm_key_vault_key_test.go
  azurerm/resource_arm_key_vault_secret.go
  azurerm/resource_arm_key_vault_secret_test.go
Labels: bug, regression, service/keyvault, size/XL

#2875 Update README.md
  README.md
Labels: size/XS

#2885 r/key_vault_access_policy: fixing a test failure
  azurerm/resource_arm_key_vault_access_policy_test.go
Labels: bug, service/keyvault, size/XS

#2802 Corrected optional network_profile inputs
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#2891 azurerm_key_vault_key_*: key vault ID from URL lookup bug
  azurerm/helpers/azure/key_vault.go
Labels: bug, service/keyvault, size/XS

#2850 add availability set data source
  azurerm/data_source_availability_set.go
  azurerm/data_source_availability_set_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/availability_set.html.markdown
Labels: documentation, new-data-source, service/availability, size/L

#2886 dependencies: upgrading the Azure SDK
  azurerm/resource_arm_storage_account.go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/profiles/2017-03-09/resources/mgmt/resources/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2017-04-18/cognitiveservices/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2018-06-01/compute/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/managedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2018-03-31/containerservice/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/eventhub/mgmt/2017-04-01/eventhub/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-08-01/network/expressrouteportslocations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-08-01/network/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-08-01/network/profiles.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-08-01/network/publicipprefixes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2018-08-01/network/vpnsites.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/apimanagement/mgmt/2018-06-01-preview/apimanagement/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/settings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/2017-08-01-preview/security/workspacesettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2015-05-01-preview/sql/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2017-10-01-preview/sql/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2017-10-01-preview/sql/recoverablemanageddatabases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2017-07-01/backup/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2017-07-01/backup/protectablecontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/recoveryservices/mgmt/2017-07-01/backup/resourcestorageconfigs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicebus/mgmt/2017-04-01/servicebus/disasterrecoveryconfigs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicebus/mgmt/2017-04-01/servicebus/migrationconfigs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicebus/mgmt/2017-04-01/servicebus/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicebus/mgmt/2017-04-01/servicebus/namespaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicebus/mgmt/2017-04-01/servicebus/queues.go
  vendor/github.com/Azure/azure-sdk-for-go/services/servicebus/mgmt/2017-04-01/servicebus/topics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2017-10-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/apps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2018-02-01/web/models.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/github.com/Azure/go-autorest/autorest/adal/token.go
  vendor/github.com/Azure/go-autorest/autorest/adal/version.go
  vendor/github.com/Azure/go-autorest/autorest/version.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#2879 azurerm_application_gateway: Adding override backend path support
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/M

#2887 Add maxfragmentationmemory_reserved option to azurerm_redis_cache
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_redis_cache_test.go
  website/docs/r/redis_cache.html.markdown
Labels: documentation, enhancement, service/redis, size/S

#2856 Mark maxTasksPerNode as forcenew
  azurerm/resource_arm_batch_pool.go
  website/docs/r/batch_pool.html.markdown
Labels: bug, documentation, service/batch, size/XS

#2906 Update redux firewall rule name to allow underscores - resolves #2903
  azurerm/resource_arm_redis_firewall_rule.go
  azurerm/resource_arm_redis_firewall_rule_test.go
Labels: enhancement, service/redis, size/XS

#2902 Update App Service resource doc
  website/docs/r/app_service.html.markdown
Labels: documentation, service/app-service, size/XS

#2884 New Resource: `event_grid_domain`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_eventgrid_domain.go
  azurerm/resource_arm_eventgrid_domain_test.go
  azurerm/resource_arm_eventgrid_topic.go
  vendor/github.com/Azure/azure-sdk-for-go/profiles/preview/preview/eventgrid/mgmt/eventgrid/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/eventgrid/mgmt/2018-01-01/eventgrid/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2018-09-15-preview/eventgrid/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2018-09-15-preview/eventgrid/domains.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2018-09-15-preview/eventgrid/domaintopics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2018-09-15-preview/eventgrid/eventsubscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2018-09-15-preview/eventgrid/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2018-09-15-preview/eventgrid/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2018-09-15-preview/eventgrid/topics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2018-09-15-preview/eventgrid/topictypes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2018-09-15-preview/eventgrid/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/eventgrid_domain.html.markdown
Labels: dependencies, documentation, new-resource, size/XXL

#2911 redis_firewall_rule: simplify regex in firewall rule name
  azurerm/resource_arm_redis_firewall_rule.go
Labels: refactor, service/redis, size/XS

#2791 Add Connection Monitor resource and Network Watcher data source
  azurerm/config.go
  azurerm/data_source_network_watcher.go
  azurerm/data_source_network_watcher_test.go
  azurerm/provider.go
  azurerm/resource_arm_connection_monitor.go
  azurerm/resource_arm_connection_monitor_test.go
  azurerm/resource_arm_network_watcher_test.go
  website/azurerm.erb
  website/docs/d/network_watcher.html.markdown
  website/docs/r/connection_monitor.html.markdown
Labels: documentation, new-data-source, new-resource, service/network-watcher, size/XXL

#2914 management_group: adding example to docs using all arguments
  website/docs/r/management_group.html.markdown
Labels: documentation, service/authentication, size/XS

#2922 Fix handling of creating an Access Policy for a non-existent Key Vault
  azurerm/resource_arm_key_vault_access_policy.go
  azurerm/resource_arm_key_vault_access_policy_test.go
Labels: bug, service/keyvault, size/M

#2912 Feature: Loadbalancer Outbound Rule
  azurerm/loadbalancer.go
  azurerm/provider.go
  azurerm/resource_arm_loadbalancer.go
  azurerm/resource_arm_loadbalancer_outbound_rule.go
  azurerm/resource_arm_loadbalancer_outbound_rule_test.go
  website/docs/r/loadbalancer_outbound_rule.html.markdown
Labels: documentation, enhancement, service/load-balancers, size/XL, waiting-response

#2764 Add option in IoTHub to Enable Fallback Route
  azurerm/config.go
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_iothub_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2018-12-01-preview/devices/certificates.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2018-12-01-preview/devices/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2018-12-01-preview/devices/iothubresource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2018-12-01-preview/devices/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2018-12-01-preview/devices/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2018-12-01-preview/devices/resourceprovidercommon.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2018-12-01-preview/devices/version.go
  vendor/modules.txt
  website/docs/r/iothub.html.markdown
Labels: dependencies, documentation, enhancement, service/iothub, size/XXL

#2936 add service fabric cluster placement properties and capacities
  azurerm/resource_arm_service_fabric_cluster.go
  azurerm/resource_arm_service_fabric_cluster_test.go
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, enhancement, service/service-fabric, size/L

#2711 New Resource: `azurerm_media_service_account`
  azurerm/config.go
  azurerm/provider.go
  azurerm/required_resource_providers.go
  azurerm/resource_arm_dns_srv_record_test.go
  azurerm/resource_arm_media_services_account.go
  azurerm/resource_arm_media_services_account_test.go
  examples/media-services/multiple_storage_accounts/main.tf
  examples/media-services/new_primary_storage/main.tf
  vendor/github.com/Azure/azure-sdk-for-go/profiles/preview/preview/eventgrid/mgmt/eventgrid/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2018-04-01/devices/certificates.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2018-04-01/devices/iothubresource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2018-04-01/devices/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2018-04-01/devices/resourceprovidercommon.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/accountfilters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/assetfilters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/assets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/contentkeypolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/jobs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/liveevents.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/liveoutputs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/locations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/mediaservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/streamingendpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/streaminglocators.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/streamingpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/transforms.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mediaservices/mgmt/2018-07-01/media/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/media_services_account.html.markdown
Labels: dependencies, documentation, services/media, size/XXL

#2939 r/policy_definition: allowing the `metadata` field to be Computed
  azurerm/resource_arm_policy_definition.go
  azurerm/resource_arm_policy_definition_test.go
Labels: bug, service/policy, size/M

#2941 Update migrating-between-renamed-resources.html.markdown
  website/docs/guides/migrating-between-renamed-resources.html.markdown
Labels: documentation, size/XS

#2944 Update connection_string validation count from 1 to 4
  azurerm/resource_arm_cosmos_db_account_test.go
Labels: bug, service/cosmos-db, size/XS

#2913 app_service: adding docker compose example to docs
  examples/app-service/README.md
  examples/app-service/app.tf
  examples/app-service/docker-basic/README.md
  examples/app-service/docker-basic/main.tf
  examples/app-service/docker-basic/outputs.tf
  examples/app-service/docker-basic/variables.tf
  examples/app-service/docker-compose/README.md
  examples/app-service/docker-compose/docker-compose.yml
  examples/app-service/docker-compose/main.tf
  examples/app-service/docker-compose/outputs.tf
  examples/app-service/docker-compose/variables.tf
  examples/app-service/docker-kubernetes/README.md
  examples/app-service/docker-kubernetes/kubernetes.yml
  examples/app-service/docker-kubernetes/main.tf
  examples/app-service/docker-kubernetes/outputs.tf
  examples/app-service/docker-kubernetes/variables.tf
  examples/app-service/linux-basic/README.md
  examples/app-service/linux-basic/main.tf
  examples/app-service/linux-basic/outputs.tf
  examples/app-service/linux-basic/variables.tf
  examples/app-service/variables.tf
  examples/app-service/windows-basic/README.md
  examples/app-service/windows-basic/main.tf
  examples/app-service/windows-basic/outputs.tf
  examples/app-service/windows-basic/variables.tf
  examples/app-service/windows-java/README.md
  examples/app-service/windows-java/main.tf
  examples/app-service/windows-java/outputs.tf
  examples/app-service/windows-java/variables.tf
  website/docs/r/app_service.html.markdown
Labels: documentation, service/app-service, size/XL

#2955 r/shared_image_gallery: documenting the `unique_name` field
  website/docs/r/shared_image_gallery.html.markdown
Labels: documentation, service/images, size/XS

#2953 New Resource/Data Source: `azurerm_api_management_product`
  azurerm/config.go
  azurerm/data_source_api_management.go
  azurerm/data_source_api_management_product.go
  azurerm/data_source_api_management_product_test.go
  azurerm/helpers/azure/api_management.go
  azurerm/helpers/validate/api_management.go
  azurerm/provider.go
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_api_management_product.go
  azurerm/resource_arm_api_management_product_test.go
  website/azurerm.erb
  website/docs/d/api_management.html.markdown
  website/docs/d/api_management_product.html.markdown
  website/docs/r/api_management_product.html.markdown
Labels: documentation, new-data-source, new-resource, service/api-management, size/XL

#2960 azurerm_api_management_product: 2018-06-01-preview -> 2018-01-01
  azurerm/data_source_api_management_product.go
  azurerm/resource_arm_api_management_product.go
Labels: service/api-management, size/XS

#2963 Adding HTTP2 to optional arguments in docs
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS

#2809 New Resource: azurerm_api_management_group
  azurerm/config.go
  azurerm/data_source_api_management_group.go
  azurerm/data_source_api_management_group_test.go
  azurerm/data_source_api_management_product.go
  azurerm/helpers/azure/api_management.go
  azurerm/helpers/validate/api_management.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_group.go
  azurerm/resource_arm_api_management_group_test.go
  azurerm/resource_arm_api_management_product.go
  website/azurerm.erb
  website/docs/d/api_management_group.html.markdown
  website/docs/r/api_management_group.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#2954 New Resource/Data Source: `azurerm_api_management_user`
  azurerm/config.go
  azurerm/data_source_api_management_user.go
  azurerm/data_source_api_management_user_test.go
  azurerm/helpers/azure/api_management.go
  azurerm/helpers/validate/api_management.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_user.go
  azurerm/resource_arm_api_management_user_test.go
  website/azurerm.erb
  website/docs/d/api_management_user.html.markdown
  website/docs/r/api_management_user.html.markdown
Labels: documentation, new-data-source, new-resource, service/api-management, size/XL

#2971 Refactor: acceptance test tf maps to ='s syntax
  azurerm/data_source_batch_pool_test.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  azurerm/resource_arm_batch_pool_test.go
  azurerm/resource_arm_container_group_test.go
  azurerm/resource_arm_function_app_test.go
  azurerm/resource_arm_logic_app_action_http_test.go
  azurerm/resource_arm_monitor_activity_log_alert_test.go
  azurerm/resource_arm_service_fabric_cluster_test.go
  azurerm/resource_arm_servicebus_subscription_rule_test.go
  examples/app-service/docker-basic/main.tf
  examples/app-service/docker-compose/main.tf
  examples/app-service/docker-kubernetes/main.tf
  examples/batch/main.tf
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
  website/docs/r/batch_pool.html.markdown
  website/docs/r/container_group.html.markdown
  website/docs/r/monitor_activity_log_alert.html.markdown
  website/docs/r/servicebus_subscription_rule.html.markdown
Labels: documentation, refactor, size/M

#2792 Add host attribute for endpoints of blob, table, queue, and file.
  azurerm/data_source_storage_account.go
  azurerm/resource_arm_storage_account.go
  website/docs/d/storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XL

#2778 azurerm_application_gateway: add connection draining
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/L

#2973 App Service: adding an example of a Node.JS app
  examples/app-service/linux-nodejs/README.md
  examples/app-service/linux-nodejs/main.tf
  examples/app-service/linux-nodejs/outputs.tf
  examples/app-service/linux-nodejs/variables.tf
Labels: documentation, service/app-service, size/S

#2974 New Data Source: `azurerm_recovery_services_protection_policy_vm`
  azurerm/data_source_recovery_services_protection_policy_vm.go
  azurerm/data_source_recovery_services_protection_policy_vm_test.go
  azurerm/provider.go
  website/docs/d/recovery_services_protection_policy_vm.markdown
Labels: documentation, new-data-source, service/recovery-services, size/L

#2975 various acc test fixes
  azurerm/data_source_api_management_user_test.go
  azurerm/data_source_policy_definition_test.go
  azurerm/resource_arm_application_gateway_test.go
  azurerm/resource_arm_eventhub_namespace_test.go
  azurerm/resource_arm_log_analytics_workspace_linked_service_test.go
  azurerm/resource_arm_service_fabric_cluster_test.go
Labels: bug, size/XS

#2972 New Resource: `azurerm_api_management_group_user`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_group.go
  azurerm/resource_arm_api_management_group_test.go
  azurerm/resource_arm_api_management_group_user.go
  azurerm/resource_arm_api_management_group_user_test.go
  website/azurerm.erb
  website/docs/d/api_management_group.html.markdown
  website/docs/d/api_management_product.html.markdown
  website/docs/d/api_management_user.html.markdown
  website/docs/r/api_management_group.html.markdown
  website/docs/r/api_management_group_user.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#2967 New Resource: `azurerm_eventgrid_event_subscription`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_eventgrid_event_subscription.go
  azurerm/resource_arm_eventgrid_event_subscription_test.go
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, enhancement, service/event-grid, size/XXL, waiting-response
