Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2019-03, with the labels that each got.

#2980 remove seemingly pointless function testAzureRMClientConfigAttr
  azurerm/data_source_builtin_role_definition_test.go
  azurerm/data_source_client_config_test.go
  azurerm/data_source_policy_definition_test.go
  azurerm/data_source_role_definition_test.go
Labels: refactor, service/authentication, size/S

#2981 further fixes to test tf configs
  azurerm/resource_arm_availability_set.go
  azurerm/resource_arm_log_analytics_workspace_linked_service_test.go
  azurerm/resource_arm_monitor_metric_alert_test.go
  azurerm/resource_arm_redis_cache_test.go
  azurerm/resource_arm_template_deployment_test.go
Labels: refactor, size/S, technical-debt

#2866 Support more than 16 access policies
  CHANGELOG.md
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_test.go
  website/docs/r/key_vault_access_policy.html.markdown
Labels: documentation, enhancement, service/keyvault, size/M

#2984 New Resource: `azurerm_api_management_product_group`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_product_group.go
  azurerm/resource_arm_api_management_product_group_test.go
  website/azurerm.erb
  website/docs/r/api_management_group_user.html.markdown
  website/docs/r/api_management_product.html.markdown
  website/docs/r/api_management_product_group.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#2986 New resource: `azurerm_api_management_property`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_property.go
  azurerm/resource_arm_api_management_property_test.go
  website/azurerm.erb
  website/docs/r/api_management_property.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#2998 Adds missing links to docs
  website/azurerm.erb
Labels: documentation, size/XS

#2997 Correct the changelog entry for #2791
  CHANGELOG.md
Labels: size/XS

#3000 more .12 schema fixes: tags { -> tags = {
  azurerm/resource_arm_eventgrid_event_subscription_test.go
  azurerm/resource_arm_key_vault_test.go
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, size/XS

#3005 switch MySQL/postgresql tests from basic gen4 to GP gen5 hardware
  azurerm/resource_arm_mssql_elasticpool_test.go
  azurerm/resource_arm_mysql_configuration_test.go
  azurerm/resource_arm_mysql_database_test.go
  azurerm/resource_arm_mysql_firewall_rule_test.go
  azurerm/resource_arm_mysql_server_test.go
  azurerm/resource_arm_postgresql_configuration_test.go
  azurerm/resource_arm_postgresql_database_test.go
  azurerm/resource_arm_postgresql_firewall_rule_test.go
  azurerm/resource_arm_postgresql_server_test.go
Labels: service/mysql, service/postgresql, size/M

#3007 Fixes to IoTHub diff algorithm - part1
  azurerm/resource_arm_iothub.go
Labels: enhancement, service/iothub, size/XS

#3016 Fixing HCL so the example runs successfully
  website/docs/r/virtual_machine_data_disk_attachment.html.markdown
Labels: documentation, service/disk-attachments, size/XS

#2763 Add Log Analytics support for ACI
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/container-instance, size/L

#2920 Allow 0 capacity for servicebus
  azurerm/resource_arm_servicebus_namespace.go
  azurerm/resource_arm_servicebus_namespace_test.go
  website/docs/r/servicebus_namespace.html.markdown
Labels: documentation, service/servicebus, size/M

#3012 Adding a default value to upload_file_size_limit
  azurerm/resource_arm_application_gateway.go
Labels: bug, service/application-gateway, size/XS

#3024 use argument for the resource in the example
  website/docs/r/firewall_application_rule_collection.html.markdown
Labels: documentation, service/firewall, size/XS

#3045 website: Update link (and syntax) for file function
  website/docs/r/template_deployment.html.markdown
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, size/XS

#3038 azurrm_virtual_network_gateway: fix panic if bgp_settings is set with 0 elements
  azurerm/resource_arm_virtual_network_gateway.go
Labels: bug, service/virtual-network-gateway, size/XS

#3040 azurerm_data_lake_analytics_firewall_rule: fix acc tests
  azurerm/resource_arm_data_lake_analytics_firewall_rule_test.go
Labels: bug, service/data-lake, size/XS

#3043 Function app - add possible_outbound_ip_addresses
  azurerm/resource_arm_function_app.go
  azurerm/resource_arm_function_app_test.go
  website/docs/r/function_app.html.markdown
Labels: documentation, enhancement, service/functions, size/XS

#3047 r/monitor_metric_alert: support for setting `aggregation` to `count`
  azurerm/resource_arm_monitor_metric_alert.go
  website/docs/r/monitor_metric_alert.html.markdown
Labels: documentation, enhancement, service/monitor, size/XS

#3049 increase max capacity for eventhub namespaces to 100
  azurerm/resource_arm_eventhub_namespace.go
  azurerm/resource_arm_eventhub_namespace_test.go
Labels: bug, service/event-hubs, size/XS

#3019 Add additional app service scm types
  azurerm/helpers/azure/app_service.go
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, enhancement, service/app-service, size/S

#3050 Add deprecation warning about Classic SKU
  azurerm/resource_arm_container_registry_test.go
  website/docs/r/container_registry.html.markdown
Labels: documentation, service/container-instance, size/M

#3048 r/app_service: support for migrating between App Service Plans
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_test.go
  website/docs/r/app_service.html.markdown
Labels: documentation, enhancement, service/app-service, size/M

#3010 New Resource: `azurerm_api_management_api`
  azurerm/config.go
  azurerm/data_source_api_management_api.go
  azurerm/data_source_api_management_api_test.go
  azurerm/helpers/validate/api_management.go
  azurerm/helpers/validate/api_management_test.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_api.go
  azurerm/resource_arm_api_management_api_test.go
  azurerm/testdata/api_management_api_swagger.json
  azurerm/testdata/api_management_api_wsdl.xml
  website/azurerm.erb
  website/docs/d/api_management_api.html.markdown
  website/docs/r/api_management_api.html.markdown
Labels: documentation, new-data-source, new-resource, service/api-management, size/XXL

#3062 Update validation of managed disks to support up to 32TB
  azurerm/resource_arm_managed_disk.go
Labels: enhancement, service/disks, service/virtual-machine, service/vmss, size/XS

#3053 Add GPU support for Linux Azure Container Instances
  azurerm/resource_arm_container_group.go
  azurerm/resource_arm_container_group_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/container-instance, size/M

#3064 certificate contents and password as sensitive
  azurerm/resource_arm_key_vault_certificate.go
Labels: enhancement, service/keyvault, size/XS

#3065 Fixing errors caught by the updated linter
  azurerm/data_source_notification_hub.go
  azurerm/encryption_settings.go
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_key_vault_certificate.go
  azurerm/resource_arm_monitor_log_profile.go
  azurerm/resource_arm_notification_hub.go
  azurerm/resource_arm_role_assignment.go
  azurerm/resource_arm_sql_database.go
  azurerm/resource_arm_virtual_machine.go
Labels: enhancement, size/S

#3032 add is_hns_enabled to storage account for data lake storage gen2
  azurerm/config.go
  azurerm/data_source_storage_account.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_account_migration.go
  azurerm/resource_arm_storage_account_test.go
  go.mod
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2018-02-01/storage/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2018-02-01/storage/blobcontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2018-02-01/storage/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2018-02-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2018-02-01/storage/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2018-02-01/storage/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2018-02-01/storage/usage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2018-02-01/storage/version.go
  vendor/modules.txt
  website/docs/d/storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: dependencies, documentation, enhancement, service/storage, size/XXL

#3076 Update eventgrid_event_subscription.html.markdown
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, service/event-grid, size/XS

#3087 Add missing EOL
  website/docs/r/subnet.html.markdown
Labels: documentation, size/XS

#3089 azurerm_route_table: add route = [] back
  azurerm/resource_arm_route_table_test.go
Labels: service/route-tables, size/XS

#3095 [AGW] http2_enabled -> enable_http2
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS

#3094 [AKS] fix documentation
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#3090 Add d.IsNewResource() to require imports where missing
  azurerm/logic_apps.go
  azurerm/resource_arm_policy_assignment.go
  azurerm/resource_arm_policy_definition.go
  azurerm/resource_arm_policy_set_definition.go
  azurerm/resource_arm_postgresql_virtual_network_rule.go
  azurerm/resource_arm_public_ip.go
  azurerm/resource_arm_recovery_services_protected_vm.go
  azurerm/resource_arm_recovery_services_protection_policy_vm.go
  azurerm/resource_arm_recovery_services_vault.go
  azurerm/resource_arm_redis_firewall_rule.go
  azurerm/resource_arm_relay_namespace.go
  azurerm/resource_arm_resource_group.go
  azurerm/resource_arm_role_definition.go
  azurerm/resource_arm_route.go
  azurerm/resource_arm_route_table.go
Labels: bug, size/XS

#3093 [Application Gateway] Add WAF properties for request body checking
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/S

#3085 Application Gateway: fixing the permanent AGW tf update problem (fqdns)
  azurerm/resource_arm_application_gateway.go
Labels: bug, regression, service/application-gateway, size/XS

#2987 AKS : Advanced Networking / Calico Network Policy
  azurerm/data_source_kubernetes_cluster.go
  azurerm/data_source_kubernetes_cluster_test.go
  azurerm/resource_arm_kubernetes_cluster.go
  azurerm/resource_arm_kubernetes_cluster_test.go
  examples/kubernetes/advanced-networking-calico-policy/main.tf
  examples/kubernetes/advanced-networking-calico-policy/outputs.tf
  examples/kubernetes/advanced-networking-calico-policy/variables.tf
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/XL

#3074 Eventhub property skip empty archives
  azurerm/resource_arm_eventhub.go
  azurerm/resource_arm_eventhub_test.go
  website/docs/r/eventhub.html.markdown
Labels: documentation, enhancement, service/event-hubs, size/XS

#2951 Fixes to IoTHub diff algorithm
  azurerm/resource_arm_iothub.go
  azurerm/resource_arm_iothub_test.go
Labels: enhancement, service/iothub, size/M

#3096 azurerm_eventhub_namespace: fix update TestAccAzureRMEventHubNamespace_KafkaEnabled test to use standard SKU
  azurerm/resource_arm_eventhub_namespace_test.go
Labels: bug, service/event-hubs, size/XS

#2994 New Resource: `azurerm_api_management_logger`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_logger.go
  azurerm/resource_arm_api_management_logger_test.go
  website/azurerm.erb
  website/docs/r/api_management_logger.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#2990 azurerm_application_gateway: Support for Hostname
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/M

#2908 `azurerm_application_gateway` - support for redirect rules
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/XL, waiting-response

#3099 [AKS] fix documentation for linux_profile ssh keys
  azurerm/resource_arm_kubernetes_cluster.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#3107 [azurerm_shared_image] identity -> identifier
  website/docs/d/shared_image.html.markdown
  website/docs/r/shared_image.html.markdown
Labels: documentation, service/images, size/XS

#3103 New Resource: `azurerm_api_management_subscription`
  azurerm/config.go
  azurerm/helpers/azure/api_management.go
  azurerm/helpers/azure/resourceid_test.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_subscription.go
  azurerm/resource_arm_api_management_subscription_test.go
  website/docs/r/api_management_subscription.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#3108 azurerm_recovery_serivces_protection_policy_vm: fixed ID error
  azurerm/data_source_recovery_services_protection_policy_vm.go
Labels: bug, service/recovery-services, size/XS

#3121 New Resource: `azurerm_api_management_api_operation`
  azurerm/config.go
  azurerm/helpers/azure/api_management.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_api_operation.go
  azurerm/resource_arm_api_management_api_operation_test.go
  website/azurerm.erb
  website/docs/r/api_management_api_operation.html.markdown
Labels: documentation, new-resource, service/api-management, size/XXL

#3128 Update container_registry.html.markdown
  website/docs/r/container_registry.html.markdown
Labels: documentation, service/container-registry, size/XS

#3102 Fix confusing documentation
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#3081 Keyvault storage permissions
  azurerm/data_source_key_vault.go
  azurerm/helpers/azure/key_vault_access_policy.go
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_certificate_test.go
  azurerm/resource_arm_key_vault_migration_test.go
  website/docs/d/key_vault.html.markdown
  website/docs/r/key_vault.html.markdown
Labels: documentation, enhancement, service/keyvault, size/M

#3111 [Redis] Add min tls redis
  azurerm/resource_arm_redis_cache.go
  azurerm/resource_arm_redis_cache_test.go
  website/docs/r/redis_cache.html.markdown
Labels: documentation, enhancement, service/redis, size/XS

#3104 add zone_redundant as editable flag for mssql_elasticpool
  azurerm/resource_arm_mssql_elasticpool.go
  azurerm/resource_arm_mssql_elasticpool_test.go
  website/docs/r/mssql_elasticpool.html.markdown
Labels: documentation, enhancement, service/mssql, size/S

#3100 [Image] zone resilient property addition
  azurerm/data_source_image.go
  azurerm/resource_arm_image.go
  azurerm/resource_arm_image_test.go
  azurerm/resource_arm_shared_image_version_test.go
  azurerm/resource_arm_virtual_machine_scale_set_test.go
  website/docs/d/image.html.markdown
  website/docs/r/image.html.markdown
Labels: documentation, enhancement, service/images, size/M

#3143 New Resource: `azurerm_api_management_openid_connect_provider`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_logger.go
  azurerm/resource_arm_api_management_logger_test.go
  azurerm/resource_arm_api_management_openid_connect_provider.go
  azurerm/resource_arm_api_management_openid_connect_provider_test.go
  website/azurerm.erb
  website/docs/r/api_management_openid_connect_provider.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#3141 New Resource: `azurerm_api_management_certificate`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_certificate.go
  azurerm/resource_arm_api_management_certificate_test.go
  website/azurerm.erb
  website/docs/r/api_management_certificate.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#3123 New Resource: `azurerm_api_management_authorization_server`
  azurerm/config.go
  azurerm/provider.go
  azurerm/resource_arm_api_management_authorization_server.go
  azurerm/resource_arm_api_management_authorization_server_test.go
  website/azurerm.erb
  website/docs/r/api_management_api_operation.html.markdown
  website/docs/r/api_management_authorization_server.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#3144 `azurerm_application_gateway` - support for `zones`
  azurerm/resource_arm_application_gateway.go
  azurerm/resource_arm_application_gateway_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/M

#3110 [Storage Account] dfs, web endpoints, file secondary endpoint
  azurerm/data_source_storage_account.go
  azurerm/resource_arm_storage_account.go
  website/docs/d/storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/L

#2870 azurerm_app_service: Adds support for CORS settings
  azurerm/data_source_app_service.go
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service_slot_test.go
  azurerm/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: dependencies, documentation, enhancement, service/app-service, size/XL
