Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2019-06, with the labels that each got.

#3539 azurerm_api_management.security.disable_triple_des_chipers has incorrect spelling
  azurerm/resource_arm_api_management.go
  azurerm/resource_arm_api_management_test.go
  website/docs/r/api_management.html.markdown
Labels: breaking-change, bug, documentation, service/application-gateway, size/S

#3579 Update virtual_machine_scale_set.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#3582 Update resource_arm_cosmosdb_account.go
  azurerm/resource_arm_cosmosdb_account.go
Labels: bug, service/cosmosdb, size/XS

#3601 azurerm_role_assignment: update docs to include groups and ObjectID language
  website/docs/r/role_assignment.html.markdown
Labels: documentation, service/roles, size/XS

#3589 docs/virtual_machine: StorageDataDisk should have optional disk_size
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, size/XS

#3599 Improve docs on create_mode for sql_database
  website/docs/r/sql_database.html.markdown
Labels: documentation, service/mssql, size/XS

#3605 website: Update the nav sidebar for easier browsing
  website/azurerm.erb
Labels: documentation, size/XL

#3598 Add support for creation_option "Restore" on managed disks (issue #3421)
  azurerm/resource_arm_managed_disk.go
  website/docs/r/managed_disk.html.markdown
Labels: documentation, enhancement, service/disks, size/XS

#3578 Bump blob storage client version to 2019-04-01
  azurerm/config.go
  azurerm/data_source_storage_account.go
  azurerm/resource_arm_container_registry_migrate_test.go
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_account_migration.go
  azurerm/resource_arm_storage_account_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2018-02-01/storage/usage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/blobcontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/blobservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/managementpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-04-01/storage/version.go
  vendor/modules.txt
Labels: dependencies, service/storage, size/XXL

#3571 New Data Source: `azurerm_virtual_network_gateway_connection`
  azurerm/data_source_virtual_network_gateway_connection.go
  azurerm/data_source_virtual_network_gateway_connection_test.go
  azurerm/provider.go
  website/azurerm.erb
  website/docs/d/virtual_network_gateway_connection.html.markdown
Labels: documentation, new-data-source, service/virtual-network-gateway, size/XL

#3547 provider/azurerm: Add maximum_elastic_worker_count to app_service_plan
  azurerm/data_source_app_service_plan.go
  azurerm/data_source_app_service_plan_test.go
  azurerm/resource_arm_app_service_plan.go
  azurerm/resource_arm_app_service_plan_test.go
  website/docs/d/app_service_plan.html.markdown
  website/docs/r/app_service_plan.html.markdown
Labels: documentation, enhancement, service/app-service, size/M

#3585 Update azurerm_resource_group documentation
  website/docs/r/resource_group.html.markdown
Labels: documentation, service/resources, size/XS

#3613 msi: registering the client
  azurerm/config.go
Labels: bug, service/authentication, size/XS

#3618 New Resource: `azurerm_iot_dps`
  azurerm/config.go
  azurerm/internal/services/iothub/client.go
  azurerm/provider.go
  azurerm/resource_arm_iot_dps.go
  azurerm/resource_arm_iot_dps_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/provisioningservices/mgmt/2018-01-22/iothub/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/provisioningservices/mgmt/2018-01-22/iothub/dpscertificate.go
  vendor/github.com/Azure/azure-sdk-for-go/services/provisioningservices/mgmt/2018-01-22/iothub/iotdpsresource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/provisioningservices/mgmt/2018-01-22/iothub/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/provisioningservices/mgmt/2018-01-22/iothub/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/provisioningservices/mgmt/2018-01-22/iothub/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/iot_dps.html.markdown
Labels: dependencies, documentation, service/iothub, size/XXL

#3626 Add ignore to misspell
  .golangci.yml
Labels: size/XS

#3619 data.azurerm_platform_image: removed incorrect check destroy
  azurerm/data_source_platform_image_test.go
Labels: bug, size/XS, tests

#3631 use azuread provider in acceptance tests
  azurerm/provider_test.go
  azurerm/resource_arm_role_assignment_test.go
  azurerm/resource_arm_service_fabric_cluster_test.go
  go.mod
  go.sum
  vendor/contrib.go.opencensus.io/exporter/ocagent/go.mod
  vendor/contrib.go.opencensus.io/exporter/ocagent/ocagent.go
  vendor/github.com/google/uuid/README.md
  vendor/github.com/google/uuid/go.mod
  vendor/github.com/google/uuid/hash.go
  vendor/github.com/google/uuid/marshal.go
  vendor/github.com/google/uuid/node.go
  vendor/github.com/google/uuid/node_js.go
  vendor/github.com/google/uuid/node_net.go
  vendor/github.com/google/uuid/time.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/google/uuid/version4.go
  vendor/github.com/hashicorp/go-azure-helpers/sender/sender.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/LICENSE
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/config.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/data_application.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/data_domains.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/data_group.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/data_service_principal.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/data_user.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/feature_flags.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/helpers/ar/response.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/helpers/ar/sender.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/helpers/graph/credentials.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/helpers/graph/replication.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/helpers/p/p.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/helpers/tf/errors.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/helpers/tf/marshall.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/helpers/validate/strings.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/helpers/validate/url.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/helpers/validate/uuid.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/locks.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/provider.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/resource_application.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/resource_application_password.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/resource_group.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/resource_service_principal.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/resource_service_principal_password.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/azuread/resource_user.go
  vendor/github.com/terraform-providers/terraform-provider-azuread/version/version.go
  vendor/modules.txt
Labels: dependencies, refactor, size/XXL, tests

#3639 azurerm_virtual_network: add test updating address_spaces and adding a new subnet
  azurerm/resource_arm_virtual_network_test.go
Labels: service/virtual-networks, size/M

#3632 Traffic manager TTL can be 1 second
  azurerm/resource_arm_traffic_manager_profile.go
Labels: enhancement, service/traffic-manager, size/XS

#3630 Retrieve full URL for event grid subscription webhooks
  azurerm/resource_arm_eventgrid_event_subscription.go
Labels: bug, service/event-grid, size/XS

#3567 Asa sql output
  azurerm/provider.go
  azurerm/resource_arm_stream_analytics_output_mssql.go
  azurerm/resource_arm_stream_analytics_output_mssql_test.go
  website/azurerm.erb
  website/docs/r/stream_analytics_output_mssql.html.markdown
Labels: documentation, new-resource, service/stream-analytics, size/XL

#3654 squashed sf create / update to allow AAD update
  azurerm/resource_arm_service_fabric_cluster.go
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, enhancement, service/service-fabric, size/M

#3657 Bugfix: panic when importing azure_app_service_plan
  azurerm/data_source_app_service_plan.go
  azurerm/resource_arm_app_service_plan.go
Labels: bug, service/app-service, size/XS

#3646 Client Registration Refactor: A-C
  azurerm/config.go
  azurerm/data_source_container_registry.go
  azurerm/internal/ar/client.go
  azurerm/internal/services/apimanagement/client.go
  azurerm/internal/services/automation/client.go
  azurerm/internal/services/cdn/client.go
  azurerm/internal/services/cognitive/client.go
  azurerm/internal/services/containers/client.go
  azurerm/resource_arm_container_registry.go
  azurerm/resource_arm_container_registry_test.go
Labels: provider, refactor, size/XL

#3645 New Resource: `azurerm_iot_dps_certificate`
  azurerm/config.go
  azurerm/internal/services/iothub/client.go
  azurerm/provider.go
  azurerm/resource_arm_iot_dps.go
  azurerm/resource_arm_iot_dps_cerificate.go
  azurerm/resource_arm_iot_dps_certificate_test.go
  azurerm/resource_arm_iot_dps_test.go
  website/azurerm.erb
  website/docs/r/iot_dps.html.markdown
  website/docs/r/iot_dps_certificate.html.markdown
Labels: documentation, new-resource, service/iothub, size/XL

#3660 arm_search_service - changing tags should not force new resource
  azurerm/resource_arm_search_service.go
  azurerm/resource_arm_search_service_test.go
  website/docs/r/search_service.html.markdown
Labels: documentation, size/S

#3690 Fix mistyped variable in cosmosdb_mongo_collection
  website/docs/r/cosmosdb_mongo_collection.html.markdown
Labels: documentation, service/cosmosdb, size/XS

#3675 Updates to Load balancer to support PublicIPPrefix as frontendipconfiguration
  azurerm/resource_arm_loadbalancer.go
  azurerm/resource_arm_loadbalancer_outbound_rule_test.go
  azurerm/resource_arm_loadbalancer_rule.go
  azurerm/resource_arm_loadbalancer_rule_test.go
  azurerm/resource_arm_loadbalancer_test.go
  website/docs/r/loadbalancer.html.markdown
  website/docs/r/loadbalancer_rule.html.markdown
Labels: documentation, enhancement, service/load-balancers, size/L

#3687 updated docs to highlight delegation
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#1814 azurerm_key_vault_key: add support for EC curve based keys
  azurerm/resource_arm_key_vault_key.go
  azurerm/resource_arm_key_vault_key_test.go
  website/docs/r/key_vault_key.html.markdown
Labels: documentation, enhancement, service/keyvault, size/L

#3703 Note added to route docs as per issue 3699 .
  website/docs/r/route.html.markdown
Labels: documentation, service/route-tables, size/XS

#3674 capture current hashibot config
  .hashibot.hcl
Labels: size/XS

#3705 Update api_management_api_operation.html.markdown
  website/docs/r/api_management_api_operation.html.markdown
Labels: documentation, service/api-management, size/XS

#3652 Service Fabric server certificate common names
  azurerm/resource_arm_service_fabric_cluster.go
  azurerm/resource_arm_service_fabric_cluster_test.go
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, enhancement, service/service-fabric, size/XL

#3709 Add a couple missing nil checks
  azurerm/resource_arm_image.go
  azurerm/resource_arm_virtual_machine.go
  azurerm/resource_arm_virtual_machine_scale_set.go
Labels: bug, size/XS

#3711 format hashibot cfg
  .hashibot.hcl
Labels: refactor, size/XS

#3710 Patch: `azurerm_sql_database`
  azurerm/resource_arm_sql_database.go
  website/docs/r/sql_database.html.markdown
Labels: documentation, enhancement, service/mssql, size/XS

#3695 Note added for forced casing at runtime.
  azurerm/helpers/azure/mysql.go
  azurerm/resource_arm_mysql_configuration.go
  azurerm/resource_arm_mysql_database.go
  azurerm/resource_arm_mysql_firewall_rule.go
  azurerm/resource_arm_mysql_server.go
Labels: bug, documentation, service/mysql, size/S

#3725 r/kubernetes_cluster: fix Azure CLI command for enabling VMSS support
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#3733 Fix documentation for azurerm_key_vault_access_policy
  website/docs/r/key_vault_access_policy.html.markdown
Labels: documentation, size/XS

#3520 Support app service application logs blob storage
  azurerm/helpers/azure/app_service.go
  azurerm/resource_arm_app_service.go
  azurerm/resource_arm_app_service_test.go
  website/docs/r/app_service.html.markdown
Labels: documentation, enhancement, service/app-service, size/L

#3255 Storage Account: Enable DefaultAction in Network rules.
  azurerm/resource_arm_storage_account.go
  azurerm/resource_arm_storage_account_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/M

#3731 fix to allow multiple rule setup in the redis firewall resource
  azurerm/resource_arm_redis_firewall_rule.go
  azurerm/resource_arm_redis_firewall_rule_test.go
Labels: bug, service/redis, size/M

#3727 Add website spelling check
  .travis.yml
  GNUmakefile
  website/docs/r/eventgrid_event_subscription.html.markdown
  website/docs/r/firewall_application_rule_collection.html.markdown
  website/docs/r/recovery_services_protection_policy_vm.markdown
  website/docs/r/user_assigned_identity.markdown
Labels: documentation, refactor, size/M, tests

#3702 Allow updating identity on app_service_slot without recreating the resource
  azurerm/resource_arm_app_service_slot.go
  azurerm/resource_arm_app_service_slot_test.go
Labels: enhancement, service/app-service, size/M, waiting-response

#3737 Increase timeout for azurerm_app_service_plan to accommodate creation of Isolated SKUs that take a long time to provision
  azurerm/config.go
  azurerm/internal/ar/client.go
Labels: refactor, size/XS

#3720 New resource: mariadb_firewall_rule
  azurerm/config.go
  azurerm/helpers/validate/mariadb.go
  azurerm/provider.go
  azurerm/resource_arm_mariadb_firewall_rule.go
  azurerm/resource_arm_mariadb_firewall_rule_test.go
  website/azurerm.erb
  website/docs/r/mariadb_firewall_rule.html.markdown
Labels: documentation, new-resource, service/mariadb, size/XL, waiting-response

#3718 New resource: azurerm_private_dns_zone
  azurerm/config.go
  azurerm/internal/services/privatedns/client.go
  azurerm/provider.go
  azurerm/resource_arm_private_dns_zone.go
  azurerm/resource_arm_private_dns_zone_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/privatedns/mgmt/2018-09-01/privatedns/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/privatedns/mgmt/2018-09-01/privatedns/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/privatedns/mgmt/2018-09-01/privatedns/privatezones.go
  vendor/github.com/Azure/azure-sdk-for-go/services/privatedns/mgmt/2018-09-01/privatedns/recordsets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/privatedns/mgmt/2018-09-01/privatedns/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/privatedns/mgmt/2018-09-01/privatedns/virtualnetworklinks.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/private_dns_zone.html.markdown
Labels: dependencies, documentation, new-resource, service/dns, size/XXL

#3744 Updates Question.md w/new community forum
  .github/ISSUE_TEMPLATE/Question.md
Labels: size/XS

#3119 data_source_key_vault, resource_arm_key_vault, resource_arm_automation_account, resource_arm_notification_hub_namespace, resource_arm_relay_namespace: Flatten SKU
  azurerm/data_source_key_vault.go
  azurerm/data_source_key_vault_test.go
  azurerm/resource_arm_automation_account.go
  azurerm/resource_arm_automation_account_test.go
  azurerm/resource_arm_key_vault.go
  azurerm/resource_arm_key_vault_access_policy_test.go
  azurerm/resource_arm_key_vault_certificate_test.go
  azurerm/resource_arm_key_vault_key_test.go
  azurerm/resource_arm_key_vault_secret_test.go
  azurerm/resource_arm_key_vault_test.go
  azurerm/resource_arm_notification_hub_namespace.go
  azurerm/resource_arm_notification_hub_namespace_test.go
  azurerm/resource_arm_relay_namespace.go
  azurerm/resource_arm_relay_namespace_test.go
  website/docs/r/automation_account.html.markdown
  website/docs/r/key_vault.html.markdown
  website/docs/r/key_vault_access_policy.html.markdown
  website/docs/r/key_vault_certificate.html.markdown
  website/docs/r/key_vault_key.html.markdown
  website/docs/r/key_vault_secret.html.markdown
  website/docs/r/notification_hub.html.markdown
  website/docs/r/notification_hub_authorization_rule.html.markdown
  website/docs/r/notification_hub_namespace.html.markdown
  website/docs/r/relay_namespace.html.markdown
Labels: documentation, refactor, service/automation, service/keyvault, service/notifications, service/relay, size/XL

#3747 azurerm_cosmosdb_account: ignore 500 responses from CheckNameExists() call
  azurerm/resource_arm_cosmosdb_account.go
  azurerm/utils/response.go
Labels: bug, service/cosmosdb, size/XS, upstream-microsoft
