Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2020-10, with the labels that each got.

#8706 Scaffold azurerm_app_service_environment data docs
  website/docs/d/app_service_environment.html.markdown
Labels: documentation, service/app-service, size/S

#8707 Add two new SKUs to azurerm_analysis_services_server
  azurerm/internal/services/analysisservices/analysis_services_server_resource.go
  website/docs/r/analysis_services_server.html.markdown
Labels: documentation, enhancement, service/analysis, size/XS

#8672 New Resources: `azurerm_(resource_group|subscription)_template_deployment`
  azurerm/internal/features/three_point_oh.go
  azurerm/internal/features/user_flags.go
  azurerm/internal/provider/features.go
  azurerm/internal/provider/features_test.go
  azurerm/internal/services/privatedns/private_dns_zone_data_source.go
  azurerm/internal/services/resource/client/client.go
  azurerm/internal/services/resource/data_source_resources.go
  azurerm/internal/services/resource/parse/template_deployment_resource_group.go
  azurerm/internal/services/resource/parse/template_deployment_resource_group_test.go
  azurerm/internal/services/resource/parse/template_deployment_subscription.go
  azurerm/internal/services/resource/parse/template_deployment_subscription_test.go
  azurerm/internal/services/resource/registration.go
  azurerm/internal/services/resource/resource_arm_resource_group.go
  azurerm/internal/services/resource/resource_arm_template_deployment.go
  azurerm/internal/services/resource/template_deployment_common.go
  azurerm/internal/services/resource/template_deployment_resource_group_resource.go
  azurerm/internal/services/resource/template_deployment_subscription_resource.go
  azurerm/internal/services/resource/tests/template_deployment_resource_group_resource_test.go
  azurerm/internal/services/resource/tests/template_deployment_subscription_resource_test.go
  azurerm/internal/services/resource/validate/template_deployment.go
  azurerm/internal/services/resource/validate/template_deployment_test.go
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/deploymentoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/deployments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-06-01/resources/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-06-01/resources/deploymentoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-06-01/resources/deployments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-06-01/resources/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-06-01/resources/groups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-06-01/resources/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-06-01/resources/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-06-01/resources/providers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-06-01/resources/resources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-06-01/resources/tags.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2020-06-01/resources/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/index.html.markdown
  website/docs/r/resource_group_template_deployment.html.markdown
  website/docs/r/subscription_template_deployment.html.markdown
  website/docs/r/template_deployment.html.markdown
Labels: dependencies, new-resource, service/resources, size/XXL

#8713 Docs: Replace Basic with GeneralPurpose for sku_name
  website/docs/r/postgresql_virtual_network_rule.html.markdown
Labels: documentation, size/XS

#8667 Add waiting logic for azurerm_monitor_metric_alert
  azurerm/internal/services/monitor/monitor_metric_alert_resource.go
Labels: bug, service/monitor, size/S

#8687 `azurerm_key_vault_certificate_issuer` - `org_id` is now optional
  azurerm/internal/services/keyvault/key_vault_certificate_issuer_resource.go
  azurerm/internal/services/keyvault/tests/key_vault_certificate_issuer_resource_test.go
  website/docs/r/key_vault_certificate_issuer.html.markdown
Labels: documentation, enhancement, service/keyvault, size/S

#8718 `azurerm_dedicated_host` - add support for `DSv4-Type1` `sku_name`
  azurerm/internal/services/compute/dedicated_host_resource.go
  website/docs/r/dedicated_host.html.markdown
Labels: documentation, enhancement, service/dedicated-hosts, size/XS

#8715 Scaffold azurerm_data_factory data documentation
  website/docs/d/data_factory.html.markdown
Labels: documentation, service/data-factory, size/M

#8723 Example: Azure VM role assignment
  examples/virtual-machines/windows/vm-role-assignment/README.md
  examples/virtual-machines/windows/vm-role-assignment/main.tf
  examples/virtual-machines/windows/vm-role-assignment/vars.tf
Labels: size/M

#8642 Go-SDK upgrade to "46.4.0"
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2020-06-01/compute/dedicatedhostgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2020-06-01/compute/dedicatedhosts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2020-06-01/compute/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2020-06-01/compute/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2020-06-01/compute/virtualmachines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2020-06-01/compute/virtualmachinescalesetvms.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/integrationruntimes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/models.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/L

#8720 Network policy calico fix
  examples/kubernetes/network-policy-calico/main.tf
  examples/kubernetes/network-policy-calico/variables.tf
Labels: size/XS

#8732 [template_deployment] Documentation typo fix
  website/docs/r/template_deployment.html.markdown
Labels: documentation, service/template, size/XS

#8599 azurerm_app_service - allow v6 IPs for the webapp ip_restriction property
  azurerm/helpers/validate/network.go
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/tests/resource_arm_app_service_test.go
Labels: bug, service/app-service, size/M

#6761 New Resource: `azurerm_service_fabric_mesh_application`
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/resourceproviders/required.go
  azurerm/internal/services/servicefabricmesh/client/client.go
  azurerm/internal/services/servicefabricmesh/parse/service_fabric_mesh_application.go
  azurerm/internal/services/servicefabricmesh/parse/service_fabric_mesh_application_test.go
  azurerm/internal/services/servicefabricmesh/registration.go
  azurerm/internal/services/servicefabricmesh/resource_arm_service_fabric_mesh_application.go
  azurerm/internal/services/servicefabricmesh/tests/resource_arm_service_fabric_mesh_application_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/application.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/codepackage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/gateway.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/network.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/secret.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/secretvalue.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/service.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/servicereplica.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/servicefabricmesh/mgmt/2018-09-01-preview/servicefabricmesh/volume.go
  vendor/modules.txt
  website/allowed-subcategories
  website/azurerm.erb
  website/docs/r/service_fabric_mesh_application.html.markdown
Labels: dependencies, documentation, service/service-fabric, size/XXL

#8361 mssql_server: add minimal_tls_version property
  azurerm/internal/services/mssql/mssql_server_resource.go
  azurerm/internal/services/mssql/tests/mssql_server_resource_test.go
  website/docs/r/mssql_server.html.markdown
Labels: documentation, enhancement, new-data-source, service/mssql, size/S

#8699 `azurerm_appplication_insights` - Add support for `connection_string`
  azurerm/internal/services/applicationinsights/application_insights_data_source.go
  azurerm/internal/services/applicationinsights/application_insights_resource.go
  website/docs/d/application_insights.html.markdown
  website/docs/r/application_insights.html.markdown
Labels: documentation, service/application-insights, size/XS

#8623 `azurerm_mssql_virtual_machine` - Add support for `storage_configuration_settings`
  azurerm/internal/services/mssql/helper/sql_virtual_machine_storage_settings.go
  azurerm/internal/services/mssql/mssql_virtual_machine_resource.go
  azurerm/internal/services/mssql/tests/mssql_virtual_machine_resource_test.go
  website/docs/r/mssql_virtual_machine.html.markdown
Labels: documentation, enhancement, service/mssql, size/L

#8729 UPDATE azurerm_subnet documentation example
  website/docs/d/public_ip.html.markdown
  website/docs/r/app_service_environment.html.markdown
  website/docs/r/app_service_slot_virtual_network_swift_connection.html.markdown
  website/docs/r/app_service_virtual_network_swift_connection.html.markdown
  website/docs/r/bastion_host.html.markdown
  website/docs/r/database_migration_project.html.markdown
  website/docs/r/database_migration_service.html.markdown
  website/docs/r/dev_test_global_vm_shutdown_schedule.html.markdown
  website/docs/r/firewall.html.markdown
  website/docs/r/firewall_application_rule_collection.html.markdown
  website/docs/r/firewall_nat_rule_collection.html.markdown
  website/docs/r/firewall_network_rule_collection.html.markdown
  website/docs/r/hpc_cache.html.markdown
  website/docs/r/hpc_cache_blob_target.html.markdown
  website/docs/r/hpc_cache_nfs_target.html.markdown
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/maintenance_assignment_virtual_machine.html.markdown
  website/docs/r/mariadb_virtual_network_rule.html.markdown
  website/docs/r/netapp_snapshot.html.markdown
  website/docs/r/netapp_volume.html.markdown
  website/docs/r/network_interface.html.markdown
  website/docs/r/network_interface_application_gateway_backend_address_pool_association.html.markdown
  website/docs/r/network_interface_application_security_group_association.html.markdown
  website/docs/r/network_interface_backend_address_pool_association.html.markdown
  website/docs/r/network_interface_nat_rule_association.html.markdown
  website/docs/r/network_interface_security_group_association.html.markdown
  website/docs/r/network_packet_capture.html.markdown
  website/docs/r/network_profile.html.markdown
  website/docs/r/packet_capture.html.markdown
  website/docs/r/postgresql_virtual_network_rule.html.markdown
  website/docs/r/private_link_service.html.markdown
  website/docs/r/servicebus_namespace_network_rule_set.html.markdown
  website/docs/r/site_recovery_replicated_vm.html.markdown
  website/docs/r/sql_virtual_network_rule.html.markdown
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_account_network_rules.html.markdown
  website/docs/r/subnet_network_security_group_association.html.markdown
  website/docs/r/subnet_route_table_association.html.markdown
  website/docs/r/virtual_machine.html.markdown
  website/docs/r/virtual_machine_data_disk_attachment.html.markdown
  website/docs/r/virtual_machine_extension.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
  website/docs/r/virtual_network_gateway.html.markdown
  website/docs/r/virtual_network_gateway_connection.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/subnets, size/M

#8734 Documentation updates
  website/docs/d/automation_account.html.markdown
  website/docs/d/data_share.html.markdown
  website/docs/d/healthcare_service.html.markdown
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/d/machine_learning_workspace.html.markdown
  website/docs/d/monitor_action_group.html.markdown
  website/docs/d/private_endpoint_connection.html.markdown
  website/docs/d/private_link_service.html.markdown
  website/docs/d/private_link_service_endpoint_connections.html.markdown
  website/docs/d/redis_cache.html.markdown
  website/docs/d/storage_management_policy.html.markdown
  website/docs/guides/managed_service_identity.html.markdown
  website/docs/r/data_factory_linked_service_azure_blob_storage.html.markdown
  website/docs/r/data_factory_linked_service_azure_file_storage.html.markdown
  website/docs/r/data_factory_linked_service_azure_function.html.markdown
  website/docs/r/data_factory_linked_service_cosmosdb.html.markdown
  website/docs/r/data_factory_linked_service_sftp.html.markdown
  website/docs/r/data_factory_linked_service_web.html.markdown
  website/docs/r/frontdoor.html.markdown
  website/docs/r/private_dns_zone.html.markdown
  website/docs/r/private_endpoint.html.markdown
  website/docs/r/servicebus_namespace_authorization_rule.html.markdown
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_queue_authorization_rule.html.markdown
  website/docs/r/servicebus_subscription.html.markdown
  website/docs/r/servicebus_subscription_rule.html.markdown
  website/docs/r/servicebus_topic.html.markdown
  website/docs/r/storage_table_entity.html.markdown
Labels: documentation, size/M

#8724 Example for deploying a Python based Azure Functions App.
  examples/app-service/function-python/README.md
  examples/app-service/function-python/SampleApp/.funcignore
  examples/app-service/function-python/SampleApp/PythonSampleApp/__init__.py
  examples/app-service/function-python/SampleApp/PythonSampleApp/function.json
  examples/app-service/function-python/SampleApp/PythonSampleApp/sample.dat
  examples/app-service/function-python/SampleApp/host.json
  examples/app-service/function-python/SampleApp/local.settings.json
  examples/app-service/function-python/SampleApp/proxies.json
  examples/app-service/function-python/SampleApp/requirements.txt
  examples/app-service/function-python/main.tf
  examples/app-service/function-python/vars.tf
Labels: documentation, service/functions, size/M

#8722 Example of AKS cluster with virtual nodes (Azure Container Instances)
  examples/kubernetes/aci_connector_linux/README.md
  examples/kubernetes/aci_connector_linux/main.tf
  examples/kubernetes/aci_connector_linux/outputs.tf
  examples/kubernetes/aci_connector_linux/vars.tf
  examples/kubernetes/aci_connector_linux/virtual-node.yaml
Labels: documentation, service/kubernetes-cluster, size/L

#7898 Update `azurerm_backup_policy_vm` - check for <7 daily backups
  azurerm/internal/services/recoveryservices/resource_arm_backup_policy_vm.go
  website/docs/r/backup_policy_vm.markdown
Labels: documentation, enhancement, service/recovery-services, size/XS

#8682 [azurerm_function_app] App Settings should be Computed
  azurerm/internal/services/web/resource_arm_function_app.go
  azurerm/internal/services/web/resource_arm_function_app_slot.go
Labels: bug, service/functions, size/XS

#8308 `azurerm_mssql_database` support 0 for `min_capacity`
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/mssql/tests/mssql_database_resource_test.go
Labels: enhancement, service/mysql, size/S, waiting-response

#8580 Removed azuread dependency wherever applicable for AAD Diagnostic settings
  azurerm/internal/acceptance/data.go
  azurerm/internal/location/validation.go
  azurerm/internal/services/blueprints/blueprint_published_version_datasource.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource.go
Labels: bug, refactor, size/XS

#8747 sku block has been deprecated
  website/docs/r/log_analytics_linked_service.html.markdown
Labels: documentation, service/log-analytics, size/XS

#8300 `azurerm_kubernetes_cluster_node_pool` - `node_count`, `min_node`, and `max_node` can now be set to `0`
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_node_pool_resource_test.go
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/M

#8759 Update application_gateway.html.markdown
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#8772 add `s` to be consistent with file name and title
  website/docs/r/monitor_scheduled_query_rules_log.html.markdown
Labels: documentation, size/XS

#8771 fix: Change serivce to service in private_endpoint.html.markdown
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, size/XS

#8769 `azurerm_mssql_server` - update doc and test for sql server min tls
  azurerm/internal/services/mssql/mssql_server_resource.go
  azurerm/internal/services/mssql/tests/mssql_server_resource_test.go
  website/docs/r/mssql_server.html.markdown
Labels: documentation, service/mssql, size/M, tests

#8765 `azurerm_mssql_database` - add support for `long_term_retention_policy` and `short_term_retention_policy`
  azurerm/helpers/azure/mssql.go
  azurerm/internal/services/mssql/client/client.go
  azurerm/internal/services/mssql/helper/sql_retention_policies.go
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/mssql/tests/mssql_database_resource_test.go
  website/azurerm.erb
  website/docs/r/mssql_database.html.markdown
Labels: documentation, enhancement, service/mssql, size/XL

#8784 Update data_factory_dataset_http.html.markdown
  website/docs/r/data_factory_dataset_http.html.markdown
Labels: documentation, service/data-factory, size/XS

#8605 New Service (Multiple Resources): DesktopVirtualization (Virtual Desktops)
  .teamcity/components/generated/services.kt
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/resourceproviders/required.go
  azurerm/internal/services/desktopvirtualization/client/client.go
  azurerm/internal/services/desktopvirtualization/parse/virtual_desktop_application_group.go
  azurerm/internal/services/desktopvirtualization/parse/virtual_desktop_host_pool_resource.go
  azurerm/internal/services/desktopvirtualization/parse/virtual_desktop_workspace_resource.go
  azurerm/internal/services/desktopvirtualization/registration.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_application_group_resource.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_application_group_resource_test.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_host_pool_resource.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_host_pool_resource_test.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_workspace_application_group_association_resource.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_workspace_application_group_association_resource_test.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_workspace_resource.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_workspace_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/applicationgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/applications.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/desktops.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/hostpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/sessionhosts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/startmenuitems.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/usersessions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2019-12-10-preview/desktopvirtualization/workspaces.go
  vendor/modules.txt
  website/allowed-subcategories
  website/azurerm.erb
  website/docs/r/virtual_desktop_application_group.html.markdown
  website/docs/r/virtual_desktop_host_pool.html.markdown
  website/docs/r/virtual_desktop_workspace.html.markdown
  website/docs/r/virtual_desktop_workspace_application_group_association.html.markdown
Labels: dependencies, new-resource, service/virtual-desktops, size/XXL

#8668 Update `azurerm_policy_set_definition` - Fix #8663
  azurerm/internal/services/policy/policy_set_definition_resource.go
  azurerm/internal/services/policy/tests/policy_set_definition_resource_test.go
Labels: bug, service/policy, size/M

#8795 Validate policy mode value
  azurerm/internal/services/policy/policy_definition_resource.go
  website/docs/r/policy_definition.html.markdown
Labels: bug, documentation, service/policy, size/XS

#8789 `azurerm_storage_account` - add support for `large_file_share_enabled`
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/M

#8788 Add `plan` block argument to scale set
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#8743 Corrected the example given
  website/docs/r/resource_group.html.markdown
Labels: documentation, service/resources, size/XS, waiting-response

#8804 r/windows_virtual_machine_scale_set: documenting the plan block
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#8803 `azurerm_storage_account`- Update error message around `large_file_share_enabled`
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
Labels: service/storage, size/XS

#8807 `azurerm_storage_account`- add Computed to `large_file_share_enabled`
  azurerm/internal/services/storage/resource_arm_storage_account.go
Labels: bug, service/storage, size/XS

#8808 log analytics data sources: should not have been merged comment
  azurerm/internal/services/loganalytics/log_analytics_datasource_windows_event_resource.go
  azurerm/internal/services/loganalytics/log_analytics_datasource_windows_performance_counter_resource.go
Labels: documentation, service/log-analytics, size/XS

#8855 `azurerm_dedicated_hardware_security_module` fix tests failing due to quota restrictions
  .teamcity/components/settings.kt
  azurerm/internal/services/hsm/tests/resource_arm_dedicated_hardware_security_module_test.go
Labels: size/XS, tests

#8811 `azurerm_storage_share` set `metadata` `Computed` and set `acl` `start` and `expiry` `Optional`
  azurerm/internal/services/storage/resource_arm_storage_share.go
  azurerm/internal/services/storage/tests/resource_arm_storage_share_test.go
  website/docs/r/storage_share.html.markdown
Labels: documentation, size/S

#8860 `azurerm_cognitive_account` - `kind` now supports `Personalizer`
  azurerm/internal/services/cognitive/cognitive_account_resource.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, enhancement, service/cognitive-services, size/XS

#8859 `azurerm_search_service` - `sku` now supports `storage_optimized_l1` and `storage_optimized_l2`
  azurerm/internal/services/search/resource_arm_search_service.go
  website/docs/r/search_service.html.markdown
Labels: documentation, enhancement, service/search, size/XS

#8826 Update stamp_id of azurerm_dedicated_hardware_security_module as optional property
  azurerm/internal/services/hsm/resource_arm_dedicated_hardware_security_module.go
  website/docs/r/dedicated_hardware_security_module.html.markdown
Labels: documentation, size/S

#8787 New data source: azurerm_mysql_server
  azurerm/internal/services/mysql/mysql_server_data_source.go
  azurerm/internal/services/mysql/registration.go
  azurerm/internal/services/mysql/tests/mysql_server_data_source_test.go
  website/docs/d/mysql_server.html.markdown
Labels: documentation, new-data-source, service/mysql, size/XL

#8774 azurerm_security_center_contact - override SDK creation function to handle `201` response code
  azurerm/internal/services/securitycenter/azuresdkhacks/security_center_contact.go
  azurerm/internal/services/securitycenter/resource_arm_security_center_contact.go
  go.mod
Labels: bug, dependencies, service/security-center, size/M, upstream-microsoft

#8698 `azurerm_container_registry` - support for `trust_policy` and `retention_policy`
  azurerm/internal/services/containers/container_registry_resource.go
  azurerm/internal/services/containers/tests/container_registry_resource_test.go
  website/docs/r/container_registry.html.markdown
Labels: documentation, service/container-registry, size/XL

#8845 `azurerm_sql_failover_group` document example added
  examples/sql-azure/failover_group/main.tf
  examples/sql-azure/failover_group/variables.tf
  website/docs/r/sql_failover_group.html.markdown
Labels: documentation, service/mssql, size/M

#8888 [WIP] Fix example where infrastructure_encryption_enabled is not supported
  website/docs/r/mysql_server.html.markdown
Labels: documentation, service/mysql, size/XS

#8735 New Resource: `azurerm_eventgrid_system_topic`
  azurerm/internal/services/eventgrid/client/client.go
  azurerm/internal/services/eventgrid/eventgrid_system_topic_resource.go
  azurerm/internal/services/eventgrid/parse/eventgrid_system_topic.go
  azurerm/internal/services/eventgrid/parse/eventgrid_system_topic_test.go
  azurerm/internal/services/eventgrid/registration.go
  azurerm/internal/services/eventgrid/tests/eventgrid_system_topic_resource_test.go
  website/docs/r/eventgrid_system_topic.html.markdown
Labels: documentation, new-resource, service/event-grid, size/XL

#8844 Example: `azurerm_virtual_desktop_*`
  examples/desktopvirtualization/README.md
  examples/desktopvirtualization/main.tf
  examples/desktopvirtualization/variables.tf
Labels: documentation, service/virtual-desktops, size/M, waiting-response

#8899 azurerm_mssql_database - do not set longterm and shortterm retention policies when using the `DW` SKUs
  azurerm/internal/services/mssql/mssql_database_resource.go
Labels: bug, service/mssql, size/XS

#8907 `azurerm_search_service` - add support for `identity`
  azurerm/internal/services/search/resource_arm_search_service.go
  azurerm/internal/services/search/tests/resource_arm_search_service_test.go
  website/docs/r/search_service.html.markdown
Labels: documentation, enhancement, service/search, size/M

#8838 New Resource: `azurerm_service_fabric_mesh_local_network`
  azurerm/internal/services/servicefabricmesh/client/client.go
  azurerm/internal/services/servicefabricmesh/parse/service_fabric_mesh_network.go
  azurerm/internal/services/servicefabricmesh/parse/service_fabric_mesh_network_test.go
  azurerm/internal/services/servicefabricmesh/registration.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_application_resource.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_local_network_resource.go
  azurerm/internal/services/servicefabricmesh/tests/service_fabric_mesh_application_resource_test.go
  azurerm/internal/services/servicefabricmesh/tests/service_fabric_mesh_local_network_resource_test.go
  website/azurerm.erb
  website/docs/r/service_fabric_mesh_local_network.html.markdown
Labels: documentation, new-resource, service/service-fabric-mesh, size/XL

#8928 Fix: Add docs reference for azurerm_eventgrid_system_topic
  website/azurerm.erb
  website/docs/r/eventgrid_system_topic.html.markdown
Labels: documentation, size/XS

#8908 fix `container_registry` retention policy docs
  website/docs/r/container_registry.html.markdown
Labels: documentation, service/container-registry, size/XS

#8761 Fix ignore_changes behavior for AGW
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/tests/application_gateway_resource_test.go
Labels: dependencies, service/application-gateway, size/L

#8792 Add composite indexes support to CosmosDB SQL container
  azurerm/internal/services/cosmos/common/indexing_policy.go
  azurerm/internal/services/cosmos/common/schema.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource_test.go
  website/docs/r/cosmosdb_sql_container.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/L

#8935 added validation to Azure SQL firewall start and end IP address
  azurerm/internal/services/sql/resource_arm_sql_firewall_rule.go
Labels: documentation, enhancement, service/mssql, size/XS

#8882 Update `azurerm_policy_set_definition` - Fix updates for `parameters` and `parameter_values`
  azurerm/internal/services/policy/policy_set_definition_resource.go
  azurerm/internal/services/policy/tests/policy_set_definition_resource_test.go
  website/docs/r/policy_assignment.html.markdown
  website/docs/r/policy_definition.html.markdown
  website/docs/r/policy_set_definition.html.markdown
Labels: bug, documentation, service/policy, size/XL

#8948 Added Redis Cache firewall resource start and end IP address validations
  azurerm/internal/services/mysql/mysql_firewall_rule_resource.go
  azurerm/internal/services/redis/resource_arm_redis_firewall_rule.go
Labels: enhancement, service/redis, size/XS

#8875 `azurerm_app_configuration` - add support for identity
  azurerm/internal/services/appconfiguration/app_configuration_resource.go
  azurerm/internal/services/appconfiguration/tests/app_configuration_resource_test.go
  website/docs/r/app_configuration.html.markdown
Labels: documentation, enhancement, service/app-configuration, size/L

#8951 https://github.com/terraform-providers/terraform-provider-azurerm/iss…
  website/docs/r/api_management_subscription.html.markdown
Labels: documentation, service/api-management, size/XS

#8904 Adding support for os_disk_image_size_gb to get the disk size of the image
  azurerm/internal/services/compute/shared_image_version_data_source.go
  website/docs/d/shared_image_version.html.markdown
Labels: documentation, enhancement, service/disks, size/XS

#8952 Dash shell compliant check-test-package.sh
  scripts/check-test-package.sh
Labels: size/XS

#8933 New resource: `azurerm_service_fabric_mesh_secret` `azurerm_service_fabric_mesh_secret_value`
  azurerm/internal/services/servicefabricmesh/client/client.go
  azurerm/internal/services/servicefabricmesh/parse/service_fabric_mesh_secret.go
  azurerm/internal/services/servicefabricmesh/parse/service_fabric_mesh_secret_test.go
  azurerm/internal/services/servicefabricmesh/parse/service_fabric_mesh_secret_value.go
  azurerm/internal/services/servicefabricmesh/parse/service_fabric_mesh_secret_value_test.go
  azurerm/internal/services/servicefabricmesh/registration.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_secret_resource.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_secret_value_resource.go
  azurerm/internal/services/servicefabricmesh/tests/service_fabric_mesh_secret_resource_test.go
  azurerm/internal/services/servicefabricmesh/tests/service_fabric_mesh_secret_value_resource_test.go
  website/azurerm.erb
  website/docs/r/service_fabric_mesh_secret.html.markdown
  website/docs/r/service_fabric_mesh_secret_value.html.markdown
Labels: documentation, new-resource, service/service-fabric-mesh, size/XXL

#8969 Update dns_cname_record FQDN - note: trailing dot
  website/docs/r/dns_cname_record.html.markdown
Labels: documentation, service/dns, size/XS

#8972 hpc-cache: splitting out into their own service package
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/hpccache/client/client.go
  azurerm/internal/services/hpccache/parsers/hpc_cache.go
  azurerm/internal/services/hpccache/parsers/hpc_cache_target.go
  azurerm/internal/services/hpccache/parsers/hpc_cache_target_test.go
  azurerm/internal/services/hpccache/parsers/hpc_cache_test.go
  azurerm/internal/services/hpccache/registration.go
  azurerm/internal/services/hpccache/resource_arm_hpc_cache.go
  azurerm/internal/services/hpccache/resource_arm_hpc_cache_blob_target.go
  azurerm/internal/services/hpccache/resource_arm_hpc_cache_nfs_target.go
  azurerm/internal/services/hpccache/tests/resource_arm_hpc_cache_blob_target_test.go
  azurerm/internal/services/hpccache/tests/resource_arm_hpc_cache_nfs_target_test.go
  azurerm/internal/services/hpccache/tests/resource_arm_hpc_cache_test.go
  azurerm/internal/services/hpccache/validate/hpc_cache_target.go
  azurerm/internal/services/storage/client/client.go
  azurerm/internal/services/storage/registration.go
Labels: refactor, service/storage, size/M

#8975 MSSQL: working around a breaking change in the MSSQL API
  azurerm/internal/services/mssql/helper/sql_extended_auditing.go
  azurerm/internal/services/mssql/mssql_database_extended_auditing_policy_resource.go
  azurerm/internal/services/mssql/mssql_server_extended_auditing_policy_resource.go
  azurerm/internal/services/sql/helper/sql_extended_auditing.go
Labels: bug, service/mssql, size/S, upstream-microsoft

#8991 generator: running make generate
  .teamcity/components/generated/services.kt
  website/allowed-subcategories
Labels: documentation, refactor, size/XS

#8957 `azurerm_kubernetes_cluster` - Fix issue where `min_count` and `max_count` couldn't be the same
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_node_pool_resource_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_other_resource_test.go
Labels: bug, documentation, service/kubernetes-cluster, size/M

#8815 Update the value property in features block as TypeSet for SignalR Service
  azurerm/internal/services/signalr/resource_arm_signalr_service.go
  azurerm/internal/services/signalr/tests/resource_arm_signalr_service_test.go
Labels: breaking-change, bug, service/signalr, size/XS

#8861 log_analytics_workspace: support for the `daily_quota_gb` property
  azurerm/internal/services/loganalytics/log_analytics_workspace_data_source.go
  azurerm/internal/services/loganalytics/log_analytics_workspace_resource.go
  azurerm/internal/services/loganalytics/tests/log_analytics_workspace_data_source_test.go
  azurerm/internal/services/loganalytics/tests/log_analytics_workspace_resource_test.go
  website/docs/d/log_analytics_workspace.html.markdown
  website/docs/r/log_analytics_workspace.html.markdown
Labels: documentation, enhancement, service/log-analytics, size/M

#7963 `azurerm_api_management_api` `subscription_required` default to `true`
  azurerm/internal/services/apimanagement/api_management_api_resource.go
Labels: bug, regression, service/api-management, size/XS

#8619 `azurerm_kubernetes_cluster` - `min_count` can be updated when `enable_auto_scaling` is set to true
  azurerm/internal/services/containers/kubernetes_nodepool.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_upgrade_test.go
Labels: bug, service/kubernetes-cluster, size/M

#8983 r/key_vault: ensuring the casing on the sku is consistent
  azurerm/internal/services/keyvault/key_vault_resource.go
Labels: enhancement, service/keyvault, size/XS

#9001 Fix subcategories in docs
  website/docs/r/virtual_desktop_application_group.html.markdown
  website/docs/r/virtual_desktop_host_pool.html.markdown
  website/docs/r/virtual_desktop_workspace.html.markdown
  website/docs/r/virtual_desktop_workspace_application_group_association.html.markdown
Labels: documentation, size/XS

#8997 Fix azurerm_databricks_workspace.name validation
  azurerm/internal/services/databricks/databricks_workspace_resource.go
  azurerm/internal/services/databricks/tests/databricks_workspace_resource_test.go
Labels: bug, service/databricks, size/M

#9010 `azurerm_cosmosdb_account` support `EnableAnalyticalStorage ` for the `capabilities` property
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/XS

#8995 New Resource: `azurerm_log_analytics_data_export_rule`
  azurerm/internal/services/desktopvirtualization/registration.go
  azurerm/internal/services/loganalytics/client/client.go
  azurerm/internal/services/loganalytics/log_analytics_data_export_resource.go
  azurerm/internal/services/loganalytics/parse/log_analytics_data_export.go
  azurerm/internal/services/loganalytics/parse/log_analytics_data_export_test.go
  azurerm/internal/services/loganalytics/registration.go
  azurerm/internal/services/loganalytics/tests/log_analytics_data_export_resource_test.go
  azurerm/internal/services/loganalytics/validate/log_analytics_data_export.go
  azurerm/internal/services/loganalytics/validate/log_analytics_data_export_test.go
  website/azurerm.erb
  website/docs/r/log_analytics_data_export.html.markdown
Labels: documentation, service/log-analytics, size/XL

#8610 feat: CDN endpoint disable default value for compression
  azurerm/internal/services/cdn/cdn_endpoint_resource.go
  azurerm/internal/services/cdn/migration/cdn_endpoint.go
  azurerm/internal/services/cdn/tests/cdn_endpoint_resource_test.go
  website/docs/r/cdn_endpoint.html.markdown
Labels: documentation, service/cdn, size/M

#9017 Doc Fix: Front Door names must be globally unique and hostname reqs are accurately defined
  website/docs/r/frontdoor.html.markdown
Labels: documentation, service/frontdoor, size/XS

#9021 r/virtual_desktop_host_pool: `validation_environment`-> `validate_environment`
  website/docs/r/virtual_desktop_host_pool.html.markdown
Labels: bug, documentation, service/virtual-desktops, size/S

#8032 azurerm_iothub - support for the `endpoint.resource_group` property
  azurerm/helpers/azure/resource_group.go
  azurerm/internal/services/iothub/iothub_resource.go
  azurerm/internal/services/iothub/tests/iothub_resource_test.go
  website/docs/r/iothub.html.markdown
Labels: documentation, enhancement, service/iothub, size/M

#7924 `azurerm_container_group` - add support for `volume.x.git_repo`
  azurerm/internal/services/containers/container_group_resource.go
  azurerm/internal/services/containers/tests/container_group_resource_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/container-group, size/L

#8595 Adds new resource for azurerm_security_center_auto_provisioning
  azurerm/internal/services/securitycenter/azurerm_security_center_auto_provisioning.go
  azurerm/internal/services/securitycenter/client/client.go
  azurerm/internal/services/securitycenter/registration.go
  azurerm/internal/services/securitycenter/tests/azurerm_security_center_auto_provisioning_test.go
Labels: new-resource, service/security-center, size/L

#9025 Update api_management_authorization_server.html.markdown
  website/docs/r/api_management_authorization_server.html.markdown
Labels: documentation, service/api-management, size/XS

#9000 Update role_definition.html.markdown
  website/docs/r/role_definition.html.markdown
Labels: documentation, size/XS

#8993 r/app_service: fixing a crash when provisioning an app service inside an ASE which doesn't exist yet
  azurerm/internal/services/web/resource_arm_app_service.go
Labels: bug, crash, service/app-service, size/XS

#8996 Update data_factory_integration_runtime_managed.html.markdown - pricing tier from required to optional
  website/docs/r/data_factory_integration_runtime_managed.html.markdown
Labels: documentation, service/data-factory, size/XS

#8937 azurerm_key_vault - supports "contact" block
  azurerm/internal/services/keyvault/key_vault_resource.go
  azurerm/internal/services/keyvault/tests/key_vault_resource_test.go
  website/docs/r/key_vault.html.markdown
Labels: documentation, enhancement, service/keyvault, size/L

#8498 azurerm_automation_module - expose error message
  .teamcity/components/generated/services.kt
  azurerm/internal/services/automation/automation_module_resource.go
  website/allowed-subcategories
Labels: bug, documentation, service/automation, size/XS

#8863 new resource for `azurerm_synapse_role_assignment`
  azurerm/internal/clients/builder.go
  azurerm/internal/common/client_options.go
  azurerm/internal/services/synapse/client/client.go
  azurerm/internal/services/synapse/parse/synapse_role_assignment.go
  azurerm/internal/services/synapse/parse/synapse_role_assignment_test.go
  azurerm/internal/services/synapse/registration.go
  azurerm/internal/services/synapse/synapse_role_assignment_resource.go
  azurerm/internal/services/synapse/tests/synapse_role_assignment_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/2020-02-01-preview/accesscontrol/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/2020-02-01-preview/accesscontrol/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/2020-02-01-preview/accesscontrol/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/synapse_role_assignment.html.markdown
Labels: dependencies, documentation, new-resource, service/synapse, size/XXL

#9036 Add GH Actions for linting and unit testing
  .github/workflows/depscheck.yaml
  .github/workflows/lintrest.yaml
  .github/workflows/tflint.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/website-lint.yaml
  .github/workflows/website-test.yaml
  GNUmakefile
Labels: size/M, tooling

#9041 fixed Destop Virtualization refs
  website/docs/r/virtual_desktop_application_group.html.markdown
  website/docs/r/virtual_desktop_host_pool.html.markdown
  website/docs/r/virtual_desktop_workspace.html.markdown
  website/docs/r/virtual_desktop_workspace_application_group_association.html.markdown
Labels: documentation, size/XS

#8896 new resource: azurerm_vpn_site
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/parse/virtual_wan.go
  azurerm/internal/services/network/parse/virtual_wan_test.go
  azurerm/internal/services/network/parse/vpn_site.go
  azurerm/internal/services/network/parse/vpn_site_test.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/vpn_site_resource_test.go
  azurerm/internal/services/network/validate/virtual_wan.go
  azurerm/internal/services/network/validate/vpn_site.go
  azurerm/internal/services/network/vpn_site_resource.go
  website/azurerm.erb
  website/docs/r/vpn_site.html.markdown
Labels: documentation, new-resource, service/vpn, size/XXL

#9002 New Resource: `azurerm_log_analytics_linked_storage_account`
  azurerm/internal/services/loganalytics/client/client.go
  azurerm/internal/services/loganalytics/log_analytics_linked_storage_account_resource.go
  azurerm/internal/services/loganalytics/parse/log_analytics_linked_storage_account.go
  azurerm/internal/services/loganalytics/parse/log_analytics_linked_storage_account_test.go
  azurerm/internal/services/loganalytics/registration.go
  azurerm/internal/services/loganalytics/tests/log_analytics_linked_storage_account_resource_test.go
  azurerm/internal/services/loganalytics/validate/log_analytics_linked_storage_account.go
  azurerm/internal/services/loganalytics/validate/log_analytics_linked_storage_account_test.go
  website/azurerm.erb
  website/docs/r/log_analytics_data_export_rule.html.markdown
  website/docs/r/log_analytics_linked_storage_account.html.markdown
Labels: documentation, new-resource, service/log-analytics, size/XL

#8998 azurerm_local_network_gateway: support for `gateway_fqdn`
  azurerm/internal/services/network/local_network_gateway_resource.go
  azurerm/internal/services/network/tests/local_network_gateway_resource_test.go
  website/docs/r/local_network_gateway.html.markdown
Labels: documentation, enhancement, service/local-network-gateway, size/M

#9034 azurerm_log_analytics_saved_search - support for `tags`
  azurerm/internal/services/loganalytics/log_analytics_saved_search_resource.go
  azurerm/internal/services/loganalytics/tests/log_analytics_saved_search_resource_test.go
  website/docs/r/log_analytics_saved_search.html.markdown
Labels: documentation, enhancement, service/log-analytics, size/M

#9061 remove travis CI
  .travis.yml
Labels: refactor, size/S

#9055 Validate source_image_reference values
  azurerm/internal/services/compute/shared_schema.go
Labels: enhancement, size/XS

#9030 ISSUE Fixed: azurerm_virtual_desktop_application_group name allowed length is 3-31, should be 1-260 #8980
  azurerm/internal/services/desktopvirtualization/virtual_desktop_application_group_resource.go
Labels: bug, service/virtual-desktops, size/XS

#9048 `azurerm_log_analytics_solution` - add support of `tags`
  azurerm/internal/services/loganalytics/log_analytics_solution_resource.go
  azurerm/internal/services/loganalytics/tests/log_analytics_solution_resource_test.go
  website/docs/r/log_analytics_solution.html.markdown
Labels: documentation, size/XS

#9068 `azurerm_private_endpoint` - fix crash when deleting private endpoint
  azurerm/internal/services/network/private_endpoint_resource.go
Labels: crash, service/virtual-networks, size/XS

#8822 `azurerm_backup_policy_vm` support `instant_restore_retention_days` property
  azurerm/internal/services/recoveryservices/resource_arm_backup_policy_vm.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_backup_policy_vm_test.go
  website/docs/r/backup_policy_vm.markdown
Labels: documentation, enhancement, service/recovery-services, size/M

#8829 Add timezone logic app recurrence
  azurerm/internal/services/logic/logic_app_trigger_recurrence_resource.go
  azurerm/internal/services/logic/tests/logic_app_trigger_recurrence_resource_test.go
  website/docs/r/logic_app_trigger_recurrence.html.markdown
Labels: documentation, enhancement, service/log-analytics, size/L

#9081 Add tflint ignores
  scripts/run-tflint.sh
Labels: size/XS

#8617 Update private_dns_zone_virtual_network_link_resource.go
  azurerm/internal/services/privatedns/private_dns_zone_virtual_network_link_resource.go
  azurerm/internal/services/privatedns/tests/private_dns_zone_virtual_network_link_resource_test.go
Labels: bug, service/dns, size/S

#9078 `azurerm_policy_definition` resource and datasource can now look up builtin policy by name
  azurerm/internal/services/policy/policy.go
  azurerm/internal/services/policy/tests/policy_definition_data_source_test.go
Labels: enhancement, service/policy, size/S

#8773 New data source: azurerm_cognitive_account
  azurerm/internal/services/cognitive/cognitive_account_data_source.go
  azurerm/internal/services/cognitive/registration.go
  azurerm/internal/services/cognitive/tests/cognitive_account_data_source_test.go
  website/docs/d/cognitive_account.html.markdown
Labels: documentation, new-resource, service/cognitive-services, size/L

#9077 azurerm_dev_test_policy - fixed deletion
  azurerm/internal/services/devtestlabs/dev_test_policy_resource.go
Labels: bug, service/devtestlabs, size/XS

#9086 r/vpn_site: fixing the build on 32 bit platforms
  azurerm/internal/services/network/vpn_site_resource.go
Labels: bug, size/XS

#9105 Adds docs for security_center_auto_provisioning
  website/docs/r/security_center_auto_provisioning.html.markdown
Labels: documentation, service/security-center, size/S

#9106 resolving linting issues
  azurerm/internal/services/cdn/cdn_endpoint_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/frontdoor/migration/web_application_firewall_policy.go
  azurerm/internal/services/iottimeseriesinsights/resource_iot_time_series_insights_standard_environment.go
  azurerm/internal/services/keyvault/key_vault_certificate_issuer_data_source.go
  azurerm/internal/services/loganalytics/log_analytics_linked_storage_account_resource.go
  azurerm/internal/services/monitor/monitor_metric_alert_resource.go
  azurerm/internal/services/network/virtual_network_gateway_connection_data_source.go
  azurerm/internal/services/policy/policy_set_definition_data_source.go
  azurerm/internal/services/policy/policy_set_definition_resource.go
  azurerm/internal/services/policy/tests/policy_assignment_resource_test.go
  azurerm/internal/services/policy/tests/policy_set_definition_data_source_test.go
  azurerm/internal/services/resource/template_deployment_resource_group_resource.go
  azurerm/internal/services/resource/template_deployment_subscription_resource.go
Labels: size/S, tests, tooling

#9108 reduce triggers to open and change to PR source branch
  .github/workflows/depscheck.yaml
  .github/workflows/lintrest.yaml
  .github/workflows/tflint.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/website-lint.yaml
  .github/workflows/website-test.yaml
Labels: size/XS, tooling

#8603 new resource: azurerm_firewall_policy_rule_collection_group
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/firewall_policy_resource.go
  azurerm/internal/services/network/firewall_policy_rule_collection_group_resource.go
  azurerm/internal/services/network/parse/firewall_policy.go
  azurerm/internal/services/network/parse/firewall_policy_test.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/firewall_policy_rule_collection_group_resource_test.go
  azurerm/internal/services/network/validate/firewall_policy.go
  website/azurerm.erb
  website/docs/r/firewall_policy_rule_collection_group.html.markdown
Labels: documentation, new-data-source, new-resource, service/firewall, size/XXL

#9089 remove last use of NoEmptyStrings
  azurerm/internal/services/cosmos/cosmosdb_sql_stored_procedure_resource.go
Labels: bug, size/XS
