Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2020-01, with the labels that each got.

#5279 New Resource: `azurerm_api_management_identity_provider_google`
  azurerm/helpers/validate/google.go
  azurerm/helpers/validate/google_test.go
  azurerm/internal/services/apimanagement/registration.go
  azurerm/internal/services/apimanagement/resource_arm_api_management_identity_provider_google.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_google_test.go
  website/docs/r/api_management_identity_provider_google.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#5283 Add depscheck step to travis
  .travis.yml
  GNUmakefile
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/dns/mgmt/2018-05-01/dns/dnsapi/interfaces.go
  vendor/github.com/hashicorp/terraform/LICENSE
  vendor/github.com/hashicorp/terraform/helper/acctest/acctest.go
  vendor/github.com/hashicorp/terraform/helper/acctest/random.go
  vendor/github.com/hashicorp/terraform/helper/acctest/remotetests.go
  vendor/modules.txt
Labels: dependencies, provider, size/XL, tests

#5284 d/automation_account: fixing the data source name in the docs
  website/docs/d/automation_account.html.markdown
Labels: bug, documentation, service/automation, size/XS

#5287 d/resources: minor docs fixes
  website/docs/d/resources.html.markdown
Labels: documentation, service/resources, size/XS

#5288 d/virtual_machine -> compute
  azurerm/internal/services/compute/data_source_virtual_machine.go
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/tests/data_source_virtual_machine_test.go
  azurerm/internal/services/network/registration.go
Labels: refactor, service/virtual-machine, size/XS

#5291 r/management_lock: fixing the filename
  azurerm/internal/services/resource/resource_arm_management_lock.go
Labels: bug, refactor, size/XS

#5293 Fix example casing, add some defaults
  website/docs/r/app_service_certificate_order.html.markdown
Labels: documentation, service/app-service, size/XS

#5292 provider tests: ensure config function is called within test step [a-d]
  azurerm/internal/services/analysisservices/tests/resource_arm_analysis_services_server_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_diagnostic_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_group_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_aad_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_google_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_property_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_test.go
  azurerm/internal/services/applicationinsights/tests/resource_arm_application_insights_analytics_item_test.go
  azurerm/internal/services/applicationinsights/tests/resource_arm_application_insights_api_key_test.go
  azurerm/internal/services/applicationinsights/tests/resource_arm_application_insights_test.go
  azurerm/internal/services/applicationinsights/tests/resource_arm_application_insights_webtests_test.go
  azurerm/internal/services/batch/tests/data_source_batch_account_test.go
  azurerm/internal/services/batch/tests/data_source_batch_pool_test.go
  azurerm/internal/services/batch/tests/resource_arm_batch_certificate_test.go
  azurerm/internal/services/bot/tests/resource_arm_bot_channel_ms_teams_test.go
  azurerm/internal/services/bot/tests/resource_arm_bot_channel_slack_test.go
  azurerm/internal/services/bot/tests/resource_arm_bot_channels_registration_test.go
  azurerm/internal/services/bot/tests/resource_arm_bot_connection_test.go
  azurerm/internal/services/bot/tests/resource_arm_bot_web_app_test.go
  azurerm/internal/services/cdn/tests/resource_arm_cdn_endpoint_test.go
  azurerm/internal/services/cdn/tests/resource_arm_cdn_profile_test.go
  azurerm/internal/services/cognitive/tests/resource_arm_cognitive_account_test.go
  azurerm/internal/services/compute/tests/data_source_virtual_machine_test.go
  azurerm/internal/services/compute/tests/resource_arm_availability_set_test.go
  azurerm/internal/services/compute/tests/resource_arm_image_test.go
  azurerm/internal/services/compute/tests/resource_arm_managed_disk_test.go
  azurerm/internal/services/compute/tests/resource_arm_proximity_placement_group_test.go
  azurerm/internal/services/compute/tests/resource_arm_snapshot_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_data_disk_attachment_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_extension_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_managed_disks_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_scale_set_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_unmanaged_disks_test.go
  azurerm/internal/services/containers/tests/data_source_kubernetes_cluster_test.go
  azurerm/internal/services/containers/tests/resource_arm_container_group_test.go
  azurerm/internal/services/containers/tests/resource_arm_container_registry_webhook_test.go
  azurerm/internal/services/containers/tests/resource_arm_container_service_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_account_failover_test.go
  azurerm/internal/services/datafactory/tests/resource_arm_data_factory_pipeline_test.go
  azurerm/internal/services/devtestlabs/tests/data_source_dev_test_virtual_network_test.go
  azurerm/internal/services/devtestlabs/tests/resource_arm_dev_test_lab_schedule_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_a_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_aaaa_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_caa_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_cname_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_mx_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_ns_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_ptr_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_srv_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_txt_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_zone_test.go
Labels: provider, size/XXL, tests

#5312 provider doc: format terraform blocks
  website/docs/d/nat_gateway.html.markdown
  website/docs/d/resources.html.markdown
  website/docs/guides/migrating-between-renamed-resources.html.markdown
  website/docs/r/api_management_diagnostic.html.markdown
  website/docs/r/app_configuration.html.markdown
  website/docs/r/app_service_virtual_network_association.html.markdown
  website/docs/r/automation_certificate.html.markdown
  website/docs/r/automation_job_schedule.html.markdown
  website/docs/r/cosmosdb_sql_container.html.markdown
  website/docs/r/dashboard.html.markdown
  website/docs/r/data_factory_trigger_schedule.html.markdown
  website/docs/r/dns_aaaa_record.html.markdown
  website/docs/r/iothub_dps_shared_access_policy.html.markdown
  website/docs/r/iothub_endpoint_eventhub.html.markdown
  website/docs/r/iothub_endpoint_servicebus_queue.html.markdown
  website/docs/r/iothub_endpoint_servicebus_topic.html.markdown
  website/docs/r/iothub_endpoint_storage_container.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/mssql_server_security_alert_policy.html.markdown
  website/docs/r/mssql_server_vulnerability_assessment.html.markdown
  website/docs/r/nat_gateway.html.markdown
  website/docs/r/netapp_account.html.markdown
  website/docs/r/netapp_pool.html.markdown
  website/docs/r/netapp_snapshot.html.markdown
  website/docs/r/netapp_volume.html.markdown
  website/docs/r/network_watcher_flow_log.html.markdown
  website/docs/r/point_to_site_vpn_gateway.html.markdown
  website/docs/r/private_endpoint.html.markdown
  website/docs/r/private_link_endpoint.html.markdown
  website/docs/r/signalr_service.html.markdown
  website/docs/r/site_recovery_protection_container_mapping.html.markdown
  website/docs/r/storage_account_network_rules.html.markdown
  website/docs/r/stream_analytics_reference_input_blob.html.markdown
  website/docs/r/stream_analytics_stream_input_blob.html.markdown
  website/docs/r/subnet_nat_gateway_association.html.markdown
  website/docs/r/virtual_machine_scale_set_extension.html.markdown
Labels: documentation, provider, size/XL

#5314 relay - add azurerm_relay_hybrid_connection to sidebar
  website/azurerm.erb
Labels: documentation, service/relay, size/XS

#5308 azurerm_virtual_machine: fix nil panic in expandAzureRmVirtualMachineOsProfileSecrets
  azurerm/internal/services/compute/resource_arm_virtual_machine.go
Labels: bug, service/virtual-machine, size/XS

#5315 Correct / Clarify App Service Certificate Documentation
  website/docs/r/app_service_certificate.html.markdown
Labels: documentation, service/app-service, size/XS

#5289 r/storage_account: making the resource group name case sensitive
  azurerm/internal/services/automation/data_source_automation_account.go
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/web/data_source_app_service.go
Labels: enhancement, service/storage, size/XS

#5324 azurerm_app_configuration: treat resource group name as case insensitive
  azurerm/internal/services/appconfiguration/resource_arm_app_configuration.go
Labels: bug, service/app-configuration, size/XS

#5278 r/kubernetes_cluster: renaming `managed_cluster_identity` to `identity`
  azurerm/internal/services/containers/resource_arm_kubernetes_cluster.go
  azurerm/internal/services/containers/tests/data_source_kubernetes_cluster_test.go
  azurerm/internal/services/containers/tests/helpers_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_addons_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_auth_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_legacy_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_network_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_node_pool_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_other_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_scaling_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/XXL

#5338 fixed a few test configs that were mangled during the refactor
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_reference_input_blob_test.go
Labels: size/XS, tests

#5336 New data source: 'azurerm_iothub_dps'
  azurerm/internal/services/iothub/data_source_iothub_dps.go
  azurerm/internal/services/iothub/registration.go
  azurerm/internal/services/iothub/tests/data_source_iothub_dps_test.go
  website/azurerm.erb
  website/docs/d/iothub_dps.html.markdown
Labels: documentation, new-data-source, service/iothub, size/L

#5306 New Resource: `azurerm_api_management_identity_provider_twitter`
  azurerm/internal/services/apimanagement/registration.go
  azurerm/internal/services/apimanagement/resource_arm_api_management_identity_provider_twitter.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_twitter_test.go
  website/docs/r/api_management_identity_provider_twitter.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#5319 azurerm_function_app: convert `connection_string`s from a `TypList` to a `TypeSet` (#3596)
  azurerm/internal/services/web/resource_arm_function_app.go
Labels: enhancement, service/functions, size/XS, waiting-response

#5261 Add test for changing loadbalancer health probe on VMSS #4794
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_other_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_other_test.go
Labels: service/vmss, size/XL, tests

#5337 provider: format acctest tf blocks again
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_api_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_diagnostic_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_aad_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_google_test.go
  azurerm/internal/services/automation/tests/data_source_automation_account_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_job_schedule_test.go
  azurerm/internal/services/compute/tests/resource_arm_shared_image_version_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_scale_set_extension_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_node_pool_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_other_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_cassandra_keyspace_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_sql_container_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_table_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_a_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_aaaa_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_cname_record_test.go
  azurerm/internal/services/hdinsight/tests/resource_arm_hdinsight_hadoop_cluster_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_dps_shared_access_policy_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_endpoint_eventhub_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_endpoint_servicebus_queue_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_endpoint_servicebus_topic_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_endpoint_storage_container_test.go
  azurerm/internal/services/monitor/tests/resource_arm_monitor_action_group_test.go
  azurerm/internal/services/monitor/tests/resource_arm_monitor_diagnostic_setting_test.go
  azurerm/internal/services/mssql/tests/resource_arm_mssql_server_security_alert_policy_test.go
  azurerm/internal/services/netapp/tests/resource_arm_netapp_account_test.go
  azurerm/internal/services/netapp/tests/resource_arm_netapp_volume_test.go
  azurerm/internal/services/network/tests/data_source_private_link_service_endpoint_connections_test.go
  azurerm/internal/services/network/tests/resource_arm_application_gateway_test.go
  azurerm/internal/services/network/tests/resource_arm_network_watcher_flow_log_test.go
  azurerm/internal/services/network/tests/resource_arm_point_to_site_vpn_gateway_test.go
  azurerm/internal/services/network/tests/resource_arm_private_endpoint_test.go
  azurerm/internal/services/network/tests/resource_arm_private_link_service_test.go
  azurerm/internal/services/network/tests/resource_arm_virtual_hub_test.go
  azurerm/internal/services/network/tests/resource_arm_vpn_gateway_test.go
  azurerm/internal/services/network/tests/resource_arm_vpn_server_configuration_test.go
  azurerm/internal/services/privatedns/tests/resource_arm_private_dns_mx_record_test.go
  azurerm/internal/services/privatedns/tests/resource_arm_private_dns_srv_record_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_backup_container_storage_account_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_backup_protected_file_share_test.go
  azurerm/internal/services/relay/tests/resource_arm_relay_hybrid_connection_test.go
  azurerm/internal/services/servicebus/tests/resource_arm_servicebus_subscription_test.go
  azurerm/internal/services/signalr/tests/resource_arm_signalr_service_test.go
  azurerm/internal/services/sql/tests/resource_arm_sql_server_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_network_rules_test.go
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_reference_input_blob_test.go
  azurerm/internal/services/web/tests/resource_arm_app_service_virtual_network_association_test.go
Labels: size/XXL, tests

#5309 azurerm_batch_pool - support for the `metadata` property (#4611)
  azurerm/helpers/azure/batch_pool.go
  azurerm/internal/services/batch/data_source_batch_pool.go
  azurerm/internal/services/batch/resource_arm_batch_pool.go
  azurerm/internal/services/batch/tests/data_source_batch_pool_test.go
  azurerm/internal/services/batch/tests/resource_arm_batch_pool_test.go
  examples/batch/basic/main.tf
  website/docs/r/batch_pool.html.markdown
Labels: documentation, enhancement, service/batch, size/M

#5301 New Resource `azurerm_cosmosdb_gremlin_graph`
  azurerm/helpers/azure/cosmos.go
  azurerm/internal/services/cosmos/registration.go
  azurerm/internal/services/cosmos/resource_arm_cosmosdb_gremlin_graph.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_gremlin_graph_test.go
  website/azurerm.erb
  website/docs/r/cosmosdb_gremlin_graph.html.markdown
Labels: documentation, new-resource, service/cosmosdb, size/XXL, waiting-response

#5318 azurerm_api_management_operation - will no longer panic on missing values in `request`
  azurerm/internal/services/apimanagement/resource_arm_api_management_api_operation.go
Labels: bug, service/api-management, size/XS

#5343 tests: data.Locations -> data.Locatins.Primary
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_certificate_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_test.go
Labels: service/api-management, size/XS, tests

#5326 provider: add website terraform block linting
  .travis.yml
  GNUmakefile
  scripts/website-registrycheck.sh
  scripts/website-tf-formatcheck.sh
  website/docs/d/iothub_dps.html.markdown
  website/docs/r/cosmosdb_gremlin_graph.html.markdown
Labels: documentation, provider, size/L, tests

#5316 azurerm_storage_account - fix performance issue for accounts that don't support queues
  azurerm/internal/services/storage/resource_arm_storage_account.go
Labels: enhancement, service/storage, size/S

#5339 r/kubernetes_cluster: switching back to parallel tests
  azurerm/internal/services/containers/resource_arm_kubernetes_cluster.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_addons_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_auth_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_legacy_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_network_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_node_pool_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_other_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_scaling_test.go
Labels: refactor, service/kubernetes-cluster, size/L

#5346 New Resource: `azurerm_api_management_identity_provider_facebook`
  azurerm/internal/services/apimanagement/registration.go
  azurerm/internal/services/apimanagement/resource_arm_api_management_identity_provider_facebook.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_facebook_test.go
  website/docs/r/api_management_identity_provider_facebook.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#5307 New Data Source/Resource: `azurerm_dedicated_host_group`
  azurerm/internal/services/compute/client/client.go
  azurerm/internal/services/compute/data_source_dedicated_host_group.go
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/resource_arm_dedicated_host_group.go
  azurerm/internal/services/compute/tests/data_source_dedicated_host_group_test.go
  azurerm/internal/services/compute/tests/resource_arm_dedicated_host_group_test.go
  website/azurerm.erb
  website/docs/d/dedicated_host_group.html.markdown
  website/docs/r/dedicated_host_group.html.markdown
Labels: documentation, new-resource, service/dedicated-hosts, size/XL

#5349 Fix Attributes Reference heading
  website/docs/r/loadbalancer_rule.html.markdown
Labels: documentation, size/XS

#5357 provider tests: switch to using tfproviderdoc linter
  GNUmakefile
  scripts/website-registrycheck.sh
  scripts/website-tf-formatcheck.sh
  website/allowed-subcategories
  website/docs/d/netapp_pool.html.markdown
  website/docs/d/netapp_snapshot.html.markdown
  website/docs/d/netapp_volume.html.markdown
  website/docs/r/api_management_identity_provider_facebook.html.markdown
  website/docs/r/api_management_identity_provider_twitter.html.markdown
  website/docs/r/cosmosdb_gremlin_graph.html.markdown
Labels: documentation, size/M, tests

#5249 Add new resource & data source: azurerm_disk_encryption_set
  azurerm/internal/services/compute/client/client.go
  azurerm/internal/services/compute/data_source_disk_encryption_set.go
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/resource_arm_disk_encryption_set.go
  azurerm/internal/services/compute/tests/data_source_disk_encryption_set_test.go
  azurerm/internal/services/compute/tests/resource_arm_disk_encryption_set_test.go
  azurerm/internal/services/compute/validation.go
  azurerm/internal/services/compute/validation_test.go
  website/azurerm.erb
  website/docs/d/disk_encryption_set.html.markdown
  website/docs/r/disk_encryption_set.html.markdown
Labels: documentation, new-resource, preview, service/disks, size/XXL

#5364 Add missing resources to website
  website/azurerm.erb
Labels: documentation, size/S

#5368 New data source: 'azurerm_iothub_shared_access_policy'
  azurerm/internal/services/iothub/data_source_iothub_shared_access_policy.go
  azurerm/internal/services/iothub/registration.go
  azurerm/internal/services/iothub/tests/data_source_iothub_shared_access_policy_test.go
  website/azurerm.erb
  website/docs/d/iothub_shared_access_policy.html.markdown
Labels: documentation, new-data-source, service/iothub, size/L

#5361 R/relays resourceids
  azurerm/internal/services/relay/hybrid_connection.go
  azurerm/internal/services/relay/hybrid_connection_test.go
  azurerm/internal/services/relay/relay_namespace.go
  azurerm/internal/services/relay/relay_namespace_test.go
  azurerm/internal/services/relay/resource_arm_relay_hybrid_connection.go
  azurerm/internal/services/relay/resource_arm_relay_namespace.go
Labels: enhancement, service/relay, size/XL

#5356 analysisservices - add ID parsing function
  azurerm/internal/services/analysisservices/analysis_services_server_resource.go
  azurerm/internal/services/analysisservices/parse/analysis_services_server.go
  azurerm/internal/services/analysisservices/parse/analysis_services_server_test.go
  azurerm/internal/services/analysisservices/tests/analysis_services_server_resource_test.go
Labels: enhancement, service/analysis, size/L

#5369 New Resource: `azurerm_api_management_identity_provider_microsoft`
  azurerm/internal/services/apimanagement/registration.go
  azurerm/internal/services/apimanagement/resource_arm_api_management_identity_provider_microsoft.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_microsoft_test.go
  website/docs/r/api_management_identity_provider_microsoft.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#5383 Use EightFullStopZero for azurerm_mysql_server version validation
  azurerm/internal/services/mysql/resource_arm_mysql_server.go
Labels: service/mysql, size/XS

#5381 tests: fix a number of typos in required import test cfgs
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_gremlin_database_test.go
  azurerm/internal/services/mysql/tests/resource_arm_mysql_server_test.go
  azurerm/internal/services/netapp/tests/resource_arm_netapp_account_test.go
  azurerm/internal/services/netapp/tests/resource_arm_netapp_pool_test.go
  azurerm/internal/services/netapp/tests/resource_arm_netapp_snapshot_test.go
  azurerm/internal/services/netapp/tests/resource_arm_netapp_volume_test.go
Labels: bug, size/XS, tests

#5386 F/virtual machine ids
  azurerm/internal/services/compute/virtual_machine.go
  azurerm/internal/services/compute/virtual_machine_extension.go
  azurerm/internal/services/compute/virtual_machine_extension_test.go
  azurerm/internal/services/compute/virtual_machine_test.go
Labels: enhancement, service/virtual-machine, service/virtual-machine-extensions, size/L

#5363 Add ability to specify test timeout for Acceptance Tests
  GNUmakefile
  README.md
Labels: size/XS

#5376 azurerm_postgresql_server: deprecate sku in favour of sku_name
  azurerm/internal/services/postgres/resource_arm_postgresql_server.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_configuration_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_database_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_firewall_rule_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_server_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_virtual_network_rule_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/postgresql_configuration.html.markdown
  website/docs/r/postgresql_database.html.markdown
  website/docs/r/postgresql_server.html.markdown
  website/docs/r/postgresql_virtual_network_rule.html.markdown
Labels: documentation, enhancement, service/postgresql, size/XL, waiting-response

#5373 add enable_tcp_reset to azurerm_lb_rule & azurerm_lb_nat_rule
  azurerm/internal/services/automation/resource_arm_automation_credential.go
  azurerm/internal/services/automation/resource_arm_automation_schedule.go
  azurerm/internal/services/cosmos/resource_arm_cosmosdb_account.go
  azurerm/internal/services/keyvault/data_source_key_vault_key.go
  azurerm/internal/services/keyvault/data_source_key_vault_secret.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_access_policy.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_certificate.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_key.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_secret.go
  azurerm/internal/services/mssql/resource_arm_mssql_elasticpool.go
  azurerm/internal/services/network/data_source_virtual_network.go
  azurerm/internal/services/network/resource_arm_loadbalancer_nat_rule.go
  azurerm/internal/services/network/resource_arm_loadbalancer_rule.go
  azurerm/internal/services/network/tests/resource_arm_loadbalancer_nat_rule_test.go
  azurerm/internal/services/network/tests/resource_arm_loadbalancer_rule_test.go
  azurerm/internal/services/scheduler/resource_arm_scheduler_job_collection.go
  website/docs/r/loadbalancer_nat_rule.html.markdown
  website/docs/r/loadbalancer_rule.html.markdown
Labels: documentation, enhancement, service/load-balancers, size/XL, waiting-response

#5380 azurerm_cognitive_account: deprecate sku in favour of sku_name
  azurerm/internal/services/cognitive/resource_arm_cognitive_account.go
  azurerm/internal/services/cognitive/tests/resource_arm_cognitive_account_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, enhancement, service/devspace, size/L

#5379 azurerm_devspace_controller: deprecate sku in favour of sku_name
  azurerm/internal/services/devspace/resource_arm_devspace_controller.go
  azurerm/internal/services/devspace/tests/resource_arm_devspace_controller_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/devspace_controller.html.markdown
Labels: documentation, enhancement, service/devspace, size/L

#5378 azurerm_mariadb_server: deprecate sku in favour of sku_name
  azurerm/internal/services/mariadb/resource_arm_mariadb_server.go
  azurerm/internal/services/mariadb/tests/resource_arm_mariadb_database_test.go
  azurerm/internal/services/mariadb/tests/resource_arm_mariadb_server_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/mariadb_configuration.html.markdown
  website/docs/r/mariadb_database.html.markdown
  website/docs/r/mariadb_server.html.markdown
  website/docs/r/mariadb_virtual_network_rule.html.markdown
Labels: documentation, enhancement, service/mariadb, size/L

#5250 Update ManagedDisks for SSE-CMK feature
  azurerm/internal/services/compute/data_source_managed_disk.go
  azurerm/internal/services/compute/encryption_settings.go
  azurerm/internal/services/compute/resource_arm_managed_disk.go
  azurerm/internal/services/compute/tests/resource_arm_managed_disk_test.go
  azurerm/internal/services/compute/validation.go
  examples/managed-disks/encrypted/1-dependencies.tf
  examples/managed-disks/encrypted/2-soft-delete.tf
  examples/managed-disks/encrypted/README.md
  examples/managed-disks/encrypted/main.tf
  examples/managed-disks/encrypted/variables.tf
  website/docs/d/managed_disk.html.markdown
  website/docs/r/managed_disk.html.markdown
Labels: documentation, enhancement, service/disks, size/XL

#5377 azurerm_mysql_server: deprecate sku in favour of sku_name
  azurerm/internal/services/mysql/resource_arm_mysql_server.go
  azurerm/internal/services/mysql/tests/resource_arm_mysql_configuration_test.go
  azurerm/internal/services/mysql/tests/resource_arm_mysql_database_test.go
  azurerm/internal/services/mysql/tests/resource_arm_mysql_firewall_rule_test.go
  azurerm/internal/services/mysql/tests/resource_arm_mysql_server_test.go
  azurerm/internal/services/mysql/tests/resource_arm_mysql_virtual_network_rule_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/mysql_configuration.html.markdown
  website/docs/r/mysql_database.html.markdown
  website/docs/r/mysql_server.html.markdown
  website/docs/r/mysql_virtual_network_rule.html.markdown
Labels: documentation, enhancement, service/mysql, size/XL

#5382 azurerm_iothub & azurerm_iothub_dps: deprecate the sku.tier property
  azurerm/internal/services/iothub/resource_arm_iot_dps.go
  azurerm/internal/services/iothub/resource_arm_iothub.go
  azurerm/internal/services/iothub/resource_arm_iothub_dps.go
  azurerm/internal/services/iothub/tests/resource_arm_iot_dps_certificate_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iot_dps_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_dps_certificate_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_dps_shared_access_policy_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_dps_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_fallback_route_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_route_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_test.go
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_stream_input_iothub_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/iothub.html.markdown
  website/docs/r/iothub_consumer_group.html.markdown
  website/docs/r/iothub_dps.html.markdown
  website/docs/r/iothub_dps_certificate.html.markdown
  website/docs/r/iothub_dps_shared_access_policy.html.markdown
  website/docs/r/iothub_endpoint_storage_container.html.markdown
  website/docs/r/iothub_fallback_route.html.markdown
  website/docs/r/iothub_route.html.markdown
  website/docs/r/iothub_shared_access_policy.html.markdown
  website/docs/r/stream_analytics_stream_input_iothub.html.markdown
Labels: documentation, enhancement, service/iothub, size/M

#5367 New data source: 'azurerm_eventgrid_topic'
  azurerm/internal/services/eventgrid/data_source_eventgrid_topic.go
  azurerm/internal/services/eventgrid/registration.go
  azurerm/internal/services/eventgrid/resource_arm_eventgrid_topic.go
  azurerm/internal/services/eventgrid/tests/data_source_eventgrid_topic_test.go
  website/azurerm.erb
  website/docs/d/eventgrid_topic.html.markdown
Labels: documentation, new-data-source, service/event-grid, size/L

#5374 New Data Source: `azurerm_storage_container`
  azurerm/internal/services/storage/data_source_storage_container.go
  azurerm/internal/services/storage/registration.go
  azurerm/internal/services/storage/tests/data_source_storage_container_test.go
  website/azurerm.erb
  website/docs/d/storage_container.html.markdown
Labels: documentation, new-data-source, service/storage, size/L

#5252 r/(linux|windows)_virtual_machine_scale_set - support for Disk Encryption Sets
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_disk_data_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_disk_os_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_images_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_other_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_disk_data_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_disk_os_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, enhancement, service/vmss, size/XL

#5424 d/storage_container: fixing the sidebar
  website/azurerm.erb
Labels: bug, documentation, service/storage, size/XS

#5422 Fix output name error: 2-vms-loadbalancer-lbrules
  examples/virtual-machines/2-vms-loadbalancer-lbrules/outputs.tf
Labels: documentation, size/XS

#5428 Bug Fix: fixes crash in `azurerm_private_link_service`
  azurerm/internal/services/network/resource_arm_private_link_service.go
Labels: crash, service/private-link, size/XS

#5427 refactor: ensuring custom polling methods support custom timeouts
  azurerm/internal/services/hdinsight/common_hdinsight.go
  azurerm/internal/services/hdinsight/resource_arm_hdinsight_hadoop_cluster.go
  azurerm/internal/services/netapp/resource_arm_netapp_pool.go
  azurerm/internal/services/netapp/resource_arm_netapp_volume.go
  azurerm/internal/services/sql/resource_arm_sql_database.go
Labels: refactor, size/S

#5414 Bug Fix: fix crash in `azurerm_app_service`
  azurerm/helpers/azure/app_service.go
Labels: crash, service/app-service, size/XS

#5409 appconfiguration: add parse ID and function
  azurerm/internal/services/appconfiguration/parse/app_configuration.go
  azurerm/internal/services/appconfiguration/parse/app_configuration_test.go
  azurerm/internal/services/appconfiguration/resource_arm_app_configuration.go
  azurerm/internal/services/appconfiguration/tests/resource_arm_app_configuration_test.go
Labels: enhancement, service/app-configuration, size/L

#5415 Bug Fix: Fix Crash in `azurerm_container_group`
  azurerm/internal/services/containers/resource_arm_container_group.go
Labels: crash, service/container-service, size/XS

#5384 tests & linting: add check to ensure acctest tf configs are correctly formatted
  .travis.yml
  GNUmakefile
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_facebook_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_microsoft_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_identity_provider_twitter_test.go
  azurerm/internal/services/compute/tests/data_source_dedicated_host_group_test.go
  azurerm/internal/services/compute/tests/resource_arm_dedicated_host_group_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_disk_data_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_disk_os_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_images_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_other_test.go
  azurerm/internal/services/compute/tests/resource_arm_managed_disk_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_scale_set_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_disk_data_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_disk_os_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_other_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_auth_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_network_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_gremlin_database_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_gremlin_graph_test.go
  azurerm/internal/services/iothub/tests/data_source_iothub_dps_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_test.go
  azurerm/internal/services/mariadb/tests/resource_arm_mariadb_server_test.go
  azurerm/internal/services/monitor/tests/data_source_monitor_action_group_test.go
  azurerm/internal/services/mssql/tests/resource_arm_mssql_server_vulnerability_assessment_test.go
  azurerm/internal/services/netapp/tests/resource_arm_netapp_pool_test.go
  azurerm/internal/services/network/tests/resource_arm_loadbalancer_nat_rule_test.go
  azurerm/internal/services/network/tests/resource_arm_loadbalancer_rule_test.go
  azurerm/internal/services/network/tests/resource_arm_subnet_nat_gateway_association_test.go
  azurerm/internal/services/policy/tests/resource_arm_policy_set_definition_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_configuration_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_database_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_firewall_rule_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_server_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_virtual_network_rule_test.go
  azurerm/internal/services/scheduler/tests/resource_arm_scheduler_job_test.go
  azurerm/internal/services/storage/tests/data_source_storage_container_test.go
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_reference_input_blob_test.go
  scripts/terrafmt-acctests.sh
  scripts/terrafmt-website.sh
Labels: size/XL, tests

#5341 Add new test function `RandomIntOfLegth()`
  azurerm/internal/acceptance/data.go
  azurerm/internal/acceptance/data_test.go
  azurerm/internal/services/healthcare/tests/resource_arm_healthcare_service_test.go
  azurerm/internal/services/monitor/tests/resource_arm_monitor_diagnostic_setting_test.go
  azurerm/internal/services/network/tests/resource_arm_network_watcher_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_backup_policy_vm_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_protection_policy_vm_test.go
Labels: size/M, tests

#5436 Changelog typo fix
  CHANGELOG.md
Labels: size/XS

#5325 Create MongoDB v3.6 with azurerm_cosmosdb_account (#4757)
  azurerm/internal/services/cosmos/resource_arm_cosmosdb_account.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/S

#5393 F/virtual machine extension by ID fixes #2456
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/resource_arm_virtual_machine_extension.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_extension_test.go
  website/docs/r/virtual_machine_extension.html.markdown
Labels: documentation, enhancement, service/virtual-machine-extensions, size/XL

#5449 azurerm_logic_app_workflow - Documentation typo fix
  website/docs/r/logic_app_workflow.html.markdown
Labels: documentation, service/logic, size/XS

#3889 r/databricks_workspace: support for workspace parameters
  azurerm/internal/services/databricks/resource_arm_databricks_workspace.go
  azurerm/internal/services/databricks/tests/resource_arm_databricks_workspace_test.go
  website/docs/r/databricks_workspace.html.markdown
Labels: documentation, enhancement, service/databricks, size/L

#5456 Add more support for new tier of azurerm_express_route_circuit
  azurerm/internal/services/network/resource_arm_express_route_circuit.go
  website/docs/d/express_route_circuit.html.markdown
  website/docs/r/express_route_circuit.html.markdown
Labels: documentation, enhancement, service/express-route, size/XS

#5419 `azurerm_network_watcher_flow_log` - support for `version`
  azurerm/internal/services/network/resource_arm_network_watcher_flow_log.go
  azurerm/internal/services/network/tests/resource_arm_network_watcher_flow_log_test.go
  azurerm/internal/services/network/tests/resource_arm_network_watcher_test.go
  website/docs/r/network_watcher_flow_log.html.markdown
Labels: documentation, service/network-watcher, size/M

#5443 postgres - add server name validation
  azurerm/internal/services/postgres/resource_arm_postgresql_configuration.go
  azurerm/internal/services/postgres/resource_arm_postgresql_database.go
  azurerm/internal/services/postgres/resource_arm_postgresql_firewall_rule.go
  azurerm/internal/services/postgres/resource_arm_postgresql_server.go
  azurerm/internal/services/postgres/resource_arm_postgresql_virtual_network_rule.go
  azurerm/internal/services/postgres/tests/data_source_postgresql_server_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_configuration_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_database_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_firewall_rule_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_server_test.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_virtual_network_rule_test.go
Labels: service/postgresql, size/L

#5454 provider: add additional tfproviderlint checks and fix errors
  GNUmakefile
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_account_test.go
  azurerm/internal/services/healthcare/resource_arm_healthcare_service.go
  azurerm/internal/services/network/resource_arm_application_gateway.go
  azurerm/internal/services/securitycenter/tests/resource_arm_security_center_subscription_pricing_test.go
  azurerm/internal/services/securitycenter/tests/resource_arm_security_center_workspace_test.go
  azurerm/internal/services/storage/metadata.go
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/tags/schema.go
Labels: size/M, tests

#5413 Bug Fix: Fix crash in `azurerm_virtual_machine`
  azurerm/internal/services/compute/resource_arm_virtual_machine.go
Labels: crash, service/virtual-machine, size/XS

#5471 azurerm_traffic_manager_profile - add expected_status_code_ranges
  azurerm/internal/services/trafficmanager/data_source_traffic_manager_geographical_location.go
  azurerm/internal/services/trafficmanager/resource_arm_traffic_manager_endpoint.go
  azurerm/internal/services/trafficmanager/resource_arm_traffic_manager_profile.go
  azurerm/internal/services/trafficmanager/tests/resource_arm_traffic_manager_endpoint_test.go
  azurerm/internal/services/trafficmanager/tests/resource_arm_traffic_manager_profile_test.go
  website/docs/r/traffic_manager_profile.html.markdown
Labels: documentation, enhancement, service/traffic-manager, size/XL

#5469 azurerm_databricks_workspace: support for the no_public_ip custom parameter
  azurerm/internal/services/databricks/resource_arm_databricks_workspace.go
  azurerm/internal/services/databricks/tests/resource_arm_databricks_workspace_test.go
  website/docs/r/databricks_workspace.html.markdown
Labels: documentation, enhancement, service/databricks, size/M

#5457 Feature: `azurem_application_insights` add support for `retention_in_days`
  azurerm/internal/services/applicationinsights/data_source_application_insights.go
  azurerm/internal/services/applicationinsights/resource_arm_application_insights.go
  azurerm/internal/services/applicationinsights/tests/resource_arm_application_insights_test.go
  website/docs/d/application_insights.html.markdown
  website/docs/r/application_insights.html.markdown
Labels: documentation, service/application-insights, size/S

#5483 fixes error message
  azurerm/internal/services/appconfiguration/parse/app_configuration.go
Labels: enhancement, service/app-configuration, size/XS

#5453 azurerm_cosmosdb_account: add parse kind, mark capabilities as forcenew
  azurerm/internal/services/cosmos/resource_arm_cosmosdb_account.go
  azurerm/internal/services/cosmos/tests/data_source_cosmos_db_account_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_account_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_cassandra_keyspace_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_gremlin_database_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_mongo_database_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_sql_database_test.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_table_test.go
Labels: enhancement, refactor, service/cosmosdb, size/XL, tests

#5484 Bug Fix: `azurerm_subnet` - added computed support `delegations.0.actions`
  azurerm/internal/services/network/resource_arm_subnet.go
  azurerm/internal/services/network/tests/resource_arm_subnet_test.go
  website/docs/r/subnet.html.markdown
Labels: bug, documentation, service/subnets, size/S

#5491 Adding links for Site Recovery resources to website
  website/azurerm.erb
Labels: documentation, service/recovery-services, size/XS

#5490 serverFarms not longer works. serverfarms works.
  website/docs/r/app_service_plan.html.markdown
Labels: documentation, service/app-service, size/XS

#5392 azure_batch_pool - support for the `network_configuration` property (#4088)
  azurerm/helpers/azure/batch_pool.go
  azurerm/helpers/validate/int.go
  azurerm/internal/services/batch/data_source_batch_pool.go
  azurerm/internal/services/batch/resource_arm_batch_pool.go
  website/docs/d/batch_pool.html.markdown
  website/docs/r/batch_pool.html.markdown
Labels: documentation, service/batch, size/XL, waiting-response

#5503 azurerm_iot_hub: fix documentation example
  azurerm/internal/services/iothub/tests/resource_arm_iothub_test.go
  website/docs/r/iothub.html.markdown
Labels: bug, documentation, service/iothub, size/M

#5505 azurerm_iothub - event_hub_[retention_in_days|partition_count]
  azurerm/internal/services/iothub/resource_arm_iothub.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_test.go
  website/docs/r/iothub.html.markdown
Labels: documentation, enhancement, service/iothub, size/M

#5410 added functionality to update in place RBAC AAD Profile
  azurerm/internal/services/containers/resource_arm_kubernetes_cluster.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_auth_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/L

#5514 Fix parallel acctest race on `Provider`
  azurerm/internal/acceptance/data.go
Labels: size/XS

#5394 Improvement: `azurerm_kubernetes_cluster` - Add support for `load_balancer_profile`
  azurerm/internal/services/containers/resource_arm_kubernetes_cluster.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_network_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XL

#5513 New Data Source/Resource: `azurerm_dedicated_host`
  azurerm/internal/services/compute/client/client.go
  azurerm/internal/services/compute/data_source_dedicated_host.go
  azurerm/internal/services/compute/parse/dedicated_host.go
  azurerm/internal/services/compute/parse/dedicated_host_group.go
  azurerm/internal/services/compute/parse/dedicated_host_group_test.go
  azurerm/internal/services/compute/parse/dedicated_host_test.go
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/resource_arm_dedicated_host.go
  azurerm/internal/services/compute/resource_arm_dedicated_host_group.go
  azurerm/internal/services/compute/tests/data_source_dedicated_host_test.go
  azurerm/internal/services/compute/tests/resource_arm_dedicated_host_test.go
  azurerm/internal/services/compute/validate/dedicated_host.go
  azurerm/internal/services/compute/validate/dedicated_host_group.go
  azurerm/internal/services/compute/validation.go
  website/azurerm.erb
  website/docs/d/dedicated_host.html.markdown
  website/docs/r/dedicated_host.html.markdown
Labels: documentation, new-data-source, new-resource, service/dedicated-hosts, size/XXL

#5492 `azurerm_cosmosdb_sql_container` - support for `default_ttl`
  azurerm/internal/services/cosmos/resource_arm_cosmosdb_sql_container.go
  azurerm/internal/services/cosmos/tests/resource_arm_cosmosdb_sql_container_test.go
  website/docs/r/cosmosdb_sql_container.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/S

#5509 Revise agent_pool_profile note
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#5358 Bug: `azurerm_frontdoor` fix for caching issue
  azurerm/internal/services/frontdoor/resource_arm_front_door.go
  azurerm/internal/services/frontdoor/tests/resource_arm_front_door_firewall_policy_test.go
  azurerm/internal/services/frontdoor/tests/resource_arm_front_door_test.go
  azurerm/internal/services/frontdoor/validate.go
  website/docs/r/front_door.html.markdown
Labels: bug, documentation, service/frontdoor, size/XL

#5407 azurerm_frontdoor_firewall_policy - support for exclusions
  azurerm/internal/services/frontdoor/resource_arm_front_door_firewall_policy.go
  azurerm/internal/services/frontdoor/tests/resource_arm_front_door_firewall_policy_test.go
  website/docs/r/front_door_firewall_policy.html.markdown
Labels: documentation, service/frontdoor, size/L

#5470 Add data source for azurerm_api_management_api_version_set
  azurerm/internal/services/apimanagement/data_source_api_management_api_version_set.go
  azurerm/internal/services/apimanagement/registration.go
  azurerm/internal/services/apimanagement/tests/data_source_api_management_api_version_set_test.go
  website/azurerm.erb
  website/docs/d/api_management_api_version_set.html.markdown
Labels: documentation, new-data-source, service/api-management, size/L, waiting-response

#5474 r/(linux|windows)_virtual_machine_scale_set: reusing code/support for spot instances
  azurerm/internal/services/compute/plan.go
  azurerm/internal/services/compute/resource_arm_linux_virtual_machine_scale_set.go
  azurerm/internal/services/compute/resource_arm_windows_virtual_machine_scale_set.go
  azurerm/internal/services/compute/shared_schema.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_other_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_other_test.go
  azurerm/internal/services/compute/validation_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/virtual_machine_scale_set_extension_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set_test.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, refactor, service/vmss, size/XXL

#5524 azurerm_advanced_threat_protection: correct atp location
  website/azurerm.erb
Labels: documentation, service/security-center, size/XS

#5534 provider - ensure vendor directory is used during build
  GNUmakefile
Labels: provider, size/XS, tests

#5489 Added new data source `azurerm_eventhub_namespace_authorization_rule`
  azurerm/internal/services/eventhub/data_source_eventhub_namespace_authorization_rule.go
  azurerm/internal/services/eventhub/registration.go
  azurerm/internal/services/eventhub/tests/data_source_eventhub_namespace_authorization_rule_test.go
  website/docs/d/eventhub_namespace_authorization_rule.html.markdown
Labels: documentation, new-data-source, service/event-hubs, size/L

#5506 Added new data source `azurerm_mariadb_server`
  azurerm/internal/services/mariadb/data_source_mariadb_server.go
  azurerm/internal/services/mariadb/registration.go
  azurerm/internal/services/mariadb/tests/data_source_mariadb_server_test.go
  website/docs/d/mariadb_server.html.markdown
Labels: documentation, new-data-source, service/mariadb, size/L

#5560 Update dns_caa_record.html.markdown
  website/docs/r/dns_caa_record.html.markdown
Labels: documentation, service/dns, size/XS

#5459 Bug: `azurerm_dns_aaaa_record` - Normalize IPv6 addresses
  azurerm/helpers/azure/ipv6.go
  azurerm/helpers/azure/ipv6_test.go
  azurerm/internal/services/dns/resource_arm_dns_aaaa_record.go
  azurerm/internal/services/dns/tests/resource_arm_dns_aaaa_record_test.go
Labels: bug, service/dns, size/L

#5540 azurerm_virtual_network_gateway_connection - increase routing_weight maximum to 32000
  azurerm/internal/services/network/resource_arm_virtual_network_gateway_connection.go
Labels: enhancement, service/virtual-network-gateway, size/XS

#5548 azurerm_databricks_workspace - allow underscores in name
  azurerm/internal/services/databricks/resource_arm_databricks_workspace.go
  azurerm/internal/services/databricks/tests/resource_arm_databricks_workspace_test.go
Labels: bug, service/databricks, size/XS

#5480 Fix issue #584 add option to set AI daily cap and hit daily cap stop notify
  azurerm/internal/services/applicationinsights/client/client.go
  azurerm/internal/services/applicationinsights/resource_arm_application_insights.go
  azurerm/internal/services/applicationinsights/tests/resource_arm_application_insights_test.go
  website/docs/r/application_insights.html.markdown
Labels: documentation, enhancement, service/application-insights, size/M, waiting-response

#5539 azurerm_front_door - Add minimum_tls_version property
  azurerm/internal/services/frontdoor/resource_arm_front_door.go
  azurerm/internal/services/frontdoor/tests/resource_arm_front_door_test.go
  website/docs/r/front_door.html.markdown
Labels: documentation, enhancement, service/frontdoor, size/L

#5571 Enhancement: `azurerm_private_endpoint` expose mapping between `group_id` and `subresource_names`
  azurerm/helpers/azure/string.go
  azurerm/internal/services/network/resource_arm_private_endpoint.go
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, enhancement, service/private-link, size/XS

#5575 Update front_door_firewall_policy.html.markdown
  website/docs/r/front_door_firewall_policy.html.markdown
Labels: documentation, service/frontdoor, size/XS

#5568 azurerm_mysql_virtual_network_rule - remove subnet cfg check as its no longer required
  azurerm/internal/services/mysql/resource_arm_mysql_virtual_network_rule.go
  azurerm/internal/services/mysql/tests/resource_arm_mysql_virtual_network_rule_test.go
Labels: service/mysql, size/M
