Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2020-05, with the labels that each got.

#6729 acctests: boosting the default concurrency to 20
  .teamcity/components/build_azure.kt
  .teamcity/components/build_components.kt
  .teamcity/components/project.kt
  .teamcity/components/settings.kt
  .teamcity/settings.kts
  .teamcity/tests/helpers.kt
Labels: size/XS, tooling

#6716 Add recovery capability for Key Vault Soft Deleted Keys, Secrets and Certificates
  azurerm/internal/services/keyvault/resource_arm_key_vault_certificate.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_key.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_secret.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_certificate_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_key_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_secret_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_test.go
  azurerm/utils/response.go
  website/docs/index.html.markdown
Labels: documentation, service/keyvault, size/XL

#6749 Fix test config issue in stream_analytics_function_javascript_udf_test
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_function_javascript_udf_test.go
Labels: enhancement, service/stream-analytics, size/XS

#6734 Custom metadata DiffSuppressFunc - issue #5014
  azurerm/internal/services/policy/resource_arm_policy_definition.go
  azurerm/internal/services/policy/resource_arm_policy_set_definition.go
  azurerm/internal/services/policy/tests/resource_arm_policy_definition_test.go
  azurerm/internal/services/policy/tests/resource_arm_policy_set_definition_test.go
Labels: bug, service/policy, size/L

#6744 Support create option for scale set data disks
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, size/XS

#6742 Fixes resource_arm_application_gateway with empty string password
  azurerm/internal/services/network/resource_arm_application_gateway.go
  azurerm/internal/services/network/tests/resource_arm_application_gateway_test.go
  azurerm/internal/services/network/tests/testdata/application_gateway_test_3.pfx
Labels: enhancement, service/application-gateway, size/M

#6751 acctests: switching to use the native runner
  .teamcity/components/build_components.kt
Labels: size/XS, tooling

#6145 Add external metastores to azurerm_hdinsight_hadoop_cluster
  azurerm/helpers/azure/hdinsight.go
  azurerm/internal/services/hdinsight/common_hdinsight.go
  azurerm/internal/services/hdinsight/resource_arm_hdinsight_hadoop_cluster.go
  azurerm/internal/services/hdinsight/tests/resource_arm_hdinsight_hadoop_cluster_test.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
Labels: documentation, service/hdinsight, size/XL

#6575 New resource/Data source `azurerm_data_share_account`
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/datashare/client/client.go
  azurerm/internal/services/datashare/data_source_data_share_account.go
  azurerm/internal/services/datashare/parse/data_share.go
  azurerm/internal/services/datashare/parse/data_share_test.go
  azurerm/internal/services/datashare/registration.go
  azurerm/internal/services/datashare/resource_arm_data_share_account.go
  azurerm/internal/services/datashare/tests/data_source_data_share_account_test.go
  azurerm/internal/services/datashare/tests/resource_arm_data_share_account_test.go
  azurerm/internal/services/datashare/validate/data_share.go
  azurerm/internal/services/datashare/validate/data_share_test.go
  azurerm/internal/tags/schema.go
  azurerm/internal/tags/validation.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/consumerinvitations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/consumersourcedatasets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/datasetmappings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/datasets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/invitations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/providersharesubscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/shares.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/sharesubscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/synchronizationsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/triggers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datashare/mgmt/2019-11-01/datashare/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/azurerm.erb
  website/docs/d/data_share_account.html.markdown
  website/docs/r/data_share_account.html.markdown
Labels: dependencies, documentation, new-resource, service/data-share, size/XXL

#6772 fixes panic on nil value for `pre_warmed_instance_count`
  azurerm/internal/services/web/resource_arm_function_app.go
Labels: service/functions, size/XS

#6624 Fix update scenario for network interface
  azurerm/internal/services/network/resource_arm_network_interface.go
  azurerm/internal/services/network/tests/resource_arm_network_interface_test.go
Labels: bug, service/network-interfaces, size/M

#6785 Changed: notes regarding configuring 'TLS termination with Key Vault …
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#6774 [BUG] Analysis Services IPv4 rule name casing issue fix
  azurerm/internal/services/analysisservices/analysis_services_server_resource.go
Labels: service/analysis, size/XS

#6747 Workaround for strange response code in recovery services network mappings API. Fixes issue #6026
  azurerm/internal/services/recoveryservices/resource_arm_site_recovery_network_mapping.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_site_recovery_network_mapping_test.go
Labels: bug, service/recovery-services, size/XS

#6701 azurerm_eventhub_namespace_authorization_rule - lock so multiple resource updates won't clash
  azurerm/internal/services/eventhub/resource_arm_eventhub.go
  azurerm/internal/services/eventhub/resource_arm_eventhub_authorization_rule.go
  azurerm/internal/services/eventhub/resource_arm_eventhub_namespace.go
  azurerm/internal/services/eventhub/resource_arm_eventhub_namespace_authorization_rule.go
  azurerm/internal/services/eventhub/tests/resource_arm_eventhub_authorization_rule_test.go
  azurerm/internal/services/eventhub/tests/resource_arm_eventhub_namespace_authorization_rule_test.go
Labels: bug, service/event-hubs, size/L

#6769 `azurerm_monitor_diagnostic_setting` - `log_analytics_destination_type` supports `AzureDiagnostics`
  azurerm/internal/services/monitor/resource_arm_monitor_diagnostic_setting.go
Labels: service/monitor, size/XS

#6766 Add documentation about virtual hub connection field `vitual_network_to_hub_gateways_traffic_allowed`
  website/docs/r/virtual_hub_connection.html.markdown
Labels: documentation, service/virtual-hub, size/XS

#6806 Update doc for property default_action of eventhub namespace
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, service/event-hubs, size/XS

#6804 Update doc for property sku of servicebus namespace
  website/docs/r/servicebus_namespace.html.markdown
Labels: documentation, size/XS

#6786 [Enhancement] Allow updating Analysis Services Server when paused
  azurerm/internal/services/analysisservices/analysis_services_server_resource.go
  azurerm/internal/services/analysisservices/tests/analysis_services_server_resource_test.go
  website/docs/r/analysis_services_server.html.markdown
Labels: documentation, enhancement, service/analysis, size/M

#6812 fixes some broken tests in `web`
  azurerm/helpers/azure/app_service.go
  azurerm/internal/services/web/tests/resource_arm_app_service_test.go
  azurerm/internal/services/web/tests/resource_arm_function_app_test.go
Labels: service/app-service, size/S, tests

#6661 Add health_check_path to site_config
  azurerm/helpers/azure/app_service.go
  azurerm/internal/services/web/tests/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
Labels: documentation, preview, service/app-service, size/M

#6705 `azurerm_app_service` `ip_restriction` - support for `name` & `priority`
  azurerm/helpers/azure/app_service.go
  azurerm/internal/services/web/tests/data_source_app_service_test.go
  azurerm/internal/services/web/tests/resource_arm_app_service_slot_test.go
  azurerm/internal/services/web/tests/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
Labels: documentation, enhancement, service/app-service, size/L

#6650 New resource: `azurerm_sentinel_alert_rule_scheduled`
  azurerm/helpers/validate/time.go
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/resource_arm_sentinel_alert_rule_scheduled.go
  azurerm/internal/services/sentinel/tests/resource_arm_sentinel_alert_rule_scheduled_test.go
  go.mod
  go.sum
  vendor/github.com/rickb777/date/LICENSE
  vendor/github.com/rickb777/date/period/doc.go
  vendor/github.com/rickb777/date/period/format.go
  vendor/github.com/rickb777/date/period/marshal.go
  vendor/github.com/rickb777/date/period/parse.go
  vendor/github.com/rickb777/date/period/period.go
  vendor/github.com/rickb777/plural/.gitignore
  vendor/github.com/rickb777/plural/.travis.yml
  vendor/github.com/rickb777/plural/LICENSE
  vendor/github.com/rickb777/plural/README.md
  vendor/github.com/rickb777/plural/build+test.sh
  vendor/github.com/rickb777/plural/doc.go
  vendor/github.com/rickb777/plural/plural.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/sentinel_alert_rule_scheduled.html.markdown
Labels: dependencies, documentation, new-resource, size/XXL

#6708 support alias connection strings for eventhub resources
  azurerm/helpers/azure/eventhub.go
  azurerm/internal/services/eventhub/eventhub_authorization_rule_data_source.go
  azurerm/internal/services/eventhub/eventhub_authorization_rule_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_authorization_rule_data_source.go
  azurerm/internal/services/eventhub/eventhub_namespace_authorization_rule_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_data_source.go
  azurerm/internal/services/eventhub/eventhub_namespace_resource.go
  azurerm/internal/services/eventhub/tests/eventhub_authorization_rule_data_source_test.go
  azurerm/internal/services/eventhub/tests/eventhub_authorization_rule_resource_test.go
  azurerm/internal/services/eventhub/tests/eventhub_namespace_authorization_rule_data_source_test.go
  azurerm/internal/services/eventhub/tests/eventhub_namespace_authorization_rule_resource_test.go
  azurerm/internal/services/eventhub/tests/eventhub_namespace_data_source_test.go
  azurerm/internal/services/eventhub/tests/eventhub_namespace_resource_test.go
  website/docs/d/eventhub_authorization_rule.html.markdown
  website/docs/d/eventhub_namespace.html.markdown
  website/docs/d/eventhub_namespace_authorization_rule.html.markdown
  website/docs/r/eventhub_authorization_rule.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
  website/docs/r/eventhub_namespace_authorization_rule.html.markdown
Labels: documentation, enhancement, service/event-hubs, size/XL

#6817 builder: raising an error for unsupported environments
  azurerm/internal/clients/builder.go
Labels: bug, size/XS

#6807 update doc for "azurerm_redis_cache"
  website/docs/r/redis_cache.html.markdown
Labels: documentation, service/redis, size/XS

#6792 update `azurerm_policy_assignment` - allow scopes of policy set definition without `subscription/<id>`
  azurerm/internal/services/policy/parse/set_definition.go
  azurerm/internal/services/policy/tests/policy_assignment_resource_test.go
  azurerm/internal/services/policy/tests/policy_set_definition_data_source_test.go
Labels: bug, service/policy, size/M

#6813 `azurerm_automation_runbook` - add support for create runbook as draft and then publish
  azurerm/internal/services/automation/automation_runbook_resource.go
  azurerm/internal/services/automation/tests/automation_runbook_resource_test.go
  website/docs/r/automation_runbook.html.markdown
Labels: bug, documentation, service/automation, size/M

#6819 [BUG] azurerm_redis_cache backup requires connection string
  azurerm/internal/services/redis/resource_arm_redis_cache.go
  website/docs/r/redis_cache.html.markdown
Labels: bug, documentation, service/redis, size/XS

#6824 Update express_route_circuit_peering.html.markdown
  website/docs/r/express_route_circuit_peering.html.markdown
Labels: documentation, size/XS

#6822 `azurerm_mssql_server` - Add support for `azuread_administrator`
  azurerm/internal/services/mssql/client/client.go
  azurerm/internal/services/mssql/mssql_server_resource.go
  azurerm/internal/services/mssql/tests/mssql_server_resource_test.go
  website/docs/r/mssql_server.html.markdown
Labels: documentation, size/XL

#6831 docs: added note to `infrastructure_encryption_enabled` property
  website/docs/r/postgresql_server.html.markdown
Labels: bug, documentation, service/postgresql, size/XS

#6836 Fix load-balancer example with new syntax for v2.0
  examples/virtual-machines/virtual_machine/2-vms-loadbalancer-lbrules/main.tf
Labels: documentation, service/load-balancers, size/XS

#6848 `azurerm_automation_account` DS set its own ID
  azurerm/internal/services/automation/automation_account_data_source.go
  azurerm/internal/services/automation/tests/automation_account_data_source_test.go
Labels: bug, service/automation, size/XS

#6826 `data.azurerm_virtual_machine` - export `identity` attribute
  azurerm/internal/services/compute/tests/virtual_machine_data_source_test.go
  azurerm/internal/services/compute/virtual_machine.go
  azurerm/internal/services/compute/virtual_machine_data_source.go
  website/docs/d/virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, enhancement, service/virtual-machine, size/L

#6841 New data source azurerm_eventhub
  azurerm/internal/services/eventhub/eventhub_data_source.go
  azurerm/internal/services/eventhub/registration.go
  azurerm/internal/services/eventhub/tests/eventhub_data_source_test.go
  website/azurerm.erb
  website/docs/d/eventhub.html.markdown
Labels: documentation, new-data-source, service/event-hubs, size/L

#6825 Updates doc for aks node pool
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#6837 Upgrade EventGrid SDK to 2020-04-01-preview
  azurerm/internal/services/eventgrid/client/client.go
  azurerm/internal/services/eventgrid/eventgrid_domain_resource.go
  azurerm/internal/services/eventgrid/eventgrid_event_subscription_resource.go
  azurerm/internal/services/eventgrid/eventgrid_topic_resource.go
  azurerm/internal/services/eventgrid/parse/eventgrid_domain.go
  azurerm/internal/services/eventgrid/parse/eventgrid_event_subscription.go
  azurerm/internal/services/eventgrid/parse/eventgrid_topic.go
  azurerm/internal/services/eventgrid/tests/eventgrid_domain_resource_test.go
  azurerm/internal/services/eventgrid/tests/eventgrid_event_subscription_resource_test.go
  azurerm/utils/array.go
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2018-09-15-preview/eventgrid/domaintopics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2018-09-15-preview/eventgrid/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/domains.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/domaintopics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/eventchannels.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/eventsubscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/extensiontopics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/partnernamespaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/partnerregistrations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/partnertopiceventsubscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/partnertopics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/systemtopiceventsubscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/systemtopics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/topics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/topictypes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventgrid/mgmt/2020-04-01-preview/eventgrid/version.go
  vendor/modules.txt
  website/docs/r/eventgrid_domain.html.markdown
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: dependencies, service/event-grid, size/XXL

#6856 Fix doc typo in terraform state mv command
  website/docs/guides/migrating-to-azuread.html.markdown
Labels: documentation, size/XS

#6851 `azurerm_application_insights` - `retention_in_days` defaults to 90
  azurerm/internal/services/applicationinsights/application_insights_resource.go
  website/docs/r/application_insights.html.markdown
Labels: bug, documentation, service/application-insights, size/XS

#6846 `azurerm_windows_virtual_machine` - Allow update of OS disk encryption settings
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
Labels: enhancement, service/virtual-machine, size/M

#6864 `SchemaResourceGroupNameForDataSource` Add `ValidateFunc`
  azurerm/helpers/azure/resource_group.go
Labels: size/XS

#6862 `azurerm_api_management` - fix crash with `policy`
  azurerm/internal/services/apimanagement/api_management_resource.go
Labels: bug, crash, service/api-management, size/XS

#6871 Add type PipelineReference in trigger resource
  azurerm/internal/services/datafactory/data_factory_trigger_schedule_resource.go
Labels: service/data-factory, size/XS

#6870 Update doc for traffic manager endpoint
  website/docs/r/traffic_manager_endpoint.html.markdown
Labels: documentation, service/traffic-manager, size/XS

#6875 dependencies: updating iothub to `2019-03-22-preview`
  azurerm/internal/services/iothub/client/client.go
  azurerm/internal/services/iothub/iothub_dps_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_eventhub_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_servicebus_queue_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_servicebus_topic_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_storage_container_resource.go
  azurerm/internal/services/iothub/iothub_fallback_route_resource.go
  azurerm/internal/services/iothub/iothub_resource.go
  azurerm/internal/services/iothub/iothub_route_resource.go
  azurerm/internal/services/iothub/iothub_shared_access_policy_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2019-03-22-preview/devices/certificates.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2019-03-22-preview/devices/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2019-03-22-preview/devices/iothub.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2019-03-22-preview/devices/iothubresource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2019-03-22-preview/devices/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2019-03-22-preview/devices/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2019-03-22-preview/devices/resourceprovidercommon.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/iothub/mgmt/2019-03-22-preview/devices/version.go
  vendor/modules.txt
Labels: dependencies, service/iothub, size/L

#6878 Fix case on AuthorizationRules to match Azure API
  website/docs/r/eventhub_namespace_authorization_rule.html.markdown
Labels: documentation, service/event-hubs, size/XS

#6534 Bug: azurerm_kubernetes_cluster errors out with InvalidLoadbalancerProfile on changes
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_scaling_resource_test.go
Labels: service/kubernetes-cluster, size/XS

#6844 `azurerm_log_analytics_workspace` - Support `rentention_in_days` for Free Tier
  azurerm/internal/services/loganalytics/log_analytics_workspace_resource.go
  azurerm/internal/services/loganalytics/tests/log_analytics_workspace_resource_test.go
  website/docs/r/log_analytics_workspace.html.markdown
Labels: bug, documentation, service/log-analytics, size/S

#6810 Update doc for network profile of aks
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#6834 azurerm_api_management_named_value - fix the non empty plan when `secret` is true
  azurerm/internal/services/apimanagement/api_management_named_value_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_named_value_resource_test.go
Labels: bug, service/api-management, size/XS

#6821 app_service_environment: add field `resource_group_name`
  azurerm/helpers/azure/resource_group.go
  azurerm/internal/services/web/app_service_environment_resource.go
  azurerm/internal/services/web/tests/app_service_environment_resource_test.go
  website/docs/r/app_service_environment.html.markdown
Labels: documentation, enhancement, service/app-service, size/M

#6885 update doc for `azurerm_role_assignment`
  website/docs/r/role_assignment.html.markdown
Labels: documentation, service/roles, size/XS

#6886 Update import command in eventhub ns doc
  website/docs/r/eventhub_namespace_authorization_rule.html.markdown
Labels: documentation, service/event-hubs, size/XS

#6889 tool: adding a check for gradually deprecated functions
  GNUmakefile
  scripts/run-gradually-deprecated.sh
Labels: enhancement, size/S, tooling

#6897 size property must not be defined if source_uri is used
  website/docs/r/storage_blob.html.markdown
Labels: documentation, service/storage, size/XS

#6910 `data.azurerm_security_group` - fixing crash where id is nil
  azurerm/internal/services/network/network_security_group_data_source.go
Labels: crash, service/network-security, size/XS

#6105 azurerm_application_gateway - support WAF Policies
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/tests/application_gateway_resource_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/M

#6724 Support the Developer Portal type of hostname_configuration in azurerm_api_management
  azurerm/internal/services/apimanagement/api_management_data_source.go
  azurerm/internal/services/apimanagement/api_management_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_resource_test.go
  website/docs/d/api_management.html.markdown
  website/docs/r/api_management.html.markdown
Labels: documentation, enhancement, service/api-management, size/M

#6601 azurerm_express_route_circuit - de-provision and re-provision circuit when changing bandwidth reduction (#3983)
  azurerm/internal/services/network/express_route_circuit_resource.go
  azurerm/internal/services/network/tests/express_route_circuit_resource_test.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/compose.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/computed.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/condition.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/doc.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/force_new.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/validate.go
  vendor/modules.txt
Labels: dependencies, service/express-route, size/XL

#6887 `azurerm_private_endpoint`: Adding example configurations on how to connect a `azurerm_private_endpoint` to various endpoint services
  examples/private-endpoint/cosmos-db/README.md
  examples/private-endpoint/cosmos-db/main.tf
  examples/private-endpoint/cosmos-db/variables.tf
  examples/private-endpoint/postgresql/README.md
  examples/private-endpoint/postgresql/main.tf
  examples/private-endpoint/postgresql/variables.tf
  examples/private-endpoint/private-link-service/README.md
  examples/private-endpoint/private-link-service/main.tf
  examples/private-endpoint/private-link-service/variables.tf
  examples/private_endpoint/README.md
  examples/private_endpoint/main.tf
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, enhancement, service/private-link, size/XL

#6850 azurerm_api_management - Only set `hostname_configuration` properties if not empty
  azurerm/internal/services/apimanagement/api_management_resource.go
Labels: bug, service/api-management, size/S

#6783 api_managment - support user assigned managed identities
  azurerm/internal/services/apimanagement/api_management_data_source.go
  azurerm/internal/services/apimanagement/api_management_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_resource_test.go
  website/docs/d/api_management.html.markdown
  website/docs/r/api_management.html.markdown
Labels: documentation, enhancement, service/api-management, size/XL

#6884 Update doc for validation of aks
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#6911 `azurerm_monitor_diagnostic_setting` - Fix crash around `retention_policy`
  azurerm/internal/services/monitor/monitor_diagnostic_setting_resource.go
Labels: bug, service/monitor, size/XS

#6859 New Resource: `azurerm_eventgrid_domain_topic`
  azurerm/internal/services/eventgrid/client/client.go
  azurerm/internal/services/eventgrid/eventgrid_domain_topic_resource.go
  azurerm/internal/services/eventgrid/parse/eventgrid_domain_topic.go
  azurerm/internal/services/eventgrid/registration.go
  azurerm/internal/services/eventgrid/tests/eventgrid_domain_topic_resource_test.go
  website/azurerm.erb
  website/docs/r/eventgrid_domain_topic.html.markdown
Labels: documentation, new-resource, service/event-grid, size/XL

#6865 mariadb_server: New attributes, flatten `storage_profile` block
  azurerm/helpers/validate/database.go
  azurerm/helpers/validate/mariadb.go
  azurerm/internal/services/mariadb/mariadb_configuration_resource.go
  azurerm/internal/services/mariadb/mariadb_database_resource.go
  azurerm/internal/services/mariadb/mariadb_firewall_rule_resource.go
  azurerm/internal/services/mariadb/mariadb_server_data_source.go
  azurerm/internal/services/mariadb/mariadb_server_resource.go
  azurerm/internal/services/mariadb/mariadb_virtual_network_rule_resource.go
  azurerm/internal/services/mariadb/parse/mariadb.go
  azurerm/internal/services/mariadb/parse/mariadb_test.go
  azurerm/internal/services/mariadb/tests/mariadb_configuration_resource_test.go
  azurerm/internal/services/mariadb/tests/mariadb_firewall_rule_resource_test.go
  azurerm/internal/services/mariadb/tests/mariadb_server_resource_test.go
  azurerm/internal/services/mariadb/tests/mariadb_virtual_network_rule_resource_test.go
  azurerm/internal/services/mariadb/validate/mariadb.go
  azurerm/internal/services/mariadb/validate/mariadb_test.go
  website/docs/d/mariadb_server.html.markdown
  website/docs/r/mariadb_server.html.markdown
Labels: bug, documentation, enhancement, refactor, service/mariadb, size/XXL

#6833 mysql_server: New attributes, flatten `storage_profile` block
  azurerm/helpers/azure/mysql.go
  azurerm/internal/services/mysql/mysql_configuration_resource.go
  azurerm/internal/services/mysql/mysql_database_resource.go
  azurerm/internal/services/mysql/mysql_firewall_rule_resource.go
  azurerm/internal/services/mysql/mysql_server_resource.go
  azurerm/internal/services/mysql/mysql_virtual_network_rule_resource.go
  azurerm/internal/services/mysql/parse/mysql.go
  azurerm/internal/services/mysql/parse/mysql_test.go
  azurerm/internal/services/mysql/registration.go
  azurerm/internal/services/mysql/tests/mysql_server_resource_test.go
  azurerm/internal/services/mysql/tests/mysql_virtual_network_rule_resource_test.go
  azurerm/internal/services/mysql/validate/mysql.go
  azurerm/internal/services/mysql/validate/mysql_test.go
  azurerm/internal/services/postgres/parse/postgres_test.go
  azurerm/internal/services/postgres/postgresql_server_resource.go
  website/docs/r/mysql_server.html.markdown
Labels: documentation, enhancement, refactor, service/mysql, size/XXL

#6916 `azurerm_frontdoor` - Expose the `header_frontdoor_id` attribute
  azurerm/internal/services/frontdoor/frontdoor_resource.go
  website/docs/r/frontdoor.html.markdown
Labels: documentation, enhancement, service/frontdoor, size/XS

#6918 add documentation for the source_image_reference block
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/virtual-machine, service/vmss, size/S

#6580 `azurerm_storage_account` - Enable migration of `account_kind` from `Storage` to `StorageV2`
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
  website/docs/r/storage_account.html.markdown
Labels: bug, documentation, service/storage, size/M

#6925 Added poller to check for consistency on role assignment creation
  azurerm/internal/services/authorization/role_assignment_resource.go
Labels: enhancement, service/authorization, size/S

#6923 Fix azurerm_subnet_nat_gateway_association documentation title
  website/docs/r/subnet_nat_gateway_association.html.markdown
Labels: documentation, size/XS

#6917 r/`azurerm_linux|windows_virtual_machine_scale_set` - updating do_not_run_extensions_on_overprovisioned_machines
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: bug, service/virtual-machine, size/M

#6723 azurerm_api_management - support key_vault_id's without a version
  azurerm/helpers/azure/key_vault_child.go
  azurerm/helpers/azure/key_vault_child_test.go
  azurerm/internal/services/apimanagement/api_management_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_resource_test.go
Labels: enhancement, service/api-management, size/XL

#6721 azurerm_postgres_server - support for threat_detection_policy
  azurerm/internal/services/mssql/mssql_server_security_alert_policy_resource.go
  azurerm/internal/services/mssql/tests/mssql_server_security_alert_policy_resource_test.go
  azurerm/internal/services/postgres/client/client.go
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/tests/postgresql_server_resource_test.go
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, enhancement, service/postgresql, size/XL

#6748 Fix duplicate provider configuration in storage tests
  azurerm/internal/services/storage/tests/resource_arm_storage_container_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_queue_test.go
Labels: service/storage, size/S, waiting-response

#6682 `azurerm_api_management_diagnostic` - support required property `api_management_logger_id`
  azurerm/internal/services/apimanagement/api_management_diagnostic_resource.go
  azurerm/internal/services/apimanagement/parse/apimanagement.go
  azurerm/internal/services/apimanagement/parse/apimanagement_test.go
  azurerm/internal/services/apimanagement/tests/api_management_diagnostic_resource_test.go
  azurerm/internal/services/apimanagement/validate/apimanagement.go
  website/docs/r/api_management_diagnostic.html.markdown
  website/docs/r/eventgrid_domain_topic.html.markdown
Labels: bug, documentation, service/api-management, size/XL

#6963 `azurerm_postgresql_server` - Update documentation per request from service team
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, service/postgresql, size/XS

#6946 Fix typo in resource "azurerm_application_insights": application_type "Other" -> "other"
  website/docs/r/api_management_logger.html.markdown
Labels: documentation, service/application-insights, size/XS

#6965 Update doc for cosmosdb account GlobalDocumentDB connection string
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, service/cosmosdb, size/XS

#6953 Update eventgrid_event_subscription.html.markdown
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, service/event-grid, size/XS

#6947 Update doc for custom_domain in storage_account
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XS

#6970 mariadb_server: remove deprecated interpolation syntax in docs
  website/docs/r/mariadb_server.html.markdown
Labels: documentation, service/mariadb, size/XS

#6975 Fix typo in eventgrid_event_subscription.html.markdown
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, service/event-grid, size/XS

#6973 `azurerm_databricks_workspace`: Add workspace_id and url
  azurerm/internal/services/databricks/databricks_workspace_resource.go
  azurerm/internal/services/databricks/tests/databricks_workspace_resource_test.go
  website/docs/r/databricks_workspace.html.markdown
Labels: documentation, service/databricks, size/XS

#6976 Update dev_test_schedule.html.markdown
  website/docs/r/dev_test_schedule.html.markdown
Labels: documentation, service/devtestlabs, size/XS

#6974 `azurerm_api_management_api_version_set` validate `name`
  azurerm/helpers/validate/api_management.go
  azurerm/helpers/validate/api_management_test.go
Labels: enhancement, service/api-management, size/M

#6972 Update test config in api_management_logger_resource_test
  azurerm/internal/services/apimanagement/tests/api_management_logger_resource_test.go
Labels: enhancement, service/api-management, size/XS

#6964 Support 'PATCH' method in corsRule with blob properties
  azurerm/helpers/azure/storage_account.go
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/S

#6978 Added alt subscription to tc config
  .teamcity/components/build_azure.kt
  .teamcity/pom.xml
  .teamcity/settings.kts
  .teamcity/tests/helpers.kt
Labels: size/XS, tooling

#6927 feature: optionally enhanced location validation
  azurerm/internal/clients/builder.go
  azurerm/internal/features/enhanced_validation.go
  azurerm/internal/location/schema.go
  azurerm/internal/location/supported.go
  azurerm/internal/location/validation.go
  azurerm/internal/location/validation_test.go
  azurerm/internal/sdk/locations.go
Labels: enhancement, size/XL

#6982 fixed constructor ordering
  .teamcity/settings.kts
  .teamcity/tests/helpers.kt
Labels: size/XS

#6986 Fix spelling of namespace
  azurerm/internal/services/notificationhub/notification_hub_namespace_resource.go
  website/docs/r/iothub.html.markdown
Labels: documentation, service/iothub, service/notifications, size/XS

#6987 mariadb_database: fix deprecated warnings in example code
  website/docs/r/mariadb_database.html.markdown
Labels: documentation, size/XS

#6999 Update doc for rule_set_type of app gateway
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#6942 Update doc for access policy of storage share
  website/docs/r/storage_share.html.markdown
Labels: documentation, service/storage, size/XS

#6941 Fix example in doc for firewall nat rule
  website/docs/r/firewall_nat_rule_collection.html.markdown
Labels: documentation, service/firewall, size/XS

#7011 azurerm_mssql_server - add public network access todocs
  website/docs/r/mssql_server.html.markdown
Labels: documentation, service/mssql, size/XS

#6938 `azurerm_api_management_subscription` get Primary/Secondary Key
  azurerm/internal/services/apimanagement/api_management_subscription_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_subscription_resource_test.go
Labels: bug, service/api-management, size/XS

#6967 `azurerm_app_service` Added support for Action of Allow or Deny in ip_restriction.
  azurerm/helpers/azure/app_service.go
  azurerm/internal/services/web/tests/data_source_app_service_test.go
  azurerm/internal/services/web/tests/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
Labels: documentation, enhancement, service/app-service, size/S

#7017 azurerm_public_ip - Basic SKU in public ip does not support Availability Zone
  azurerm/internal/services/network/public_ip_resource.go
  azurerm/internal/services/network/tests/public_ip_resource_test.go
  website/docs/r/public_ip.html.markdown
Labels: documentation, service/public-ip, size/XS

#7023 Update VM name and VMSS name validation rule - now names can end with upper case letters
  azurerm/internal/services/compute/validation.go
  azurerm/internal/services/compute/validation_test.go
Labels: enhancement, service/vmss, size/XS

#7024 Data Sources should error when not found
  azurerm/internal/services/apimanagement/api_management_group_data_source.go
  azurerm/internal/services/compute/image_data_source.go
  azurerm/internal/services/compute/shared_image_version_data_source.go
  azurerm/internal/services/compute/shared_image_versions_data_source.go
  azurerm/internal/services/datalake/data_lake_store_data_source.go
  azurerm/internal/services/datashare/data_share_account_data_source.go
  azurerm/internal/services/hdinsight/hdinsight_cluster_data_source.go
  azurerm/internal/services/healthcare/healthcare_service_data_source.go
  azurerm/internal/services/healthcare/healthcare_service_resource.go
  azurerm/internal/services/maintenance/maintenance_configuration_data_source.go
  azurerm/internal/services/msi/user_assigned_identity_data_source.go
  azurerm/internal/services/network/firewall_data_source.go
  azurerm/internal/services/network/private_endpoint_connection_data_source.go
  scripts/run-gradually-deprecated.sh
Labels: bug, size/L

#6984 Fix documentation of storage account related to `azurerm_function_app_slot`
  website/docs/r/function_app_slot.html.markdown
Labels: documentation, service/functions, size/S

#6958 fix: eventgrid id parsers
  azurerm/internal/services/eventgrid/parse/eventgrid_domain_test.go
  azurerm/internal/services/eventgrid/parse/eventgrid_domain_topic_test.go
  azurerm/internal/services/eventgrid/parse/eventgrid_event_subscription.go
  azurerm/internal/services/eventgrid/parse/eventgrid_event_subscription_test.go
  azurerm/internal/services/eventgrid/parse/eventgrid_topic_test.go
Labels: bug, service/event-grid, size/L

#7016 move analysis server tests out of tests package
  GNUmakefile
  azurerm/internal/services/analysisservices/analysis_services_server_resource_test.go
  azurerm/internal/services/customproviders/parse/custom_provider.go
  azurerm/internal/services/customproviders/parse/custom_provider_test.go
  scripts/check-test-package.sh
Labels: service/analysis, size/M, tests

#6948 `azurerm_platform_image` - support for `version` filter
  azurerm/internal/services/compute/platform_image_data_source.go
  azurerm/internal/services/compute/tests/platform_image_data_source_test.go
  website/docs/d/platform_image.html.markdown
Labels: documentation, size/M

#5526 azurerm_netapp_volume - support mount_ip_addresses
  azurerm/internal/services/netapp/netapp_volume_data_source.go
  azurerm/internal/services/netapp/netapp_volume_resource.go
  azurerm/internal/services/netapp/tests/netapp_volume_data_source_test.go
  azurerm/internal/services/netapp/tests/netapp_volume_resource_test.go
  website/docs/d/netapp_volume.html.markdown
  website/docs/r/netapp_volume.html.markdown
Labels: dependencies, documentation, enhancement, service/netapp, size/S

#7031 azurerm_redis_cache: support new maxmemory policies `allkeys-lfu' & 'volatile-lfu`
  azurerm/internal/services/redis/resource_arm_redis_cache.go
  azurerm/internal/services/redis/validation_test.go
Labels: enhancement, service/redis, size/XS

#6668 Fix Management Group CreateUpdate Function
  azurerm/internal/services/managementgroup/management_group_data_source.go
  azurerm/internal/services/managementgroup/management_group_resource.go
  azurerm/internal/services/managementgroup/tests/management_group_resource_test.go
Labels: bug, service/management-groups, size/S

#7036 `azurerm_resources` - does not return all matched resources sometimes
  azurerm/internal/services/resource/data_source_resources.go
Labels: bug, service/resources, size/S, upstream-microsoft

#7015 azurerm_postgresql_server - do not attempt to get the threat protection with the basic SKU
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/tests/postgresql_server_resource_test.go
Labels: bug, service/postgresql, size/M

#7037 mariadb_server: add missing 'public_network_access_enabled' argument
  website/docs/r/mariadb_server.html.markdown
Labels: documentation, service/mariadb, size/XS

#7038 Fix deprecated interpolation syntax in docs
  website/docs/r/app_service_environment.html.markdown
  website/docs/r/automation_certificate.html.markdown
  website/docs/r/backup_policy_file_share.markdown
  website/docs/r/backup_policy_vm.markdown
  website/docs/r/backup_protected_file_share.markdown
  website/docs/r/backup_protected_vm.markdown
  website/docs/r/bot_channel_directline.markdown
  website/docs/r/bot_channel_email.markdown
  website/docs/r/bot_channel_ms_teams.markdown
  website/docs/r/bot_channel_slack.markdown
  website/docs/r/bot_channels_registration.markdown
  website/docs/r/bot_connection.markdown
  website/docs/r/bot_web_app.markdown
  website/docs/r/data_lake_store_file.html.markdown
  website/docs/r/devspace_controller.html.markdown
  website/docs/r/iotcentral_application.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kusto_database.html.markdown
  website/docs/r/kusto_database_principal.html.markdown
  website/docs/r/monitor_autoscale_setting.html.markdown
  website/docs/r/monitor_diagnostic_setting.html.markdown
  website/docs/r/netapp_account.html.markdown
  website/docs/r/powerbi_embedded.html.markdown
  website/docs/r/private_dns_zone_virtual_network_link.html.markdown
  website/docs/r/recovery_services_vault.markdown
  website/docs/r/security_center_workspace.markdown
  website/docs/r/sql_active_directory_administrator.markdown
  website/docs/r/user_assigned_identity.markdown
Labels: documentation, size/L

#7040 Update storage account syntax for Azure Function App
  website/docs/r/function_app.html.markdown
Labels: documentation, size/XS

#6626 New resource: `azurerm_orchestrated_virtual_machine_scale_set`
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_orchestrated_test.go
  azurerm/internal/services/compute/tests/orchestrated_virtual_machine_scale_set_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_orchestrated_test.go
  azurerm/internal/services/compute/validation.go
  azurerm/internal/services/compute/virtual_machine_scale_set_import.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
  website/azurerm.erb
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, new-data-source, new-resource, preview, service/vmss, size/XXL

#7012 New Resource: `azurerm_time_series_insights_environment`
  azurerm/internal/clients/client.go
  azurerm/internal/provider/required_resource_providers.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/iottimeseriesinsights/client/client.go
  azurerm/internal/services/iottimeseriesinsights/parse/iot_time_series_insights_environment.go
  azurerm/internal/services/iottimeseriesinsights/parse/iot_time_series_insights_environment_test.go
  azurerm/internal/services/iottimeseriesinsights/registration.go
  azurerm/internal/services/iottimeseriesinsights/resource_iot_time_series_insights_standard_environment.go
  azurerm/internal/services/iottimeseriesinsights/tests/resource_iot_time_series_insights_standard_environment_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights/accesspolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights/environments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights/eventsources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights/referencedatasets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/timeseriesinsights/mgmt/2018-08-15-preview/timeseriesinsights/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/azurerm.erb
  website/docs/r/iot_time_series_insights_standard_environment.html.markdown
Labels: dependencies, documentation, service/time-series-insights, size/XXL

#6789 New resource/Data Source `azurerm_data_share`
  azurerm/internal/services/datashare/client/client.go
  azurerm/internal/services/datashare/data_source_data_share.go
  azurerm/internal/services/datashare/parse/data_share.go
  azurerm/internal/services/datashare/parse/data_share_test.go
  azurerm/internal/services/datashare/registration.go
  azurerm/internal/services/datashare/resource_arm_data_share.go
  azurerm/internal/services/datashare/tests/data_source_data_share_test.go
  azurerm/internal/services/datashare/tests/resource_arm_data_share_test.go
  azurerm/internal/services/datashare/validate/data_share.go
  azurerm/internal/services/datashare/validate/data_share_test.go
  website/azurerm.erb
  website/docs/d/data_share.html.markdown
  website/docs/r/data_share.html.markdown
Labels: documentation, new-data-source, new-resource, service/datashare, size/XXL

#7054 Add note about certificate format
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#7060 Clarify the content of the parameters_body argument
  website/docs/r/template_deployment.html.markdown
Labels: documentation, service/template, size/XS

#7061 azurern_[linux|windows]_virtual_machine - Correctly check the length of the rsa ssh `public_key` property
  azurerm/internal/services/compute/ssh_keys.go
Labels: bug, service/virtual-machine, size/XS

#7057 Fix `azurerm_orchestrated_virtual_machine_scale_set` - `azurerm_linux|windows_virtual_machine` should allow to assign `virtual_machine_scale_set_id` in non-zonal deployment
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_orchestrated_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_orchestrated_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
Labels: enhancement, preview, service/vmss, size/XL

#6860 Update Resource: `azurerm_eventgrid_event_subscription`
  azurerm/internal/services/eventgrid/eventgrid_event_subscription_resource.go
  azurerm/internal/services/eventgrid/tests/eventgrid_event_subscription_resource_test.go
  website/docs/r/eventgrid_event_subscription.html.markdown
  website/docs/r/iot_time_series_insights_standard_environment.html.markdown
Labels: documentation, enhancement, service/event-grid, size/XL

#5536 New resource: azurerm_dev_test_global_shutdown_schedule
  .teamcity/components/generated/services.kt
  azurerm/internal/services/devtestlabs/client/client.go
  azurerm/internal/services/devtestlabs/dev_test_global_vm_shutdown_schedule_resource.go
  azurerm/internal/services/devtestlabs/dev_test_global_vm_shutdown_schedule_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_lab_data_source_test.go
  azurerm/internal/services/devtestlabs/dev_test_lab_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_lab_schedule_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_linux_virtual_machine_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_policy_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_virtual_network_data_source_test.go
  azurerm/internal/services/devtestlabs/dev_test_virtual_network_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_windows_virtual_machine_resource_test.go
  azurerm/internal/services/devtestlabs/parse/global_schedule.go
  azurerm/internal/services/devtestlabs/parse/global_schedule_test.go
  azurerm/internal/services/devtestlabs/parse/global_schedule_virtual_machine.go
  azurerm/internal/services/devtestlabs/parse/global_schedule_virtual_machine_test.go
  azurerm/internal/services/devtestlabs/registration.go
  azurerm/internal/services/devtestlabs/validate/global_schedule.go
  azurerm/internal/services/devtestlabs/validate/global_schedule_test.go
  azurerm/internal/services/devtestlabs/validate/global_schedule_virtual_machine.go
  azurerm/internal/services/devtestlabs/validate/global_schedule_virtual_machine_test.go
  website/azurerm.erb
  website/docs/r/dev_test_global_vm_shutdown_schedule.html.markdown
  website/docs/r/dev_test_schedule.html.markdown
  website/docs/r/storage_table_entity.html.markdown
Labels: documentation, new-resource, service/devtestlabs, size/XXL

#7056 Support for `azurerm_kubernetes_cluster` OMS Agent Identity export
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_addons_resource_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_data_source_test.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/L

#6968 azurerm_sql_virtual_network_rule name validation
  azurerm/internal/services/sql/resource_arm_sql_virtual_network_rule.go
  azurerm/internal/services/sql/tests/resource_arm_sql_virtual_network_rule_test.go
Labels: enhancement, service/mssql, size/M

#6979 azurerm_key_vault_certificate: fixed 'Unknown' issuer not working Issue #5589
  azurerm/internal/services/keyvault/key_vault_certificate_resource.go
  azurerm/internal/services/keyvault/tests/key_vault_certificate_resource_test.go
Labels: bug, service/keyvault, size/M

#7072 Use address_prefixes in azurerm_application_gateway
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#7071 r/api_management_api_version_set: handling changes to the Azure Resource ID
  azurerm/internal/services/apimanagement/api_management_api_version_set_resource.go
  azurerm/internal/services/apimanagement/migration/api_version_set.go
  azurerm/internal/services/apimanagement/migration/property.go
  azurerm/internal/services/apimanagement/parse/api_version_set_id.go
  azurerm/internal/services/apimanagement/parse/api_version_set_id_test.go
  azurerm/internal/services/apimanagement/parse/diagnostic_id.go
  azurerm/internal/services/apimanagement/parse/diagnostic_id_test.go
  azurerm/internal/services/apimanagement/parse/logger_id.go
  azurerm/internal/services/apimanagement/parse/logger_id_test.go
  azurerm/internal/services/apimanagement/tests/api_management_api_version_set_resource_test.go
  website/docs/r/api_management_api_version_set.html.markdown
Labels: bug, documentation, service/api-management, size/XL

#6527 d/azurerm_kubernetes_cluster extended with kubelet_identity and identity
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_data_source_test.go
  website/docs/d/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/M

#7084 Update doc for access_tier of storage account
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XS

#7083 Fix validation for serivce bus topic name
  azurerm/helpers/azure/servicebus.go
  azurerm/helpers/azure/servicebus_test.go
Labels: bug, service/servicebus, size/M

#7088 Updated import example for EventGrid Event Subscriptions
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, service/event-grid, size/XS

#7079 azurerm_logic_app_action_http: add `run_after`
  azurerm/internal/services/logic/logic_app_action_http_resource.go
  azurerm/internal/services/logic/logic_apps.go
  azurerm/internal/services/logic/tests/logic_app_action_http_resource_test.go
  website/docs/r/logic_app_action_http.html.markdown
Labels: documentation, service/logic, size/M, waiting-response

#7082 acctest: updating the build config definition to 2020.1
  .teamcity/settings.kts
Labels: size/XS, tooling

#7086 acctest: using teamcity-go-test for service packages
  .teamcity/components/build_components.kt
  .teamcity/components/build_config_pull_request.kt
Labels: enhancement, size/S, tooling

#6867 New data source: `azurerm_advisor_recommendations`
  .teamcity/components/generated/services.kt
  azurerm/helpers/azure/resource_group.go
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/advisor/client/client.go
  azurerm/internal/services/advisor/data_source_advisor_recommendations.go
  azurerm/internal/services/advisor/registration.go
  azurerm/internal/services/advisor/tests/data_source_advisor_recommendations_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/advisor/mgmt/2020-01-01/advisor/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/advisor/mgmt/2020-01-01/advisor/configurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/advisor/mgmt/2020-01-01/advisor/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/advisor/mgmt/2020-01-01/advisor/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/advisor/mgmt/2020-01-01/advisor/recommendationmetadata.go
  vendor/github.com/Azure/azure-sdk-for-go/services/advisor/mgmt/2020-01-01/advisor/recommendations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/advisor/mgmt/2020-01-01/advisor/suppressions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/advisor/mgmt/2020-01-01/advisor/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/azurerm.erb
  website/docs/d/advisor_recommendations.html.markdown
Labels: dependencies, documentation, service/advisor, size/XXL

#7090 docs: removes preview note from `disk_encryption_set`
  website/docs/r/disk_encryption_set.html.markdown
Labels: documentation, service/disks, size/XS

#6858 `azurerm_eventgrid_topic` - support for `input_schema`, `input_mapping_fields`, and `input_mapping_default_values`
  azurerm/internal/services/eventgrid/eventgrid_topic_resource.go
  azurerm/internal/services/eventgrid/tests/eventgrid_topic_resource_test.go
  website/docs/r/eventgrid_topic.html.markdown
Labels: documentation, enhancement, service/event-grid, size/XL

#7096 Fix typo in docs
  website/docs/r/network_interface_backend_address_pool_association.html.markdown
Labels: documentation, size/XS

#6450 Add virtual resource association: azurerm_nat_gateway_public_ip
  azurerm/internal/services/network/nat_gateway_public_ip_association_resource.go
  azurerm/internal/services/network/nat_gateway_resource.go
  azurerm/internal/services/network/parse/nat_gateway.go
  azurerm/internal/services/network/parse/nat_gateway_test.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/nat_gateway_public_ip_association_resource_test.go
  azurerm/internal/services/network/validate/nat_gateway.go
  website/azurerm.erb
  website/docs/d/nat_gateway.html.markdown
  website/docs/r/nat_gateway.html.markdown
  website/docs/r/nat_gateway_public_ip_association.html.markdown
Labels: bug, documentation, new-virtual-resource, service/nat-gateway, size/XL

#7105 acctests: fixing a missing `%`
  .teamcity/components/build_components.kt
Labels: bug, size/XS, tooling

#7098 add 1.x and 2.x changelog entries back into master
  CHANGELOG-v1.md
  CHANGELOG-v2.md
  CHANGELOG.md
Labels: documentation, size/XXL

#6940 `azurerm_shared_image_version` - `target_region.x.storage_account_type` is now defaulted and multiple `target_region`s can be added/removed
  azurerm/internal/services/compute/shared_image_version_resource.go
  website/docs/r/shared_image_version.html.markdown
Labels: bug, documentation, service/images, size/XS

#7091 `azurerm_monitor_action_group` - Doc Fix`function_app_resource_id`
  website/docs/r/monitor_action_group.html.markdown
Labels: documentation, size/XS

#7106 r/nat_gateway_public_ip_association: using a custom ID / support for delta updates in `azurerm_nat_gateway`
  azurerm/internal/services/network/nat_gateway_public_ip_association_resource.go
  azurerm/internal/services/network/nat_gateway_resource.go
  azurerm/internal/services/network/parse/nat_gateway_public_ip_association.go
  azurerm/internal/services/network/parse/nat_gateway_public_ip_association_test.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/nat_gateway_public_ip_association_resource_test.go
  azurerm/internal/services/network/validate/public_ip_address.go
  website/docs/r/nat_gateway_public_ip_association.html.markdown
Labels: documentation, enhancement, service/nat-gateway, size/XL

#7120 [FIX] Remove duplicate underscore in documentation
  website/docs/d/network_service_tags.html.markdown
Labels: documentation, size/XS

#7119 Update public_ip.html.markdown
  website/docs/r/public_ip.html.markdown
Labels: documentation, service/public-ip, size/XS
