Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2020-09, with the labels that each got.

#8309 refactor: splitting Resource Providers out to their own package
  azurerm/internal/acceptance/required_test.go
  azurerm/internal/provider/provider.go
  azurerm/internal/resourceproviders/registration.go
  azurerm/internal/resourceproviders/required.go
Labels: refactor, size/M

#8304 r/key_vault_(key|secret): updating the latest version when updating metadata
  azurerm/internal/services/keyvault/key_vault_key_resource.go
  azurerm/internal/services/keyvault/key_vault_secret_resource.go
  azurerm/internal/services/keyvault/tests/key_vault_key_resource_test.go
  azurerm/internal/services/keyvault/tests/key_vault_secret_resource_test.go
Labels: bug, service/keyvault, size/XL

#8237 `azurerm_cdn_endpoint` - Standardize the resource ID to be case sensitive
  azurerm/internal/services/cdn/cdn_endpoint_resource.go
  azurerm/internal/services/cdn/cdn_profile_data_source.go
  azurerm/internal/services/cdn/cdn_profile_resource.go
  azurerm/internal/services/cdn/migration/cdn_endpoint.go
  azurerm/internal/services/cdn/migration/cdn_endpoint_test.go
  azurerm/internal/services/cdn/migration/cdn_profile.go
  azurerm/internal/services/cdn/migration/cdn_profile_test.go
  azurerm/internal/services/cdn/parse/cdn_endpoint.go
  azurerm/internal/services/cdn/parse/cdn_endpoint_test.go
  azurerm/internal/services/cdn/parse/cdn_profile.go
  azurerm/internal/services/cdn/parse/cdn_profile_test.go
  azurerm/internal/services/cdn/tests/cdn_endpoint_resource_test.go
Labels: bug, service/cdn, size/XXL

#7983 Update `azurerm_linux|windows_virtual_machine_scale_set` - Fix in some circumstances updating VMSS error complaining imageReference is null
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: bug, service/vmss, size/S

#8323 Update function_app.html.markdown
  website/docs/r/function_app.html.markdown
Labels: documentation, service/functions, size/S

#8340 Update api_management.html.markdown
  website/docs/r/api_management.html.markdown
Labels: documentation, service/api-management, size/XS

#8333 Update doc for app_service_name of azurerm_app_service_custom_hostname_binding
  website/docs/r/app_service_custom_hostname_binding.html.markdown
Labels: documentation, size/XS

#8253 New Resource: `azurerm_log_analytics_saved_search`
  azurerm/internal/services/loganalytics/client/client.go
  azurerm/internal/services/loganalytics/log_analytics_saved_search_resource.go
  azurerm/internal/services/loganalytics/parse/log_analytics_saved_search.go
  azurerm/internal/services/loganalytics/parse/log_analytics_saved_search_test.go
  azurerm/internal/services/loganalytics/parse/log_analytics_workspace.go
  azurerm/internal/services/loganalytics/registration.go
  azurerm/internal/services/loganalytics/tests/log_analytics_saved_search_resource_test.go
  website/azurerm.erb
  website/docs/r/log_analytics_saved_search.html.markdown
Labels: dependencies, documentation, new-resource, service/log-analytics, size/XL

#8335 Add support for AllowSelfServeUpgradeToMongo36 to `azurerm_cosmosdb_account`
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/tests/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/XS

#8348 Updating firewall_network_rule_collection docs to revert FQDN doc change
  website/docs/r/firewall_network_rule_collection.html.markdown
Labels: documentation, service/firewall, size/XS

#8294 Add azuread auth to vnet gateway vpn client
  azurerm/internal/services/network/tests/virtual_network_gateway_resource_test.go
  azurerm/internal/services/network/virtual_network_gateway_data_source.go
  azurerm/internal/services/network/virtual_network_gateway_resource.go
  website/docs/d/virtual_network_gateway.html.markdown
  website/docs/r/virtual_network_gateway.html.markdown
Labels: documentation, enhancement, service/virtual-network-gateway, size/L

#8336 support managed identity for "azurerm_spring_cloud_app"
  azurerm/internal/services/appplatform/spring_cloud_app_resource.go
  azurerm/internal/services/appplatform/tests/spring_cloud_app_resource_test.go
  website/docs/r/spring_cloud_app.html.markdown
Labels: documentation, enhancement, services/spring, size/L

#7885 New Resource/New Data Source: `azurerm_attestation_provider`
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/attestation/attestation_provider_data_source.go
  azurerm/internal/services/attestation/attestation_provider_resource.go
  azurerm/internal/services/attestation/client/client.go
  azurerm/internal/services/attestation/parse/attestation.go
  azurerm/internal/services/attestation/parse/attestation_test.go
  azurerm/internal/services/attestation/registration.go
  azurerm/internal/services/attestation/tests/attestation_data_source_test.go
  azurerm/internal/services/attestation/tests/attestation_resource_test.go
  azurerm/internal/services/attestation/tests/testdata/cert.pem
  azurerm/internal/services/attestation/validate/attestation.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/attestation/mgmt/2018-09-01-preview/attestation/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/attestation/mgmt/2018-09-01-preview/attestation/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/attestation/mgmt/2018-09-01-preview/attestation/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/attestation/mgmt/2018-09-01-preview/attestation/providers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/attestation/mgmt/2018-09-01-preview/attestation/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/azurerm.erb
  website/docs/d/attestation.html.markdown
  website/docs/r/attestation.html.markdown
Labels: dependencies, documentation, new-data-source, new-resource, service/attestation, size/XXL

#8360 correct some minor spelling mistake in comments and docs
  azurerm/internal/services/web/resource_arm_function_app.go
  website/docs/r/data_factory_linked_service_cosmosdb.html.markdown
Labels: documentation, size/XS

#8369 `azurerm_cosmosdb_account` document example add `capabilities`
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, size/XS

#7902 New Data Source: `azurerm_function_app_host_keys`
  azurerm/internal/services/web/data_source_function_app_host_keys.go
  azurerm/internal/services/web/registration.go
  azurerm/internal/services/web/tests/data_source_function_app_host_keys_test.go
  website/azurerm.erb
  website/docs/d/function_app_host_keys.html.markdown
Labels: documentation, new-data-source, service/functions, size/L, waiting-response

#8383 Bug: `azurerm_windows_virtual_machine` and `azurerm_linux_virtual_machine` - Add WaitForState on VM delete
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
Labels: bug, service/virtual-machine, size/L, upstream-microsoft

#8349 New Resource: `azurerm_data_factory_linked_service_azure_sql_database`
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource_test.go
  azurerm/internal/services/datafactory/parse/data_factory_linked_service.go
  azurerm/internal/services/datafactory/parse/data_factory_linked_service_test.go
  azurerm/internal/services/datafactory/registration.go
  website/azurerm.erb
  website/docs/r/data_factory_linked_service_azure_sql_database.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#7873 New Resource: `azurerm_api_management_api_diagnostic`
  azurerm/helpers/azure/resourceid.go
  azurerm/internal/services/apimanagement/api_management_api_diagnostic_resource.go
  azurerm/internal/services/apimanagement/api_management_diagnostic_resource.go
  azurerm/internal/services/apimanagement/client/client.go
  azurerm/internal/services/apimanagement/parse/api_diagnostic_id.go
  azurerm/internal/services/apimanagement/parse/api_diagnostic_id_test.go
  azurerm/internal/services/apimanagement/registration.go
  azurerm/internal/services/apimanagement/tests/api_management_api_diagnostic_resource_test.go
  website/azurerm.erb
  website/docs/r/api_management_api_diagnostic.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#8404 [Refactor] bring back the `SystemAssigned, UserAssigned` defined in go SDK to app service
  .teamcity/components/generated/services.kt
  azurerm/internal/services/web/app_service.go
Labels: refactor, service/app-service, size/XS

#6107 Fixing destroy when role scope is a Management Group
  azurerm/internal/services/authorization/parse/role_definition.go
  azurerm/internal/services/authorization/role_definition_migration.go
  azurerm/internal/services/authorization/role_definition_migration_test.go
  azurerm/internal/services/authorization/role_definition_resource.go
  azurerm/internal/services/authorization/tests/role_definition_resource_test.go
  website/docs/r/role_definition.html.markdown
Labels: bug, documentation, service/management-groups, size/XL

#8372 azurerm_application_insights_webtests: .Kind turns to null after editing in Portal
  azurerm/internal/services/applicationinsights/application_insights_webtests_resource.go
Labels: bug, service/application-insights, size/XS

#8365 added azurerm_lb_rule data source for #8271
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/lb_rule_data_source.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/loadbalancer_rule_data_source_test.go
  website/docs/d/lb_rule.html.markdown
Labels: documentation, new-data-source, service/load-balancers, size/XL

#8409 `api_management_x.y.api_name` - validation fix
  azurerm/helpers/azure/api_management.go
  azurerm/internal/services/apimanagement/api_management_api_diagnostic_resource.go
  azurerm/internal/services/apimanagement/api_management_api_operation_policy_resource.go
  azurerm/internal/services/apimanagement/api_management_api_operation_resource.go
  azurerm/internal/services/apimanagement/api_management_api_policy_resource.go
  azurerm/internal/services/apimanagement/api_management_api_resource.go
  azurerm/internal/services/apimanagement/api_management_api_schema_resource.go
  azurerm/internal/services/apimanagement/api_management_product_api_resource.go
Labels: bug, service/api-management, size/S

#8412 `azurerm_servicebus_subscription ` - add support for -`dead_lettering_on_filter_evaluation_error`
  azurerm/internal/services/servicebus/resource_arm_servicebus_subscription.go
  azurerm/internal/services/servicebus/tests/resource_arm_servicebus_subscription_test.go
  website/docs/r/servicebus_subscription.html.markdown
Labels: documentation, enhancement, service/servicebus, size/S

#7793 New resource `azurerm_mssql_database_extended_auditing_policy`
  azurerm/internal/services/mssql/helper/sql_extended_auditing.go
  azurerm/internal/services/mssql/mssql_database_extended_auditing_policy_resource.go
  azurerm/internal/services/mssql/parse/mssql.go
  azurerm/internal/services/mssql/parse/mssql_test.go
  azurerm/internal/services/mssql/registration.go
  azurerm/internal/services/mssql/tests/mssql_database_extended_auditing_policy_resource_test.go
  azurerm/internal/services/mssql/tests/mssql_database_resource_test.go
  azurerm/internal/services/sql/helper/sql_extended_auditing.go
  azurerm/internal/services/sql/tests/resource_arm_sql_database_test.go
  website/azurerm.erb
  website/docs/r/mssql_database.html.markdown
  website/docs/r/mssql_database_extended_auditing_policy.html.markdown
  website/docs/r/sql_database.html.markdown
Labels: documentation, service/mssql, size/XL

#8366 Update name validation for azurerm_storage_share_directory
  azurerm/helpers/validate/storage.go
  azurerm/helpers/validate/storage_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_share_directory_test.go
Labels: bug, service/storage, size/M

#8384 azurerm_network_security_group: add the new resource check back as is in a CreateOrUpdate callback
  azurerm/internal/services/network/network_security_group_resource.go
Labels: bug, regression, service/network-security, size/XS

#8357 r/cognitive_account: fixing a crash & supporting AnomalyDetector / QnAMaker
  azurerm/internal/services/cognitive/cognitive_account_resource.go
  azurerm/internal/services/cognitive/tests/cognitive_account_resource_test.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, enhancement, service/cognitive-services, size/M

#8430 `data.azurerm_function_app_host_keys` - Fix crash when no id is present
  azurerm/internal/services/web/data_source_function_app_host_keys.go
Labels: crash, service/app-service, size/XS

#7907 New resource/data source `azurerm_data_share_dataset_data_lake_gen2`
  azurerm/internal/services/datashare/data_source_data_share_dataset_data_lake_gen2.go
  azurerm/internal/services/datashare/registration.go
  azurerm/internal/services/datashare/resource_arm_data_share_dataset_data_lake_gen2.go
  azurerm/internal/services/datashare/tests/data_source_data_share_dataset_data_lake_gen2_test.go
  azurerm/internal/services/datashare/tests/resource_arm_data_share_dataset_data_lake_gen2_test.go
  azurerm/internal/services/datashare/validate/data_share.go
  azurerm/internal/services/storage/parsers/id.go
  website/azurerm.erb
  website/docs/d/data_share_dataset_data_lake_gen2.html.markdown
  website/docs/r/data_share_dataset_data_lake_gen2.html.markdown
Labels: documentation, service/data-share, size/XL

#7843 New resource/data source `azurerm_storage_sync`
  azurerm/internal/services/storage/client/client.go
  azurerm/internal/services/storage/data_source_storage_sync.go
  azurerm/internal/services/storage/parsers/id.go
  azurerm/internal/services/storage/parsers/id_test.go
  azurerm/internal/services/storage/registration.go
  azurerm/internal/services/storage/resource_arm_storage_sync.go
  azurerm/internal/services/storage/tests/data_source_storage_sync_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_sync_test.go
  azurerm/internal/services/storage/validate/storage_sync.go
  azurerm/internal/services/storage/validate/storage_sync_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/cloudendpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/operationstatus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/registeredservers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/serverendpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/services.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/syncgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagesync/mgmt/2020-03-01/storagesync/workflows.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/d/storage_sync.html.markdown
  website/docs/r/storage_sync.html.markdown
Labels: dependencies, documentation, service/storage, size/XXL

#8095 new resource `azurerm_synapse_sql_pool`
  azurerm/internal/services/sql/parse/sql_database.go
  azurerm/internal/services/sql/parse/sql_database_test.go
  azurerm/internal/services/sql/resource_arm_sql_database.go
  azurerm/internal/services/sql/validate/sql_database.go
  azurerm/internal/services/synapse/client/client.go
  azurerm/internal/services/synapse/parse/synapse_sql_pool.go
  azurerm/internal/services/synapse/parse/synapse_sql_pool_test.go
  azurerm/internal/services/synapse/registration.go
  azurerm/internal/services/synapse/synapse_sql_pool_resource.go
  azurerm/internal/services/synapse/tests/synapse_sql_pool_resource_test.go
  azurerm/internal/services/synapse/validate/synapse_sql_pool.go
  azurerm/internal/services/synapse/validate/synapse_sql_pool_test.go
  website/azurerm.erb
  website/docs/r/synapse_sql_pool.html.markdown
Labels: documentation, new-resource, service/synapse, size/XXL, waiting-response

#8167 Update segment of resource id for network packet capture
  azurerm/internal/services/network/migration/network_packet_capture.go
  azurerm/internal/services/network/network_packet_capture_resource.go
  azurerm/internal/services/network/parse/network_packet_capture.go
  azurerm/internal/services/network/parse/network_packet_capture_test.go
  azurerm/internal/services/network/tests/network_packet_capture_resource_test.go
Labels: bug, service/network-watcher, size/XL

#8434 `azurerm_synapse_sql_pool` - leverage newer version mssql
  azurerm/internal/services/mssql/parse/mssql.go
  azurerm/internal/services/mssql/parse/mssql_test.go
  azurerm/internal/services/synapse/synapse_sql_pool_resource.go
Labels: enhancement, service/synapse, size/XS

#8423 Delete ISSUE_TEMPLATE.md in favour of ISSUE_TEMPLATE folder
  .github/ISSUE_TEMPLATE.md
Labels: size/XS

#8395 Change `API` to `Api` in few testcases name
  azurerm/internal/services/apimanagement/tests/api_management_authorization_server_resource_test.go
  azurerm/internal/services/apimanagement/tests/api_management_certificate_resource_test.go
  azurerm/internal/services/apimanagement/tests/api_management_group_resource_test.go
  azurerm/internal/services/apimanagement/tests/api_management_group_user_resource_test.go
  azurerm/internal/services/apimanagement/tests/api_management_named_value_resource_test.go
  azurerm/internal/services/apimanagement/tests/api_management_product_api_resource_test.go
  azurerm/internal/services/apimanagement/tests/api_management_product_group_resource_test.go
  azurerm/internal/services/apimanagement/tests/api_management_property_resource_test.go
  azurerm/internal/services/apimanagement/tests/api_management_subscription_resource_test.go
Labels: refactor, service/api-management, size/L

#8394 Fix resource name, myssql => mysql
  azurerm/internal/services/mysql/mysql_virtual_network_rule_resource.go
  azurerm/internal/services/mysql/registration.go
  azurerm/internal/services/mysql/tests/mysql_virtual_network_rule_resource_test.go
Labels: size/M

#8024 Fixed parsing of management group id
  azurerm/internal/services/managementgroup/parse/management_group.go
  azurerm/internal/services/managementgroup/parse/management_group_test.go
Labels: bug, service/management-groups, size/XS

#8389 data.function_app - export the identity block
  azurerm/internal/services/web/data_source_function_app.go
  azurerm/internal/services/web/function_app.go
  azurerm/internal/services/web/tests/resource_arm_function_app_test.go
  website/docs/d/function_app.html.markdown
Labels: documentation, service/functions, size/M

#8370 azurerm_app_service_hybrid_connection - support relays in different namespaces
  azurerm/internal/services/web/app_service_hybrid_connection_resource.go
  azurerm/internal/services/web/tests/app_service_hybrid_connection_resource_test.go
Labels: enhancement, service/app-service, size/M

#8388 azurerm_eventhub_consumer_group - allow the name property to be set to $Default
  azurerm/internal/services/eventhub/eventhub_consumer_group_data_source.go
  azurerm/internal/services/eventhub/tests/eventhub_consumer_group_data_source_test.go
Labels: enhancement, service/event-hubs, size/M

#8374 azurerm_kubernetes_cluster - ensure OMS Agent log analytics workspace case is preserved after disabling/enabling
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_addons_resource_test.go
Labels: bug, service/kubernetes-cluster, size/M, upstream-microsoft

#8444 correct the doco - the Self-hosted Integration Runtime resource is re…
  website/docs/r/data_factory_integration_runtime_self_hosted.html.markdown
Labels: documentation, service/data-factory, size/XS

#8386 Update waiting logic for azurerm_cognitive_account
  azurerm/internal/services/cognitive/cognitive_account_resource.go
  azurerm/internal/services/cognitive/tests/cognitive_account_resource_test.go
Labels: service/cognitive-services, size/M

#7773 Support autoscaling Cosmos DB databases and containers
  azurerm/helpers/validate/cosmos.go
  azurerm/helpers/validate/cosmos_test.go
  azurerm/internal/services/cosmos/common/autoscale_settings.go
  azurerm/internal/services/cosmos/common/schema.go
  azurerm/internal/services/cosmos/common/throughput.go
  azurerm/internal/services/cosmos/cosmosdb_cassandra_keyspace_resource.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_database_resource.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_collection_resource.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_database_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_database_resource.go
  azurerm/internal/services/cosmos/cosmosdb_table_resource.go
  azurerm/internal/services/cosmos/tests/cosmosdb_cassandra_keyspace_resource_test.go
  azurerm/internal/services/cosmos/tests/cosmosdb_gremlin_database_resource_test.go
  azurerm/internal/services/cosmos/tests/cosmosdb_gremlin_graph_resource_test.go
  azurerm/internal/services/cosmos/tests/cosmosdb_mongo_collection_resource_test.go
  azurerm/internal/services/cosmos/tests/cosmosdb_mongo_database_resource_test.go
  azurerm/internal/services/cosmos/tests/cosmosdb_sql_container_resource_test.go
  azurerm/internal/services/cosmos/tests/cosmosdb_sql_database_resource_test.go
  azurerm/internal/services/cosmos/tests/cosmosdb_table_resource_test.go
  website/docs/r/cosmosdb_cassandra_keyspace.html.markdown
  website/docs/r/cosmosdb_gremlin_database.html.markdown
  website/docs/r/cosmosdb_gremlin_graph.html.markdown
  website/docs/r/cosmosdb_mongo_collection.html.markdown
  website/docs/r/cosmosdb_mongo_database.html.markdown
  website/docs/r/cosmosdb_sql_container.html.markdown
  website/docs/r/cosmosdb_sql_database.html.markdown
  website/docs/r/cosmosdb_table.html.markdown
Labels: documentation, service/cosmosdb, size/XL

#8235 Add azurerm_firewall management IP configuration
  azurerm/internal/services/network/firewall_resource.go
  azurerm/internal/services/network/tests/firewall_resource_test.go
  website/docs/r/firewall.html.markdown
Labels: documentation, enhancement, service/firewall, size/L

#8448 azurerm_firewall_network_rule_collection: add doc/test to highlight dest addr service tag support
  azurerm/internal/services/network/tests/firewall_network_rule_collection_resource_test.go
  website/docs/r/firewall_network_rule_collection.html.markdown
Labels: documentation, service/firewall, size/S

#8451 Update main.tf
  examples/vm-scale-set/linux/custom-data/main.tf
Labels: documentation, service/vmss, size/XS

#8478 Update to fix typo `PostgreSqlServer` test name
  azurerm/internal/services/postgres/tests/postgresql_server_data_source_test.go
Labels: service/postgresql, size/XS, tests

#8447 New resource `azurerm_mssql_server_extended_auditing_policy`
  azurerm/internal/services/mssql/mssql_server_extended_auditing_policy_resource.go
  azurerm/internal/services/mssql/parse/mssql.go
  azurerm/internal/services/mssql/parse/mssql_test.go
  azurerm/internal/services/mssql/registration.go
  azurerm/internal/services/mssql/tests/mssql_server_extended_auditing_policy_resource_test.go
  website/azurerm.erb
  website/docs/r/mssql_server_extended_auditing_policy.html.markdown
Labels: documentation, size/XL

#8438 New Data Source: azurerm_servicebus_queue_authorization_rule
  azurerm/internal/services/servicebus/data_source_servicebus_queue_authorization_rule.go
  azurerm/internal/services/servicebus/registration.go
  azurerm/internal/services/servicebus/tests/data_source_servicebus_queue_authorization_rule_test.go
  website/docs/d/servicebus_queue_authorization_rule.html.markdown
Labels: documentation, new-data-source, service/servicebus, size/L

#6560 New resources: `azurerm_lighthouse_definition` and 'azurerm_lighthouse_assignment'
  .teamcity/components/generated/services.kt
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/resourceproviders/required.go
  azurerm/internal/services/lighthouse/client/client.go
  azurerm/internal/services/lighthouse/parse/lighthouse_assignment.go
  azurerm/internal/services/lighthouse/parse/lighthouse_assignment_test.go
  azurerm/internal/services/lighthouse/parse/lighthouse_definition.go
  azurerm/internal/services/lighthouse/parse/lighthouse_definition_test.go
  azurerm/internal/services/lighthouse/registration.go
  azurerm/internal/services/lighthouse/resource_arm_lighthouse_assignment.go
  azurerm/internal/services/lighthouse/resource_arm_lighthouse_definition.go
  azurerm/internal/services/lighthouse/tests/data_source_lighthouse_definition_test.go
  azurerm/internal/services/lighthouse/tests/resource_arm_lighthouse_assignment_test.go
  azurerm/internal/services/lighthouse/tests/resource_arm_lighthouse_definition_test.go
  azurerm/internal/services/lighthouse/validate/lighthouse_definition_id.go
  azurerm/internal/services/subscription/validate/subscription_id.go
  azurerm/internal/services/subscription/validate/subscription_id_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/managedservices/mgmt/2019-06-01/managedservices/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/managedservices/mgmt/2019-06-01/managedservices/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/managedservices/mgmt/2019-06-01/managedservices/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/managedservices/mgmt/2019-06-01/managedservices/registrationassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/managedservices/mgmt/2019-06-01/managedservices/registrationdefinitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/managedservices/mgmt/2019-06-01/managedservices/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/azurerm.erb
  website/docs/r/lighthouse_assignment.html.markdown
  website/docs/r/lighthouse_definition.html.markdown
Labels: dependencies, documentation, service/lighthouse, size/XXL

#8487 `data.azurerm_app_service_environment` - Expose vip information of an app service environment
  azurerm/internal/services/web/app_service_environment_data_source.go
  azurerm/internal/services/web/tests/app_service_environment_data_source_test.go
  website/docs/d/app_service_environment.html.markdown
  website/docs/d/data_share_dataset_data_lake_gen2.html.markdown
  website/docs/d/lb_rule.html.markdown
  website/docs/d/servicebus_queue_authorization_rule.html.markdown
Labels: documentation, size/S

#8492 `azurerm_role_definition` - expose `role_definition_resource_id`
  azurerm/internal/services/authorization/role_definition_resource.go
  azurerm/internal/services/authorization/tests/role_assignment_resource_test.go
  website/docs/r/role_definition.html.markdown
Labels: documentation, service/authorization, size/XS

#7836 r/storage_account_customer_managed_key - support for key rotation
  azurerm/internal/services/machinelearning/machine_learning_workspace_resource.go
  azurerm/internal/services/storage/client/client.go
  azurerm/internal/services/storage/client/helpers.go
  azurerm/internal/services/storage/data_source_storage_account.go
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/resource_arm_storage_account_customer_managed_key.go
  azurerm/internal/services/storage/resource_arm_storage_account_migration.go
  azurerm/internal/services/storage/resource_arm_storage_account_network_rules.go
  azurerm/internal/services/storage/resource_arm_storage_management_policy.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_customer_managed_key_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/blobcontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/blobservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/encryptionscopes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/fileservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/fileshares.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/managementpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/objectreplicationpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/queue.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/queueservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/table.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/tableservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2019-06-01/storage/version.go
  vendor/modules.txt
  website/docs/r/storage_account_customer_managed_key.html.markdown
Labels: dependencies, service/storage, size/XXL

#8505 Update kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#8496 Update doc for the usage of storage share
  examples/storage/storage-share/main.tf
  examples/storage/storage-share/variables.tf
  website/docs/r/storage_share.html.markdown
Labels: documentation, size/S

#8462 New resource/data source `azurerm_storage_sync_group`
  azurerm/internal/services/storage/client/client.go
  azurerm/internal/services/storage/data_source_storage_sync_group.go
  azurerm/internal/services/storage/parsers/id.go
  azurerm/internal/services/storage/parsers/id_test.go
  azurerm/internal/services/storage/registration.go
  azurerm/internal/services/storage/resource_arm_storage_sync_group.go
  azurerm/internal/services/storage/tests/data_source_storage_sync_group_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_sync_group_test.go
  azurerm/internal/services/storage/validate/storage_sync.go
  website/azurerm.erb
  website/docs/d/storage_sync_group.html.markdown
  website/docs/r/storage_sync_group.html.markdown
Labels: documentation, new-data-source, new-resource, service/storage, size/XL

#8499 Example: `azurerm_kubernetes_cluster` with data source public ip
  examples/kubernetes/public-ip/main.tf
  examples/kubernetes/public-ip/outputs.tf
  examples/kubernetes/public-ip/variables.tf
Labels: size/M

#8495 Doc Fix: `azurerm_private_endpoint` Updating documentation for `private_ip_address`
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, size/XS

#8521 `azurerm_service_fabric_cluster` - Remove two block limit for `client_certificate_thumbprint`
  azurerm/internal/services/servicefabric/resource_arm_service_fabric_cluster.go
  azurerm/internal/services/servicefabric/tests/resource_arm_service_fabric_cluster_test.go
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, service/service-fabric, size/M

#8536 Doc Fix: `azurerm_service_fabric_cluster` - `client_certificate_thumbprint`
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, size/XS

#8464 New resource/data source `azurerm_data_share_dataset_kusto_cluster`
  azurerm/internal/services/datashare/data_source_data_share_dataset_kusto_cluster.go
  azurerm/internal/services/datashare/registration.go
  azurerm/internal/services/datashare/resource_arm_data_share_dataset_kusto_cluster.go
  azurerm/internal/services/datashare/tests/data_source_data_share_dataset_kusto_cluster_test.go
  azurerm/internal/services/datashare/tests/resource_arm_data_share_dataset_kusto_cluster_test.go
  website/azurerm.erb
  website/docs/d/data_share_dataset_kusto_cluster.html.markdown
  website/docs/r/data_share_dataset_kusto_cluster.html.markdown
Labels: documentation, new-data-source, new-resource, service/data-share, size/XL

#8502 New data source: `azurerm_databricks_workspace`
  azurerm/internal/services/databricks/databricks_workspace_data_source.go
  azurerm/internal/services/databricks/registration.go
  azurerm/internal/services/databricks/tests/databricks_workspace_data_source_test.go
  website/docs/d/databricks_workspace.html.markdown
Labels: documentation, new-data-source, service/databricks, size/L

#8503 find system node pool as a fallback - azurerm_kubernetes_cluster
  azurerm/internal/services/containers/kubernetes_nodepool.go
Labels: bug, service/kubernetes-cluster, size/XS

#8531 `azurerm_app_service` && `azurerm_function_app` - don't try to manage source_control when scm_type is `VSTSRM`
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/resource_arm_app_service.go
  azurerm/internal/services/web/resource_arm_function_app.go
Labels: bug, service/app-service, size/XS

#8542 windows_virtual_machine: Allow updating license_type without recreation.
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, enhancement, service/virtual-machine, size/M

#8541 r/signalr: support for delta updates
  azurerm/internal/services/signalr/resource_arm_signalr_service.go
  azurerm/internal/services/signalr/tests/resource_arm_signalr_service_test.go
Labels: enhancement, service/signalr, size/M

#7917 New data source `azurerm_mssql_server` and new block `restorable_dropped_databases` in `azuerrm_mssql_server`
  azurerm/internal/services/mssql/client/client.go
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/mssql/mssql_server_data_source.go
  azurerm/internal/services/mssql/mssql_server_resource.go
  azurerm/internal/services/mssql/parse/mssql.go
  azurerm/internal/services/mssql/parse/mssql_test.go
  azurerm/internal/services/mssql/registration.go
  azurerm/internal/services/mssql/tests/mssql_database_resource_test.go
  azurerm/internal/services/mssql/tests/mssql_server_data_source_test.go
  azurerm/internal/services/mssql/validate/mssql_database.go
  website/azurerm.erb
  website/docs/d/mssql_server.html.markdown
  website/docs/r/mssql_database.html.markdown
  website/docs/r/mssql_server.html.markdown
Labels: documentation, service/mssql, size/XL

#8533 azurerm_cosmosdb_account - support the `Serverless` value for the `capabilities` property
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/tests/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, enhancement, preview, service/cosmosdb, size/XS, waiting-response

#8126 New resource `azurerm_postgresql_server_key` - Add CMK support
  azurerm/internal/services/postgres/client/client.go
  azurerm/internal/services/postgres/parse/postgresql_server.go
  azurerm/internal/services/postgres/parse/postgresql_server_key.go
  azurerm/internal/services/postgres/parse/postgresql_server_key_test.go
  azurerm/internal/services/postgres/parse/postgresql_server_test.go
  azurerm/internal/services/postgres/postgresql_configuration_resource.go
  azurerm/internal/services/postgres/postgresql_database_resource.go
  azurerm/internal/services/postgres/postgresql_firewall_rule_resource.go
  azurerm/internal/services/postgres/postgresql_server_key_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/postgresql_virtual_network_rule_resource.go
  azurerm/internal/services/postgres/registration.go
  azurerm/internal/services/postgres/tests/postgresql_server_key_resource_test.go
  azurerm/internal/services/postgres/validate/postgresql_server.go
  azurerm/internal/services/postgres/validate/postgresql_server_test.go
  website/azurerm.erb
  website/docs/r/postgresql_server_key.html.markdown
Labels: documentation, new-resource, service/postgresql, size/XL, waiting-response

#8461 azurerm_cosmosdb_sql_container - support for `indexing_policy`
  azurerm/internal/services/cosmos/common/indexing_policy.go
  azurerm/internal/services/cosmos/common/indexing_policy_test.go
  azurerm/internal/services/cosmos/common/schema.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource.go
  azurerm/internal/services/cosmos/tests/cosmosdb_sql_container_resource_test.go
  website/docs/r/cosmosdb_sql_container.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/XL

#8125 New resource `azurerm_mysql_server_key` - Add CMK support
  azurerm/internal/services/mysql/client/client.go
  azurerm/internal/services/mysql/mysql_configuration_resource.go
  azurerm/internal/services/mysql/mysql_database_resource.go
  azurerm/internal/services/mysql/mysql_firewall_rule_resource.go
  azurerm/internal/services/mysql/mysql_server_key_resource.go
  azurerm/internal/services/mysql/mysql_server_resource.go
  azurerm/internal/services/mysql/mysql_virtual_network_rule_resource.go
  azurerm/internal/services/mysql/parse/mysql_server.go
  azurerm/internal/services/mysql/parse/mysql_server_key.go
  azurerm/internal/services/mysql/parse/mysql_server_key_test.go
  azurerm/internal/services/mysql/parse/mysql_server_test.go
  azurerm/internal/services/mysql/registration.go
  azurerm/internal/services/mysql/tests/mysql_server_key_resource_test.go
  azurerm/internal/services/mysql/validate/mysql_server.go
  azurerm/internal/services/mysql/validate/mysql_server_test.go
  website/docs/r/mysql_server_key.html.markdown
Labels: documentation, enhancement, service/mysql, size/XL

#8477 dependencies: update ACR client to 2019-05-01
  azurerm/internal/services/containers/client/client.go
  azurerm/internal/services/containers/container_registry_resource.go
  azurerm/internal/services/containers/container_registry_webhook_resource.go
  azurerm/internal/services/containers/tests/container_registry_resource_test.go
  azurerm/internal/services/machinelearning/machine_learning_workspace_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2019-05-01/containerregistry/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2019-05-01/containerregistry/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2019-05-01/containerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2019-05-01/containerregistry/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2019-05-01/containerregistry/registries.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2019-05-01/containerregistry/replications.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2019-05-01/containerregistry/runs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2019-05-01/containerregistry/tasks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2019-05-01/containerregistry/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerregistry/mgmt/2019-05-01/containerregistry/webhooks.go
  vendor/modules.txt
  website/docs/r/container_registry.html.markdown
Labels: dependencies, documentation, service/container-service, size/XL

#7390 new resource: azurerm_firewall_policy
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/firewall_policy_data_source.go
  azurerm/internal/services/network/firewall_policy_resource.go
  azurerm/internal/services/network/nat_gateway_data_source.go
  azurerm/internal/services/network/nat_gateway_resource.go
  azurerm/internal/services/network/network_subresource.go
  azurerm/internal/services/network/parse/firewall_policy.go
  azurerm/internal/services/network/parse/firewall_policy_test.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/firewall_policy_data_source_test.go
  azurerm/internal/services/network/tests/firewall_policy_resource_test.go
  azurerm/internal/services/network/validate/firewall_policy.go
  website/azurerm.erb
  website/docs/d/firewall_policy.html.markdown
  website/docs/r/firewall_policy.html.markdown
Labels: documentation, new-data-source, new-resource, service/firewall, size/XXL

#8270 Update `azurerm_policy_set_definition` - Support to use non-string typed parameter values in `policy_definition_reference` block
  azurerm/internal/services/policy/policy_set_definition_data_source.go
  azurerm/internal/services/policy/policy_set_definition_resource.go
  azurerm/internal/services/policy/tests/policy_set_definition_resource_test.go
  website/docs/d/policy_set_definition.html.markdown
  website/docs/r/policy_set_definition.html.markdown
Labels: bug, documentation, service/policy, size/M

#8557 `azurerm_search_service` - Add support for `allowed_ips`
  azurerm/internal/services/search/resource_arm_search_service.go
  azurerm/internal/services/search/tests/resource_arm_search_service_test.go
  website/docs/r/search_service.html.markdown
Labels: documentation, size/M

#8569 r/storage: fixing the clients to be pointers
  azurerm/internal/services/storage/client/client.go
  azurerm/internal/services/storage/data_source_storage_sync_group.go
  azurerm/internal/services/storage/resource_arm_storage_sync_group.go
  azurerm/internal/services/storage/tests/resource_arm_storage_sync_group_test.go
Labels: bug, service/storage, size/XS

#8588 update doc - azurerm_role_definition and azurerm_role_assignment
  website/docs/r/role_assignment.html.markdown
  website/docs/r/role_definition.html.markdown
Labels: documentation, size/XS

#8590 update doc - azurerm_kubernetes_cluster
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#8592 updating to v46.3.0 of github.com/Azure/azure-sdk-for-go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/XS

#7601 upgrade network to 2020-05-01 for vhub(conn) & vwan
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/parse/virtual_hub.go
  azurerm/internal/services/network/parse/virtual_hub_connection.go
  azurerm/internal/services/network/parse/virtual_hub_connection_test.go
  azurerm/internal/services/network/parse/virtual_hub_test.go
  azurerm/internal/services/network/point_to_site_vpn_gateway_resource.go
  azurerm/internal/services/network/tests/virtual_hub_connection_resource_test.go
  azurerm/internal/services/network/tests/virtual_wan_resource_test.go
  azurerm/internal/services/network/validate/virtual_hub.go
  azurerm/internal/services/network/validate/virtual_hub_test.go
  azurerm/internal/services/network/virtual_hub_connection_resource.go
  azurerm/internal/services/network/virtual_hub_resource.go
  azurerm/internal/services/network/virtual_wan_resource.go
  azurerm/internal/services/network/vpn_gateway_resource.go
  website/docs/r/virtual_hub_connection.html.markdown
  website/docs/r/virtual_wan.html.markdown
Labels: dependencies, documentation, service/virtual-hub, service/virtual-wan, size/XL

#8568 `azurerm_spring_cloud_service` - support virtual network integration
  azurerm/internal/services/appplatform/spring_cloud_service_resource.go
  azurerm/internal/services/appplatform/tests/spring_cloud_service_resource_test.go
  website/docs/r/spring_cloud_service.html.markdown
Labels: documentation, enhancement, services/spring, size/L

#8616 azurerm_app_service_virtual_network_swift_connection - prevent a panic
  azurerm/internal/services/web/resource_arm_app_service_slot_virtual_network_swift_connection.go
Labels: bug, crash, service/app-service, size/XS

#8556 New resource: azurerm_ip_groups
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/firewall_application_rule_collection_resource.go
  azurerm/internal/services/network/firewall_nat_rule_collection_resource.go
  azurerm/internal/services/network/firewall_network_rule_collection_resource.go
  azurerm/internal/services/network/ip_group.go
  azurerm/internal/services/network/ip_group_data_source.go
  azurerm/internal/services/network/ip_group_resource.go
  azurerm/internal/services/network/network_security_group_data_source.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/firewall_application_rule_collection_resource_test.go
  azurerm/internal/services/network/tests/firewall_nat_rule_collection_resource_test.go
  azurerm/internal/services/network/tests/firewall_network_rule_collection_resource_test.go
  azurerm/internal/services/network/tests/firewall_resource_test.go
  azurerm/internal/services/network/tests/ip_group_data_source_test.go
  azurerm/internal/services/network/tests/ip_group_resource_test.go
  azurerm/internal/services/network/tests/ip_group_test.go
  website/azurerm.erb
  website/docs/d/ip_group.html.markdown
  website/docs/r/firewall_application_rule_collection.html.markdown
  website/docs/r/firewall_nat_rule_collection.html.markdown
  website/docs/r/firewall_network_rule_collection.html.markdown
  website/docs/r/ip_group.html.markdown
Labels: documentation, new-data-source, new-resource, service/firewall, size/XXL

#8612 doc: Add querystring caching behaviour precision
  website/docs/r/cdn_endpoint.html.markdown
Labels: documentation, service/cdn, size/XS

#8601 Update validation for scope of azurerm_lighthouse_assignment
  azurerm/internal/services/lighthouse/resource_arm_lighthouse_assignment.go
Labels: enhancement, service/lighthouse, size/XS

#8602 `azurerm_cosmosdb_mongo_collection` order of compound `keys` in `index` matters
  azurerm/internal/services/cosmos/cosmosdb_mongo_collection_resource.go
Labels: bug, service/cosmosdb, size/XS

#8622 Refactor IotHub RP
  azurerm/internal/services/iothub/iothub_consumer_group_resource.go
  azurerm/internal/services/iothub/iothub_dps_certificate_resource.go
  azurerm/internal/services/iothub/iothub_dps_data_source.go
  azurerm/internal/services/iothub/iothub_dps_resource.go
  azurerm/internal/services/iothub/iothub_dps_shared_access_policy_data_source.go
  azurerm/internal/services/iothub/iothub_dps_shared_access_policy_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_eventhub_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_servicebus_queue_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_servicebus_topic_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_storage_container_resource.go
  azurerm/internal/services/iothub/iothub_fallback_route_resource.go
  azurerm/internal/services/iothub/iothub_resource.go
  azurerm/internal/services/iothub/iothub_route_resource.go
  azurerm/internal/services/iothub/iothub_shared_access_policy_data_source.go
  azurerm/internal/services/iothub/iothub_shared_access_policy_resource.go
  azurerm/internal/services/iothub/parse/iothub.go
  azurerm/internal/services/iothub/parse/iothub_test.go
  azurerm/internal/services/iothub/validate/iothub.go
  azurerm/internal/services/iothub/validate/iothub_test.go
Labels: refactor, service/iothub, size/L

#8635 Location was not described
  website/docs/r/frontdoor.html.markdown
Labels: documentation, service/frontdoor, size/XS

#8504 azurerm_logic_app_workflow - support for integration_service_environment_id
  azurerm/internal/services/logic/logic_app_workflow_resource.go
  azurerm/internal/services/logic/tests/integration_service_environment_resource_test.go
  azurerm/internal/services/logic/tests/logic_app_workflow_resource_test.go
  azurerm/internal/services/logic/validate/logic.go
  website/docs/r/logic_app_integration_account.html.markdown
  website/docs/r/logic_app_workflow.html.markdown
Labels: documentation, enhancement, service/logic, size/M

#8621 Azurerm role assignment doc
  website/docs/r/role_assignment.html.markdown
Labels: documentation, size/XS

#8295 Update `azurerm_cosmosdb_account` - support zone redundancy
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/tests/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/M

#6189 New Resource `azurerm_cosmosdb_sql_storedprocedure`
  azurerm/internal/services/cosmos/cosmosdb_sql_stored_procedure_resource.go
  azurerm/internal/services/cosmos/parse/sql_stored_procedure.go
  azurerm/internal/services/cosmos/parse/sql_stored_procedure_test.go
  azurerm/internal/services/cosmos/registration.go
  azurerm/internal/services/cosmos/tests/cosmosdb_sql_stored_procedure_resource_test.go
  website/azurerm.erb
  website/docs/r/cosmosdb_sql_container.html.markdown
  website/docs/r/cosmosdb_sql_stored_procedure.html.markdown
Labels: documentation, new-resource, service/cosmosdb, size/XL, waiting-response

#8637 cosmosdb - move tests to cosmos_test package
  azurerm/internal/services/cosmos/cosmosdb_account_data_source.go
  azurerm/internal/services/cosmos/cosmosdb_account_data_source_test.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_failover_test.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_cassandra_keyspace_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_database_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_collection_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_database_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_sql_database_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_sql_stored_procedure_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_table_resource_test.go
Labels: refactor, service/cosmosdb, size/XS, tests

#8639 Add support for sku S for azurerm_cognitive_account
  azurerm/internal/services/cognitive/cognitive_account_resource.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, size/XS

#7912 `azurerm_container_group` - Support of `dns_config`
  azurerm/internal/services/containers/container_group_resource.go
  azurerm/internal/services/containers/tests/container_group_resource_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/container-group, size/M

#8650 fist => first typo correction
  website/docs/r/api_management.html.markdown
Labels: documentation, service/api-management, size/XS

#8648 Validate Service Bus Topic and Queue max_size_in_megabytes
  azurerm/helpers/validate/servicebus.go
  azurerm/internal/services/servicebus/resource_arm_servicebus_queue.go
  azurerm/internal/services/servicebus/resource_arm_servicebus_topic.go
Labels: enhancement, service/servicebus, size/S

#8644 `azurerm_subnet_network_security_group_association` error message update
  azurerm/internal/services/network/subnet_network_security_group_association_resource.go
Labels: bug, service/application-security-groups, service/subnets, size/XS

#8641 Update `address_space` attribute description
  website/docs/r/virtual_network.html.markdown
Labels: documentation, service/virtual-networks, size/XS

#8652 Fix typo in cosmosdb_account.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, service/cosmosdb, size/XS

#8078 azurerm_hpc_cache: update API version to 2020-03-01 and support `mtu` and `root_squash_enabled` properties
  azurerm/internal/services/storage/client/client.go
  azurerm/internal/services/storage/resource_arm_hpc_cache.go
  azurerm/internal/services/storage/resource_arm_hpc_cache_blob_target.go
  azurerm/internal/services/storage/resource_arm_hpc_cache_nfs_target.go
  azurerm/internal/services/storage/tests/resource_arm_hpc_cache_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagecache/mgmt/2020-03-01/storagecache/ascoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagecache/mgmt/2020-03-01/storagecache/caches.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagecache/mgmt/2020-03-01/storagecache/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagecache/mgmt/2020-03-01/storagecache/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagecache/mgmt/2020-03-01/storagecache/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagecache/mgmt/2020-03-01/storagecache/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagecache/mgmt/2020-03-01/storagecache/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagecache/mgmt/2020-03-01/storagecache/storagetargets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagecache/mgmt/2020-03-01/storagecache/usagemodels.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagecache/mgmt/2020-03-01/storagecache/version.go
  vendor/modules.txt
  website/docs/r/hpc_cache.html.markdown
Labels: dependencies, documentation, size/XL

#8664 Typo fix
  website/docs/r/eventhub.html.markdown
Labels: documentation, service/event-hubs, size/XS

#8651 azurerm_container_group: change `nameservers` type to list to keep order
  azurerm/internal/services/containers/container_group_resource.go
Labels: bug, service/container-group, size/XS

#8638 Inclusive language updates
  azurerm/internal/services/cosmos/cosmosdb_account_data_source.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
  azurerm/internal/services/mssql/tests/mssql_database_vulnerability_assessment_rule_baseline_resource_test.go
  azurerm/internal/services/web/data_source_function_app_host_keys.go
  azurerm/internal/services/web/tests/data_source_function_app_host_keys_test.go
  examples/cosmos-db/basic/outputs.tf
  examples/cosmos-db/failover/outputs.tf
  website/docs/d/cosmosdb_account.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, refactor, service/cosmosdb, service/functions, size/M

#8646 azurerm_servicebus_subscription_rule - support `correlation_filter.properties`
  azurerm/internal/services/servicebus/resource_arm_servicebus_subscription_rule.go
  azurerm/internal/services/servicebus/tests/resource_arm_servicebus_subscription_rule_test.go
  website/docs/r/servicebus_subscription_rule.html.markdown
Labels: documentation, enhancement, service/servicebus, size/XS

#8659 storage_management_policy - support appendBlob for blob_types
  azurerm/internal/services/storage/resource_arm_storage_management_policy.go
  azurerm/internal/services/storage/tests/data_source_storage_management_policy_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_management_policy_test.go
  website/docs/d/storage_management_policy.html.markdown
  website/docs/r/storage_management_policy.html.markdown
Labels: documentation, enhancement, service/storage, size/L

#8627 Update `azurerm_linux|windows_virtual_machine_scale_set` - Fix #8422
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
Labels: service/vmss, size/M

#8688 Use IoT Hub API version 2020-03-01 instead 2019-03-22-preview
  azurerm/internal/services/iothub/client/client.go
  azurerm/internal/services/iothub/iothub_dps_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_eventhub_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_servicebus_queue_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_servicebus_topic_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_storage_container_resource.go
  azurerm/internal/services/iothub/iothub_fallback_route_resource.go
  azurerm/internal/services/iothub/iothub_resource.go
  azurerm/internal/services/iothub/iothub_route_resource.go
  azurerm/internal/services/iothub/iothub_shared_access_policy_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2020-03-01/devices/certificates.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2020-03-01/devices/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2020-03-01/devices/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2020-03-01/devices/iothub.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2020-03-01/devices/iothubresource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2020-03-01/devices/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2020-03-01/devices/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2020-03-01/devices/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2020-03-01/devices/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2020-03-01/devices/resourceprovidercommon.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2020-03-01/devices/version.go
  vendor/modules.txt
Labels: dependencies, service/iothub, size/XL
