Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2020-07, with the labels that each got.

#7526 Update Migrating to AzureAD Provider guide for Terraform v0.12
  website/docs/guides/migrating-to-azuread.html.markdown
Labels: documentation, size/M

#7387 Support for certificate attributes - `azurerm_key_vault_certificate`
  azurerm/internal/services/keyvault/key_vault_certificate_resource.go
  azurerm/internal/services/keyvault/tests/key_vault_certificate_resource_test.go
  website/docs/r/key_vault_certificate.html.markdown
Labels: documentation, enhancement, service/keyvault, size/M

#7546 dependencies: updating to v43.2.0 of github.com/Azure/azure-sdk-for-go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/hdinsight/mgmt/2018-06-01-preview/hdinsight/virtualmachines.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/XS

#7543 Refined docs for resource and data source `azurerm_shared_image`
  website/docs/d/shared_image.html.markdown
  website/docs/r/shared_image.html.markdown
Labels: documentation, service/images, size/XS

#7547 fixes not waiting for createOrUpdate and throwing "Not found" after creation
  azurerm/internal/services/apimanagement/api_management_named_value_resource.go
  azurerm/internal/services/apimanagement/api_management_property_resource.go
Labels: bug, service/api-management, size/XS

#7534 Update eventhub_namespace for ZoneRedundant property
  azurerm/internal/services/eventhub/eventhub_namespace_data_source.go
  azurerm/internal/services/eventhub/eventhub_namespace_resource.go
  azurerm/internal/services/eventhub/tests/eventhub_namespace_resource_test.go
  website/docs/d/eventhub_namespace.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, enhancement, service/event-hubs, size/S

#7528 Improve example of the usage of network_profile_id of azurerm_container_group
  examples/container-instance/network-profile/main.tf
  examples/container-instance/network-profile/variables.tf
Labels: documentation, size/M

#7533 New Resource: `azurerm_kusto_cluster_principal_assignment`
  azurerm/internal/services/kusto/client/client.go
  azurerm/internal/services/kusto/kusto_cluster_principal_assignment_resource.go
  azurerm/internal/services/kusto/parse/kusto_cluster_principal_assignment.go
  azurerm/internal/services/kusto/parse/kusto_cluster_principal_assignment_test.go
  azurerm/internal/services/kusto/registration.go
  azurerm/internal/services/kusto/tests/kusto_cluster_principal_assignment_resource_test.go
  website/azurerm.erb
  website/docs/r/kusto_cluster_principal_assignment.html.markdown
Labels: documentation, new-resource, service/kusto, size/XL

#7531 add support for `sku_name` and `trace` for `azurerm_spring_cloud_service`
  azurerm/internal/services/appplatform/spring_cloud_service_resource.go
  azurerm/internal/services/appplatform/tests/spring_cloud_service_resource_test.go
  website/docs/r/spring_cloud_service.html.markdown
Labels: documentation, enhancement, services/spring, size/M

#7527 Improve doc for the description of requested_service_objective_name of azurerm_sql_database
  website/docs/r/sql_database.html.markdown
Labels: documentation, service/mssql, size/XS

#7513 Update `azurerm_linux|windows_virtual_machine_scale_set` - Make `roll_instances_when_required` effective when `upgrade_mode` is `Manual`
  azurerm/internal/services/compute/virtual_machine_scale_set_update.go
Labels: enhancement, service/virtual-machine, size/XS

#7462 Update doc for network_rules of storage account
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XS

#7378 Fix #7376 - azurerm_storage_data_lake_gen2_filesystem crashes during plan if SA deleted
  azurerm/internal/services/storage/resource_arm_storage_data_lake_gen2_filesystem.go
  azurerm/internal/services/storage/tests/resource_arm_storage_data_lake_gen2_filesystem_test.go
Labels: service/storage, size/M

#7421 azurerm_kusto_cluster - support for language_extensions
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  azurerm/internal/services/kusto/tests/kusto_cluster_resource_test.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, service/kusto, size/L

#7312 acctest: dynamically updating the build directory
  .teamcity/components/build_components.kt
  .teamcity/components/build_config_service.kt
Labels: size/S, tooling

#7575 Update eventgrid_event_subscription.html.markdown
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, service/event-grid, size/XS

#7582 testing: downloading terraform core prior to test runs
  .gitignore
  .teamcity/components/build_components.kt
  .teamcity/components/build_config_pull_request.kt
  .teamcity/components/build_config_service.kt
  .teamcity/components/settings.kt
Labels: size/XS, tooling

#7576 Docs fixes for AzureAD migration guide
  website/docs/guides/migrating-to-azuread.html.markdown
Labels: documentation, size/XS

#7583 acctest: specifying the full path to terraform
  .teamcity/components/build_components.kt
Labels: enhancement, size/XS, tooling

#7590 acctest: using the root/checkout, rather than working directory
  .teamcity/components/build_components.kt
Labels: size/XS, tooling

#7548 Update azurerm_eventhub_namespace with optional dedicated_cluster_id
  azurerm/internal/services/eventhub/eventhub_namespace_data_source.go
  azurerm/internal/services/eventhub/eventhub_namespace_resource.go
  azurerm/internal/services/eventhub/eventhub_resource.go
  azurerm/internal/services/eventhub/tests/eventhub_namespace_resource_test.go
  azurerm/internal/services/eventhub/tests/eventhub_resource_test.go
  azurerm/internal/services/eventhub/validate/eventhub_dedicated_cluster_id.go
  website/docs/d/eventhub_namespace.html.markdown
  website/docs/r/eventhub.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, enhancement, service/event-hubs, size/M

#7559 `azurerm_mssql_database` remove `forcenew` and add custoDiff on `sku_name`
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/mssql/tests/mssql_database_resource_test.go
  website/docs/r/mssql_database.html.markdown
Labels: documentation, enhancement, service/mssql, size/M

#7591 fix teamcity config settings list
  .teamcity/components/settings.kt
Labels: size/XS, tests

#7258 Update doc for the usage of network_rule_set of container registry
  website/docs/r/container_registry.html.markdown
Labels: documentation, service/container-registry, size/XS

#7579 Added new 0.1 version to WAF managed_rule_set to support Microsoft_BotManagerRuleSet creation
  azurerm/helpers/validate/web_application_firewall_policy.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, enhancement, service/firewall, size/XS

#7580 Associate WAF policy to Application Gateway listener (fixes 6485)
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/tests/application_gateway_resource_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/L, waiting-response

#7371 `azurerm_kusto_cluster` - Support for `optimized_auto_scale`
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  azurerm/internal/services/kusto/tests/kusto_cluster_resource_test.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, enhancement, service/kusto, size/L

#7605 Update syntax for address_prefix
  examples/container-instance/network-profile/main.tf
Labels: size/XS

#7600 Remove incorrect validatefunc on azurerm_policy_remediation
  azurerm/internal/services/policy/policy_remediation_resource.go
  website/docs/r/policy_remediation.html.markdown
Labels: documentation, service/policy, size/XS

#7545 azurerm_web_application_firewall_policy: `custom_rules.match_conditions` support `transforms`
  azurerm/internal/services/network/tests/web_application_firewall_policy_resource_test.go
  azurerm/internal/services/network/web_application_firewall_policy_resource.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, enhancement, service/network-security, size/S

#7608 Update giovanni to v0.11.0
  go.mod
  go.sum
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/accounts/get_service_properties.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/accounts/set_service_properties.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/blobs/api.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/blobs/lease_acquire.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/containers/api.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/containers/lease_renew.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/file/directories/api.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/file/shares/api.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/queue/queues/api.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/table/entities/api.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/table/tables/api.go
  vendor/github.com/tombuildsstuff/giovanni/version/version.go
  vendor/modules.txt
Labels: dependencies, service/storage, size/L

#7529 `azurerm_api_management_identity_provider_aad` `client_secret` plan refresh is not empty
  azurerm/internal/services/apimanagement/api_management_identity_provider_aad_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_identity_provider_aad_resource_test.go
Labels: size/XS

#7469 Added data source for WAF policy (fixes #7468)
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/web_application_firewall_policy_data_source_test.go
  azurerm/internal/services/network/tests/web_application_firewall_policy_resource_test.go
  azurerm/internal/services/network/web_application_firewall_policy_data_source.go
  website/azurerm.erb
  website/docs/d/web_application_firewall_policy.html.markdown
Labels: documentation, new-data-source, service/firewall, size/L

#7610 Fixup giovanni v0.11.0 update
  go.sum
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/client.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/create.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/delete.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/helpers.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/properties_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/properties_set.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/resource_id.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/version.go
  vendor/github.com/tombuildsstuff/giovanni/storage/accesscontrol/ace.go
  vendor/github.com/tombuildsstuff/giovanni/storage/accesscontrol/acl.go
Labels: bug, dependencies, size/XL

#7614 Add example for the usage of creating eventhub with dedicated cluster
  examples/eventhub/dedicated-eventhubs-cluster/main.tf
  examples/eventhub/dedicated-eventhubs-cluster/variables.tf
  examples/eventhub/shared-parent-eventhub-namespace/README.md
  examples/eventhub/shared-parent-eventhub-namespace/main.tf
  examples/eventhub/shared-parent-eventhub-namespace/variables.tf
Labels: documentation, service/event-hubs, size/S

#7156 azurerm_mysql_server - support for `threat_detection_policy`
  azurerm/internal/services/mysql/client/client.go
  azurerm/internal/services/mysql/mysql_server_resource.go
  azurerm/internal/services/mysql/tests/mysql_server_resource_test.go
  website/docs/r/mysql_server.html.markdown
Labels: documentation, enhancement, service/mysql, size/XL

#6366 New Resource - azurerm_data_factory_linked_service_blob_[blob|storage|sfpt]
  azurerm/internal/services/datafactory/data_factory_data_source_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_azure_blob_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_azure_blob_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_cosmosdb_sqlapi_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_cosmosdb_sqlapi_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_http_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_http_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_json_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_json_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_mysql_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_postgresql_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_sql_server_table_resource_test.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_managed_resource_test.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_function_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_function_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_cosmosdb_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_cosmosdb_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_key_vault_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_mysql_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_postgresql_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sftp_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sftp_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sql_server_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_web_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_web_resource_test.go
  azurerm/internal/services/datafactory/data_factory_pipeline_resource_test.go
  azurerm/internal/services/datafactory/data_factory_resource_test.go
  azurerm/internal/services/datafactory/data_factory_trigger_schedule_resource_test.go
  azurerm/internal/services/datafactory/registration.go
  website/azurerm.erb
  website/docs/r/data_factory_dataset_azure_blob.html.markdown
  website/docs/r/data_factory_dataset_cosmosdb_sqlapi.html.markdown
  website/docs/r/data_factory_dataset_delimited_text.html.markdown
  website/docs/r/data_factory_dataset_http.html.markdown
  website/docs/r/data_factory_dataset_json.html.markdown
  website/docs/r/data_factory_dataset_mysql.html.markdown
  website/docs/r/data_factory_linked_service_azure_blob_storage.html.markdown
  website/docs/r/data_factory_linked_service_azure_file_storage.html.markdown
  website/docs/r/data_factory_linked_service_azure_function.html.markdown
  website/docs/r/data_factory_linked_service_cosmosdb.html.markdown
  website/docs/r/data_factory_linked_service_sftp.html.markdown
  website/docs/r/data_factory_linked_service_web.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XXL

#7074 Add azurerm_key_vault_certificate_issuer
  azurerm/helpers/azure/key_vault.go
  azurerm/internal/services/keyvault/key_vault_certificate_issuer_data_source.go
  azurerm/internal/services/keyvault/key_vault_certificate_issuer_resource.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource.go
  azurerm/internal/services/keyvault/parse/key_vault_certificate_issuer.go
  azurerm/internal/services/keyvault/registration.go
  azurerm/internal/services/keyvault/tests/key_vault_certificate_issuer_data_source_test.go
  azurerm/internal/services/keyvault/tests/key_vault_certificate_issuer_resource_test.go
  azurerm/internal/services/keyvault/validate/key_vault_certificate_issuer.go
  website/azurerm.erb
  website/docs/d/key_vault_certificate_issuer.html.markdown
  website/docs/r/key_vault_certificate_issuer.html.markdown
Labels: documentation, new-data-source, new-resource, service/keyvault, size/XXL

#6847 new resource "azurerm_automation_connection", azurerm_automation_connection_certificate`, `azurerm_automation_connection_classic_certificate` and `azurerm_automation_connection_service_pricipal`
  azurerm/internal/services/automation/automation_connection_certificate_resource.go
  azurerm/internal/services/automation/automation_connection_classic_certificate_resource.go
  azurerm/internal/services/automation/automation_connection_import.go
  azurerm/internal/services/automation/automation_connection_resource.go
  azurerm/internal/services/automation/automation_connection_service_principal_resource.go
  azurerm/internal/services/automation/client/client.go
  azurerm/internal/services/automation/parse/automation_connection.go
  azurerm/internal/services/automation/parse/automation_connection_test.go
  azurerm/internal/services/automation/registration.go
  azurerm/internal/services/automation/tests/automation_connection_certificate_resource_test.go
  azurerm/internal/services/automation/tests/automation_connection_classic_certificate_resource_test.go
  azurerm/internal/services/automation/tests/automation_connection_resource_test.go
  azurerm/internal/services/automation/tests/automation_connection_service_principal_resource_test.go
  azurerm/internal/services/automation/tests/automation_connection_test.go
  azurerm/internal/services/automation/validate/automation_connection.go
  azurerm/internal/services/automation/validate/automation_connection_test.go
  website/azurerm.erb
  website/docs/r/automation_connection.html.markdown
  website/docs/r/automation_connection_certificate.html.markdown
  website/docs/r/automation_connection_classic_certificate.html.markdown
  website/docs/r/automation_connection_service_principal.html.markdown
Labels: documentation, new-resource, service/automation, size/XXL

#7355 Mark Application Gateway identity as not Computed
  azurerm/internal/services/network/application_gateway_resource.go
Labels: enhancement, service/application-gateway, size/XS

#6969 External metastores support for most HDInsight resources
  azurerm/helpers/azure/hdinsight.go
  azurerm/internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_hbase_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_spark_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_storm_cluster_resource.go
  azurerm/internal/services/hdinsight/tests/hdinsight_hbase_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_interactive_query_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_kafka_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_spark_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_storm_cluster_resource_test.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/client.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/create.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/delete.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/helpers.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/properties_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/properties_set.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/resource_id.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/datalakestore/paths/version.go
  vendor/github.com/tombuildsstuff/giovanni/storage/accesscontrol/ace.go
  vendor/github.com/tombuildsstuff/giovanni/storage/accesscontrol/acl.go
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
  website/docs/r/hdinsight_storm_cluster.html.markdown
Labels: dependencies, documentation, enhancement, service/hdinsight, size/XXL

#7374 `azurerm_kusto_cluster` - Support `trusted_external_tenants`
  azurerm/helpers/azure/kusto.go
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, enhancement, service/kusto, size/S

#7625 Test Fix - `azurerm_network_security_group` import test
  azurerm/internal/services/network/tests/network_security_group_resource_test.go
Labels: size/XS

#7626 Test Fix: `azurerm_application_security_group` import test
  azurerm/internal/services/network/tests/application_security_group_resource_test.go
Labels: size/XS

#7377 New Resource: `azurerm_kusto_attached_database_configuration`
  azurerm/internal/services/kusto/client/client.go
  azurerm/internal/services/kusto/kusto_attached_database_configuration.go
  azurerm/internal/services/kusto/parse/kusto_attached_database_configuration.go
  azurerm/internal/services/kusto/parse/kusto_attached_database_configuration_test.go
  azurerm/internal/services/kusto/registration.go
  azurerm/internal/services/kusto/tests/kusto_attached_database_configuration_resource_test.go
  website/azurerm.erb
  website/docs/r/kusto_attached_database_configuration.html.markdown
Labels: documentation, service/kusto, size/XL

#7484 New Resource: `azurerm_kusto_database_principal_assignment`
  azurerm/internal/services/kusto/client/client.go
  azurerm/internal/services/kusto/kusto_database_principal_assignment_resource.go
  azurerm/internal/services/kusto/kusto_database_principal_resource.go
  azurerm/internal/services/kusto/parse/kusto_database_principal_assignment.go
  azurerm/internal/services/kusto/parse/kusto_database_principal_assignment_test.go
  azurerm/internal/services/kusto/registration.go
  azurerm/internal/services/kusto/tests/kusto_database_principal_assignment_resource_test.go
  website/azurerm.erb
  website/docs/r/kusto_database_principal.html.markdown
  website/docs/r/kusto_database_principal_assignment.html.markdown
Labels: dependencies, documentation, new-resource, service/kusto, size/XL

#7045 Azure monitor support for azurerm_hdinsight_*_cluster
  azurerm/helpers/azure/hdinsight.go
  azurerm/internal/services/hdinsight/client/client.go
  azurerm/internal/services/hdinsight/common_hdinsight.go
  azurerm/internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_hbase_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_spark_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_storm_cluster_resource.go
  azurerm/internal/services/hdinsight/tests/hdinsight_hadoop_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_hbase_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_interactive_query_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_kafka_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_spark_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_storm_cluster_resource_test.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_ml_services_cluster.html.markdown
  website/docs/r/hdinsight_rserver_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
  website/docs/r/hdinsight_storm_cluster.html.markdown
Labels: documentation, enhancement, service/hdinsight, size/XXL

#7363 Add missing Web Application Firewall Policy settings
  azurerm/internal/services/network/tests/application_gateway_resource_test.go
  azurerm/internal/services/network/tests/web_application_firewall_policy_resource_test.go
  azurerm/internal/services/network/web_application_firewall_policy_resource.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, service/virtual-networks, size/S

#7645 Update monitor_diagnostic_setting.html.markdown
  website/docs/r/monitor_diagnostic_setting.html.markdown
Labels: documentation, size/XS

#7650 Fix TC for TestAccAzureRMApplicationInsightsAPIKey_requiresImport
  azurerm/internal/services/applicationinsights/application_insights_api_key_resource.go
  azurerm/internal/services/applicationinsights/tests/application_insights_api_key_resource_test.go
Labels: service/application-insights, size/XS, tests

#7661 Update doc for the reserved field of app service plan
  azurerm/internal/services/web/resource_arm_app_service_plan.go
  website/docs/r/app_service_plan.html.markdown
Labels: bug, documentation, service/app-service, size/XS

#7636 Fix requiresimport test for RP: stream analytics
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_function_javascript_udf_test.go
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_output_blob_test.go
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_output_eventhub_test.go
Labels: service/stream-analytics, size/S, tests

#7637 fix test for `azurerm_stream_analytics_reference_input_blob`
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_reference_input_blob_test.go
Labels: service/stream-analytics, size/XS, tests

#7638 fix test for `azurerm_stream_analytics_stream_input_blob`
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_stream_input_blob_test.go
Labels: service/stream-analytics, size/XS, tests

#7639 `azurerm_api_management_api_operation_policy` fix to pass all acctests and fix raw xml issue
  azurerm/internal/services/apimanagement/api_management_api_operation_policy_resource.go
  azurerm/internal/services/apimanagement/diff_suppress.go
  azurerm/internal/services/apimanagement/tests/api_management_api_operation_policy_resource_test.go
  azurerm/internal/services/apimanagement/tests/testdata/api_management_api_operation_policy.xml
Labels: service/api-management, size/M, tests

#7640 `azurerm_sql_virtual_network_rule` fix acctest `TestAccAzureRMSqlVirtualNetworkRule_multipleSubnets`
  azurerm/internal/services/sql/tests/resource_arm_sql_virtual_network_rule_test.go
Labels: service/mssql, size/XS, tests

#7641 fix the rest `requiresImport` test for RP: streamAnalytics
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_output_servicebus_queue_test.go
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_output_servicebus_topic_test.go
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_stream_input_eventhub_test.go
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_stream_input_iothub_test.go
Labels: service/stream-analytics, size/S, tests

#7643 Resource `azurerm_shared_image_version` - Fix acc tests
  azurerm/internal/services/compute/tests/shared_image_version_resource_test.go
Labels: service/images, size/XS, tests

#7627 Test Fix: `azurerm_application_gateway`: remove checks for set attributes
  azurerm/internal/services/network/tests/application_gateway_resource_test.go
Labels: size/XS

#7644 `azurerm_virtual_machine_scale_set_extension` - Fix acc tests
  azurerm/internal/services/compute/tests/virtual_machine_scale_set_extension_resource_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set_extension_resource.go
Labels: service/vmss, size/XS, tests

#7646 `azurerm_api_management_identity_provider_facebook` fix to pass all acctests
  azurerm/internal/services/apimanagement/api_management_identity_provider_facebook_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_identity_provider_facebook_resource_test.go
Labels: service/api-management, size/XS, tests

#7647 `azurerm_api_management_identity_provider_microsoft` fix to pass all acctests
  azurerm/internal/services/apimanagement/api_management_identity_provider_microsoft_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_identity_provider_microsoft_resource_test.go
Labels: service/api-management, size/XS, tests

#7648 `azurerm_api_management_identity_provider_google` fix to pass all acctests
  azurerm/internal/services/apimanagement/api_management_identity_provider_google_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_identity_provider_google_resource_test.go
Labels: service/api-management, size/XS, tests

#7653 `azurerm_api_management_identity_provider_twitter` fix to pass all acctests
  azurerm/internal/services/apimanagement/api_management_identity_provider_twitter_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_identity_provider_twitter_resource_test.go
Labels: service/api-management, size/XS, tests

#7654 `azurerm_image` - Fix acc tests
  azurerm/internal/services/compute/tests/image_data_source_test.go
  azurerm/internal/services/compute/tests/image_resource_test.go
Labels: service/images, size/L, tests

#7659 Update doc for destination_address_prefix property of network security rule
  examples/virtual-networks/network-security-group-rule/main.tf
  examples/virtual-networks/network-security-group-rule/variables.tf
  website/docs/r/network_security_rule.html.markdown
Labels: documentation, size/S

#7649 azurerm_network_service_tag: fix acctest
  azurerm/internal/services/network/tests/network_service_tags_data_source_test.go
  website/docs/d/network_service_tags.html.markdown
Labels: documentation, size/XS, tests

#7631 Fix TC for Application Insights
  azurerm/internal/services/applicationinsights/application_insights_webtests_resource.go
  azurerm/internal/services/applicationinsights/tests/application_insights_webtests_resource_test.go
Labels: service/application-insights, size/XS, tests

#7634 azurerm_stream_analytics_job: fix data source test
  azurerm/internal/services/streamanalytics/data_source_stream_analytics_job.go
  azurerm/internal/services/streamanalytics/tests/data_source_stream_analytics_job_test.go
Labels: service/stream-analytics, size/XS, tests

#7633 `azurerm_sql_database` fix to pass all acctests
  azurerm/internal/services/sql/tests/resource_arm_sql_database_test.go
Labels: service/mssql, size/XS, tests

#7632 azurerm_express_route_gateway: fix acctest
  azurerm/internal/services/network/tests/express_route_gateway_resource_test.go
Labels: service/express-route, size/XS, tests

#7630 azurerm_loadbalancer_outbound_rule: fix acctest
  azurerm/internal/services/network/tests/loadbalancer_outbound_rule_resource_test.go
Labels: service/load-balancers, size/XS, tests

#7629 azurerm_template_deployment: fix test
  azurerm/internal/services/resource/tests/resource_arm_template_deployment_test.go
Labels: service/template, size/XS, tests

#7624 Fix TC for TestAccDataSourceAzureRMManagedDisk_basic_withUltraSSD
  azurerm/internal/services/compute/tests/managed_disk_data_source_test.go
Labels: service/disks, size/XS, tests

#7552 Refactor - Update disk encryption set related tests on `azurerm_linux|windows_virtual_machine_scale_set`
  azurerm/internal/services/compute/tests/disk_encryption_set_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_disk_data_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_disk_os_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_disk_data_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_disk_os_resource_test.go
Labels: refactor, service/vmss, size/M

#7664 `metadata_url` can be used to obtain an environment from a specific url
  azurerm/internal/clients/builder.go
  azurerm/internal/provider/provider.go
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/authentication/azure_sp_objectid.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/builder.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/config.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/environment.go
  vendor/modules.txt
  website/docs/index.html.markdown
Labels: dependencies, documentation, size/L

#7622 r/eventhub_namespace_authorization_rule: adding a second state migration
  azurerm/internal/services/eventhub/eventhub_namespace_authorization_rule_resource.go
  azurerm/internal/services/eventhub/migration/namespace_authorization_rule_v1.go
  azurerm/internal/services/eventhub/parse/namespace_authorization_rule.go
  azurerm/internal/services/eventhub/parse/namespace_authorization_rule_test.go
  website/docs/r/eventhub_namespace_authorization_rule.html.markdown
Labels: bug, documentation, service/event-hubs, size/S

#7348 azurerm_cosmosdb_account - support ignore_missing_vnet_service_endpoint
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/tests/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/M

#7621 new resource: azurerm_mysql_active_directory_administrator
  azurerm/internal/services/mysql/client/client.go
  azurerm/internal/services/mysql/mysql_aad_administrator_resource.go
  azurerm/internal/services/mysql/registration.go
  azurerm/internal/services/mysql/tests/mysql_administrator_resource_test.go
  website/azurerm.erb
  website/docs/r/mysql_active_directory_administrator.html.markdown
Labels: documentation, enhancement, service/mysql, size/XL

#6943 Update `azurerm_policy_set_definition` - deprecate `management_group_id` in favour of `management_group_name` to align behaviour in `azurerm_policy_definition`
  azurerm/internal/services/managementgroup/management_group_resource.go
  azurerm/internal/services/managementgroup/parse/management_group.go
  azurerm/internal/services/managementgroup/parse/management_group_test.go
  azurerm/internal/services/policy/parse/assignment_test.go
  azurerm/internal/services/policy/parse/definition_test.go
  azurerm/internal/services/policy/parse/remediation_test.go
  azurerm/internal/services/policy/parse/scope.go
  azurerm/internal/services/policy/parse/scope_test.go
  azurerm/internal/services/policy/parse/set_definition_test.go
  azurerm/internal/services/policy/policy_definition_resource.go
  azurerm/internal/services/policy/policy_remediation_resource.go
  azurerm/internal/services/policy/policy_set_definition_resource.go
  azurerm/internal/services/policy/tests/policy_definition_resource_test.go
  azurerm/internal/services/policy/tests/policy_set_definition_resource_test.go
  website/docs/r/policy_definition.html.markdown
  website/docs/r/policy_set_definition.html.markdown
Labels: documentation, enhancement, service/policy, size/L

#7671 Update automation_credential.html.markdown
  website/docs/r/automation_credential.html.markdown
Labels: documentation, service/automation, size/XS

#7681 fix lint error in new resource doc
  website/docs/r/automation_credential.html.markdown
Labels: documentation, size/XS

#7018 Update `azurerm_policy_set_definition` - Support `policy_definition_reference_id`
  azurerm/internal/services/policy/policy.go
  azurerm/internal/services/policy/policy_assignment_resource.go
  azurerm/internal/services/policy/policy_definition_data_source.go
  azurerm/internal/services/policy/policy_definition_resource.go
  azurerm/internal/services/policy/policy_remediation_resource.go
  azurerm/internal/services/policy/policy_set_definition_data_source.go
  azurerm/internal/services/policy/policy_set_definition_resource.go
  azurerm/internal/services/policy/tests/policy_definition_data_source_test.go
  azurerm/internal/services/policy/tests/policy_definition_resource_test.go
  azurerm/internal/services/policy/tests/policy_set_definition_data_source_test.go
  azurerm/internal/services/policy/tests/policy_set_definition_resource_test.go
  website/docs/d/policy_definition.html.markdown
  website/docs/d/policy_set_definition.html.markdown
  website/docs/r/policy_remediation.html.markdown
  website/docs/r/policy_set_definition.html.markdown
Labels: dependencies, documentation, enhancement, service/policy, size/XL

#7685 azurerm_route: fix acctest
  azurerm/internal/services/network/tests/route_resource_test.go
Labels: service/route, size/XS, tests

#7683 `azurerm_api_management_authorization_server` fix acctest complete
  azurerm/internal/services/apimanagement/api_management_authorization_server_resource.go
Labels: service/api-management, size/XS

#7678 Fix TC for TestAccAzureRMAutomationModule_multipleModules
  azurerm/internal/services/automation/tests/automation_module_resource_test.go
Labels: service/automation, size/XS, tests

#7674 `azurerm_api_management_product_policy` fix to pass all acctests
  azurerm/internal/services/apimanagement/api_management_product_policy_resource.go
Labels: service/api-management, size/XS, tests

#7675 `azurerm_api_management_openid_connect_provider` fix to pass all acctests
  azurerm/internal/services/apimanagement/api_management_openid_connect_provider_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_openid_connect_provider_resource_test.go
Labels: service/api-management, size/XS, tests

#7684 Data source `azurerm_shared_image_version` - Fix acc tests
  azurerm/internal/services/compute/tests/shared_image_version_data_source_test.go
Labels: service/images, size/XS, tests

#7679 fix tests for DNS records
  azurerm/internal/services/dns/tests/dns_a_record_resource_test.go
  azurerm/internal/services/dns/tests/dns_aaaa_record_resource_test.go
Labels: service/dns, size/XS, tests

#7689 azurerm_managed_disk - increase the maximum disk_size_gb to 65536 GB.
  azurerm/internal/services/compute/validation.go
Labels: enhancement, service/disks, size/XS

#7635 `azurerm_machine_learning_workspace`: fix acctests
  azurerm/internal/services/machinelearning/machine_learning_workspace_resource.go
Labels: bug, service/machine-learning, size/XS

#7307 `azurerm_mysql_server` `ssl_enforcement_enabled` update fail
  azurerm/internal/services/mysql/mysql_server_resource.go
  azurerm/internal/services/mysql/tests/mysql_server_resource_test.go
Labels: bug, service/mysql, size/M

#7714 azurerm_kubernetes_cluster: disable Kubernetes Dashboard addon configuration in Azure China
  azurerm/internal/services/containers/kubernetes_addons.go
Labels: azure/china, bug, service/kubernetes-cluster, size/XS

#7179 Storage Container/Share retry create if 409 && beingdeleted
  azurerm/internal/services/storage/resource_arm_storage_container.go
  azurerm/internal/services/storage/resource_arm_storage_share.go
  azurerm/internal/services/storage/tests/resource_arm_storage_container_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_share_test.go
Labels: enhancement, service/storage, size/M

#7718 Fixed string interpolation syntax to new version
  website/docs/r/api_management_api_policy.html.markdown
Labels: documentation, service/api-management, size/XS

#6586 add traffic_selector_policy block and tests
  azurerm/internal/services/network/tests/virtual_network_gateway_connection_resource_test.go
  azurerm/internal/services/network/virtual_network_gateway_connection_data_source.go
  azurerm/internal/services/network/virtual_network_gateway_connection_resource.go
  website/docs/d/virtual_network_gateway_connection.html.markdown
  website/docs/r/virtual_network_gateway_connection.html.markdown
Labels: dependencies, documentation, enhancement, service/virtual-network-gateway, size/L, waiting-response

#7705 Update iot_time_series_insights_access_policy.html.markdown
  website/docs/r/iot_time_series_insights_access_policy.html.markdown
Labels: documentation, service/iot-time-series, size/XS

#7713 azurerm_virtual_hub: fix acc test and make the `address_prefix` as `ForceNew`
  azurerm/internal/services/network/tests/virtual_hub_resource_test.go
  azurerm/internal/services/network/virtual_hub_resource.go
  website/docs/r/virtual_hub.html.markdown
Labels: bug, documentation, service/virtual-hub, size/S, tests

#7690 add validation for notification Hub Id
  azurerm/internal/services/notificationhub/notification_hub_resource.go
  azurerm/internal/services/notificationhub/parse/notification_hub.go
  azurerm/internal/services/notificationhub/parse/notification_hub_test.go
Labels: enhancement, service/notifications, size/L

#7721 Acceptance Testing - `metadata_url` support
  azurerm/internal/acceptance/data.go
  azurerm/internal/acceptance/testing.go
Labels: size/XS

#7719 azurerm_network_interface_application_security_group_association fix documentation example
  website/docs/r/network_interface_application_security_group_association.html.markdown
Labels: documentation, service/network-interfaces, size/XS

#7628 `azurerm_mssql_database` `elastic_pool_id` remove forcenew
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/mssql/tests/mssql_database_resource_test.go
  website/docs/r/mssql_database.html.markdown
Labels: documentation, size/M

#7510 Update `azurerm_orchestrated_virtual_machine_scale_set` - Add proximity placement group support
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_orchestrated_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_orchestrated_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/L

#7730 azurerm_vpn_server_configuration: fix acctest
  azurerm/internal/services/network/tests/vpn_server_configuration_resource_test.go
Labels: size/XS, tests

#7728 azurerm_private_link_service_endpoint_connections: fix acc test
  azurerm/internal/services/network/tests/private_link_service_endpoint_connections_data_source_test.go
Labels: service/private-link, size/XS, tests

#7693 Fix TC for NetApp
  azurerm/internal/services/netapp/netapp_pool_resource.go
  azurerm/internal/services/netapp/netapp_snapshot_resource.go
  azurerm/internal/services/netapp/netapp_volume_resource.go
Labels: enhancement, service/netapp, size/M

#7731 azurerm_virtual_hub_connection: fix acctest
  azurerm/internal/services/network/virtual_hub_connection_resource.go
Labels: service/virtual-hub, size/XS, tests

#7734 fix TC: `withoutAuth` for "azurerm_redis_cache"
  azurerm/internal/services/redis/resource_arm_redis_cache.go
Labels: bug, service/redis, size/M

#7706 Move HDInsight tests to 4.0 and mark 3.6 only resources deprecated
  azurerm/internal/services/hdinsight/hdinsight_ml_services_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_rserver_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_storm_cluster_resource.go
  azurerm/internal/services/hdinsight/tests/hdinsight_hadoop_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_hbase_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_interactive_query_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_kafka_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_spark_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_storm_cluster_resource_test.go
  website/docs/r/hdinsight_ml_services_cluster.html.markdown
  website/docs/r/hdinsight_rserver_cluster.html.markdown
  website/docs/r/hdinsight_storm_cluster.html.markdown
Labels: documentation, enhancement, service/hdinsight, size/L

#7733 `azurerm_mssql_server` fix acctest `TestAccAzureRMMsSqlServer_update`
  azurerm/internal/services/mssql/tests/mssql_server_resource_test.go
Labels: service/mssql, size/M, tests

#7736 fix TC for "data factory"
  azurerm/internal/services/datafactory/data_factory_integration_runtime_managed_resource_test.go
Labels: service/data-factory, size/XS, tests

#7703 Property for hbi_enabled with machine learning workspace
  azurerm/internal/services/machinelearning/client/client.go
  azurerm/internal/services/machinelearning/machine_learning_workspace_resource.go
  azurerm/internal/services/machinelearning/tests/machine_learning_workspace_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/machinelearningcompute.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/notebooks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/quotas.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/virtualmachinesizes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/workspacefeatures.go
  vendor/github.com/Azure/azure-sdk-for-go/services/machinelearningservices/mgmt/2020-04-01/machinelearningservices/workspaces.go
  vendor/modules.txt
  website/docs/r/machine_learning_workspace.html.markdown
Labels: dependencies, documentation, enhancement, service/machine-learning, size/XXL

#7739 Add property allow_blob_public_access to azurerm_storage_account
  azurerm/internal/services/storage/data_source_storage_account.go
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
  website/docs/d/storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/M

#7740 provider: metadata_url -> metadata_host
  README.md
  azurerm/internal/acceptance/data.go
  azurerm/internal/provider/provider.go
  website/docs/index.html.markdown
Labels: documentation, enhancement, provider, size/S

#7746 go: bumping to 1.14.5
  .go-version
  .travis.yml
Labels: provider, size/XS

#7749 `azurerm_*_virtual_machine` - `allow_extensions_operations` can now be updated
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: bug, documentation, service/virtual-machine, size/M

#7745 `azurerm_local_network_gateway`- `address_space` order can now be changed
  azurerm/internal/services/network/local_network_gateway_resource.go
  azurerm/internal/services/network/tests/local_network_gateway_resource_test.go
Labels: bug, service/local-network-gateway, size/M

#7760 drop back one point release for goenv support
  .go-version
Labels: provider, size/XS

#7660 Update doc for ip_rules of storage account
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/validate/storage_account.go
  azurerm/internal/services/storage/validate/storage_account_test.go
  examples/storage/main.tf
  examples/storage/variables.tf
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/M

#7755 Test Fix: Change `CdnEndPoint` host_name
  azurerm/internal/services/cdn/tests/cdn_endpoint_resource_test.go
  examples/cdn/main.tf
  website/docs/r/cdn_endpoint.html.markdown
Labels: documentation, service/cdn, size/S, tests

#7768 provider: no longer auto register the Microsoft.StorageCache RP
  azurerm/internal/provider/required_resource_providers.go
  website/docs/r/hpc_cache.html.markdown
  website/docs/r/hpc_cache_blob_target.html.markdown
  website/docs/r/hpc_cache_nfs_target.html.markdown
Labels: documentation, size/XS

#6341 Fix for ExpressRoute: No support for route filters for Microsoft peering #1083
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/express_route_circuit_peering_resource.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/route_filter.go
  azurerm/internal/services/network/route_filter_data_source.go
  azurerm/internal/services/network/route_filter_resource.go
  azurerm/internal/services/network/route_filter_test.go
  azurerm/internal/services/network/tests/express_route_circuit_peering_resource_test.go
  azurerm/internal/services/network/tests/express_route_circuit_resource_test.go
  azurerm/internal/services/network/tests/route_filter_data_source_test.go
  azurerm/internal/services/network/tests/route_filter_resource_test.go
  website/azurerm.erb
  website/docs/d/route_filter.html.markdown
  website/docs/r/express_route_circuit_peering.html.markdown
  website/docs/r/route_filter.html.markdown
Labels: documentation, enhancement, service/express-route, size/XXL

#7775 Update the description of resource group of azurerm_backup_protected_vm
  website/docs/r/backup_protected_vm.markdown
Labels: bug, documentation, service/recovery-services, size/XS

#7725 Add support for Azure Policy Assignment metadata
  azurerm/internal/services/policy/policy_assignment_resource.go
  azurerm/internal/services/policy/tests/policy_assignment_resource_test.go
  website/docs/r/policy_assignment.html.markdown
Labels: documentation, enhancement, service/policy, size/M

#7776 nil check route filter before set in express_route_circuit
  azurerm/internal/services/network/express_route_circuit_peering_resource.go
Labels: crash, service/express-route, size/XS

#7159 `azurerm_monitor_metric_alert` supports multiple scopes and different criteria
  azurerm/internal/services/applicationinsights/parse/application_insights.go
  azurerm/internal/services/applicationinsights/parse/application_insights_test.go
  azurerm/internal/services/applicationinsights/validate/application_insights.go
  azurerm/internal/services/monitor/monitor_metric_alert_resource.go
  azurerm/internal/services/monitor/tests/monitor_metric_alert_resource_test.go
  website/docs/r/monitor_metric_alert.html.markdown
Labels: documentation, enhancement, service/monitor, size/XXL

#7753 azurerm_express_route_circuit: fix acctest (actually a bug)
  azurerm/internal/services/network/express_route_circuit_resource.go
Labels: service/express-route, size/S

#7680 data source `azurerm_dns_zone`: make `resource_group_name` required
  azurerm/internal/services/dns/dns_zone_data_source.go
  azurerm/internal/services/dns/tests/dns_zone_data_source_test.go
Labels: enhancement, service/dns, size/S

#7754 Update validation for timezone of azurerm_automation_schedule
  azurerm/helpers/validate/time.go
  azurerm/internal/services/automation/tests/automation_schedule_resource_test.go
  website/docs/r/automation_schedule.html.markdown
Labels: documentation, enhancement, service/automation, size/XL

#7762 bump go version to 1.14.5
  .go-version
Labels: provider, size/XS

#7737 feature/enhanced-validation: enabling by default
  README.md
  azurerm/internal/features/enhanced_validation.go
  website/docs/index.html.markdown
Labels: documentation, enhancement, size/XS

#7783 `data.azurerm_private_dns_zone` - Fix crash
  azurerm/internal/services/privatedns/private_dns_zone_data_source.go
Labels: crash, service/dns, size/XS

#7774 Upgrade azure-sdk-for-go to v44.1.0
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/XS

#7789 `azurerm_application_gateway` Fix crash with `gateway_ip_configuration`
  azurerm/internal/services/network/application_gateway_resource.go
Labels: crash, service/application-gateway, size/XS

#7791 `azurerm_storage_share_directory` - Update error message for invalid storage share directory name
  azurerm/helpers/validate/storage.go
Labels: service/storage, size/XS

#7520 New Resource: `azurerm_kusto_cluster_customer_managed_key`
  azurerm/internal/services/kusto/kusto_cluster_customer_managed_key_resource.go
  azurerm/internal/services/kusto/registration.go
  azurerm/internal/services/kusto/tests/kusto_cluster_customer_managed_key_test.go
  website/azurerm.erb
  website/docs/r/kusto_cluster_customer_managed_key.html.markdown
Labels: documentation, new-resource, service/kusto, size/XL

#7806 Copyediting: remove spurious aprostrophes in possessive "its"
  CHANGELOG.md
  azurerm/helpers/azure/elasticpool.go
  azurerm/internal/services/keyvault/key_vault_resource.go
  azurerm/internal/services/kusto/kusto_cluster_customer_managed_key_resource.go
  azurerm/internal/services/logic/logic_apps.go
  azurerm/internal/services/network/private_endpoint_resource.go
  azurerm/internal/services/servicebus/tests/resource_arm_servicebus_queue_test.go
  azurerm/internal/services/servicebus/tests/resource_arm_servicebus_topic_test.go
  azurerm/internal/services/storage/resource_arm_storage_account_customer_managed_key.go
  examples/virtual-machines/virtual_machine/bastion-box/README.md
  examples/virtual-machines/virtual_machine/spark-and-cassandra-on-centos/variables.tf
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/index.html.markdown
  website/docs/r/api_management_api.html.markdown
  website/docs/r/express_route_circuit.html.markdown
  website/docs/r/log_analytics_solution.html.markdown
Labels: documentation, size/S

#7784 azurerm_storage_account default allow_blob_public_access to false
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
  website/docs/r/storage_account.html.markdown
Labels: breaking-change, documentation, enhancement, service/storage, size/XS

#7814 `azurerm_cosmos_db_account` - add support for `enable_free_tier`
  azurerm/internal/services/cosmos/cosmos_db_account_data_source.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/tests/cosmosdb_account_resource_test.go
  website/docs/d/cosmosdb_account.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
Labels: dependencies, documentation, enhancement, service/cosmosdb, size/M

#7498 Fix issues with frontdoor custom https configuration
  azurerm/helpers/azure/frontdoor_custom_https_configuration.go
  azurerm/internal/services/frontdoor/frontdoor_custom_https_configuration_resource.go
  azurerm/internal/services/frontdoor/frontdoor_resource.go
  azurerm/internal/services/frontdoor/registration.go
  azurerm/internal/services/frontdoor/tests/frontdoor_custom_https_configuration_resource_test.go
  azurerm/internal/services/frontdoor/validate/validate.go
  website/azurerm.erb
  website/docs/r/frontdoor.html.markdown
  website/docs/r/frontdoor_custom_https_configuration.html.markdown
Labels: bug, documentation, new-resource, service/frontdoor, size/XXL

#7511 New resource `azurerm_data_share_dataset_data_lake_gen1`
  azurerm/internal/services/datalake/parse/data_lake.go
  azurerm/internal/services/datalake/parse/data_lake_test.go
  azurerm/internal/services/datashare/registration.go
  azurerm/internal/services/datashare/resource_arm_data_share_dataset_data_lake_gen1.go
  azurerm/internal/services/datashare/tests/resource_arm_data_share_dataset_data_lake_gen1_test.go
  azurerm/internal/services/datashare/tests/testdata/application_gateway_test.cer
  azurerm/internal/services/datashare/validate/data_share.go
  website/azurerm.erb
  website/docs/r/data_share_dataset_data_lake_gen1.html.markdown
Labels: documentation, new-resource, service/data-share, size/XL

#7835 `azurerm_monitor_autoscale_setting` - Fix crash in `notification`
  azurerm/internal/services/monitor/monitor_autoscale_setting_resource.go
Labels: crash, service/monitor, size/XS

#7850 Doc Fix: `azurerm_mysql_firewall_rule` Allow access to Azure services example
  website/docs/r/mysql_firewall_rule.html.markdown
Labels: documentation, size/XS

#7860 Make it clearer that request path is required for both http and https
  website/docs/r/lb_probe.html.markdown
Labels: documentation, service/load-balancers, size/XS

#7517 new resource and data source for `azurerm_synapse_workspace`
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/synapse/client/client.go
  azurerm/internal/services/synapse/parse/synapse_workspace.go
  azurerm/internal/services/synapse/parse/synapse_workspace_test.go
  azurerm/internal/services/synapse/registration.go
  azurerm/internal/services/synapse/synapse_workspace_data_source.go
  azurerm/internal/services/synapse/synapse_workspace_resource.go
  azurerm/internal/services/synapse/tests/synapse_workspace_data_source_test.go
  azurerm/internal/services/synapse/tests/synapse_workspace_resource_test.go
  azurerm/internal/services/synapse/validate/synapse_workspace.go
  azurerm/internal/services/synapse/validate/synapse_workspace_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/bigdatapools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/integrationruntimeauthkeys.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/integrationruntimeconnectioninfos.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/integrationruntimecredentials.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/integrationruntimemonitoringdata.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/integrationruntimenodeipaddress.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/integrationruntimenodes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/integrationruntimeobjectmetadata.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/integrationruntimes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/integrationruntimestatus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/ipfirewallrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/privatelinkhubs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolblobauditingpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolconnectionpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpooldatawarehouseuseractivities.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolgeobackuppolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolmetadatasyncconfigs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpooloperationresults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpooloperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolreplicationlinks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolrestorepoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolschemas.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolsecurityalertpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolsensitivitylabels.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpooltablecolumns.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpooltables.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpooltransparentdataencryptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolusages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolvulnerabilityassessmentrulebaselines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolvulnerabilityassessments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/sqlpoolvulnerabilityassessmentscans.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/workspaceaadadmins.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/workspacemanagedidentitysqlcontrolsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/synapse/mgmt/2019-06-01-preview/synapse/workspaces.go
  vendor/modules.txt
  website/allowed-subcategories
  website/azurerm.erb
  website/docs/d/synapse_workspace.html.markdown
  website/docs/r/synapse_workspace.html.markdown
Labels: dependencies, new-data-source, new-resource, preview, size/XXL

#7868 `azurerm_backup_policy_vm` fix test `updateWeeklyToPartial`
  azurerm/internal/services/recoveryservices/tests/resource_arm_backup_policy_vm_test.go
Labels: size/XS

#7861 Update doc for georeplication_locations property of container registry
  website/docs/r/container_registry.html.markdown
Labels: documentation, size/XS

#7838 `azurerm_monitor_scheduled_query_rules_alert` - Remove default from `action.0.custom_webhook_payload`
  azurerm/internal/services/monitor/monitor_scheduled_query_rules_alert_resource.go
Labels: size/XS

#7867 `azurerm_search_service` Add `publicNetworkAccess` and update api-version to `2020-03-13`
  azurerm/internal/services/search/client/client.go
  azurerm/internal/services/search/resource_arm_search_service.go
  azurerm/internal/services/search/tests/resource_arm_search_service_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2015-08-19/search/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2020-03-13/search/adminkeys.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2020-03-13/search/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2020-03-13/search/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2020-03-13/search/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2020-03-13/search/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2020-03-13/search/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2020-03-13/search/querykeys.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2020-03-13/search/services.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2020-03-13/search/sharedprivatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/search/mgmt/2020-03-13/search/version.go
  vendor/modules.txt
  website/docs/r/search_service.html.markdown
Labels: dependencies, documentation, size/XXL
