Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2020-06, with the labels that each got.

#7059 `azurerm_app_service` `ip_restriction` - add default for `priority`
  azurerm/helpers/azure/app_service.go
  azurerm/internal/services/web/tests/resource_arm_app_service_test.go
Labels: enhancement, service/app-service, size/XS

#7122 `azurerm_eventhub_authorization_rule` - Fix intermittent 404 errors
  azurerm/internal/services/eventhub/eventhub_authorization_rule_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_authorization_rule_resource.go
Labels: service/event-hubs, size/S

#7094 `r/signalr` - adds support for `EnableMessagingLogs` feature
  azurerm/internal/services/signalr/resource_arm_signalr_service.go
  website/docs/r/signalr_service.html.markdown
Labels: bug, documentation, enhancement, service/signalr, size/XS

#6861 Update Resource: Add advanced filter support to `azurerm_eventgrid_event_subscription`
  azurerm/internal/services/eventgrid/eventgrid_event_subscription_resource.go
  azurerm/internal/services/eventgrid/tests/eventgrid_event_subscription_resource_test.go
  azurerm/utils/common_marshal.go
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, enhancement, service/event-grid, size/XL

#7146 Added example for linux function apps
  website/docs/r/function_app.html.markdown
Labels: documentation, service/functions, size/S

#6224 `azurerm_data_factory_pipeline`: Support for `activities`
  azurerm/internal/services/datafactory/data_factory.go
  azurerm/internal/services/datafactory/data_factory_pipeline_resource.go
  azurerm/internal/services/datafactory/data_factory_test.go
  azurerm/internal/services/datafactory/tests/data_factory_pipeline_resource_test.go
  website/docs/r/data_factory_pipeline.html.markdown
Labels: documentation, enhancement, service/data-factory, size/XL

#7157 fix scope of name availability check in ASE hosted app services
  azurerm/internal/services/web/resource_arm_app_service.go
  azurerm/internal/services/web/tests/resource_arm_app_service_test.go
Labels: service/app-service, size/M

#7099 New resource/data source `azurerm_logic_app_integration_account`
  azurerm/internal/services/logic/client/client.go
  azurerm/internal/services/logic/logic_app_integration_account_data_source.go
  azurerm/internal/services/logic/logic_app_integration_account_resource.go
  azurerm/internal/services/logic/logic_app_workflow_data_source.go
  azurerm/internal/services/logic/logic_app_workflow_resource.go
  azurerm/internal/services/logic/parse/logic.go
  azurerm/internal/services/logic/parse/logic_test.go
  azurerm/internal/services/logic/registration.go
  azurerm/internal/services/logic/tests/logic_app_integration_account_data_source_test.go
  azurerm/internal/services/logic/tests/logic_app_integration_account_resource_test.go
  azurerm/internal/services/logic/tests/logic_app_workflow_resource_test.go
  azurerm/internal/services/logic/validate/logic.go
  azurerm/internal/services/logic/validate/logic_test.go
  website/azurerm.erb
  website/docs/d/logic_app_integration_account.html.markdown
  website/docs/d/logic_app_workflow.html.markdown
  website/docs/r/logic_app_integration_account.html.markdown
  website/docs/r/logic_app_workflow.html.markdown
Labels: documentation, new-data-source, new-resource, service/logic, size/XL

#7168 `azurerm_virtual_network_gatway` - `vpn_client_protocols` is now also computed to prevent permanent diffs
  azurerm/internal/services/network/virtual_network_gateway_resource.go
Labels: size/XS

#7166 `azurerm_role_assignment` - add notes for different id format
  website/docs/r/role_assignment.html.markdown
Labels: documentation, size/XS

#7164 `azurerm_cdn_endpoint` - `origin_host_header` can now be set to empty
  azurerm/internal/services/cdn/cdn_endpoint_resource.go
  azurerm/internal/services/cdn/tests/cdn_endpoint_resource_test.go
Labels: size/XS

#7191 alt sub for acctests client data
  azurerm/internal/acceptance/client_data.go
Labels: size/XS, tests

#7189 re-added 500 Response workaround for CosmosDB CheckNameExists bug
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
Labels: bug, service/cosmosdb, size/XS

#6563 new resource `azurerm_monitor_action_rule_action_group`, `azurerm_monitor_action_rule_suppression`
  azurerm/internal/services/monitor/action_rule.go
  azurerm/internal/services/monitor/client/client.go
  azurerm/internal/services/monitor/monitor_action_rule_action_group_resource.go
  azurerm/internal/services/monitor/monitor_action_rule_suppression_resource.go
  azurerm/internal/services/monitor/parse/monitor_action_group.go
  azurerm/internal/services/monitor/parse/monitor_action_group_test.go
  azurerm/internal/services/monitor/parse/monitor_action_rule.go
  azurerm/internal/services/monitor/parse/monitor_action_rule_test.go
  azurerm/internal/services/monitor/registration.go
  azurerm/internal/services/monitor/tests/monitor_action_rule_action_group_resource_test.go
  azurerm/internal/services/monitor/tests/monitor_action_rule_suppression_resource_test.go
  azurerm/internal/services/monitor/validate/monitor_action_group.go
  azurerm/internal/services/monitor/validate/monitor_action_rule.go
  azurerm/internal/services/monitor/validate/monitor_action_rule_test.go
  azurerm/utils/common_marshal.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/alertsmanagement/mgmt/2019-05-05/alertsmanagement/actionrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/alertsmanagement/mgmt/2019-05-05/alertsmanagement/alerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/alertsmanagement/mgmt/2019-05-05/alertsmanagement/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/alertsmanagement/mgmt/2019-05-05/alertsmanagement/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/alertsmanagement/mgmt/2019-05-05/alertsmanagement/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/alertsmanagement/mgmt/2019-05-05/alertsmanagement/smartgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/alertsmanagement/mgmt/2019-05-05/alertsmanagement/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/monitor_action_rule_action_group.html.markdown
  website/docs/r/monitor_action_rule_suppression.html.markdown
Labels: dependencies, documentation, new-resource, size/XXL

#7180 The title said "mssql" but this is sql page
  website/docs/r/sql_server.html.markdown
Labels: documentation, service/mssql, size/XS

#7186 Update fields in `managed_rule_set` at `web_application_firewall_policy` document
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, service/firewall, size/XS

#7205 r/role_assignment: support for assigning Preview roles
  azurerm/internal/services/authorization/role_assignment_resource.go
Labels: bug, service/roles, size/XS

#7185 Remove `resource_group_name` in `azurerm_storeage_container` at document and example code
  examples/app-service/backup/main.tf
  examples/stream-analytics/main.tf
  examples/virtual-machines/virtual_machine/spark-and-cassandra-on-centos/main.tf
  examples/virtual-machines/virtual_machine/unmanaged-disks/basic/1-dependencies.tf
  website/docs/d/storage_account_blob_container_sas.html.markdown
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_ml_services_cluster.html.markdown
  website/docs/r/hdinsight_rserver_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
  website/docs/r/hdinsight_storm_cluster.html.markdown
  website/docs/r/iothub_endpoint_storage_container.html.markdown
  website/docs/r/iothub_fallback_route.html.markdown
  website/docs/r/iothub_route.html.markdown
  website/docs/r/stream_analytics_output_blob.html.markdown
  website/docs/r/stream_analytics_reference_input_blob.html.markdown
  website/docs/r/stream_analytics_stream_input_blob.html.markdown
  website/docs/r/virtual_machine_extension.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/storage, size/XS

#7203 r/eventgrid_event_subscription: setting the correct field
  azurerm/internal/services/eventgrid/eventgrid_event_subscription_resource.go
Labels: bug, service/event-grid, size/XS

#7204 r/key_vault_certificate: always setting the `certificate_data` and `thumbprint` fields
  azurerm/internal/services/keyvault/key_vault_certificate_resource.go
  azurerm/internal/services/keyvault/tests/key_vault_certificate_resource_test.go
Labels: bug, service/keyvault, size/XS

#7129 Update docs for azurerm_disk_encryption_set
  website/docs/r/disk_encryption_set.html.markdown
Labels: documentation, size/M

#7141 Add Virtual Machine Scale Set Data Source
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_resource_test.go
  azurerm/internal/services/compute/tests/virtual_machine_scale_set_data_source_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_resource_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set_data_source.go
  website/azurerm.erb
  website/docs/d/virtual_machine_scale_set.html.markdown
Labels: documentation, new-data-source, service/vmss, size/L

#7226 update doc for `azurerm_key_vault_certificate`
  website/docs/r/key_vault_certificate.html.markdown
Labels: documentation, service/keyvault, size/XS

#7222 Fix nil pointer refernce for subject_filter of eventgrid event subs
  azurerm/internal/services/eventgrid/eventgrid_event_subscription_resource.go
Labels: bug, service/event-grid, size/XS

#7182 Azure Function support for Event Grid event subscription
  azurerm/internal/services/eventgrid/eventgrid_event_subscription_resource.go
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, enhancement, service/event-grid, size/M

#7216 'azurerm_management_group` use correction subscriptionId when deallocating subscriptions
  azurerm/internal/services/managementgroup/management_group_resource.go
Labels: bug, service/management-groups, size/XS

#6971 New Resource: Data Factory Linked Service Key Vault Resource
  azurerm/internal/services/datafactory/data_factory_linked_service_key_vault_resource.go
  azurerm/internal/services/datafactory/registration.go
  azurerm/internal/services/datafactory/tests/data_factory_linked_service_key_vault_resource_test.go
  website/azurerm.erb
  website/docs/r/data_factory_linked_service_key_vault.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#7230 Fix Linux Consumption Function Apps
  azurerm/internal/services/web/resource_arm_function_app.go
Labels: service/app-service, size/XS

#7181 `azurerm_web_application_firewall_policy` - Add support for `GeoMatch` operator in request filter
  azurerm/internal/services/network/web_application_firewall_policy_resource.go
Labels: size/XS

#7243 Found two typos in the example code.
  website/docs/r/mssql_database.html.markdown
Labels: documentation, size/XS

#7240 GH-7227 Fix application_gateway subnet documentation
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#7095 Support for versionless key vault secretId in azurerm_application_gateway
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/tests/application_gateway_resource_test.go
Labels: enhancement, service/application-gateway, size/L

#7211 Azure policy rest version bump to 2019-09-01
  azurerm/internal/services/policy/client/client.go
  azurerm/internal/services/policy/policy.go
  azurerm/internal/services/policy/policy_assignment_resource.go
  azurerm/internal/services/policy/policy_definition_data_source.go
  azurerm/internal/services/policy/policy_definition_resource.go
  azurerm/internal/services/policy/policy_set_definition_data_source.go
  azurerm/internal/services/policy/policy_set_definition_resource.go
  azurerm/internal/services/policy/tests/policy_remediation_resource_test.go
  azurerm/internal/services/policy/tests/policy_set_definition_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-09-01/policy/assignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-09-01/policy/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-09-01/policy/definitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-09-01/policy/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-09-01/policy/setdefinitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-09-01/policy/version.go
  vendor/modules.txt
Labels: dependencies, service/policy, size/XL

#7112 New Resource: `azurerm_iot_time_series_insights_reference_data_set`
  azurerm/internal/services/iottimeseriesinsights/client/client.go
  azurerm/internal/services/iottimeseriesinsights/parse/iot_time_series_insights_reference_data_set.go
  azurerm/internal/services/iottimeseriesinsights/parse/iot_time_series_insights_reference_data_set_test.go
  azurerm/internal/services/iottimeseriesinsights/registration.go
  azurerm/internal/services/iottimeseriesinsights/resource_iot_time_series_insights_reference_data_set.go
  azurerm/internal/services/iottimeseriesinsights/tests/resource_iot_time_series_insights_reference_data_set_test.go
  azurerm/internal/services/iottimeseriesinsights/validate/time_series_insights_environment.go
  azurerm/internal/services/iottimeseriesinsights/validate/time_series_insights_environment_test.go
  website/azurerm.erb
  website/docs/r/iot_time_series_insights_reference_data_set.html.markdown
Labels: documentation, new-resource, service/time-series-insights, size/XL

#7224 New Resource azurerm_app_service_hybrid_connection
  azurerm/internal/services/web/app_service_hybrid_connection.go
  azurerm/internal/services/web/app_service_hybrid_connection_resource.go
  azurerm/internal/services/web/app_service_hybrid_connection_test.go
  azurerm/internal/services/web/registration.go
  azurerm/internal/services/web/tests/app_service_hybrid_connection_resource_test.go
  website/azurerm.erb
  website/docs/r/app_service_hybrid_connection.html.markdown
Labels: documentation, new-resource, service/app-service, size/XL

#6930 Add limited support for blueprint assignments
  .teamcity/components/generated/services.kt
  azurerm/internal/clients/client.go
  azurerm/internal/provider/required_resource_providers.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/blueprints/blueprint.go
  azurerm/internal/services/blueprints/blueprint_assignment_resource.go
  azurerm/internal/services/blueprints/blueprint_definition_datasource.go
  azurerm/internal/services/blueprints/blueprint_published_version_datasource.go
  azurerm/internal/services/blueprints/client/client.go
  azurerm/internal/services/blueprints/parse/blueprint_assignment.go
  azurerm/internal/services/blueprints/parse/blueprint_assignment_test.go
  azurerm/internal/services/blueprints/parse/blueprint_definition.go
  azurerm/internal/services/blueprints/parse/blueprint_version.go
  azurerm/internal/services/blueprints/parse/blueprint_version_test.go
  azurerm/internal/services/blueprints/registration.go
  azurerm/internal/services/blueprints/tests/blueprint_assignment_resource_test.go
  azurerm/internal/services/blueprints/tests/blueprint_definition_data_source_test.go
  azurerm/internal/services/blueprints/tests/blueprint_published_version_data_source_test.go
  azurerm/internal/services/blueprints/validate/blueprint.go
  azurerm/internal/services/blueprints/validate/blueprint_version.go
  azurerm/internal/services/msi/parse/identity.go
  azurerm/internal/services/msi/validate/identity.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/artifacts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/assignmentoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/assignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/blueprints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/publishedartifacts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/publishedblueprints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/azurerm.erb
  website/docs/d/blueprint_definition.html.markdown
  website/docs/d/blueprint_published_version.html.markdown
  website/docs/r/blueprint_assignment.html.markdown
Labels: dependencies, documentation, new-data-source, new-resource, service/blueprints, size/XXL

#7248 r/eventhub_namespace_authorization_rule: adding a state migration
  azurerm/internal/services/eventhub/eventhub_namespace_authorization_rule_resource.go
  azurerm/internal/services/eventhub/migration/namespace_authorization_rule_v0.go
  azurerm/internal/services/eventhub/parse/namespace_authorization_rule.go
  azurerm/internal/services/eventhub/parse/namespace_authorization_rule_test.go
Labels: bug, service/event-hubs, size/L

#7202 New Resource: `azurerm_iot_time_series_insights_access_policy`
  azurerm/internal/services/iottimeseriesinsights/client/client.go
  azurerm/internal/services/iottimeseriesinsights/parse/iot_time_series_insights_access_policy.go
  azurerm/internal/services/iottimeseriesinsights/parse/iot_time_series_insights_access_policy_test.go
  azurerm/internal/services/iottimeseriesinsights/registration.go
  azurerm/internal/services/iottimeseriesinsights/resource_iot_time_series_insights_access_policy.go
  azurerm/internal/services/iottimeseriesinsights/tests/resource_iot_time_series_insights_access_policy_test.go
  website/azurerm.erb
  website/docs/r/iot_time_series_insights_access_policy.html.markdown
Labels: documentation, new-resource, service/time-series-insights, size/XL

#7217 `azurerm_cosmosdb_account` modifying `geo_location` no longer triggers a recreation of the resource
  azurerm/helpers/azure/location.go
  azurerm/internal/location/schema.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/tests/cosmosdb_account_resource_test.go
Labels: bug, service/cosmosdb, size/M

#7264 context fixes for state migration test panics
  azurerm/internal/services/containers/tests/container_registry_migrate_resource_test.go
  azurerm/internal/services/datalake/tests/data_lake_store_file_migration_resource_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_blob_migration_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_container_migration_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_queue_migration_test.go
Labels: size/L, tests

#7266 Error creating the example.
  website/docs/r/mssql_database.html.markdown
Labels: documentation, service/mssql, size/XS

#7278 Update azurerm_subnet_nat_gateway_association document example usage.
  website/docs/r/subnet_nat_gateway_association.html.markdown
Labels: documentation, service/subnets, size/XS

#7274 Update doc of `azurerm_linux|windows_virtual_machine` - Remove preview statement of disk encryption set
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#7076 azurerm_api_management_api` `wsdl_selector` is required when content_format = "wsdl"
  azurerm/internal/services/apimanagement/api_management_api_resource.go
Labels: enhancement, service/api-management, size/XS

#7207 Extended EventGrid event subscription webhook support
  azurerm/internal/services/eventgrid/eventgrid_event_subscription_resource.go
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, enhancement, service/event-grid, size/M

#7285 New data source azurerm_key_vault_certificate
  azurerm/internal/services/keyvault/key_vault_certificate_data_source.go
  azurerm/internal/services/keyvault/registration.go
  azurerm/internal/services/keyvault/tests/key_vault_certificate_data_source_test.go
  website/azurerm.erb
  website/docs/d/key_vault_certificate.html.markdown
Labels: documentation, new-data-source, service/keyvault, size/XL, tests

#7294 calling_web_hook could be empty for `azurerm_bot_channel_ms_teams`
  azurerm/internal/services/bot/bot_channel_ms_teams_resource.go
  azurerm/internal/services/bot/tests/bot_channel_ms_teams_resource_test.go
  website/docs/r/bot_channel_ms_teams.markdown
Labels: documentation, service/bots, size/S

#7259 Update doc for max_size_gb of sql elastic pool
  website/docs/r/mssql_elasticpool.html.markdown
Labels: documentation, service/mssql, size/XS

#7279 add check for available service provider - `azurerm_bot_connection`
  azurerm/internal/services/bot/bot_connection_resource.go
Labels: enhancement, service/bots, size/S

#7263 Add developer_portal_url attribute on azurerm_api_management
  azurerm/internal/services/apimanagement/api_management_data_source.go
  azurerm/internal/services/apimanagement/api_management_resource.go
  website/docs/d/api_management.html.markdown
  website/docs/r/api_management.html.markdown
Labels: documentation, service/api-management, size/XS

#7273 `azurerm_api_management_api` createUpdate change
  azurerm/internal/services/apimanagement/api_management_api_resource.go
Labels: bug, service/api-management, size/XS

#7322 Azure IoT Time Series Insights Reference Data Set - Correct the title in the docs
  website/docs/r/iot_time_series_insights_reference_data_set.html.markdown
Labels: documentation, service/iot-time-series, size/XS

#7323 Fix incorrect rendering of h2 after stray codeblock
  website/docs/r/cosmosdb_gremlin_graph.html.markdown
Labels: documentation, size/XS

#7296 Declare azurerm_healthcare_service argument access_policy_object_ids as optional
  azurerm/internal/services/healthcare/healthcare_service_resource.go
Labels: service/healthcare, size/XS

#7330 Update logic_app_action_http.html.markdown
  website/docs/r/logic_app_action_http.html.markdown
Labels: documentation, size/XS

#7332 Update app service example main.tf
  examples/app-service/linux-authentication/main.tf
  examples/app-service/linux-basic/main.tf
  examples/app-service/windows-authentication/main.tf
  examples/app-service/windows-basic/main.tf
Labels: documentation, service/app-service, size/XS

#7272 `azurerm_hdinsight_cluster` deprecate `min_instance_count`
  azurerm/helpers/azure/hdinsight.go
  azurerm/internal/services/hdinsight/tests/hdinsight_hbase_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_interactive_query_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_kafka_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_ml_services_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_rserver_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_spark_cluster_resource_test.go
  azurerm/internal/services/hdinsight/tests/hdinsight_storm_cluster_resource_test.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_ml_services_cluster.html.markdown
  website/docs/r/hdinsight_rserver_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
  website/docs/r/hdinsight_storm_cluster.html.markdown
Labels: documentation, service/hdinsight, size/XS

#6535 New resource - azurerm_data_factory_integration_runtime_self_hosted
  azurerm/internal/services/datafactory/data_factory_integration_runtime_self_hosted.go
  azurerm/internal/services/datafactory/parse/data_factory_integration_runtime.go
  azurerm/internal/services/datafactory/parse/data_factory_integration_runtime_test.go
  azurerm/internal/services/datafactory/registration.go
  azurerm/internal/services/datafactory/tests/data_factory_integration_runtime_self_hosted_test.go
  examples/data-factory/shared-self-hosted/README.md
  examples/data-factory/shared-self-hosted/main.tf
  examples/data-factory/shared-self-hosted/variables.tf
  website/azurerm.erb
  website/docs/r/data_factory_integration_runtime_self_hosted.html.markdown
Labels: documentation, service/data-factory, size/XXL

#7306 New Resource: `azurerm_eventhub_cluster`
  azurerm/helpers/azure/eventhub.go
  azurerm/internal/services/eventhub/client/client.go
  azurerm/internal/services/eventhub/eventhub_authorization_rule_resource.go
  azurerm/internal/services/eventhub/eventhub_cluster_resource.go
  azurerm/internal/services/eventhub/eventhub_consumer_group_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_authorization_rule_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_disaster_recovery_config_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_resource.go
  azurerm/internal/services/eventhub/eventhub_resource.go
  azurerm/internal/services/eventhub/parse/cluster.go
  azurerm/internal/services/eventhub/parse/cluster_test.go
  azurerm/internal/services/eventhub/registration.go
  azurerm/internal/services/eventhub/tests/eventhub_cluster_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/clusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/configuration.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/consumergroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/disasterrecoveryconfigs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/eventhubs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/namespaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/regions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/eventhub/mgmt/2018-01-01-preview/eventhub/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/r/eventhub_cluster.html.markdown
Labels: dependencies, documentation, service/event-hubs, size/XXL

#7335 Documentation Fix: `azurerm_virtual_network_peering`
  website/docs/r/virtual_network_peering.html.markdown
Labels: documentation, size/XS

#7087 azurerm_app_service_certificate - support for hosting_environment_profile_id
  azurerm/internal/services/web/resource_arm_app_service_certificate.go
  azurerm/internal/services/web/tests/app_service_environment_resource_test.go
  website/docs/r/app_service_certificate.html.markdown
Labels: documentation, enhancement, service/app-service, size/M

#7324 azurerm_app_service_environment - support for user_whitelisted_ip_ranges
  azurerm/internal/services/web/app_service_environment_resource.go
  website/docs/r/app_service_environment.html.markdown
Labels: documentation, enhancement, service/app-service, size/S

#7154 `azurerm_network_watcher_flow_log` destroy fails
  azurerm/internal/services/network/network_watcher_flow_log_resource.go
Labels: bug, service/network-watcher, size/XS

#7331 `azurerm_policy_assignment` - added support for `enforcement_mode`
  azurerm/internal/services/policy/policy_assignment_resource.go
  azurerm/internal/services/policy/tests/policy_assignment_resource_test.go
  website/docs/r/policy_assignment.html.markdown
Labels: documentation, service/policy, size/M

#7304 Add link to `app_settings` values reference
  website/docs/r/function_app.html.markdown
Labels: documentation, service/functions, size/XS

#7362 Updated the example SQL DB name to not say "mysql"
  website/docs/r/sql_database.html.markdown
Labels: documentation, service/mssql, size/XS

#7361 Update interpolation syntax
  website/docs/r/sql_active_directory_administrator.markdown
Labels: documentation, service/mssql, size/XS

#6845 Update data source `azurerm_management_group` - support get data source of mgmt group by using `display_name`
  azurerm/internal/services/managementgroup/management_group_data_source.go
  azurerm/internal/services/managementgroup/tests/management_group_data_source_test.go
  website/docs/d/management_group.html.markdown
Labels: documentation, enhancement, service/management-groups, size/M

#7382 `azurerm_storage_share_directory ` - `name` can now contain one nested directory
  azurerm/helpers/validate/storage.go
  azurerm/helpers/validate/storage_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_share_directory_test.go
Labels: size/XS

#6955 `azurerm_app_service` added support for ip-restrictions scm/kudu site
  azurerm/helpers/azure/app_service.go
  azurerm/internal/services/web/tests/data_source_app_service_test.go
  azurerm/internal/services/web/tests/resource_arm_app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
Labels: documentation, enhancement, service/app-service, size/XL

#6713 new resource "azurerm_maintenance_assignment"
  azurerm/internal/services/maintenance/client/client.go
  azurerm/internal/services/maintenance/maintenance_assignment_dedicated_host_resource.go
  azurerm/internal/services/maintenance/maintenance_assignment_virtual_machine_resource.go
  azurerm/internal/services/maintenance/parse/maintenance_assignment_dedicated_host.go
  azurerm/internal/services/maintenance/parse/maintenance_assignment_dedicated_host_test.go
  azurerm/internal/services/maintenance/parse/maintenance_assignment_virtual_machine.go
  azurerm/internal/services/maintenance/parse/maintenance_assignment_virtual_machine_test.go
  azurerm/internal/services/maintenance/registration.go
  azurerm/internal/services/maintenance/tests/maintenance_assignment_dedicated_host_resource_test.go
  azurerm/internal/services/maintenance/tests/maintenance_assignment_virtual_machine_resource_test.go
  azurerm/internal/services/maintenance/validate/maintenance_configuration.go
  website/azurerm.erb
  website/docs/r/maintenance_assignment_dedicated_host.html.markdown
  website/docs/r/maintenance_assignment_virtual_machine.html.markdown
Labels: documentation, new-resource, services/maintenance, size/XXL

#7107 New resource/datasource `azurerm_data_share_dataset_blob_storage`
  azurerm/internal/services/datashare/client/client.go
  azurerm/internal/services/datashare/data_source_data_share_dataset_blob_storage.go
  azurerm/internal/services/datashare/helper/data_share.go
  azurerm/internal/services/datashare/parse/data_share.go
  azurerm/internal/services/datashare/parse/data_share_test.go
  azurerm/internal/services/datashare/registration.go
  azurerm/internal/services/datashare/resource_arm_data_share_dataset_blob_storage.go
  azurerm/internal/services/datashare/tests/data_source_data_share_dataset_blob_storage_test.go
  azurerm/internal/services/datashare/tests/resource_arm_data_share_dataset_blob_storage_test.go
  azurerm/internal/services/datashare/validate/data_share.go
  website/azurerm.erb
  website/docs/d/data_share_dataset_blob_storage.html.markdown
  website/docs/r/data_share_dataset_blob_storage.html.markdown
Labels: documentation, new-data-source, new-resource, service/data-share, size/XXL

#7399 Doc Fix: use proper url for importing azure virtual machine
  website/docs/r/linux_virtual_machine.html.markdown
Labels: documentation, size/XS

#7375 `azurerm_kusto_cluster` - Support for `enable_purge`
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  azurerm/internal/services/kusto/tests/kusto_cluster_resource_test.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, size/XS

#7246 `azurerm_private_endpoint` - expose `private_dns_zone_group`, `private_dns_zone_configs`, and `custom_dns_configs`
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/parse/private_endpoint.go
  azurerm/internal/services/network/private_endpoint_resource.go
  azurerm/internal/services/network/tests/private_endpoint_resource_test.go
  azurerm/internal/services/network/tests/private_link_service_resource_test.go
  azurerm/internal/services/privatedns/validate.go
  examples/private-endpoint/private-dns-group/README.md
  examples/private-endpoint/private-dns-group/main.tf
  examples/private-endpoint/private-dns-group/variables.tf
  website/docs/r/private_dns_zone.html.markdown
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, enhancement, service/private-link, size/XXL

#7372 `azurerm_kusto_cluster` - Support for extended Kusto Cluster SKUs
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, size/XS

#7400 Doc Fix: Add note for Storage Documentation when Creating HNS Enabled
  website/docs/r/storage_account.html.markdown
Labels: documentation, size/XS

#7423 private_endpoint: fix miswordings in private_dns_zone_group section
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, size/XS

#7422 mysql resources: update documentation
  website/docs/r/mysql_configuration.html.markdown
  website/docs/r/mysql_database.html.markdown
  website/docs/r/mysql_virtual_network_rule.html.markdown
Labels: documentation, size/M

#7367 `azurerm_kusto_cluster` - Support for `identity`
  azurerm/helpers/azure/kusto.go
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  azurerm/internal/services/kusto/tests/kusto_cluster_resource_test.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, service/kusto, size/L

#7424 `azurerm_role_definition` - terraform import now sets scope to prevent a force recreate
  azurerm/internal/services/authorization/role_definition_resource.go
Labels: bug, service/authorization, size/XS

#7346 app_service_environment resource - allow "Web, Publishing" for the internal_load_balancing_mode argument
  azurerm/internal/services/web/app_service_environment_resource.go
  azurerm/internal/services/web/tests/app_service_environment_resource_test.go
  website/docs/r/app_service_environment.html.markdown
Labels: documentation, enhancement, service/app-service, size/S

#7430 azurerm_hdinsights_*_cluster: loosen work node count validation
  azurerm/helpers/azure/hdinsight.go
  azurerm/internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_hbase_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_ml_services_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_rserver_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_spark_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_storm_cluster_resource.go
Labels: enhancement, service/hdinsight, size/S

#7415 Added three examples for AKS
  examples/kubernetes/egress-with-udr-azure-cni/README.md
  examples/kubernetes/egress-with-udr-azure-cni/main.tf
  examples/kubernetes/egress-with-udr-azure-cni/outputs.tf
  examples/kubernetes/egress-with-udr-azure-cni/variables.tf
  examples/kubernetes/egress-with-udr-kubenet/README.md
  examples/kubernetes/egress-with-udr-kubenet/main.tf
  examples/kubernetes/egress-with-udr-kubenet/outputs.tf
  examples/kubernetes/egress-with-udr-kubenet/variables.tf
  examples/kubernetes/private-api-server/README.md
  examples/kubernetes/private-api-server/main.tf
  examples/kubernetes/private-api-server/outputs.tf
  examples/kubernetes/private-api-server/variables.tf
Labels: documentation, service/kubernetes-cluster, size/XL

#7417 application_gateway - Clarify use of PathBasedRouting
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#7369 `azurerm_kusto_cluster` - Support for `virtual_network_configuration`
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  azurerm/internal/services/kusto/tests/kusto_cluster_resource_test.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, service/kusto, size/L

#7450 Doc Fix: private_endpoint.html.markdown
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, size/XS

#7440 `azurerm_function_app` `app_settings` refresh plan is not empty
  azurerm/internal/services/web/resource_arm_function_app.go
  azurerm/internal/services/web/tests/resource_arm_function_app_test.go
Labels: service/functions, size/M

#7437 firewall_resource: support `threat_intel_mode`
  azurerm/internal/services/network/firewall_resource.go
  azurerm/internal/services/network/tests/firewall_resource_test.go
  website/docs/r/firewall.html.markdown
Labels: documentation, enhancement, service/firewall, size/XS

#7449 azurerm_frontdoor - Update documentation of redirect_type
  website/docs/r/frontdoor.html.markdown
Labels: documentation, service/frontdoor, size/XS

#7442 Update dev_test_global_vm_shutdown_schedule.html.markdown
  website/docs/r/dev_test_global_vm_shutdown_schedule.html.markdown
Labels: documentation, service/devtestlabs, size/XS

#7438 azurerm_marketplace_agreement: update doc for importing ID
  website/docs/r/marketplace_agreement.html.markdown
Labels: documentation, size/XS

#7408 `azurerm_frontdoor` - Fix timeout for read operation to match documentation
  azurerm/internal/services/frontdoor/frontdoor_resource.go
Labels: bug, service/frontdoor, size/XS

#7385 make `ip_rules`, `virtual_network_subnet_ids` could become zero - `azurerm_storage_account_network_rules`
  azurerm/internal/services/storage/resource_arm_storage_account_network_rules.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_network_rules_test.go
Labels: bug, service/storage, size/S

#7453 azurerm_mssql_database - support `GP_S_Gen5` SKUs up to `GP_S_Gen5_40`
  azurerm/internal/services/mssql/validate/mssql_database.go
Labels: bug, service/mssql, size/XS

#7457 azurerm_mssql_database - support min_capacity up to 5
  azurerm/internal/services/mssql/mssql_database_resource.go
Labels: bug, service/mssql, size/XS

#7456 `azurerm_postgresql_server` - force new if `sku_name` changes tier
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/tests/postgresql_server_resource_test.go
Labels: bug, service/postgresql, size/XS

#7459 `azurerm_network_interface_security_group_association` remove itself when NIC not found
  azurerm/internal/services/network/network_interface_application_security_group_association_resource.go
Labels: bug, service/network-interfaces, size/XS

#7373 azurerm_kusto_cluster - supoport for zones
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  azurerm/internal/services/kusto/tests/kusto_cluster_resource_test.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, service/kusto, size/S

#7433 Bump autorest/azure/cli to 0.3.1 so AZURE_CONFIG_DIR is honoured when looking for accessTokens.json
  go.mod
  go.sum
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/go.mod
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/go.sum
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/profile.go
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/token.go
  vendor/modules.txt
Labels: dependencies, size/S

#4885 azurerm_api_management_api - support for `subscription_required`
  azurerm/internal/services/apimanagement/api_management_api_data_source.go
  azurerm/internal/services/apimanagement/api_management_api_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_api_data_source_test.go
  azurerm/internal/services/apimanagement/tests/api_management_api_resource_test.go
  website/docs/d/api_management_api.html.markdown
  website/docs/r/api_management_api.html.markdown
Labels: documentation, enhancement, service/api-management, size/S

#7458 azurerm_monitor_activity_log_alert: support `properties.recommendationType`
  azurerm/internal/services/monitor/monitor_activity_log_alert_resource.go
  azurerm/internal/services/monitor/tests/monitor_activity_log_alert_resource_test.go
  website/docs/r/monitor_activity_log_alert.html.markdown
Labels: documentation, enhancement, service/monitor, size/M

#7478 Update path validation for azure_rm_api_management_api
  azurerm/helpers/validate/api_management.go
  azurerm/helpers/validate/api_management_test.go
Labels: bug, service/api-management, size/XS

#7411 new resource: azurerm_postgresql_active_directory_administrator
  azurerm/internal/services/postgres/client/client.go
  azurerm/internal/services/postgres/postgresql_aad_administrator_resource.go
  azurerm/internal/services/postgres/registration.go
  azurerm/internal/services/postgres/tests/postgresql_administrator_resource_test.go
  website/azurerm.erb
  website/docs/r/postgresql_active_directory_administrator.html.markdown
Labels: documentation, new-resource, service/postgresql, size/XL

#7473 add retry logic on managementgroup creation
  azurerm/internal/services/managementgroup/management_group_resource.go
Labels: enhancement, service/management-groups, size/S

#7490 azurerm_automation_schedule - Link to 'Microsoft Time Zone Index Values' was changed to up to date one
  website/docs/r/automation_schedule.html.markdown
Labels: documentation, service/automation, size/XS

#7480 `azurerm_monitor_autoscale_settings` support for time_aggregation = "Last"
  azurerm/internal/services/monitor/monitor_autoscale_setting_resource.go
  azurerm/internal/services/monitor/tests/monitor_autoscale_setting_resource_test.go
Labels: enhancement, service/monitor, size/XS

#7308 azurerm_network_interface: change case in import
  website/docs/r/network_interface.html.markdown
Labels: documentation, service/network-interfaces, size/XS

#7485 frontdoor: setting the read timeout to 5 minutes
  .travis.yml
  azurerm/internal/provider/provider_test.go
  azurerm/internal/services/frontdoor/frontdoor_resource.go
  website/docs/r/frontdoor.html.markdown
Labels: bug, documentation, service/frontdoor, size/XS

#7496 Replace underscores with hyphens in example service bus namespace names as underscores are not valid
  website/docs/r/servicebus_namespace_authorization_rule.html.markdown
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_queue_authorization_rule.html.markdown
  website/docs/r/servicebus_subscription.html.markdown
  website/docs/r/servicebus_subscription_rule.html.markdown
  website/docs/r/servicebus_topic.html.markdown
Labels: documentation, size/XS

#7500 cleanup some example naming
  examples/virtual-machines/virtual_machine/spark-and-cassandra-on-centos/README.md
  examples/virtual-machines/virtual_machine/spark-and-cassandra-on-centos/main.tf
  examples/virtual-machines/virtual_machine/spark-and-cassandra-on-centos/outputs.tf
  examples/virtual-machines/virtual_machine/spark-and-cassandra-on-centos/variables.tf
Labels: refactor, size/L

#7507 tweak some examples
  examples/virtual-machines/virtual_machine/openshift-origin/README.md
  examples/virtual-machines/virtual_machine/openshift-origin/deploy.ci.sh
  examples/virtual-machines/virtual_machine/openshift-origin/deploy.mac.sh
  examples/virtual-machines/virtual_machine/openshift-origin/main.tf
  examples/virtual-machines/virtual_machine/openshift-origin/outputs.tf
  examples/virtual-machines/virtual_machine/openshift-origin/variables.tf
  examples/virtual-machines/virtual_machine/spark-and-cassandra-on-centos/variables.tf
  website/docs/d/kubernetes_cluster.html.markdown
Labels: documentation, size/L

#7499 refactor: cleanup some property names
  azurerm/internal/services/sentinel/resource_arm_sentinel_alert_rule_ms_security_incident.go
  azurerm/internal/services/sentinel/tests/resource_arm_sentinel_alert_rule_ms_security_incident_test.go
  azurerm/internal/services/web/app_service_environment_resource.go
  azurerm/internal/services/web/tests/app_service_environment_resource_test.go
  website/docs/r/app_service_environment.html.markdown
  website/docs/r/blueprint_assignment.html.markdown
  website/docs/r/sentinel_alert_rule_ms_security_incident.html.markdown
Labels: documentation, refactor, service/app-service, service/sentinel, size/M

#7512 Update doc example for request_timeout of application gateway
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS

#7111 azurerm_hdinsight_*_cluster - fix broken updaten due to api not allowing cluster to be disabled
  azurerm/helpers/azure/hdinsight.go
  azurerm/internal/services/hdinsight/common_hdinsight.go
  azurerm/internal/services/hdinsight/tests/hdinsight_hadoop_cluster_resource_test.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_ml_services_cluster.html.markdown
  website/docs/r/hdinsight_rserver_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
  website/docs/r/hdinsight_storm_cluster.html.markdown
Labels: bug, documentation, service/hdinsight, size/L

#7277 `azurerm_shared_image` & `azurerm_shared_image_version` - support for specialized images by setting generalized to false
  azurerm/internal/services/compute/shared_image_data_source.go
  azurerm/internal/services/compute/shared_image_resource.go
  azurerm/internal/services/compute/shared_image_version_data_source.go
  azurerm/internal/services/compute/shared_image_version_resource.go
  azurerm/internal/services/compute/tests/shared_image_resource_test.go
  azurerm/internal/services/compute/tests/shared_image_version_resource_test.go
  website/docs/d/shared_image.html.markdown
  website/docs/d/shared_image_version.html.markdown
  website/docs/r/shared_image.html.markdown
  website/docs/r/shared_image_version.html.markdown
Labels: documentation, enhancement, service/images, size/XL

#7523 `data.azurerm_postgresql_server` - expose `sku_name`
  azurerm/internal/services/postgres/postgresql_server_data_source.go
  azurerm/internal/services/postgres/tests/postgresql_server_data_source_test.go
  website/docs/d/postgresql_server.html.markdown
Labels: documentation, size/XS

#7515 `azurerm_marketplace_agreement` - fix issue around import
  azurerm/internal/services/compute/marketplace_agreement_resource.go
  website/docs/r/marketplace_agreement.html.markdown
Labels: documentation, service/marketplace, size/XS

#7525 Update `azurerm_shared_image` - flip `generalized` to `specialized`
  azurerm/internal/services/compute/shared_image_data_source.go
  azurerm/internal/services/compute/shared_image_resource.go
  azurerm/internal/services/compute/tests/shared_image_resource_test.go
  website/docs/d/shared_image.html.markdown
  website/docs/r/shared_image.html.markdown
Labels: documentation, refactor, service/images, size/S
