Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2020-02, with the labels that each got.

#5587 make frontdoor test rgs consistent
  azurerm/internal/services/frontdoor/tests/resource_arm_front_door_firewall_policy_test.go
Labels: service/frontdoor, size/XS, tests

#5582 azurerm_marketplace_agreement: recreate agreement if !accepted
  azurerm/internal/services/compute/resource_arm_marketplace_agreement.go
  azurerm/internal/services/compute/tests/resource_arm_marketplace_agreement_test.go
Labels: bug, service/virtual-machine, size/S

#5581 docs: adding a placeholder beta guide
  website/docs/guides/2.0-beta.html.markdown
Labels: documentation, size/XS

#5579 Updated managed_disk resource for disk_size_gb updates
  azurerm/internal/services/compute/resource_arm_managed_disk.go
  azurerm/internal/services/compute/tests/resource_arm_managed_disk_test.go
  website/docs/r/managed_disk.html.markdown
Labels: documentation, service/disk-attachments, size/XL

#5562 r/(linux|windows)_virtual_machine_scale_set: using the features block to control roll instances
  GNUmakefile
  azurerm/internal/features/user_flags.go
  azurerm/internal/provider/features.go
  azurerm/internal/provider/features_test.go
  azurerm/internal/services/compute/resource_arm_linux_virtual_machine_scale_set.go
  azurerm/internal/services/compute/resource_arm_windows_virtual_machine_scale_set.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_auth_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_disk_data_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_disk_os_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_identity_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_images_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_network_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_other_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_scaling_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_auth_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_disk_data_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_disk_os_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_identity_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_images_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_network_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_other_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_scaling_test.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, refactor, service/vmss, size/XL

#5550 New Resources: `azurerm_linux_virtual_machine` & `azurerm_windows_virtual_machine`
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/resource_arm_windows_virtual_machine_scale_set.go
  azurerm/internal/services/compute/shared_schema.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_auth_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_identity_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_images_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_network_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_scaling_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_other_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_auth_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_identity_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_images_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_network_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_scaling_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_test.go
  azurerm/internal/services/compute/validation.go
  azurerm/internal/services/compute/virtual_machine.go
  azurerm/internal/services/compute/virtual_machine_import.go
  azurerm/internal/services/compute/virtual_machine_instance.go
  azurerm/internal/services/compute/virtual_machine_instance_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/virtual_machine_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
  azurerm/internal/tags/schema.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, new-resource, service/virtual-machine, size/XXL

#5586 azurerm_recovery_services_vault - support for the `soft_delete_enabled` property
  azurerm/internal/services/recoveryservices/client/client.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_vault.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_backup_container_storage_account_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_backup_policy_file_share_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_backup_policy_vm_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_backup_protected_file_share_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_backup_protected_vm_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_fabric_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_network_mapping_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_protected_vm_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_protection_container_mapping_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_protection_container_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_protection_policy_vm_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_replicated_vm_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_replication_policy_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_vault_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_site_recovery_fabric_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_site_recovery_network_mapping_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_site_recovery_protection_container_mapping_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_site_recovery_protection_container_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_site_recovery_replicated_vm_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_site_recovery_replication_policy_test.go
  website/docs/r/recovery_services_vault.markdown
Labels: documentation, enhancement, service/recovery-services, size/L

#5596 Beta Documentation
  .github/ISSUE_TEMPLATE/Beta_Feedback.md
  README.md
  azurerm/internal/services/compute/resource_arm_virtual_machine.go
  website/azurerm.erb
  website/docs/guides/2.0-beta.html.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/guides/azure_cli.html.markdown
  website/docs/guides/migrating-to-azuread.html.markdown
  website/docs/guides/service_principal_client_certificate.html.markdown
  website/docs/guides/service_principal_client_secret.html.markdown
  website/docs/index.html.markdown
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, preview, size/XL

#5597 r/(linux|windows)_virtual_machine_scale_set: ultra ssd's now need to …
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_disk_data_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_disk_data_test.go
Labels: bug, service/vmss, size/XS

#5598 r/(linux|windows)_virtual_machine_scale_set: import validation
  azurerm/internal/services/compute/resource_arm_linux_virtual_machine_scale_set.go
  azurerm/internal/services/compute/resource_arm_windows_virtual_machine_scale_set.go
  azurerm/internal/services/compute/virtual_machine_scale_set_import.go
Labels: enhancement, service/vmss, size/M

#5603 provider tests: enable more tfproviderlint checks
  GNUmakefile
  azurerm/helpers/azure/app_service.go
  azurerm/internal/services/batch/data_source_batch_account.go
  azurerm/internal/services/compute/data_source_image.go
  azurerm/internal/services/containers/data_source_container_registry.go
  azurerm/internal/services/containers/resource_arm_kubernetes_cluster.go
  azurerm/internal/services/devtestlabs/data_source_dev_test_virtual_network.go
  azurerm/internal/services/healthcare/data_source_healthcare_service.go
  azurerm/internal/services/keyvault/data_source_key_vault.go
  azurerm/internal/services/keyvault/data_source_key_vault_key.go
  azurerm/internal/services/keyvault/data_source_key_vault_secret.go
  azurerm/internal/services/monitor/data_source_monitor_log_profile.go
  azurerm/internal/services/mssql/resource_arm_mssql_elasticpool.go
  azurerm/internal/services/network/data_source_firewall.go
  azurerm/internal/services/network/data_source_loadbalancer.go
  azurerm/internal/services/network/data_source_private_endpoint_connection.go
  azurerm/internal/services/network/data_source_private_link_endpoint_connection.go
  azurerm/internal/services/network/data_source_private_link_service.go
  azurerm/internal/services/recoveryservices/data_source_recovery_services_protection_policy_vm.go
  azurerm/internal/services/recoveryservices/data_source_recovery_services_vault.go
  azurerm/internal/services/storage/data_source_storage_account.go
  azurerm/internal/services/storage/data_source_storage_account_sas.go
  azurerm/internal/services/storage/data_source_storage_management_policy.go
  azurerm/internal/services/streamanalytics/data_source_stream_analytics_job.go
  azurerm/internal/services/web/data_source_app_service.go
  azurerm/internal/services/web/data_source_app_service_certificate_order.go
  azurerm/internal/services/web/resource_arm_app_service.go
  azurerm/internal/services/web/resource_arm_app_service_slot.go
  azurerm/internal/services/web/resource_arm_function_app.go
Labels: provider, size/M, tests

#5406 Update kubernetes_cluster documentation
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS, waiting-response

#5610 ssh key simple validation and error messaging
  azurerm/internal/services/compute/ssh_keys.go
  azurerm/internal/services/compute/validation_test.go
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, enhancement, service/virtual-machine, size/M

#5620 cognitive - add ID parsing function
  azurerm/internal/services/cognitive/parse/cognitive_account.go
  azurerm/internal/services/cognitive/parse/cognitive_account_test.go
  azurerm/internal/services/cognitive/resource_arm_cognitive_account.go
  azurerm/internal/services/cognitive/tests/resource_arm_cognitive_account_test.go
Labels: enhancement, service/cognitive-services, size/L

#5621 databricks - add ID parsing function
  azurerm/internal/services/databricks/parse/databricks_workspace.go
  azurerm/internal/services/databricks/parse/databricks_workspace_test.go
  azurerm/internal/services/databricks/resource_arm_databricks_workspace.go
  azurerm/internal/services/databricks/tests/resource_arm_databricks_workspace_test.go
Labels: enhancement, service/databricks, size/L

#5635 Correct example, and clarify what is output
  website/docs/d/key_vault_access_policy.html.markdown
Labels: documentation, service/keyvault, size/XS

#5634 media - add parse ID and function
  azurerm/internal/services/media/parse/media_services_account.go
  azurerm/internal/services/media/parse/media_services_account_test.go
  azurerm/internal/services/media/resource_arm_media_services_account.go
  azurerm/internal/services/media/tests/resource_arm_media_services_account_test.go
Labels: enhancement, services/media, size/L

#5631 maps: add parse ID and function
  azurerm/internal/services/maps/parse/maps_account.go
  azurerm/internal/services/maps/parse/maps_account_test.go
  azurerm/internal/services/maps/resource_arm_maps_account.go
  azurerm/internal/services/maps/tests/resource_arm_maps_account_test.go
Labels: enhancement, service/maps, size/L

#5626 healthcare - add ID parsing function
  azurerm/internal/services/healthcare/parse/healthcare_service.go
  azurerm/internal/services/healthcare/parse/healthcare_service_test.go
  azurerm/internal/services/healthcare/resource_arm_healthcare_service.go
  azurerm/internal/services/healthcare/tests/resource_arm_healthcare_service_test.go
Labels: enhancement, service/healthcare, size/L

#5625 devspace - add ID parsing function
  azurerm/internal/services/devspace/parse/devspace_controller.go
  azurerm/internal/services/devspace/parse/devspace_controller_test.go
  azurerm/internal/services/devspace/resource_arm_devspace_controller.go
  azurerm/internal/services/devspace/tests/resource_arm_devspace_controller_test.go
Labels: enhancement, service/devspace, size/L

#5565 azurerm_storage_account - fix hanging destroy caused by multiple network rules
  azurerm/helpers/common/arrays.go
  azurerm/helpers/common/arrays_test.go
  azurerm/internal/locks/lock.go
Labels: bug, service/storage, size/M

#5642 New Data Source: 'azurerm_function_app'
  azurerm/internal/services/web/data_source_function_app.go
  azurerm/internal/services/web/registration.go
  azurerm/internal/services/web/tests/data_source_function_app_test.go
  website/azurerm.erb
  website/docs/d/function_app.html.markdown
Labels: documentation, size/XL

#5644 azurerm_sql_database: Correction to service objective docs
  website/docs/r/sql_database.html.markdown
Labels: documentation, service/mssql, size/XS

#5619 `azurerm_key_vault_key` - support for `not_before_date` and `expiration_date`
  azurerm/internal/services/keyvault/resource_arm_key_vault_key.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_key_test.go
  website/docs/r/key_vault_key.html.markdown
Labels: documentation, size/M

#5648 servicefabric - add parse ID and function
  azurerm/internal/services/servicefabric/parse/service_fabric_cluster.go
  azurerm/internal/services/servicefabric/parse/service_fabric_cluster_test.go
  azurerm/internal/services/servicefabric/resource_arm_service_fabric_cluster.go
  azurerm/internal/services/servicefabric/tests/resource_arm_service_fabric_cluster_test.go
Labels: enhancement, service/service-fabric, size/L

#5647 Doc Fix: `azurerm_sql_database` spelling issues
  website/docs/r/sql_database.html.markdown
Labels: documentation, service/mssql, size/XS

#5618 cdn - add ID parsing function
  azurerm/internal/services/cdn/parse/cdn_endpoint.go
  azurerm/internal/services/cdn/parse/cdn_endpoint_test.go
  azurerm/internal/services/cdn/parse/cdn_profile.go
  azurerm/internal/services/cdn/parse/cdn_profile_test.go
  azurerm/internal/services/cdn/resource_arm_cdn_endpoint.go
  azurerm/internal/services/cdn/resource_arm_cdn_profile.go
  azurerm/internal/services/cdn/tests/resource_arm_cdn_endpoint_test.go
  azurerm/internal/services/cdn/tests/resource_arm_cdn_profile_test.go
Labels: enhancement, service/cdn, size/XL

#5614 r/storage: authenticating to the Blob/Queues API's using AzureAD Auth
  azurerm/internal/clients/builder.go
  azurerm/internal/common/client_options.go
  azurerm/internal/provider/provider.go
  azurerm/internal/services/storage/client/client.go
  azurerm/internal/services/storage/tests/resource_arm_storage_blob_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_container_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_queue_test.go
  website/docs/index.html.markdown
Labels: documentation, enhancement, service/storage, size/L

#5640 fix linux vm shared image acctests. added support for shared_image_id variants
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/parse/shared_image.go
  azurerm/internal/services/compute/parse/shared_image_test.go
  azurerm/internal/services/compute/parse/shared_image_version.go
  azurerm/internal/services/compute/parse/shared_image_version_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_images_test.go
  azurerm/internal/services/compute/validate/shared_image.go
  azurerm/internal/services/compute/validate/shared_image_version.go
Labels: preview, service/virtual-machine, size/XL

#5593 `azurerm_api_management` - Add http2 protocol support for API Management
  azurerm/internal/services/apimanagement/resource_arm_api_management.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_test.go
  website/docs/r/api_management.html.markdown
Labels: documentation, enhancement, service/api-management, size/S

#5652 `azurerm_databricks_workspace`: Support for Trial SKU
  azurerm/internal/services/databricks/resource_arm_databricks_workspace.go
Labels: enhancement, service/databricks, size/XS, waiting-response

#5666 Update docs to include TRIAL as SKU
  website/docs/r/databricks_workspace.html.markdown
Labels: documentation, size/XS

#5604 `azurerm_cognitive_account` - Add support for ImmersiveReader
  azurerm/internal/services/cognitive/resource_arm_cognitive_account.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, size/XS

#5669 Add/rename sidebar links
  azurerm/internal/services/frontdoor/resource_arm_frontdoor.go
  azurerm/internal/services/frontdoor/resource_arm_frontdoor_firewall_policy.go
  azurerm/internal/services/network/data_source_lb.go
  azurerm/internal/services/network/data_source_lb_backend_address_pool.go
  azurerm/internal/services/network/resource_arm_lb.go
  azurerm/internal/services/network/resource_arm_lb_backend_address_pool.go
  azurerm/internal/services/network/resource_arm_lb_nat_pool.go
  azurerm/internal/services/network/resource_arm_lb_nat_rule.go
  azurerm/internal/services/network/resource_arm_lb_outbound_rule.go
  azurerm/internal/services/network/resource_arm_lb_probe.go
  azurerm/internal/services/network/resource_arm_lb_rule.go
  azurerm/internal/services/web/resource_arm_app_service_virtual_network_swift_connection.go
  website/azurerm.erb
  website/docs/d/lb.html.markdown
  website/docs/d/lb_backend_address_pool.html.markdown
  website/docs/r/app_service_virtual_network_swift_connection.html.markdown
  website/docs/r/frontdoor.html.markdown
  website/docs/r/frontdoor_firewall_policy.html.markdown
  website/docs/r/lb.html.markdown
  website/docs/r/lb_backend_address_pool.html.markdown
  website/docs/r/lb_nat_pool.html.markdown
  website/docs/r/lb_nat_rule.html.markdown
  website/docs/r/lb_outbound_rule.html.markdown
  website/docs/r/lb_probe.html.markdown
  website/docs/r/lb_rule.html.markdown
Labels: documentation, size/M

#5671 batch - add parse ID and function
  azurerm/internal/services/batch/parse/batch_account.go
  azurerm/internal/services/batch/parse/batch_account_test.go
  azurerm/internal/services/batch/parse/batch_application.go
  azurerm/internal/services/batch/parse/batch_application_test.go
  azurerm/internal/services/batch/parse/batch_certificate.go
  azurerm/internal/services/batch/parse/batch_certificate_test.go
  azurerm/internal/services/batch/parse/batch_pool.go
  azurerm/internal/services/batch/parse/batch_pool_test.go
  azurerm/internal/services/batch/resource_arm_batch_account.go
  azurerm/internal/services/batch/resource_arm_batch_application.go
  azurerm/internal/services/batch/resource_arm_batch_certificate.go
  azurerm/internal/services/batch/resource_arm_batch_pool.go
  azurerm/internal/services/batch/tests/resource_arm_batch_account_test.go
  azurerm/internal/services/batch/tests/resource_arm_batch_application_test.go
  azurerm/internal/services/batch/tests/resource_arm_batch_certificate_test.go
  azurerm/internal/services/batch/tests/resource_arm_batch_pool_test.go
Labels: enhancement, service/batch, size/XL

#5664 search - add parse ID and function
  azurerm/internal/services/search/parse/search_service.go
  azurerm/internal/services/search/parse/search_service_test.go
  azurerm/internal/services/search/resource_arm_search_service.go
  azurerm/internal/services/search/tests/resource_arm_search_service_test.go
Labels: enhancement, service/search, size/L

#5667 signalr - add parse ID and function
  azurerm/internal/services/signalr/parse/signalr_service.go
  azurerm/internal/services/signalr/parse/signalr_service_test.go
  azurerm/internal/services/signalr/resource_arm_signalr_service.go
  azurerm/internal/services/signalr/tests/resource_arm_signalr_service_test.go
Labels: enhancement, service/signalr, size/L

#5522 Fix import of stream analytics jobs that have been created via Azure Portal
  azurerm/internal/services/streamanalytics/resource_arm_stream_analytics_job.go
Labels: service/stream-analytics, size/S

#5430 Update r/(linux|windows)_virtual_machine_scale_set - Add `health_probe_id` back to `Update`
  azurerm/internal/services/compute/client/client.go
  azurerm/internal/services/compute/resource_arm_linux_virtual_machine_scale_set.go
  azurerm/internal/services/compute/resource_arm_windows_virtual_machine_scale_set.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_images_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_images_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set_update.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, enhancement, service/vmss, size/XL

#5440 azurerm_function_app - support for ip_restriction
  azurerm/internal/services/web/resource_arm_function_app.go
  azurerm/internal/services/web/tests/resource_arm_function_app_test.go
  website/docs/r/function_app.html.markdown
Labels: documentation, enhancement, service/functions, size/XL

#5678 r/virtual_machine_scale_set: adding a notice about the superseding
  azurerm/internal/services/compute/resource_arm_virtual_machine_scale_set.go
Labels: documentation, service/vmss, size/XS

#5676 r/function_app: support for User Assigned Identities
  azurerm/helpers/azure/app_service.go
  azurerm/internal/services/web/resource_arm_function_app.go
  azurerm/internal/services/web/tests/resource_arm_function_app_test.go
  website/docs/r/function_app.html.markdown
Labels: documentation, enhancement, service/functions, size/L

#5680 r/loadbalancer: fixing a crash during a dropped response
  azurerm/internal/services/network/loadbalancer.go
Labels: bug, crash, service/load-balancers, size/XS

#5636 `r/azurerm_disk_encryption_set`: add ID parsing function
  azurerm/internal/services/compute/parse/disk_encryption_set.go
  azurerm/internal/services/compute/parse/disk_encryption_set_test.go
  azurerm/internal/services/compute/resource_arm_disk_encryption_set.go
  azurerm/internal/services/compute/tests/resource_arm_disk_encryption_set_test.go
  azurerm/internal/services/compute/validate/disk_encryption_set.go
  azurerm/internal/services/compute/virtual_machine.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
Labels: enhancement, service/disks, size/L

#5679 Add form recognizer as a Cognitive account kind
  azurerm/internal/services/cognitive/resource_arm_cognitive_account.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, enhancement, service/cognitive-services, size/XS

#5518 New Data Source: 'azurerm_eventhub_consumer_group'
  azurerm/internal/services/eventhub/data_source_eventhub_consumer_group.go
  azurerm/internal/services/eventhub/registration.go
  azurerm/internal/services/eventhub/resource_arm_eventhub_consumer_group.go
  azurerm/internal/services/eventhub/tests/data_source_eventhub_consumer_group_test.go
  website/azurerm.erb
  website/docs/d/eventhub_consumer_group.html.markdown
Labels: documentation, new-data-source, service/event-hubs, size/L

#5516 New Data Source: 'azurerm_iothub_dps_shared_access_policy'
  azurerm/internal/services/iothub/data_source_iothub_dps_shared_access_policy.go
  azurerm/internal/services/iothub/registration.go
  azurerm/internal/services/iothub/resource_arm_iothub_dps_shared_access_policy.go
  azurerm/internal/services/iothub/tests/data_source_iothub_dps_shared_access_policy_test.go
  website/azurerm.erb
  website/docs/d/iothub_dps_shared_access_policy.html.markdown
Labels: documentation, new-data-source, service/iothub, size/L

#5687 r/app_service: documenting at which level the `backup` block exists
  website/docs/r/app_service.html.markdown
Labels: documentation, service/app-service, size/XS

#5695 Fix example usage for r/azurerm_(linux|windows)_virtual_machine
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#5683 docs: updating the "how to migrate between deprecated resorces" guide
  website/docs/guides/migrating-between-renamed-resources.html.markdown
Labels: documentation, size/M

#5705 2.0: Enabling Custom Timeouts, New VM/VMSS Resources & Requires Imports by default
  azurerm/internal/clients/builder.go
  azurerm/internal/common/client_options.go
  azurerm/internal/features/custom_timeouts.go
  azurerm/internal/features/custom_timeouts_test.go
  azurerm/internal/features/deprecated.go
  azurerm/internal/features/requires_import.go
  azurerm/internal/features/requires_import_test.go
  azurerm/internal/features/two_point_oh.go
  azurerm/internal/features/two_point_oh_test.go
  azurerm/internal/provider/provider.go
  azurerm/internal/services/automation/resource_arm_automation_module.go
  azurerm/internal/services/compute/resource_arm_dedicated_host.go
  azurerm/internal/services/containers/resource_arm_container_group.go
  azurerm/internal/services/containers/resource_arm_container_service.go
  azurerm/internal/services/cosmos/resource_arm_cosmosdb_account.go
  azurerm/internal/services/eventhub/resource_arm_eventhub_namespace.go
  azurerm/internal/services/eventhub/resource_arm_eventhub_namespace_disaster_recovery_config.go
  azurerm/internal/services/hdinsight/common_hdinsight.go
  azurerm/internal/services/hdinsight/resource_arm_hdinsight_hadoop_cluster.go
  azurerm/internal/services/iothub/resource_arm_iot_dps.go
  azurerm/internal/services/iothub/resource_arm_iothub.go
  azurerm/internal/services/iothub/resource_arm_iothub_dps.go
  azurerm/internal/services/keyvault/resource_arm_key_vault.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_certificate.go
  azurerm/internal/services/mariadb/resource_arm_mariadb_virtual_network_rule.go
  azurerm/internal/services/monitor/resource_arm_monitor_diagnostic_setting.go
  azurerm/internal/services/monitor/resource_arm_monitor_log_profile.go
  azurerm/internal/services/mysql/resource_arm_mysql_virtual_network_rule.go
  azurerm/internal/services/netapp/resource_arm_netapp_pool.go
  azurerm/internal/services/netapp/resource_arm_netapp_volume.go
  azurerm/internal/services/network/resource_arm_private_link_service.go
  azurerm/internal/services/network/resource_arm_vpn_gateway.go
  azurerm/internal/services/notificationhub/resource_arm_notification_hub.go
  azurerm/internal/services/notificationhub/resource_arm_notification_hub_namespace.go
  azurerm/internal/services/policy/resource_arm_policy_assignment.go
  azurerm/internal/services/policy/resource_arm_policy_definition.go
  azurerm/internal/services/policy/resource_arm_policy_set_definition.go
  azurerm/internal/services/postgres/resource_arm_postgresql_virtual_network_rule.go
  azurerm/internal/services/privatedns/resource_arm_private_dns_zone_virtual_network_link.go
  azurerm/internal/services/recoveryservices/resource_arm_backup_container_storage_account.go
  azurerm/internal/services/recoveryservices/resource_arm_backup_policy_file_share.go
  azurerm/internal/services/recoveryservices/resource_arm_backup_policy_vm.go
  azurerm/internal/services/recoveryservices/resource_arm_backup_protected_file_share.go
  azurerm/internal/services/recoveryservices/resource_arm_backup_protected_vm.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_protected_vm.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_protection_policy_vm.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_vault.go
  azurerm/internal/services/redis/resource_arm_redis_cache.go
  azurerm/internal/services/relay/resource_arm_relay_hybrid_connection.go
  azurerm/internal/services/relay/resource_arm_relay_namespace.go
  azurerm/internal/services/resource/resource_arm_template_deployment.go
  azurerm/internal/services/securitycenter/resource_arm_security_center_workspace.go
  azurerm/internal/services/sql/resource_arm_sql_database.go
  azurerm/internal/services/sql/resource_arm_sql_virtual_network_rule.go
  azurerm/internal/services/storage/resource_arm_storage_share_directory.go
  azurerm/internal/timeouts/determine.go
Labels: enhancement, size/XL

#5709 2.0: Removing `azurerm_container_service`
  azurerm/internal/services/containers/client/client.go
  azurerm/internal/services/containers/registration.go
  azurerm/internal/services/containers/resource_arm_container_service.go
  azurerm/internal/services/containers/tests/resource_arm_container_service_test.go
  website/azurerm.erb
  website/docs/r/container_service.html.markdown
Labels: deprecation, documentation, service/container-service, size/XXL

#5717 2.0: removing deprecated properties from `web`
  azurerm/internal/services/web/data_source_app_service_plan.go
  azurerm/internal/services/web/resource_arm_app_service_plan.go
  azurerm/internal/services/web/tests/data_source_app_service_plan_test.go
  azurerm/internal/services/web/tests/resource_arm_app_service_plan_test.go
  website/docs/d/app_service_plan.html.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: breaking-change, documentation, service/app-service, size/L

#5712 2.0: removing `scheduler`
  azurerm/internal/clients/client.go
  azurerm/internal/provider/required_resource_providers.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/devtestlabs/resource_arm_dev_test_lab_schedule.go
  azurerm/internal/services/scheduler/client/client.go
  azurerm/internal/services/scheduler/data_source_scheduler_job_collection.go
  azurerm/internal/services/scheduler/registration.go
  azurerm/internal/services/scheduler/resource_arm_scheduler_job.go
  azurerm/internal/services/scheduler/resource_arm_scheduler_job_collection.go
  azurerm/internal/services/scheduler/tests/data_source_scheduler_job_collection_test.go
  azurerm/internal/services/scheduler/tests/resource_arm_scheduler_job_collection_test.go
  azurerm/internal/services/scheduler/tests/resource_arm_scheduler_job_test.go
  azurerm/internal/services/scheduler/tests/testdata/application_gateway_test.pfx
  vendor/github.com/Azure/azure-sdk-for-go/services/scheduler/mgmt/2016-03-01/scheduler/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/scheduler/mgmt/2016-03-01/scheduler/jobcollections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/scheduler/mgmt/2016-03-01/scheduler/jobs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/scheduler/mgmt/2016-03-01/scheduler/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/scheduler/mgmt/2016-03-01/scheduler/version.go
  vendor/modules.txt
  website/azurerm.erb
  website/docs/d/scheduler_job_collection.html.markdown
  website/docs/r/scheduler_job.html.markdown
  website/docs/r/scheduler_job_collection.html.markdown
Labels: dependencies, deprecation, documentation, service/scheduler, size/XXL

#5661 Updated Windows image sysprep for image acctests
  azurerm/internal/services/compute/tests/resource_arm_image_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_images_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
Labels: service/virtual-machine, size/M, tests

#5724 r/availability_set: flipping the default value for `managed` to `true`
  azurerm/internal/services/compute/resource_arm_availability_set.go
  azurerm/internal/services/compute/tests/resource_arm_availability_set_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/availability_set.html.markdown
Labels: breaking-change, documentation, service/availability, size/S

#5718 Prepare servicebus for 2.0
  azurerm/internal/services/servicebus/resource_arm_servicebus_queue.go
  azurerm/internal/services/servicebus/resource_arm_servicebus_subscription.go
  azurerm/internal/services/servicebus/resource_arm_servicebus_topic.go
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_subscription.html.markdown
  website/docs/r/servicebus_topic.html.markdown
Labels: documentation, service/servicebus, size/S

#5662 Add an option to filter out preview aks releases when fetching versions
  azurerm/internal/services/containers/data_source_kubernetes_service_version.go
  azurerm/internal/services/containers/tests/data_source_kubernetes_service_version_test.go
  website/docs/d/kubernetes_service_versions.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/S

#5711 provider: making the `features` block required
  azurerm/internal/provider/features.go
  website/docs/index.html.markdown
Labels: documentation, enhancement, size/S

#5728 testing: conditionally making the features block optional during testing
  azurerm/internal/provider/features.go
Labels: regression, size/M, tests

#5719 moving relay to 2.0
  azurerm/internal/services/relay/resource_arm_relay_hybrid_connection.go
  azurerm/internal/services/relay/resource_arm_relay_namespace.go
  azurerm/internal/services/relay/tests/resource_arm_relay_hybrid_connection_test.go
  azurerm/internal/services/relay/tests/resource_arm_relay_namespace_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/relay_namespace.html.markdown
Labels: documentation, service/relay, size/L

#5722 notificationhub to 2.0
  azurerm/internal/services/notificationhub/resource_arm_notification_hub_namespace.go
  azurerm/internal/services/notificationhub/tests/resource_arm_notification_hub_authorization_rule_test.go
  azurerm/internal/services/notificationhub/tests/resource_arm_notification_hub_namespace_test.go
  azurerm/internal/services/notificationhub/tests/resource_arm_notification_hub_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/notification_hub_authorization_rule.html.markdown
  website/docs/r/notification_hub_namespace.html.markdown
Labels: documentation, service/notifications, size/L

#5735 Update main.tf
  examples/kubernetes/advanced-networking/main.tf
Labels: documentation, service/kubernetes-cluster, size/XS

#5739 Correct typo
  website/docs/r/servicebus_namespace.html.markdown
Labels: documentation, size/XS

#5737 `r/signalr_service`: updates ID to correct case
  azurerm/internal/services/signalr/parse/signalr_service.go
  azurerm/internal/services/signalr/parse/signalr_service_test.go
Labels: bug, service/signalr, size/XS

#5425 'azurerm_storage_account' - Support for 'blob_properties' 'cors_rule'
  azurerm/helpers/azure/storage_account.go
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/XL

#5733 Removed legacy check and updated test
  azurerm/internal/services/authorization/data_source_role_definition.go
  azurerm/internal/services/authorization/tests/data_source_client_config_test.go
  azurerm/internal/services/authorization/tests/data_source_role_definition_test.go
  azurerm/internal/services/authorization/tests/resource_arm_role_assignment_test.go
Labels: service/roles, size/XS, tests

#5748 Graph: removing the AzureAD resources
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/authorization/client/client.go
  azurerm/internal/services/authorization/data_source_client_config.go
  azurerm/internal/services/batch/tests/data_source_batch_account_test.go
  azurerm/internal/services/graph/client/client.go
  azurerm/internal/services/graph/data_source_azuread_application.go
  azurerm/internal/services/graph/data_source_azuread_service_principal.go
  azurerm/internal/services/graph/registration.go
  azurerm/internal/services/graph/resource_arm_azuread_application.go
  azurerm/internal/services/graph/resource_arm_azuread_service_principal.go
  azurerm/internal/services/graph/resource_arm_azuread_service_principal_password.go
  azurerm/internal/services/graph/tests/data_source_azuread_application_test.go
  azurerm/internal/services/graph/tests/data_source_azuread_service_principal_test.go
  azurerm/internal/services/graph/tests/resource_arm_azuread_application_test.go
  azurerm/internal/services/graph/tests/resource_arm_azuread_service_principal_password_test.go
  azurerm/internal/services/graph/tests/resource_arm_azuread_service_principal_test.go
  website/azurerm.erb
  website/docs/d/azuread_application.html.markdown
  website/docs/d/azuread_service_principal.html.markdown
  website/docs/r/azuread_application.html.markdown
  website/docs/r/azuread_service_principal.html.markdown
  website/docs/r/azuread_service_principal_password.html.markdown
Labels: breaking-change, deprecation, documentation, service/authentication, size/XXL

#5752 r/application_gateway: updating the default value for the `body` field within the `match` block
  azurerm/internal/services/network/resource_arm_application_gateway.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/application_gateway.html.markdown
Labels: breaking-change, documentation, enhancement, service/application-gateway, size/XS

#5747 r/kubernetes_cluster: updating the default for load_balancer_sku to `Standard`
  azurerm/internal/services/containers/resource_arm_kubernetes_cluster.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: breaking-change, documentation, enhancement, service/kubernetes-cluster, size/XS

#5754 r/log_analytics_workspace_linked_service: removing the deprecated resource
  azurerm/internal/services/loganalytics/registration.go
  azurerm/internal/services/loganalytics/resource_arm_log_analytics_workspace_linked_service.go
  azurerm/internal/services/loganalytics/tests/resource_arm_log_analytics_workspace_linked_service_test.go
  website/azurerm.erb
  website/docs/r/log_analytics_workspace_linked_service.html.markdown
Labels: breaking-change, deprecation, documentation, service/log-analytics, size/XL

#5768 `r/compute` - adds support for additional `dedicated_host` SKUs
  azurerm/internal/services/compute/resource_arm_dedicated_host.go
  website/docs/r/dedicated_host.html.markdown
Labels: documentation, enhancement, service/dedicated-hosts, size/XS

#5744 update mssql to 2.0
  azurerm/internal/services/mssql/resource_arm_mssql_elasticpool.go
  azurerm/internal/services/mssql/tests/resource_arm_mssql_elasticpool_test.go
Labels: service/mssql, size/M

#5756 F/upgrade doc formatting
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#5716 Documentation changed based on observed terraform and Azure API behavior
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#5721 postgres service to 2.0
  azurerm/internal/services/postgres/resource_arm_postgresql_server.go
  azurerm/internal/services/postgres/tests/resource_arm_postgresql_server_test.go
Labels: deprecation, service/postgresql, size/L

#5776 upgrade maps to 2.0
  azurerm/internal/services/maps/resource_arm_maps_account.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: documentation, service/maps, size/XS

#5649 `azurerm_storage_account` - add support for static website
  azurerm/internal/services/storage/client/client.go
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/accounts/README.md
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/accounts/client.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/accounts/get_service_properties.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/accounts/models.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/accounts/set_service_properties.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2018-11-09/blob/accounts/version.go
  vendor/modules.txt
  website/docs/r/storage_account.html.markdown
Labels: dependencies, documentation, enhancement, service/storage, size/XL

#5753 iothub: removing the deprecated `azurerm_iot_dps` and `azurerm_iot_dps_certificate` resources
  azurerm/internal/services/iothub/registration.go
  azurerm/internal/services/iothub/resource_arm_iot_dps.go
  azurerm/internal/services/iothub/resource_arm_iot_dps_certificate.go
  azurerm/internal/services/iothub/tests/resource_arm_iot_dps_certificate_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iot_dps_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_dps_test.go
Labels: deprecation, service/iothub, size/XXL

#5764 r/(linux|windows)_virtual_machine: using the Delete timeout during Deletion
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
Labels: bug, service/virtual-machine, size/XS

#5710 Preparing the the storage package for 2.0
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/resource_arm_storage_account_network_rules.go
  azurerm/internal/services/storage/resource_arm_storage_blob.go
  azurerm/internal/services/storage/resource_arm_storage_container.go
  azurerm/internal/services/storage/resource_arm_storage_queue.go
  azurerm/internal/services/storage/resource_arm_storage_share.go
  azurerm/internal/services/storage/resource_arm_storage_table.go
  azurerm/internal/services/storage/tests/data_source_storage_account_blob_container_sas_test.go
  azurerm/internal/services/storage/tests/data_source_storage_container_test.go
  azurerm/internal/services/storage/tests/data_source_storage_management_policy_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_blob_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_container_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_data_lake_gen2_filesystem_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_share_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_table_entity_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_table_test.go
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_blob.html.markdown
  website/docs/r/storage_container.html.markdown
  website/docs/r/storage_queue.html.markdown
  website/docs/r/storage_share.html.markdown
  website/docs/r/storage_table.html.markdown
Labels: documentation, service/storage, size/XL

#5777 2.0 mariadb
  azurerm/internal/services/mariadb/resource_arm_mariadb_server.go
Labels: service/mariadb, size/M

#5624 Add name validation for azurerm_role_assignment
  azurerm/internal/services/authorization/resource_arm_role_assignment.go
Labels: service/roles, size/XS

#5693 Update IP Prefix validation
  azurerm/internal/services/network/resource_arm_public_ip_prefix.go
Labels: bug, service/public-ip, size/XS

#5670 Corrected Prefix Length
  website/docs/r/public_ip_prefix.html.markdown
Labels: documentation, service/public-ip, size/XS

#5788 Very minor consistency edits
  website/docs/r/public_ip_prefix.html.markdown
Labels: documentation, service/public-ip, size/XS

#5774 Upgrade keyvault to 2.0
  azurerm/internal/services/keyvault/data_source_key_vault.go
  azurerm/internal/services/keyvault/data_source_key_vault_key.go
  azurerm/internal/services/keyvault/data_source_key_vault_secret.go
  azurerm/internal/services/keyvault/resource_arm_key_vault.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_access_policy.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_certificate.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_key.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_secret.go
  azurerm/internal/services/keyvault/tests/data_source_key_vault_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_access_policy_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_certificate_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_key_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_secret_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_test.go
  website/docs/d/key_vault.html.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/key_vault.html.markdown
  website/docs/r/key_vault_access_policy.html.markdown
Labels: deprecation, documentation, service/keyvault, size/XL

#5797 2.0-cognitive
  azurerm/internal/services/cognitive/resource_arm_cognitive_account.go
  azurerm/internal/services/cognitive/tests/resource_arm_cognitive_account_test.go
Labels: deprecation, service/cognitive-services, size/M

#5791 ACR docs update
  website/docs/r/container_registry.html.markdown
Labels: documentation, service/container-registry, size/XS

#5784 r/network_interface - switching over to the `association` resources / introducing `azurerm_network_interface_security_group_association`
  azurerm/helpers/azure/contains.go
  azurerm/internal/azuresdkhacks/network_interface.go
  azurerm/internal/azuresdkhacks/notes.go
  azurerm/internal/services/keyvault/resource_arm_key_vault.go
  azurerm/internal/services/network/data_source_network_interface.go
  azurerm/internal/services/network/network_interface.go
  azurerm/internal/services/network/network_interface_locking.go
  azurerm/internal/services/network/network_interface_network_security_group_association_resource.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/resource_arm_ddos_protection_plan.go
  azurerm/internal/services/network/resource_arm_firewall.go
  azurerm/internal/services/network/resource_arm_network_ddos_protection_plan.go
  azurerm/internal/services/network/resource_arm_network_interface.go
  azurerm/internal/services/network/resource_arm_network_profile.go
  azurerm/internal/services/network/resource_arm_virtual_network.go
  azurerm/internal/services/network/tests/data_source_network_interface_test.go
  azurerm/internal/services/network/tests/network_interface_network_security_group_association_resource_test.go
  azurerm/internal/services/network/tests/resource_arm_network_interface_application_gateway_association_test.go
  azurerm/internal/services/network/tests/resource_arm_network_interface_application_security_group_association_test.go
  azurerm/internal/services/network/tests/resource_arm_network_interface_backend_address_pool_association_test.go
  azurerm/internal/services/network/tests/resource_arm_network_interface_nat_rule_association_test.go
  azurerm/internal/services/network/tests/resource_arm_network_interface_test.go
  website/azurerm.erb
  website/docs/r/network_interface.html.markdown
  website/docs/r/network_interface_security_group_association.html.markdown
Labels: breaking-change, documentation, enhancement, service/network-interfaces, size/XXL

#5745 Update subnets options and add details for endpoint
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, service/private-link, size/XS

#5795 2.0-devspace
  azurerm/internal/services/devspace/resource_arm_devspace_controller.go
  azurerm/internal/services/devspace/tests/resource_arm_devspace_controller_test.go
Labels: service/devspace, size/L

#5793 eventhub -> 2.0
  azurerm/internal/services/eventhub/resource_arm_eventhub.go
  azurerm/internal/services/eventhub/resource_arm_eventhub_authorization_rule.go
  azurerm/internal/services/eventhub/resource_arm_eventhub_consumer_group.go
  azurerm/internal/services/eventhub/resource_arm_eventhub_namespace.go
  azurerm/internal/services/eventhub/resource_arm_eventhub_namespace_authorization_rule.go
  azurerm/internal/services/eventhub/tests/resource_arm_eventhub_test.go
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, service/event-hubs, size/XS

#5523 New Resource: `azurerm_express_route_gateway`
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/resource_arm_express_route_gateway.go
  azurerm/internal/services/network/tests/resource_arm_express_route_gateway_test.go
  website/azurerm.erb
  website/docs/r/express_route_gateway.html.markdown
Labels: documentation, new-resource, preview, service/express-route, size/XL

#5807 website: removing a dead link
  website/docs/r/express_route_gateway.html.markdown
Labels: documentation, service/express-route, size/XS

#5794 2.0-dns
  azurerm/internal/services/dns/data_source_dns_zone.go
  azurerm/internal/services/dns/resource_arm_dns_cname_record.go
  azurerm/internal/services/dns/resource_arm_dns_ns_record.go
  azurerm/internal/services/dns/resource_arm_dns_zone.go
  azurerm/internal/services/dns/tests/resource_arm_dns_a_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_cname_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_ns_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_zone_test.go
  website/docs/d/dns_zone.html.markdown
  website/docs/r/dns_ns_record.html.markdown
  website/docs/r/dns_zone.html.markdown
Labels: documentation, service/dns, size/XL

#5743 Update mysql to 2.0
  azurerm/internal/services/mysql/resource_arm_mysql_server.go
  azurerm/internal/services/mysql/tests/resource_arm_mysql_server_test.go
Labels: service/mysql, size/XL

#5805 New data source: 'azurerm_eventhub_authorization_rule'
  azurerm/internal/services/eventhub/data_source_eventhub_authorization_rule.go
  azurerm/internal/services/eventhub/registration.go
  azurerm/internal/services/eventhub/tests/data_source_eventhub_authorization_rule_test.go
  website/azurerm.erb
  website/docs/d/eventhub_authorization_rule.html.markdown
Labels: documentation, new-data-source, service/event-hubs, size/L

#5801 r/subnet: switching over the `association` resources
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_network_test.go
  azurerm/internal/services/containers/tests/resource_arm_kubernetes_cluster_node_pool_test.go
  azurerm/internal/services/databricks/tests/resource_arm_databricks_workspace_test.go
  azurerm/internal/services/network/data_source_subnet.go
  azurerm/internal/services/network/resource_arm_subnet.go
  azurerm/internal/services/network/tests/data_source_subnet_test.go
  azurerm/internal/services/network/tests/resource_arm_route_table_test.go
  azurerm/internal/services/network/tests/resource_arm_subnet_nat_gateway_association_test.go
  azurerm/internal/services/network/tests/resource_arm_subnet_network_security_group_association_test.go
  azurerm/internal/services/network/tests/resource_arm_subnet_route_table_association_test.go
  azurerm/internal/services/network/tests/resource_arm_subnet_test.go
  azurerm/internal/services/network/tests/resource_arm_virtual_network_test.go
  examples/kubernetes/advanced-networking-calico-policy/main.tf
  examples/kubernetes/advanced-networking-multiple-agentpool/main.tf
  examples/kubernetes/advanced-networking/main.tf
  examples/virtual-networks/azure-firewall/main.tf
  website/docs/d/subnet.html.markdown
  website/docs/r/subnet.html.markdown
  website/docs/r/subnet_network_security_group_association.html.markdown
  website/docs/r/subnet_route_table_association.html.markdown
Labels: breaking-change, documentation, refactor, service/subnets, size/XXL

#5781 F/two-oh-todo-automation
  azurerm/internal/services/automation/resource_arm_automation_account.go
  azurerm/internal/services/automation/resource_arm_automation_credential.go
  azurerm/internal/services/automation/resource_arm_automation_job_schedule.go
  azurerm/internal/services/automation/resource_arm_automation_runbook.go
  azurerm/internal/services/automation/resource_arm_automation_schedule.go
  azurerm/internal/services/automation/tests/resource_arm_automation_account_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_certificate_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_credential_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_dsc_configuration_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_dsc_nodeconfiguration_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_job_schedule_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_module_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_runbook_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_schedule_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_variable_bool_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_variable_datetime_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_variable_int_test.go
  azurerm/internal/services/automation/tests/resource_arm_automation_variable_string_test.go
  website/docs/r/automation_certificate.html.markdown
  website/docs/r/automation_runbook.html.markdown
Labels: documentation, service/roles, size/XL

#5790 Update iothub to 2.0
  azurerm/internal/services/iothub/resource_arm_iothub.go
  azurerm/internal/services/iothub/resource_arm_iothub_consumer_group.go
  azurerm/internal/services/iothub/resource_arm_iothub_dps.go
  azurerm/internal/services/iothub/resource_arm_iothub_fallback_route.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_consumer_group_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_dps_certificate_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_dps_shared_access_policy_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_dps_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_endpoint_eventhub_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_endpoint_servicebus_queue_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_endpoint_servicebus_topic_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_endpoint_storage_container_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_fallback_route_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_route_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_shared_access_policy_test.go
  azurerm/internal/services/iothub/tests/resource_arm_iothub_test.go
  azurerm/internal/services/mysql/resource_arm_mysql_configuration.go
  azurerm/internal/services/postgres/resource_arm_postgresql_configuration.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/iothub.html.markdown
  website/docs/r/iothub_dps.html.markdown
  website/docs/r/iothub_dps_certificate.html.markdown
  website/docs/r/iothub_fallback_route.html.markdown
  website/docs/r/mysql_configuration.html.markdown
  website/docs/r/postgresql_configuration.html.markdown
Labels: documentation, service/iothub, size/L

#5792 Update the frontdoor package to 2.0
  azurerm/internal/services/frontdoor/resource_arm_frontdoor.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/frontdoor.html.markdown
Labels: deprecation, documentation, service/frontdoor, size/XS

#5808 r/storage_account: updating the default for `enable_https_traffic_only` to `true`
  azurerm/internal/services/storage/resource_arm_storage_account.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: breaking-change, documentation, enhancement, service/storage, size/XS

#5806 r/express_route_gateway: fixes from #5523
  azurerm/internal/services/network/resource_arm_express_route_gateway.go
  azurerm/internal/services/network/tests/resource_arm_express_route_gateway_test.go
  website/docs/r/express_route_gateway.html.markdown
Labels: documentation, enhancement, service/express-route, size/XS

#5812 auth: using the correct authorizer for the service principals client
  azurerm/internal/services/authorization/client/client.go
Labels: bug, service/authentication, size/XS

#5772 `azurerm_sql_database` - support for `zone_redundant`
  azurerm/internal/services/sql/resource_arm_sql_database.go
  azurerm/internal/services/sql/tests/resource_arm_sql_database_test.go
  website/docs/r/sql_database.html.markdown
Labels: documentation, enhancement, service/mssql, size/M

#5799 2.0-automation
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: documentation, refactor, service/automation, size/XS

#5725 apimanagement 2.0 todos and associated tests
  azurerm/internal/services/apimanagement/data_source_api_management.go
  azurerm/internal/services/apimanagement/resource_arm_api_management.go
  azurerm/internal/services/apimanagement/resource_arm_api_management_api_operation.go
  azurerm/internal/services/apimanagement/tests/data_source_api_management_group_test.go
  azurerm/internal/services/apimanagement/tests/data_source_api_management_product_test.go
  azurerm/internal/services/apimanagement/tests/data_source_api_management_test.go
  azurerm/internal/services/apimanagement/tests/data_source_api_management_user_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_api_operation_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_api_policy_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_api_schema_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_api_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_api_version_set_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_authorization_server_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_backend_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_certificate_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_logger_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_openid_connect_provider_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_product_policy_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_product_test.go
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_test.go
  website/docs/r/api_management.html.markdown
Labels: documentation, service/api-management, size/XL

#5775 start moving log_analytics to 2.0
  azurerm/internal/services/loganalytics/resource_arm_log_analytics_linked_service.go
  azurerm/internal/services/loganalytics/tests/resource_arm_log_analytics_linked_service_test.go
  website/docs/r/log_analytics_linked_service.html.markdown
Labels: documentation, service/log-analytics, size/M

#5811 2.0-compute
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/resource_arm_managed_disk.go
  azurerm/internal/services/compute/resource_arm_virtual_machine_extension.go
  azurerm/internal/services/compute/tests/data_source_image_test.go
  azurerm/internal/services/compute/tests/data_source_virtual_machine_test.go
  azurerm/internal/services/compute/tests/resource_arm_image_test.go
  azurerm/internal/services/compute/tests/resource_arm_managed_disk_test.go
  azurerm/internal/services/compute/tests/resource_arm_snapshot_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_extension_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_scale_set_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_unmanaged_disks_test.go
  azurerm/internal/services/compute/validation.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/virtual_machine_extension.html.markdown
Labels: documentation, size/XL

#5815 r/network_interface_application_security_group_association: removing `ip_configuration_name`
  azurerm/internal/services/network/network_interface_application_security_group_association_migration.go
  azurerm/internal/services/network/network_interface_application_security_group_association_resource.go
  azurerm/internal/services/network/resource_arm_firewall.go
  azurerm/internal/services/network/tests/network_interface_application_security_group_association_resource_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/firewall.html.markdown
  website/docs/r/network_interface_application_security_group_association.html.markdown
Labels: breaking-change, documentation, enhancement, service/network-interfaces, size/XL

#5817 Made application_type case sensitive.
  azurerm/internal/services/applicationinsights/resource_arm_application_insights.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: documentation, service/application-insights, size/XS

#5779 dns - add parse ID and func
  azurerm/internal/services/dns/parse/dns_a_record.go
  azurerm/internal/services/dns/parse/dns_a_record_test.go
  azurerm/internal/services/dns/parse/dns_aaaa_record.go
  azurerm/internal/services/dns/parse/dns_aaaa_record_test.go
  azurerm/internal/services/dns/parse/dns_caa_record.go
  azurerm/internal/services/dns/parse/dns_caa_record_test.go
  azurerm/internal/services/dns/parse/dns_cname_record.go
  azurerm/internal/services/dns/parse/dns_cname_record_test.go
  azurerm/internal/services/dns/parse/dns_mx_record.go
  azurerm/internal/services/dns/parse/dns_mx_record_test.go
  azurerm/internal/services/dns/parse/dns_ns_record.go
  azurerm/internal/services/dns/parse/dns_ns_record_test.go
  azurerm/internal/services/dns/parse/dns_ptr_record.go
  azurerm/internal/services/dns/parse/dns_ptr_record_test.go
  azurerm/internal/services/dns/parse/dns_srv_record.go
  azurerm/internal/services/dns/parse/dns_srv_record_test.go
  azurerm/internal/services/dns/parse/dns_txt_record.go
  azurerm/internal/services/dns/parse/dns_txt_record_test.go
  azurerm/internal/services/dns/parse/dns_zone.go
  azurerm/internal/services/dns/parse/dns_zone_test.go
  azurerm/internal/services/dns/resource_arm_dns_a_record.go
  azurerm/internal/services/dns/resource_arm_dns_aaaa_record.go
  azurerm/internal/services/dns/resource_arm_dns_caa_record.go
  azurerm/internal/services/dns/resource_arm_dns_cname_record.go
  azurerm/internal/services/dns/resource_arm_dns_mx_record.go
  azurerm/internal/services/dns/resource_arm_dns_ns_record.go
  azurerm/internal/services/dns/resource_arm_dns_ptr_record.go
  azurerm/internal/services/dns/resource_arm_dns_srv_record.go
  azurerm/internal/services/dns/resource_arm_dns_txt_record.go
  azurerm/internal/services/dns/resource_arm_dns_zone.go
  azurerm/internal/services/dns/tests/resource_arm_dns_a_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_aaaa_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_caa_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_cname_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_mx_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_ns_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_ptr_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_srv_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_txt_record_test.go
  azurerm/internal/services/dns/tests/resource_arm_dns_zone_test.go
Labels: enhancement, service/dns, size/XXL

#5835 docs: Adds `id` to Data Source: `azurerm_resource_group`
  website/docs/d/resource_group.html.markdown
Labels: bug, documentation, service/resources, size/XS

#5825 r/recovery_services_vault: using the requested cloud rather than the default
  azurerm/internal/services/recoveryservices/client/client.go
Labels: azure/government, bug, service/recovery-services, size/XS

#5832 `azurerm_virtual_network_peering` - `allow_virtual_network_access` defaults to true
  azurerm/internal/services/network/resource_arm_virtual_network_peering.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/virtual_network_peering.html.markdown
Labels: documentation, service/virtual-networks, size/XS

#5833 `azurerm_api_management_api` - Test for Blank Path
  azurerm/internal/services/apimanagement/tests/resource_arm_api_management_api_test.go
Labels: service/api-management, size/S

#5834 docs: updates cdn_endpoint `origin` attribute to required
  website/docs/r/cdn_endpoint.html.markdown
Labels: bug, documentation, service/cdn, size/XS

#5344 Enhancement: `azurerm_key_vault`: Add support for soft delete, purge protection, and purge on destroy
  azurerm/internal/features/user_flags.go
  azurerm/internal/provider/features.go
  azurerm/internal/provider/features_test.go
  azurerm/internal/services/keyvault/data_source_key_vault.go
  azurerm/internal/services/keyvault/resource_arm_key_vault.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_migration.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_migration_test.go
  azurerm/internal/services/keyvault/tests/data_source_key_vault_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_key_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_test.go
  azurerm/internal/services/keyvault/validate/name.go
  azurerm/internal/services/keyvault/validate/name_test.go
  website/docs/d/key_vault.html.markdown
  website/docs/index.html.markdown
  website/docs/r/key_vault.html.markdown
Labels: documentation, enhancement, service/keyvault, size/XXL

#5831 BUG: `azurerm_eventhub_namespace` wrong max items for `virtual_network_rule` and `ip_rule`
  azurerm/internal/services/eventhub/resource_arm_eventhub_namespace.go
  azurerm/internal/services/eventhub/tests/resource_arm_eventhub_namespace_test.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
Labels: bug, documentation, service/event-hubs, size/L

#5841 Change dns to dns_servers
  website/docs/r/netapp_account.html.markdown
Labels: documentation, service/netapp, size/XS

#5816 removed deprecated recoveryservices resources. Updated datasource and docs
  azurerm/internal/services/recoveryservices/data_source_backup_policy_vm.go
  azurerm/internal/services/recoveryservices/registration.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_fabric.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_network_mapping.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_protected_vm.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_protection_container.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_protection_container_mapping.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_protection_policy_vm.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_replicated_vm.go
  azurerm/internal/services/recoveryservices/resource_arm_recovery_services_replication_policy.go
  azurerm/internal/services/recoveryservices/tests/data_source_backup_policy_vm_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_fabric_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_network_mapping_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_protected_vm_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_protection_container_mapping_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_protection_container_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_protection_policy_vm_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_replicated_vm_test.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_recovery_services_replication_policy_test.go
  website/azurerm.erb
  website/docs/d/backup_policy_vm.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/recovery_network_mapping.html.markdown
  website/docs/r/recovery_services_fabric.html.markdown
  website/docs/r/recovery_services_protected_vm.markdown
  website/docs/r/recovery_services_protection_container.html.markdown
  website/docs/r/recovery_services_protection_container_mapping.html.markdown
  website/docs/r/recovery_services_protection_policy_vm.markdown
  website/docs/r/recovery_services_replicated_vm.html.markdown
  website/docs/r/recovery_services_replication_policy.html.markdown
Labels: documentation, service/recovery-services, size/XXL

#5508 Add App Service Environment resource and Data Source
  azurerm/internal/services/network/parse/subnet.go
  azurerm/internal/services/network/parse/subnet_test.go
  azurerm/internal/services/network/parse/virtual_network.go
  azurerm/internal/services/network/parse/virtual_network_test.go
  azurerm/internal/services/network/validate/subnet.go
  azurerm/internal/services/network/validate/virtual_network.go
  azurerm/internal/services/web/app_service_environment_data_source.go
  azurerm/internal/services/web/app_service_environment_resource.go
  azurerm/internal/services/web/client/client.go
  azurerm/internal/services/web/parse/app_service_environment.go
  azurerm/internal/services/web/parse/app_service_environment_test.go
  azurerm/internal/services/web/registration.go
  azurerm/internal/services/web/resource_arm_app_service_plan.go
  azurerm/internal/services/web/tests/app_service_environment_data_source_test.go
  azurerm/internal/services/web/tests/app_service_environment_resource_test.go
  azurerm/internal/services/web/tests/data_source_app_service_plan_test.go
  azurerm/internal/services/web/tests/data_source_app_service_test.go
  azurerm/internal/services/web/validate/app_service_environment.go
  azurerm/internal/services/web/validate/app_service_environment_test.go
  website/azurerm.erb
  website/docs/d/app_service_environment.html.markdown
  website/docs/r/app_service_environment.html.markdown
  website/docs/r/app_service_plan.html.markdown
Labels: dependencies, documentation, new-data-source, new-resource, service/app-service, size/XXL

#5842 Update AD domain regex for azure netapp files account to allow dash (-)
  azurerm/internal/services/netapp/resource_arm_netapp_account.go
Labels: enhancement, service/netapp, size/XS

#5844 Removing Deprecated Resources
  azurerm/internal/services/authorization/data_source_builtin_role_definition.go
  azurerm/internal/services/authorization/registration.go
  azurerm/internal/services/authorization/tests/data_source_builtin_role_definition_test.go
  azurerm/internal/services/authorization/tests/resource_arm_role_assignment_test.go
  azurerm/internal/services/monitor/registration.go
  azurerm/internal/services/monitor/resource_arm_autoscale_setting.go
  azurerm/internal/services/monitor/resource_arm_metric_alertrule.go
  azurerm/internal/services/monitor/resource_arm_monitor_metric_alertrule.go
  azurerm/internal/services/monitor/tests/resource_arm_autoscale_setting_test.go
  azurerm/internal/services/monitor/tests/resource_arm_metric_alertrule_test.go
  azurerm/internal/services/monitor/tests/resource_arm_monitor_metric_alertrule_test.go
  azurerm/internal/services/network/data_source_private_link_endpoint_connection.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/resource_arm_connection_monitor.go
  azurerm/internal/services/network/resource_arm_ddos_protection_plan.go
  azurerm/internal/services/network/resource_arm_network_ddos_protection_plan.go
  azurerm/internal/services/network/resource_arm_private_link_endpoint.go
  azurerm/internal/services/network/tests/data_source_private_link_endpoint_connection_test.go
  azurerm/internal/services/network/tests/resource_arm_connection_monitor_test.go
  azurerm/internal/services/network/tests/resource_arm_ddos_protection_plan_test.go
  azurerm/internal/services/network/tests/resource_arm_network_ddos_protection_plan_test.go
  azurerm/internal/services/network/tests/resource_arm_network_watcher_test.go
  azurerm/internal/services/network/tests/resource_arm_private_link_endpoint_test.go
  azurerm/internal/services/network/tests/resource_arm_virtual_network_test.go
  azurerm/internal/services/recoveryservices/data_source_backup_policy_vm.go
  azurerm/internal/services/recoveryservices/resource_arm_site_recovery_protection_container.go
  azurerm/internal/services/recoveryservices/tests/data_source_backup_policy_vm_test.go
  examples/vm-scale-set/virtual_machine_scale_set/autoscale/main.tf
  website/azurerm.erb
  website/docs/d/backup_policy_vm.markdown
  website/docs/d/builtin_role_definition.markdown
  website/docs/d/private_link_endpoint_connection.html.markdown
  website/docs/d/role_definition.html.markdown
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/guides/managed_service_identity.html.markdown
  website/docs/guides/migrating-between-renamed-resources.html.markdown
  website/docs/r/autoscale_setting.html.markdown
  website/docs/r/connection_monitor.html.markdown
  website/docs/r/ddos_protection_plan.html.markdown
  website/docs/r/metric_alertrule.html.markdown
  website/docs/r/monitor_metric_alertrule.html.markdown
  website/docs/r/network_connection_monitor.html.markdown
  website/docs/r/private_link_endpoint.html.markdown
  website/docs/r/virtual_network.html.markdown
Labels: deprecation, documentation, size/XXL

#5773 On metric alert rule creation, the 'autoMitigate' property should be set to true by default
  azurerm/internal/services/monitor/resource_arm_monitor_metric_alert.go
  azurerm/internal/services/monitor/tests/resource_arm_monitor_metric_alert_test.go
  website/docs/r/monitor_metric_alert.html.markdown
Labels: breaking-change, documentation, service/monitor, size/XS

#5848 test configs: cleaning up deprecated fields
  azurerm/internal/services/authorization/tests/resource_arm_role_assignment_test.go
  azurerm/internal/services/batch/tests/resource_arm_batch_pool_test.go
  azurerm/internal/services/bot/tests/resource_arm_bot_channels_registration_test.go
  azurerm/internal/services/bot/tests/resource_arm_bot_web_app_test.go
  azurerm/internal/services/compute/tests/data_source_snapshot_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/tests/resource_arm_disk_encryption_set_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_disk_data_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_disk_os_test.go
  azurerm/internal/services/compute/tests/resource_arm_linux_virtual_machine_scale_set_other_test.go
  azurerm/internal/services/compute/tests/resource_arm_managed_disk_test.go
  azurerm/internal/services/compute/tests/resource_arm_snapshot_test.go
  azurerm/internal/services/compute/tests/resource_arm_virtual_machine_managed_disks_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_disk_data_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_disk_os_test.go
  azurerm/internal/services/compute/tests/resource_arm_windows_virtual_machine_scale_set_other_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_other_test.go
  azurerm/internal/services/eventgrid/tests/resource_arm_eventgrid_event_subscription_test.go
  azurerm/internal/services/hdinsight/tests/resource_arm_hdinsight_hbase_cluster_test.go
  azurerm/internal/services/hdinsight/tests/resource_arm_hdinsight_interactive_query_cluster_test.go
  azurerm/internal/services/hdinsight/tests/resource_arm_hdinsight_kafka_cluster_test.go
  azurerm/internal/services/hdinsight/tests/resource_arm_hdinsight_ml_services_cluster_test.go
  azurerm/internal/services/hdinsight/tests/resource_arm_hdinsight_rserver_cluster_test.go
  azurerm/internal/services/hdinsight/tests/resource_arm_hdinsight_spark_cluster_test.go
  azurerm/internal/services/hdinsight/tests/resource_arm_hdinsight_storm_cluster_test.go
  azurerm/internal/services/healthcare/tests/resource_arm_healthcare_service_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_access_policy_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_certificate_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_key_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_secret_test.go
  azurerm/internal/services/keyvault/tests/resource_arm_key_vault_test.go
  azurerm/internal/services/maps/resource_arm_maps_account.go
  azurerm/internal/services/mariadb/tests/resource_arm_mariadb_server_test.go
  azurerm/internal/services/mariadb/tests/resource_arm_mariadb_virtual_network_rule_test.go
  azurerm/internal/services/network/tests/resource_arm_application_gateway_test.go
  azurerm/internal/services/network/tests/resource_arm_network_interface_backend_address_pool_association_test.go
  azurerm/internal/services/resource/tests/resource_arm_template_deployment_test.go
  azurerm/internal/services/sql/tests/resource_arm_sql_database_test.go
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_output_blob_test.go
  azurerm/internal/services/streamanalytics/tests/resource_arm_stream_analytics_reference_input_blob_test.go
  azurerm/internal/services/web/tests/resource_arm_app_service_custom_hostname_binding_test.go
  examples/managed-disks/encrypted/main.tf
  examples/virtual-machines/virtual_machine/provisioners/windows/2-certificates.tf
  examples/vm-scale-set/windows/service-fabric/2-key-vault.tf
  website/docs/d/client_config.html.markdown
  website/docs/r/bot_channel_email.markdown
  website/docs/r/bot_channel_ms_teams.markdown
  website/docs/r/bot_channel_slack.markdown
  website/docs/r/bot_channels_registration.markdown
  website/docs/r/bot_connection.markdown
  website/docs/r/bot_web_app.markdown
  website/docs/r/disk_encryption_set.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/key_vault_certificate.html.markdown
  website/docs/r/key_vault_key.html.markdown
  website/docs/r/key_vault_secret.html.markdown
  website/docs/r/maps_account.html.markdown
  website/docs/r/role_assignment.html.markdown
Labels: bug, size/L, tests

#5850 `azurerm_storage_account` - changing account kind default to StorageV2
  azurerm/internal/services/storage/resource_arm_storage_account.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: breaking-change, documentation, service/storage, size/XS

#5668 New Resource: 'azurerm_storage_account_customer_managed_key' to enable storage account encryption using key vault customer-managed keys
  azurerm/internal/acceptance/data.go
  azurerm/internal/services/iothub/resource_arm_iothub.go
  azurerm/internal/services/keyvault/parse/key_vault_id.go
  azurerm/internal/services/keyvault/parse/key_vault_id_test.go
  azurerm/internal/services/keyvault/resource_arm_key_vault_key.go
  azurerm/internal/services/keyvault/validate/key_vault_id.go
  azurerm/internal/services/storage/data_source_storage_account.go
  azurerm/internal/services/storage/registration.go
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/resource_arm_storage_account_customer_managed_key.go
  azurerm/internal/services/storage/resource_arm_storage_account_network_rules.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_customer_managed_key_test.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
  azurerm/internal/services/storage/validate/storage_account.go
  website/azurerm.erb
  website/docs/d/key_vault_key.html.markdown
  website/docs/d/storage_account.html.markdown
  website/docs/r/key_vault.html.markdown
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_account_customer_managed_key.html.markdown
Labels: documentation, new-resource, refactor, service/storage, size/XXL

#5852 r/frontdoor: updating the default values within the `forwarding_configuration` block
  azurerm/internal/services/frontdoor/resource_arm_frontdoor.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/frontdoor.html.markdown
Labels: breaking-change, documentation, service/frontdoor, size/XS

#5853 azurerm_cosmosdb_mongo_collection - remove deprecated property
  azurerm/internal/services/cosmos/resource_arm_cosmosdb_mongo_collection.go
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/r/cosmosdb_mongo_collection.html.markdown
Labels: documentation, service/cosmosdb, size/M

#5870 Add azurerm_network_interface_security_group_association to public ip example
  examples/virtual-machines/linux/public-ip/main.tf
Labels: documentation, size/XS

#5901 azurerm_linux_virtual_machine_scale_set - correct source_image_id validation
  azurerm/internal/services/compute/resource_arm_linux_virtual_machine_scale_set.go
Labels: bug, service/vmss, size/XS

#5887 azurerm_batch_pool - fix import examples
  website/docs/r/batch_pool.html.markdown
Labels: documentation, service/batch, size/XS

#5881 Fix default TTL seconds example in cosmosdb_mongo_collection
  website/docs/r/cosmosdb_mongo_collection.html.markdown
Labels: documentation, service/cosmosdb, size/XS

#5879 remove reference to non-existing page
  examples/virtual-machines/README.md
  examples/vm-scale-set/README.md
Labels: documentation, size/XS

#5838 Enhancement: `azurerm_private_endpoint ` expose `private_ip_address` as computed attribute
  azurerm/internal/services/network/resource_arm_private_endpoint.go
  azurerm/internal/services/network/tests/resource_arm_private_endpoint_test.go
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, enhancement, service/private-link, size/XS

#5911 azurerm_storage_management_policy - Correct doc import typo
  website/docs/r/storage_management_policy.html.markdown
Labels: documentation, service/storage, size/XS

#5877 azurerm_virtual_wan - support for the `type` property
  azurerm/internal/services/network/resource_arm_virtual_wan.go
  azurerm/internal/services/network/tests/resource_arm_virtual_wan_test.go
  website/docs/r/virtual_wan.html.markdown
Labels: documentation, service/virtual-wan, size/XS

#5827 add `tags` for resource `azurerm_automation_dsc_configuration`
  azurerm/internal/services/automation/resource_arm_automation_dsc_configuration.go
  azurerm/internal/services/automation/tests/resource_arm_automation_dsc_configuration_test.go
  website/docs/r/automation_dsc_configuration.html.markdown
Labels: documentation, size/XS

#5839 fix for linux function apps
  azurerm/internal/services/web/data_source_function_app.go
  azurerm/internal/services/web/resource_arm_function_app.go
  azurerm/internal/services/web/tests/resource_arm_function_app_test.go
  website/docs/d/function_app.html.markdown
  website/docs/r/function_app.html.markdown
Labels: documentation, service/app-service, size/S

#5927 Update azurerm_virtual_machine_scale_set_extension type_handler_version docs
  website/docs/r/virtual_machine_scale_set_extension.html.markdown
Labels: documentation, size/XS

#5919 linting: terrafmt doesn't depend on terraform anymore
  .travis.yml
  scripts/terrafmt-acctests.sh
Labels: documentation, size/XS, tests

#5935 azurerm_search_service - the properties replica_count & partition_count are no longer force new
  azurerm/internal/services/search/resource_arm_search_service.go
  azurerm/internal/services/search/tests/resource_arm_search_service_test.go
Labels: bug, service/search, size/S

#5934 azurerm_storage_account - allow up to 50 tags
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
Labels: bug, service/storage, size/M

#5876 azurerm_automation_schedule - fix time in future validation
  azurerm/internal/services/automation/resource_arm_automation_schedule.go
Labels: service/automation, size/XS

#5698 azurerm_role_definition: Add recommendation for scope parameter value
  website/docs/r/role_definition.html.markdown
Labels: documentation, service/roles, size/XS

#5942 New Data Source: 'azurerm_kusto_cluster'
  azurerm/internal/services/kusto/data_source_kusto_cluster.go
  azurerm/internal/services/kusto/registration.go
  azurerm/internal/services/kusto/tests/data_source_kusto_cluster_test.go
  website/azurerm.erb
  website/docs/d/kusto_cluster.html.markdown
Labels: documentation, new-data-source, service/kusto, size/L

#5943 Bug: `azurerm_frontdoor_firewall_policy` add validation for Frontdoor WAF Name Restrictions
  azurerm/internal/services/frontdoor/resource_arm_frontdoor_firewall_policy.go
  azurerm/internal/services/frontdoor/tests/resource_arm_front_door_firewall_policy_test.go
  azurerm/internal/services/frontdoor/validate.go
Labels: bug, service/frontdoor, size/M

#5837 azurerm_dns_txt_record - support records up to 1024 characters in length
  azurerm/internal/services/dns/resource_arm_dns_txt_record.go
  azurerm/internal/services/dns/tests/resource_arm_dns_txt_record_test.go
  website/docs/r/dns_txt_record.html.markdown
Labels: bug, documentation, service/dns, size/XS
