Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2020-08, with the labels that each got.

#8013 Fix teamcity diff that shows up every time build the provider
  .teamcity/components/generated/services.kt
Labels: size/XS

#7998 Update doc for resource_group_name property of azurerm_private_dns_zone_virtual_network_link
  website/docs/r/private_dns_zone_virtual_network_link.html.markdown
Labels: documentation, service/dns, size/XS

#7997 `azurerm_mysql_server` Sku Tier `Basic` doesn't support `infrastructure_encryption_enabled`
  azurerm/internal/services/mysql/mysql_server_resource.go
Labels: service/mysql, size/XS

#7879 `azurerm_storage_account` - Support for `min_tls_version`
  azurerm/internal/services/storage/data_source_storage_account.go
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
  website/docs/d/storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/M

#8014 Updates doc for resource_group_name property of azurerm_private_dns_a_record
  website/docs/r/private_dns_a_record.html.markdown
Labels: documentation, service/dns, size/XS

#8029 refactor flatten func for data source - "azurerm_key_vault_certificate"
  azurerm/internal/services/keyvault/key_vault_certificate_data_source.go
Labels: bug, service/keyvault, size/M

#7980 Update doc for fqdn of azurerm_dns_a_record
  website/docs/r/dns_a_record.html.markdown
Labels: documentation, service/dns, size/XS

#8022 azurerm_storage_account_network_rules: note regarding ip rules for Azure service from the same region as storage account is was added
  website/docs/r/storage_account_network_rules.html.markdown
Labels: documentation, service/storage, size/XS

#8016 `azurerm_cosmosdb_account` support `DisableRateLimitingResponses ` for the `capabilities` property
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/XS, waiting-response

#7990 `azurerm_servicebus_queue` - support `enable_batched_operations`, `status`, `forward_to`, `forward_dead_lettered_messages_to`
  azurerm/internal/services/servicebus/resource_arm_servicebus_queue.go
  azurerm/internal/services/servicebus/tests/resource_arm_servicebus_queue_test.go
  website/docs/r/servicebus_queue.html.markdown
Labels: documentation, enhancement, refactor, service/servicebus, size/XL

#8020 Add signed_version attribute to azurerm_storage_account_sas
  azurerm/internal/services/storage/data_source_storage_account_sas.go
  azurerm/internal/services/storage/tests/data_source_storage_account_sas_test.go
  website/docs/d/storage_account_sas.html.markdown
Labels: documentation, enhancement, service/storage, size/XS

#8017 azurerm_iothub_shared_access_policy - prevent primary_connection_string & seconday_connection_string from regenerating
  azurerm/internal/services/iothub/iothub_shared_access_policy_resource.go
Labels: bug, service/iothub, size/XS

#7890 `azurerm_storage_account` - Support `static_website` for `BlockBlobStorage` account type
  azurerm/internal/services/storage/resource_arm_storage_account.go
  azurerm/internal/services/storage/tests/resource_arm_storage_account_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/M

#8042 allow "global" for enhanced location validation
  azurerm/internal/location/validation.go
  azurerm/internal/location/validation_test.go
Labels: bug, size/XS

#5688 Allow setting target subnet and static IP on failover
  azurerm/internal/services/recoveryservices/resource_arm_site_recovery_replicated_vm.go
  azurerm/internal/services/recoveryservices/tests/resource_arm_site_recovery_replicated_vm_test.go
  website/docs/r/site_recovery_replicated_vm.html.markdown
Labels: dependencies, documentation, service/recovery-services, size/XL

#8055 [docs] Fix location of delivery rules in cdn_endpoint resource
  website/docs/r/cdn_endpoint.html.markdown
Labels: documentation, service/cdn, size/XS

#8062 Update api-version of MySQL
  azurerm/internal/services/mysql/client/client.go
  azurerm/internal/services/mysql/mysql_aad_administrator_resource.go
  azurerm/internal/services/mysql/mysql_configuration_resource.go
  azurerm/internal/services/mysql/mysql_database_resource.go
  azurerm/internal/services/mysql/mysql_firewall_rule_resource.go
  azurerm/internal/services/mysql/mysql_server_resource.go
  azurerm/internal/services/mysql/mysql_virtual_network_rule_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2017-12-01/mysql/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/advisors.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/checknameavailability.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/configurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/firewallrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/locationbasedperformancetier.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/locationbasedrecommendedactionsessionsoperationstatus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/locationbasedrecommendedactionsessionsresult.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/logfiles.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/querytexts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/recommendedactions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/replicas.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/serveradministrators.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/serverkeys.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/servers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/serversecurityalertpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/topquerystatistics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/virtualnetworkrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mysql/mgmt/2020-01-01/mysql/waitstatistics.go
  vendor/modules.txt
Labels: dependencies, service/mysql, size/XXL

#8041 Add lock for iothub while operating iothub consumer group
  azurerm/internal/services/iothub/iothub_consumer_group_resource.go
  azurerm/internal/services/iothub/tests/iothub_consumer_group_resource_test.go
Labels: bug, service/iothub, size/S

#8045 postgresql: updating to API version 2020-01-01
  azurerm/internal/services/postgres/client/client.go
  azurerm/internal/services/postgres/postgresql_aad_administrator_resource.go
  azurerm/internal/services/postgres/postgresql_configuration_resource.go
  azurerm/internal/services/postgres/postgresql_database_resource.go
  azurerm/internal/services/postgres/postgresql_firewall_rule_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/postgresql_virtual_network_rule_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/checknameavailability.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/configurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/firewallrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/locationbasedperformancetier.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/logfiles.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/replicas.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/serveradministrators.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/serverkeys.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/servers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/serversecurityalertpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2020-01-01/postgresql/virtualnetworkrules.go
  vendor/modules.txt
Labels: dependencies, service/postgresql, size/XXL

#7975 d/api_management_user - updating the username validation
  azurerm/helpers/validate/api_management.go
Labels: bug, service/api-management, size/XS

#8000 Improve VM stopping/deallocating before updating.
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
Labels: bug, service/virtual-machine, size/S

#8066 features/requires-import: gradually removing usage of the old feature-toggle
  azurerm/internal/features/deprecated.go
  azurerm/internal/features/requires_import.go
  azurerm/internal/services/apimanagement/api_management_group_user_resource.go
  azurerm/internal/services/apimanagement/api_management_product_api_resource.go
  azurerm/internal/services/apimanagement/api_management_product_group_resource.go
  azurerm/internal/services/appconfiguration/app_configuration_resource.go
  azurerm/internal/services/applicationinsights/application_insights_api_key_resource.go
  azurerm/internal/services/authorization/role_assignment_resource.go
  azurerm/internal/services/batch/batch_application_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/eventgrid/tests/eventgrid_domain_resource_test.go
  azurerm/internal/services/managedapplications/tests/managed_application_resource_test.go
  azurerm/internal/services/network/tests/route_filter_resource_test.go
  azurerm/internal/services/sql/tests/resource_arm_sql_failover_group_test.go
Labels: refactor, size/L

#8051 app_service: adding functions basic example to docs
  examples/app-service/function-basic/README.md
  examples/app-service/function-basic/main.tf
  examples/app-service/function-basic/outputs.tf
  examples/app-service/function-basic/variables.tf
Labels: documentation, service/functions, size/S

#8065 Update `azurerm_eventhub_namespace` - Support `identity`
  azurerm/internal/services/eventhub/eventhub_namespace_resource.go
  azurerm/internal/services/eventhub/parse/namespace.go
  azurerm/internal/services/eventhub/parse/namespace_test.go
  azurerm/internal/services/eventhub/tests/eventhub_namespace_resource_test.go
  azurerm/internal/services/eventhub/validate/namespace.go
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, enhancement, service/event-hubs, size/XL

#8071 Fix shared_image Tests
  azurerm/internal/services/compute/tests/image_resource_test.go
Labels: service/images, size/XS, tests

#7821 Update `azurerm_orchestrated_virtual_machine_scale_set` - Remove the validation for `single_placement_group`
  azurerm/internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
Labels: bug, documentation, service/vmss, size/S

#8061 Remove case diff suppress for property rule_type of azurerm_application_gateway
  azurerm/internal/services/network/application_gateway_resource.go
Labels: service/application-gateway, size/XS

#7846 Update `azurerm_traffic_manager_profile` - Updating of the profile no longer destroys all the endpoints
  azurerm/internal/services/trafficmanager/resource_arm_traffic_manager_profile.go
  azurerm/internal/services/trafficmanager/tests/resource_arm_traffic_manager_profile_test.go
Labels: service/traffic-manager, size/L

#8075 app_service: adding functions with RBAC role assignment example to docs
  examples/app-service/function-azure-RBAC-role-assignment/README.md
  examples/app-service/function-azure-RBAC-role-assignment/main.tf
  examples/app-service/function-azure-RBAC-role-assignment/outputs.tf
  examples/app-service/function-azure-RBAC-role-assignment/variables.tf
Labels: service/app-service, size/M

#8044 Update `azurerm_postgresql_server` - Add identity support
  azurerm/internal/services/postgres/postgresql_server_data_source.go
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/tests/postgresql_server_resource_test.go
  website/docs/d/postgresql_server.html.markdown
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, enhancement, service/postgresql, size/L

#7953 `azurerm_data_factory_dataset_delimited_text` - fix issue with property `azure_blob_storage_account`
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_json_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_json_resource_test.go
  website/docs/r/data_factory_dataset_json.html.markdown
Labels: bug, documentation, service/data-factory, size/XL

#7981 `azurerm_mysql_server` `threat_detection_policy` refresh plan is not empty
  azurerm/internal/services/mysql/mysql_server_resource.go
  azurerm/internal/services/mysql/tests/mysql_server_resource_test.go
Labels: bug, service/mysql, size/M

#7995 `azurerm_monitor_metric_alert_resource`: keep using SingleResourceMultiMetricCriteria for legacy metric alerts
  azurerm/internal/services/monitor/monitor_metric_alert_resource.go
Labels: bug, service/monitor, size/M

#8028 Remove computed attribute for endpoint and route of azurerm_iothub
  azurerm/internal/services/iothub/iothub_resource.go
  azurerm/internal/services/iothub/tests/iothub_resource_test.go
Labels: bug, service/iothub, size/M

#8026 New resource type: azurerm_redis_linked_server
  azurerm/internal/services/redis/client/client.go
  azurerm/internal/services/redis/registration.go
  azurerm/internal/services/redis/resource_arm_redis_linked_server.go
  azurerm/internal/services/redis/tests/resource_arm_redis_linked_server_test.go
  website/docs/r/redis_linked_server.html.markdown
Labels: documentation, new-resource, service/redis, size/XL

#8059 Update `azurerm_mysql_server` - Add `identity` support
  azurerm/internal/services/mysql/mysql_server_resource.go
  azurerm/internal/services/mysql/tests/mysql_server_resource_test.go
  website/docs/r/mysql_server.html.markdown
Labels: documentation, enhancement, service/mysql, size/L, waiting-response

#7894 Upgrading containerservice API to 2020-04-01 to support new AKS features
  azurerm/internal/services/containers/client/client.go
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_validate.go
  azurerm/internal/services/containers/kubernetes_nodepool.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/agentpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/containerservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/managedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/openshiftmanagedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-04-01/containerservice/version.go
  vendor/modules.txt
Labels: dependencies, service/kubernetes-cluster, size/M

#8079 Add example for azurerm_network_interface_application_security_group_association and azurerm_virtual_machine
  examples/virtual-networks/network-interface-app-security-group-association/main.tf
  examples/virtual-networks/network-interface-app-security-group-association/variables.tf
Labels: documentation, service/application-security-groups, size/M

#7945 App Service refactor and feature alignment
  azurerm/helpers/azure/app_service.go
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_schedule_backup.go
  azurerm/internal/services/web/app_service_site_source_control.go
  azurerm/internal/services/web/data_source_app_service.go
  azurerm/internal/services/web/data_source_function_app.go
  azurerm/internal/services/web/function_app.go
  azurerm/internal/services/web/parse/app_service.go
  azurerm/internal/services/web/parse/app_service_site_source_control.go
  azurerm/internal/services/web/parse/app_service_test.go
  azurerm/internal/services/web/registration.go
  azurerm/internal/services/web/resource_arm_app_service.go
  azurerm/internal/services/web/resource_arm_app_service_active_slot.go
  azurerm/internal/services/web/resource_arm_app_service_slot.go
  azurerm/internal/services/web/resource_arm_app_service_slot_virtual_network_swift_connection.go
  azurerm/internal/services/web/resource_arm_app_service_virtual_network_swift_connection.go
  azurerm/internal/services/web/resource_arm_function_app.go
  azurerm/internal/services/web/resource_arm_function_app_slot.go
  azurerm/internal/services/web/tests/data_source_app_service_test.go
  azurerm/internal/services/web/tests/data_source_function_app_test.go
  azurerm/internal/services/web/tests/resource_arm_app_service_slot_test.go
  azurerm/internal/services/web/tests/resource_arm_app_service_test.go
  azurerm/internal/services/web/tests/resource_arm_function_app_slot_test.go
  azurerm/internal/services/web/tests/resource_arm_function_app_test.go
  azurerm/internal/services/web/validate/app_service.go
  azurerm/internal/services/web/validate/app_service_test.go
  website/docs/d/app_service.html.markdown
  website/docs/d/function_app.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
  website/docs/r/function_app.html.markdown
  website/docs/r/function_app_slot.html.markdown
Labels: documentation, enhancement, service/app-service, size/XXL, tests

#7763 New resource - azurerm_integration_service_environment
  azurerm/internal/services/logic/client/client.go
  azurerm/internal/services/logic/integration_service_environment.go
  azurerm/internal/services/logic/logic_app_workflow_data_source.go
  azurerm/internal/services/logic/logic_app_workflow_resource.go
  azurerm/internal/services/logic/logic_apps.go
  azurerm/internal/services/logic/parse/integration_service_environment.go
  azurerm/internal/services/logic/parse/integration_service_environment_test.go
  azurerm/internal/services/logic/registration.go
  azurerm/internal/services/logic/tests/integration_service_environment_resource_test.go
  azurerm/internal/services/logic/tests/logic_app_workflow_resource_test.go
  azurerm/internal/services/logic/tests/logic_apps_test.go
  azurerm/internal/services/logic/validate/logic.go
  azurerm/internal/services/logic/validate/logic_test.go
  azurerm/internal/services/network/client/client.go
  website/azurerm.erb
  website/docs/r/integration_service_environment.markdown
Labels: documentation, new-resource, service/logic, size/XXL

#8087 Test fix `TestAccDataSourceAzureRMImage_basic`
  azurerm/internal/services/compute/tests/image_data_source_test.go
Labels: service/storage, size/XS, tests

#7904 new resource for `azurerm_synapse_firewall_rule`
  azurerm/internal/services/synapse/client/client.go
  azurerm/internal/services/synapse/parse/synapse_firewall_rule.go
  azurerm/internal/services/synapse/parse/synapse_firewall_rule_test.go
  azurerm/internal/services/synapse/parse/synapse_workspace.go
  azurerm/internal/services/synapse/registration.go
  azurerm/internal/services/synapse/synapse_firewall_rule_resource.go
  azurerm/internal/services/synapse/tests/synapse_firewall_rule_resource_test.go
  azurerm/internal/services/synapse/validate/synapse_firewall_rule.go
  azurerm/internal/services/synapse/validate/synapse_firewall_rule_test.go
  azurerm/internal/services/synapse/validate/synapse_workspace.go
  website/azurerm.erb
  website/docs/r/synapse_firewall_rule.html.markdown
Labels: documentation, new-resource, service/synapse, size/XL

#8091 Update doc of virtual machine according to the latest documentation of azure
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#8098 `azurerm_servicebus_queue` - fix typo in documentation
  website/docs/r/servicebus_queue.html.markdown
Labels: documentation, service/servicebus, size/XS

#8100 Remove mariadb virtual network rule subnet endpoint check
  azurerm/internal/services/mariadb/mariadb_virtual_network_rule_resource.go
Labels: bug, service/mariadb, size/S

#8092 azurerm_storage_account - filter allow_blob_public_access and min_tls_version from Azure US Government
  azurerm/internal/services/storage/resource_arm_storage_account.go
  website/docs/r/storage_account.html.markdown
Labels: azure/china, azure/government, bug, documentation, service/storage, size/M, upstream-microsoft

#8081 refactor: moving service specific code out of the `azure` package
  azurerm/helpers/azure/location.go
  azurerm/helpers/azure/subscription.go
  azurerm/helpers/set/set.go
  azurerm/internal/locks/arrays.go
  azurerm/internal/locks/arrays_test.go
  azurerm/internal/locks/lock.go
  azurerm/internal/services/automation/automation_account_resource.go
  azurerm/internal/services/automation/automation_connection_certificate_resource.go
  azurerm/internal/services/automation/automation_connection_classic_certificate_resource.go
  azurerm/internal/services/automation/automation_connection_resource.go
  azurerm/internal/services/automation/automation_connection_service_principal_resource.go
  azurerm/internal/services/automation/automation_credential_resource.go
  azurerm/internal/services/automation/automation_dsc_configuration_resource.go
  azurerm/internal/services/automation/automation_dsc_nodeconfiguration_resource.go
  azurerm/internal/services/automation/automation_job_schedule_resource.go
  azurerm/internal/services/automation/automation_module_resource.go
  azurerm/internal/services/automation/automation_runbook_resource.go
  azurerm/internal/services/automation/automation_schedule_resource.go
  azurerm/internal/services/automation/automation_variable.go
  azurerm/internal/services/automation/helper/automation_job_schedule.go
  azurerm/internal/services/automation/validate/names.go
  azurerm/internal/services/containers/container_group_resource.go
  azurerm/internal/services/containers/kubernetes/kube_config.go
  azurerm/internal/services/containers/kubernetes/kube_config_test.go
  azurerm/internal/services/containers/kubernetes/testdata/cluster_with_no_server.yml
  azurerm/internal/services/containers/kubernetes/testdata/no_cluster.yml
  azurerm/internal/services/containers/kubernetes/testdata/no_user.yml
  azurerm/internal/services/containers/kubernetes/testdata/user_with_cert.yml
  azurerm/internal/services/containers/kubernetes/testdata/user_with_cert_token.yml
  azurerm/internal/services/containers/kubernetes/testdata/user_with_no_auth.yml
  azurerm/internal/services/containers/kubernetes/testdata/user_with_partial_auth.yml
  azurerm/internal/services/containers/kubernetes/testdata/user_with_token.yml
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/probe.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/datalake/data_lake_analytics_account_resource.go
  azurerm/internal/services/datalake/data_lake_analytics_firewall_rule_resource.go
  azurerm/internal/services/datalake/data_lake_store_firewall_rule_resource.go
  azurerm/internal/services/datalake/data_lake_store_resource.go
  azurerm/internal/services/datalake/validate/datalake.go
  azurerm/internal/services/hdinsight/common_hdinsight.go
  azurerm/internal/services/hdinsight/hdinsight.go
  azurerm/internal/services/hdinsight/hdinsight_cluster_data_source.go
  azurerm/internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_hbase_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_ml_services_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_rserver_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_spark_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_storm_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_test.go
  azurerm/internal/services/kusto/identity.go
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  azurerm/internal/services/subscription/data_source_subscription.go
  azurerm/internal/services/subscription/data_source_subscriptions.go
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/cors_settings.go
  azurerm/internal/services/web/function_app.go
Labels: refactor, size/XL

#7617 Add oauth2_authorization and openid_authentication
  azurerm/internal/services/apimanagement/api_management_api_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_api_resource_test.go
  website/docs/r/api_management_api.html.markdown
Labels: dependencies, documentation, service/api-management, size/XL

#8138 Corrects placement of the `source_image_reference` argument block.
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#8140 Update doc for fqdn_tags of azurerm_firewall_application_rule_collection
  website/docs/r/firewall_application_rule_collection.html.markdown
Labels: documentation, size/XS

#8148 `azurerm_storage_account` - switch logic to be if not public cloud instead of if us government cloud
  azurerm/internal/services/storage/resource_arm_storage_account.go
  website/docs/r/storage_account.html.markdown
Labels: azure/china, azure/germany, azure/government, bug, documentation, service/storage, size/XS, upstream-microsoft

#8152 azurerm_storage_account: set default for `min_tls_version`
  azurerm/internal/services/storage/resource_arm_storage_account.go
Labels: bug, service/storage, size/XS

#8153 azurerm_lb: update document about `zones`
  website/docs/r/lb.html.markdown
Labels: documentation, service/load-balancers, size/XS

#8158 Fix rendering
  website/docs/r/policy_assignment.html.markdown
Labels: documentation, size/XS

#8141 Add example for vnet gateway
  examples/virtual-networks/virtual-network-gateway/basic/main.tf
  examples/virtual-networks/virtual-network-gateway/basic/variables.tf
  examples/virtual-networks/virtual-network-gateway/vpngw1/main.tf
  examples/virtual-networks/virtual-network-gateway/vpngw1/variables.tf
Labels: size/M

#8110 Update api-version of container group
  azurerm/internal/services/containers/client/client.go
  azurerm/internal/services/containers/container_group_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-10-01/containerinstance/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-10-01/containerinstance/containergroupusage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2018-10-01/containerinstance/serviceassociationlink.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2019-12-01/containerinstance/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2019-12-01/containerinstance/containergroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2019-12-01/containerinstance/containers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2019-12-01/containerinstance/location.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2019-12-01/containerinstance/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2019-12-01/containerinstance/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerinstance/mgmt/2019-12-01/containerinstance/version.go
  vendor/modules.txt
Labels: dependencies, service/container-group, size/XXL

#8006 Use API version 2020-03-01 for Loadbalancer
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/lb_backend_address_pool_resource.go
  azurerm/internal/services/network/lb_data_source.go
  azurerm/internal/services/network/lb_nat_pool_resource.go
  azurerm/internal/services/network/lb_nat_rule_resource.go
  azurerm/internal/services/network/lb_outbound_rule_resource.go
  azurerm/internal/services/network/lb_probe_resource.go
  azurerm/internal/services/network/lb_resource.go
  azurerm/internal/services/network/lb_rule_resource.go
  azurerm/internal/services/network/loadbalancer.go
  azurerm/internal/services/network/tests/loadbalancer_backend_address_pool_resource_test.go
  azurerm/internal/services/network/tests/loadbalancer_nat_pool_resource_test.go
  azurerm/internal/services/network/tests/loadbalancer_nat_rule_resource_test.go
  azurerm/internal/services/network/tests/loadbalancer_outbound_rule_resource_test.go
  azurerm/internal/services/network/tests/loadbalancer_probe_resource_test.go
  azurerm/internal/services/network/tests/loadbalancer_resource_test.go
  azurerm/internal/services/network/tests/loadbalancer_rule_resource_test.go
Labels: bug, service/load-balancers, size/S

#8146 frontdoor: refactoring & ensuring ID's are consistent
  azurerm/helpers/azure/frontdoor_custom_https_configuration.go
  azurerm/helpers/azure/resource_group.go
  azurerm/internal/resourceid/interface.go
  azurerm/internal/services/frontdoor/customizediff.go
  azurerm/internal/services/frontdoor/frontdoor_custom_https_configuration.go
  azurerm/internal/services/frontdoor/frontdoor_custom_https_configuration_resource.go
  azurerm/internal/services/frontdoor/frontdoor_firewall_policy_resource.go
  azurerm/internal/services/frontdoor/frontdoor_resource.go
  azurerm/internal/services/frontdoor/helper.go
  azurerm/internal/services/frontdoor/migration/custom_https_configuration.go
  azurerm/internal/services/frontdoor/migration/custom_https_configuration_test.go
  azurerm/internal/services/frontdoor/migration/frontdoor.go
  azurerm/internal/services/frontdoor/migration/frontdoor_test.go
  azurerm/internal/services/frontdoor/migration/web_application_firewall_policy.go
  azurerm/internal/services/frontdoor/migration/web_application_firewall_policy_test.go
  azurerm/internal/services/frontdoor/parse/backend_pool.go
  azurerm/internal/services/frontdoor/parse/backend_pool_test.go
  azurerm/internal/services/frontdoor/parse/frontdoor.go
  azurerm/internal/services/frontdoor/parse/frontdoor_test.go
  azurerm/internal/services/frontdoor/parse/frontend_endpoint.go
  azurerm/internal/services/frontdoor/parse/frontend_endpoint_test.go
  azurerm/internal/services/frontdoor/parse/health_probe.go
  azurerm/internal/services/frontdoor/parse/health_probe_test.go
  azurerm/internal/services/frontdoor/parse/load_balancing.go
  azurerm/internal/services/frontdoor/parse/load_balancing_test.go
  azurerm/internal/services/frontdoor/parse/routing_rule.go
  azurerm/internal/services/frontdoor/parse/routing_rule_test.go
  azurerm/internal/services/frontdoor/parse/web_application_firewall_policy.go
  azurerm/internal/services/frontdoor/parse/web_application_firewall_policy_test.go
  azurerm/internal/services/frontdoor/tests/frontdoor_custom_https_configuration_resource_test.go
  azurerm/internal/services/frontdoor/tests/frontdoor_firewall_policy_resource_test.go
  azurerm/internal/services/frontdoor/tests/frontdoor_resource_test.go
  azurerm/internal/services/frontdoor/validate/frontend_endpoint_id.go
  azurerm/internal/services/frontdoor/validate/name.go
  azurerm/internal/services/frontdoor/validate/name_test.go
  azurerm/internal/services/frontdoor/validate/validate.go
  website/docs/r/frontdoor_custom_https_configuration.html.markdown
  website/docs/r/frontdoor_firewall_policy.html.markdown
Labels: bug, service/frontdoor, size/XXL, upstream-microsoft

#8166 Update example for base64 of azurerm_automation_certificate
  website/docs/r/automation_certificate.html.markdown
Labels: documentation, size/XS

#8155 `azurerm_network_connection_monitor` add resource document
  website/azurerm.erb
  website/docs/r/network_connection_monitor.html.markdown
Labels: documentation, size/M

#7886 new resource `synapse_big_data_pool`
  azurerm/internal/services/synapse/client/client.go
  azurerm/internal/services/synapse/parse/synapse_big_data_pool.go
  azurerm/internal/services/synapse/parse/synapse_big_data_pool_test.go
  azurerm/internal/services/synapse/registration.go
  azurerm/internal/services/synapse/synapse_big_data_pool_resource.go
  azurerm/internal/services/synapse/tests/synapse_big_data_pool_resource_test.go
  azurerm/internal/services/synapse/validate/synapse_big_data_pool.go
  azurerm/internal/services/synapse/validate/synapse_big_data_pool_test.go
  website/azurerm.erb
  website/docs/r/synapse_big_data_pool.html.markdown
Labels: documentation, new-resource, service/synapse, size/XL

#8185 Update cosmosdb_gremlin_graph.html.markdown
  website/docs/r/cosmosdb_gremlin_graph.html.markdown
Labels: documentation, size/XS

#8186 docs: removing ambiguous usages of 'Resource ID'
  website/docs/d/blueprint_definition.html.markdown
  website/docs/d/blueprint_published_version.html.markdown
  website/docs/d/firewall.html.markdown
  website/docs/d/log_analytics_workspace.html.markdown
  website/docs/d/monitor_scheduled_query_rules_alert.html.markdown
  website/docs/d/network_ddos_protection_plan.html.markdown
  website/docs/d/shared_image.html.markdown
  website/docs/d/shared_image_gallery.html.markdown
  website/docs/d/shared_image_version.html.markdown
  website/docs/d/user_assigned_identity.html.markdown
  website/docs/r/app_service_hybrid_connection.html.markdown
  website/docs/r/backup_container_storage_account.html.markdown
  website/docs/r/blueprint_assignment.html.markdown
  website/docs/r/express_route_circuit.html.markdown
  website/docs/r/express_route_circuit_authorization.html.markdown
  website/docs/r/express_route_circuit_peering.html.markdown
  website/docs/r/firewall.html.markdown
  website/docs/r/frontdoor.html.markdown
  website/docs/r/marketplace_agreement.html.markdown
  website/docs/r/monitor_diagnostic_setting.html.markdown
  website/docs/r/policy_remediation.html.markdown
  website/docs/r/policy_set_definition.html.markdown
  website/docs/r/private_dns_zone_virtual_network_link.html.markdown
  website/docs/r/storage_account.html.markdown
  website/docs/r/virtual_network.html.markdown
Labels: documentation, size/M

#8181 Add example for vmss with loadbalancer probe
  examples/vm-scale-set/virtual_machine_scale_set/loadbalancer-probe/main.tf
  examples/vm-scale-set/virtual_machine_scale_set/loadbalancer-probe/variables.tf
Labels: size/M

#8173 r/frontdoor_custom_https_configuration: setting `resource_group_name`
  azurerm/internal/services/frontdoor/frontdoor_custom_https_configuration_resource.go
Labels: bug, service/frontdoor, size/XS

#8183 rename "azurerm_synapse_big_data_pool" to "azurerm_synapse_spark_pool"
  azurerm/internal/services/synapse/client/client.go
  azurerm/internal/services/synapse/parse/synapse_spark_pool.go
  azurerm/internal/services/synapse/parse/synapse_spark_pool_test.go
  azurerm/internal/services/synapse/registration.go
  azurerm/internal/services/synapse/synapse_spark_pool_resource.go
  azurerm/internal/services/synapse/tests/synapse_spark_pool_resource_test.go
  website/azurerm.erb
  website/docs/r/synapse_spark_pool.html.markdown
Labels: documentation, service/synapse, size/L

#8172 refactor: cleaning up load balancers & adding validation to Load Balancer ID's & at import time
  azurerm/internal/services/network/lb_backend_address_pool_data_source.go
  azurerm/internal/services/network/lb_backend_address_pool_resource.go
  azurerm/internal/services/network/lb_data_source.go
  azurerm/internal/services/network/lb_nat_pool_resource.go
  azurerm/internal/services/network/lb_nat_rule_resource.go
  azurerm/internal/services/network/lb_outbound_rule_resource.go
  azurerm/internal/services/network/lb_probe_resource.go
  azurerm/internal/services/network/lb_resource.go
  azurerm/internal/services/network/lb_rule_resource.go
  azurerm/internal/services/network/loadbalancer.go
  azurerm/internal/services/network/parse/load_balancer.go
  azurerm/internal/services/network/parse/load_balancer_backend_address_pool.go
  azurerm/internal/services/network/parse/load_balancer_backend_address_pool_test.go
  azurerm/internal/services/network/parse/load_balancer_frontend_ip_configuration.go
  azurerm/internal/services/network/parse/load_balancer_frontend_ip_configuration_test.go
  azurerm/internal/services/network/parse/load_balancer_inbound_nat_pool.go
  azurerm/internal/services/network/parse/load_balancer_inbound_nat_pool_test.go
  azurerm/internal/services/network/parse/load_balancer_inbound_nat_rule.go
  azurerm/internal/services/network/parse/load_balancer_inbound_nat_rule_test.go
  azurerm/internal/services/network/parse/load_balancer_outbound_rule.go
  azurerm/internal/services/network/parse/load_balancer_outbound_rule_test.go
  azurerm/internal/services/network/parse/load_balancer_probe.go
  azurerm/internal/services/network/parse/load_balancer_probe_test.go
  azurerm/internal/services/network/parse/load_balancer_rule.go
  azurerm/internal/services/network/parse/load_balancer_rule_test.go
  azurerm/internal/services/network/parse/load_balancer_test.go
  azurerm/internal/services/network/tests/loadbalancer_backend_address_pool_resource_test.go
  azurerm/internal/services/network/validate/load_balancer.go
Labels: enhancement, service/load-balancers, size/XXL

#7976 Azure Policy: 'mode' shouldn't force new Policy
  azurerm/internal/services/policy/policy_definition_resource.go
  azurerm/internal/services/policy/tests/policy_definition_resource_test.go
  website/docs/r/policy_definition.html.markdown
Labels: documentation, enhancement, service/policy, size/M

#8124 `azurerm_shared_image` - Support for `purchase_plan`
  azurerm/internal/services/compute/shared_image_resource.go
  azurerm/internal/services/compute/tests/shared_image_resource_test.go
  website/docs/r/shared_image.html.markdown
Labels: documentation, size/M

#8189 `azurerm_batch_pool` - Remove `network_configuration` from update payload
  azurerm/internal/services/batch/batch_pool_resource.go
  azurerm/internal/services/batch/batch_pool_resource_test.go
Labels: size/M

#8212 Fix 'Invalid address to set' with azurerm_app_service data source
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/tests/data_source_app_service_test.go
Labels: bug, service/app-service, size/S

#8192 refactor: removing usages of the old feature toggle
  azurerm/internal/services/cosmos/cosmosdb_cassandra_keyspace_resource.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_database_resource.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_collection_resource.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_database_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_database_resource.go
  azurerm/internal/services/cosmos/cosmosdb_table_resource.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource.go
  azurerm/internal/services/datalake/data_lake_analytics_account_resource.go
  azurerm/internal/services/datalake/data_lake_store_file_resource.go
  azurerm/internal/services/devtestlabs/dev_test_global_vm_shutdown_schedule_resource.go
  azurerm/internal/services/dns/dns_ns_record_resource.go
  azurerm/internal/services/eventgrid/eventgrid_domain_resource.go
  azurerm/internal/services/eventgrid/eventgrid_domain_topic_resource.go
  azurerm/internal/services/eventgrid/eventgrid_event_subscription_resource.go
  azurerm/internal/services/eventgrid/eventgrid_topic_resource.go
  azurerm/internal/services/eventhub/eventhub_authorization_rule_resource.go
  azurerm/internal/services/eventhub/eventhub_consumer_group_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_authorization_rule_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_disaster_recovery_config_resource.go
  azurerm/internal/services/eventhub/eventhub_resource.go
  azurerm/internal/services/frontdoor/frontdoor_resource.go
Labels: refactor, size/L

#8203 reduced entry barrier for vs csharp people #8093
  README.md
Labels: documentation, size/XS

#8210 Allow empty ip_addresses list for azurerm_application_gateway (#8209)
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/tests/application_gateway_resource_test.go
Labels: enhancement, service/application-gateway, size/M

#8221 Fix Dedicated Host Deleting issue.
  azurerm/internal/services/compute/dedicated_host_resource.go
Labels: bug, service/dedicated-hosts, size/XS

#8111 add doc and test to support function app slot vnet connetion - "azurerm_app_service_slot_virtual_network_swift_connection"
  azurerm/internal/services/web/resource_arm_app_service_slot_virtual_network_swift_connection.go
  azurerm/internal/services/web/tests/resource_arm_function_app_slot_virtual_network_association_test.go
  website/docs/r/app_service_slot_virtual_network_swift_connection.html.markdown
Labels: documentation, enhancement, service/app-service, size/L

#8151 Use d.Get to set PRIVATE_EMPTY of azurerm_container_group
  CHANGELOG.md
  azurerm/internal/services/containers/container_group_resource.go
  azurerm/internal/services/containers/tests/container_group_resource_test.go
Labels: bug, documentation, service/container-group, size/M

#8217 locations: patching the india location names
  azurerm/internal/clients/builder.go
  azurerm/internal/location/supported.go
  azurerm/internal/sdk/locations.go
Labels: bug, provider, size/S, upstream-microsoft

#6667 `azurerm_*_virtual_machine_scale_set` - `upgrade_mode="Automatic"` no longer requires health probe
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, size/L

#8238 Add example for storage container
  examples/storage/storage-account/main.tf
  examples/storage/storage-account/variables.tf
  examples/storage/storage-container/main.tf
  examples/storage/storage-container/variables.tf
Labels: documentation, service/storage, size/S

#8236 Update doc for site property of azurerm_bot_channel_directline
  examples/bot-channel/main.tf
  examples/bot-channel/variables.tf
  website/docs/r/bot_channel_directline.markdown
Labels: documentation, service/bots, size/S

#8233 `azurerm_*.*.zone` - can no longer be passed in as empty
  azurerm/helpers/azure/zones.go
Labels: size/XS

#8067 new resource `azurerm_spring_cloud_certificate`
  azurerm/internal/services/appplatform/client/client.go
  azurerm/internal/services/appplatform/parse/spring_cloud_certificate.go
  azurerm/internal/services/appplatform/parse/spring_cloud_certificate_test.go
  azurerm/internal/services/appplatform/registration.go
  azurerm/internal/services/appplatform/spring_cloud_certificate_resource.go
  azurerm/internal/services/appplatform/tests/spring_cloud_certificate_resource_test.go
  website/azurerm.erb
  website/docs/r/spring_cloud_certificate.html.markdown
Labels: documentation, new-resource, services/spring, size/XL, waiting-response

#8256 refactor: removing usages of the deprecated `features.ShouldResourcesBeImported()`
  azurerm/internal/features/deprecated.go
  azurerm/internal/services/healthcare/healthcare_service_resource.go
  azurerm/internal/services/iotcentral/iotcentral_application_resource.go
  azurerm/internal/services/maps/maps_account_resource.go
  azurerm/internal/services/mixedreality/spatial_anchors_account_resource.go
  azurerm/internal/services/msi/user_assigned_identity_resource.go
  azurerm/internal/services/powerbi/powerbi_embedded_resource.go
  azurerm/internal/services/redis/resource_arm_redis_cache.go
  azurerm/internal/services/redis/resource_arm_redis_firewall_rule.go
  azurerm/internal/services/redis/resource_arm_redis_linked_server.go
  azurerm/internal/services/relay/resource_arm_relay_hybrid_connection.go
  azurerm/internal/services/relay/resource_arm_relay_namespace.go
  azurerm/internal/services/search/resource_arm_search_service.go
  azurerm/internal/services/securitycenter/resource_arm_advanced_threat_protection.go
  azurerm/internal/services/securitycenter/resource_arm_security_center_contact.go
  azurerm/internal/services/securitycenter/resource_arm_security_center_workspace.go
  azurerm/internal/services/servicefabric/resource_arm_service_fabric_cluster.go
  azurerm/internal/services/signalr/resource_arm_signalr_service.go
  azurerm/internal/services/trafficmanager/resource_arm_traffic_manager_endpoint.go
  azurerm/internal/services/web/resource_arm_app_service_certificate.go
  azurerm/internal/services/web/resource_arm_app_service_certificate_order.go
  azurerm/internal/services/web/resource_arm_app_service_custom_hostname_binding.go
  azurerm/internal/services/web/resource_arm_app_service_plan.go
Labels: refactor, size/M

#8015 Allow updating additional_capabilities
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/virtual_machine.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XL

#8258 Fix wrong title for data source azurerm_key_vault_certificate
  website/docs/d/key_vault_certificate.html.markdown
Labels: documentation, service/keyvault, size/XS

#8252 added new service_delegations for subnets
  azurerm/internal/services/network/subnet_resource.go
  website/docs/r/subnet.html.markdown
Labels: documentation, enhancement, service/subnets, size/XS

#8244 allow SocketAddr to be used as a match_variable
  azurerm/internal/services/frontdoor/frontdoor_firewall_policy_resource.go
  azurerm/internal/services/frontdoor/tests/frontdoor_firewall_policy_resource_test.go
  website/docs/r/frontdoor_firewall_policy.html.markdown
Labels: documentation, enhancement, service/frontdoor, size/XS

#7822 add `soft_delete_retention_days` support for `azurerm_key_vault`
  azurerm/helpers/azure/key_vault.go
  azurerm/helpers/azure/key_vault_access_policy.go
  azurerm/internal/services/compute/disk_encryption_set_resource.go
  azurerm/internal/services/keyvault/client/client.go
  azurerm/internal/services/keyvault/key_vault_access_policy_data_source.go
  azurerm/internal/services/keyvault/key_vault_access_policy_resource.go
  azurerm/internal/services/keyvault/key_vault_data_source.go
  azurerm/internal/services/keyvault/key_vault_migration_resource.go
  azurerm/internal/services/keyvault/key_vault_resource.go
  azurerm/internal/services/keyvault/tests/key_vault_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2019-09-01/keyvault/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2019-09-01/keyvault/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2019-09-01/keyvault/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2019-09-01/keyvault/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2019-09-01/keyvault/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2019-09-01/keyvault/vaults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2019-09-01/keyvault/version.go
  vendor/modules.txt
  website/docs/r/key_vault.html.markdown
Labels: dependencies, documentation, enhancement, service/keyvault, size/M

#8234 Update `loganalytics` to `/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights`
  azurerm/internal/services/loganalytics/client/client.go
  azurerm/internal/services/loganalytics/log_analytics_datasource_import.go
  azurerm/internal/services/loganalytics/log_analytics_datasource_windows_event_resource.go
  azurerm/internal/services/loganalytics/log_analytics_datasource_windows_performance_counter_resource.go
  azurerm/internal/services/loganalytics/log_analytics_linked_service_resource.go
  azurerm/internal/services/loganalytics/log_analytics_workspace_data_source.go
  azurerm/internal/services/loganalytics/log_analytics_workspace_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2015-11-01-preview/operationalinsights/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2015-11-01-preview/operationalinsights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2015-11-01-preview/operationalinsights/workspaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/availableservicetiers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/clusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/dataexports.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/datasources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/deletedworkspaces.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/gateways.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/intelligencepacks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/linkedservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/linkedstorageaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/managementgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/operationstatuses.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/savedsearches.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/schema.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/sharedkeys.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/storageinsightconfigs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/tables.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/workspacepurge.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/operationalinsights/mgmt/2020-03-01-preview/operationalinsights/workspaces.go
  vendor/modules.txt
  website/docs/d/log_analytics_workspace.html.markdown
  website/docs/r/log_analytics_workspace.html.markdown
Labels: dependencies, service/log-analytics, size/XXL, waiting-response

#8274 Doc Fix: `data. azurerm_hdinsight_cluster`
  website/docs/d/hdinsight_cluster.html.markdown
Labels: documentation, size/XS

#8267 r/network_interface_*association: handling the Network Interface being deleted during a refresh
  azurerm/internal/services/network/network_interface_application_gateway_association_resource.go
  azurerm/internal/services/network/network_interface_application_security_group_association_resource.go
  azurerm/internal/services/network/network_interface_backend_address_pool_association_resource.go
  azurerm/internal/services/network/network_interface_nat_rule_association_resource.go
  azurerm/internal/services/network/network_interface_network_security_group_association_resource.go
Labels: bug, service/network-interfaces, size/XS

#8001 Make update of allow_extensions_operations independent from provision_vm_agent.
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
Labels: enhancement, service/virtual-machine, size/L

#8272 Update sku as optional for azurerm_log_analytics_workspace
  azurerm/internal/services/loganalytics/log_analytics_workspace_resource.go
  azurerm/internal/services/loganalytics/tests/log_analytics_workspace_resource_test.go
  website/docs/r/log_analytics_workspace.html.markdown
Labels: documentation, service/log-analytics, size/S

#8287 `azurerm_log_analytics_workspace` - Fix default value for sku
  azurerm/internal/services/loganalytics/log_analytics_workspace_resource.go
Labels: size/XS

#7969 `azurerm_api_management_subscription` - Support `allow_tracing property`
  azurerm/internal/services/apimanagement/api_management_subscription_resource.go
  azurerm/internal/services/apimanagement/tests/api_management_subscription_resource_test.go
  website/docs/r/api_management_subscription.html.markdown
Labels: documentation, enhancement, service/api-management, size/S

#8278 `azurerm_application_gateway ` - Add support for `probe.properties.port`
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/tests/application_gateway_resource_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/M

#8298 sidebar: adding a link to the redis_linked_server resource
  website/azurerm.erb
Labels: documentation, service/redis, size/XS
