Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2021-12, with the labels that each got.

#14407 `azurerm_kusto_cluster` - Fix VNet test
  internal/services/kusto/kusto_cluster_resource_test.go
Labels: size/XS, service/kusto

#14405 `azurerm_api_management` - fix tests
  internal/services/apimanagement/api_management_resource_test.go
  internal/services/apimanagement/testdata/api_management_api2_test.pfx
  internal/services/apimanagement/testdata/api_management_api_test.pfx
  internal/services/apimanagement/testdata/api_management_developer_portal_test.pfx
  internal/services/apimanagement/testdata/api_management_portal_test.pfx
  internal/services/apimanagement/testdata/api_management_testdata.sh
Labels: size/XS, service/api-management

#14395 `r/azurerm_app_service`: Add support for `client_cert_mode` parameter
  internal/services/web/app_service_resource.go
  internal/services/web/app_service_resource_test.go
  website/docs/r/app_service.html.markdown
Labels: documentation, size/M, service/app-service

#14375 `azurerm_frontdoor_rules_engine` Fix #14313 by correct validate function
  internal/services/frontdoor/frontdoor_rules_engine_rule.go
Labels: size/XS, service/frontdoor

#14369 `azurerm_web_application_firewall_policy` fix #14322 by change `policy_settings.max_request_body_size_in_kb` length limitation from [8, 128] to [8, 2000]
  internal/services/network/web_application_firewall_policy_resource.go
Labels: size/XS, service/firewall

#13658 new resource "azurerm_synapse_sql_pool_workload_group"
  internal/services/synapse/client/client.go
  internal/services/synapse/parse/sql_pool_workload_group.go
  internal/services/synapse/parse/sql_pool_workload_group_test.go
  internal/services/synapse/registration.go
  internal/services/synapse/resourceids.go
  internal/services/synapse/synapse_sql_pool_workload_group_resource.go
  internal/services/synapse/synapse_sql_pool_workload_group_resource_test.go
  internal/services/synapse/validate/sql_pool_workload_group_id.go
  internal/services/synapse/validate/sql_pool_workload_group_id_test.go
  website/docs/r/synapse_sql_pool_workload_group.html.markdown
Labels: documentation, new-resource, size/XL, service/synapse

#14355 azurerm_data_factory_managed_private_endpoint - support fqdns
  internal/services/datafactory/data_factory_managed_private_endpoint_resource.go
  internal/services/datafactory/data_factory_managed_private_endpoint_resource_test.go
  internal/services/network/validate/private_link_subresource_name.go
  internal/services/network/validate/private_link_subresource_name_test.go
  website/docs/r/data_factory_managed_private_endpoint.html.markdown
Labels: enhancement, documentation, size/L, service/data-factory

#14368 `azurerm_batch_pool` deprecate `max_task_retry_count` and `environment` as well as fix tests
  internal/services/batch/batch_job_resource_test.go
  internal/services/batch/batch_pool.go
  internal/services/batch/batch_pool_data_source.go
  internal/services/batch/batch_pool_data_source_test.go
  internal/services/batch/batch_pool_resource.go
  internal/services/batch/batch_pool_resource_test.go
  website/docs/d/batch_pool.html.markdown
  website/docs/r/batch_pool.html.markdown
Labels: documentation, size/XL, refactor, service/batch, tests, deprecation

#14387 improve docs for machine learning workspace
  website/docs/r/machine_learning_synapse_spark.html.markdown
  website/docs/r/machine_learning_workspace.html.markdown
Labels: documentation, size/XS, service/machine-learning

#14406 r/monitor_aad_diagnostic_setting: fixing the id validator to use the eventhub auth rule id rather than the relay id
  internal/services/monitor/monitor_aad_diagnostic_setting_resource.go
Labels: bug, regression, size/XS, service/monitor

#14370 `azurerm_bastion_host` - Support for `sku`
  internal/services/network/bastion_host_resource.go
  internal/services/network/bastion_host_resource_test.go
  website/docs/r/bastion_host.html.markdown
Labels: enhancement, documentation, size/M, service/bastion

#14408 `azurerm_virtual_hub_ip` - Fix tests
  internal/services/network/virtual_hub_ip_resource_test.go
Labels: size/XS, tests, service/virtual-hub

#14410 refactor: switching to use ID Formatters
  internal/services/automation/automation_account_data_source.go
  internal/services/automation/automation_account_resource.go
  internal/services/automation/automation_certificate_resource.go
  internal/services/automation/automation_connection_certificate_resource.go
  internal/services/automation/automation_connection_classic_certificate_resource.go
  internal/services/automation/automation_connection_resource.go
  internal/services/automation/automation_connection_service_principal_resource.go
  internal/services/automation/automation_credential_resource.go
  internal/services/automation/automation_dsc_configuration_resource.go
  internal/services/automation/automation_dsc_nodeconfiguration_resource.go
  internal/services/automation/automation_job_schedule_resource.go
  internal/services/automation/automation_module_resource.go
  internal/services/automation/automation_runbook_resource.go
  internal/services/automation/automation_schedule_resource.go
  internal/services/automation/automation_variable.go
  internal/services/automation/automation_webhook.go
  internal/services/firewall/firewall_data_source.go
  internal/services/firewall/registration.go
  internal/services/logic/logic_app_standard_resource.go
  internal/services/mariadb/mariadb_server_data_source.go
  internal/services/mariadb/mariadb_server_resource.go
  internal/services/mysql/mysql_server_key_resource.go
  internal/services/netapp/netapp_account_data_source.go
  internal/services/netapp/netapp_pool_data_source.go
  internal/services/netapp/netapp_snapshot_data_source.go
  internal/services/netapp/netapp_snapshot_resource.go
  internal/services/netapp/netapp_volume_data_source.go
  internal/services/recoveryservices/recovery_services_vault_data_source.go
  internal/services/resource/management_lock_resource.go
  internal/services/resource/management_lock_resource_test.go
  internal/services/resource/migration/template_deployment_v0_v1.go
  internal/services/resource/parse/management_lock.go
  internal/services/resource/parse/resource_group_template_deployment.go
  internal/services/resource/parse/resource_group_template_deployment_test.go
  internal/services/resource/resource_group_data_source.go
  internal/services/resource/resource_group_resource.go
  internal/services/resource/resourceids.go
  internal/services/resource/template_deployment_resource.go
  internal/services/servicebus/servicebus_namespace_disaster_recovery_config_data_source.go
  internal/services/streamanalytics/registration.go
  internal/services/streamanalytics/stream_analytics_function_javascript_udf_resource.go
  internal/services/streamanalytics/stream_analytics_job_data_source.go
  internal/services/streamanalytics/stream_analytics_output_blob_resource.go
  internal/services/streamanalytics/stream_analytics_output_eventhub_resource.go
  internal/services/streamanalytics/stream_analytics_output_mssql_resource.go
  internal/services/streamanalytics/stream_analytics_output_servicebus_queue_resource.go
  internal/services/subscription/data_source_subscription.go
  internal/services/synapse/synapse_workspace_data_source.go
  internal/services/trafficmanager/traffic_manager_geographical_location_data_source.go
Labels: size/XL, refactor

#14418 Fixing #14417
  website/docs/r/synapse_sql_pool_extended_auditing_policy.html.markdown
Labels: bug, documentation, size/XS, service/synapse

#14419 `azurerm_container_group` Fix #9831 by change `dns_config.search_domains` and `dns_config.options` from `Required` to `Optional`
  internal/services/containers/container_group_resource.go
  website/docs/r/container_group.html.markdown
Labels: bug, documentation, size/XS, service/container-group

#14416 Public IP Document bug fix for issue #12979
  website/docs/r/public_ip.html.markdown
Labels: documentation, size/XS

#14440 `azurerm_synapse_sql_pool_extended_auditing_policy` - Fix fmt issue
  website/docs/r/synapse_sql_pool_extended_auditing_policy.html.markdown
Labels: documentation, size/XS

#14443 Fixed Audit policy Docs
  website/docs/r/mssql_database_extended_auditing_policy.html.markdown
  website/docs/r/mssql_server_extended_auditing_policy.html.markdown
  website/docs/r/virtual_machine_extension.html.markdown
Labels: documentation, size/XS, service/mssql

#14425 Added windows Example
  website/docs/r/virtual_machine_extension.html.markdown
Labels: documentation, service/virtual-machine-extensions, size/XS

#14447 scripts: adding an import-check for Track2 of the Azure SDK for Go
  GNUmakefile
  scripts/track2-check.sh
Labels: size/S, tooling

#14446 Move virtual machine extension snippet in docs to example
  examples/virtual-machines/windows/vm-custom-extension/README.md
  examples/virtual-machines/windows/vm-custom-extension/main.tf
  examples/virtual-machines/windows/vm-custom-extension/vars.tf
  website/docs/r/virtual_machine_extension.html.markdown
Labels: documentation, service/virtual-machine-extensions, size/M, examples

#14428 msi: updating the embedded sdk
  internal/services/msi/sdk/2018-11-30/managedidentity/id_resourcegroup.go
  internal/services/msi/sdk/2018-11-30/managedidentity/id_resourcegroup_test.go
  internal/services/msi/sdk/2018-11-30/managedidentity/id_scope.go
  internal/services/msi/sdk/2018-11-30/managedidentity/id_scope_test.go
  internal/services/msi/sdk/2018-11-30/managedidentity/id_subscription.go
  internal/services/msi/sdk/2018-11-30/managedidentity/id_subscription_test.go
  internal/services/msi/sdk/2018-11-30/managedidentity/id_userassignedidentities.go
  internal/services/msi/sdk/2018-11-30/managedidentity/id_userassignedidentities_test.go
  internal/services/msi/sdk/2018-11-30/managedidentity/method_systemassignedidentitiesgetbyscope_autorest.go
  internal/services/msi/sdk/2018-11-30/managedidentity/predicates.go
  internal/services/msi/user_assigned_identity_resource.go
Labels: size/XL

#14449 scripts: removing the brackets
  .github/workflows/depscheck.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/gradually-deprecated.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  scripts/track2-check.sh
Labels: bug, size/XS, tooling

#14441 eventhub_namespace - Correct the default capacity specified as 2.
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, size/XS

#14445 `azurerm_subscription` - add support for setting and updating tags
  internal/services/resource/client/client.go
  internal/services/subscription/subscription_resource.go
  website/docs/r/subscription.html.markdown
Labels: enhancement, documentation, size/S, service/subscription

#14458 `r\iothub_endpoint_storage_container`: Fix `file_name_format` Schema
  internal/services/iothub/iothub_endpoint_storage_container_resource.go
Labels: bug, size/XS, service/iot-hub

#14457 Document: Fix ACR bad example
  website/docs/r/container_registry.html.markdown
Labels: documentation, size/XS, service/container-registry

#14464 Automation datasource initialization issue
  internal/services/automation/automation_account_data_source.go
  internal/services/automation/automation_account_resource.go
Labels: bug, size/XS, service/automation

#14431 refactor: resource id's part 3
  internal/services/cdn/cdn_profile_data_source.go
  internal/services/eventgrid/eventgrid_topic_data_source.go
  internal/services/hdinsight/hdinsight_cluster_data_source.go
  internal/services/maintenance/maintenance_configuration_data_source.go
  internal/services/sql/sql_administrator_resource.go
  internal/services/sql/sql_database_resource.go
  internal/services/sql/sql_failover_group_resource.go
  internal/services/sql/sql_firewall_rule_resource.go
  internal/services/sql/sql_server_data_source.go
  internal/services/sql/sql_server_resource.go
  internal/services/sql/sql_virtual_network_rule_resource.go
  internal/services/storage/storage_account_data_source.go
  internal/services/storage/storage_sync_cloud_endpoint_resource.go
  internal/services/storage/storage_sync_data_source.go
  internal/services/storage/storage_sync_group_data_source.go
  internal/services/storage/storage_sync_group_resource.go
  internal/services/storage/storage_sync_resource.go
Labels: size/XL, refactor

#14459 Fix Logz test cases probabilistic failure issue
  internal/services/logz/logz_monitor_resource_test.go
  internal/services/logz/logz_tag_rule_resource_test.go
Labels: size/M, tests, service/logz

#14414 Add retry for APIM subscription creation 412 error code
  internal/services/apimanagement/api_management_subscription_resource.go
Labels: bug, size/XS, service/api-management

#13825 `r/azurerm_managed_disk`: Add support for `hyper_v_generation` property
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/managed_disk_resource_test.go
  website/docs/r/managed_disk.html.markdown
Labels: enhancement, documentation, service/disks, size/M

#14475 `r/azurerm_storage_object_replication` Fix #14454 by adding a nil check.
  internal/services/storage/storage_object_replication_resource.go
Labels: bug, service/storage, size/XS

#14287 azurerm_key_vault_certificate - support versionless_id, versionless_secret_id
  internal/services/keyvault/key_vault_certificate_data_source.go
  internal/services/keyvault/key_vault_certificate_data_source_test.go
  internal/services/keyvault/key_vault_certificate_resource.go
  internal/services/keyvault/key_vault_certificate_resource_test.go
  website/docs/d/key_vault_certificate.html.markdown
  website/docs/r/key_vault_certificate.html.markdown
Labels: enhancement, documentation, service/keyvault, size/S

#14372 `service/netapp`: Various additions
  internal/services/netapp/netapp_pool_resource.go
  internal/services/netapp/netapp_pool_resource_test.go
  internal/services/netapp/netapp_volume_resource.go
  internal/services/netapp/netapp_volume_resource_test.go
  website/docs/r/netapp_pool.html.markdown
  website/docs/r/netapp_volume.html.markdown
Labels: enhancement, documentation, size/S, service/netapp

#14123 `azurerm_sql_managed_instance`: Support for `storage_account_type`
  internal/services/sql/client/client.go
  internal/services/sql/sql_managed_instance_resource.go
  internal/services/sql/sql_managed_instance_resource_test.go
  website/docs/r/sql_managed_instance.html.markdown
Labels: enhancement, documentation, size/M, service/mssql

#14432 frontdoor: updating the embedded sdk
  internal/services/frontdoor/frontdoor_custom_https_configuration_resource.go
  internal/services/frontdoor/frontdoor_firewall_policy_resource.go
  internal/services/frontdoor/frontdoor_resource.go
  internal/services/frontdoor/sdk/2020-04-01/checkfrontdoornameavailability/constants.go
  internal/services/frontdoor/sdk/2020-04-01/checkfrontdoornameavailabilitywithsubscription/constants.go
  internal/services/frontdoor/sdk/2020-04-01/checkfrontdoornameavailabilitywithsubscription/id_subscription.go
  internal/services/frontdoor/sdk/2020-04-01/checkfrontdoornameavailabilitywithsubscription/id_subscription_test.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/constants.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/id_frontdoor.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/id_frontdoor_test.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/id_frontendendpoint.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/id_frontendendpoint_test.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/id_resourcegroup.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/id_resourcegroup_test.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/id_rulesengine.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/id_rulesengine_test.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/id_subscription.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/id_subscription_test.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/model_forwardingconfiguration.go
  internal/services/frontdoor/sdk/2020-04-01/frontdoors/model_redirectconfiguration.go
  internal/services/frontdoor/sdk/2020-04-01/webapplicationfirewallmanagedrulesets/constants.go
  internal/services/frontdoor/sdk/2020-04-01/webapplicationfirewallmanagedrulesets/id_subscription.go
  internal/services/frontdoor/sdk/2020-04-01/webapplicationfirewallmanagedrulesets/id_subscription_test.go
  internal/services/frontdoor/sdk/2020-04-01/webapplicationfirewallpolicies/constants.go
  internal/services/frontdoor/sdk/2020-04-01/webapplicationfirewallpolicies/id_frontdoorwebapplicationfirewallpolicies.go
  internal/services/frontdoor/sdk/2020-04-01/webapplicationfirewallpolicies/id_frontdoorwebapplicationfirewallpolicies_test.go
  internal/services/frontdoor/sdk/2020-04-01/webapplicationfirewallpolicies/id_resourcegroup.go
  internal/services/frontdoor/sdk/2020-04-01/webapplicationfirewallpolicies/id_resourcegroup_test.go
  internal/services/frontdoor/sdk/2020-05-01/checkfrontdoornameavailability/constants.go
  internal/services/frontdoor/sdk/2020-05-01/checkfrontdoornameavailabilitywithsubscription/constants.go
  internal/services/frontdoor/sdk/2020-05-01/checkfrontdoornameavailabilitywithsubscription/id_subscription.go
  internal/services/frontdoor/sdk/2020-05-01/checkfrontdoornameavailabilitywithsubscription/id_subscription_test.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/constants.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/id_frontdoor.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/id_frontdoor_test.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/id_frontendendpoint.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/id_frontendendpoint_test.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/id_resourcegroup.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/id_resourcegroup_test.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/id_rulesengine.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/id_rulesengine_test.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/id_subscription.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/id_subscription_test.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/model_forwardingconfiguration.go
  internal/services/frontdoor/sdk/2020-05-01/frontdoors/model_redirectconfiguration.go
Labels: size/XL

#14391 `azurerm_data_fatory_trigger_schedule` - Fix `schedule` for `frequency = "Month/Week"`
  internal/services/datafactory/data_factory_trigger_schedule_resource.go
  internal/services/datafactory/data_factory_trigger_schedule_resource_test.go
Labels: bug, size/M, service/data-factory

#14483 Remove interpolation syntax. Deprecated as of Terraform 0.12+.
  website/docs/d/cognitive_account.html.markdown
  website/docs/d/database_migration_project.html.markdown
  website/docs/d/database_migration_service.html.markdown
  website/docs/d/eventhub_authorization_rule.html.markdown
  website/docs/d/eventhub_consumer_group.html.markdown
  website/docs/d/monitor_scheduled_query_rules_alert.html.markdown
  website/docs/d/monitor_scheduled_query_rules_log.html.markdown
  website/docs/d/servicebus_topic_authorization_rule.html.markdown
  website/docs/d/spring_cloud_service.html.markdown
  website/docs/r/automation_connection_certificate.html.markdown
  website/docs/r/bot_channel_email.html.markdown
  website/docs/r/bot_channel_ms_teams.html.markdown
  website/docs/r/bot_channel_slack.html.markdown
  website/docs/r/bot_channels_registration.html.markdown
  website/docs/r/bot_connection.html.markdown
  website/docs/r/bot_web_app.html.markdown
Labels: documentation, size/S

#14480 `azurerm_linux_virtual_machine_scale_set` - add test case for ilpip
  internal/services/compute/linux_virtual_machine_resource_auth_test.go
  internal/services/compute/linux_virtual_machine_scale_set_auth_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_extensions_test.go
  internal/services/compute/linux_virtual_machine_scale_set_identity_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_images_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_network_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_scaling_resource_test.go
  internal/services/compute/windows_virtual_machine_resource_auth_test.go
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_resource_identity_test.go
  internal/services/compute/windows_virtual_machine_resource_images_test.go
  internal/services/compute/windows_virtual_machine_resource_network_test.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_resource_scaling_test.go
  internal/services/compute/windows_virtual_machine_scale_set_auth_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_extensions_test.go
  internal/services/compute/windows_virtual_machine_scale_set_identity_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_images_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_network_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_scaling_resource_test.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XL, tests

#14462 Bot Service base resource and scoped resource `azurerm_bot_service_azure_bot`
  internal/provider/services.go
  internal/services/bot/bot_service_azure_bot_resource.go
  internal/services/bot/bot_service_azure_bot_resource_test.go
  internal/services/bot/bot_service_base_resource.go
  internal/services/bot/registration.go
  website/docs/r/bot_service_azure_bot.html.markdown
Labels: documentation, new-resource, size/XL, service/bots

#14493 Modified the casing
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, size/XS

#14461 Modified the docs of resource_group_policy_assignment
  website/docs/r/resource_group_policy_assignment.html.markdown
Labels: documentation, size/XS

#14486 [Doc] `r/azurerm_cosmosdb_account` Fix example code in resource document.
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, size/XS

#14490 NetApp: Fix returned name in netapp_volume datasource
  internal/services/netapp/netapp_volume_data_source.go
Labels: size/XS, service/netapp

#14177 Adding `http_proxy_config` to `azurerm_kubernetes_cluster`
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, waiting-response, size/XL, service/kubernetes-cluster, preview

#14104 New Resource: `azurerm_sql_managed_instance_active_directory_administrator`
  internal/services/sql/client/client.go
  internal/services/sql/parse/managed_instance_azure_active_directory_administrator.go
  internal/services/sql/parse/managed_instance_azure_active_directory_administrator_test.go
  internal/services/sql/registration.go
  internal/services/sql/resourceids.go
  internal/services/sql/sql_managed_instance_administrator_resource.go
  internal/services/sql/sql_managed_instance_administrator_resource_test.go
  internal/services/sql/validate/managed_instance_azure_active_directory_administrator_id.go
  internal/services/sql/validate/managed_instance_azure_active_directory_administrator_id_test.go
  website/docs/r/sql_managed_instance_active_directory_administrator.html.markdown
Labels: documentation, size/XL, service/mssql, new-virtual-resource

#14494 Fix #12884 by change eventhub name length upper limitation from 50 to 256.
  internal/services/eventhub/eventhub_cluster_resource.go
  internal/services/eventhub/helpers_test.go
  internal/services/eventhub/validate/eventhub_names.go
  internal/services/monitor/monitor_aad_diagnostic_setting_resource.go
Labels: size/S, service/event-hubs

#14503 Remove invalid validation from azurerm_firewall_policy_rule_collection_group
  internal/services/firewall/firewall_policy_rule_collection_group_resource.go
Labels: size/XS, service/firewall

#14492 `azurerm_data_factory_linked_service_*` rename `data_factory_name` to `data_factory_id`
  internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource_test.go
  internal/services/datafactory/data_factory_linked_service_azure_databricks_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_databricks_resource_test.go
  internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource_test.go
  internal/services/datafactory/data_factory_linked_service_azure_function_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_function_resource_test.go
  internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource_test.go
  internal/services/datafactory/data_factory_linked_service_azure_table_storage_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_table_storage_resource_test.go
  internal/services/datafactory/data_factory_linked_service_cosmosdb_mongoapi_resource.go
  internal/services/datafactory/data_factory_linked_service_cosmosdb_mongoapi_resource_test.go
  internal/services/datafactory/data_factory_linked_service_cosmosdb_resource.go
  internal/services/datafactory/data_factory_linked_service_cosmosdb_resource_test.go
  internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource.go
  internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource_test.go
  internal/services/datafactory/data_factory_linked_service_key_vault_resource.go
  internal/services/datafactory/data_factory_linked_service_key_vault_resource_test.go
  internal/services/datafactory/data_factory_linked_service_mysql_resource.go
  internal/services/datafactory/data_factory_linked_service_mysql_resource_test.go
  internal/services/datafactory/data_factory_linked_service_odata_resource.go
  internal/services/datafactory/data_factory_linked_service_odata_resource_test.go
  internal/services/datafactory/data_factory_linked_service_postgresql_resource.go
  internal/services/datafactory/data_factory_linked_service_postgresql_resource_test.go
  internal/services/datafactory/data_factory_linked_service_sftp_resource.go
  internal/services/datafactory/data_factory_linked_service_sftp_resource_test.go
  internal/services/datafactory/data_factory_linked_service_snowflake_resource.go
  internal/services/datafactory/data_factory_linked_service_snowflake_resource_test.go
  internal/services/datafactory/data_factory_linked_service_sql_server_resource.go
  internal/services/datafactory/data_factory_linked_service_sql_server_resource_test.go
  internal/services/datafactory/data_factory_linked_service_synapse_resource.go
  internal/services/datafactory/data_factory_linked_service_synapse_resource_test.go
  internal/services/datafactory/data_factory_linked_service_web_resource.go
  internal/services/datafactory/data_factory_linked_service_web_resource_test.go
  website/docs/r/data_factory_linked_service_azure_blob_storage.html.markdown
  website/docs/r/data_factory_linked_service_azure_databricks.html.markdown
  website/docs/r/data_factory_linked_service_azure_file_storage.html.markdown
  website/docs/r/data_factory_linked_service_azure_function.html.markdown
  website/docs/r/data_factory_linked_service_azure_sql_database.html.markdown
  website/docs/r/data_factory_linked_service_azure_table_storage.html.markdown
  website/docs/r/data_factory_linked_service_cosmosdb.html.markdown
  website/docs/r/data_factory_linked_service_cosmosdb_mongoapi.html.markdown
  website/docs/r/data_factory_linked_service_data_lake_storage_gen2.html.markdown
  website/docs/r/data_factory_linked_service_key_vault.html.markdown
  website/docs/r/data_factory_linked_service_mysql.html.markdown
  website/docs/r/data_factory_linked_service_odata.html.markdown
  website/docs/r/data_factory_linked_service_postgresql.html.markdown
  website/docs/r/data_factory_linked_service_sftp.html.markdown
  website/docs/r/data_factory_linked_service_snowflake.html.markdown
  website/docs/r/data_factory_linked_service_sql_server.html.markdown
  website/docs/r/data_factory_linked_service_synapse.html.markdown
  website/docs/r/data_factory_linked_service_web.html.markdown
Labels: documentation, size/XL, service/data-factory, deprecation

#14491 `azurerm_app_service_environment_v3` - allow updating of `tags`
  internal/services/web/app_service_environment_v3_data_source.go
  internal/services/web/app_service_environment_v3_resource.go
  internal/services/web/app_service_environment_v3_resource_test.go
Labels: enhancement, size/S, service/app-service

#14360 azurerm_signalr_service - deprecate features block in favour of connectivity_logs_enabled, messaging_logs_enabled and service_mode
  internal/services/signalr/signalr_service_resource.go
  internal/services/signalr/signalr_service_resource_test.go
  website/docs/r/signalr_service.html.markdown
Labels: enhancement, documentation, waiting-response, size/L, service/signalr

#14308 Add support for azure-keyvault-secrets-provider AKS addon
  internal/services/containers/kubernetes_addons.go
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_data_source_test.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/XL, service/kubernetes-cluster

#14515 Remove wrappers for all `azurerm_kubernetes_*` acc tests
  internal/services/containers/helpers_test.go
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/containers/kubernetes_cluster_auth_resource_test.go
  internal/services/containers/kubernetes_cluster_data_source_test.go
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_node_pool_data_source_test.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  internal/services/containers/kubernetes_cluster_scaling_resource_test.go
  internal/services/containers/kubernetes_cluster_upgrade_test.go
Labels: size/XL, service/kubernetes-cluster, refactor, tests

#14504 [Document] `r\azurerm_kubernetes_cluster_node_pool` Fix incorrect subnet description
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#14517 Update `azurerm_function_app` `storage_account_access_key` docs
  website/docs/r/function_app.html.markdown
Labels: documentation, size/XS

#14511 Update: Containers in security center pricing
  internal/services/securitycenter/security_center_subscription_pricing_resource.go
  website/docs/r/security_center_subscription_pricing.html.markdown
Labels: documentation, size/XS, service/security-center

#14538 App Service Beta - property consistency renames carried from 14247 and 14305
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/web_app_schema.go
  internal/services/appservice/helpers/web_app_slot_schema.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_web_app_data_source.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  internal/services/appservice/service_plan_data_source.go
  internal/services/appservice/service_plan_resource.go
  internal/services/appservice/service_plan_resource_test.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_web_app_data_source.go
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_resource_test.go
  website/docs/d/linux_web_app.html.markdown
  website/docs/d/windows_web_app.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, breaking-change, size/XL, service/app-service

#14543 Amended example in doc as incorrect
  website/docs/r/eventgrid_system_topic_event_subscription.html.markdown
Labels: documentation, size/XS

#14547 Tooling: update linter config and remove lintignores
  internal/services/apimanagement/api_management_api_schema_resource.go
  internal/services/authorization/role_assignment_resource.go
  internal/services/eventhub/eventhub_authorization_rule_resource.go
  internal/services/eventhub/eventhub_cluster_resource.go
  internal/services/keyvault/internal.go
  internal/services/maintenance/maintenance_assignment_dedicated_host_resource.go
  internal/services/maintenance/maintenance_assignment_virtual_machine_resource.go
  internal/services/network/virtual_network_peering_resource.go
  internal/services/web/function_app_host_keys_data_source.go
  scripts/run-tflint.sh
Labels: size/XS, tooling

#13974 `azurerm_sql_managed_instance_failover_group`: New resource
  examples/sql-azure/managed_instance_failover_group/main.tf
  examples/sql-azure/managed_instance_failover_group/modules/sql_managed_instance/main.tf
  examples/sql-azure/managed_instance_failover_group/modules/sql_managed_instance/output.tf
  examples/sql-azure/managed_instance_failover_group/modules/sql_managed_instance/variables.tf
  examples/sql-azure/managed_instance_failover_group/modules/vnet_gateway/main.tf
  examples/sql-azure/managed_instance_failover_group/modules/vnet_gateway/variables.tf
  internal/services/sql/client/client.go
  internal/services/sql/parse/instance_failover_group.go
  internal/services/sql/parse/instance_failover_group_test.go
  internal/services/sql/registration.go
  internal/services/sql/resourceids.go
  internal/services/sql/sql_managed_instance_failover_group_resource.go
  internal/services/sql/sql_managed_instance_failover_group_resource_test.go
  internal/services/sql/sql_managed_instance_resource.go
  internal/services/sql/sql_managed_instance_resource_test.go
  internal/services/sql/validate/instance_failover_group_id.go
  internal/services/sql/validate/instance_failover_group_id_test.go
  website/docs/r/sql_managed_instance.html.markdown
  website/docs/r/sql_managed_instance_failover_group.html.markdown
Labels: documentation, new-resource, size/XL, service/mssql

#14553 BUG: remove eroneous validate
  internal/services/appservice/linux_web_app_data_source.go
Labels: size/XS

#14552 Improve documentation around Azure Portal and Azure filter range
  examples/cosmos-db/failover/main.tf
  examples/private-endpoint/cosmos-db/main.tf
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, size/XS, service/cosmosdb, examples

#14534 More relevant / standard route_table name
  website/docs/r/route_table.html.markdown
Labels: documentation, service/route-tables, size/XS

#14526 Unify managed disk test name
  internal/services/compute/managed_disk_resource_test.go
Labels: service/disks, size/S, tests

#14411 New Resource: `azurerm_consumption_budget_management_group`
  internal/services/consumption/consumption_budget_common.go
  internal/services/consumption/consumption_budget_management_group_resource.go
  internal/services/consumption/consumption_budget_management_group_resource_test.go
  internal/services/consumption/consumption_budget_resource_group_resource.go
  internal/services/consumption/consumption_budget_subscription_resource.go
  internal/services/consumption/helpers.go
  internal/services/consumption/parse/consumption_budget_management_group.go
  internal/services/consumption/parse/consumption_budget_management_group_test.go
  internal/services/consumption/registration.go
  internal/services/consumption/schema.go
  internal/services/consumption/validate/consumption_budget_management_group_id.go
  internal/services/consumption/validate/consumption_budget_management_group_id_test.go
  website/docs/r/consumption_budget_management_group.html.markdown
Labels: documentation, new-resource, size/XL, service/consumption

#14376 Change PostgreSQL password after instance was promoted from Replica to Default mode
  internal/services/postgres/postgresql_server_resource.go
  internal/services/postgres/postgresql_server_resource_test.go
Labels: enhancement, size/M, service/postgresql

#14371 azurerm_vpn_gateway_connection - support routing.propagated_route_table.labels, vpn_link.connection_mode and traffic_selector_policy
  internal/services/network/vpn_gateway_connection_resource.go
  internal/services/network/vpn_gateway_connection_resource_test.go
  website/docs/r/vpn_gateway_connection.html.markdown
Labels: enhancement, documentation, size/XL, service/vpn

#14554 `azurerm_kubernetes_cluster` allow Azure Policy addon for Azure Government
  internal/services/containers/kubernetes_addons.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/XS, service/kubernetes-cluster, azure/government

#14528 `r\shared_image` Add support for `trusted_launch_enabled`
  internal/services/compute/shared_image_resource.go
  internal/services/compute/shared_image_resource_test.go
  website/docs/r/shared_image.html.markdown
Labels: documentation, service/images, size/M

#14505 [Bug fix] - fix the `key_vault_managed_hardware_security_module` resource destruction timeout issue[GH issue #14163]
  internal/services/keyvault/key_vault_managed_hardware_security_module_data_source.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_resource.go
Labels: size/XS, service/hsm

#14571 Feature/#14570 asev3 doc typo
  website/docs/r/app_service_environment_v3.html.markdown
Labels: documentation, size/XS

#14438 `azurerm_virtual_hub_ip` - Make `public_ip_address_id` required for new instance and ForceNew
  internal/services/network/virtual_hub_ip_resource.go
  website/docs/r/virtual_hub_ip.html.markdown
Labels: documentation, size/XS, service/virtual-hub

#14584 Fix #12001 by correct document `resource_type` from "Required" to "Optional".
  website/docs/r/security_center_subscription_pricing.html.markdown
Labels: documentation, size/XS, service/security-center

#14585 [Document]`r\azurerm_api_management_api_version_set` Fix #14576 by adding `name` and `api_management_name`'s validation messages to document.
  website/docs/r/api_management_api_version_set.html.markdown
Labels: documentation, size/XS, service/api-management

#14595 Added SQL MI Private Endpoint Info because it was missing.
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, size/XS, service/private-link

#14589 Doc Fix: `azurerm_windows_virtual_machine` - remove out of date `patch_mode` note
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, size/XS

#14593 azurerm_data_factory_integration_runtime_azure_ssis - updated docs with new pricing tier options
  website/docs/r/data_factory_integration_runtime_azure_ssis.html.markdown
Labels: documentation, size/XS, service/data-factory

#14587 Update doc with full address of standby_availability_zone for azurerm_postgresql_flexible_server
  internal/services/postgres/postgresql_flexible_server_resource.go
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation, size/XS, service/postgresql

#14362 azurerm_cosmosdb_account - support create_mode and restore
  internal/services/cosmos/client/client.go
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  internal/services/cosmos/cosmosdb_restorable_database_accounts_data_source.go
  internal/services/cosmos/cosmosdb_restorable_database_accounts_data_source_test.go
  internal/services/cosmos/parse/restorable_database_account.go
  internal/services/cosmos/parse/restorable_database_account_test.go
  internal/services/cosmos/registration.go
  internal/services/cosmos/resourceids.go
  internal/services/cosmos/validate/restorable_database_account_id.go
  internal/services/cosmos/validate/restorable_database_account_id_test.go
  website/docs/d/cosmosdb_restorable_database_accounts.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
Labels: enhancement, documentation, size/XL, service/cosmosdb

#14602 [Document]`r\azurerm_private_link_service` The `network_interfaces` attribute seems never existed.
  website/docs/r/private_link_service.html.markdown
Labels: documentation, service/virtual-networks, size/XS

#13648 `data.azurerm_function_app_host_keys` - support for `signalr_extension_key` and `durabletask_extension_key`
  internal/services/web/function_app_host_keys_data_source.go
  website/docs/d/function_app_host_keys.html.markdown
Labels: enhancement, documentation, size/XS, service/functions

#14620 dependencies: updating github.com/hashicorp/go-azure-helpers to v0.19.0
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_system_or_user.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_and_user_assigned_list.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_and_user_assigned_map.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_or_user_assigned_list.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_or_user_assigned_map.go
  vendor/modules.txt
Labels: dependencies, size/XL

#14610 `azurerm_data_factory_*` rename data_factory_name to data_factory_id
  internal/services/datafactory/data_factory_dataset_azure_blob_resource.go
  internal/services/datafactory/data_factory_dataset_azure_blob_resource_test.go
  internal/services/datafactory/data_factory_dataset_binary_resource.go
  internal/services/datafactory/data_factory_dataset_binary_resource_test.go
  internal/services/datafactory/data_factory_dataset_cosmosdb_sqlapi_resource.go
  internal/services/datafactory/data_factory_dataset_cosmosdb_sqlapi_resource_test.go
  internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  internal/services/datafactory/data_factory_dataset_delimited_text_resource_test.go
  internal/services/datafactory/data_factory_dataset_http_resource.go
  internal/services/datafactory/data_factory_dataset_http_resource_test.go
  internal/services/datafactory/data_factory_dataset_json_resource.go
  internal/services/datafactory/data_factory_dataset_json_resource_test.go
  internal/services/datafactory/data_factory_dataset_mysql_resource.go
  internal/services/datafactory/data_factory_dataset_mysql_resource_test.go
  internal/services/datafactory/data_factory_dataset_parquet_resource.go
  internal/services/datafactory/data_factory_dataset_parquet_resource_test.go
  internal/services/datafactory/data_factory_dataset_postgresql_resource.go
  internal/services/datafactory/data_factory_dataset_postgresql_resource_test.go
  internal/services/datafactory/data_factory_dataset_snowflake_resource.go
  internal/services/datafactory/data_factory_dataset_snowflake_resource_test.go
  internal/services/datafactory/data_factory_dataset_sql_server_table_resource.go
  internal/services/datafactory/data_factory_dataset_sql_server_table_resource_test.go
  internal/services/datafactory/data_factory_integration_runtime_azure_resource.go
  internal/services/datafactory/data_factory_integration_runtime_azure_resource_test.go
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource.go
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource_test.go
  internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource.go
  internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource_test.go
  internal/services/datafactory/data_factory_pipeline_resource.go
  internal/services/datafactory/data_factory_pipeline_resource_test.go
  internal/services/datafactory/data_factory_trigger_schedule_resource.go
  internal/services/datafactory/data_factory_trigger_schedule_resource_test.go
  website/docs/r/data_factory_dataset_azure_blob.html.markdown
  website/docs/r/data_factory_dataset_binary.html.markdown
  website/docs/r/data_factory_dataset_cosmosdb_sqlapi.html.markdown
  website/docs/r/data_factory_dataset_delimited_text.html.markdown
  website/docs/r/data_factory_dataset_http.html.markdown
  website/docs/r/data_factory_dataset_json.html.markdown
  website/docs/r/data_factory_dataset_mysql.html.markdown
  website/docs/r/data_factory_dataset_parquet.html.markdown
  website/docs/r/data_factory_dataset_postgresql.html.markdown
  website/docs/r/data_factory_dataset_snowflake.html.markdown
  website/docs/r/data_factory_dataset_sql_server_table.html.markdown
  website/docs/r/data_factory_integration_runtime_azure.html.markdown
  website/docs/r/data_factory_integration_runtime_azure_ssis.html.markdown
  website/docs/r/data_factory_integration_runtime_self_hosted.html.markdown
  website/docs/r/data_factory_pipeline.html.markdown
  website/docs/r/data_factory_trigger_blob_event.html.markdown
  website/docs/r/data_factory_trigger_custom_event.html.markdown
  website/docs/r/data_factory_trigger_schedule.html.markdown
  website/docs/r/data_factory_tumbling_window.html.markdown
Labels: documentation, size/XL, service/data-factory, deprecation

#14621 [Document]`r\azurerm_sunet` `enforce_private_link_endpoint_network_policies` and `enforce_private_link_service_network_policies` are not conflict to each other anymore as schema shows.
  website/docs/r/subnet.html.markdown
Labels: documentation, service/virtual-networks, size/XS

#14533 New resource: `azurerm_container_registry_task`
  internal/provider/services.go
  internal/services/containers/client/client.go
  internal/services/containers/container_registry_task_resource.go
  internal/services/containers/container_registry_task_resource_test.go
  internal/services/containers/parse/container_registry_task.go
  internal/services/containers/parse/container_registry_task_test.go
  internal/services/containers/registration.go
  internal/services/containers/resourceids.go
  internal/services/containers/validate/container_registry_task_id.go
  internal/services/containers/validate/container_registry_task_id_test.go
  internal/services/containers/validate/container_registry_task_name.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/agentpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/registries.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/replications.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/runs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/scopemaps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/taskruns.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/tasks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/tokens.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/webhooks.go
  vendor/modules.txt
  website/docs/r/container_registry_task.html.markdown
Labels: documentation, dependencies, size/XL, service/container-registry

#14627 dependencies: upgrading to v0.19.1 of github.com/hashicorp/go-azure-helpers
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_and_user_assigned_map.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_or_user_assigned_map.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/user_assigned_map.go
  vendor/modules.txt
Labels: dependencies, size/XS

#14603 Fix issue #14381
  internal/services/resource/resource_group_template_deployment_resource_test.go
  internal/services/resource/template_deployment_common.go
Labels: bug, size/L

#14631 Updated link that leads to incorrect section
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, size/XS, service/private-link

#14614 Crash Fix: `azurerm_marketplace_agreement`
  internal/services/compute/marketplace_agreement_resource.go
Labels: crash, size/S, service/marketplace

#14583 `azurerm_application_gateway ` - support for private link configuration
  examples/private-endpoint/application-gateway/README.md
  examples/private-endpoint/application-gateway/main.tf
  examples/private-endpoint/application-gateway/variables.tf
  internal/services/network/application_gateway_resource.go
  internal/services/network/application_gateway_resource_test.go
  internal/services/network/parse/application_gateway_private_link_configuration.go
  internal/services/network/parse/application_gateway_private_link_configuration_test.go
  internal/services/network/validate/application_gateway_private_link_configuration_id.go
  internal/services/network/validate/application_gateway_private_link_configuration_id_test.go
  website/docs/r/application_gateway.html.markdown
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, size/XL, service/application-gateway

#14590 azurem_signalr - check serviceMode is not empty
  internal/services/signalr/signalr_service_resource.go
  internal/services/signalr/signalr_service_resource_test.go
Labels: bug, size/XS, service/signalr

#14484 New data source `azurerm_app_configuration_key`
  internal/services/appconfiguration/app_configuration_key_data_source.go
  internal/services/appconfiguration/app_configuration_key_data_source_test.go
  internal/services/appconfiguration/app_configuration_key_resource_test.go
  internal/services/appconfiguration/registration.go
  website/docs/d/app_configuration_key.html.markdown
Labels: documentation, new-data-source, size/XL, service/app-configuration

#14647 Fix failing test
  internal/services/appconfiguration/app_configuration_key_resource_test.go
Labels: bug, size/XS, service/app-configuration

#14623 `azurerm_app_service_environment_v3` remove preview note from docs
  website/docs/r/app_service_environment_v3.html.markdown
Labels: documentation, size/XS, service/app-service

#14508 azurerm_iothub - Fix iothub `encoding` and `file_name_format` schema
  internal/services/iothub/iothub_endpoint_storage_container_resource.go
  internal/services/iothub/iothub_endpoint_storage_container_resource_test.go
  internal/services/iothub/iothub_resource.go
  internal/services/iothub/iothub_resource_test.go
  website/docs/r/iothub.html.markdown
  website/docs/r/iothub_endpoint_storage_container.html.markdown
Labels: documentation, size/M, service/iot-hub

#14619 Add lock for the write operation of azurerm_postgresql_configuration
  internal/services/postgres/postgresql_configuration_resource.go
  internal/services/postgres/postgresql_configuration_resource_test.go
Labels: enhancement, size/M, service/postgresql

#14607 Add lock for the write operation of azurerm_postgresql_flexible_server_configuration
  internal/services/postgres/postgresql_flexible_server_configuration_resource.go
  internal/services/postgres/postgresql_flexible_server_configuration_resource_test.go
  internal/services/postgres/postgresql_flexible_server_resource.go
Labels: bug, size/M, service/postgresql

#14638 `azurerm_function_app` - address app_settings on create rather than just on update
  internal/services/web/function_app.go
  internal/services/web/function_app_resource.go
  internal/services/web/function_app_resource_test.go
Labels: size/S, service/functions

#14546 azurerm_iothub - Add support for cloud_to_device block
  internal/services/iothub/iothub_resource.go
  internal/services/iothub/iothub_resource_test.go
  website/docs/r/iothub.html.markdown
Labels: enhancement, documentation, size/L, service/iot-hub

#14649 Fixed #12408: Import Correction
  website/docs/r/monitor_scheduled_query_rules_alert.html.markdown
Labels: documentation, size/XS, service/monitor

#14650 add `make pr-check` and make generate check error message more clear
  GNUmakefile
Labels: size/XS

#14643 `r\azurerm_cosmosdb_account` Fix #14439 and #14630 by setting default value to `default_identity_type` when API return a nil.
  internal/services/cosmos/cosmosdb_account_resource.go
Labels: bug, size/XS, service/cosmosdb

#14646 `azurerm_signalr` - Add support for property `live_trace_enabled`
  internal/services/signalr/signalr_service_resource.go
  internal/services/signalr/signalr_service_resource_test.go
  website/docs/r/signalr_service.html.markdown
Labels: enhancement, documentation, size/S, service/signalr

#14632 `azurerm_iothub_endpoint_eventhub` - deprecate `iothub_name` in favour of `iothub_id`
  internal/services/iothub/iothub_endpoint_eventhub_resource.go
  internal/services/iothub/iothub_endpoint_eventhub_resource_test.go
  website/docs/r/iothub_endpoint_eventhub.html.markdown
Labels: documentation, size/L, service/iot-hub, deprecation

#14412 new resource "azurerm_synapse_sql_pool_workload_classifier"
  internal/services/synapse/client/client.go
  internal/services/synapse/parse/sql_pool_workload_classifier.go
  internal/services/synapse/parse/sql_pool_workload_classifier_test.go
  internal/services/synapse/registration.go
  internal/services/synapse/resourceids.go
  internal/services/synapse/synapse_sql_pool_workload_classifier_resource.go
  internal/services/synapse/synapse_sql_pool_workload_classifier_resource_test.go
  internal/services/synapse/validate/sql_pool_workload_classifier_id.go
  internal/services/synapse/validate/sql_pool_workload_classifier_id_test.go
  website/docs/r/synapse_sql_pool_workload_classifier.html.markdown
Labels: documentation, new-resource, size/XL, service/synapse

#14527 New Resource: `azurerm_vpn_gateway_nat_rule`
  internal/services/network/client/client.go
  internal/services/network/parse/vpn_gateway_nat_rule.go
  internal/services/network/parse/vpn_gateway_nat_rule_test.go
  internal/services/network/registration.go
  internal/services/network/resourceids.go
  internal/services/network/validate/vpn_gateway_nat_rule_id.go
  internal/services/network/validate/vpn_gateway_nat_rule_id_test.go
  internal/services/network/vpn_gateway_connection_resource.go
  internal/services/network/vpn_gateway_connection_resource_test.go
  internal/services/network/vpn_gateway_nat_rule_resource.go
  internal/services/network/vpn_gateway_nat_rule_resource_test.go
  website/docs/r/vpn_gateway_connection.html.markdown
  website/docs/r/vpn_gateway_nat_rule.html.markdown
Labels: documentation, new-resource, size/XL, service/vpn

#14230 Support for azurerm_netapp_snapshot_policy
  examples/netapp/nfsv3_volume_with_snapshot_policy/README.md
  examples/netapp/nfsv3_volume_with_snapshot_policy/main.tf
  examples/netapp/nfsv3_volume_with_snapshot_policy/variables.tf
  internal/services/netapp/client/client.go
  internal/services/netapp/netapp_snapshot_policy_data_source.go
  internal/services/netapp/netapp_snapshot_policy_data_source_test.go
  internal/services/netapp/netapp_snapshot_policy_resource.go
  internal/services/netapp/netapp_snapshot_policy_test.go
  internal/services/netapp/netapp_volume_data_source.go
  internal/services/netapp/netapp_volume_resource.go
  internal/services/netapp/netapp_volume_resource_test.go
  internal/services/netapp/parse/snapshot_policy.go
  internal/services/netapp/parse/snapshot_policy_test.go
  internal/services/netapp/registration.go
  internal/services/netapp/resourceids.go
  internal/services/netapp/validate/snapshot_policy_id.go
  internal/services/netapp/validate/snapshot_policy_id_test.go
  utils/common_marshal.go
  website/docs/d/netapp_snapshot_policy.html.markdown
  website/docs/r/netapp_snapshot_policy.html.markdown
  website/docs/r/netapp_volume.html.markdown
Labels: documentation, new-resource, size/XL, service/netapp

#14651 Update blueprint_assignment.html.markdown
  website/docs/r/blueprint_assignment.html.markdown
Labels: documentation, size/XS

#14648 azurerm_blueprint_assignment - Added lock_exclude_actions
  internal/services/blueprints/blueprint_assignment_resource.go
  internal/services/blueprints/blueprint_assignment_resource_test.go
  website/docs/r/blueprint_assignment.html.markdown
Labels: enhancement, documentation, size/XS, service/blueprints

#14566 new resource: azurerm_maps_creator
  internal/services/maps/client/client.go
  internal/services/maps/maps_creator_resource.go
  internal/services/maps/maps_creator_resource_test.go
  internal/services/maps/registration.go
  website/docs/r/maps_creator.html.markdown
Labels: documentation, size/XL, service/maps

#14007 azurerm_logic_app_workflow - support open_authentication_policy
  internal/services/logic/logic_app_workflow_resource.go
  internal/services/logic/logic_app_workflow_resource_test.go
  internal/services/logic/logic_apps.go
  website/docs/r/logic_app_workflow.html.markdown
Labels: enhancement, documentation, size/XL, service/logic

#14592 `azurerm_consumption_budget_*` refactor into base and scoped resources
  internal/provider/services.go
  internal/services/consumption/consumption_budget_base.go
  internal/services/consumption/consumption_budget_common.go
  internal/services/consumption/consumption_budget_management_group_resource.go
  internal/services/consumption/consumption_budget_management_group_resource_test.go
  internal/services/consumption/consumption_budget_resource_group_data_source.go
  internal/services/consumption/consumption_budget_resource_group_resource.go
  internal/services/consumption/consumption_budget_resource_group_resource_test.go
  internal/services/consumption/consumption_budget_subscription_data_source.go
  internal/services/consumption/consumption_budget_subscription_data_source_test.go
  internal/services/consumption/consumption_budget_subscription_resource.go
  internal/services/consumption/consumption_budget_subscription_resource_test.go
  internal/services/consumption/helpers.go
  internal/services/consumption/migration/consumption_budget_subscription.go
  internal/services/consumption/parse/consumption_budget.go
  internal/services/consumption/parse/consumption_budget_test.go
  internal/services/consumption/registration.go
  internal/services/consumption/schema.go
  website/docs/r/consumption_budget_subscription.html.markdown
Labels: documentation, size/XL, refactor, service/consumption

#14654 go: updating to use Go v1.17.5
  .github/workflows/depscheck.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/gradually-deprecated.yaml
  .github/workflows/link-milestone.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/validate-examples.yaml
  .github/workflows/website-lint.yaml
  .go-version
  GNUmakefile
  README.md
  website/docs/index.html.markdown
Labels: documentation, size/S, tooling

#14121 `r\managed_disk`: Add support for `gallery_image_reference_id`
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/managed_disk_resource_test.go
  website/docs/r/managed_disk.html.markdown
Labels: documentation, service/disks, size/M

#14413 azurerm_application_gateway - key_vault_secret_id, force_firewall_policy_association
  internal/services/network/application_gateway_resource.go
  internal/services/network/application_gateway_resource_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XL

#13582 Add ASEv3 example and edit the docs.
  examples/app-service-environment-v3/main.tf
  website/docs/r/app_service_environment_v3.html.markdown
Labels: documentation, waiting-response, size/M, service/app-service

#13888 `compute`: Add `user_data` to VM & VMSS resources
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_test.go
  internal/services/compute/virtual_machine_import.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_test.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: enhancement, documentation, service/virtual-machine, service/vmss, size/XL

#14188 Add support for `azurerm_virtual_desktop_scaling_plan`
  internal/services/desktopvirtualization/client/client.go
  internal/services/desktopvirtualization/parse/scaling_plan.go
  internal/services/desktopvirtualization/parse/scaling_plan_test.go
  internal/services/desktopvirtualization/registration.go
  internal/services/desktopvirtualization/resourcesid.go
  internal/services/desktopvirtualization/validate/scaling_plan_id.go
  internal/services/desktopvirtualization/validate/scaling_plan_id_test.go
  internal/services/desktopvirtualization/virtual_desktop_application_group_resource.go
  internal/services/desktopvirtualization/virtual_desktop_application_resource.go
  internal/services/desktopvirtualization/virtual_desktop_host_pool_resource.go
  internal/services/desktopvirtualization/virtual_desktop_host_pool_resource_test.go
  internal/services/desktopvirtualization/virtual_desktop_scaling_plan_resource.go
  internal/services/desktopvirtualization/virtual_desktop_scaling_plan_resource_test.go
  internal/services/desktopvirtualization/virtual_desktop_workspace_application_group_association_resource.go
  internal/services/desktopvirtualization/virtual_desktop_workspace_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/applicationgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/applications.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/desktops.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/hostpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/msiximages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/msixpackages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/scalingplans.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/sessionhosts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/startmenuitems.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/usersessions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2021-09-03-preview/desktopvirtualization/workspaces.go
  vendor/modules.txt
  website/docs/r/virtual_desktop_scaling_plan.html.markdown
Labels: enhancement, documentation, dependencies, waiting-response, size/XL, service/virtual-desktops

#14662 fix typos in docs
  website/docs/r/api_management_api_diagnostic.html.markdown
  website/docs/r/api_management_api_schema.html.markdown
  website/docs/r/api_management_identity_provider_aadb2c.html.markdown
  website/docs/r/api_management_logger.html.markdown
  website/docs/r/eventgrid_system_topic_event_subscription.html.markdown
  website/docs/r/frontdoor_rules_engine.html.markdown
  website/docs/r/hpc_cache_blob_target.html.markdown
  website/docs/r/mariadb_virtual_network_rule.html.markdown
  website/docs/r/media_streaming_endpoint.html.markdown
  website/docs/r/monitor_diagnostic_setting.html.markdown
  website/docs/r/sentinel_watchlist.html.markdown
  website/docs/r/storage_share_directory.html.markdown
  website/docs/r/subnet_service_endpoint_storage_policy.html.markdown
  website/docs/r/synapse_workspace_sql_aad_admin.html.markdown
  website/docs/r/virtual_desktop_application.html.markdown
  website/docs/r/virtual_desktop_application_group.html.markdown
  website/docs/r/virtual_desktop_host_pool.html.markdown
  website/docs/r/virtual_desktop_workspace.html.markdown
  website/docs/r/virtual_network_gateway.html.markdown
Labels: documentation, size/S

#14663 make generate
  internal/services/desktopvirtualization/parse/scaling_plan.go
Labels: size/XS

#14666 dependencies: upgrading to v2.10.1 of github.com/hashicorp/terraform-plugin-sdk
  go.mod
  go.sum
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema/resource_diff.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/meta/meta.go
  vendor/modules.txt
Labels: dependencies, size/XS

#14354 `r\iothub`: Support managed service identity
  internal/services/iothub/iothub_resource.go
  internal/services/iothub/iothub_resource_test.go
  website/docs/r/iothub.html.markdown
Labels: enhancement, documentation, size/XL, service/iot-hub

#14677 Changed ingestion to Ingestion
  website/docs/r/log_analytics_linked_storage_account.html.markdown
Labels: documentation, size/XS

#14681 Added high-cost note
  website/docs/r/network_ddos_protection_plan.html.markdown
Labels: documentation, size/XS

#14684 r/virtual_network: removing the DDOS Protection Plan from the example
  website/docs/r/virtual_network.html.markdown
Labels: documentation, service/virtual-networks, size/XS

#14683 Adds `startsWith` as an operator for `dynamic_criteria` in `azurerm_monitor_metric_alert`
  internal/services/monitor/monitor_metric_alert_resource.go
Labels: bug, size/XS, service/monitor

#14659 azurerm_recovery_services_vault: support storage_mode_type property
  internal/services/recoveryservices/client/client.go
  internal/services/recoveryservices/recovery_services_vault_resource.go
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
  website/docs/r/recovery_services_vault.html.markdown
Labels: enhancement, documentation, size/S, service/recovery-services

#14661 azurerm_postgresql_flexible_server - support new property `geo_redundant_backup_enabled`
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: enhancement, documentation, size/S, service/postgresql

#14671 New resource and data source: azurerm_aadb2c_directory
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/aadb2c/aadb2c_directory_data_source.go
  internal/services/aadb2c/aadb2c_directory_data_source_test.go
  internal/services/aadb2c/aadb2c_directory_resource.go
  internal/services/aadb2c/aadb2c_directory_resource_test.go
  internal/services/aadb2c/client/client.go
  internal/services/aadb2c/registration.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/client.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/constants.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/id_b2cdirectory.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/id_b2cdirectory_test.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/id_resourcegroup.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/id_resourcegroup_test.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/id_subscription.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/id_subscription_test.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/method_checknameavailability_autorest.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/method_create_autorest.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/method_delete_autorest.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/method_get_autorest.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/method_listbyresourcegroup_autorest.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/method_listbysubscription_autorest.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/method_update_autorest.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/model_billingconfig.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/model_checknameavailabilityrequest.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/model_checknameavailabilityresult.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/model_createtenant.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/model_createtenantproperties.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/model_sku.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/model_tenant.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/model_tenantproperties.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/model_tenantpropertiesforcreate.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/model_updatetenant.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/model_updatetenantproperties.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/predicates.go
  internal/services/aadb2c/sdk/2021-04-01-preview/tenants/version.go
  internal/services/aadb2c/validate/directory_id.go
  website/allowed-subcategories
  website/docs/d/aadb2c_directory.html.markdown
  website/docs/r/aadb2c_directory.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL

#14688 dependencies: Upgrading to v60.2.0 of github.com/Azure/azure-sdk-for-go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/datafactory/mgmt/2018-06-01/datafactory/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/datafactory/mgmt/2018-06-01/datafactory/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/L

#14690 IotHub Endpoints: deprecate `iothub_name` in favour of `iothub_id` cont.
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource_test.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource_test.go
  internal/services/iothub/iothub_endpoint_storage_container_resource.go
  internal/services/iothub/iothub_endpoint_storage_container_resource_test.go
  website/docs/r/iothub_endpoint_eventhub.html.markdown
  website/docs/r/iothub_endpoint_servicebus_queue.html.markdown
  website/docs/r/iothub_endpoint_servicebus_topic.html.markdown
  website/docs/r/iothub_endpoint_storage_container.html.markdown
Labels: documentation, size/XL, service/iot-hub

#14692 Updated lock duration
  website/docs/r/servicebus_subscription.html.markdown
Labels: documentation, size/XS, service/service-bus

#14693 Fixed databricks workspace document
  website/docs/r/databricks_workspace.html.markdown
Labels: documentation, size/XS, service/databricks

#14672 sdk: updating the deprecated resource definition
  internal/sdk/resource.go
  internal/sdk/wrapper_resource.go
Labels: enhancement, size/S, tooling

#14704 Fix document of iothub servicebus topic and queue endpoint
  website/docs/r/iothub_endpoint_servicebus_queue.html.markdown
  website/docs/r/iothub_endpoint_servicebus_topic.html.markdown
Labels: documentation, size/XS

#14715 `r\azurerm_azurerm_web_application_firewall_policy` fix #12817 by loose `file_upload_limit_in_mb` to 4000.
  internal/services/network/web_application_firewall_policy_resource.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, size/XS, service/firewall

#14716 issue14556 fix expensive sku in elasticpool doc
  website/docs/r/mssql_elasticpool.html.markdown
Labels: documentation, size/XS, service/mssql

#14710 refactor: moving more resources over to using ID Formatters
  internal/services/kusto/kusto_attached_database_configuration_resource.go
  internal/services/kusto/kusto_cluster_data_source.go
  internal/services/kusto/kusto_cluster_principal_assignment_resource.go
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_database_principal_assignment_resource.go
  internal/services/kusto/kusto_database_resource.go
  internal/services/loadbalancer/loadbalancer_data_source.go
  internal/services/loadbalancer/rule_data_source.go
  internal/services/machinelearning/machine_learning_workspace_data_source.go
  internal/services/netapp/netapp_snapshot_policy_data_source.go
  internal/services/postgres/postgresql_aad_administrator_resource.go
  internal/services/postgres/postgresql_configuration_resource.go
  internal/services/postgres/postgresql_database_resource.go
  internal/services/postgres/postgresql_firewall_rule_resource.go
  internal/services/postgres/postgresql_server_data_source.go
  internal/services/postgres/postgresql_server_key_resource.go
  internal/services/postgres/postgresql_server_resource.go
  internal/services/postgres/postgresql_virtual_network_rule_resource.go
  internal/services/sql/sql_database_data_source.go
  internal/services/sql/sql_elasticpool_resource.go
  internal/services/storage/storage_management_policy_data_source.go
Labels: size/XL, refactor

#14723 github: updating the titles
  .github/ISSUE_TEMPLATE/config.yml
Labels: size/XS

#14725 `r\azurerm_stream_analytics_output_table` Fix #14709 by adding nil check
  internal/services/streamanalytics/stream_analytics_output_table_resource.go
Labels: bug, size/XS, service/stream-analytics

#14685 fix to fqdn behaviour on backend pool
  internal/services/network/application_gateway_resource.go
Labels: bug, size/XS, service/application-gateway

#14700 Added Premium Page Blob Account Kind Information
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XS

#14689 `azurerm_spring_cloud_certificate` supports `certificate_content`
  internal/services/springcloud/spring_cloud_certificate_resource.go
  internal/services/springcloud/spring_cloud_certificate_resource_test.go
  internal/services/springcloud/testdata/cer
  website/docs/r/spring_cloud_certificate.html.markdown
Labels: enhancement, documentation, size/M, services/spring

#14697 `azurerm_iothub_dps`- set `apply_allocation_policy` to true and remove ForceNews from `linked_hub`
  internal/services/iothub/iothub_dps_resource.go
  internal/services/iothub/iothub_dps_resource_test.go
  website/docs/r/iothub_dps.html.markdown
Labels: bug, documentation, size/XS, service/iot-hub

#14708 `d/azurerm_shared_image_version`: Add semver sorting option
  internal/services/compute/helpers.go
  internal/services/compute/helpers_test.go
  internal/services/compute/shared_image_version_data_source.go
  website/docs/d/shared_image_version.html.markdown
Labels: enhancement, documentation, service/images, size/M

#14724 New resource: `azurerm_load_test`
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/loadtest/client/client.go
  internal/services/loadtest/load_test_resource.go
  internal/services/loadtest/load_test_resource_test.go
  internal/services/loadtest/registration.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/client.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/constants.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/id_loadtest.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/id_loadtest_test.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/id_resourcegroup.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/id_resourcegroup_test.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/id_subscription.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/id_subscription_test.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/method_createorupdate_autorest.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/method_delete_autorest.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/method_get_autorest.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/method_listbyresourcegroup_autorest.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/method_listbysubscription_autorest.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/method_update_autorest.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/model_loadtestproperties.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/model_loadtestresource.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/model_loadtestresourcepatchrequestbody.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/model_loadtestresourcepatchrequestbodyproperties.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/model_systemdata.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/predicates.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/version.go
  website/allowed-subcategories
  website/docs/r/bot_service_azure_bot.html.markdown
  website/docs/r/load_test.html.markdown
Labels: documentation, new-resource, size/XL, service/loadtest
