Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2021-03, with the labels that each got.

#10712 new resource "azurerm_kusto_eventgrid_data_connection"
  azurerm/internal/services/eventhub/eventhub_resource.go
  azurerm/internal/services/eventhub/eventhub_resource_test.go
  azurerm/internal/services/eventhub/parse/event_hub.go
  azurerm/internal/services/eventhub/parse/event_hub_test.go
  azurerm/internal/services/eventhub/resourceids.go
  azurerm/internal/services/eventhub/validate/event_hub_id.go
  azurerm/internal/services/eventhub/validate/event_hub_id_test.go
  azurerm/internal/services/kusto/kusto_eventgrid_data_connection_resource.go
  azurerm/internal/services/kusto/kusto_eventgrid_data_connection_resource_test.go
  azurerm/internal/services/kusto/registration.go
  website/azurerm.erb
  website/docs/r/kusto_eventgrid_data_connection.html.markdown
Labels: documentation, enhancement, service/kusto, size/XL

#10264 `azurerm_kusto_cluster` - supports double_encryption_enabled, systemAssignedIdentity and systemAssignedUserAssignedIdentity
  azurerm/internal/services/kusto/identity.go
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  azurerm/internal/services/kusto/kusto_cluster_resource_test.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, enhancement, service/kusto, size/L

#10670 new resource: `azurerm_sentinel_data_connector_threat_intelligence`
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/sentinel.go
  azurerm/internal/services/sentinel/sentinel_alert_rule.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_data_source.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_fusion_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_template_data_source.go
  azurerm/internal/services/sentinel/sentinel_data_connector.go
  azurerm/internal/services/sentinel/sentinel_data_connector_threat_intelligence.go
  azurerm/internal/services/sentinel/sentinel_data_connector_threat_intelligence_test.go
  website/azurerm.erb
  website/docs/r/sentinel_data_connector_threat_intelligence.html.markdown
Labels: documentation, new-resource, service/sentinel, size/XL

#10729 not set `source` property when update Spring cloud deployment
  azurerm/internal/services/springcloud/spring_cloud_java_deployment_resource.go
Labels: enhancement, services/spring, size/M

#10722 Parse userAssignedIdentites insensitively
  azurerm/internal/services/compute/virtual_machine.go
  azurerm/internal/services/compute/virtual_machine_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/virtual_machine_scale_set_resource.go
  azurerm/internal/services/msi/parse/user_assigned_identity.go
  azurerm/internal/services/msi/parse/user_assigned_identity_test.go
  azurerm/internal/services/msi/resourceids.go
  azurerm/internal/tools/generator-resource-id/README.md
Labels: bug, service/virtual-machine, service/vmss, size/L

#10737 azurerm_kubernetes_cluster: support private_dns_zone_id with service_principal
  azurerm/internal/services/containers/kubernetes_cluster_network_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_other_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/M

#10690 Go-SDK upgrade to v51.3.0
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/XS

#10671 new resource: `azurerm_sentinel_data_connector_office_365`
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/sentinel_data_connector_office_365.go
  azurerm/internal/services/sentinel/sentinel_data_connector_office_365_test.go
  website/azurerm.erb
  website/docs/r/sentinel_data_connector_office_365.html.markdown
Labels: documentation, new-resource, service/sentinel, size/XL

#10762 compute: fixing some more tests
  azurerm/internal/services/compute/disk_encryption_set_resource_test.go
  azurerm/internal/services/compute/image_data_source_test.go
  azurerm/internal/services/compute/snapshot_resource_test.go
Labels: service/disks, service/images, service/snapshot, size/S, tests

#10760 Fix acc test case failure of `TestAccLinuxVirtualMachine_imageFromImage`
  azurerm/internal/services/compute/linux_virtual_machine_resource_images_test.go
Labels: service/virtual-machine, size/XS, tests

#10764 Documentation: Change default value for policy_settings.enabled argument
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, service/firewall, size/XS

#10770 `sentinel_alert_rule_xxx` acctests add dependency on log analytics solution
  azurerm/internal/services/loganalytics/log_analytics_solution_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_data_source_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_fusion_resource_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_template_data_source_test.go
Labels: service/sentinel, size/M, tests

#10768 Fix file_upload_limit_in_mb attribute name in docs
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, size/XS

#10772 Documentation: Change managed_rule_set to Required
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, service/firewall, size/XS

#10775 `azurerm_dns_zone`: Remove non-existent `fqdn` attribute from docs
  website/docs/r/dns_zone.html.markdown
Labels: documentation, service/dns, size/XS

#10665 new resource: `azurerm_sentinel_data_connector_azure_active_directory`
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_active_directory.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_active_directory_test.go
  website/azurerm.erb
  website/docs/r/sentinel_data_connector_azure_active_directory.html.markdown
Labels: documentation, new-resource, service/sentinel, size/XL

#10788 fix permissions for disk encryption set
  website/docs/r/disk_encryption_set.html.markdown
Labels: documentation, service/disks, size/XS

#10664 new resource: `azurerm_sentinel_data_connector_aws_cloud_trail`
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/sentinel_data_connector_aws_cloud_trail.go
  website/azurerm.erb
  website/docs/r/sentinel_data_connector_aws_cloud_trail.html.markdown
Labels: documentation, new-resource, service/sentinel, size/L

#10389 `azurerm_cosmosdb_mongo_collection`: ignore throughput if Cosmos DB provisioned in 'serverless' capacity mode
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_collection_resource.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_collection_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_database_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_database_resource.go
  azurerm/internal/services/cosmos/cosmosdb_table_resource.go
Labels: size/L

#10784 testing: removing the old test framework
  azurerm/internal/acceptance/providers.go
  azurerm/internal/acceptance/testcase.go
  azurerm/internal/acceptance/testclient/client.go
Labels: size/M, tests

#10766 azurerm_api_management: tenant_access only when not in consumption SKU
  azurerm/internal/services/apimanagement/api_management_resource.go
Labels: service/api-management, size/XS

#10802 Fix for Data source name and example usage
  website/docs/d/key_vault_certificate_data.html.markdown
Labels: documentation, service/keyvault, size/XS

#10819 `azurerm_cosmosdb_cassandra_table` - Fixes crash when setting non-existent `account_name`
  azurerm/internal/services/cosmos/cosmosdb_cassandra_table_resource.go
Labels: crash, service/cosmosdb, size/XS

#10816 kubernetes_cluster_resource: lower length validation on windows password
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
Labels: service/kubernetes-cluster, size/XS

#10820 Documentation update to fix issue #5871
  examples/netapp/volume_dual_protocol/README.md
  examples/netapp/volume_dual_protocol/main.tf
  examples/netapp/volume_dual_protocol/variables.tf
  website/docs/r/netapp_volume.html.markdown
Labels: documentation, service/netapp, size/M

#10807 Fix case sensitivity issue for axurerm_monitor_metric_alert import command
  website/docs/r/monitor_metric_alert.html.markdown
Labels: documentation, size/XS

#10823 `azurerm_function_app_host_keys` - support for `event_grid_extension_config_key`
  azurerm/internal/services/web/function_app_host_keys_data_source.go
  azurerm/internal/services/web/function_app_host_keys_data_source_test.go
  website/docs/d/function_app_host_keys.html.markdown
Labels: documentation, service/functions, size/XS

#10831 r/kubernetes_cluster: recommending using an up to date version of the provider when using AKS
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#10810 add HPCC override, rename appplatorm override to springcloud
  .teamcity/components/settings.kt
Labels: size/XS, tooling

#10795 Fixes bug #10773
  azurerm/internal/services/netapp/netapp_volume_data_source.go
  azurerm/internal/services/netapp/netapp_volume_resource.go
Labels: bug, service/netapp, size/XS

#10776 Add `license_type` to `linux_virtual_machine`
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/linux_virtual_machine_resource_other_test.go
  website/docs/r/linux_virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/M

#10827 Expanding internal network subnet fix #5235
  examples/virtual-machines/linux/basic-password/main.tf
Labels: bug, documentation, size/XS

#10841 website: removing the old sidebar which is now unused
  website/azurerm.erb
Labels: documentation, size/XXL

#10718 **New Resource:** `azurerm_subscription`
  .teamcity/components/generated/services.kt
  azurerm/internal/provider/services.go
  azurerm/internal/services/billing/billing_enrollment_account_data_source.go
  azurerm/internal/services/billing/billing_enrollment_account_data_source_test.go
  azurerm/internal/services/billing/billing_mca_account_data_source.go
  azurerm/internal/services/billing/billing_mca_account_data_source_test.go
  azurerm/internal/services/billing/parse/enrollment_billing_scope.go
  azurerm/internal/services/billing/parse/enrollment_billing_scope_test.go
  azurerm/internal/services/billing/parse/mca_billing_scope.go
  azurerm/internal/services/billing/parse/mca_billing_scope_test.go
  azurerm/internal/services/billing/registration.go
  azurerm/internal/services/billing/validate/enrollment_billing_scope_id.go
  azurerm/internal/services/billing/validate/enrollment_billing_scope_id_test.go
  azurerm/internal/services/billing/validate/mca_billing_scope_id.go
  azurerm/internal/services/billing/validate/mca_billing_scope_id_test.go
  azurerm/internal/services/subscription/client/client.go
  azurerm/internal/services/subscription/parse/subscription_alias.go
  azurerm/internal/services/subscription/registration.go
  azurerm/internal/services/subscription/subscription_import.go
  azurerm/internal/services/subscription/subscription_resource.go
  azurerm/internal/services/subscription/subscription_resource_test.go
  azurerm/internal/services/subscription/validate/subscription_name.go
  azurerm/internal/services/subscription/validate/subscription_name_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/alias.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/subscription.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/subscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/tenants.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/d/billing_enrollment_account_scope.html.markdown
  website/docs/d/billing_mca_account_scope.html.markdown
  website/docs/r/redis_enterprise_cluster.html.markdown
  website/docs/r/redis_enterprise_database.html.markdown
  website/docs/r/subscription.html.markdown
Labels: dependencies, documentation, new-resource, service/subscription, size/XXL

#10828 r/frontdoor: removing the MaxItems validation from the Backend Pools
  azurerm/internal/services/frontdoor/frontdoor_resource.go
  website/docs/r/frontdoor.html.markdown
Labels: documentation, enhancement, service/frontdoor, size/XS

#10235 allow permanent delete of log_analytics_workspace_resource
  azurerm/internal/features/defaults.go
  azurerm/internal/features/user_flags.go
  azurerm/internal/provider/features.go
  azurerm/internal/provider/features_test.go
  azurerm/internal/services/loganalytics/log_analytics_workspace_resource.go
  website/docs/index.html.markdown
Labels: documentation, enhancement, service/log-analytics, size/M

#10786 dns_zone: Compute resourceId from the parser, add state migration, switch dns package to generated IDs
  azurerm/internal/services/dns/dns_a_record_resource.go
  azurerm/internal/services/dns/dns_aaaa_record_resource.go
  azurerm/internal/services/dns/dns_caa_record_resource.go
  azurerm/internal/services/dns/dns_cname_record_resource.go
  azurerm/internal/services/dns/dns_mx_record_resource.go
  azurerm/internal/services/dns/dns_ns_record_resource.go
  azurerm/internal/services/dns/dns_ptr_record_resource.go
  azurerm/internal/services/dns/dns_srv_record_resource.go
  azurerm/internal/services/dns/dns_txt_record_resource.go
  azurerm/internal/services/dns/dns_zone_data_source.go
  azurerm/internal/services/dns/dns_zone_resource.go
  azurerm/internal/services/dns/migration/dns_zone_V0_to_V1.go
Labels: service/dns, size/XL

#10509 Support for Secure Webhook Receiver in `azurerm_monitor_action_group`
  azurerm/internal/services/monitor/monitor_action_group_resource.go
  azurerm/internal/services/monitor/monitor_action_group_resource_test.go
  website/docs/r/monitor_action_group.html.markdown
Labels: documentation, enhancement, service/monitor, size/L

#10850 Test Fix: Authorization
  azurerm/internal/services/authorization/role_definition_resource_test.go
Labels: service/authorization, size/XS, tests

#10754 azurerm_postgres_server: support for replicaset scaling
  azurerm/internal/services/postgres/client/client.go
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource_test.go
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, enhancement, service/postgresql, size/L

#10866 `azurerm_postgresql_server` - fix for `TestAccPostgreSQLServer_updated` test case
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource_test.go
Labels: service/postgresql, size/XS, tests

#10876 Data Source: `azurerm_monitor_action_group` - add support for `aad_auth` attribute
  azurerm/internal/services/monitor/monitor_action_group_data_source.go
  azurerm/internal/services/monitor/monitor_action_group_data_source_test.go
Labels: bug, service/monitor, size/M, tests

#10881 Doc Fix: `azurerm_sql_virtual_network_rule` - `name` requirements correctly reflected in docs
  website/docs/r/sql_virtual_network_rule.html.markdown
Labels: documentation, size/XS

#10882 Doc Fix: `azurerm_eventgrid_system_topic_event_subscription` - Fixing incorrect resource name in example
  website/docs/r/eventgrid_system_topic_event_subscription.html.markdown
Labels: documentation, service/event-grid, size/XS

#10829 dependencies: updating to v52.3.0 of github.com/Azure/azure-sdk-for-go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/XS

#10886 go 1.16: moving off the deprecated `ioutil`
  azurerm/internal/azuresdkhacks/network_interface.go
  azurerm/internal/services/automation/automation_certificate_resource_test.go
  azurerm/internal/services/automation/automation_runbook_resource.go
  azurerm/internal/services/containers/kubernetes/kube_config_test.go
  azurerm/internal/services/datalake/data_lake_store_file_resource.go
  azurerm/internal/services/datalake/data_lake_store_file_resource_test.go
  azurerm/internal/services/network/application_gateway_resource_test.go
  azurerm/internal/services/storage/blobs.go
  azurerm/internal/services/storage/storage_blob_resource_test.go
  azurerm/internal/services/storage/storage_share_file_resource_test.go
  azurerm/internal/tools/generator-resource-id/main.go
Labels: refactor, size/S

#10890 `azurerm_role_assignment` - support enrollment ids in `scope` argument
  azurerm/internal/services/authorization/role_assignment_resource.go
  azurerm/internal/services/billing/parse/enrollment.go
  azurerm/internal/services/billing/parse/enrollment_test.go
  azurerm/internal/services/billing/validate/enrollment_id.go
  azurerm/internal/services/billing/validate/enrollment_id_test.go
Labels: service/authorization, size/L

#10774 kubernetes_cluster: add None as a valid private_dns_zone_id value
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#10900 r/eventhub_consumer_group: marking the consumer group as gone if it's gone
  azurerm/internal/sdk/resource.go
  azurerm/internal/services/eventhub/eventhub_consumer_group_resource.go
  azurerm/internal/services/loadbalancer/backend_address_pool_address_resource.go
  azurerm/internal/services/resource/resource_provider_registration_resource.go
Labels: bug, service/event-hubs, size/XS

#10901 Test Fix: Custom Providers
  azurerm/internal/services/customproviders/custom_provider_resource_test.go
Labels: service/custom-resource-provider, size/XS, tests

#10636 azurerm_api_management_custom_domain: resource gets updated every time
  azurerm/internal/services/apimanagement/api_management_custom_domain_resource.go
  azurerm/internal/services/apimanagement/api_management_custom_domain_resource_test.go
  azurerm/internal/services/apimanagement/api_management_resource.go
  website/docs/r/api_management_custom_domain.html.markdown
Labels: bug, documentation, service/api-management, size/S

#10874 Update azurerm_subscription Docs Page
  website/docs/r/subscription.html.markdown
Labels: documentation, size/XS

#10904 Test Fix: Batch
  azurerm/internal/services/batch/batch_certificate_data_source_test.go
  azurerm/internal/services/batch/batch_pool_data_source_test.go
  azurerm/internal/services/batch/batch_pool_resource_test.go
Labels: service/batch, size/XS, tests

#10907 Fix hpc acctest of import
  azurerm/internal/services/hpccache/hpc_cache_resource_test.go
Labels: size/XS, tests

#10667 new resource: `azurerm_sentinel_data_connector_azure_security_center`
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_security_center.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_security_center_test.go
  website/docs/r/sentinel_data_connector_azure_security_center.html.markdown
Labels: documentation, new-resource, service/sentinel, size/XL

#10911 serialise BP tests to prevent collisions
  .teamcity/components/settings.kt
Labels: size/XS, tests, tooling

#10894 azurerm_function_app_host_keys: Retry when reading function key
  azurerm/internal/services/web/function_app_host_keys_data_source.go
Labels: bug, service/functions, size/S

#10899 azurerm_mssql_virtual_machine: workaround for inconsistent API value for logBackupFrequency
  azurerm/internal/services/mssql/mssql_virtual_machine_resource.go
  azurerm/internal/services/mssql/mssql_virtual_machine_resource_test.go
Labels: bug, service/mssql, size/XS

#10896 move subscriptionless ID parsing to helper func
  azurerm/helpers/azure/resourceid.go
  azurerm/helpers/azure/resourceid_test.go
  azurerm/internal/services/billing/parse/enrollment.go
  azurerm/internal/services/billing/parse/enrollment_billing_scope.go
  azurerm/internal/services/billing/parse/mca_billing_scope.go
Labels: refactor, size/L

#10919 Include time in start and expiry arguments
  website/docs/d/storage_account_sas.html.markdown
Labels: documentation, service/storage, size/XS

#10757 azurernm_postgresql_aad_administrator - prevent invalid usernames for the `login` property
  azurerm/internal/services/postgres/postgresql_aad_administrator_resource.go
  azurerm/internal/services/postgres/postgresql_aad_administrator_resource_test.go
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/validate/admin_usernames.go
  azurerm/internal/services/postgres/validate/admin_usernames_test.go
Labels: service/postgresql, size/M

#10856 `*_virtual_machine_scale_set`: Do not force recreation on `rolling_upgrade_policy` and `health_probe_id` update.
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XL

#10913 r/azurerm_kusto_eventhub_data_connection: allow for empty table_name and data_format
  azurerm/internal/services/kusto/kusto_eventhub_data_connection_resource.go
  azurerm/internal/services/kusto/kusto_eventhub_data_connection_resource_test.go
Labels: bug, service/kusto, size/L

#10924 Test Fix: Bot
  azurerm/internal/acceptance/testcase.go
  azurerm/internal/services/bot/bot_channel_directline_resource_test.go
  azurerm/internal/services/bot/bot_channel_email_resource_test.go
  azurerm/internal/services/bot/bot_channel_ms_teams_resource_test.go
  azurerm/internal/services/bot/bot_channel_slack_resource_test.go
  azurerm/internal/services/bot/bot_channels_registration_resource_test.go
  azurerm/internal/services/bot/bot_connection_resource_test.go
  azurerm/internal/services/bot/bot_web_app_resource_test.go
Labels: size/M

#10666 new resource: `azurerm_sentinel_data_connector_azure_advanced_threat_protection`'
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/sentinel_data_connector.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_advanced_threat_protection.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_advanced_threat_protection_test.go
  website/docs/r/sentinel_data_connector_azure_advanced_threat_protection.html.markdown
Labels: documentation, new-resource, service/sentinel, size/XL, waiting-response

#10928 Fix acctest for datashare
  azurerm/internal/services/datashare/data_share_dataset_blob_storage_resource_test.go
  azurerm/internal/services/datashare/data_share_dataset_data_lake_gen1_resource_test.go
  azurerm/internal/services/datashare/data_share_dataset_data_lake_gen2_resource_test.go
  azurerm/internal/services/datashare/data_share_dataset_kusto_cluster_resource_test.go
  azurerm/internal/services/datashare/data_share_dataset_kusto_database_resource_test.go
Labels: service/datashare, size/XS, tests

#10668 new resource: `azurerm_sentinel_data_connector_microsoft_cloud_app_security`
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/sentinel_data_connector_microsoft_cloud_app_security.go
  azurerm/internal/services/sentinel/sentinel_data_connector_microsoft_cloud_app_security_test.go
  website/docs/r/sentinel_data_connector_microsoft_cloud_app_security.html.markdown
Labels: documentation, new-resource, service/sentinel, size/XL

#10920 key_vault_secret: Set value of recoverd key vault secret
  azurerm/internal/services/keyvault/key_vault_secret_resource.go
  azurerm/internal/services/keyvault/key_vault_secret_resource_test.go
Labels: enhancement, service/keyvault, size/XS

#10908 Customize ARM correlation request id via `ARM_CORRELATION_REQUEST_ID`
  azurerm/internal/clients/builder.go
  azurerm/internal/common/client_options.go
  azurerm/internal/common/correlation_id.go
  azurerm/internal/provider/provider.go
Labels: documentation, enhancement, provider, size/XS

#10395 New resource: azurerm_purview_account
  .teamcity/components/generated/services.kt
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/purview/client/client.go
  azurerm/internal/services/purview/parse/account.go
  azurerm/internal/services/purview/parse/account_test.go
  azurerm/internal/services/purview/purview_account_resource.go
  azurerm/internal/services/purview/purview_account_resource_test.go
  azurerm/internal/services/purview/registration.go
  azurerm/internal/services/purview/resourceids.go
  azurerm/internal/services/purview/validate/account_id.go
  azurerm/internal/services/purview/validate/account_id_test.go
  azurerm/internal/services/purview/validate/account_name.go
  azurerm/internal/services/purview/validate/account_name_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/defaultaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/purview_account.html.markdown
Labels: dependencies, documentation, new-resource, service/purview, size/XXL

#10931 `azurerm_key_vault_access_policy` - Fix destroy where permissions casing does not match config / state
  azurerm/internal/services/keyvault/key_vault_access_policy_resource.go
  azurerm/internal/services/keyvault/key_vault_access_policy_resource_test.go
Labels: bug, service/keyvault, size/M

#10803 Update `azurerm_linux|windows_virtual_machine` - support `platform_fault_domain` for VMSS Flex support
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/linux_virtual_machine_resource_orchestrated_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_resource_orchestrated_test.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, enhancement, service/virtual-machine, size/L

#10852 New resource: azurerm_data_factory_dataset_parquet
  azurerm/internal/services/datafactory/data_factory.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_parquet_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_parquet_resource_test.go
  azurerm/internal/services/datafactory/registration.go
  website/docs/r/data_factory_dataset_parquet.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XXL

#10906 azurerm_netapp_volume - support create_from_snapshot_resource_id
  azurerm/internal/services/netapp/netapp_volume_resource.go
  azurerm/internal/services/netapp/netapp_volume_resource_test.go
  azurerm/internal/services/netapp/validation.go
  azurerm/internal/services/netapp/validation_test.go
  examples/netapp/volume_from_snapshot/README.md
  examples/netapp/volume_from_snapshot/main.tf
  examples/netapp/volume_from_snapshot/variables.tf
  website/docs/r/netapp_volume.html.markdown
Labels: documentation, enhancement, service/netapp, size/XL

#10804 `azurerm_role_assignment` - supports "description", "condition", "condition_version"
  azurerm/internal/services/authorization/client/client.go
  azurerm/internal/services/authorization/role_assignment_resource.go
  azurerm/internal/services/authorization/role_assignment_resource_test.go
  azurerm/internal/services/authorization/role_definition_data_source.go
  azurerm/internal/services/authorization/role_definition_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-09-01-preview/authorization/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/classicadministrators.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/denyassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/globaladministrator.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/permissions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/provideroperationsmetadata.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/roleassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/roledefinitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/version.go
  vendor/modules.txt
  website/docs/r/role_assignment.html.markdown
Labels: dependencies, documentation, size/L

#10944 `azurerm_redis_enterprise_cluster` - Deprecated `hostname` and `version`
  azurerm/internal/services/redisenterprise/redis_enterprise_cluster_resource.go
  website/docs/r/redis_enterprise_cluster.html.markdown
Labels: bug, documentation, service/redis, size/XS, upstream-microsoft

#10948 `azurerm_management_group` - add validation to `subscription_id` list property
  azurerm/internal/services/managementgroup/management_group_resource.go
Labels: enhancement, service/management-groups, size/XS

#10971 Docs: fix valid expander
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#10955 `azurerm_synapse_spark_pool` - Fixed issue with `library_requirement` on create
  azurerm/internal/services/synapse/synapse_spark_pool_resource.go
Labels: bug, service/synapse, size/M

#10980 Test Fix: Service Fabric
  azurerm/internal/services/servicefabric/service_fabric_cluster_resource_test.go
Labels: service/service-fabric, size/XS, tests

#10981 Test Fix :MySql
  azurerm/internal/services/mysql/mysql_server_key_resource_test.go
Labels: service/mysql, size/XS, tests

#10942 azurerm_cosmosdb_account_resource - marking `connection_string` as sensitive
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
Labels: bug, service/cosmosdb, size/XS

#10982 Update Azure Go SDK to v52.4.0
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#10987 mysql: switching to use ID Formatters
  azurerm/internal/services/mysql/mysql_aad_administrator_resource.go
  azurerm/internal/services/mysql/mysql_aad_administrator_resource_test.go
  azurerm/internal/services/mysql/mysql_configuration_resource.go
  azurerm/internal/services/mysql/mysql_database_resource.go
  azurerm/internal/services/mysql/mysql_database_resource_test.go
  azurerm/internal/services/mysql/mysql_firewall_rule_resource.go
  azurerm/internal/services/mysql/mysql_firewall_rule_resource_test.go
  azurerm/internal/services/mysql/mysql_server_data_source.go
  azurerm/internal/services/mysql/mysql_server_resource.go
  azurerm/internal/services/mysql/mysql_virtual_network_rule_resource.go
  azurerm/internal/services/mysql/parse/azure_active_directory_administrator.go
  azurerm/internal/services/mysql/parse/azure_active_directory_administrator_test.go
  azurerm/internal/services/mysql/parse/database.go
  azurerm/internal/services/mysql/parse/database_test.go
  azurerm/internal/services/mysql/parse/firewall_rule.go
  azurerm/internal/services/mysql/parse/firewall_rule_test.go
  azurerm/internal/services/mysql/resourceids.go
  azurerm/internal/services/mysql/validate/azure_active_directory_administrator_id.go
  azurerm/internal/services/mysql/validate/azure_active_directory_administrator_id_test.go
  azurerm/internal/services/mysql/validate/database_id.go
  azurerm/internal/services/mysql/validate/database_id_test.go
  azurerm/internal/services/mysql/validate/firewall_rule_id.go
  azurerm/internal/services/mysql/validate/firewall_rule_id_test.go
Labels: refactor, service/mysql, size/XXL

#10986 r/analysis_services_server: switching to use the ID Formatter
  azurerm/internal/services/analysisservices/analysis_services_server_resource.go
  azurerm/internal/services/analysisservices/validate/querypool_connection_mode.go
  azurerm/internal/services/analysisservices/validate/server_name.go
Labels: refactor, service/analysis, size/M

#10991 Test Fix: Maintenance
  azurerm/internal/services/maintenance/maintenance_assignment_dedicated_host_resource.go
  azurerm/internal/services/maintenance/maintenance_assignment_dedicated_host_resource_test.go
  azurerm/internal/services/maintenance/maintenance_assignment_virtual_machine_resource.go
  azurerm/internal/services/maintenance/maintenance_assignment_virtual_machine_resource_test.go
  azurerm/internal/services/maintenance/maintenance_configuration_resource.go
  azurerm/internal/services/maintenance/maintenance_configuration_resource_test.go
  azurerm/internal/services/maintenance/parse/maintenance_configuration.go
  azurerm/internal/services/maintenance/parse/maintenance_configuration_test.go
  azurerm/internal/services/maintenance/resourceids.go
  azurerm/internal/services/maintenance/validate/maintenance_configuration_id.go
  azurerm/internal/services/maintenance/validate/maintenance_configuration_id_test.go
Labels: size/XL

#10997 Docs: fix missing scope argument for azurerm_lighthouse_definition resource
  website/docs/r/lighthouse_definition.html.markdown
Labels: documentation, service/lighthouse, size/XS

#10241 test fix: securitycenter contact
  azurerm/internal/acceptance/testcase.go
  azurerm/internal/services/securitycenter/security_center_contact_resource_test.go
Labels: service/security-center, size/XS, tests

#10983 azurerm_local_network_gateway - mark address_space argument optional
  azurerm/internal/services/network/local_network_gateway_resource.go
  azurerm/internal/services/network/local_network_gateway_resource_test.go
  website/docs/r/local_network_gateway.html.markdown
Labels: documentation, service/local-network-gateway, size/S

#11009 Test Fix: Cost Management
  azurerm/internal/services/costmanagement/cost_management_export_resource_group_resource_test.go
Labels: service/cost-management, size/XS, tests

#10939 Docs: azurerm_resource_group_template_deployment show passing variables
  website/docs/r/resource_group_template_deployment.html.markdown
Labels: documentation, service/resources, size/M

#10956 Additional Note for Allow Azure Service - Synapse Firewall
  website/docs/r/synapse_firewall_rule.html.markdown
Labels: documentation, service/synapse, size/XS

#11010 Test Fix: LogicApp
  azurerm/internal/services/iothub/iothub_resource_test.go
  azurerm/internal/services/logic/logic_app_action_http_resource_test.go
  azurerm/internal/services/logic/logic_app_trigger_http_request_resource_test.go
Labels: service/logic, size/XS, tests

#10638 azurerm_api_management_subscription: make user_id optional
  azurerm/internal/services/apimanagement/api_management_subscription_resource.go
  azurerm/internal/services/apimanagement/api_management_subscription_resource_test.go
  azurerm/internal/services/apimanagement/schemaz/api_management.go
  website/docs/r/api_management_subscription.html.markdown
Labels: documentation, enhancement, service/api-management, size/M

#11012 make rg test names consistant
  azurerm/internal/services/apimanagement/api_management_resource_test.go
  azurerm/internal/services/authorization/role_definition_resource_test.go
  azurerm/internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_disk_data_resource_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_disk_os_resource_test.go
  azurerm/internal/services/compute/managed_disk_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_disk_data_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_disk_os_resource_test.go
  azurerm/internal/services/eventhub/eventhub_authorization_rule_resource_test.go
  azurerm/internal/services/eventhub/eventhub_namespace_authorization_rule_resource_test.go
  azurerm/internal/services/eventhub/eventhub_namespace_resource_test.go
  azurerm/internal/services/iothub/iothub_resource_test.go
  azurerm/internal/services/loadbalancer/backend_address_pool_address_resource_test.go
  azurerm/internal/services/loadbalancer/backend_address_pool_resource_test.go
  azurerm/internal/services/logic/logic_app_integration_account_resource_test.go
  azurerm/internal/services/monitor/monitor_action_rule_action_group_resource_test.go
  azurerm/internal/services/monitor/monitor_action_rule_suppression_resource_test.go
  azurerm/internal/services/monitor/monitor_smart_detector_alert_rule_resource_test.go
  azurerm/internal/services/network/local_network_gateway_resource_test.go
  azurerm/internal/services/network/vpn_site_resource_test.go
  azurerm/internal/services/purview/purview_account_resource_test.go
  azurerm/internal/services/resource/resource_group_template_deployment_resource_test.go
  azurerm/internal/services/sql/sql_database_resource_test.go
  azurerm/internal/services/sql/sql_elasticpool_resource_test.go
  azurerm/internal/services/synapse/synapse_firewall_rule_resource_test.go
  azurerm/internal/services/synapse/synapse_workspace_resource_test.go
  azurerm/internal/services/web/app_service_environment_resource_test.go
Labels: size/M

#11013 deprecating azurerm_eventhub_namespace_disaster_recovery_config.alternate_name
  azurerm/internal/services/eventhub/eventhub_namespace_disaster_recovery_config_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_disaster_recovery_config_resource_test.go
  website/docs/r/eventhub_namespace_disaster_recovery_config.html.markdown
Labels: deprecation, documentation, service/event-hubs, size/S

#10954 mssql: add resources azurerm_mssql_firewall_rule and azurerm_mssql_virtual_network_rule
  .teamcity/components/generated/services.kt
  azurerm/internal/services/mssql/client/client.go
  azurerm/internal/services/mssql/mssql_firewall_rule_resource.go
  azurerm/internal/services/mssql/mssql_firewall_rule_resource_test.go
  azurerm/internal/services/mssql/mssql_virtual_network_rule_resource.go
  azurerm/internal/services/mssql/mssql_virtual_network_rule_resource_test.go
  azurerm/internal/services/mssql/parse/firewall_rule.go
  azurerm/internal/services/mssql/parse/firewall_rule_test.go
  azurerm/internal/services/mssql/parse/virtual_network_rule.go
  azurerm/internal/services/mssql/parse/virtual_network_rule_test.go
  azurerm/internal/services/mssql/registration.go
  azurerm/internal/services/mssql/resourceids.go
  azurerm/internal/services/mssql/validate/firewall_rule_id.go
  azurerm/internal/services/mssql/validate/firewall_rule_id_test.go
  azurerm/internal/services/mssql/validate/virtual_network_rule_id.go
  azurerm/internal/services/mssql/validate/virtual_network_rule_id_test.go
  azurerm/internal/services/mssql/validate/virtual_network_rule_name.go
  azurerm/internal/services/mssql/validate/virtual_network_rule_name_test.go
  website/docs/r/mssql_firewall_rule.html.markdown
  website/docs/r/mssql_virtual_network_rule.html.markdown
Labels: documentation, new-resource, service/mssql, size/XXL

#11007 Test Fix: Mariadb
  azurerm/internal/services/mariadb/mariadb_configuration_resource_test.go
  azurerm/internal/services/mariadb/mariadb_server_resource_test.go
Labels: service/mariadb, size/XS, tests

#11023 Refactor: Wrap errors when building the client
  azurerm/internal/clients/builder.go
Labels: size/XS

#11015 Update Azure Go SDK to v52.5.0
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/XS

#11029 Update link to ADF IR SSIS page
  website/docs/r/data_factory_integration_runtime_managed.html.markdown
Labels: documentation, service/data-factory, size/XS

#11001 *_template_deployment: Fix #8840 Missing parameters error when updating
  azurerm/internal/services/resource/resource_group_template_deployment_resource.go
  azurerm/internal/services/resource/resource_group_template_deployment_resource_test.go
  azurerm/internal/services/resource/subscription_template_deployment_resource.go
  azurerm/internal/services/resource/subscription_template_deployment_resource_test.go
Labels: bug, service/resources, size/L

#11046 Crash Fix: `azurerm_frontdoor_custom_https_configuration`
  azurerm/internal/services/frontdoor/frontdoor_custom_https_configuration_resource.go
Labels: crash, service/frontdoor, size/XS

#11057 Fix for azurerm_resource_group_template_deployment example
  website/docs/r/resource_group_template_deployment.html.markdown
Labels: documentation, service/template, size/XS

#11049 Update Golang version
  GNUmakefile
Labels: size/XS

#11047 Doc Fix: `azurerm_monitor_scheduled_query_rules_alert`
  website/docs/r/monitor_scheduled_query_rules_alert.html.markdown
Labels: documentation, service/monitor, size/XS

#11055 `azurerm_logic_app_trigger_recurrence` - Add support for `schedule`
  azurerm/internal/services/logic/logic_app_trigger_recurrence_resource.go
  azurerm/internal/services/logic/logic_app_trigger_recurrence_resource_test.go
  website/docs/r/logic_app_trigger_recurrence.html.markdown
Labels: documentation, enhancement, service/logic, size/L

#11088 makes Note block more consistent
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
Labels: documentation, size/M

#11080 Fix acctest `TestAccMsSqlVirtualMachine_keyVault`
  azurerm/internal/services/mssql/mssql_virtual_machine_resource_test.go
Labels: service/mssql, size/XS, tests

#11091 Support for versionless_id attribute for azurerm_key_vault_secret as data source
  azurerm/internal/services/keyvault/key_vault_key_resource.go
  azurerm/internal/services/keyvault/key_vault_secret_data_source.go
  azurerm/internal/services/keyvault/key_vault_secret_data_source_test.go
  azurerm/internal/services/keyvault/key_vault_secret_resource.go
  azurerm/internal/services/keyvault/parse/nested_item.go
Labels: enhancement, service/keyvault, size/XS

#11079 Fix typo in website documentation of azurerm_log_analytics_data_export resource
  website/docs/r/log_analytics_data_export_rule.html.markdown
Labels: documentation, service/log-analytics, size/XS

#11082 Fix TC for Virtual Hub IP
  azurerm/internal/services/network/virtual_hub_bgp_connection_resource_test.go
  azurerm/internal/services/network/virtual_hub_ip_resource_test.go
  website/docs/r/virtual_hub_bgp_connection.html.markdown
  website/docs/r/virtual_hub_ip.html.markdown
Labels: documentation, service/virtual-hub, size/XS

#11006 azurerm_kusto_eventhub_data_connection: support event_system_properties
  azurerm/internal/services/kusto/kusto_eventhub_data_connection_resource.go
  azurerm/internal/services/kusto/kusto_eventhub_data_connection_resource_test.go
  website/docs/r/kusto_eventhub_data_connection.html.markdown
Labels: documentation, enhancement, service/kusto, size/S

#10825 `azurerm_subnet` - fix `address_prefixes` update (1 -> 2) not take effect issue
  azurerm/internal/services/network/subnet_resource.go
  azurerm/internal/services/network/subnet_resource_test.go
Labels: bug, service/subnets, size/M

#11064 `azurerm_spring_cloud_app` - supports property `tls_enabled`
  azurerm/internal/services/springcloud/client/client.go
  azurerm/internal/services/springcloud/spring_cloud_active_deployment_resource.go
  azurerm/internal/services/springcloud/spring_cloud_app_data_source.go
  azurerm/internal/services/springcloud/spring_cloud_app_resource.go
  azurerm/internal/services/springcloud/spring_cloud_app_resource_test.go
  azurerm/internal/services/springcloud/spring_cloud_certificate_resource.go
  azurerm/internal/services/springcloud/spring_cloud_custom_domain_resource.go
  azurerm/internal/services/springcloud/spring_cloud_java_deployment_resource.go
  azurerm/internal/services/springcloud/spring_cloud_service_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appplatform/mgmt/2020-07-01/appplatform/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/apps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/bindings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/certificates.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/configservers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/customdomains.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/deployments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/monitoringsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/runtimeversions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/services.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/appplatform/mgmt/2020-11-01-preview/appplatform/version.go
  vendor/modules.txt
  website/docs/d/spring_cloud_app.html.markdown
  website/docs/r/spring_cloud_app.html.markdown
Labels: dependencies, documentation, enhancement, services/spring, size/L

#10985 add data source for service bus topic and service bus queue
  azurerm/internal/services/servicebus/registration.go
  azurerm/internal/services/servicebus/servicebus_queue_data_source.go
  azurerm/internal/services/servicebus/servicebus_queue_data_source_test.go
  azurerm/internal/services/servicebus/servicebus_topic_data_source.go
  azurerm/internal/services/servicebus/servicebus_topic_data_source_test.go
  website/docs/d/servicebus_queue.html.markdown
  website/docs/d/servicebus_topic.html.markdown
Labels: documentation, new-data-source, service/servicebus, size/XL

#10958 azurerm_ssh_public_key: using suppress.CaseDifference for resource_group_name
  azurerm/internal/services/compute/ssh_public_key_resource.go
  azurerm/internal/services/compute/ssh_public_key_resource_test.go
Labels: size/XS

#9850 r/role_definition: fixing a crash when `permissions` is nil & making permissions optional
  azurerm/internal/services/authorization/azuresdkhacks/definitions.go
  azurerm/internal/services/authorization/role_definition_resource.go
  azurerm/internal/services/authorization/role_definition_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2019-06-01-preview/templatespecs/CHANGELOG.md
  website/docs/r/role_definition.html.markdown
Labels: bug, dependencies, documentation, service/authorization, size/XL

#11112 Documentation update for `monitor_scheduled_query_rules_alert`
  website/docs/r/monitor_scheduled_query_rules_alert.html.markdown
Labels: documentation, size/XS

#11134 Docs - updated automatic_channel_upgrade possible values
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#11124 `azurerm_subscription` - fixes broken timeout on destroy
  azurerm/internal/services/subscription/subscription_resource.go
Labels: service/subscription, size/XS

#11130 `azurerm_site_recovery_fabric` - Fixes error in checking for existing resource
  azurerm/internal/services/recoveryservices/site_recovery_fabric_resource.go
Labels: service/recovery-services, size/XS

#11117 Doc Fix: `azurerm_kubernetes_cluster` `oms_agent_identity`
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#11145 `azurerm_spring_cloud_custom_domain`: `thumbprint` is required when specifying `certificate_name`
  azurerm/internal/services/springcloud/spring_cloud_custom_domain_resource.go
  website/docs/r/spring_cloud_custom_domain.html.markdown
Labels: documentation, services/spring, size/XS

#11142 Update synapse workspace naming conventions
  azurerm/internal/services/synapse/validate/workspace_name.go
  azurerm/internal/services/synapse/validate/workspace_name_test.go
Labels: enhancement, service/synapse, size/S

#11106 "azurerm_spring_cloud_service" - supports property `sample_rate`
  azurerm/internal/services/springcloud/spring_cloud_service_resource.go
  azurerm/internal/services/springcloud/spring_cloud_service_resource_test.go
  website/docs/r/spring_cloud_service.html.markdown
Labels: documentation, enhancement, services/spring, size/XS

#11131 azurerm_storage_account - support for 'container_delete_retention_policy'
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/S

#10830 `r/azurerm_data_factory_linked_service_azure_blob_storage`: Fixing managed identity implementation
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource_test.go
  website/docs/r/data_factory_linked_service_azure_blob_storage.html.markdown
Labels: documentation, service/data-factory, size/S

#11108 upgrade go sdk to v52.6.0
  azurerm/internal/services/authorization/role_assignment_resource_test.go
  azurerm/internal/services/authorization/role_definition_resource.go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/classicadministrators.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/denyassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/permissions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/roleassignmentmetrics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/roleassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/roledefinitions.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/L

#10627 azurerm_firewall: support for `private_ip_ranges`
  azurerm/internal/services/firewall/firewall_resource.go
  azurerm/internal/services/firewall/firewall_resource_test.go
  website/docs/r/firewall.html.markdown
Labels: documentation, enhancement, service/firewall, size/M

#11069 New Resource: `azurerm_management_group_subscription_association`
  azurerm/internal/acceptance/testcase.go
  azurerm/internal/services/managementgroup/management_group_resource.go
  azurerm/internal/services/managementgroup/management_group_resource_test.go
  azurerm/internal/services/managementgroup/parse/management_group.go
  azurerm/internal/services/managementgroup/parse/management_group_subscription_association.go
  azurerm/internal/services/managementgroup/parse/management_group_subscription_association_test.go
  azurerm/internal/services/managementgroup/registration.go
  azurerm/internal/services/managementgroup/subscription_association_resource.go
  azurerm/internal/services/managementgroup/subscription_association_resource_test.go
  azurerm/internal/services/subscription/parse/subscription.go
  azurerm/internal/services/subscription/parse/subscription_test.go
  website/docs/r/management_group.html.markdown
  website/docs/r/management_group_subscription_association.html.markdown
Labels: breaking-change, documentation, new-resource, service/management-groups, size/XL

#11164 `azurerm_cognitive_account` - Add support for `network_acls`
  azurerm/internal/services/cognitive/cognitive_account_resource.go
  azurerm/internal/services/cognitive/cognitive_account_resource_test.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, service/cognitive-services, size/XL

#10860 azurerm_web_application_firewall_policy: add http_listener_ids and path_based_rule_ids
  azurerm/internal/services/network/application_gateway_resource_test.go
  azurerm/internal/services/network/parse/application_gateway_http_listener.go
  azurerm/internal/services/network/parse/application_gateway_http_listener_test.go
  azurerm/internal/services/network/parse/application_gateway_url_path_map_path_rule.go
  azurerm/internal/services/network/parse/application_gateway_url_path_map_path_rule_test.go
  azurerm/internal/services/network/resourceids.go
  azurerm/internal/services/network/validate/application_gateway_http_listener_id.go
  azurerm/internal/services/network/validate/application_gateway_http_listener_id_test.go
  azurerm/internal/services/network/validate/application_gateway_url_path_map_path_rule_id.go
  azurerm/internal/services/network/validate/application_gateway_url_path_map_path_rule_id_test.go
  azurerm/internal/services/network/validate/web_application_firewall_policy.go
  azurerm/internal/services/network/web_application_firewall_policy_resource.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, enhancement, size/XL
