Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2021-05, with the labels that each got.

#11175 `azurerm_api_management_certificate` - allow key vault certificates
  azurerm/internal/services/apimanagement/api_management_certificate_resource.go
  azurerm/internal/services/apimanagement/api_management_certificate_resource_test.go
  azurerm/internal/services/apimanagement/api_management_resource_test.go
  website/docs/r/api_management_certificate.html.markdown
Labels: documentation, enhancement, service/api-management, size/XL

#11484 New resource `azurerm_storage_blob_inventory_policy`
  azurerm/internal/services/storage/client/client.go
  azurerm/internal/services/storage/parse/blob_inventory_policy.go
  azurerm/internal/services/storage/parse/blob_inventory_policy_test.go
  azurerm/internal/services/storage/registration.go
  azurerm/internal/services/storage/resourceids.go
  azurerm/internal/services/storage/storage_blob_inventory_policy_resource.go
  azurerm/internal/services/storage/storage_blob_inventory_policy_resource_test.go
  azurerm/internal/services/storage/validate/blob_inventory_policy_id.go
  azurerm/internal/services/storage/validate/blob_inventory_policy_id_test.go
  website/docs/r/storage_blob_inventory_policy.html.markdown
Labels: documentation, service/storage, size/XL

#11541 Migrate from 'hashcode' to 'schema'
  azurerm/internal/services/compute/migration/legacy_vmss.go
Labels: size/XS

#11549 Correct azurerm_vpn_site link attribute name
  website/docs/r/vpn_gateway_connection.html.markdown
Labels: documentation, service/vpn, size/XS

#11547 `azurerm_hdinsight_*_cluster` - Support for autoscale #8104
  azurerm/internal/services/hdinsight/client/client.go
  azurerm/internal/services/hdinsight/common_hdinsight.go
  azurerm/internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_hadoop_cluster_resource_test.go
  azurerm/internal/services/hdinsight/hdinsight_hbase_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_hbase_cluster_resource_test.go
  azurerm/internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_interactive_query_cluster_resource_test.go
  azurerm/internal/services/hdinsight/hdinsight_spark_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_spark_cluster_resource_test.go
  azurerm/internal/services/hdinsight/schema.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
Labels: documentation, size/XXL

#11562 new data source: azurerm_storage_table_entity
  azurerm/internal/services/storage/registration.go
  azurerm/internal/services/storage/storage_table_entity_data_source.go
  azurerm/internal/services/storage/storage_table_entity_data_source_test.go
  website/docs/d/storage_table_entity.html.markdown
Labels: documentation, new-data-source, service/storage, size/L

#11567 Doc Fix: Storage Table Entity
  website/docs/r/storage_table_entity.html.markdown
Labels: documentation, service/storage, size/XS

#10502 azurerm_data_factory - support for the customer_managed_key_id property
  azurerm/internal/services/datafactory/data_factory_data_source.go
  azurerm/internal/services/datafactory/data_factory_resource.go
  azurerm/internal/services/datafactory/data_factory_resource_test.go
  website/docs/r/data_factory.html.markdown
Labels: documentation, enhancement, service/data-factory, size/L

#11486 Support for `access_key_metadata_writes_enabled`, `mongo_server_version` and `network_acl_bypass` in `azurerm_cosmosdb_account`
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/XL

#11574 `app_service_slot`: Update docs for export of identity block
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, service/app-service, size/XS

#11578 Add SQL DB Name to Attributes List
  website/docs/r/mssql_database.html.markdown
Labels: documentation, size/XS

#11570 Test Fix: Kusto Service
  azurerm/internal/services/kusto/kusto_attached_database_configuration_resource_test.go
  azurerm/internal/services/kusto/kusto_cluster_customer_managed_key_test.go
  azurerm/internal/services/kusto/kusto_cluster_resource_test.go
Labels: service/kusto, size/XS, tests

#11174 New Resource: `azurerm_app_service_environment_v3`
  azurerm/internal/provider/services.go
  azurerm/internal/services/web/app_service_environment_v3_data_source.go
  azurerm/internal/services/web/app_service_environment_v3_data_source_test.go
  azurerm/internal/services/web/app_service_environment_v3_resource.go
  azurerm/internal/services/web/app_service_environment_v3_resource_test.go
  azurerm/internal/services/web/registration.go
  azurerm/utils/int.go
  website/docs/d/app_service_environment_v3.html.markdown
  website/docs/r/app_service_environment_v3.html.markdown
Labels: documentation, new-resource, preview, service/app-service, size/XL, tests

#11581 `azurerm_network_security_rule` - support for protocol Ah and Esp
  azurerm/internal/services/network/network_security_rule_resource.go
  website/docs/r/network_security_rule.html.markdown
Labels: documentation, service/network-security, size/XS

#11582 `function_app` and `function_app_slot`: Improve docs app settings
  website/docs/r/function_app.html.markdown
  website/docs/r/function_app_slot.html.markdown
Labels: documentation, service/functions, size/XS

#11575 New feature: azurerm_data_factory_pipeline - Add optional folder parameter
  azurerm/internal/services/datafactory/data_factory_pipeline_resource.go
  azurerm/internal/services/datafactory/data_factory_pipeline_resource_test.go
  website/docs/r/data_factory_pipeline.html.markdown
Labels: documentation, enhancement, service/data-factory, size/XS

#11456 `azurerm_frontdoor` - Fix for Frontdoor resource elements being returned out of order
  azurerm/internal/services/frontdoor/frontdoor_custom_https_configuration.go
  azurerm/internal/services/frontdoor/frontdoor_custom_https_configuration_resource.go
  azurerm/internal/services/frontdoor/frontdoor_custom_https_configuration_resource_test.go
  azurerm/internal/services/frontdoor/frontdoor_resource.go
  azurerm/internal/services/frontdoor/frontdoor_resource_test.go
  azurerm/internal/services/frontdoor/parse/custom_https_configuration.go
  azurerm/internal/services/frontdoor/parse/custom_https_configuration_test.go
  azurerm/internal/services/frontdoor/resourceids.go
  azurerm/internal/services/frontdoor/validate/custom_https_configuration_id.go
  azurerm/internal/services/frontdoor/validate/custom_https_configuration_id_test.go
  website/docs/r/frontdoor.html.markdown
  website/docs/r/frontdoor_custom_https_configuration.html.markdown
Labels: breaking-change, bug, documentation, service/frontdoor, size/XXL, upstream-microsoft

#11601 Add note to SQL server doc to use mssql resource instead
  website/docs/d/sql_database.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_server.html.markdown
Labels: documentation, service/mssql, size/XS

#11536 add resource azurerm_cosmosdb_notebook_workspace
  azurerm/internal/services/cosmos/client/client.go
  azurerm/internal/services/cosmos/cosmosdb_notebook_workspace_resource.go
  azurerm/internal/services/cosmos/cosmosdb_notebook_workspace_resource_test.go
  azurerm/internal/services/cosmos/parse/notebook_workspace.go
  azurerm/internal/services/cosmos/parse/notebook_workspace_test.go
  azurerm/internal/services/cosmos/registration.go
  azurerm/internal/services/cosmos/resourceids.go
  azurerm/internal/services/cosmos/validate/notebook_workspace_id.go
  azurerm/internal/services/cosmos/validate/notebook_workspace_id_test.go
  website/docs/r/cosmosdb_notebook_workspace.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/XL

#11540 azurerm_network_connection_monitor - support `coverage_level`, `excluded_ip_addresses`, `included_ip_addresses`, `target_resource_id`, `resource_type`
  azurerm/internal/services/network/network_connection_monitor_resource.go
  azurerm/internal/services/network/network_connection_monitor_resource_test.go
  azurerm/internal/services/network/network_watcher_resource_test.go
  website/docs/r/network_connection_monitor.html.markdown
Labels: documentation, enhancement, service/network-watcher, size/XL

#11537 add resource azurerm_cosmosdb_sql_user_defined_function
  azurerm/internal/services/cosmos/client/client.go
  azurerm/internal/services/cosmos/cosmosdb_sql_function_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_function_resource_test.go
  azurerm/internal/services/cosmos/parse/sql_function.go
  azurerm/internal/services/cosmos/parse/sql_function_test.go
  azurerm/internal/services/cosmos/registration.go
  azurerm/internal/services/cosmos/resourceids.go
  azurerm/internal/services/cosmos/validate/sql_function_id.go
  azurerm/internal/services/cosmos/validate/sql_function_id_test.go
  website/docs/r/cosmosdb_sql_user_defined_function.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/XL

#11597 Support for `backup` in `azurerm_cosmosdb_account`
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, size/L

#11604 teamcity tests: limit netapp to 10
  .teamcity/components/settings.kt
Labels: size/XS

#11485 Supports for`azure_files_identity_based_authentication`, `routing_preference` in `azurerm_storage_account`
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XL, waiting-response

#11605 fix failure TC for SpringCloud RP
  azurerm/internal/services/springcloud/spring_cloud_app_cosmosdb_association_resource_test.go
Labels: service/cosmosdb, size/XS, tests

#11606 `azurerm_subscription` - fix document to align with schema
  azurerm/internal/services/subscription/subscription_resource_test.go
  website/docs/r/subscription.html.markdown
Labels: documentation, service/subscription, size/XS

#11552 New Resource - sentinel_alert_rule_machine_learning_behavior_analytics
  azurerm/internal/services/sentinel/azurerm_sentinel_alert_rule_machine_learning_behavior_analytics.go
  azurerm/internal/services/sentinel/azurerm_sentinel_alert_rule_machine_learning_behavior_analytics_test.go
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/sentinel_alert_rule.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_template_data_source.go
  website/docs/r/azurerm_sentinel_alert_rule_machine_learning_behavior_analytics.html.markdown
Labels: documentation, new-resource, service/sentinel, size/XL

#11617 teamcity: updating to 2020.2 / TF core to 0.15.3
  .teamcity/components/settings.kt
  .teamcity/settings.kts
Labels: size/XS, tooling

#11618 #11615: CosmosDB Account: Increase max value for max_staleness_prefix
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
Labels: bug, service/cosmosdb, size/XS

#11620 Update SQL DW SKU validation
  azurerm/internal/services/mssql/validate/database_sku_name.go
Labels: service/mssql, size/XS

#11621 go: updating to use 1.16.3
  .github/workflows/depscheck.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/gradually-deprecated.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/website-lint.yaml
  .go-version
Labels: size/XS, tooling

#11607 `azurerm_container_registry_token` - modify `name` validation
  azurerm/internal/services/containers/container_registry_token_data_source.go
  azurerm/internal/services/containers/container_registry_token_resource.go
  azurerm/internal/services/containers/container_registry_token_resource_test.go
  azurerm/internal/services/containers/validate/container_registry_token_name.go
  azurerm/internal/services/containers/validate/container_registry_token_name_test.go
Labels: bug, service/container-registry, size/M

#11622 `azurerm_kubernetes_cluster`: Add `ingress_application_gateway_identity` export for add-on `ingress_application_gateway`
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/containers/kubernetes_cluster_addons_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source_test.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/M

#11632 Remove upgrade mode check
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: bug, service/vmss, size/XS

#11634 `managed_disk`: Option to configure `tier` on managed disks
  azurerm/internal/services/compute/managed_disk_resource.go
  azurerm/internal/services/compute/managed_disk_resource_test.go
  website/docs/r/managed_disk.html.markdown
Labels: documentation, enhancement, service/disks, size/M

#11630 Fix `backup` in `azurerm_cosmosdb_account` when `type` is `Continuous`
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
Labels: size/XS

#11631 Update check for health probe
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_images_resource_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_images_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: bug, service/vmss, size/L

#11651 Test Fix: Various Compute Tests
  azurerm/internal/services/compute/linux_virtual_machine_resource_network_test.go
  azurerm/internal/services/compute/virtual_machine_resource_test.go
  azurerm/internal/services/compute/virtual_machine_unmanaged_disks_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_network_resource_test.go
Labels: size/XS, tests

#11654 Raise function app `pre_warmed_instance_count` instance count to 20 to match actual limit
  azurerm/internal/services/web/function_app.go
Labels: service/functions, size/XS

#11629 Support for `private_link_access` in `azurerm_storage_account`
  azurerm/internal/services/storage/storage_account_network_rules_resource.go
  azurerm/internal/services/storage/storage_account_network_rules_resource_test.go
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_account_network_rules.html.markdown
Labels: documentation, service/storage, size/XL

#11660 New Resource - `azurerm_monitor_aad_diagnostic_setting`
  azurerm/internal/services/monitor/client/client.go
  azurerm/internal/services/monitor/monitor_aad_diagnostic_setting_resource.go
  azurerm/internal/services/monitor/monitor_aad_diagnostic_setting_resource_test.go
  azurerm/internal/services/monitor/parse/monitor_aad_diagnositc_setting_test.go
  azurerm/internal/services/monitor/parse/monitor_aad_diagnostic_setting.go
  azurerm/internal/services/monitor/registration.go
  azurerm/internal/services/monitor/validate/monitor_aad_diagnostic_setting_id.go
  azurerm/internal/services/monitor/validate/monitor_aad_diagnostic_setting_id_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/diagnosticsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/diagnosticsettingscategory.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/version.go
  vendor/modules.txt
  website/docs/r/monitor_aad_diagnostic_setting.html.markdown
Labels: dependencies, documentation, new-resource, service/monitor, size/XXL

#11700 fix(bastion_host): Add ForceNew field to ipconf values
  azurerm/internal/services/network/bastion_host_resource.go
Labels: bug, service/bastion, size/XS

#11696 `azurerm_storage_account` - Workaround for Portal UI bug for Storage Account resource AllowSharedKeyAccess field value being `nil`
  azurerm/internal/services/storage/storage_account_resource.go
Labels: bug, documentation, service/storage, size/S, upstream-microsoft

#11694 fix doc of `azurerm_policy_set_definition`
  website/docs/d/policy_set_definition.html.markdown
  website/docs/r/policy_set_definition.html.markdown
Labels: documentation, service/policy, size/XS

#11685 Show command for listing vmss extensions
  website/docs/r/virtual_machine_scale_set_extension.html.markdown
Labels: documentation, service/vmss, size/XS

#11692 azurerm_storage_account - empty allowed_headers and exposed_headers
  azurerm/internal/services/storage/helpers.go
  azurerm/internal/services/storage/storage_account_resource_test.go
Labels: bug, service/storage, size/S

#11695 Support for `change_feed_enabled` in `azurerm_storage_account`
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/XS

#11661 updating to allow encryption on azure container registry
  azurerm/internal/services/containers/container_registry_resource.go
  azurerm/internal/services/containers/container_registry_resource_test.go
  website/docs/r/container_registry.html.markdown
Labels: documentation, enhancement, service/container-registry, size/L

#11669 fix acc tests for virtual machine
  azurerm/internal/services/compute/linux_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/linux_virtual_machine_resource_scaling_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_disk_os_resource_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource_scaling_test.go
Labels: size/S, tests

#11638 New Resource : azurerm_servicebus_namespace_disaster_recovery_config (Service Bus Geo DR)
  azurerm/internal/services/servicebus/client/client.go
  azurerm/internal/services/servicebus/parse/namespace_disaster_recovery_config.go
  azurerm/internal/services/servicebus/parse/namespace_disaster_recovery_config_test.go
  azurerm/internal/services/servicebus/registration.go
  azurerm/internal/services/servicebus/resourceids.go
  azurerm/internal/services/servicebus/servicebus_namespace_disaster_recovery_config_data_source.go
  azurerm/internal/services/servicebus/servicebus_namespace_disaster_recovery_config_data_source_test.go
  azurerm/internal/services/servicebus/servicebus_namespace_disaster_recovery_config_resource.go
  azurerm/internal/services/servicebus/servicebus_namespace_disaster_recovery_config_test.go
  azurerm/internal/services/servicebus/servicebus_namespace_resource.go
  azurerm/internal/services/servicebus/validate/namespace_disaster_recovery_config_id.go
  azurerm/internal/services/servicebus/validate/namespace_disaster_recovery_config_id_test.go
  website/docs/r/servicebus_namespace_disaster_recovery_config.html.markdown
Labels: documentation, new-resource, service/servicebus, size/XXL

#11703 `mssql_database`: Support field `creation_source_database_id` on import for Secondary db
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/mssql/mssql_database_resource_test.go
Labels: enhancement, service/mssql, size/S

#11655 `azurerm_cosmosdb_sql_container`: add `analytical_storage_ttl` argument
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource_test.go
  website/docs/r/cosmosdb_sql_container.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/M

#11653 Support for `identity` and `cors_rule` in `azurerm_cosmosdb_account`
  azurerm/internal/services/cosmos/common/cors_rule.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/XL

#11425 Update `azurerm_linux|windows_virtual_machine_scale_set` - change extension block from List to Set
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: question, service/vmss, size/S

#11729 Migrate from GitHub HashiBot lock behavior to GitHub Actions
  .github/workflows/lock.yaml
  .hashibot.hcl
Labels: provider, refactor, size/S

#11721 `azurerm_redis_cache`: Update documentation of AOF persistence
  website/docs/r/redis_cache.html.markdown
Labels: documentation, service/redis, size/XS

#11718 Clean up XS003 warnings
  azurerm/internal/services/consumption/schema.go
  azurerm/internal/services/media/media_asset_filter_resource.go
  azurerm/internal/services/mssql/migration/database_v0_to_v1.go
  azurerm/internal/services/web/app_service.go
  website/docs/r/media_asset_filter.html.markdown
Labels: documentation, size/M, tests

#11717 fix TC for bot
  azurerm/internal/services/bot/bot_healthbot_resource.go
Labels: service/bots, size/XS

#11711 fix failure TC for Batch RP
  azurerm/internal/services/batch/batch_account_data_source_test.go
  azurerm/internal/services/batch/batch_account_resource_test.go
Labels: service/batch, size/XS, tests

#11709 fix TC for media RP
  azurerm/internal/services/media/media_streaming_endpoint_resource.go
Labels: services/media, size/XS

#11731 windows_virtual_machine_scale_set: Allow updating license_type without recreation
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/M

#11739 chore - use auto-generated parsers and validators for resource `azurerm_machine_learning_workspace`
  azurerm/internal/services/machinelearning/machine_learning_workspace_resource.go
  azurerm/internal/services/machinelearning/parse/workspace.go
  azurerm/internal/services/machinelearning/parse/workspace_test.go
  azurerm/internal/services/machinelearning/resourceids.go
  azurerm/internal/services/machinelearning/validate/workspace_id.go
  azurerm/internal/services/machinelearning/validate/workspace_id_test.go
Labels: refactor, service/machine-learning, size/XL

#11740 refactor: use parse.LinkedServiceID
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_databricks_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_function_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_table_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_cosmosdb_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_key_vault_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_mysql_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_postgresql_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sftp_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_web_resource.go
Labels: refactor, service/data-factory, size/XL

#11712 `azurerm_virtual_machine_scale_set` DS - adjust the schemas to be Computed
  azurerm/internal/services/compute/virtual_machine_scale_set.go
Labels: service/virtual-machine, size/XS, tests

#11735 `azurerm_cosmosdb_mongo_collection`: add `analytical_storage_ttl` argument
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_collection_resource.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_collection_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource.go
  website/docs/r/cosmosdb_mongo_collection.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/M

#11714 `azurerm_redis_cache`: add `replicas_per_master` attribute
  azurerm/internal/services/redis/redis_cache_resource.go
  azurerm/internal/services/redis/redis_cache_resource_test.go
  website/docs/r/redis_cache.html.markdown
Labels: documentation, enhancement, service/redis, size/S

#11737 `azurerm_hdinsight_kafka_cluster`: Add support for `encryption_in_transit_enabled` argument
  azurerm/internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_kafka_cluster_resource_test.go
  website/docs/r/hdinsight_kafka_cluster.html.markdown
Labels: documentation, enhancement, service/hdinsight, size/M

#11734 [DataSource] `azurerm_redis_enterprise_database` - Expose support for Redis Enterprise Database
  azurerm/internal/services/redisenterprise/redis_enterprise_database_data_source.go
  azurerm/internal/services/redisenterprise/redis_enterprise_database_data_source_test.go
  azurerm/internal/services/redisenterprise/redis_enterprise_database_resource.go
  azurerm/internal/services/redisenterprise/registration.go
  website/docs/d/redis_enterprise_database.html.markdown
  website/docs/r/redis_enterprise_database.html.markdown
Labels: documentation, enhancement, service/redis, size/L

#11742 azurerm_virtual_network_gateway_connection - update `shared_key`
  azurerm/internal/services/network/virtual_network_gateway_connection_resource.go
Labels: bug, service/virtual-network-gateway, size/XS

#11741 azurerm_application_gateway - update the document about `frontend_ip_configuration.public_ip_address_id`
  website/docs/r/application_gateway.html.markdown
Labels: documentation, service/application-gateway, size/XS

#11750 Add PreAttack tactic to Sentinel scheduled alert rule
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
Labels: enhancement, service/sentinel, size/XS

#11760 Fix acctest `TestAccPostgreSQLServer_createPointInTimeRestore`
  azurerm/internal/services/postgres/postgresql_server_resource_test.go
Labels: service/postgresql, size/XS, tests

#11757 azurerm_virtual_network - fix acc test
  azurerm/internal/services/network/virtual_network_resource.go
  azurerm/internal/services/network/virtual_network_resource_test.go
  website/docs/r/virtual_network.html.markdown
Labels: documentation, service/virtual-networks, size/M

#11761 modified wrong server resources
  website/docs/r/mssql_database.html.markdown
Labels: documentation, service/mssql, size/XS

#11762 `azurerm_data_factory_integration_runtime_azure_ssis`: Fix typo in the doc
  website/docs/r/data_factory_integration_runtime_azure_ssis.html.markdown
Labels: documentation, size/XS

#11767 Update the hashicorp/go-plugin: v1.3.0 -> v1.4.0
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-hclog/README.md
  vendor/github.com/hashicorp/go-hclog/colorize_unix.go
  vendor/github.com/hashicorp/go-hclog/colorize_windows.go
  vendor/github.com/hashicorp/go-hclog/exclude.go
  vendor/github.com/hashicorp/go-hclog/global.go
  vendor/github.com/hashicorp/go-hclog/go.mod
  vendor/github.com/hashicorp/go-hclog/go.sum
  vendor/github.com/hashicorp/go-hclog/interceptlogger.go
  vendor/github.com/hashicorp/go-hclog/intlogger.go
  vendor/github.com/hashicorp/go-hclog/logger.go
  vendor/github.com/hashicorp/go-hclog/nulllogger.go
  vendor/github.com/hashicorp/go-hclog/stdlog.go
  vendor/github.com/hashicorp/go-hclog/writer.go
  vendor/github.com/hashicorp/go-plugin/go.mod
  vendor/github.com/hashicorp/go-plugin/go.sum
  vendor/github.com/hashicorp/go-plugin/grpc_stdio.go
  vendor/github.com/hashicorp/go-plugin/server.go
  vendor/github.com/mattn/go-colorable/colorable_appengine.go
  vendor/github.com/mattn/go-colorable/colorable_others.go
  vendor/github.com/mattn/go-colorable/colorable_windows.go
  vendor/github.com/mattn/go-colorable/go.mod
  vendor/github.com/mattn/go-colorable/noncolorable.go
  vendor/github.com/mattn/go-isatty/go.mod
  vendor/github.com/mattn/go-isatty/go.sum
  vendor/github.com/mattn/go-isatty/isatty_android.go
  vendor/github.com/mattn/go-isatty/isatty_others.go
  vendor/github.com/mattn/go-isatty/isatty_plan9.go
  vendor/github.com/mattn/go-isatty/isatty_tcgets.go
  vendor/github.com/mattn/go-isatty/isatty_windows.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#11755 Support for `analytical_storage_ttl` in `azurerm_cosmosdb_cassandra_table`
  azurerm/internal/services/cosmos/cosmosdb_cassandra_table_resource.go
  azurerm/internal/services/cosmos/cosmosdb_cassandra_table_resource_test.go
  website/docs/r/cosmosdb_cassandra_table.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/M

#11736 `azurerm_healthcare_service`: Add `public_network_access_enabled` argument
  azurerm/internal/services/healthcare/healthcare_service_resource.go
  azurerm/internal/services/healthcare/healthcare_service_resource_test.go
  website/docs/r/healthcare_service.html.markdown
Labels: documentation, enhancement, service/healthcare, size/M

#11633 "azurerm_spring_cloud_service" - supports property "required_network_traffic_rules"
  azurerm/internal/services/springcloud/spring_cloud_service_data_source.go
  azurerm/internal/services/springcloud/spring_cloud_service_resource.go
  azurerm/internal/services/springcloud/spring_cloud_service_resource_test.go
  website/docs/d/spring_cloud_service.html.markdown
  website/docs/r/spring_cloud_service.html.markdown
Labels: documentation, enhancement, services/spring, size/L

#11720 `azurerm_frontdoor`: check for `nil` value in `future.Response()`
  azurerm/internal/services/frontdoor/frontdoor_resource.go
Labels: bug, service/frontdoor, size/XS, upstream-microsoft

#7150 New Resource `azurerm_static_site`
  azurerm/internal/services/web/client/client.go
  azurerm/internal/services/web/parse/static_site.go
  azurerm/internal/services/web/parse/static_site_test.go
  azurerm/internal/services/web/registration.go
  azurerm/internal/services/web/resourceids.go
  azurerm/internal/services/web/static_site_resource.go
  azurerm/internal/services/web/static_site_resource_test.go
  azurerm/internal/services/web/validate/static_site.go
  azurerm/internal/services/web/validate/static_site_id.go
  azurerm/internal/services/web/validate/static_site_id_test.go
  examples/web/static-site/azure-static-web-app.tpl
  examples/web/static-site/main.tf
  website/docs/r/static_site.html.markdown
Labels: documentation, new-resource, preview, service/app-service, size/XL, upstream-microsoft

#11763 New data source: `azurerm_eventhub_cluster`
  azurerm/internal/services/eventhub/eventhub_cluster_data_source.go
  azurerm/internal/services/eventhub/eventhub_cluster_data_source_test.go
  azurerm/internal/services/eventhub/registration.go
  website/docs/d/eventhub_cluster.html.markdown
Labels: documentation, new-data-source, service/event-hubs, size/L

#11786 Fix markdown header
  website/docs/guides/service_principal_client_certificate.html.markdown
Labels: documentation, size/XS

#11550 new resource `azurerm_machine_learning_inference_cluster`
  azurerm/internal/services/machinelearning/client/client.go
  azurerm/internal/services/machinelearning/machine_learning_inference_cluster_resource.go
  azurerm/internal/services/machinelearning/machine_learning_inference_cluster_resource_test.go
  azurerm/internal/services/machinelearning/parse/inference_cluster.go
  azurerm/internal/services/machinelearning/parse/inference_cluster_test.go
  azurerm/internal/services/machinelearning/parse/kubernetes_cluster.go
  azurerm/internal/services/machinelearning/parse/kubernetes_cluster_test.go
  azurerm/internal/services/machinelearning/registration.go
  azurerm/internal/services/machinelearning/resourceids.go
  azurerm/internal/services/machinelearning/testdata/HOWTO.md
  azurerm/internal/services/machinelearning/testdata/cert.pem
  azurerm/internal/services/machinelearning/testdata/key.pem
  azurerm/internal/services/machinelearning/validate/inference_cluster_id.go
  azurerm/internal/services/machinelearning/validate/inference_cluster_id_test.go
  azurerm/internal/services/machinelearning/validate/kubernetes_cluster_id.go
  azurerm/internal/services/machinelearning/validate/kubernetes_cluster_id_test.go
  website/docs/r/machine_learning_inference_cluster.html.markdown
Labels: documentation, service/machine-learning, size/XXL

#11684 azurerm_netapp_volume - support for the `security_style` property - Fixes #11370
  azurerm/internal/services/netapp/netapp_volume_data_source.go
  azurerm/internal/services/netapp/netapp_volume_resource.go
  azurerm/internal/services/netapp/netapp_volume_resource_test.go
  website/docs/d/netapp_volume.html.markdown
  website/docs/r/netapp_volume.html.markdown
Labels: documentation, enhancement, service/netapp, size/S

#11784 Remove acr validator from scopemaps
  azurerm/internal/services/containers/container_registry_scope_map_resource.go
  azurerm/internal/services/containers/validate/container_registry_scope_map_name.go
  azurerm/internal/services/containers/validate/container_registry_scope_map_name_test.go
Labels: bug, service/container-registry, size/M

#11794 fix acc test for NSR
  azurerm/internal/services/network/network_security_rule_resource_test.go
Labels: service/network-security, size/XS

#11795 fix acc test for public IP
  azurerm/internal/services/network/public_ip_resource_test.go
Labels: service/public-ip, size/XS, tests

#11796 fix acc test for route filter
  azurerm/internal/services/network/route_filter_resource_test.go
Labels: service/route, size/XS, tests

#11798 fix acc test for private link service endpoint connection DS
  azurerm/internal/services/network/private_link_service_endpoint_connections_data_source_test.go
Labels: service/private-link, size/XS, tests

#11793 fix acc test for `TestAccApplicationGateway_sslCertificate_keyvault_version`
  azurerm/internal/services/network/application_gateway_resource_test.go
Labels: service/application-gateway, size/XS, tests

#11802 `azurerm_monitor_activity_log_alert` - support for `Security` event type for Azure Service Health alerts
  azurerm/internal/services/monitor/monitor_activity_log_alert_resource.go
  azurerm/internal/services/monitor/monitor_activity_log_alert_resource_test.go
  website/docs/r/monitor_activity_log_alert.html.markdown
Labels: documentation, size/XS

#11792 azurerm_storage_account_management_policy - rule name can contains `-`
  azurerm/internal/services/storage/storage_management_policy_resource.go
  azurerm/internal/services/storage/storage_management_policy_resource_test.go
Labels: bug, service/storage, size/XS

#11815 fix/docs - remove unsupported argument `subscription_id` from example resource declaration of `azurerm_consumption_budget_resource_group`
  website/docs/r/consumption_budget_resource_group.html.markdown
Labels: documentation, size/XS

#11814 fix(private_dns_cname_record): ttl field should be lowercase
  website/docs/r/private_dns_cname_record.html.markdown
Labels: documentation, service/dns, size/XS

#11818 fix(network_security_group): example name points to the same resource
  website/docs/d/network_security_group.html.markdown
Labels: documentation, size/XS

#11827 `azurerm_postgresql_server`: Fix documentation
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, service/postgresql, size/XS

#11826 `azurerm_data_factory_linked_service_data_lake_storage_gen2`: Fix documentation
  website/docs/r/data_factory_linked_service_data_lake_storage_gen2.html.markdown
Labels: documentation, service/data-factory, size/XS

#11825 `azurerm_data_factory_linked_service_sftp`: support for hostkey related properties
  azurerm/internal/services/datafactory/data_factory_linked_service_sftp_resource.go
  website/docs/r/data_factory_linked_service_sftp.html.markdown
  website/docs/r/static_site.html.markdown
Labels: documentation, enhancement, service/data-factory, size/XS

#11813 upgrade go sdk to 54.3
  azurerm/internal/services/authorization/role_assignment_resource.go
  azurerm/internal/services/authorization/role_assignment_resource_test.go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2020-04-01-preview/authorization/roleassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/L

#11833 dependencies: udpating to v0.16.2 of github.com/hashicorp/go-azure-helpers
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#11840 `azurerm_route_table`: Update docs to indicate that tags can be used for `address_prefix`
  website/docs/r/route_table.html.markdown
Labels: documentation, service/route-tables, size/XS

#11839 `azurerm_eventhub_cluster`: Add ImportAsExists
  azurerm/internal/services/eventhub/eventhub_cluster_resource.go
Labels: service/event-hubs, size/XS

#11745 azurerm_virtual_network_gateway(_connection): Fix acctest failures
  azurerm/internal/services/network/virtual_network_gateway_connection_resource_test.go
  azurerm/internal/services/network/virtual_network_gateway_resource.go
  azurerm/internal/services/network/virtual_network_gateway_resource_test.go
Labels: service/virtual-network-gateway, size/XS, tests

#11723 Allow auto os upgrades for service fabric
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_extensions_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_extensions_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XL

#11849 `azurerm_static_site`: Add support for `tags` attribute
  azurerm/internal/services/web/static_site_resource.go
  azurerm/internal/services/web/static_site_resource_test.go
  website/docs/r/static_site.html.markdown
Labels: documentation, size/M

#11852 azurerm_cdn_endpoint - fix API error when given an empty `origin_host_header`
  azurerm/internal/services/cdn/cdn_endpoint_resource.go
  azurerm/internal/services/cdn/cdn_endpoint_resource_test.go
  website/docs/r/cdn_endpoint.html.markdown
Labels: bug, documentation, service/cdn, size/XS

#11860 sdkv2 shim - attestation
  azurerm/internal/services/attestation/attestation_provider_data_source.go
  azurerm/internal/services/attestation/attestation_provider_data_source_test.go
  azurerm/internal/services/attestation/attestation_provider_resource.go
  azurerm/internal/services/attestation/attestation_provider_resource_test.go
  azurerm/internal/services/attestation/registration.go
Labels: size/M

#11866 sdkv2 shim - azurestackhci
  azurerm/internal/services/azurestackhci/registration.go
  azurerm/internal/services/azurestackhci/stack_hci_cluster_resource.go
  azurerm/internal/services/azurestackhci/stack_hci_cluster_resource_test.go
Labels: size/M

#11869 sdkv2 shim - blueprints
  azurerm/internal/services/blueprints/blueprint.go
  azurerm/internal/services/blueprints/blueprint_assignment_resource.go
  azurerm/internal/services/blueprints/blueprint_assignment_resource_test.go
  azurerm/internal/services/blueprints/blueprint_definition_data_source.go
  azurerm/internal/services/blueprints/blueprint_definition_data_source_test.go
  azurerm/internal/services/blueprints/blueprint_published_version_data_source.go
  azurerm/internal/services/blueprints/blueprint_published_version_data_source_test.go
  azurerm/internal/services/blueprints/registration.go
Labels: size/L

#11874 sdkv2 shim - cognitive
  azurerm/internal/services/cognitive/cognitive_account_data_source.go
  azurerm/internal/services/cognitive/cognitive_account_data_source_test.go
  azurerm/internal/services/cognitive/cognitive_account_resource.go
  azurerm/internal/services/cognitive/cognitive_account_resource_test.go
  azurerm/internal/services/cognitive/registration.go
  azurerm/internal/services/cognitive/validate/cognitiveservices.go
Labels: size/L

#11871 sdkv2 shim - bot
  azurerm/internal/services/bot/bot_channel_directline_resource.go
  azurerm/internal/services/bot/bot_channel_directline_resource_test.go
  azurerm/internal/services/bot/bot_channel_email_resource.go
  azurerm/internal/services/bot/bot_channel_email_resource_test.go
  azurerm/internal/services/bot/bot_channel_ms_teams_resource.go
  azurerm/internal/services/bot/bot_channel_ms_teams_resource_test.go
  azurerm/internal/services/bot/bot_channel_slack_resource.go
  azurerm/internal/services/bot/bot_channel_slack_resource_test.go
  azurerm/internal/services/bot/bot_channels_registration_resource.go
  azurerm/internal/services/bot/bot_channels_registration_resource_test.go
  azurerm/internal/services/bot/bot_connection_resource.go
  azurerm/internal/services/bot/bot_connection_resource_test.go
  azurerm/internal/services/bot/bot_healthbot_resource.go
  azurerm/internal/services/bot/bot_healthbot_resource_test.go
  azurerm/internal/services/bot/bot_web_app_resource.go
  azurerm/internal/services/bot/bot_web_app_resource_test.go
  azurerm/internal/services/bot/registration.go
  azurerm/internal/services/bot/validate/bot.go
Labels: size/XL

#11868 sdkv2 shim - billing
  azurerm/internal/services/billing/billing_enrollment_account_data_source.go
  azurerm/internal/services/billing/billing_enrollment_account_data_source_test.go
  azurerm/internal/services/billing/billing_mca_account_data_source.go
  azurerm/internal/services/billing/billing_mca_account_data_source_test.go
  azurerm/internal/services/billing/registration.go
Labels: size/M

#11875 sdkv2 shim - communication
  azurerm/internal/services/communication/communication_service_resource.go
  azurerm/internal/services/communication/communication_service_resource_test.go
  azurerm/internal/services/communication/registration.go
Labels: size/M

#11876 sdkv2 shim - trafficmanager
  azurerm/internal/services/trafficmanager/registration.go
  azurerm/internal/services/trafficmanager/traffic_manager_endpoint_resource.go
  azurerm/internal/services/trafficmanager/traffic_manager_endpoint_resource_test.go
  azurerm/internal/services/trafficmanager/traffic_manager_geographical_location_data_source.go
  azurerm/internal/services/trafficmanager/traffic_manager_geographical_location_data_source_test.go
  azurerm/internal/services/trafficmanager/traffic_manager_profile_data_source.go
  azurerm/internal/services/trafficmanager/traffic_manager_profile_data_source_test.go
  azurerm/internal/services/trafficmanager/traffic_manager_profile_resource.go
  azurerm/internal/services/trafficmanager/traffic_manager_profile_resource_test.go
Labels: size/XL

#11877 sdkv2 shim - vmware
  azurerm/internal/services/vmware/registration.go
  azurerm/internal/services/vmware/vmware_cluster_resource.go
  azurerm/internal/services/vmware/vmware_cluster_resource_test.go
  azurerm/internal/services/vmware/vmware_private_cloud_data_source.go
  azurerm/internal/services/vmware/vmware_private_cloud_data_source_test.go
  azurerm/internal/services/vmware/vmware_private_cloud_resource.go
  azurerm/internal/services/vmware/vmware_private_cloud_resource_test.go
Labels: size/L

#11882 sdkv2 shim - sql
  azurerm/internal/services/sql/helper/sql_extended_auditing.go
  azurerm/internal/services/sql/registration.go
  azurerm/internal/services/sql/sql_administrator_resource.go
  azurerm/internal/services/sql/sql_administrator_resource_test.go
  azurerm/internal/services/sql/sql_database_data_source.go
  azurerm/internal/services/sql/sql_database_data_source_test.go
  azurerm/internal/services/sql/sql_database_resource.go
  azurerm/internal/services/sql/sql_database_resource_test.go
  azurerm/internal/services/sql/sql_elasticpool_resource.go
  azurerm/internal/services/sql/sql_elasticpool_resource_test.go
  azurerm/internal/services/sql/sql_failover_group_resource.go
  azurerm/internal/services/sql/sql_failover_group_resource_test.go
  azurerm/internal/services/sql/sql_firewall_rule_resource.go
  azurerm/internal/services/sql/sql_firewall_rule_resource_test.go
  azurerm/internal/services/sql/sql_server_data_source.go
  azurerm/internal/services/sql/sql_server_data_source_test.go
  azurerm/internal/services/sql/sql_server_resource.go
  azurerm/internal/services/sql/sql_server_resource_test.go
  azurerm/internal/services/sql/sql_virtual_network_rule_resource.go
  azurerm/internal/services/sql/sql_virtual_network_rule_resource_test.go
  azurerm/internal/services/sql/validate/virtual_network_rule_name_test.go
Labels: size/XL

#11879 sdkv2 shim - subscription
  azurerm/internal/services/subscription/data_source_subscription.go
  azurerm/internal/services/subscription/data_source_subscription_test.go
  azurerm/internal/services/subscription/data_source_subscriptions.go
  azurerm/internal/services/subscription/data_source_subscriptions_test.go
  azurerm/internal/services/subscription/registration.go
  azurerm/internal/services/subscription/subscription_resource.go
  azurerm/internal/services/subscription/subscription_resource_test.go
Labels: size/L

#11884 sdkv2 shim - signalr
  azurerm/internal/services/signalr/registration.go
  azurerm/internal/services/signalr/signalr_service_data_source.go
  azurerm/internal/services/signalr/signalr_service_data_source_test.go
  azurerm/internal/services/signalr/signalr_service_resource.go
  azurerm/internal/services/signalr/signalr_service_resource_test.go
Labels: size/L

#11885 sdkv2 shim - servicefabricmesh
  azurerm/internal/services/servicefabricmesh/registration.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_application_resource.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_application_resource_test.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_local_network_resource.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_local_network_resource_test.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_secret_resource.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_secret_resource_test.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_secret_value_resource.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_secret_value_resource_test.go
Labels: size/L

#11886 sdkv2 shim - servicefabric
  azurerm/internal/services/servicefabric/registration.go
  azurerm/internal/services/servicefabric/service_fabric_cluster_resource.go
  azurerm/internal/services/servicefabric/service_fabric_cluster_resource_test.go
  azurerm/internal/services/servicefabric/validate/upgrade_timeout.go
Labels: size/XL

#11890 sdkv2 shim - search
  azurerm/internal/services/search/registration.go
  azurerm/internal/services/search/search_service_data_source.go
  azurerm/internal/services/search/search_service_data_source_test.go
  azurerm/internal/services/search/search_service_resource.go
  azurerm/internal/services/search/search_service_resource_test.go
Labels: size/L

#11870 sdkv2 shim - web
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_active_slot_resource.go
  azurerm/internal/services/web/app_service_active_slot_resource_test.go
  azurerm/internal/services/web/app_service_certificate_binding_resource.go
  azurerm/internal/services/web/app_service_certificate_binding_resource_test.go
  azurerm/internal/services/web/app_service_certificate_data_source.go
  azurerm/internal/services/web/app_service_certificate_data_source_test.go
  azurerm/internal/services/web/app_service_certificate_order_data_source.go
  azurerm/internal/services/web/app_service_certificate_order_data_source_test.go
  azurerm/internal/services/web/app_service_certificate_order_resource.go
  azurerm/internal/services/web/app_service_certificate_order_resource_test.go
  azurerm/internal/services/web/app_service_certificate_resource.go
  azurerm/internal/services/web/app_service_certificate_resource_test.go
  azurerm/internal/services/web/app_service_custom_hostname_binding_resource.go
  azurerm/internal/services/web/app_service_custom_hostname_binding_resource_test.go
  azurerm/internal/services/web/app_service_data_source.go
  azurerm/internal/services/web/app_service_data_source_test.go
  azurerm/internal/services/web/app_service_environment_data_source.go
  azurerm/internal/services/web/app_service_environment_data_source_test.go
  azurerm/internal/services/web/app_service_environment_resource.go
  azurerm/internal/services/web/app_service_environment_resource_test.go
  azurerm/internal/services/web/app_service_environment_v3_data_source.go
  azurerm/internal/services/web/app_service_environment_v3_data_source_test.go
  azurerm/internal/services/web/app_service_environment_v3_resource.go
  azurerm/internal/services/web/app_service_environment_v3_resource_test.go
  azurerm/internal/services/web/app_service_hybrid_connection_resource.go
  azurerm/internal/services/web/app_service_hybrid_connection_resource_test.go
  azurerm/internal/services/web/app_service_managed_certificate_resource.go
  azurerm/internal/services/web/app_service_managed_certificate_resource_test.go
  azurerm/internal/services/web/app_service_plan_data_source.go
  azurerm/internal/services/web/app_service_plan_data_source_test.go
  azurerm/internal/services/web/app_service_plan_resource.go
  azurerm/internal/services/web/app_service_plan_resource_test.go
  azurerm/internal/services/web/app_service_resource.go
  azurerm/internal/services/web/app_service_resource_test.go
  azurerm/internal/services/web/app_service_schedule_backup.go
  azurerm/internal/services/web/app_service_site_source_control.go
  azurerm/internal/services/web/app_service_slot_resource.go
  azurerm/internal/services/web/app_service_slot_resource_test.go
  azurerm/internal/services/web/app_service_slot_virtual_network_swift_connection_resource.go
  azurerm/internal/services/web/app_service_slot_virtual_network_swift_connection_resource_test.go
  azurerm/internal/services/web/app_service_source_control_token_resource.go
  azurerm/internal/services/web/app_service_source_control_token_resource_test.go
  azurerm/internal/services/web/app_service_virtual_network_swift_connection_resource.go
  azurerm/internal/services/web/app_service_virtual_network_swift_connection_resource_test.go
  azurerm/internal/services/web/cors_settings.go
  azurerm/internal/services/web/function_app.go
  azurerm/internal/services/web/function_app_data_source.go
  azurerm/internal/services/web/function_app_data_source_test.go
  azurerm/internal/services/web/function_app_host_keys_data_source.go
  azurerm/internal/services/web/function_app_host_keys_data_source_test.go
  azurerm/internal/services/web/function_app_resource.go
  azurerm/internal/services/web/function_app_resource_test.go
  azurerm/internal/services/web/function_app_slot_resource.go
  azurerm/internal/services/web/function_app_slot_resource_test.go
  azurerm/internal/services/web/registration.go
  azurerm/internal/services/web/static_site_resource.go
  azurerm/internal/services/web/static_site_resource_test.go
  azurerm/internal/services/web/validate/source_control_token_name.go
Labels: size/XXL

#11861 sdkv2 shim - applicationinsights
  azurerm/internal/services/applicationinsights/application_insights_analytics_item_resource.go
  azurerm/internal/services/applicationinsights/application_insights_analytics_item_resource_test.go
  azurerm/internal/services/applicationinsights/application_insights_api_key_resource.go
  azurerm/internal/services/applicationinsights/application_insights_api_key_resource_test.go
  azurerm/internal/services/applicationinsights/application_insights_data_source.go
  azurerm/internal/services/applicationinsights/application_insights_data_source_test.go
  azurerm/internal/services/applicationinsights/application_insights_resource.go
  azurerm/internal/services/applicationinsights/application_insights_resource_test.go
  azurerm/internal/services/applicationinsights/application_insights_smart_detection_rule_resource.go
  azurerm/internal/services/applicationinsights/application_insights_smart_detection_rule_resource_test.go
  azurerm/internal/services/applicationinsights/application_insights_webtests_resource.go
  azurerm/internal/services/applicationinsights/application_insights_webtests_resource_test.go
  azurerm/internal/services/applicationinsights/helpers.go
  azurerm/internal/services/applicationinsights/registration.go
Labels: size/XL

#11865 sdkv2 shim - automation
  azurerm/internal/services/automation/automation_account_data_source.go
  azurerm/internal/services/automation/automation_account_data_source_test.go
  azurerm/internal/services/automation/automation_account_resource.go
  azurerm/internal/services/automation/automation_account_resource_test.go
  azurerm/internal/services/automation/automation_certificate_resource.go
  azurerm/internal/services/automation/automation_certificate_resource_test.go
  azurerm/internal/services/automation/automation_connection_certificate_resource.go
  azurerm/internal/services/automation/automation_connection_certificate_resource_test.go
  azurerm/internal/services/automation/automation_connection_classic_certificate_resource.go
  azurerm/internal/services/automation/automation_connection_classic_certificate_resource_test.go
  azurerm/internal/services/automation/automation_connection_import.go
  azurerm/internal/services/automation/automation_connection_resource.go
  azurerm/internal/services/automation/automation_connection_resource_test.go
  azurerm/internal/services/automation/automation_connection_service_principal_resource.go
  azurerm/internal/services/automation/automation_connection_service_principal_resource_test.go
  azurerm/internal/services/automation/automation_credential_resource.go
  azurerm/internal/services/automation/automation_credential_resource_test.go
  azurerm/internal/services/automation/automation_dsc_configuration_resource.go
  azurerm/internal/services/automation/automation_dsc_configuration_resource_test.go
  azurerm/internal/services/automation/automation_dsc_nodeconfiguration_resource.go
  azurerm/internal/services/automation/automation_dsc_nodeconfiguration_resource_test.go
  azurerm/internal/services/automation/automation_job_schedule_resource.go
  azurerm/internal/services/automation/automation_job_schedule_resource_test.go
  azurerm/internal/services/automation/automation_module_resource.go
  azurerm/internal/services/automation/automation_module_resource_test.go
  azurerm/internal/services/automation/automation_runbook_resource.go
  azurerm/internal/services/automation/automation_runbook_resource_test.go
  azurerm/internal/services/automation/automation_schedule_resource.go
  azurerm/internal/services/automation/automation_schedule_resource_test.go
  azurerm/internal/services/automation/automation_variable.go
  azurerm/internal/services/automation/automation_variable_bool_data_source.go
  azurerm/internal/services/automation/automation_variable_bool_data_source_test.go
  azurerm/internal/services/automation/automation_variable_bool_resource.go
  azurerm/internal/services/automation/automation_variable_bool_resource_test.go
  azurerm/internal/services/automation/automation_variable_datetime_data_source.go
  azurerm/internal/services/automation/automation_variable_datetime_data_source_test.go
  azurerm/internal/services/automation/automation_variable_datetime_resource.go
  azurerm/internal/services/automation/automation_variable_datetime_resource_test.go
  azurerm/internal/services/automation/automation_variable_int_data_source.go
  azurerm/internal/services/automation/automation_variable_int_data_source_test.go
  azurerm/internal/services/automation/automation_variable_int_resource.go
  azurerm/internal/services/automation/automation_variable_int_resource_test.go
  azurerm/internal/services/automation/automation_variable_string_data_source.go
  azurerm/internal/services/automation/automation_variable_string_data_source_test.go
  azurerm/internal/services/automation/automation_variable_string_resource.go
  azurerm/internal/services/automation/automation_variable_string_resource_test.go
  azurerm/internal/services/automation/automation_variable_test.go
  azurerm/internal/services/automation/helper/automation_job_schedule.go
  azurerm/internal/services/automation/registration.go
  azurerm/internal/services/automation/validate/account_name.go
  azurerm/internal/services/automation/validate/runbook_name.go
  azurerm/internal/services/automation/validate/schedule_name.go
Labels: size/XXL

#11887 sdkv2 shim - servicebus
  azurerm/internal/services/servicebus/internal.go
  azurerm/internal/services/servicebus/migration/namespace.go
  azurerm/internal/services/servicebus/registration.go
  azurerm/internal/services/servicebus/servicebus_namespace_authorization_rule_data_source.go
  azurerm/internal/services/servicebus/servicebus_namespace_authorization_rule_data_source_test.go
  azurerm/internal/services/servicebus/servicebus_namespace_authorization_rule_resource.go
  azurerm/internal/services/servicebus/servicebus_namespace_authorization_rule_resource_test.go
  azurerm/internal/services/servicebus/servicebus_namespace_data_source.go
  azurerm/internal/services/servicebus/servicebus_namespace_data_source_test.go
  azurerm/internal/services/servicebus/servicebus_namespace_disaster_recovery_config_data_source.go
  azurerm/internal/services/servicebus/servicebus_namespace_disaster_recovery_config_data_source_test.go
  azurerm/internal/services/servicebus/servicebus_namespace_disaster_recovery_config_resource.go
  azurerm/internal/services/servicebus/servicebus_namespace_disaster_recovery_config_test.go
  azurerm/internal/services/servicebus/servicebus_namespace_network_rule_set_resource.go
  azurerm/internal/services/servicebus/servicebus_namespace_network_rule_set_resource_test.go
  azurerm/internal/services/servicebus/servicebus_namespace_resource.go
  azurerm/internal/services/servicebus/servicebus_namespace_resource_test.go
  azurerm/internal/services/servicebus/servicebus_queue_authorization_rule_data_source.go
  azurerm/internal/services/servicebus/servicebus_queue_authorization_rule_data_source_test.go
  azurerm/internal/services/servicebus/servicebus_queue_authorization_rule_resource.go
  azurerm/internal/services/servicebus/servicebus_queue_authorization_rule_resource_test.go
  azurerm/internal/services/servicebus/servicebus_queue_data_source.go
  azurerm/internal/services/servicebus/servicebus_queue_data_source_test.go
  azurerm/internal/services/servicebus/servicebus_queue_resource.go
  azurerm/internal/services/servicebus/servicebus_queue_resource_test.go
  azurerm/internal/services/servicebus/servicebus_subscription_data_source.go
  azurerm/internal/services/servicebus/servicebus_subscription_data_source_test.go
  azurerm/internal/services/servicebus/servicebus_subscription_resource.go
  azurerm/internal/services/servicebus/servicebus_subscription_resource_test.go
  azurerm/internal/services/servicebus/servicebus_subscription_rule_resource.go
  azurerm/internal/services/servicebus/servicebus_subscription_rule_resource_test.go
  azurerm/internal/services/servicebus/servicebus_topic_authorization_rule_data_source.go
  azurerm/internal/services/servicebus/servicebus_topic_authorization_rule_data_source_test.go
  azurerm/internal/services/servicebus/servicebus_topic_authorization_rule_resource.go
  azurerm/internal/services/servicebus/servicebus_topic_authorization_rule_resource_test.go
  azurerm/internal/services/servicebus/servicebus_topic_data_source.go
  azurerm/internal/services/servicebus/servicebus_topic_data_source_test.go
  azurerm/internal/services/servicebus/servicebus_topic_resource.go
  azurerm/internal/services/servicebus/servicebus_topic_resource_test.go
  azurerm/internal/services/servicebus/validate/authorization_rule_name.go
  azurerm/internal/services/servicebus/validate/queue_name.go
  azurerm/internal/services/servicebus/validate/servicebus.go
  azurerm/internal/services/servicebus/validate/subscription_name.go
  azurerm/internal/services/servicebus/validate/topic_name.go
Labels: size/XXL

#11889 sdkv2 shim - securitycenter
  azurerm/internal/services/securitycenter/advanced_threat_protection_resource.go
  azurerm/internal/services/securitycenter/advanced_threat_protection_resource_test.go
  azurerm/internal/services/securitycenter/iot_security_device_group_resource.go
  azurerm/internal/services/securitycenter/iot_security_device_group_resource_test.go
  azurerm/internal/services/securitycenter/iot_security_solution_resource.go
  azurerm/internal/services/securitycenter/iot_security_solution_resource_test.go
  azurerm/internal/services/securitycenter/migration/advanced_threat_protection.go
  azurerm/internal/services/securitycenter/migration/subscription_pricing.go
  azurerm/internal/services/securitycenter/registration.go
  azurerm/internal/services/securitycenter/security_center_assessment_metadata_resource.go
  azurerm/internal/services/securitycenter/security_center_assessment_metadata_resource_test.go
  azurerm/internal/services/securitycenter/security_center_assessment_policy_resource.go
  azurerm/internal/services/securitycenter/security_center_assessment_policy_resource_test.go
  azurerm/internal/services/securitycenter/security_center_assessment_resource.go
  azurerm/internal/services/securitycenter/security_center_assessment_resource_test.go
  azurerm/internal/services/securitycenter/security_center_auto_provisioning_resource.go
  azurerm/internal/services/securitycenter/security_center_auto_provisioning_resource_test.go
  azurerm/internal/services/securitycenter/security_center_automation_resource.go
  azurerm/internal/services/securitycenter/security_center_automation_resource_test.go
  azurerm/internal/services/securitycenter/security_center_contact_resource.go
  azurerm/internal/services/securitycenter/security_center_contact_resource_test.go
  azurerm/internal/services/securitycenter/security_center_server_vulnerability_assessment_resource.go
  azurerm/internal/services/securitycenter/security_center_server_vulnerability_assessment_resource_test.go
  azurerm/internal/services/securitycenter/security_center_setting_resource.go
  azurerm/internal/services/securitycenter/security_center_setting_resource_test.go
  azurerm/internal/services/securitycenter/security_center_subscription_pricing_resource.go
  azurerm/internal/services/securitycenter/security_center_subscription_pricing_resource_test.go
  azurerm/internal/services/securitycenter/security_center_workspace_resource.go
  azurerm/internal/services/securitycenter/security_center_workspace_resource_test.go
Labels: size/XL

#11888 sdkv2 shim - sentinel
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/sentinel_alert_rule.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_data_source.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_data_source_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_fusion_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_fusion_resource_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_machine_learning_behavior_analytics.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_machine_learning_behavior_analytics_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_template_data_source.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_template_data_source_test.go
  azurerm/internal/services/sentinel/sentinel_data_connector_aws_cloud_trail.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_active_directory.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_active_directory_test.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_advanced_threat_protection.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_advanced_threat_protection_test.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_security_center.go
  azurerm/internal/services/sentinel/sentinel_data_connector_azure_security_center_test.go
  azurerm/internal/services/sentinel/sentinel_data_connector_microsoft_cloud_app_security.go
  azurerm/internal/services/sentinel/sentinel_data_connector_microsoft_cloud_app_security_test.go
  azurerm/internal/services/sentinel/sentinel_data_connector_microsoft_defender_advanced_threat_protection.go
  azurerm/internal/services/sentinel/sentinel_data_connector_microsoft_defender_advanced_threat_protection_test.go
  azurerm/internal/services/sentinel/sentinel_data_connector_office_365.go
  azurerm/internal/services/sentinel/sentinel_data_connector_office_365_test.go
  azurerm/internal/services/sentinel/sentinel_data_connector_threat_intelligence.go
  azurerm/internal/services/sentinel/sentinel_data_connector_threat_intelligence_test.go
Labels: size/XL

#11863 sdkv2 shim - authorization
  azurerm/internal/acceptance/check/that.go
  azurerm/internal/services/authorization/client_config_data_source.go
  azurerm/internal/services/authorization/client_config_data_source_test.go
  azurerm/internal/services/authorization/migration/role_definition_migration.go
  azurerm/internal/services/authorization/registration.go
  azurerm/internal/services/authorization/role_assignment_resource.go
  azurerm/internal/services/authorization/role_assignment_resource_test.go
  azurerm/internal/services/authorization/role_definition_data_source.go
  azurerm/internal/services/authorization/role_definition_data_source_test.go
  azurerm/internal/services/authorization/role_definition_resource.go
  azurerm/internal/services/authorization/role_definition_resource_test.go
Labels: size/XL

#11867 sdkv2 shim - batch
  azurerm/internal/services/batch/batch_account_data_source.go
  azurerm/internal/services/batch/batch_account_data_source_test.go
  azurerm/internal/services/batch/batch_account_resource.go
  azurerm/internal/services/batch/batch_account_resource_test.go
  azurerm/internal/services/batch/batch_application_resource.go
  azurerm/internal/services/batch/batch_application_resource_test.go
  azurerm/internal/services/batch/batch_certificate_data_source.go
  azurerm/internal/services/batch/batch_certificate_data_source_test.go
  azurerm/internal/services/batch/batch_certificate_resource.go
  azurerm/internal/services/batch/batch_certificate_resource_test.go
  azurerm/internal/services/batch/batch_pool.go
  azurerm/internal/services/batch/batch_pool_data_source.go
  azurerm/internal/services/batch/batch_pool_data_source_test.go
  azurerm/internal/services/batch/batch_pool_resource.go
  azurerm/internal/services/batch/batch_pool_resource_test.go
  azurerm/internal/services/batch/registration.go
Labels: size/XL

#11873 sdkv2 shim - cdn
  azurerm/internal/services/cdn/cdn_endpoint_resource.go
  azurerm/internal/services/cdn/cdn_endpoint_resource_test.go
  azurerm/internal/services/cdn/cdn_profile_data_source.go
  azurerm/internal/services/cdn/cdn_profile_data_source_test.go
  azurerm/internal/services/cdn/cdn_profile_resource.go
  azurerm/internal/services/cdn/cdn_profile_resource_test.go
  azurerm/internal/services/cdn/deliveryruleactions/cache_expiration.go
  azurerm/internal/services/cdn/deliveryruleactions/cache_key_query_string.go
  azurerm/internal/services/cdn/deliveryruleactions/modify_request_header.go
  azurerm/internal/services/cdn/deliveryruleactions/modify_response_header.go
  azurerm/internal/services/cdn/deliveryruleactions/url_redirect.go
  azurerm/internal/services/cdn/deliveryruleactions/url_rewrite.go
  azurerm/internal/services/cdn/deliveryruleconditions/cookies.go
  azurerm/internal/services/cdn/deliveryruleconditions/device.go
  azurerm/internal/services/cdn/deliveryruleconditions/http_version.go
  azurerm/internal/services/cdn/deliveryruleconditions/post_arg.go
  azurerm/internal/services/cdn/deliveryruleconditions/query_string.go
  azurerm/internal/services/cdn/deliveryruleconditions/remote_address.go
  azurerm/internal/services/cdn/deliveryruleconditions/request_body.go
  azurerm/internal/services/cdn/deliveryruleconditions/request_header.go
  azurerm/internal/services/cdn/deliveryruleconditions/request_method.go
  azurerm/internal/services/cdn/deliveryruleconditions/request_scheme.go
  azurerm/internal/services/cdn/deliveryruleconditions/request_uri.go
  azurerm/internal/services/cdn/deliveryruleconditions/url_file_extension.go
  azurerm/internal/services/cdn/deliveryruleconditions/url_file_name.go
  azurerm/internal/services/cdn/deliveryruleconditions/url_path.go
  azurerm/internal/services/cdn/endpoint_delivery_rule.go
  azurerm/internal/services/cdn/endpoint_global_delivery_rule.go
  azurerm/internal/services/cdn/migration/cdn_endpoint.go
  azurerm/internal/services/cdn/migration/cdn_profile.go
  azurerm/internal/services/cdn/registration.go
  azurerm/internal/services/cdn/validate/cdn.go
Labels: size/XXL

#11878 sdkv2 shim - synapse
  azurerm/internal/services/synapse/registration.go
  azurerm/internal/services/synapse/synapse_firewall_rule_resource.go
  azurerm/internal/services/synapse/synapse_firewall_rule_resource_test.go
  azurerm/internal/services/synapse/synapse_managed_private_endpoint_resource.go
  azurerm/internal/services/synapse/synapse_managed_private_endpoint_resource_test.go
  azurerm/internal/services/synapse/synapse_role_assignment_resource.go
  azurerm/internal/services/synapse/synapse_role_assignment_resource_test.go
  azurerm/internal/services/synapse/synapse_spark_pool_resource.go
  azurerm/internal/services/synapse/synapse_spark_pool_resource_test.go
  azurerm/internal/services/synapse/synapse_sql_pool_resource.go
  azurerm/internal/services/synapse/synapse_sql_pool_resource_test.go
  azurerm/internal/services/synapse/synapse_workspace_data_source.go
  azurerm/internal/services/synapse/synapse_workspace_data_source_test.go
  azurerm/internal/services/synapse/synapse_workspace_resource.go
  azurerm/internal/services/synapse/synapse_workspace_resource_test.go
  azurerm/internal/services/synapse/validate/managed_resource_group_name.go
  azurerm/internal/services/synapse/validate/managed_resource_group_name_test.go
  azurerm/internal/services/synapse/validate/repo_root_folder.go
Labels: size/XL

#11903 sdkv2shim - devspace
  azurerm/internal/services/devspace/devspace_controller_resource.go
  azurerm/internal/services/devspace/devspace_controller_resource_test.go
  azurerm/internal/services/devspace/registration.go
  azurerm/internal/services/devspace/validate/devspace.go
Labels: size/M

#11905 sdkv2shim - eventgrid
  azurerm/internal/services/eventgrid/event_subscription.go
  azurerm/internal/services/eventgrid/eventgrid.go
  azurerm/internal/services/eventgrid/eventgrid_domain_resource.go
  azurerm/internal/services/eventgrid/eventgrid_domain_resource_test.go
  azurerm/internal/services/eventgrid/eventgrid_domain_topic_data_source.go
  azurerm/internal/services/eventgrid/eventgrid_domain_topic_data_source_test.go
  azurerm/internal/services/eventgrid/eventgrid_domain_topic_resource.go
  azurerm/internal/services/eventgrid/eventgrid_domain_topic_resource_test.go
  azurerm/internal/services/eventgrid/eventgrid_event_subscription_resource.go
  azurerm/internal/services/eventgrid/eventgrid_event_subscription_resource_test.go
  azurerm/internal/services/eventgrid/eventgrid_system_topic_event_subscription_resource.go
  azurerm/internal/services/eventgrid/eventgrid_system_topic_event_subscription_resource_test.go
  azurerm/internal/services/eventgrid/eventgrid_system_topic_resource.go
  azurerm/internal/services/eventgrid/eventgrid_system_topic_resource_test.go
  azurerm/internal/services/eventgrid/eventgrid_topic_data_source.go
  azurerm/internal/services/eventgrid/eventgrid_topic_data_source_test.go
  azurerm/internal/services/eventgrid/eventgrid_topic_resource.go
  azurerm/internal/services/eventgrid/eventgrid_topic_resource_test.go
  azurerm/internal/services/eventgrid/registration.go
Labels: size/XL

#11907 sdkv2shim - datashare
  azurerm/internal/services/datashare/data_share_account_data_source.go
  azurerm/internal/services/datashare/data_share_account_data_source_test.go
  azurerm/internal/services/datashare/data_share_account_resource.go
  azurerm/internal/services/datashare/data_share_account_resource_test.go
  azurerm/internal/services/datashare/data_share_data_source.go
  azurerm/internal/services/datashare/data_share_data_source_test.go
  azurerm/internal/services/datashare/data_share_dataset_blob_storage_data_source.go
  azurerm/internal/services/datashare/data_share_dataset_blob_storage_data_source_test.go
  azurerm/internal/services/datashare/data_share_dataset_blob_storage_resource.go
  azurerm/internal/services/datashare/data_share_dataset_blob_storage_resource_test.go
  azurerm/internal/services/datashare/data_share_dataset_data_lake_gen1_data_source.go
  azurerm/internal/services/datashare/data_share_dataset_data_lake_gen1_data_source_test.go
  azurerm/internal/services/datashare/data_share_dataset_data_lake_gen1_resource.go
  azurerm/internal/services/datashare/data_share_dataset_data_lake_gen1_resource_test.go
  azurerm/internal/services/datashare/data_share_dataset_data_lake_gen2_data_source.go
  azurerm/internal/services/datashare/data_share_dataset_data_lake_gen2_data_source_test.go
  azurerm/internal/services/datashare/data_share_dataset_data_lake_gen2_resource.go
  azurerm/internal/services/datashare/data_share_dataset_data_lake_gen2_resource_test.go
  azurerm/internal/services/datashare/data_share_dataset_kusto_cluster_data_source.go
  azurerm/internal/services/datashare/data_share_dataset_kusto_cluster_data_source_test.go
  azurerm/internal/services/datashare/data_share_dataset_kusto_cluster_resource.go
  azurerm/internal/services/datashare/data_share_dataset_kusto_cluster_resource_test.go
  azurerm/internal/services/datashare/data_share_dataset_kusto_database_data_source.go
  azurerm/internal/services/datashare/data_share_dataset_kusto_database_data_source_test.go
  azurerm/internal/services/datashare/data_share_dataset_kusto_database_resource.go
  azurerm/internal/services/datashare/data_share_dataset_kusto_database_resource_test.go
  azurerm/internal/services/datashare/data_share_resource.go
  azurerm/internal/services/datashare/data_share_resource_test.go
  azurerm/internal/services/datashare/registration.go
  azurerm/internal/services/datashare/validate/account_name.go
  azurerm/internal/services/datashare/validate/data_set_name.go
  azurerm/internal/services/datashare/validate/share_name.go
  azurerm/internal/services/datashare/validate/snapshot_schedule_name.go
Labels: size/XL

#11909 sdkv2shim - databoxedge
  azurerm/internal/services/databoxedge/customizediff.go
  azurerm/internal/services/databoxedge/databox_edge_device_resource.go
  azurerm/internal/services/databoxedge/databox_edge_device_resource_test.go
  azurerm/internal/services/databoxedge/databox_edge_order_resource.go
  azurerm/internal/services/databoxedge/databox_edge_order_resource_test.go
  azurerm/internal/services/databoxedge/registration.go
Labels: size/L

#11910 sdkv2shim - databricks
  azurerm/internal/services/databricks/databricks_workspace_data_source.go
  azurerm/internal/services/databricks/databricks_workspace_data_source_test.go
  azurerm/internal/services/databricks/databricks_workspace_resource.go
  azurerm/internal/services/databricks/databricks_workspace_resource_test.go
  azurerm/internal/services/databricks/registration.go
Labels: size/M

#11911 sdkv2shim - customproviders
  azurerm/internal/services/customproviders/custom_provider_resource.go
  azurerm/internal/services/customproviders/custom_provider_resource_test.go
  azurerm/internal/services/customproviders/registration.go
Labels: size/M

#11914 sdkv2shim - consumption
  azurerm/internal/services/consumption/consumption_budget_common.go
  azurerm/internal/services/consumption/consumption_budget_resource_group_resource.go
  azurerm/internal/services/consumption/consumption_budget_resource_group_resource_test.go
  azurerm/internal/services/consumption/consumption_budget_subscription_resource.go
  azurerm/internal/services/consumption/consumption_budget_subscription_resource_test.go
  azurerm/internal/services/consumption/helpers.go
  azurerm/internal/services/consumption/registration.go
  azurerm/internal/services/consumption/schema.go
  azurerm/internal/services/consumption/validate/name.go
  azurerm/internal/services/consumption/validate/time_period.go
Labels: size/L

#11894 provider - some misc tidying up
  azurerm/helpers/azure/resource_group_test.go
  azurerm/internal/acceptance/testclient/client.go
  azurerm/internal/identity/schema.go
  azurerm/internal/identity/system_assigned.go
  azurerm/internal/identity/user_assigned.go
  azurerm/internal/provider/features.go
  azurerm/internal/sdk/logger_console.go
  azurerm/internal/sdk/logger_null.go
  azurerm/internal/sdk/plugin_sdk_test.go
  azurerm/internal/sdk/resource_decode_test.go
  azurerm/internal/sdk/resource_encode_test.go
  azurerm/internal/sdk/wrapper_data_source.go
  azurerm/internal/sdk/wrapper_resource.go
  azurerm/internal/services/analysisservices/analysis_services_server_resource_test.go
  azurerm/internal/tf/pluginsdk/customize_diff.go
  azurerm/internal/tf/pluginsdk/imports.go
  azurerm/internal/tf/pluginsdk/resource.go
  azurerm/internal/tf/pluginsdk/schema.go
  azurerm/internal/tf/pluginsdk/types.go
  azurerm/internal/tools/generator-resource-id/main.go
  azurerm/internal/tools/website-scaffold/main_test.go
Labels: size/M

#11904 sdkv2shim - devtestlabs
  azurerm/internal/services/devtestlabs/dev_test_global_vm_shutdown_schedule_resource.go
  azurerm/internal/services/devtestlabs/dev_test_global_vm_shutdown_schedule_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_lab_data_source.go
  azurerm/internal/services/devtestlabs/dev_test_lab_data_source_test.go
  azurerm/internal/services/devtestlabs/dev_test_lab_resource.go
  azurerm/internal/services/devtestlabs/dev_test_lab_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_lab_schedule_resource.go
  azurerm/internal/services/devtestlabs/dev_test_lab_schedule_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_linux_virtual_machine_resource.go
  azurerm/internal/services/devtestlabs/dev_test_linux_virtual_machine_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_policy_resource.go
  azurerm/internal/services/devtestlabs/dev_test_policy_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_virtual_network_data_source.go
  azurerm/internal/services/devtestlabs/dev_test_virtual_network_data_source_test.go
  azurerm/internal/services/devtestlabs/dev_test_virtual_network_resource.go
  azurerm/internal/services/devtestlabs/dev_test_virtual_network_resource_test.go
  azurerm/internal/services/devtestlabs/dev_test_windows_virtual_machine_resource.go
  azurerm/internal/services/devtestlabs/dev_test_windows_virtual_machine_resource_test.go
  azurerm/internal/services/devtestlabs/helpers.go
  azurerm/internal/services/devtestlabs/registration.go
  azurerm/internal/services/devtestlabs/validate/devtest.go
Labels: size/XL

#11901 sdkv2shim - digitaltwins
  azurerm/internal/services/digitaltwins/digital_twins_endpoint_eventgrid_resource.go
  azurerm/internal/services/digitaltwins/digital_twins_endpoint_eventgrid_resource_test.go
  azurerm/internal/services/digitaltwins/digital_twins_endpoint_eventhub_resource.go
  azurerm/internal/services/digitaltwins/digital_twins_endpoint_eventhub_resource_test.go
  azurerm/internal/services/digitaltwins/digital_twins_endpoint_servicebus_resource.go
  azurerm/internal/services/digitaltwins/digital_twins_endpoint_servicebus_resource_test.go
  azurerm/internal/services/digitaltwins/digital_twins_instance_data_source.go
  azurerm/internal/services/digitaltwins/digital_twins_instance_data_source_test.go
  azurerm/internal/services/digitaltwins/digital_twins_instance_resource.go
  azurerm/internal/services/digitaltwins/digital_twins_instance_resource_test.go
  azurerm/internal/services/digitaltwins/registration.go
Labels: size/L

#11902 sdkv2shim - dns
  azurerm/internal/services/dns/dns_a_record_resource.go
  azurerm/internal/services/dns/dns_a_record_resource_test.go
  azurerm/internal/services/dns/dns_aaaa_record_resource.go
  azurerm/internal/services/dns/dns_aaaa_record_resource_test.go
  azurerm/internal/services/dns/dns_caa_record_resource.go
  azurerm/internal/services/dns/dns_caa_record_resource_test.go
  azurerm/internal/services/dns/dns_cname_record_resource.go
  azurerm/internal/services/dns/dns_cname_record_resource_test.go
  azurerm/internal/services/dns/dns_mx_record_resource.go
  azurerm/internal/services/dns/dns_mx_record_resource_test.go
  azurerm/internal/services/dns/dns_ns_record_resource.go
  azurerm/internal/services/dns/dns_ns_record_resource_test.go
  azurerm/internal/services/dns/dns_ptr_record_resource.go
  azurerm/internal/services/dns/dns_ptr_record_resource_test.go
  azurerm/internal/services/dns/dns_srv_record_resource.go
  azurerm/internal/services/dns/dns_srv_record_resource_test.go
  azurerm/internal/services/dns/dns_txt_record_resource.go
  azurerm/internal/services/dns/dns_txt_record_resource_test.go
  azurerm/internal/services/dns/dns_zone_data_source.go
  azurerm/internal/services/dns/dns_zone_data_source_test.go
  azurerm/internal/services/dns/dns_zone_resource.go
  azurerm/internal/services/dns/dns_zone_resource_test.go
  azurerm/internal/services/dns/migration/dns_zone_V0_to_V1.go
  azurerm/internal/services/dns/registration.go
Labels: size/XL

#11899 sdkv2 shim - redisenterprise
  azurerm/internal/services/redisenterprise/redis_enterprise_cluster_resource.go
  azurerm/internal/services/redisenterprise/redis_enterprise_cluster_resource_test.go
  azurerm/internal/services/redisenterprise/redis_enterprise_database_data_source.go
  azurerm/internal/services/redisenterprise/redis_enterprise_database_data_source_test.go
  azurerm/internal/services/redisenterprise/redis_enterprise_database_resource.go
  azurerm/internal/services/redisenterprise/redis_enterprise_database_resource_test.go
  azurerm/internal/services/redisenterprise/registration.go
Labels: size/L

#11893 sdkv2 shim - powerbi
  azurerm/internal/services/powerbi/powerbi_embedded_resource.go
  azurerm/internal/services/powerbi/powerbi_embedded_resource_test.go
  azurerm/internal/services/powerbi/registration.go
Labels: size/M

#11895 sdkv2 shim - privatedns
  azurerm/internal/services/privatedns/private_dns_a_record_resource.go
  azurerm/internal/services/privatedns/private_dns_a_record_resource_test.go
  azurerm/internal/services/privatedns/private_dns_aaaa_record_resource.go
  azurerm/internal/services/privatedns/private_dns_aaaa_record_resource_test.go
  azurerm/internal/services/privatedns/private_dns_cname_record_resource.go
  azurerm/internal/services/privatedns/private_dns_cname_record_resource_test.go
  azurerm/internal/services/privatedns/private_dns_mx_record_resource.go
  azurerm/internal/services/privatedns/private_dns_mx_record_resource_test.go
  azurerm/internal/services/privatedns/private_dns_ptr_record_resource.go
  azurerm/internal/services/privatedns/private_dns_ptr_record_resource_test.go
  azurerm/internal/services/privatedns/private_dns_srv_record_resource.go
  azurerm/internal/services/privatedns/private_dns_srv_record_resource_test.go
  azurerm/internal/services/privatedns/private_dns_txt_record_resource.go
  azurerm/internal/services/privatedns/private_dns_txt_record_resource_test.go
  azurerm/internal/services/privatedns/private_dns_zone_data_source.go
  azurerm/internal/services/privatedns/private_dns_zone_data_source_test.go
  azurerm/internal/services/privatedns/private_dns_zone_resource.go
  azurerm/internal/services/privatedns/private_dns_zone_resource_test.go
  azurerm/internal/services/privatedns/private_dns_zone_virtual_network_link_resource.go
  azurerm/internal/services/privatedns/private_dns_zone_virtual_network_link_resource_test.go
  azurerm/internal/services/privatedns/registration.go
Labels: size/XL

#11897 sdkv2 shim - recoveryservices
  azurerm/internal/acceptance/plugin_sdk_aliases.go
  azurerm/internal/services/recoveryservices/backup_container_storage_account_resource.go
  azurerm/internal/services/recoveryservices/backup_container_storage_account_resource_test.go
  azurerm/internal/services/recoveryservices/backup_policy_file_share_resource.go
  azurerm/internal/services/recoveryservices/backup_policy_file_share_resource_test.go
  azurerm/internal/services/recoveryservices/backup_policy_vm_data_source.go
  azurerm/internal/services/recoveryservices/backup_policy_vm_data_source_test.go
  azurerm/internal/services/recoveryservices/backup_policy_vm_resource.go
  azurerm/internal/services/recoveryservices/backup_policy_vm_resource_test.go
  azurerm/internal/services/recoveryservices/backup_protected_file_share_resource.go
  azurerm/internal/services/recoveryservices/backup_protected_file_share_resource_test.go
  azurerm/internal/services/recoveryservices/backup_protected_vm_resource.go
  azurerm/internal/services/recoveryservices/backup_protected_vm_resource_test.go
  azurerm/internal/services/recoveryservices/recovery_services_vault_data_source.go
  azurerm/internal/services/recoveryservices/recovery_services_vault_data_source_test.go
  azurerm/internal/services/recoveryservices/recovery_services_vault_resource.go
  azurerm/internal/services/recoveryservices/recovery_services_vault_resource_test.go
  azurerm/internal/services/recoveryservices/registration.go
  azurerm/internal/services/recoveryservices/site_recovery_fabric_resource.go
  azurerm/internal/services/recoveryservices/site_recovery_fabric_resource_test.go
  azurerm/internal/services/recoveryservices/site_recovery_network_mapping_resource.go
  azurerm/internal/services/recoveryservices/site_recovery_network_mapping_resource_test.go
  azurerm/internal/services/recoveryservices/site_recovery_protection_container_mapping_resource.go
  azurerm/internal/services/recoveryservices/site_recovery_protection_container_mapping_resource_test.go
  azurerm/internal/services/recoveryservices/site_recovery_protection_container_resource.go
  azurerm/internal/services/recoveryservices/site_recovery_protection_container_resource_test.go
  azurerm/internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
  azurerm/internal/services/recoveryservices/site_recovery_replicated_vm_resource_test.go
  azurerm/internal/services/recoveryservices/site_recovery_replication_policy_resource.go
  azurerm/internal/services/recoveryservices/site_recovery_replication_policy_resource_test.go
  azurerm/internal/services/recoveryservices/validate/recovery_services_vault_name.go
Labels: size/XXL

#11916 sdkv2 shim - postgres
  azurerm/internal/services/postgres/postgresql_aad_administrator_resource.go
  azurerm/internal/services/postgres/postgresql_aad_administrator_resource_test.go
  azurerm/internal/services/postgres/postgresql_configuration_resource.go
  azurerm/internal/services/postgres/postgresql_configuration_resource_test.go
  azurerm/internal/services/postgres/postgresql_database_resource.go
  azurerm/internal/services/postgres/postgresql_database_resource_test.go
  azurerm/internal/services/postgres/postgresql_firewall_rule_resource.go
  azurerm/internal/services/postgres/postgresql_firewall_rule_resource_test.go
  azurerm/internal/services/postgres/postgresql_flexible_server_data_source.go
  azurerm/internal/services/postgres/postgresql_flexible_server_data_source_test.go
  azurerm/internal/services/postgres/postgresql_flexible_server_resource.go
  azurerm/internal/services/postgres/postgresql_flexible_server_resource_test.go
  azurerm/internal/services/postgres/postgresql_server_data_source.go
  azurerm/internal/services/postgres/postgresql_server_data_source_test.go
  azurerm/internal/services/postgres/postgresql_server_key_resource.go
  azurerm/internal/services/postgres/postgresql_server_key_resource_test.go
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource_test.go
  azurerm/internal/services/postgres/postgresql_virtual_network_rule_resource.go
  azurerm/internal/services/postgres/postgresql_virtual_network_rule_resource_test.go
  azurerm/internal/services/postgres/registration.go
Labels: size/XL

#11915 sdkv2shim - costmanagement
  azurerm/internal/services/costmanagement/cost_management_export_resource_group_resource.go
  azurerm/internal/services/costmanagement/cost_management_export_resource_group_resource_test.go
  azurerm/internal/services/costmanagement/registration.go
Labels: size/M

#11923 sdkv2 shim - netapp
  azurerm/internal/services/netapp/netapp_account_data_source.go
  azurerm/internal/services/netapp/netapp_account_data_source_test.go
  azurerm/internal/services/netapp/netapp_account_resource.go
  azurerm/internal/services/netapp/netapp_account_resource_test.go
  azurerm/internal/services/netapp/netapp_pool_data_source.go
  azurerm/internal/services/netapp/netapp_pool_data_source_test.go
  azurerm/internal/services/netapp/netapp_pool_resource.go
  azurerm/internal/services/netapp/netapp_pool_resource_test.go
  azurerm/internal/services/netapp/netapp_snapshot_data_source.go
  azurerm/internal/services/netapp/netapp_snapshot_data_source_test.go
  azurerm/internal/services/netapp/netapp_snapshot_resource.go
  azurerm/internal/services/netapp/netapp_snapshot_resource_test.go
  azurerm/internal/services/netapp/netapp_volume_data_source.go
  azurerm/internal/services/netapp/netapp_volume_data_source_test.go
  azurerm/internal/services/netapp/netapp_volume_resource.go
  azurerm/internal/services/netapp/netapp_volume_resource_test.go
  azurerm/internal/services/netapp/registration.go
Labels: size/XL
