Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2021-08, with the labels that each got.

#12808 `azurerm_linux_virtual_machine_scale_set` - fix crash in checking for latest image
  azurerm/internal/services/compute/virtual_machine_scale_set_update.go
Labels: crash, service/vmss, size/XS

#12815 Typo Fix - Wrong max RU number.
  website/docs/r/healthcare_service.html.markdown
Labels: documentation, service/cosmosdb, size/XS

#12775 azurerm_public_ip_resource - Added sku_tier property
  azurerm/internal/services/network/public_ip_resource.go
  azurerm/internal/services/network/public_ip_resource_test.go
  website/docs/r/public_ip.html.markdown
Labels: documentation, enhancement, service/public-ip, size/M, waiting-response

#12825 Add type checking to flatten of `azurerm_managed_application`
  azurerm/internal/services/managedapplications/managed_application_resource.go
Labels: enhancement, service/managed-apps, size/XS

#12746 New Resource: azurerm_bot_channel_line
  azurerm/internal/services/bot/bot_channel_line_resource.go
  azurerm/internal/services/bot/bot_channel_line_resource_test.go
  azurerm/internal/services/bot/bot_channel_test.go
  azurerm/internal/services/bot/registration.go
  website/docs/r/bot_channel_line.markdown
Labels: documentation, new-resource, service/bots, size/XL

#12799 `azurerm_databricks_workspace` - add support for Customer Managed Keys for Managed Services
  azurerm/internal/services/databricks/databricks_customer_managed_key_resource.go
  azurerm/internal/services/databricks/databricks_customer_managed_key_resource_test.go
  azurerm/internal/services/databricks/databricks_workspace_private_endpoint_connection_data_source_test.go
  azurerm/internal/services/databricks/databricks_workspace_resource.go
  azurerm/internal/services/databricks/databricks_workspace_resource_test.go
  examples/databricks/customer-managed-key/dbfs/README.md
  examples/databricks/customer-managed-key/dbfs/main.tf
  examples/databricks/customer-managed-key/dbfs/variables.tf
  examples/databricks/customer-managed-key/managed-services/README.md
  examples/databricks/customer-managed-key/managed-services/main.tf
  examples/databricks/customer-managed-key/managed-services/variables.tf
  examples/databricks/secure-connectivity-cluster/with-load-balancer/main.tf
  examples/databricks/secure-connectivity-cluster/without-load-balancer/main.tf
  examples/private-endpoint/databricks/managed-services/README.md
  examples/private-endpoint/databricks/managed-services/main.tf
  examples/private-endpoint/databricks/managed-services/variables.tf
  examples/private-endpoint/databricks/private-endpoint/README.md
  examples/private-endpoint/databricks/private-endpoint/main.tf
  examples/private-endpoint/databricks/private-endpoint/variables.tf
  website/docs/r/databricks_workspace.html.markdown
  website/docs/r/databricks_workspace_customer_managed_key.html.markdown
Labels: documentation, enhancement, service/databricks, size/XL

#12832 Update script to use the new georeplications
  website/docs/r/container_registry.html.markdown
Labels: documentation, service/cosmosdb, size/XS

#12823 r/postgresql_database: working around a crash in the Azure SDK
  azurerm/internal/services/postgres/postgresql_database_resource.go
Labels: bug, crash, service/postgresql, size/XS

#12822 r/local_network_gateway: fixing a crash where the `LocalNetworkAddressSpace` block was nil
  azurerm/internal/services/network/local_network_gateway_resource.go
Labels: bug, crash, service/local-network-gateway, size/XS

#12824 r/private_dns_zone: fixing a crash during deletion
  azurerm/internal/services/privatedns/private_dns_zone_resource.go
Labels: bug, crash, service/dns, size/XS

#12836 Revert "add resource "azurerm_cognitive_account_customer_managed_key" #12544
  azurerm/internal/services/cognitive/cognitive_account_customer_managed_key_resource.go
  azurerm/internal/services/cognitive/cognitive_account_customer_managed_key_resource_test.go
  azurerm/internal/services/cognitive/cognitive_account_resource.go
  azurerm/internal/services/cognitive/registration.go
  website/docs/r/cognitive_account.html.markdown
  website/docs/r/cognitive_account_customer_managed_key.html.markdown
Labels: documentation, service/cognitive-services, size/XL

#12835 add free and fsv2 to `azurerm_mssql_database` sku validation
  azurerm/internal/services/mssql/validate/database_sku_name.go
  azurerm/internal/services/mssql/validate/database_sku_name_test.go
Labels: size/S

#12829 r/azurerm_api_management_api_subscription: fix subscription for all apis
  azurerm/internal/services/apimanagement/api_management_subscription_resource.go
  azurerm/internal/services/apimanagement/api_management_subscription_resource_test.go
  website/docs/r/api_management_subscription.html.markdown
Labels: bug, documentation, service/api-management, size/S

#12842 Redis enterprise is available in Canada Central
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_location.go
Labels: enhancement, service/redis, size/XS

#12818 Supporting workspace mode for application_insights_resource
  azurerm/internal/services/applicationinsights/application_insights_analytics_item_resource.go
  azurerm/internal/services/applicationinsights/application_insights_api_key_resource.go
  azurerm/internal/services/applicationinsights/application_insights_data_source.go
  azurerm/internal/services/applicationinsights/application_insights_data_source_test.go
  azurerm/internal/services/applicationinsights/application_insights_resource.go
  azurerm/internal/services/applicationinsights/application_insights_resource_test.go
  azurerm/internal/services/applicationinsights/application_insights_smart_detection_rule_resource.go
  azurerm/internal/services/applicationinsights/application_insights_webtests_resource.go
  azurerm/internal/services/applicationinsights/client/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2015-05-01/insights/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2015-05-01/insights/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/analyticsitems.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/annotations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/apikeys.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/componentavailablefeatures.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/componentcurrentbillingfeatures.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/componentfeaturecapabilities.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/componentquotastatus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/components.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/exportconfigurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/favorites.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/myworkbooks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/proactivedetectionconfigurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/webtestlocations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/webtests.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/workbooks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/appinsights/mgmt/2020-02-02/insights/workitemconfigurations.go
  vendor/modules.txt
  website/docs/d/application_insights.html.markdown
  website/docs/r/application_insights.html.markdown
Labels: dependencies, documentation, enhancement, service/application-insights, size/XL

#12762 kubernetes_cluster supports maintenance_config
  azurerm/internal/services/containers/client/client.go
  azurerm/internal/services/containers/kubernetes_cluster_other_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/XL

#12846 Add Learn link to Azure provider docs
  website/docs/index.html.markdown
Labels: documentation, provider, size/XS

#12510 `azurerm_static_site` - support `Standard` SKU
  azurerm/internal/services/web/static_site_resource.go
  azurerm/internal/services/web/static_site_resource_test.go
  website/docs/r/static_site.html.markdown
Labels: documentation, enhancement, service/app-service, size/XS, waiting-response

#12851 update testing location to work around resource creation issue in Primary
  azurerm/internal/services/web/static_site_resource_test.go
Labels: size/XS, tests

#12800 data source: `azurerm_ssh_public_key` - normalize ssh public key attribute
  azurerm/internal/services/compute/ssh_keys.go
  azurerm/internal/services/compute/ssh_public_key_data_source.go
  azurerm/utils/ssh_key.go
  azurerm/utils/ssh_key_test.go
Labels: enhancement, service/authentication, size/S

#12845 notificationhubs: switching to use ID Formatters
  azurerm/internal/services/notificationhub/migration/notification_hub_authorization_rule_resource.go
  azurerm/internal/services/notificationhub/migration/notification_hub_namespace_resource.go
  azurerm/internal/services/notificationhub/migration/notification_hub_resource.go
  azurerm/internal/services/notificationhub/notification_hub_authorization_rule_resource.go
  azurerm/internal/services/notificationhub/notification_hub_data_source.go
  azurerm/internal/services/notificationhub/notification_hub_namespace_data_source.go
  azurerm/internal/services/notificationhub/notification_hub_namespace_resource.go
  azurerm/internal/services/notificationhub/notification_hub_resource.go
  azurerm/internal/services/notificationhub/parse/namespace.go
  azurerm/internal/services/notificationhub/parse/namespace_test.go
  azurerm/internal/services/notificationhub/parse/notification_hub.go
  azurerm/internal/services/notificationhub/parse/notification_hub_authorization_rule.go
  azurerm/internal/services/notificationhub/parse/notification_hub_authorization_rule_test.go
  azurerm/internal/services/notificationhub/parse/notification_hub_test.go
  azurerm/internal/services/notificationhub/resourceids.go
  azurerm/internal/services/notificationhub/validate/notification_hub_authorization_rule_id_test.go
  website/docs/r/notification_hub.html.markdown
  website/docs/r/notification_hub_authorization_rule.html.markdown
  website/docs/r/notification_hub_namespace.html.markdown
Labels: bug, documentation, service/notifications, size/XL

#12421 Fix issue: `azurerm_(resource_group|subscription)_template_deployment` delete provisioned resources fix - apiVersion
  azurerm/internal/services/resource/template_deployment_common.go
Labels: bug, service/resources, size/XS

#12863 up timeout by 10m while we investigate
  .golangci.yml
Labels: size/XS, tooling

#12745 azurerm_app_service - support for the acr_use_managed_identity_creds and acr_user_managed_identity_id properties
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_resource.go
  azurerm/internal/services/web/app_service_resource_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: enhancement, documentation, size/L, service/app-service

#12535 New resource `azurerm_api_management_tag`
  azurerm/internal/services/apimanagement/api_management_tag_resource.go
  azurerm/internal/services/apimanagement/api_management_tag_resource_test.go
  azurerm/internal/services/apimanagement/parse/tag.go
  azurerm/internal/services/apimanagement/parse/tag_test.go
  azurerm/internal/services/apimanagement/registration.go
  azurerm/internal/services/apimanagement/resourceids.go
  azurerm/internal/services/apimanagement/validate/tag_id.go
  azurerm/internal/services/apimanagement/validate/tag_id_test.go
  website/docs/r/api_management_tag.html.markdown
Labels: documentation, new-resource, size/XL, service/api-management

#12864 fix typo on "skip_shutdown_and_force_delete"
  website/docs/index.html.markdown
Labels: documentation, size/XS

#12865 Network Security Group | True Up Protocols
  azurerm/internal/services/network/network_security_group_resource.go
  website/docs/r/network_security_group.html.markdown
Labels: documentation, service/network-security, size/XS

#12859 Fix `net_ipv4_ip_local_port_range_max` range for `azurerm_kubernetes_cluster` default node pool
  azurerm/internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#12359 azurerm_data_factory_linked_service_data_lake_storage_gen2 - don't send a secure string when using a managed identity
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource.go
  website/docs/r/data_factory_linked_service_data_lake_storage_gen2.html.markdown
Labels: documentation, size/S, service/data-factory

#12788 Support `v6.0` for the `dotnet_framework_version` to `azurerm_app_service`
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_resource_test.go
  azurerm/internal/services/web/app_service_slot_resource_test.go
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: enhancement, documentation, size/M, service/app-service

#12869 Org Move: update doc references and scripts
  scripts/changelog-links.sh
  scripts/plugin-sdk-fixerupper.sh
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/index.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_certificate.html.markdown
  website/docs/r/automation_job_schedule.html.markdown
  website/docs/r/cdn_endpoint.html.markdown
  website/docs/r/cdn_profile.html.markdown
  website/docs/r/container_group.html.markdown
  website/docs/r/data_factory_integration_runtime_self_hosted.html.markdown
  website/docs/r/databricks_workspace.html.markdown
  website/docs/r/databricks_workspace_customer_managed_key.html.markdown
  website/docs/r/frontdoor.html.markdown
  website/docs/r/frontdoor_custom_https_configuration.html.markdown
  website/docs/r/frontdoor_firewall_policy.html.markdown
  website/docs/r/hpc_cache_blob_nfs_target.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/mssql_database.html.markdown
  website/docs/r/mssql_database_extended_auditing_policy.html.markdown
  website/docs/r/mssql_virtual_machine.html.markdown
  website/docs/r/netapp_volume.html.markdown
  website/docs/r/private_endpoint.html.markdown
  website/docs/r/redis_cache.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_failover_group.html.markdown
  website/docs/r/sql_server.html.markdown
  website/docs/r/virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, size/M

#12871 Refactor: update makefile for org move
  GNUmakefile
Labels: size/XS

#12872 refactor: updating the remaining usages of `terraform-providers`
  GNUmakefile
  README.md
  examples/virtual-machines/README.md
  examples/vm-scale-set/README.md
  internal/provider/services.go
  internal/sdk/README.md
  internal/services/apimanagement/api_management_policy_resource_test.go
  internal/services/apimanagement/testdata/api_management_api_operation_policy.xml
  internal/services/batch/batch_pool_resource_test.go
  internal/services/datafactory/data_factory_resource_test.go
  scripts/check-test-package.sh
  scripts/plugin-sdk-fixerupper.sh
  scripts/run-gradually-deprecated.sh
  scripts/run-tflint.sh
  scripts/scaffold-website.sh
  scripts/terrafmt-acctests.sh
  scripts/timeouts.sh
Labels: size/M, refactor

#12870 refactor: moving the repository to the hashicorp org / updating the Go module / import paths
  .teamcity/components/build_components.kt
  .teamcity/components/vcs_root.kt
Labels: size/XS, tests

#12893 Remove typo
  website/docs/r/network_interface_backend_address_pool_association.html.markdown
Labels: documentation, size/XS

#12887 Docs: Add a note for MySQL/PostgreSQL AAD Admin + Managed Identities
  website/docs/r/mysql_active_directory_administrator.html.markdown
  website/docs/r/postgresql_active_directory_administrator.html.markdown
Labels: documentation, size/XS

#12886 Documentation improvement for azurerm_resource_group_template_deployment
  website/docs/r/resource_group_template_deployment.html.markdown
Labels: documentation, size/XS

#12888 typo: use lowercase values in azurerm_api_management_diagnostic docs
  website/docs/r/api_management_diagnostic.html.markdown
Labels: documentation, size/XS

#12885 Typo fix in error messages
  internal/services/datafactory/data_factory_data_flow_resource.go
  internal/services/datafactory/data_factory_dataset_binary_resource.go
  internal/services/datafactory/data_factory_dataset_cosmosdb_sqlapi_resource.go
  internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  internal/services/datafactory/data_factory_dataset_http_resource.go
  internal/services/datafactory/data_factory_dataset_json_resource.go
  internal/services/datafactory/data_factory_dataset_mysql_resource.go
  internal/services/datafactory/data_factory_dataset_parquet_resource.go
  internal/services/datafactory/data_factory_dataset_postgresql_resource.go
  internal/services/datafactory/data_factory_dataset_sql_server_table_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_databricks_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_function_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_search_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource.go
  internal/services/datafactory/data_factory_linked_service_cosmosdb_resource.go
  internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource.go
  internal/services/datafactory/data_factory_linked_service_key_vault_resource.go
  internal/services/datafactory/data_factory_linked_service_kusto_resource.go
  internal/services/datafactory/data_factory_linked_service_mysql_resource.go
  internal/services/datafactory/data_factory_linked_service_odata_resource.go
  internal/services/datafactory/data_factory_linked_service_postgresql_resource.go
  internal/services/datafactory/data_factory_linked_service_sftp_resource.go
  internal/services/datafactory/data_factory_linked_service_snowflake_resource.go
  internal/services/datafactory/data_factory_linked_service_sql_server_resource.go
  internal/services/datafactory/data_factory_linked_service_web_resource.go
  internal/services/datafactory/data_factory_trigger_blob_event_resource.go
  internal/services/datafactory/data_factory_trigger_custom_event_resource.go
  internal/services/datafactory/data_factory_trigger_schedule_resource.go
  internal/services/datafactory/data_factory_trigger_tumbling_window_resource.go
  internal/services/servicefabricmesh/service_fabric_mesh_local_network_resource.go
  internal/services/servicefabricmesh/service_fabric_mesh_secret_resource.go
Labels: size/M

#12897 Fix incorrect resource ID in Domain Service docs
  website/docs/r/active_directory_domain_service.html.markdown
  website/docs/r/active_directory_domain_service_replica_set.html.markdown
Labels: documentation, size/XS, service/domain-services

#12881 `azurerm_kubernetes_cluster` prevent nil panic when rbac config is empty
  internal/services/containers/kubernetes_cluster_resource.go
Labels: crash, size/XS, service/kubernetes-cluster

#12453 azurerm_logic_app_trigger_recurrence - adapt timeZone values to match azure schema and make start_time optional
  internal/services/logic/logic_app_trigger_recurrence_resource.go
  internal/services/logic/logic_app_trigger_recurrence_resource_test.go
  internal/services/logic/validate/trigger_recurrence_timezone.go
Labels: size/M, service/logic

#12904 teamcity: removing the provider name from the path since this is no longer present
  .teamcity/components/build_components.kt
  .teamcity/components/build_config_pull_request.kt
  .teamcity/components/build_config_service.kt
Labels: size/XS, tests

#12903 Tooling: upgrade `golangci-lint` to v1.41.1
  .github/workflows/golint.yaml
  .golangci.yml
  GNUmakefile
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/services/apimanagement/api_management_api_diagnostic_resource.go
  internal/services/apimanagement/api_management_diagnostic_resource.go
  internal/services/consumption/helpers.go
  internal/services/loadbalancer/backend_address_pool_resource.go
  internal/services/loadbalancer/nat_pool_resource.go
  internal/services/loadbalancer/nat_rule_resource.go
  internal/services/loadbalancer/outbound_rule_resource.go
  internal/services/loadbalancer/probe_resource.go
  internal/services/loadbalancer/rule_resource.go
  internal/services/managedapplications/managed_application_resource.go
  internal/services/web/app_service.go
  internal/services/web/function_app.go
  internal/tf/pluginsdk/resource.go
  internal/tf/pluginsdk/retries.go
  internal/tf/validation/pluginsdk.go
  internal/tools/generator-resource-id/main.go
  scripts/run-lint.sh
Labels: size/M, tooling

#12905 teamcity: updating the maven dependencies
  .teamcity/pom.xml
Labels: size/XS, tests

#12908 remove duplicate line on cloning
  README.md
Labels: documentation, size/XS

#12873 teamcity: updating to use the hashicorp org
  .teamcity/components/vcs_root.kt
Labels: size/XS, tests

#12665 Add Azure Video Analyzer Resource
  .teamcity/components/generated/services.kt
  GNUmakefile
  internal/clients/client.go
  internal/provider/services.go
  internal/services/network/public_ip_resource_test.go
  internal/services/videoanalyzer/client/client.go
  internal/services/videoanalyzer/parse/video_analyzer.go
  internal/services/videoanalyzer/parse/video_analyzer_test.go
  internal/services/videoanalyzer/registration.go
  internal/services/videoanalyzer/resourceids.go
  internal/services/videoanalyzer/validate/account_name.go
  internal/services/videoanalyzer/validate/live_event_name.go
  internal/services/videoanalyzer/validate/streaming_endpoint_name.go
  internal/services/videoanalyzer/validate/video_analyzer_id.go
  internal/services/videoanalyzer/validate/video_analyzer_id_test.go
  internal/services/videoanalyzer/video_analyzer_resource.go
  internal/services/videoanalyzer/video_analyzer_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/accesspolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/edgemodules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/locations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/videoanalyzers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/videoanalyzer/mgmt/2021-05-01-preview/videoanalyzer/videos.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/video_analyzer.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, services/media

#12916 Tooling: update default tf to 1.0.3 for acctest builds
  .teamcity/components/settings.kt
Labels: size/XS, tooling

#12896 azurerm_key_vault_certificate_data: fix PEM private key block header
  internal/services/keyvault/key_vault_certificate_data_data_source.go
Labels: bug, service/keyvault, size/XS

#12918 add missing operation id field to docs
  website/docs/r/api_management_api_operation_policy.html.markdown
Labels: documentation, size/XS, service/api-management

#12917 scripts: fixing run-gradually-deprecated.sh to use the new branch name
  scripts/run-gradually-deprecated.sh
Labels: size/XS

#12919 r/iothub_dps: removing a crash
  internal/services/iothub/iothub_dps_resource.go
Labels: bug, crash, size/XS, service/iot-hub

#12879 bug: removing checking of futures during deletion
  internal/sdk/README.md
  internal/services/cdn/cdn_profile_resource.go
  internal/services/compute/shared_image_gallery_resource.go
  internal/services/compute/virtual_machine_scale_set_extension_resource.go
  internal/services/containers/container_registry_resource.go
  internal/services/containers/container_registry_scope_map_resource.go
  internal/services/containers/container_registry_token_resource.go
  internal/services/containers/container_registry_webhook_resource.go
  internal/services/databasemigration/database_migration_service_resource.go
  internal/services/datalake/data_lake_analytics_account_resource.go
  internal/services/datalake/data_lake_store_resource.go
  internal/services/dataprotection/data_protection_backup_instance_disk_resource.go
  internal/services/dns/dns_zone_resource.go
  internal/services/domainservices/active_directory_domain_service_resource.go
  internal/services/eventgrid/eventgrid_domain_resource.go
  internal/services/eventgrid/eventgrid_domain_topic_resource.go
  internal/services/eventgrid/eventgrid_event_subscription_resource.go
  internal/services/eventgrid/eventgrid_system_topic_event_subscription_resource.go
  internal/services/eventgrid/eventgrid_system_topic_resource.go
  internal/services/eventgrid/eventgrid_topic_resource.go
  internal/services/frontdoor/frontdoor_firewall_policy_resource.go
  internal/services/frontdoor/frontdoor_resource.go
  internal/services/hpccache/hpc_cache_blob_nfs_target_resource.go
  internal/services/iothub/iothub_resource.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_resource..go
  internal/services/mariadb/mariadb_database_resource.go
  internal/services/mariadb/mariadb_server_resource.go
  internal/services/mariadb/mariadb_virtual_network_rule_resource.go
  internal/services/mssql/mssql_database_resource.go
  internal/services/mssql/mssql_virtual_network_rule_resource.go
  internal/services/mysql/mysql_server_resource.go
  internal/services/network/express_route_circuit_authorization_resource.go
  internal/services/network/express_route_circuit_peering_resource.go
  internal/services/network/express_route_gateway_resource.go
  internal/services/network/express_route_port_resource.go
  internal/services/network/local_network_gateway_resource.go
  internal/services/network/nat_gateway_resource.go
  internal/services/network/network_packet_capture_resource.go
  internal/services/network/packet_capture_resource.go
  internal/services/network/private_endpoint_resource.go
  internal/services/network/private_link_service_resource.go
  internal/services/network/virtual_wan_resource.go
  internal/services/network/vpn_gateway_connection_resource.go
  internal/services/network/web_application_firewall_policy_resource.go
  internal/services/postgres/postgresql_configuration_resource.go
  internal/services/postgres/postgresql_firewall_rule_resource.go
  internal/services/postgres/postgresql_server_resource.go
  internal/services/postgres/postgresql_virtual_network_rule_resource.go
  internal/services/privatedns/private_dns_zone_virtual_network_link_resource.go
  internal/services/sql/sql_virtual_network_rule_resource.go
  internal/services/web/app_service_environment_resource.go
Labels: bug, size/XL

#12922 r/video_analyzer: adding a missing explicit check
  internal/services/videoanalyzer/video_analyzer_resource_test.go
Labels: bug, size/XS, services/media, tests

#12920 docs: add extension check
  GNUmakefile
  website/docs/d/backup_policy_vm.html.markdown
  website/docs/d/container_registry.html.markdown
  website/docs/d/recovery_services_vault.html.markdown
  website/docs/r/backup_policy_file_share.html.markdown
  website/docs/r/backup_policy_vm.html.markdown
  website/docs/r/backup_protected_file_share.html.markdown
  website/docs/r/backup_protected_vm.html.markdown
  website/docs/r/bot_channel_alexa.html.markdown
  website/docs/r/bot_channel_direct_line_speech.html.markdown
  website/docs/r/bot_channel_directline.html.markdown
  website/docs/r/bot_channel_email.html.markdown
  website/docs/r/bot_channel_facebook.html.markdown
  website/docs/r/bot_channel_line.html.markdown
  website/docs/r/bot_channel_ms_teams.html.markdown
  website/docs/r/bot_channel_slack.html.markdown
  website/docs/r/bot_channel_sms.html.markdown
  website/docs/r/bot_channel_web_chat.html.markdown
  website/docs/r/bot_channels_registration.html.markdown
  website/docs/r/bot_connection.html.markdown
  website/docs/r/bot_web_app.html.markdown
  website/docs/r/integration_service_environment.html.markdown
  website/docs/r/recovery_services_vault.html.markdown
  website/docs/r/security_center_contact.html.markdown
  website/docs/r/security_center_setting.html.markdown
  website/docs/r/security_center_subscription_pricing.html.markdown
  website/docs/r/security_center_workspace.html.markdown
  website/docs/r/sql_active_directory_administrator.html.markdown
  website/docs/r/user_assigned_identity.html.markdown
Labels: documentation, size/S

#12931 further post repo move cleanup
  CHANGELOG-v2.md
  CHANGELOG.md
  internal/services/postgres/postgresql_server_resource.go
  internal/services/redis/redis_cache_resource.go
  internal/services/web/app_service_site_source_control.go
  website/docs/d/cosmosdb_account.html.markdown
  website/docs/index.html.markdown
  website/docs/r/api_management.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_certificate.html.markdown
  website/docs/r/automation_job_schedule.html.markdown
  website/docs/r/container_group.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
  website/docs/r/data_factory_integration_runtime_self_hosted.html.markdown
  website/docs/r/databricks_workspace.html.markdown
  website/docs/r/databricks_workspace_customer_managed_key.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/mssql_database.html.markdown
  website/docs/r/mssql_database_extended_auditing_policy.html.markdown
  website/docs/r/mssql_server.html.markdown
  website/docs/r/mssql_server_extended_auditing_policy.html.markdown
  website/docs/r/mssql_virtual_machine.html.markdown
  website/docs/r/netapp_volume.html.markdown
  website/docs/r/private_endpoint.html.markdown
  website/docs/r/redis_cache.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_failover_group.html.markdown
  website/docs/r/sql_server.html.markdown
  website/docs/r/virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, size/M

#12930 Fixing typo in servicebus_namespace_disaster_recovery_config docs
  website/docs/r/servicebus_namespace_disaster_recovery_config.html.markdown
Labels: documentation, size/XS

#12883 Support for `dotnet_framework_version` in `azurerm_function_app`
  internal/services/web/function_app.go
  internal/services/web/function_app_resource_test.go
  internal/services/web/function_app_slot_resource_test.go
  website/docs/d/function_app.html.markdown
  website/docs/r/function_app.html.markdown
  website/docs/r/function_app_slot.html.markdown
Labels: enhancement, documentation, size/L, service/functions

#12936 remove invalid storage account restriction
  internal/services/storage/storage_account_resource.go
Labels: bug, service/storage

#12911 Add Azure Video Analyzer Edge Module resource
  internal/services/videoanalyzer/client/client.go
  internal/services/videoanalyzer/parse/edge_module.go
  internal/services/videoanalyzer/parse/edge_module_test.go
  internal/services/videoanalyzer/registration.go
  internal/services/videoanalyzer/resourceids.go
  internal/services/videoanalyzer/validate/account_name.go
  internal/services/videoanalyzer/validate/edge_module_id.go
  internal/services/videoanalyzer/validate/edge_module_id_test.go
  internal/services/videoanalyzer/validate/live_event_name.go
  internal/services/videoanalyzer/validate/streaming_endpoint_name.go
  internal/services/videoanalyzer/validate/video_analyzer_name.go
  internal/services/videoanalyzer/video_analyzer_edge_module_resource.go
  internal/services/videoanalyzer/video_analyzer_edge_module_resource_test.go
  internal/services/videoanalyzer/video_analyzer_resource.go
  website/docs/r/video_analyzer_edge_module.html.markdown
Labels: documentation, new-resource, size/XL, services/media

#12725 Vendor pandora sdk identity related types
  internal/identity/schema.go
  internal/identity/sdk.go
  internal/identity/system_assigned.go
  internal/identity/system_assigned_user_assigned.go
  internal/identity/user_assigned.go
  internal/services/compute/virtual_machine.go
  internal/services/dataprotection/data_protection_backup_vault_resource.go
  internal/services/network/application_gateway_data_source.go
  internal/services/policy/assignment_base_resource.go
  internal/services/springcloud/spring_cloud_app_resource.go
Labels: size/XL

#12940 teamcity: increasing the vmware parallelism to 3
  .teamcity/components/settings.kt
Labels: size/XS, tests

#12954 update changelog links
  CHANGELOG-v1.md
  CHANGELOG-v2.md
  CHANGELOG.md
Labels: size/XL

#12957 fix #10946
  website/docs/r/redis_enterprise_database.html.markdown
Labels: documentation, size/XS

#12921 Bugfix: `azurerm_data_factory_dataset_delimited_text` - Ensure optional variables are set correctly
  internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  internal/services/datafactory/data_factory_dataset_delimited_text_resource_test.go
  website/docs/r/data_factory_dataset_delimited_text.html.markdown
Labels: bug, documentation, size/M, service/data-factory

#12938 Support for System Assigned Identity in `azurerm_api_management_named_value`
  internal/services/apimanagement/api_management_named_value_resource.go
  internal/services/apimanagement/api_management_named_value_resource_test.go
  website/docs/r/api_management_named_value.html.markdown
Labels: documentation, size/M, service/api-management

#12857 azurerm_application_insights_smart_detection_rule - Add new rules
  internal/services/applicationinsights/application_insights_smart_detection_rule_resource.go
  internal/services/applicationinsights/application_insights_smart_detection_rule_resource_test.go
  website/docs/r/application_insights_smart_detection_rule.html.markdown
Labels: documentation, size/M, service/application-insights

#12962 Fix Panic Error #10413 - Fix segmentation fault - virtual machine scale set resource
  internal/services/compute/virtual_machine_scale_set_resource.go
Labels: bug, service/vmss, size/XS

#12926 Fix the issue of updating the maxmemory_policy property of azurerm_redis_cache
  internal/services/redis/redis_cache_resource.go
  internal/services/redis/redis_cache_resource_test.go
  website/docs/r/redis_cache.html.markdown
Labels: documentation, size/M, service/redis

#12966 r/resource_group: documenting the new feature toggle
  website/docs/r/resource_group.html.markdown
Labels: documentation, service/resources, size/XS

#12948 maps|msi|signalr|vmware: updating to use the latest Embedded SDK's
  internal/services/maps/sdk/2021-02-01/accounts/id_subscription.go
  internal/services/maps/sdk/2021-02-01/accounts/id_subscription_test.go
  internal/services/maps/sdk/2021-02-01/accounts/method_listbyresourcegroup_autorest.go
  internal/services/maps/sdk/2021-02-01/accounts/method_listbysubscription_autorest.go
  internal/services/maps/sdk/2021-02-01/accounts/predicates.go
  internal/services/msi/sdk/2018-11-30/managedidentity/id_subscription.go
  internal/services/msi/sdk/2018-11-30/managedidentity/id_subscription_test.go
  internal/services/msi/sdk/2018-11-30/managedidentity/method_userassignedidentitieslistbyresourcegroup_autorest.go
  internal/services/msi/sdk/2018-11-30/managedidentity/method_userassignedidentitieslistbysubscription_autorest.go
  internal/services/msi/sdk/2018-11-30/managedidentity/predicates.go
  internal/services/signalr/sdk/2020-05-01/signalr/constants.go
  internal/services/signalr/signalr_service_network_acl_resource.go
  internal/services/vmware/sdk/2020-03-20/authorizations/method_list_autorest.go
  internal/services/vmware/sdk/2020-03-20/authorizations/predicates.go
  internal/services/vmware/sdk/2020-03-20/clusters/method_list_autorest.go
  internal/services/vmware/sdk/2020-03-20/clusters/predicates.go
  internal/services/vmware/sdk/2020-03-20/privateclouds/id_subscription.go
  internal/services/vmware/sdk/2020-03-20/privateclouds/id_subscription_test.go
  internal/services/vmware/sdk/2020-03-20/privateclouds/method_list_autorest.go
  internal/services/vmware/sdk/2020-03-20/privateclouds/method_listinsubscription_autorest.go
  internal/services/vmware/sdk/2020-03-20/privateclouds/predicates.go
Labels: size/XL, refactor

#12844 Data Source: Adding azurerm_vpn_gateway
  internal/services/network/registration.go
  internal/services/network/vpn_gateway_data_source.go
  internal/services/network/vpn_gateway_data_source_test.go
  website/docs/d/vpn_gateway.html.markdown
Labels: documentation, new-data-source, size/XL, service/vpn

#12956 Tags of Redis Enterprise ressources can be updated
  internal/services/redisenterprise/redis_enterprise_cluster_resource.go
  website/docs/r/redis_enterprise_cluster.html.markdown
Labels: bug, documentation, size/XS, service/redis

#12831 `azurerm_frontdoor` - expose support for `cache_duration` and `cache_query_parameters` fields
  .gitignore
  internal/services/frontdoor/client/client.go
  internal/services/frontdoor/customizediff.go
  internal/services/frontdoor/frontdoor_custom_https_configuration.go
  internal/services/frontdoor/frontdoor_custom_https_configuration_resource.go
  internal/services/frontdoor/frontdoor_firewall_policy_resource.go
  internal/services/frontdoor/frontdoor_resource.go
  internal/services/frontdoor/frontdoor_resource_test.go
  internal/services/frontdoor/helper.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-01-01/frontdoor/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/endpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/experiments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/frontdoors.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/frontendendpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/managedrulesets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/nameavailability.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/nameavailabilitywithsubscription.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/networkexperimentprofiles.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/policies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/preconfiguredendpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/reports.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/rulesengines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/version.go
  vendor/modules.txt
  website/docs/r/frontdoor.html.markdown
Labels: enhancement, documentation, dependencies, size/XL, service/frontdoor

#12967 F/v2 SKU for kusto
  internal/services/kusto/client/client.go
  internal/services/kusto/identity.go
  internal/services/kusto/kusto_attached_database_configuration_resource.go
  internal/services/kusto/kusto_cluster_customer_managed_key_resource.go
  internal/services/kusto/kusto_cluster_principal_assignment_resource.go
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_data_connection_import.go
  internal/services/kusto/kusto_database_principal_assignment_resource.go
  internal/services/kusto/kusto_database_principal_resource.go
  internal/services/kusto/kusto_database_resource.go
  internal/services/kusto/kusto_eventgrid_data_connection_resource.go
  internal/services/kusto/kusto_eventhub_data_connection_resource.go
  internal/services/kusto/kusto_iothub_data_connection_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2020-09-18/kusto/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/attacheddatabaseconfigurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/clusterprincipalassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/clusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/databaseprincipalassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/dataconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/operationsresults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/scripts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/kusto/mgmt/2021-01-01/kusto/version.go
  vendor/modules.txt
  website/docs/r/kusto_cluster.html.markdown
Labels: enhancement, documentation, dependencies, size/XL, service/kusto

#13001 add hostname to iothub data source
  internal/services/iothub/iothub_data_source.go
  website/docs/d/iothub.html.markdown
Labels: documentation, new-data-source, size/XS, service/iot-hub

#13009 fix sed vs gsed detection in makefile job
  scripts/goimport-file.sh
Labels: size/XS, tooling

#13013 Fix ACR Scope Maps Examples
  website/docs/r/container_registry_scope_map.html.markdown
  website/docs/r/container_registry_token.html.markdown
Labels: documentation, size/XS

#13005 tooling: updating to use Go 1.16.7
  .github/workflows/depscheck.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/gradually-deprecated.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/website-lint.yaml
  .go-version
Labels: size/XS, tooling

#12947 azurerm_stream_analytics_output_eventhub - support for property_columns
  internal/services/streamanalytics/stream_analytics_output_eventhub_resource.go
  internal/services/streamanalytics/stream_analytics_output_eventhub_resource_test.go
  website/docs/r/integration_service_environment.html.markdown
  website/docs/r/stream_analytics_output_eventhub.html.markdown
Labels: enhancement, documentation, size/XL, service/stream-analytics

#12961 azurerm_netapp_volume - support for the snapshot_directory_visible property - Fixes #9143
  internal/services/netapp/netapp_volume_resource.go
  internal/services/netapp/netapp_volume_resource_test.go
  website/docs/r/netapp_volume.html.markdown
Labels: enhancement, documentation, size/M, service/netapp

#13003 New Resource: azurerm_logic_app_integration_account_certificate
  internal/services/logic/client/client.go
  internal/services/logic/logic_app_integration_account_certificate_resource.go
  internal/services/logic/logic_app_integration_account_certificate_resource_test.go
  internal/services/logic/parse/integration_account_certificate.go
  internal/services/logic/parse/integration_account_certificate_test.go
  internal/services/logic/registration.go
  internal/services/logic/resourceids.go
  internal/services/logic/validate/integration_account_certificate_id.go
  internal/services/logic/validate/integration_account_certificate_id_test.go
  internal/services/logic/validate/integration_account_certificate_name.go
  internal/services/logic/validate/integration_account_certificate_name_test.go
  website/docs/r/logic_app_integration_account_certificate.html.markdown
Labels: documentation, size/XL, service/logic

#13010 fix max_age_in_seconds range in storage cors settings
  internal/services/storage/helpers.go
Labels: service/storage, size/XS

#12849 Support for `azurerm_api_management_notification_recipient_email`
  internal/provider/services.go
  internal/services/apimanagement/api_management_notification_recipient_email.go
  internal/services/apimanagement/api_management_notification_recipient_email_test.go
  internal/services/apimanagement/client/client.go
  internal/services/apimanagement/parse/notification_recipient_email.go
  internal/services/apimanagement/parse/notification_recipient_email_test.go
  internal/services/apimanagement/registration.go
  internal/services/apimanagement/resourceids.go
  internal/services/apimanagement/validate/notification_recipient_email_id.go
  internal/services/apimanagement/validate/notification_recipient_email_id_test.go
  website/docs/r/api_management_notification_recipient_email.html.markdown
Labels: documentation, new-resource, size/XL, service/api-management

#12999 Virtual hub connection lock
  internal/services/network/virtual_hub_connection_resource.go
  internal/services/network/virtual_hub_connection_resource_test.go
Labels: bug, size/XL, service/virtual-hub

#12982 New Resource: azurerm_logic_app_integration_account_session
  internal/services/logic/client/client.go
  internal/services/logic/logic_app_integration_account_session_resource.go
  internal/services/logic/logic_app_integration_account_session_resource_test.go
  internal/services/logic/parse/integration_account_session.go
  internal/services/logic/parse/integration_account_session_test.go
  internal/services/logic/registration.go
  internal/services/logic/resourceids.go
  internal/services/logic/validate/integration_account_session_id.go
  internal/services/logic/validate/integration_account_session_id_test.go
  website/docs/r/logic_app_integration_account_session.html.markdown
Labels: documentation, new-resource, size/XL, service/logic

#13011 domain_service: export `resource_id` attribute
  internal/services/domainservices/active_directory_domain_service_data_source.go
  internal/services/domainservices/active_directory_domain_service_resource.go
  internal/services/domainservices/active_directory_domain_service_test.go
  website/docs/r/active_directory_domain_service.html.markdown
Labels: documentation, size/XS, service/domain-services

#13022 add resource "azurerm_machine_learning_synapse_spark"
  internal/services/machinelearning/identity.go
  internal/services/machinelearning/machine_learning_synapse_spark_resource.go
  internal/services/machinelearning/machine_learning_synapse_spark_resource_test.go
  internal/services/machinelearning/parse/compute.go
  internal/services/machinelearning/parse/compute_test.go
  internal/services/machinelearning/registration.go
  internal/services/machinelearning/resourceids.go
  internal/services/machinelearning/validate/compute_id.go
  internal/services/machinelearning/validate/compute_id_test.go
  website/docs/r/machine_learning_synapse_spark.html.markdown
Labels: documentation, new-resource, size/XL, service/machine-learning

#12984 azurerm_network_watcher_flow_log - correctly truncate name by ensuring it doesn't end in a -
  internal/services/network/network_watcher_flow_log_resource_test.go
  internal/services/network/network_watcher_resource_test.go
  internal/services/network/parse/flow_log.go
Labels: bug, size/M, service/network-watcher

#13026 `azurerm_servicebus_topic`: Adjust regexp for name validation
  internal/services/servicebus/validate/topic_name.go
Labels: bug, size/XS, service/service-bus

#13027 Change upgrade_description to upgrade_policy in service fabric docs
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, size/XS, service/service-fabric

#13000 ignore case change for aks private_dns_zone_id
  internal/services/containers/kubernetes_cluster_resource.go
Labels: bug, service/dns, size/XS

#13025 `azurerm_databricks_workspace` - fix potential crash in Read
  internal/services/databricks/databricks_workspace_resource.go
Labels: bug, crash, size/XS, service/databricks

#13043 `azurerm_kubernetes_cluster` - fix crash in update when previously configured AAD Profile is now `nil`
  internal/services/containers/kubernetes_cluster_resource.go
Labels: crash, size/XS, service/kubernetes-cluster

#12932 `azurerm_app_service_environment_v3` - update for SDK supported GA changes to service
  internal/services/web/app_service_environment_v3_data_source.go
  internal/services/web/app_service_environment_v3_data_source_test.go
  internal/services/web/app_service_environment_v3_resource.go
  internal/services/web/app_service_environment_v3_resource_test.go
  website/docs/d/app_service_environment_v3.html.markdown
  website/docs/r/app_service_environment_v3.html.markdown
Labels: enhancement, documentation, size/XL, service/app-service

#13041 change upgrade description to policy in error msg
  internal/services/servicefabric/service_fabric_cluster_resource.go
Labels: size/XS, service/service-fabric

#13028 (d|r)/application_security_group: refactoring to use an ID Formatter/Parser
  internal/services/network/application_security_group_data_source.go
  internal/services/network/application_security_group_resource.go
  internal/services/network/application_security_group_resource_test.go
  internal/services/network/parse/application_security_group.go
  internal/services/network/parse/application_security_group_test.go
  internal/services/network/resourceids.go
  internal/services/network/validate/application_security_group_id.go
  internal/services/network/validate/application_security_group_id_test.go
Labels: size/XL, service/application-security-groups, refactor

#13048 `azurerm_sql_server`: Add `threat_detection_policy` argument
  internal/services/sql/client/client.go
  internal/services/sql/sql_server_resource.go
  internal/services/sql/sql_server_resource_test.go
  website/docs/r/sql_server.html.markdown
Labels: documentation, size/L, service/mssql

#13046 `azurerm_app_service`: Document that we support filesystem logging
  internal/services/web/app_service.go
  website/docs/r/app_service.html.markdown
Labels: documentation, size/XS, service/app-service

#13065 azurerm_eventhub_namespace - support upto 40 for maximum_throughput_units
  internal/services/eventhub/eventhub_namespace_resource.go
  internal/services/eventhub/eventhub_namespace_resource_test.go
Labels: size/XS, service/event-hubs

#13034 `azurerm_databricks_workspace`: Flip logic for `public_network_access_enabled`
  internal/services/databricks/databricks_workspace_resource.go
Labels: bug, size/XS, service/databricks

#13042 azurerm_private_dns_a_record_resource - currently validate the `name` property by allowing `@`s
  internal/services/privatedns/private_dns_a_record_resource.go
  internal/services/privatedns/validate/private_dns_a_record_name.go
  internal/services/privatedns/validate/private_dns_a_record_name_test.go
Labels: bug, waiting-response, service/dns, size/S

#13062 Data source - azurerm_data_protection_backup_vault
  internal/services/dataprotection/data_protection_backup_vault_data_source.go
  internal/services/dataprotection/data_protection_backup_vault_data_source_test.go
  internal/services/dataprotection/registration.go
  website/docs/d/data_protection_backup_vault.html.markdown
Labels: documentation, new-data-source, size/L, service/data-protection

#12834 add resource "azurerm_machine_learning_compute_instance"
  internal/services/machinelearning/machine_learning_compute_instance_resource.go
  internal/services/machinelearning/machine_learning_compute_instance_resource_test.go
  internal/services/machinelearning/registration.go
  website/docs/r/machine_learning_compute_instance.html.markdown
Labels: documentation, new-resource, size/XL, service/machine-learning

#13029 `azurerm_linux_virtual_machine_scale_set` - fix potential crash in update to rolling_upgrade_policy
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: crash, service/vmss, size/XS

#13057 `azurerm_logic_app_trigger_http_request` add `callback_url` as attribute
  internal/services/logic/client/client.go
  internal/services/logic/logic_app_trigger_http_request_resource.go
  internal/services/logic/logic_app_trigger_http_request_resource_test.go
  internal/services/logic/logic_apps.go
  website/docs/r/logic_app_trigger_http_request.html.markdown
Labels: enhancement, documentation, size/M, service/logic

#13050 `azurerm_data_lake_store`: Add `identity` parameter
  internal/services/datalake/data_lake_store_resource.go
  internal/services/datalake/data_lake_store_resource_test.go
  website/docs/r/data_lake_store.html.markdown
Labels: enhancement, documentation, size/M, service/data-lake

#12780 azurerm_kubernetes_cluster - and azurerm_kubernetes_cluster_node_pool support ultra_ssd_enabled and private_cluster_public_fqdn_enabled
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: enhancement, documentation, size/L, service/kubernetes-cluster, preview

#13073 `azurerm_app_service` - add support for `vnet_route_all_enabled` property
  internal/services/web/app_service.go
  internal/services/web/app_service_resource.go
  internal/services/web/app_service_resource_test.go
  website/docs/r/app_service.html.markdown
Labels: enhancement, documentation, size/L, service/app-service, tests

#13020 Update giovanni to address #10888
  go.mod
  go.sum
  internal/services/storage/storage_share_file_resource_test.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2019-12-12/file/files/properties_get.go
  vendor/github.com/tombuildsstuff/giovanni/version/version.go
  vendor/modules.txt
Labels: dependencies, service/storage, size/XS

#13083 Corrected msssql_database documentation for 'sku_name'
  website/docs/r/mssql_database.html.markdown
Labels: documentation, size/XS, service/mssql

#13079 `internal/identity`: Fix UAI object payload
  internal/identity/sdk.go
Labels: size/XS

#13093 `azurerm_private_dns_a_record` - fix regression in `name` validation and add max recordset limit validation
  internal/services/privatedns/private_dns_a_record_resource.go
  internal/services/privatedns/validate/private_dns_a_record_name.go
  internal/services/privatedns/validate/private_dns_a_record_name_test.go
Labels: bug, regression, service/dns, size/S

#13102 azurerm_cosmosdb_cassandra_table - correctly update `throughput`
  internal/services/cosmos/cosmosdb_cassandra_table_resource.go
Labels: bug, size/XS, service/cosmosdb

#13014 azurerm_storage_account - support for allow_shared_key_access property
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, size/L

#13125 `service/springcloud`: Fix crashes in identity
  internal/services/springcloud/spring_cloud_app_resource.go
Labels: size/XS

#13130 `service/blueprints`: Fix acceptance tests
  internal/services/blueprints/blueprint_assignment_resource_test.go
Labels: size/XS, service/blueprints, tests

#13129 `service/containers`: Fix acceptance tests
  internal/services/containers/container_group_resource_test.go
Labels: size/XS, service/container-group, tests

#13127 `firewall_policy_rule_collection_group`: Fix DNAT acceptance tests
  internal/services/firewall/firewall_policy_rule_collection_group_resource_test.go
Labels: size/XS, service/firewall, tests

#13113 Drop policy addon in preview note for AKS cluster
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS

#13134 Updates the documentation to fix resource name and dimention-block
  website/docs/r/monitor_scheduled_query_rules_log.html.markdown
Labels: documentation, size/XS, service/monitor

#13171 `service/keyvault`: Fix some acceptance tests
  internal/services/keyvault/key_vault_key_resource_test.go
Labels: service/keyvault, size/XS, tests

#13157 New resource: azurerm_logic_app_integration_account_partner
  internal/services/logic/client/client.go
  internal/services/logic/logic_app_integration_account_partner_resource.go
  internal/services/logic/logic_app_integration_account_partner_resource_test.go
  internal/services/logic/parse/integration_account_partner.go
  internal/services/logic/parse/integration_account_partner_test.go
  internal/services/logic/registration.go
  internal/services/logic/resourceids.go
  internal/services/logic/validate/integration_account_partner_business_identity_qualifier.go
  internal/services/logic/validate/integration_account_partner_business_identity_qualifier_test.go
  internal/services/logic/validate/integration_account_partner_business_identity_value.go
  internal/services/logic/validate/integration_account_partner_business_identity_value_test.go
  internal/services/logic/validate/integration_account_partner_id.go
  internal/services/logic/validate/integration_account_partner_id_test.go
  internal/services/logic/validate/integration_account_partner_name.go
  internal/services/logic/validate/integration_account_partner_name_test.go
  website/docs/r/logic_app_integration_account_partner.html.markdown
Labels: documentation, new-resource, size/XL, service/logic

#13176 azurerm_policy_virtual_machine_configuration_assignment - support assignment_type, content_uri and content_hash
  internal/services/policy/policy_virtual_machine_configuration_assignment_resource.go
  internal/services/policy/policy_virtual_machine_configuration_assignment_resource_test.go
  website/docs/r/policy_virtual_machine_configuration_assignment.html.markdown
Labels: documentation, service/virtual-machine, size/M

#13174 Support for `local_authentication_disabled` in `azurerm_application_insights`
  internal/services/applicationinsights/application_insights_resource.go
  internal/services/applicationinsights/application_insights_resource_test.go
  website/docs/r/application_insights.html.markdown
Labels: enhancement, documentation, size/XS, service/application-insights

#12866 Add support for HDInsight Cluster with Enterprise Security Package
  examples/hdinsight/enterprise-security-package/main.tf
  examples/hdinsight/enterprise-security-package/variables.tf
  internal/services/hdinsight/hdinsight_cluster_data_source.go
  internal/services/hdinsight/hdinsight_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
  internal/services/hdinsight/hdinsight_hadoop_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_hbase_cluster_resource.go
  internal/services/hdinsight/hdinsight_hbase_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
  internal/services/hdinsight/hdinsight_interactive_query_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  internal/services/hdinsight/hdinsight_kafka_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_ml_services_cluster_resource.go
  internal/services/hdinsight/hdinsight_rserver_cluster_resource.go
  internal/services/hdinsight/hdinsight_spark_cluster_resource.go
  internal/services/hdinsight/hdinsight_spark_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_storm_cluster_resource.go
  internal/services/hdinsight/schema.go
  internal/services/hdinsight/validate/hdinsight_cluster_ldaps_urls.go
  internal/services/hdinsight/validate/hdinsight_cluster_ldaps_urls_test.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
Labels: enhancement, documentation, size/XL, service/hdinsight, service/domain-services

#13159 `azurerm_data_factory_linked_service_azure_function` support function key stored in key vault
  internal/services/datafactory/data_factory_linked_service_azure_databricks_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_function_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_function_resource_test.go
  website/docs/r/data_factory_linked_service_azure_function.html.markdown
Labels: enhancement, documentation, size/L, service/data-factory

#12689 Handle nil values for AllowBlobPublicAccess
  internal/services/storage/storage_account_resource.go
Labels: bug, service/storage, size/S

#12901 add resource "azurerm_cognitive_account_customer_managed_key"
  internal/services/cognitive/cognitive_account_customer_managed_key_resource.go
  internal/services/cognitive/cognitive_account_customer_managed_key_resource_test.go
  internal/services/cognitive/cognitive_account_resource.go
  internal/services/cognitive/registration.go
  website/docs/r/cognitive_account.html.markdown
  website/docs/r/cognitive_account_customer_managed_key.html.markdown
Labels: documentation, new-resource, size/XL, service/cognitive-services
