Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2021-10, with the labels that each got.

#13478 azurerm_mssql_database: Attempt to work around SKU change constraints for replicating databases
  internal/services/mssql/helper/database.go
  internal/services/mssql/helper/sku.go
  internal/services/mssql/mssql_database_resource.go
  internal/services/mssql/mssql_database_resource_test.go
  internal/services/mssql/validate/database_sku_name.go
  website/docs/r/mssql_database.html.markdown
Labels: bug, documentation, size/XL, service/mssql

#13587 `azurerm_managed_disk` - `max_share` is now `Computed` to account for managed disks that are already managed by Terraform
  internal/services/compute/managed_disk_resource.go
Labels: bug, service/disks, size/XS

#13593 docs: improve kubernetes local account disabled documentation
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#13594 docs: add defaults for upgrade channel
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#13592 fixing issue #13563
  website/docs/d/public_ip.html.markdown
Labels: documentation, size/XS

#13577 Refactor `azurerm_data_factory_integration_runtime_*` to use parser
  internal/services/datafactory/data_factory_integration_runtime_azure_resource.go
  internal/services/datafactory/data_factory_integration_runtime_azure_resource_test.go
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource.go
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource_test.go
  internal/services/datafactory/data_factory_integration_runtime_managed_resource.go
  internal/services/datafactory/data_factory_integration_runtime_managed_resource_test.go
  internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource.go
  internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource_test.go
Labels: size/L, service/data-factory, refactor

#13601 r/kubernetes_cluster: clarifying the `automatic_channel_upgrade` beha…
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#13599 Fix 10822
  website/docs/r/api_management_api_diagnostic.html.markdown
Labels: documentation, size/XS, service/api-management

#13500 `d/azurerm_public_ips`: Deprecate `attached` for `attachment_status`
  internal/services/network/public_ips_data_source.go
  internal/services/network/public_ips_data_source_test.go
  website/docs/d/public_ips.html.markdown
Labels: documentation, size/S

#13603 Refactor remaining `azurerm_data_factory_*` to use id parser
  internal/services/datafactory/data_factory_pipeline_resource.go
  internal/services/datafactory/data_factory_pipeline_resource_test.go
  internal/services/datafactory/data_factory_resource.go
  internal/services/datafactory/data_factory_trigger_custom_event_resource_test.go
  internal/services/datafactory/data_factory_trigger_schedule_resource.go
  internal/services/datafactory/parse/pipeline.go
  internal/services/datafactory/parse/pipeline_test.go
  internal/services/datafactory/resourceids.go
  internal/services/datafactory/validate/pipeline_id.go
  internal/services/datafactory/validate/pipeline_id_test.go
Labels: size/XL, service/data-factory, refactor

#13621 fixes typos
  website/docs/d/api_management_api_version_set.html.markdown
  website/docs/d/storage_table_entity.html.markdown
  website/docs/d/virtual_wan.html.markdown
  website/docs/guides/2.58.0-frontdoor-upgrade-guide.html.markdown
  website/docs/r/api_management_api_diagnostic.html.markdown
  website/docs/r/api_management_api_schema.html.markdown
  website/docs/r/api_management_custom_domain.html.markdown
  website/docs/r/data_factory_linked_service_azure_search.html.markdown
  website/docs/r/data_factory_linked_service_sftp.html.markdown
  website/docs/r/database_migration_project.html.markdown
  website/docs/r/databricks_workspace.html.markdown
  website/docs/r/dedicated_host.html.markdown
  website/docs/r/eventhub_namespace_disaster_recovery_config.html.markdown
  website/docs/r/frontdoor.html.markdown
  website/docs/r/hpc_cache_access_policy.html.markdown
  website/docs/r/iot_time_series_insights_event_source_iothub.html.markdown
  website/docs/r/iothub_dps.html.markdown
  website/docs/r/key_vault_managed_storage_account_sas_token_definition.html.markdown
  website/docs/r/lb_nat_rule.html.markdown
  website/docs/r/management_group.html.markdown
  website/docs/r/media_streaming_policy.html.markdown
  website/docs/r/media_transform.html.markdown
  website/docs/r/site_recovery_network_mapping.html.markdown
  website/docs/r/storage_blob_inventory_policy.html.markdown
  website/docs/r/storage_object_replication.html.markdown
  website/docs/r/subnet.html.markdown
  website/docs/r/video_analyzer.html.markdown
Labels: documentation, size/M

#13610 `azurerm_public_ips` data source - check nat gateway property of public ip
  internal/services/network/public_ips_data_source.go
  internal/services/network/public_ips_data_source_test.go
Labels: enhancement, service/virtual-networks, size/S

#13619 Test Fix: Additional compute package test fixes
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  internal/services/compute/virtual_machine_managed_disks_resource_test.go
  internal/services/compute/virtual_machine_resource.go
  internal/services/compute/virtual_machine_scale_set_resource_test.go
Labels: size/XS, tests

#13580 `azurerm_function_app` - fix regressions in function app storage
  internal/services/web/function_app.go
  internal/services/web/function_app_resource.go
  internal/services/web/function_app_resource_test.go
Labels: size/M, service/functions

#13626 fix ShortTermRetentionPolicy retention_days
  internal/services/mssql/helper/sql_retention_policies.go
Labels: bug, service/backup

#13633 Test Fix: DDoSProtectionPlan and TestAccVirtualHub
  internal/services/network/network_ddos_protection_plan_data_source_test.go
  internal/services/network/network_ddos_protection_plan_resource_test.go
  internal/services/network/virtual_hub_bgp_connection_resource_test.go
Labels: size/XS, tests

#13588 Adding comments to code that needs to be removed on v3.0
  internal/services/netapp/netapp_snapshot_resource.go
  internal/services/netapp/netapp_volume_resource.go
  internal/services/netapp/netapp_volume_resource_test.go
  website/docs/r/netapp_volume.html.markdown
Labels: documentation, size/S, service/netapp

#13634 Test Fix: `TestAccKubernetesCluster_upgrade`
  internal/services/containers/kubernetes_cluster_resource_test.go
Labels: size/XS, service/kubernetes-cluster, tests

#13881 `azurerm_synapse_workspace_key`: deprecate `cusomter_managed_key_name` in favour of the correctly spelled `customer_managed_key_name`
  internal/acceptance/testcase.go
  internal/services/synapse/synapse_workspace_key_resource.go
  website/docs/r/synapse_workspace_keys.html.markdown
Labels: documentation, size/S, service/synapse
