Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2021-02, with the labels that each got.

#10378 network: removing the direct dependency on `acceptance.AzureProvider`
  azurerm/internal/azuresdkhacks/network_interface.go
  azurerm/internal/services/containers/container_registry_resource_test.go
  azurerm/internal/services/network/application_gateway_resource_test.go
  azurerm/internal/services/network/network_interface_application_gateway_association_resource_test.go
  azurerm/internal/services/network/network_interface_application_security_group_association_resource_test.go
  azurerm/internal/services/network/network_interface_backend_address_pool_association_resource_test.go
  azurerm/internal/services/network/network_interface_nat_rule_association_resource_test.go
  azurerm/internal/services/network/network_interface_network_security_group_association_resource_test.go
  azurerm/internal/services/network/subnet_nat_gateway_association_resource.go
  azurerm/internal/services/network/subnet_nat_gateway_association_resource_test.go
  azurerm/internal/services/network/subnet_network_security_group_association_resource_test.go
  azurerm/internal/services/network/subnet_resource_test.go
  azurerm/internal/services/network/subnet_route_table_association_resource.go
  azurerm/internal/services/network/subnet_route_table_association_resource_test.go
Labels: refactor, size/XL, tests

#10403 network: switching the hand-written ID parsers for generated ones
  azurerm/internal/services/dns/dns_ns_record_resource.go
  azurerm/internal/services/network/ip_group_test.go
  azurerm/internal/services/network/network_interface_locking.go
  azurerm/internal/services/network/network_security_group.go
  azurerm/internal/services/network/network_security_group_resource.go
  azurerm/internal/services/network/network_security_group_resource_test.go
  azurerm/internal/services/network/network_security_group_test.go
  azurerm/internal/services/network/parse/network_security_group.go
  azurerm/internal/services/network/parse/network_security_group_test.go
  azurerm/internal/services/network/parse/route_table.go
  azurerm/internal/services/network/parse/route_table_test.go
  azurerm/internal/services/network/parse/vpn_server_configuration.go
  azurerm/internal/services/network/parse/vpn_server_configuration_test.go
  azurerm/internal/services/network/point_to_site_vpn_gateway_resource.go
  azurerm/internal/services/network/resourceids.go
  azurerm/internal/services/network/route_table.go
  azurerm/internal/services/network/route_table_resource.go
  azurerm/internal/services/network/route_table_resource_test.go
  azurerm/internal/services/network/route_table_test.go
  azurerm/internal/services/network/subnet_network_security_group_association_resource.go
  azurerm/internal/services/network/subnet_route_table_association_resource.go
  azurerm/internal/services/network/subnet_service_endpoint_storage_policy_resource_test.go
  azurerm/internal/services/network/validate/network_security_group_id.go
  azurerm/internal/services/network/validate/network_security_group_id_test.go
  azurerm/internal/services/network/validate/route_table_id.go
  azurerm/internal/services/network/validate/route_table_id_test.go
  azurerm/internal/services/network/validate/vpn_server_configuration_id.go
  azurerm/internal/services/network/validate/vpn_server_configuration_id_test.go
  azurerm/internal/services/network/virtual_hub_route_table_resource_test.go
  azurerm/internal/services/network/virtual_wan.go
  azurerm/internal/services/network/virtual_wan_resource.go
  azurerm/internal/services/network/virtual_wan_resource_test.go
  azurerm/internal/services/network/virtual_wan_test.go
  azurerm/internal/services/network/vpn_server_configuration.go
  azurerm/internal/services/network/vpn_server_configuration_resource.go
  azurerm/internal/services/network/vpn_server_configuration_resource_test.go
  azurerm/internal/services/network/vpn_server_configuration_test.go
Labels: refactor, size/XXL

#10405 compute: switching to use Check funcs
  azurerm/internal/services/compute/image_resource_test.go
  azurerm/internal/services/compute/managed_disk_resource_test.go
  azurerm/internal/services/compute/shared_image_version_resource_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource_images_test.go
Labels: refactor, size/XL

#10415 servicefabricmesh: deprecating since this is being removed on 2021-04-28
  .teamcity/components/generated/services.kt
  azurerm/internal/services/servicefabricmesh/deprecation.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_application_resource.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_local_network_resource.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_secret_resource.go
  azurerm/internal/services/servicefabricmesh/service_fabric_mesh_secret_value_resource.go
  azurerm/internal/tools/generator-services/main.go
  website/docs/r/service_fabric_mesh_application.html.markdown
  website/docs/r/service_fabric_mesh_local_network.html.markdown
  website/docs/r/service_fabric_mesh_secret.html.markdown
  website/docs/r/service_fabric_mesh_secret_value.html.markdown
Labels: deprecation, documentation, service/service-fabric-mesh, size/S

#10372 azurerm_storage_data_lake_gen2_[filesystem|path] - change the `ace` property to a TypeSet to ensure consistent ordering
  azurerm/internal/services/storage/storage_data_lake_gen2_filesystem_resource.go
  azurerm/internal/services/storage/storage_data_lake_gen2_path_resource.go
Labels: bug, service/storage, size/XS

#10367 azurerm_service_fabric_cluster - add reverse_proxy_certificate_common_names
  azurerm/internal/services/servicefabric/service_fabric_cluster_resource.go
  azurerm/internal/services/servicefabric/service_fabric_cluster_resource_test.go
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, enhancement, service/service-fabric, size/L

#10410 Add public_network_access_enabled to azurerm_redis_cache
  azurerm/internal/services/redis/client/client.go
  azurerm/internal/services/redis/redis_cache_resource.go
  azurerm/internal/services/redis/redis_cache_resource_test.go
  azurerm/internal/services/redis/redis_firewall_rule_resource.go
  azurerm/internal/services/redis/redis_linked_server_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2018-03-01/redis/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/firewallrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/linkedserver.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/patchschedules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/redis.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redis/mgmt/2020-06-01/redis/version.go
  vendor/modules.txt
  website/docs/r/redis_cache.html.markdown
Labels: dependencies, documentation, size/XXL

#10428 move validation functions from helpers to service packages M-Z
  azurerm/internal/services/datashare/data_share_dataset_blob_storage_resource.go
  azurerm/internal/services/iothub/iothub_endpoint_storage_container_resource.go
  azurerm/internal/services/mariadb/mariadb_virtual_network_rule_resource.go
  azurerm/internal/services/media/media_asset_resource.go
  azurerm/internal/services/mysql/mysql_virtual_network_rule_resource.go
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/public_ip_resource.go
  azurerm/internal/services/network/validate/public_ip.go
  azurerm/internal/services/network/validate/public_ip_test.go
  azurerm/internal/services/network/validate/virtual_network_rule_name.go
  azurerm/internal/services/network/validate/virtual_network_rule_name_test.go
  azurerm/internal/services/network/validate/web_application_firewall_policy.go
  azurerm/internal/services/network/web_application_firewall_policy_resource.go
  azurerm/internal/services/postgres/postgresql_virtual_network_rule_resource.go
  azurerm/internal/services/servicebus/servicebus_queue_resource.go
  azurerm/internal/services/servicebus/servicebus_topic_resource.go
  azurerm/internal/services/servicebus/validate/servicebus.go
  azurerm/internal/services/storage/storage_account_blob_container_sas_data_source.go
  azurerm/internal/services/storage/storage_blob_resource.go
  azurerm/internal/services/storage/storage_container_resource.go
  azurerm/internal/services/storage/storage_container_resource_test.go
  azurerm/internal/services/storage/storage_share_directory_resource.go
  azurerm/internal/services/storage/storage_share_file_resource.go
  azurerm/internal/services/storage/validate/shared_access_signature.go
  azurerm/internal/services/storage/validate/shared_access_signature_test.go
  azurerm/internal/services/storage/validate/storage.go
  azurerm/internal/services/storage/validate/storage_container.go
  azurerm/internal/services/storage/validate/storage_test.go
  azurerm/internal/services/streamanalytics/stream_analytics_job_resource.go
  azurerm/internal/services/streamanalytics/validate/stream_analytics.go
  azurerm/internal/services/streamanalytics/validate/stream_analytics_test.go
Labels: refactor, size/S

#10427 move validate functions from azure helpers (D-M)
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/kubernetes_nodepool.go
  azurerm/internal/services/containers/validate/kubernetes.go
  azurerm/internal/services/containers/validate/kubernetes_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_azure_blob_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_cosmosdb_sqlapi_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_http_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_json_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_mysql_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_postgresql_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_sql_server_table_resource.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_managed_resource.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_function_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_table_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_cosmosdb_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_key_vault_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_mysql_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_postgresql_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sftp_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_snowflake_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sql_server_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_synapse_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_web_resource.go
  azurerm/internal/services/datafactory/data_factory_pipeline_resource.go
  azurerm/internal/services/datafactory/data_factory_resource.go
  azurerm/internal/services/datafactory/data_factory_trigger_schedule_resource.go
  azurerm/internal/services/datafactory/migration/data_factory.go
  azurerm/internal/services/datafactory/validate/datafactory.go
  azurerm/internal/services/datafactory/validate/datafactory_test.go
  azurerm/internal/services/devspace/devspace_controller_resource.go
  azurerm/internal/services/devspace/validate/devspace.go
  azurerm/internal/services/devspace/validate/devspace_test.go
  azurerm/internal/services/devtestlabs/dev_test_lab_data_source.go
  azurerm/internal/services/devtestlabs/dev_test_lab_resource.go
  azurerm/internal/services/devtestlabs/dev_test_lab_schedule_resource.go
  azurerm/internal/services/devtestlabs/dev_test_linux_virtual_machine_resource.go
  azurerm/internal/services/devtestlabs/dev_test_policy_resource.go
  azurerm/internal/services/devtestlabs/dev_test_virtual_network_data_source.go
  azurerm/internal/services/devtestlabs/dev_test_virtual_network_resource.go
  azurerm/internal/services/devtestlabs/dev_test_windows_virtual_machine_resource.go
  azurerm/internal/services/devtestlabs/validate/devtest.go
  azurerm/internal/services/devtestlabs/validate/devtest_test.go
  azurerm/internal/services/hdinsight/schema.go
  azurerm/internal/services/hdinsight/schema_test.go
  azurerm/internal/services/hdinsight/validate/hdinsight.go
  azurerm/internal/services/hdinsight/validate/hdinsight_test.go
  azurerm/internal/services/monitor/monitor_diagnostic_setting_resource.go
  azurerm/internal/services/monitor/validate/monitor_diagnostic_setting.go
  azurerm/internal/services/monitor/validate/monitor_diagnostic_setting_test.go
Labels: refactor, size/M

#10437 remove unused validation functions
  azurerm/helpers/validate/domain_name.go
  azurerm/helpers/validate/domain_name_test.go
  azurerm/helpers/validate/time.go
  azurerm/helpers/validate/time_test.go
Labels: refactor, size/M

#10398 Add `enable_host_encryption` to AKS node pool resources
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource_test.go
  azurerm/internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, enhancement, preview, service/kubernetes-cluster, size/L

#10429 r/api_management: setting `identity_ids` as a `[]interface{}` so this'll be inferred
  azurerm/internal/services/apimanagement/api_management_data_source.go
  azurerm/internal/services/apimanagement/api_management_data_source_test.go
Labels: bug, regression, service/api-management, size/M

#10396 Update to docs for setting provider version
  README.md
  website/docs/guides/2.0-upgrade-guide.html.markdown
  website/docs/guides/azure_cli.html.markdown
  website/docs/guides/managed_service_identity.html.markdown
  website/docs/guides/migrating-to-azuread.html.markdown
  website/docs/guides/service_principal_client_certificate.html.markdown
  website/docs/guides/service_principal_client_secret.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/L

#10438 r/role_assignment: adding validation for `scope`
  .teamcity/components/settings.kt
  azurerm/internal/services/authorization/role_assignment_resource.go
  azurerm/internal/services/authorization/role_assignment_resource_test.go
Labels: bug, service/authorization, size/M

#10452 Fix `kubernetes_cluster` acctest by changing length of Windows Profile password
  azurerm/internal/services/containers/kubernetes_cluster_other_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: bug, documentation, service/kubernetes-cluster, size/XS, tests

#10328 New resource: azurerm_cosmosdb_cassandra_table
  azurerm/internal/services/cosmos/common/schema.go
  azurerm/internal/services/cosmos/cosmosdb_cassandra_table_resource.go
  azurerm/internal/services/cosmos/cosmosdb_cassandra_table_resource_test.go
  azurerm/internal/services/cosmos/parse/cassandra_table.go
  azurerm/internal/services/cosmos/parse/cassandra_table_test.go
  azurerm/internal/services/cosmos/registration.go
  azurerm/internal/services/cosmos/resourceids.go
  azurerm/internal/services/cosmos/validate/cassandra_table_id.go
  azurerm/internal/services/cosmos/validate/cassandra_table_id_test.go
  website/docs/r/cosmosdb_cassandra_table.html.markdown
Labels: documentation, new-resource, service/cosmosdb, size/XXL

#10447 keyvault: adjusting the caching setup
  azurerm/internal/common/client_options.go
  azurerm/internal/services/keyvault/client/helpers.go
Labels: bug, regression, service/keyvault, size/M

#10240 New resource: azurerm_api_management_identity_provider_aadb2c
  azurerm/internal/services/apimanagement/api_management_api_diagnostic_resource_test.go
  azurerm/internal/services/apimanagement/api_management_api_operation_policy_resource_test.go
  azurerm/internal/services/apimanagement/api_management_api_operation_resource_test.go
  azurerm/internal/services/apimanagement/api_management_api_policy_resource_test.go
  azurerm/internal/services/apimanagement/api_management_api_resource_test.go
  azurerm/internal/services/apimanagement/api_management_api_schema_resource_test.go
  azurerm/internal/services/apimanagement/api_management_api_version_set_resource_test.go
  azurerm/internal/services/apimanagement/api_management_authorization_server_resource_test.go
  azurerm/internal/services/apimanagement/api_management_backend_resource_test.go
  azurerm/internal/services/apimanagement/api_management_certificate_resource_test.go
  azurerm/internal/services/apimanagement/api_management_custom_domain_resource_test.go
  azurerm/internal/services/apimanagement/api_management_diagnostic_resource_test.go
  azurerm/internal/services/apimanagement/api_management_group_resource_test.go
  azurerm/internal/services/apimanagement/api_management_group_user_resource_test.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_aad_resource_test.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_aadb2c_resource.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_aadb2c_resource_test.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_facebook_resource_test.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_google_resource_test.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_microsoft_resource_test.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_twitter_resource_test.go
  azurerm/internal/services/apimanagement/api_management_logger_resource_test.go
  azurerm/internal/services/apimanagement/api_management_named_value_resource_test.go
  azurerm/internal/services/apimanagement/api_management_openid_connect_provider_resource_test.go
  azurerm/internal/services/apimanagement/api_management_policy_resource_test.go
  azurerm/internal/services/apimanagement/api_management_product_api_resource_test.go
  azurerm/internal/services/apimanagement/api_management_product_group_resource_test.go
  azurerm/internal/services/apimanagement/api_management_product_policy_resource_test.go
  azurerm/internal/services/apimanagement/api_management_product_resource_test.go
  azurerm/internal/services/apimanagement/api_management_property_resource_test.go
  azurerm/internal/services/apimanagement/api_management_resource_test.go
  azurerm/internal/services/apimanagement/api_management_subscription_resource_test.go
  azurerm/internal/services/apimanagement/api_management_user_resource_test.go
  azurerm/internal/services/apimanagement/registration.go
  website/azurerm.erb
  website/docs/r/api_management_identity_provider_aadb2c.html.markdown
Labels: new-resource, service/api-management, size/XL, waiting-response

#10451 Remove failing `kubernetes_cluster` test for deprecated bridge network mode
  azurerm/internal/services/containers/kubernetes_cluster_network_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: bug, documentation, service/kubernetes-cluster, size/XS

#10422 Support for `skip_metric_validation` in `azurerm_monitor_metric_alert`
  azurerm/internal/services/monitor/monitor_metric_alert_resource.go
  azurerm/internal/services/monitor/monitor_metric_alert_resource_test.go
  website/docs/r/monitor_metric_alert.html.markdown
Labels: documentation, service/monitor, size/M

#10291 azurerm_lb_backend_address_pool: support for `backend_address`
  azurerm/helpers/azure/resource_group.go
  azurerm/internal/services/loadbalancer/backend_address_pool_data_source.go
  azurerm/internal/services/loadbalancer/backend_address_pool_resource.go
  azurerm/internal/services/loadbalancer/client/client.go
  azurerm/internal/services/loadbalancer/loadbalancer_backend_address_pool_data_source_test.go
  azurerm/internal/services/loadbalancer/loadbalancer_backend_address_pool_resource_test.go
  website/docs/d/lb_backend_address_pool.html.markdown
  website/docs/r/lb_backend_address_pool.html.markdown
Labels: documentation, enhancement, service/load-balancers, size/XL

#10469 azurerm_mssql_virtual_machine - Fix Crash When Setting 'KeyVault' nil
  azurerm/internal/services/mssql/mssql_virtual_machine_resource.go
Labels: size/XS

#10471 refactor: removing the `tests `folder for authorization and datafactory
  azurerm/internal/services/authorization/role_definition_resource_test.go
  azurerm/internal/services/authorization/tests/role_definition_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_table_storage_resource_test.go
Labels: refactor, service/authorization, service/data-factory, size/XL

#10481 azurerm_lb_backend_address_pool: mark `backend_address` as computed
  azurerm/internal/services/loadbalancer/backend_address_pool_resource.go
  azurerm/internal/services/loadbalancer/loadbalancer_backend_address_pool_resource_test.go
Labels: regression, service/load-balancers, size/M

#10470 azurerm_synapse_*: do not fail when retrieving ACLs that do not exist
  azurerm/internal/services/storage/storage_data_lake_gen2_filesystem_resource.go
Labels: bug, service/synapse, size/S, tests, waiting-response

#10493 Minor tweak for SDK: return nil instead of return err
  azurerm/internal/sdk/wrapper_resource.go
Labels: size/XS

#10487 Update managed disks ultrassd note
  website/docs/r/managed_disk.html.markdown
Labels: documentation, service/disks, size/XS

#10440 `azurerm_app_service`: `ip_restriction.x.ip_address` now accepts anything other than an empty string.
  azurerm/internal/services/web/app_service.go
Labels: bug, service/app-service, size/XS

#10511 testing: groundwork for Binary Testing
  .teamcity/components/build_components.kt
  .teamcity/components/settings.kt
  azurerm/internal/acceptance/providers.go
  azurerm/internal/acceptance/required_test.go
  azurerm/internal/acceptance/steps.go
  azurerm/internal/acceptance/testcase.go
  azurerm/internal/features/defaults.go
  azurerm/internal/provider/features.go
Labels: refactor, size/L, tests

#10520 r/kubernetes_cluster: validating the casing on the Log Analytics Workspace ID
  azurerm/internal/services/containers/kubernetes_addons.go
Labels: enhancement, service/kubernetes-cluster, size/XS

#10526 tests: adding `azuread` provider blocks
  azurerm/internal/services/authorization/role_assignment_resource_test.go
  azurerm/internal/services/azurestackhci/stack_hci_cluster_resource_test.go
  azurerm/internal/services/batch/batch_account_data_source_test.go
  azurerm/internal/services/batch/batch_account_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
  azurerm/internal/services/hdinsight/hdinsight_kafka_cluster_resource_test.go
  azurerm/internal/services/hpccache/hpc_cache_blob_target_resource_test.go
  azurerm/internal/services/mssql/mssql_server_resource_test.go
  azurerm/internal/services/mssql/mssql_virtual_machine_resource_test.go
  azurerm/internal/services/servicefabric/service_fabric_cluster_resource_test.go
  azurerm/internal/services/springcloud/spring_cloud_certificate_resource_test.go
  azurerm/internal/services/springcloud/spring_cloud_service_resource_test.go
  azurerm/internal/services/storage/storage_data_lake_gen2_filesystem_resource_test.go
  azurerm/internal/services/storage/storage_data_lake_gen2_path_resource_test.go
  azurerm/internal/services/web/app_service_certificate_resource_test.go
Labels: refactor, size/S, tests

#10527 `azurerm_media_streaming_endpoint`: Expose `host_name`
  azurerm/internal/services/media/media_streaming_endpoint_resource.go
  azurerm/internal/services/media/media_streaming_endpoint_resource_test.go
  website/docs/r/media_streaming_endpoint.html.markdown
Labels: documentation, enhancement, services/media, size/XS

#10519 images: replacing the dependency on `acceptance.AzureProvider`
  azurerm/internal/acceptance/ssh/commands.go
  azurerm/internal/acceptance/ssh/run.go
  azurerm/internal/services/compute/image_resource_test.go
  azurerm/internal/services/compute/images_data_source_test.go
  azurerm/internal/services/compute/linux_virtual_machine_resource_images_test.go
  azurerm/internal/services/compute/shared_image_resource.go
  azurerm/internal/services/compute/shared_image_version_data_source_test.go
  azurerm/internal/services/compute/shared_image_version_resource.go
  azurerm/internal/services/compute/shared_image_version_resource_test.go
  azurerm/internal/services/compute/shared_image_versions_data_source.go
  azurerm/internal/services/compute/shared_image_versions_data_source_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set_resource_test.go
Labels: bug, refactor, service/images, size/XXL

#10528 VMSS in-line extensions GA
  azurerm/internal/features/beta_features_opt_in.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_extensions_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/virtual_machine_scale_set_import.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_extensions_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/L

#10420 azurerm_cosmosdb_account: Fix submitted key_vault_key_id values
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
  azurerm/internal/services/keyvault/key_vault_key_resource.go
  azurerm/internal/services/keyvault/key_vault_key_resource_test.go
  azurerm/internal/services/keyvault/parse/nested_item.go
  azurerm/internal/services/keyvault/parse/nested_item_test.go
  azurerm/internal/services/keyvault/validate/nested_item_id.go
  azurerm/internal/services/keyvault/validate/nested_item_id_test.go
  website/docs/d/key_vault_key.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
  website/docs/r/key_vault_key.html.markdown
Labels: bug, documentation, regression, service/cosmosdb, service/keyvault, size/M

#10446 Recoveryservices - support for recovery_public_ip
  azurerm/internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
  azurerm/internal/services/recoveryservices/site_recovery_replicated_vm_resource_test.go
  website/docs/r/site_recovery_replicated_vm.html.markdown
Labels: documentation, enhancement, service/recovery-services, size/M

#10307 azurerm_kubernetes_cluster - support for the `only_critical_addons_enabled` property
  azurerm/internal/services/containers/kubernetes_cluster_other_resource_test.go
  azurerm/internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/M

#10497 DOCUMENTATION: api management correction Issue 9708
  website/docs/r/api_management_policy.html.markdown
Labels: documentation, service/api-management, size/XS

#10533 azurerm_public_ip: Clarify error message
  azurerm/internal/services/network/validate/public_ip.go
Labels: bug, service/public-ip, size/XS

#10525 r/cosmosdb_account: removing a panic when the response is nil
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
Labels: bug, service/cosmosdb, size/XS

#10512 monitor diagnostic: allow updating workspace ID in place
  azurerm/internal/services/monitor/monitor_diagnostic_setting_resource.go
  website/docs/r/monitor_diagnostic_setting.html.markdown
Labels: bug, documentation, service/monitor, size/XS

#9357 azurerm_frontdoor force sorting of properties (part 1)
  azurerm/internal/services/frontdoor/frontdoor_custom_https_configuration_resource_test.go
  azurerm/internal/services/frontdoor/frontdoor_resource.go
  azurerm/internal/services/frontdoor/frontdoor_resource_test.go
  website/docs/r/frontdoor.html.markdown
  website/docs/r/frontdoor_custom_https_configuration.html.markdown
Labels: dependencies, documentation, service/frontdoor, size/L

#10353 new resource "azurerm_iot_security_device_group"
  azurerm/internal/services/securitycenter/client/client.go
  azurerm/internal/services/securitycenter/iot_security_device_group_resource.go
  azurerm/internal/services/securitycenter/iot_security_device_group_resource_test.go
  azurerm/internal/services/securitycenter/parse/iot_security_device_group.go
  azurerm/internal/services/securitycenter/parse/iot_security_device_group_test.go
  azurerm/internal/services/securitycenter/registration.go
  website/azurerm.erb
  website/docs/r/iot_security_device_group.html.markdown
Labels: documentation, size/XXL

#10535 Documentation typo: grop => group
  website/docs/d/traffic_manager_profile.html.markdown
Labels: documentation, size/XS

#10534 Fix documentation specifying uniqueness scope within data_factory_linked_service
  website/docs/r/data_factory_linked_service_azure_blob_storage.html.markdown
  website/docs/r/data_factory_linked_service_azure_file_storage.html.markdown
  website/docs/r/data_factory_linked_service_azure_function.html.markdown
  website/docs/r/data_factory_linked_service_azure_sql_database.html.markdown
  website/docs/r/data_factory_linked_service_azure_table_storage.html.markdown
  website/docs/r/data_factory_linked_service_cosmosdb.html.markdown
  website/docs/r/data_factory_linked_service_data_lake_storage_gen2.html.markdown
  website/docs/r/data_factory_linked_service_key_vault.html.markdown
  website/docs/r/data_factory_linked_service_mysql.html.markdown
  website/docs/r/data_factory_linked_service_postgresql.html.markdown
  website/docs/r/data_factory_linked_service_sftp.html.markdown
  website/docs/r/data_factory_linked_service_snowflake.html.markdown
  website/docs/r/data_factory_linked_service_sql_server.html.markdown
  website/docs/r/data_factory_linked_service_synapse.html.markdown
  website/docs/r/data_factory_linked_service_web.html.markdown
Labels: documentation, service/data-factory, size/S

#10536 azurerm_eventhub_namespace: fix downgrade scenario
  azurerm/internal/services/eventhub/eventhub_namespace_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_resource_test.go
Labels: bug, service/event-hubs, size/S

#10538 fix up some err assignments
  azurerm/internal/services/apimanagement/api_management_group_user_resource_test.go
  azurerm/internal/services/apimanagement/api_management_product_api_resource_test.go
  azurerm/internal/services/apimanagement/api_management_product_group_resource_test.go
  azurerm/internal/services/applicationinsights/application_insights_analytics_item_resource.go
  azurerm/internal/services/compute/availability_set_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_resource_images_test.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_database_resource.go
  azurerm/internal/services/datashare/data_share_account_resource.go
  azurerm/internal/services/devtestlabs/dev_test_policy_resource.go
  azurerm/internal/services/digitaltwins/digital_twins_instance_resource.go
  azurerm/internal/services/firewall/firewall_network_rule_collection_resource_test.go
  azurerm/internal/services/iothub/iothub_resource.go
  azurerm/internal/services/keyvault/key_vault_certificate_issuer_resource.go
  azurerm/internal/services/keyvault/key_vault_resource.go
  azurerm/internal/services/lighthouse/lighthouse_assignment_resource.go
  azurerm/internal/services/lighthouse/lighthouse_definition_resource.go
  azurerm/internal/services/loganalytics/log_analytics_linked_service_resource.go
  azurerm/internal/services/media/media_content_key_policy_resource.go
  azurerm/internal/services/media/media_job_resource.go
  azurerm/internal/services/monitor/monitor_log_profile_resource.go
  azurerm/internal/services/mysql/mysql_aad_administrator_resource.go
  azurerm/internal/services/netapp/netapp_pool_resource.go
  azurerm/internal/services/network/network_profile_resource_test.go
  azurerm/internal/services/resource/template_deployment_resource.go
  azurerm/internal/services/resource/template_deployment_resource_test.go
  azurerm/internal/services/storage/storage_management_policy_resource.go
  azurerm/internal/services/synapse/synapse_workspace_resource.go
  azurerm/internal/services/trafficmanager/traffic_manager_profile_resource.go
  azurerm/internal/services/web/app_service_resource.go
Labels: refactor, size/M

#10460 azurerm_mssql_virtual_machine: support auto_backup
  azurerm/internal/services/mssql/mssql_virtual_machine_resource.go
  azurerm/internal/services/mssql/mssql_virtual_machine_resource_test.go
  website/docs/r/mssql_virtual_machine.html.markdown
Labels: documentation, enhancement, service/mssql, size/XL

#10464 provider: deprecate `skip_credentials_validation`
  azurerm/internal/provider/provider.go
  website/docs/index.html.markdown
Labels: deprecation, documentation, size/S

#8184 New Data Source: `azurerm_key_vault_certificate_data`
  azurerm/internal/services/keyvault/key_vault_certificate_data_data_source.go
  azurerm/internal/services/keyvault/key_vault_certificate_data_data_source_test.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource_test.go
  azurerm/internal/services/keyvault/registration.go
  website/docs/d/key_vault_certificate_data.html.markdown
Labels: documentation, new-data-source, service/keyvault, size/XL

#10236 Feature: Azure + Azure-SSIS Integration Runtimes for Azure Data Factory
  azurerm/internal/services/datafactory/data_factory_integration_runtime_azure_resource.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_azure_resource_test.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource_test.go
  azurerm/internal/services/datafactory/registration.go
  website/azurerm.erb
  website/docs/r/data_factory_integration_runtime_azure.html.markdown
  website/docs/r/data_factory_integration_runtime_azure_ssis.html.markdown
  website/docs/r/data_factory_integration_runtime_managed.html.markdown
Labels: documentation, service/data-factory, size/XXL

#10539 New Resource: `azurerm_application_insights_smart_detection_rule`
  azurerm/internal/services/applicationinsights/application_insights_smart_detection_rule_resource.go
  azurerm/internal/services/applicationinsights/application_insights_smart_detection_rule_resource_test.go
  azurerm/internal/services/applicationinsights/client/client.go
  azurerm/internal/services/applicationinsights/parse/smart_detection_rule.go
  azurerm/internal/services/applicationinsights/parse/smart_detection_rule_test.go
  azurerm/internal/services/applicationinsights/registration.go
  azurerm/internal/services/applicationinsights/resourceids.go
  azurerm/internal/services/applicationinsights/validate/smart_detection_rule_id.go
  azurerm/internal/services/applicationinsights/validate/smart_detection_rule_id_test.go
  website/azurerm.erb
  website/docs/r/application_insights_smart_detection_rule.html.markdown
Labels: documentation, new-resource, service/application-insights, size/XL

#10201 kubernetes_cluster: Add support for private_dns_zone_id
  azurerm/internal/services/containers/kubernetes_cluster_network_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_other_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, preview, service/kubernetes-cluster, size/L

#10488 New Resource: `azurerm_lb_backend_address_pool_address`
  azurerm/internal/provider/services.go
  azurerm/internal/services/loadbalancer/backend_address_pool_address_resource.go
  azurerm/internal/services/loadbalancer/backend_address_pool_address_resource_test.go
  azurerm/internal/services/loadbalancer/backend_address_pool_data_source.go
  azurerm/internal/services/loadbalancer/backend_address_pool_data_source_test.go
  azurerm/internal/services/loadbalancer/backend_address_pool_resource.go
  azurerm/internal/services/loadbalancer/backend_address_pool_resource_test.go
  azurerm/internal/services/loadbalancer/loadbalancer_backend_address_pool_resource_test.go
  azurerm/internal/services/loadbalancer/parse/backend_address_pool_address.go
  azurerm/internal/services/loadbalancer/parse/backend_address_pool_address_test.go
  azurerm/internal/services/loadbalancer/registration.go
  azurerm/internal/services/loadbalancer/resourceids.go
  azurerm/internal/services/loadbalancer/validate/backend_address_pool_address_id.go
  azurerm/internal/services/loadbalancer/validate/backend_address_pool_address_id_test.go
  website/docs/d/lb_backend_address_pool.html.markdown
  website/docs/r/lb_backend_address_pool.html.markdown
  website/docs/r/lb_backend_address_pool_address.html.markdown
Labels: bug, documentation, new-resource, regression, service/load-balancers, size/XXL

#10567 Update web_application_firewall_policy.html.markdown
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, size/XS

#10580 FIX: r/azurerm frontdoor - Error if patterns_to_match is empty in routing_rule
  azurerm/internal/services/frontdoor/frontdoor_resource.go
Labels: bug, service/frontdoor, size/XS

#10531 azurerm_kubernetes_cluster: auto_scaler_profile additions
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_scaling_resource_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/S

#10565 r/resource_group_template_deployment: checking for the resource name insensitively
  azurerm/internal/services/resource/resource_group_template_deployment_resource_test.go
  azurerm/internal/services/resource/template_deployment_common.go
Labels: bug, service/template, size/M

#10593 keyvault: normalizing the casing of the permissions
  azurerm/internal/services/keyvault/access_policy_schema.go
  azurerm/internal/services/keyvault/key_vault_data_source_test.go
  azurerm/internal/services/keyvault/key_vault_resource_test.go
  website/docs/r/key_vault.html.markdown
  website/docs/r/key_vault_access_policy.html.markdown
Labels: bug, documentation, service/keyvault, size/L, upstream-microsoft

#10598 subscription: exposing the `id` field
  azurerm/internal/services/subscription/data_source_subscriptions.go
  azurerm/internal/services/subscription/data_source_subscriptions_test.go
  website/docs/d/subscriptions.html.markdown
Labels: documentation, enhancement, service/subscription, size/XS, waiting-response

#10530 `azurerm_kubernetes_cluster`: Expose `automatic_channel_upgrade`
  azurerm/internal/services/containers/kubernetes_cluster_other_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/lb_backend_address_pool_address.html.markdown
Labels: documentation, enhancement, preview, service/kubernetes-cluster, size/M

#10268 Adding new `application_gateway` data_source
  azurerm/internal/identity/README.md
  azurerm/internal/identity/schema.go
  azurerm/internal/identity/user_assigned.go
  azurerm/internal/services/network/application_gateway_data_source.go
  azurerm/internal/services/network/application_gateway_data_source_test.go
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/application_gateway_resource_test.go
  azurerm/internal/services/network/parse/application_gateway.go
  azurerm/internal/services/network/parse/application_gateway_test.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/resourceids.go
  azurerm/internal/services/network/validate/application_gateway_id.go
  azurerm/internal/services/network/validate/application_gateway_id_test.go
  website/docs/d/application_gateway.html.markdown
Labels: documentation, new-data-source, service/application-gateway, size/XL

#10608 Docs: AAAA record - add example and fix typo
  website/docs/r/dns_aaaa_record.html.markdown
Labels: documentation, service/dns, size/XS

#10606 azurerm_postgresql_server - correctly change `ssl_minimal_tls_version_enforced` on update
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource_test.go
Labels: bug, service/postgresql, size/M

#10615 dependencies: updating to Go 1.16
  .github/workflows/depscheck.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/website-lint.yaml
  .go-version
  README.md
  go.sum
Labels: dependencies, size/M

#10570 network: switching some more resources over to using ID Formatters/Parsers
  azurerm/internal/services/network/bastion_host_resource.go
  azurerm/internal/services/network/bastion_host_resource_test.go
  azurerm/internal/services/network/network_interface_data_source.go
  azurerm/internal/services/network/network_interface_resource.go
  azurerm/internal/services/network/network_interface_resource_test.go
  azurerm/internal/services/network/parse/bastion_host.go
  azurerm/internal/services/network/parse/bastion_host_test.go
  azurerm/internal/services/network/parse/point_to_site_vpn_gateway.go
  azurerm/internal/services/network/parse/point_to_site_vpn_gateway_test.go
  azurerm/internal/services/network/parse/route.go
  azurerm/internal/services/network/parse/route_test.go
  azurerm/internal/services/network/point_to_site_vpn_gateway.go
  azurerm/internal/services/network/point_to_site_vpn_gateway_resource.go
  azurerm/internal/services/network/point_to_site_vpn_gateway_resource_test.go
  azurerm/internal/services/network/point_to_site_vpn_gateway_test.go
  azurerm/internal/services/network/public_ip_resource.go
  azurerm/internal/services/network/public_ip_resource_test.go
  azurerm/internal/services/network/resourceids.go
  azurerm/internal/services/network/route_resource.go
  azurerm/internal/services/network/route_resource_test.go
  azurerm/internal/services/network/subnet_data_source.go
  azurerm/internal/services/network/subnet_resource.go
  azurerm/internal/services/network/subnet_resource_test.go
  azurerm/internal/services/network/validate/bastion_host_id.go
  azurerm/internal/services/network/validate/bastion_host_id_test.go
  azurerm/internal/services/network/validate/point_to_site_vpn_gateway_id.go
  azurerm/internal/services/network/validate/point_to_site_vpn_gateway_id_test.go
  azurerm/internal/services/network/validate/route_id.go
  azurerm/internal/services/network/validate/route_id_test.go
  azurerm/internal/services/network/virtual_network_data_source.go
  azurerm/internal/services/network/virtual_network_resource.go
  azurerm/internal/services/network/virtual_network_resource_test.go
Labels: refactor, size/XXL

#10559 Only create private dns zone group if configuration has changes
  azurerm/internal/services/network/private_endpoint_resource.go
Labels: bug, service/private-link, size/XS

#10625 r/azurerm_eventgrid_event_subscription - advanced_filter MaxItems increase from 5 to 25
  azurerm/internal/services/eventgrid/event_subscription.go
  azurerm/internal/services/eventgrid/eventgrid_event_subscription_resource_test.go
  azurerm/internal/services/eventgrid/eventgrid_system_topic_event_subscription_resource_test.go
  website/docs/r/eventgrid_event_subscription.html.markdown
  website/docs/r/eventgrid_system_topic_event_subscription.html.markdown
Labels: bug, documentation, service/event-grid, size/XL

#10590 Add Arm and Dns pricing options for Azure Security Center
  azurerm/internal/services/securitycenter/security_center_subscription_pricing_resource.go
  website/docs/r/security_center_subscription_pricing.markdown
Labels: documentation, enhancement, service/security-center, size/XS

#10157 synapse_workspace_resource support azure_devops_repo, and github_repo
  azurerm/internal/services/synapse/synapse_workspace_resource.go
  azurerm/internal/services/synapse/synapse_workspace_resource_test.go
  azurerm/internal/services/synapse/validate/repo_root_folder.go
  azurerm/internal/services/synapse/validate/repo_root_folder_test.go
  website/docs/r/synapse_workspace.html.markdown
Labels: documentation, enhancement, service/synapse, size/XL

#10612 r/log_analytics_workspace - Expose `capacity_reservation_level` and `CapacityReservation` SKU value
  azurerm/internal/services/loganalytics/log_analytics_workspace_resource.go
  azurerm/internal/services/loganalytics/log_analytics_workspace_resource_test.go
  website/docs/r/log_analytics_workspace.html.markdown
Labels: documentation, enhancement, service/log-analytics, size/M, waiting-response

#10613 r/lighthouse: Expose `principal_id_display_name` field
  azurerm/internal/services/lighthouse/lighthouse_definition_resource.go
  azurerm/internal/services/lighthouse/lighthouse_definition_resource_test.go
  website/docs/r/lighthouse_definition.html.markdown
Labels: documentation, enhancement, service/lighthouse, size/S, waiting-response

#10641 Fix typo in documentation for frontdoor
  website/docs/r/frontdoor.html.markdown
Labels: documentation, service/frontdoor, size/XS

#10475 azurerm_api_management: Enable Tenant Access
  azurerm/internal/services/apimanagement/api_management_resource.go
  azurerm/internal/services/apimanagement/api_management_resource_test.go
  azurerm/internal/services/apimanagement/client/client.go
  website/docs/r/api_management.html.markdown
Labels: documentation, service/api-management, size/L

#10474 Support AzureAD Auth for azurerm_data_factory_integration_runtime_managed
  azurerm/internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource_test.go
  website/docs/r/data_factory_integration_runtime_azure_ssis.html.markdown
Labels: documentation, enhancement, service/data-factory, size/M

#10640 `azurerm_kusto_cluster`: Changing `virtual_network_configuration` forces a new resource to be created.
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, size/XS

#10642 `azurerm_batch_certificate`: Allow empty `password` when format is pfx
  azurerm/internal/services/batch/batch_certificate_resource.go
  azurerm/internal/services/batch/batch_certificate_resource_test.go
  azurerm/internal/services/batch/testdata/batch_certificate_nopassword.pfx
  azurerm/internal/services/batch/testdata/batch_certificate_password.pfx
  website/docs/r/batch_certificate.html.markdown
Labels: bug, documentation, service/batch, size/XS

#10649 azurerm_data_factory_integration_runtime_managed - the administrator_login and administrator_password properties are now optional
  azurerm/internal/services/datafactory/data_factory_integration_runtime_managed_resource.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_managed_resource_test.go
  website/docs/r/data_factory_integration_runtime_managed.html.markdown
Labels: documentation, enhancement, service/data-factory, size/M

#10660 fix kubernetes provider sample code
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#10659 FIX: r/frontdoor_firewall_policy - Restriction on number of match_condition elements
  azurerm/internal/services/frontdoor/frontdoor_firewall_policy_resource.go
  website/docs/r/frontdoor_firewall_policy.html.markdown
Labels: bug, documentation, service/frontdoor, size/XS

#10646 "azurerm_monitor_smart_detector_alert_rule" - supports "tags"
  azurerm/internal/services/monitor/monitor_smart_detector_alert_rule_resource.go
  azurerm/internal/services/monitor/monitor_smart_detector_alert_rule_resource_test.go
  website/docs/r/monitor_smart_detector_alert_rule.html.markdown
Labels: documentation, size/XS

#10678 new data source "azurerm_spring_cloud_app"
  azurerm/internal/services/springcloud/registration.go
  azurerm/internal/services/springcloud/spring_cloud_app_data_source.go
  azurerm/internal/services/springcloud/spring_cloud_app_data_source_test.go
  website/azurerm.erb
  website/docs/d/spring_cloud_app.html.markdown
Labels: documentation, new-data-source, services/spring, size/L

#10679 sentinel data connector base changes
  azurerm/internal/services/sentinel/client/client.go
  azurerm/internal/services/sentinel/parse/data_connector.go
  azurerm/internal/services/sentinel/parse/data_connector_test.go
  azurerm/internal/services/sentinel/resourceids.go
  azurerm/internal/services/sentinel/sentinel.go
  azurerm/internal/services/sentinel/sentinel_alert_rule.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_data_source.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_fusion_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_template_data_source.go
  azurerm/internal/services/sentinel/sentinel_data_connector.go
  azurerm/internal/services/sentinel/validate/data_connector_id.go
  azurerm/internal/services/sentinel/validate/data_connector_id_test.go
Labels: service/sentinel, size/XL

#10680 [Small] - Synapse Workspace Documentation Update
  website/docs/r/synapse_workspace.html.markdown
Labels: documentation, service/synapse, size/XS

#10124 New Resource: azurerm_security_center_assessment_metadata
  azurerm/internal/services/securitycenter/client/client.go
  azurerm/internal/services/securitycenter/parse/assessment_metadata.go
  azurerm/internal/services/securitycenter/parse/assessment_metadata_test.go
  azurerm/internal/services/securitycenter/registration.go
  azurerm/internal/services/securitycenter/resourceids.go
  azurerm/internal/services/securitycenter/security_center_assessment_metadata_resource.go
  azurerm/internal/services/securitycenter/security_center_assessment_metadata_resource_test.go
  azurerm/internal/services/securitycenter/validate/assessment_metadata_id.go
  azurerm/internal/services/securitycenter/validate/assessment_metadata_id_test.go
  website/azurerm.erb
  website/docs/r/security_center_assessment_metadata.html.markdown
Labels: documentation, new-resource, service/security-center, size/XL

#8626 new resource: azurerm_kusto_iothub_data_connection
  azurerm/internal/services/kusto/kusto_attached_database_configuration_resource.go
  azurerm/internal/services/kusto/kusto_cluster_customer_managed_key_resource.go
  azurerm/internal/services/kusto/kusto_cluster_data_source.go
  azurerm/internal/services/kusto/kusto_cluster_principal_assignment_resource.go
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  azurerm/internal/services/kusto/kusto_data_connection_import.go
  azurerm/internal/services/kusto/kusto_database_principal_assignment_resource.go
  azurerm/internal/services/kusto/kusto_database_principal_resource.go
  azurerm/internal/services/kusto/kusto_database_resource.go
  azurerm/internal/services/kusto/kusto_eventhub_data_connection_resource.go
  azurerm/internal/services/kusto/kusto_iothub_data_connection_resource.go
  azurerm/internal/services/kusto/kusto_iothub_data_connection_resource_test.go
  azurerm/internal/services/kusto/registration.go
  azurerm/internal/services/kusto/validate/name.go
  website/azurerm.erb
  website/docs/r/kusto_iothub_data_connection.html.markdown
Labels: documentation, new-resource, service/kusto, size/XL

#10610 azurerm_netapp_volume - support the `data_protection_replication` block
  azurerm/internal/services/netapp/client/client.go
  azurerm/internal/services/netapp/netapp_account_resource.go
  azurerm/internal/services/netapp/netapp_pool_resource.go
  azurerm/internal/services/netapp/netapp_snapshot_resource.go
  azurerm/internal/services/netapp/netapp_volume_data_source.go
  azurerm/internal/services/netapp/netapp_volume_resource.go
  azurerm/internal/services/netapp/netapp_volume_resource_test.go
  examples/netapp/volume_crr/README.md
  examples/netapp/volume_crr/main.tf
  examples/netapp/volume_crr/variables.tf
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-10-01/netapp/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2019-10-01/netapp/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/accountbackups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/backuppolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/backups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/pools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/snapshotpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/snapshots.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/vaults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/netapp/mgmt/2020-09-01/netapp/volumes.go
  vendor/modules.txt
  website/docs/r/netapp_snapshot.html.markdown
  website/docs/r/netapp_volume.html.markdown
Labels: dependencies, documentation, size/XXL

#10693 testing: upgrading to use Terraform Core v0.14.7
  .teamcity/components/settings.kt
Labels: size/XS, tests

#10523 feature: Binary Testing
  azurerm/internal/acceptance/check/that.go
  azurerm/internal/acceptance/providers.go
  azurerm/internal/acceptance/steps.go
  azurerm/internal/acceptance/testcase.go
  azurerm/internal/acceptance/testclient/client.go
  azurerm/internal/acceptance/testing.go
  azurerm/internal/provider/provider.go
Labels: size/L, tests, upstream-terraform

#10577 Add resource.Retry to PurgeNestedItem
  azurerm/internal/services/keyvault/internal.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource_test.go
  azurerm/internal/services/keyvault/key_vault_key_resource_test.go
  azurerm/internal/services/keyvault/key_vault_secret_resource_test.go
Labels: service/keyvault, size/M

#10695 r/key_vault_access_policy: updating the tests
  azurerm/internal/services/keyvault/key_vault_access_policy_resource_test.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource_test.go
  azurerm/internal/services/keyvault/key_vault_key_resource_test.go
  azurerm/internal/services/keyvault/key_vault_secret_resource_test.go
Labels: service/keyvault, size/XL, tests

#10696 r/lb_outbound_rule: fixing a crash when `frontendIPConfigurations` is omitted in the API response
  azurerm/internal/services/loadbalancer/outbound_rule_resource.go
Labels: bug, service/load-balancers, size/XS

#10699 provider: removing the unused default value for `skip_credentials_registration`
  azurerm/internal/provider/provider.go
Labels: bug, provider, size/XS

#10702 FIX: r/azurerm_application_insights_web_test - Documentation update
  website/docs/r/application_insights_web_test.html.markdown
Labels: documentation, service/application-insights, size/XS

#10681 Improve documentation for Cosmos DB account
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, size/XS

#10711 Update redis patch schedule documentation
  website/docs/d/redis_cache.html.markdown
  website/docs/r/redis_cache.html.markdown
Labels: documentation, service/redis, size/XS

#10684 Fixing ASK hex encoding/decoding attribute to create a Content Key Policy for Media Services
  azurerm/internal/services/media/media_content_key_policy_resource.go
  azurerm/internal/services/media/media_content_key_policy_resource_test.go
  website/docs/r/media_content_key_policy.html.markdown
Labels: bug, documentation, services/media, size/XS

#10713 `azurerm_service_fabric_cluster`: Add support for `upgrade policy`
  azurerm/internal/services/servicefabric/service_fabric_cluster_resource.go
  azurerm/internal/services/servicefabric/service_fabric_cluster_resource_test.go
  website/docs/d/application_gateway.html.markdown
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, enhancement, service/service-fabric, size/XL

#10404 new resource "azurerm_spring_cloud_custom_domain"
  azurerm/internal/services/springcloud/client/client.go
  azurerm/internal/services/springcloud/parse/spring_cloud_custom_domain.go
  azurerm/internal/services/springcloud/parse/spring_cloud_custom_domain_test.go
  azurerm/internal/services/springcloud/registration.go
  azurerm/internal/services/springcloud/resourceids.go
  azurerm/internal/services/springcloud/spring_cloud_app_resource.go
  azurerm/internal/services/springcloud/spring_cloud_certificate_resource.go
  azurerm/internal/services/springcloud/spring_cloud_certificate_resource_test.go
  azurerm/internal/services/springcloud/spring_cloud_custom_domain_resource.go
  azurerm/internal/services/springcloud/spring_cloud_custom_domain_resource_test.go
  azurerm/internal/services/springcloud/validate/spring_cloud_custom_domain_id.go
  azurerm/internal/services/springcloud/validate/spring_cloud_custom_domain_id_test.go
  azurerm/internal/services/springcloud/validate/spring_cloud_custom_domain_name.go
  azurerm/internal/services/springcloud/validate/spring_cloud_custom_domain_name_test.go
  website/azurerm.erb
  website/docs/r/spring_cloud_app.html.markdown
  website/docs/r/spring_cloud_certificate.html.markdown
  website/docs/r/spring_cloud_custom_domain.html.markdown
Labels: documentation, new-resource, services/spring, size/XL

#10551 azurerm_data_factory_linked_service_azure_blob_storage: various enhancements
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource_test.go
  website/docs/r/data_factory_linked_service_azure_blob_storage.html.markdown
Labels: dependencies, documentation, enhancement, service/data-factory, size/L

#10652 azurerm_api_management_logger: add resource_id attribute
  azurerm/internal/services/apimanagement/api_management_logger_resource.go
  azurerm/internal/services/apimanagement/api_management_logger_resource_test.go
  website/docs/r/api_management_logger.html.markdown
Labels: documentation, enhancement, service/api-management, size/XS

#10740 dependencies: updating `github.com/hashicorp/go-azure-helpers` to `v0.14.0`
  go.mod
  go.sum
  vendor/github.com/Azure/go-autorest/autorest/adal/go.mod
  vendor/github.com/Azure/go-autorest/autorest/adal/go.sum
  vendor/github.com/Azure/go-autorest/autorest/adal/sender.go
  vendor/github.com/Azure/go-autorest/autorest/adal/token.go
  vendor/github.com/Azure/go-autorest/autorest/adal/token_1.13.go
  vendor/github.com/Azure/go-autorest/autorest/adal/token_legacy.go
  vendor/github.com/Azure/go-autorest/autorest/client.go
  vendor/github.com/Azure/go-autorest/autorest/go.mod
  vendor/github.com/Azure/go-autorest/autorest/go.sum
  vendor/github.com/Azure/go-autorest/logger/logger.go
  vendor/github.com/dimchansky/utfbom/.travis.yml
  vendor/github.com/dimchansky/utfbom/LICENSE
  vendor/github.com/dimchansky/utfbom/go.mod
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_azure_cli_token.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_azure_cli_token_multi_tenant.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_msi.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/builder.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.go
  vendor/golang.org/x/crypto/chacha20/chacha_noasm.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.go
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/curve25519_noasm.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/ed25519_go113.go
  vendor/golang.org/x/crypto/internal/subtle/aliasing.go
  vendor/golang.org/x/crypto/internal/subtle/aliasing_purego.go
  vendor/golang.org/x/crypto/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.go
  vendor/modules.txt
Labels: cloud-shell, dependencies, size/XL

#10731 azurerm_storage_container: fix error message and docs
  azurerm/internal/services/storage/metadata.go
  website/docs/r/storage_container.html.markdown
Labels: bug, documentation, service/storage, size/XS

#10734 azurerm_eventhub_namespace: Remove capacity limits
  azurerm/internal/services/eventhub/eventhub_namespace_resource.go
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, service/event-hubs, size/XS

#10725 azurerm_sentinel_alert_rule_ms_security_incident - support `Microsoft Defender Advanced Threat Protection` and `Office 365 Advanced Threat Protection` for the `product_filter` property
  azurerm/internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource.go
  website/docs/r/sentinel_alert_rule_ms_security_incident.html.markdown
Labels: documentation, enhancement, service/sentinel, size/XS

#10706 New Resource: `azurerm_redis_enterprise_cluster` & `azurerm_redis_enterprise_database`
  .teamcity/components/generated/services.kt
  azurerm/helpers/azure/error_output.go
  azurerm/helpers/azure/error_output_test.go
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/redisenterprise/client/client.go
  azurerm/internal/services/redisenterprise/parse/redis_enterprise_cluster.go
  azurerm/internal/services/redisenterprise/parse/redis_enterprise_cluster_sku_name.go
  azurerm/internal/services/redisenterprise/parse/redis_enterprise_cluster_sku_name_test.go
  azurerm/internal/services/redisenterprise/parse/redis_enterprise_cluster_test.go
  azurerm/internal/services/redisenterprise/parse/redis_enterprise_database.go
  azurerm/internal/services/redisenterprise/parse/redis_enterprise_database_test.go
  azurerm/internal/services/redisenterprise/redis_enterprise_cluster_resource.go
  azurerm/internal/services/redisenterprise/redis_enterprise_cluster_resource_test.go
  azurerm/internal/services/redisenterprise/redis_enterprise_database_resource.go
  azurerm/internal/services/redisenterprise/redis_enterprise_database_resource_test.go
  azurerm/internal/services/redisenterprise/registration.go
  azurerm/internal/services/redisenterprise/resourceids.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_flash_sku_type_location.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_flash_sku_type_location_test.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_id.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_id_test.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_location.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_location_test.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_sku_name.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_sku_name_test.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_database_id.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_database_id_test.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_database_name.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_database_name_test.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_name.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_name_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/operationsstatus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/redisenterprise.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/azurerm.erb
  website/docs/r/redis_enterprise_cluster.html.markdown
  website/docs/r/redis_enterprise_database.html.markdown
Labels: dependencies, documentation, new-resource, service/redis, size/XXL

#10628 azurerm_sql_database: deprecate `use_server_default`
  azurerm/internal/services/sql/sql_database_resource.go
  azurerm/internal/services/sql/sql_database_resource_test.go
  website/docs/r/sql_database.html.markdown
Labels: documentation, service/mssql, size/XS

#10381 `azurerm_virtual_network_gateway`: bgp setting support `APIPA`
  azurerm/internal/services/network/parse/virtual_network_gateway.go
  azurerm/internal/services/network/parse/virtual_network_gateway_ip_configuration.go
  azurerm/internal/services/network/parse/virtual_network_gateway_ip_configuration_test.go
  azurerm/internal/services/network/parse/virtual_network_gateway_test.go
  azurerm/internal/services/network/resourceids.go
  azurerm/internal/services/network/validate/virtual_network_gateway.go
  azurerm/internal/services/network/validate/virtual_network_gateway_id.go
  azurerm/internal/services/network/validate/virtual_network_gateway_id_test.go
  azurerm/internal/services/network/validate/virtual_network_gateway_ip_configuration_id.go
  azurerm/internal/services/network/validate/virtual_network_gateway_ip_configuration_id_test.go
  azurerm/internal/services/network/virtual_network_gateway_connection_resource.go
  azurerm/internal/services/network/virtual_network_gateway_resource.go
  azurerm/internal/services/network/virtual_network_gateway_resource_test.go
  website/docs/r/virtual_network_gateway.html.markdown
Labels: documentation, enhancement, service/virtual-network-gateway, size/XXL

#10324 Support for sql auditing to Azure Monitor
  azurerm/internal/services/mssql/helper/sql_extended_auditing.go
  azurerm/internal/services/mssql/mssql_database_extended_auditing_policy_resource.go
  azurerm/internal/services/mssql/mssql_database_extended_auditing_policy_resource_test.go
  azurerm/internal/services/mssql/mssql_database_resource_test.go
  azurerm/internal/services/mssql/mssql_server_extended_auditing_policy_resource.go
  azurerm/internal/services/sql/helper/sql_extended_auditing.go
  examples/sql-azure/sql_auditing_eventhub/main.tf
  examples/sql-azure/sql_auditing_eventhub/variables.tf
  examples/sql-azure/sql_auditing_log_analytics/main.tf
  examples/sql-azure/sql_auditing_log_analytics/variables.tf
  website/docs/r/mssql_database.html.markdown
  website/docs/r/mssql_database_extended_auditing_policy.html.markdown
  website/docs/r/mssql_server.html.markdown
  website/docs/r/mssql_server_extended_auditing_policy.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_server.html.markdown
Labels: documentation, size/XL

#10746 Fix sql auditing to Azure Monitor
  azurerm/internal/services/sql/helper/sql_extended_auditing.go
  examples/sql-azure/sql_auditing_eventhub/main.tf
  examples/sql-azure/sql_auditing_log_analytics/main.tf
  website/docs/r/mssql_database.html.markdown
  website/docs/r/mssql_database_extended_auditing_policy.html.markdown
  website/docs/r/mssql_server.html.markdown
  website/docs/r/mssql_server_extended_auditing_policy.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_server.html.markdown
Labels: documentation, service/mssql, size/XS

#9284 New resource/data source `azurerm_vmware_private_cloud`
  .teamcity/components/generated/services.kt
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/resourceproviders/required.go
  azurerm/internal/services/vmware/client/client.go
  azurerm/internal/services/vmware/parse/private_cloud.go
  azurerm/internal/services/vmware/parse/private_cloud_test.go
  azurerm/internal/services/vmware/registration.go
  azurerm/internal/services/vmware/resourceids.go
  azurerm/internal/services/vmware/validate/private_cloud_id.go
  azurerm/internal/services/vmware/validate/private_cloud_id_test.go
  azurerm/internal/services/vmware/vmware_private_cloud_data_source.go
  azurerm/internal/services/vmware/vmware_private_cloud_data_source_test.go
  azurerm/internal/services/vmware/vmware_private_cloud_resource.go
  azurerm/internal/services/vmware/vmware_private_cloud_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/avs/mgmt/2020-03-20/avs/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/avs/mgmt/2020-03-20/avs/authorizations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/avs/mgmt/2020-03-20/avs/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/avs/mgmt/2020-03-20/avs/clusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/avs/mgmt/2020-03-20/avs/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/avs/mgmt/2020-03-20/avs/hcxenterprisesites.go
  vendor/github.com/Azure/azure-sdk-for-go/services/avs/mgmt/2020-03-20/avs/locations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/avs/mgmt/2020-03-20/avs/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/avs/mgmt/2020-03-20/avs/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/avs/mgmt/2020-03-20/avs/privateclouds.go
  vendor/github.com/Azure/azure-sdk-for-go/services/avs/mgmt/2020-03-20/avs/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/azurerm.erb
  website/docs/d/vmware_private_cloud.html.markdown
  website/docs/r/vmware_private_cloud.html.markdown
Labels: dependencies, documentation, new-data-source, new-resource, service/avs, size/XXL

#10747 azurerm_api_management: Do not force a new resource on SKU name change
  azurerm/internal/services/apimanagement/api_management_resource.go
  azurerm/internal/services/apimanagement/api_management_resource_test.go
Labels: bug, service/api-management, size/S

#10738 `azurerm_keyvault_secret`: support `versionless_id` attribute
  azurerm/internal/services/keyvault/key_vault_secret_resource.go
  azurerm/internal/services/keyvault/key_vault_secret_resource_test.go
  website/docs/r/key_vault_secret.html.markdown
Labels: documentation, enhancement, service/keyvault, size/XS
