Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2021-01, with the labels that each got.

#8564 azurerm_sentinel_alert_rule_scheduled: support incident configuration
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
  website/docs/r/sentinel_alert_rule_scheduled.html.markdown
Labels: documentation, enhancement, service/sentinel, size/L

#9928 New Resource: `azurerm_data_factory_linked_service_synapse`
  azurerm/internal/services/datafactory/data_factory.go
  azurerm/internal/services/datafactory/data_factory_linked_service_synapse_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_synapse_resource_test.go
  azurerm/internal/services/datafactory/registration.go
  website/docs/r/data_factory_linked_service_synapse.html.markdown
Labels: documentation, service/data-factory, size/XL

#9937 re-enable nightly testing
  .teamcity/components/settings.kt
Labels: size/XS, tests, tooling

#9490 Raise limit of destination_ports of network_rule_collection for azurerm_firewall_policy_rule_collection_group
  azurerm/helpers/validate/port_or_port_range.go
  azurerm/helpers/validate/port_or_port_range_test.go
  azurerm/internal/services/firewall/firewall_policy_rule_collection_group_resource.go
  azurerm/internal/services/firewall/firewall_policy_rule_collection_group_resource_test.go
  azurerm/internal/services/firewall/validate/firewall_policy_rule_port.go
Labels: bug, service/firewall, size/L

#10037 false positive linting issue in `azurerm_resource_group` data source
  azurerm/internal/services/resource/resource_group_data_source.go
  azurerm/internal/services/resource/resource_group_data_source_test.go
Labels: service/resources, size/XS

#10036 azurerm_batch_pool: add support for public_address_provisioning_type
  azurerm/internal/services/batch/batch_account.go
  azurerm/internal/services/batch/batch_account_data_source.go
  azurerm/internal/services/batch/batch_account_resource.go
  azurerm/internal/services/batch/batch_application_resource.go
  azurerm/internal/services/batch/batch_certificate_resource.go
  azurerm/internal/services/batch/batch_pool.go
  azurerm/internal/services/batch/batch_pool_resource.go
  azurerm/internal/services/batch/client/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/account.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/application.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/applicationpackage.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/certificate.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/location.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/pool.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/privateendpointconnection.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/privatelinkresource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/batch/mgmt/2020-03-01/batch/version.go
  vendor/modules.txt
  website/docs/r/batch_pool.html.markdown
Labels: dependencies, documentation, size/XXL

#10035 dependencies: upgrading to v0.15.1 of github.com/tombuildsstuff/giovanni
  go.mod
  go.sum
  vendor/github.com/tombuildsstuff/giovanni/storage/2019-12-12/file/files/range_put.go
  vendor/github.com/tombuildsstuff/giovanni/version/version.go
  vendor/modules.txt
Labels: bug, dependencies, service/storage, size/XS

#10048 azurerm_availability_set: Update docs to reflect ForceNew
  website/docs/r/availability_set.html.markdown
Labels: documentation, service/availability, size/XS

#10049 r/devspace_controller: disabling the tests & highlighting this'll be removed in 3.0
  .teamcity/components/generated/services.kt
  azurerm/internal/services/devspace/devspace_controller_resource.go
  azurerm/internal/services/devspace/devspace_controller_resource_test.go
  azurerm/internal/services/devspace/registration.go
  azurerm/internal/tools/generator-services/main.go
  website/docs/r/devspace_controller.html.markdown
Labels: documentation, service/devspace, size/S

#10051 `azurerm_role_assignment` fix crash in retry logic
  azurerm/internal/services/authorization/role_assignment_resource.go
Labels: crash, service/roles, size/XS

#10045 Test Shim: Cosmos
  azurerm/internal/services/cosmos/cosmosdb_account_data_source.go
  azurerm/internal/services/cosmos/cosmosdb_account_data_source_test.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_failover_test.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_cassandra_keyspace_resource.go
  azurerm/internal/services/cosmos/cosmosdb_cassandra_keyspace_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_database_resource.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_database_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_collection_resource.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_collection_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_database_resource.go
  azurerm/internal/services/cosmos/cosmosdb_mongo_database_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_sql_database_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_database_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_sql_stored_procedure_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_stored_procedure_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_table_resource.go
  azurerm/internal/services/cosmos/cosmosdb_table_resource_test.go
  azurerm/internal/services/cosmos/registration.go
Labels: service/cosmosdb, size/XXL, tests

#8064 azurerm_hdinsight_kafka_cluster: support rest proxy
  azurerm/internal/clients/azuread/aad_client.go
  azurerm/internal/clients/client.go
  azurerm/internal/services/hdinsight/common_hdinsight.go
  azurerm/internal/services/hdinsight/hdinsight.go
  azurerm/internal/services/hdinsight/hdinsight_cluster_data_source.go
  azurerm/internal/services/hdinsight/hdinsight_cluster_data_source_test.go
  azurerm/internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_hbase_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_kafka_cluster_resource_test.go
  azurerm/internal/services/hdinsight/hdinsight_ml_services_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_rserver_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_spark_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_storm_cluster_resource.go
  website/docs/d/hdinsight_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
Labels: documentation, enhancement, service/hdinsight, size/XL

#9456 Retrieve Subscription Tags via data source
  azurerm/internal/services/subscription/client/client.go
  azurerm/internal/services/subscription/data_source_subscription.go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/policyinsights/mgmt/2019-10-01-preview/policyinsights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/policyinsights/mgmt/2019-10-01-preview/policyinsights/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-11-01/subscriptions/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-11-01/subscriptions/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-11-01/subscriptions/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-11-01/subscriptions/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-11-01/subscriptions/subscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-11-01/subscriptions/tenants.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-11-01/subscriptions/version.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
  website/docs/d/subscription.html.markdown
Labels: dependencies, documentation, enhancement, service/subscription, size/L

#9976 azurerm_kubernetes_cluster - parse oms log_analytics_workspace_id to ensure correct casing
  azurerm/internal/services/containers/kubernetes_addons.go
Labels: bug, service/oms, size/XS

#10046 azurerm_web_application_firewall_policy: add REQUEST-944-APPLICATION-…
  azurerm/helpers/validate/web_application_firewall_policy.go
Labels: enhancement, size/XS

#10047 r/postgresql_firewall_rule: Add name validaton
  azurerm/internal/services/postgres/postgresql_firewall_rule_resource.go
Labels: enhancement, service/firewall, size/XS

#9889 New resource - `azurerm_disk_access`
  azurerm/internal/services/compute/client/client.go
  azurerm/internal/services/compute/disk_access_data_source.go
  azurerm/internal/services/compute/disk_access_resource.go
  azurerm/internal/services/compute/parse/disk_access.go
  azurerm/internal/services/compute/parse/disk_access_test.go
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/resourceids.go
  azurerm/internal/services/compute/tests/disk_access_data_source_test.go
  azurerm/internal/services/compute/tests/disk_access_resource_test.go
  azurerm/internal/services/compute/validate/disk_access_id.go
  azurerm/internal/services/compute/validate/disk_access_id_test.go
  website/docs/d/disk_access.html.markdown
  website/docs/r/disk_access.html.markdown
Labels: documentation, new-resource, service/disks, size/XL

#10053 r/analysisservices_server: fixing the broken Suspend test
  azurerm/internal/services/analysisservices/analysis_services_server_resource_test.go
Labels: bug, service/analysis, size/XS, tests

#10052 batch: fixing broken tests
  azurerm/internal/services/batch/batch_certificate_resource_test.go
  azurerm/internal/services/batch/batch_pool.go
  azurerm/internal/services/batch/batch_pool_data_source.go
  azurerm/internal/services/batch/batch_pool_resource.go
  azurerm/internal/services/batch/batch_pool_resource_test.go
Labels: bug, service/batch, size/M

#10060 key vault related test fix-ups - part 1
  azurerm/internal/services/compute/tests/disk_encryption_set_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_disk_data_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_disk_os_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/tests/managed_disk_resource_test.go
  azurerm/internal/services/compute/tests/snapshot_data_source_test.go
  azurerm/internal/services/compute/tests/snapshot_resource_test.go
  azurerm/internal/services/compute/tests/virtual_machine_managed_disks_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_disk_data_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_disk_os_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_other_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
  azurerm/internal/services/keyvault/key_vault_access_policy_resource_test.go
  azurerm/internal/services/keyvault/key_vault_key_resource_test.go
  azurerm/internal/services/keyvault/key_vault_resource_test.go
  azurerm/internal/services/keyvault/key_vault_secret_resource_test.go
  azurerm/internal/services/kusto/kusto_cluster_customer_managed_key_test.go
  azurerm/internal/services/loganalytics/log_analytics_cluster_customer_managed_key_resource_test.go
  azurerm/internal/services/machinelearning/machine_learning_workspace_resource_test.go
  azurerm/internal/services/mssql/mssql_virtual_machine_resource_test.go
  azurerm/internal/services/resource/template_deployment_resource_test.go
  azurerm/internal/services/springcloud/spring_cloud_certificate_resource_test.go
  azurerm/internal/services/storage/storage_encryption_scope_resource_test.go
  azurerm/internal/services/web/app_service_certificate_resource_test.go
Labels: size/L, tests

#10061 tooling: disabling gofumpt temporarily
  GNUmakefile
Labels: size/XS, tooling, upstream

#10063 gofumpt: re-enabling now the upstream cert's been fixed
  GNUmakefile
Labels: size/XS, tooling

#10062 Fixed resource provider names for Blueprint and FHIR
  azurerm/internal/resourceproviders/required.go
Labels: provider, size/XS

#9842 New resource/Data Source: azurerm_ssh_public_key
  azurerm/internal/services/compute/client/client.go
  azurerm/internal/services/compute/parse/ssh_public_key.go
  azurerm/internal/services/compute/parse/ssh_public_key_test.go
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/resourceids.go
  azurerm/internal/services/compute/ssh_public_key_data_source.go
  azurerm/internal/services/compute/ssh_public_key_resource.go
  azurerm/internal/services/compute/tests/ssh_public_key_data_source_test.go
  azurerm/internal/services/compute/tests/ssh_public_key_resource_test.go
  azurerm/internal/services/compute/validate/ssh_public_key_id.go
  azurerm/internal/services/compute/validate/ssh_public_key_id_test.go
  website/docs/d/ssh_public_key.html.markdown
  website/docs/r/ssh_public_key.html.markdown
Labels: documentation, new-resource, size/XL

#9047 `azurerm_subscription(s)` - support for `tags`
  azurerm/internal/services/subscription/client/client.go
  azurerm/internal/services/subscription/data_source_subscription.go
  azurerm/internal/services/subscription/data_source_subscriptions.go
  website/docs/d/subscriptions.html.markdown
Labels: documentation, enhancement, size/XS

#10076 Lint: Fixing linting issues around a variety of tests
  azurerm/internal/services/advisor/advisor_recommendations_data_source_test.go
  azurerm/internal/services/authorization/client_config_data_source_test.go
  azurerm/internal/services/blueprints/blueprint_definition_data_source_test.go
  azurerm/internal/services/kusto/kusto_cluster_resource_test.go
  azurerm/internal/services/logic/integration_service_environment_resource_test.go
  azurerm/internal/services/network/tests/virtual_network_gateway_resource_test.go
  azurerm/internal/services/network/tests/virtual_wan_data_source_test.go
  azurerm/internal/services/storage/storage_account_resource_test.go
  azurerm/internal/services/trafficmanager/traffic_manager_profile_resource_test.go
Labels: size/XS

#8828 azurerm_kubernetes_cluster - add support for network_mode
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_network_resource_test.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, preview, service/kubernetes-cluster, size/L

#9162 Add fields for App Service and App Service Slot
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_resource_test.go
  azurerm/internal/services/web/app_service_slot_resource_test.go
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, enhancement, service/app-service, size/L

#9609 Add support for service tags to ip_restriction for function_app and app_service
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_resource_test.go
  azurerm/internal/services/web/function_app_resource_test.go
  website/docs/d/app_service.html.markdown
  website/docs/d/function_app.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
  website/docs/r/function_app.html.markdown
  website/docs/r/function_app_slot.html.markdown
Labels: documentation, enhancement, service/app-service, size/L

#10088 r/key_vault: defaulting `soft_delete_enabled` on to match the updated API behaviour
  azurerm/internal/services/keyvault/key_vault_data_source.go
  azurerm/internal/services/keyvault/key_vault_data_source_test.go
  azurerm/internal/services/keyvault/key_vault_key_resource_test.go
  azurerm/internal/services/keyvault/key_vault_resource.go
  azurerm/internal/services/keyvault/key_vault_resource_test.go
  azurerm/internal/services/keyvault/migration/key_vault_v1_to_v2.go
  website/docs/d/key_vault.html.markdown
  website/docs/r/key_vault.html.markdown
Labels: breaking-change, documentation, enhancement, service/keyvault, size/XXL

#10085 Replaced deprecated resource with new resource
  examples/recovery-services/advanced-policy/main.tf
  examples/recovery-services/virtual-machine/main.tf
Labels: documentation, size/XS

#10089 refactor: removing some direct usages on `acceptance.AzureProvider`
  azurerm/internal/services/apimanagement/api_management_backend_resource_test.go
  azurerm/internal/services/subscription/data_source_subscription_test.go
Labels: refactor, size/M

#9957 "azurerm_spring_cloud_app" - supports property `https_only`, `is_public`, `persistent_disk`
  azurerm/internal/services/springcloud/spring_cloud_app_resource.go
  azurerm/internal/services/springcloud/spring_cloud_app_resource_test.go
  azurerm/internal/services/springcloud/validate/spring_cloud_app_mount_path.go
  azurerm/internal/services/springcloud/validate/spring_cloud_app_mount_path_test.go
  website/docs/r/spring_cloud_app.html.markdown
Labels: documentation, enhancement, services/spring, size/L

#9922 Event Grid support for inbound ip filter
  azurerm/internal/services/eventgrid/eventgrid.go
  azurerm/internal/services/eventgrid/eventgrid_domain_resource.go
  azurerm/internal/services/eventgrid/eventgrid_domain_resource_test.go
  azurerm/internal/services/eventgrid/eventgrid_topic_resource.go
  azurerm/internal/services/eventgrid/eventgrid_topic_resource_test.go
  website/docs/r/eventgrid_domain.html.markdown
  website/docs/r/eventgrid_topic.html.markdown
Labels: documentation, service/event-grid, size/XL

#10075 Test Shim: Compute A -> D
  azurerm/internal/services/compute/availability_set_data_source.go
  azurerm/internal/services/compute/availability_set_resource.go
  azurerm/internal/services/compute/dedicated_host_data_source.go
  azurerm/internal/services/compute/dedicated_host_group_data_source.go
  azurerm/internal/services/compute/dedicated_host_group_resource.go
  azurerm/internal/services/compute/dedicated_host_resource.go
  azurerm/internal/services/compute/disk_encryption_set_data_source.go
  azurerm/internal/services/compute/disk_encryption_set_resource.go
  azurerm/internal/services/compute/image_data_source.go
  azurerm/internal/services/compute/image_resource.go
  azurerm/internal/services/compute/images_data_source.go
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/tests/availability_set_data_source_test.go
  azurerm/internal/services/compute/tests/availability_set_resource_test.go
  azurerm/internal/services/compute/tests/dedicated_host_data_source_test.go
  azurerm/internal/services/compute/tests/dedicated_host_group_data_source_test.go
  azurerm/internal/services/compute/tests/dedicated_host_group_resource_test.go
  azurerm/internal/services/compute/tests/dedicated_host_resource_test.go
  azurerm/internal/services/compute/tests/disk_encryption_set_data_source_test.go
  azurerm/internal/services/compute/tests/disk_encryption_set_resource_test.go
  azurerm/internal/services/compute/tests/image_data_source_test.go
  azurerm/internal/services/compute/tests/image_resource_test.go
  azurerm/internal/services/compute/tests/images_data_source_test.go
  azurerm/internal/services/compute/tests/shared_image_version_resource_test.go
  azurerm/internal/services/compute/tests/virtual_machine_scale_set_resource_test.go
Labels: refactor, size/XXL, tests

#10094 `azurerm_log_analytics_cluster_customer_managed_key` disable test until referenced go-autorest PR is resolved
  azurerm/internal/services/loganalytics/log_analytics_cluster_customer_managed_key_resource_test.go
Labels: size/XS, tests

#10095 refactor: removing more usages on `acceptance.AzureProvider`
  azurerm/internal/services/monitor/monitor_log_profile_resource_test.go
  azurerm/internal/services/storage/storage_account_customer_managed_key_resource_test.go
  azurerm/internal/services/storage/storage_blob_resource_test.go
  azurerm/internal/services/storage/storage_sync_cloud_endpoint_resource_test.go
  azurerm/internal/services/web/function_app_data_source_test.go
  azurerm/internal/services/web/function_app_host_keys_data_source_test.go
  azurerm/internal/services/web/function_app_resource_test.go
Labels: refactor, service/functions, service/monitor, service/storage, size/XL

#10111 kusto: removing the dependency on `acceptance.AzureProvider` by using a Check func
  azurerm/internal/services/kusto/kusto_cluster_customer_managed_key_test.go
Labels: refactor, service/kusto, size/S, tests

#10108 refactor: removing direct usages on `acceptance.AzureProvider` from `postgres`
  azurerm/internal/acceptance/steps.go
  azurerm/internal/services/postgres/postgresql_aad_administrator_resource_test.go
  azurerm/internal/services/postgres/postgresql_configuration_resource_test.go
  azurerm/internal/services/postgres/postgresql_virtual_network_rule_resource_test.go
Labels: refactor, service/postgresql, size/L, tests

#10106 r/security_center_automation: switching to check the state which is sufficient
  azurerm/internal/services/securitycenter/security_center_automation_resource_test.go
Labels: refactor, service/security-center, size/L, tests

#10092 r/key_vault_certificate_issuer: removing the disappearsWhenParentKeyVaultDeleted test
  azurerm/internal/services/keyvault/key_vault_certificate_issuer_resource_test.go
Labels: refactor, service/keyvault, size/M

#9605 `azurerm_data_factory` - Add support for `public_network_enabled` for Data Factories
  azurerm/internal/services/datafactory/data_factory_resource.go
  azurerm/internal/services/datafactory/data_factory_resource_migration.go
  azurerm/internal/services/datafactory/data_factory_resource_test.go
  azurerm/internal/services/datafactory/migration/data_factory.go
  website/docs/r/data_factory.html.markdown
Labels: documentation, enhancement, service/data-factory, size/L, upstream-microsoft

#10115 tests: skip LAC tests
  azurerm/internal/services/loganalytics/log_analytics_cluster_customer_managed_key_resource_test.go
  azurerm/internal/services/loganalytics/log_analytics_cluster_resource_test.go
  azurerm/internal/services/loganalytics/log_analytics_linked_service_resource_test.go
Labels: size/S

#10113 Add os_disk_type to AKS cluster docs
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#10114 Test Shim: DataFactory
  azurerm/internal/services/datafactory/data_factory_data_source.go
  azurerm/internal/services/datafactory/data_factory_data_source_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_azure_blob_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_azure_blob_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_cosmosdb_sqlapi_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_cosmosdb_sqlapi_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_http_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_http_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_json_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_json_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_mysql_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_mysql_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_postgresql_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_postgresql_resource_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_sql_server_table_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_sql_server_table_resource_test.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_managed_resource.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_managed_resource_test.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_function_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_function_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_cosmosdb_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_cosmosdb_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_key_vault_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_key_vault_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_mysql_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_mysql_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_postgresql_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_postgresql_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sftp_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sftp_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sql_server_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sql_server_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_synapse_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_synapse_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_web_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_web_resource_test.go
  azurerm/internal/services/datafactory/data_factory_pipeline_resource.go
  azurerm/internal/services/datafactory/data_factory_pipeline_resource_test.go
  azurerm/internal/services/datafactory/data_factory_resource.go
  azurerm/internal/services/datafactory/data_factory_resource_test.go
  azurerm/internal/services/datafactory/data_factory_test.go
  azurerm/internal/services/datafactory/data_factory_trigger_schedule_resource.go
  azurerm/internal/services/datafactory/data_factory_trigger_schedule_resource_test.go
  azurerm/internal/services/datafactory/registration.go
Labels: service/data-factory, size/XXL

#10103 Firewall Service - add missing generated parsers
  azurerm/internal/services/firewall/firewall_application_rule_collection_resource.go
  azurerm/internal/services/firewall/firewall_nat_rule_collection_resource.go
  azurerm/internal/services/firewall/firewall_network_rule_collection_resource.go
  azurerm/internal/services/firewall/firewall_resource.go
  azurerm/internal/services/firewall/parse/firewall.go
  azurerm/internal/services/firewall/parse/firewall_application_rule_collection.go
  azurerm/internal/services/firewall/parse/firewall_application_rule_collection_test.go
  azurerm/internal/services/firewall/parse/firewall_nat_rule_collection.go
  azurerm/internal/services/firewall/parse/firewall_nat_rule_collection_test.go
  azurerm/internal/services/firewall/parse/firewall_network_rule_collection.go
  azurerm/internal/services/firewall/parse/firewall_network_rule_collection_test.go
  azurerm/internal/services/firewall/parse/firewall_test.go
  azurerm/internal/services/firewall/resourceids.go
  azurerm/internal/services/firewall/validate/firewall_application_rule_collection_id.go
  azurerm/internal/services/firewall/validate/firewall_application_rule_collection_id_test.go
  azurerm/internal/services/firewall/validate/firewall_id.go
  azurerm/internal/services/firewall/validate/firewall_id_test.go
  azurerm/internal/services/firewall/validate/firewall_nat_rule_collection_id.go
  azurerm/internal/services/firewall/validate/firewall_nat_rule_collection_id_test.go
  azurerm/internal/services/firewall/validate/firewall_network_rule_collection_id.go
  azurerm/internal/services/firewall/validate/firewall_network_rule_collection_id_test.go
Labels: refactor, service/firewall, size/XXL

#10031 r/application_gateway: ensuring the casing on `identity_ids` within the `identity` block
  azurerm/internal/services/network/application_gateway_resource.go
Labels: size/XS

#10131 r/hdinsight_kafka_cluster: switching the AAD Client to come from Authorization
  azurerm/internal/clients/azuread/aad_client.go
  azurerm/internal/clients/client.go
  azurerm/internal/services/authorization/client/client.go
  azurerm/internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
Labels: refactor, service/hdinsight, size/XS

#10119 Document how to use the locally compiled Azure provider
  README.md
Labels: provider, size/XS

#10147 Update network_service_tags.html.markdown
  website/docs/d/network_service_tags.html.markdown
Labels: documentation, size/XS

#10104 r/monitor_diagnostic_setting: handling a difference in casing the EHNamespace Authorization Rule
  azurerm/internal/services/eventhub/parse/namespace_authorization_rule.go
  azurerm/internal/services/eventhub/parse/namespace_authorization_rule_test.go
  azurerm/internal/services/eventhub/resourceids.go
  azurerm/internal/services/monitor/monitor_diagnostic_setting_resource.go
  azurerm/internal/tools/generator-resource-id/main.go
Labels: bug, service/monitor, size/L

#10128 streamanalytics: switching to use a Resource ID Parser/Validator
  azurerm/internal/services/streamanalytics/parse/function.go
  azurerm/internal/services/streamanalytics/parse/function_test.go
  azurerm/internal/services/streamanalytics/parse/output.go
  azurerm/internal/services/streamanalytics/parse/output_test.go
  azurerm/internal/services/streamanalytics/parse/streaming_job.go
  azurerm/internal/services/streamanalytics/parse/streaming_job_test.go
  azurerm/internal/services/streamanalytics/resourceids.go
  azurerm/internal/services/streamanalytics/stream_analytics_function_javascript_udf_resource.go
  azurerm/internal/services/streamanalytics/stream_analytics_job_resource.go
  azurerm/internal/services/streamanalytics/stream_analytics_output_blob_resource.go
  azurerm/internal/services/streamanalytics/stream_analytics_output_eventhub_resource.go
  azurerm/internal/services/streamanalytics/stream_analytics_output_mssql_resource.go
  azurerm/internal/services/streamanalytics/stream_analytics_output_servicebus_queue_resource.go
  azurerm/internal/services/streamanalytics/stream_analytics_output_servicebus_topic_resource.go
  azurerm/internal/services/streamanalytics/validate/function_id.go
  azurerm/internal/services/streamanalytics/validate/function_id_test.go
  azurerm/internal/services/streamanalytics/validate/output_id.go
  azurerm/internal/services/streamanalytics/validate/output_id_test.go
  azurerm/internal/services/streamanalytics/validate/streaming_job_id.go
  azurerm/internal/services/streamanalytics/validate/streaming_job_id_test.go
Labels: refactor, service/stream-analytics, size/XXL

#10134 `azurerm_role_assignment` - fix race condition in read after create
  azurerm/internal/services/authorization/parse/role_assignment.go
  azurerm/internal/services/authorization/parse/role_assignment_test.go
  azurerm/internal/services/authorization/role_assignment_resource.go
  azurerm/internal/services/authorization/role_assignment_resource_test.go
Labels: bug, service/authorization, size/XL

#10129 load-balancers: removing the direct dependency on `acceptance.AzureProvider`
  azurerm/internal/services/loadbalancer/loadbalancer_backend_address_pool_resource_test.go
  azurerm/internal/services/loadbalancer/loadbalancer_nat_pool_resource_test.go
  azurerm/internal/services/loadbalancer/loadbalancer_nat_rule_resource_test.go
  azurerm/internal/services/loadbalancer/loadbalancer_outbound_rule_resource_test.go
  azurerm/internal/services/loadbalancer/loadbalancer_probe_resource_test.go
  azurerm/internal/services/loadbalancer/loadbalancer_rule_data_source_test.go
  azurerm/internal/services/loadbalancer/loadbalancer_rule_resource_test.go
Labels: refactor, service/load-balancers, size/XL, tests

#10148 `azurerm_synapse_sql_pool` - update doc
  website/docs/r/synapse_sql_pool.html.markdown
Labels: documentation, service/synapse, size/XS

#10142 Test Shim: Compute Linux Virtual Machine
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_auth_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_identity_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_images_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_network_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_orchestrated_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_scaling_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_auth_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_disk_data_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_disk_os_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_identity_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_images_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_network_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_resource_test.go
  azurerm/internal/services/compute/tests/linux_virtual_machine_scale_set_scaling_resource_test.go
  azurerm/internal/services/compute/tests/managed_disk_resource_test.go
  azurerm/internal/services/compute/tests/virtual_machine_data_source_test.go
  azurerm/internal/services/compute/tests/virtual_machine_managed_disks_resource_test.go
  azurerm/internal/services/compute/tests/virtual_machine_resource_test.go
  azurerm/internal/services/compute/tests/virtual_machine_scale_set_data_source_test.go
  azurerm/internal/services/compute/tests/virtual_machine_scale_set_resource_test.go
  azurerm/internal/services/compute/tests/virtual_machine_unmanaged_disks_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_auth_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_disk_os_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_identity_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_images_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_network_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_orchestrated_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_scaling_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_auth_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_disk_data_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_disk_os_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_identity_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_images_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_network_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_resource_test.go
  azurerm/internal/services/compute/tests/windows_virtual_machine_scale_set_scaling_resource_test.go
  azurerm/internal/services/compute/virtual_machine_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: refactor, service/virtual-machine, size/XXL, tests

#9541 azurerm_databricks_workspace - changing the sku no longer forces a new resource unless it is required
  azurerm/internal/services/databricks/databricks_workspace_resource.go
  azurerm/internal/services/databricks/databricks_workspace_resource_test.go
  website/docs/r/databricks_workspace.html.markdown
Labels: bug, documentation, service/databricks, size/M

#10032 data_factory_linked_service_sql_server: support `key_vault_password`
  azurerm/internal/services/datafactory/data_factory_linked_service_sql_server_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sql_server_resource_test.go
  website/docs/r/data_factory_linked_service_sql_server.html.markdown
Labels: documentation, service/data-factory, size/L

#10033 azurerm_synapse_workspace: Adding sql_identity_control_enabled
  azurerm/internal/services/synapse/client/client.go
  azurerm/internal/services/synapse/synapse_workspace_resource.go
  azurerm/internal/services/synapse/synapse_workspace_resource_test.go
  website/docs/r/synapse_workspace.html.markdown
Labels: documentation, enhancement, service/synapse, size/M

#10127 firewall service tests - refactor to CheckWithClient / DisappearsStep
  azurerm/internal/services/firewall/firewall_network_rule_collection_resource_test.go
  azurerm/internal/services/firewall/firewall_resource_test.go
Labels: refactor, service/firewall, size/M, tests

#10162 Make `log_analytics_workspace` data source return parsed ID
  azurerm/internal/services/loganalytics/log_analytics_workspace_data_source.go
Labels: bug, service/log-analytics, size/XS

#10105 fix/use parser for user assigned identity
  azurerm/internal/services/apimanagement/api_management_data_source.go
  azurerm/internal/services/apimanagement/api_management_resource.go
  azurerm/internal/services/blueprints/blueprint.go
  azurerm/internal/services/blueprints/blueprint_assignment_resource.go
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/virtual_machine.go
  azurerm/internal/services/compute/virtual_machine_data_source.go
  azurerm/internal/services/compute/virtual_machine_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/virtual_machine_scale_set_data_source.go
  azurerm/internal/services/compute/virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
  azurerm/internal/services/containers/container_group_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/kusto/identity.go
  azurerm/internal/services/kusto/kusto_cluster_resource.go
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_resource.go
  azurerm/internal/services/web/app_service_slot_resource.go
  azurerm/internal/services/web/function_app_resource.go
  azurerm/internal/services/web/function_app_slot_resource.go
Labels: bug, service/api-management, service/app-service, service/blueprints, service/container-group, service/functions, service/kubernetes-cluster, service/kusto, service/virtual-machine, size/L

#10126 fix test case, examples and support more event source
  azurerm/internal/services/securitycenter/security_center_automation_resource.go
  azurerm/internal/services/securitycenter/security_center_automation_resource_test.go
  website/docs/r/security_center_automation.html.markdown
Labels: documentation, service/security-center, size/M

#10070 azurerm_data_factory_dataset_delimited_text: Add `compression_type`
  azurerm/internal/services/advisor/advisor_recommendations_data_source_test.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource_test.go
  azurerm/internal/services/datafactory/parse/data_set.go
  azurerm/internal/services/datafactory/parse/data_set_test.go
  azurerm/internal/services/datafactory/resourceids.go
  azurerm/internal/services/datafactory/validate/data_set_id.go
  azurerm/internal/services/datafactory/validate/data_set_id_test.go
  website/docs/r/data_factory_dataset_delimited_text.html.markdown
Labels: documentation, enhancement, service/data-factory, size/XL

#10161 Test Shim: Compute
  azurerm/internal/services/compute/disk_access_data_source.go
  azurerm/internal/services/compute/disk_access_resource.go
  azurerm/internal/services/compute/managed_disk_data_source.go
  azurerm/internal/services/compute/managed_disk_resource.go
  azurerm/internal/services/compute/marketplace_agreement_resource.go
  azurerm/internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/platform_image_data_source.go
  azurerm/internal/services/compute/proximity_placement_group_data_source.go
  azurerm/internal/services/compute/proximity_placement_group_resource.go
  azurerm/internal/services/compute/registration.go
  azurerm/internal/services/compute/shared_image_data_source.go
  azurerm/internal/services/compute/shared_image_gallery_data_source.go
  azurerm/internal/services/compute/shared_image_gallery_resource.go
  azurerm/internal/services/compute/shared_image_resource.go
  azurerm/internal/services/compute/shared_image_version_data_source.go
  azurerm/internal/services/compute/shared_image_version_resource.go
  azurerm/internal/services/compute/shared_image_versions_data_source.go
  azurerm/internal/services/compute/snapshot_data_source.go
  azurerm/internal/services/compute/snapshot_resource.go
  azurerm/internal/services/compute/ssh_public_key_data_source.go
  azurerm/internal/services/compute/tests/disk_access_data_source_test.go
  azurerm/internal/services/compute/tests/disk_access_resource_test.go
  azurerm/internal/services/compute/tests/managed_disk_data_source_test.go
  azurerm/internal/services/compute/tests/managed_disk_resource_test.go
  azurerm/internal/services/compute/tests/marketplace_agreement_resource_test.go
  azurerm/internal/services/compute/tests/orchestrated_virtual_machine_scale_set_resource_test.go
  azurerm/internal/services/compute/tests/platform_image_data_source_test.go
  azurerm/internal/services/compute/tests/proximity_placement_group_data_source_test.go
  azurerm/internal/services/compute/tests/proximity_placement_group_resource_test.go
  azurerm/internal/services/compute/tests/shared_image_data_source_test.go
  azurerm/internal/services/compute/tests/shared_image_gallery_data_source_test.go
  azurerm/internal/services/compute/tests/shared_image_gallery_resource_test.go
  azurerm/internal/services/compute/tests/shared_image_resource_test.go
  azurerm/internal/services/compute/tests/shared_image_version_data_source_test.go
  azurerm/internal/services/compute/tests/shared_image_version_resource_test.go
  azurerm/internal/services/compute/tests/shared_image_versions_data_source_test.go
  azurerm/internal/services/compute/tests/snapshot_data_source_test.go
  azurerm/internal/services/compute/tests/snapshot_resource_test.go
  azurerm/internal/services/compute/tests/ssh_public_key_data_source_test.go
  azurerm/internal/services/compute/tests/ssh_public_key_resource_test.go
  azurerm/internal/services/compute/tests/virtual_machine_data_disk_attachment_resource_test.go
  azurerm/internal/services/compute/tests/virtual_machine_extension_resource_test.go
  azurerm/internal/services/compute/tests/virtual_machine_scale_set_extension_resource_test.go
  azurerm/internal/services/compute/virtual_machine_data_disk_attachment_resource.go
  azurerm/internal/services/compute/virtual_machine_data_source.go
  azurerm/internal/services/compute/virtual_machine_extension_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set_data_source.go
  azurerm/internal/services/compute/virtual_machine_scale_set_extension_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set_resource.go
Labels: refactor, size/XXL, tests

#10184 Test Shim: Network A->E
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/application_security_group_data_source.go
  azurerm/internal/services/network/application_security_group_resource.go
  azurerm/internal/services/network/bastion_host_resource.go
  azurerm/internal/services/network/express_route_circuit_authorization_resource.go
  azurerm/internal/services/network/express_route_circuit_data_source.go
  azurerm/internal/services/network/express_route_circuit_peering_resource.go
  azurerm/internal/services/network/express_route_circuit_resource.go
  azurerm/internal/services/network/express_route_gateway_resource.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/application_gateway_resource_test.go
  azurerm/internal/services/network/tests/application_security_group_data_source_test.go
  azurerm/internal/services/network/tests/application_security_group_resource_test.go
  azurerm/internal/services/network/tests/bastion_host_resource_test.go
  azurerm/internal/services/network/tests/express_route_circuit_authorization_resource_test.go
  azurerm/internal/services/network/tests/express_route_circuit_data_source_test.go
  azurerm/internal/services/network/tests/express_route_circuit_peering_resource_test.go
  azurerm/internal/services/network/tests/express_route_circuit_resource_test.go
  azurerm/internal/services/network/tests/express_route_gateway_resource_test.go
Labels: size/XXL

#9929 refactor apimanagement: generators (part 1)
  azurerm/internal/services/apimanagement/api_management_product_api_resource.go
  azurerm/internal/services/apimanagement/api_management_product_group_resource.go
  azurerm/internal/services/apimanagement/api_management_product_policy_resource.go
  azurerm/internal/services/apimanagement/api_management_product_resource.go
  azurerm/internal/services/apimanagement/api_management_property_resource.go
  azurerm/internal/services/apimanagement/api_management_subscription_resource.go
  azurerm/internal/services/apimanagement/api_management_subscription_resource_test.go
  azurerm/internal/services/apimanagement/api_management_user_resource.go
  azurerm/internal/services/apimanagement/parse/product.go
  azurerm/internal/services/apimanagement/parse/product_api.go
  azurerm/internal/services/apimanagement/parse/product_api_test.go
  azurerm/internal/services/apimanagement/parse/product_group.go
  azurerm/internal/services/apimanagement/parse/product_group_test.go
  azurerm/internal/services/apimanagement/parse/product_policy.go
  azurerm/internal/services/apimanagement/parse/product_policy_test.go
  azurerm/internal/services/apimanagement/parse/product_test.go
  azurerm/internal/services/apimanagement/parse/property.go
  azurerm/internal/services/apimanagement/parse/property_test.go
  azurerm/internal/services/apimanagement/parse/subscription.go
  azurerm/internal/services/apimanagement/parse/subscription_test.go
  azurerm/internal/services/apimanagement/parse/user.go
  azurerm/internal/services/apimanagement/parse/user_test.go
  azurerm/internal/services/apimanagement/resourceids.go
  azurerm/internal/services/apimanagement/validate/product_api_id.go
  azurerm/internal/services/apimanagement/validate/product_api_id_test.go
  azurerm/internal/services/apimanagement/validate/product_group_id.go
  azurerm/internal/services/apimanagement/validate/product_group_id_test.go
  azurerm/internal/services/apimanagement/validate/product_id.go
  azurerm/internal/services/apimanagement/validate/product_id_test.go
  azurerm/internal/services/apimanagement/validate/product_policy_id.go
  azurerm/internal/services/apimanagement/validate/product_policy_id_test.go
  azurerm/internal/services/apimanagement/validate/property_id.go
  azurerm/internal/services/apimanagement/validate/property_id_test.go
  azurerm/internal/services/apimanagement/validate/subscription_id.go
  azurerm/internal/services/apimanagement/validate/subscription_id_test.go
  azurerm/internal/services/apimanagement/validate/user_id.go
  azurerm/internal/services/apimanagement/validate/user_id_test.go
Labels: refactor, service/api-management, size/XXL

#10169 azurerm_eventhub_namespace: Expose trusted_service_access_enabled in …
  azurerm/internal/services/eventhub/eventhub_namespace_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_resource_test.go
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, enhancement, service/event-hubs, size/M

#10170 `azurerm_role_definition` - address eventual consistency issues in update and delete
  azurerm/internal/services/authorization/role_definition_data_source_test.go
  azurerm/internal/services/authorization/role_definition_resource.go
  azurerm/internal/services/authorization/role_definition_resource_test.go
Labels: enhancement, service/authorization, size/M, tests

#10125 azurerm_mssql_virtual_machine: fix tests and persistent diff, use relative expiry for service principal password
  azurerm/internal/services/mssql/mssql_virtual_machine_resource.go
  azurerm/internal/services/mssql/mssql_virtual_machine_resource_test.go
Labels: service/mssql, size/S, tests

#10159 `azurerm_cosmosdb_gremlin_graph`: Expose `default_ttl`
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource_test.go
  website/docs/r/cosmosdb_gremlin_graph.html.markdown
Labels: documentation, service/cosmosdb, size/S

#7020 new data source: azurerm_sentinel_alert_rule_template
  azurerm/internal/services/sentinel/client/client.go
  azurerm/internal/services/sentinel/parse/sentinel_alert_rule_template.go
  azurerm/internal/services/sentinel/parse/sentinel_alert_rule_template_test.go
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/resourceids.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_fusion_resource_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_template_data_source.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_template_data_source_test.go
  azurerm/internal/services/sentinel/validate/sentinel_alert_rule_template_id.go
  azurerm/internal/services/sentinel/validate/sentinel_alert_rule_template_id_test.go
  website/azurerm.erb
  website/docs/d/sentinel_alert_rule.html.markdown
  website/docs/d/sentinel_alert_rule_template.html.markdown
Labels: documentation, service/sentinel, size/XL

#10144 sentinel: generating & switching to use the resource id parsers
  azurerm/internal/services/sentinel/parse/alert_rule.go
  azurerm/internal/services/sentinel/parse/alert_rule_test.go
  azurerm/internal/services/sentinel/parse/sentinel_alert_rules.go
  azurerm/internal/services/sentinel/parse/sentinel_alert_rules_test.go
  azurerm/internal/services/sentinel/resourceids.go
  azurerm/internal/services/sentinel/sentinel_alert_rule.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_data_source.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_fusion_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_fusion_resource_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource_test.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
  azurerm/internal/services/sentinel/validate/alert_rule_id.go
  azurerm/internal/services/sentinel/validate/alert_rule_id_test.go
Labels: refactor, service/sentinel, size/XL

#10190 r/advanced_threat_protection: adding a state migration to ensure the ID has a `/` prefix
  azurerm/internal/services/securitycenter/advanced_threat_protection_resource.go
  azurerm/internal/services/securitycenter/migration/advanced_threat_protection_v0_to_v1.go
Labels: bug, regression, service/security-center, size/M

#10055 azurerm_cosmosdb_account: enable_analytical_storage
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, service/cosmosdb, size/M

#10185 Test Shim: Network i->l and r->s
  azurerm/internal/services/network/ip_group_data_source.go
  azurerm/internal/services/network/ip_group_resource.go
  azurerm/internal/services/network/local_network_gateway_resource.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/route_filter_data_source.go
  azurerm/internal/services/network/route_filter_resource.go
  azurerm/internal/services/network/route_resource.go
  azurerm/internal/services/network/route_table_data_source.go
  azurerm/internal/services/network/route_table_resource.go
  azurerm/internal/services/network/tests/ip_group_data_source_test.go
  azurerm/internal/services/network/tests/ip_group_resource_test.go
  azurerm/internal/services/network/tests/local_network_gateway_resource_test.go
  azurerm/internal/services/network/tests/route_filter_data_source_test.go
  azurerm/internal/services/network/tests/route_filter_resource_test.go
  azurerm/internal/services/network/tests/route_resource_test.go
  azurerm/internal/services/network/tests/route_table_data_source_test.go
  azurerm/internal/services/network/tests/route_table_resource_test.go
Labels: size/XXL

#10164 dependencies: updating to v0.11.16 of github.com/Azure/go-autorest
  go.mod
  go.sum
  vendor/github.com/Azure/go-autorest/autorest/adal/token.go
  vendor/github.com/Azure/go-autorest/autorest/adal/token_1.13.go
  vendor/github.com/Azure/go-autorest/autorest/adal/token_legacy.go
  vendor/github.com/Azure/go-autorest/autorest/azure/async.go
  vendor/github.com/Azure/go-autorest/autorest/azure/azure.go
  vendor/github.com/Azure/go-autorest/autorest/client.go
  vendor/github.com/Azure/go-autorest/autorest/error.go
  vendor/github.com/Azure/go-autorest/autorest/utility.go
  vendor/github.com/Azure/go-autorest/autorest/utility_1.13.go
  vendor/github.com/Azure/go-autorest/autorest/utility_legacy.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.s
  vendor/golang.org/x/crypto/chacha20/chacha_noasm.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.s
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.s
  vendor/golang.org/x/crypto/curve25519/curve25519_noasm.go
  vendor/golang.org/x/crypto/internal/subtle/aliasing.go
  vendor/golang.org/x/crypto/internal/subtle/aliasing_purego.go
  vendor/golang.org/x/crypto/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.s
  vendor/golang.org/x/crypto/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/modules.txt
Labels: dependencies, service/log-analytics, size/XL

#10171 dependencies: updating to `2020-12-01` of `containerservice`
  azurerm/internal/services/containers/client/client.go
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_validate.go
  azurerm/internal/services/containers/kubernetes_nodepool.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-08-01/containerservice/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-08-01/containerservice/agentpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-08-01/containerservice/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-08-01/containerservice/containerservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-08-01/containerservice/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-08-01/containerservice/managedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-08-01/containerservice/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-08-01/containerservice/openshiftmanagedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-08-01/containerservice/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2019-08-01/containerservice/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/agentpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/maintenanceconfigurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/managedclusters.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/resolveprivatelinkserviceid.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2020-12-01/containerservice/version.go
  vendor/modules.txt
Labels: dependencies, service/kubernetes-cluster, size/XXL

#10174 msi: updating to use API version 2018-11-30 rather than the Preview
  azurerm/internal/services/msi/client/client.go
  azurerm/internal/services/msi/user_assigned_identity_data_source.go
  azurerm/internal/services/msi/user_assigned_identity_resource.go
  azurerm/internal/services/msi/user_assigned_identity_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/msi/mgmt/2018-11-30/msi/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/msi/mgmt/2018-11-30/msi/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/msi/mgmt/2018-11-30/msi/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/msi/mgmt/2018-11-30/msi/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/msi/mgmt/2018-11-30/msi/systemassignedidentities.go
  vendor/github.com/Azure/azure-sdk-for-go/services/msi/mgmt/2018-11-30/msi/userassignedidentities.go
  vendor/github.com/Azure/azure-sdk-for-go/services/msi/mgmt/2018-11-30/msi/version.go
  vendor/modules.txt
Labels: dependencies, enhancement, service/authentication, size/L

#9015 Fix `azurerm_backup_protected_file_share`
  azurerm/internal/services/recoveryservices/backup_container_storage_account_resource_test.go
  azurerm/internal/services/recoveryservices/backup_protected_file_share_resource.go
  azurerm/internal/services/recoveryservices/backup_protected_file_share_resource_test.go
  azurerm/internal/services/recoveryservices/client/client.go
  website/docs/r/backup_protected_file_share.markdown
Labels: documentation, service/recovery-services, size/L

#10194 Test Shim: Network n resources
  azurerm/internal/services/network/nat_gateway_data_source.go
  azurerm/internal/services/network/nat_gateway_public_ip_association_resource.go
  azurerm/internal/services/network/nat_gateway_resource.go
  azurerm/internal/services/network/network_connection_monitor_resource.go
  azurerm/internal/services/network/network_ddos_protection_plan_data_source.go
  azurerm/internal/services/network/network_ddos_protection_plan_resource.go
  azurerm/internal/services/network/network_interface_application_gateway_association_resource.go
  azurerm/internal/services/network/network_interface_application_security_group_association_resource.go
  azurerm/internal/services/network/network_interface_backend_address_pool_association_resource.go
  azurerm/internal/services/network/network_interface_data_source.go
  azurerm/internal/services/network/network_interface_nat_rule_association_resource.go
  azurerm/internal/services/network/network_interface_network_security_group_association_resource.go
  azurerm/internal/services/network/network_interface_resource.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/nat_gateway_data_source_test.go
  azurerm/internal/services/network/tests/nat_gateway_public_ip_association_resource_test.go
  azurerm/internal/services/network/tests/nat_gateway_resource_test.go
  azurerm/internal/services/network/tests/network_connection_monitor_resource_test.go
  azurerm/internal/services/network/tests/network_ddos_protection_plan_data_source_test.go
  azurerm/internal/services/network/tests/network_ddos_protection_plan_resource_test.go
  azurerm/internal/services/network/tests/network_interface_application_gateway_association_resource_test.go
  azurerm/internal/services/network/tests/network_interface_application_security_group_association_resource_test.go
  azurerm/internal/services/network/tests/network_interface_backend_address_pool_association_resource_test.go
  azurerm/internal/services/network/tests/network_interface_data_source_test.go
  azurerm/internal/services/network/tests/network_interface_nat_rule_association_resource_test.go
  azurerm/internal/services/network/tests/network_interface_network_security_group_association_resource_test.go
  azurerm/internal/services/network/tests/network_interface_resource_test.go
  azurerm/internal/services/network/tests/network_watcher_resource_test.go
Labels: refactor, size/XXL, tests

#10195 Test Shim: Network n->p resources
  azurerm/internal/services/network/network_packet_capture_resource.go
  azurerm/internal/services/network/network_profile_resource.go
  azurerm/internal/services/network/network_security_group_data_source.go
  azurerm/internal/services/network/network_security_group_resource.go
  azurerm/internal/services/network/network_security_rule_resource.go
  azurerm/internal/services/network/network_watcher_data_source.go
  azurerm/internal/services/network/network_watcher_flow_log_resource.go
  azurerm/internal/services/network/network_watcher_resource.go
  azurerm/internal/services/network/packet_capture_resource.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/network_packet_capture_resource_test.go
  azurerm/internal/services/network/tests/network_profile_resource_test.go
  azurerm/internal/services/network/tests/network_security_group_data_source_test.go
  azurerm/internal/services/network/tests/network_security_group_resource_test.go
  azurerm/internal/services/network/tests/network_security_rule_resource_test.go
  azurerm/internal/services/network/tests/network_service_tags_data_source_test.go
  azurerm/internal/services/network/tests/network_watcher_data_source_test.go
  azurerm/internal/services/network/tests/network_watcher_flow_log_resource_test.go
  azurerm/internal/services/network/tests/network_watcher_resource_test.go
  azurerm/internal/services/network/tests/packet_capture_resource_test.go
Labels: size/XXL

#10211 terrafmt for servicebus_subscription_resource_test
  azurerm/internal/services/servicebus/servicebus_subscription_resource_test.go
Labels: size/S

#10207 Test Shim: Network p resources
  azurerm/internal/services/network/point_to_site_vpn_gateway_resource.go
  azurerm/internal/services/network/private_endpoint_connection_data_source.go
  azurerm/internal/services/network/private_endpoint_resource.go
  azurerm/internal/services/network/private_link_service_data_source.go
  azurerm/internal/services/network/private_link_service_endpoint_connections_data_source.go
  azurerm/internal/services/network/private_link_service_resource.go
  azurerm/internal/services/network/public_ip_data_source.go
  azurerm/internal/services/network/public_ip_prefix_data_source.go
  azurerm/internal/services/network/public_ip_prefix_resource.go
  azurerm/internal/services/network/public_ip_resource.go
  azurerm/internal/services/network/public_ips_data_source.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/tests/point_to_site_vpn_gateway_resource_test.go
  azurerm/internal/services/network/tests/private_endpoint_connection_data_source_test.go
  azurerm/internal/services/network/tests/private_endpoint_resource_test.go
  azurerm/internal/services/network/tests/private_link_service_data_source_test.go
  azurerm/internal/services/network/tests/private_link_service_endpoint_connections_data_source_test.go
  azurerm/internal/services/network/tests/private_link_service_resource_test.go
  azurerm/internal/services/network/tests/public_ip_data_source_test.go
  azurerm/internal/services/network/tests/public_ip_prefix_data_source_test.go
  azurerm/internal/services/network/tests/public_ip_prefix_resource_test.go
  azurerm/internal/services/network/tests/public_ip_resource_test.go
  azurerm/internal/services/network/tests/public_ips_data_source_test.go
Labels: refactor, size/XXL, tests

#10213 Removed references to non-functional soft_delete_enabled field
  examples/cosmos-db/customer-managed-key/main.tf
  website/docs/r/key_vault_certificate.html.markdown
  website/docs/r/key_vault_key.html.markdown
  website/docs/r/key_vault_secret.html.markdown
  website/docs/r/kusto_cluster_customer_managed_key.html.markdown
  website/docs/r/mysql_server_key.html.markdown
  website/docs/r/postgresql_server_key.html.markdown
  website/docs/r/recovery_services_vault.markdown
  website/docs/r/storage_account_customer_managed_key.html.markdown
Labels: documentation, size/XS

#10200 azurerm_key_vault_certificate: Check for nil in subject
  azurerm/internal/services/keyvault/key_vault_certificate_resource.go
Labels: bug, service/keyvault, size/XS

#9291 Add AKS autoscale property for new_pod_scale_up
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_scaling_resource_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#10225 Clarify the requirements for premium storage with hns enabled
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XS

#8737 Add support for user assigned identities in AKS
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_auth_resource_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: dependencies, documentation, enhancement, preview, service/kubernetes-cluster, size/M

#9276 Update `azurerm_api_management` - Support more cipher options
  azurerm/internal/services/apimanagement/api_management_resource.go
  azurerm/internal/services/apimanagement/api_management_resource_test.go
  website/docs/r/api_management.html.markdown
Labels: documentation, enhancement, service/api-management, size/L

#10231 r/kubernetes_cluster: updating the versions of kubernetes in use
  azurerm/internal/services/containers/tests/kubernetes_cluster_resource_test.go
Labels: bug, service/kubernetes-cluster, size/XS

#10196 user_assigned_identity: add state migration for ID casing
  azurerm/internal/services/msi/migration/user_assigned_identity_V0_to_V1.go
  azurerm/internal/services/msi/user_assigned_identity_resource.go
Labels: bug, service/authentication, size/M

#9795 New block `dimensions` in `azurerm_monitor_autoscale_setting\profile\rule\metric_trigger`
  azurerm/internal/services/monitor/monitor_autoscale_setting_resource.go
  azurerm/internal/services/monitor/monitor_autoscale_setting_resource_test.go
  website/docs/r/monitor_autoscale_setting.html.markdown
Labels: documentation, size/XL

#10210 tags update for azurerm_container_group
  azurerm/internal/services/containers/container_group_resource.go
  azurerm/internal/services/containers/parse/container_group.go
  azurerm/internal/services/containers/parse/container_group_test.go
  azurerm/internal/services/containers/resourceids.go
  azurerm/internal/services/containers/tests/container_group_resource_test.go
  azurerm/internal/services/containers/validate/container_group_id.go
  azurerm/internal/services/containers/validate/container_group_id_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/container-group, size/XL

#10221 Test Shim: Network s -> v resources
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/subnet_data_source.go
  azurerm/internal/services/network/subnet_nat_gateway_association_resource.go
  azurerm/internal/services/network/subnet_network_security_group_association_resource.go
  azurerm/internal/services/network/subnet_resource.go
  azurerm/internal/services/network/subnet_route_table_association_resource.go
  azurerm/internal/services/network/subnet_service_endpoint_storage_policy_resource.go
  azurerm/internal/services/network/tests/subnet_data_source_test.go
  azurerm/internal/services/network/tests/subnet_nat_gateway_association_resource_test.go
  azurerm/internal/services/network/tests/subnet_network_security_group_association_resource_test.go
  azurerm/internal/services/network/tests/subnet_resource_test.go
  azurerm/internal/services/network/tests/subnet_route_table_association_resource_test.go
  azurerm/internal/services/network/tests/subnet_service_endpoint_policy_storage_resource_test.go
  azurerm/internal/services/network/tests/virtual_hub_bgp_connection_resource_test.go
  azurerm/internal/services/network/tests/virtual_hub_connection_resource_test.go
  azurerm/internal/services/network/tests/virtual_hub_data_source_test.go
  azurerm/internal/services/network/tests/virtual_hub_ip_resource_test.go
  azurerm/internal/services/network/tests/virtual_hub_resource_test.go
  azurerm/internal/services/network/tests/virtual_hub_route_table_test.go
  azurerm/internal/services/network/tests/virtual_hub_security_partner_provider_resource_test.go
  azurerm/internal/services/network/tests/virtual_network_data_source_test.go
  azurerm/internal/services/network/tests/virtual_network_gateway_connection_data_source_test.go
  azurerm/internal/services/network/tests/virtual_network_gateway_connection_resource_test.go
  azurerm/internal/services/network/tests/virtual_network_gateway_data_source_test.go
  azurerm/internal/services/network/tests/virtual_network_gateway_resource_test.go
  azurerm/internal/services/network/tests/virtual_network_peering_resource_test.go
  azurerm/internal/services/network/tests/virtual_network_resource_test.go
  azurerm/internal/services/network/tests/virtual_wan_data_source_test.go
  azurerm/internal/services/network/tests/virtual_wan_resource_test.go
  azurerm/internal/services/network/tests/vpn_gateway_connection_resource_test.go
  azurerm/internal/services/network/tests/vpn_gateway_resource_test.go
  azurerm/internal/services/network/tests/vpn_server_configuration_resource_test.go
  azurerm/internal/services/network/tests/vpn_site_resource_test.go
  azurerm/internal/services/network/tests/web_application_firewall_policy_data_source_test.go
  azurerm/internal/services/network/tests/web_application_firewall_policy_resource_test.go
  azurerm/internal/services/network/virtual_hub_bgp_connection_resource.go
  azurerm/internal/services/network/virtual_hub_connection_resource.go
  azurerm/internal/services/network/virtual_hub_data_source.go
  azurerm/internal/services/network/virtual_hub_ip_resource.go
  azurerm/internal/services/network/virtual_hub_resource.go
  azurerm/internal/services/network/virtual_hub_route_table_resource.go
  azurerm/internal/services/network/virtual_hub_security_partner_provider_resource.go
  azurerm/internal/services/network/virtual_network_data_source.go
  azurerm/internal/services/network/virtual_network_gateway_connection_data_source.go
  azurerm/internal/services/network/virtual_network_gateway_connection_resource.go
  azurerm/internal/services/network/virtual_network_gateway_data_source.go
  azurerm/internal/services/network/virtual_network_gateway_resource.go
  azurerm/internal/services/network/virtual_network_peering_resource.go
  azurerm/internal/services/network/virtual_network_resource.go
  azurerm/internal/services/network/virtual_wan_data_source.go
  azurerm/internal/services/network/virtual_wan_resource.go
  azurerm/internal/services/network/vpn_gateway_connection_resource.go
  azurerm/internal/services/network/vpn_gateway_resource.go
  azurerm/internal/services/network/vpn_server_configuration_resource.go
  azurerm/internal/services/network/vpn_site_resource.go
  azurerm/internal/services/network/web_application_firewall_policy_data_source.go
  azurerm/internal/services/network/web_application_firewall_policy_resource.go
Labels: refactor, size/XXL, tests

#10078 Add support for event_grouping_setting of azurerm_sentinel_alert_rule_scheduled
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
  website/docs/r/sentinel_alert_rule_scheduled.html.markdown
Labels: documentation, enhancement, service/sentinel, size/M

#10242 fix test case for iothub RP
  azurerm/internal/services/iothub/iothub_fallback_route_resource_test.go
  azurerm/internal/services/iothub/iothub_route_resource_test.go
Labels: service/iothub, size/XS, tests

#10246 data_factory_linked_service_azure_function: Update docs to include fu…
  website/docs/r/data_factory_linked_service_azure_function.html.markdown
Labels: documentation, service/data-factory, size/XS

#10234 Removed usage of /terraform-plugin-sdk/helper/hashcode
  azurerm/internal/location/schema.go
  azurerm/internal/services/analysisservices/analysis_services_server_resource.go
  azurerm/internal/services/automation/helper/automation_job_schedule.go
  azurerm/internal/services/compute/ssh_keys.go
  azurerm/internal/services/compute/virtual_machine_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set_resource.go
  azurerm/internal/services/containers/container_group_resource.go
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource.go
  azurerm/internal/services/dns/dns_caa_record_resource.go
  azurerm/internal/services/dns/dns_mx_record_resource.go
  azurerm/internal/services/dns/dns_srv_record_resource.go
  azurerm/internal/services/monitor/monitor_activity_log_alert_resource.go
  azurerm/internal/services/monitor/monitor_metric_alert_resource.go
  azurerm/internal/services/network/virtual_network_gateway_resource.go
  azurerm/internal/services/network/virtual_network_resource.go
  azurerm/internal/services/policy/policy_set_definition_resource.go
  azurerm/internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
  azurerm/internal/tf/set/set.go
Labels: refactor, size/M

#10255 Test Shim: Containers
  azurerm/internal/services/containers/container_group_resource.go
  azurerm/internal/services/containers/container_registry_data_source.go
  azurerm/internal/services/containers/container_registry_migrate_resource.go
  azurerm/internal/services/containers/container_registry_resource.go
  azurerm/internal/services/containers/container_registry_webhook_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/kubernetes_service_version_data_source.go
  azurerm/internal/services/containers/registration.go
  azurerm/internal/services/containers/tests/container_group_resource_test.go
  azurerm/internal/services/containers/tests/container_registry_data_source_test.go
  azurerm/internal/services/containers/tests/container_registry_resource_test.go
  azurerm/internal/services/containers/tests/container_registry_webhook_resource_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_addons_resource_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_auth_resource_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_data_source_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_network_resource_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_node_pool_data_source_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_node_pool_resource_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_other_resource_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_resource_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_scaling_resource_test.go
  azurerm/internal/services/containers/tests/kubernetes_cluster_upgrade_test.go
  azurerm/internal/services/containers/tests/kubernetes_service_version_data_source_test.go
Labels: size/XXL

#10261 Test Shim: Resource
  azurerm/internal/services/resource/management_lock_resource.go
  azurerm/internal/services/resource/management_lock_resource_test.go
  azurerm/internal/services/resource/registration.go
  azurerm/internal/services/resource/resource_group_data_source.go
  azurerm/internal/services/resource/resource_group_data_source_test.go
  azurerm/internal/services/resource/resource_group_resource.go
  azurerm/internal/services/resource/resource_group_template_deployment_resource_test.go
  azurerm/internal/services/resource/resources_data_source.go
  azurerm/internal/services/resource/resources_data_source_test.go
  azurerm/internal/services/resource/subscription_template_deployment_resource_test.go
  azurerm/internal/services/resource/template_deployment_resource.go
  azurerm/internal/services/resource/template_deployment_resource_test.go
  azurerm/internal/services/resource/validation_test.go
Labels: refactor, size/XXL, tests

#10260 Test Shim: Containers remove test package
  azurerm/internal/services/containers/container_group_resource_test.go
  azurerm/internal/services/containers/container_registry_data_source_test.go
  azurerm/internal/services/containers/container_registry_resource_test.go
  azurerm/internal/services/containers/container_registry_webhook_resource_test.go
  azurerm/internal/services/containers/helpers_test.go
  azurerm/internal/services/containers/kubernetes_cluster_addons_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_auth_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source_test.go
  azurerm/internal/services/containers/kubernetes_cluster_network_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_data_source_test.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_other_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_scaling_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_upgrade_test.go
  azurerm/internal/services/containers/kubernetes_service_version_data_source_test.go
Labels: refactor, size/S, tests

#10243 [refactor] api_management generators 2
  azurerm/internal/services/apimanagement/api_management_data_source.go
  azurerm/internal/services/apimanagement/api_management_group_data_source.go
  azurerm/internal/services/apimanagement/api_management_group_resource.go
  azurerm/internal/services/apimanagement/api_management_group_user_resource.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_aad_resource.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_facebook_resource.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_google_resource.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_microsoft_resource.go
  azurerm/internal/services/apimanagement/api_management_identity_provider_twitter_resource.go
  azurerm/internal/services/apimanagement/api_management_named_value_resource.go
  azurerm/internal/services/apimanagement/api_management_openid_connect_provider_resource.go
  azurerm/internal/services/apimanagement/parse/group.go
  azurerm/internal/services/apimanagement/parse/group_test.go
  azurerm/internal/services/apimanagement/parse/group_user.go
  azurerm/internal/services/apimanagement/parse/group_user_test.go
  azurerm/internal/services/apimanagement/parse/identity_provider.go
  azurerm/internal/services/apimanagement/parse/identity_provider_test.go
  azurerm/internal/services/apimanagement/parse/named_value.go
  azurerm/internal/services/apimanagement/parse/named_value_test.go
  azurerm/internal/services/apimanagement/parse/open_id_connect_provider.go
  azurerm/internal/services/apimanagement/parse/open_id_connect_provider_test.go
  azurerm/internal/services/apimanagement/resourceids.go
  azurerm/internal/services/apimanagement/validate/group_id.go
  azurerm/internal/services/apimanagement/validate/group_id_test.go
  azurerm/internal/services/apimanagement/validate/group_user_id.go
  azurerm/internal/services/apimanagement/validate/group_user_id_test.go
  azurerm/internal/services/apimanagement/validate/identity_provider_id.go
  azurerm/internal/services/apimanagement/validate/identity_provider_id_test.go
  azurerm/internal/services/apimanagement/validate/named_value_id.go
  azurerm/internal/services/apimanagement/validate/named_value_id_test.go
  azurerm/internal/services/apimanagement/validate/open_id_connect_provider_id.go
  azurerm/internal/services/apimanagement/validate/open_id_connect_provider_id_test.go
Labels: refactor, service/api-management, size/XXL

#10192 Add storage_account_type to azurerm_mssql_database
  azurerm/internal/services/mssql/mssql_database_data_source.go
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/mssql/mssql_database_resource_test.go
  website/docs/d/mssql_database.html.markdown
  website/docs/r/mssql_database.html.markdown
Labels: documentation, enhancement, service/mssql, size/M

#10245 [refactor] api_management generators 3
  azurerm/internal/services/apimanagement/api_management_api_operation_policy_resource.go
  azurerm/internal/services/apimanagement/api_management_api_operation_resource.go
  azurerm/internal/services/apimanagement/api_management_api_policy_resource.go
  azurerm/internal/services/apimanagement/api_management_api_resource.go
  azurerm/internal/services/apimanagement/api_management_api_schema_resource.go
  azurerm/internal/services/apimanagement/api_management_api_version_set_data_source.go
  azurerm/internal/services/apimanagement/api_management_authorization_server_resource.go
  azurerm/internal/services/apimanagement/api_management_backend_resource.go
  azurerm/internal/services/apimanagement/api_management_certificate_resource.go
  azurerm/internal/services/apimanagement/parse/api.go
  azurerm/internal/services/apimanagement/parse/api_operation.go
  azurerm/internal/services/apimanagement/parse/api_operation_policy.go
  azurerm/internal/services/apimanagement/parse/api_operation_policy_test.go
  azurerm/internal/services/apimanagement/parse/api_operation_test.go
  azurerm/internal/services/apimanagement/parse/api_policy.go
  azurerm/internal/services/apimanagement/parse/api_policy_test.go
  azurerm/internal/services/apimanagement/parse/api_schema.go
  azurerm/internal/services/apimanagement/parse/api_schema_test.go
  azurerm/internal/services/apimanagement/parse/api_test.go
  azurerm/internal/services/apimanagement/parse/authorization_server.go
  azurerm/internal/services/apimanagement/parse/authorization_server_test.go
  azurerm/internal/services/apimanagement/parse/backend.go
  azurerm/internal/services/apimanagement/parse/backend_test.go
  azurerm/internal/services/apimanagement/parse/certificate.go
  azurerm/internal/services/apimanagement/parse/certificate_test.go
  azurerm/internal/services/apimanagement/resourceids.go
  azurerm/internal/services/apimanagement/validate/api_id.go
  azurerm/internal/services/apimanagement/validate/api_id_test.go
  azurerm/internal/services/apimanagement/validate/api_operation_id.go
  azurerm/internal/services/apimanagement/validate/api_operation_id_test.go
  azurerm/internal/services/apimanagement/validate/api_operation_policy_id.go
  azurerm/internal/services/apimanagement/validate/api_operation_policy_id_test.go
  azurerm/internal/services/apimanagement/validate/api_policy_id.go
  azurerm/internal/services/apimanagement/validate/api_policy_id_test.go
  azurerm/internal/services/apimanagement/validate/api_schema_id.go
  azurerm/internal/services/apimanagement/validate/api_schema_id_test.go
  azurerm/internal/services/apimanagement/validate/authorization_server_id.go
  azurerm/internal/services/apimanagement/validate/authorization_server_id_test.go
  azurerm/internal/services/apimanagement/validate/backend_id.go
  azurerm/internal/services/apimanagement/validate/backend_id_test.go
  azurerm/internal/services/apimanagement/validate/certificate_id.go
  azurerm/internal/services/apimanagement/validate/certificate_id_test.go
Labels: refactor, service/api-management, size/XXL

#9321 azurerm_api_management_api_diagnostic: Add `sampling_percentage` argument
  azurerm/internal/services/apimanagement/api_management_api_diagnostic_resource.go
  azurerm/internal/services/apimanagement/api_management_api_diagnostic_resource_test.go
  website/docs/r/api_management_api_diagnostic.html.markdown
Labels: documentation, enhancement, service/api-management, size/XS

#10228 New data source: `azurerm_iothub`
  azurerm/internal/services/iothub/iothub_data_source.go
  azurerm/internal/services/iothub/iothub_data_source_test.go
  azurerm/internal/services/iothub/registration.go
  website/docs/d/iothub.html.markdown
Labels: documentation, new-data-source, service/iothub, size/L

#9971 New resource: `azurerm_media_content_key_policy`
  azurerm/internal/services/media/client/client.go
  azurerm/internal/services/media/media_content_key_policy_resource.go
  azurerm/internal/services/media/media_content_key_policy_resource_test.go
  azurerm/internal/services/media/media_streaming_endpoint_resource.go
  azurerm/internal/services/media/parse/content_key_policy.go
  azurerm/internal/services/media/parse/content_key_policy_test.go
  azurerm/internal/services/media/registration.go
  azurerm/internal/services/media/resourceids.go
  azurerm/internal/services/media/validate/content_key_policy_id.go
  azurerm/internal/services/media/validate/content_key_policy_id_test.go
  website/docs/r/media_content_key_policy.html.markdown
Labels: documentation, new-resource, services/media, size/XXL

#10267 Remove `website-test` from make and GHA
  .github/workflows/website-test.yaml
  GNUmakefile
Labels: size/XS, tooling

#10182 `azurerm_data_factory_dataset_delimited_text`: Expose `compression_codec`
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource_test.go
  website/docs/r/data_factory_dataset_delimited_text.html.markdown
Labels: documentation, enhancement, service/data-factory, size/XS, waiting-response

#10239 New Resource: `azurerm_data_factory_linked_service_snowflake`
  azurerm/internal/services/datafactory/data_factory_linked_service_snowflake_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_snowflake_resource_test.go
  azurerm/internal/services/datafactory/registration.go
  website/docs/r/data_factory_linked_service_snowflake.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#10274 Test Shim: Update image/vm `exists` test checks
  azurerm/internal/services/compute/image_resource_test.go
  azurerm/internal/services/compute/managed_disk_resource_test.go
  azurerm/internal/services/compute/virtual_machine_managed_disks_resource_test.go
  azurerm/internal/services/compute/virtual_machine_resource_test.go
  azurerm/internal/services/compute/virtual_machine_unmanaged_disks_resource_test.go
Labels: refactor, size/L, tests

#10272 Adding note about databricks public/private subnets
  website/docs/r/databricks_workspace.html.markdown
Labels: documentation, service/databricks, size/XS

#10259 dependencies: updating to v0.11.17 of github.com/Azure/go-autorest/autorest
  go.mod
  go.sum
  vendor/github.com/Azure/go-autorest/autorest/azure/azure.go
  vendor/modules.txt
Labels: dependencies, size/M

#10265 identity: adding a helper package for Managed Identities
  azurerm/internal/identity/README.md
  azurerm/internal/identity/schema.go
  azurerm/internal/identity/system_assigned.go
  azurerm/internal/services/springcloud/spring_cloud_app_resource.go
Labels: refactor, services/spring, size/L

#10216 fix error on azurerm_media_streaming_endpoint when destroying a running instance
  azurerm/internal/services/media/media_streaming_endpoint_resource.go
  azurerm/internal/services/media/media_streaming_endpoint_resource_test.go
Labels: bug, services/media, size/S

#10277 Test Shim: Refactoring various Disappear checks
  azurerm/internal/services/compute/availability_set_resource_test.go
  azurerm/internal/services/compute/proximity_placement_group_resource_test.go
  azurerm/internal/services/datafactory/data_factory_resource_test.go
  azurerm/internal/services/network/network_ddos_protection_plan_resource_test.go
  azurerm/internal/services/network/network_profile_resource_test.go
  azurerm/internal/services/network/route_resource_test.go
  azurerm/internal/services/network/virtual_network_peering_resource_test.go
  azurerm/internal/services/network/virtual_network_resource_test.go
  azurerm/internal/services/resource/template_deployment_resource_test.go
Labels: refactor, size/XL, tests

#9959 new resource "azurerm_spring_cloud_java_deployment" and "azurerm_spring_cloud_active_deployment"
  azurerm/internal/services/springcloud/client/client.go
  azurerm/internal/services/springcloud/parse/spring_cloud_deployment.go
  azurerm/internal/services/springcloud/parse/spring_cloud_deployment_test.go
  azurerm/internal/services/springcloud/registration.go
  azurerm/internal/services/springcloud/resourceids.go
  azurerm/internal/services/springcloud/spring_cloud_active_deployment_resource.go
  azurerm/internal/services/springcloud/spring_cloud_active_deployment_resource_test.go
  azurerm/internal/services/springcloud/spring_cloud_java_deployment_resource.go
  azurerm/internal/services/springcloud/spring_cloud_java_deployment_resource_test.go
  azurerm/internal/services/springcloud/validate/spring_cloud_deployment_id.go
  azurerm/internal/services/springcloud/validate/spring_cloud_deployment_id_test.go
  azurerm/internal/services/springcloud/validate/spring_cloud_deployment_name.go
  azurerm/internal/services/springcloud/validate/spring_cloud_deployment_name_test.go
  website/azurerm.erb
  website/docs/r/spring_cloud_active_deployment.html.markdown
  website/docs/r/spring_cloud_java_deployment.html.markdown
Labels: documentation, size/XXL

#10280 datafactory & keyvault: removing direct usages on `acceptance.AzureProvider`
  azurerm/internal/acceptance/check/that.go
  azurerm/internal/services/datafactory/data_factory_pipeline_resource_test.go
  azurerm/internal/services/keyvault/key_vault_certificate_issuer_resource_test.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource_test.go
  azurerm/internal/services/keyvault/key_vault_key_resource_test.go
  azurerm/internal/services/keyvault/key_vault_resource_test.go
  azurerm/internal/services/keyvault/key_vault_secret_resource_test.go
Labels: refactor, service/data-factory, service/keyvault

#10283 azurerm_redis_cache - support multiple zone availability
  azurerm/internal/services/redis/redis_cache_resource.go
  website/docs/r/redis_cache.html.markdown
Labels: documentation, service/redis, size/XS

#9239 new resource `azurerm_iothub_enrichment` and support `azurerm_iothub.enrichment`
  azurerm/internal/services/iothub/iothub_enrichment_resource.go
  azurerm/internal/services/iothub/iothub_enrichment_resource_test.go
  azurerm/internal/services/iothub/iothub_resource.go
  azurerm/internal/services/iothub/iothub_resource_test.go
  azurerm/internal/services/iothub/registration.go
  website/docs/r/iothub.html.markdown
  website/docs/r/iothub_enrichment.html.markdown
Labels: documentation, new-resource, service/iothub, size/XL

#10143 Support for number_of_workers in app_service
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_resource_test.go
  website/docs/d/app_service.html.markdown
  website/docs/r/app_service.html.markdown
Labels: documentation, enhancement, service/app-service, size/M

#10186 SKU parameter for azurerm_firewall_policy
  azurerm/internal/services/firewall/firewall_policy_resource.go
  azurerm/internal/services/firewall/firewall_policy_resource_test.go
  website/docs/r/firewall_policy.html.markdown
Labels: dependencies, documentation, service/firewall, size/S

#10303 `azurerm_app_service_environment` - support `cluster_setting` block
  azurerm/internal/services/web/app_service_environment_data_source.go
  azurerm/internal/services/web/app_service_environment_data_source_test.go
  azurerm/internal/services/web/app_service_environment_resource.go
  azurerm/internal/services/web/app_service_environment_resource_test.go
  website/docs/d/app_service_environment.html.markdown
  website/docs/r/app_service_environment.html.markdown
Labels: documentation, enhancement, service/app-service, size/L

#10310 Bastion Documentation - Out of Preview
  website/docs/r/bastion_host.html.markdown
Labels: documentation, service/bastion, size/XS

#10275 Add certificate_data_base64 field to key_vault_certificate
  azurerm/internal/services/keyvault/key_vault_certificate_data_source.go
  azurerm/internal/services/keyvault/key_vault_certificate_data_source_test.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource_test.go
  website/docs/d/key_vault_certificate.html.markdown
  website/docs/r/key_vault_certificate.html.markdown
Labels: documentation, enhancement, service/keyvault, size/S

#10313 Test Fix: TestAccBatchPool_customImage
  azurerm/internal/services/batch/batch_pool_resource_test.go
Labels: service/batch, size/XS, tests

#10311 Test Fix: various API Management tests
  azurerm/internal/services/apimanagement/api_management_api_data_source_test.go
  azurerm/internal/services/apimanagement/api_management_api_operation_policy_resource_test.go
  azurerm/internal/services/apimanagement/api_management_api_resource_test.go
  azurerm/internal/services/apimanagement/api_management_backend_resource_test.go
Labels: service/api-management, size/XS, tests

#9866 Update tc for Virtual Hub IP and Virtual Hub Bgp Connection
  azurerm/internal/services/network/virtual_hub_bgp_connection_resource_test.go
  azurerm/internal/services/network/virtual_hub_ip_resource_test.go
Labels: documentation, service/virtual-hub, service/virtual-wan, size/XS

#10323 Test Fix: Various EventHub tests
  azurerm/internal/services/eventhub/eventhub_cluster_resource.go
  azurerm/internal/services/eventhub/eventhub_consumer_group_data_source_test.go
  azurerm/internal/services/eventhub/eventhub_namespace_disaster_recovery_config_resource.go
Labels: bug, service/event-hubs, size/XS

#10321 Test Fix: TestAccDataLakeAnalyticsAccount_requiresImport
  azurerm/internal/services/datalake/data_lake_analytics_account_resource_test.go
Labels: service/data-lake-analytics, size/XS, tests

#10189 UPDATE delete VMs that are in failed state
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
Labels: enhancement, service/virtual-machine, size/S

#10133 New resource: `azurerm_media_streaming_policy`
  azurerm/internal/services/media/client/client.go
  azurerm/internal/services/media/media_services_account_resource.go
  azurerm/internal/services/media/media_streaming_policy_resource.go
  azurerm/internal/services/media/media_streaming_policy_resource_test.go
  azurerm/internal/services/media/parse/streaming_policy.go
  azurerm/internal/services/media/parse/streaming_policy_test.go
  azurerm/internal/services/media/registration.go
  azurerm/internal/services/media/resourceids.go
  azurerm/internal/services/media/validate/streaming_policy_id.go
  azurerm/internal/services/media/validate/streaming_policy_id_test.go
  website/docs/r/media_streaming_policy.html.markdown
Labels: documentation, new-resource, services/media, size/XXL

#10330 keyvault: optimising the lookup/adding a cache for Key Vaults
  azurerm/helpers/azure/key_vault.go
  azurerm/internal/services/compute/disk_encryption_set_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_key_vault_resource.go
  azurerm/internal/services/keyvault/client/helpers.go
  azurerm/internal/services/keyvault/internal.go
  azurerm/internal/services/keyvault/key_vault_certificate_data_source.go
  azurerm/internal/services/keyvault/key_vault_certificate_issuer_data_source.go
  azurerm/internal/services/keyvault/key_vault_certificate_issuer_resource.go
  azurerm/internal/services/keyvault/key_vault_certificate_issuer_resource_test.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource_test.go
  azurerm/internal/services/keyvault/key_vault_key_data_source.go
  azurerm/internal/services/keyvault/key_vault_key_resource.go
  azurerm/internal/services/keyvault/key_vault_key_resource_test.go
  azurerm/internal/services/keyvault/key_vault_secret_data_source.go
  azurerm/internal/services/keyvault/key_vault_secret_resource.go
  azurerm/internal/services/keyvault/key_vault_secret_resource_test.go
  azurerm/internal/services/kusto/kusto_cluster_customer_managed_key_resource.go
  azurerm/internal/services/mysql/mysql_server_key_resource.go
  azurerm/internal/services/postgres/postgresql_server_key_resource.go
  azurerm/internal/services/storage/storage_account_customer_managed_key_resource.go
  azurerm/internal/services/web/app_service_certificate_resource.go
Labels: enhancement, service/keyvault, size/XL

#9917 Allow ADLS File System to have ACLs added to the root
  azurerm/internal/services/storage/parse/storage_filesystem_ace.go
  azurerm/internal/services/storage/storage_data_lake_gen2_filesystem_resource.go
  azurerm/internal/services/storage/storage_data_lake_gen2_filesystem_resource_test.go
  azurerm/internal/services/storage/storage_data_lake_gen2_path_resource.go
  azurerm/internal/services/storage/storage_data_lake_gen2_path_resource_test.go
  azurerm/internal/services/storage/validate/storage_adls_access_control_permission.go
  examples/storage/storage_adls_acls/main.tf
  website/docs/r/storage_data_lake_gen2_filesystem.html.markdown
Labels: bug, documentation, service/storage, size/XL

#10333 [Docs]`function_app` Regional VNet Integration
  azurerm/internal/services/web/app_service_virtual_network_swift_connection_resource_test.go
  website/docs/r/app_service_virtual_network_swift_connection.html.markdown
  website/docs/r/function_app.html.markdown
Labels: documentation, size/L

#10336 tc: updating the default version of tf to 0.14.4
  .teamcity/components/settings.kt
Labels: size/XS, tooling

#8624 azurerm_role_definition: don't add `scope` to `assignable_scopes`
  azurerm/internal/services/authorization/role_definition_resource.go
  azurerm/internal/services/authorization/role_definition_resource_test.go
  azurerm/internal/services/authorization/tests/role_definition_resource_test.go
  website/docs/r/role_definition.html.markdown
Labels: documentation, service/authorization, size/XL, waiting-response

#10266 "azurerm_key_vault" - supports ipv4 and cidr format for property "network_acls.ip_rules"
  azurerm/internal/services/keyvault/key_vault_resource.go
  azurerm/internal/services/keyvault/key_vault_resource_test.go
  azurerm/internal/tf/set/set.go
Labels: enhancement, service/keyvault, size/XS

#10337 r/azurerm_servicebus_namespace - Allowed setting messaging units capacity to 16 for Premium SKU
  azurerm/internal/services/servicebus/servicebus_namespace_resource.go
  azurerm/internal/services/servicebus/servicebus_namespace_resource_test.go
  website/docs/r/servicebus_namespace.html.markdown
Labels: documentation, enhancement, service/servicebus, size/XS

#10338 Address feedback of #9917
  azurerm/internal/services/storage/storage_data_lake_gen2_filesystem_resource.go
  azurerm/internal/services/storage/storage_data_lake_gen2_path_resource.go
  azurerm/internal/services/storage/storage_filesystem_ace.go
Labels: size/XS

#10298 `azurerm_linux|windows_virtual_machine_scale_set` - Support `extensions_time_budget`
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource_test.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, enhancement, service/vmss, size/XL

#10034 new resource "azurerm_iot_security_solution"
  azurerm/internal/services/iothub/iothub_resource.go
  azurerm/internal/services/securitycenter/client/client.go
  azurerm/internal/services/securitycenter/iot_security_solution_resource.go
  azurerm/internal/services/securitycenter/iot_security_solution_resource_test.go
  azurerm/internal/services/securitycenter/parse/iot_security_solution.go
  azurerm/internal/services/securitycenter/parse/iot_security_solution_test.go
  azurerm/internal/services/securitycenter/registration.go
  azurerm/internal/services/securitycenter/resourceids.go
  azurerm/internal/services/securitycenter/validate/iot_security_solution_id.go
  azurerm/internal/services/securitycenter/validate/iot_security_solution_id_test.go
  azurerm/internal/services/securitycenter/validate/iot_security_solution_name.go
  azurerm/internal/services/securitycenter/validate/iot_security_solution_name_test.go
  website/azurerm.erb
  website/docs/r/iot_security_solution.html.markdown
Labels: documentation, size/XXL

#10347 Resolves issue 10346 - acctests failing on Recoveryservices
  azurerm/internal/services/recoveryservices/backup_policy_vm_resource_test.go
  azurerm/internal/services/recoveryservices/backup_protected_vm_resource_test.go
Labels: service/recovery-services, size/M, tests

#10349 testing: data sources should fail using import steps
  azurerm/internal/acceptance/steps.go
Labels: size/XS, tests

#10181 New data source `azurerm_search_service`
  azurerm/internal/services/search/registration.go
  azurerm/internal/services/search/search_service_data_source.go
  azurerm/internal/services/search/search_service_data_source_test.go
  website/azurerm.erb
  website/docs/d/search_service.html.markdown
Labels: documentation, new-data-source, service/search, size/XL

#10352 r/app_configuration: updating the requiresImport test to use a standard tier
  azurerm/internal/services/appconfiguration/app_configuration_resource_test.go
Labels: service/app-configuration, size/XS, tests

#10343 `azurerm_iot_time_series_insights_reference_data_set` - Add `ForceNew` to `key_property` and `data_string_comparison_behavior`
  azurerm/internal/services/iottimeseriesinsights/iot_time_series_insights_reference_data_set_resource.go
  azurerm/internal/services/iottimeseriesinsights/iot_time_series_insights_reference_data_set_resource_test.go
  website/docs/r/iot_time_series_insights_reference_data_set.html.markdown
Labels: bug, documentation, service/iot-time-series, size/XS

#10354 media: removing dependency on the azuread helpers
  azurerm/internal/services/media/media_job_resource.go
  azurerm/internal/services/media/media_transform_resource.go
Labels: refactor, services/media, size/XS

#10351 r/(linux|windows)_virtual_machine_scale_set: fixing the parsing of `settings` and `protected_settings` when these are empty strings
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_extensions_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_extensions_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
Labels: bug, service/vmss, size/XXL
