Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2021-11, with the labels that each got.

#13785 Upgrade Purview from 2020-12-01-preview to stable version 2021-07-01
  internal/services/purview/client/client.go
  internal/services/purview/purview_account_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/purview/mgmt/2020-12-01-preview/purview/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/purview/mgmt/2021-07-01/purview/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/purview/mgmt/2021-07-01/purview/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/purview/mgmt/2021-07-01/purview/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/purview/mgmt/2021-07-01/purview/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/purview/mgmt/2021-07-01/purview/defaultaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/purview/mgmt/2021-07-01/purview/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/purview/mgmt/2021-07-01/purview/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/purview/mgmt/2021-07-01/purview/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/purview/mgmt/2021-07-01/purview/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/purview/mgmt/2021-07-01/purview/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/purview/mgmt/2021-07-01/purview/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/purview

#13897 `r\purview_account_resource`: Deprecate `sku_name` property
  internal/services/purview/purview_account_resource.go
  internal/services/purview/purview_account_resource_test.go
  website/docs/r/purview_account.html.markdown
Labels: documentation, size/S, service/purview

#13987 linting: increasing the timeout to 60m
  .golangci.yml
Labels: size/XS, tooling

#13659 synapse_workspace supports sql_aad_admin
  internal/services/synapse/client/client.go
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/synapse/synapse_workspace_resource_test.go
  website/docs/r/synapse_workspace.html.markdown
Labels: documentation, new-resource, size/M, service/synapse

#13973 azurerm_mssql_elasticpool Added GP_FSv2 to sku validate function
  internal/services/mssql/mssql_elasticpool_resource.go
Labels: enhancement, size/XS, service/mssql

#13978 Fix the HCL example in the sentinel documents
  website/docs/r/azurerm_sentinel_alert_rule_machine_learning_behavior_analytics.html.markdown
  website/docs/r/sentinel_alert_rule_fusion.html.markdown
  website/docs/r/sentinel_alert_rule_ms_security_incident.html.markdown
  website/docs/r/sentinel_alert_rule_scheduled.html.markdown
  website/docs/r/sentinel_data_connector_aws_cloud_trail.html.markdown
  website/docs/r/sentinel_data_connector_azure_active_directory.html.markdown
  website/docs/r/sentinel_data_connector_azure_advanced_threat_protection.html.markdown
  website/docs/r/sentinel_data_connector_azure_security_center.html.markdown
  website/docs/r/sentinel_data_connector_microsoft_cloud_app_security.html.markdown
  website/docs/r/sentinel_data_connector_microsoft_defender_advanced_threat_protection.html.markdown
  website/docs/r/sentinel_data_connector_office_365.html.markdown
  website/docs/r/sentinel_data_connector_threat_intelligence.html.markdown
Labels: documentation, size/L, service/sentinel

#13975 Updated documentation for `azurerm_frontdoor_rules_engine`
  website/docs/r/frontdoor_rules_engine.html.markdown
Labels: documentation, size/XS, service/frontdoor

#13971 azurerm_application_insights - increase allowed validate for the daily_data_cap_in_gb property
  internal/services/applicationinsights/application_insights_resource.go
Labels: bug, size/XS, service/application-insights

#13940 Updated documentation for `azurerm_frontdoor_rules_engine`
  internal/services/frontdoor/frontdoor_rules_engine_rule.go
  website/docs/r/frontdoor_rules_engine.html.markdown
Labels: documentation, size/XS, service/frontdoor

#13943 Upgrade Azure Go SDK to v59.0.0
  go.mod
  go.sum
  internal/services/cdn/cdn_endpoint_resource.go
  internal/services/cdn/cdn_profile_resource.go
  internal/services/cdn/deliveryruleactions/cache_expiration.go
  internal/services/cdn/deliveryruleactions/cache_key_query_string.go
  internal/services/cdn/deliveryruleactions/modify_request_header.go
  internal/services/cdn/deliveryruleactions/modify_response_header.go
  internal/services/cdn/deliveryruleactions/url_redirect.go
  internal/services/cdn/deliveryruleactions/url_rewrite.go
  internal/services/cdn/deliveryruleconditions/cookies.go
  internal/services/cdn/deliveryruleconditions/post_arg.go
  internal/services/cdn/deliveryruleconditions/query_string.go
  internal/services/cdn/deliveryruleconditions/request_body.go
  internal/services/cdn/deliveryruleconditions/request_header.go
  internal/services/cdn/deliveryruleconditions/request_uri.go
  internal/services/cdn/deliveryruleconditions/url_file_extension.go
  internal/services/cdn/deliveryruleconditions/url_file_name.go
  internal/services/cdn/deliveryruleconditions/url_path.go
  internal/services/containers/container_registry_data_source.go
  internal/services/containers/container_registry_resource.go
  internal/services/logic/logic_app_integration_account_agreement_resource.go
  internal/services/logic/logic_app_integration_account_batch_configuration_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2020-09-01/cdn/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2020-09-01/cdn/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2020-09-01/cdn/customdomains.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2020-09-01/cdn/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2020-09-01/cdn/loganalytics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2020-09-01/cdn/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cdn/mgmt/2020-09-01/cdn/rulesets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2019-05-01/logic/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2019-05-01/logic/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2019-05-01/logic/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2019-05-01/logic/integrationserviceenvironmentmanagedapis.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logic/mgmt/2019-05-01/logic/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/postgresql/mgmt/2021-06-01/postgresqlflexibleservers/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2020-11-01-preview/containerregistry/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2020-11-01-preview/containerregistry/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2020-11-01-preview/containerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2020-11-01-preview/containerregistry/registries.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
  website/docs/d/container_registry.html.markdown
  website/docs/r/container_registry.html.markdown
Labels: documentation, dependencies, size/XL

#13951 `azurerm_sql_managed_instance`: Support for `dns_zone_partner_id`
  internal/services/sql/sql_managed_instance_resource.go
  internal/services/sql/sql_managed_instance_resource_test.go
  website/docs/r/sql_managed_instance.html.markdown
Labels: documentation, size/XL, service/mssql

#13996 azurem_mariadb - Refactoring to use parsers
  internal/services/mariadb/mariadb_configuration_resource.go
  internal/services/mariadb/mariadb_configuration_resource_test.go
  internal/services/mariadb/mariadb_database_resource.go
  internal/services/mariadb/mariadb_database_resource_test.go
  internal/services/mariadb/mariadb_firewall_rule_resource.go
  internal/services/mariadb/mariadb_firewall_rule_resource_test.go
  internal/services/mariadb/mariadb_virtual_network_rule_resource.go
  internal/services/mariadb/mariadb_virtual_network_rule_resource_test.go
  internal/services/mariadb/parse/maria_db_configuration.go
  internal/services/mariadb/parse/maria_db_configuration_test.go
  internal/services/mariadb/parse/maria_db_database.go
  internal/services/mariadb/parse/maria_db_database_test.go
  internal/services/mariadb/parse/maria_db_firewall_rule.go
  internal/services/mariadb/parse/maria_db_firewall_rule_test.go
  internal/services/mariadb/parse/maria_db_virtual_network_rule.go
  internal/services/mariadb/parse/maria_db_virtual_network_rule_test.go
  internal/services/mariadb/resourceids.go
  internal/services/mariadb/validate/maria_db_configuration_id.go
  internal/services/mariadb/validate/maria_db_configuration_id_test.go
  internal/services/mariadb/validate/maria_db_database_id.go
  internal/services/mariadb/validate/maria_db_database_id_test.go
  internal/services/mariadb/validate/maria_db_firewall_rule_id.go
  internal/services/mariadb/validate/maria_db_firewall_rule_id_test.go
  internal/services/mariadb/validate/maria_db_virtual_network_rule_id.go
  internal/services/mariadb/validate/maria_db_virtual_network_rule_id_test.go
Labels: size/XL, service/mariadb, refactor

#13946 feat(storage_blob): implement control_cache
  internal/services/storage/blobs.go
  internal/services/storage/storage_blob_resource.go
  internal/services/storage/storage_blob_resource_test.go
  website/docs/r/storage_blob.html.markdown
Labels: enhancement, documentation, service/storage, size/M

#13990 `azurerm_mssql_database`: Fix `storage_account_type`
  internal/services/mssql/mssql_database_resource.go
  internal/services/mssql/mssql_database_resource_test.go
Labels: bug, size/S, service/mssql

#13976 `azurerm_firewall_policy_rule_collection_group` - add supports of `translatedFqdn` for NAT rule
  internal/services/firewall/firewall_policy_rule_collection_group_resource.go
  internal/services/firewall/firewall_policy_rule_collection_group_resource_test.go
  website/docs/r/firewall_policy_rule_collection_group.html.markdown
Labels: enhancement, service/firewall

#13955 azurerm_backup_protected_file_share supplement doc: add `depends_on` for adding a protected item to a pre-e…
  website/docs/r/backup_protected_file_share.html.markdown
Labels: documentation, size/XS, service/backup

#13962 Add `key_vault_reference_identity_id` attribute for `azurerm_function_app`
  internal/services/web/function_app_resource.go
  internal/services/web/function_app_resource_test.go
  website/docs/r/function_app.html.markdown
Labels: enhancement, documentation, size/L, service/functions

#13964 `azurerm_logic_app_standard` - fixes error when working on private network
  internal/services/logic/logic_app_standard_resource.go
Labels: bug, size/XS, service/logic

#13938 `azurerm_storage_share` - add supports for `enabled_protocol`
  go.mod
  go.sum
  internal/services/storage/shim/shares.go
  internal/services/storage/shim/shares_data_plane.go
  internal/services/storage/storage_share_resource.go
  internal/services/storage/storage_share_resource_test.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/create.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/models.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/properties_get.go
  vendor/github.com/tombuildsstuff/giovanni/version/version.go
  vendor/modules.txt
  website/docs/r/storage_share.html.markdown
Labels: enhancement, documentation, dependencies, service/storage, size/M

#13998 azurerm_monitor_smart_detector_alert_rule: Support additional detector types
  internal/services/monitor/monitor_smart_detector_alert_rule_resource.go
  website/docs/r/monitor_smart_detector_alert_rule.html.markdown
Labels: documentation, size/XS, service/monitor

#13866 Added support for patch_mode in resource_linux_virtual_machine.
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_auth_test.go
  website/docs/r/linux_virtual_machine.html.markdown
Labels: enhancement, documentation, service/virtual-machine, size/M

#13967 `azurerm_cosmosdb_account`: Allow change of backup type from `Periodic` to `Continuous`
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, size/M, service/cosmosdb

#13820 azurerm_machine_learning_compute_cluster, azurerm_machine_learning_compute_cluster, azurerm_machine_learning_synapse_spark - support for local_auth_enabled
  internal/services/machinelearning/machine_learning_compute_cluster_resource.go
  internal/services/machinelearning/machine_learning_compute_cluster_resource_test.go
  internal/services/machinelearning/machine_learning_compute_instance_resource.go
  internal/services/machinelearning/machine_learning_compute_instance_resource_test.go
  internal/services/machinelearning/machine_learning_synapse_spark_resource.go
  internal/services/machinelearning/machine_learning_synapse_spark_resource_test.go
  website/docs/r/machine_learning_compute_cluster.html.markdown
  website/docs/r/machine_learning_compute_instance.html.markdown
  website/docs/r/machine_learning_synapse_spark.html.markdown
Labels: enhancement, documentation, size/M, upstream-microsoft, service/machine-learning

#13875 Fix acctest for sentinel DC
  internal/services/sentinel/sentinel_data_connector_azure_active_directory_test.go
  internal/services/sentinel/sentinel_data_connector_azure_advanced_threat_protection_test.go
  internal/services/sentinel/sentinel_data_connector_azure_security_center_test.go
  internal/services/sentinel/sentinel_data_connector_microsoft_cloud_app_security_test.go
  internal/services/sentinel/sentinel_data_connector_microsoft_defender_advanced_threat_protection_test.go
  internal/services/sentinel/sentinel_data_connector_office_365_test.go
  internal/services/sentinel/sentinel_data_connector_threat_intelligence_test.go
Labels: waiting-response, size/M, tests, service/sentinel

#14004 `azurerm_firewall_policy - add supports for the `insights`
  internal/services/firewall/firewall_policy_resource.go
  internal/services/firewall/firewall_policy_resource_test.go
  website/docs/r/firewall_policy.html.markdown
Labels: enhancement, documentation, size/L, service/firewall

#13874 new resource "logz_monitor"
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/logz/client/client.go
  internal/services/logz/logz_monitor_resource.go
  internal/services/logz/logz_monitor_resource_test.go
  internal/services/logz/parse/logz_monitor.go
  internal/services/logz/parse/logz_monitor_test.go
  internal/services/logz/registration.go
  internal/services/logz/resourceids.go
  internal/services/logz/validate/logz_monitor_id.go
  internal/services/logz/validate/logz_monitor_id_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/monitor.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/monitors.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/singlesignon.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/subaccount.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/subaccounttagrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/tagrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/logz/mgmt/2020-10-01/logz/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/logz_monitor.html.markdown
Labels: documentation, dependencies, size/XL, service/logz

#14015 Add support for Integration Account with Integration Service Environment
  internal/services/logic/logic_app_integration_account_resource.go
  internal/services/logic/logic_app_integration_account_resource_test.go
  website/docs/r/logic_app_integration_account.html.markdown
Labels: enhancement, documentation, size/S, service/app-service

#13934 key_vault_key - add the cureve, x, y, public_key_pem, public_key_openssh
  internal/services/keyvault/key_vault_key_data_source.go
  internal/services/keyvault/key_vault_key_resource.go
  website/docs/d/key_vault_key.html.markdown
  website/docs/r/key_vault_key.html.markdown
Labels: enhancement, documentation, service/keyvault, size/L

#13988 Add `key_vault_reference_identity_id` attribute for `azurerm_app_service_slot`
  internal/services/web/app_service_slot_resource.go
  internal/services/web/app_service_slot_resource_test.go
  website/docs/r/app_service_slot.html.markdown
Labels: enhancement, documentation, size/L, service/app-service

#14028 `managed_disk_resource`: Add validation for `disk_iops_read_write`, `disk_mbps_read_write`
  internal/services/compute/managed_disk_resource.go
Labels: bug, service/disks, size/XS

#14037 hpc_cache Added support for readonly SKUs
  internal/services/hpccache/hpc_cache_resource.go
  website/docs/r/hpc_cache.html.markdown
Labels: documentation, size/XS

#14013 new resource `azurerm_stream_analytics_output_synapse`
  internal/services/streamanalytics/registration.go
  internal/services/streamanalytics/stream_analytics_output.go
  internal/services/streamanalytics/stream_analytics_output_synapse_resource.go
  internal/services/streamanalytics/stream_analytics_output_synapse_resource_test.go
  website/docs/r/stream_analytics_output_synapse.html.markdown
Labels: documentation, new-resource, size/XL, service/stream-analytics

#14046 azurerm_cosmosdb_cassandra_cluster: Fix import test
  internal/services/cosmos/cosmosdb_cassandra_cluster_resource_test.go
Labels: size/XS, service/cosmosdb, tests

#14026 Change api_management_certificate Subject attribute to reference correct certificate property
  internal/services/apimanagement/api_management_certificate_resource.go
Labels: bug, size/XS, service/api-management

#14035 azurerm_application_insights - support internet_ingestion_enabled, internet_query_enabled
  internal/services/applicationinsights/application_insights_resource.go
  internal/services/applicationinsights/application_insights_resource_test.go
  website/docs/r/application_insights.html.markdown
  website/docs/r/sentinel_automation_rule.html.markdown
Labels: enhancement, documentation, size/L, service/application-insights

#14064 Corrected all "aci-helloworld" and "aci-tutorial-sidecar" Docker image references in examples/docs
  examples/container-instance/image-registry-credentials/main.tf
  examples/container-instance/multiple-containers/main.tf
  examples/container-instance/network-profile/main.tf
  examples/kubernetes/aci_connector_linux/virtual-node.yaml
  website/docs/r/container_group.html.markdown
Labels: documentation, service/container-service, size/XS

#14059 Fix tests for `azurerm_stream_analytics_output_table`
  internal/services/streamanalytics/stream_analytics_output_table_resource_test.go
Labels: size/XS, service/stream-analytics, tests

#14062 azurm_api_management - refactoring to use parsers
  internal/services/apimanagement/api_management_api_operation_resource.go
  internal/services/apimanagement/api_management_api_operation_resource_test.go
  internal/services/apimanagement/api_management_api_schema_resource.go
  internal/services/apimanagement/api_management_api_schema_resource_test.go
  internal/services/apimanagement/api_management_backend_resource.go
  internal/services/apimanagement/api_management_backend_resource_test.go
  internal/services/apimanagement/api_management_certificate_resource.go
  internal/services/apimanagement/api_management_certificate_resource_test.go
  internal/services/apimanagement/api_management_group_resource.go
  internal/services/apimanagement/api_management_group_resource_test.go
  internal/services/apimanagement/api_management_group_user_resource.go
  internal/services/apimanagement/api_management_group_user_resource_test.go
  internal/services/apimanagement/api_management_logger_resource.go
  internal/services/apimanagement/api_management_logger_resource_test.go
  internal/services/apimanagement/api_management_openid_connect_provider_resource.go
  internal/services/apimanagement/api_management_openid_connect_provider_resource_test.go
  internal/services/apimanagement/api_management_product_api_resource.go
  internal/services/apimanagement/api_management_product_api_resource_test.go
  internal/services/apimanagement/api_management_resource.go
  internal/services/apimanagement/api_management_resource_test.go
Labels: size/XL, service/api-management, refactor

#14061 `azurerm_key_vault_certificate`: Prevent `certificate.contents` to be empty
  internal/services/keyvault/key_vault_certificate_resource.go
Labels: service/keyvault, size/XS

#14072 Correct attribute reference
  website/docs/r/data_factory_linked_service_cosmosdb.html.markdown
Labels: documentation, size/XS

#13966 frontdoor: swapping to embedded sdk
  internal/services/frontdoor/client/client.go
  internal/services/frontdoor/customizediff.go
  internal/services/frontdoor/frontdoor_custom_https_configuration.go
  internal/services/frontdoor/frontdoor_custom_https_configuration_resource.go
  internal/services/frontdoor/frontdoor_custom_https_configuration_resource_test.go
  internal/services/frontdoor/frontdoor_firewall_policy_resource.go
  internal/services/frontdoor/frontdoor_firewall_policy_resource_test.go
  internal/services/frontdoor/frontdoor_resource.go
  internal/services/frontdoor/frontdoor_resource_test.go
  internal/services/frontdoor/frontdoor_rules_engine_rule.go
  internal/services/frontdoor/helper.go
  internal/services/frontdoor/transition.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/endpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/experiments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/frontdoors.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/frontendendpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/managedrulesets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/nameavailability.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/nameavailabilitywithsubscription.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/networkexperimentprofiles.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/policies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/preconfiguredendpoints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/reports.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/rulesengines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/frontdoor/mgmt/2020-05-01/frontdoor/version.go
  vendor/modules.txt
Labels: dependencies, size/XL

#14091 Update documentation for topic_type available values in EG system topic
  website/docs/d/eventgrid_system_topic.html.markdown
  website/docs/r/eventgrid_system_topic.html.markdown
Labels: documentation, size/XS

#14100 Fix storage blob cache_control test failure (i.e. TestAccStorageBlob_cacheControl)
  internal/services/storage/storage_blob_resource.go
Labels: bug, service/storage

#14103 Added support for OpenSourceRelationalDatabases in azurerm_security_center_subscription_pricing
  internal/services/securitycenter/security_center_subscription_pricing_resource.go
  website/docs/r/security_center_subscription_pricing.html.markdown
Labels: enhancement, documentation, size/XS, service/security-center

#14112 attestation: regenerate embedded sdk
  internal/services/attestation/attestation_provider_resource.go
  internal/services/attestation/sdk/2020-10-01/attestationproviders/constants.go
  internal/services/attestation/sdk/2020-10-01/attestationproviders/id_attestationproviders.go
  internal/services/attestation/sdk/2020-10-01/attestationproviders/id_attestationproviders_test.go
  internal/services/attestation/sdk/2020-10-01/attestationproviders/id_location.go
  internal/services/attestation/sdk/2020-10-01/attestationproviders/id_location_test.go
  internal/services/attestation/sdk/2020-10-01/attestationproviders/id_resourcegroup.go
  internal/services/attestation/sdk/2020-10-01/attestationproviders/id_resourcegroup_test.go
  internal/services/attestation/sdk/2020-10-01/attestationproviders/id_subscription.go
  internal/services/attestation/sdk/2020-10-01/attestationproviders/id_subscription_test.go
  internal/services/attestation/sdk/2020-10-01/attestationproviders/model_systemdata.go
  internal/services/attestation/sdk/2020-10-01/privateendpointconnections/constants.go
  internal/services/attestation/sdk/2020-10-01/privateendpointconnections/id_attestationproviders.go
  internal/services/attestation/sdk/2020-10-01/privateendpointconnections/id_attestationproviders_test.go
  internal/services/attestation/sdk/2020-10-01/privateendpointconnections/id_privateendpointconnection.go
  internal/services/attestation/sdk/2020-10-01/privateendpointconnections/id_privateendpointconnection_test.go
Labels: size/XL, service/attestation

#14108 r/redis_cache: case-insensitively parsing the Subnet ID to normalise it
  internal/services/redis/redis_cache_data_source.go
  internal/services/redis/redis_cache_resource.go
Labels: bug, size/XS, service/redis

#14109 Fix typos and smoothen short descriptions
  website/docs/r/api_management.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
  website/docs/r/application_gateway.html.markdown
  website/docs/r/blueprint_assignment.html.markdown
  website/docs/r/cognitive_account.html.markdown
  website/docs/r/container_registry.html.markdown
  website/docs/r/data_protection_backup_vault.html.markdown
  website/docs/r/disk_encryption_set.html.markdown
  website/docs/r/express_route_port.html.markdown
  website/docs/r/kusto_cluster.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/log_analytics_cluster.html.markdown
  website/docs/r/machine_learning_compute_cluster.html.markdown
  website/docs/r/machine_learning_compute_instance.html.markdown
  website/docs/r/machine_learning_inference_cluster.html.markdown
  website/docs/r/machine_learning_synapse_spark.html.markdown
  website/docs/r/machine_learning_workspace.html.markdown
  website/docs/r/management_group_policy_assignment.html.markdown
  website/docs/r/media_services_account.html.markdown
  website/docs/r/policy_assignment.html.markdown
  website/docs/r/resource_group_policy_assignment.html.markdown
  website/docs/r/resource_policy_assignment.html.markdown
  website/docs/r/search_service.html.markdown
  website/docs/r/storage_account.html.markdown
  website/docs/r/subscription_policy_assignment.html.markdown
  website/docs/r/video_analyzer.html.markdown
  website/docs/r/virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, size/M

#14008 New GHA for linking milestone
  .github/workflows/link-milestone.yaml
Labels: enhancement, size/XS, tooling

#14125 Fix consumption data source panic
  internal/services/consumption/consumption_budget_resource_group_data_source.go
  internal/services/consumption/consumption_budget_subscription_data_source.go
Labels: crash, size/XS, service/consumption

#14114 cognitive - regenerate embedded sdk
  internal/services/cognitive/sdk/2021-04-30/cognitiveservicesaccounts/constants.go
  internal/services/cognitive/sdk/2021-04-30/cognitiveservicesaccounts/id_account.go
  internal/services/cognitive/sdk/2021-04-30/cognitiveservicesaccounts/id_account_test.go
  internal/services/cognitive/sdk/2021-04-30/cognitiveservicesaccounts/id_deletedaccount.go
  internal/services/cognitive/sdk/2021-04-30/cognitiveservicesaccounts/id_deletedaccount_test.go
  internal/services/cognitive/sdk/2021-04-30/cognitiveservicesaccounts/id_location.go
  internal/services/cognitive/sdk/2021-04-30/cognitiveservicesaccounts/id_location_test.go
  internal/services/cognitive/sdk/2021-04-30/cognitiveservicesaccounts/id_resourcegroup.go
  internal/services/cognitive/sdk/2021-04-30/cognitiveservicesaccounts/id_resourcegroup_test.go
  internal/services/cognitive/sdk/2021-04-30/cognitiveservicesaccounts/id_subscription.go
  internal/services/cognitive/sdk/2021-04-30/cognitiveservicesaccounts/id_subscription_test.go
  internal/services/cognitive/sdk/2021-04-30/privateendpointconnections/constants.go
  internal/services/cognitive/sdk/2021-04-30/privateendpointconnections/id_account.go
  internal/services/cognitive/sdk/2021-04-30/privateendpointconnections/id_account_test.go
  internal/services/cognitive/sdk/2021-04-30/privateendpointconnections/id_privateendpointconnection.go
  internal/services/cognitive/sdk/2021-04-30/privateendpointconnections/id_privateendpointconnection_test.go
  internal/services/cognitive/sdk/2021-04-30/privatelinkresources/id_account.go
  internal/services/cognitive/sdk/2021-04-30/privatelinkresources/id_account_test.go
  internal/services/cognitive/sdk/2021-04-30/skus/constants.go
  internal/services/cognitive/sdk/2021-04-30/skus/id_subscription.go
  internal/services/cognitive/sdk/2021-04-30/skus/id_subscription_test.go
Labels: size/XL

#14093 `azurerm_frontdoor_resource` - Splitting the create/update methods for frontdoor
  internal/services/frontdoor/frontdoor_resource.go
Labels: size/L

#14124 `azurerm_virtual_network_gateway`: Enable configuration of an active-active zone redundant gateway with P2S
  internal/services/network/virtual_network_gateway_resource.go
  internal/services/network/virtual_network_gateway_resource_test.go
  website/docs/r/virtual_network_gateway.html.markdown
Labels: enhancement, documentation, size/M, service/virtual-network-gateway

#14141 dependencies: upgrading to `v0.17.1` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/resourceids/parse.go
  vendor/modules.txt
Labels: bug, dependencies, size/XS

#14097 azurerm_backup_protected_vm: Support exclude_disk_luns and include_disk_luns properties for backup protected VM resource
  internal/services/recoveryservices/backup_protected_vm_resource.go
  internal/services/recoveryservices/backup_protected_vm_resource_test.go
  website/docs/r/backup_protected_vm.html.markdown
Labels: enhancement, documentation, size/M, service/backup

#14098 New Resource: azurerm_monitor_private_link_scope
  internal/services/monitor/client/client.go
  internal/services/monitor/monitor_private_link_scope_resource.go
  internal/services/monitor/monitor_private_link_scope_resource_test.go
  internal/services/monitor/parse/private_link_scope.go
  internal/services/monitor/parse/private_link_scope_test.go
  internal/services/monitor/registration.go
  internal/services/monitor/resourceids.go
  internal/services/monitor/validate/private_link_scope_id.go
  internal/services/monitor/validate/private_link_scope_id_test.go
  internal/services/monitor/validate/private_link_scope_name.go
  internal/services/monitor/validate/private_link_scope_name_test.go
  website/docs/r/monitor_private_link_scope.html.markdown
Labels: documentation, new-resource, size/XL, service/monitor

#14085 `azurerm_storage_encryption_scope`: Allow versionless `key_vault_key_id`
  internal/services/keyvault/validate/child_id.go
  internal/services/storage/storage_encryption_scope_resource.go
  internal/services/storage/storage_encryption_scope_resource_test.go
Labels: enhancement, service/storage, size/S

#13600 New resource: `azurerm_synapse_workspace_aad_admin` - supports setting AAD admin for synapse workspaces with CMK
  internal/services/synapse/parse/workspace_aad_admin.go
  internal/services/synapse/parse/workspace_aad_admin_test.go
  internal/services/synapse/registration.go
  internal/services/synapse/resourceids.go
  internal/services/synapse/synapse_workspace_aad_admin_resource.go
  internal/services/synapse/synapse_workspace_aad_admin_resource_test.go
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/synapse/validate/workspace_aad_admin_id.go
  internal/services/synapse/validate/workspace_aad_admin_id_test.go
  website/docs/r/synapse_workspace.html.markdown
  website/docs/r/synapse_workspace_aad_admin.html.markdown
Labels: documentation, size/XL, service/synapse

#14136 `azurerm_mysql_flexible_server_firewall_rule`: New resource
  internal/services/mysql/client/client.go
  internal/services/mysql/mysql_flexible_server_firewall_rule_resource.go
  internal/services/mysql/mysql_flexible_server_firewall_rule_resource_test.go
  internal/services/mysql/parse/flexible_server_firewall_rule.go
  internal/services/mysql/parse/flexible_server_firewall_rule_test.go
  internal/services/mysql/registration.go
  internal/services/mysql/resourceids.go
  internal/services/mysql/validate/flexible_server_firewall_rule_id.go
  internal/services/mysql/validate/flexible_server_firewall_rule_id_test.go
  website/docs/r/mysql_flexible_server_firewall_rule.html.markdown
Labels: documentation, size/XL, service/mysql, new-virtual-resource

#14105 `azuread`: upgrade of `azuread` components in AccTest to v2
  internal/acceptance/testcase.go
  internal/services/apimanagement/api_management_identity_provider_aadb2c_resource_test.go
  internal/services/authorization/role_assignment_resource_test.go
  internal/services/azurestackhci/stack_hci_cluster_resource_test.go
  internal/services/domainservices/active_directory_domain_service_test.go
  internal/services/hdinsight/hdinsight_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_kafka_cluster_resource_test.go
  internal/services/mssql/mssql_virtual_machine_resource_test.go
  internal/services/servicefabric/service_fabric_cluster_resource_test.go
  internal/services/storage/storage_data_lake_gen2_filesystem_resource_test.go
  internal/services/storage/storage_data_lake_gen2_path_resource_test.go
Labels: size/M, tests

#14149 Doc Fix: `azurerm_iothub_resource` doc shows correct route source option names
  website/docs/r/iothub.html.markdown
Labels: documentation, size/XS, service/iot-hub

#14025 `managed_disk_resource`: Add `disk_iops_read_only`, `disk_mbps_read_only`
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/managed_disk_resource_test.go
  website/docs/r/managed_disk.html.markdown
Labels: enhancement, documentation, service/disks, size/L

#14052 `azurerm_sql_managed_instance`: Support for `identity`
  internal/services/sql/sql_managed_instance_resource.go
  internal/services/sql/sql_managed_instance_resource_test.go
  website/docs/r/sql_managed_instance.html.markdown
Labels: enhancement, documentation, size/M, service/mssql

#14161 `azurerm_(ms)sql_server` - removal of doc for deprecated `extended_auditing_policy`
  website/docs/r/mssql_server.html.markdown
  website/docs/r/sql_server.html.markdown
Labels: documentation, size/S, service/mssql, deprecation

#14158 datalake - switching to use an embedded sdk
  internal/services/datalake/client/client.go
  internal/services/datalake/data_lake_analytics_account_resource.go
  internal/services/datalake/data_lake_analytics_account_resource_test.go
  internal/services/datalake/data_lake_analytics_firewall_rule_resource.go
  internal/services/datalake/data_lake_analytics_firewall_rule_resource_test.go
  internal/services/datalake/data_lake_store_data_source.go
  internal/services/datalake/data_lake_store_firewall_rule_resource.go
  internal/services/datalake/data_lake_store_firewall_rule_resource_test.go
  internal/services/datalake/data_lake_store_resource.go
  internal/services/datalake/data_lake_store_resource_test.go
  internal/services/datalake/data_lake_store_virtual_network_rule_resource.go
  internal/services/datalake/data_lake_store_virtual_network_rule_resource_test.go
  internal/services/datalake/transition.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/computepolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/datalakestoreaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/firewallrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/locations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/storageaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/analytics/mgmt/2016-11-01/account/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/firewallrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/locations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/trustedidproviders.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/datalake/store/mgmt/2016-11-01/account/virtualnetworkrules.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/data-lake

#14148 azurerm_api_management - refactoring remaining api_management resources to use parsers
  internal/services/apimanagement/api_management_api_operation_policy_resource.go
  internal/services/apimanagement/api_management_api_operation_policy_resource_test.go
  internal/services/apimanagement/api_management_api_policy_resource.go
  internal/services/apimanagement/api_management_api_policy_resource_test.go
  internal/services/apimanagement/api_management_api_resource.go
  internal/services/apimanagement/api_management_api_resource_test.go
  internal/services/apimanagement/api_management_authorization_server_resource.go
  internal/services/apimanagement/api_management_authorization_server_resource_test.go
  internal/services/apimanagement/api_management_named_value_resource.go
  internal/services/apimanagement/api_management_named_value_resource_test.go
  internal/services/apimanagement/api_management_product_group_resource.go
  internal/services/apimanagement/api_management_product_group_resource_test.go
  internal/services/apimanagement/api_management_product_policy_resource.go
  internal/services/apimanagement/api_management_product_policy_resource_test.go
  internal/services/apimanagement/api_management_product_resource.go
  internal/services/apimanagement/api_management_product_resource_test.go
  internal/services/apimanagement/api_management_property_resource.go
  internal/services/apimanagement/api_management_property_resource_test.go
  internal/services/apimanagement/api_management_user_resource.go
  internal/services/apimanagement/api_management_user_resource_test.go
Labels: size/XL, service/api-management, refactor

#14135 video_analyzer - embedded sdk regen
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/constants.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_accesspolicies.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_accesspolicies_test.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_edgemodule.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_edgemodule_test.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_location.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_location_test.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_resourcegroup.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_resourcegroup_test.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_subscription.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_subscription_test.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_video.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_video_test.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_videoanalyzer.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/id_videoanalyzer_test.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/model_accesspolicyentity.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/model_accesspolicyproperties.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/model_authenticationbase.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/model_ecctokenkey.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/model_jwtauthentication.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/model_rsatokenkey.go
  internal/services/videoanalyzer/sdk/2021-05-01-preview/videoanalyzer/model_tokenkey.go
  internal/services/videoanalyzer/video_analyzer_edge_module_resource.go
  internal/services/videoanalyzer/video_analyzer_resource.go
Labels: dependencies, size/XL, services/video-analyzer

#14150 signalr - regenerate embedded sdk
  internal/services/network/private_endpoint_resource.go
  internal/services/signalr/migration/network_acl_v0_to_v1.go
  internal/services/signalr/migration/service_v0_to_v1.go
  internal/services/signalr/sdk/2020-05-01/signalr/constants.go
  internal/services/signalr/sdk/2020-05-01/signalr/id_location.go
  internal/services/signalr/sdk/2020-05-01/signalr/id_location_test.go
  internal/services/signalr/sdk/2020-05-01/signalr/id_privateendpointconnection.go
  internal/services/signalr/sdk/2020-05-01/signalr/id_privateendpointconnection_test.go
  internal/services/signalr/sdk/2020-05-01/signalr/id_resourcegroup.go
  internal/services/signalr/sdk/2020-05-01/signalr/id_resourcegroup_test.go
  internal/services/signalr/sdk/2020-05-01/signalr/id_signalr.go
  internal/services/signalr/sdk/2020-05-01/signalr/id_signalr_test.go
  internal/services/signalr/sdk/2020-05-01/signalr/id_subscription.go
  internal/services/signalr/sdk/2020-05-01/signalr/id_subscription_test.go
  internal/services/signalr/sdk/2020-05-01/signalr/method_listbyresourcegroup_autorest.go
  internal/services/signalr/sdk/2020-05-01/signalr/method_listbysubscription_autorest.go
  internal/services/signalr/sdk/2020-05-01/signalr/predicates.go
  internal/services/signalr/signalr_service_data_source.go
  internal/services/signalr/signalr_service_network_acl_resource.go
  internal/services/signalr/signalr_service_resource.go
  internal/services/signalr/validate/service_id.go
  internal/services/signalr/validate/service_id_test.go
  website/docs/r/signalr_service.html.markdown
  website/docs/r/signalr_service_network_acl.html.markdown
Labels: documentation, size/XL, service/signalr

#14170 datalakestore: fixing linting issues
  internal/acceptance/testcase.go
  internal/services/datalake/data_lake_analytics_account_resource.go
  internal/services/datalake/data_lake_store_data_source.go
Labels: bug, size/S, service/data-lake

#14165 `windows_virtual_machine_scale_set`/`linux_virtual_machine_scale_set` - `source_image_reference.offer` and `source_image_reference.publisher` are now ForceNew
  internal/services/compute/shared_schema.go
Labels: bug, service/vmss, size/XS

#14003 `azurerm_orchestrated_virtual_machine_scale_set` - Support new VMSS Flex functionality
  helpers/azure/sku.go
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
  internal/services/compute/validate/domain_name_label.go
  internal/services/compute/validate/domain_name_label_test.go
  internal/services/compute/virtual_machine_scale_set_import.go
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
Labels: documentation, new-resource, service/vmss, size/XL

#14120 azurerm_machine_learning_workspace - encryption block
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/machinelearning/machine_learning_workspace_resource_test.go
  website/docs/r/machine_learning_workspace.html.markdown
Labels: enhancement, documentation, size/L, service/machine-learning

#14160 Fix #14152 by adding lock to avoid parallel race error on service side
  internal/services/network/network_watcher_flow_log_resource.go
Labels: bug, size/XS, service/network-watcher

#14083 Upgrade storage sdk to 2021-04-01
  internal/services/storage/client/client.go
  internal/services/storage/client/helpers.go
  internal/services/storage/storage_account_customer_managed_key_resource.go
  internal/services/storage/storage_account_customer_managed_key_resource_test.go
  internal/services/storage/storage_account_data_source.go
  internal/services/storage/storage_account_network_rules_resource.go
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_encryption_scope_resource.go
  internal/services/storage/storage_encryption_scope_resource_test.go
  internal/services/storage/storage_management_policy_resource.go
  internal/services/storage/storage_object_replication_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/blobcontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/blobinventorypolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/blobservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/deletedaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/encryptionscopes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/fileservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/fileshares.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/managementpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/objectreplicationpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/queue.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/queueservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/table.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/tableservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-04-01/storage/version.go
  vendor/modules.txt
Labels: dependencies, service/storage, size/XL

#14182 build: updating to use Go 1.17.3
  .github/workflows/depscheck.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/gradually-deprecated.yaml
  .github/workflows/link-milestone.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/validate-examples.yaml
  .github/workflows/website-lint.yaml
  .go-version
  README.md
Labels: size/XS, tooling

#13806 New (Beta) Resource: `azurerm_linux_function_app`
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/fx_strings.go
  internal/services/appservice/helpers/shared_schema.go
  internal/services/appservice/helpers/web_app_fx_strings.go
  internal/services/appservice/helpers/web_app_schema.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/parse/function_app.go
  internal/services/appservice/parse/function_app_test.go
  internal/services/appservice/registration.go
  internal/services/appservice/resourceids.go
  internal/services/appservice/service_plan_resource.go
  internal/services/appservice/service_plan_resource_test.go
  internal/services/appservice/validate/function_app_id.go
  internal/services/appservice/validate/function_app_id_test.go
  internal/services/appservice/windows_web_app_resource.go
  utils/bool.go
  website/docs/guides/3.0-app-service-beta.html.markdown
  website/docs/r/linux_function_app.html.markdown
Labels: documentation, new-resource, size/XL, service/functions

#14151 add usage example for ```azurerm_monitor_diagnostic_setting``` integration with ```eventhub```
  examples/azure-monitoring/eventhub_integration/README.md
  examples/azure-monitoring/eventhub_integration/main.tf
  examples/azure-monitoring/redis-cache-monitor/main.tf
  examples/azure-monitoring/redis-cache-monitor/variables.tf
  examples/azure-monitoring/variables.tf
Labels: documentation, size/M

#14204 `r/azurerm_frontdoor`: Fix incorrect validation in `backend_pool_health_probe`
  internal/services/frontdoor/frontdoor_resource.go
Labels: bug, size/XS, service/frontdoor

#14191 azurerm_log_analytics - refactoring to use parsers
  internal/services/loganalytics/log_analytics_linked_service_resource.go
  internal/services/loganalytics/log_analytics_linked_service_resource_test.go
  internal/services/loganalytics/log_analytics_solution_resource.go
  internal/services/loganalytics/log_analytics_solution_resource_test.go
Labels: size/M, service/log-analytics, refactor

#14202 App Service Beta - support for Load Balancer timeouts and VNet Route All.
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/web_app_schema.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_web_app_data_source.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/windows_web_app_data_source.go
  internal/services/appservice/windows_web_app_resource.go
  website/docs/d/linux_web_app.html.markdown
  website/docs/d/windows_web_app.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, size/XL

#14212 GHA Concurrency limit
  .github/workflows/depscheck.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/gradually-deprecated.yaml
  .github/workflows/link-milestone.yaml
  .github/workflows/teamcity-test.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/validate-examples.yaml
  .github/workflows/website-lint.yaml
Labels: size/S, tooling

#14192 `azurerm_mssql_database`: Fix error with OnlineSecondary with auditing on Primary
  internal/services/mssql/mssql_database_extended_auditing_policy_resource_test.go
  internal/services/mssql/mssql_database_resource.go
  internal/services/mssql/mssql_database_resource_test.go
Labels: bug, size/M, service/mssql

#14219 fix azurerm_synapse_workspace_key doc example
  website/docs/r/synapse_workspace_keys.html.markdown
Labels: documentation, size/XS, service/synapse

#14196 communication - adding embedded sdk
  internal/services/communication/sdk/2020-08-20/communicationservice/client.go
  internal/services/communication/sdk/2020-08-20/communicationservice/constants.go
  internal/services/communication/sdk/2020-08-20/communicationservice/id_communicationservice.go
  internal/services/communication/sdk/2020-08-20/communicationservice/id_communicationservice_test.go
  internal/services/communication/sdk/2020-08-20/communicationservice/id_resourcegroup.go
  internal/services/communication/sdk/2020-08-20/communicationservice/id_resourcegroup_test.go
  internal/services/communication/sdk/2020-08-20/communicationservice/id_subscription.go
  internal/services/communication/sdk/2020-08-20/communicationservice/id_subscription_test.go
  internal/services/communication/sdk/2020-08-20/communicationservice/method_checknameavailability_autorest.go
  internal/services/communication/sdk/2020-08-20/communicationservice/method_createorupdate_autorest.go
  internal/services/communication/sdk/2020-08-20/communicationservice/method_delete_autorest.go
  internal/services/communication/sdk/2020-08-20/communicationservice/method_get_autorest.go
  internal/services/communication/sdk/2020-08-20/communicationservice/method_linknotificationhub_autorest.go
  internal/services/communication/sdk/2020-08-20/communicationservice/method_listbyresourcegroup_autorest.go
  internal/services/communication/sdk/2020-08-20/communicationservice/method_listbysubscription_autorest.go
  internal/services/communication/sdk/2020-08-20/communicationservice/method_listkeys_autorest.go
  internal/services/communication/sdk/2020-08-20/communicationservice/method_regeneratekey_autorest.go
  internal/services/communication/sdk/2020-08-20/communicationservice/method_update_autorest.go
  internal/services/communication/sdk/2020-08-20/communicationservice/model_communicationservicekeys.go
  internal/services/communication/sdk/2020-08-20/communicationservice/model_communicationserviceproperties.go
  internal/services/communication/sdk/2020-08-20/communicationservice/model_communicationserviceresource.go
  internal/services/communication/sdk/2020-08-20/communicationservice/model_linkednotificationhub.go
  internal/services/communication/sdk/2020-08-20/communicationservice/model_linknotificationhubparameters.go
  internal/services/communication/sdk/2020-08-20/communicationservice/model_nameavailability.go
  internal/services/communication/sdk/2020-08-20/communicationservice/model_nameavailabilityparameters.go
  internal/services/communication/sdk/2020-08-20/communicationservice/model_regeneratekeyparameters.go
  internal/services/communication/sdk/2020-08-20/communicationservice/model_systemdata.go
  internal/services/communication/sdk/2020-08-20/communicationservice/predicates.go
  internal/services/communication/sdk/2020-08-20/communicationservice/version.go
Labels: dependencies, size/XL, service/communication

#14223 `azurerm_mssql_server`: Fix documentation
  website/docs/r/mssql_server.html.markdown
Labels: documentation, size/XS, service/mssql

#13682 Add per-resource recovery control for soft-deleted key vault items
  internal/features/defaults.go
  internal/features/user_flags.go
  internal/provider/features.go
  internal/provider/features_test.go
  internal/services/keyvault/key_vault_certificate_resource.go
  internal/services/keyvault/key_vault_key_resource.go
  internal/services/keyvault/key_vault_secret_resource.go
Labels: enhancement, waiting-response, service/keyvault, size/L

#13713 r/azurerm_windows_virtual_machine and r/azurerm_windows_virtual_machine_scale_set - secure_boot_enabled, security_type, vtpm_enabled
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: enhancement, documentation, service/virtual-machine, size/XL

#14205 azurerm_storage_account - refactoring to use parsers
  internal/services/storage/parse/storage_account_management_policy.go
  internal/services/storage/parse/storage_account_management_policy_test.go
  internal/services/storage/resourceids.go
  internal/services/storage/storage_account_network_rules_resource.go
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_management_policy_data_source.go
  internal/services/storage/storage_management_policy_resource.go
  internal/services/storage/validate/storage_account_management_policy_id.go
  internal/services/storage/validate/storage_account_management_policy_id_test.go
Labels: service/storage, size/XL, refactor

#14080 `azurerm_storage_account` - add supports of `{table|queue}_encryption_key_type`
  internal/services/storage/storage_account_data_source.go
  internal/services/storage/storage_account_data_source_test.go
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/d/storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: enhancement, documentation, service/storage, size/L

#12385 r/resource_provider_registration - support for managing `features`
  internal/services/resource/client/client.go
  internal/services/resource/parse/feature.go
  internal/services/resource/parse/feature_test.go
  internal/services/resource/resource_provider_registration_resource.go
  internal/services/resource/resource_provider_registration_resource_test.go
  internal/services/resource/validate/feature_id.go
  internal/services/resource/validate/feature_id_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/features.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/version.go
  vendor/modules.txt
  website/docs/r/resource_provider_registration.html.markdown
Labels: enhancement, documentation, dependencies, service/resources, size/XL

#14232 GHA - split concurrency groupings per workflow
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/teamcity-test.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/validate-examples.yaml
Labels: size/XS, tooling

#13607 State migration for storage account resource
  internal/services/storage/helpers/helpers.go
  internal/services/storage/migration/account.go
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
Labels: enhancement, service/storage, size/XL

#14235 `azurerm_cosmosdb_cassandra_datacenter` - add availability zones flag
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource.go
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource_test.go
  website/docs/r/cosmosdb_cassandra_datacenter.html.markdown
Labels: documentation, size/XS, service/cosmosdb

#14237 `azurerm_cosmosdb_cassandra_datacenter` - rename availability_zones to availability_zones_enabled
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource.go
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource_test.go
  website/docs/r/cosmosdb_cassandra_datacenter.html.markdown
Labels: documentation, size/XS, service/cosmosdb

#14020 new resource azurerm_logz_tag_rule
  internal/services/logz/client/client.go
  internal/services/logz/logz_monitor_resource_test.go
  internal/services/logz/logz_tag_rule_resource.go
  internal/services/logz/logz_tag_rule_resource_test.go
  internal/services/logz/parse/logz_tag_rule.go
  internal/services/logz/parse/logz_tag_rule_test.go
  internal/services/logz/registration.go
  internal/services/logz/resourceids.go
  internal/services/logz/validate/logz_tag_rule_id.go
  internal/services/logz/validate/logz_tag_rule_id_test.go
  website/docs/r/logz_monitor.html.markdown
  website/docs/r/logz_tag_rule.html.markdown
Labels: documentation, new-resource, size/XL, service/logz

#13893 New resource: `azurerm_automation_webhook`
  internal/services/automation/automation_webhook.go
  internal/services/automation/automation_webhook_test.go
  internal/services/automation/client/client.go
  internal/services/automation/parse/webhook.go
  internal/services/automation/parse/webhook_test.go
  internal/services/automation/registration.go
  internal/services/automation/resourceids.go
  internal/services/automation/validate/webhook_id.go
  internal/services/automation/validate/webhook_id_test.go
  website/docs/r/automation_webhook.html.markdown
Labels: documentation, new-resource, size/XL, service/automation

#14172 `azurerm_sql_active_directory_administrator` - Support for `azuread_authentication_only`
  internal/services/sql/client/client.go
  internal/services/sql/sql_administrator_resource.go
  internal/services/sql/sql_administrator_resource_test.go
  website/docs/r/sql_active_directory_administrator.html.markdown
Labels: enhancement, documentation, size/M, service/mssql

#14169 `azurerm_mssql_server` - support `azuread_authentication_only` on create
  internal/services/mssql/mssql_server_resource.go
  internal/services/mssql/mssql_server_resource_test.go
Labels: bug, size/S, service/mssql

#14200 Support new property flow_timeout_in_minutes for azurerm_virtual_network
  internal/services/network/virtual_network_resource.go
  internal/services/network/virtual_network_resource_test.go
  website/docs/r/virtual_network.html.markdown
Labels: enhancement, documentation, service/virtual-networks, size/M

#14119 New Resource: azurerm_monitor_private_link_scoped_service
  internal/services/monitor/client/client.go
  internal/services/monitor/monitor_private_link_scoped_service_resource.go
  internal/services/monitor/monitor_private_link_scoped_service_resource_test.go
  internal/services/monitor/parse/private_link_scoped_service.go
  internal/services/monitor/parse/private_link_scoped_service_test.go
  internal/services/monitor/registration.go
  internal/services/monitor/resourceids.go
  internal/services/monitor/validate/private_link_scoped_service_id.go
  internal/services/monitor/validate/private_link_scoped_service_id_test.go
  website/docs/r/monitor_private_link_scoped_service.html.markdown
Labels: documentation, size/XL, service/monitor

#14225 `azurerm_key_vault_certificate` - Make `certificate_policy` optional for imported certs
  internal/services/keyvault/key_vault_certificate_resource.go
  internal/services/keyvault/key_vault_certificate_resource_test.go
  website/docs/r/key_vault_certificate.html.markdown
Labels: enhancement, documentation, service/keyvault, size/L

#14217 `r\purview_account`: Add support for `managed_resource_group_name`
  internal/services/purview/purview_account_resource.go
  internal/services/purview/purview_account_resource_test.go
  website/docs/r/purview_account.html.markdown
Labels: documentation, size/S, service/purview

#14228 `azurerm_public_ip_prefix` - Support for `ip_version` to support `IPv6`
  internal/services/network/public_ip_prefix_resource.go
  internal/services/network/public_ip_prefix_resource_test.go
  website/docs/r/public_ip_prefix.html.markdown
Labels: enhancement, documentation, service/public-ip, size/M

#13843 r/postgresql_flexible_server: `zone` and `standby_availability_zone` are no longer computed
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: bug, documentation, size/M, service/postgresql

#14190 GHA link-milestone for PRs from forked repos
  .github/workflows/link-milestone.yaml
Labels: size/XS, tooling

#14218 Support `EncryptionAtRestWithPlatformAndCustomerKeys` in disk encryption
  internal/services/compute/disk_encryption_set.go
  internal/services/compute/disk_encryption_set_resource.go
  internal/services/compute/disk_encryption_set_resource_test.go
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/windows_virtual_machine_resource.go
  website/docs/r/disk_encryption_set.html.markdown
Labels: enhancement, documentation, waiting-response, service/disks, size/M

#14246 Logic App Standard: Fix tests
  internal/services/logic/logic_app_standard_resource_test.go
Labels: size/XL, service/logic, tests

#14208 fix `redis_cache_id` issue for the resource `api_management_redis_cache`
  internal/services/apimanagement/api_management_redis_cache_resource.go
Labels: size/XS

#14255 `azurerm_orchestrated_virtual_machine_scale_set` - address PR comments
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#14253 `azurerm_key_vault_managed_hardware_security_module` - extend context timeouts for create and delete.
  internal/services/keyvault/key_vault_managed_hardware_security_module_resource..go
  website/docs/r/key_vault_managed_hardware_security_module.html.markdown
Labels: documentation, service/keyvault, size/XS

#14250 `azurerm_elastic_pool` - Support for Fsv2 family
  internal/services/mssql/helper/elasticpool.go
  internal/services/mssql/mssql_elasticpool_resource.go
  internal/services/mssql/mssql_elasticpool_resource_test.go
  website/docs/r/mssql_elasticpool.html.markdown
Labels: enhancement, documentation, size/S, service/mssql

#14238 azurerm_backup_protected_file_share: Fix issue about file share is added to an exist storage account but it cannot be listed by Backup Protectable Items
  internal/services/recoveryservices/backup_protected_file_share_resource.go
  internal/services/recoveryservices/backup_protected_file_share_resource_test.go
  internal/services/recoveryservices/client/client.go
Labels: bug, size/L, service/backup

#14227 New attribute for `r/virtual_desktop_application_group`
  internal/services/desktopvirtualization/virtual_desktop_application_group_resource.go
  internal/services/desktopvirtualization/virtual_desktop_application_group_resource_test.go
  website/docs/r/virtual_desktop_application_group.html.markdown
Labels: enhancement, documentation, size/M, service/virtual-desktops

#14252 `azurerm_stream_analytics_output_servicebus_topic` add `property_columns` attribute
  internal/services/streamanalytics/stream_analytics_output_servicebus_topic_resource.go
  internal/services/streamanalytics/stream_analytics_output_servicebus_topic_resource_test.go
  website/docs/r/stream_analytics_output_servicebus_topic.html.markdown
Labels: enhancement, documentation, size/M, service/stream-analytics

#14145 New resource `azurerm_storage_disks_pool`
  internal/provider/services.go
  internal/resourceproviders/required.go
  internal/services/network/subnet_resource.go
  internal/services/storage/client/client.go
  internal/services/storage/parse/storage_disks_pool.go
  internal/services/storage/parse/storage_disks_pool_test.go
  internal/services/storage/registration.go
  internal/services/storage/resourceids.go
  internal/services/storage/storage_disks_pool_resource.go
  internal/services/storage/storage_disks_pool_resource_test.go
  internal/services/storage/validate/storage_disks_pool_id.go
  internal/services/storage/validate/storage_disks_pool_id_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagepool/mgmt/2021-08-01/storagepool/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/storagepool/mgmt/2021-08-01/storagepool/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/storagepool/mgmt/2021-08-01/storagepool/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagepool/mgmt/2021-08-01/storagepool/diskpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagepool/mgmt/2021-08-01/storagepool/diskpoolzones.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagepool/mgmt/2021-08-01/storagepool/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagepool/mgmt/2021-08-01/storagepool/iscsitargets.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagepool/mgmt/2021-08-01/storagepool/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagepool/mgmt/2021-08-01/storagepool/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagepool/mgmt/2021-08-01/storagepool/resourceskus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storagepool/mgmt/2021-08-01/storagepool/version.go
  vendor/modules.txt
  website/docs/r/storage_disks_pool.html.markdown
Labels: documentation, dependencies, service/storage, size/XL

#14142 `azurerm_kubernetes_cluster` - Support for `outbound_type = "*NATGateway"` and `nat_gateway_profile`
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/XL, service/kubernetes-cluster, preview

#14096 `azurerm_container_registry` - add supports of `anonymous_pull_enabled`, `data_endpoint_enabled` and `network_rule_bypass_option`
  internal/services/containers/container_registry_resource.go
  internal/services/containers/container_registry_resource_test.go
  website/docs/r/container_registry.html.markdown
Labels: enhancement, service/container-registry

#14113 F/14092 expand pricing tier options
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource.go
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource_test.go
Labels: size/M

#14137 `r\managed_disk` Add support for `on_demand_bursting_enabled`
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/managed_disk_resource_test.go
  website/docs/r/managed_disk.html.markdown
Labels: enhancement, documentation, service/disks, size/M

#14079 Enchancing `azurerm_key_vault_certificate` by making `tags` updatable due to #13315
  internal/services/keyvault/key_vault_certificate_resource.go
  internal/services/keyvault/key_vault_certificate_resource_test.go
  website/docs/r/key_vault_certificate.html.markdown
Labels: enhancement, documentation, service/keyvault, size/M

#14215 tags: remove transition file from packages that were swapped to the embedded sdk
  internal/services/analysisservices/analysis_services_server_resource.go
  internal/services/analysisservices/transform.go
  internal/services/appconfiguration/app_configuration_data_source.go
  internal/services/appconfiguration/app_configuration_resource.go
  internal/services/appconfiguration/transform.go
  internal/services/attestation/attestation_provider_data_source.go
  internal/services/attestation/attestation_provider_resource.go
  internal/services/attestation/transition.go
  internal/services/databricks/databricks_workspace_data_source.go
  internal/services/databricks/databricks_workspace_resource.go
  internal/services/databricks/transition.go
  internal/services/datalake/data_lake_analytics_account_resource.go
  internal/services/datalake/data_lake_store_data_source.go
  internal/services/datalake/data_lake_store_resource.go
  internal/services/datalake/transition.go
  internal/services/eventhub/eventhub_cluster_resource.go
  internal/services/eventhub/eventhub_namespace_data_source.go
  internal/services/eventhub/eventhub_namespace_resource.go
  internal/services/eventhub/transition.go
  internal/services/frontdoor/frontdoor_firewall_policy_resource.go
  internal/services/frontdoor/frontdoor_resource.go
  internal/services/frontdoor/transition.go
  internal/services/powerbi/powerbi_embedded_resource.go
  internal/services/powerbi/transform.go
  internal/services/relay/relay_namespace_resource.go
  internal/services/relay/transform.go
  internal/services/signalr/signalr_service_data_source.go
  internal/services/signalr/signalr_service_resource.go
  internal/services/signalr/transform.go
  internal/services/vmware/transform.go
  internal/services/vmware/vmware_private_cloud_data_source.go
  internal/services/vmware/vmware_private_cloud_resource.go
Labels: size/XL, refactor

#14199 `r\managed_disk`: Add support for `public_network_access_enabled`
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/managed_disk_resource_test.go
  website/docs/r/managed_disk.html.markdown
Labels: documentation, service/disks, size/M

#13984 cognitive: switching to use the embedded sdk
  internal/services/cognitive/client/client.go
  internal/services/cognitive/cognitive_account_customer_managed_key_resource.go
  internal/services/cognitive/cognitive_account_customer_managed_key_resource_test.go
  internal/services/cognitive/cognitive_account_data_source.go
  internal/services/cognitive/cognitive_account_resource.go
  internal/services/cognitive/cognitive_account_resource_test.go
  internal/services/cognitive/transition.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/deletedaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/resourceskus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/cognitiveservices/mgmt/2021-04-30/cognitiveservices/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/cognitive-services

#14257 Fix #13981 - Updated documentation for App service environment V3
  website/docs/d/app_service_environment_v3.html.markdown
  website/docs/r/app_service_environment_v3.html.markdown
Labels: documentation, size/XS, service/app-service

#14229 Set TLS default to 1.2 behind 3.0 feature flag.
  internal/services/mssql/mssql_server_resource.go
  internal/services/mysql/mysql_server_resource.go
  internal/services/postgres/postgresql_server_resource.go
  internal/services/redis/redis_cache_resource.go
  internal/services/storage/storage_account_resource.go
Labels: enhancement, service/storage, size/S, service/mssql, service/redis, service/postgresql, service/mysql

#14082 New resources `azurerm_stream_analytics_cluster` and `azurerm_stream_analytics_managed_private_endpoint`
  internal/services/streamanalytics/client/client.go
  internal/services/streamanalytics/parse/cluster.go
  internal/services/streamanalytics/parse/cluster_test.go
  internal/services/streamanalytics/parse/private_endpoint.go
  internal/services/streamanalytics/parse/private_endpoint_test.go
  internal/services/streamanalytics/registration.go
  internal/services/streamanalytics/resourceids.go
  internal/services/streamanalytics/stream_analytics_cluster_resource.go
  internal/services/streamanalytics/stream_analytics_cluster_resource_test.go
  internal/services/streamanalytics/stream_analytics_job_resource.go
  internal/services/streamanalytics/stream_analytics_job_resource_test.go
  internal/services/streamanalytics/stream_analytics_managed_private_endpoint_resource.go
  internal/services/streamanalytics/stream_analytics_managed_private_endpoint_resource_test.go
  internal/services/streamanalytics/validate/cluster_id.go
  internal/services/streamanalytics/validate/cluster_id_test.go
  internal/services/streamanalytics/validate/private_endpoint_id.go
  internal/services/streamanalytics/validate/private_endpoint_id_test.go
  website/docs/r/stream_analytics_cluster.html.markdown
  website/docs/r/stream_analytics_job.html.markdown
  website/docs/r/stream_analytics_managed_private_endpoint.html.markdown
Labels: documentation, new-resource, size/XL, service/stream-analytics

#14270 `azurerm_mssql_elasticpool` - Support for DC family
  internal/services/mssql/helper/elasticpool.go
  internal/services/mssql/mssql_elasticpool_resource.go
  internal/services/mssql/mssql_elasticpool_resource_test.go
  website/docs/r/mssql_elasticpool.html.markdown
Labels: enhancement, documentation, size/M, service/mssql

#14264 Allow creation of `azurerm_stream_analytics_stream_input_eventhub` with the default `eventhub_consumer_group_name`
  internal/services/streamanalytics/stream_analytics_stream_input_eventhub_resource.go
  internal/services/streamanalytics/stream_analytics_stream_input_eventhub_resource_test.go
  website/docs/r/stream_analytics_stream_input_eventhub.html.markdown
Labels: bug, documentation, size/M, service/stream-analytics

#14263 Fix acctests for `azurerm_sentinel_alert_rule_tempalte` datasource
  internal/services/sentinel/sentinel_alert_rule_template_data_source_test.go
Labels: size/XS, tests, service/sentinel

#14262 `azurerm_automation_rule` - add supports for `expiration`
  internal/services/sentinel/sentinel_automation_rule_resource.go
  internal/services/sentinel/sentinel_automation_rule_resource_test.go
  website/docs/r/sentinel_automation_rule.html.markdown
Labels: enhancement, documentation, size/S, service/sentinel

#14277 Swap Relay parser and validator with EventHub
  internal/services/monitor/monitor_diagnostic_setting_resource.go
Labels: bug, size/XS, service/monitor

#14294 `azurerm_stream_analytics_job` allow 1.2 for `compatibility_level`
  internal/services/streamanalytics/stream_analytics_job_resource.go
  internal/services/streamanalytics/stream_analytics_job_resource_test.go
  website/docs/r/stream_analytics_job.html.markdown
Labels: enhancement, documentation, size/XS, service/stream-analytics

#14284 Docs: Add examples of built-ins roles needed by data lake gen2
  website/docs/r/storage_data_lake_gen2_filesystem.html.markdown
  website/docs/r/storage_data_lake_gen2_path.html.markdown
Labels: documentation, service/storage, size/XS

#14274 azurerm_dev_test - Updating dev_test_lab and dev_test_lab_policy with parser and migration
  internal/services/devtestlabs/dev_test_lab_resource.go
  internal/services/devtestlabs/dev_test_lab_resource_test.go
  internal/services/devtestlabs/dev_test_policy_resource.go
  internal/services/devtestlabs/dev_test_policy_resource_test.go
  internal/services/devtestlabs/migration/dev_test_lab.go
  internal/services/devtestlabs/migration/dev_test_lab_test.go
  internal/services/devtestlabs/migration/dev_test_policy.go
  internal/services/devtestlabs/migration/dev_test_policy_test.go
  internal/services/devtestlabs/parse/dev_test_lab.go
  internal/services/devtestlabs/parse/dev_test_lab_policy.go
  internal/services/devtestlabs/parse/dev_test_lab_policy_test.go
  internal/services/devtestlabs/parse/dev_test_lab_test.go
  internal/services/devtestlabs/resourceids.go
  internal/services/devtestlabs/validate/dev_test_lab_id.go
  internal/services/devtestlabs/validate/dev_test_lab_id_test.go
  internal/services/devtestlabs/validate/dev_test_lab_policy_id.go
  internal/services/devtestlabs/validate/dev_test_lab_policy_id_test.go
Labels: size/XL, service/devtestlabs, refactor

#14275 `azurerm_synapse_workspace` - Fix nilpointer for `sql_aad_admin`
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/synapse/synapse_workspace_resource_test.go
Labels: bug, size/M, service/synapse

#14281 Fix typo in `kubernetes_cluster_node_pool` resource doc
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: enhancement, documentation, size/XS, service/kubernetes-cluster

#14292 `azurerm_frontdoor_rules_engine` - Fix panic
  internal/services/frontdoor/frontdoor_rules_engine_rule.go
Labels: bug, size/XS, service/frontdoor

#14296 Add check for existing resource when creating new resource
  internal/services/servicefabricmanaged/service_fabric_managed_cluster_resource.go
  internal/services/servicefabricmanaged/service_fabric_managed_cluster_resource_test.go
Labels: enhancement, size/M, service/service-fabric-managed-cluster

#14289 `azurerm_eventhub_consumer_group` add state migration for resource ID
  internal/sdk/resource.go
  internal/sdk/wrapper_resource.go
  internal/services/eventhub/eventhub_consumer_group_resource.go
  internal/services/eventhub/migration/consumer_group.go
  internal/services/eventhub/migration/consumer_group_test.go
  website/docs/r/eventhub_consumer_group.html.markdown
Labels: bug, documentation, size/M, service/event-hubs

#14302 [docs] Remove unsupported argument "tier" from iothub examples.
  website/docs/r/iothub_endpoint_eventhub.html.markdown
  website/docs/r/iothub_endpoint_servicebus_queue.html.markdown
  website/docs/r/iothub_endpoint_servicebus_topic.html.markdown
Labels: documentation, size/XS

#14300 `azurerm_recovery_services_vault` Update doc modify example code to meet service side's constraint, update `name` field description
  website/docs/r/recovery_services_vault.html.markdown
Labels: documentation, size/XS

#14306 azurerm_dev_test - refactored with parsers and migration
  internal/services/devtestlabs/dev_test_lab_schedule_resource.go
  internal/services/devtestlabs/dev_test_lab_schedule_resource_test.go
  internal/services/devtestlabs/dev_test_linux_virtual_machine_resource.go
  internal/services/devtestlabs/dev_test_linux_virtual_machine_resource_test.go
  internal/services/devtestlabs/dev_test_virtual_network_resource.go
  internal/services/devtestlabs/dev_test_virtual_network_resource_test.go
  internal/services/devtestlabs/dev_test_windows_virtual_machine_resource.go
  internal/services/devtestlabs/dev_test_windows_virtual_machine_resource_test.go
  internal/services/devtestlabs/migration/dev_test_lab_schedule.go
  internal/services/devtestlabs/migration/dev_test_lab_schedule_test.go
  internal/services/devtestlabs/migration/dev_test_linux_virtual_machine.go
  internal/services/devtestlabs/migration/dev_test_linux_virtual_machine_test.go
  internal/services/devtestlabs/migration/dev_test_virtual_network.go
  internal/services/devtestlabs/migration/dev_test_virtual_network_test.go
  internal/services/devtestlabs/migration/dev_test_windows_virtual_machine.go
  internal/services/devtestlabs/migration/dev_test_windows_virtual_machine_test.go
  internal/services/devtestlabs/parse/dev_test_lab_schedule.go
  internal/services/devtestlabs/parse/dev_test_lab_schedule_test.go
  internal/services/devtestlabs/parse/dev_test_virtual_machine.go
  internal/services/devtestlabs/parse/dev_test_virtual_machine_test.go
  internal/services/devtestlabs/parse/dev_test_virtual_network.go
  internal/services/devtestlabs/parse/dev_test_virtual_network_test.go
  internal/services/devtestlabs/resourceids.go
  internal/services/devtestlabs/validate/dev_test_lab_schedule_id.go
  internal/services/devtestlabs/validate/dev_test_lab_schedule_id_test.go
  internal/services/devtestlabs/validate/dev_test_virtual_machine_id.go
  internal/services/devtestlabs/validate/dev_test_virtual_machine_id_test.go
  internal/services/devtestlabs/validate/dev_test_virtual_network_id.go
  internal/services/devtestlabs/validate/dev_test_virtual_network_id_test.go
Labels: size/XL, service/devtestlabs, refactor

#14327 docs: fix wrong documentation of max_pid featore of azurerm_kubernetes_cluster_node_pool
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#14236 `azurerm_orchestrated_virtual_machine_scale_set` - add extension support
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_extensions_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_identity_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_legacy_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_network_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XL

#14332 docs: backup_instance_disk: add necessary identity block
  website/docs/r/data_protection_backup_instance_disk.html.markdown
Labels: documentation, size/XS

#12764 New Resource: `azurerm_static_site_custom_domain`
  internal/services/web/parse/static_site_custom_domain.go
  internal/services/web/parse/static_site_custom_domain_test.go
  internal/services/web/registration.go
  internal/services/web/resourceids.go
  internal/services/web/static_site_custom_domain_resource.go
  internal/services/web/static_site_resource_custom_domain_test.go
  internal/services/web/validate/static_site_custom_domain_id.go
  internal/services/web/validate/static_site_custom_domain_id_test.go
  website/docs/r/static_site_custom_domain.html.markdown
Labels: documentation, new-resource, size/XL, service/static-site

#14288 `azurerm_service_plan` (beta) - add Logic App SKUs to validation.
  internal/services/appservice/service_plan_resource.go
  website/docs/r/service_plan.html.markdown
Labels: enhancement, documentation, size/XS, service/app-service

#14042 Read patch_mode in resourceLinuxVirtualMachineRead
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_auth_test.go
Labels: bug, service/virtual-machine, size/XS

#14211 Fix function slot WEBSITE_CONTENTSHARE secretly changes
  internal/services/web/function_app_slot_resource.go
Labels: size/S, service/functions

#14350 Add 'optional' keyword to aks->aad->managed bool in the Docs
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#14328 docs: backup_instance_disk: fix example
  website/docs/r/data_protection_backup_instance_disk.html.markdown
Labels: documentation, size/XS, service/backup
