Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2021-06, with the labels that each got.

#12015 Add sensitive to instrumentation_key docs
  website/docs/r/application_insights.html.markdown
Labels: documentation, size/XS

#12030 Migrate most GitHub HashiBot behaviors to GitHub Actions
  .github/labeler-issue-triage.yml
  .github/labeler-pull-request-triage.yml
  .github/workflows/issue-comment-created.yaml
  .github/workflows/issue-opened.yaml
  .github/workflows/pull-request.yaml
  .hashibot.hcl
Labels: provider, size/M

#11984 `kubernetes_cluster`: Support for `gateway_name` for Application Gateway add-on
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/containers/kubernetes_cluster_addons_resource_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/S

#11812 New resource `azurerm_vmware_express_route_authorization`
  azurerm/internal/services/vmware/client/client.go
  azurerm/internal/services/vmware/parse/express_route_authorization.go
  azurerm/internal/services/vmware/parse/express_route_authorization_test.go
  azurerm/internal/services/vmware/registration.go
  azurerm/internal/services/vmware/resourceids.go
  azurerm/internal/services/vmware/validate/express_route_authorization_id.go
  azurerm/internal/services/vmware/validate/express_route_authorization_id_test.go
  azurerm/internal/services/vmware/vmware_express_route_authorization_resource.go
  azurerm/internal/services/vmware/vmware_express_route_authorization_resource_test.go
  website/docs/r/vmware_express_route_authorization.html.markdown
Labels: dependencies, documentation, new-resource, service/vmware, size/XL

#12025 r/azurerm_api_management_api_subscription: support for `api_id`
  azurerm/internal/services/apimanagement/api_management_subscription_resource.go
  azurerm/internal/services/apimanagement/api_management_subscription_resource_test.go
  website/docs/r/api_management_subscription.html.markdown
Labels: documentation, enhancement, service/api-management, size/M

#12022 Set `active_directory` in `azurerm_storage_account` Computed
  azurerm/internal/services/storage/storage_account_resource.go
Labels: bug, service/storage, size/XS

#12014 refactor "azurerm_data_factory" to use generated resource id
  azurerm/internal/services/datafactory/data_factory_data_source.go
  azurerm/internal/services/datafactory/data_factory_resource.go
  azurerm/internal/services/datafactory/data_factory_resource_test.go
  azurerm/internal/services/datafactory/parse/data_factory.go
  azurerm/internal/services/datafactory/parse/data_factory_test.go
  azurerm/internal/services/datafactory/resourceids.go
  azurerm/internal/services/datafactory/validate/data_factory_id.go
  azurerm/internal/services/datafactory/validate/data_factory_id_test.go
Labels: refactor, service/data-factory, size/XL

#12005 Add ID attribute to postgres server data source
  website/docs/d/postgresql_server.html.markdown
Labels: documentation, service/postgresql, size/XS

#11960 Fix `containerDeleteRetentionPolicy` and `lastAccessTimeTrackingPolicy` are not supported in AzureUSGovernment
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: bug, documentation, service/storage, size/L

#11848 "azurerm_role_assignment" supports property "delegated_managed_identity_resource_id"
  azurerm/internal/services/authorization/parse/role_assignment.go
  azurerm/internal/services/authorization/parse/role_assignment_test.go
  azurerm/internal/services/authorization/role_assignment_resource.go
  azurerm/internal/services/authorization/role_assignment_resource_test.go
  website/docs/r/role_assignment.html.markdown
Labels: documentation, enhancement, service/roles, size/L

#12029 `azurerm_kubernetes_cluster`: Support update of `azure_rbac_enabled`
  azurerm/internal/services/containers/kubernetes_cluster_auth_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#11635 `azurem_kubernetes_cluster`/`azurerm_kubernetes_cluster_node_pool`: support for `node_public_ip_prefix_id`
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source_test.go
  azurerm/internal/services/containers/kubernetes_cluster_network_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  azurerm/internal/services/containers/kubernetes_nodepool.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/d/kubernetes_cluster_node_pool.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, service/kubernetes-cluster, size/L

#12040 `azurerm_kubernetes_cluster`: docs regarding Public Preview `azure_rbac_enabled` removed
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, service/kubernetes-cluster, size/XS

#12051 Update app_service_certificate_binding.html.markdown
  website/docs/r/app_service_certificate_binding.html.markdown
Labels: documentation, size/XS

#11744 New resource `azurerm_storage_object_replication_policy`
  azurerm/internal/services/storage/client/client.go
  azurerm/internal/services/storage/parse/object_replication.go
  azurerm/internal/services/storage/parse/object_replication_test.go
  azurerm/internal/services/storage/registration.go
  azurerm/internal/services/storage/storage_object_replication_resource.go
  azurerm/internal/services/storage/storage_object_replication_resource_test.go
  azurerm/internal/services/storage/validate/object_replication.go
  azurerm/internal/services/storage/validate/object_replication_id.go
  azurerm/internal/services/storage/validate/object_replication_id_test.go
  website/docs/r/storage_object_replication.html.markdown
Labels: documentation, service/storage, size/XXL

#11955 add resource azurerm_data_protection_backup_vault
  .teamcity/components/generated/services.kt
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/resourceproviders/required.go
  azurerm/internal/services/dataprotection/client/client.go
  azurerm/internal/services/dataprotection/data_protection_backup_vault_resource.go
  azurerm/internal/services/dataprotection/data_protection_backup_vault_resource_test.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/backupinstances.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/backuppolicies.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/backupvaults.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/client.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/enums.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/exportjobs.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/exportjobsoperationresult.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/findrestorabletimeranges.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/job.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/jobs.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/models.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/operationresult.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/operations.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/recoverypoint.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/recoverypoints.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/version.go
  azurerm/internal/services/dataprotection/parse/backup_vault.go
  azurerm/internal/services/dataprotection/parse/backup_vault_test.go
  azurerm/internal/services/dataprotection/registration.go
  azurerm/internal/services/dataprotection/resourceids.go
  azurerm/internal/services/dataprotection/validate/backup_vault_id.go
  azurerm/internal/services/dataprotection/validate/backup_vault_id_test.go
  go.mod
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/data_protection_backup_vault.html.markdown
Labels: new-resource, service/data-protection, size/XXL

#12008 `postgres_server`: Update Postgres server admin password only on change
  azurerm/internal/services/postgres/postgresql_server_resource.go
Labels: bug, service/postgresql, size/XS

#12026 azurerm_app_service_environment - support for `internal_ip_address`, `service_ip_address`, `outbound_ip_addresses`
  azurerm/internal/services/web/app_service_environment_resource.go
  website/docs/r/app_service_environment.html.markdown
Labels: documentation, enhancement, service/app-service, size/S

#12056 Fix acctests for `azurerm_api_management`
  azurerm/internal/services/apimanagement/api_management_resource_test.go
Labels: size/M

#11752 Support for `UserAssignedIdentity` in `azurerm_storage_account`
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/L

#11847 fix a crash when body format changed
  azurerm/internal/services/logic/logic_app_action_http_resource.go
Labels: breaking-change, bug, service/logic, size/S

#11670 Refactor `azurerm_network_watcher_flow_log` and add supports for `location` and `tags`
  azurerm/internal/services/datafactory/data_factory_resource.go
  azurerm/internal/services/datafactory/data_factory_resource_test.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/backupinstances.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/backuppolicies.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/backupvaults.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/client.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/exportjobs.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/exportjobsoperationresult.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/findrestorabletimeranges.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/job.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/jobs.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/models.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/operationresult.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/operations.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/recoverypoint.go
  azurerm/internal/services/dataprotection/legacysdk/dataprotection/recoverypoints.go
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/network_connection_monitor_resource_test.go
  azurerm/internal/services/network/network_packet_capture_resource_test.go
  azurerm/internal/services/network/network_watcher_data_source_test.go
  azurerm/internal/services/network/network_watcher_flow_log_resource.go
  azurerm/internal/services/network/network_watcher_flow_log_resource_test.go
  azurerm/internal/services/network/network_watcher_resource_test.go
  azurerm/internal/services/network/packet_capture_resource_test.go
  azurerm/internal/services/network/parse/flow_log.go
  website/docs/r/network_watcher_flow_log.html.markdown
Labels: documentation, enhancement, service/network-watcher, size/XL

#12062 BUG: Read on tags incorrectly sets all tag values to last value in EventHub and AppConfiguration
  azurerm/internal/services/appconfiguration/transform.go
  azurerm/internal/services/eventhub/eventhub_namespace_resource_test.go
  azurerm/internal/services/eventhub/transition.go
Labels: bug, service/app-configuration, service/event-hubs, size/XS

#12049 `azurerm_kubernetes_cluster`: Support migration of `service_principal` to `identity`
  azurerm/internal/services/containers/kubernetes_cluster_auth_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/M

#12067 `monitor_autoscale_setting.html.markdown` - mark `rule` block optional
  website/docs/r/monitor_autoscale_setting.html.markdown
Labels: documentation, service/monitor, size/XS

#12075 fix spelling of compatibility in GitHub workflows
  .github/workflows/thirty-two-bit.yaml
Labels: size/XS

#12066 `azurerm_subscription` - fix ability to specify `DevTest` as `workload`
  azurerm/internal/services/subscription/subscription_resource.go
  azurerm/internal/services/subscription/subscription_resource_test.go
Labels: bug, service/subscription, size/S

#12092 `api_management_subscription.html.markdown` - added `primary_key` and `secondary_key` to docs
  website/docs/r/api_management_subscription.html.markdown
Labels: documentation, service/api-management, size/XS

#12037 `azurerm_kubernetes_cluster`: Support for BYO `kubelet_identity`
  azurerm/internal/services/containers/kubernetes_cluster_auth_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/L

#11855 Support for Debuggable Provider Binaries
  main.go
Labels: provider, size/XS

#12080 fix error creating zone-redundant ip in central us euap
  azurerm/internal/services/network/public_ip_prefix_resource.go
  azurerm/internal/services/network/public_ip_resource.go
Labels: bug, provider, size/XS

#12098 `data.azurerm_synapse_workspace`: Add `identity` attribute
  azurerm/internal/services/synapse/synapse_workspace_data_source.go
  azurerm/internal/services/synapse/synapse_workspace_data_source_test.go
  website/docs/d/synapse_workspace.html.markdown
Labels: documentation, service/synapse, size/S

#12076 `azurerm_role_assignment`: Fix assignments to resources
  azurerm/helpers/azure/resourceid.go
  azurerm/helpers/azure/resourceid_test.go
  azurerm/internal/services/authorization/parse/role_assignment.go
  azurerm/internal/services/authorization/parse/role_assignment_test.go
  azurerm/internal/services/authorization/role_assignment_resource_test.go
Labels: bug, service/roles, size/L

#12116 dependencies: vendoring v0.16.5 of github.com/hashicorp/go-azure-helpers
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/resourceids/ids.go
  vendor/modules.txt
Labels: dependencies, size/S

#12118 testing: running tests using Terraform 1.0
  .teamcity/components/settings.kt
Labels: size/XS, tests

#12121 docs: update start_date to make example valid
  website/docs/r/consumption_budget_resource_group.html.markdown
  website/docs/r/consumption_budget_subscription.html.markdown
Labels: documentation, size/XS

#12117 `azurerm_data_factory_linked_service_sql_server`: add `key_vault_connection_string` argument
  azurerm/internal/services/datafactory/data_factory.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_databricks_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_snowflake_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sql_server_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_sql_server_resource_test.go
  azurerm/internal/services/datafactory/data_factory_linked_service_synapse_resource.go
  website/docs/r/data_factory_linked_service_sql_server.html.markdown
Labels: documentation, enhancement, service/data-factory, size/L

#12120 Guest config docs
  website/docs/r/virtual_machine_configuration_policy_assignment.html.markdown
Labels: documentation, size/S

#12144 `role_definition.html.markdown` - Swap description for `id` and `role_definition_id`
  website/docs/r/role_definition.html.markdown
Labels: documentation, service/roles, size/XS

#12139 `azurerm_data_factory_linked_service_azure_sql_database`: add `key_vault_connection_string_property`
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource_test.go
  website/docs/r/data_factory_linked_service_azure_sql_database.html.markdown
  website/docs/r/role_assignment.html.markdown
Labels: documentation, service/data-factory, size/M

#11693 Support for `composite_index` and `partition_key_version` in `azurerm_cosmosdb_gremlin_graph`
  azurerm/internal/services/cosmos/common/indexing_policy.go
  azurerm/internal/services/cosmos/common/schema.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource_test.go
  website/docs/r/cosmosdb_gremlin_graph.html.markdown
Labels: documentation, service/cosmosdb, size/L

#11789 azurerm_virtual_network_gateway - mark `peering_addresses` as O+C
  azurerm/internal/services/network/virtual_network_gateway_resource.go
Labels: bug, service/virtual-network-gateway, size/XS

#12165 remove duplicate property
  azurerm/internal/services/network/virtual_network_gateway_resource.go
Labels: size/XS

#12164 "azurerm_sentinel_alert_rule_scheduled" - Fix query frequency validation
  azurerm/internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
Labels: bug, service/sentinel, size/XS

#12160 "azurerm_virtual_desktop_* version upgrade: 2019-12-10-preview -> 2020-11-02-preview & azurerm_virtual_desktop_host_pool - suppot start_vm_on_connect
  azurerm/internal/services/desktopvirtualization/client/client.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_application_group_resource.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_host_pool_resource.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_host_pool_resource_test.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_workspace_application_group_association_resource.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_workspace_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/applicationgroups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/applications.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/desktops.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/hostpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/msiximages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/msixpackages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/sessionhosts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/startmenuitems.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/usersessions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/desktopvirtualization/mgmt/2020-11-02-preview/desktopvirtualization/workspaces.go
  vendor/modules.txt
  website/docs/r/virtual_desktop_host_pool.html.markdown
Labels: dependencies, documentation, enhancement, service/virtual-desktops, size/XXL

#12041 azurerm_data_factory_dataset_delimited_text - supports the `azure_blob_fs_location` property
  azurerm/internal/services/datafactory/data_factory.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource_test.go
  website/docs/r/data_factory_dataset_delimited_text.html.markdown
Labels: documentation, enhancement, service/data-factory, size/L

#12043 Add support for status property of azurerm_eventhub
  azurerm/internal/services/eventhub/eventhub_resource.go
  azurerm/internal/services/eventhub/eventhub_resource_test.go
  website/docs/r/eventhub.html.markdown
Labels: documentation, enhancement, service/event-hubs, size/M

#12142 `azurerm_storage_account_customer_managed_key` - allow use of keys from key vaults in remote subscription
  azurerm/internal/acceptance/testcase.go
  azurerm/internal/services/keyvault/client/client.go
  azurerm/internal/services/keyvault/client/helpers.go
  azurerm/internal/services/storage/storage_account_customer_managed_key_resource.go
  azurerm/internal/services/storage/storage_account_customer_managed_key_resource_test.go
Labels: service/storage, size/M, tests

#12152 new resource "azurerm_data_factory_linked_service_kusto"
  azurerm/internal/services/datafactory/data_factory_linked_service_kusto_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_kusto_resource_test.go
  azurerm/internal/services/datafactory/registration.go
  website/docs/r/data_factory_linked_service_kusto.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#12122 new resource "azurerm_data_factory_linked_service_azure_search"
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_search_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_search_resource_test.go
  azurerm/internal/services/datafactory/registration.go
  website/docs/r/data_factory_linked_service_azure_search.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#12136 "azurerm_data_factory_linked_service_data_lake_storage_gen2" - supports property "storage_account_key"
  azurerm/internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource_test.go
  website/docs/r/data_factory_linked_service_data_lake_storage_gen2.html.markdown
Labels: documentation, enhancement, service/data-factory, size/M

#12085 Add support for multiple auth types for azurerm_vpn_server_configuration
  azurerm/internal/services/network/vpn_server_configuration_resource.go
  azurerm/internal/services/network/vpn_server_configuration_resource_test.go
  website/docs/r/vpn_server_configuration.html.markdown
Labels: documentation, enhancement, service/vpn, size/M

#12097 AKS azure_policy, StorageAccount min_tls_version, and StorageAccount allow_blob_public_access now supported in Azure China
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/storage/storage_account_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XS

#12135 "azurerm_kusto_cluster_customer_managed_key" - supports property "user_identity"
  azurerm/internal/services/kusto/kusto_cluster_customer_managed_key_resource.go
  azurerm/internal/services/kusto/kusto_cluster_customer_managed_key_test.go
  website/docs/r/kusto_cluster_customer_managed_key.html.markdown
Labels: documentation, enhancement, service/kusto, size/M

#11625 Support for `spatial_index` in `azurerm_cosmosdb_sql_container`
  azurerm/internal/services/cosmos/common/indexing_policy.go
  azurerm/internal/services/cosmos/common/schema.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource_test.go
  website/docs/r/cosmosdb_sql_container.html.markdown
Labels: documentation, service/cosmosdb, size/L

#12173 Fix acctests in api management
  azurerm/internal/services/apimanagement/api_management_api_schema_resource_test.go
  azurerm/internal/services/apimanagement/api_management_logger_resource_test.go
  azurerm/internal/services/apimanagement/api_management_policy_resource_test.go
Labels: service/api-management, size/XS

#12188 .github/workflows: Fix waiting-response label removal
  .github/workflows/issue-comment-created.yaml
Labels: size/XS

#12181 `azurerm_monitor_metric_alert`: Support `StartsWith` dimension operator
  azurerm/internal/services/monitor/monitor_metric_alert_resource.go
  website/docs/r/monitor_metric_alert.html.markdown
Labels: documentation, size/XS

#12094 Migrate GitHub HashiBot release_commenter behavior to GitHub Actions
  .github/workflows/milestone-closed.yaml
  .hashibot.hcl
Labels: size/S

#12189 Migrate from GitHub HashiBot pull_request_size_labeler behavior to GitHub Actions
  .github/workflows/pull-request.yaml
  .hashibot.hcl
Labels: size/S

#11675 new resource - `azurerm_machine_learning_compute_cluster`
  azurerm/internal/services/machinelearning/machine_learning_compute_cluster_resource.go
  azurerm/internal/services/machinelearning/machine_learning_compute_cluster_resource_test.go
  azurerm/internal/services/machinelearning/parse/compute_cluster.go
  azurerm/internal/services/machinelearning/parse/compute_cluster_test.go
  azurerm/internal/services/machinelearning/registration.go
  azurerm/internal/services/machinelearning/resourceids.go
  azurerm/internal/services/machinelearning/validate/compute_cluster_id.go
  azurerm/internal/services/machinelearning/validate/compute_cluster_id_test.go
  website/docs/r/machine_learning_compute_cluster.html.markdown
Labels: documentation, new-resource, service/machine-learning, size/XXL, waiting-response

#12207 refactor: migrating the remaining unaliased PluginSDK calls to use the alias
  azurerm/internal/services/analysisservices/validate/querypool_connection_mode.go
  azurerm/internal/services/blueprints/blueprint_assignment_resource.go
  azurerm/internal/services/compute/migration/legacy_vmss.go
  azurerm/internal/services/compute/virtual_machine_extension_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/virtual_machine_scale_set_extension_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set_resource.go
  azurerm/internal/services/datafactory/data_factory_resource_migration.go
  azurerm/internal/services/dataprotection/data_protection_backup_vault_resource.go
  azurerm/internal/services/dataprotection/data_protection_backup_vault_resource_test.go
  azurerm/internal/services/dataprotection/registration.go
  azurerm/internal/services/kusto/kusto_cluster_customer_managed_key_test.go
  azurerm/internal/services/loganalytics/log_analytics_datasource_windows_event_resource.go
  azurerm/internal/services/loganalytics/log_analytics_datasource_windows_performance_counter_resource.go
  azurerm/internal/services/logic/logic_app_action_custom_resource.go
  azurerm/internal/services/logic/logic_app_action_http_resource.go
  azurerm/internal/services/logic/logic_app_trigger_custom_resource.go
  azurerm/internal/services/logic/logic_app_trigger_http_request_resource.go
  azurerm/internal/services/managedapplications/managed_application_definition_resource.go
  azurerm/internal/services/managedapplications/managed_application_resource.go
  azurerm/internal/services/monitor/monitor_action_group_resource.go
  azurerm/internal/services/monitor/monitor_smart_detector_alert_rule_resource.go
  azurerm/internal/services/mssql/migration/database_v0_to_v1.go
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/network/network_watcher_flow_log_resource.go
  azurerm/internal/services/network/network_watcher_flow_log_resource_test.go
  azurerm/internal/services/policy/policy_assignment_resource.go
  azurerm/internal/services/policy/policy_definition_resource.go
  azurerm/internal/services/policy/policy_set_definition_resource.go
  azurerm/internal/services/postgres/postgresql_flexible_server_firewall_rule_resource.go
  azurerm/internal/services/postgres/postgresql_flexible_server_firewall_rule_resource_test.go
  azurerm/internal/services/storage/storage_object_replication_resource_test.go
  azurerm/internal/services/vmware/vmware_express_route_authorization_resource_test.go
  azurerm/internal/tf/pluginsdk/pluginsdk2.go
  azurerm/internal/tf/pluginsdk/structure.go
  scripts/plugin-sdk-fixerupper.sh
Labels: refactor, size/XL

#12072 add resource "azurerm_data_protection_backup_policy_postgresql"
  azurerm/internal/services/dataprotection/client/client.go
  azurerm/internal/services/dataprotection/data_protection_backup_policy_postgresql_resource.go
  azurerm/internal/services/dataprotection/data_protection_backup_policy_postgresql_resource_test.go
  azurerm/internal/services/dataprotection/parse/backup_policy.go
  azurerm/internal/services/dataprotection/parse/backup_policy_test.go
  azurerm/internal/services/dataprotection/registration.go
  azurerm/internal/services/dataprotection/resourceids.go
  azurerm/internal/services/dataprotection/validate/backup_policy_id.go
  azurerm/internal/services/dataprotection/validate/backup_policy_id_test.go
  website/docs/r/data_protection_backup_policy_postgresql.html.markdown
Labels: documentation, new-resource, service/data-protection, size/XL, size/XXL

#12159 New resource: azurerm_eventhub_namespace_customer_managed_key
  azurerm/internal/services/eventhub/eventhub_namespace_customer_managed_key_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_customer_managed_key_resource_test.go
  azurerm/internal/services/eventhub/registration.go
  website/docs/r/eventhub_namespace_customer_managed_key.html.markdown
Labels: documentation, enhancement, service/event-hubs, size/XL

#12125 Support for `client_certificate_enabled`, `gateway_disabled`, `min_api_version` and `zones` in `azurerm_api_management`
  azurerm/internal/services/apimanagement/api_management_resource.go
  azurerm/internal/services/apimanagement/api_management_resource_test.go
  website/docs/r/api_management.html.markdown
Labels: documentation, enhancement, service/api-management, size/XL

#12178 `azurerm_data_factory` - support for `global_parameter`
  azurerm/internal/services/datafactory/data_factory_resource.go
  azurerm/internal/services/datafactory/data_factory_resource_test.go
  website/docs/r/data_factory.html.markdown
Labels: documentation, size/L

#12218 azurerm_postgresql_flexible_server - Remove invalid possible value for the `zone` argument
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation, service/postgresql, size/XS

#11119 "azurerm_kubernetes_cluster" and "azurerm_kubernetes_cluster_node_pool" supports "kubelet_config", "linux_os_config"
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_other_resource_test.go
  azurerm/internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/XL, size/XXL

#11492 New Resource - `azurerm_kubernetes_cluster_pod_identity`
  azurerm/internal/services/containers/kubernetes_cluster_pod_identity_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_pod_identity_resource_test.go
  azurerm/internal/services/containers/registration.go
  website/docs/r/kubernetes_cluster_pod_identity.html.markdown
Labels: documentation, new-resource, service/kubernetes-cluster, size/XL

#12171 `azurerm_stream_analytics_job` - add supports for `identity`
  azurerm/internal/services/streamanalytics/stream_analytics_job_data_source.go
  azurerm/internal/services/streamanalytics/stream_analytics_job_data_source_test.go
  azurerm/internal/services/streamanalytics/stream_analytics_job_resource.go
  azurerm/internal/services/streamanalytics/stream_analytics_job_resource_test.go
  website/docs/d/stream_analytics_job.html.markdown
  website/docs/r/stream_analytics_job.html.markdown
Labels: documentation, enhancement, service/stream-analytics, size/L

#12176 Support for `spatial_index` in `azurerm_cosmos_gremlin_graph`
  azurerm/internal/services/cosmos/common/indexing_policy.go
  azurerm/internal/services/cosmos/common/schema.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource_test.go
  website/docs/r/cosmosdb_gremlin_graph.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/M

#12225 Revert "New Resource - `azurerm_kubernetes_cluster_pod_identity`"
  azurerm/internal/services/containers/kubernetes_cluster_pod_identity_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_pod_identity_resource_test.go
  azurerm/internal/services/containers/registration.go
  website/docs/r/kubernetes_cluster_pod_identity.html.markdown
Labels: documentation, size/XL

#11556 New Resource: `azurerm_data_factory_linked_service_odata`
  azurerm/internal/services/datafactory/data_factory_linked_service_odata_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_odata_resource_test.go
  azurerm/internal/services/datafactory/registration.go
  website/docs/r/data_factory_linked_service_odata.html.markdown
Labels: documentation, service/data-factory, size/XL, waiting-response

#12208 `azurerm_lb` - fix zone behaviour bug introduced in recent API upgrade
  azurerm/internal/services/loadbalancer/loadbalancer_resource.go
  azurerm/internal/services/loadbalancer/loadbalancer_resource_test.go
  website/docs/r/lb.html.markdown
Labels: documentation, service/load-balancers, size/L, waiting-response

#11706 `azurerm_container_registry` - Support for `zone_redundancy_enabled` for both the ACR and each `georeplications` block
  azurerm/internal/services/containers/container_registry_resource.go
  azurerm/internal/services/containers/container_registry_resource_test.go
  website/docs/r/container_registry.html.markdown
Labels: documentation, enhancement, service/container-registry, size/L

#12239 Updated link to ignore_changes documentation
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS

#12234 #12233 - fixed broken link in virtual_machine docs
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#12147 New datasource: `azurerm_key_vault_secrets`
  azurerm/internal/services/keyvault/key_vault_secret_resource_test.go
  azurerm/internal/services/keyvault/key_vault_secrets_data_source.go
  azurerm/internal/services/keyvault/key_vault_secrets_data_source_test.go
  azurerm/internal/services/keyvault/registration.go
  website/docs/d/key_vault_secrets.html.markdown
Labels: documentation, new-data-source, service/keyvault, size/L

#12248 Fix reference to data source in outputs block
  website/docs/d/cosmosdb_account.html.markdown
Labels: documentation, service/cosmosdb, size/XS

#12250 #12249 - Private Link Service force replacement on load balancer id change
  azurerm/internal/services/network/private_link_service_resource.go
Labels: enhancement, service/private-link, size/XS

#12103 Support for `share_properties` in `azurerm_storage_account`
  azurerm/internal/services/storage/client/client.go
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_account_resource_test.go
  azurerm/utils/common_marshal.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, enhancement, service/storage, size/XL

#12174 New resource `azurerm_api_management_redis_cache`
  azurerm/internal/services/apimanagement/api_management_redis_cache_resource.go
  azurerm/internal/services/apimanagement/api_management_redis_cache_resource_test.go
  azurerm/internal/services/apimanagement/client/client.go
  azurerm/internal/services/apimanagement/parse/redis_cache.go
  azurerm/internal/services/apimanagement/parse/redis_cache_test.go
  azurerm/internal/services/apimanagement/registration.go
  azurerm/internal/services/apimanagement/resourceids.go
  azurerm/internal/services/apimanagement/validate/redis_cache_id.go
  azurerm/internal/services/apimanagement/validate/redis_cache_id_test.go
  azurerm/internal/services/apimanagement/validate/redis_cache_location.go
  website/docs/r/api_management_redis_cache.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#12077 New Resource `azurerm_virtual_desktop_application`
  azurerm/internal/services/desktopvirtualization/client/client.go
  azurerm/internal/services/desktopvirtualization/parse/application.go
  azurerm/internal/services/desktopvirtualization/parse/application_test.go
  azurerm/internal/services/desktopvirtualization/registration.go
  azurerm/internal/services/desktopvirtualization/resourcesid.go
  azurerm/internal/services/desktopvirtualization/validate/application_id.go
  azurerm/internal/services/desktopvirtualization/validate/application_id_test.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_application_resource.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_application_resource_test.go
  website/docs/r/virtual_desktop_application.html.markdown
Labels: documentation, size/XL, size/XXL, waiting-response

#12226 azurerm_application_gateway - correctly poopulat the `identity` block
  azurerm/internal/identity/user_assigned.go
  azurerm/internal/services/network/application_gateway_data_source.go
  azurerm/internal/services/network/application_gateway_data_source_test.go
Labels: bug, service/application-gateway, size/M

#12206 Update to azurerm virtual machine boot diagnostic block
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#12039 Fix missing schema definition in terraform state
  azurerm/internal/services/apimanagement/api_management_api_schema_resource.go
  azurerm/internal/services/apimanagement/api_management_api_schema_resource_test.go
  azurerm/internal/services/apimanagement/testdata/api_management_api_schema_swagger.json
Labels: bug, service/api-management, size/M, waiting-response

#12259 improve docs for virtual WAN resources
  website/docs/r/point_to_site_vpn_gateway.html.markdown
  website/docs/r/virtual_hub.html.markdown
Labels: documentation, service/virtual-wan, size/M

#12263 Update Go SDK to v55.3.0
  azurerm/internal/services/securitycenter/security_center_automation_resource.go
  azurerm/internal/services/securitycenter/security_center_server_vulnerability_assessment_resource.go
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/alerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/ingestionsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/iotalerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/iotalerttypes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/iotrecommendations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/iotrecommendationtypes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/iotsecuritysolution.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/servervulnerabilityassessment.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/security/mgmt/v3.0/security/softwareinventories.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
  website/docs/r/azurerm_security_center_server_vulnerability_assessment.html.markdown
Labels: dependencies, size/XL

#12290 eventhub: updating the `namespace` SDK to use API Version `2021-01-01-preview`
  azurerm/internal/services/eventhub/eventhub_namespace_customer_managed_key_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_customer_managed_key_resource_test.go
  azurerm/internal/services/eventhub/eventhub_namespace_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_resource_test.go
  azurerm/internal/services/eventhub/sdk/namespaces/constants.go
  azurerm/internal/services/eventhub/sdk/namespaces/id_namespace.go
  azurerm/internal/services/eventhub/sdk/namespaces/id_namespace_test.go
  azurerm/internal/services/eventhub/sdk/namespaces/id_resourcegroup.go
  azurerm/internal/services/eventhub/sdk/namespaces/id_resourcegroup_test.go
  azurerm/internal/services/eventhub/sdk/namespaces/method_get_autorest.go
  azurerm/internal/services/eventhub/sdk/namespaces/method_update_autorest.go
  azurerm/internal/services/eventhub/sdk/namespaces/model_connectionstate.go
  azurerm/internal/services/eventhub/sdk/namespaces/model_ehnamespace.go
  azurerm/internal/services/eventhub/sdk/namespaces/model_ehnamespaceproperties.go
  azurerm/internal/services/eventhub/sdk/namespaces/model_encryption.go
  azurerm/internal/services/eventhub/sdk/namespaces/model_identity.go
  azurerm/internal/services/eventhub/sdk/namespaces/model_keyvaultproperties.go
  azurerm/internal/services/eventhub/sdk/namespaces/model_privateendpoint.go
  azurerm/internal/services/eventhub/sdk/namespaces/model_privateendpointconnection.go
  azurerm/internal/services/eventhub/sdk/namespaces/model_privateendpointconnectionproperties.go
  azurerm/internal/services/eventhub/sdk/namespaces/model_systemdata.go
  azurerm/internal/services/eventhub/sdk/namespaces/model_userassignedidentityproperties.go
  azurerm/internal/services/eventhub/sdk/namespaces/version.go
Labels: service/event-hubs, size/L

#12275 linting: ignoring the RetryError funcs for the moment
  azurerm/internal/services/apimanagement/api_management_api_schema_resource.go
  azurerm/internal/services/authorization/role_assignment_resource.go
  azurerm/internal/services/eventhub/eventhub_authorization_rule_resource.go
  azurerm/internal/services/eventhub/eventhub_cluster_resource.go
  azurerm/internal/services/keyvault/internal.go
  azurerm/internal/services/maintenance/maintenance_assignment_dedicated_host_resource.go
  azurerm/internal/services/maintenance/maintenance_assignment_virtual_machine_resource.go
  azurerm/internal/services/network/virtual_network_peering_resource.go
  azurerm/internal/services/web/function_app_host_keys_data_source.go
Labels: bug, size/XS

#12198 Fix `long_term_retention_policy` validation and expansion
  azurerm/internal/services/mssql/helper/sql_retention_policies.go
  azurerm/internal/services/mssql/validate/mssql.go
Labels: bug, service/mssql, size/XS

#12279 Policy Definition Groups Update on when changed
  azurerm/internal/services/policy/policy_set_definition_resource.go
Labels: bug, service/policy, size/XS

#12316 testing: registering the AzureAD Provider
  azurerm/internal/acceptance/testcase.go
Labels: size/S, tests

#12278 Add support for the categories property of azurerm_security_center_assessment_metadata
  azurerm/internal/services/securitycenter/security_center_assessment_metadata_resource.go
  azurerm/internal/services/securitycenter/security_center_assessment_metadata_resource_test.go
  website/docs/r/security_center_assessment_metadata.html.markdown
Labels: documentation, enhancement, service/security-center, size/M

#12289 azurerm_express_route_circuit_peering - support for bandwidth_in_gbps, express_route_port_id
  azurerm/internal/services/network/express_route_circuit_authorization_resource_test.go
  azurerm/internal/services/network/express_route_circuit_peering_resource_test.go
  azurerm/internal/services/network/express_route_circuit_resource.go
  azurerm/internal/services/network/express_route_circuit_resource_test.go
  website/docs/r/express_route_circuit.html.markdown
Labels: documentation, enhancement, service/express-route, size/XL

#12293 Support for azurerm_kusto_iothub_data_connection missing table_name, mapping_rule_name, data_format
  azurerm/internal/services/kusto/kusto_iothub_data_connection_resource.go
  azurerm/internal/services/kusto/kusto_iothub_data_connection_resource_test.go
  website/docs/r/kusto_eventhub_data_connection.html.markdown
  website/docs/r/kusto_iothub_data_connection.html.markdown
Labels: documentation, enhancement, service/kusto, size/L, waiting-response

#12353 New resource: `azurerm_nat_gateway_public_ip_prefix_association`
  azurerm/internal/services/network/nat_gateway_public_ip_prefix_association_resource.go
  azurerm/internal/services/network/nat_gateway_public_ip_prefix_association_resource_test.go
  azurerm/internal/services/network/nat_gateway_resource.go
  azurerm/internal/services/network/parse/nat_gateway_public_ip_prefix_association.go
  azurerm/internal/services/network/parse/nat_gateway_public_ip_prefix_association_test.go
  azurerm/internal/services/network/registration.go
  website/docs/r/nat_gateway.html.markdown
  website/docs/r/nat_gateway_public_ip_prefix_association.html.markdown
Labels: documentation, new-resource, service/nat-gateway, size/XL

#11790 Update `azurerm_linux|windows_virtual_machine` - enable update for `proximity_placement_group_id`
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/linux_virtual_machine_resource_scaling_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_resource_scaling_test.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, enhancement, service/virtual-machine, size/XL

#12230 identity - support `SystemAssignedUserAssigned`
  azurerm/internal/identity/schema.go
  azurerm/internal/identity/system_assigned_user_assigned.go
  azurerm/internal/services/compute/linux_virtual_machine_resource.go
  azurerm/internal/services/compute/virtual_machine.go
  azurerm/internal/services/compute/windows_virtual_machine_resource.go
Labels: enhancement, service/virtual-machine, size/L

#12350 fix: wrong order of arguments and attributes
  website/docs/r/storage_account.html.markdown
Labels: documentation, size/S

#12220 add resource "azurerm_data_protection_backup_instance_postgresql"
  azurerm/internal/services/dataprotection/client/client.go
  azurerm/internal/services/dataprotection/data_protection_backup_instance_postgresql_resource.go
  azurerm/internal/services/dataprotection/data_protection_backup_instance_postgresql_resource_test.go
  azurerm/internal/services/dataprotection/parse/backup_instance.go
  azurerm/internal/services/dataprotection/parse/backup_instance_test.go
  azurerm/internal/services/dataprotection/registration.go
  azurerm/internal/services/dataprotection/resourceids.go
  azurerm/internal/services/dataprotection/validate/backup_instance_id.go
  azurerm/internal/services/dataprotection/validate/backup_instance_id_test.go
  website/docs/r/data_protection_backup_instance_postgresql.html.markdown
Labels: documentation, new-resource, service/data-protection, size/XL

#12365 Fix migrating-to-azuread guide documentation
  website/docs/guides/migrating-to-azuread.html.markdown
Labels: documentation, size/XS

#12261 azurerm_hdinsight_kafka_cluster no longer panics from an empty component_version
  azurerm/internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
Labels: service/hdinsight, size/XS

#12360 "azurerm_lighthouse_definition" - supports block "plan"
  azurerm/internal/services/lighthouse/lighthouse_definition_resource.go
  azurerm/internal/services/lighthouse/lighthouse_definition_resource_test.go
  website/docs/r/lighthouse_definition.html.markdown
Labels: documentation, enhancement, service/lighthouse, size/L

#12280 `azurerm_app_service` - fix app_setting and SCM setting ordering
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_certificate_binding_resource_test.go
  azurerm/internal/services/web/app_service_plan_data_source_test.go
  azurerm/internal/services/web/app_service_plan_resource_test.go
  azurerm/internal/services/web/app_service_resource.go
  azurerm/internal/services/web/app_service_resource_test.go
Labels: crash, service/app-service, size/M, tests

#12397 Updated Azure Hybrid Benefit Link
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, size/XS

#12382 Fix acctest "TestAccAzureRMApiManagementGroupUser"
  azurerm/internal/services/apimanagement/api_management_group_user_resource_test.go
Labels: service/api-management, size/XS

#11985 fixed azurerm_spatial_anchors_account tags argument always forces replacement of spatial_anchors_account resource #11037
  azurerm/internal/services/mixedreality/spatial_anchors_account_resource.go
Labels: bug, service/spatial, size/XS, waiting-response

#12393 Fix issue labelling
  .github/workflows/issue-opened.yaml
Labels: bug, provider, size/XS

#12224 new resource "azurerm_data_factory_linked_custom_service"
  azurerm/internal/services/datafactory/data_factory_linked_custom_service_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_custom_service_resource_test.go
  azurerm/internal/services/datafactory/registration.go
  website/docs/r/data_factory_linked_custom_service.html.markdown
Labels: documentation, new-data-source, service/data-factory, size/XL, waiting-response

#12384 New resource `azurerm_api_management_api_operation_tag`
  azurerm/internal/services/apimanagement/api_management_api_operation_resource_test.go
  azurerm/internal/services/apimanagement/api_management_api_operation_tag_resource.go
  azurerm/internal/services/apimanagement/api_management_api_operation_tag_resource_test.go
  azurerm/internal/services/apimanagement/client/client.go
  azurerm/internal/services/apimanagement/parse/operation_tag.go
  azurerm/internal/services/apimanagement/parse/operation_tag_test.go
  azurerm/internal/services/apimanagement/registration.go
  azurerm/internal/services/apimanagement/resourceids.go
  azurerm/internal/services/apimanagement/validate/operation_tag_id.go
  azurerm/internal/services/apimanagement/validate/operation_tag_id_test.go
  website/docs/r/api_management_api_operation_tag.html.markdown
Labels: documentation, service/api-management, size/XL

#12402 Support for `client_certificate_id` in `azurerm_api_management_backend`
  azurerm/internal/services/apimanagement/api_management_backend_resource.go
  azurerm/internal/services/apimanagement/api_management_backend_resource_test.go
  website/docs/r/api_management_backend.html.markdown
Labels: documentation, enhancement, service/api-management, size/M

#12374 `azurerm_site_recovery_replicated_vm` - Add support for `target_disk_encryption_set_id` in `managed_disk`
  azurerm/internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
  azurerm/internal/services/recoveryservices/site_recovery_replicated_vm_resource_test.go
  website/docs/r/site_recovery_replicated_vm.html.markdown
Labels: documentation, service/recovery-services, size/XL

#12401 azurerm_batch_account - support for public_network_access_enabled
  azurerm/internal/services/batch/batch_account_resource.go
  azurerm/internal/services/batch/batch_account_resource_test.go
  website/docs/r/batch_account.html.markdown
  website/docs/r/mssql_server.html.markdown
Labels: documentation, enhancement, service/batch, size/S

#11320 New resource: azurerm_express_route_connection
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/express_route_connection_resource.go
  azurerm/internal/services/network/express_route_connection_resource_test.go
  azurerm/internal/services/network/parse/express_route_circuit_peering.go
  azurerm/internal/services/network/parse/express_route_circuit_peering_test.go
  azurerm/internal/services/network/parse/express_route_connection.go
  azurerm/internal/services/network/parse/express_route_connection_test.go
  azurerm/internal/services/network/parse/express_route_gateway.go
  azurerm/internal/services/network/parse/express_route_gateway_test.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/resourceids.go
  azurerm/internal/services/network/validate/express_route_circuit_peering_id.go
  azurerm/internal/services/network/validate/express_route_circuit_peering_id_test.go
  azurerm/internal/services/network/validate/express_route_connection_id.go
  azurerm/internal/services/network/validate/express_route_connection_id_test.go
  azurerm/internal/services/network/validate/express_route_connection_name.go
  azurerm/internal/services/network/validate/express_route_connection_name_test.go
  azurerm/internal/services/network/validate/express_route_gateway_id.go
  azurerm/internal/services/network/validate/express_route_gateway_id_test.go
  website/docs/r/express_route_connection.html.markdown
Labels: documentation, new-resource, service/express-route, size/XL, size/XXL

#12266 Support for `revision_description`, `version_description` and `source_api_id` in `azurerm_api_management_api`
  azurerm/internal/services/apimanagement/api_management_api_resource.go
  azurerm/internal/services/apimanagement/api_management_api_resource_test.go
  website/docs/r/api_management_api.html.markdown
Labels: documentation, service/api-management, size/L

#12330 new resource "azurerm_data_factory_trigger_blob_event"
  azurerm/internal/services/datafactory/data_factory_trigger_blob_event_resource.go
  azurerm/internal/services/datafactory/data_factory_trigger_blob_event_resource_test.go
  azurerm/internal/services/datafactory/parse/trigger.go
  azurerm/internal/services/datafactory/parse/trigger_test.go
  azurerm/internal/services/datafactory/registration.go
  azurerm/internal/services/datafactory/resourceids.go
  azurerm/internal/services/datafactory/validate/trigger_id.go
  azurerm/internal/services/datafactory/validate/trigger_id_test.go
  website/docs/r/data_factory_trigger_blob_event.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#12306 Fix `Default value must be present in the list of values` when defaultValue is not set in `azurerm_api_management_api_operation`
  azurerm/internal/services/apimanagement/api_management_api_operation_resource.go
  azurerm/internal/services/apimanagement/api_management_api_operation_resource_test.go
  azurerm/internal/services/apimanagement/schemaz/api_management.go
Labels: bug, service/api-management, size/S

#11303 New resource azurerm_express_route_circuit_connection
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/express_route_circuit_connection_resource.go
  azurerm/internal/services/network/express_route_circuit_connection_resource_test.go
  azurerm/internal/services/network/parse/express_route_circuit.go
  azurerm/internal/services/network/parse/express_route_circuit_connection.go
  azurerm/internal/services/network/parse/express_route_circuit_connection_test.go
  azurerm/internal/services/network/parse/express_route_circuit_test.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/resourceids.go
  azurerm/internal/services/network/validate/express_route_circuit_connection_id.go
  azurerm/internal/services/network/validate/express_route_circuit_connection_id_test.go
  azurerm/internal/services/network/validate/express_route_circuit_connection_name.go
  azurerm/internal/services/network/validate/express_route_circuit_connection_test.go
  azurerm/internal/services/network/validate/express_route_circuit_id.go
  azurerm/internal/services/network/validate/express_route_circuit_id_test.go
  website/docs/r/express_route_circuit_connection.html.markdown
Labels: documentation, new-resource, service/express-route, size/XL, size/XXL

#12409 Add None to compression types
  azurerm/internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
Labels: service/data-factory, size/XS

#12404 Fix typo in docs
  website/docs/r/nat_gateway_public_ip_prefix_association.html.markdown
Labels: documentation, size/XS
