Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2021-09, with the labels that each got.

#13208 Updated the `allowed_methods` description
  website/docs/r/storage_account.html.markdown
Labels: documentation, size/XS

#13118 Add appconfig key resource
  internal/clients/builder.go
  internal/common/client_options.go
  internal/provider/services.go
  internal/sdk/resource.go
  internal/sdk/wrapper_resource.go
  internal/services/appconfiguration/app_configuration_key_resource.go
  internal/services/appconfiguration/app_configuration_key_resource_test.go
  internal/services/appconfiguration/client/client.go
  internal/services/appconfiguration/parse/app_configuration_key.go
  internal/services/appconfiguration/registration.go
  internal/services/appconfiguration/validate/app_configuration_key_id.go
  website/docs/r/app_configuration_key.html.markdown
Labels: documentation, new-resource, size/XL, service/app-configuration

#13207 Docs: Fix env var name in docs
  website/docs/index.html.markdown
Labels: documentation, size/XS

#13183 enhancement for postgresql backup instance
  internal/services/dataprotection/data_protection_backup_instance_postgresql_resource.go
  internal/services/dataprotection/data_protection_backup_instance_postgresql_resource_test.go
  website/docs/r/data_protection_backup_instance_postgresql.html.markdown
Labels: enhancement, documentation, size/L, service/data-protection

#13181 Update `azurerm_synapse_spark_pool` to support spark 3.1 instead of 3.0
  internal/services/synapse/synapse_spark_pool_resource.go
  internal/services/synapse/synapse_spark_pool_resource_test.go
  website/docs/r/synapse_spark_pool.html.markdown
Labels: enhancement, documentation, size/XS, service/synapse

#13187 New Resource: azurerm_logic_app_integration_account_map
  internal/services/logic/client/client.go
  internal/services/logic/logic_app_integration_account_map_resource.go
  internal/services/logic/logic_app_integration_account_map_resource_test.go
  internal/services/logic/parse/integration_account_map.go
  internal/services/logic/parse/integration_account_map_test.go
  internal/services/logic/registration.go
  internal/services/logic/resourceids.go
  internal/services/logic/testdata/integration_account_map_content.xsd
  internal/services/logic/testdata/integration_account_map_content2.xsd
  internal/services/logic/validate/integration_account_map_id.go
  internal/services/logic/validate/integration_account_map_id_test.go
  internal/services/logic/validate/integration_account_map_name.go
  internal/services/logic/validate/integration_account_map_name_test.go
  website/docs/r/logic_app_integration_account_map.html.markdown
Labels: documentation, new-resource, size/XL, service/logic

#13033 add: eventgrid_domain data source, test, docs
  internal/services/eventgrid/eventgrid_domain_data_source.go
  internal/services/eventgrid/eventgrid_domain_data_source_test.go
  internal/services/eventgrid/eventgrid_domain_resource_test.go
  internal/services/eventgrid/registration.go
  website/docs/d/eventgrid_domain.html.markdown
Labels: documentation, new-data-source, size/XL, service/event-grid

#13206 azurerm_recovery_services_vault - Refactored to use parser
  internal/services/recoveryservices/parse/vault.go
  internal/services/recoveryservices/parse/vault_test.go
  internal/services/recoveryservices/recovery_services_vault_resource.go
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
  internal/services/recoveryservices/resouceids.go
  internal/services/recoveryservices/validate/vault_id.go
  internal/services/recoveryservices/validate/vault_id_test.go
Labels: size/XL, service/recovery-services, refactor

#12683 add resource "azurerm_data_protection_backup_instance_blob_storage"
  internal/services/dataprotection/data_protection_backup_instance_blob_storage_resource.go
  internal/services/dataprotection/data_protection_backup_instance_blob_storage_resource_test.go
  internal/services/dataprotection/registration.go
  website/docs/r/data_protection_backup_instance_blob_storage.html.markdown
Labels: documentation, size/XL

#13190 azurerm_firewall_policy_rule_collection_group - support description,destination_addresses,destination_urls,terminate_tls,web_categories
  internal/services/firewall/firewall_policy_rule_collection_group_resource.go
  internal/services/firewall/firewall_policy_rule_collection_group_resource_test.go
  website/docs/r/firewall_policy_rule_collection_group.html.markdown
Labels: enhancement, documentation, size/XL, service/firewall

#12945 azurerm_eventgrid_event_subscription/azurerm_eventgrid_system_topic_event_subscription - support delivery_identity & dead_letter_identity
  internal/services/eventgrid/event_subscription.go
  internal/services/eventgrid/eventgrid_event_subscription_resource.go
  internal/services/eventgrid/eventgrid_event_subscription_resource_test.go
  internal/services/eventgrid/eventgrid_system_topic_event_subscription_resource.go
  internal/services/eventgrid/eventgrid_system_topic_event_subscription_resource_test.go
  website/docs/r/eventgrid_event_subscription.html.markdown
  website/docs/r/eventgrid_system_topic_event_subscription.html.markdown
Labels: enhancement, documentation, size/XL, service/event-grid

#13203 Relax validation on `azurerm_api_management_subscription`.`subscription_id` to allow non-UUID strings.
  internal/services/apimanagement/api_management_subscription_resource.go
  internal/services/apimanagement/api_management_subscription_resource_test.go
Labels: bug, size/XS, service/api-management

#12951 Support for System and User Assigned Managed Identities in `azurerm_eventgrid_domain`, `azurerm_eventgrid_topic` and `azurerm_eventgrid_system_topic`
  internal/services/eventgrid/event_subscription.go
  internal/services/eventgrid/eventgrid.go
  internal/services/eventgrid/eventgrid_domain_resource.go
  internal/services/eventgrid/eventgrid_domain_resource_test.go
  internal/services/eventgrid/eventgrid_event_subscription_resource.go
  internal/services/eventgrid/eventgrid_system_topic_event_subscription_resource.go
  internal/services/eventgrid/eventgrid_system_topic_resource.go
  internal/services/eventgrid/eventgrid_system_topic_resource_test.go
  internal/services/eventgrid/eventgrid_topic_resource.go
  internal/services/eventgrid/eventgrid_topic_resource_test.go
  website/docs/r/eventgrid_domain.html.markdown
  website/docs/r/eventgrid_system_topic.html.markdown
  website/docs/r/eventgrid_topic.html.markdown
Labels: enhancement, documentation, size/XL, service/event-grid

#13237 Support for `local_authentication_disabled` in `azurerm_cosmosdb_account`
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: enhancement, documentation, size/M, service/cosmosdb

#13253 Fix KV import with no label
  internal/services/appconfiguration/app_configuration_key_resource.go
  internal/services/appconfiguration/app_configuration_key_resource_test.go
  internal/services/appconfiguration/parse/app_configuration_key.go
  website/docs/r/app_configuration_key.html.markdown
Labels: bug, documentation, size/M, service/app-configuration

#13222 azurerm_data_factory_integration_runtime_azure supports cleanup_enabled, subnet_id
  internal/services/datafactory/data_factory_integration_runtime_azure_resource.go
  internal/services/datafactory/data_factory_integration_runtime_azure_resource_test.go
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource.go
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource_test.go
  website/docs/r/data_factory_integration_runtime_azure.html.markdown
  website/docs/r/data_factory_integration_runtime_azure_ssis.html.markdown
Labels: enhancement, documentation, size/L, service/data-factory

#13231 Add additional operator values for query rules
  internal/services/monitor/monitor_scheduled_query_rules_alert_resource.go
  website/docs/r/monitor_scheduled_query_rules_alert.html.markdown
Labels: enhancement, documentation, size/XS, service/monitor

#13101 `azurerm_app_service_certificate` - introduce argument `app_service_plan_id` for usage with ASE
  internal/services/web/app_service_certificate_resource.go
  internal/services/web/app_service_environment_resource_test.go
  website/docs/r/app_service_certificate.html.markdown
Labels: documentation, size/S, service/app-service

#13278 doc: capitalize names of secret permissions
  website/docs/r/key_vault_access_policy.html.markdown
Labels: documentation, service/keyvault, size/XS

#13260 `d/azurerm_kubernetes_cluster`: Support `local_account_disabled` setup in data source
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_data_source_test.go
  website/docs/d/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/S, service/kubernetes-cluster

#13263 Remove extraneous argument from documentation
  website/docs/r/data_protection_backup_instance_disk.html.markdown
Labels: documentation, size/XS, service/data-protection

#13277 azurerm_site_recovery_network_mapping - refactor to use parser
  internal/services/recoveryservices/parse/replication_network_mapping.go
  internal/services/recoveryservices/parse/replication_network_mapping_test.go
  internal/services/recoveryservices/resourceids.go
  internal/services/recoveryservices/site_recovery_network_mapping_resource.go
  internal/services/recoveryservices/site_recovery_network_mapping_resource_test.go
  internal/services/recoveryservices/validate/replication_network_mapping_id.go
  internal/services/recoveryservices/validate/replication_network_mapping_id_test.go
Labels: size/XL

#13239 New Resource: azurerm_logic_app_integration_account_assembly
  internal/services/logic/client/client.go
  internal/services/logic/logic_app_integration_account_assembly_resource.go
  internal/services/logic/logic_app_integration_account_assembly_resource_test.go
  internal/services/logic/parse/integration_account_assembly.go
  internal/services/logic/parse/integration_account_assembly_test.go
  internal/services/logic/registration.go
  internal/services/logic/resourceids.go
  internal/services/logic/testdata/log4net.dll
  internal/services/logic/validate/integration_account_assembly_artifact_name.go
  internal/services/logic/validate/integration_account_assembly_artifact_name_test.go
  internal/services/logic/validate/integration_account_assembly_id.go
  internal/services/logic/validate/integration_account_assembly_id_test.go
  internal/services/logic/validate/integration_account_assembly_name.go
  internal/services/logic/validate/integration_account_assembly_name_test.go
  internal/services/logic/validate/integration_account_assembly_version.go
  internal/services/logic/validate/integration_account_assembly_version_test.go
  website/docs/r/logic_app_integration_account_assembly.html.markdown
Labels: documentation, new-resource, size/XL, service/logic

#13243 azurerm_data_factory_trigger_schedule supports schedule and description
  internal/services/datafactory/data_factory_trigger_schedule_resource.go
  internal/services/datafactory/data_factory_trigger_schedule_resource_test.go
  website/docs/r/data_factory_trigger_schedule.html.markdown
Labels: enhancement, documentation, size/L, service/data-factory

#13228 azurerm_virtual_network_gateway_resource - Allow multiple vpn auth types
  internal/services/network/virtual_network_gateway_resource.go
  internal/services/network/virtual_network_gateway_resource_test.go
  website/docs/r/virtual_network_gateway.html.markdown
Labels: documentation, waiting-response, size/L, service/virtual-network-gateway

#13273 Issue 11141 Support for mTLS added in Application Gateway
  internal/services/network/application_gateway_resource.go
  internal/services/network/application_gateway_resource_test.go
  internal/services/network/testdata/application_gateway_mtls_test.cer
  internal/services/network/testdata/application_gateway_mtls_test_2.cer
  website/docs/r/application_gateway.html.markdown
Labels: enhancement, documentation, size/XL, service/application-gateway

#13215 New Resource: azurerm_logic_app_integration_account_batch_configuration
  internal/services/logic/client/client.go
  internal/services/logic/logic_app_integration_account_batch_configuration_resource.go
  internal/services/logic/logic_app_integration_account_batch_configuration_resource_test.go
  internal/services/logic/parse/integration_account_batch_configuration.go
  internal/services/logic/parse/integration_account_batch_configuration_test.go
  internal/services/logic/registration.go
  internal/services/logic/resourceids.go
  internal/services/logic/validate/batch_configuration_recurrence_timezone.go
  internal/services/logic/validate/integration_account_batch_configuration_batch_group_name.go
  internal/services/logic/validate/integration_account_batch_configuration_batch_group_name_test.go
  internal/services/logic/validate/integration_account_batch_configuration_id.go
  internal/services/logic/validate/integration_account_batch_configuration_id_test.go
  internal/services/logic/validate/integration_account_batch_configuration_name.go
  internal/services/logic/validate/integration_account_batch_configuration_name_test.go
  website/docs/r/logic_app_integration_account_batch_configuration.html.markdown
Labels: documentation, new-resource, size/XL, service/logic

#12132 Replacement Service: `appservice`
  .github/ISSUE_TEMPLATE/Beta_Feedback.md
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/features/three_point_oh.go
  internal/provider/services.go
  internal/services/appservice/client/client.go
  internal/services/appservice/helpers/shared_schema.go
  internal/services/appservice/helpers/web_app_fx_strings.go
  internal/services/appservice/helpers/web_app_schema.go
  internal/services/appservice/linux_web_app_data_source.go
  internal/services/appservice/linux_web_app_data_source_test.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/parse/app_service_environment.go
  internal/services/appservice/parse/app_service_environment_test.go
  internal/services/appservice/parse/app_service_source_control_token.go
  internal/services/appservice/parse/service_plan.go
  internal/services/appservice/parse/service_plan_test.go
  internal/services/appservice/parse/web_app.go
  internal/services/appservice/parse/web_app_test.go
  internal/services/appservice/registration.go
  internal/services/appservice/resourceids.go
  internal/services/appservice/service_plan_data_source.go
  internal/services/appservice/service_plan_data_source_test.go
  internal/services/appservice/service_plan_resource.go
  internal/services/appservice/service_plan_resource_test.go
  internal/services/appservice/source_control_resource.go
  internal/services/appservice/source_control_resource_test.go
  internal/services/appservice/source_control_schema.go
  internal/services/appservice/source_control_token_data_source.go
  internal/services/appservice/source_control_token_data_source_test.go
  internal/services/appservice/source_control_token_resource.go
  internal/services/appservice/source_control_token_resource_test.go
  internal/services/appservice/validate/app_service_environment_id.go
  internal/services/appservice/validate/app_service_environment_id_test.go
  internal/services/appservice/validate/service_plan_id.go
  internal/services/appservice/validate/service_plan_id_test.go
  internal/services/appservice/validate/service_plan_name.go
  internal/services/appservice/validate/source_control_token.go
  internal/services/appservice/validate/web_app_id.go
  internal/services/appservice/validate/web_app_id_test.go
  internal/services/appservice/validate/web_app_name.go
  internal/services/appservice/windows_web_app_data_source.go
  internal/services/appservice/windows_web_app_data_source_test.go
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_resource_test.go
  website/docs/d/source_control_token.html.markdown
  website/docs/guides/3.0-beta.html.markdown
  website/docs/guides/3.0-upgrade-guide.html.markdown
  website/docs/r/app_service_source_control.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/service_plan.html.markdown
  website/docs/r/source_control_token.html.markdown
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, new-resource, new-data-source, size/XXL, size/XL, service/app-service

#13245 `azurerm_stream_analytics_output_blob` support for type Parquet & batch_max_wait_time/batch_min_rows
  internal/services/streamanalytics/helpers_output.go
  internal/services/streamanalytics/stream_analytics_output_blob_resource.go
  internal/services/streamanalytics/stream_analytics_output_blob_resource_test.go
  internal/services/streamanalytics/validate/batch_max_wait_time.go
  internal/services/streamanalytics/validate/batch_max_wait_time_test.go
  website/docs/r/stream_analytics_output_blob.html.markdown
Labels: enhancement, documentation, size/M, service/stream-analytics

#13289 Allow UTF-8 characters in SQL pool name
  internal/services/synapse/synapse_sql_pool_resource_test.go
  internal/services/synapse/validate/sql_pool_name.go
  internal/services/synapse/validate/sql_pool_name_test.go
Labels: bug, size/M, service/synapse

#13293 azurerm_site_recovery_fabric_resource - refactor to use parser
  internal/services/recoveryservices/parse/replication_fabric.go
  internal/services/recoveryservices/parse/replication_fabric_test.go
  internal/services/recoveryservices/resourceids.go
  internal/services/recoveryservices/site_recovery_fabric_resource.go
  internal/services/recoveryservices/site_recovery_fabric_resource_test.go
  internal/services/recoveryservices/site_recovery_network_mapping_resource.go
  internal/services/recoveryservices/validate/replication_fabric_id.go
  internal/services/recoveryservices/validate/replication_fabric_id_test.go
Labels: size/XL, service/recovery-services, refactor

#13299 `azurerm_app_service`: add note for `always_on` setting
  website/docs/r/app_service.html.markdown
Labels: documentation, size/XS, service/app-service

#12431 New Resources: `azurerm_sql_managed_instance` and `azurerm_sql_managed_database`
  internal/services/sql/client/client.go
  internal/services/sql/parse/managed_database.go
  internal/services/sql/parse/managed_database_test.go
  internal/services/sql/parse/managed_instance.go
  internal/services/sql/parse/managed_instance_test.go
  internal/services/sql/registration.go
  internal/services/sql/resourceids.go
  internal/services/sql/sql_managed_database_resource.go
  internal/services/sql/sql_managed_database_resource_test.go
  internal/services/sql/sql_managed_instance_resource.go
  internal/services/sql/sql_managed_instance_resource_test.go
  internal/services/sql/validate/managed_database_id.go
  internal/services/sql/validate/managed_database_id_test.go
  internal/services/sql/validate/managed_instance_id.go
  internal/services/sql/validate/managed_instance_id_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/databasesecurityalertpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/elasticpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/instancepools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/longtermretentionmanagedinstancebackups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/manageddatabaserestoredetails.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/manageddatabases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/manageddatabasesensitivitylabels.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/managedinstancelongtermretentionpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/managedinstanceoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/managedinstances.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/managedinstancevulnerabilityassessments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/serverazureadadministrators.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/servervulnerabilityassessments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sql/mgmt/2018-06-01-preview/sql/version.go
  vendor/modules.txt
  website/docs/r/sql_managed_database.html.markdown
  website/docs/r/sql_managed_instance.html.markdown
Labels: documentation, dependencies, size/XL, upstream-microsoft

#13284 azurerm_kubernetes_cluster supports os_sku
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: enhancement, documentation, size/M, service/kubernetes-cluster

#13287 New Resource: azurerm_logic_app_integration_account_agreement
  internal/services/logic/client/client.go
  internal/services/logic/logic_app_integration_account_agreement_resource.go
  internal/services/logic/logic_app_integration_account_agreement_resource_test.go
  internal/services/logic/parse/integration_account_agreement.go
  internal/services/logic/parse/integration_account_agreement_test.go
  internal/services/logic/registration.go
  internal/services/logic/resourceids.go
  internal/services/logic/testdata/integration_account_agreement_content_as2.json
  internal/services/logic/testdata/integration_account_agreement_content_x12.json
  internal/services/logic/validate/integration_account_agreement_id.go
  internal/services/logic/validate/integration_account_agreement_id_test.go
  internal/services/logic/validate/integration_account_agreement_name.go
  internal/services/logic/validate/integration_account_agreement_name_test.go
  website/docs/r/logic_app_integration_account_agreement.html.markdown
Labels: documentation, new-resource, size/XL, service/logic

#13290 azurerm_synapse_workspace - support for the tenant_id property
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/synapse/synapse_workspace_resource_test.go
  website/docs/r/synapse_workspace.html.markdown
Labels: enhancement, documentation, size/M, service/synapse

#13303 Update link to kubernetes provider
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#13308 `data.kubernetes_cluster.html.markdown`: add missing docs for `identity` block
  website/docs/d/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#13301 Documentation examples: Fix `unsupported block type` error for App Service Environment V3
  website/docs/r/app_service_environment_v3.html.markdown
Labels: documentation, size/XS, service/web-app

#13304 Refactor: `iothub_dps_*` resources to use id parser
  internal/services/iothub/iothub_dps_certificate_resource.go
  internal/services/iothub/iothub_dps_certificate_resource_test.go
  internal/services/iothub/iothub_dps_data_source.go
  internal/services/iothub/iothub_dps_resource.go
  internal/services/iothub/iothub_dps_resource_test.go
  internal/services/iothub/iothub_dps_shared_access_policy_data_source.go
  internal/services/iothub/iothub_dps_shared_access_policy_resource.go
  internal/services/iothub/iothub_dps_shared_access_policy_resource_test.go
  internal/services/iothub/parse/dps_certificate.go
  internal/services/iothub/parse/dps_certificate_test.go
  internal/services/iothub/parse/dps_shared_access_policy.go
  internal/services/iothub/parse/dps_shared_access_policy_test.go
  internal/services/iothub/parse/iot_hub_dps.go
  internal/services/iothub/parse/iot_hub_dps_test.go
  internal/services/iothub/resourceids.go
  internal/services/iothub/validate/dps_certificate_id.go
  internal/services/iothub/validate/dps_certificate_id_test.go
  internal/services/iothub/validate/dps_shared_access_policy_id.go
  internal/services/iothub/validate/dps_shared_access_policy_id_test.go
  internal/services/iothub/validate/iot_hub_dps_id.go
  internal/services/iothub/validate/iot_hub_dps_id_test.go
Labels: size/XL, service/iot-hub, refactor

#13314 docs: `azurerm_virtual_machine_extension` import example
  website/docs/r/virtual_machine_extension.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#13313 docs: azurerm_resource_group_template_deployment - restructure provider features block sentence
  website/docs/r/resource_group_template_deployment.html.markdown
Labels: documentation, size/XS, service/template

#13318 Refactor iothub_endpoint_* resources to use id parser
  internal/services/iothub/iothub_dps_certificate_resource.go
  internal/services/iothub/iothub_dps_resource.go
  internal/services/iothub/iothub_dps_shared_access_policy_resource.go
  internal/services/iothub/iothub_endpoint_eventhub_resource.go
  internal/services/iothub/iothub_endpoint_eventhub_resource_test.go
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource_test.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource_test.go
  internal/services/iothub/iothub_endpoint_storage_container_resource.go
  internal/services/iothub/iothub_endpoint_storage_container_resource_test.go
  internal/services/iothub/parse/endpoint_eventhub.go
  internal/services/iothub/parse/endpoint_eventhub_test.go
  internal/services/iothub/parse/endpoint_service_bus_queue.go
  internal/services/iothub/parse/endpoint_service_bus_queue_test.go
  internal/services/iothub/parse/endpoint_service_bus_topic.go
  internal/services/iothub/parse/endpoint_service_bus_topic_test.go
  internal/services/iothub/parse/endpoint_storage_container.go
  internal/services/iothub/parse/endpoint_storage_container_test.go
  internal/services/iothub/resourceids.go
  internal/services/iothub/validate/endpoint_eventhub_id.go
  internal/services/iothub/validate/endpoint_eventhub_id_test.go
  internal/services/iothub/validate/endpoint_service_bus_queue_id.go
  internal/services/iothub/validate/endpoint_service_bus_queue_id_test.go
  internal/services/iothub/validate/endpoint_service_bus_topic_id.go
  internal/services/iothub/validate/endpoint_service_bus_topic_id_test.go
  internal/services/iothub/validate/endpoint_storage_container_id.go
  internal/services/iothub/validate/endpoint_storage_container_id_test.go
Labels: size/XL, service/iot-hub, refactor

#13333 mssql_database - support addtional sku values
  internal/services/mssql/validate/database_sku_name.go
  internal/services/mssql/validate/database_sku_name_test.go
Labels: bug, size/S, service/mssql

#13335 Crash Fix: `azurerm_linux_virtual_machine_scale_set`
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
Labels: crash, service/vmss

#13336 azurerm_mssql_elasticpool - export the sku block
  internal/services/mssql/mssql_elasticpool_data_source.go
  internal/services/mssql/mssql_elasticpool_data_source_test.go
  website/docs/d/mssql_elasticpool.html.markdown
Labels: enhancement, documentation, size/S, service/mssql

#13264 add resource "azurerm_synapse_integration_runtime_self_hosted"
  internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource.go
  internal/services/synapse/client/client.go
  internal/services/synapse/parse/integration_runtime.go
  internal/services/synapse/parse/integration_runtime_test.go
  internal/services/synapse/registration.go
  internal/services/synapse/resourceids.go
  internal/services/synapse/synapse_integration_runtime_self_hosted_resource.go
  internal/services/synapse/synapse_integration_runtime_self_hosted_resource_test.go
  internal/services/synapse/validate/integration_runtime_id.go
  internal/services/synapse/validate/integration_runtime_id_test.go
  website/docs/r/synapse_integration_runtime_self_hosted.html.markdown
Labels: documentation, new-resource, size/XL, service/synapse

#13338 `azurerm_frontdoor` - Fix crash when cache is disabled
  internal/services/frontdoor/frontdoor_resource.go
Labels: crash, size/XS, service/frontdoor

#13305 `azurerm_lb`: Support for adding/replacing `frontend_ip_configuration` with `availability_zone`
  internal/services/loadbalancer/loadbalancer_resource.go
  internal/services/loadbalancer/loadbalancer_resource_test.go
  website/docs/r/lb.html.markdown
Labels: bug, documentation, service/load-balancers, size/L

#13339 `azurerm_cosmosdb_sql_container`: fix crash when deleting
  internal/services/cosmos/cosmosdb_sql_container_resource.go
Labels: crash, size/XS, service/cosmosdb

#13340 Add Standard and Premium SSD ZRS to Managed Disk Storage Account
  internal/services/compute/managed_disk_resource.go
  website/docs/r/managed_disk.html.markdown
Labels: enhancement, documentation, service/disks, size/XS

#13204 add resource "azurerm_synapse_linked_service"
  internal/services/synapse/client/client.go
  internal/services/synapse/parse/linked_service.go
  internal/services/synapse/parse/linked_service_test.go
  internal/services/synapse/registration.go
  internal/services/synapse/resourceids.go
  internal/services/synapse/synapse_linked_service_resource.go
  internal/services/synapse/synapse_linked_service_resource_test.go
  internal/services/synapse/validate/linked_service_id.go
  internal/services/synapse/validate/linked_service_id_test.go
  website/docs/r/synapse_linked_service.html.markdown
Labels: documentation, new-resource, size/XL, service/synapse

#13328 azurem_site_recovery - Refactored to use parser
  internal/services/recoveryservices/parse/replication_policy.go
  internal/services/recoveryservices/parse/replication_policy_test.go
  internal/services/recoveryservices/parse/replication_protected_item.go
  internal/services/recoveryservices/parse/replication_protected_item_test.go
  internal/services/recoveryservices/parse/replication_protection_container_mappings.go
  internal/services/recoveryservices/parse/replication_protection_container_mappings_test.go
  internal/services/recoveryservices/resourceids.go
  internal/services/recoveryservices/site_recovery_protection_container_mapping_resource.go
  internal/services/recoveryservices/site_recovery_protection_container_mapping_resource_test.go
  internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
  internal/services/recoveryservices/site_recovery_replicated_vm_resource_test.go
  internal/services/recoveryservices/site_recovery_replication_policy_resource.go
  internal/services/recoveryservices/site_recovery_replication_policy_resource_test.go
  internal/services/recoveryservices/validate/replication_policy_id.go
  internal/services/recoveryservices/validate/replication_policy_id_test.go
  internal/services/recoveryservices/validate/replication_protected_item_id.go
  internal/services/recoveryservices/validate/replication_protected_item_id_test.go
  internal/services/recoveryservices/validate/replication_protection_container_mappings_id.go
  internal/services/recoveryservices/validate/replication_protection_container_mappings_id_test.go
Labels: size/XL, service/recovery-services, refactor

#13294 Wait for network provisioning state when creating or updating resources
  internal/services/network/subnet_resource.go
  internal/services/network/virtual_hub_connection_resource.go
  internal/services/network/virtual_hub_connection_resource_test.go
  internal/services/network/virtual_network_resource.go
Labels: bug, service/virtual-networks, size/M

#13321 `azurerm_kubernetes_cluster_node_pool` - `os_sku` is now computed
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_nodepool.go
Labels: bug, size/XS, service/kubernetes-cluster

#13354 [WIP] Test Fix: `postgresql`
  internal/services/postgres/postgresql_flexible_server_configuration_resource_test.go
  internal/services/postgres/postgresql_server_resource_test.go
Labels: size/XS, service/postgresql

#13341 add resource "azurerm_synapse_integration_runtime_azure"
  internal/services/synapse/registration.go
  internal/services/synapse/synapse_integration_runtime_azure_resource.go
  internal/services/synapse/synapse_integration_runtime_azure_resource_test.go
  website/docs/r/synapse_integration_runtime_azure.html.markdown
Labels: documentation, new-resource, size/XL, service/synapse

#13357 `azurerm_app_service_managed_certificate`: Fix for empty `issue_date`
  internal/services/web/app_service_managed_certificate_resource.go
Labels: size/XS, service/app-service

#13345 Refactor remaining iothub_* resources
  internal/services/iothub/iothub_consumer_group_resource.go
  internal/services/iothub/iothub_consumer_group_resource_test.go
  internal/services/iothub/iothub_data_source.go
  internal/services/iothub/iothub_dps_certificate_resource.go
  internal/services/iothub/iothub_dps_data_source.go
  internal/services/iothub/iothub_dps_resource.go
  internal/services/iothub/iothub_dps_resource_test.go
  internal/services/iothub/iothub_dps_shared_access_policy_data_source.go
  internal/services/iothub/iothub_dps_shared_access_policy_resource.go
  internal/services/iothub/iothub_endpoint_eventhub_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource.go
  internal/services/iothub/iothub_endpoint_storage_container_resource.go
  internal/services/iothub/iothub_fallback_route_resource.go
  internal/services/iothub/iothub_fallback_route_resource_test.go
  internal/services/iothub/iothub_resource.go
  internal/services/iothub/iothub_route_resource.go
  internal/services/iothub/iothub_route_resource_test.go
  internal/services/iothub/iothub_shared_access_policy_data_source.go
  internal/services/iothub/iothub_shared_access_policy_resource.go
  internal/services/iothub/iothub_shared_access_policy_resource_test.go
  internal/services/iothub/parse/consumer_group.go
  internal/services/iothub/parse/consumer_group_test.go
  internal/services/iothub/parse/fallback_route.go
  internal/services/iothub/parse/fallback_route_test.go
  internal/services/iothub/parse/route.go
  internal/services/iothub/parse/route_test.go
  internal/services/iothub/parse/shared_access_policy.go
  internal/services/iothub/parse/shared_access_policy_test.go
  internal/services/iothub/resourceids.go
  internal/services/iothub/validate/consumer_group_id.go
  internal/services/iothub/validate/consumer_group_id_test.go
  internal/services/iothub/validate/fallback_route_id.go
  internal/services/iothub/validate/fallback_route_id_test.go
  internal/services/iothub/validate/route_id.go
  internal/services/iothub/validate/route_id_test.go
  internal/services/iothub/validate/shared_access_policy_id.go
  internal/services/iothub/validate/shared_access_policy_id_test.go
Labels: size/XL, service/iot-hub, refactor

#13213 Support for auto-mitigate for Monitor scheduled query rules alerts #13036
  internal/services/monitor/monitor_scheduled_query_rules_alert_resource.go
  internal/services/monitor/monitor_scheduled_query_rules_alert_resource_test.go
  website/docs/r/monitor_scheduled_query_rules_alert.html.markdown
Labels: enhancement, documentation, size/M, service/monitor

#13276 Add capability to enable vulnerability assessments for Azure Synapse SQL Pools
  internal/services/synapse/client/client.go
  internal/services/synapse/parse/sql_pool_security_alert_policy.go
  internal/services/synapse/parse/sql_pool_security_alert_policy_test.go
  internal/services/synapse/parse/sql_pool_vulnerability_assessment.go
  internal/services/synapse/parse/sql_pool_vulnerability_assessment_test.go
  internal/services/synapse/parse/workspace_security_alert_policy.go
  internal/services/synapse/parse/workspace_security_alert_policy_test.go
  internal/services/synapse/parse/workspace_vulnerability_assessment.go
  internal/services/synapse/parse/workspace_vulnerability_assessment_test.go
  internal/services/synapse/registration.go
  internal/services/synapse/resourceids.go
  internal/services/synapse/synapse_sql_pool_security_alert_policy_resource.go
  internal/services/synapse/synapse_sql_pool_security_alert_policy_resource_test.go
  internal/services/synapse/synapse_sql_pool_vulnerability_assessment_resource.go
  internal/services/synapse/synapse_sql_pool_vulnerability_assessment_resource_test.go
  internal/services/synapse/synapse_workspace_security_alert_policy_resource.go
  internal/services/synapse/synapse_workspace_security_alert_policy_resource_test.go
  internal/services/synapse/synapse_workspace_vulnerability_assessment_resource.go
  internal/services/synapse/synapse_workspace_vulnerability_assessment_resource_test.go
  internal/services/synapse/validate/sql_pool_security_alert_policy_id.go
  internal/services/synapse/validate/sql_pool_security_alert_policy_id_test.go
  internal/services/synapse/validate/sql_pool_vulnerability_assessment_id.go
  internal/services/synapse/validate/sql_pool_vulnerability_assessment_id_test.go
  internal/services/synapse/validate/workspace_security_alert_policy_id.go
  internal/services/synapse/validate/workspace_security_alert_policy_id_test.go
  internal/services/synapse/validate/workspace_vulnerability_assessment_id.go
  internal/services/synapse/validate/workspace_vulnerability_assessment_id_test.go
  website/docs/r/synapse_sql_pool_security_alert_policy.html.markdown
  website/docs/r/synapse_sql_pool_vulnerability_assessment.html.markdown
  website/docs/r/synapse_workspace_security_alert_policy.html.markdown
  website/docs/r/synapse_workspace_vulnerability_assessment.html.markdown
Labels: documentation, new-resource, size/XL, service/synapse

#13179 Synapse Workspace Activation with CMK
  internal/services/synapse/client/client.go
  internal/services/synapse/parse/workspace_keys.go
  internal/services/synapse/parse/workspace_keys_test.go
  internal/services/synapse/registration.go
  internal/services/synapse/resourceids.go
  internal/services/synapse/synapse_workspace_key_resource.go
  internal/services/synapse/synapse_workspace_key_resource_test.go
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/synapse/synapse_workspace_resource_test.go
  internal/services/synapse/validate/workspace_keys_id.go
  internal/services/synapse/validate/workspace_keys_id_test.go
  website/docs/r/synapse_workspace.html.markdown
  website/docs/r/synapse_workspace_keys.html.markdown
Labels: enhancement, documentation, size/XL, service/synapse

#13379 `azurerm_app_service_certificate_binding` - rework for removal of thumbprint from service
  internal/services/web/app_service_certificate_binding_resource.go
  internal/services/web/app_service_certificate_binding_resource_test.go
Labels: bug, size/XS, service/app-service

#13370 Test Fix: `azurerm_mysql_*`
  internal/services/mysql/mysql_database_resource_test.go
  internal/services/mysql/mysql_firewall_rule_resource_test.go
  internal/services/mysql/mysql_server_data_source_test.go
  internal/services/mysql/mysql_server_key_resource_test.go
  internal/services/mysql/mysql_server_resource.go
  internal/services/mysql/mysql_server_resource_test.go
  internal/services/mysql/mysql_virtual_network_rule_resource.go
  internal/services/mysql/mysql_virtual_network_rule_resource_test.go
  website/docs/r/mysql_server.html.markdown
  website/docs/r/mysql_server_key.html.markdown
Labels: documentation, size/XL, service/mysql, tests

#13172 `service/iothub`: Fix acceptance tests
  internal/services/iothub/iothub_resource_test.go
Labels: size/XS, service/iot-hub, tests

#13371 Updates var.tf formatting
  examples/azure_network_and_securitygroup/VNET/var.tf
Labels: size/XS

#13384 updated doc for identity block
  website/docs/r/linux_web_app.html.markdown
Labels: documentation, size/XS, service/web-app

#13349 `azurerm_function_app` and `azurerm_function_app_slot` - fix `app_settings` for `WEBSITE_CONTENTSHARE`
  internal/services/web/function_app.go
  internal/services/web/function_app_resource.go
  internal/services/web/function_app_resource_test.go
  internal/services/web/function_app_slot_resource.go
  internal/services/web/function_app_slot_resource_test.go
Labels: size/L, service/functions, tests

#13322 App Service beta-3.0: missed docs and tweaks
  internal/services/appservice/helpers/web_app_schema.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/windows_web_app_resource_test.go
  website/docs/d/linux_web_app.html.markdown
  website/docs/d/service_plan.html.markdown
  website/docs/d/source_control_token.html.markdown
  website/docs/d/windows_web_app.html.markdown
  website/docs/guides/3.0-upgrade-guide.html.markdown
  website/docs/r/app_service_source_control.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/service_plan.html.markdown
  website/docs/r/source_control_token.html.markdown
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, size/XL, service/app-service

#13311 `azurerm_policy_virtual_machine_configuration_assignment`: Updated example HCL, add datasource
  internal/services/policy/policy_virtual_machine_configuration_assignment_data_source.go
  internal/services/policy/policy_virtual_machine_configuration_assignment_data_source_test.go
  internal/services/policy/policy_virtual_machine_configuration_assignment_resource.go
  internal/services/policy/policy_virtual_machine_configuration_assignment_resource_test.go
  internal/services/policy/registration.go
  website/docs/d/policy_virtual_machine_configuration_assignment.html.markdown
  website/docs/r/policy_virtual_machine_configuration_assignment.html.markdown
Labels: enhancement, documentation, size/XL, service/policy

#13366 Test Fix: `TestAccLogAnalyticsLinkedService_*`
  internal/services/loganalytics/log_analytics_linked_service.go
  internal/services/loganalytics/log_analytics_linked_service_resource_test.go
Labels: size/XS, service/log-analytics, tests

#12850 Support for `purge_soft_delete_on_destroy` in `azurerm_api_management`
  internal/features/defaults.go
  internal/features/user_flags.go
  internal/provider/features.go
  internal/provider/features_test.go
  internal/services/apimanagement/api_management_resource.go
  internal/services/apimanagement/api_management_resource_test.go
  internal/services/apimanagement/client/client.go
  website/docs/index.html.markdown
Labels: enhancement, documentation, waiting-response, size/L, service/api-management

#13359 virtual_network_gateway: remove CustomizeDiff func
  internal/services/network/virtual_network_gateway_resource.go
Labels: bug, size/M, service/virtual-network-gateway

#13363 Refactored remaining recoveryservices to use parsers
  internal/services/recoveryservices/backup_container_storage_account_resource.go
  internal/services/recoveryservices/backup_container_storage_account_resource_test.go
  internal/services/recoveryservices/backup_policy_file_share_resource.go
  internal/services/recoveryservices/backup_policy_file_share_resource_test.go
  internal/services/recoveryservices/backup_policy_vm_resource.go
  internal/services/recoveryservices/backup_policy_vm_resource_test.go
  internal/services/recoveryservices/backup_protected_file_share_resource.go
  internal/services/recoveryservices/backup_protected_file_share_resource_test.go
  internal/services/recoveryservices/backup_protected_vm_resource.go
  internal/services/recoveryservices/backup_protected_vm_resource_test.go
  internal/services/recoveryservices/parse/backup_policy.go
  internal/services/recoveryservices/parse/backup_policy_test.go
  internal/services/recoveryservices/parse/protected_item.go
  internal/services/recoveryservices/parse/protected_item_test.go
  internal/services/recoveryservices/parse/protection_container.go
  internal/services/recoveryservices/parse/protection_container_test.go
  internal/services/recoveryservices/parse/replication_protection_container.go
  internal/services/recoveryservices/parse/replication_protection_container_test.go
  internal/services/recoveryservices/resourceids.go
  internal/services/recoveryservices/site_recovery_protection_container_resource.go
  internal/services/recoveryservices/site_recovery_protection_container_resource_test.go
  internal/services/recoveryservices/validate/backup_policy_id.go
  internal/services/recoveryservices/validate/backup_policy_id_test.go
  internal/services/recoveryservices/validate/protected_item_id.go
  internal/services/recoveryservices/validate/protected_item_id_test.go
  internal/services/recoveryservices/validate/protection_container_id.go
  internal/services/recoveryservices/validate/protection_container_id_test.go
  internal/services/recoveryservices/validate/replication_protection_container_id.go
  internal/services/recoveryservices/validate/replication_protection_container_id_test.go
Labels: size/XL, service/recovery-services, refactor

#13389 Test Fix: `TestAccBackendAddressPoolAddressUpdate`
  internal/services/loadbalancer/backend_address_pool_address_resource_test.go
Labels: service/load-balancers, size/XS, tests

#13265 azurerm_logic_app_workflow - support for enabled & access_control
  internal/services/logic/logic_app_workflow_resource.go
  internal/services/logic/logic_app_workflow_resource_test.go
  website/docs/r/logic_app_workflow.html.markdown
Labels: enhancement, documentation, size/XL, service/logic

#13262 azurerm_spring_cloud_service supports connection_string
  internal/services/springcloud/spring_cloud_service_resource.go
  internal/services/springcloud/spring_cloud_service_resource_test.go
  website/docs/r/spring_cloud_service.html.markdown
Labels: enhancement, documentation, size/S, services/spring

#13390 `azurerm_data_factory_trigger_schedule` - add support for `activated`
  internal/services/datafactory/data_factory_trigger_schedule_resource.go
  internal/services/datafactory/data_factory_trigger_schedule_resource_test.go
  website/docs/r/data_factory_trigger_schedule.html.markdown
Labels: enhancement, documentation, size/S, service/data-factory

#13401 `r/azurerm_app_service_certificate` & `d/azurerm_app_service_certificate`: Prevent nil pointers in `issue_date` and `expiration_date`
  internal/services/web/app_service_certificate_data_source.go
  internal/services/web/app_service_certificate_resource.go
Labels: bug, size/XS, service/app-service

#13269 Let `azurerm_storage_share_file` re-create deleted files
  internal/services/storage/client/client.go
  internal/services/storage/migration/share.go
  internal/services/storage/parse/storage_share_data_plane.go
  internal/services/storage/shim/shares.go
  internal/services/storage/shim/shares_data_plane.go
  internal/services/storage/storage_share_directory_resource.go
  internal/services/storage/storage_share_directory_resource_test.go
  internal/services/storage/storage_share_file_resource.go
  internal/services/storage/storage_share_file_resource_test.go
  internal/services/storage/storage_share_resource.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/directories/README.md
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/directories/api.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/directories/client.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/directories/create.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/directories/delete.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/directories/get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/directories/metadata_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/directories/metadata_set.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/directories/resource_id.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/directories/version.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/README.md
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/api.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/client.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/copy.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/copy_abort.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/copy_wait.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/create.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/delete.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/metadata_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/metadata_set.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/properties_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/properties_set.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/range_clear.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/range_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/range_get_file.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/range_put.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/range_put_file.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/ranges_list.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/resource_id.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/files/version.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/README.md
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/acl_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/acl_set.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/api.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/client.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/create.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/delete.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/metadata_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/metadata_set.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/models.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/properties_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/properties_set.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/resource_id.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/snapshot_create.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/snapshot_delete.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/snapshot_get.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/stats.go
  vendor/github.com/tombuildsstuff/giovanni/storage/2020-08-04/file/shares/version.go
  vendor/modules.txt
Labels: bug, dependencies, service/storage, size/S

#13423 Improve docs for `azurerm_log_analytics_data_export_rule`
  website/docs/r/log_analytics_data_export_rule.html.markdown
Labels: documentation, size/XS, service/log-analytics

#13408 `policy_virtual_machine_configuration_assignment` - Remove erroneous horizontal rule in Arguments Reference
  website/docs/r/policy_virtual_machine_configuration_assignment.html.markdown
Labels: documentation, size/XS, service/policy

#13410 fix incorrect document
  website/docs/r/function_app.html.markdown
Labels: documentation, service/storage, size/XS

#13419 Refactoring automation account, credentials and certificate to use parsers
  internal/services/automation/automation_account_resource.go
  internal/services/automation/automation_account_resource_test.go
  internal/services/automation/automation_certificate_resource.go
  internal/services/automation/automation_certificate_resource_test.go
  internal/services/automation/automation_credential_resource.go
  internal/services/automation/automation_credential_resource_test.go
  internal/services/automation/parse/certificate.go
  internal/services/automation/parse/certificate_test.go
  internal/services/automation/parse/credential.go
  internal/services/automation/parse/credential_test.go
  internal/services/automation/resourceids.go
  internal/services/automation/validate/certificate_id.go
  internal/services/automation/validate/certificate_id_test.go
  internal/services/automation/validate/credential_id.go
  internal/services/automation/validate/credential_id_test.go
Labels: size/XL, service/automation, refactor

#13429 `azurerm_maps_account`: Fix documentation
  website/docs/r/maps_account.html.markdown
Labels: documentation, size/XS, service/maps

#13432 `azurerm_cosmosdb_account`: Add extra nil checking
  internal/services/cosmos/common/cors_rule.go
  internal/services/cosmos/cosmosdb_account_resource.go
Labels: bug, size/XS, service/cosmosdb

#13430 `azurerm_vpn_gateway_connection`: Fix example doc
  website/docs/r/vpn_gateway_connection.html.markdown
Labels: documentation, size/XS, service/vpn

#13431 `data_protection_backup_instance_blob_storage`: Fix example docs
  website/docs/r/data_protection_backup_instance_blob_storage.html.markdown
Labels: documentation, size/XS, service/data-protection

#13420 Typed SDK model object validation fix
  internal/provider/services_test.go
  internal/sdk/wrapper_data_source.go
  internal/sdk/wrapper_resource.go
  internal/sdk/wrapper_validate.go
  internal/sdk/wrapper_validate_test.go
  internal/services/apimanagement/api_management_notification_recipient_email.go
  internal/services/appconfiguration/app_configuration_key_resource.go
  internal/services/batch/batch_job_resource.go
  internal/services/eventhub/eventhub_consumer_group_resource.go
  internal/services/loadbalancer/backend_address_pool_address_resource.go
  internal/services/resource/resource_provider_registration_resource.go
  internal/services/web/app_service_environment_v3_data_source.go
  internal/services/web/app_service_environment_v3_resource.go
Labels: bug, size/S, provider

#13421 `azurerm_private_endpoint_connection` - Export `network_interface` attributes from private endpoints
  internal/services/network/private_endpoint_connection_data_source.go
  internal/services/network/private_endpoint_connection_data_source_test.go
  internal/services/network/private_endpoint_resource.go
  internal/services/network/private_endpoint_resource_test.go
  website/docs/d/private_endpoint_connection.html.markdown
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, size/M

#13456 update beta resources for modelobject return change in typed sdk
  internal/services/appservice/linux_web_app_data_source.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/service_plan_data_source.go
  internal/services/appservice/service_plan_resource.go
  internal/services/appservice/source_control_resource.go
  internal/services/appservice/source_control_token_data_source.go
  internal/services/appservice/source_control_token_resource.go
  internal/services/appservice/windows_web_app_data_source.go
  internal/services/appservice/windows_web_app_resource.go
Labels: size/XS, service/app-service

#13455 Revert 13379
  internal/services/web/app_service_certificate_binding_resource.go
  internal/services/web/app_service_certificate_binding_resource_test.go
Labels: bug, size/XS, service/app-service

#13454 Add support for signing_secret of azurerm_bot_channel_slack
  internal/services/bot/bot_channel_slack_resource.go
  internal/services/bot/bot_channel_slack_resource_test.go
  internal/services/bot/bot_channel_test.go
  website/docs/r/bot_channel_slack.html.markdown
Labels: documentation, new-resource, size/M, service/bots

#12952 New Resource: `azurerm_synapse_sql_pool_extended_auditing_policy` and `azurerm_synapse_workspace_extended_auditing_policy`
  internal/services/synapse/client/client.go
  internal/services/synapse/parse/sql_pool_extended_auditing_policy.go
  internal/services/synapse/parse/sql_pool_extended_auditing_policy_test.go
  internal/services/synapse/parse/workspace_extended_auditing_policy.go
  internal/services/synapse/parse/workspace_extended_auditing_policy_test.go
  internal/services/synapse/registration.go
  internal/services/synapse/resourceids.go
  internal/services/synapse/synapse_sql_pool_extended_auditing_policy_resource.go
  internal/services/synapse/synapse_sql_pool_extended_auditing_policy_resource_test.go
  internal/services/synapse/synapse_workspace_extended_auditing_policy_resource.go
  internal/services/synapse/synapse_workspace_extended_auditing_policy_resource_test.go
  internal/services/synapse/validate/sql_pool_extended_auditing_policy_id.go
  internal/services/synapse/validate/sql_pool_extended_auditing_policy_id_test.go
  internal/services/synapse/validate/workspace_extended_auditing_policy_id.go
  internal/services/synapse/validate/workspace_extended_auditing_policy_id_test.go
  website/docs/r/synapse_sql_pool_extended_auditing_policy.html.markdown
  website/docs/r/synapse_workspace_extended_auditing_policy.html.markdown
Labels: documentation, size/XL, service/synapse

#13426 Wait for network provisioning state when creating or updating resource
  internal/services/web/app_service_slot_virtual_network_swift_connection_resource.go
  internal/services/web/app_service_virtual_network_swift_connection_resource.go
Labels: bug, size/M

#13310 azurerm_function_app & azurerm_app_service - support for vnet_route_all_enabled
  internal/services/web/function_app.go
  internal/services/web/function_app_data_source_test.go
  internal/services/web/function_app_resource.go
  internal/services/web/function_app_resource_test.go
  website/docs/d/app_service.html.markdown
  website/docs/d/function_app.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/function_app.html.markdown
Labels: documentation, size/L, service/functions

#13249 New Resource: azurerm_frontdoor_rules_engine
  internal/services/frontdoor/client/client.go
  internal/services/frontdoor/frontdoor_firewall_policy_resource.go
  internal/services/frontdoor/frontdoor_resource_test.go
  internal/services/frontdoor/frontdoor_rules_engine_rule.go
  internal/services/frontdoor/parse/load_balancing_rule.go
  internal/services/frontdoor/parse/load_balancing_rule_test.go
  internal/services/frontdoor/parse/rules_engine.go
  internal/services/frontdoor/parse/rules_engine_test.go
  internal/services/frontdoor/registration.go
  internal/services/frontdoor/resourceids.go
  internal/services/frontdoor/validate/load_balancing_rule_id.go
  internal/services/frontdoor/validate/load_balancing_rule_id_test.go
  internal/services/frontdoor/validate/rules_engine_id.go
  internal/services/frontdoor/validate/rules_engine_id_test.go
  website/docs/r/frontdoor_rules_engine.html.markdown
Labels: documentation, size/XL, service/frontdoor

#13464 azurerm_synapse_workspace - mark tenant_id as computed
  internal/services/synapse/synapse_workspace_resource.go
Labels: bug, size/XS, service/synapse

#13355 Wait for network provisioning state when creating or updating resources
  internal/services/network/subnet_nat_gateway_association_resource.go
  internal/services/network/subnet_network_security_group_association_resource.go
  internal/services/network/subnet_route_table_association_resource.go
  internal/services/network/virtual_network_dns_servers_resource.go
Labels: size/M, service/netapp

#13446 New resource: `mssql_failover_group`
  internal/provider/services.go
  internal/sdk/resource_decode.go
  internal/services/mssql/client/client.go
  internal/services/mssql/mssql_failover_group_resource.go
  internal/services/mssql/mssql_failover_group_resource_test.go
  internal/services/mssql/parse/failover_group.go
  internal/services/mssql/parse/failover_group_test.go
  internal/services/mssql/registration.go
  internal/services/mssql/resourceids.go
  internal/services/mssql/validate/failover_group_id.go
  internal/services/mssql/validate/failover_group_id_test.go
  website/docs/r/mssql_failover_group.html.markdown
Labels: documentation, new-resource, size/XL, service/mssql

#13307 `azurerm_storage_account_network_rules ` - Deprecate `storage_account_name` and `resource_group_name` in favor of `storage_account_id`
  internal/services/storage/storage_account_network_rules_resource.go
  internal/services/storage/storage_account_network_rules_resource_test.go
  website/docs/r/storage_account_network_rules.html.markdown
Labels: documentation, size/M

#13374 Allow empty_dir volume shared across containers in container group
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
Labels: bug, size/M, service/container-group

#13413 azurerm_kubernetes_cluster - private_cluster_public_fqdn_enabled is no longer force new
  internal/services/containers/kubernetes_cluster_resource.go
Labels: size/XS, service/kubernetes-cluster

#13477 Refactor `azurerm_application_insights_analytics_*` to use id parser
  internal/services/applicationinsights/application_insights_analytics_item_resource.go
  internal/services/applicationinsights/application_insights_analytics_item_resource_test.go
  internal/services/applicationinsights/application_insights_api_key_resource.go
  internal/services/applicationinsights/application_insights_api_key_resource_test.go
  internal/services/applicationinsights/application_insights_smart_detection_rule_resource.go
  internal/services/applicationinsights/application_insights_smart_detection_rule_resource_test.go
  internal/services/applicationinsights/parse/analytics_shared_item.go
  internal/services/applicationinsights/parse/analytics_shared_item_test.go
  internal/services/applicationinsights/parse/analytics_user_item.go
  internal/services/applicationinsights/parse/analytics_user_item_test.go
  internal/services/applicationinsights/parse/api_key.go
  internal/services/applicationinsights/parse/api_key_test.go
  internal/services/applicationinsights/resourceids.go
  internal/services/applicationinsights/validate/analytics_shared_item_id.go
  internal/services/applicationinsights/validate/analytics_shared_item_id_test.go
  internal/services/applicationinsights/validate/analytics_user_item_id.go
  internal/services/applicationinsights/validate/analytics_user_item_id_test.go
  internal/services/applicationinsights/validate/api_key_id.go
  internal/services/applicationinsights/validate/api_key_id_test.go
  website/docs/r/application_insights_analytics_item.html.markdown
  website/docs/r/application_insights_smart_detection_rule.html.markdown
Labels: documentation, size/XL, service/application-insights, refactor

#13476 azurem_automation - Refactor remaining automation services to use parsers
  internal/services/automation/automation_dsc_configuration_resource.go
  internal/services/automation/automation_dsc_configuration_resource_test.go
  internal/services/automation/automation_dsc_nodeconfiguration_resource.go
  internal/services/automation/automation_dsc_nodeconfiguration_resource_test.go
  internal/services/automation/automation_job_schedule_resource.go
  internal/services/automation/automation_job_schedule_resource_test.go
  internal/services/automation/automation_module_resource.go
  internal/services/automation/automation_module_resource_test.go
  internal/services/automation/automation_runbook_resource.go
  internal/services/automation/automation_runbook_resource_test.go
  internal/services/automation/automation_schedule_resource.go
  internal/services/automation/automation_schedule_resource_test.go
  internal/services/automation/automation_variable.go
  internal/services/automation/automation_variable_bool_resource.go
  internal/services/automation/automation_variable_datetime_resource.go
  internal/services/automation/automation_variable_int_resource.go
  internal/services/automation/automation_variable_string_resource.go
  internal/services/automation/automation_variable_test.go
  internal/services/automation/parse/configuration.go
  internal/services/automation/parse/configuration_test.go
  internal/services/automation/parse/job_schedule.go
  internal/services/automation/parse/job_schedule_test.go
  internal/services/automation/parse/module.go
  internal/services/automation/parse/module_test.go
  internal/services/automation/parse/node_configuration.go
  internal/services/automation/parse/node_configuration_test.go
  internal/services/automation/parse/runbook.go
  internal/services/automation/parse/runbook_test.go
  internal/services/automation/parse/schedule.go
  internal/services/automation/parse/schedule_test.go
  internal/services/automation/parse/variable.go
  internal/services/automation/parse/variable_test.go
  internal/services/automation/resourceids.go
  internal/services/automation/validate/configuration_id.go
  internal/services/automation/validate/configuration_id_test.go
  internal/services/automation/validate/job_schedule_id.go
  internal/services/automation/validate/job_schedule_id_test.go
  internal/services/automation/validate/module_id.go
  internal/services/automation/validate/module_id_test.go
  internal/services/automation/validate/node_configuration_id.go
  internal/services/automation/validate/node_configuration_id_test.go
  internal/services/automation/validate/runbook_id.go
  internal/services/automation/validate/runbook_id_test.go
  internal/services/automation/validate/schedule_id.go
  internal/services/automation/validate/schedule_id_test.go
  internal/services/automation/validate/variable_id.go
  internal/services/automation/validate/variable_id_test.go
Labels: size/XL, service/automation, refactor

#13271 New Resource: `azurerm_key_vault_managed_storage_account` and `azurerm_key_vault_managed_storage_account_sas_token_definition`
  internal/services/keyvault/key_vault_managed_storage_account.go
  internal/services/keyvault/key_vault_managed_storage_account_sas_token_definition.go
  internal/services/keyvault/key_vault_managed_storage_account_sas_token_definition_test.go
  internal/services/keyvault/key_vault_managed_storage_account_test.go
  internal/services/keyvault/parse/sas_definition.go
  internal/services/keyvault/registration.go
  website/docs/r/key_vault_managed_storage_account.html.markdown
  website/docs/r/key_vault_managed_storage_account_sas_token_definition.html.markdown
Labels: documentation, new-resource, service/keyvault, size/XL

#13483 `azurerm_app_configuration_key`: Fix nil pointer for removed key
  internal/services/appconfiguration/app_configuration_key_resource.go
Labels: bug, size/XS, service/app-configuration

#13268 azurerm_machine_learning_workspace - support for azurerm_machine_learning_workspace, discovery_url
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/machinelearning/machine_learning_workspace_resource_test.go
  website/docs/r/machine_learning_workspace.html.markdown
Labels: enhancement, documentation, size/M, service/machine-learning

#13480 azurerm_container_group - fix image in container group tests
  internal/services/containers/container_group_resource_test.go
Labels: size/S, service/container-group, tests

#13473 `azurerm_data_factory`: Support for `identity = SystemAssiged,UserAssigned`
  internal/services/datafactory/data_factory_resource.go
  internal/services/datafactory/data_factory_resource_test.go
  website/docs/r/data_factory.html.markdown
Labels: documentation, size/S

#13440 `azurerm_windows_virtual_machine_scale_set`/`azurerm_linux_virtual_machine_scale_set` - define Hash function for extension block to ignore `protected_setting`
  internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_test.go
  internal/services/compute/virtual_machine_scale_set.go
  internal/services/compute/windows_virtual_machine_scale_set_extensions_test.go
  internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
Labels: bug, service/vmss, size/M

#13499 Doc Fix: `azurerm_servicebus_subscription` - Fix incorrect 'P5M' and 'P1M' ISO8601 duration values
  website/docs/r/servicebus_subscription.html.markdown
Labels: documentation, size/XS, service/service-bus

#13491 Refactor `azurerm_data_lake_*` to use id parsers
  internal/services/datalake/data_lake_analytics_account_resource.go
  internal/services/datalake/data_lake_analytics_account_resource_test.go
  internal/services/datalake/data_lake_analytics_firewall_rule_resource.go
  internal/services/datalake/data_lake_analytics_firewall_rule_resource_test.go
  internal/services/datalake/data_lake_store_data_source.go
  internal/services/datalake/data_lake_store_firewall_rule_resource.go
  internal/services/datalake/data_lake_store_firewall_rule_resource_test.go
  internal/services/datalake/data_lake_store_resource.go
  internal/services/datalake/data_lake_store_resource_test.go
  internal/services/datalake/data_lake_store_virtual_network_rule_resource.go
  internal/services/datalake/data_lake_store_virtual_network_rule_resource_test.go
  internal/services/datalake/parse/analytics_account.go
  internal/services/datalake/parse/analytics_account_test.go
  internal/services/datalake/parse/analytics_firewall_rule.go
  internal/services/datalake/parse/analytics_firewall_rule_test.go
  internal/services/datalake/parse/firewall_rule.go
  internal/services/datalake/parse/firewall_rule_test.go
  internal/services/datalake/resourceids.go
  internal/services/datalake/validate/analytics_account_id.go
  internal/services/datalake/validate/analytics_account_id_test.go
  internal/services/datalake/validate/analytics_firewall_rule_id.go
  internal/services/datalake/validate/analytics_firewall_rule_id_test.go
  internal/services/datalake/validate/firewall_rule_id.go
  internal/services/datalake/validate/firewall_rule_id_test.go
Labels: service/data-lake, service/data-lake-analytics, refactor

#13517 'azurerm_iothub' fix DiffSuppress for 'connection_string'
  internal/services/iothub/iothub_resource.go
Labels: bug, size/S, service/iot-hub

#13516 azurem_containers - Refactor to use parsers
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
  internal/services/containers/container_registry_resource.go
  internal/services/containers/container_registry_resource_test.go
  internal/services/containers/container_registry_webhook_resource.go
  internal/services/containers/container_registry_webhook_resource_test.go
  internal/services/containers/parse/registry.go
  internal/services/containers/parse/registry_test.go
  internal/services/containers/parse/webhook.go
  internal/services/containers/parse/webhook_test.go
  internal/services/containers/resourceids.go
  internal/services/containers/validate/registry_id.go
  internal/services/containers/validate/registry_id_test.go
  internal/services/containers/validate/webhook_id.go
  internal/services/containers/validate/webhook_id_test.go
Labels: size/XL, service/container-group, service/container-registry, refactor

#13526 `azurerm_app_configuration_key`: Documentation of necessary permissions
  website/docs/r/app_configuration_key.html.markdown
Labels: documentation, size/XS, service/app-configuration

#13493 `azurerm_kubernetes_cluster`: Set default upgrade channel to `none` on create
  internal/services/containers/kubernetes_cluster_resource.go
Labels: size/XS, service/kubernetes-cluster

#13527 Add support for data.azurerm_key_vault_certificate and data.azurerm_key_vault_certificate_data attributes not before and expires
  internal/services/keyvault/key_vault_certificate_data_data_source.go
  internal/services/keyvault/key_vault_certificate_data_data_source_test.go
  internal/services/keyvault/key_vault_certificate_data_source.go
  internal/services/keyvault/key_vault_certificate_data_source_test.go
  website/docs/d/key_vault_certificate.html.markdown
  website/docs/d/key_vault_certificate_data.html.markdown
Labels: enhancement, documentation, service/keyvault, size/M

#13522 Update links to the provider documentation in docs and comments.
  CHANGELOG-v2.md
  README.md
  examples/virtual-machines/virtual_machine/vm-joined-to-active-directory/README.md
  internal/provider/provider.go
  internal/services/keyvault/key_vault_resource.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/virtual-machine, service/keyvault, size/XS

#13530 Update output to lowercase and no spaces
  examples/cdn/outputs.tf
  examples/search/outputs.tf
  examples/servicebus/basic/outputs.tf
  examples/servicebus/forwarding/outputs.tf
Labels: size/XS

#13531 K8s private-api-server easier example startup
  examples/kubernetes/private-api-server/main.tf
  examples/kubernetes/private-api-server/outputs.tf
Labels: size/XS

#13524 Test Fix: Various Compute tests
  internal/acceptance/steps.go
  internal/services/compute/linux_virtual_machine_scale_set_network_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/virtual_machine_managed_disks_resource_test.go
  internal/services/compute/virtual_machine_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
Labels: size/S, tests

#13529 Refactor remaining `azurerm_logic_app_*` resources
  internal/services/logic/logic_app_action_custom_resource.go
  internal/services/logic/logic_app_action_http_resource.go
  internal/services/logic/logic_app_trigger_custom_resource.go
  internal/services/logic/logic_app_trigger_http_request_resource.go
  internal/services/logic/logic_app_trigger_recurrence_resource.go
  internal/services/logic/logic_app_workflow_data_source.go
  internal/services/logic/logic_app_workflow_resource.go
  internal/services/logic/logic_app_workflow_resource_test.go
  internal/services/logic/logic_apps.go
  internal/services/logic/logic_apps_test.go
  internal/services/logic/parse/action.go
  internal/services/logic/parse/action_test.go
  internal/services/logic/parse/trigger.go
  internal/services/logic/parse/trigger_test.go
  internal/services/logic/parse/workflow.go
  internal/services/logic/parse/workflow_test.go
  internal/services/logic/resourceids.go
  internal/services/logic/validate/action_id.go
  internal/services/logic/validate/action_id_test.go
  internal/services/logic/validate/trigger_id.go
  internal/services/logic/validate/trigger_id_test.go
  internal/services/logic/validate/workflow_id.go
  internal/services/logic/validate/workflow_id_test.go
Labels: size/XL, service/logic, refactor

#13534 set etag attribute when reading
  internal/services/appconfiguration/app_configuration_key_resource.go
  internal/services/appconfiguration/app_configuration_key_resource_test.go
Labels: bug, size/XS, service/app-configuration

#13555 Test Fix: Compute tests that used key vault
  internal/services/compute/disk_encryption_set_resource_test.go
  internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/managed_disk_resource_test.go
  internal/services/compute/snapshot_resource_test.go
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_os_resource_test.go
Labels: size/M

#13552 Refactor `azurerm_data_factory_dataset_*` to use id parsers
  internal/services/datafactory/data_factory_dataset_azure_blob_resource.go
  internal/services/datafactory/data_factory_dataset_azure_blob_resource_test.go
  internal/services/datafactory/data_factory_dataset_cosmosdb_sqlapi_resource.go
  internal/services/datafactory/data_factory_dataset_cosmosdb_sqlapi_resource_test.go
  internal/services/datafactory/data_factory_dataset_delimited_text_resource.go
  internal/services/datafactory/data_factory_dataset_delimited_text_resource_test.go
  internal/services/datafactory/data_factory_dataset_http_resource.go
  internal/services/datafactory/data_factory_dataset_http_resource_test.go
  internal/services/datafactory/data_factory_dataset_json_resource.go
  internal/services/datafactory/data_factory_dataset_json_resource_test.go
  internal/services/datafactory/data_factory_dataset_mysql_resource.go
  internal/services/datafactory/data_factory_dataset_mysql_resource_test.go
  internal/services/datafactory/data_factory_dataset_parquet_resource.go
  internal/services/datafactory/data_factory_dataset_parquet_resource_test.go
  internal/services/datafactory/data_factory_dataset_postgresql_resource.go
  internal/services/datafactory/data_factory_dataset_postgresql_resource_test.go
  internal/services/datafactory/data_factory_dataset_snowflake_resource.go
  internal/services/datafactory/data_factory_dataset_snowflake_resource_test.go
  internal/services/datafactory/data_factory_dataset_sql_server_table_resource.go
  internal/services/datafactory/data_factory_dataset_sql_server_table_resource_test.go
Labels: size/XL, service/data-factory, refactor

#13548 `azurerm_virtual_hub_connection` - Optimized state change refresh function
  internal/services/network/virtual_hub_connection_resource.go
  website/docs/r/virtual_hub_connection.html.markdown
Labels: documentation, size/M

#13539 Updated notes for Log Analytics
  website/docs/r/mssql_database_extended_auditing_policy.html.markdown
Labels: documentation, size/XS, service/mssql

#13549 azurerm_communication_service - export primary_connection_string, secondary_connection_string, primary_key, secondary_key
  internal/services/communication/communication_service_resource.go
  internal/services/communication/communication_service_resource_test.go
  website/docs/r/communication_service.html.markdown
Labels: enhancement, documentation, size/S, service/communication

#13538 Update target_resource_id
  examples/sql-azure/sql_auditing_log_analytics/main.tf
Labels: documentation, size/XS, service/mssql, service/monitor

#13520 `azurerm_cosmosdb_account`: Support for `mongo_server_version` changes
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: bug, documentation, size/M, service/cosmosdb

#13196 New resource: `azurerm_logic_app_standard`
  internal/services/logic/logic_app_standard_resource.go
  internal/services/logic/logic_app_standard_resource_test.go
  internal/services/logic/parse/logic_app_standard.go
  internal/services/logic/parse/logic_app_standard_test.go
  internal/services/logic/registration.go
  internal/services/logic/resourceids.go
  internal/services/logic/validate/logic_app_standard_id.go
  internal/services/logic/validate/logic_app_standard_id_test.go
  internal/services/logic/validate/logic_app_standard_name.go
  website/docs/r/logic_app_standard.html.markdown
Labels: documentation, new-resource, size/XL, service/logic

#13565 docs: clarifying the 3.0 overview
  internal/features/three_point_oh.go
  internal/services/appservice/registration.go
  website/docs/d/linux_web_app.html.markdown
  website/docs/d/service_plan.html.markdown
  website/docs/d/source_control_token.html.markdown
  website/docs/d/windows_web_app.html.markdown
  website/docs/guides/3.0-app-service-beta.html.markdown
  website/docs/guides/3.0-beta.html.markdown
  website/docs/guides/3.0-overview.html.markdown
  website/docs/guides/3.0-upgrade-guide.html.markdown
  website/docs/r/app_service_source_control.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/service_plan.html.markdown
  website/docs/r/source_control_token.html.markdown
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, size/XL

#13571 `azurerm_managed_disk` - Add support for `max_shares`
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/managed_disk_resource_test.go
  website/docs/r/managed_disk.html.markdown
Labels: enhancement, service/disks

#13567 `azurerm_consumption_*` add support for `Forecasted` threshold type
  internal/services/consumption/consumption_budget_common.go
  internal/services/consumption/consumption_budget_resource_group_resource_test.go
  internal/services/consumption/consumption_budget_subscription_resource.go
  internal/services/consumption/consumption_budget_subscription_resource_test.go
  internal/services/consumption/helpers.go
  internal/services/consumption/schema.go
  website/docs/r/consumption_budget_resource_group.html.markdown
  website/docs/r/consumption_budget_subscription.html.markdown
Labels: enhancement, documentation, size/M, service/consumption
