Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2021-04, with the labels that each got.

#11182 `azurerm_log_analytics_workspace` - Fix issue where -1 couldn't be specified for `daily_quota_gb`
  azurerm/internal/services/loganalytics/log_analytics_workspace_resource.go
  azurerm/internal/services/loganalytics/log_analytics_workspace_resource_test.go
Labels: bug, service/log-analytics, size/XS

#11197 Docs typo on links to virtual machine examples
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#10950 Add URL Configuration support to azurerm_application_gateway
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/application_gateway_resource_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/L, waiting-response

#11160 `azurerm_virtual_desktop_host_pool` - add custom_rdp_property
  azurerm/internal/services/desktopvirtualization/virtual_desktop_host_pool_resource.go
  azurerm/internal/services/desktopvirtualization/virtual_desktop_host_pool_resource_test.go
  website/docs/r/virtual_desktop_host_pool.html.markdown
Labels: documentation, service/virtual-desktops, size/XS, waiting-response

#10074 New resource: azurerm_express_route_port
  azurerm/internal/services/network/client/client.go
  azurerm/internal/services/network/express_route_port_resource.go
  azurerm/internal/services/network/express_route_port_resource_test.go
  azurerm/internal/services/network/parse/express_route_port.go
  azurerm/internal/services/network/parse/express_route_port_test.go
  azurerm/internal/services/network/registration.go
  azurerm/internal/services/network/resourceids.go
  azurerm/internal/services/network/validate/express_route_port.go
  azurerm/internal/services/network/validate/express_route_port_id.go
  azurerm/internal/services/network/validate/express_route_port_id_test.go
  azurerm/internal/services/network/validate/express_route_port_test.go
  website/docs/r/express_route_port.html.markdown
Labels: documentation, service/express-route, size/XXL

#11186 `azurerm_hpc_cache_nfs_target` - support for `access_policy_name`
  azurerm/internal/services/hpccache/hpc_cache_blob_target_resource.go
  azurerm/internal/services/hpccache/hpc_cache_nfs_target_resource.go
  azurerm/internal/services/hpccache/hpc_cache_nfs_target_resource_test.go
  website/docs/r/hpc_cache_blob_target.html.markdown
  website/docs/r/hpc_cache_nfs_target.html.markdown
Labels: documentation, service/hpccache, size/M

#11202 `azurerm_redis_enterprise_cluster`: Update locations per service team request
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_location.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_location_flash_sku_support.go
  azurerm/internal/services/redisenterprise/validate/redis_enterprise_cluster_location_zone_support.go
Labels: enhancement, service/redis, size/XS

#11205 Docs Fix - wrong argument name in `azurerm_policy_set_definition`
  website/docs/r/policy_set_definition.html.markdown
Labels: documentation, size/XS

#11196 `azurerm_web_application_firewall_policy` - `http_listener_ids` and `path_based_rule_ids` are now Computed only
  azurerm/internal/services/network/application_gateway_resource_test.go
  azurerm/internal/services/network/web_application_firewall_policy_resource.go
Labels: size/L

#10779 network/private-endpoint: allow alias as well
  azurerm/internal/services/network/private_endpoint_resource.go
  azurerm/internal/services/network/private_endpoint_resource_test.go
  azurerm/internal/services/network/validate/private_connection_resource_alias.go
  azurerm/internal/services/network/validate/private_connection_resource_alias_test.go
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, size/L

#11210 changed group_names to policy_group_names in documentation
  website/docs/d/policy_set_definition.html.markdown
Labels: documentation, size/XS

#11066 New Resource: azurerm_communication_service
  .teamcity/components/generated/services.kt
  azurerm/internal/clients/client.go
  azurerm/internal/provider/services.go
  azurerm/internal/services/communication/client/client.go
  azurerm/internal/services/communication/communication_service_resource.go
  azurerm/internal/services/communication/communication_service_resource_test.go
  azurerm/internal/services/communication/parse/communication_service.go
  azurerm/internal/services/communication/parse/communication_service_test.go
  azurerm/internal/services/communication/registration.go
  azurerm/internal/services/communication/resourceids.go
  azurerm/internal/services/communication/validate/communication_service_id.go
  azurerm/internal/services/communication/validate/communication_service_id_test.go
  azurerm/internal/services/communication/validate/communication_service_name.go
  azurerm/internal/services/communication/validate/communication_service_name_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/communication/mgmt/2020-08-20/communication/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/communication/mgmt/2020-08-20/communication/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/communication/mgmt/2020-08-20/communication/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/communication/mgmt/2020-08-20/communication/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/communication/mgmt/2020-08-20/communication/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/communication/mgmt/2020-08-20/communication/operationstatuses.go
  vendor/github.com/Azure/azure-sdk-for-go/services/communication/mgmt/2020-08-20/communication/service.go
  vendor/github.com/Azure/azure-sdk-for-go/services/communication/mgmt/2020-08-20/communication/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/communication_service.html.markdown
Labels: dependencies, documentation, new-resource, service/communication, size/XXL

#11222 `azurerm_media_service_account` - `storage_authentication_type` correctly accepts both `ManagedIdentity` and `System`
  azurerm/internal/services/media/media_services_account_resource.go
Labels: services/media, size/XS

#11154 new resource "azurerm_spring_cloud_app_redis_association"
  azurerm/internal/services/springcloud/client/client.go
  azurerm/internal/services/springcloud/parse/spring_cloud_app_association.go
  azurerm/internal/services/springcloud/parse/spring_cloud_app_association_test.go
  azurerm/internal/services/springcloud/registration.go
  azurerm/internal/services/springcloud/resourceids.go
  azurerm/internal/services/springcloud/spring_cloud_app_association_import.go
  azurerm/internal/services/springcloud/spring_cloud_app_redis_association_resource.go
  azurerm/internal/services/springcloud/spring_cloud_app_redis_association_resource_test.go
  azurerm/internal/services/springcloud/validate/spring_cloud_app_association_id.go
  azurerm/internal/services/springcloud/validate/spring_cloud_app_association_id_test.go
  azurerm/internal/services/springcloud/validate/spring_cloud_app_association_name.go
  azurerm/internal/services/springcloud/validate/spring_cloud_app_association_name_test.go
  website/docs/r/spring_cloud_app_redis_association.html.markdown
Labels: documentation, services/spring, size/XL

#10914 New Api Management Email Template Resource
  azurerm/internal/services/apimanagement/api_management_email_template_resource.go
  azurerm/internal/services/apimanagement/api_management_email_template_resource_test.go
  azurerm/internal/services/apimanagement/client/client.go
  azurerm/internal/services/apimanagement/parse/email_template.go
  azurerm/internal/services/apimanagement/parse/email_template_test.go
  azurerm/internal/services/apimanagement/registration.go
  azurerm/internal/services/apimanagement/resourceids.go
  azurerm/internal/services/apimanagement/validate/email_template_id.go
  azurerm/internal/services/apimanagement/validate/email_template_id_test.go
  website/docs/r/api_management_email_template.html.markdown
Labels: documentation, new-resource, service/api-management, size/XL

#11221 d/dns_zone: not setting the resource id until after we've looked it up
  azurerm/internal/services/dns/dns_zone_data_source.go
Labels: bug, regression, service/dns, size/XS

#11201 fix kubernates cluster acc tests
  azurerm/internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
Labels: service/kubernetes-cluster, size/XS, tests, waiting-response

#11237 docs: adding a heads up about the breaking api change rolling out 2021-04-09
  website/docs/r/cdn_endpoint.html.markdown
  website/docs/r/cdn_profile.html.markdown
  website/docs/r/frontdoor.html.markdown
  website/docs/r/frontdoor_custom_https_configuration.html.markdown
  website/docs/r/frontdoor_firewall_policy.html.markdown
Labels: breaking-change, documentation, service/cdn, service/frontdoor, size/XS, upstream-microsoft

#11157 `azurerm_eventgrid_data_connection`: add support for `table_name`, `mapping_rule_name` and `data_format`
  azurerm/internal/services/kusto/kusto_eventgrid_data_connection_resource.go
  azurerm/internal/services/kusto/kusto_eventgrid_data_connection_resource_test.go
  website/docs/r/kusto_eventgrid_data_connection.html.markdown
Labels: documentation, service/kusto, size/M

#11244 r/azurerm_web_application_firewall_policy support OWASP 3.2 rule set
  azurerm/internal/services/network/validate/web_application_firewall_policy.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, enhancement, service/firewall, size/XS

#11253 `user_assigned_identity` - tenant_id attribute exported
  azurerm/internal/services/msi/user_assigned_identity_data_source.go
  azurerm/internal/services/msi/user_assigned_identity_data_source_test.go
  azurerm/internal/services/msi/user_assigned_identity_resource.go
  azurerm/internal/services/msi/user_assigned_identity_resource_test.go
  website/docs/d/user_assigned_identity.html.markdown
  website/docs/r/user_assigned_identity.markdown
Labels: documentation, enhancement, service/authentication, size/S

#11236 `azurerm_hpc_cache` - support for `ntp_server` and `dns`
  azurerm/internal/services/hpccache/hpc_cache_resource.go
  azurerm/internal/services/hpccache/hpc_cache_resource_test.go
  website/docs/r/hpc_cache.html.markdown
Labels: documentation, enhancement, service/hpccache, size/L

#11247 `azurerm_hpc_cache_nfs_target` - support of more `usage_model` enums
  azurerm/internal/services/hpccache/hpc_cache_nfs_target_resource.go
  website/docs/r/hpc_cache_nfs_target.html.markdown
Labels: documentation, enhancement, service/hpccache, size/XS

#11161 `azurerm_function_app`: Support for "client_cert_mode" and "client_cert_enabled" for Function Apps
  azurerm/internal/services/web/function_app_data_source.go
  azurerm/internal/services/web/function_app_data_source_test.go
  azurerm/internal/services/web/function_app_resource.go
  azurerm/internal/services/web/function_app_resource_test.go
  website/docs/d/function_app.html.markdown
  website/docs/r/function_app.html.markdown
Labels: documentation, enhancement, service/functions, size/L

#11256 Fix incorrect reference to Virtual Machine ID in Application Insights documentation
  website/docs/d/application_insights.html.markdown
Labels: bug, documentation, service/application-insights, size/XS

#11105 feat: add has_root_access to netapp vol export rules
  azurerm/internal/services/netapp/netapp_volume_resource.go
  azurerm/internal/services/netapp/netapp_volume_resource_test.go
  website/docs/r/netapp_volume.html.markdown
Labels: documentation, service/netapp, size/S

#11265 update go-azure-helpers to v0.15.0
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/authentication/environment.go
  vendor/modules.txt
Labels: dependencies, size/XS

#11267 `azurerm_app_service_slot` - fix crash bug when given empty `http_logs`
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_slot_resource_test.go
Labels: bug, service/app-service, size/M

#11289 fix acctest for azurerm_app_service_slot
  azurerm/internal/services/web/app_service_slot_resource_test.go
Labels: service/app-service, size/XS, tests

#11239 r/azurerm_application_gateway: add firewall_policy_id config to path rules
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/application_gateway_resource_test.go
  azurerm/internal/services/network/parse/application_gateway_web_application_firewall_policy.go
  azurerm/internal/services/network/parse/application_gateway_web_application_firewall_policy_test.go
  azurerm/internal/services/network/resourceids.go
  azurerm/internal/services/network/validate/application_gateway_web_application_firewall_policy_id.go
  azurerm/internal/services/network/validate/application_gateway_web_application_firewall_policy_id_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, enhancement, service/application-gateway, size/XL

#11229 new resource `azurerm_spring_cloud_app_mysql_association`
  azurerm/internal/services/springcloud/registration.go
  azurerm/internal/services/springcloud/spring_cloud_app_association_import.go
  azurerm/internal/services/springcloud/spring_cloud_app_mysql_association_resource.go
  azurerm/internal/services/springcloud/spring_cloud_app_mysql_association_resource_test.go
  website/docs/r/spring_cloud_app_mysql_association.html.markdown
Labels: documentation, new-resource, services/spring, size/XL

#11177 Manage Geo backup policy for Data warehouse DBs
  azurerm/internal/services/mssql/client/client.go
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/mssql/mssql_database_resource_test.go
  website/docs/r/mssql_database.html.markdown
Labels: documentation, enhancement, service/mssql, size/M

#10917 new resource: `azurerm_media_live_event_output`
  azurerm/internal/services/media/client/client.go
  azurerm/internal/services/media/media_live_output_resource.go
  azurerm/internal/services/media/media_live_output_resource_test.go
  azurerm/internal/services/media/parse/live_output.go
  azurerm/internal/services/media/parse/live_output_test.go
  azurerm/internal/services/media/registration.go
  azurerm/internal/services/media/resourceids.go
  azurerm/internal/services/media/validate/live_output_id.go
  azurerm/internal/services/media/validate/live_output_id_test.go
  website/docs/r/media_live_output.html.markdown
Labels: documentation, new-resource, services/media, size/XL

#11268 `azurerm_hpc_cache` - support for `tags`
  azurerm/internal/services/hpccache/hpc_cache_resource.go
  azurerm/internal/services/hpccache/hpc_cache_resource_test.go
  website/docs/r/hpc_cache.html.markdown
Labels: documentation, enhancement, service/hpccache, size/S

#11249 fix acceptance tests for virtual machine
  azurerm/internal/services/compute/linux_virtual_machine_resource_network_test.go
  azurerm/internal/services/compute/linux_virtual_machine_resource_other_test.go
  azurerm/internal/services/compute/virtual_machine_managed_disks_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_resource_other_test.go
Labels: service/virtual-machine, size/S, tests

#11263 Adjust documentation for local acc tests
  README.md
Labels: size/XS

#11305 Update the import example
  website/docs/r/private_dns_cname_record.html.markdown
Labels: documentation, size/XS

#10962 New Resource: `azurerm_data_factory_linked_service_azure_databricks`
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_databricks_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_databricks_resource_test.go
  azurerm/internal/services/datafactory/registration.go
  website/docs/r/data_factory_linked_service_azure_databricks.html.markdown
Labels: documentation, service/data-factory, size/XXL

#11270 `azurerm_public_ip` - Add support for `ip_tags`
  azurerm/internal/services/network/public_ip_data_source.go
  azurerm/internal/services/network/public_ip_data_source_test.go
  azurerm/internal/services/network/public_ip_resource.go
  azurerm/internal/services/network/public_ip_resource_test.go
  website/docs/d/public_ip.html.markdown
  website/docs/r/management_group_subscription_association.html.markdown
  website/docs/r/public_ip.html.markdown
Labels: documentation, enhancement, service/public-ip, size/M

#9136 Support health extension for rolling ugrade mode
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_extensions_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_extensions_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: enhancement, service/vmss, size/XL

#11326 Allow * in azurerm_firewall_policy_rule_collection_group.network_rule_collection.destination_ports
  azurerm/internal/services/firewall/firewall_policy_rule_collection_group_resource.go
  azurerm/internal/services/firewall/firewall_policy_rule_collection_group_resource_test.go
Labels: bug, service/firewall, size/XS

#11312 Adds table_name, mapping_rule_name and data_format optional ingestion properties to azurerm_kusto_eventgrid_data_connection example
  website/docs/r/kusto_eventgrid_data_connection.html.markdown
Labels: documentation, service/kusto, size/XS

#10947 Fix IotCentralApplicaiton API breaking change
  azurerm/internal/services/iotcentral/iotcentral_application_resource.go
  azurerm/internal/services/iotcentral/iotcentral_application_resource_test.go
  azurerm/internal/services/iotcentral/migration/iotcentral_application_V0_to_V1.go
Labels: service/iot-central, size/M, tests

#10430 new resource - azurerm_data_lake_store_virtual_network_rule
  azurerm/internal/services/datalake/client/client.go
  azurerm/internal/services/datalake/data_lake_store_virtual_network_rule_resource.go
  azurerm/internal/services/datalake/data_lake_store_virtual_network_rule_resource_test.go
  azurerm/internal/services/datalake/parse/virtual_network_rule.go
  azurerm/internal/services/datalake/parse/virtual_network_rule_test.go
  azurerm/internal/services/datalake/registration.go
  azurerm/internal/services/datalake/resourceids.go
  azurerm/internal/services/datalake/validate/virtual_network_rule_id.go
  azurerm/internal/services/datalake/validate/virtual_network_rule_id_test.go
  azurerm/internal/services/datalake/validate/virtual_network_rule_name.go
  website/docs/r/data_lake_store_virtual_network_rule.html.markdown
Labels: documentation, new-resource, service/data-lake, size/XXL

#11335 Fix gradual deprecate script
  scripts/run-gradually-deprecated.sh
Labels: size/M

#11341 azurerm_log_analytics_saved_search : Fix Regex within function_parame…
  azurerm/internal/services/loganalytics/log_analytics_saved_search_resource.go
Labels: service/log-analytics, size/XS

#10735 azurerm_data_factory_linked_service_sql_database: Support managed identity and service principal auth; add keyvault_password support
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource.go
  azurerm/internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource_test.go
  website/docs/r/data_factory_linked_service_azure_sql_database.html.markdown
Labels: documentation, service/data-factory, size/L

#11344 private_dns_zone_id = "None" does not require a identity
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
Labels: bug, service/dns, size/XS

#10978 `azurerm_monitor_activity_log_alert` - support for `service_health`
  azurerm/internal/services/monitor/client/client.go
  azurerm/internal/services/monitor/monitor_activity_log_alert_resource.go
  azurerm/internal/services/monitor/monitor_activity_log_alert_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2020-10-01/insights/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2020-10-01/insights/activitylogalerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2020-10-01/insights/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2020-10-01/insights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2020-10-01/insights/version.go
  vendor/modules.txt
  website/docs/r/monitor_activity_log_alert.html.markdown
Labels: dependencies, documentation, enhancement, service/monitor, size/XXL

#11170 `azurerm_app_service` and `azurerm_function_app` - Fix broken `ip_restrictions` and `scm_ip_restrictions` updates
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_resource.go
  azurerm/internal/services/web/app_service_resource_test.go
Labels: service/app-service, size/XL

#11351 azurerm_databricks_workspace - allow for workspace names up to 64 characters
  azurerm/internal/services/databricks/databricks_workspace_resource.go
  azurerm/internal/services/databricks/databricks_workspace_resource_test.go
Labels: bug, service/databricks, size/XS

#11248 New Resource: `azurerm_mssql_job_agent`
  azurerm/internal/services/mssql/client/client.go
  azurerm/internal/services/mssql/mssql_job_agent_resource.go
  azurerm/internal/services/mssql/mssql_job_agent_resource_test.go
  azurerm/internal/services/mssql/parse/job_agent.go
  azurerm/internal/services/mssql/parse/job_agent_test.go
  azurerm/internal/services/mssql/registration.go
  azurerm/internal/services/mssql/resourceids.go
  azurerm/internal/services/mssql/validate/job_agent_id.go
  azurerm/internal/services/mssql/validate/job_agent_id_test.go
  azurerm/internal/services/mssql/validate/mssql.go
  vendor/github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2020-10-01/insights/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2020-10-01/insights/activitylogalerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2020-10-01/insights/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2020-10-01/insights/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/monitor/mgmt/2020-10-01/insights/version.go
  website/docs/r/mssql_job_agent.html.markdown
Labels: dependencies, documentation, size/XL

#11352 `azurerm_eventgrid_system_topic` - remove strict validation on `topic_type`
  azurerm/internal/services/eventgrid/eventgrid_system_topic_resource.go
Labels: bug, service/event-grid, size/XS

#11340 `azurerm_key_vault_key` - added `versionless_id` to data source
  azurerm/internal/services/keyvault/key_vault_key_data_source.go
Labels: enhancement, service/keyvault, size/XS

#11336 r/iotcentral_application: fixing the state migration
  azurerm/internal/services/iotcentral/iotcentral_application_resource.go
  azurerm/internal/services/iotcentral/iotcentral_application_resource_test.go
  azurerm/internal/services/iotcentral/migration/iotcentral_application_V0_to_V1.go
  azurerm/internal/services/iotcentral/parse/application.go
  azurerm/internal/services/iotcentral/parse/application_test.go
  azurerm/internal/services/iotcentral/resourceids.go
  azurerm/internal/services/iotcentral/validate/application_id_test.go
  website/docs/r/iotcentral_application.html.markdown
Labels: bug, documentation, service/iot-central, size/L

#11116 New Resource: `azurerm_data_factory_dataset_snowflake `
  azurerm/internal/services/datafactory/data_factory_dataset_snowflake_resource.go
  azurerm/internal/services/datafactory/data_factory_dataset_snowflake_resource_test.go
  azurerm/internal/services/datafactory/registration.go
  website/docs/r/data_factory_dataset_snowflake.html.markdown
  website/docs/r/data_factory_linked_service_snowflake.html.markdown
Labels: documentation, new-resource, service/data-factory, size/XL

#11286 `mssql_database` Update documentation and print warning for secondary db with `max_size_gb`
  azurerm/internal/services/mssql/mssql_database_resource.go
  website/docs/r/mssql_database.html.markdown
Labels: documentation, enhancement, service/mssql, size/XS

#11269 "azurerm_lighthouse_definition" supports property "delegated_role_definition_ids"
  azurerm/internal/services/lighthouse/lighthouse_definition_data_source_test.go
  azurerm/internal/services/lighthouse/lighthouse_definition_resource.go
  azurerm/internal/services/lighthouse/lighthouse_definition_resource_test.go
  website/docs/r/lighthouse_definition.html.markdown
Labels: documentation, enhancement, service/lighthouse, size/L

#11362 Update `azurerm_(linux|windows)_virtual_machine_scale_set` - Fix #8454
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: bug, service/vmss, size/XS

#11081 New resource/ data source `azurerm_postgresql_flexible_server`
  azurerm/helpers/azure/zones.go
  azurerm/internal/services/postgres/client/client.go
  azurerm/internal/services/postgres/parse/flexible_server.go
  azurerm/internal/services/postgres/parse/flexible_server_test.go
  azurerm/internal/services/postgres/postgresql_flexible_server_data_source.go
  azurerm/internal/services/postgres/postgresql_flexible_server_data_source_test.go
  azurerm/internal/services/postgres/postgresql_flexible_server_resource.go
  azurerm/internal/services/postgres/postgresql_flexible_server_resource_test.go
  azurerm/internal/services/postgres/postgresql_server_data_source.go
  azurerm/internal/services/postgres/registration.go
  azurerm/internal/services/postgres/resourceids.go
  azurerm/internal/services/postgres/validate/flexible_server_id.go
  azurerm/internal/services/postgres/validate/flexible_server_id_test.go
  azurerm/internal/services/postgres/validate/flexible_server_name.go
  azurerm/internal/services/postgres/validate/flexible_server_name_test.go
  azurerm/internal/services/postgres/validate/flexible_server_sku_name.go
  azurerm/internal/services/postgres/validate/flexible_server_sku_name_test.go
  azurerm/internal/tags/flatten.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/checknameavailability.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/configurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/firewallrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/locationbasedcapabilities.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/servers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/virtualnetworksubnetusage.go
  vendor/modules.txt
  website/docs/d/postgresql_flexible_server.html.markdown
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: dependencies, documentation, new-data-source, new-resource, service/postgresql, size/XXL, waiting-response

#11200 azurerm_container_registry - deprecating the georeplication_locations property in favour of the georeplications property
  azurerm/internal/services/containers/container_registry_resource.go
  azurerm/internal/services/containers/container_registry_resource_test.go
  website/docs/r/container_registry.html.markdown
Labels: dependencies, documentation, enhancement, service/container-registry, size/XL

#11386 fix: update docs to represent struct
  website/docs/r/netapp_volume.html.markdown
Labels: documentation, service/netapp, size/XS

#11388 deps: vendoring the flexibleserver changes
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/checknameavailability.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/configurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/firewallrules.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/locationbasedcapabilities.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/servers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/postgresql/mgmt/2020-02-14-preview/postgresqlflexibleservers/virtualnetworksubnetusage.go
Labels: dependencies, service/postgresql, size/XL

#11300 `HDInsight` - Add private link support to `azurerm_hdinsight_spark_cluster`, `azurerm_hdinsight_interactive_query_cluster` and `azurerm_hdinsight_hadoop_cluster`
  azurerm/internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_hadoop_cluster_resource_test.go
  azurerm/internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_interactive_query_cluster_resource_test.go
  azurerm/internal/services/hdinsight/hdinsight_spark_cluster_resource.go
  azurerm/internal/services/hdinsight/hdinsight_spark_cluster_resource_test.go
  azurerm/internal/services/hdinsight/schema.go
  examples/hdinsight/private-link/hadoop-interactive-spark-cluster/README.md
  examples/hdinsight/private-link/hadoop-interactive-spark-cluster/main.tf
  examples/hdinsight/private-link/hadoop-interactive-spark-cluster/variables.tf
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
Labels: documentation, enhancement, service/hdinsight, size/XXL

#11148 Implementation of TDE for MS SQL Server
  azurerm/internal/services/mssql/client/client.go
  azurerm/internal/services/mssql/mssql_server_transparent_data_encryption_resource.go
  azurerm/internal/services/mssql/mssql_server_transparent_data_encryption_resource_test.go
  azurerm/internal/services/mssql/parse/encryption_protector.go
  azurerm/internal/services/mssql/parse/encryption_protector_test.go
  azurerm/internal/services/mssql/registration.go
  azurerm/internal/services/mssql/resourceids.go
  azurerm/internal/services/mssql/validate/encryption_protector_id.go
  azurerm/internal/services/mssql/validate/encryption_protector_id_test.go
  website/docs/r/mssql_server_transparent_data_encryption.html.markdown
Labels: dependencies, documentation, new-resource, service/mssql, size/XL

#11383 azurerm_monitor_activity_log_alert: add `Computed` for `service_health`
  azurerm/internal/services/monitor/monitor_activity_log_alert_resource.go
Labels: bug, service/monitor, size/XS

#11060 azurerm_kubernetes_cluster: Support for max_empty_bulk_delete in auto_scaler_profile block
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_scaling_resource_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/XS

#10669 new resource: `azurerm_sentinel_data_connector_microsoft_defender_advanced_threat_protection`
  azurerm/internal/services/sentinel/registration.go
  azurerm/internal/services/sentinel/sentinel_data_connector_microsoft_defender_advanced_threat_protection.go
  azurerm/internal/services/sentinel/sentinel_data_connector_microsoft_defender_advanced_threat_protection_test.go
  website/docs/r/sentinel_data_connector_microsoft_defender_advanced_threat_protection.html.markdown
Labels: documentation, new-resource, service/sentinel, size/XL

#11404 Fix markdown heading not rendering
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#11402 `azurerm_api_management_diagnostic` - fix crash with `frontend_request`, `frontend_response`, `backend_request`, `backend_response`
  azurerm/internal/services/apimanagement/api_management_api_diagnostic_resource.go
Labels: crash, service/api-management, size/XS

#11390 azurerm_iothub - change `filter_rule` from TypeSet to TypeList
  azurerm/internal/services/iothub/iothub_resource.go
  azurerm/internal/services/iothub/iothub_resource_test.go
Labels: breaking-change, service/iothub, size/M

#11415 refactor: renaming a few fields to avoid conflicts with the Plugin SDK script
  azurerm/internal/services/cosmos/cosmosdb_cassandra_table_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_stored_procedure_resource.go
  azurerm/internal/services/iottimeseriesinsights/iot_time_series_insights_gen2_environment_resource.go
  azurerm/internal/services/iottimeseriesinsights/iot_time_series_insights_standard_environment_resource.go
  azurerm/internal/services/keyvault/client/helpers.go
  azurerm/internal/services/network/vpn_gateway_connection_resource.go
Labels: refactor, size/S, upstream-terraform

#11412 Fix typo issue
  website/docs/r/app_service_virtual_network_swift_connection.html.markdown
Labels: documentation, service/app-service, size/XS

#11410 fix(docs): d/shared_image_version: description error in the gallery_name
  website/docs/d/shared_image_version.html.markdown
Labels: documentation, service/images, size/XS

#11401 `azurerm_mssql_database ` - error when secondary database uses `max_size_gb`
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/mssql/mssql_database_resource_test.go
Labels: documentation, size/M

#11421 `azurerm_frontdoor` - sync `MaxItems` on various attributes to match azure docs
  azurerm/internal/services/frontdoor/frontdoor_resource.go
Labels: service/frontdoor, size/XS

#11405 `azurerm_databricks_workspace` - Fix propagation of tags to connected resources
  azurerm/internal/services/databricks/databricks_workspace_resource.go
Labels: bug, service/databricks, size/XS, upstream-microsoft

#11307 new resource "azurerm_spring_cloud_app_cosmosdb_association"
  azurerm/internal/services/springcloud/registration.go
  azurerm/internal/services/springcloud/spring_cloud_app_association_import.go
  azurerm/internal/services/springcloud/spring_cloud_app_cosmosdb_association_resource.go
  azurerm/internal/services/springcloud/spring_cloud_app_cosmosdb_association_resource_test.go
  website/docs/r/spring_cloud_app_cosmosdb_association.html.markdown
Labels: documentation, services/spring, size/XXL, waiting-response

#11427 resources: removing some unnecessary state functions on computed fields
  azurerm/internal/services/resource/management_group_template_deployment_resource.go
  azurerm/internal/services/resource/resource_group_template_deployment_resource.go
  azurerm/internal/services/resource/subscription_template_deployment_resource.go
  azurerm/internal/services/resource/template_spec_version_data_source.go
  azurerm/internal/services/resource/tenant_template_deployment_resource.go
Labels: refactor, service/resources, size/XS

#11429 plugin-sdk: fixing a couple of linting issues
  azurerm/internal/services/compute/migration/legacy_vmss.go
  azurerm/internal/services/containers/migration/registry.go
  azurerm/internal/services/datafactory/migration/data_factory.go
  azurerm/internal/services/desktopvirtualization/migration/application_group_v0.go
  azurerm/internal/services/desktopvirtualization/migration/workspace_v0.go
  azurerm/internal/services/dns/migration/dns_zone_V0_to_V1.go
  azurerm/internal/services/frontdoor/migration/frontdoor.go
  azurerm/internal/services/iotcentral/migration/application.go
  azurerm/internal/services/keyvault/migration/key_vault.go
  azurerm/internal/services/loganalytics/migration/workspace_v0_to_v1.go
  azurerm/internal/services/servicebus/migration/namespace.go
  azurerm/internal/services/storage/migration/account.go
  azurerm/internal/services/storage/migration/container.go
Labels: refactor, size/S

#11416 plugin-sdk: introducing a wrapper for the Plugin SDK
  azurerm/helpers/azure/deprecated.go
  azurerm/helpers/azure/error_output_test.go
  azurerm/helpers/azure/location.go
  azurerm/helpers/azure/location_test.go
  azurerm/helpers/azure/resource_group.go
  azurerm/helpers/azure/resource_group_test.go
  azurerm/helpers/azure/resourceid_test.go
  azurerm/helpers/azure/validate_test.go
  azurerm/helpers/azure/zones.go
  azurerm/helpers/suppress/string.go
  azurerm/helpers/validate/float_test.go
  azurerm/helpers/validate/time.go
  azurerm/internal/acceptance/check/that.go
  azurerm/internal/acceptance/helpers/exists.go
  azurerm/internal/acceptance/plugin_sdk_aliases.go
  azurerm/internal/acceptance/random.go
  azurerm/internal/acceptance/testcase.go
  azurerm/internal/acceptance/types/resource.go
  azurerm/internal/identity/schema.go
  azurerm/internal/identity/system_assigned.go
  azurerm/internal/identity/user_assigned.go
  azurerm/internal/location/schema.go
  azurerm/internal/location/validation.go
  azurerm/internal/provider/features.go
  azurerm/internal/resourceproviders/validation.go
  azurerm/internal/sdk/README.md
  azurerm/internal/sdk/resource.go
  azurerm/internal/sdk/service_registration.go
  azurerm/internal/services/advisor/advisor_recommendations_data_source.go
  azurerm/internal/services/advisor/advisor_recommendations_data_source_test.go
  azurerm/internal/services/advisor/registration.go
  azurerm/internal/services/analysisservices/analysis_services_server_resource.go
  azurerm/internal/services/analysisservices/analysis_services_server_resource_test.go
  azurerm/internal/services/analysisservices/registration.go
  azurerm/internal/services/eventhub/eventhub_consumer_group_resource.go
  azurerm/internal/services/loadbalancer/backend_address_pool_address_resource.go
  azurerm/internal/services/resource/resource_provider_registration_resource.go
  azurerm/internal/tags/flatten.go
  azurerm/internal/tags/schema.go
  azurerm/internal/tf/base64/schema.go
  azurerm/internal/tf/pluginsdk/customize_diff.go
  azurerm/internal/tf/pluginsdk/hashstring.go
  azurerm/internal/tf/pluginsdk/imports.go
  azurerm/internal/tf/pluginsdk/pluginsdk2.go
  azurerm/internal/tf/pluginsdk/resource.go
  azurerm/internal/tf/pluginsdk/retries.go
  azurerm/internal/tf/pluginsdk/schema.go
  azurerm/internal/tf/pluginsdk/shim.go
  azurerm/internal/tf/pluginsdk/state_upgrades.go
  azurerm/internal/tf/pluginsdk/tests.go
  azurerm/internal/tf/pluginsdk/timeouts.go
  azurerm/internal/tf/pluginsdk/types.go
  azurerm/internal/tf/validation/pluginsdk.go
  azurerm/internal/timeouts/determine.go
  azurerm/internal/tools/generator-resource-id/main.go
  scripts/plugin-sdk-fixerupper.sh
Labels: refactor, size/XXL, upstream-terraform

#10873 new resource and data source "azurerm_key_vault_managed_hardware_security_module"
  azurerm/internal/services/keyvault/access_policy_schema.go
  azurerm/internal/services/keyvault/client/client.go
  azurerm/internal/services/keyvault/key_vault_access_policy_data_source.go
  azurerm/internal/services/keyvault/key_vault_access_policy_resource.go
  azurerm/internal/services/keyvault/key_vault_data_source.go
  azurerm/internal/services/keyvault/key_vault_managed_hardware_security_module_data_source..go
  azurerm/internal/services/keyvault/key_vault_managed_hardware_security_module_data_source_test.go
  azurerm/internal/services/keyvault/key_vault_managed_hardware_security_module_resource..go
  azurerm/internal/services/keyvault/key_vault_managed_hardware_security_module_resource_test.go
  azurerm/internal/services/keyvault/key_vault_resource.go
  azurerm/internal/services/keyvault/parse/managed_hsm.go
  azurerm/internal/services/keyvault/parse/managed_hsm_test.go
  azurerm/internal/services/keyvault/registration.go
  azurerm/internal/services/keyvault/resourceids.go
  azurerm/internal/services/keyvault/validate/managed_hsm_id.go
  azurerm/internal/services/keyvault/validate/managed_hsm_id_test.go
  azurerm/internal/services/keyvault/validate/managed_hsm_name.go
  azurerm/internal/services/keyvault/validate/managed_hsm_name_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/keyvault/mgmt/2019-09-01/keyvault/keys.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/keyvault/mgmt/2020-04-01-preview/keyvault/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/keyvault/mgmt/2020-04-01-preview/keyvault/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/keyvault/mgmt/2020-04-01-preview/keyvault/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/keyvault/mgmt/2020-04-01-preview/keyvault/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/keyvault/mgmt/2020-04-01-preview/keyvault/managedhsms.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/keyvault/mgmt/2020-04-01-preview/keyvault/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/keyvault/mgmt/2020-04-01-preview/keyvault/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/keyvault/mgmt/2020-04-01-preview/keyvault/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/keyvault/mgmt/2020-04-01-preview/keyvault/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/keyvault/mgmt/2020-04-01-preview/keyvault/vaults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/keyvault/mgmt/2020-04-01-preview/keyvault/version.go
  vendor/modules.txt
  website/docs/d/key_vault_managed_hardware_security_module.html.markdown
  website/docs/r/key_vault_managed_hardware_security_module.html.markdown
Labels: dependencies, new-resource, preview, service/keyvault, size/XXL

#11433 `azurerm_virtual_network_gateway`: Do not re-create gateway on `custom_route` update
  azurerm/internal/services/network/virtual_network_gateway_resource.go
  azurerm/internal/services/network/virtual_network_gateway_resource_test.go
  website/docs/d/postgresql_flexible_server.html.markdown
  website/docs/r/virtual_network_gateway.html.markdown
Labels: bug, documentation, service/virtual-networks, size/M

#11426 azurerm_api_management: fix panic when given empty `hostname_configuration`
  azurerm/internal/services/apimanagement/api_management_resource.go
Labels: bug, service/api-management, size/XS

#11445 plugin-sdk: switching the customizeDiff functions to use the wrapper
  azurerm/internal/services/apimanagement/api_management_resource.go
  azurerm/internal/services/automation/automation_schedule_resource.go
  azurerm/internal/services/compute/virtual_machine_scale_set_resource.go
  azurerm/internal/services/containers/container_registry_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/databoxedge/customizediff.go
  azurerm/internal/services/databoxedge/databox_edge_order_resource.go
  azurerm/internal/services/databricks/databricks_workspace_resource.go
  azurerm/internal/services/eventhub/eventhub_authorization_rule_resource.go
  azurerm/internal/services/eventhub/eventhub_namespace_authorization_rule_resource.go
  azurerm/internal/services/eventhub/helpers.go
  azurerm/internal/services/frontdoor/customizediff.go
  azurerm/internal/services/frontdoor/frontdoor_custom_https_configuration_resource.go
  azurerm/internal/services/frontdoor/frontdoor_resource.go
  azurerm/internal/services/iothub/iothub_shared_access_policy_resource.go
  azurerm/internal/services/loganalytics/log_analytics_linked_service_resource.go
  azurerm/internal/services/logic/integration_service_environment.go
  azurerm/internal/services/logic/logic_app_trigger_http_request_resource.go
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/mssql/mssql_elasticpool_resource.go
  azurerm/internal/services/mssql/mssql_server_resource.go
  azurerm/internal/services/mssql/mssql_virtual_machine_resource.go
  azurerm/internal/services/mysql/mysql_server_resource.go
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/express_route_circuit_resource.go
  azurerm/internal/services/network/private_link_service_resource.go
  azurerm/internal/services/network/virtual_network_gateway_resource.go
  azurerm/internal/services/notificationhub/notification_hub_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/recoveryservices/backup_policy_vm_resource.go
  azurerm/internal/services/servicebus/internal.go
  azurerm/internal/services/servicebus/servicebus_namespace_authorization_rule_resource.go
  azurerm/internal/services/servicebus/servicebus_queue_authorization_rule_resource.go
  azurerm/internal/services/servicebus/servicebus_topic_authorization_rule_resource.go
  azurerm/internal/services/sql/sql_database_resource.go
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/tf/pluginsdk/customize_diff.go
  azurerm/internal/tf/pluginsdk/pluginsdk2.go
Labels: refactor, size/L

#11432 teamcity: updating to test using Terraform Core 0.15.0
  .github/workflows/teamcity-test.yaml
  .teamcity/components/settings.kt
Labels: size/XS, tests

#11002 New Resource azurerm_healthbot
  azurerm/internal/services/bot/bot_healthbot_resource.go
  azurerm/internal/services/bot/bot_healthbot_resource_test.go
  azurerm/internal/services/bot/client/client.go
  azurerm/internal/services/bot/parse/bot_healthbot.go
  azurerm/internal/services/bot/parse/bot_healthbot_test.go
  azurerm/internal/services/bot/registration.go
  azurerm/internal/services/bot/resourceids.go
  azurerm/internal/services/bot/validate/bot_healthbot_id.go
  azurerm/internal/services/bot/validate/bot_healthbot_id_test.go
  azurerm/internal/services/bot/validate/bot_healthbot_name.go
  azurerm/internal/services/bot/validate/bot_healthbot_name_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthbot/mgmt/2020-12-08/healthbot/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/healthbot/mgmt/2020-12-08/healthbot/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/healthbot/mgmt/2020-12-08/healthbot/bots.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthbot/mgmt/2020-12-08/healthbot/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthbot/mgmt/2020-12-08/healthbot/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthbot/mgmt/2020-12-08/healthbot/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthbot/mgmt/2020-12-08/healthbot/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthbot/mgmt/2020-12-08/healthbot/version.go
  vendor/modules.txt
  website/docs/r/bot_healthbot.html.markdown
Labels: dependencies, documentation, size/XXL

#11455 plugin-sdk: upgrading `appconfiguration` to use the wrapper
  azurerm/internal/services/analysisservices/parse/server_test.go
  azurerm/internal/services/analysisservices/validate/server_id_test.go
  azurerm/internal/services/appconfiguration/app_configuration_data_source.go
  azurerm/internal/services/appconfiguration/app_configuration_data_source_test.go
  azurerm/internal/services/appconfiguration/app_configuration_resource.go
  azurerm/internal/services/appconfiguration/app_configuration_resource_test.go
  azurerm/internal/services/appconfiguration/parse/configuration_store_test.go
  azurerm/internal/services/appconfiguration/registration.go
  azurerm/internal/services/appconfiguration/validate/configuration_store_id_test.go
  azurerm/internal/tf/pluginsdk/pluginsdk2.go
  azurerm/internal/tools/generator-resource-id/main.go
Labels: refactor, service/app-configuration, size/L

#10848 New resource `azurerm_vmware_cluster`
  azurerm/internal/services/vmware/client/client.go
  azurerm/internal/services/vmware/parse/cluster.go
  azurerm/internal/services/vmware/parse/cluster_test.go
  azurerm/internal/services/vmware/registration.go
  azurerm/internal/services/vmware/resourceids.go
  azurerm/internal/services/vmware/validate/cluster_id.go
  azurerm/internal/services/vmware/validate/cluster_id_test.go
  azurerm/internal/services/vmware/vmware_cluster_resource.go
  azurerm/internal/services/vmware/vmware_cluster_resource_test.go
  azurerm/internal/services/vmware/vmware_private_cloud_resource_test.go
  website/docs/r/vmware_cluster.html.markdown
Labels: documentation, new-resource, service/vmware, size/XL

#11363 New Resource: `azurerm_mssql_job_credential`
  azurerm/internal/services/mssql/client/client.go
  azurerm/internal/services/mssql/mssql_job_credential_resource.go
  azurerm/internal/services/mssql/mssql_job_credential_resource_test.go
  azurerm/internal/services/mssql/parse/job_credential.go
  azurerm/internal/services/mssql/parse/job_credential_test.go
  azurerm/internal/services/mssql/registration.go
  azurerm/internal/services/mssql/resourceids.go
  azurerm/internal/services/mssql/validate/job_credential_id.go
  azurerm/internal/services/mssql/validate/job_credential_id_test.go
  website/docs/r/mssql_job_credential.html.markdown
Labels: documentation, new-resource, service/mssql, size/XL

#11334 New resource `azurerm_virtual_machine_configuration_policy_assignment`
  azurerm/internal/resourceproviders/required.go
  azurerm/internal/services/policy/client/client.go
  azurerm/internal/services/policy/parse/virtual_machine_configuration_policy_assignment.go
  azurerm/internal/services/policy/parse/virtual_machine_configuration_policy_assignment_test.go
  azurerm/internal/services/policy/registration.go
  azurerm/internal/services/policy/resourceids.go
  azurerm/internal/services/policy/validate/virtual_machine_configuration_policy_assignment_id.go
  azurerm/internal/services/policy/validate/virtual_machine_configuration_policy_assignment_id_test.go
  azurerm/internal/services/policy/virtual_machine_configuration_policy_assignment_resource.go
  azurerm/internal/services/policy/virtual_machine_configuration_policy_assignment_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2020-06-25/guestconfiguration/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2020-06-25/guestconfiguration/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2020-06-25/guestconfiguration/assignmentreports.go
  vendor/github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2020-06-25/guestconfiguration/assignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2020-06-25/guestconfiguration/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2020-06-25/guestconfiguration/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2020-06-25/guestconfiguration/hcrpassignmentreports.go
  vendor/github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2020-06-25/guestconfiguration/hcrpassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2020-06-25/guestconfiguration/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2020-06-25/guestconfiguration/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/guestconfiguration/mgmt/2020-06-25/guestconfiguration/version.go
  vendor/modules.txt
  website/docs/r/virtual_machine_configuration_policy_assignment.html.markdown
Labels: dependencies, documentation, new-resource, service/policy, size/XXL

#11452 Fix potential panics due to nested block contains all optional sub-properties
  azurerm/internal/identity/system_assigned.go
  azurerm/internal/provider/features.go
  azurerm/internal/services/apimanagement/api_management_api_diagnostic_resource.go
  azurerm/internal/services/apimanagement/api_management_backend_resource.go
  azurerm/internal/services/apimanagement/api_management_resource.go
  azurerm/internal/services/authorization/migration/role_definition_migration.go
  azurerm/internal/services/authorization/role_definition_resource.go
  azurerm/internal/services/batch/batch_pool.go
  azurerm/internal/services/batch/batch_pool_data_source.go
  azurerm/internal/services/batch/batch_pool_resource.go
  azurerm/internal/services/cdn/endpoint_global_delivery_rule.go
  azurerm/internal/services/cdn/migration/cdn_endpoint.go
  azurerm/internal/services/compute/shared_schema.go
  azurerm/internal/services/containers/container_group_resource.go
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/probe.go
  azurerm/internal/services/cosmos/common/schema.go
  azurerm/internal/services/databricks/databricks_workspace_resource.go
  azurerm/internal/services/eventgrid/event_subscription.go
  azurerm/internal/services/eventgrid/eventgrid_domain_resource.go
  azurerm/internal/services/eventgrid/eventgrid_topic_resource.go
  azurerm/internal/services/frontdoor/migration/custom_https_configuration.go
  azurerm/internal/services/frontdoor/migration/frontdoor.go
  azurerm/internal/services/healthcare/healthcare_service_resource.go
  azurerm/internal/services/keyvault/key_vault_certificate_data_source.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource.go
  azurerm/internal/services/mariadb/mariadb_server_resource.go
  azurerm/internal/services/media/media_content_key_policy_resource.go
  azurerm/internal/services/media/media_services_account_resource.go
  azurerm/internal/services/media/media_streaming_endpoint_resource.go
  azurerm/internal/services/media/media_streaming_live_event_resource.go
  azurerm/internal/services/media/media_streaming_locator_resource.go
  azurerm/internal/services/media/media_streaming_policy_resource.go
  azurerm/internal/services/media/media_transform_resource.go
  azurerm/internal/services/monitor/monitor_activity_log_alert_resource.go
  azurerm/internal/services/monitor/monitor_autoscale_setting_resource.go
  azurerm/internal/services/mssql/helper/sql_retention_policies.go
  azurerm/internal/services/mysql/mysql_server_resource.go
  azurerm/internal/services/network/application_gateway_resource.go
  azurerm/internal/services/network/migration/network_packet_capture.go
  azurerm/internal/services/network/network_connection_monitor_resource.go
  azurerm/internal/services/network/network_packet_capture_resource.go
  azurerm/internal/services/network/packet_capture_resource.go
  azurerm/internal/services/network/virtual_hub_connection_resource.go
  azurerm/internal/services/network/virtual_network_gateway_resource.go
  azurerm/internal/services/policy/policy_assignment_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/securitycenter/iot_security_device_group_resource.go
  azurerm/internal/services/servicebus/servicebus_subscription_rule_resource.go
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_management_policy_resource.go
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_site_source_control.go
  azurerm/internal/tools/website-scaffold/main_test.go
Labels: provider, size/XL, tests

#11428 Update `azurerm_dedicated_host_group` - support automatic placement
  azurerm/internal/services/compute/dedicated_host_group_data_source.go
  azurerm/internal/services/compute/dedicated_host_group_data_source_test.go
  azurerm/internal/services/compute/dedicated_host_group_resource.go
  azurerm/internal/services/compute/dedicated_host_group_resource_test.go
  website/docs/d/dedicated_host_group.html.markdown
  website/docs/r/dedicated_host_group.html.markdown
Labels: documentation, service/dedicated-hosts, size/M

#11458 `postgresql_server`: Wait for restart PostgreSQL replicas to prevent failures
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource_test.go
Labels: bug, service/postgresql, size/S

#11459 GNUMakefile: use `go install` to install tools since Go v1.16
  GNUmakefile
Labels: size/XS

#11464 Revert the `AtLeastOneOf` added in #11452, rather work around the panic
  azurerm/internal/services/cdn/cdn_endpoint_resource.go
  azurerm/internal/services/cdn/endpoint_global_delivery_rule.go
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/eventgrid/eventgrid_domain_resource.go
  azurerm/internal/services/eventgrid/eventgrid_topic_resource.go
  azurerm/internal/services/storage/storage_account_resource.go
Labels: size/L

#11461 GNUMakefile: Remove `GO111MODULE=on` and `GOFLAGS=-mod=vendor` env vars
  GNUmakefile
Labels: size/XS

#10994 fix update issue when using user assigned identity
  azurerm/internal/services/containers/kubernetes_cluster_auth_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
Labels: bug, service/kubernetes-cluster, size/M, upstream-microsoft

#11301 `azurerm_storage_account` `blob_properties` enhancement
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_account_resource_test.go
  azurerm/internal/services/storage/validate/storage_blob_properties_default_service_version.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/L

#11466 add issue link missing for #10994
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
Labels: size/XS

#11465 `postgresql_server`: `public_network_access_enabled` fixed on createReplica
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource_test.go
Labels: bug, service/postgresql, size/XS

#11470 fix TC for lighthouse
  azurerm/internal/services/lighthouse/lighthouse_assignment_resource_test.go
Labels: service/lighthouse, size/XS

#11468 fix TC for containers
  azurerm/internal/services/containers/container_group_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource_test.go
Labels: service/kubernetes-cluster, size/XS, tests

#11472 azurerm_virtual_network_gateway_connection: Update allowed ipsec_policy attributes
  azurerm/internal/services/network/virtual_network_gateway_connection_resource.go
  azurerm/internal/services/network/virtual_network_gateway_connection_resource_test.go
  website/docs/r/virtual_network_gateway_connection.html.markdown
Labels: documentation, enhancement, service/virtual-network-gateway, size/XS

#11469 Update subscription resource docs
  website/docs/r/subscription.html.markdown
Labels: documentation, service/subscription, size/XS

#11462 Support for `infrastructure_encryption_required` in `azurerm_storage_encryption_scope`
  azurerm/internal/services/storage/storage_encryption_scope_resource.go
  azurerm/internal/services/storage/storage_encryption_scope_resource_test.go
  website/docs/r/storage_encryption_scope.html.markdown
Labels: documentation, service/storage, size/M

#11473 Typo fix for import statement
  website/docs/r/app_service_slot_virtual_network_swift_connection.html.markdown
Labels: documentation, size/XS

#11317 Ensures storage profile is included with storage_image_id or storage_image_reference updates
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_images_resource_test.go
  azurerm/internal/services/compute/linux_virtual_machine_scale_set_resource.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_images_resource_test.go
  azurerm/internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: bug, service/vmss, size/S

#11471 Remove `change_feed` in `azurerm_storage_account` `blob_properties` and fix
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/M

#11467 `postgresql_server`: Update a PostgreSQL Replica to `create_mode` = "Default"
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource_test.go
Labels: bug, service/postgresql, size/M

#11332 `azurerm_hpc_cache` - support for the directory_active_directory, directory_flat_file, directory_ldap blocks
  azurerm/internal/services/hpccache/hpc_cache_resource.go
  azurerm/internal/services/hpccache/hpc_cache_resource_test.go
  website/docs/r/hpc_cache.html.markdown
Labels: documentation, enhancement, service/hpccache, size/XL

#11321 "azurerm_kubernetes_cluster" - supports property "dns_prefix_private_cluster"
  azurerm/internal/services/containers/kubernetes_cluster_network_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_other_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/M

#11406 "azurerm_kubernetes_cluster" - supports "max_node_provisioning_time","max_unready_percentage" and "max_unready_nodes"
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  azurerm/internal/services/containers/kubernetes_cluster_scaling_resource_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/M

#11163 New features in `azurerm_storage_management_policy`
  azurerm/internal/services/storage/storage_management_policy_data_source.go
  azurerm/internal/services/storage/storage_management_policy_resource.go
  azurerm/internal/services/storage/storage_management_policy_resource_test.go
  azurerm/internal/services/storage/validate/storage_blob_index_tag.go
  azurerm/internal/services/storage/validate/storage_blob_index_tag_test.go
  website/docs/d/storage_management_policy.html.markdown
  website/docs/r/storage_management_policy.html.markdown
Labels: documentation, service/storage, size/XL

#11328 Adding CMK to Synapse
  azurerm/internal/services/synapse/synapse_workspace_resource.go
  azurerm/internal/services/synapse/synapse_workspace_resource_test.go
  website/docs/r/synapse_workspace.html.markdown
Labels: documentation, service/synapse, size/M

#8632 Support non-string type for parameters of azurerm_managed_application
  azurerm/internal/services/managedapplications/managed_application_resource.go
  azurerm/internal/services/managedapplications/managed_application_resource_test.go
  website/docs/r/managed_application.html.markdown
Labels: documentation, service/managed-apps, size/L

#11490 docs: add missing underscore in http_get reference
  website/docs/r/container_group.html.markdown
Labels: documentation, size/XS

#11209 `azurerm_app_service`, `azurerm_app_service_slot`, `azurerm_function_app`: Support for site_config.ip_restrictions.headers / site_config.scm_ip_restrictions.headers
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/app_service_resource_test.go
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
  website/docs/r/function_app.html.markdown
  website/docs/r/function_app_slot.html.markdown
Labels: documentation, enhancement, service/app-service, size/XL

#11376 AKS: support for ingress_application_gateway addon
  azurerm/internal/services/containers/kubernetes_addons.go
  azurerm/internal/services/containers/kubernetes_cluster_addons_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source.go
  azurerm/internal/services/containers/kubernetes_cluster_data_source_test.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, service/kubernetes-cluster, size/XL

#11310 azurerm_frontdoor_custom_https_configuration key vault certificate source: do not require version
  azurerm/internal/services/frontdoor/customizediff.go
  website/docs/r/frontdoor_custom_https_configuration.html.markdown
Labels: documentation, enhancement, service/frontdoor, size/XS

#10441 Azure RBAC feature toggle for AKS
  azurerm/internal/services/containers/kubernetes_cluster_auth_resource_test.go
  azurerm/internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, enhancement, preview, service/kubernetes-cluster, size/M

#11026 `azurerm_mssql_database` create mode read during import
  azurerm/internal/services/mssql/client/client.go
  azurerm/internal/services/mssql/migration/database_v0_to_v1.go
  azurerm/internal/services/mssql/mssql_database_resource.go
  azurerm/internal/services/mssql/mssql_database_resource_test.go
Labels: bug, service/mssql, size/XL

#11350 [Resource][Data Source] ACR Scope Map and Tokens
  azurerm/internal/services/containers/client/client.go
  azurerm/internal/services/containers/container_registry_scope_map_data_source.go
  azurerm/internal/services/containers/container_registry_scope_map_data_source_test.go
  azurerm/internal/services/containers/container_registry_scope_map_resource.go
  azurerm/internal/services/containers/container_registry_scope_map_resource_test.go
  azurerm/internal/services/containers/container_registry_token_data_source.go
  azurerm/internal/services/containers/container_registry_token_data_source_test.go
  azurerm/internal/services/containers/container_registry_token_resource.go
  azurerm/internal/services/containers/container_registry_token_resource_test.go
  azurerm/internal/services/containers/parse/container_registry_scope_map.go
  azurerm/internal/services/containers/parse/container_registry_scope_map_test.go
  azurerm/internal/services/containers/parse/container_registry_token.go
  azurerm/internal/services/containers/parse/container_registry_token_test.go
  azurerm/internal/services/containers/registration.go
  azurerm/internal/services/containers/resourceids.go
  azurerm/internal/services/containers/validate/container_registry_scope_map_id.go
  azurerm/internal/services/containers/validate/container_registry_scope_map_id_test.go
  azurerm/internal/services/containers/validate/container_registry_token_id.go
  azurerm/internal/services/containers/validate/container_registry_token_id_test.go
  website/docs/d/container_registry_scope_map.html.markdown
  website/docs/d/container_registry_token.html.markdown
  website/docs/r/container_registry_scope_map.html.markdown
  website/docs/r/container_registry_token.html.markdown
Labels: documentation, new-data-source, new-resource, service/container-registry, size/XXL

#11500 generate id parser for `azurerm_public_ip_prefix`
  azurerm/internal/services/network/parse/public_ip_prefix.go
  azurerm/internal/services/network/parse/public_ip_prefix_test.go
  azurerm/internal/services/network/public_ip_prefix_resource.go
  azurerm/internal/services/network/public_ip_prefix_resource_test.go
  azurerm/internal/services/network/resourceids.go
  azurerm/internal/services/network/validate/public_ip_prefix_id.go
  azurerm/internal/services/network/validate/public_ip_prefix_id_test.go
  website/docs/r/public_ip_prefix.html.markdown
Labels: documentation, refactor, service/public-ip, size/XL

#10585 virtual_machine_scale_set datasource - support network_interfaces
  azurerm/internal/services/compute/virtual_machine_scale_set.go
  azurerm/internal/services/compute/virtual_machine_scale_set_data_source.go
  website/docs/d/virtual_machine_scale_set.html.markdown
Labels: documentation, enhancement, service/vmss, size/L

#11509 Acceptance Tests bug fixes
  azurerm/internal/services/netapp/netapp_snapshot_resource_test.go
  azurerm/internal/services/netapp/netapp_volume_resource.go
  azurerm/internal/services/netapp/netapp_volume_resource_test.go
Labels: service/netapp, size/M, tests

#11512 Empty resource group name gives less-misleading error
  azurerm/helpers/azure/resource_group.go
  azurerm/helpers/azure/resource_group_test.go
Labels: size/XS

#11387 azurerm_storage_account: add support for NFSv3 protocol
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: dependencies, documentation, size/M

#10495 Added java version property to the function app.
  azurerm/internal/services/web/app_service.go
  azurerm/internal/services/web/function_app.go
  azurerm/internal/services/web/function_app_resource_test.go
  website/docs/d/function_app.html.markdown
  website/docs/r/function_app.html.markdown
Labels: documentation, enhancement, service/functions, size/M

#11514 Remove default value for `default_service_version` in `blob_properties` in `azurerm_storage_account`
  azurerm/internal/services/storage/storage_account_resource.go
  azurerm/internal/services/storage/storage_account_resource_test.go
Labels: service/storage, size/XS

#11513 fix some tf linting errors
  azurerm/internal/services/batch/batch_pool_data_source.go
  azurerm/internal/services/media/media_streaming_live_event_resource.go
  azurerm/internal/services/postgres/postgresql_server_resource.go
  azurerm/internal/services/storage/storage_encryption_scope_resource.go
Labels: size/XS

#10733 azurerm_backup_policy_file_share add weekly, monthly, and yearly retention
  azurerm/internal/services/recoveryservices/backup_policy_file_share_resource.go
  azurerm/internal/services/recoveryservices/backup_policy_file_share_resource_test.go
  website/docs/r/backup_policy_file_share.markdown
Labels: documentation, enhancement, service/backup, size/XXL

#11110 new resource: `azurerm_media_asset_filter`
  azurerm/internal/services/media/client/client.go
  azurerm/internal/services/media/media_asset_filter_resource.go
  azurerm/internal/services/media/media_asset_filter_resource_test.go
  azurerm/internal/services/media/parse/asset_filter.go
  azurerm/internal/services/media/parse/asset_filter_test.go
  azurerm/internal/services/media/registration.go
  azurerm/internal/services/media/resourceids.go
  azurerm/internal/services/media/validate/asset_filter_id.go
  azurerm/internal/services/media/validate/asset_filter_id_test.go
  website/docs/r/media_asset_filter.html.markdown
Labels: dependencies, documentation, new-resource, services/media, size/XXL

#11520 go mod vendor && go mod tidy
  vendor/github.com/hashicorp/go-version/CHANGELOG.md
  vendor/golang.org/x/sys/cpu/cpu_netbsd_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_other_mips64x.go
  vendor/golang.org/x/sys/cpu/cpu_zos.go
  vendor/golang.org/x/sys/cpu/cpu_zos_s390x.go
  vendor/golang.org/x/sys/unix/asm_bsd_386.s
  vendor/golang.org/x/sys/unix/asm_bsd_amd64.s
  vendor/golang.org/x/sys/unix/asm_bsd_arm.s
  vendor/golang.org/x/sys/unix/asm_bsd_arm64.s
  vendor/golang.org/x/sys/unix/asm_zos_s390x.s
  vendor/golang.org/x/sys/unix/dev_zos.go
  vendor/golang.org/x/sys/unix/epoll_zos.go
  vendor/golang.org/x/sys/unix/fstatfs_zos.go
  vendor/golang.org/x/sys/unix/ioctl_zos.go
  vendor/golang.org/x/sys/unix/ptrace_darwin.go
  vendor/golang.org/x/sys/unix/ptrace_ios.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_zos_s390x.go
  vendor/golang.org/x/sys/unix/zsyscall_zos_s390x.go
  vendor/golang.org/x/sys/unix/zsysnum_darwin_386.go
  vendor/golang.org/x/sys/unix/zsysnum_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsysnum_darwin_arm.go
  vendor/golang.org/x/sys/unix/zsysnum_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsysnum_zos_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_illumos_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_zos_s390x.go
Labels: dependencies, size/XXL

#11481 azurerm_healthcare_service: support for customer managed key
  azurerm/internal/services/cosmos/cosmosdb_account_resource.go
  azurerm/internal/services/healthcare/client/client.go
  azurerm/internal/services/healthcare/healthcare_service_data_source.go
  azurerm/internal/services/healthcare/healthcare_service_data_source_test.go
  azurerm/internal/services/healthcare/healthcare_service_resource.go
  azurerm/internal/services/healthcare/healthcare_service_resource_test.go
  azurerm/internal/services/keyvault/suppress/key_vault_key.go
  azurerm/internal/services/keyvault/suppress/key_vault_key_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2020-03-30/healthcareapis/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2020-03-30/healthcareapis/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2020-03-30/healthcareapis/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2020-03-30/healthcareapis/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2020-03-30/healthcareapis/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2020-03-30/healthcareapis/operationresults.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2020-03-30/healthcareapis/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2020-03-30/healthcareapis/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2020-03-30/healthcareapis/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2020-03-30/healthcareapis/services.go
  vendor/github.com/Azure/azure-sdk-for-go/services/healthcareapis/mgmt/2020-03-30/healthcareapis/version.go
  vendor/modules.txt
  website/docs/d/healthcare_service.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
  website/docs/r/healthcare_service.html.markdown
Labels: dependencies, documentation, enhancement, service/healthcare, size/XXL, waiting-response

#11519 added azurerm_storage_blob data source for #11384
  azurerm/internal/services/storage/registration.go
  azurerm/internal/services/storage/storage_blob_data_source.go
  azurerm/internal/services/storage/storage_blob_data_source_test.go
  website/docs/d/storage_blob.html.markdown
Labels: documentation, new-data-source, size/L

#11517 Support for `conflict_resolution_policy` in `azurerm_cosmosdb_sql_container`
  azurerm/internal/services/cosmos/common/conflict_resolution_policy.go
  azurerm/internal/services/cosmos/common/schema.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource.go
  azurerm/internal/services/cosmos/cosmosdb_gremlin_graph_resource_test.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource.go
  azurerm/internal/services/cosmos/cosmosdb_sql_container_resource_test.go
  website/docs/r/cosmosdb_gremlin_graph.html.markdown
  website/docs/r/cosmosdb_sql_container.html.markdown
Labels: documentation, enhancement, service/cosmosdb, size/L

#9862 Managed Disk Resource: Added support for network_access_policy
  azurerm/internal/services/compute/managed_disk_resource.go
  azurerm/internal/services/compute/managed_disk_resource_test.go
  website/docs/d/managed_disk.html.markdown
  website/docs/r/managed_disk.html.markdown
Labels: documentation, service/disks, size/L

#10867 azurerm_key_vault_certificate: Support curve property for EC keys
  azurerm/internal/services/keyvault/key_vault_certificate_data_source.go
  azurerm/internal/services/keyvault/key_vault_certificate_data_source_test.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource.go
  azurerm/internal/services/keyvault/key_vault_certificate_resource_test.go
  azurerm/internal/services/keyvault/key_vault_key_resource.go
  azurerm/internal/services/keyvault/key_vault_key_resource_test.go
  website/docs/r/key_vault_certificate.html.markdown
  website/docs/r/key_vault_key.html.markdown
Labels: dependencies, documentation, enhancement, service/keyvault, size/XL, waiting-response

#11532 azurerm_key_vault_certificate: docs fix for key_size property
  website/docs/r/key_vault_certificate.html.markdown
Labels: documentation, service/keyvault, size/XS

#11530 Renamed replication_schedule to replication_frequence on Azure NetApp Files volume data source
  azurerm/internal/services/netapp/netapp_volume_data_source.go
  website/docs/d/netapp_volume.html.markdown
  website/docs/r/netapp_volume.html.markdown
Labels: bug, documentation, service/netapp, size/XS

#10491 azurerm_container_group: support exposed_port to configure ports at group level
  azurerm/internal/services/containers/container_group_resource.go
  azurerm/internal/services/containers/container_group_resource_test.go
  website/docs/r/container_group.html.markdown
Labels: documentation, enhancement, service/container-group, size/L

#11534 Adding replication_schedule back as deprecated property
  azurerm/internal/services/netapp/netapp_volume_data_source.go
Labels: size/XS

#11542 Update iot_time_series_insights_gen2_environment.html.markdown
  website/docs/r/iot_time_series_insights_gen2_environment.html.markdown
Labels: documentation, service/iot-time-series, size/XS

#11533 New Resource: `azurerm_iot_time_series_insights_event_source_iothub`
  azurerm/internal/services/iottimeseriesinsights/client/client.go
  azurerm/internal/services/iottimeseriesinsights/iot_time_series_insights_event_source_iothub.go
  azurerm/internal/services/iottimeseriesinsights/iot_time_series_insights_event_source_iothub_test.go
  azurerm/internal/services/iottimeseriesinsights/parse/event_source.go
  azurerm/internal/services/iottimeseriesinsights/parse/event_source_test.go
  azurerm/internal/services/iottimeseriesinsights/registration.go
  azurerm/internal/services/iottimeseriesinsights/resourceids.go
  azurerm/internal/services/iottimeseriesinsights/validate/event_source_id.go
  azurerm/internal/services/iottimeseriesinsights/validate/event_source_id_test.go
  website/docs/r/iot_time_series_insights_event_source_iothub.html.markdown
Labels: documentation, new-resource, service/iot-time-series, size/XL
