Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2022-02, with the labels that each got.

#15199 New Data Source: `azurerm_logic_app_standard`
  internal/services/logic/logic_app_standard_data_source.go
  internal/services/logic/logic_app_standard_data_source_test.go
  internal/services/logic/registration.go
  website/docs/d/logic_app_standard.html.markdown
Labels: documentation, new-data-source, size/XL, service/logic

#15158 'azurerm_eventhub_namespace' - add test for network_rulesets.ip_rule.action
  internal/services/eventhub/eventhub_namespace_resource_test.go
Labels: size/XS

#15183 `azurerm_web_pubsub_hub` - Modify the logic of `auth.0.managed_identity_id` now accepts UUIDs
  internal/services/signalr/web_pubsub_hub_resource.go
  internal/services/signalr/web_pubsub_hub_resource_test.go
  website/docs/r/web_pubsub.html.markdown
Labels: enhancement, documentation, size/S, service/signalr

#15209 Fix deprecation of `management_group_name` in `azurerm_policy_definition` and `azurerm_policy_set_definition`
  internal/services/policy/policy_definition_resource.go
  internal/services/policy/policy_set_definition_resource.go
  website/docs/r/policy_definition.html.markdown
  website/docs/r/policy_set_definition.html.markdown
Labels: documentation, size/XS, service/policy, deprecation

#15207 updating `go-azure-helpers` to `v0.22.0` / updating usages of `identity`
  go.mod
  go.sum
  internal/services/datalake/data_lake_store_resource.go
  internal/services/iothub/iothub_resource.go
  internal/services/logic/logic_app_workflow_data_source.go
  internal/services/logic/logic_app_workflow_resource.go
  internal/services/storage/storage_account_resource.go
  internal/services/streamanalytics/stream_analytics_job_data_source.go
  internal/services/streamanalytics/stream_analytics_job_resource.go
  internal/services/synapse/synapse_workspace_data_source.go
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/videoanalyzer/video_analyzer_resource.go
  internal/services/web/app_service.go
  internal/services/web/function_app.go
  internal/services/web/function_app_data_source.go
  internal/services/web/static_site_resource.go
  vendor/github.com/hashicorp/go-azure-helpers/lang/response/response.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_system.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_system_or_user.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_system_user.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_user.go
  vendor/modules.txt
  website/docs/d/function_app.html.markdown
Labels: documentation, dependencies, size/XL, refactor

#15180 `azurerm_storage_share` - fix re-create error
  internal/services/storage/shim/shares_data_plane.go
  internal/services/storage/storage_share_resource_test.go
Labels: bug, service/storage

#15195 internal: splitting the 3.0 Beta and 3.0 GA feature-flags
  internal/features/three_point_oh.go
  internal/provider/features.go
  internal/provider/provider.go
  internal/services/costmanagement/registration.go
  internal/services/devspace/registration.go
  internal/services/disks/registration.go
  internal/services/iothub/iothub_dps_resource.go
  internal/services/iothub/iothub_resource.go
  internal/services/keyvault/key_vault_data_source.go
  internal/services/keyvault/key_vault_resource.go
  internal/services/kusto/identity.go
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_cluster_resource_test.go
  internal/services/loadbalancer/backend_address_pool_resource.go
  internal/services/mssql/mssql_database_resource.go
  internal/services/mssql/mssql_database_resource_test.go
  internal/services/mssql/mssql_server_resource.go
  internal/services/mysql/mysql_server_resource.go
  internal/services/policy/registration.go
  internal/services/postgres/postgresql_server_resource.go
  internal/services/redis/redis_cache_resource.go
  internal/services/storage/storage_account_resource.go
Labels: size/M, refactor

#15194 state migration for case conversion of ID element
  internal/services/loganalytics/log_analytics_datasource_windows_event_resource.go
  internal/services/loganalytics/migration/ds_windows_event.go
Labels: bug, size/M, service/log-analytics

#15229 `azurerm_kubernetes_cluster` nil check sku during update
  internal/services/containers/kubernetes_cluster_resource.go
Labels: bug, crash, size/XS, service/kubernetes-cluster

#15227 tooling: generating Github Labels for Services based on the interface being implemented
  .github/labeler-pull-request-triage.yml
  internal/sdk/service_registration.go
  internal/services/aadb2c/registration.go
  internal/tools/generator-services/README.md
  internal/tools/generator-services/main.go
Labels: size/M, tooling

#14936 `azurerm_[linux|windows]_virtual_machine`: Add support for `dedicated_host_group_id`
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_scaling_test.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource_scaling_test.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: enhancement, documentation, service/virtual-machine, size/XL

#15004 `azurerm_mysql_server` - add test for infrastructure_encryption_enabled/public_network_access_…
  internal/services/mysql/mysql_server_resource_test.go
Labels: waiting-response, size/S, service/mysql, tests

#15039 support storage_resource_id for azurerm_hdinsight_hbase_cluster, azurerm_hdinsight_hadoop_cluster,azurerm_hdinsight_spark_cluster and azurerm_hdinsight_interactive_query_cluster resources
  internal/services/hdinsight/hdinsight_hadoop_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_hbase_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_interactive_query_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_spark_cluster_resource_test.go
  internal/services/hdinsight/schema.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
Labels: documentation, size/S, service/hdinsight

#14975 New resource `azurerm_disk_pool_iscsi_target` base on `azurerm_disk_pool` on pr #14675
  internal/services/disks/client/client.go
  internal/services/disks/disk_pool_iscsi_target_resource.go
  internal/services/disks/disk_pool_iscsi_target_resource_test.go
  internal/services/disks/disk_pool_resource.go
  internal/services/disks/registration.go
  internal/services/disks/validate/iscsi_qualified_name.go
  internal/services/disks/validate/iscsi_qualified_name_test.go
  website/docs/r/disk_pool_iscsi_target.html.markdown
  website/docs/r/subnet.html.markdown
Labels: documentation, size/XL

#15098 `azurerm_container_group`: fix parallel provision failure given the same `network_profile_id`
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
Labels: bug, size/M, service/container-group, upstream-microsoft

#15118 Fix #14845 by listing hybrid connection's access keys if listing access keys of relay failed.
  internal/services/web/app_service_hybrid_connection_resource.go
  internal/services/web/app_service_hybrid_connection_resource_test.go
Labels: bug, size/M, service/app-service

#15235 Update dns_zone.html.markdown
  website/docs/r/dns_zone.html.markdown
Labels: documentation, service/dns, size/XS

#15239 tools/generator-services: the same label can be present in multiple packages
  .github/labeler-pull-request-triage.yml
  internal/tools/generator-services/main.go
Labels: bug, tooling

#15241 `azurerm_kubernetes_cluster` example on how to attach an ACR
  website/docs/r/container_registry.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/S, service/kubernetes-cluster, service/container-registry

#15242 Postgres SQL Storage link fix
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, size/XS, service/postgresql

#14946 Support for azurerm_container_group data source
  internal/services/containers/container_group_data_source.go
  internal/services/containers/container_group_data_source_test.go
  internal/services/containers/registration.go
  website/docs/d/container_group.html.markdown
Labels: documentation, new-data-source, size/L, service/container-group

#15243 identity: working around the use of legacy identity types
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  internal/services/streamanalytics/stream_analytics_job_resource.go
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/synapse/synapse_workspace_resource_test.go
  internal/services/web/static_site_resource_test.go
  website/docs/r/storage_account.html.markdown
  website/docs/r/stream_analytics_job.html.markdown
Labels: documentation, service/storage, size/XL, service/stream-analytics, service/synapse

#15231 Refactor beta [windows|linux] function app slots for ID
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service

#15226 doc: storage_account_id clarification
  website/docs/r/storage_account_network_rules.html.markdown
Labels: documentation, size/XS

#15178 New Resource: `azurerm_traffic_manager_azure_endpoint`, `azurerm_traffic_manager_external_endpoint`, and `azurerm_traffic_manager_nested_endpoint`
  internal/services/trafficmanager/azure_endpoint_resource.go
  internal/services/trafficmanager/azure_endpoint_resource_test.go
  internal/services/trafficmanager/external_endpoint_resource.go
  internal/services/trafficmanager/external_endpoint_resource_test.go
  internal/services/trafficmanager/nested_endpoint_resource.go
  internal/services/trafficmanager/nested_endpoint_resource_test.go
  internal/services/trafficmanager/registration.go
  internal/services/trafficmanager/traffic_manager_endpoint_resource.go
  website/docs/r/traffic_manager_azure_endpoint.html.markdown
  website/docs/r/traffic_manager_endpoint.html.markdown
  website/docs/r/traffic_manager_external_endpoint.html.markdown
  website/docs/r/traffic_manager_nested_endpoint.html.markdown
Labels: documentation, new-resource, breaking-change, size/XL, service/traffic-manager

#14398 `azurerm_private_endpoint` Try add internal lock when private connection resource id is cosmosdb account id to fix #14364
  internal/services/network/private_endpoint_resource.go
Labels: bug, size/M, service/private-link

#14118 apimanagement: make subscription_required optional with default value of true
  internal/services/apimanagement/api_management_product_resource.go
  internal/services/apimanagement/api_management_product_resource_test.go
Labels: breaking-change, size/M, service/api-management

#15237 Acceptance Tests CI - bump testing default version to TF 1.1.5
  .teamcity/components/settings.kt
Labels: size/XS, tooling

#15204 identity: moving SystemAssigned to use the new commonschema types
  internal/identity/README.md
  internal/identity/system_assigned.go
  internal/services/dataprotection/data_protection_backup_vault_data_source.go
  internal/services/dataprotection/data_protection_backup_vault_resource.go
  internal/services/eventhub/eventhub_namespace_resource.go
  internal/services/policy/assignment_base_resource.go
  internal/services/springcloud/spring_cloud_app_resource.go
  internal/services/sql/sql_managed_instance_resource.go
Labels: size/XL, service/mssql, service/event-hubs, service/policy, refactor, service/spring, service/data-protection

#15271 Linting Fix
  internal/services/disks/disk_pool_iscsi_target_resource.go
Labels: service/disks, size/XS

#15254 `azurerm_application_insights` - Add support for `force_customer_storage_for_profiler`
  internal/services/applicationinsights/application_insights_resource.go
  internal/services/applicationinsights/application_insights_resource_test.go
  website/docs/r/application_insights.html.markdown
Labels: enhancement, documentation, size/XS, service/application-insights

#14366 New resource: `azurerm_sentinel_watchlist_item`
  examples/sentinel/watchlist-item-from-csv-file/data.csv
  examples/sentinel/watchlist-item-from-csv-file/main.tf
  internal/services/sentinel/client/client.go
  internal/services/sentinel/parse/watchlist_item.go
  internal/services/sentinel/parse/watchlist_item_test.go
  internal/services/sentinel/registration.go
  internal/services/sentinel/resourceids.go
  internal/services/sentinel/sentinel_watchlist_item_resource.go
  internal/services/sentinel/sentinel_watchlist_item_resource_test.go
  internal/services/sentinel/validate/watchlist_item_id.go
  internal/services/sentinel/validate/watchlist_item_id_test.go
  website/docs/r/sentinel_watchlist_item.html.markdown
Labels: documentation, new-resource, size/XL, service/sentinel

#15287 dependencies: updating to v0.23.0 of github.com/hashicorp/go-azure-helpers
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_system.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_system_or_user.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_system_user.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_user.go
  vendor/modules.txt
Labels: dependencies, size/L

#15289 build: fixing the schema linting
  internal/services/applicationinsights/application_insights_resource_test.go
Labels: bug, size/XS, service/application-insights

#15291 `azurerm_app_service_active_slot` - fix regression in ID set in creation of new resource
  internal/services/web/app_service_active_slot_resource.go
Labels: size/XS

#15280 `azurerm_flexible_server` - Fix `administrator_login` validation
  internal/services/mysql/mysql_flexible_server_resource_test.go
  internal/services/mysql/validate/flexible_server_administrator_login.go
  internal/services/mysql/validate/flexible_server_administrator_login_test.go
Labels: bug, size/XS, service/mysql

#15286 `azurerm_service_plan` fix name of `worker_count` property in docs
  website/docs/d/service_plan.html.markdown
  website/docs/r/service_plan.html.markdown
Labels: documentation, size/XS

#15297 `azurerm_application_insights_api_key` - check for existing keys to prevent crash
  internal/services/applicationinsights/application_insights_api_key_resource.go
Labels: bug, crash, size/XS, service/application-insights

#15310 Documentation: Clarify which orchestration mode each VMSS resource type will be created as
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#15314 dependencies: upgrading to v0.23.1 of github.com/hashicorp/go-azure-helpers
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/constants.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_and_user_assigned_list.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_and_user_assigned_map.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_assigned.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_or_user_assigned_list.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_or_user_assigned_map.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/user_assigned_list.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/user_assigned_map.go
  vendor/modules.txt
Labels: dependencies, size/M

#15312 `azurerm_orchestrated_virtual_machine_scale_set` - Add `nil` validation check for linux `os_profile` and add regression test case
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
Labels: bug, crash, service/vmss, size/M

#15316 Bug Fix: azurerm_recovery_services_vault - fix the subscription could not be found in the Azure.Gov environment
  internal/services/recoveryservices/client/client.go
Labels: size/XS, service/recovery-services

#15244 todo30
  internal/services/automation/automation_schedule_resource.go
  internal/services/cognitive/cognitive_account_resource.go
  internal/services/cognitive/cognitive_account_resource_test.go
  internal/services/databasemigration/database_migration_service_resource.go
  internal/services/frontdoor/frontdoor_rules_engine_rule.go
  internal/services/hpccache/hpc_cache_resource.go
  internal/services/kusto/identity.go
  internal/services/logic/logic_app_action_http_resource.go
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/mariadb/mariadb_server_resource.go
  internal/services/monitor/monitor_scheduled_query_rules_alert_resource.go
  internal/services/mysql/mysql_server_resource.go
  internal/services/postgres/postgresql_server_resource.go
  internal/services/purview/purview_account_resource.go
  internal/services/redis/redis_linked_server_resource.go
  internal/services/springcloud/spring_cloud_java_deployment_resource.go
  internal/services/sql/sql_database_resource.go
  website/docs/r/cognitive_account.html.markdown
Labels: enhancement, documentation, size/XL, service/monitor, service/redis, service/cognitive-services, service/postgresql, service/automation, service/mysql, service/logic, service/frontdoor, service/machine-learning, service/kusto, service/spring, service/database-migration, service/purview, service/hpc-cache, service/maria-db, service/sql

#15303 identity: making the identity behaviour consistent (M -> I)
  internal/services/iothub/iothub_resource.go
  internal/services/kusto/identity.go
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/loganalytics/log_analytics_cluster.go
  internal/services/loganalytics/log_analytics_cluster_customer_managed_key_resource.go
  internal/services/loganalytics/log_analytics_cluster_resource.go
  internal/services/logic/logic_app_standard_data_source.go
  internal/services/logic/logic_app_standard_resource.go
  internal/services/logic/logic_app_workflow_resource.go
  internal/services/media/media_services_account_resource.go
  internal/services/mssql/mssql_server_data_source.go
  internal/services/mssql/mssql_server_data_source_test.go
  internal/services/mssql/mssql_server_resource.go
  internal/services/mssql/mssql_server_resource_test.go
  internal/services/mysql/mysql_server_data_source.go
  internal/services/mysql/mysql_server_resource.go
Labels: size/XL, service/mssql, service/iot-hub, service/mysql, service/logic, service/log-analytics, refactor, service/media, service/kusto

#15292 identity: making the identity behaviour consistent (W -> N)
  internal/services/network/application_gateway_data_source.go
  internal/services/network/application_gateway_resource.go
  internal/services/network/express_route_port_resource.go
  internal/services/postgres/postgresql_server_data_source.go
  internal/services/postgres/postgresql_server_resource.go
  internal/services/purview/purview_account_resource.go
  internal/services/purview/purview_account_resource_test.go
  internal/services/recoveryservices/recovery_services_vault_resource.go
  internal/services/search/search_service_data_source.go
  internal/services/search/search_service_resource.go
  internal/services/sql/sql_managed_instance_data_source.go
  internal/services/sql/sql_managed_instance_resource.go
  internal/services/sql/sql_server_data_source.go
  internal/services/sql/sql_server_resource.go
Labels: size/XL, service/search, service/postgresql, service/recovery-services, refactor, service/purview, service/sql

#15308 azurerm_key_vault_secret - update doc example
  website/docs/d/key_vault_secrets.html.markdown
Labels: documentation, service/key-vault, size/XS

#14660 Migrate APIM to `sku` block, and add zones and public IP support
  internal/services/apimanagement/api_management_data_source.go
  internal/services/apimanagement/api_management_resource.go
  internal/services/apimanagement/api_management_resource_test.go
  internal/services/cognitive/cognitive_account_resource.go
  vendor/github.com/hashicorp/go-azure-helpers/lang/pointer/from.go
  vendor/github.com/hashicorp/go-azure-helpers/lang/pointer/to.go
  vendor/modules.txt
  website/docs/d/api_management.html.markdown
  website/docs/r/api_management.html.markdown
Labels: documentation, dependencies, size/XL, service/cognitive-services, service/api-management

#15326 New Data Source: `azurerm_portal_dashboard`
  internal/services/portal/portal_dashboard_data_source.go
  internal/services/portal/portal_dashboard_data_source_test.go
  internal/services/portal/registration.go
  website/docs/d/portal_dashboard.html.markdown
Labels: documentation, new-data-source, size/L, service/portal

#14998 azurerm_api_management: support the `remove_samples_on_create` property
  internal/services/apimanagement/api_management_resource.go
  internal/services/apimanagement/api_management_resource_test.go
  website/docs/r/api_management.html.markdown
Labels: enhancement, documentation, size/L, service/api-management

#15330 `azurerm_firewall` - workaround the destroy failure
  internal/services/firewall/azuresdkhacks/firewall.go
  internal/services/firewall/firewall_resource.go
Labels: bug, size/S, upstream-microsoft, service/firewall

#15336 refactor: consistent identity blocks - part 4
  internal/services/apimanagement/api_management_data_source.go
  internal/services/apimanagement/api_management_resource.go
  internal/services/appconfiguration/app_configuration_resource.go
  internal/services/batch/batch_account_resource.go
  internal/services/batch/batch_pool_resource.go
  internal/services/blueprints/blueprint.go
  internal/services/blueprints/blueprint_assignment_resource.go
  internal/services/cognitive/cognitive_account_resource.go
  internal/services/compute/disk_encryption_set_resource.go
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/virtual_machine.go
  internal/services/compute/virtual_machine_data_source.go
  internal/services/compute/virtual_machine_scale_set.go
  internal/services/compute/virtual_machine_scale_set_data_source.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: size/XL, service/cognitive-services, service/api-management, service/blueprints, refactor, service/batch, service/app-configuration

#15325 identity: making the identity behaviour consistent (L -> Container)
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_registry_resource.go
  internal/services/containers/container_registry_task_resource.go
  internal/services/containers/kubernetes_cluster_auth_resource_test.go
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/datalake/data_lake_store_resource.go
  internal/services/datashare/data_share_account_data_source.go
  internal/services/datashare/data_share_account_resource.go
  internal/services/eventgrid/eventgrid.go
  internal/services/eventgrid/eventgrid_domain_resource.go
  internal/services/eventgrid/eventgrid_system_topic_data_source.go
  internal/services/eventgrid/eventgrid_system_topic_resource.go
  internal/services/eventgrid/eventgrid_topic_resource.go
  internal/services/firewall/firewall_policy_resource.go
  internal/services/firewall/firewall_policy_resource_test.go
  website/docs/r/data_share_account.html.markdown
Labels: documentation, size/XL, service/cosmosdb, service/data-lake, service/firewall, service/event-grid, refactor, service/data-share

#15337 refactor: consistent identity blocks - application_gateway - `type` is now required
  internal/services/network/application_gateway_resource.go
  internal/services/network/application_gateway_resource_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/S, refactor

#15344 refactor: consistent identity blocks - data factory
  internal/services/datafactory/data_factory_data_source.go
  internal/services/datafactory/data_factory_resource.go
  internal/services/datafactory/data_factory_resource_test.go
Labels: size/XL, service/data-factory, refactor

#15341 refactor: consistent identity blocks - machine learning
  internal/services/machinelearning/identity.go
  internal/services/machinelearning/machine_learning_compute_cluster_resource.go
  internal/services/machinelearning/machine_learning_compute_cluster_resource_test.go
  internal/services/machinelearning/machine_learning_compute_instance_resource.go
  internal/services/machinelearning/machine_learning_compute_instance_resource_test.go
  internal/services/machinelearning/machine_learning_inference_cluster_resource.go
  internal/services/machinelearning/machine_learning_inference_cluster_resource_test.go
  internal/services/machinelearning/machine_learning_synapse_spark_resource.go
  internal/services/machinelearning/machine_learning_synapse_spark_resource_test.go
  internal/services/machinelearning/machine_learning_workspace_data_source.go
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/storage/storage_account_resource.go
  website/docs/r/machine_learning_compute_cluster.html.markdown
  website/docs/r/machine_learning_compute_instance.html.markdown
  website/docs/r/machine_learning_inference_cluster.html.markdown
  website/docs/r/machine_learning_synapse_spark.html.markdown
Labels: documentation, service/storage, size/XL, refactor, service/machine-learning

#15335 DOC: fix invalid JSON in parameter definition of azurerm_resource_group_policy_assignment
  website/docs/r/resource_group_policy_assignment.html.markdown
Labels: documentation, size/XS

#15333 `azurerm_policy_assignment` Add convert check to avoid panic and fix #15218
  internal/services/policy/policy_assignment_resource.go
Labels: size/XS, service/policy

#15318 Fix TestAccSnapshot_fromUnmanagedDisk
  internal/services/compute/snapshot_resource_test.go
Labels: size/XS

#15331 `azurerm_cosmosdb_cassandra_table `- add test for autoscale_settings.max_throughput/default_ttl/throughput
  internal/services/cosmos/cosmosdb_cassandra_table_resource_test.go
Labels: size/M, service/cosmosdb

#15349 New Site Recovery Data Sources `azurerm_site_recovery_fabric`, `azurerm_site_recovery_protection_container`, and `azurerm_site_recovery_replication_policy`
  internal/services/recoveryservices/registration.go
  internal/services/recoveryservices/site_recovery_fabric_data_source.go
  internal/services/recoveryservices/site_recovery_fabric_data_source_test.go
  internal/services/recoveryservices/site_recovery_protection_container_data_source.go
  internal/services/recoveryservices/site_recovery_protection_container_data_source_test.go
  internal/services/recoveryservices/site_recovery_replication_policy_data_source.go
  internal/services/recoveryservices/site_recovery_replication_policy_data_source_test.go
  website/docs/d/site_recovery_fabric.html.markdown
  website/docs/d/site_recovery_protection_container.html.markdown
  website/docs/d/site_recovery_replication_policy.html.markdown
Labels: documentation, new-data-source, size/XL, service/recovery-services

#15315 `azurerm_cosmosdb_account` - add test for tags
  internal/services/cosmos/cosmosdb_account_resource_test.go
Labels: size/M, service/cosmosdb, tests

#15329 New resource: `azurerm_disk_pool_iscsi_target_lun`
  internal/services/disks/disk_pool_iscsi_target_lun_resource.go
  internal/services/disks/disk_pool_iscsi_target_lun_resource_test.go
  internal/services/disks/registration.go
  internal/services/disks/sdk/2021-08-01/iscsitargets/id_iscsitarget_lun.go
  internal/services/disks/sdk/2021-08-01/iscsitargets/id_iscsitarget_lun_test.go
  internal/services/disks/validate/iscsi_target_lun.go
  website/docs/r/disk_pool_iscsi_target_lun.html.markdown
Labels: documentation, service/disks, size/XL

#15338 `azurerm_kubernetes_cluster` fix unsetting of `outbound_ip_prefix_ids` and `outbound_ip_address_ids`
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: bug, documentation, size/M, service/kubernetes-cluster

#15353 `data_protection_backup_instance_blob_storage.html.markdown` - add ` identity `block
  website/docs/r/data_protection_backup_instance_blob_storage.html.markdown
Labels: documentation, size/XS

#15354 `azurerm_key_vault_certificate` - add test for certificate_policy.lifetime_action.trigger.lifetime_percentage
  internal/services/keyvault/key_vault_certificate_resource_test.go
Labels: service/key-vault, size/XS, tests

#15360 `azurem_virtual_machine*` - add `StandardSSD_ZRS` and `Premium_ZRS` as `storage_account_type` options
  internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  internal/services/compute/virtual_machine.go
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: enhancement, documentation, service/virtual-machine, size/M

#15365 `azurerm_bastion_host` - validate subnet name
  internal/services/network/bastion_host_resource.go
  internal/services/network/validate/bastion_subnet_name.go
  website/docs/r/bastion_host.html.markdown
Labels: documentation, size/XS

#14796 `azurerm_windows_virtual_machine` - Full support for Automatic VM Guest Patching and Hotpaching
  examples/virtual-machines/windows/hotpatching-enabled/README.md
  examples/virtual-machines/windows/hotpatching-enabled/main.tf
  examples/virtual-machines/windows/hotpatching-enabled/variables.tf
  internal/services/compute/shared_schema.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_resource_test.go
  website/docs/r/windows_virtual_machine.html.markdown
Labels: enhancement, documentation, service/virtual-machine, size/XL

#14906 `azurerm_linux_virtual_machine` - Full support for Automatic VM Guest Patching
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  website/docs/r/linux_virtual_machine.html.markdown
Labels: enhancement, documentation, service/virtual-machine, size/M

#15320 second batch of 3.0 TODO items (2 of many)
  internal/services/firewall/firewall_policy_resource.go
  internal/services/firewall/firewall_resource.go
  internal/services/keyvault/key_vault_key_resource.go
  internal/services/loganalytics/log_analytics_linked_service_resource.go
  internal/services/loganalytics/log_analytics_linked_service_resource_test.go
  internal/services/mssql/mssql_database_resource.go
  internal/services/signalr/signalr_service_resource.go
  internal/services/synapse/synapse_role_assignment_resource.go
  internal/services/synapse/synapse_role_assignment_resource_test.go
  internal/services/synapse/synapse_spark_pool_resource.go
Labels: enhancement, service/key-vault, size/XL, service/mssql, service/firewall, service/log-analytics, service/signalr, service/synapse

#15363 refactor: consistent identity blocks - appservice / web
  internal/services/appservice/helpers/shared_schema.go
  internal/services/appservice/identity.go
  internal/services/appservice/linux_function_app_data_source.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/linux_web_app_data_source.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_data_source.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  internal/services/appservice/windows_web_app_data_source.go
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
  internal/services/web/app_service.go
  internal/services/web/app_service_resource.go
  internal/services/web/app_service_slot_resource.go
  internal/services/web/function_app_resource.go
  internal/services/web/function_app_slot_resource.go
  internal/services/web/static_site_resource.go
  internal/services/web/static_site_resource_test.go
Labels: size/XL, service/app-service, refactor

#15380 `r\stream_analytics_cluster`: Fix `tags`
  internal/services/streamanalytics/stream_analytics_cluster_resource.go
  internal/services/streamanalytics/stream_analytics_cluster_resource_test.go
Labels: bug, size/M, service/stream-analytics

#15374 azurerm_vpn_site - Update doc example
  internal/services/network/vpn_site_resource_test.go
  website/docs/r/vpn_site.html.markdown
Labels: documentation, size/XS

#15391 update conditional schemas for tflint errors
  internal/services/firewall/firewall_resource.go
  internal/services/loganalytics/log_analytics_linked_service_resource.go
Labels: size/M, service/firewall, service/log-analytics

#15384 Add DR as validation option
  internal/services/mssql/mssql_virtual_machine_resource.go
Labels: size/XS, service/mssql

#15383 Update mssql_virtual_machine.html.markdown
  website/docs/r/mssql_virtual_machine.html.markdown
Labels: documentation, size/XS

#15386 `azurerm_web_application_firewall_policy` - `disabled_rules` is now optional
  internal/services/network/web_application_firewall_policy_resource.go
  internal/services/network/web_application_firewall_policy_resource_test.go
Labels: enhancement, size/M, service/web-app

#15385 update docs for beta source control resources
  internal/services/appservice/source_control_resource.go
  internal/services/appservice/source_control_slot_resource.go
  website/docs/r/app_service_source_control.html.markdown
  website/docs/r/app_service_source_control_slot.html.markdown
Labels: documentation, size/S, service/app-service

#15375 New Resource - `azurerm_spring_cloud_storage`
  internal/services/springcloud/client/client.go
  internal/services/springcloud/parse/spring_cloud_storage.go
  internal/services/springcloud/parse/spring_cloud_storage_test.go
  internal/services/springcloud/registration.go
  internal/services/springcloud/resourceids.go
  internal/services/springcloud/spring_cloud_storage_resource.go
  internal/services/springcloud/spring_cloud_storage_resource_test.go
  internal/services/springcloud/validate/spring_cloud_storage_id.go
  internal/services/springcloud/validate/spring_cloud_storage_id_test.go
  website/docs/r/spring_cloud_storage.html.markdown
Labels: documentation, new-resource, size/XL, service/spring

#15377 `azurerm_logic_app_action_http` - add test for body
  internal/services/logic/logic_app_action_http_resource_test.go
Labels: size/S, service/logic

#15396 Fix potential deadlocks among provider level
  internal/services/network/network_interface_locking.go
Labels: size/XS

#15398 Update docs as AKS cluster auto upgrade is now GA
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#15402 `machine_learning_compute_instance` - updated character length
  internal/services/machinelearning/machine_learning_compute_instance_resource.go
Labels: size/XS, service/machine-learning

#15379 `azurerm_logic_app_standard` - add test for enabled
  internal/services/logic/logic_app_standard_resource_test.go
Labels: size/XS, service/logic, tests

#15412 r/application_gateway: checking if input and not the flattened object is non-nil
  internal/services/network/application_gateway_resource.go
Labels: bug, regression, size/XS, service/application-gateway

#15414 dependencies: upgrading to `v0.24.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_system.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_system_or_user.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_system_user.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/identity_user.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/zone.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/zones.go
  vendor/modules.txt
Labels: dependencies, size/M

#15082 `azurerm_storage_account` - support `customer_managed_key`
  internal/services/storage/storage_account_customer_managed_key_resource_test.go
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_account_customer_managed_key.html.markdown
Labels: enhancement, documentation, service/storage, size/XL

#15409 `azurerm_iothub` - upgrade api from 2021-03-31 to 2021-07-02
  internal/services/iothub/client/client.go
  internal/services/iothub/iothub_consumer_group_resource.go
  internal/services/iothub/iothub_dps_resource.go
  internal/services/iothub/iothub_endpoint_eventhub_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource.go
  internal/services/iothub/iothub_endpoint_storage_container_resource.go
  internal/services/iothub/iothub_enrichment_resource.go
  internal/services/iothub/iothub_fallback_route_resource.go
  internal/services/iothub/iothub_resource.go
  internal/services/iothub/iothub_route_resource.go
  internal/services/iothub/iothub_shared_access_policy_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-03-31/devices/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/certificates.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/iothub.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/iothubresource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/resourceprovidercommon.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iothub/mgmt/2021-07-02/devices/version.go
  vendor/modules.txt
Labels: dependencies, size/L, service/iot-hub

#15432 website: splitting the Features block out to it's own page
  website/docs/guides/features-block.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/L

#15430 dependencies: upgrading to v0.24.1 of github.com/hashicorp/go-azure-helpers
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#15421 `example`: Fix sentinel csv watchlist item example
  examples/sentinel/watchlist-item-from-csv-file/main.tf
Labels: size/XS

#15435 Cleanup the k8s docs
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#15434 refactor: removing the old identity types
  internal/identity/schema.go
  internal/identity/system_assigned_user_assigned.go
  internal/identity/user_assigned.go
Labels: size/L, refactor

#15393 Common Schema for Zones [part 1]
  internal/services/apimanagement/api_management_data_source.go
  internal/services/apimanagement/api_management_resource.go
  internal/services/compute/dedicated_host_group_data_source.go
  internal/services/compute/dedicated_host_group_resource.go
  internal/services/compute/dedicated_host_group_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/managed_disk_data_source.go
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/managed_disk_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_data_source_test.go
  internal/services/containers/kubernetes_cluster_node_pool_data_source.go
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_nodepool.go
  internal/services/disks/disk_pool_resource.go
  internal/services/disks/storage_disks_pool_resource.go
  internal/services/firewall/firewall_data_source.go
  internal/services/firewall/firewall_resource.go
  internal/services/hsm/dedicated_hardware_security_module_resource.go
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/loadbalancer/loadbalancer_data_source.go
  internal/services/network/application_gateway_resource.go
  internal/services/network/nat_gateway_data_source.go
  internal/services/network/nat_gateway_resource.go
  internal/services/network/public_ip_data_source.go
  internal/services/network/public_ip_prefix_data_source.go
  internal/services/network/public_ip_resource.go
  internal/services/redis/redis_cache_data_source.go
  internal/services/redis/redis_cache_resource.go
  internal/services/redisenterprise/redis_enterprise_cluster_resource.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/zones/expand.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/zones/flatten.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/zones/schema.go
  vendor/modules.txt
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/d/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, dependencies, service/load-balancers, service/disks, size/XL, service/redis, service/api-management, service/firewall, refactor, service/kusto, service/hsm

#15405 Common Schema for Zones [part 2]
  helpers/azure/zones.go
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/firewall/firewall_resource.go
  internal/services/loadbalancer/loadbalancer_resource.go
  internal/services/loadbalancer/loadbalancer_resource_test.go
  internal/services/mssql/mssql_server_resource.go
  internal/services/mysql/mysql_flexible_server_data_source.go
  internal/services/mysql/mysql_flexible_server_resource.go
  internal/services/network/public_ip_prefix_resource.go
  internal/services/network/public_ip_prefix_resource_test.go
  internal/services/network/public_ip_resource.go
  internal/services/network/public_ip_resource_test.go
  internal/services/postgres/postgresql_flexible_server_resource.go
Labels: service/load-balancers, size/XL, service/mssql, service/postgresql, service/mysql, service/firewall, refactor

#15423 `azurerm_storage_management_policy` - add supports for `{tier_to_cool|tier_to_archive|delete}_after_days_since_last_access_time_greater_than`
  internal/services/storage/storage_management_policy_resource.go
  internal/services/storage/storage_management_policy_resource_test.go
  website/docs/r/storage_management_policy.html.markdown
Labels: enhancement, documentation, service/storage, size/L

#15370 azurerm_logic_app_integration_account_map - support content type text/plain
  internal/services/logic/logic_app_integration_account_map_resource.go
  internal/services/logic/logic_app_integration_account_map_resource_test.go
  internal/services/logic/testdata/integration_account_map_content.liquid
Labels: size/S, service/logic

#15422 azurerm_monitor_action_group: fix the format issue of the workspace_id property for itsm_receiver
  internal/services/monitor/monitor_action_group_resource.go
  internal/services/monitor/monitor_action_group_resource_test.go
  internal/services/monitor/validate/workspace_id.go
  internal/services/monitor/validate/workspace_id_test.go
  website/docs/r/monitor_action_group.html.markdown
Labels: documentation, size/M, service/monitor

#15428 `azurerm_kusto_cluster` supports `public-Network-Access`
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_cluster_resource_test.go
  website/docs/r/data_share_dataset_kusto_cluster.html.markdown
Labels: documentation, size/S, service/kusto

#14917 Add resource health to `azurerm_monitor_activity_log_alert`
  internal/services/monitor/monitor_activity_log_alert_resource.go
  internal/services/monitor/monitor_activity_log_alert_resource_test.go
  website/docs/r/monitor_activity_log_alert.html.markdown
Labels: enhancement, documentation, size/XL, service/monitor

#15372 [Bug fix] Handle redis version upgrade state
  internal/services/redis/redis_cache_resource.go
  internal/services/redis/redis_cache_resource_test.go
Labels: size/S, service/redis

#14795 `azurerm_mssql_outbound_firewall_rule` - New resource
  internal/services/mssql/client/client.go
  internal/services/mssql/mssql_outbound_firewall_rule_resource.go
  internal/services/mssql/mssql_outbound_firewall_rule_resource_test.go
  internal/services/mssql/mssql_server_resource.go
  internal/services/mssql/mssql_server_resource_test.go
  internal/services/mssql/parse/outbound_firewall_rule.go
  internal/services/mssql/parse/outbound_firewall_rule_test.go
  internal/services/mssql/registration.go
  internal/services/mssql/resourceids.go
  internal/services/mssql/validate/outbound_firewall_rule_id.go
  internal/services/mssql/validate/outbound_firewall_rule_id_test.go
  website/docs/r/mssql_outbound_firewall_rule.html.markdown
  website/docs/r/mssql_server.html.markdown
Labels: documentation, size/XL, service/mssql, new-virtual-resource

#14953 Fix regression in v2.91 `azurerm_virtual_desktop_host_pool` registration_info
  internal/services/desktopvirtualization/virtual_desktop_host_pool_registration_info_resource.go
  internal/services/desktopvirtualization/virtual_desktop_host_pool_registration_info_resource_test.go
  internal/services/desktopvirtualization/virtual_desktop_host_pool_resource.go
  internal/services/desktopvirtualization/virtual_desktop_host_pool_resource_test.go
  website/docs/r/virtual_desktop_host_pool.html.markdown
  website/docs/r/virtual_desktop_host_pool_registration_info.html.markdown
Labels: bug, documentation, regression, size/XL, service/virtual-desktops

#15343 `azurerm_iothub_dps` - support for `ip_filter_rule` block and `public_network_access_enabled`
  internal/services/iothub/iothub_dps_resource.go
  internal/services/iothub/iothub_dps_resource_test.go
  website/docs/r/iothub_dps.html.markdown
Labels: documentation, size/L, service/iot-hub

#15371 `azurerm_servicebus_namespace` supports `identity`
  internal/services/servicebus/servicebus_namespace_resource.go
  internal/services/servicebus/servicebus_namespace_resource_test.go
  website/docs/r/servicebus_namespace.html.markdown
Labels: enhancement, documentation, size/L, service/service-bus

#15181 New Data Source: azurerm_subscription_locations
  internal/services/authorization/role_assignment_resource.go
  internal/services/subscription/client/client.go
  internal/services/subscription/extended_locations_data_source.go
  internal/services/subscription/extended_locations_data_source_test.go
  internal/services/subscription/registration.go
  internal/services/subscription/subscription_import.go
  internal/services/subscription/subscription_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-11-01/subscriptions/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2019-11-01/subscriptions/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2021-01-01/subscriptions/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2021-01-01/subscriptions/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2021-01-01/subscriptions/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2021-01-01/subscriptions/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2021-01-01/subscriptions/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2021-01-01/subscriptions/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2021-01-01/subscriptions/subscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2021-01-01/subscriptions/tenants.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2021-01-01/subscriptions/version.go
  vendor/modules.txt
  website/docs/d/extended_locations.html.markdown
Labels: documentation, dependencies, new-data-source, size/XL, service/application-insights, service/authorization, service/subscription

#15458 Doc Fix: `azurerm_sql_managed_instance` updates `license_type` to correct values
  website/docs/r/sql_managed_instance.html.markdown
Labels: documentation, size/XS, service/sql

#15453 `azurerm_monitor_activity_log_alert` add test for criteria.caller/criteria.level/criteria.recommendation_type/criteria.status/criteria.sub_status/tags
  internal/services/monitor/monitor_activity_log_alert_resource_test.go
Labels: size/M, service/monitor, tests

#15451 `azurerm_log_analytics_linked_storage_account` - correct casing for `data_source_type` when using `ingestion`
  internal/services/loganalytics/log_analytics_linked_storage_account_resource.go
  internal/services/loganalytics/log_analytics_linked_storage_account_resource_test.go
  website/docs/r/log_analytics_linked_storage_account.html.markdown
Labels: bug, documentation, size/S, service/log-analytics

#15448 `azurerm_logic_app_standard` - add test for `ip_restriction`
  internal/services/logic/logic_app_standard_resource_test.go
Labels: size/XS, service/logic, tests

#15461 New resource - `azurerm_iothub_certificate`
  internal/services/iothub/client/client.go
  internal/services/iothub/iothub_certificate_resource.go
  internal/services/iothub/iothub_certificate_resource_test.go
  internal/services/iothub/parse/iot_hub_certificate.go
  internal/services/iothub/parse/iot_hub_certificate_test.go
  internal/services/iothub/registration.go
  internal/services/iothub/resourceids.go
  internal/services/iothub/validate/iot_hub_certificate_id.go
  internal/services/iothub/validate/iot_hub_certificate_id_test.go
  website/docs/r/iothub_certificate.html.markdown
Labels: documentation, new-resource, size/XL, service/iot-hub

#15429 `automation_account` - add public_network_access_enabled
  internal/services/automation/automation_account_resource.go
  internal/services/automation/automation_account_resource_test.go
  website/docs/r/automation_account.html.markdown
Labels: documentation, size/XS, service/automation

#15446 App Service Beta - fix custom values for `WEBSITE_CONTENTSHARE` and `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` in Function App resources
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  internal/services/loganalytics/log_analytics_linked_service_resource_test.go
Labels: size/L, service/app-service, service/log-analytics

#15465 Doc Fix: azurerm_mssql_server_vulnerability_assessment - Add comments for the storage_account_access_key and storage_container_sas_key properties
  website/docs/r/mssql_server_vulnerability_assessment.html.markdown
Labels: documentation, size/XS

#15464 `kubelet_disk_type` supports `Temporary`
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#15400 `azurerm_spring_cloud_app` supports `custom_persistent_disks`
  internal/services/springcloud/spring_cloud_app_resource.go
  internal/services/springcloud/spring_cloud_app_resource_test.go
  website/docs/r/spring_cloud_app.html.markdown
Labels: documentation, size/L, service/spring

#15431 features: hooking up the ThreePointOhBeta flag
  internal/features/kubernetes_config_sensitivity.go
  internal/features/three_point_oh.go
Labels: size/XS, provider

#15473 teamcity: enabling 3.0 beta mode
  .teamcity/components/build_azure.kt
Labels: size/XS, tests

#15470 `r\virtual_machine_data_disk_attachment`: Fix panic with disk id is wrong
  internal/services/compute/virtual_machine_data_disk_attachment_resource.go
Labels: size/XS, service/disk-attachments

#15482 Data Source: `azurerm_automation_account` Fix #15474 by adding nil check
  internal/services/automation/automation_account_data_source.go
Labels: size/XS, service/automation

#14181 r/machine_learning_workspace: support for `SystemAssigned, UserAssigned` and `UserAssigned` Identity / Encryption
  internal/services/machinelearning/machine_learning_workspace_data_source.go
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/machinelearning/machine_learning_workspace_resource_test.go
  website/docs/d/machine_learning_workspace.html.markdown
  website/docs/r/machine_learning_workspace.html.markdown
Labels: enhancement, documentation, size/XL, service/machine-learning

#15390 Address TODO items in preparation for 3.0 beta (4/many)
  internal/services/batch/batch_pool.go
  internal/services/batch/batch_pool_resource.go
  internal/services/containers/container_registry_resource.go
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/loadbalancer/backend_address_pool_resource.go
  internal/services/loadbalancer/loadbalancer_resource.go
  internal/services/loadbalancer/rule_data_source.go
  internal/services/loadbalancer/rule_resource.go
  internal/services/postgres/postgresql_server_resource.go
  internal/services/web/app_service.go
  internal/services/web/app_service_certificate_resource.go
  internal/services/web/app_service_environment_resource.go
  internal/services/web/app_service_site_source_control.go
  internal/services/web/function_app.go
  internal/services/web/function_app_resource.go
  internal/services/web/function_app_resource_test.go
  internal/services/web/function_app_slot_resource.go
Labels: enhancement, documentation, service/load-balancers, size/XL, service/cosmosdb, service/postgresql, service/automation, service/batch

#15071 `azurerm_application_gateway` - swapping various attribute from TypeList to TypeSet
  internal/services/network/application_gateway_resource.go
  internal/services/network/application_gateway_resource_test.go
Labels: breaking-change, size/XL, service/application-gateway

#15490 fix imports issue
  internal/services/network/application_gateway_resource.go
Labels: size/XS

#15418 Address TODO items in preparation for 3.0 beta (5/many)
  internal/services/apimanagement/api_management_resource.go
  internal/services/apimanagement/schemaz/api_management.go
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/iothub/iothub_endpoint_eventhub_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource.go
  internal/services/iothub/iothub_endpoint_storage_container_resource.go
  internal/services/loadbalancer/loadbalancer_resource.go
  internal/services/loadbalancer/rule_resource.go
  internal/services/policy/policy_definition_resource.go
  internal/services/policy/policy_set_definition_resource.go
  internal/services/policy/policy_virtual_machine_configuration_assignment_resource.go
  internal/services/policy/registration.go
  internal/services/policy/virtual_machine_configuration_policy_assignment_resource.go
  internal/services/policy/virtual_machine_configuration_policy_assignment_resource_test.go
  internal/services/storage/storage_account_network_rules_resource.go
  internal/services/storage/storage_account_network_rules_resource_test.go
  internal/services/web/function_app_slot_resource.go
Labels: service/load-balancers, service/storage, size/XL, service/cosmosdb, service/iot-hub, service/policy, service/api-management

#15489 docs: improve local account disabled section
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS

#15492 fix main
  internal/services/containers/container_registry_resource.go
  internal/services/loadbalancer/backend_address_pool_resource.go
  internal/services/policy/policy_set_definition_resource.go
Labels: bug, service/load-balancers, size/XS, service/policy

#15358 Upgrade guide for 3.0
  website/docs/guides/3.0-beta.html.markdown
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, size/XL

#15203 New resource: azurerm_mssql_managed_instance
  go.mod
  go.sum
  internal/services/mssql/client/client.go
  internal/services/mssql/mssql_managed_database_resource.go
  internal/services/mssql/mssql_managed_database_resource_test.go
  internal/services/mssql/mssql_managed_instance_active_directory_administrator_resource.go
  internal/services/mssql/mssql_managed_instance_active_directory_administrator_resource_test.go
  internal/services/mssql/mssql_managed_instance_data_source.go
  internal/services/mssql/mssql_managed_instance_data_source_test.go
  internal/services/mssql/mssql_managed_instance_failover_group_resource.go
  internal/services/mssql/mssql_managed_instance_failover_group_resource_test.go
  internal/services/mssql/mssql_managed_instance_resource.go
  internal/services/mssql/mssql_managed_instance_resource_test.go
  internal/services/mssql/parse/instance_failover_group.go
  internal/services/mssql/parse/instance_failover_group_test.go
  internal/services/mssql/parse/managed_database.go
  internal/services/mssql/parse/managed_database_test.go
  internal/services/mssql/parse/managed_instance.go
  internal/services/mssql/parse/managed_instance_azure_active_directory_administrator.go
  internal/services/mssql/parse/managed_instance_azure_active_directory_administrator_test.go
  internal/services/mssql/parse/managed_instance_test.go
  internal/services/mssql/registration.go
  internal/services/mssql/resourceids.go
  internal/services/mssql/validate/instance_failover_group_id.go
  internal/services/mssql/validate/instance_failover_group_id_test.go
  internal/services/mssql/validate/managed_database_id.go
  internal/services/mssql/validate/managed_database_id_test.go
  internal/services/mssql/validate/managed_instance_azure_active_directory_administrator_id.go
  internal/services/mssql/validate/managed_instance_azure_active_directory_administrator_id_test.go
  internal/services/mssql/validate/managed_instance_id.go
  internal/services/mssql/validate/managed_instance_id_test.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_and_user_assigned_list.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_and_user_assigned_map.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_assigned.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_or_user_assigned_list.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/system_or_user_assigned_map.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/user_assigned_list.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/user_assigned_map.go
  vendor/modules.txt
  website/docs/d/mssql_managed_instance.html.markdown
  website/docs/r/mssql_managed_database.html.markdown
  website/docs/r/mssql_managed_instance.html.markdown
  website/docs/r/mssql_managed_instance_active_directory_administrator.html.markdown
  website/docs/r/mssql_managed_instance_failover_group.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/mssql

#15485 Doc Update: `azurerm_traffic_manager_external_endpoint` - adding `endpoint_location`
  internal/services/trafficmanager/external_endpoint_resource_test.go
  website/docs/r/traffic_manager_external_endpoint.html.markdown
Labels: documentation, size/S, service/traffic-manager, tests

#15480 `azurerm_log_analytics_data_export_rule` - Added parser importer and fixed tests
  internal/services/loganalytics/log_analytics_data_export_resource.go
  internal/services/loganalytics/log_analytics_data_export_resource_test.go
  internal/services/loganalytics/log_analytics_saved_search_resource.go
Labels: size/S, service/log-analytics

#15488 spring cloud: custom_persistent_disks -> custom_persistent_disk
  CHANGELOG.md
  internal/services/springcloud/spring_cloud_app_resource.go
  internal/services/springcloud/spring_cloud_app_resource_test.go
  internal/tf/set/set.go
  website/docs/r/spring_cloud_app.html.markdown
Labels: documentation, size/S, service/spring

#15368 azurerm_kusto_cluster - rename enable_* to *_enabled
  internal/services/analysisservices/analysis_services_server_resource.go
  internal/services/apimanagement/api_management_resource.go
  internal/services/bot/bot_channel_ms_teams_resource.go
  internal/services/compute/migration/legacy_vmss.go
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  internal/services/compute/virtual_machine_resource.go
  internal/services/compute/virtual_machine_scale_set.go
  internal/services/compute/virtual_machine_scale_set_resource.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_node_pool_data_source.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_nodepool.go
  internal/services/containers/migration/kubernetes_cluster.go
  internal/services/containers/migration/kubernetes_cluster_node_pool.go
  internal/services/cosmos/cosmosdb_account_data_source.go
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/keyvault/key_vault_data_source.go
  internal/services/keyvault/key_vault_resource.go
  internal/services/keyvault/migration/key_vault.go
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_cluster_resource_test.go
  internal/services/loadbalancer/nat_rule_resource.go
  internal/services/loadbalancer/outbound_rule_resource.go
  internal/services/loadbalancer/rule_data_source.go
  internal/services/loadbalancer/rule_resource.go
  internal/services/network/application_gateway_resource.go
  internal/services/network/express_route_connection_resource.go
  internal/services/network/network_interface_data_source.go
  internal/services/network/network_interface_resource.go
  internal/services/network/private_link_service_data_source.go
  internal/services/network/private_link_service_resource.go
  internal/services/network/virtual_network_gateway_connection_data_source.go
  internal/services/network/virtual_network_gateway_connection_resource.go
  internal/services/network/virtual_network_gateway_data_source.go
  internal/services/network/virtual_network_gateway_resource.go
  internal/services/redis/redis_cache_data_source.go
  internal/services/redis/redis_cache_resource.go
  internal/services/servicebus/servicebus_queue_data_source.go
  internal/services/servicebus/servicebus_queue_resource.go
  internal/services/servicebus/servicebus_subscription_data_source.go
  internal/services/servicebus/servicebus_subscription_resource.go
  internal/services/servicebus/servicebus_topic_data_source.go
  internal/services/servicebus/servicebus_topic_resource.go
  internal/services/storage/migration/account.go
  internal/services/storage/storage_account_data_source.go
  internal/services/storage/storage_account_resource.go
  internal/services/web/function_app_resource.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, service/load-balancers, service/storage, service/key-vault, size/XL, service/service-bus, service/cosmosdb, service/redis, service/api-management, service/analysis, service/kusto, service/bots

#15491 [ANF-WI-13416925] Changing ANF resource update methods to use Update instead of CreateOrUpdate
  internal/services/netapp/netapp_account_resource.go
  internal/services/netapp/netapp_pool_resource.go
  internal/services/netapp/netapp_pool_resource_test.go
  internal/services/netapp/netapp_volume_resource.go
  internal/services/netapp/netapp_volume_resource_test.go
Labels: size/XL, service/netapp

#15496 address issues after merging the "TODO" PRs
  internal/services/apimanagement/api_management_certificate_resource_test.go
  internal/services/authorization/role_assignment_resource_test.go
  internal/services/batch/batch_pool_resource_test.go
  internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_scale_set_images_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/virtual_machine_scale_set.go
  internal/services/compute/virtual_machine_scale_set_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_images_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
  internal/services/consumption/consumption_budget_subscription_resource_test.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  internal/services/databricks/databricks_workspace_resource_test.go
  internal/services/frontdoor/frontdoor_custom_https_configuration_resource_test.go
  internal/services/frontdoor/frontdoor_resource.go
  internal/services/frontdoor/frontdoor_resource_test.go
  internal/services/iothub/iothub_endpoint_eventhub_resource.go
  internal/services/iothub/iothub_endpoint_eventhub_resource_test.go
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource_test.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource_test.go
  internal/services/iothub/iothub_endpoint_storage_container_resource.go
  internal/services/iothub/iothub_endpoint_storage_container_resource_test.go
  internal/services/keyvault/key_vault_data_source_test.go
  internal/services/keyvault/key_vault_secret_resource_test.go
  internal/services/loadbalancer/backend_address_pool_resource.go
  internal/services/loadbalancer/loadbalancer_outbound_rule_resource_test.go
  internal/services/loadbalancer/loadbalancer_rule_data_source_test.go
  internal/services/loadbalancer/loadbalancer_rule_resource_test.go
  internal/services/maintenance/maintenance_assignment_virtual_machine_scale_set_resource_test.go
  internal/services/network/network_interface_application_gateway_association_resource_test.go
  internal/services/network/network_interface_backend_address_pool_association_resource_test.go
  internal/services/policy/policy_assignment_resource_test.go
  internal/services/policy/policy_remediation_resource_test.go
  internal/services/policy/policy_set_definition_resource.go
  internal/services/policy/policy_virtual_machine_configuration_assignment_resource_test.go
  internal/services/resource/resource_group_template_deployment_resource_test.go
  internal/services/storage/storage_account_network_rules_resource.go
  internal/services/web/function_app_resource.go
Labels: bug, crash, service/load-balancers, service/storage, service/key-vault, size/XL, service/cosmosdb, service/iot-hub, service/policy, service/databricks, service/api-management, service/batch, service/consumption, service/frontdoor, service/maintenance, service/authorization

#15511 Add reference to purge on destroy feature flag for APIM
  website/docs/r/api_management.html.markdown
Labels: documentation, size/XS, service/api-management

#15505 refactor: moving smaller usages of Location/Resource Group to `commonschema`
  helpers/azure/location.go
  helpers/azure/resource_group.go
  internal/location/schema.go
  internal/services/advisor/advisor_recommendations_data_source.go
  internal/services/apimanagement/api_management_resource.go
  internal/services/bot/bot_channel_direct_line_speech_resource.go
  internal/services/containers/container_registry_resource.go
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_restorable_database_accounts_data_source.go
  internal/services/firewall/firewall_policy_resource.go
  internal/services/iothub/iothub_resource.go
  internal/services/loadbalancer/backend_address_pool_resource.go
  internal/services/policy/assignment_base_resource.go
  internal/services/policy/policy_assignment_resource.go
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/web/app_service_environment_resource.go
Labels: service/load-balancers, size/M, service/cosmosdb, service/iot-hub, service/policy, service/api-management, service/firewall, refactor, service/bots, service/advisor, service/synapse

#15542 Doc: Fix featuers-block link
  website/docs/index.html.markdown
Labels: documentation, size/XS

#15510 `iothub_dps` - fix `public_network_access_enabled`
  internal/services/iothub/iothub_dps_resource.go
  internal/services/iothub/iothub_dps_resource_test.go
Labels: bug, size/S, service/iot-hub

#15554 Fix wrong deprecation warning for `enable_disk_encryption` on `azurerm_kusto_cluster`
  internal/services/kusto/kusto_cluster_resource.go
Labels: documentation, size/XS, service/kusto

#15543 `azurerm_network_watcher_flow_log` - fix a potential panic happened during state migration
  internal/services/network/migration/network_watcher_flow_log.go
Labels: bug, size/XS, service/network-watcher

#15520 docs: add required argument to r\active_directory_domain_service example
  website/docs/r/active_directory_domain_service.html.markdown
  website/docs/r/active_directory_domain_service_replica_set.html.markdown
Labels: documentation, size/XS

#15506 `document`: Fix `r\site_recovery_replicated_vm` doc example
  website/docs/r/site_recovery_replicated_vm.html.markdown
Labels: documentation, size/XS

#15478 Document globally unique constraint on azurerm_key_vault.name
  website/docs/r/key_vault.html.markdown
Labels: documentation, service/key-vault, size/XS

#15545 `azurerm_monitor_metric_alert` - add test for action.webhook_properties
  internal/services/monitor/monitor_metric_alert_resource_test.go
Labels: size/XS, service/monitor

#15522 fix: fix read error when consumption budget does not exist in azure
  internal/services/consumption/consumption_budget_base.go
  internal/services/consumption/consumption_budget_resource_group_resource_test.go
Labels: size/XS, service/consumption

#15527 `azurerm_api_management_diagnostic` - add test `data_masking` for backend_request/backend_responsefrontend_request/frontend_response
  internal/services/apimanagement/api_management_diagnostic_resource_test.go
Labels: size/S, service/api-management

#15523 [BUG] `azurerm_linux_virtual_machine_scale_set` - fix for issue 15516
  internal/services/compute/linux_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_images_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_network_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/shared_schema.go
  internal/services/compute/virtual_machine_scale_set.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_os_resource_test.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: bug, documentation, service/vmss, size/XL

#15553 app_service Beta - complete support for `key_vault_reference_identity_id`
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service

#15548 Remove deprecated `addon_profile` block from `azurerm_kubernetes_cluster` docs for clarity
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/M, service/kubernetes-cluster
