Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2022-08, with the labels that each got.

#17826 Docs: Updated Postgres Flexible Server HTML Markdown
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation, size/XS

#17793 Scale-down Mode correction
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#17836 Make `instances` optional since the API doesn't require this parameter.
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_scaling_resource_test.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
Labels: enhancement, documentation, service/vmss, size/M

#17780 azurerm_log_analytics_cluster - update the validation for size_gb
  internal/services/loganalytics/log_analytics_cluster_resource.go
  internal/services/loganalytics/log_analytics_cluster_resource_test.go
  website/docs/r/log_analytics_cluster.html.markdown
Labels: documentation, size/XS, service/log-analytics

#17734 `azurerm_app_service_virtual_network_swift_connection` - updated documentation for associating to vNets
  website/docs/r/app_service_virtual_network_swift_connection.html.markdown
Labels: documentation, size/XS, service/app-service

#17835 Fix test case for `azurerm_signalr_service`
  internal/services/signalr/signalr_service_resource_test.go
Labels: size/XS, service/signalr, tests

#17547 Validate shared image identifier attributes
  internal/services/compute/shared_image_resource.go
  internal/services/compute/validate/compute.go
  internal/services/compute/validate/compute_test.go
Labels: enhancement, service/images, size/M

#17830 gha - check for d.Get in delete and new CreateUpdates
  .github/waiting-response.yml
  .github/workflows/issue-comment-created.yaml
  .github/workflows/pull-request-reviewed.yaml
  scripts/run-gradually-deprecated.sh
Labels: size/S, tooling

#17577 change sku tier to not force new
  internal/services/firewall/firewall_resource.go
  internal/services/firewall/firewall_resource_test.go
  website/docs/r/firewall.html.markdown
Labels: documentation, waiting-response, size/M, service/firewall

#17737 Upgrade API for domain service: 2020-01-01 -> 2021-05-01
  internal/services/domainservices/active_directory_domain_service_data_source.go
  internal/services/domainservices/active_directory_domain_service_replica_set_resource.go
  internal/services/domainservices/active_directory_domain_service_resource.go
  internal/services/domainservices/active_directory_domain_service_test.go
  internal/services/domainservices/active_directory_domain_service_trust_resource.go
  internal/services/domainservices/active_directory_domain_service_trust_resource_test.go
  internal/services/domainservices/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/id_domainservice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_configdiagnostics.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_configdiagnosticsvalidatorresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_configdiagnosticsvalidatorresultissue.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_domainsecuritysettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_domainservice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_domainserviceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_foresttrust.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_healthalert.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_healthmonitor.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_ldapssettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_migrationprogress.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_migrationproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_notificationsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_replicaset.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/model_resourceforestsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2021-05-01/domainservices/version.go
  vendor/modules.txt
Labels: dependencies, size/L, service/domain-services

#17796 azurerm_subnet - support new service for delegation
  internal/services/network/subnet_resource.go
  internal/services/network/subnet_resource_test.go
  website/docs/r/subnet.html.markdown
Labels: documentation, size/S

#17203 `r\mssql_virtual_machine`: add state refresh for `auto_patching`
  internal/services/mssql/mssql_virtual_machine_resource.go
Labels: size/M, service/mssql

#17668 Updating Eventhub as the log analytics destination
  internal/services/loganalytics/log_analytics_data_export_resource.go
  internal/services/loganalytics/log_analytics_data_export_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/README.md
Labels: dependencies, size/L, service/log-analytics

#17849 gha- add github token to wating-response labeler
  .github/workflows/issue-comment-created.yaml
  .github/workflows/pull-request-reviewed.yaml
Labels: size/XS

#17854 `Network`: Add support for `orbitalGateway`
  internal/services/network/subnet_resource.go
Labels: enhancement, service/subnets, size/XS

#17857 fix doc of data collection rule
  website/docs/r/monitor_data_collection_rule.html.markdown
Labels: documentation, size/XS

#17861 `azurerm_kubernetes_cluster` - fix failed tests
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_test.go
Labels: size/XS, service/kubernetes-cluster, tests

#17870 gha - fix and improvements to waiting-response
  .github/workflows/issue-comment-created.yaml
  .github/workflows/pull-request-reviewed.yaml
Labels: size/XS

#17194 `azurerm_eventhub_namespace`: support latest released properties:`local_authentication_enabled`,`public_network_access_enabled`,`minimum_tls_version`
  internal/services/eventhub/client/client.go
  internal/services/eventhub/eventhub_namespace_customer_managed_key_resource.go
  internal/services/eventhub/eventhub_namespace_customer_managed_key_resource_test.go
  internal/services/eventhub/eventhub_namespace_data_source.go
  internal/services/eventhub/eventhub_namespace_resource.go
  internal/services/eventhub/eventhub_namespace_resource_test.go
  internal/services/eventhub/eventhub_resource.go
  internal/services/loganalytics/log_analytics_data_export_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/id_namespace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/model_connectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/model_ehnamespace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/model_ehnamespaceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/model_encryption.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/model_keyvaultproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/model_sku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/model_userassignedidentityproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2022-01-01-preview/namespaces/version.go
  vendor/modules.txt
  website/docs/d/eventhub_namespace.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, dependencies, size/XL, service/event-hubs, service/log-analytics

#17887 `azurerm_api_management` - update `sku_name` validation to accept new Premium SKUs
  internal/services/apimanagement/validate/api_management_sku.go
  internal/services/apimanagement/validate/api_management_sku_test.go
  website/docs/r/api_management.html.markdown
Labels: documentation, size/XS, service/api-management

#17822 `d\shared_image_version`: Fix paging
  internal/services/compute/shared_image_version_data_source.go
Labels: size/S

#17898 build: using Go 1.18.5
  .github/workflows/depscheck.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/gradually-deprecated.yaml
  .github/workflows/link-milestone.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/validate-examples.yaml
  .github/workflows/website-lint.yaml
  .go-version
Labels: size/XS

#17901 fix doc of Schduled Query Rule: add `tags`
  website/docs/r/monitor_scheduled_query_rules_alert.html.markdown
  website/docs/r/monitor_scheduled_query_rules_log.html.markdown
Labels: documentation, size/XS

#17888 doc fixes: azurerm_container_group
  website/docs/r/container_group.html.markdown
Labels: documentation, size/XS

#17894 Corrected role assignment example usage for metric forwarding
  website/docs/r/datadog_monitors.html.markdown
Labels: documentation, size/XS

#17896 fix: typo in Azure Orbital service delegation name
  internal/services/network/subnet_resource.go
  website/docs/r/subnet.html.markdown
Labels: documentation, size/XS

#17889 Fix default SSL settings for postgresql_server_resource
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, breaking-change, size/XS

#17882 gha -add check for Get in Delete func for typed resources
  .github/workflows/issue-comment-created.yaml
  .github/workflows/pull-request-reviewed.yaml
  scripts/run-gradually-deprecated.sh
Labels: size/S

#17464 `azurerm_subnet` - deprecate old enforce fields in favour of the new enable fields
  internal/services/network/subnet_data_source.go
  internal/services/network/subnet_resource.go
  internal/services/network/subnet_resource_test.go
  internal/tf/pluginsdk/explicitly_null_config.go
  website/docs/d/subnet.html.markdown
  website/docs/r/subnet.html.markdown
Labels: enhancement, documentation, service/subnets, size/XL

#17932 Fix doc of `mointor_schduled_query_rule_alert`: import command case sensitivity
  website/docs/r/monitor_scheduled_query_rules_alert.html.markdown
Labels: documentation, size/XS

#17874 Update doc and deprecated warning in `azurerm_security_center_server_vulnerability_assessment` with correct resource name
  internal/services/securitycenter/security_center_server_vulnerability_assessment_resource.go
  website/docs/r/azurerm_security_center_server_vulnerability_assessment.html.markdown
Labels: documentation, size/XS, service/security-center

#17908 Fix function app examples
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/windows_function_app.html.markdown
Labels: documentation, size/XS

#17880 `azurerm_backup_policy_vm`: fix validation issue when frequency is set to `Hourly`
  internal/services/recoveryservices/backup_policy_vm_resource.go
Labels: size/XS, service/recovery-services

#15783 `r\site_recovery_replicated_vm`: Add support for `target_disk_encryption`
  internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
  internal/services/recoveryservices/site_recovery_replicated_vm_resource_test.go
  website/docs/r/site_recovery_replicated_vm.html.markdown
Labels: enhancement, documentation, size/XL, service/recovery-services

#17338 [azurerm_express_route_circuit_peering]- enhance - support for ipv4_enabled gateway_manager_etag
  internal/services/network/express_route_circuit_peering_resource.go
  website/docs/r/express_route_circuit_peering.html.markdown
Labels: documentation, size/L

#17101 `azurerm_servicebus_subscription`: support client affine property, `azurerm_servicebus_subscription_rule`: add property `sql_filter_compatibility_level`
  internal/services/servicebus/servicebus_subscription_resource.go
  internal/services/servicebus/servicebus_subscription_resource_test.go
  internal/services/servicebus/servicebus_subscription_rule_resource.go
  website/docs/d/servicebus_subscription.html.markdown
  website/docs/r/servicebus_subscription.html.markdown
Labels: documentation, size/L, service/service-bus

#17946 remove make tools from some actions
  .github/workflows/depscheck.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/thirty-two-bit.yaml
Labels: size/XS

#17947 make terrafmt
  internal/services/disks/disk_pool_iscsi_target_lun_resource_test.go
  website/docs/r/kusto_cluster_managed_private_endpoint.html.markdown
Labels: documentation, service/disks, size/XS

#16299 DataSource: `azurerm_blueprint_definition` - Fix `version` property output
  internal/services/blueprints/blueprint_definition_data_source.go
  internal/services/blueprints/blueprint_definition_data_source_test.go
Labels: size/XS, service/blueprints

#17952 gha - fix waiting-response label
  .github/workflows/issue-comment-created.yaml
  .github/workflows/pull-request-reviewed.yaml
Labels: size/S

#17695 Update document for property `engine` in `azurerm_kusto_cluster`
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, size/XS

#17965 Update naming validation to allow length to be 1 - 128
  internal/services/policy/assignment_management_group_resource.go
Labels: size/XS, service/policy

#17958 azurerm_cognitive_account - update docs wrt bing search types
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, size/XS, service/cognitive-services

#17917 Add azurerm_subnet_network_security_group_association to associate we…
  examples/virtual-machines/linux/load-balanced/main.tf
Labels: size/XS

#17694 clarify how to associate an App Service Environment v3 with a Service Plan
  website/docs/r/app_service_environment_v3.html.markdown
Labels: documentation, size/XS

#17447 `cdn` `iotcentral` `network` - `documents example improvement`
  website/docs/r/cdn_frontdoor_endpoint.html.markdown
  website/docs/r/cdn_frontdoor_rule_set.html.markdown
  website/docs/r/iotcentral_application.html.markdown
  website/docs/r/network_interface_application_gateway_backend_address_pool_association.html.markdown
Labels: documentation, size/XS

#17964 azurerm_disk_encryption_set: fix creation issue when disk encryption set and key vault in different subscriptions
  internal/services/compute/disk_encryption_set_resource.go
Labels: bug, service/disks, size/S

#17963 Fix Import As Exists Error Message of`azurerm_monitor_diagnostic_setting`
  internal/services/monitor/monitor_diagnostic_setting_resource.go
Labels: size/XS, service/monitor

#17960 `service_fabric_mananged_cluster_resource`: fix authentication block
  internal/services/servicefabricmanaged/service_fabric_managed_cluster_resource.go
Labels: size/XS, service/service-fabric-managed-cluster

#17959 internal/services/cognitive: add kind = "OpenAI"
  internal/services/cognitive/cognitive_account_resource.go
Labels: size/XS, service/cognitive-services

#17941 `r\virtual_machine_extension` `r\virtual_machine_scale_set_extension`: Fix validation of `name`
  internal/services/compute/virtual_machine_extension_resource.go
  internal/services/compute/virtual_machine_scale_set_extension_resource.go
Labels: size/XS

#17904 `data_protection_backup_policy_postgresql_resource`: fix provider crash if given an empty criteria block
  internal/services/dataprotection/data_protection_backup_policy_postgresql_resource.go
Labels: size/XS, service/data-protection

#17878 fix KeyVault test: `TestAccKeyVault_softDeleteRecoveryDisabled`
  internal/services/keyvault/key_vault_resource_test.go
Labels: service/key-vault, size/XS

#17790 mssql_elastic_pool - add support for maintenance_configuration_name
  internal/services/mssql/mssql_elasticpool_resource.go
  internal/services/mssql/mssql_elasticpool_resource_test.go
  website/docs/r/mssql_elasticpool.html.markdown
Labels: documentation, size/S, service/mssql

#17766 `d\images`: Use fixed id
  internal/services/compute/images_data_source.go
Labels: size/XS

#17632 bugfix: azurerm_application_gateway: unable to create private DNS record out of frontend_ip_configuration[*].private_ip_address
  internal/services/network/application_gateway_resource.go
Labels: size/XS

#17552 azurerm_key_vault : Support public_network_access_enabled proptery for resource azurerm_key_vault
  internal/services/keyvault/key_vault_data_source.go
  internal/services/keyvault/key_vault_data_source_test.go
  internal/services/keyvault/key_vault_resource.go
  internal/services/keyvault/key_vault_resource_test.go
  website/docs/d/key_vault.html.markdown
  website/docs/r/key_vault.html.markdown
Labels: documentation, waiting-response, service/key-vault, size/S

#17873 Add example for Private Link Scope
  examples/private-endpoint/private-link-scope/README.md
  examples/private-endpoint/private-link-scope/main.tf
  examples/private-endpoint/private-link-scope/variables.tf
Labels: size/M

#17978 Fix grammar for `waf_configuration.enabled`
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS

#17977 Revert "Update naming validation to allow length to be 1 - 128 (#17965)"
  internal/services/policy/assignment_management_group_resource.go
Labels: size/XS, service/policy

#17984 `costmanagement` - switch to `go-azure-sdk`
  internal/services/costmanagement/client/client.go
  internal/services/costmanagement/export_base_resource.go
  internal/services/costmanagement/export_resource_group_resource_test.go
  internal/services/costmanagement/export_subscription_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/alerts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/dimensions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/exports.go
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/forecast.go
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/query.go
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/costmanagement/mgmt/2020-06-01/costmanagement/views.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/id_scopedexport.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/method_execute_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/method_getexecutionhistory_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_commonexportproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_errordetails.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_export.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportdataset.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportdatasetconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportdefinition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportdeliverydestination.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportdeliveryinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportexecution.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportexecutionlistresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportexecutionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportlistresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportrecurrenceperiod.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exportschedule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/model_exporttimeperiod.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/costmanagement/2021-10-01/exports/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/cost-management

#17477 Add data sources for every type of public DNS record
  internal/services/dns/dns_a_record_data_source.go
  internal/services/dns/dns_a_record_data_source_test.go
  internal/services/dns/dns_aaaa_record_data_source.go
  internal/services/dns/dns_aaaa_record_data_source_test.go
  internal/services/dns/dns_caa_record_data_source.go
  internal/services/dns/dns_caa_record_data_source_test.go
  internal/services/dns/dns_cname_record_data_source.go
  internal/services/dns/dns_cname_record_data_source_test.go
  internal/services/dns/dns_mx_record_data_source.go
  internal/services/dns/dns_mx_record_data_source_test.go
  internal/services/dns/dns_ns_record_data_source.go
  internal/services/dns/dns_ns_record_data_source_test.go
  internal/services/dns/dns_ptr_record_data_source.go
  internal/services/dns/dns_ptr_record_data_source_test.go
  internal/services/dns/dns_soa_record_data_source.go
  internal/services/dns/dns_soa_record_data_source_test.go
  internal/services/dns/dns_srv_record_data_source.go
  internal/services/dns/dns_srv_record_data_source_test.go
  internal/services/dns/dns_txt_record_data_source.go
  internal/services/dns/dns_txt_record_data_source_test.go
  internal/services/dns/parse/soa_record.go
  internal/services/dns/registration.go
  website/docs/d/dns_a_record.html.markdown
  website/docs/d/dns_aaaa_record.html.markdown
  website/docs/d/dns_caa_record.html.markdown
  website/docs/d/dns_cname_record.html.markdown
  website/docs/d/dns_mx_record.html.markdown
  website/docs/d/dns_ns_record.html.markdown
  website/docs/d/dns_ptr_record.html.markdown
  website/docs/d/dns_soa_record.html.markdown
  website/docs/d/dns_srv_record.html.markdown
  website/docs/d/dns_txt_record.html.markdown
  website/docs/d/dns_zone.html.markdown
  website/docs/r/dns_a_record.html.markdown
  website/docs/r/dns_aaaa_record.html.markdown
  website/docs/r/dns_caa_record.html.markdown
  website/docs/r/dns_cname_record.html.markdown
  website/docs/r/dns_mx_record.html.markdown
  website/docs/r/dns_ns_record.html.markdown
  website/docs/r/dns_ptr_record.html.markdown
  website/docs/r/dns_srv_record.html.markdown
  website/docs/r/dns_txt_record.html.markdown
  website/docs/r/dns_zone.html.markdown
Labels: documentation, service/dns, size/XL

#17985 gha - allow waiting-response to be added/removed from forked repo prs
  .github/workflows/pull-request-new-commit.yaml
  .github/workflows/pull-request-reviewed-workflow.yaml
  .github/workflows/pull-request-reviewed.yaml
Labels: size/M

#17966 GHA: add explicit workflow permissions
  .github/workflows/depscheck.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/gradually-deprecated.yaml
  .github/workflows/issue-opened.yaml
  .github/workflows/lock.yaml
  .github/workflows/pull-request-new-commit.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/teamcity-test.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/validate-examples.yaml
  .github/workflows/website-lint.yaml
Labels: size/S, tooling

#17996 Dependencies: bump `go-azure-helpers` to `v0.39.0`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/authentication/environment.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/cloud_services_ip_configuration.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/cloud_services_public_ip.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/express_route_circuit_peering.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/network_interface.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/network_interface_ip_configuration.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/public_ip_address.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_hub_bgp_connection.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_hub_ip_configuration.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_machine_scale_set_ip_configuration.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_machine_scale_set_network_interface.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_machine_scale_set_public_ip_address.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_router_peering.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_wan_p2s_vpn_gateway.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/vpn_connection.go
  vendor/modules.txt
Labels: dependencies

#17995 Docs: fix diagnostic_categories typo
  website/docs/d/monitor_diagnostic_categories.html.markdown
Labels: documentation

#16595 `azurerm_mssql_server` - Fix `azurerm_mssql_server` automatically sets `minimum_tls_version` even if not provided issue
  internal/services/mssql/mssql_server_resource.go
  internal/services/mssql/mssql_server_resource_test.go
  website/docs/r/mssql_server.html.markdown
Labels: documentation, waiting-response, breaking-change, size/S, service/mssql

#17696 azurerm_application_gateway - Mark probe.match.body as not required
  internal/services/network/application_gateway_resource.go
  website/docs/guides/3.0-upgrade-guide.html.markdown
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS

#17712 MSSQL size increase to 16384
  internal/services/mssql/mssql_managed_instance_resource.go
Labels: size/XS, service/mssql

#17895 azurerm_key_vault_access_policy - Update KeyVault Access Policy Key Permissions with new parameters
  internal/services/keyvault/access_policy_schema.go
  internal/services/keyvault/key_vault_resource_test.go
  internal/services/keyvault/migration/key_vault.go
  website/docs/r/key_vault_access_policy.html.markdown
Labels: documentation, service/key-vault, size/XS

#17934 `azurerm_automation_account` - support for the `private_endpoint_connection` property
  internal/services/automation/automation_account_data_source.go
  internal/services/automation/automation_account_resource.go
Labels: size/S, service/automation

#17973 `azurerm_storage_management_policy` - Relieve the rule name validation
  internal/services/storage/storage_management_policy_resource.go
  website/docs/r/storage_management_policy.html.markdown
Labels: documentation, service/storage, size/XS

#17782 `azurerm_key_vault_{key,secret,certificate}`: Resource/DataSource increase read timeout from 5min to 30min
  internal/provider/provider_test.go
  internal/services/keyvault/key_vault_certificate_data_source.go
  internal/services/keyvault/key_vault_certificate_resource.go
  internal/services/keyvault/key_vault_key_data_source.go
  internal/services/keyvault/key_vault_key_resource.go
  internal/services/keyvault/key_vault_secret_data_source.go
  internal/services/keyvault/key_vault_secret_resource.go
  website/docs/d/key_vault_certificate.html.markdown
  website/docs/d/key_vault_key.html.markdown
  website/docs/d/key_vault_secret.html.markdown
  website/docs/r/key_vault_certificate.html.markdown
  website/docs/r/key_vault_key.html.markdown
  website/docs/r/key_vault_secret.html.markdown
Labels: service/key-vault, size/S

#16208 `data.azurerm_management_group` - Add new attributes: `management_group_ids`, `all_management_group_ids` and `all_subscription_ids`
  internal/services/managementgroup/management_group_data_source.go
  internal/services/managementgroup/management_group_data_source_test.go
  website/docs/d/management_group.html.markdown
Labels: enhancement, documentation, size/M, service/management-groups

#17226 Allow Delete eviction policy on Azure VMs
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: enhancement, documentation, service/virtual-machine, size/M

#17250 resource `azurerm_shared_image` - add architecture option.
  internal/services/compute/shared_image_data_source.go
  internal/services/compute/shared_image_resource.go
  internal/services/compute/shared_image_resource_test.go
  website/docs/r/shared_image.html.markdown
Labels: documentation, size/M

#15264 Update azurerm_network_interface to correctly reflect what dynamic means in azure context
  website/docs/r/network_interface.html.markdown
Labels: documentation, size/XS

#17116 `azurerm_storage_account` support for setting defaultToOAuthAuthentication
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/M

#17361 Fix outputs for `azurerm_windows_function_app` and `azurerm_linux_function_app`, both resource and data source
  internal/services/appservice/linux_function_app_data_source.go
  internal/services/appservice/linux_function_app_data_source_test.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/windows_function_app_data_source.go
  internal/services/appservice/windows_function_app_data_source_test.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
Labels: size/M, service/app-service

#17871 azurerm_postgresql_server - Fix legacy database ids handling
  internal/services/postgres/migration/postgresql_database.go
  internal/services/postgres/postgresql_database_resource.go
Labels: size/M, service/postgresql

#17842 `firewall_policy_resource` - support for the `private_ranges` and `allow_sql_redirect` properties
  internal/services/firewall/firewall_policy_resource.go
  internal/services/firewall/firewall_policy_resource_test.go
  website/docs/r/firewall_policy.html.markdown
Labels: documentation, size/M, service/firewall

#17824 Migrating servicebus auth rule ID
  internal/services/servicebus/migration/namespace_auth_rule.go
  internal/services/servicebus/servicebus_namespace_authorization_rule_resource.go
Labels: size/M, service/service-bus

#17768 `azurerm_shared_image_version` - support for `blob_uri`, `storage_account_id`
  internal/services/compute/shared_image_version_resource.go
  internal/services/compute/shared_image_version_resource_test.go
  website/docs/r/shared_image_version.html.markdown
Labels: documentation, size/M

#17856 fix spring cloud enterprise tier config server failure
  internal/services/springcloud/spring_cloud_service_data_source.go
  internal/services/springcloud/spring_cloud_service_resource.go
Labels: size/M, service/spring

#17454 `azurerm_automation_account` - support for the `encryption` and `local_authentication_enabled` property
  internal/services/automation/automation_account_resource.go
  internal/services/automation/automation_account_resource_test.go
  website/docs/r/automation_account.html.markdown
Labels: enhancement, documentation, size/L, service/automation

#17635 new resource: azurerm_eventhub_namespace_schema_group
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  internal/services/eventhub/client/client.go
  internal/services/eventhub/eventhub_namespace_schema_registry_resource.go
  internal/services/eventhub/eventhub_namespace_schema_registry_resource_test.go
  internal/services/eventhub/registration.go
  internal/services/eventhub/validate/eventhub_names.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/id_namespace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/model_connectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/model_ehnamespace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/model_ehnamespaceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/model_encryption.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/model_keyvaultproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/model_sku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/model_userassignedidentityproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/namespaces/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/id_namespace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/id_schemagroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/method_listbynamespace_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/model_schemagroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/model_schemagroupproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/schemaregistry/version.go
  vendor/modules.txt
  website/docs/r/eventhub_namespace_schema_group.html.markdown
Labels: documentation, dependencies, size/XL, service/event-hubs

#15782 azure_storage_table_entity: support propoerty data types
  internal/services/storage/storage_table_entity_resource.go
  internal/services/storage/storage_table_entity_resource_test.go
Labels: service/storage, size/M

#17853 `azurerm_active_directory_domain_service` - Support for `kerberos_armoring_enabled` and `kerberos_rc4_encryption_enabled`
  internal/services/domainservices/active_directory_domain_service_data_source.go
  internal/services/domainservices/active_directory_domain_service_resource.go
  internal/services/domainservices/active_directory_domain_service_test.go
  website/docs/d/active_directory_domain_service.html.markdown
  website/docs/r/active_directory_domain_service.html.markdown
Labels: enhancement, documentation, size/M, service/domain-services

#17416 `azurerm_batch_pool` - Added support for `identity_reference` into `container_registries`
  internal/services/batch/batch_pool.go
  internal/services/batch/batch_pool_data_source.go
  internal/services/batch/batch_pool_resource.go
  internal/services/batch/batch_pool_resource_test.go
  website/docs/d/batch_pool.html.markdown
  website/docs/r/batch_pool.html.markdown
Labels: documentation, size/M, service/batch

#17756 `azurerm_data_factory_integration_runtime_azure_ssis` - support for the `express_vnet_injection` property
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource.go
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource_test.go
  website/docs/r/data_factory_integration_runtime_azure_ssis.html.markdown
Labels: documentation, waiting-response, size/M, service/data-factory

#13899 `azurerm_application_gateway`: Support for `components` in `rewrite_rule_set.rewrite_rule.url`
  internal/services/network/application_gateway_resource.go
  internal/services/network/application_gateway_resource_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/M, service/application-gateway

#18015 Dependencies: update `go-azure-helpers` to `v0.39.1`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/provisioning_service.go
  vendor/modules.txt
Labels: dependencies

#18016 Docs: Fix typo in static site page
  website/docs/r/static_site.html.markdown
Labels: documentation

#18014 `azurerm_windows_function_app` and `azurerm_windows_function_app_slot` fix bug in setting value for 'WindowsFxString'
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/function_app_slot_schema.go
  internal/services/appservice/windows_function_app_resource_test.go
Labels: service/app-service, service/functions

#17137 `data.azurerm_key_vault_access_policy` - Fix `azurerm_key_vault_access_policy` data source return values in lowercase issue
  internal/services/keyvault/key_vault_access_policy_data_source.go
Labels: bug, service/key-vault, size/S

#17365 `azurerm_log_analytics_workspace` - support for the `cmk_for_query_forced` property
  internal/services/loganalytics/client/client.go
  internal/services/loganalytics/log_analytics_workspace_data_source.go
  internal/services/loganalytics/log_analytics_workspace_resource.go
  internal/services/loganalytics/log_analytics_workspace_resource_test.go
  internal/services/loganalytics/migration/workspace_v0_to_v1.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/id_gateway.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/id_intelligencepack.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/id_operation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/id_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_gatewaysdelete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_intelligencepacksdisable_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_intelligencepacksenable_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_intelligencepackslist_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_managementgroupslist_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_schemaget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_sharedkeysgetsharedkeys_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_sharedkeysregenerate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_usageslist_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_workspacepurgegetpurgestatus_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/method_workspacepurgepurge_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_coresummary.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_intelligencepack.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_managementgroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_managementgroupproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_metricname.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_privatelinkscopedresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_searchgetschemaresponse.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_searchmetadata.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_searchmetadataschema.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_searchschemavalue.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_searchsort.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_sharedkeys.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_usagemetric.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspacecapping.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspacelistmanagementgroupsresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspacelistresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspacelistusagesresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspacepatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspaceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspacepurgebody.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspacepurgebodyfilters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspacepurgeresponse.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspacepurgestatusresponse.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/model_workspacesku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/workspaces/version.go
  vendor/modules.txt
  website/docs/r/log_analytics_workspace.html.markdown
Labels: documentation, dependencies, size/XL, service/log-analytics

#17630 `azurerm_spring_cloud_app` - `public_endpoint_enabled`; `azurerm_spring_cloud_gateway_route_config`- support for the `open_api`;`azurerm_spring_cloud_service` - `log_stream_public_endpoint_enabled``read_timeout_seconds` properties
  internal/services/springcloud/spring_cloud_app_resource.go
  internal/services/springcloud/spring_cloud_app_resource_test.go
  internal/services/springcloud/spring_cloud_gateway_route_config_resource.go
  internal/services/springcloud/spring_cloud_gateway_route_config_resource_test.go
  internal/services/springcloud/spring_cloud_service_resource.go
  internal/services/springcloud/spring_cloud_service_resource_test.go
  website/docs/r/spring_cloud_app.html.markdown
  website/docs/r/spring_cloud_gateway_route_config.html.markdown
  website/docs/r/spring_cloud_service.html.markdown
Labels: documentation, size/L, service/spring

#17651 `azurerm_application_gateway` - support for the `globalConfiguration` property
  internal/services/network/application_gateway_resource.go
  internal/services/network/application_gateway_resource_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/L

#18028 Data Source: `azurerm_windows_web_app` - add missing schema definition for 'virtual_network_subnet_id'
  internal/services/appservice/windows_web_app_data_source.go
Labels: service/app-service

#17008 remove resource_discovery_mode attribute
  internal/services/policy/remediation_management_group.go
  website/docs/r/management_group_policy_remediation.html.markdown
Labels: documentation, size/S, service/policy

#18027 `azurerm_kubernetes_cluster` - improve docs for `kubelet_identity`
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation

#16315 `azurerm_private_endpoint` Try to add retry on creation
  internal/services/network/private_endpoint_resource.go
  internal/services/network/private_endpoint_resource_test.go
Labels: bug, size/L, service/private-link

#16758 Enhacne: `azurerm_batch_account ` - storage_account_authentication_mode, storage_account_node_identit, allowed_authentication_modes
  internal/services/batch/batch_account_data_source_test.go
  internal/services/batch/batch_account_resource.go
  internal/services/batch/batch_account_resource_test.go
  internal/services/batch/batch_application_data_source_test.go
  internal/services/batch/batch_application_resource_test.go
  internal/services/batch/batch_pool_data_source_test.go
  internal/services/batch/batch_pool_resource_test.go
  website/docs/r/batch_account.html.markdown
Labels: documentation, size/XL, service/batch

#17448 wait LRO
  internal/services/cosmos/cosmosdb_cassandra_cluster_resource.go
  internal/services/mssql/mssql_server_dns_alias_resource.go
  internal/services/netapp/netapp_snapshot_resource.go
  internal/services/resource/template_deployment_resource.go
  internal/services/web/function_app_resource.go
Labels: size/S, service/mssql, service/cosmosdb, service/netapp

#18035 App Service: fix content settings and MSI storage access
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/service_plan_resource_test.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
Labels: service/app-service

#14754 `d/azurerm_virtual_machine_scale_set`: Add scale set instances details
  internal/services/compute/linux_virtual_machine_scale_set_identity_resource_test.go
  internal/services/compute/virtual_machine_scale_set_data_source.go
  internal/services/compute/virtual_machine_scale_set_data_source_test.go
  internal/services/network/parse/virtual_machine_scale_set_public_ip_address.go
  internal/services/network/parse/virtual_machine_scale_set_public_ip_address_test.go
  internal/services/network/resourceids.go
  internal/services/network/validate/virtual_machine_scale_set_public_ip_address_id.go
  internal/services/network/validate/virtual_machine_scale_set_public_ip_address_id_test.go
  website/docs/d/virtual_machine_scale_set.html.markdown
Labels: enhancement, documentation, service/vmss, size/XL

#17114 `azurerm_cdn_endpoint_custom_domain` - user managed https allows key vault secret
  internal/services/cdn/cdn_endpoint_custom_domain_resource.go
  internal/services/cdn/cdn_endpoint_custom_domain_resource_test.go
  website/docs/r/cdn_endpoint_custom_domain.html.markdown
Labels: enhancement, documentation, size/XL, service/cdn

#18048 `dns` - parse resource IDs insensitively in the read functions due to casing on the `dnsZones` segment
  internal/services/dns/dns_a_record_resource.go
  internal/services/dns/dns_aaaa_record_resource.go
  internal/services/dns/dns_caa_record_resource.go
  internal/services/dns/dns_cname_record_resource.go
  internal/services/dns/dns_mx_record_resource.go
  internal/services/dns/dns_ns_record_resource.go
  internal/services/dns/dns_ptr_record_resource.go
  internal/services/dns/dns_srv_record_resource.go
  internal/services/dns/dns_txt_record_resource.go
  internal/services/dns/dns_zone_resource.go
Labels: bug, service/dns

#18070 cosmosdb - prevent panic
  internal/services/cosmos/common/autoscale_settings.go
Labels: service/cosmosdb

#18055 Update the document about the import id for `azurerm_servicebus_namespace_network_rule_set`
  website/docs/r/servicebus_namespace.html.markdown
  website/docs/r/servicebus_namespace_network_rule_set.html.markdown
  website/docs/r/servicebus_queue.html.markdown
  website/docs/r/servicebus_subscription.html.markdown
  website/docs/r/servicebus_subscription_rule.html.markdown
  website/docs/r/servicebus_topic.html.markdown
Labels: documentation

#18046 dependencies: update go-azure-sdk to v0.20220819.1134400
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies

#17772 New Resource: `azurerm_monitor_scheduled_query_rules_alert_v2`
  internal/services/monitor/client/client.go
  internal/services/monitor/monitor_scheduled_query_rules_alert_v2_resource.go
  internal/services/monitor/monitor_scheduled_query_rules_alert_v2_resource_test.go
  internal/services/monitor/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/id_scheduledqueryrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/model_actions.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/model_condition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/model_conditionfailingperiods.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/model_dimension.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/model_scheduledqueryrulecriteria.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/model_scheduledqueryruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/model_scheduledqueryruleresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/model_scheduledqueryruleresourcepatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-08-01/scheduledqueryrules/version.go
  vendor/modules.txt
  website/docs/r/monitor_scheduled_query_rules_alert_v2.html.markdown
Labels: documentation, dependencies, waiting-response, size/XL, service/monitor

#17765 New Resource: `azurerm_backup_policy_vm_workload`
  internal/provider/services.go
  internal/services/recoveryservices/backup_policy_vm_workload_resource.go
  internal/services/recoveryservices/backup_policy_vm_workload_resource_test.go
  internal/services/recoveryservices/registration.go
  internal/services/recoveryservices/validate/backup_policy_name.go
  internal/services/recoveryservices/validate/backup_policy_name_test.go
  website/docs/r/backup_policy_vm_workload.html.markdown
Labels: documentation, size/XL, service/recovery-services

#18061 `azurerm_data_factory_dataset_json` - `filename` and `path` in `azure_blob_storage_location` block can now be empty
  internal/services/datafactory/data_factory_dataset_json_resource.go
  internal/services/datafactory/data_factory_dataset_json_resource_test.go
Labels: waiting-response, service/data-factory

#18074 `azurerm_kubernetes_cluster_node_pool` - nil check first element when expanding upgrade settings
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
Labels: bug, crash, service/kubernetes-cluster

#18100 Dependencies: update `go-azure-sdk` to `v0.20220824.1090858`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/workbooksapis/method_workbooksupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dns/2018-05-01/zones/method_list_autorest.go
  vendor/modules.txt
Labels: dependencies

#18094 added missing tags property
  website/docs/r/container_registry_webhook.html.markdown
Labels: documentation

#18081 Add warning that OIDC auth only works in GitHub Actions
  website/docs/guides/service_principal_oidc.html.markdown
Labels: documentation

#18111 azurerm_sql_managed_instance_failover_group in docs
  website/docs/r/mssql_managed_instance.html.markdown
  website/docs/r/sql_managed_instance.html.markdown
Labels: documentation

#18106 `azurerm_postgresql_flexible_server` - update `point_in_time_restore_time_in_utc` to RFC3339
  internal/services/postgres/postgresql_flexible_server_resource.go
Labels: service/postgresql

#18118 Add generic OIDC authentication
  go.mod
  go.sum
  internal/provider/provider.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_oidc.go
  vendor/github.com/hashicorp/go-azure-helpers/authentication/builder.go
  vendor/modules.txt
  website/docs/guides/service_principal_oidc.html.markdown
  website/docs/index.html.markdown
Labels: enhancement, documentation, dependencies, authentication

#18041 `azurerm_mssql_elastic_pool` - list of values for `maintenance_configuration_name` is now correct
  internal/services/mssql/mssql_elasticpool_resource.go
  internal/services/mssql/mssql_elasticpool_resource_test.go
  website/docs/r/mssql_elasticpool.html.markdown
Labels: documentation, service/mssql

#17929 New Resource: `azurerm_log_analytics_query_pack_query`
  internal/services/loganalytics/client/client.go
  internal/services/loganalytics/log_analytics_query_pack_query_resource.go
  internal/services/loganalytics/log_analytics_query_pack_query_resource_test.go
  internal/services/loganalytics/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/id_queries.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/id_querypack.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/method_queriesdelete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/method_queriesget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/method_querieslist_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/method_queriesput_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/method_queriessearch_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/method_queriesupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/model_loganalyticsquerypackquery.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/model_loganalyticsquerypackqueryproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/model_loganalyticsquerypackquerypropertiesrelated.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/model_loganalyticsquerypackquerysearchproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/model_loganalyticsquerypackquerysearchpropertiesrelated.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2019-09-01/querypackqueries/version.go
  vendor/modules.txt
  website/docs/r/log_analytics_query_pack_query.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/log-analytics

#17840 New Resource: `azurerm_dashboard_grafana`
  .github/labeler-pull-request-triage.yml
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/dashboard/client/client.go
  internal/services/dashboard/dashboard_grafana_resource.go
  internal/services/dashboard/dashboard_grafana_resource_test.go
  internal/services/dashboard/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/id_grafana.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/method_grafanacreate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/method_grafanadelete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/method_grafanaget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/method_grafanalist_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/method_grafanalistbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/method_grafanaupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_azuremonitorworkspaceintegration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_grafanaintegrations.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_managedgrafana.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_managedgrafanaproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_managedgrafanapropertiesupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_managedgrafanaupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_privatelinkserviceconnectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_resourcesku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/dashboard_grafana.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/dashboards

#17795 `HDInsight`: Fix autoscale related failing tests
  internal/services/hdinsight/hdinsight_hadoop_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_hbase_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_spark_cluster_resource_test.go
Labels: size/L, service/hdinsight

#17549 azurerm_app_configuration: add support for public_network_access
  internal/services/appconfiguration/app_configuration_data_source.go
  internal/services/appconfiguration/app_configuration_data_source_test.go
  internal/services/appconfiguration/app_configuration_resource.go
  internal/services/appconfiguration/app_configuration_resource_test.go
  website/docs/d/app_configuration.html.markdown
  website/docs/r/app_configuration.html.markdown
Labels: documentation, waiting-response, size/M, service/app-configuration

#18145 fix(docs): PostgreSQL flexible server PointInTimeRestore
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation

#18136 Docs: Fix wrong import command and config in `azurerm_monitor_scheduled_query_rules_alert_v2`
  website/docs/r/monitor_scheduled_query_rules_alert_v2.html.markdown
Labels: documentation

#18125 For azurerm_static_site, documentation does not mention identity and principal_id access
  website/docs/r/static_site.html.markdown
Labels: documentation

#18091 Correct resource name references in documentation
  website/docs/d/logic_app_workflow.html.markdown
  website/docs/r/machine_learning_compute_cluster.html.markdown
  website/docs/r/mssql_server.html.markdown
  website/docs/r/servicebus_namespace.html.markdown
  website/docs/r/web_pubsub.html.markdown
Labels: documentation

#18163 update docs for cdn_frontdoor_(firewall/security)_policy
  website/docs/r/cdn_frontdoor_firewall_policy.html.markdown
  website/docs/r/cdn_frontdoor_security_policy.html.markdown
Labels: documentation, service/cdn

#18161 `azurerm_spring_cloud_service` - ignore default zero value for `read_timeout_seconds`
  internal/services/springcloud/spring_cloud_service_resource.go
Labels: service/spring

#15967 `Dependency` New Resource - azurerm_healthcare_medtech_service
  internal/services/healthcare/client/client.go
  internal/services/healthcare/healthcare_medtech_service_data_source.go
  internal/services/healthcare/healthcare_medtech_service_data_source_test.go
  internal/services/healthcare/healthcare_medtech_service_fhir_destination_resource.go
  internal/services/healthcare/healthcare_medtech_service_fhir_destination_resource_test.go
  internal/services/healthcare/healthcare_medtech_service_resource.go
  internal/services/healthcare/healthcare_medtech_service_resource_test.go
  internal/services/healthcare/parse/med_tech_service.go
  internal/services/healthcare/parse/med_tech_service_fhir_destination.go
  internal/services/healthcare/parse/med_tech_service_fhir_destination_test.go
  internal/services/healthcare/parse/med_tech_service_test.go
  internal/services/healthcare/registration.go
  internal/services/healthcare/resourceids.go
  internal/services/healthcare/validate/med_tech_service_fhir_destination_id.go
  internal/services/healthcare/validate/med_tech_service_fhir_destination_id_test.go
  internal/services/healthcare/validate/med_tech_service_id.go
  internal/services/healthcare/validate/med_tech_service_id_test.go
  internal/services/healthcare/validate/medtech_service_name.go
  website/docs/d/healthcare_medtech_service.html.markdown
  website/docs/r/healthcare_medtech_service.html.markdown
  website/docs/r/healthcare_medtech_service_fhir_destination.html.markdown
Labels: documentation, waiting-response, size/XL, service/healthcare

#18170 Fix Cosmos SQL DB Resource name
  website/docs/r/cosmosdb_sql_database.html.markdown
Labels: documentation

#17313 `policy_remediation_xxx_resource` - support for the `resource_count`, `parallel_deployments` and `failure_percentage` properties
  helpers/validate/float.go
  internal/services/policy/remediation_management_group.go
  internal/services/policy/remediation_management_group_test.go
  internal/services/policy/remediation_resource.go
  internal/services/policy/remediation_resource_group.go
  internal/services/policy/remediation_resource_group_test.go
  internal/services/policy/remediation_resource_test.go
  internal/services/policy/remediation_subscription.go
  internal/services/policy/remediation_subscription_test.go
  website/docs/r/management_group_policy_remediation.html.markdown
  website/docs/r/resource_group_policy_remediation.html.markdown
  website/docs/r/resource_policy_remediation.html.markdown
  website/docs/r/subscription_policy_remediation.html.markdown
Labels: documentation, size/XL, service/policy

#17538 New Resource: `azurerm_automation_connection_type`
  internal/provider/services.go
  internal/services/automation/automation_connection_type_resource.go
  internal/services/automation/automation_connection_type_resource_test.go
  internal/services/automation/parse/connection_type.go
  internal/services/automation/parse/connection_type_test.go
  internal/services/automation/registration.go
  internal/services/automation/resourceids.go
  internal/services/automation/validate/connection_type_id.go
  internal/services/automation/validate/connection_type_id_test.go
  internal/services/automation/validate/connection_type_name.go
  website/docs/r/automation_connection_type.html.markdown
Labels: documentation, size/XL, service/automation

#17744 new resource: azurerm_search_shared_private_link_service
  internal/provider/services.go
  internal/services/search/client/client.go
  internal/services/search/registration.go
  internal/services/search/search_service_resource.go
  internal/services/search/search_shared_private_link_service_resource.go
  internal/services/search/search_shared_private_link_service_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/id_searchservice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/id_sharedprivatelinkresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/method_listbyservice_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/model_sharedprivatelinkresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/model_sharedprivatelinkresourceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-08-01/sharedprivatelinkresources/version.go
  vendor/modules.txt
  website/docs/r/search_service.html.markdown
  website/docs/r/search_shared_private_link_service.html.markdown
Labels: documentation, dependencies, size/XL, service/search

#17767 Enhance - `azurerm_redis_cache` - Recreate Redis cache when downgrade the SKU
  internal/services/redis/redis_cache_resource.go
  internal/services/redis/redis_cache_resource_test.go
  website/docs/r/redis_cache.html.markdown
Labels: documentation, size/M, service/redis

#17798 New Resource: `azurerm_api_management_product_tag` - Support API Management product tag
  internal/services/apimanagement/api_management_product_tag_resource.go
  internal/services/apimanagement/api_management_product_tag_resource_test.go
  internal/services/apimanagement/parse/product_tag.go
  internal/services/apimanagement/parse/product_tag_test.go
  internal/services/apimanagement/registration.go
  internal/services/apimanagement/resourceids.go
  internal/services/apimanagement/validate/product_tag_id.go
  internal/services/apimanagement/validate/product_tag_id_test.go
  website/docs/r/api_management_product_tag.html.markdown
Labels: documentation, size/XL, service/api-management

#17823 `azurerm_web_pubsub`, `azurerm_web_pubsub_hub` resource: Migrating `id` and `web_pubsub_id`
  internal/services/signalr/migration/web_pubsub_hub_v0_to_v1.go
  internal/services/signalr/migration/web_pubsub_v0_to_v1.go
  internal/services/signalr/parse/web_pubsub.go
  internal/services/signalr/parse/web_pubsub_hub.go
  internal/services/signalr/parse/web_pubsub_hub_test.go
  internal/services/signalr/parse/web_pubsub_test.go
  internal/services/signalr/resourceids.go
  internal/services/signalr/web_pubsub_hub_resource.go
  internal/services/signalr/web_pubsub_resource.go
Labels: size/XL, service/signalr

#16367 `azurerm_monitor_diagnostic_setting`: adding support for `category_group`
  internal/services/monitor/client/client.go
  internal/services/monitor/monitor_diagnostic_categories_data_source.go
  internal/services/monitor/monitor_diagnostic_categories_data_source_test.go
  internal/services/monitor/monitor_diagnostic_setting_resource.go
  internal/services/monitor/monitor_diagnostic_setting_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/id_scopeddiagnosticsetting.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/model_diagnosticsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/model_diagnosticsettingsresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/model_diagnosticsettingsresourcecollection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/model_logsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/model_metricsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/model_retentionpolicy.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettings/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettingscategories/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettingscategories/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettingscategories/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettingscategories/id_scopeddiagnosticsettingscategories.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettingscategories/method_diagnosticsettingscategoryget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettingscategories/method_diagnosticsettingscategorylist_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettingscategories/model_diagnosticsettingscategory.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettingscategories/model_diagnosticsettingscategoryresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettingscategories/model_diagnosticsettingscategoryresourcecollection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-05-01-preview/diagnosticsettingscategories/version.go
  vendor/modules.txt
  website/docs/d/monitor_diagnostic_categories.html.markdown
  website/docs/r/monitor_diagnostic_setting.html.markdown
Labels: documentation, dependencies, breaking-change, size/XL, service/monitor

#17992 New Data Source: `azurerm_monitor_data_collection_endpoint`
  internal/services/monitor/monitor_data_collection_endpoint_data_source.go
  internal/services/monitor/monitor_data_collection_endpoint_data_source_test.go
  internal/services/monitor/monitor_data_collection_endpoint_resource.go
  internal/services/monitor/monitor_data_collection_rule_resource.go
  internal/services/monitor/registration.go
  website/docs/d/monitor_data_collection_endpoint.html.markdown
  website/docs/r/monitor_data_collection_endpoint.html.markdown
Labels: documentation, size/XL, service/monitor

#18096 `azurerm_stream_analytics_output_eventhub`, `azurerm_stream_analytics_output_mssql`, `azurerm_stream_analytics_output_servicebus_topic` - support for `authentication_mode` property
  internal/services/streamanalytics/stream_analytics_output_eventhub_resource.go
  internal/services/streamanalytics/stream_analytics_output_eventhub_resource_test.go
  internal/services/streamanalytics/stream_analytics_output_mssql_resource.go
  internal/services/streamanalytics/stream_analytics_output_mssql_resource_test.go
  internal/services/streamanalytics/stream_analytics_output_servicebus_topic_resource.go
  internal/services/streamanalytics/stream_analytics_output_servicebus_topic_resource_test.go
  website/docs/r/stream_analytics_output_eventhub.html.markdown
  website/docs/r/stream_analytics_output_mssql.html.markdown
  website/docs/r/stream_analytics_output_servicebus_topic.html.markdown
Labels: documentation, service/stream-analytics

#18117 `azurerm_stream_analytics_output_powerbi` - support for `token_user_principal_name` and `token_user_display_name` properties
  internal/services/streamanalytics/stream_analytics_output_powerbi_resource.go
  internal/services/streamanalytics/stream_analytics_output_powerbi_resource_test.go
  website/docs/r/stream_analytics_output_powerbi.html.markdown
Labels: documentation, service/stream-analytics

#18120 `azurerm_stream_analytics_output_cosmosdb` - support for `partition_key` property
  internal/services/streamanalytics/stream_analytics_output_cosmosdb_resource.go
  internal/services/streamanalytics/stream_analytics_output_cosmosdb_resource_test.go
  website/docs/r/stream_analytics_output_cosmosdb.html.markdown
Labels: enhancement, documentation, service/stream-analytics

#18137 `azurerm_stream_analytics_reference_input_blob` - support for `authentication_mode`
  internal/services/streamanalytics/stream_analytics_reference_input_blob_resource.go
  internal/services/streamanalytics/stream_analytics_reference_input_blob_resource_test.go
  website/docs/r/stream_analytics_reference_input_blob.html.markdown
Labels: documentation, service/stream-analytics

#18149 `azurerm_windows_function_app`, `azurerm_linux_function_app`: fix the `runtime_scale_monitoring_enabled` not being set issue
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/windows_function_app_resource_test.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/windows_function_app.html.markdown
Labels: documentation, service/app-service

#18151 `azurerm_iothub_dps` - support for `data_residency_enabled` property
  internal/services/iothub/iothub_dps_resource.go
  internal/services/iothub/iothub_dps_resource_test.go
  website/docs/r/iothub_dps.html.markdown
Labels: documentation, service/iot-hub

#18160 Docs: Fix outdated reference link of `timezone` of `azurerm_automation_schedule`
  website/docs/r/automation_schedule.html.markdown
Labels: documentation

#15120 New resource: `azurerm_container_registry_task_schedule`
  internal/services/containers/client/client.go
  internal/services/containers/container_registry_task_resource.go
  internal/services/containers/container_registry_task_schedule_run_now_resource.go
  internal/services/containers/container_registry_task_schedule_run_now_resource_test.go
  internal/services/containers/parse/container_registry_task_schedule.go
  internal/services/containers/parse/container_registry_task_schedule_test.go
  internal/services/containers/registration.go
  internal/services/containers/resourceids.go
  internal/services/containers/validate/container_registry_task_schedule_id.go
  internal/services/containers/validate/container_registry_task_schedule_id_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/agentpools.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/registries.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/replications.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/runs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/scopemaps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/taskruns.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/tasks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/tokens.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/containerregistry/mgmt/2019-06-01-preview/containerregistry/webhooks.go
  vendor/modules.txt
  website/docs/r/container_registry_task_schedule_run_now.html.markdown
Labels: enhancement, documentation, dependencies, size/XL, service/container-registry
