Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2022-07, with the labels that each got.

#17472 Doc: Fix import spec for `azurerm_resource_policy_remediation`
  website/docs/r/policy_resource_policy_remediation.html.markdown
Labels: documentation, size/XS

#17466 `azurerm_container_registry` - Data source supports `data_endpoint_enabled`
  internal/services/containers/container_registry_data_source.go
  internal/services/containers/container_registry_data_source_test.go
  website/docs/d/container_registry.html.markdown
Labels: enhancement, documentation, size/S, service/container-registry

#17500 Document: Fix import instruction
  website/docs/r/app_service_certificate_order.html.markdown
  website/docs/r/iot_time_series_insights_access_policy.html.markdown
Labels: documentation, size/XS

#17497 fix aks trusted ca
  internal/services/containers/kubernetes_cluster_resource.go
Labels: size/XS

#17332 `d/shared_image_version`: fix `id`
  internal/services/compute/shared_image_version_data_source.go
Labels: size/XS

#17259 `azurerm_hdinsight_kafka_cluster` add support for `network` block
  internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  internal/services/hdinsight/hdinsight_kafka_cluster_resource_test.go
  website/docs/r/hdinsight_kafka_cluster.html.markdown
Labels: documentation, size/XS, service/hdinsight

#17395 `kubernetes_cluster/node_pool`- `capacity_reservation_group_id`
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: enhancement, documentation, size/L, service/kubernetes-cluster

#17236 `r\linux/windows_virtual_machine`: add support for `capacity_reservation_group_id`
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_scaling_test.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource_scaling_test.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, size/XL

#15644 Fix hashicorp#15640 making fqdns in data_factory_managed_private_endp…
  internal/services/datafactory/data_factory_managed_private_endpoint_resource.go
Labels: size/XS, service/data-factory

#16800 azurerm_cosmosdb_cassandra_datacenter - support new properties
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource.go
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource_test.go
  internal/services/cosmos/cosmosdb_cassandra_resource_test.go
  website/docs/r/cosmosdb_cassandra_datacenter.html.markdown
Labels: documentation, size/XL, service/cosmosdb

#17230 remove validation on spring cloud route config route.uri
  internal/services/springcloud/spring_cloud_gateway_route_config_resource.go
Labels: size/XS, service/spring

#17124 `azurerm_kubernetes_cluster ` - fix test cases
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_upgrade_test.go
Labels: size/S

#17111 `synapse_integration_runtime_azure`- `locations` supports `Auto Resolve`
  internal/services/synapse/synapse_integration_runtime_azure_resource.go
  internal/services/synapse/synapse_integration_runtime_azure_resource_test.go
  website/docs/r/synapse_integration_runtime_azure.html.markdown
Labels: documentation, size/S, service/synapse

#16984 `spring_cloud_deployment` - `addon_json`
  internal/services/springcloud/spring_cloud_app_resource_test.go
  internal/services/springcloud/spring_cloud_build_deployment_resource.go
  internal/services/springcloud/spring_cloud_build_deployment_resource_test.go
  internal/services/springcloud/spring_cloud_container_deployment_resource.go
  internal/services/springcloud/spring_cloud_container_deployment_resource_test.go
  website/docs/r/spring_cloud_build_deployment.html.markdown
  website/docs/r/spring_cloud_container_deployment.html.markdown
Labels: documentation, size/L, service/spring

#17415 azurerm_key_vault_certificate : fix azurerm_key_vault_certificate could not be recovered issue
  internal/services/keyvault/key_vault_certificate_resource.go
Labels: service/key-vault, size/S

#16000 Load balancer new feature - inbound NAT rule port mapping
  internal/services/loadbalancer/backend_address_pool_address_resource.go
  internal/services/loadbalancer/backend_address_pool_data_source.go
  internal/services/loadbalancer/backend_address_pool_resource.go
  internal/services/loadbalancer/loadbalancer_nat_rule_resource_test.go
  internal/services/loadbalancer/nat_rule_resource.go
  website/docs/d/lb_backend_address_pool.html.markdown
  website/docs/r/lb_backend_address_pool.html.markdown
  website/docs/r/lb_backend_address_pool_address.html.markdown
  website/docs/r/lb_nat_rule.html.markdown
Labels: documentation, service/load-balancers, size/XL

#16581 New Resource: azurerm_logz_sub_account
  internal/services/logz/client/client.go
  internal/services/logz/logz_common.go
  internal/services/logz/logz_monitor_resource.go
  internal/services/logz/logz_monitor_resource_test.go
  internal/services/logz/logz_sub_account_resource.go
  internal/services/logz/logz_sub_account_resource_test.go
  internal/services/logz/logz_tag_rule_resource_test.go
  internal/services/logz/parse/logz_sub_account.go
  internal/services/logz/parse/logz_sub_account_test.go
  internal/services/logz/registration.go
  internal/services/logz/resourceids.go
  internal/services/logz/validate/logz_monitor_name.go
  internal/services/logz/validate/logz_sub_account_id.go
  internal/services/logz/validate/logz_sub_account_id_test.go
  website/docs/r/logz_sub_account.html.markdown
Labels: documentation, size/XL, upstream-microsoft, service/logz

#17485 custom domain verification id is blank unless it's saved to the model
  internal/services/appservice/linux_function_app_data_source.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_slot_resource.go
Labels: size/XS, service/app-service

#17490 windows_web_app_(slot)_resource: Fix currentStack is not fetched from state when updating infrastructure using terraform.
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_slot_resource.go
Labels: size/XS, service/app-service

#17520 azurerm_kusto_cluster - Add new `public_ip_address` property
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_cluster_resource_test.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, size/XS, service/kusto

#17521 Fix incorrect import spec for `azurerm_netapp_snapshot_policy` , `azurerm_policy_management_group_policy_remediation`, etc
  website/docs/r/data_factory_trigger_schedule.html.markdown
  website/docs/r/databox_edge_order.html.markdown
  website/docs/r/iot_time_series_insights_standard_environment.html.markdown
  website/docs/r/media_live_output.html.markdown
  website/docs/r/netapp_snapshot_policy.html.markdown
  website/docs/r/policy_management_group_policy_remediation.html.markdown
  website/docs/r/security_center_server_vulnerability_assessment_arc_virtual_machine.html.markdown
  website/docs/r/storage_disks_pool.html.markdown
Labels: documentation, size/L

#17522 Add `script_content` and update `url` and `sas_token` for resource kusto script
  internal/services/kusto/kusto_database_script_resource.go
  internal/services/kusto/kusto_database_script_resource_test.go
  website/docs/r/kusto_script.html.markdown
Labels: documentation, size/M, service/kusto

#17498 Writing the property `default_hostname` back to state for function apps
  internal/services/appservice/linux_function_app_data_source.go
  internal/services/appservice/linux_function_app_data_source_test.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_data_source.go
  internal/services/appservice/windows_function_app_data_source_test.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_slot_resource.go
Labels: bug, size/XS, service/app-service

#17530 `r\[linux|windows]_virtual_machine_scale_set`: add support for `capacity_reservation_group_id`
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_scaling_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_scaling_resource_test.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, size/L

#17345 Fixing invalid LinuxFxVersion issue for linux function app
  internal/services/appservice/helpers/fx_strings.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
Labels: size/M, service/app-service

#17433 New Resource: azurerm_application_insights_workbook_template
  internal/provider/services.go
  internal/services/applicationinsights/application_insights_workbook_template_resource.go
  internal/services/applicationinsights/application_insights_workbook_template_resource_test.go
  internal/services/applicationinsights/client/client.go
  internal/services/applicationinsights/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/id_workbooktemplate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/method_workbooktemplatescreateorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/method_workbooktemplatesdelete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/method_workbooktemplatesget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/method_workbooktemplateslistbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/method_workbooktemplatesupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/model_workbooktemplate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/model_workbooktemplategallery.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/model_workbooktemplatelocalizedgallery.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/model_workbooktemplateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/model_workbooktemplateslistresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/model_workbooktemplateupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/version.go
  vendor/modules.txt
  website/docs/r/application_insights_workbook_template.html.markdown
Labels: documentation, dependencies, size/XL, service/application-insights

#17496 `azurerm_kubernetes_cluster` `azurerm_kubernetes_cluster_node_pool` - `host_group_id`
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  internal/services/containers/kubernetes_nodepool.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/d/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, size/L, service/kubernetes-cluster

#17422 remove spring quota validation
  internal/services/springcloud/spring_cloud_build_deployment_resource.go
  internal/services/springcloud/spring_cloud_container_deployment_resource.go
  internal/services/springcloud/spring_cloud_gateway_resource.go
  internal/services/springcloud/spring_cloud_java_deployment_resource.go
Labels: size/M, service/spring

#17535 `azurerm_cognitive_account` - update document
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, size/XS, service/cognitive-services

#17487 Doc Fix : azurerm_mssql_database - Removal of doc for deprecated extended_auditing_policy
  website/docs/r/mssql_database.html.markdown
Labels: documentation, size/XS

#17568 Changing QoS value and adding CreateOnDate tag
  internal/services/netapp/netapp_account_resource_test.go
  internal/services/netapp/netapp_pool_resource_test.go
  internal/services/netapp/netapp_volume_resource_test.go
Labels: size/M, service/netapp

#17574 Update subnet service delegation list with the support of DNS Private Resolvers.
  internal/services/network/subnet_resource.go
Labels: size/XS

#17394 New resources `gallery_application` `gallery_application_version`
  internal/provider/services.go
  internal/services/compute/client/client.go
  internal/services/compute/gallery_application_resource.go
  internal/services/compute/gallery_application_resource_test.go
  internal/services/compute/gallery_application_version_resource.go
  internal/services/compute/gallery_application_version_resource_test.go
  internal/services/compute/parse/gallery_application.go
  internal/services/compute/parse/gallery_application_test.go
  internal/services/compute/parse/gallery_application_version.go
  internal/services/compute/parse/gallery_application_version_test.go
  internal/services/compute/registration.go
  internal/services/compute/resourceids.go
  internal/services/compute/validate/compute.go
  internal/services/compute/validate/compute_test.go
  internal/services/compute/validate/gallery_application_id.go
  internal/services/compute/validate/gallery_application_id_test.go
  internal/services/compute/validate/gallery_application_version_id.go
  internal/services/compute/validate/gallery_application_version_id_test.go
  website/docs/r/gallery_application.html.markdown
  website/docs/r/gallery_application_version.html.markdown
Labels: documentation, size/XL

#17300 `r\shared_image`: support `end_of_life_date` `disallowed_disk_types` `[max|min]_recommended_[vcpu_count|memory_in_gb]`
  internal/services/compute/shared_image_data_source_test.go
  internal/services/compute/shared_image_resource.go
  internal/services/compute/shared_image_resource_test.go
  website/docs/r/shared_image.html.markdown
Labels: documentation, size/XL

#17231 `azurerm_subscription_policy_assignment` & `azurerm_management_group_policy_assignment` Add `UserAssignedIdentities` to the update request to fix #17082 and #16898
  internal/services/policy/assignment_base_resource.go
  internal/services/policy/assignment_subscription_resource_test.go
Labels: size/XS, service/policy

#17526 Add `database_routing` to azurerm_kusto_iothub_data_connection
  internal/services/kusto/kusto_iothub_data_connection_resource.go
  internal/services/kusto/kusto_iothub_data_connection_resource_test.go
  website/docs/r/kusto_iothub_data_connection.html.markdown
Labels: documentation, size/XS, service/kusto

#17525 Add `database_routing` to resource kusto eventhub
  internal/services/kusto/kusto_eventhub_data_connection_resource.go
  internal/services/kusto/kusto_eventhub_data_connection_resource_test.go
  website/docs/r/kusto_eventhub_data_connection.html.markdown
Labels: documentation, size/S, service/kusto

#17519 `azurerm_container_group` - Add supports of `http_headers`
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
  internal/services/containers/probe.go
  website/docs/r/container_group.html.markdown
Labels: enhancement, documentation, size/M, service/container-group

#17587 updating to `v0.20220711.1122120` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#17591 link contrib docs in readme and dev mds
  DEVELOPER.md
  README.md
  contributing/README.md
Labels: size/XS

#17589 dependencies: updating to `v0.20220711.1181406` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#17588 dependencies: updating to `v0.37.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/authentication/environment.go
  vendor/github.com/hashicorp/go-azure-helpers/lang/response/response.go
  vendor/modules.txt
Labels: dependencies, size/S

#17598 portal: migrating the deprecated resource over to go-azure-sdk
  go.mod
  go.sum
  internal/services/portal/client/client.go
  internal/services/portal/legacy_dashboard_resource.go
  internal/services/portal/legacy_dashboard_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/dashboards.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/tenantconfigurations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/portal/mgmt/2019-01-01-preview/portal/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, refactor, service/portal

#17606 dependencies: updating to `v0.20220712.1111122` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#17594 Docs: Fix management_group, resource_group and subscription policy exemption and remediation file names
  website/docs/r/management_group_policy_exemption.html.markdown
  website/docs/r/management_group_policy_remediation.html.markdown
  website/docs/r/resource_group_policy_exemption.html.markdown
  website/docs/r/resource_group_policy_remediation.html.markdown
  website/docs/r/resource_policy_exemption.html.markdown
  website/docs/r/resource_policy_remediation.html.markdown
  website/docs/r/subscription_policy_exemption.html.markdown
  website/docs/r/subscription_policy_remediation.html.markdown
Labels: documentation, size/XS

#17013 azurerm_[orchestrated|windows|linux]_virtual_machine_scale_set: support `placement` for os disks
  internal/services/compute/linux_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/virtual_machine_scale_set.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_os_resource_test.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: enhancement, documentation, service/vmss, size/XL

#17509 Modified `azurerm_monitor_metric_alert` to detect `webhook_properties` changes
  internal/services/monitor/monitor_metric_alert_resource.go
Labels: size/XS, service/monitor

#17614 azurerm_dev_test_lab_schedule: delete itself rather than a vm extension
  internal/services/devtestlabs/dev_test_lab_schedule_resource.go
Labels: bug, size/XS, service/devtestlabs

#17427 fix: dns server order must be respected
  internal/services/firewall/firewall_policy_resource.go
  internal/services/firewall/firewall_policy_resource_test.go
  internal/services/firewall/testdata/HOWTO.md
  internal/services/firewall/testdata/cert.pem
  internal/services/firewall/testdata/certificate.pfx
  internal/services/firewall/testdata/key.pem
  internal/services/firewall/testdata/openssl.cnf
Labels: size/L, service/firewall

#17617 sdk: extracting the Plugin SDKv2 schema types to their own interface
  internal/sdk/resource.go
Labels: size/XS, refactor

#17629 `azurerm_signalr_service` - Add support for `live_trace`
  internal/services/signalr/signalr_service_resource.go
  internal/services/signalr/signalr_service_resource_test.go
  website/docs/r/signalr_service.html.markdown
Labels: documentation, size/L, service/signalr

#16983 Fix free sku issue for app
  internal/services/appservice/helpers/web_app_schema.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_resource_test.go
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, size/L, service/app-service

#16798 azurerm_mssql_managed_instance_failover_group ：fix update error "Only one managed instance pair is supported"
  internal/services/mssql/mssql_managed_instance_failover_group_resource.go
  internal/services/mssql/mssql_managed_instance_failover_group_resource_test.go
  internal/services/mssql/mssql_managed_instance_resource.go
  website/docs/r/mssql_managed_instance_failover_group.html.markdown
Labels: documentation, size/S, service/mssql

#16652 azurerm_stream_analytics_output_blob - support new property authentication_mode
  internal/services/streamanalytics/stream_analytics_output_blob_resource.go
  internal/services/streamanalytics/stream_analytics_output_blob_resource_test.go
  website/docs/r/stream_analytics_output_blob.html.markdown
Labels: documentation, size/M, service/stream-analytics

#17524 azurerm_kusto_eventgrid_data_connection - support database_routing, eventgrid_resource_id, managed_identity_resource_id
  internal/services/kusto/kusto_eventgrid_data_connection_resource.go
  internal/services/kusto/kusto_eventgrid_data_connection_resource_test.go
  website/docs/r/kusto_eventgrid_data_connection.html.markdown
Labels: documentation, size/M, service/kusto

#17599 Fixing partitioning issue for premium servicebus namespace
  internal/services/servicebus/servicebus_queue_resource.go
  internal/services/servicebus/servicebus_queue_resource_test.go
  website/docs/r/servicebus_queue.html.markdown
Labels: documentation, size/S, service/service-bus

#17570 Fix azurerm storage management policy data source
  internal/services/storage/storage_management_policy_data_source.go
  website/docs/d/storage_management_policy.html.markdown
Labels: documentation, service/storage, size/XS

#17556 azurerm_mssql_server : Fix "identity.0.identity_ids" not being accessible in dynamic "identity" block
  internal/services/mssql/mssql_server_resource.go
Labels: size/XS, service/mssql

#17554 azurerm_api_management - correct set API Management Cipher TLS_RSA_WITH_3DES_EDE_CBC_SHA
  internal/services/apimanagement/api_management_resource.go
Labels: size/XS, service/api-management

#17615 Migrating eventhub auth rule ID in state
  internal/services/eventhub/eventhub_authorization_rule_resource.go
  internal/services/eventhub/migration/eventhub_authorization_rule.go
Labels: size/M, service/event-hubs

#17647 docs: fix up `azurerm_eventhub_authorization_rule` to stay in proper category
  website/docs/d/eventhub_authorization_rule.html.markdown
Labels: documentation, size/XS

#17645 dependencies: updating to `v0.20220715.1071215` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#17653 `azurerm_cdn_frontdoor_endpoint` and `azurerm_cdn_frontdoor_rule_set` documentation updates
  website/docs/r/cdn_frontdoor_endpoint.html.markdown
  website/docs/r/cdn_frontdoor_rule_set.html.markdown
Labels: documentation, size/XS

#17654 Remove callouts for PodSubnetPreview feature
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#15758 Fix: Get valid API version from error code for `resource group template deployment` resource when original API version is mismatched
  internal/services/resource/template_deployment_common.go
Labels: bug, size/XS, service/template

#17658 Import spec fix: azurerm_managed_disk
  website/docs/r/managed_disk.html.markdown
Labels: documentation, size/XS

#17342 New Resource: `azurerm_monitor_data_collection_rule`
  internal/provider/services.go
  internal/services/monitor/client/client.go
  internal/services/monitor/monitor_data_collection_rule_resource.go
  internal/services/monitor/monitor_data_collection_rule_resource_test.go
  internal/services/monitor/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/id_datacollectionrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/method_create_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_azuremonitormetricsdestination.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_datacollectionrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_datacollectionruleresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_dataflow.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_datasourcesspec.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_destinationsspec.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_extensiondatasource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_loganalyticsdestination.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_perfcounterdatasource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_resourceforupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_syslogdatasource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/model_windowseventlogdatasource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/version.go
  vendor/modules.txt
  website/docs/r/monitor_data_collection_rule.html.markdown
Labels: documentation, dependencies, size/XL, service/monitor

#17680 Update go-azure-sdk to v0.20220719.1202339
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/servers/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appconfiguration/2022-05-01/configurationstores/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2020-11-20/applicationinsights/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/attestation/2020-10-01/attestationproviders/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2020-10-01/clusters/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2021-04-30/cognitiveservicesaccounts/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2020-08-20/communicationservice/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/availabilitysets/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/sshpublickeys/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerinstance/2021-03-01/containerinstance/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2021-04-01-preview/workspaces/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/desktopvirtualization/2021-09-03-preview/applicationgroup/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/desktopvirtualization/2021-09-03-preview/hostpool/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/desktopvirtualization/2021-09-03-preview/scalingplan/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/desktopvirtualization/2021-09-03-preview/workspace/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/elastic/2020-07-01/monitorsresource/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2018-01-01-preview/eventhubsclusters/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-01-01-preview/namespaces/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fluidrelay/2022-05-26/fluidrelayservers/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hardwaresecuritymodules/2021-11-30/dedicatedhsms/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-04-01/datacollectionrules/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/managedidentity/2018-11-30/managedidentity/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/managedservices/2019-06-01/registrationassignments/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/managedservices/2019-06-01/registrationdefinitions/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2021-02-01/accounts/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/netapp/2021-10-01/netappaccounts/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/notificationhubs/2017-04-01/namespaces/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/policyinsights/2021-10-01/policyinsights/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/powerbidedicated/2021-01-01/capacities/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/privatedns/2018-09-01/privatezones/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/purview/2021-07-01/account/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/redisenterprise/2022-01-01/redisenterprise/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/relay/2017-04-01/namespaces/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-03-13/services/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicebus/2021-06-01-preview/namespaces/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicefabricmanagedcluster/2021-05-01/managedcluster/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/signalr/2022-02-01/signalr/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/trafficmanager/2018-08-01/profiles/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoanalyzer/2021-05-01-preview/videoanalyzer/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/vmware/2020-03-20/privateclouds/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/web/2016-06-01/connections/README.md
  vendor/modules.txt
Labels: dependencies, size/L

#17368 New Resource: azurerm_application_insights_workbook
  internal/services/applicationinsights/application_insights_workbook_resource.go
  internal/services/applicationinsights/application_insights_workbook_resource_test.go
  internal/services/applicationinsights/client/client.go
  internal/services/applicationinsights/registration.go
  internal/services/applicationinsights/validate/workbook_name.go
  internal/services/applicationinsights/validate/workbook_tags.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/id_revision.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/id_workbook.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/method_workbookscreateorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/method_workbooksdelete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/method_workbooksget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/method_workbookslistbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/method_workbookslistbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/method_workbooksrevisionget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/method_workbooksrevisionslist_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/method_workbooksupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/model_workbook.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/model_workbookproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/model_workbookpropertiesupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/model_workbookupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/version.go
  vendor/modules.txt
  website/docs/r/application_insights_workbook.html.markdown
Labels: documentation, dependencies, size/XL, service/application-insights

#16578 New Resource - azurerm_route_server_bgp_connection, azurerm_route_server
  internal/services/network/registration.go
  internal/services/network/route_server_bgp_connection_resource.go
  internal/services/network/route_server_bgp_connection_resource_test.go
  internal/services/network/route_server_resource.go
  internal/services/network/route_server_resource_test.go
  internal/services/network/validate/route_server_name.go
  website/docs/r/route_server.html.markdown
  website/docs/r/route_server_bgp_connection.html.markdown
Labels: documentation, size/XL

#17581 kusto_cluster_resource - allowed_fqdns, allowed_ip_ranges, outbound_network_access_restricted
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_cluster_resource_test.go
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, size/M, service/kusto

#17256 `azurerm_storage_account` - support disable `blob_properties.0.{delete_retention_policy|container_delete_retention_policy}` & `share_properties.0.retention_policy`
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
Labels: bug, service/storage, size/S

#17130 `azurerm_storage_account` - add supports for `change_feed_retention_in_days`
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: enhancement, documentation, service/storage, size/S

#17673 Fixing wrong reference for resource `azurerm_servicebus_topic`
  internal/services/servicebus/servicebus_topic_resource.go
  internal/services/servicebus/servicebus_topic_resource_test.go
Labels: size/XS, service/service-bus

#17679 Documentation Typo Fix in windows_web_app.html.markdown
  website/docs/d/windows_web_app.html.markdown
Labels: documentation, size/XS

#17697 fix doc: features-block for `api_management`
  website/docs/guides/features-block.html.markdown
Labels: documentation, size/XS

#17595 domainservice: refactoring domainservice resources to using go-azure-sdk
  internal/services/domainservices/active_directory_domain_service_data_source.go
  internal/services/domainservices/active_directory_domain_service_replica_set_resource.go
  internal/services/domainservices/active_directory_domain_service_resource.go
  internal/services/domainservices/active_directory_domain_service_test.go
  internal/services/domainservices/active_directory_domain_service_trust_resource.go
  internal/services/domainservices/active_directory_domain_service_trust_resource_test.go
  internal/services/domainservices/client/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2020-01-01/aad/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2020-01-01/aad/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2020-01-01/aad/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2020-01-01/aad/domainserviceoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2020-01-01/aad/domainservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2020-01-01/aad/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2020-01-01/aad/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2020-01-01/aad/oucontainer.go
  vendor/github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2020-01-01/aad/oucontaineroperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/domainservices/mgmt/2020-01-01/aad/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/id_domainservice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_domainsecuritysettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_domainservice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_domainserviceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_foresttrust.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_healthalert.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_healthmonitor.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_ldapssettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_migrationprogress.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_migrationproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_notificationsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_replicaset.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_resourceforestsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2022-04-01/applicationinsights/README.md
  vendor/modules.txt
Labels: dependencies, size/XL, refactor, service/domain-services

#17708 GHA - new actions to add/remove wating-response
  .github/waiting-response.yml
  .github/workflows/issue-comment-created.yaml
  .github/workflows/pull-request-new-commit.yaml
  .github/workflows/pull-request-reviewed.yaml
Labels: size/S

#17718 Update linux_web_app.html.markdown
  website/docs/d/linux_web_app.html.markdown
Labels: documentation, size/XS

#17711 azurerm_mssql_managed_instance - change storage_size_in_gb from 8192 to 16384
  internal/services/sql/sql_managed_instance_resource.go
Labels: size/XS, service/sql

#17726 dependencies: updating to `v0.20220722.1091911` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#17733 Correct Sku names to match code
  website/docs/r/mssql_managed_instance.html.markdown
Labels: documentation, size/XS

#17730 Documentation: `azurerm_cdn_frontdoor_origin` - Fix example usage
  website/docs/r/cdn_frontdoor_origin.html.markdown
Labels: documentation, size/XS

#17749 bump go-azure-sdk to v0.20220725.1131927
  go.mod
  go.sum
  internal/services/analysisservices/analysis_services_server_resource.go
  internal/services/cognitive/cognitive_account_resource.go
  internal/services/containers/container_group_data_source.go
  internal/services/containers/container_group_resource.go
  internal/services/databricks/databricks_workspace_resource.go
  internal/services/domainservices/active_directory_domain_service_replica_set_resource.go
  internal/services/domainservices/active_directory_domain_service_resource.go
  internal/services/domainservices/active_directory_domain_service_trust_resource.go
  internal/services/eventhub/eventhub_namespace_resource.go
  internal/services/hsm/dedicated_hardware_security_module_resource.go
  internal/services/netapp/netapp_volume_resource.go
  internal/services/postgres/postgresql_firewall_rule_resource.go
  internal/services/postgres/postgresql_flexible_server_firewall_rule_resource.go
  internal/services/privatedns/private_dns_a_record_resource.go
  internal/services/privatedns/private_dns_aaaa_record_resource.go
  internal/services/search/search_service_resource.go
  internal/services/servicebus/servicebus_namespace_network_rule_set_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_foresttrust.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aad/2020-01-01/domainservices/model_replicaset.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/servers/model_analysisservicesservermutableproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/servers/model_analysisservicesserverproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2021-04-30/cognitiveservicesaccounts/model_iprule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2021-04-30/cognitiveservicesaccounts/model_networkruleset.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerinstance/2021-03-01/containerinstance/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerinstance/2021-03-01/containerinstance/model_capabilities.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerinstance/2021-03-01/containerinstance/model_containergroupproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerinstance/2021-03-01/containerinstance/model_ipaddress.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerinstance/2021-03-01/containerinstance/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2021-04-01-preview/workspaces/model_workspacecustomparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/networkrulesets/model_networkrulesetproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventhub/2021-11-01/networkrulesets/model_nwrulesetiprules.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hardwaresecuritymodules/2021-11-30/dedicatedhsms/model_endpointdetail.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hardwaresecuritymodules/2021-11-30/dedicatedhsms/model_networkinterface.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_networkrulesetiprule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_networkrulesets.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/netapp/2021-10-01/volumes/model_mounttargetproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2017-12-01/firewallrules/model_firewallruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2021-06-01/firewallrules/model_firewallruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/privatedns/2018-09-01/recordsets/model_aaaarecord.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/privatedns/2018-09-01/recordsets/model_arecord.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-03-13/services/model_iprule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/search/2020-03-13/services/model_networkruleset.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicebus/2021-06-01-preview/namespaces/model_networkrulesetproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicebus/2021-06-01-preview/namespaces/model_nwrulesetiprules.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicefabricmanagedcluster/2021-05-01/managedcluster/model_managedclusterproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_sqlvirtualmachineproperties.go
  vendor/modules.txt
Labels: dependencies, service/dns, size/L, service/event-hubs, service/service-bus, service/search, service/cognitive-services, service/postgresql, service/databricks, service/analysis, service/netapp, service/hsm, service/domain-services

#17732 `azurerm_postgresql_aad_administrator`: Fix state migration
  internal/services/postgres/migration/postgresql_aad_administrator.go
Labels: size/XS, service/postgresql

#17755 `azurerm_postgresql_server` `data.azurerm_servicebus_queue` - Fix regression around ids
  internal/services/postgres/migration/postgresql_server.go
  internal/services/postgres/postgresql_server_resource.go
  internal/services/servicebus/servicebus_queue_data_source.go
  internal/services/servicebus/servicebus_queue_data_source_test.go
Labels: size/XL, service/service-bus, service/postgresql

#17753 dependencies: updating to use `v0.20220725.1163004` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#17699 `azurerm_dns_ns_record` documentation update
  website/docs/r/dns_ns_record.html.markdown
Labels: documentation, service/dns, size/XS

#17669 Changes documentation to reflect ISE network requirements
  internal/services/logic/integration_service_environment_resource_test.go
  website/docs/r/integration_service_environment.html.markdown
Labels: documentation, size/XS, service/logic

#17754 Fix api_management_api_operation_policy docs: wrong description at property api_name
  website/docs/r/api_management_api_operation_policy.html.markdown
Labels: documentation, size/XS

#17584 `azurerm_linux_web_app` `azurerm_linux_web_app_slot` - Documentation and test enhancements related to `virtual_network_subnet_id` argument
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service

#17775 GHA - add waiting-response label based on comment
  .github/workflows/issue-comment-created.yaml
Labels: size/XS, tooling

#17572 `azurerm_windows_function_app` `azurerm_windows_function_app_slot` expose `virtual_network_subnet_id` for vNet integration
  internal/services/appservice/windows_function_app_data_source.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  website/docs/d/windows_function_app.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service

#17576 `azurerm_windows_web_app` `azurerm_windows_web_app_slot` expose `virtual_network_subnet_id` for vNet integration
  internal/services/appservice/windows_web_app_data_source.go
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
  website/docs/d/windows_web_app.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service

#17494 `azurerm_linux_function_app` `azurerm_linux_function_app_slot` expose `virtual_network_subnet_id` for vNet integration
  internal/services/appservice/linux_function_app_data_source.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  website/docs/d/linux_function_app.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service

#17778 Remove the invalid 'FREE' SKU from app_service_plan
  internal/services/appservice/helpers/service_plan.go
  website/docs/r/service_plan.html.markdown
Labels: documentation, size/XS, service/app-service

#17789 `azurerm_linux_function_app` and `azurerm_linux_function_app_slot` - fix casing bug in `linux_fx_string` for Node apps
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/function_app_slot_schema.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
Labels: size/L, service/app-service, service/functions

#17783 Fix typo for TTL Argument Reference in dns_a_record
  website/docs/r/dns_a_record.html.markdown
Labels: documentation, size/XS

#17739 `azure_stream_analytics_stream_input_eventhub`: Add support for `authentication_mode`
  internal/services/streamanalytics/stream_analytics_stream_input_eventhub_resource.go
  internal/services/streamanalytics/stream_analytics_stream_input_eventhub_resource_test.go
  website/docs/r/stream_analytics_stream_input_eventhub.html.markdown
Labels: documentation, size/S, service/stream-analytics

#17423 azurerm_bot_service_azure_bot - support streaming_endpoint_enabled
  internal/services/bot/bot_channel_test.go
  internal/services/bot/bot_service_azure_bot_resource_test.go
  internal/services/bot/bot_service_base_resource.go
  website/docs/r/bot_service_azure_bot.html.markdown
Labels: documentation, size/M, service/bots

#17683 `azurerm_cognitive_account` - `custom_question_answering_search_service_key`
  internal/services/cognitive/cognitive_account_resource.go
  internal/services/cognitive/cognitive_account_resource_test.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, size/S, service/cognitive-services

#15774 `d\managed_disk`: Add support for `encryption_settings`
  internal/services/compute/managed_disk_data_source.go
  internal/services/compute/managed_disk_data_source_test.go
  website/docs/d/managed_disk.html.markdown
Labels: enhancement, documentation, size/L

#17285 fixing dotnet core version issue for resource `azurerm_windows_web_app`
  internal/services/appservice/helpers/web_app_schema.go
  internal/services/appservice/windows_web_app_resource_test.go
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, size/S, service/app-service

#16187 New Resourece: azurerm_signalr_shared_private_link_resource
  internal/services/signalr/registration.go
  internal/services/signalr/signalr_shared_private_link_resource.go
  internal/services/signalr/signalr_shared_private_link_resource_test.go
  website/docs/r/signalr_shared_private_link.html.markdown
Labels: documentation, size/XL, service/signalr

#17655 `HDInsight`: Adding support for `httpsEndpoints` and `installScriptAction` in hadoop edge node
  internal/services/hdinsight/common_hdinsight.go
  internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
  internal/services/hdinsight/schema.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
Labels: documentation, size/L, service/hdinsight

#17347 update automation account to use go-azure-sdk
  internal/services/automation/automation_account_data_source.go
  internal/services/automation/automation_account_resource.go
  internal/services/automation/automation_account_resource_test.go
  internal/services/automation/client/client.go
  internal/services/automation/transition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/id_automationaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccountcreateorupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccountcreateorupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccountproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccountupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccountupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_encryptionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_encryptionpropertiesidentity.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_keyvaultproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_privateendpointproperty.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_privatelinkserviceconnectionstateproperty.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_sku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/automation

#17667 new resource `azurerm_kusto_cluster_managed_private_endpoint`
  internal/services/kusto/client/client.go
  internal/services/kusto/kusto_cluster_managed_private_endpoint_resource.go
  internal/services/kusto/kusto_cluster_managed_private_endpoint_resource_test.go
  internal/services/kusto/parse/managed_private_endpoints.go
  internal/services/kusto/parse/managed_private_endpoints_test.go
  internal/services/kusto/registration.go
  internal/services/kusto/resourceids.go
  internal/services/kusto/validate/managed_private_endpoints_id.go
  internal/services/kusto/validate/managed_private_endpoints_id_test.go
  website/docs/r/kusto_cluster_managed_private_endpoint.html.markdown
Labels: documentation, size/XL, service/kusto

#17106 `r\iothub_dps_certificate`: support `is_verified`
  internal/services/iothub/iothub_dps_certificate_resource.go
  internal/services/iothub/iothub_dps_certificate_resource_test.go
  website/docs/r/iothub_dps_certificate.html.markdown
Labels: documentation, size/M, service/iot-hub

#17807 Fix docs typo and invalid target fqdn in azurerm_firewall_policy_rule_collection_group
  contributing/topics/guide-opening-a-pr.md
  website/docs/r/firewall_policy_rule_collection_group.html.markdown
Labels: documentation, size/XS

#17794 `azurerm_log_analytics_cluster` - enable Minimum of 500GB
  internal/services/loganalytics/log_analytics_cluster_resource.go
  website/docs/r/log_analytics_cluster.html.markdown
Labels: documentation, size/XS, service/log-analytics

#17729 `azurerm_private_dns_zone` - Ensure consistent ID generation
  internal/services/privatedns/private_dns_zone_data_source.go
  internal/services/privatedns/private_dns_zone_data_source_test.go
Labels: service/dns, size/M

#17776 refactor: migrating proximity_placement_group to `hashicorp/go-azure-sdk`
  internal/services/compute/client/client.go
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/parse/proximity_placement_group.go
  internal/services/compute/parse/proximity_placement_group_test.go
  internal/services/compute/proximity_placement_group_data_source.go
  internal/services/compute/proximity_placement_group_resource.go
  internal/services/compute/proximity_placement_group_resource_test.go
  internal/services/compute/resourceids.go
  internal/services/compute/validate/proximity_placement_group_id.go
  internal/services/compute/validate/proximity_placement_group_id_test.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_nodepool.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/id_proximityplacementgroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/model_instanceviewstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/model_proximityplacementgroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/model_proximityplacementgroupproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/model_subresourcewithcolocationstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/model_updateresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2021-11-01/proximityplacementgroups/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, refactor

#17820 `d\virtual_machine_extension`: Fix `settings` to be Optional in doc
  website/docs/r/virtual_machine_extension.html.markdown
Labels: documentation, size/XS
