Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2022-03, with the labels that each got.

#15596 3.0 Test Fix: Firewall
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
  internal/services/firewall/firewall_data_source_test.go
  internal/services/firewall/firewall_policy_rule_collection_group_resource_test.go
  internal/services/firewall/firewall_resource.go
  internal/services/firewall/firewall_resource_test.go
Labels: size/S, service/firewall, tests

#15582 azurerm_monitor_diagnostic_setting - Update id parser for case-insensitive while reading
  internal/services/monitor/monitor_diagnostic_setting_resource.go
  internal/services/monitor/monitor_diagnostic_setting_resource_test.go
Labels: size/M, service/monitor

#15590 `azurem_iothub`- deprecate `ip_filter_rule` in favour of `network_rule_set`
  internal/services/iothub/iothub_resource.go
  internal/services/iothub/iothub_resource_test.go
  website/docs/r/iothub.html.markdown
Labels: documentation, size/XL, service/iot-hub

#15652 Correct argument reference
  website/docs/r/proximity_placement_group.html.markdown
Labels: documentation, size/XS

#15653 azurerm_active_directory_domain_service: link to official LDAPS docs
  website/docs/r/active_directory_domain_service.html.markdown
Labels: documentation, size/XS

#15602 `azurerm_batch_pool` - add test for fixed_scale.resize_timeout/target_low_priority_nodes/start_task.resource_file.storage_container_url
  internal/services/batch/batch_pool_resource_test.go
Labels: size/M, service/batch

#15651 docs: adding a note about the azurerm backend/msal to the upgrade guide
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#15598 `azurerm_storage_data_lake_gen2_filesystem` - add supports of `owner` and `group`
  internal/services/storage/storage_data_lake_gen2_filesystem_resource.go
  internal/services/storage/storage_data_lake_gen2_filesystem_resource_test.go
  website/docs/r/storage_data_lake_gen2_filesystem.html.markdown
Labels: enhancement, documentation, service/storage, size/M

#15637 3.0 Test Fixes - Compute
  internal/services/apimanagement/api_management_named_value_resource_test.go
  internal/services/apimanagement/api_management_resource_test.go
  internal/services/bot/bot_channels_registration_resource_test.go
  internal/services/cognitive/cognitive_account_customer_managed_key_resource_test.go
  internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_resource_network_test.go
  internal/services/compute/linux_virtual_machine_resource_orchestrated_test.go
  internal/services/compute/linux_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_network_resource_test.go
  internal/services/compute/managed_disk_data_source_test.go
  internal/services/compute/managed_disk_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
  internal/services/compute/snapshot_data_source_test.go
  internal/services/compute/snapshot_resource_test.go
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_resource_network_test.go
  internal/services/compute/windows_virtual_machine_resource_orchestrated_test.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_images_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_network_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/disks/disk_pool_iscsi_target_lun_resource_test.go
  internal/services/disks/disk_pool_iscsi_target_resource_test.go
  internal/services/disks/disk_pool_managed_disk_attachment_resource_test.go
  internal/services/eventhub/eventhub_namespace_customer_managed_key_resource_test.go
  internal/services/healthcare/healthcare_service_resource_test.go
  internal/services/keyvault/key_vault_certificate_issuer_resource_test.go
  internal/services/keyvault/key_vault_data_source_test.go
  internal/services/kusto/kusto_cluster_customer_managed_key_test.go
  internal/services/legacy/virtual_machine_managed_disks_resource_test.go
  internal/services/legacy/virtual_machine_scale_set_resource_test.go
  internal/services/loganalytics/log_analytics_cluster_customer_managed_key_resource_test.go
  internal/services/maintenance/maintenance_assignment_virtual_machine_scale_set_resource_test.go
  internal/services/mysql/mysql_server_key_resource_test.go
  internal/services/network/application_gateway_resource_test.go
  internal/services/network/express_route_port_resource_test.go
  internal/services/network/network_interface_application_gateway_association_resource_test.go
  internal/services/network/network_interface_application_security_group_association_resource_test.go
  internal/services/network/network_interface_backend_address_pool_association_resource_test.go
  internal/services/network/network_interface_nat_rule_association_resource_test.go
  internal/services/network/network_interface_network_security_group_association_resource_test.go
  internal/services/postgres/postgresql_server_key_resource_test.go
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
  internal/services/recoveryservices/site_recovery_replicated_vm_resource_test.go
  internal/services/resource/template_deployment_resource_test.go
  internal/services/springcloud/spring_cloud_certificate_resource_test.go
  internal/services/storage/storage_account_customer_managed_key_resource_test.go
  internal/services/storage/storage_account_resource_test.go
  internal/services/storage/storage_encryption_scope_resource_test.go
  internal/services/web/app_service_certificate_resource_test.go
Labels: crash, service/disks, service/storage, service/key-vault, size/XL, service/event-hubs, service/cognitive-services, service/postgresql, service/recovery-services, service/mysql, service/api-management, service/log-analytics, tests, service/kusto, service/bots, service/spring, service/healthcare, service/maintenance

#15662 Update doc for MySQL Flexible Server Database
  website/docs/r/mysql_flexible_database.html.markdown
Labels: documentation, size/XS, service/mysql

#14908 add test for azurerm_automation_runbook.tags
  internal/services/automation/automation_runbook_resource_test.go
Labels: size/XS, service/automation, tests

#15661 features: adding a feature-flag placeholder for 4.0 and 4.0 beta
  internal/features/four_point_oh.go
Labels: size/S

#15625 Correcting azurerm_kusto_cluster::streaming_ingest_enabled to streaming_ingestion_enabled
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, size/XS, service/kusto

#14839 Update machine_learning_compute_instance_resource.go
  internal/services/machinelearning/machine_learning_compute_instance_resource.go
Labels: bug, size/XS, service/machine-learning

#15442 Address TODO items in preparation for 3.0 beta (6/many)
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/network/nat_gateway_resource.go
  internal/services/network/network_connection_monitor_resource.go
  internal/services/network/network_interface_application_gateway_association_resource_test.go
  internal/services/network/network_watcher_flow_log_resource.go
  internal/services/network/public_ip_resource_test.go
  internal/services/network/public_ips_data_source.go
  internal/services/network/virtual_hub_connection_resource.go
  internal/services/network/virtual_hub_ip_resource.go
  internal/services/network/virtual_network_gateway_resource.go
  internal/services/network/virtual_network_resource.go
  internal/services/network/virtual_wan_resource.go
  internal/services/policy/policy_definition_resource.go
  internal/services/web/function_app_resource.go
Labels: size/XL, service/cosmosdb, service/policy

#15686 Bug Fix: azurerm_batch_job - Fix failure to create azurerm_batch_job with multiple properties in common_environment_properties
  internal/services/batch/batch_job_resource.go
  internal/services/batch/batch_job_resource_test.go
Labels: bug, size/XS, service/batch

#15618 Fix forces replacement on empty array
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
Labels: bug, size/XS, service/container-group

#15689 Address panic in azurerm_virtual_network_gateway
  internal/services/network/virtual_network_gateway_resource.go
Labels: bug, size/XS, service/virtual-network-gateway

#15623 Enchancement-Make policy assignment `parameters` updatable
  internal/services/policy/assignment_base_resource.go
  website/docs/r/management_group_policy_assignment.html.markdown
  website/docs/r/resource_group_policy_assignment.html.markdown
  website/docs/r/resource_policy_assignment.html.markdown
  website/docs/r/subscription_policy_assignment.html.markdown
Labels: documentation, size/XS, service/policy

#15690 azurerm_api_management_api_operation_policy.operation_id validation too restrictive
  internal/services/apimanagement/validate/api_management.go
  internal/services/apimanagement/validate/api_management_test.go
Labels: size/XS, service/api-management

#15688 `azurerm_synapse_workspace_key` - update example
  website/docs/r/synapse_workspace_keys.html.markdown
Labels: documentation, size/XS, service/synapse

#15659 3.0 Test Fixes - Log Analytics, HDInsight, MSSQL
  internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
  internal/services/hdinsight/hdinsight_hbase_cluster_resource.go
  internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
  internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  internal/services/hdinsight/hdinsight_kafka_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_ml_services_cluster_resource.go
  internal/services/hdinsight/hdinsight_rserver_cluster_resource.go
  internal/services/hdinsight/hdinsight_spark_cluster_resource.go
  internal/services/hdinsight/hdinsight_storm_cluster_resource.go
  internal/services/loganalytics/log_analytics_workspace_resource.go
  internal/services/mssql/mssql_database_resource_test.go
  internal/services/mssql/mssql_server_resource.go
  internal/services/mssql/mssql_server_resource_test.go
Labels: size/L, service/hdinsight, service/mssql, service/log-analytics

#15670 Set key vault id on key import issue #12357
  internal/services/keyvault/key_vault_key_resource.go
Labels: service/key-vault, size/XS

#15654 Case sensitive enums fix - Containers
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
  internal/services/containers/kubernetes_cluster_auth_resource_test.go
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_cluster_scaling_resource_test.go
Labels: size/M, service/container-group, service/kubernetes-cluster

#15532 fix(mssql): retry creating security alert policies when getting datab…
  internal/services/mssql/mssql_database_resource.go
Labels: size/XS, service/mssql

#15497 `azurerm_hdinsight_storm_cluster` - add test for storage_account.storage_resource_id
  internal/services/hdinsight/hdinsight_storm_cluster_resource_test.go
Labels: size/XS, service/hdinsight

#15624 Support enabled property for azurerm_mssql_database_extended_auditing_policy and azurerm_mssql_server_extended_auditing_policy resources
  internal/services/mssql/mssql_database_extended_auditing_policy_resource.go
  internal/services/mssql/mssql_database_extended_auditing_policy_resource_test.go
  internal/services/mssql/mssql_server_extended_auditing_policy_resource.go
  internal/services/mssql/mssql_server_extended_auditing_policy_resource_test.go
  website/docs/r/mssql_database_extended_auditing_policy.html.markdown
  website/docs/r/mssql_server_extended_auditing_policy.html.markdown
Labels: documentation, waiting-response, size/M, service/mssql

#15500 `azurerm_app_service_slot` - add test for action/name/priority/service_tag/headers.x_azure_fdid/x_fd_health_probe/x_forwarded_for/x_forwarded_host
  internal/services/web/app_service_slot_resource_test.go
Labels: size/M, tests

#15517 Logic app access control disappear when modifing workflow steps
  internal/services/logic/logic_app_workflow_resource_test.go
  internal/services/logic/logic_apps.go
Labels: bug, size/S, service/logic

#15605 New Beta Resource - `azurerm_function_app_function`
  internal/services/appservice/function_app_function_resource.go
  internal/services/appservice/function_app_function_resource_test.go
  internal/services/appservice/parse/function_app_function.go
  internal/services/appservice/parse/function_app_function_test.go
  internal/services/appservice/registration.go
  internal/services/appservice/resourceids.go
  internal/services/appservice/testdata/run.csx
  internal/services/appservice/validate/function_app_function_id.go
  internal/services/appservice/validate/function_app_function_id_test.go
  internal/services/appservice/validate/function_app_function_name.go
  internal/services/appservice/validate/function_app_function_name_test.go
  website/docs/r/function_app_function.html.markdown
Labels: documentation, new-resource, size/XL, service/app-service, tests

#15671 Address TODO items in preparation for 3.0 beta (7/many)
  internal/provider/services.go
  internal/services/maintenance/maintenance_assignment_virtual_machine_scale_set_resource_test.go
  internal/services/maintenance/maintenance_configuration_resource.go
  internal/services/network/application_gateway_resource_test.go
  internal/services/network/express_route_port_resource_test.go
  internal/services/network/network_interface_application_gateway_association_resource_test.go
  internal/services/network/network_interface_backend_address_pool_association_resource_test.go
  internal/services/network/public_ip_data_source_test.go
  internal/services/network/public_ip_resource_test.go
  internal/services/network/route_resource_test.go
  internal/services/network/route_table_resource_test.go
  internal/services/network/virtual_hub_ip_resource.go
  internal/services/network/virtual_network_gateway_connection_resource_test.go
  internal/services/network/virtual_network_gateway_resource_test.go
  internal/services/servicebus/servicebus_namespace_authorization_rule_data_source.go
  internal/services/servicebus/servicebus_namespace_authorization_rule_data_source_test.go
  internal/services/servicebus/servicebus_namespace_authorization_rule_resource.go
  internal/services/servicebus/servicebus_namespace_disaster_recovery_config_data_source.go
  internal/services/servicebus/servicebus_namespace_disaster_recovery_config_data_source_test.go
  internal/services/servicebus/servicebus_namespace_network_rule_set_resource.go
  internal/services/servicebus/servicebus_namespace_resource.go
  internal/services/servicebus/servicebus_namespace_resource_test.go
  internal/services/servicebus/servicebus_queue_authorization_rule_data_source.go
  internal/services/servicebus/servicebus_queue_authorization_rule_data_source_test.go
  internal/services/servicebus/servicebus_queue_authorization_rule_resource.go
  internal/services/servicebus/servicebus_queue_authorization_rule_resource_test.go
  internal/services/servicebus/servicebus_queue_data_source.go
  internal/services/servicebus/servicebus_queue_data_source_test.go
  internal/services/servicebus/servicebus_queue_resource.go
  internal/services/servicebus/servicebus_queue_resource_test.go
  internal/services/servicebus/servicebus_subscription_data_source.go
  internal/services/servicebus/servicebus_subscription_data_source_test.go
  internal/services/servicebus/servicebus_subscription_resource.go
  internal/services/servicebus/servicebus_subscription_resource_test.go
  internal/services/servicebus/servicebus_subscription_rule_resource.go
  internal/services/servicebus/servicebus_topic_authorization_rule_data_source.go
  internal/services/servicebus/servicebus_topic_authorization_rule_data_source_test.go
  internal/services/servicebus/servicebus_topic_authorization_rule_resource.go
  internal/services/servicebus/servicebus_topic_data_source.go
  internal/services/servicebus/servicebus_topic_data_source_test.go
  internal/services/servicebus/servicebus_topic_resource.go
  internal/services/servicebus/servicebus_topic_resource_test.go
Labels: size/XL, service/service-bus, service/maintenance

#15584 Data Source `azurerm_kubernetes_cluster` deprecate and remove `addon_profile`, `role_based_access_control` and `private_link_enabled`
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_data_source_test.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, size/XL, service/kubernetes-cluster, deprecation

#15472 `azurerm_function_app` - add test forheaders.x_azure_fdid/x_fd_health_probe/x_forwarded_for/x_forwarded_host/name/priority/service_tag/virtual_network_subnet_id
  internal/services/web/function_app_resource_test.go
Labels: size/M

#15469 `azurerm_function_app_slot` - add test for headers.x_azure_fdid/x_fd_health_probe/x_forwarded_for/x_forwarded_host/service_tag/virtual_network_subnet_id
  internal/services/web/function_app_slot_resource_test.go
Labels: size/L, service/app-service, tests

#15703 Docs: Specify force new behaviour for `public_network_access_enabled` in `azurerm_kubernetes_cluster`
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#15692 3.0 Test Fixes - Purview -> Traffic Manager
  internal/services/purview/purview_account_resource_test.go
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
  internal/services/sentinel/sentinel_automation_rule_resource_test.go
  internal/services/sentinel/sentinel_watchlist_item_resource_test.go
  internal/services/servicebus/servicebus_namespace_resource.go
  internal/services/servicebus/servicebus_namespace_resource_test.go
  internal/services/springcloud/spring_cloud_certificate_resource_test.go
  internal/services/storage/storage_account_network_rules_resource_test.go
  internal/services/storage/storage_account_resource_test.go
  internal/services/storage/storage_encryption_scope_resource_test.go
  internal/services/trafficmanager/azure_endpoint_resource_test.go
  internal/services/trafficmanager/external_endpoint_resource_test.go
  internal/services/trafficmanager/nested_endpoint_resource_test.go
  internal/services/trafficmanager/traffic_manager_endpoint_resource_test.go
  internal/services/trafficmanager/traffic_manager_profile_resource_test.go
Labels: service/storage, size/L, service/traffic-manager, service/service-bus, service/recovery-services, service/spring, service/sentinel, service/purview

#15698 `iothub_resource`wait LRO
  internal/services/iothub/iothub_resource.go
Labels: size/M, service/iot-hub

#15696 `network_profile` wait LRO
  internal/services/network/network_profile_resource.go
Labels: size/XS

#15694 `azurerm_lb_nat_rule` - `frontend_port` and `backend_port` now support `0`
  internal/services/loadbalancer/loadbalancer_nat_rule_resource_test.go
  internal/services/loadbalancer/nat_rule_resource.go
  website/docs/r/lb_nat_rule.html.markdown
Labels: documentation, service/load-balancers, size/M

#15656 `azurerm_backup_protected_vm`: Make `source_vm_id` case-insensitive
  internal/services/recoveryservices/backup_protected_vm_resource.go
Labels: size/XS, service/recovery-services

#15714 `azurerm_postgresql_server` - update document link
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, size/XS, service/postgresql

#15668 add 3.0 conditional deprecations to web
  internal/services/web/app_service_active_slot_resource.go
  internal/services/web/app_service_data_source.go
  internal/services/web/app_service_plan_data_source.go
  internal/services/web/app_service_plan_resource.go
  internal/services/web/app_service_resource.go
  internal/services/web/app_service_slot_resource.go
  internal/services/web/app_service_source_control_token_resource.go
  internal/services/web/function_app_data_source.go
  internal/services/web/function_app_resource.go
  internal/services/web/function_app_slot_resource.go
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, size/XL, deprecation

#15702 New Beta Resources: `azurerm_function_app_hybrid_connection` and `azurerm_web_app_hybrid_connection`
  internal/services/appservice/function_app_hybrid_connection_resource.go
  internal/services/appservice/function_app_hybrid_connection_resource_test.go
  internal/services/appservice/helpers/hybrid_connection.go
  internal/services/appservice/helpers/service_plan.go
  internal/services/appservice/helpers/service_plan_test.go
  internal/services/appservice/parse/app_hybrid_connection.go
  internal/services/appservice/parse/app_hybrid_connection_test.go
  internal/services/appservice/registration.go
  internal/services/appservice/resourceids.go
  internal/services/appservice/service_plan_resource.go
  internal/services/appservice/validate/app_hybrid_connection_id.go
  internal/services/appservice/validate/app_hybrid_connection_id_test.go
  internal/services/appservice/web_app_hybrid_connection_resource.go
  internal/services/appservice/web_app_hybrid_connection_resource_test.go
  internal/services/web/app_service_hybrid_connection_resource.go
  website/docs/guides/3.0-app-service-beta.html.markdown
  website/docs/guides/3.0-upgrade-guide.html.markdown
  website/docs/r/function_app_hybrid_connection.html.markdown
  website/docs/r/web_app_hybrid_connection.html.markdown
Labels: documentation, size/XL, service/app-service, tests

#15650 r/virtual_machine_scale_set: deprecating the legacy VM Scale Set resource
  internal/services/legacy/virtual_machine_scale_set_resource.go
  website/docs/guides/3.0-upgrade-guide.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#15546 `azurerm_kubernetes_cluster` deprecate and remove `role_based_access_control` block and `private_link_enabled`
  internal/services/containers/kubernetes_cluster_auth_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/migration/kubernetes_cluster.go
  website/docs/guides/3.0-upgrade-guide.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XL, service/kubernetes-cluster

#15676 Deprecation of `sql` package for v3.0
  internal/services/sql/sql_administrator_resource.go
  internal/services/sql/sql_database_data_source.go
  internal/services/sql/sql_database_resource.go
  internal/services/sql/sql_elasticpool_resource.go
  internal/services/sql/sql_failover_group_resource.go
  internal/services/sql/sql_firewall_rule_resource.go
  internal/services/sql/sql_managed_database_resource.go
  internal/services/sql/sql_managed_instance_administrator_resource.go
  internal/services/sql/sql_managed_instance_data_source.go
  internal/services/sql/sql_managed_instance_failover_group_resource.go
  internal/services/sql/sql_managed_instance_resource.go
  internal/services/sql/sql_server_data_source.go
  internal/services/sql/sql_server_resource.go
  internal/services/sql/sql_virtual_network_rule_resource.go
  website/docs/d/sql_database.html.markdown
  website/docs/d/sql_managed_instance.html.markdown
  website/docs/d/sql_server.html.markdown
  website/docs/r/sql_active_directory_administrator.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_elasticpool.html.markdown
  website/docs/r/sql_failover_group.html.markdown
  website/docs/r/sql_firewall_rule.html.markdown
  website/docs/r/sql_managed_database.html.markdown
  website/docs/r/sql_managed_instance.html.markdown
  website/docs/r/sql_managed_instance_active_directory_administrator.html.markdown
  website/docs/r/sql_managed_instance_failover_group.html.markdown
  website/docs/r/sql_server.html.markdown
  website/docs/r/sql_virtual_network_rule.html.markdown
Labels: documentation, size/M, deprecation, service/sql

#15035 New Resource: azurerm_cosmosdb_sql_role_definition
  internal/services/cosmos/cosmosdb_sql_role_definition_resource.go
  internal/services/cosmos/cosmosdb_sql_role_definition_resource_test.go
  internal/services/cosmos/parse/sql_role_definition.go
  internal/services/cosmos/parse/sql_role_definition_test.go
  internal/services/cosmos/registration.go
  internal/services/cosmos/resourceids.go
  internal/services/cosmos/validate/sql_role_definition_id.go
  internal/services/cosmos/validate/sql_role_definition_id_test.go
  website/docs/r/cosmosdb_sql_role_definition.html.markdown
Labels: documentation, size/XL, service/cosmosdb

#14183 Upgrade blob inventory policy API to 2021-04-01
  internal/services/storage/client/client.go
  internal/services/storage/storage_blob_inventory_policy_resource.go
  internal/services/storage/storage_blob_inventory_policy_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/blobcontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/blobinventorypolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/blobservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/deletedaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/encryptionscopes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/fileservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/fileshares.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/managementpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/objectreplicationpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/queue.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/queueservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/table.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/tableservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-01-01/storage/version.go
  vendor/modules.txt
  website/docs/r/storage_blob_inventory_policy.html.markdown
Labels: documentation, dependencies, service/storage, size/XL

#15460 website: example of python function app
  website/docs/r/function_app.html.markdown
Labels: documentation, waiting-response, size/S

#15519 Fix refresh failure of removed `azurerm_logic_app_trigger_http_request`
  internal/services/logic/logic_apps.go
Labels: size/XS, service/logic

#15642 Wait LRO for automation resources
  internal/services/automation/automation_dsc_nodeconfiguration_resource.go
  internal/services/automation/automation_runbook_resource.go
Labels: size/XS, service/automation

#15717 `key_vault_resource` wait LRO
  internal/services/keyvault/key_vault_resource.go
Labels: service/key-vault, size/XS

#15036 `azurerm_container_registry`: add support of `export_policy_enabled`
  internal/services/containers/container_registry_resource.go
  internal/services/containers/container_registry_resource_test.go
  website/docs/r/container_registry.html.markdown
Labels: enhancement, documentation, size/S, service/container-registry

#15729 `dependency` Fix compute vendor mod
  internal/services/compute/shared_image_gallery_data_source.go
  internal/services/compute/shared_image_gallery_resource.go
  internal/services/compute/shared_image_gallery_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-11-01/compute/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-11-01/compute/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-11-01/compute/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-11-01/compute/galleries.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-11-01/compute/galleryapplications.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-11-01/compute/galleryapplicationversions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-11-01/compute/galleryimages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-11-01/compute/galleryimageversions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-11-01/compute/gallerysharingprofile.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-11-01/compute/models.go
Labels: dependencies, size/XL

#15700 [3.0 Beta] TODO changes for hdinsight
  internal/services/hdinsight/client/client.go
  internal/services/hdinsight/hdinsight_hadoop_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_hbase_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_interactive_query_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  internal/services/hdinsight/hdinsight_kafka_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_ml_services_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_rserver_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_spark_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_storm_cluster_resource_test.go
  internal/services/hdinsight/schema.go
Labels: enhancement, size/XL, service/hdinsight

#15725 Bugfix: fix broken read func for mssql_managed_instance_active_directory_administrator
  internal/services/mssql/mssql_managed_instance_active_directory_administrator_resource.go
Labels: bug, size/XS, service/mssql

#15706 [3.0 Beta] TODO changes for netapp
  internal/services/netapp/netapp_snapshot_resource.go
  internal/services/netapp/netapp_volume_data_source.go
  internal/services/netapp/netapp_volume_resource.go
Labels: enhancement, size/XL, service/netapp

#14749 Support customer managed keys for azurerm_batch_account
  internal/services/batch/batch_account_data_source.go
  internal/services/batch/batch_account_data_source_test.go
  internal/services/batch/batch_account_resource.go
  internal/services/batch/batch_account_resource_test.go
  website/docs/r/batch_account.html.markdown
Labels: enhancement, documentation, size/XL, service/batch

#15732 tests: fix tests in container package for 3.0
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
  internal/services/containers/container_registry_data_source.go
  internal/services/containers/container_registry_resource_test.go
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_scaling_resource_test.go
Labels: size/L, service/container-group, service/kubernetes-cluster, service/container-registry, tests

#15699 Address TODO items in preparation for 3.0 beta (8/many)
  internal/services/apimanagement/api_management_custom_domain_resource.go
  internal/services/apimanagement/api_management_custom_domain_resource_test.go
  internal/services/batch/batch_pool_data_source.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/containers/kubernetes_addons.go
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/devspace/registration.go
Labels: enhancement, size/L, service/api-management, service/batch

#15744 Fix schema issue with api_management_custom_domain resource
  internal/services/apimanagement/api_management_custom_domain_resource.go
Labels: size/XS, service/api-management

#15718 refactor: more 3.0 prep
  internal/clients/auth.go
  internal/common/client_options.go
  internal/provider/provider.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_web_app_data_source_test.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/datalake/data_lake_store_file_resource.go
  internal/services/datalake/data_lake_store_firewall_rule_resource.go
  internal/services/datalake/data_lake_store_resource.go
  internal/services/datalake/data_lake_store_virtual_network_rule_resource.go
  internal/services/datalake/registration.go
  internal/services/desktopvirtualization/virtual_desktop_application_group_resource.go
  internal/services/devspace/client/client.go
  internal/services/devspace/registration.go
  internal/services/loadbalancer/loadbalancer_resource.go
  internal/services/loganalytics/resourceids.go
  internal/services/machinelearning/registration.go
  internal/services/network/public_ip_prefix_resource.go
  internal/services/network/public_ip_resource.go
  internal/services/postgres/postgresql_server_resource.go
  internal/services/redis/redis_firewall_rule_resource.go
  internal/services/redisenterprise/redis_enterprise_database_data_source.go
  internal/services/redisenterprise/redis_enterprise_database_resource.go
  internal/services/servicebus/servicebus_namespace_network_rule_set_resource.go
  internal/services/storage/storage_account_customer_managed_key_resource_test.go
  internal/services/storage/storage_account_resource_test.go
  internal/services/trafficmanager/parse/endpoint_type.go
  internal/services/trafficmanager/traffic_manager_endpoint_resource.go
  internal/services/web/app_service_environment_resource.go
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, service/load-balancers, service/storage, size/L, service/app-service, service/traffic-manager, service/service-bus, service/redis, service/postgresql, service/data-lake, service/log-analytics, refactor, service/machine-learning, service/virtual-desktops

#15763 `azurerm_function_app_function` - (beta resource) fixes validation method on `function_id` schema item
  internal/services/appservice/function_app_function_resource.go
Labels: size/XS, service/app-service

#15779 Fixing Load Balancer documentation
  website/docs/r/lb.html.markdown
Labels: documentation, service/load-balancers, size/XS

#15773 docs: Typo
  website/docs/r/role_definition.html.markdown
Labels: documentation, size/XS

#15735 Beta Fixes - Function Apps `app_settings` / `storage_uses_managed_identity` bugs
  internal/services/appservice/helpers/shared_schema.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
Labels: size/L, service/app-service

#15767 update 'web' accTest start time and schedule
  .teamcity/components/settings.kt
Labels: size/XS, tests

#15766 remove old resource rename doc
  website/docs/guides/migrating-between-renamed-resources.html.markdown
Labels: documentation, size/M

#15771 azurerm_mssql_server: make the SQL administrator optional when using AAD-only authentication
  internal/services/mssql/mssql_server_resource.go
  internal/services/mssql/mssql_server_resource_test.go
  website/docs/r/mssql_server.html.markdown
Labels: enhancement, documentation, size/M, service/mssql

#15761 Final sweep of straightforward TODO changes for 3.0
  internal/provider/features.go
  internal/services/containers/kubernetes_cluster_auth_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/cosmos/common/indexing_policy.go
  internal/services/cosmos/common/schema.go
  internal/services/cosmos/cosmosdb_gremlin_graph_resource.go
  internal/services/cosmos/cosmosdb_gremlin_graph_resource_test.go
  internal/services/cosmos/cosmosdb_sql_container_resource_test.go
  internal/services/iothub/iothub_resource.go
  internal/services/keyvault/key_vault_key_resource.go
  internal/services/network/migration/network_watcher_flow_log.go
  internal/services/portal/portal_dashboard_data_source_test.go
  internal/services/portal/portal_dashboard_resource_test.go
  internal/services/portal/registration.go
  internal/services/postgres/postgresql_server_resource.go
  internal/services/redisenterprise/redis_enterprise_database_data_source.go
  internal/services/redisenterprise/redis_enterprise_database_resource.go
Labels: service/key-vault, size/XL, service/cosmosdb, service/redis, service/iot-hub, service/postgresql, service/portal

#15739 Address TODO items for storage package
  internal/services/storage/storage_blob_inventory_policy_resource.go
  internal/services/storage/storage_management_policy_resource.go
Labels: enhancement, service/storage, size/L

#15785 `netapp_pool` wait LRO
  internal/services/netapp/netapp_pool_resource.go
Labels: size/XS, service/netapp

#15757 Support cross region restore on azurerm_recovery_service_vault
  internal/services/recoveryservices/recovery_services_vault_resource.go
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
  website/docs/r/recovery_services_vault.html.markdown
Labels: documentation, size/M, service/recovery-services

#15781 `mssql/mssql_virtual_network_rule` wait LRO
  internal/services/mssql/mssql_virtual_network_rule_resource.go
Labels: size/S, service/mssql

#15038 New Resource: azurerm_cosmosdb_sql_role_assignment
  internal/services/cosmos/cosmosdb_sql_role_assignment_resource.go
  internal/services/cosmos/cosmosdb_sql_role_assignment_resource_test.go
  internal/services/cosmos/cosmosdb_sql_role_definition_resource.go
  internal/services/cosmos/parse/sql_role_assignment.go
  internal/services/cosmos/parse/sql_role_assignment_test.go
  internal/services/cosmos/registration.go
  internal/services/cosmos/resourceids.go
  internal/services/cosmos/validate/sql_role_assignment_id.go
  internal/services/cosmos/validate/sql_role_assignment_id_test.go
  website/docs/r/cosmosdb_sql_role_assignment.html.markdown
Labels: documentation, size/XL, service/cosmosdb

#15738 data.azurerm_active_directory_domain_service: correct documentation for the `replica_sets` block
  website/docs/d/active_directory_domain_service.html.markdown
Labels: documentation, size/XS

#15796 3.0 Test Fixes - any test using KeyVault
  internal/services/apimanagement/api_management_named_value_resource_test.go
  internal/services/apimanagement/api_management_resource_test.go
  internal/services/batch/batch_account_resource_test.go
  internal/services/cognitive/cognitive_account_customer_managed_key_resource_test.go
  internal/services/cognitive/cognitive_account_resource_test.go
  internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  internal/services/compute/linux_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_extensions_test.go
  internal/services/compute/managed_disk_resource_test.go
  internal/services/compute/snapshot_resource_test.go
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_extensions_test.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  internal/services/datafactory/data_factory_resource_test.go
  internal/services/eventhub/eventhub_namespace_customer_managed_key_resource_test.go
  internal/services/healthcare/healthcare_service_resource_test.go
  internal/services/kusto/kusto_cluster_customer_managed_key_test.go
  internal/services/legacy/virtual_machine_managed_disks_resource_test.go
  internal/services/machinelearning/machine_learning_workspace_resource_test.go
  internal/services/mssql/mssql_virtual_machine_resource_test.go
  internal/services/mysql/mysql_server_key_resource_test.go
  internal/services/postgres/postgresql_server_key_resource_test.go
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
  internal/services/recoveryservices/site_recovery_replicated_vm_resource_test.go
  internal/services/storage/storage_account_customer_managed_key_resource_test.go
  internal/services/storage/storage_account_resource_test.go
  internal/services/synapse/synapse_private_link_hub_resource_test.go
  internal/services/synapse/synapse_workspace_aad_admin_resource_test.go
  internal/services/synapse/synapse_workspace_key_resource_test.go
  internal/services/synapse/synapse_workspace_resource_test.go
  internal/services/synapse/synapse_workspace_sql_aad_admin_resource_test.go
Labels: service/storage, size/L, service/mssql, service/event-hubs, service/cosmosdb, service/cognitive-services, service/postgresql, service/recovery-services, service/mysql, service/api-management, service/data-factory, service/batch, service/machine-learning, service/kusto, service/healthcare, service/synapse

#15742 Windows VMSS: allow prefix end with dashes
  internal/services/compute/validate/windows_computer_name.go
  internal/services/compute/validate/windows_computer_name_test.go
Labels: size/XS

#15764 `sql_virtual_network_rule_resource` wait LRO
  internal/services/sql/sql_virtual_network_rule_resource.go
Labels: size/S, service/sql

#15730 `subnet_service_endpoint_storage_policy` wait LRO
  internal/services/network/subnet_service_endpoint_storage_policy_resource.go
Labels: size/XS

#15798 Fix document typos error
  website/docs/r/machine_learning_workspace.html.markdown
Labels: documentation, size/XS, service/machine-learning

#15801 docs: correct long_term_retention_policy section
  website/docs/r/mssql_database.html.markdown
Labels: documentation, size/XS

#15812 3.0 Various Test Fixes
  internal/services/advisor/advisor_recommendations_data_source_test.go
  internal/services/cdn/cdn_profile_resource_test.go
  internal/services/eventhub/eventhub_namespace_customer_managed_key_resource_test.go
  internal/services/eventhub/eventhub_namespace_resource_test.go
  internal/services/firewall/firewall_policy_resource_test.go
  internal/services/frontdoor/frontdoor_resource_test.go
  internal/services/hdinsight/hdinsight_cluster_data_source_test.go
  internal/services/hdinsight/hdinsight_ml_services_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_rserver_cluster_resource_test.go
  internal/services/keyvault/key_vault_access_policy_resource_test.go
  internal/services/kusto/kusto_database_principal_resource_test.go
  internal/services/loganalytics/log_analytics_datasource_windows_event_resource.go
  internal/services/loganalytics/log_analytics_datasource_windows_event_resource_test.go
  internal/services/logz/logz_monitor_resource_test.go
  internal/services/logz/logz_tag_rule_resource_test.go
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/notificationhub/notification_hub_namespace_resource.go
  internal/services/policy/policy_set_definition_resource_test.go
  internal/services/postgres/postgresql_server_resource_test.go
  internal/services/redis/redis_cache_resource_test.go
  internal/services/securitycenter/security_center_automation_resource_test.go
  internal/services/servicefabric/service_fabric_cluster_resource_test.go
  internal/services/springcloud/spring_cloud_app_cosmosdb_association_resource_test.go
  internal/services/springcloud/spring_cloud_java_deployment_resource.go
  internal/services/springcloud/spring_cloud_java_deployment_resource_test.go
  internal/services/trafficmanager/traffic_manager_endpoint_resource_test.go
  internal/services/trafficmanager/traffic_manager_profile_resource_test.go
  website/docs/r/log_analytics_datasource_windows_event.html.markdown
Labels: documentation, service/key-vault, size/XL, service/hdinsight, service/event-hubs, service/traffic-manager, service/redis, service/cdn, service/postgresql, service/policy, service/service-fabric, service/firewall, service/notifications, service/security-center, service/log-analytics, service/frontdoor, service/machine-learning, service/kusto, service/spring, service/advisor, service/logz

#15559 add `delivery_property` to `azurerm_eventgrid_system_topic_event_subscription`
  internal/services/eventgrid/eventgrid_system_topic_event_subscription_resource.go
  internal/services/eventgrid/eventgrid_system_topic_event_subscription_resource_test.go
  website/docs/r/eventgrid_system_topic_event_subscription.html.markdown
Labels: enhancement, documentation, size/XL, service/event-grid

#15822 `azurerm_kubernetes_cluster` remove references to deprecated blocks
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#15719 r/network_security_rule: removing the locks by default in 3.0
  internal/features/defaults.go
  internal/features/user_flags.go
  internal/provider/features.go
  internal/provider/features_test.go
  internal/services/network/network_security_rule_resource.go
Labels: service/network-security, size/M, refactor

#15802 docs: fix server reference example
  website/docs/r/mysql_flexible_server_configuration.html.markdown
Labels: documentation, size/XS, service/mysql

#15755 `vpn_gateway` wait LRO
  internal/services/network/vpn_gateway_resource.go
Labels: enhancement, size/XS, service/vpn

#15498 `azurerm_hdinsight_rserver_cluster` - add test for storage_account.storage_resource_id
  internal/services/hdinsight/hdinsight_rserver_cluster_resource_test.go
Labels: size/XS, service/hdinsight

#15736 azurerm_cosmosdb_mongo_collection: Fix the issue that expireAfterSeconds property could not be set to -1
  internal/services/cosmos/cosmosdb_mongo_collection_resource.go
  internal/services/cosmos/cosmosdb_mongo_collection_resource_test.go
  website/docs/r/cosmosdb_mongo_collection.html.markdown
Labels: documentation, size/S, service/cosmosdb

#15859 log analytics cluster docs: Removed outdated capacity constraints message
  website/docs/r/log_analytics_cluster.html.markdown
Labels: documentation, size/XS

#15831 New Resource: azurerm_stream_analytics_function_javascript_uda
  internal/services/streamanalytics/registration.go
  internal/services/streamanalytics/stream_analytics_function_javascript_uda_resource.go
  internal/services/streamanalytics/stream_analytics_function_javascript_uda_resource_test.go
  internal/services/streamanalytics/validate/function_name.go
  internal/services/streamanalytics/validate/function_name_test.go
  website/docs/r/stream_analytics_function_javascript_uda.html.markdown
Labels: documentation, new-resource, size/XL, service/stream-analytics

#15867 function apps: updating the read timeout to 5m
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_slot_resource.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
Labels: bug, documentation, size/XS, service/app-service, service/functions

#15793 `azurerm_[linux|windows]_function_app` and `azurerm_[linux|windows]_function_app_slot` - support Key Vault Secret for storage connection string
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/linux_function_app_data_source.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_data_source.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  website/docs/d/linux_function_app.html.markdown
  website/docs/d/windows_function_app.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service

#15878 `azurerm_kubernetes_cluster` - Allow key vault provider and open service mesh in China and Government
  internal/services/containers/kubernetes_addons.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/XS, service/kubernetes-cluster

#15881 `azurerm_kubernetes_cluster` - kube_config and kube_admin_config blocks now marked entirely as Sensitive
  internal/services/containers/kubernetes_cluster_auth_resource_test.go
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/L, service/kubernetes-cluster

#15874 `r\iothub`: Add support for identity-based `file_upload`
  internal/services/iothub/iothub_resource.go
  internal/services/iothub/iothub_resource_test.go
  website/docs/r/iothub.html.markdown
Labels: enhancement, documentation, size/XL, service/iot-hub

#15889 dependencies: upgrading to `v0.26.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/edge_zone.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/edgezones/normalize.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/edgezones/schema.go
  vendor/modules.txt
Labels: dependencies, size/M

#15834 `azurerm_static_site` - `identity` supports `SystemAssigned, UserAssigned`
  internal/services/web/static_site_resource.go
  internal/services/web/static_site_resource_test.go
  website/docs/r/static_site.html.markdown
Labels: enhancement, documentation, size/XS, service/static-site

#15860 3.0 `azurerm_policy_remediation` split into `azurerm_management_group_policy_remediation`, `azurerm_resource_policy_remediation`, `azurerm_resource_group_policy_remediation` and `azurerm_subscription_policy_remediation`
  internal/services/policy/parse/resource_group_policy_remediation.go
  internal/services/policy/parse/resource_group_policy_remediation_test.go
  internal/services/policy/parse/resource_policy_remediation.go
  internal/services/policy/parse/resource_policy_remediation_test.go
  internal/services/policy/parse/subscription_policy_remediation.go
  internal/services/policy/parse/subscription_policy_remediation_test.go
  internal/services/policy/policy_remediation_resource.go
  internal/services/policy/policy_remediation_resource_test.go
  internal/services/policy/registration.go
  internal/services/policy/remediation_management_group.go
  internal/services/policy/remediation_management_group_test.go
  internal/services/policy/remediation_resource.go
  internal/services/policy/remediation_resource_group.go
  internal/services/policy/remediation_resource_group_test.go
  internal/services/policy/remediation_resource_test.go
  internal/services/policy/remediation_subscription.go
  internal/services/policy/remediation_subscription_test.go
  internal/services/policy/resourceids.go
  internal/services/policy/validate/resource_group_policy_remediation_id.go
  internal/services/policy/validate/resource_group_policy_remediation_id_test.go
  internal/services/policy/validate/subscription_policy_remediation_id.go
  internal/services/policy/validate/subscription_policy_remediation_id_test.go
  website/docs/guides/3.0-upgrade-guide.html.markdown
  website/docs/r/policy_management_group_policy_remediation.html.markdown
  website/docs/r/policy_resource_group_policy_remediation.html.markdown
  website/docs/r/policy_resource_policy_remediation.html.markdown
  website/docs/r/policy_subscription_policy_remediation.html.markdown
Labels: documentation, size/XL, service/policy

#15877 `recovery_services_vault` waitLRO
  internal/services/recoveryservices/recovery_services_vault_resource.go
Labels: size/XS, service/recovery-services

#15870 Fix TC TestAccPostgreSQLServer_createPointInTimeRestore
  internal/services/postgres/postgresql_server_resource_test.go
Labels: size/XS, service/postgresql

#15864 Update resource name
  website/docs/r/synapse_workspace_key.html.markdown
Labels: documentation, size/XS

#15862 Add lock for azurerm_cosmosdb_sql_role_assignment and azurerm_cosmosdb_sql_role_definition
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_sql_role_assignment_resource.go
  internal/services/cosmos/cosmosdb_sql_role_assignment_resource_test.go
  internal/services/cosmos/cosmosdb_sql_role_definition_resource.go
  internal/services/cosmos/cosmosdb_sql_role_definition_resource_test.go
Labels: size/M, service/cosmosdb

#15847 `azurerm_container_registry` - Validate `georepliactions` to ensure it does not include the location of the ACR
  internal/services/containers/container_registry_resource.go
  website/docs/r/container_registry.html.markdown
Labels: documentation, size/XS, service/container-registry

#15838 `spring_cloud_app_mysql_association_resource` wait LRO
  internal/services/springcloud/spring_cloud_app_mysql_association_resource.go
Labels: size/XS, service/spring

#15836 `spring_cloud_app_redis_association_resource` wait LRO
  internal/services/springcloud/spring_cloud_app_redis_association_resource.go
Labels: size/XS, service/spring

#15833 `spring_cloud_java_deployment_resource` wait LRO
  internal/services/springcloud/spring_cloud_java_deployment_resource.go
  internal/services/springcloud/spring_cloud_java_deployment_resource_test.go
Labels: size/XS, service/spring

#15876 Fix iothub docs
  website/docs/r/iothub.html.markdown
Labels: documentation, size/S

#15826 CI - enable acctest distribution across subscriptions and enable location rotation
  .teamcity/components/build_azure.kt
  .teamcity/components/project.kt
  .teamcity/components/settings.kt
Labels: size/XS, tooling

#15883 add missed update properties in win web and win web slot
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_slot_resource.go
Labels: size/XS, service/app-service

#15884 `azurerm_windows_function_app` node version validation strings.
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/windows_function_app_resource_test.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/windows_function_app.html.markdown
Labels: documentation, size/S, service/app-service

#15912 `azurerm_windows_web_app` - correct 32bit worker property name in docs
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, size/XS

#15908 update docs for app service 3.0 deprecations
  website/docs/d/app_service.html.markdown
  website/docs/d/app_service_plan.html.markdown
  website/docs/d/function_app.html.markdown
  website/docs/d/linux_function_app.html.markdown
  website/docs/d/linux_web_app.html.markdown
  website/docs/d/service_plan.html.markdown
  website/docs/d/source_control_token.html.markdown
  website/docs/d/windows_function_app.html.markdown
  website/docs/d/windows_web_app.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_active_slot.html.markdown
  website/docs/r/app_service_hybrid_connection.html.markdown
  website/docs/r/app_service_plan.html.markdown
  website/docs/r/app_service_slot.html.markdown
  website/docs/r/app_service_source_control.html.markdown
  website/docs/r/app_service_source_control_slot.html.markdown
  website/docs/r/app_service_source_control_token.html.markdown
  website/docs/r/function_app.html.markdown
  website/docs/r/function_app_slot.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/service_plan.html.markdown
  website/docs/r/source_control_token.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/M

#15903 fix: remove deprecated property from documentation
  website/docs/r/firewall_policy.html.markdown
Labels: documentation, size/XS

#15839 refactor: switching more resources over to using ID Parsers
  internal/services/eventgrid/eventgrid_event_subscription_resource.go
  internal/services/eventgrid/parse/event_subscription.go
  internal/services/lighthouse/lighthouse_assignment_resource.go
  internal/services/lighthouse/lighthouse_definition_resource.go
  internal/services/lighthouse/parse/lighthouse_assignment.go
  internal/services/lighthouse/parse/lighthouse_definition.go
  internal/services/loganalytics/log_analytics_saved_search_resource.go
  internal/services/loganalytics/migration/saved_search_v0_to_v1.go
  internal/services/loganalytics/suppress/log_analytics_cluster.go
  internal/services/loganalytics/suppress/log_analytics_cluster_test.go
  internal/services/network/private_endpoint_connection_data_source.go
  internal/services/network/private_endpoint_resource.go
Labels: size/XL, service/event-grid, service/log-analytics, refactor, service/lighthouse

#14027 `azurerm_eventhub_namespace` - Swap TypeList to TypeSet for `network_rulesets.x.virtual_network_rule`
  internal/services/eventhub/eventhub_namespace_resource.go
  internal/services/eventhub/eventhub_namespace_resource_test.go
Labels: bug, breaking-change, size/S, service/event-hubs

#15916 Add upgrade note for #14027
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#15501 `r\site_recovery_replicated_vm`: Fix issue of `create` depending on `update` timeout
  internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
Labels: size/XS, service/recovery-services

#14933 `r\linux_virtual_machine` `r\windows_virual_machine`: Add support for `termination_notification`
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  internal/services/compute/virtual_machine.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XL

#15153 azurerm_virtual_network - add vnet_peering_address_list as datasource output for vnet
  internal/services/network/virtual_network_data_source.go
  internal/services/network/virtual_network_data_source_test.go
  website/docs/d/virtual_network.html.markdown
Labels: enhancement, documentation, service/virtual-networks, size/XS

#15845 Support user assigned identitied in api_management_custom_domain
  internal/services/apimanagement/api_management_custom_domain_resource.go
  internal/services/apimanagement/api_management_custom_domain_resource_test.go
Labels: bug, size/M, service/api-management

#15863 Data Source: azurerm_storage_account_sas - support for tag and filter
  internal/services/storage/storage_account_sas_data_source.go
  internal/services/storage/storage_account_sas_data_source_test.go
  website/docs/d/storage_account_sas.html.markdown
Labels: documentation, service/storage, size/XS

#15008 Firewall rule related resources change block type from `Set` to `List`
  internal/services/firewall/firewall_application_rule_collection_resource.go
  internal/services/firewall/firewall_application_rule_collection_resource_test.go
  internal/services/firewall/firewall_nat_rule_collection_resource.go
  internal/services/firewall/firewall_nat_rule_collection_resource_test.go
  internal/services/firewall/firewall_network_rule_collection_resource.go
  internal/services/firewall/firewall_network_rule_collection_resource_test.go
  internal/services/firewall/firewall_policy_rule_collection_group_resource.go
  internal/services/firewall/firewall_policy_rule_collection_group_resource_test.go
Labels: enhancement, breaking-change, size/XL, service/firewall

#15911 App Service Tests: update blob access property name in template
  internal/services/appservice/function_app_active_slot_resource_test.go
Labels: size/XS, service/app-service, tests

#15930 Bug Fix: azurerm_eventhub - Crash when capture_description of azurerm_eventhub removed
  internal/services/eventhub/eventhub_resource.go
Labels: bug, size/XS, service/event-hubs

#15873 New Data Source: `azurerm_key_vault_encrypted_value`
  internal/provider/services.go
  internal/services/keyvault/encrypted_value_data_source.go
  internal/services/keyvault/encrypted_value_data_source_test.go
  internal/services/keyvault/registration.go
  website/docs/d/key_vault_encrypted_value.html.markdown
Labels: documentation, new-data-source, service/key-vault, size/L

#15927 Upgrading go SDK from v62.1.0 to v62.3.0
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/services/provisioningservices/mgmt/2021-10-15/iothub/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
Labels: dependencies, size/XS

#15931 Data factory: fix failing tests
  internal/services/datafactory/data_factory_dataset_delimited_text_resource_test.go
  internal/services/datafactory/data_factory_linked_service_data_lake_storage_gen2_resource_test.go
  internal/services/datafactory/data_factory_resource.go
  internal/services/datafactory/data_factory_resource_test.go
  internal/services/datafactory/data_factory_trigger_schedule_resource.go
  website/docs/guides/3.0-upgrade-guide.html.markdown
  website/docs/r/data_factory.html.markdown
Labels: documentation, size/XL, service/data-factory, tests

#15935 CI - remove spaces from cron days for `web`
  .teamcity/components/settings.kt
Labels: size/XS

#15929 3.0 Add firewall note to upgrade guide
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#15875 Fix TC for MySql Flexible Server and Flexible Database
  internal/services/mysql/mysql_flexible_database_resource_test.go
  internal/services/mysql/mysql_flexible_server_configuration_resource_test.go
  internal/services/mysql/mysql_flexible_server_data_source_test.go
  internal/services/mysql/mysql_flexible_server_firewall_rule_resource_test.go
  internal/services/mysql/mysql_flexible_server_resource_test.go
Labels: size/XS, service/mysql, tests

#15899 fix failed testcases in Synapse
  internal/services/synapse/synapse_firewall_rule_resource_test.go
  internal/services/synapse/synapse_integration_runtime_azure_resource_test.go
  internal/services/synapse/synapse_integration_runtime_self_hosted_resource_test.go
  internal/services/synapse/synapse_linked_service_resource_test.go
  internal/services/synapse/synapse_managed_private_endpoint_resource_test.go
  internal/services/synapse/synapse_role_assignment_resource_test.go
  internal/services/synapse/synapse_spark_pool_resource_test.go
  internal/services/synapse/synapse_sql_pool_extended_auditing_policy_resource_test.go
  internal/services/synapse/synapse_sql_pool_resource_test.go
  internal/services/synapse/synapse_sql_pool_security_alert_policy_resource_test.go
  internal/services/synapse/synapse_sql_pool_vulnerability_assessment_baseline_resource_test.go
  internal/services/synapse/synapse_sql_pool_vulnerability_assessment_resource_test.go
  internal/services/synapse/synapse_sql_pool_workload_classifier_resource_test.go
  internal/services/synapse/synapse_sql_pool_workload_group_resource_test.go
  internal/services/synapse/synapse_workspace_aad_admin_resource_test.go
  internal/services/synapse/synapse_workspace_extended_auditing_policy_resource_test.go
  internal/services/synapse/synapse_workspace_key_resource_test.go
  internal/services/synapse/synapse_workspace_resource_test.go
  internal/services/synapse/synapse_workspace_security_alert_policy_resource_test.go
  internal/services/synapse/synapse_workspace_sql_aad_admin_resource_test.go
  internal/services/synapse/synapse_workspace_vulnerability_assessment_resource_test.go
Labels: size/XL, service/synapse

#15934 tests - rename all remaining blob access properties
  internal/services/batch/batch_pool_resource_test.go
  internal/services/compute/image_data_source_test.go
  internal/services/compute/image_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_images_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_images_resource_test.go
  internal/services/logic/logic_app_integration_account_assembly_resource_test.go
  internal/services/storage/storage_account_resource_test.go
  internal/services/storage/storage_blob_resource_test.go
  internal/services/storage/storage_container_resource_test.go
Labels: service/storage, size/M, service/logic, service/batch, tests

#15928 `azurerm_cdn_endpoint` add test for global_delivery_rule.cache_key_query_string_action/modify_request_header_action/url_redirect_action/url_rewrite_action
  internal/services/cdn/cdn_endpoint_resource_test.go
Labels: size/S, service/cdn, tests

#15829 fix import a connected synapse workspace
  internal/services/synapse/synapse_workspace_resource.go
Labels: size/XS, service/synapse

#15940 APIM - add missing proxy property to docs
  website/docs/r/api_management.html.markdown
Labels: documentation, size/XS, service/api-management

#15925 Fix auto_swap_slot_name missing from app_service_slot documentation
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, size/XS

#15424 `azurerm_subnet` - Swap `service_endpoints` from TypeList to TypeSet
  internal/services/network/subnet_data_source.go
  internal/services/network/subnet_resource.go
Labels: breaking-change, service/subnets, size/S

#15403 `s\recoveryservices` `s\loganalytics`: Deprecate unsupported tags
  internal/services/loganalytics/log_analytics_linked_service_resource.go
  internal/services/loganalytics/log_analytics_storage_insights_resource.go
  internal/services/recoveryservices/backup_policy_file_share_data_source.go
  internal/services/recoveryservices/backup_policy_file_share_data_source_test.go
  internal/services/recoveryservices/backup_policy_file_share_resource.go
  internal/services/recoveryservices/backup_policy_vm_data_source.go
  internal/services/recoveryservices/backup_policy_vm_data_source_test.go
  internal/services/recoveryservices/backup_policy_vm_resource.go
  internal/services/recoveryservices/backup_protected_vm_resource.go
  internal/tags/schema.go
  website/docs/d/backup_policy_file_share.html.markdown
  website/docs/d/backup_policy_vm.html.markdown
  website/docs/r/backup_policy_vm.html.markdown
  website/docs/r/backup_protected_vm.html.markdown
  website/docs/r/log_analytics_linked_service.html.markdown
  website/docs/r/log_analytics_storage_insights.html.markdown
Labels: documentation, breaking-change, size/XL, service/recovery-services, service/log-analytics

#15159 `azurerm_local_network_gateway` : fix for `address_space` cannot be updated
  internal/services/network/local_network_gateway_resource.go
  internal/services/network/local_network_gateway_resource_test.go
Labels: bug, size/XS, service/local-network-gateway

#15890 Support for Edge Zones
  internal/services/compute/edge_zone.go
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/managed_disk_resource_test.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/loadbalancer/loadbalancer_resource.go
  internal/services/loadbalancer/loadbalancer_resource_test.go
  internal/services/network/edge_zone.go
  internal/services/network/network_interface_resource.go
  internal/services/network/network_interface_resource_test.go
  internal/services/network/public_ip_resource.go
  internal/services/network/public_ip_resource_test.go
  internal/services/network/virtual_network_gateway_resource.go
  internal/services/network/virtual_network_gateway_resource_test.go
  internal/services/network/virtual_network_resource.go
  internal/services/network/virtual_network_resource_test.go
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/r/lb.html.markdown
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/managed_disk.html.markdown
  website/docs/r/network_interface.html.markdown
  website/docs/r/public_ip.html.markdown
  website/docs/r/storage_account.html.markdown
  website/docs/r/virtual_network.html.markdown
  website/docs/r/virtual_network_gateway.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/virtual-machine, service/network-interfaces, service/load-balancers, service/public-ip, service/storage, service/virtual-networks, size/XL, service/virtual-network-gateway

#15942 3.0 Upgrade guide note for #15424
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#15943 3.0 Upgrade Note for #15403
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#15941 Bugfix: ensure MSAL is always enabled
  internal/acceptance/data.go
  internal/acceptance/testclient/client.go
  internal/acceptance/testing.go
  internal/provider/provider.go
Labels: bug, size/XS, authentication

#15897 azurerm_synapse_workspace_key - can not be correctly rotated
  internal/services/synapse/synapse_workspace_key_resource.go
  internal/services/synapse/synapse_workspace_key_resource_test.go
  internal/services/synapse/synapse_workspace_resource.go
Labels: size/L, service/synapse

#15885 Block Blob Storage: Allow infrastructure_encryption_enabled to be set for accounts of type BlockBlobStorage.
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/S

#15944 change custom_subdomain_name from optional to required
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, size/XS

#15562 `r\shared_image`: Add support for `support_accelerated_network`
  internal/services/compute/shared_image_resource.go
  internal/services/compute/shared_image_resource_test.go
  website/docs/r/shared_image.html.markdown
Labels: enhancement, documentation, service/images, size/M

#15741 azurerm_virtual_hub - support for virtual_router_asn and virtual_router_ips properties
  internal/services/managedapplications/managed_application_resource.go
  internal/services/network/virtual_hub_data_source.go
  internal/services/network/virtual_hub_data_source_test.go
  internal/services/network/virtual_hub_resource.go
  internal/services/network/virtual_hub_resource_test.go
  website/docs/d/virtual_hub.html.markdown
  website/docs/r/virtual_hub.html.markdown
Labels: enhancement, documentation, size/M, service/managed-apps
