Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2022-10, with the labels that each got.

#18602 Fix bug in sample for ACR geo replications
  website/docs/r/container_registry.html.markdown
Labels: documentation

#18604 docs: add consumption tier example to apim docs
  website/docs/r/api_management.html.markdown
Labels: documentation

#18608 `azurerm_key_vault_key` - remove `oct` from docs and code
  internal/services/keyvault/key_vault_key_resource.go
  website/docs/r/key_vault_key.html.markdown
Labels: documentation, service/key-vault

#18396 `azurerm_linux/windows_function_app_slot` - Read correct appsettings
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource.go
Labels: service/app-service

#18619 Handle gone gracefully in read for azurerm_mssql_server_dns_alias
  internal/services/mssql/mssql_server_dns_alias_resource.go
Labels: service/mssql

#15317 `azurerm_managed_disk` `azurerm_snapshot`: Deprecate `enabled` in `encryption_settings`
  internal/services/compute/encryption_settings.go
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/managed_disk_resource_test.go
  internal/services/compute/snapshot_resource.go
  internal/services/compute/snapshot_resource_test.go
  website/docs/r/managed_disk.html.markdown
  website/docs/r/snapshot.html.markdown
Labels: documentation, breaking-change, size/XL

#18601 dependencies: updating to v0.42.0 of github.com/hashicorp/go-azure-helpers
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/lang/pointer/generic.go
  vendor/modules.txt
Labels: dependencies

#18625 Remove warning about OIDC feature flag needing to be registered
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation

#18628 dependencies: updating to `v0.20221004.1155444` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/model_loadtestresourcepatchrequestbody.go
  vendor/modules.txt
Labels: dependencies

#18630 dependencies: updating to `v0.43.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/cloud_services_ip_configuration.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/cloud_services_public_ip.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/express_route_circuit_peering.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/network_interface.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/network_interface_ip_configuration.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/public_ip_address.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_hub_bgp_connection.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_hub_ip_configuration.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_machine_scale_set_ip_configuration.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_machine_scale_set_network_interface.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_machine_scale_set_public_ip_address.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_router_peering.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/virtual_wan_p2s_vpn_gateway.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/vpn_connection.go
  vendor/modules.txt
Labels: dependencies

#18627 Warn about using 'service' as a diagnostic name
  website/docs/r/monitor_diagnostic_setting.html.markdown
Labels: documentation

#18633 refactor: user assigned identity
  .github/labeler-pull-request-triage.yml
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/clients/client_gen.go
  internal/provider/services.go
  internal/services/managedidentity/client/client_gen.go
  internal/services/managedidentity/migration/user_assigned_identity_V0_to_V1.go
  internal/services/managedidentity/registration.go
  internal/services/managedidentity/registration_gen.go
  internal/services/managedidentity/user_assigned_identity_data_source.go
  internal/services/managedidentity/user_assigned_identity_data_source_test.go
  internal/services/managedidentity/user_assigned_identity_resource.go
  internal/services/managedidentity/user_assigned_identity_resource_gen.go
  internal/services/managedidentity/user_assigned_identity_resource_gen_test.go
  internal/services/msi/client/client.go
  internal/services/msi/user_assigned_identity_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/managedidentity/2018-11-30/client.go
  vendor/modules.txt
Labels: dependencies, service/authorization

#18632 loadtest: refactoring
  .github/labeler-pull-request-triage.yml
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/clients/client_gen.go
  internal/provider/services.go
  internal/provider/services_gen.go
  internal/services/loadtest/client/client.go
  internal/services/loadtestservice/client/client_gen.go
  internal/services/loadtestservice/load_test_resource_gen.go
  internal/services/loadtestservice/load_test_resource_gen_test.go
  internal/services/loadtestservice/registration.go
  internal/services/loadtestservice/registration_gen.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/client.go
  vendor/modules.txt
Labels: dependencies, service/load-test

#16671 `azurerm_cdn_frontdoor` - Add CDN FrontDoor example configurations
  examples/cdn/frontdoor/frontdoor-cmk-byoc-custom-domain/README.md
  examples/cdn/frontdoor/frontdoor-cmk-byoc-custom-domain/main.tf
  examples/cdn/frontdoor/frontdoor-cmk-byoc-custom-domain/variables.tf
  examples/cdn/frontdoor/frontdoor-managed-ssl-certificate-with-multiple-custom-domains/README.md
  examples/cdn/frontdoor/frontdoor-managed-ssl-certificate-with-multiple-custom-domains/main.tf
  examples/cdn/frontdoor/frontdoor-managed-ssl-certificate-with-multiple-custom-domains/variables.tf
  examples/private-endpoint/application-gateway/main.tf
  examples/private-endpoint/cdn-frontdoor/linux-web-app/README.md
  examples/private-endpoint/cdn-frontdoor/linux-web-app/main.tf
  examples/private-endpoint/cdn-frontdoor/linux-web-app/variables.tf
  examples/private-endpoint/cdn-frontdoor/storage-account-blob/README.md
  examples/private-endpoint/cdn-frontdoor/storage-account-blob/main.tf
  examples/private-endpoint/cdn-frontdoor/storage-account-blob/variables.tf
  examples/private-endpoint/cdn-frontdoor/storage-account-static-site/README.md
  examples/private-endpoint/cdn-frontdoor/storage-account-static-site/main.tf
  examples/private-endpoint/cdn-frontdoor/storage-account-static-site/variables.tf
  examples/private-endpoint/cosmos-db/main.tf
  examples/private-endpoint/databricks/managed-services/main.tf
  examples/private-endpoint/databricks/private-endpoint/main.tf
  examples/private-endpoint/postgresql/main.tf
  examples/private-endpoint/private-dns-group/main.tf
  examples/private-endpoint/private-link-scope/README.md
  examples/private-endpoint/private-link-scope/main.tf
  examples/private-endpoint/private-link-scope/variables.tf
  examples/private-endpoint/private-link-service/cdn-frontdoor/load-balancer/README.md
  examples/private-endpoint/private-link-service/cdn-frontdoor/load-balancer/main.tf
  examples/private-endpoint/private-link-service/cdn-frontdoor/load-balancer/variables.tf
  examples/private-endpoint/private-link-service/main.tf
  examples/virtual-networks/private-link-service/main.tf
  internal/services/appservice/testdata/run.csx
  internal/services/cdn/cdn_frontdoor_origin_resource_test.go
  internal/services/cdn/cdn_frontdoor_route_disable_link_to_default_domain_resource_test.go
  internal/services/cdn/cdn_frontdoor_route_resource_test.go
  internal/services/cdn/cdn_frontdoor_rule_resource_test.go
  website/docs/r/cdn_frontdoor_custom_domain.html.markdown
  website/docs/r/cdn_frontdoor_origin.html.markdown
  website/docs/r/cdn_frontdoor_route.html.markdown
  website/docs/r/cdn_frontdoor_rule.html.markdown
Labels: documentation, size/XL, service/app-service, service/cdn

#16657 `kubernetes_cluster` -`pod_cidrs`/`service_cidrs`
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_cluster_validate.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/M, service/kubernetes-cluster

#18654 Auto PR: Regenerating based on (19a746babb66d2f77849f305fa49b42d0df32253)
  .teamcity/components/generated/services.kt
  internal/provider/services_gen.go
  internal/services/automation/automation_account_resource_test.go
  internal/services/automation/automation_hybrid_runbook_worker.go
  internal/services/automation/automation_hybrid_runbook_worker_test.go
  internal/services/automation/automation_source_control.go
  internal/services/automation/automation_watcher.go
  internal/services/cdn/cdn_frontdoor_origin_group_data_source.go
  internal/services/cdn/cdn_frontdoor_origin_resource.go
  internal/services/compute/dedicated_host_group_resource_test.go
  internal/services/compute/dedicated_host_resource_test.go
  internal/services/consumption/consumption_budget_base.go
  internal/services/containers/kubernetes_nodepool.go
  internal/services/dashboard/dashboard_grafana_resource.go
  internal/services/dashboard/dashboard_grafana_resource_test.go
  internal/services/dns/dns_cname_record_data_source.go
  internal/services/keyvault/key_vault_access_policy_data_source.go
  internal/services/loadtestservice/client/client_gen.go
  internal/services/loadtestservice/load_test_resource_gen.go
  internal/services/loadtestservice/load_test_resource_gen_test.go
  internal/services/loadtestservice/registration_gen.go
  internal/services/managedidentity/client/client_gen.go
  internal/services/managedidentity/registration_gen.go
  internal/services/managedidentity/user_assigned_identity_resource_gen.go
  internal/services/managedidentity/user_assigned_identity_resource_gen_test.go
  internal/services/network/subnet_route_table_association_resource.go
  internal/services/postgres/postgresql_aad_administrator_resource_test.go
  internal/services/postgres/postgresql_flexible_server_configuration_resource_test.go
  internal/services/postgres/postgresql_server_resource.go
  internal/services/privatedns/private_dns_cname_record_data_source.go
  internal/services/resource/template_deployment_common.go
  internal/services/servicebus/servicebus_topic_authorization_rule_data_source.go
  website/docs/r/load_test.html.markdown
  website/docs/r/user_assigned_identity.html.markdown
Labels: documentation, service/key-vault, service/dns, service/service-bus, service/cdn, service/postgresql, service/automation, service/consumption, service/authorization, service/load-test, service/dashboard

#18672 `azurerm_spring_cloud_connection`, `azurerm_app_service_connection`: renaming documentation names
  website/docs/r/app_service_connection.html.markdown
  website/docs/r/spring_cloud_connection.html.markdown
Labels: documentation, service/app-service, service/spring

#18669 Fix `*_extensionsAutomaticUpgradeWithServiceFabricExtension`
  internal/services/compute/linux_virtual_machine_scale_set_extensions_test.go
  internal/services/compute/windows_virtual_machine_scale_set_extensions_test.go
Labels: service/virtual-machine, service/vmss, tests

#18693 `azurerm_dns_aaaa_record` - fix TestAccAzureRMDnsAAAARecord_RecordsToAlias
  internal/services/dns/dns_aaaa_record_resource_test.go
Labels: service/dns, tests

#18694 `azurerm_iothub_dps_certificate` - Fix `name` validation
  internal/services/iothub/iothub_dps_certificate_resource.go
  internal/services/iothub/validate/iot_hub_dps_certificate_name.go
  internal/services/iothub/validate/iot_hub_dps_certificate_name_test.go
Labels: service/iot-hub

#18700 `azurerm_log_analytics_cluster` - fix setting identity
  internal/services/loganalytics/log_analytics_cluster_resource.go
Labels: bug, service/log-analytics

#18431 `azurerm_app_service_connection`: changing default behavior of `vnet_solution`
  internal/services/serviceconnector/service_connector_app_service_resource.go
Labels: waiting-response

#18472 Enhance - `azurerm_api_management_api` - support `contact`, `license`
  internal/services/apimanagement/api_management_api_resource.go
  internal/services/apimanagement/api_management_api_resource_test.go
  internal/services/apimanagement/validate/api_management_api_email_address.go
  internal/services/apimanagement/validate/api_management_api_email_address_test.go
  website/docs/r/api_management_api.html.markdown
Labels: documentation, service/api-management

#18702 `azurerm_dedicated_hardware_security_module` - Support the `management_network_profile` property
  internal/services/hsm/dedicated_hardware_security_module_resource.go
  internal/services/hsm/dedicated_hardware_security_module_resource_test.go
  website/docs/r/dedicated_hardware_security_module.html.markdown
Labels: documentation, service/hsm

#18665 Docs - `azurerm_firewall` and `azurerm_firewall_policy` add `Basic` sku_tire
  website/docs/r/firewall.html.markdown
  website/docs/r/firewall_policy.html.markdown
Labels: documentation

#18586 `azurerm_iotcentral_application` - fix default `display_name`
  internal/services/iotcentral/iotcentral_application_resource.go
  internal/services/iotcentral/iotcentral_application_resource_test.go
  website/docs/r/iotcentral_application.html.markdown
Labels: documentation, service/iot-central

#18710 Added sku_name to ensure example can be copy-pasted
  website/docs/r/cdn_frontdoor_custom_domain.html.markdown
Labels: documentation, service/cdn

#18671 `vm/vmss` - fix unexpected set of `source_image_reference`
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/shared_schema.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
Labels: bug, service/vmss

#18491 `azurerm_stream_analytics_output_servicebus_queue`: add support for `authentication_mode`
  internal/services/streamanalytics/stream_analytics_output_servicebus_queue_resource.go
  internal/services/streamanalytics/stream_analytics_output_servicebus_queue_resource_test.go
  website/docs/r/stream_analytics_output_servicebus_queue.html.markdown
Labels: documentation, service/stream-analytics

#18317 New resource: `azurerm_orbital_contact_profile`
  internal/services/network/subnet_resource.go
  internal/services/orbital/contact_profile_resource.go
  internal/services/orbital/contact_profile_resource_test.go
  internal/services/orbital/helper.go
  internal/services/orbital/registration.go
  website/docs/r/orbital_contact_profile.html.markdown
  website/docs/r/orbital_spacecraft.html.markdown
  website/docs/r/subnet.html.markdown
Labels: documentation

#18716 Bump Hamilton to v0.50.0 and go-azure-helpers to v0.44.0
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/resource_id_reference.go
  vendor/github.com/manicminer/hamilton/auth/auth.go
  vendor/github.com/manicminer/hamilton/auth/config.go
  vendor/github.com/manicminer/hamilton/environments/apis.go
  vendor/github.com/manicminer/hamilton/environments/endpoints.go
  vendor/github.com/manicminer/hamilton/environments/environments.go
  vendor/github.com/manicminer/hamilton/environments/published.go
  vendor/github.com/manicminer/hamilton/internal/utils/pointers.go
  vendor/github.com/manicminer/hamilton/msgraph/app_role_assignments.go
  vendor/github.com/manicminer/hamilton/msgraph/b2c_userflow.go
  vendor/github.com/manicminer/hamilton/msgraph/directory_objects.go
  vendor/github.com/manicminer/hamilton/msgraph/models.go
  vendor/github.com/manicminer/hamilton/msgraph/synchronization.go
  vendor/github.com/manicminer/hamilton/msgraph/userflow_attributes.go
  vendor/github.com/manicminer/hamilton/msgraph/valuetypes.go
  vendor/github.com/manicminer/hamilton/odata/query.go
  vendor/github.com/manicminer/hamilton/odata/types.go
  vendor/modules.txt
Labels: dependencies

#18720 Use Schema() instead of SchemaEnforceLowerCase()
  internal/services/firewall/firewall_policy_resource.go
  internal/services/firewall/firewall_policy_resource_test.go
Labels: service/firewall

#18692 dns: adding state migrations/removing the case-insensitive workarounds
  internal/services/dns/dns_a_record_resource.go
  internal/services/dns/dns_aaaa_record_resource.go
  internal/services/dns/dns_caa_record_resource.go
  internal/services/dns/dns_cname_record_resource.go
  internal/services/dns/dns_mx_record_resource.go
  internal/services/dns/dns_ns_record_resource.go
  internal/services/dns/dns_ptr_record_resource.go
  internal/services/dns/dns_srv_record_resource.go
  internal/services/dns/dns_txt_record_resource.go
  internal/services/dns/dns_zone_resource.go
  internal/services/dns/migration/a_record_v0_to_v1.go
  internal/services/dns/migration/aaaa_record_v0_to_v1.go
  internal/services/dns/migration/caa_record_v0_to_v1.go
  internal/services/dns/migration/cname_record_v0_to_v1.go
  internal/services/dns/migration/dns_zone_v1_to_v2.go
  internal/services/dns/migration/mx_record_v0_to_v1.go
  internal/services/dns/migration/ns_record_v0_to_v1.go
  internal/services/dns/migration/ptr_record_v0_to_v1.go
  internal/services/dns/migration/srv_record_v0_to_v1.go
  internal/services/dns/migration/txt_record_v0_to_v1.go
Labels: service/dns

#18696 `azurerm_data_factory_integration_runtime_azure_ssis` - support Elastic Pool
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource.go
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource_test.go
  website/docs/r/data_factory_integration_runtime_azure_ssis.html.markdown
Labels: documentation, service/data-factory

#18708 New resource: `azurerm_sentinel_data_connector_office_atp`
  internal/services/sentinel/registration.go
  internal/services/sentinel/sentinel_data_connector_office_atp.go
  internal/services/sentinel/sentinel_data_connector_office_atp_test.go
  website/docs/r/sentinel_data_connector_office_atp.html.markdown
Labels: documentation, new-resource, service/sentinel

#18704 r/communication_service: adding a state migration to fix #17532
  internal/services/communication/communication_service_resource.go
  internal/services/communication/migration/service_v0_to_v1.go
Labels: bug, regression, service/communication

#18730 dependencies: updating to `v0.20221013.1033649` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies

#18737 Auto PR: Regenerating based on (1bac120eaa1eb9cc74d733093a90d65e20fc83ab)
  internal/services/dns/migration/aaaa_record_v0_to_v1.go
  internal/services/nginx/nginx_deployment_resource_test.go
Labels: service/dns, service/nginx

#18713 `azurerm_hpc_cache` - fix acc test
  internal/services/hpccache/hpc_cache.go
  internal/services/hpccache/hpc_cache_blob_nfs_target_resource_test.go
  internal/services/hpccache/hpc_cache_resource.go
Labels: service/hpc-cache

#18750 sticky_settings should use "Windows Web App"
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, service/app-service

#18744 `azurerm_linux_web_app`, `azurerm_linux_web_app_slot`: add python 3.10 support in linux web app
  internal/services/appservice/helpers/web_app_schema.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
Labels: documentation, service/app-service

#18746 `azurerm_firewall_policy_rule_collection_group`- add `Mssql` as an option for `type` validation
  internal/services/firewall/firewall_policy_rule_collection_group_resource.go
  internal/services/firewall/firewall_policy_rule_collection_group_resource_test.go
Labels: service/firewall

#18728 New DataSource: `data.azurerm_cosmosdb_sql_database` and `data.azurerm_cosmosdb_sql_role_definition`
  internal/services/cosmos/cosmosdb_sql_database_data_source.go
  internal/services/cosmos/cosmosdb_sql_database_data_source_test.go
  internal/services/cosmos/cosmosdb_sql_role_definition_data_source.go
  internal/services/cosmos/cosmosdb_sql_role_definition_data_source_test.go
  internal/services/cosmos/registration.go
  website/docs/d/cosmosdb_sql_database.html.markdown
  website/docs/d/cosmosdb_sql_role_definition.html.markdown
Labels: documentation, service/cosmosdb

#18748 App Service: Fixes asserts for 2 test failures
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/windows_function_app_resource_test.go
Labels: service/app-service

#18742 `azurerm_kubernetes_cluster` - add `workload_identity_enabled` property
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, service/kubernetes-cluster

#18740 `dependencies`: updating to `v0.20221013.1082942` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies

#18735 Fix broken AccTests - `azurerm_api_management`
  internal/services/apimanagement/api_management_resource_test.go
Labels: service/api-management

#18722 `azurerm_logic_app_standard` - fix acctest
  internal/services/logic/logic_app_standard_resource.go
  internal/services/logic/logic_app_standard_resource_test.go
Labels: service/logic

#18699 `azurerm_spring_cloud_connection`,` azurerm_app_service_connection`: fix inaccurate storage blob resource id
  internal/services/serviceconnector/helper.go
  internal/services/serviceconnector/service_connector_app_service_resource.go
  internal/services/serviceconnector/service_connector_app_service_resource_test.go
  internal/services/serviceconnector/service_connector_spring_cloud_resource.go
  internal/services/serviceconnector/service_connector_spring_cloud_resource_test.go
  internal/services/storage/parse/storage_account_default_blob.go
  internal/services/storage/parse/storage_account_default_blob_test.go
  internal/services/storage/resourceids.go
  internal/services/storage/validate/storage_account_default_blob_id.go
  internal/services/storage/validate/storage_account_default_blob_id_test.go
Labels: service/storage

#18670 `azurerm_hdinsight_hadoop_cluster`, `azurerm_hdinsight_hbase_cluster`, `azurerm_hdinsight_interactive_query_cluster`, `azurerm_spark_cluster`: add supoort for `script_actions`
  internal/services/hdinsight/hdinsight_hadoop_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_hbase_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_interactive_query_cluster_resource_test.go
  internal/services/hdinsight/hdinsight_spark_cluster_resource_test.go
  internal/services/hdinsight/schema.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
Labels: documentation, service/hdinsight

#18588 `azurerm_mssql_database` - support for the `import` property.
  internal/services/mssql/mssql_database_resource.go
  internal/services/mssql/mssql_database_resource_test.go
  internal/services/mssql/testdata/sql_import.bacpac
  website/docs/r/mssql_database.html.markdown
Labels: documentation, service/mssql

#17714 `azurerm_app_configuration` - support for the `encrption`, `local_auth_enabled`, `public_network_access_enabled`, `purge_protection_enabled`,and `soft_delete_retention_days` properties
  internal/features/defaults.go
  internal/features/user_flags.go
  internal/provider/features.go
  internal/provider/features_test.go
  internal/services/appconfiguration/app_configuration.go
  internal/services/appconfiguration/app_configuration_data_source.go
  internal/services/appconfiguration/app_configuration_data_source_test.go
  internal/services/appconfiguration/app_configuration_resource.go
  internal/services/appconfiguration/app_configuration_resource_test.go
  internal/services/appconfiguration/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appconfiguration/2022-05-01/deletedconfigurationstores/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appconfiguration/2022-05-01/deletedconfigurationstores/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appconfiguration/2022-05-01/deletedconfigurationstores/id_deletedconfigurationstore.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appconfiguration/2022-05-01/deletedconfigurationstores/method_configurationstoresgetdeleted_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appconfiguration/2022-05-01/deletedconfigurationstores/method_configurationstoreslistdeleted_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appconfiguration/2022-05-01/deletedconfigurationstores/method_configurationstorespurgedeleted_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appconfiguration/2022-05-01/deletedconfigurationstores/model_deletedconfigurationstore.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appconfiguration/2022-05-01/deletedconfigurationstores/model_deletedconfigurationstoreproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appconfiguration/2022-05-01/deletedconfigurationstores/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appconfiguration/2022-05-01/deletedconfigurationstores/version.go
  vendor/modules.txt
  website/docs/d/app_configuration.html.markdown
  website/docs/guides/features-block.html.markdown
  website/docs/r/app_configuration.html.markdown
Labels: documentation, dependencies, size/XL, service/app-configuration

#18600 [New Resource:] `azurerm_cdn_frontdoor_custom_domain_association` - rework associations with `azurerm_cdn_frontdoor_route`
  examples/cdn/frontdoor/frontdoor-cmk-byoc-custom-domain/main.tf
  examples/cdn/frontdoor/frontdoor-managed-ssl-certificate-with-multiple-custom-domains/main.tf
  internal/services/cdn/cdn_frontdoor_custom_domain_association_import.go
  internal/services/cdn/cdn_frontdoor_custom_domain_association_resource.go
  internal/services/cdn/cdn_frontdoor_custom_domain_association_resource_test.go
  internal/services/cdn/cdn_frontdoor_custom_domain_resource.go
  internal/services/cdn/cdn_frontdoor_custom_domain_resource_test.go
  internal/services/cdn/cdn_frontdoor_endpoint_resource.go
  internal/services/cdn/cdn_frontdoor_firewall_policy_resource.go
  internal/services/cdn/cdn_frontdoor_firewall_policy_resource_test.go
  internal/services/cdn/cdn_frontdoor_helpers.go
  internal/services/cdn/cdn_frontdoor_origin_group_resource.go
  internal/services/cdn/cdn_frontdoor_origin_resource.go
  internal/services/cdn/cdn_frontdoor_route_disable_link_to_default_domain_resource.go
  internal/services/cdn/cdn_frontdoor_route_disable_link_to_default_domain_resource_test.go
  internal/services/cdn/cdn_frontdoor_route_resource.go
  internal/services/cdn/cdn_frontdoor_rule_resource.go
  internal/services/cdn/cdn_frontdoor_rule_set_resource.go
  internal/services/cdn/cdn_frontdoor_secret_resource.go
  internal/services/cdn/cdn_frontdoor_security_policy_resource.go
  internal/services/cdn/parse/front_door_custom_domain_association.go
  internal/services/cdn/parse/front_door_custom_domain_association_test.go
  internal/services/cdn/parse/front_door_route_disable_link_to_default_domain.go
  internal/services/cdn/parse/front_door_route_disable_link_to_default_domain_test.go
  internal/services/cdn/parse/frontdoor_custom_domain.go
  internal/services/cdn/parse/frontdoor_custom_domain_test.go
  internal/services/cdn/registration.go
  internal/services/cdn/resourceids.go
  internal/services/cdn/validate/front_door_custom_domain_association_id.go
  internal/services/cdn/validate/front_door_custom_domain_association_id_test.go
  website/docs/r/cdn_frontdoor_custom_domain.html.markdown
  website/docs/r/cdn_frontdoor_custom_domain_association.html.markdown
  website/docs/r/cdn_frontdoor_route.html.markdown
  website/docs/r/cdn_frontdoor_route_disable_link_to_default_domain.html.markdown
Labels: documentation, waiting-response, new-resource, breaking-change, service/cdn

#18738 app service: add notes to the usage of virtual network properties
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, service/app-service

#18758 [Test Case]: Fix acctest for Log Analytics Workspace Data Source
  internal/services/loganalytics/log_analytics_workspace_data_source_test.go
Labels: service/log-analytics, tests

#18763 `azurerm_fluid_relay_server` - support `service_endpoint` attribute
  internal/services/fluidrelay/fluid_relay_servers_resource.go
  internal/services/fluidrelay/fluid_relay_servers_resource_test.go
  website/docs/r/fluid_relay_servers.html.markdown
Labels: enhancement, documentation, service/relay

#18251 `azurerm_windows_web_app` - correct parsing of docker configuration from WindowsFxVersion
  internal/services/appservice/helpers/web_app_schema.go
Labels: service/app-service

#18759 `azurerm_stack_hci_cluster` - update resource with API version 2022-09-01
  go.mod
  go.sum
  internal/services/azurestackhci/client/client.go
  internal/services/azurestackhci/stack_hci_cluster_resource.go
  internal/services/azurestackhci/stack_hci_cluster_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/LICENSE
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2020-10-01/clusters/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2020-10-01/clusters/model_clusternode.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2020-10-01/clusters/model_clusterproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/id_cluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/method_create_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/model_cluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/model_clusterdesiredproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/model_clusternode.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/model_clusterpatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/model_clusterpatchproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/model_clusterproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/model_clusterreportedproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/model_softwareassuranceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-09-01/clusters/version.go
  vendor/modules.txt
Labels: dependencies, service/azure-stack-hci

#18772 Auto PR: Regenerating based on (abf3cbc0563942da1c370a4751c5e4c599e2711a)
  website/docs/d/cosmosdb_sql_database.html.markdown
Labels: documentation

#18775 Minor edit to Redis Cache documentation
  website/docs/r/redis_cache.html.markdown
Labels: documentation

#18777 fix: Removed invalid storage_account_type value
  website/docs/r/mssql_database.html.markdown
Labels: documentation

#18774 `azurerm_storage_account`: Add support for `immutability_policy` argument
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage

#18791 Docs: fix automation software update configuration `timezone` typo
  website/docs/r/automation_software_update_configuration.html.markdown
Labels: documentation

#18790 Docs: fix `azurerm_nginx_deployment` import id
  website/docs/r/nginx_deployment.html.markdown
Labels: documentation

#18794 `azurerm_app_configuration` - fix testcase`TestAccAppConfigurationDataSource_basic`
  internal/services/appconfiguration/app_configuration_resource_test.go
Labels: tests, service/app-configuration

#18765 `azurerm_fluid_relay_server` - add `primary_key` and `secondary_key` properties
  internal/services/fluidrelay/fluid_relay_servers_resource.go
  internal/services/fluidrelay/fluid_relay_servers_resource_test.go
  website/docs/r/fluid_relay_servers.html.markdown
Labels: enhancement, documentation

#18798 `azurerm_container_group` - Fix `volume` block error message
  internal/services/containers/container_group_resource.go
  website/docs/r/container_group.html.markdown
Labels: documentation, service/container-group

#18797 Docs: Fix incorrect parameter description for data resource `azurerm_cosmosdb_sql_role_definition`
  website/docs/d/cosmosdb_sql_role_definition.html.markdown
Labels: documentation, service/cosmosdb

#18804 Docs: Remove "profile" from "azurerm_cdn_frontdoor_custom_domain"
  website/docs/r/cdn_frontdoor_custom_domain.html.markdown
Labels: documentation, service/cdn

#18803 Docs: Provide format for point in time restore parameter on the databases
  website/docs/r/mariadb_server.html.markdown
  website/docs/r/mssql_database.html.markdown
  website/docs/r/mysql_server.html.markdown
  website/docs/r/postgresql_server.html.markdown
  website/docs/r/sql_database.html.markdown
Labels: documentation, service/postgresql, service/mysql, service/mariadb, service/sql

#18808 corrected typo in docs
  website/docs/r/cdn_frontdoor_route.html.markdown
Labels: documentation, service/cdn

#18783 add make resource-count
  GNUmakefile
  internal/provider/provider_test.go
Labels: tooling

#18782 add script to calculate pandora sdk stats
  scripts/stats-pandora-sdks.sh
Labels: tooling

#18806 `azurerm_sentinel_data_connector_aws_s3` - fix import
  internal/services/sentinel/sentinel_data_connector.go
Labels: service/sentinel

#18792 `azurerm_storage_management_policy` - Support for `tier_to_archive_after_days_since_last_tier_change_greater_than`
  internal/services/storage/storage_management_policy_resource.go
  internal/services/storage/storage_management_policy_resource_test.go
  website/docs/r/storage_management_policy.html.markdown
Labels: enhancement, documentation, service/storage

#18818 `azurerm_eventhub_namespace` - flatten `network_rulesets.x.virtual_network_rule.x.subnet_id` insensitvely
  internal/services/eventhub/eventhub_namespace_resource.go
Labels: service/event-hubs

#18749 `azurerm_[linux|windows]_virtual_machine_scale_set` - Allow disabling secure boot when creating a virtual machine scale set with disk encryption type "VMGuestStateOnly"
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: bug, documentation, service/vmss

#18824 [Bug:] `azurerum_cdn_frontdoor_route` - fixes panic on import due to incorrect casing returned by the API
  internal/services/cdn/cdn_frontdoor_helpers.go
  internal/services/cdn/cdn_frontdoor_route_resource.go
Labels: bug, crash, service/cdn

#16603 Added client certificate exclusion paths app service setting
  internal/services/appservice/linux_function_app_data_source.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/linux_web_app_data_source.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_data_source.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  internal/services/appservice/windows_web_app_data_source.go
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
  website/docs/d/linux_function_app.html.markdown
  website/docs/d/linux_web_app.html.markdown
  website/docs/d/windows_function_app.html.markdown
  website/docs/d/windows_web_app.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service

#18823 Docs: fix incorrect description for property `management_group_id` instead of `management_group_name`
  website/docs/r/management_group_template_deployment.html.markdown
Labels: documentation, service/template

#18816 Allow AMD sku for azurerm_mysql_flexible_server
  internal/services/mysql/validate/flexible_server_sku_name.go
Labels: enhancement, service/mysql

#18822 `azurerm_subnet` - add new supported delegation
  internal/services/network/subnet_resource.go
  website/docs/r/subnet.html.markdown
Labels: enhancement, documentation, service/subnets

#18833 dependencies: updating to `v0.20221018.1075906` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies

#18680 `azurerm_windows_function_app`, `azurerm_linux_function_app`: remove hasChange condition during creation
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/windows_function_app_resource_test.go
Labels: service/app-service

#18836 `azurerm_[linux|windows]_function_app` and `azurerm_[linux|windows]_function_app_slot` fix `app_settings` diff when `vnet_route_all_enabled = true`
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_slot_resource.go
Labels: service/app-service

#17274 `azurerm_storage_account` - Refactor the service access based on the kind and sku tier
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
Labels: bug, service/storage, size/L

#18851 [Documentation:] `azurerm_cdn_frontdoor_custom_domain` and `azurerm_cdn_frontdoor_profile` - add better descriptions for some fields which maybe confusing
  website/docs/d/cdn_frontdoor_profile.html.markdown
  website/docs/r/cdn_frontdoor_custom_domain.html.markdown
Labels: documentation

#18766 `azurerm_firewall_policy_rule_collection_group` - limit dnat rule destination port max number to 1
  internal/services/firewall/firewall_policy_rule_collection_group_resource.go
  website/docs/r/firewall_policy_rule_collection_group.html.markdown
Labels: bug, documentation, service/firewall

#18799 `azurerm_network_security_{group|rule}` - Setting correct casing `protocol` to state
  internal/services/network/network_security_group_resource.go
  internal/services/network/network_security_rule_resource.go
Labels: bug, service/network-security

#18856 New resource: `azurerm_sentinel_data_connector_office_irm`
  internal/services/sentinel/registration.go
  internal/services/sentinel/sentinel_data_connector.go
  internal/services/sentinel/sentinel_data_connector_office_irm.go
  internal/services/sentinel/sentinel_data_connector_office_irm_test.go
  website/docs/r/sentinel_data_connector_office_irm.html.markdown
Labels: documentation, new-resource, service/sentinel

#18828 `azurerm_virtual_network_gateway` - `TestAccVirtualNetworkGateway_activeActiveZoneRedundantWithP2Sfix` fix public ip resource zone property
  internal/services/network/virtual_network_gateway_resource_test.go
Labels: service/virtual-network-gateway, tests

#18860 `azurerm_automation_software_update_configuration` - fix validation for subscription id
  internal/services/automation/automation_software_update_configuration.go
  internal/services/automation/automation_software_update_configuration_test.go
Labels: bug, service/automation

#18867 Allow php version 8.1
  internal/services/appservice/helpers/web_app_schema.go
Labels: enhancement, service/app-service

#18859 New resource: `azurerm_sentinel_data_connector_dynamics_365`
  internal/services/sentinel/registration.go
  internal/services/sentinel/sentinel_data_connector.go
  internal/services/sentinel/sentinel_data_connector_dynamics_365.go
  internal/services/sentinel/sentinel_data_connector_dynamics_365_test.go
  website/docs/r/sentinel_data_connector_dynamics_365.html.markdown
Labels: documentation, new-resource, service/sentinel

#18874 added RequestBodyJsonArgNames
  internal/services/cdn/cdn_frontdoor_firewall_policy_resource.go
  internal/services/cdn/cdn_frontdoor_firewall_policy_resource_test.go
  website/docs/r/cdn_frontdoor_firewall_policy.html.markdown
Labels: enhancement, documentation, service/cdn

#18872 `azurerm_storage_account` - Modified to allow setting CMK for Premium-tier services
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: enhancement, documentation, service/storage

#18876 Data Source: `azurerm_linux_function_app` - fix missing error on data source not found
  internal/services/appservice/linux_function_app_data_source.go
Labels: bug, service/app-service

#18882 `azurerm_security_center_contact` - remove an abandon source to fix test
  internal/services/securitycenter/security_center_automation_resource_test.go
Labels: service/security-center, tests

#18831 refactor: updating analysisservices to use a metaclient
  internal/clients/client.go
  internal/services/analysisservices/analysis_services_server_resource.go
  internal/services/analysisservices/analysis_services_server_resource_test.go
  internal/services/analysisservices/client/client.go
  internal/services/analysisservices/validate/server_id.go
  internal/services/analysisservices/validate/server_id_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/analysisservices/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/analysisservices/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/analysisservices/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/analysisservices/method_serverslistskusfornew_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/analysisservices/model_resourcesku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/analysisservices/model_skuenumerationfornewresourceresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/analysisservices/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/client.go
  vendor/modules.txt
Labels: refactor, service/analysis

#18884 `iothub` - Update test location to fit Device Update resource
  .teamcity/components/settings.kt
Labels: service/iot-hub

#18871 `azurerm_recovery_services_vault` - fix acctest
  internal/services/recoveryservices/recovery_services_vault_resource.go
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
Labels: bug, service/recovery-services

#18863 `azurerm_app_configuration` - fix error msg and complement docs
  internal/services/appconfiguration/app_configuration_resource.go
  website/docs/r/app_configuration.html.markdown
Labels: documentation, service/app-configuration

#18684 windows_function_app & linx_function_app - Add VS2022 to remote_debugging_version
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/function_app_slot_schema.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
Labels: documentation, service/app-service

#18885 `azurerm_managed_disk` - add state upgrader from V0 to V1 to fix ID issue
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/migration/managed_disk_v0_to_v1.go
Labels: bug, service/disks

#17810 azurerm_cosmosdb_account - primary_sql_connection_string, secondary_sql_connection_string, primary_readonly_sql_connection_string, secondary_readonly_sql_connection_string
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/d/cosmosdb_account.html.markdown
Labels: documentation, size/S, service/cosmosdb

#18903 [New Data Source:] `azurerm_cdn_frontdoor_firewall_policy`
  internal/services/cdn/cdn_frontdoor_firewall_policy_data_source.go
  internal/services/cdn/cdn_frontdoor_firewall_policy_data_source_test.go
  internal/services/cdn/registration.go
  website/docs/d/cdn_frontdoor_firewall_policy.html.markdown
  website/docs/d/cdn_frontdoor_profile.html.markdown
  website/docs/r/cdn_frontdoor_profile.html.markdown
Labels: documentation, new-data-source, service/cdn

#18900 [Document] `azurerm_disk_pool` `azurerm_disk_pool_iscsi_target` `azurerm_disk_pool_iscsi_target_lun` `azurerm_disk_pool_managed_disk_attachment` - Add halting on Azure Disk Pools preview's warning
  website/docs/r/disk_pool.html.markdown
  website/docs/r/disk_pool_iscsi_target.html.markdown
  website/docs/r/disk_pool_iscsi_target_lun.html.markdown
  website/docs/r/disk_pool_managed_disk_attachment.html.markdown
Labels: documentation, service/disks

#18898 Data Source: `azurerm_storage_management_policy` add supports for the `tier_to_archive_after_days_since_last_tier_change_greater_than`
  internal/services/storage/storage_management_policy_data_source.go
  internal/services/storage/storage_management_policy_data_source_test.go
  website/docs/d/storage_management_policy.html.markdown
Labels: enhancement, documentation, service/storage

#18909 `azurerm_express_route_port`: `bandwidth_in_gbps` property set to 10
  internal/services/network/express_route_port_resource_test.go
Labels: service/express-route, tests

#18916 `azurerm_linux_web_app`, `azurerm_linux_web_app_slot` fix: remote debugging argument is not expected here
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
Labels: documentation, service/app-service, service/web-app

#18213 Upgrade Automation/Runbook API version from `2020-01-13-preview` to `2019-06-01`
  internal/services/automation/automation_runbook_resource.go
  internal/services/automation/automation_runbook_resource_test.go
  internal/services/automation/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/id_automationaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/id_runbook.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/method_getcontent_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/method_listbyautomationaccount_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/method_publish_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/model_contenthash.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/model_contentlink.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/model_runbook.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/model_runbookcreateorupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/model_runbookcreateorupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/model_runbookdraft.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/model_runbookparameter.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/model_runbookproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/model_runbookupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/model_runbookupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2019-06-01/runbook/version.go
  vendor/modules.txt
  website/docs/r/automation_runbook.html.markdown
Labels: documentation, dependencies, upstream, service/automation

#18921 azurerm_automation_runbook - support python2 python3 values into validation
  internal/services/automation/automation_runbook_resource.go
Labels: service/automation

#18832 aadb2c: refactoring to use the MetaClient within go-azure-sdk
  internal/clients/client.go
  internal/services/aadb2c/aadb2c_directory_data_source.go
  internal/services/aadb2c/aadb2c_directory_resource.go
  internal/services/aadb2c/aadb2c_directory_resource_test.go
  internal/services/aadb2c/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/client.go
  vendor/modules.txt
Labels: dependencies, refactor, service/aadb2c

#18924 Fix typo on docs
  website/docs/r/logic_app_standard.html.markdown
Labels: documentation, hacktoberfest-accepted

#18760 `azurerm_[linux|windows]_function_app` and `azurerm_[linux|windows]_function_app_slot` add storage_account
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
Labels: enhancement, documentation, service/app-service

#18932 Docs: Use correct Resource Name in FrontDoor Route sample
  website/docs/r/cdn_frontdoor_route.html.markdown
Labels: documentation

#18931 `azurerm_monitor_autoscale_setting` - add email string validation
  internal/services/monitor/monitor_autoscale_setting_resource.go
Labels: service/monitor

#18850 `azurerm_synapse_workspace` - remove sql password requirement for synapse
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/synapse/synapse_workspace_resource_test.go
  website/docs/r/synapse_workspace.html.markdown
Labels: enhancement, documentation, service/synapse

#18927 refactor: removing most usages of `resourceid.Formatter`
  internal/services/authorization/parse/role_assignment.go
  internal/services/authorization/parse/role_assignment_test.go
  internal/services/authorization/role_assignment_resource.go
  internal/services/billing/parse/enrollment.go
  internal/services/billing/parse/enrollment_billing_scope.go
  internal/services/billing/parse/enrollment_billing_scope_test.go
  internal/services/billing/parse/enrollment_test.go
  internal/services/billing/parse/mca_billing_scope.go
  internal/services/billing/parse/mca_billing_scope_test.go
  internal/services/billing/parse/mpa_billing_scope.go
  internal/services/billing/parse/mpa_billing_scope_test.go
  internal/services/desktopvirtualization/parse/workspace_application_group_association.go
  internal/services/keyvault/parse/nested_item.go
  internal/services/monitor/parse/monitor_aad_diagnostic_setting.go
  internal/services/monitor/parse/monitor_aad_diagnostic_setting_test.go
  internal/services/network/parse/application_gateway_private_link_configuration_test.go
  internal/services/network/resourceids.go
  internal/services/network/validate/application_gateway_private_link_configuration_id_test.go
  internal/services/policy/parse/management_group_assignment.go
  internal/services/policy/parse/management_group_assignment_test.go
  internal/services/portal/parse/portal_tenant_configuration.go
  internal/services/portal/parse/portal_tenant_configuration_test.go
  internal/services/resource/parse/feature.go
  internal/services/resource/parse/feature_test.go
  internal/services/resource/parse/management_group_template_deployment.go
  internal/services/resource/parse/management_group_template_deployment_test.go
  internal/services/resource/parse/resource_provider.go
  internal/services/resource/parse/resource_provider_test.go
  internal/services/resource/parse/tenant_template_deployment.go
  internal/services/resource/parse/tenant_template_deployment_test.go
  internal/services/securitycenter/parse/advanced_threat_protection.go
  internal/services/securitycenter/parse/assessment.go
  internal/services/securitycenter/parse/assessment_test.go
  internal/services/storage/parse/object_replication.go
  internal/services/storage/parse/object_replication_test.go
  internal/services/storage/parse/storage_container_data_plane.go
  internal/services/storage/parse/storage_queue_data_plane.go
  internal/services/storage/parse/storage_share_data_plane.go
  internal/services/storage/parse/storage_table_data_plane.go
  internal/services/storage/storage_object_replication_resource.go
  internal/services/synapse/parse/role_assignment.go
  internal/services/web/parse/certificate_binding.go
  internal/services/web/parse/certificate_binding_test.go
Labels: service/storage, service/key-vault, service/monitor, service/policy, service/security-center, service/authorization, service/synapse, service/virtual-desktops, service/portal, service/billing

#18848 `azurerm_key_vault_certificate` - allow new versions of key vault certs to be imported
  internal/services/keyvault/key_vault_certificate_resource.go
  internal/services/keyvault/key_vault_certificate_resource_test.go
  website/docs/r/key_vault_certificate.html.markdown
Labels: documentation, service/key-vault

#18689 windows_function_app & linux_function_app - Add support for Java 17
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/web/function_app.go
  website/docs/r/function_app.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
Labels: documentation, service/app-service

#18934 `azurerm_logic_app_action_http` - support for the `queries` property
  internal/services/logic/logic_app_action_http_resource.go
  internal/services/logic/logic_app_action_http_resource_test.go
  website/docs/r/logic_app_action_http.html.markdown
Labels: documentation, service/logic

#18853 `azurem_logic_app_standard` - support for scm_ip_restriction, scm_use_main_ip_restriction scm_min_tls_version scm_type
  internal/services/logic/logic_app_standard_data_source.go
  internal/services/logic/logic_app_standard_resource.go
  internal/services/logic/logic_app_standard_resource_test.go
  website/docs/r/logic_app_standard.html.markdown
Labels: documentation, service/logic

#18805 `azurerm_postgresql_server` - Fixed issue with creating Postgres server in `Replica` mode
  internal/services/postgres/postgresql_server_key_resource.go
  internal/services/postgres/postgresql_server_key_resource_test.go
  internal/services/postgres/postgresql_server_resource.go
Labels: service/postgresql

#18950 refactor: removing the `resourceid` package
  internal/resourceid/interface.go
  internal/sdk/resource.go
  internal/sdk/resource_id.go
  internal/services/appconfiguration/parse/app_configuration_feature.go
  internal/services/appconfiguration/parse/app_configuration_key.go
  internal/services/authorization/parse/role_assignment.go
  internal/services/disks/disk_pool_iscsi_target_lun_resource.go
  internal/services/disks/disk_pool_iscsi_target_lun_resource_test.go
  internal/services/disks/parse/iscsitarget_lun.go
  internal/services/disks/parse/iscsitarget_lun_test.go
  internal/services/disks/validate/iscsi_target_lun.go
Labels: service/disks, refactor, service/app-configuration, service/authorization

#18529 Deprecate Resource: azurerm_cosmosdb_notebook_workspace
  internal/services/cosmos/cosmosdb_notebook_workspace_resource.go
  internal/services/cosmos/cosmosdb_notebook_workspace_resource_test.go
  website/docs/r/cosmosdb_notebook_workspace.html.markdown
Labels: documentation, service/cosmosdb

#18729 `azurerm_servicebus_namespace_disaster_recovery_config`: support alias_authorization_rule_id
  internal/services/servicebus/servicebus_namespace_disaster_recovery_config_data_source.go
  internal/services/servicebus/servicebus_namespace_disaster_recovery_config_resource.go
  internal/services/servicebus/servicebus_topic_resource_test.go
  website/docs/r/servicebus_namespace_disaster_recovery_config.html.markdown
Labels: documentation, service/service-bus

#18762 New Resource: `azurerm_nginx_certificate`
  internal/services/nginx/nginx_certificate_resource.go
  internal/services/nginx/nginx_certificate_resource_test.go
  internal/services/nginx/registration.go
  website/docs/r/nginx_certificate.html.markdown
Labels: documentation, service/nginx

#18953 Auto PR: Regenerating based on (0ad85b60ecad383c413f74dd1a763c051f364c20)
  internal/services/nginx/nginx_configuration_resource_test.go
Labels: service/nginx

#18923 `azurerm_mssql_virtual_machine` - add support for `assessment`
  internal/services/mssql/helper/sql_virtual_machine_storage_settings.go
  internal/services/mssql/mssql_virtual_machine_resource.go
  internal/services/mssql/mssql_virtual_machine_resource_test.go
  website/docs/r/mssql_virtual_machine.html.markdown
Labels: documentation, service/mssql

#18955 `azurerm_mssql_virtual_machine` - fix `manual_schedule` descriptions
  website/docs/r/mssql_virtual_machine.html.markdown
Labels: documentation

#18963 `azurerm_site_recovery_replicated_vm` - update disks sdk
  internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
Labels: service/recovery-services

#18965 Auto PR: Regenerating based on (095c596dca6c4ef9e14f3b8417f1c9f4afba6e75)
  internal/services/containers/kubernetes_cluster_validate.go
  website/docs/r/nginx_certificate.html.markdown
Labels: documentation

#18964 fix: optional sticky_settings block
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, service/app-service

#18968 Dependencies: update to go-azure-helpers v0.45.0
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/systemdata/model.go
  vendor/modules.txt
Labels: dependencies

#18976 Support for more OS SKUs (Windows2019/Windows2022/CBLMariner/Marine) AKS NodePool SKU
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation

#18962 `azurerm_postgresql_server`: allow to set `public_network_access_enabled` when the PITR is enabled
  internal/services/postgres/postgresql_server_resource.go
  internal/services/postgres/postgresql_server_resource_test.go
  website/docs/r/postgresql_server.html.markdown
Labels: documentation, service/postgresql

#18984 `document` - Fix `source_resource_id` description in `azurerm_managed_disk`
  website/docs/r/managed_disk.html.markdown
Labels: documentation

#18961 [Documentation]: Rebrand the old FrontDoor resources as `classic` and the new CDN FrontDoor resources as `standard/premium`
  website/docs/d/cdn_frontdoor_endpoint.html.markdown
  website/docs/d/cdn_frontdoor_firewall_policy.html.markdown
  website/docs/d/cdn_frontdoor_origin_group.html.markdown
  website/docs/d/cdn_frontdoor_profile.html.markdown
  website/docs/d/cdn_frontdoor_rule_set.html.markdown
  website/docs/d/cdn_frontdoor_secret.html.markdown
  website/docs/r/cdn_frontdoor_custom_domain.html.markdown
  website/docs/r/cdn_frontdoor_custom_domain_association.html.markdown
  website/docs/r/cdn_frontdoor_endpoint.html.markdown
  website/docs/r/cdn_frontdoor_firewall_policy.html.markdown
  website/docs/r/cdn_frontdoor_origin.html.markdown
  website/docs/r/cdn_frontdoor_origin_group.html.markdown
  website/docs/r/cdn_frontdoor_profile.html.markdown
  website/docs/r/cdn_frontdoor_route.html.markdown
  website/docs/r/cdn_frontdoor_route_disable_link_to_default_domain.html.markdown
  website/docs/r/cdn_frontdoor_rule.html.markdown
  website/docs/r/cdn_frontdoor_rule_set.html.markdown
  website/docs/r/cdn_frontdoor_secret.html.markdown
  website/docs/r/cdn_frontdoor_security_policy.html.markdown
  website/docs/r/frontdoor.html.markdown
  website/docs/r/frontdoor_custom_https_configuration.html.markdown
  website/docs/r/frontdoor_firewall_policy.html.markdown
  website/docs/r/frontdoor_rules_engine.html.markdown
Labels: documentation

#18959 `azurerm_stream_analytics_stream_input_eventhub` - Mark `shared_access_policy_key` and `shared_access_policy_name` as optional
  internal/services/streamanalytics/stream_analytics_stream_input_eventhub_resource.go
  internal/services/streamanalytics/stream_analytics_stream_input_eventhub_resource_test.go
  website/docs/r/stream_analytics_stream_input_eventhub.html.markdown
Labels: bug, documentation, service/stream-analytics

#18991 `azurerm_managed_disk`: allow to set `logical_sector_size`, `disk_iops_read_write`, `disk_mbps_read_write`, `disk_iops_read_only` and `disk_mbps_read_only` when `storage_account_type` is `PremiumV2_LRS`
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/managed_disk_resource_test.go
  website/docs/r/managed_disk.html.markdown
Labels: bug, documentation, service/disks

#18993 `azurerm_managed_disk` - add log and remove feature flag in state migration
  internal/services/compute/migration/managed_disk_v0_to_v1.go
Labels: enhancement, service/disks

#17166 Add api_management_gateway_hostname_configuration
  internal/services/apimanagement/api_management_gateway_host_name_configuration_data_source.go
  internal/services/apimanagement/api_management_gateway_host_name_configuration_data_source_test.go
  internal/services/apimanagement/client/client.go
  internal/services/apimanagement/parse/gateway_hostname_configuration.go
  internal/services/apimanagement/parse/gateway_hostname_configuration_test.go
  internal/services/apimanagement/registration.go
  internal/services/apimanagement/resourceids.go
  internal/services/apimanagement/validate/gateway_hostname_configuration_id.go
  internal/services/apimanagement/validate/gateway_hostname_configuration_id_test.go
  website/docs/d/api_management_gateway_host_name_configuration.html.markdown
Labels: documentation, waiting-response, size/XL, service/api-management

#18996 `azurerm_netapp_volume`: set snapshot Id when `create_from_snapshot_resource_id` is specified
  internal/services/netapp/netapp_volume_resource.go
  internal/services/netapp/netapp_volume_resource_test.go
Labels: service/netapp

#18957 `azurerm_snapshot` - switch to go-azure-sdk
  internal/services/compute/client/client.go
  internal/services/compute/encryption_settings.go
  internal/services/compute/migration/snapshot_v0_to_v1.go
  internal/services/compute/parse/snapshot.go
  internal/services/compute/parse/snapshot_test.go
  internal/services/compute/resourceids.go
  internal/services/compute/shared_image_version_resource_test.go
  internal/services/compute/snapshot_data_source.go
  internal/services/compute/snapshot_resource.go
  internal/services/compute/snapshot_resource_test.go
  internal/services/compute/validate/snapshot_id.go
  internal/services/compute/validate/snapshot_id_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/id_snapshot.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/method_grantaccess_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/method_revokeaccess_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_accessuri.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_copycompletionerror.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_creationdata.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_disksecurityprofile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_encryption.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_encryptionsettingscollection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_encryptionsettingselement.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_grantaccessdata.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_imagediskreference.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_keyvaultandkeyreference.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_keyvaultandsecretreference.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_purchaseplan.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_snapshot.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_snapshotproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_snapshotsku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_snapshotupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_snapshotupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_sourcevault.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/model_supportedcapabilities.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/snapshots/version.go
  vendor/modules.txt
Labels: dependencies

#18983 new resource: `azurerm_private_dns_resolver_inbound_endpoint`
  internal/services/privatednsresolver/private_dns_resolver_inbound_endpoint_resource.go
  internal/services/privatednsresolver/private_dns_resolver_inbound_endpoint_resource_test.go
  internal/services/privatednsresolver/registration.go
  website/docs/r/private_dns_resolver_inbound_endpoint.html.markdown
Labels: documentation, service/private-dns-resolver

#18987 `azurerm_service_fabric_managed_cluster` - fix a bug in `custom_fabric_setting`
  internal/services/servicefabricmanaged/service_fabric_managed_cluster_resource.go
  internal/services/servicefabricmanaged/service_fabric_managed_cluster_resource_test.go
Labels: service/service-fabric-managed-cluster

#18523 `azurerm_mssql_server_transparent_data_encryption` - Support for autorotation of KV keys
  internal/services/mssql/migration/server_transparent_data_encryption_v0_to_v1.go
  internal/services/mssql/mssql_server_transparent_data_encryption_resource.go
  internal/services/mssql/mssql_server_transparent_data_encryption_resource_test.go
  website/docs/r/mssql_server_transparent_data_encryption.html.markdown
Labels: enhancement, documentation, service/mssql

#18992 `azurerm_automation_webhook`: remove a AccTest case with uri property
  internal/services/automation/automation_webhook_test.go
  website/docs/r/automation_webhook.html.markdown
Labels: documentation, service/automation, tests

#19009 `azurerm_data_factory_dataset_parquet` - mark `path` as optional
  internal/services/datafactory/data_factory_dataset_parquet_resource.go
  internal/services/datafactory/data_factory_dataset_parquet_resource_test.go
  website/docs/r/data_factory_dataset_parquet.html.markdown
Labels: bug, documentation, service/data-factory
