Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2022-06, with the labels that each got.

#16988 `azurerm_dns_x_record` - Add disclaimer for large scale
  website/docs/r/dns_a_record.html.markdown
  website/docs/r/dns_aaaa_record.html.markdown
  website/docs/r/dns_caa_record.html.markdown
  website/docs/r/dns_cname_record.html.markdown
  website/docs/r/dns_mx_record.html.markdown
  website/docs/r/dns_ns_record.html.markdown
  website/docs/r/dns_ptr_record.html.markdown
  website/docs/r/dns_srv_record.html.markdown
  website/docs/r/dns_txt_record.html.markdown
Labels: enhancement, documentation, size/XS

#16947 azurerm_key_vault_secret : fix error when creating 16 tags for key vault secret - "Property has invalid value"
  internal/services/keyvault/key_vault_secret_resource.go
  internal/tags/schema.go
  internal/tags/validation.go
  internal/tags/validation_test.go
Labels: service/key-vault, size/S

#16986 replaced virtual_subnet_id in example
  website/docs/r/database_migration_project.html.markdown
Labels: documentation, size/XS

#16674 Fix vm not turning back on after update
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/windows_virtual_machine_resource.go
Labels: size/XS

#16922 `data_factory_trigger_schedule` - `pipeline`
  internal/services/datafactory/data_factory_trigger_schedule_resource.go
  internal/services/datafactory/data_factory_trigger_schedule_resource_test.go
  website/docs/r/data_factory_trigger_schedule.html.markdown
Labels: documentation, size/L, service/data-factory

#16911 New resource: azurerm_vpn_server_configuration_policy_group
  internal/services/network/client/client.go
  internal/services/network/parse/vpn_server_configuration_policy_group.go
  internal/services/network/parse/vpn_server_configuration_policy_group_test.go
  internal/services/network/registration.go
  internal/services/network/resourceids.go
  internal/services/network/validate/vpn_server_configuration_policy_group_id.go
  internal/services/network/validate/vpn_server_configuration_policy_group_id_test.go
  internal/services/network/vpn_server_configuration_policy_group_resource.go
  internal/services/network/vpn_server_configuration_policy_group_resource_test.go
  website/docs/r/vpn_server_configuration_policy_group.html.markdown
Labels: documentation, size/XL

#17044 `desktopvirtualization` - `docs example improvement`
  website/docs/r/virtual_desktop_application.html.markdown
  website/docs/r/virtual_desktop_application_group.html.markdown
  website/docs/r/virtual_desktop_scaling_plan.html.markdown
Labels: documentation, size/XS, service/virtual-desktops

#17037 `azurerm_web_pubsub_hub` - set `event_handler` block to `Optional`
  internal/services/signalr/web_pubsub_hub_resource.go
  internal/services/signalr/web_pubsub_hub_resource_test.go
  website/docs/r/web_pubsub_hub.html.markdown
Labels: enhancement, documentation, size/XS, service/signalr, service/web-pub-sub

#17002 `azurerm_container_registry_task` - Fix missing `authentication` when updating
  internal/services/containers/container_registry_task_resource.go
  internal/services/containers/container_registry_task_resource_test.go
Labels: bug, size/M, service/container-registry

#17072 Fix Event Grid Subscription documentation
  website/docs/r/eventgrid_event_subscription.html.markdown
  website/docs/r/eventgrid_system_topic_event_subscription.html.markdown
Labels: documentation, size/XS, service/event-grid

#17068 Add missing possible subscription endpoint types
  website/docs/r/eventgrid_event_subscription.html.markdown
Labels: documentation, size/XS

#17056 Fix azurerm_firewall docs
  website/docs/r/firewall.html.markdown
Labels: documentation, size/XS, service/firewall

#17051 [Docs fix]Correct docs for resource azurerm_windows_web_app
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, size/XS, service/app-service

#17047 `trafficmanager` - `docs example improvement`
  website/docs/d/traffic_manager_profile.html.markdown
  website/docs/r/traffic_manager_azure_endpoint.html.markdown
  website/docs/r/traffic_manager_external_endpoint.html.markdown
  website/docs/r/traffic_manager_nested_endpoint.html.markdown
Labels: documentation, size/S, service/traffic-manager

#17062 valid value on version in image reference
  examples/mssql/mssqlvm/main.tf
Labels: size/XS, service/mssql, examples

#17070 `apimanagement`-`docs example improvement`
  website/docs/r/api_management_gateway_api.html.markdown
  website/docs/r/api_management_identity_provider_aadb2c.html.markdown
  website/docs/r/api_management_openid_connect_provider.html.markdown
Labels: documentation, size/XS, service/api-management

#17059 `document`: Update `kubernetes_cluster` attributes doc
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS

#17048 `apimanagement`-`docs example improvement`
  website/docs/r/api_management_api_operation_policy.html.markdown
  website/docs/r/api_management_api_operation_tag.html.markdown
  website/docs/r/api_management_api_policy.html.markdown
  website/docs/r/api_management_api_schema.html.markdown
  website/docs/r/api_management_api_tag.html.markdown
  website/docs/r/api_management_api_version_set.html.markdown
  website/docs/r/api_management_authorization_server.html.markdown
  website/docs/r/api_management_certificate.html.markdown
  website/docs/r/api_management_custom_domain.html.markdown
  website/docs/r/api_management_email_template.html.markdown
Labels: documentation, size/M

#17025 `signalr` - `docs example improvement`
  website/docs/r/web_app_hybrid_connection.html.markdown
  website/docs/r/web_pubsub_hub.html.markdown
  website/docs/r/web_pubsub_network_acl.html.markdown
Labels: documentation, waiting-response, size/XS

#17078 New Data Source/Resource: `azurerm_cdn_frontdoor_endpoint`
  internal/services/cdn/cdn_frontdoor_endpoint_data_source.go
  internal/services/cdn/cdn_frontdoor_endpoint_data_source_test.go
  internal/services/cdn/cdn_frontdoor_endpoint_resource.go
  internal/services/cdn/cdn_frontdoor_endpoint_resource_test.go
  internal/services/cdn/cdn_frontdoor_helpers.go
  internal/services/cdn/cdn_frontdoor_profile_resource.go
  internal/services/cdn/parse/front_door_endpoint.go
  internal/services/cdn/parse/front_door_endpoint_test.go
  internal/services/cdn/registration.go
  internal/services/cdn/resourceids.go
  internal/services/cdn/validate/front_door_endpoint_id.go
  internal/services/cdn/validate/front_door_endpoint_id_test.go
  internal/services/cdn/validate/front_door_endpoint_name.go
  internal/services/cdn/validate/front_door_endpoint_name_test.go
  internal/services/cdn/validate/front_door_name_test.go
  website/docs/d/cdn_frontdoor_endpoint.html.markdown
  website/docs/r/cdn_frontdoor_endpoint.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, service/cdn

#17057 `azurerm_eventhub_authorization_rule` - extend regex char limit for `name` and doc fixes
  internal/services/eventhub/validate/eventhub_names.go
  website/docs/r/policy_subscription_policy_exemption.html.markdown
  website/docs/r/storage_share.html.markdown
Labels: enhancement, documentation, service/storage, size/XS, service/event-hubs, service/policy

#16940 `r\backup_policy_vm`: Add support for Enhanced Policy
  internal/services/recoveryservices/backup_policy_vm_data_source_test.go
  internal/services/recoveryservices/backup_policy_vm_resource.go
  internal/services/recoveryservices/backup_policy_vm_resource_test.go
  website/docs/r/backup_policy_vm.html.markdown
Labels: documentation, size/XL, service/recovery-services

#16964 `static_site_resource` wait LRO
  internal/services/web/static_site_resource.go
Labels: size/XS

#16974 fix: not set management_group_id cause error in policy set resource
  internal/services/policy/policy_set_definition_resource.go
Labels: bug, size/XS, service/policy

#16990 [Enhance] azurerm_redis_cache - support config identity
  internal/services/redis/redis_cache_resource.go
  internal/services/redis/redis_cache_resource_test.go
  website/docs/r/redis_cache.html.markdown
Labels: documentation, size/L, service/redis

#16976 azurerm_mysql_flexible_server: update validation for sku_name
  internal/services/mysql/validate/flexible_server_sku_name.go
  internal/services/mysql/validate/flexible_server_sku_name_test.go
Labels: size/XS, service/mysql

#17060 Fix `TestAccHPCCache_directoryLDAP`
  internal/services/hpccache/hpc_cache_resource_test.go
Labels: size/XS, service/hpc-cache

#17017 azurerm_cdn_endpoint_custom_domain - Allow Premium Verizon profile for BYOC custom domain
  internal/services/cdn/cdn_endpoint_custom_domain_resource.go
Labels: bug, size/XS, service/cdn

#17024 ` azurerm_synapse_role_assignment` - `role_name` now supports `Synapse Monitoring Operator`
  internal/services/synapse/synapse_role_assignment_resource.go
  website/docs/r/synapse_role_assignment.html.markdown
Labels: documentation, size/XS, service/synapse

#17004 Fix a bug cause TestAccBatchPool_startTask_basic failed
  internal/services/batch/batch_pool.go
Labels: size/XS, service/batch

#17069 `azurerm_log_analytics_workspace` - Allow field value updates while workspace is linked to a cluster
  internal/services/loganalytics/log_analytics_cluster.go
  internal/services/loganalytics/log_analytics_datasource_import.go
  internal/services/loganalytics/log_analytics_linked_service_resource.go
  internal/services/loganalytics/log_analytics_solution_resource.go
  internal/services/loganalytics/log_analytics_workspace_data_source.go
  internal/services/loganalytics/log_analytics_workspace_data_source_test.go
  internal/services/loganalytics/log_analytics_workspace_resource.go
  internal/services/loganalytics/log_analytics_workspace_resource_test.go
  website/docs/r/log_analytics_workspace.html.markdown
Labels: documentation, size/M, service/log-analytics

#17071 `synapse` - `docs example improvement`
  website/docs/r/synapse_sql_pool_vulnerability_assessment.html.markdown
  website/docs/r/synapse_sql_pool_vulnerability_assessment_baseline.html.markdown
  website/docs/r/synapse_sql_pool_workload_classifier.html.markdown
  website/docs/r/synapse_sql_pool_workload_group.html.markdown
  website/docs/r/synapse_workspace_aad_admin.html.markdown
  website/docs/r/synapse_workspace_extended_auditing_policy.html.markdown
  website/docs/r/synapse_workspace_key.html.markdown
  website/docs/r/synapse_workspace_security_alert_policy.html.markdown
  website/docs/r/synapse_workspace_sql_aad_admin.html.markdown
  website/docs/r/synapse_workspace_vulnerability_assessment.html.markdown
Labels: documentation, size/M, service/synapse

#17118 Doc Fix: correct documentation for `oidc_request_url`
  website/docs/index.html.markdown
Labels: documentation, size/XS

#17113 Doc Fix : azurerm_automation_job_schedule - Fix schedule_name property missing in tf doc issue
  website/docs/r/automation_job_schedule.html.markdown
Labels: documentation, size/XS, service/automation

#17115 `azurerm_container_group` Double the check timeout of deletion of nic
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
Labels: bug, size/M, service/container-group

#17107 Remove use of `ResourceData.Timeout` and switch to context deadline
  internal/services/disks/disk_pool_iscsi_target_lun_resource.go
  internal/services/disks/disk_pool_iscsi_target_resource.go
  internal/services/disks/disk_pool_resource.go
  internal/services/resource/resource_provider_registration_resource.go
Labels: service/disks, size/S

#17125 Fix some incorrect import spec
  website/docs/r/app_service_source_control_slot.html.markdown
  website/docs/r/function_app_active_slot.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/web_app_active_slot.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
Labels: documentation, size/XS

#17138 Refactor out use of `IsNewResource` in Typed resources
  internal/services/batch/batch_job_resource.go
  internal/services/resource/resource_provider_registration_resource.go
  internal/services/servicefabricmanaged/service_fabric_managed_cluster_resource.go
Labels: size/XL, service/batch, service/service-fabric-managed-cluster

#17139 `sentinel` - `docs example improvement`
  website/docs/r/azurerm_sentinel_alert_rule_machine_learning_behavior_analytics.html.markdown
  website/docs/r/sentinel_alert_rule_fusion.html.markdown
  website/docs/r/sentinel_alert_rule_ms_security_incident.html.markdown
  website/docs/r/sentinel_alert_rule_scheduled.html.markdown
  website/docs/r/sentinel_automation_rule.html.markdown
  website/docs/r/sentinel_data_connector_aws_s3.html.markdown
  website/docs/r/sentinel_watchlist_item.html.markdown
Labels: documentation, size/XS, service/sentinel

#17131 `attestation` - `docs example improvement`
  website/docs/r/attestation.html.markdown
Labels: documentation, size/XS, service/attestation

#17136 `servicebus` - `docs example improvement`
  website/docs/r/servicebus_topic_authorization_rule.html.markdown
Labels: documentation, size/XS

#17134 `springcloud` - `docs example improvement`
  website/docs/r/spring_cloud_gateway.html.markdown
  website/docs/r/spring_cloud_gateway_route_config.html.markdown
Labels: documentation, size/XS, service/spring

#17133 `azurestackhci` - `docs example improvement`
  website/docs/r/stack_hci_cluster.html.markdown
Labels: documentation, size/XS, service/azure-stack-hci

#17132 `storage` - `docs example improvement`
  website/docs/r/storage_account_customer_managed_key.html.markdown
  website/docs/r/storage_account_network_rules.html.markdown
  website/docs/r/storage_sync_cloud_endpoint.html.markdown
Labels: documentation, service/storage, size/XS

#17129 `web`-`docs example improvement`
  website/docs/r/app_service_environment.html.markdown
  website/docs/r/app_service_managed_certificate.html.markdown
Labels: documentation, size/XS, service/web-app

#17128 `streamanalytics` - `docs example improvement`
  website/docs/r/stream_analytics_function_javascript_uda.html.markdown
  website/docs/r/stream_analytics_function_javascript_udf.html.markdown
Labels: documentation, size/XS, service/stream-analytics

#17126 `streamanalytics` -`docs example improvement`
  website/docs/r/stream_analytics_job_schedule.html.markdown
  website/docs/r/stream_analytics_output_cosmosdb.html.markdown
  website/docs/r/stream_analytics_output_function.html.markdown
  website/docs/r/stream_analytics_output_mssql.html.markdown
  website/docs/r/stream_analytics_output_powerbi.html.markdown
  website/docs/r/stream_analytics_output_servicebus_queue.html.markdown
  website/docs/r/stream_analytics_output_servicebus_topic.html.markdown
  website/docs/r/stream_analytics_output_synapse.html.markdown
  website/docs/r/stream_analytics_output_table.html.markdown
  website/docs/r/stream_analytics_reference_input_mssql.html.markdown
Labels: documentation, size/M, service/stream-analytics

#17108 `synapse` - `docs example improvement`
  website/docs/r/synapse_firewall_rule.html.markdown
  website/docs/r/synapse_integration_runtime_azure.html.markdown
  website/docs/r/synapse_integration_runtime_self_hosted.html.markdown
  website/docs/r/synapse_linked_service.html.markdown
  website/docs/r/synapse_managed_private_endpoint.html.markdown
  website/docs/r/synapse_private_link_hub.html.markdown
  website/docs/r/synapse_role_assignment.html.markdown
  website/docs/r/synapse_spark_pool.html.markdown
  website/docs/r/synapse_sql_pool_extended_auditing_policy.html.markdown
  website/docs/r/synapse_sql_pool_security_alert_policy.html.markdown
Labels: documentation, size/S

#17103 Update typo
  website/docs/r/storage_share.html.markdown
Labels: documentation, size/XS

#17157 `redis` - `docs example improvement`
  website/docs/r/redis_firewall_rule.html.markdown
Labels: documentation, size/XS

#17156 `policy` -`docs example improvement`
  website/docs/r/policy_resource_group_policy_remediation.html.markdown
  website/docs/r/policy_resource_policy_remediation.html.markdown
  website/docs/r/resource_group_cost_management_export.html.markdown
  website/docs/r/resource_group_policy_assignment.html.markdown
Labels: documentation, size/S

#17160 `batch` - `docs example improvement`
  website/docs/r/batch_pool.html.markdown
Labels: documentation, size/XS

#17153 `network` - `docs example improvement`
  website/docs/r/route.html.markdown
Labels: documentation, size/XS

#17164 `bot` - `docs example improvement`
  website/docs/r/bot_channel_email.html.markdown
  website/docs/r/bot_service_azure_bot.html.markdown
Labels: documentation, size/XS

#17163 `database` - `docs example improvement`
  website/docs/r/postgresql_active_directory_administrator.html.markdown
  website/docs/r/postgresql_firewall_rule.html.markdown
  website/docs/r/postgresql_server_key.html.markdown
  website/docs/r/postgresql_virtual_network_rule.html.markdown
Labels: documentation, size/XS

#16464 New resources `capacity_reservation_group` and `capacity_reservation`
  internal/services/compute/capacity_reservation_group_resource.go
  internal/services/compute/capacity_reservation_group_resource_test.go
  internal/services/compute/capacity_reservation_resource.go
  internal/services/compute/capacity_reservation_resource_test.go
  internal/services/compute/client/client.go
  internal/services/compute/parse/capacity_reservation.go
  internal/services/compute/parse/capacity_reservation_group.go
  internal/services/compute/parse/capacity_reservation_group_test.go
  internal/services/compute/parse/capacity_reservation_test.go
  internal/services/compute/registration.go
  internal/services/compute/resourceids.go
  internal/services/compute/validate/capacity_reservation_group_id.go
  internal/services/compute/validate/capacity_reservation_group_id_test.go
  internal/services/compute/validate/capacity_reservation_group_name.go
  internal/services/compute/validate/capacity_reservation_id.go
  internal/services/compute/validate/capacity_reservation_id_test.go
  internal/services/compute/validate/capacity_reservation_name.go
  website/docs/r/capacity_reservation.html.markdown
  website/docs/r/capacity_reservation_group.html.markdown
Labels: documentation, size/XL

#16962 `azurerm_api_management` waitLRO
  internal/services/apimanagement/api_management_resource.go
Labels: size/XS, service/api-management

#16799 azurerm_cosmosdb_cassandra_cluster - support new properties
  internal/services/cosmos/cosmosdb_cassandra_cluster_resource.go
  internal/services/cosmos/cosmosdb_cassandra_cluster_resource_test.go
  internal/services/cosmos/cosmosdb_cassandra_resource_test.go
  internal/services/cosmos/testdata/cert.pem
  internal/services/cosmos/testdata/cert2.pem
  website/docs/r/cosmosdb_cassandra_cluster.html.markdown
Labels: documentation, size/XL, service/cosmosdb

#16972 `r\hpc_cache`: Add support for encryption key
  internal/services/hpccache/hpc_cache_resource.go
  internal/services/hpccache/hpc_cache_resource_test.go
  website/docs/r/hpc_cache.html.markdown
Labels: documentation, size/XL, service/hpc-cache

#17161 New Resource: `azurerm_monitor_workbook`
  internal/services/monitor/client/client.go
  internal/services/monitor/monitor_workbook_resource.go
  internal/services/monitor/monitor_workbook_resource_test.go
  internal/services/monitor/registration.go
  internal/services/monitor/sdk/2022-04-01/insights/client.go
  internal/services/monitor/sdk/2022-04-01/insights/constants.go
  internal/services/monitor/sdk/2022-04-01/insights/id_revision.go
  internal/services/monitor/sdk/2022-04-01/insights/id_revision_test.go
  internal/services/monitor/sdk/2022-04-01/insights/id_workbook.go
  internal/services/monitor/sdk/2022-04-01/insights/id_workbook_test.go
  internal/services/monitor/sdk/2022-04-01/insights/method_workbookscreateorupdate_autorest.go
  internal/services/monitor/sdk/2022-04-01/insights/method_workbooksdelete_autorest.go
  internal/services/monitor/sdk/2022-04-01/insights/method_workbooksget_autorest.go
  internal/services/monitor/sdk/2022-04-01/insights/method_workbookslistbyresourcegroup_autorest.go
  internal/services/monitor/sdk/2022-04-01/insights/method_workbookslistbysubscription_autorest.go
  internal/services/monitor/sdk/2022-04-01/insights/method_workbooksrevisionget_autorest.go
  internal/services/monitor/sdk/2022-04-01/insights/method_workbooksrevisionslist_autorest.go
  internal/services/monitor/sdk/2022-04-01/insights/method_workbooksupdate_autorest.go
  internal/services/monitor/sdk/2022-04-01/insights/model_systemdata.go
  internal/services/monitor/sdk/2022-04-01/insights/model_workbook.go
  internal/services/monitor/sdk/2022-04-01/insights/model_workbookproperties.go
  internal/services/monitor/sdk/2022-04-01/insights/model_workbookpropertiesupdateparameters.go
  internal/services/monitor/sdk/2022-04-01/insights/model_workbookupdateparameters.go
  internal/services/monitor/sdk/2022-04-01/insights/predicates.go
  internal/services/monitor/sdk/2022-04-01/insights/version.go
  website/docs/r/monitor_workbook.html.markdown
Labels: documentation, size/XL, service/monitor

#17180 `azurerm_service_fabric_cluster` - `update document`
  website/docs/r/service_fabric_cluster.html.markdown
Labels: documentation, size/XS

#17187 `azurerm_servicebus_namespace_network_rule_set` - state migration for id
  internal/services/servicebus/migration/namespace_network_rule_set.go
  internal/services/servicebus/parse/namespace_network_rule_set.go
  internal/services/servicebus/parse/namespace_network_rule_set_test.go
  internal/services/servicebus/resourceids.go
  internal/services/servicebus/servicebus_namespace_network_rule_set_resource.go
  internal/services/servicebus/servicebus_namespace_network_rule_set_resource_test.go
  internal/services/servicebus/validate/namespace_network_rule_set_id.go
  internal/services/servicebus/validate/namespace_network_rule_set_id_test.go
  website/docs/r/servicebus_namespace_network_rule_set.html.markdown
Labels: enhancement, documentation, size/XL, service/service-bus

#17094 New Data Source/Resource: `azurerm_cdn_frontdoor_rule_set`
  internal/services/cdn/cdn_frontdoor_rule_set_data_source.go
  internal/services/cdn/cdn_frontdoor_rule_set_data_source_test.go
  internal/services/cdn/cdn_frontdoor_rule_set_resource.go
  internal/services/cdn/cdn_frontdoor_rule_set_resource_test.go
  internal/services/cdn/parse/front_door_rule.go
  internal/services/cdn/parse/front_door_rule_set.go
  internal/services/cdn/parse/front_door_rule_set_test.go
  internal/services/cdn/parse/front_door_rule_test.go
  internal/services/cdn/registration.go
  internal/services/cdn/resourceids.go
  internal/services/cdn/validate/front_door_rule_id.go
  internal/services/cdn/validate/front_door_rule_id_test.go
  internal/services/cdn/validate/front_door_rule_name.go
  internal/services/cdn/validate/front_door_rule_name_test.go
  internal/services/cdn/validate/front_door_rule_set_id.go
  internal/services/cdn/validate/front_door_rule_set_id_test.go
  internal/services/cdn/validate/front_door_rule_set_name.go
  internal/services/cdn/validate/front_door_rule_set_name_test.go
  website/docs/d/cdn_frontdoor_rule_set.html.markdown
  website/docs/r/cdn_frontdoor_rule_set.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL, service/cdn

#17183 `azurerm_windows_function_app_x` - `custom_domain_verification_id` is now written to state file
  internal/services/appservice/windows_function_app_data_source.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_slot_resource.go
Labels: size/XS, service/app-service

#17148 `azurerm_key_vault_managed_hardware_security_module` - support for purging when soft deleted
  internal/features/defaults.go
  internal/features/user_flags.go
  internal/provider/features.go
  internal/provider/features_test.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_resource.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_resource_test.go
  website/docs/guides/features-block.html.markdown
Labels: documentation, service/key-vault, size/M

#16524 `azurerm_api_management` - Default hostname proxy configuration is no longer ignored
  internal/services/apimanagement/api_management_resource.go
Labels: size/XS, service/api-management

#16849 `azurerm_applicaton_gateway` -`priority` is now required
  internal/services/network/application_gateway_resource.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS

#17201 `azurerm_shared_image_*` - Fix validation of `gallery_name`
  internal/services/compute/validate/compute.go
  internal/services/compute/validate/compute_test.go
Labels: service/images, size/XS

#17216 `privatedns` - `docs example improvement`
  website/docs/r/private_dns_srv_record.html.markdown
  website/docs/r/private_dns_txt_record.html.markdown
  website/docs/r/private_dns_zone_virtual_network_link.html.markdown
Labels: documentation, size/XS

#17218 `eventgrid_system_topic_event_subscription` - documents `user_assigned_identity`
  website/docs/r/eventgrid_system_topic_event_subscription.html.markdown
Labels: documentation, size/XS

#17258 `netapp` `database` `monitor` `media` `policy` `managedapplications` `maintenance` `machinelearning` `logz` `logicapp` `loganalytics` - `docs example improvement`
  website/docs/d/managed_application_definition.html.markdown
  website/docs/d/mssql_database.html.markdown
  website/docs/r/log_analytics_saved_search.html.markdown
  website/docs/r/logic_app_integration_account_batch_configuration.html.markdown
  website/docs/r/logic_app_integration_account_session.html.markdown
  website/docs/r/logz_monitor.html.markdown
  website/docs/r/logz_tag_rule.html.markdown
  website/docs/r/machine_learning_inference_cluster.html.markdown
  website/docs/r/machine_learning_synapse_spark.html.markdown
  website/docs/r/maintenance_assignment_virtual_machine_scale_set.html.markdown
  website/docs/r/managed_application.html.markdown
  website/docs/r/management_group_policy_assignment.html.markdown
  website/docs/r/mariadb_configuration.html.markdown
  website/docs/r/mariadb_virtual_network_rule.html.markdown
  website/docs/r/media_live_output.html.markdown
  website/docs/r/monitor_action_group.html.markdown
  website/docs/r/monitor_action_rule_action_group.html.markdown
  website/docs/r/monitor_autoscale_setting.html.markdown
  website/docs/r/monitor_smart_detector_alert_rule.html.markdown
  website/docs/r/mssql_managed_database.html.markdown
  website/docs/r/mssql_managed_instance_active_directory_administrator.html.markdown
  website/docs/r/mssql_managed_instance_failover_group.html.markdown
  website/docs/r/mssql_managed_instance_vulnerability_assessment.html.markdown
  website/docs/r/mssql_server_transparent_data_encryption.html.markdown
  website/docs/r/mysql_firewall_rule.html.markdown
  website/docs/r/mysql_flexible_database.html.markdown
  website/docs/r/mysql_flexible_server_configuration.html.markdown
  website/docs/r/mysql_flexible_server_firewall_rule.html.markdown
  website/docs/r/mysql_server_key.html.markdown
  website/docs/r/netapp_volume.html.markdown
Labels: documentation, size/XL

#17237 `docs example improvement`-` 30 file part1`
  website/docs/r/cognitive_account_customer_managed_key.html.markdown
  website/docs/r/confidential_ledger.html.markdown
  website/docs/r/container_registry_scope_map.html.markdown
  website/docs/r/container_registry_task.html.markdown
  website/docs/r/container_registry_token.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
  website/docs/r/cosmosdb_cassandra_keyspace.html.markdown
  website/docs/r/cosmosdb_cassandra_table.html.markdown
  website/docs/r/cosmosdb_gremlin_graph.html.markdown
  website/docs/r/cosmosdb_sql_container.html.markdown
  website/docs/r/cosmosdb_sql_function.html.markdown
  website/docs/r/cosmosdb_sql_stored_procedure.html.markdown
  website/docs/r/cosmosdb_sql_trigger.html.markdown
  website/docs/r/data_factory_custom_dataset.html.markdown
  website/docs/r/data_factory_dataset_cosmosdb_sqlapi.html.markdown
  website/docs/r/data_factory_dataset_snowflake.html.markdown
  website/docs/r/data_factory_linked_custom_service.html.markdown
  website/docs/r/data_factory_linked_service_cosmosdb.html.markdown
  website/docs/r/data_factory_trigger_blob_event.html.markdown
  website/docs/r/data_factory_trigger_custom_event.html.markdown
  website/docs/r/data_share.html.markdown
  website/docs/r/databox_edge_order.html.markdown
  website/docs/r/databricks_workspace_customer_managed_key.html.markdown
  website/docs/r/dev_test_global_vm_shutdown_schedule.html.markdown
  website/docs/r/disk_encryption_set.html.markdown
  website/docs/r/disk_pool_iscsi_target.html.markdown
  website/docs/r/disk_pool_iscsi_target_lun.html.markdown
  website/docs/r/disk_pool_managed_disk_attachment.html.markdown
  website/docs/r/eventgrid_event_subscription.html.markdown
  website/docs/r/eventhub_cluster.html.markdown
Labels: documentation, size/L

#17235 Add tracking issue for uppercase in VM
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource.go
Labels: size/XS

#17225 Update servicebus_namespace_network_rule_set.html.markdown
  website/docs/r/servicebus_namespace_network_rule_set.html.markdown
Labels: documentation, size/XS

#17200 Missing vnet_route_all_enabled setting in Web app (slot) resource doc
  website/docs/d/linux_function_app.html.markdown
  website/docs/d/linux_web_app.html.markdown
  website/docs/d/windows_function_app.html.markdown
  website/docs/d/windows_web_app.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/XS

#17154 `recoveryservices` - `docs example improvement`
  website/docs/r/backup_policy_file_share.html.markdown
  website/docs/r/backup_protected_file_share.html.markdown
  website/docs/r/backup_protected_vm.html.markdown
Labels: documentation, size/XS

#17151 `securitycenter` - `docs example improvement`
  website/docs/r/security_center_server_vulnerability_assessment_virtual_machine.html.markdown
Labels: documentation, size/XS

#17102 Added a note for `vault_key_reference`
  website/docs/r/app_configuration_key.html.markdown
Labels: documentation, size/XS

#17269 Use 'Workspace' not 'Workflow'
  website/docs/r/log_analytics_workspace.html.markdown
Labels: documentation, size/XS

#17196 azurerm_mssql_elasticpool : fix elastic pool with gen5 8 cpu cannot have 2048 GB of storage issue
  internal/services/mssql/helper/elasticpool.go
Labels: size/XS, service/mssql

#17301 Update mysql_flexible_server_data_source to create the correct resource id
  internal/services/mysql/mysql_flexible_server_data_source.go
Labels: bug, size/XS, service/mysql

#17299 `azurerm_kubernetes_cluster` update document
  website/docs/d/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#17282 Fix some incorrect import instructions
  website/docs/r/hpc_cache_nfs_target.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/XS, service/web-app

#17328 [Document] `azurerm_kubernetes_cluster` Add ForceNew warn
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#14524 New data sources `azurerm_management_group_template_deployment`, `azurerm_resource_group_template_deployment`, `azurerm_subscription_template_deployment`, `azurerm_tenant_template_deployment`
  internal/services/resource/management_group_template_deployment_data_source.go
  internal/services/resource/management_group_template_deployment_data_source_test.go
  internal/services/resource/registration.go
  internal/services/resource/resource_group_template_deployment_data_source.go
  internal/services/resource/resource_group_template_deployment_data_source_test.go
  internal/services/resource/resource_group_template_deployment_resource_test.go
  internal/services/resource/subscription_template_deployment_data_source.go
  internal/services/resource/subscription_template_deployment_data_source_test.go
  internal/services/resource/tenant_template_deployment_data_source.go
  internal/services/resource/tenant_template_deployment_data_source_test.go
  website/docs/d/management_group_template_deployment.html.markdown
  website/docs/d/resource_group_template_deployment.html.markdown
  website/docs/d/subscription_template_deployment.html.markdown
  website/docs/d/tenant_template_deployment.html.markdown
Labels: documentation, size/XL

#17329 confidentialledger: switching to use go-azure-sdk
  internal/services/confidentialledger/client/client.go
  internal/services/confidentialledger/confidential_ledger_data_source.go
  internal/services/confidentialledger/confidential_ledger_resource.go
  internal/services/confidentialledger/confidential_ledger_resource_test.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/confidentialledger/client.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/confidentialledger/constants.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/confidentialledger/id_ledger_test.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/confidentialledger/method_ledgerlistbysubscription_autorest.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/confidentialledger/model_aadbasedsecurityprincipal.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/confidentialledger/model_certbasedsecurityprincipal.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/confidentialledger/model_confidentialledger.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/confidentialledger/model_ledgerproperties.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/confidentialledger/model_systemdata.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/confidentialledger/version.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/nameavailability/client.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/nameavailability/constants.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/nameavailability/method_checknameavailability_autorest.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/nameavailability/model_checknameavailabilityrequest.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/nameavailability/model_checknameavailabilityresponse.go
  internal/services/confidentialledger/sdk/2021-05-13-preview/nameavailability/version.go
  internal/services/confidentialledger/sdk/2022-05-13/confidentialledger/id_ledger.go
  internal/services/confidentialledger/sdk/2022-05-13/confidentialledger/id_ledger_test.go
  internal/services/confidentialledger/sdk/2022-05-13/confidentialledger/method_ledgercreate_autorest.go
  internal/services/confidentialledger/sdk/2022-05-13/confidentialledger/method_ledgerdelete_autorest.go
  internal/services/confidentialledger/sdk/2022-05-13/confidentialledger/method_ledgerget_autorest.go
  internal/services/confidentialledger/sdk/2022-05-13/confidentialledger/method_ledgerlistbyresourcegroup_autorest.go
  internal/services/confidentialledger/sdk/2022-05-13/confidentialledger/method_ledgerupdate_autorest.go
  internal/services/confidentialledger/sdk/2022-05-13/confidentialledger/predicates.go
  internal/services/confidentialledger/sdk/2022-05-13/nameavailability/client.go
  internal/services/confidentialledger/sdk/2022-05-13/nameavailability/constants.go
  internal/services/confidentialledger/sdk/2022-05-13/nameavailability/method_checknameavailability_autorest.go
  internal/services/confidentialledger/sdk/2022-05-13/nameavailability/model_checknameavailabilityrequest.go
  internal/services/confidentialledger/sdk/2022-05-13/nameavailability/model_checknameavailabilityresponse.go
  internal/services/confidentialledger/sdk/2022-05-13/nameavailability/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/id_ledger.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/method_ledgercreate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/method_ledgerdelete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/method_ledgerget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/method_ledgerlistbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/method_ledgerlistbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/method_ledgerupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/model_aadbasedsecurityprincipal.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/model_certbasedsecurityprincipal.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/model_confidentialledger.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/model_ledgerproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/confidentialledger/2022-05-13/confidentialledger/version.go
  vendor/modules.txt
Labels: dependencies, size/XL

#17339 dependencies: updating `go-azure-sdk` to `v0.20220622.1090000`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#17270 `d\managed_disk`:add support for `network_access_policy` and `disk_access_id`
  internal/services/compute/managed_disk_data_source.go
  internal/services/compute/managed_disk_data_source_test.go
Labels: enhancement, service/disks, size/M

#17337 portal: switching to go-azure-sdk
  internal/services/portal/client/client.go
  internal/services/portal/legacy_dashboard_resource.go
  internal/services/portal/legacy_dashboard_resource_test.go
  internal/services/portal/portal_dashboard_data_source.go
  internal/services/portal/portal_dashboard_resource.go
  internal/services/portal/portal_dashboard_resource_test.go
  internal/services/portal/portal_tenant_configuration_resource.go
  internal/services/portal/portal_tenant_configuration_resource_test.go
  internal/services/portal/transition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/id_dashboard.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/model_dashboard.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/model_dashboardlens.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/model_dashboardparts.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/model_dashboardpartsposition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/model_dashboardproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/model_patchabledashboard.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/dashboard/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/tenantconfiguration/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/tenantconfiguration/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/tenantconfiguration/id_configuration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/tenantconfiguration/method_tenantconfigurationscreate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/tenantconfiguration/method_tenantconfigurationsdelete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/tenantconfiguration/method_tenantconfigurationsget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/tenantconfiguration/method_tenantconfigurationslist_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/tenantconfiguration/model_configuration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/tenantconfiguration/model_configurationlist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/tenantconfiguration/model_configurationproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/portal/2019-01-01-preview/tenantconfiguration/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/portal

#16912 IoTCentral: Add and swap to embedded SDK
  internal/services/iotcentral/client/client.go
  internal/services/iotcentral/iotcentral_application_resource.go
  internal/services/iotcentral/iotcentral_application_resource_test.go
  internal/services/iotcentral/migration/application.go
  internal/services/iotcentral/parse/application.go
  internal/services/iotcentral/parse/application_test.go
  internal/services/iotcentral/resourceids.go
  internal/services/iotcentral/transition.go
  internal/services/iotcentral/validate/application_id.go
  internal/services/iotcentral/validate/application_id_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iotcentral/mgmt/2018-09-01/iotcentral/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/iotcentral/mgmt/2018-09-01/iotcentral/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/iotcentral/mgmt/2018-09-01/iotcentral/apps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iotcentral/mgmt/2018-09-01/iotcentral/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iotcentral/mgmt/2018-09-01/iotcentral/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iotcentral/mgmt/2018-09-01/iotcentral/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iotcentral/mgmt/2018-09-01/iotcentral/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/iotcentral/mgmt/2018-09-01/iotcentral/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/id_iotapp.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/method_checknameavailability_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/method_checksubdomainavailability_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/method_listtemplates_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_app.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_appavailabilityinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_apppatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_appproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_appskuinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_apptemplate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_apptemplatelocations.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_networkrulesetiprule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_networkrulesets.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_operationinputs.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/model_privatelinkserviceconnectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/iotcentral/2021-11-01-preview/apps/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/iot-central

#17312 add missing dedicated host skus
  internal/services/compute/dedicated_host_resource.go
Labels: size/XS

#17348 dependencies: updating to `v0.20220623.1064317` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#17316 `azurerm_linux_function_app`: remove the property in docs
  website/docs/r/linux_function_app.html.markdown
Labels: documentation, size/XS

#17296 `azurerm_windows_web_app`, `azurerm_linux_web_app`: Fix auto heal slow request issue
  internal/services/appservice/helpers/web_app_schema.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/windows_web_app_resource_test.go
Labels: size/M, service/app-service

#17209 Remove incorrect validation of app service sticky setting names
  internal/services/appservice/helpers/shared_schema.go
  internal/services/appservice/validate/app_setting_name.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_web_app_resource_test.go
Labels: size/M, service/app-service

#17346 `azurerm_data_factory_dataset_snowflake`: fix table can't be loaded
  internal/services/datafactory/data_factory_dataset_snowflake_resource.go
Labels: size/XS, service/data-factory

#17367 `document` Fix example for `key_vault_managed_storage_account`
  website/docs/r/key_vault_managed_storage_account.html.markdown
Labels: documentation, service/key-vault, size/M

#17364 Doc Fix : azurerm_application_gateway - Fix incorrect description of property unhealthy_threshold
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS, service/application-gateway

#17284 `azurerm_service_plan` - update sku_name
  website/docs/r/service_plan.html.markdown
Labels: documentation, size/XS, service/app-service

#17241 `azurerm_application_gateway` Add length and nil check to fix #17207
  internal/services/network/application_gateway_resource.go
Labels: bug, crash, size/XS, service/application-gateway

#17109 Doc Fix : azurerm_subnet - Add note to address_prefixes that "AllowMultipleAddressPrefixesOnSubnet" is currently not supported
  website/docs/r/subnet.html.markdown
Labels: documentation, service/subnets, size/XS

#17392 Replace deprecated ioutil pkg with os & io
  internal/services/apimanagement/api_management_api_schema_resource_test.go
  internal/services/appservice/helpers/publish_app.go
  internal/services/storage/storage_account_resource_test.go
Labels: service/storage, size/XS, service/app-service, service/api-management

#17001 `azurerm_data_factory` - `purview_id`
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource_test.go
  internal/services/datafactory/data_factory_integration_runtime_managed_resource_test.go
  internal/services/datafactory/data_factory_resource.go
  internal/services/datafactory/data_factory_resource_test.go
  website/docs/d/data_factory.html.markdown
Labels: documentation, size/S, service/data-factory

#17400 fixing the typo for linux web app
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
Labels: documentation, size/XS, service/app-service

#17402 fix multiple docs: keyvault enum case sensitivity
  examples/batch/basic/README.md
  examples/cosmos-db/customer-managed-key/main.tf
  examples/databricks/customer-managed-key/dbfs/main.tf
  examples/virtual-machines/virtual_machine/provisioners/windows/2-certificates.tf
  examples/vm-scale-set/linux/secrets/main.tf
  examples/vm-scale-set/windows/secrets/main.tf
  examples/vm-scale-set/windows/service-fabric/2-key-vault.tf
  website/docs/r/app_configuration_key.html.markdown
  website/docs/r/data_protection_backup_instance_postgresql.html.markdown
  website/docs/r/key_vault_certificate.html.markdown
  website/docs/r/key_vault_key.html.markdown
  website/docs/r/log_analytics_cluster_customer_managed_key.html.markdown
  website/docs/r/machine_learning_workspace.html.markdown
  website/docs/r/spring_cloud_certificate.html.markdown
  website/docs/r/synapse_workspace.html.markdown
Labels: documentation, size/XL

#17374 sqlvirtualmachine: switch to go-azure-sdk and upgrade api to 2022-02-01
  go.mod
  go.sum
  internal/services/mssql/client/client.go
  internal/services/mssql/mssql_virtual_machine_resource.go
  internal/services/mssql/mssql_virtual_machine_resource_test.go
  internal/services/mssql/transition.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sqlvirtualmachine/mgmt/2021-11-01-preview/sqlvirtualmachine/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sqlvirtualmachine/mgmt/2021-11-01-preview/sqlvirtualmachine/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sqlvirtualmachine/mgmt/2021-11-01-preview/sqlvirtualmachine/availabilitygrouplisteners.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sqlvirtualmachine/mgmt/2021-11-01-preview/sqlvirtualmachine/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sqlvirtualmachine/mgmt/2021-11-01-preview/sqlvirtualmachine/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sqlvirtualmachine/mgmt/2021-11-01-preview/sqlvirtualmachine/groups.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sqlvirtualmachine/mgmt/2021-11-01-preview/sqlvirtualmachine/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sqlvirtualmachine/mgmt/2021-11-01-preview/sqlvirtualmachine/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sqlvirtualmachine/mgmt/2021-11-01-preview/sqlvirtualmachine/sqlvirtualmachines.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/sqlvirtualmachine/mgmt/2021-11-01-preview/sqlvirtualmachine/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/id_sqlvirtualmachine.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/id_sqlvirtualmachinegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_listbysqlvmgroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_redeploy_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_startassessment_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_additionalfeaturesserverconfigurations.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_assessmentsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_autobackupsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_autopatchingsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_keyvaultcredentialsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_schedule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_serverconfigurationsmanagementsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_sqlconnectivityupdatesettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_sqlinstancesettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_sqlstoragesettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_sqlstorageupdatesettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_sqltempdbsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_sqlvirtualmachine.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_sqlvirtualmachineproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_sqlvirtualmachineupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_sqlworkloadtypeupdatesettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_storageconfigurationsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/model_wsfcdomaincredentials.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachines/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/mssql

#17334 `azurerm_spring_cloud_service` update note
  website/docs/r/spring_cloud_service.html.markdown
Labels: documentation, size/XS

#17283 `loganalytics` `lighthouse` `loadbalancer` `kusto` `healthcare` `bot` `appservice` `network` `eventhub`- `docs example improvement`
  website/docs/d/healthcare_fhir_service.html.markdown
  website/docs/r/bot_healthbot.html.markdown
  website/docs/r/eventhub_namespace_customer_managed_key.html.markdown
  website/docs/r/firewall_application_rule_collection.html.markdown
  website/docs/r/firewall_nat_rule_collection.html.markdown
  website/docs/r/firewall_network_rule_collection.html.markdown
  website/docs/r/frontdoor_custom_https_configuration.html.markdown
  website/docs/r/frontdoor_rules_engine.html.markdown
  website/docs/r/function_app_hybrid_connection.html.markdown
  website/docs/r/healthcare_service.html.markdown
  website/docs/r/kusto_attached_database_configuration.html.markdown
  website/docs/r/kusto_cluster_customer_managed_key.html.markdown
  website/docs/r/kusto_cluster_principal_assignment.html.markdown
  website/docs/r/kusto_database_principal_assignment.html.markdown
  website/docs/r/kusto_eventgrid_data_connection.html.markdown
  website/docs/r/lb_outbound_rule.html.markdown
  website/docs/r/lighthouse_assignment.html.markdown
  website/docs/r/log_analytics_cluster_customer_managed_key.html.markdown
Labels: documentation, size/L

#17398 `azurerm_data_factory_linked_service_azure_file_storage` - Fix assignment to `user_id`
  internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_file_storage_resource_test.go
Labels: size/S, service/data-factory

#17390 `shared_image_version`:add new `storage_account_type`: `Premium_LRS`
  internal/services/compute/shared_image_version_resource.go
  website/docs/r/shared_image_version.html.markdown
Labels: enhancement, documentation, service/images, size/XS

#16731 azurerm_batch_account ：fix storage account id is invalid error
  internal/services/batch/batch_account_resource.go
  internal/services/batch/batch_account_resource_test.go
Labels: size/M, service/batch

#16966 new resource `azurerm_spring_cloud_api_portal_custom_domain`
  internal/services/springcloud/client/client.go
  internal/services/springcloud/parse/spring_cloud_api_portal_custom_domain.go
  internal/services/springcloud/parse/spring_cloud_api_portal_custom_domain_test.go
  internal/services/springcloud/registration.go
  internal/services/springcloud/resourceids.go
  internal/services/springcloud/spring_cloud_api_portal_custom_domain_resource.go
  internal/services/springcloud/spring_cloud_api_portal_custom_domain_resource_test.go
  internal/services/springcloud/validate/spring_cloud_api_portal_custom_domain_id.go
  internal/services/springcloud/validate/spring_cloud_api_portal_custom_domain_id_test.go
  website/docs/r/spring_cloud_api_portal_custom_domain.html.markdown
Labels: documentation, size/XL, service/spring

#17077 azurerm_bot_service_azure_bot: support new property MsaAppType
  internal/services/bot/bot_channel_test.go
  internal/services/bot/bot_service_azure_bot_resource_test.go
  internal/services/bot/bot_service_base_resource.go
  website/docs/r/bot_service_azure_bot.html.markdown
Labels: documentation, size/M, service/bots

#15621 `r\application_insights` Add validation for `workspace_id`
  internal/services/applicationinsights/application_insights_resource.go
  website/docs/r/application_insights.html.markdown
Labels: documentation, size/XS, service/application-insights

#17076 `r\digital_twins_instance`: support `identity`
  internal/services/digitaltwins/digital_twins_instance_resource.go
  internal/services/digitaltwins/digital_twins_instance_resource_test.go
  website/docs/r/digital_twins_instance.html.markdown
Labels: documentation, size/M, service/digital-twins

#16775 `azurerm_container_group` - Support resource limit for cpu/mem/gpu
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
  website/docs/r/container_group.html.markdown
Labels: enhancement, documentation, size/M, service/container-group

#16820 azurerm_vpn_site - support new property o365_policy
  internal/services/network/vpn_site_resource.go
  internal/services/network/vpn_site_resource_test.go
  website/docs/r/vpn_site.html.markdown
Labels: documentation, size/L

#17369 azurerm_bot_channels_registration - support streaming_endpoint_enabled
  internal/services/bot/bot_channel_test.go
  internal/services/bot/bot_channels_registration_resource.go
  internal/services/bot/bot_channels_registration_resource_test.go
  website/docs/r/bot_channels_registration.html.markdown
Labels: enhancement, documentation, size/M, service/bots

#17396 `azurerm_cdn_endpoint_custom_domain` - Set to state once created
  internal/services/cdn/cdn_endpoint_custom_domain_resource.go
Labels: enhancement, size/XS, service/cdn

#17322 azure function app: fix `elastic_instance_minimum` not being set correctly issue
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/windows_function_app_resource_test.go
Labels: size/XS, service/app-service

#17391 `r\shared_image_version`: update `target_region` to list
  internal/services/compute/shared_image_version_resource.go
Labels: size/XS

#17388 tooling: updating the track2 check to callout go-azure-sdk
  scripts/track2-check.sh
Labels: size/XS

#17411 Sentinel data connector document: emphasize that `tenant_id` can only be the current tenant
  website/docs/r/sentinel_data_connector_azure_active_directory.html.markdown
  website/docs/r/sentinel_data_connector_azure_advanced_threat_protection.html.markdown
  website/docs/r/sentinel_data_connector_microsoft_cloud_app_security.html.markdown
  website/docs/r/sentinel_data_connector_microsoft_defender_advanced_threat_protection.html.markdown
  website/docs/r/sentinel_data_connector_office_365.html.markdown
  website/docs/r/sentinel_data_connector_threat_intelligence.html.markdown
Labels: documentation, size/XS

#17295 `r\shared_image_version`: add support for `disk_encryption_set_id` `end_of_life_date` `replication_mode`
  internal/services/compute/image_resource_test.go
  internal/services/compute/shared_image_version_resource.go
  internal/services/compute/shared_image_version_resource_test.go
  website/docs/r/shared_image_version.html.markdown
Labels: documentation, size/XL

#17354 `azurerm_linux_web_app` `azurerm_linux_web_app_slot` expose `virtual_network_subnet_id` for vNet integration
  internal/services/appservice/linux_web_app_data_source.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service

#17325 New Resource: azurerm_data_protection_resource_guard
  internal/services/dataprotection/client/client.go
  internal/services/dataprotection/data_protection_resource_guard_resource.go
  internal/services/dataprotection/data_protection_resource_guard_resource_test.go
  internal/services/dataprotection/registration.go
  internal/services/dataprotection/validate/resource_guard_name.go
  internal/services/dataprotection/validate/resource_guard_name_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/id_deleteprotecteditemrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/id_deleteresourceguardproxyrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/id_disablesoftdeleterequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/id_getbackupsecuritypinrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/id_resourceguard.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/id_updateprotecteditemrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/id_updateprotectionpolicyrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getbackupsecuritypinrequestsobjects_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getdefaultbackupsecuritypinrequestsobject_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getdefaultdeleteprotecteditemrequestsobject_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getdefaultdeleteresourceguardproxyrequestsobject_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getdefaultdisablesoftdeleterequestsobject_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getdefaultupdateprotecteditemrequestsobject_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getdefaultupdateprotectionpolicyrequestsobject_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getdeleteprotecteditemrequestsobjects_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getdeleteresourceguardproxyrequestsobjects_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getdisablesoftdeleterequestsobjects_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getresourcesinresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getresourcesinsubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getupdateprotecteditemrequestsobjects_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_getupdateprotectionpolicyrequestsobjects_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_patch_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/method_put_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/model_azuremonitoralertsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/model_dppbaseresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/model_dppidentitydetails.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/model_monitoringsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/model_patchbackupvaultinput.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/model_patchresourcerequestinput.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/model_resourceguard.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/model_resourceguardoperation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/model_resourceguardresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dataprotection/2022-04-01/resourceguards/version.go
  vendor/modules.txt
  website/docs/r/data_protection_resource_guard.html.markdown
Labels: documentation, dependencies, size/XL, service/data-protection

#17418 Refactor: Removing all `transition.go` files from various services
  internal/services/cognitive/cognitive_account_data_source.go
  internal/services/cognitive/cognitive_account_resource.go
  internal/services/cognitive/transition.go
  internal/services/communication/communication_service_resource.go
  internal/services/communication/transition.go
  internal/services/desktopvirtualization/transition.go
  internal/services/desktopvirtualization/virtual_desktop_application_group_resource.go
  internal/services/desktopvirtualization/virtual_desktop_host_pool_resource.go
  internal/services/desktopvirtualization/virtual_desktop_scaling_plan_resource.go
  internal/services/desktopvirtualization/virtual_desktop_workspace_resource.go
  internal/services/disks/disk_pool_resource.go
  internal/services/disks/transition.go
  internal/services/iotcentral/iotcentral_application_resource.go
  internal/services/iotcentral/transition.go
  internal/services/maps/maps_account_data_source.go
  internal/services/maps/maps_account_resource.go
  internal/services/maps/transition.go
  internal/services/msi/transition.go
  internal/services/msi/user_assigned_identity_data_source.go
  internal/services/msi/user_assigned_identity_resource.go
  internal/services/mssql/mssql_virtual_machine_resource.go
  internal/services/mssql/transition.go
  internal/services/notificationhub/notification_hub_data_source.go
  internal/services/notificationhub/notification_hub_namespace_data_source.go
  internal/services/notificationhub/notification_hub_namespace_resource.go
  internal/services/notificationhub/notification_hub_resource.go
  internal/services/notificationhub/transition.go
  internal/services/portal/portal_dashboard_data_source.go
  internal/services/portal/portal_dashboard_resource.go
  internal/services/portal/transition.go
  internal/services/privatedns/private_dns_a_record_resource.go
  internal/services/privatedns/private_dns_aaaa_record_resource.go
  internal/services/privatedns/private_dns_cname_record_resource.go
  internal/services/privatedns/private_dns_mx_record_resource.go
  internal/services/privatedns/private_dns_ptr_record_resource.go
  internal/services/privatedns/private_dns_srv_record_resource.go
  internal/services/privatedns/private_dns_txt_record_resource.go
  internal/services/privatedns/private_dns_zone_data_source.go
  internal/services/privatedns/private_dns_zone_resource.go
  internal/services/privatedns/private_dns_zone_virtual_network_link_resource.go
  internal/services/privatedns/transition.go
  internal/services/videoanalyzer/transition.go
  internal/services/videoanalyzer/video_analyzer_resource.go
Labels: service/disks, service/dns, size/XL, service/mssql, service/cognitive-services, service/notifications, service/maps, service/iot-central, service/authorization, service/virtual-desktops, service/communication, service/portal, service/video-analyzer

#17424 `azurerm_key_vault_{key|secret}` - Expose attributes `resource_id` and `resource_versionless_id`
  internal/services/keyvault/key_vault_key_data_source.go
  internal/services/keyvault/key_vault_key_data_source_test.go
  internal/services/keyvault/key_vault_key_resource.go
  internal/services/keyvault/key_vault_key_resource_test.go
  internal/services/keyvault/key_vault_secret_data_source.go
  internal/services/keyvault/key_vault_secret_data_source_test.go
  internal/services/keyvault/key_vault_secret_resource.go
  internal/services/keyvault/key_vault_secret_resource_test.go
  internal/services/keyvault/parse/key.go
  internal/services/keyvault/parse/key_test.go
  internal/services/keyvault/parse/key_versionless.go
  internal/services/keyvault/parse/key_versionless_test.go
  internal/services/keyvault/parse/secret.go
  internal/services/keyvault/parse/secret_test.go
  internal/services/keyvault/parse/secret_versionless.go
  internal/services/keyvault/parse/secret_versionless_test.go
  internal/services/keyvault/resourceids.go
  internal/services/keyvault/validate/key_id.go
  internal/services/keyvault/validate/key_id_test.go
  internal/services/keyvault/validate/key_versionless_id.go
  internal/services/keyvault/validate/key_versionless_id_test.go
  internal/services/keyvault/validate/secret_id.go
  internal/services/keyvault/validate/secret_id_test.go
  internal/services/keyvault/validate/secret_versionless_id.go
  internal/services/keyvault/validate/secret_versionless_id_test.go
  website/docs/d/key_vault_key.html.markdown
  website/docs/d/key_vault_secret.html.markdown
  website/docs/r/key_vault_key.html.markdown
  website/docs/r/key_vault_secret.html.markdown
Labels: documentation, waiting-response, service/key-vault, size/XL

#17407 `azurerm_key_vault` data source: cache the `vault_uri` once read
  internal/services/keyvault/key_vault_data_source.go
Labels: service/key-vault, size/XS

#15849 `azurerm_static_site_custom_domain` - make `validation_type` optional
  internal/services/web/static_site_custom_domain_resource.go
Labels: size/XS, service/static-site

#16484 `azurerm_{\w+_}?policy_assignment` - ensure `name` not contains `/`
  internal/services/policy/assignment_management_group_resource.go
  internal/services/policy/assignment_resource.go
  internal/services/policy/assignment_resource_group_resource.go
  internal/services/policy/assignment_subscription_resource.go
Labels: enhancement, size/S, service/policy

#17417 mixedreality: switching to use go-azure-sdk
  internal/services/mixedreality/client/client.go
  internal/services/mixedreality/parse/spatial_anchors_account.go
  internal/services/mixedreality/parse/spatial_anchors_account_test.go
  internal/services/mixedreality/resourceids.go
  internal/services/mixedreality/spatial_anchors_account_data_source.go
  internal/services/mixedreality/spatial_anchors_account_resource.go
  internal/services/mixedreality/spatial_anchors_account_resource_test.go
  internal/services/mixedreality/validate/spatial_anchors_account_id.go
  internal/services/mixedreality/validate/spatial_anchors_account_id_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mixedreality/mgmt/2021-01-01/mixedreality/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/mixedreality/mgmt/2021-01-01/mixedreality/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/mixedreality/mgmt/2021-01-01/mixedreality/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mixedreality/mgmt/2021-01-01/mixedreality/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mixedreality/mgmt/2021-01-01/mixedreality/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mixedreality/mgmt/2021-01-01/mixedreality/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mixedreality/mgmt/2021-01-01/mixedreality/remoterenderingaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mixedreality/mgmt/2021-01-01/mixedreality/spatialanchorsaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/mixedreality/mgmt/2021-01-01/mixedreality/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/id_remoterenderingaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/id_spatialanchorsaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_remoterenderingaccountscreate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_remoterenderingaccountsdelete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_remoterenderingaccountsget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_remoterenderingaccountslistbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_remoterenderingaccountslistbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_remoterenderingaccountsupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_spatialanchorsaccountscreate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_spatialanchorsaccountsdelete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_spatialanchorsaccountsget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_spatialanchorsaccountslistbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_spatialanchorsaccountslistbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/method_spatialanchorsaccountsupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/model_mixedrealityaccountproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/model_remoterenderingaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/model_sku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/model_spatialanchorsaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mixedreality/2021-01-01/resource/version.go
  vendor/modules.txt
  website/docs/d/spatial_anchors_account.html.markdown
Labels: enhancement, documentation, dependencies, size/XL, service/mixed-reality

#17432 loadtest: refactoring to use `go-azure-sdk`
  internal/services/loadtest/client/client.go
  internal/services/loadtest/load_test_resource.go
  internal/services/loadtest/load_test_resource_test.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/constants.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/id_loadtest_test.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/id_resourcegroup.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/id_resourcegroup_test.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/id_subscription.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/id_subscription_test.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/model_loadtestresourcepatchrequestbodyproperties.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/model_systemdata.go
  internal/services/loadtest/sdk/2021-12-01-preview/loadtests/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/id_loadtest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/model_loadtestproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/model_loadtestresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/model_loadtestresourcepatchrequestbody.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/model_loadtestresourcepatchrequestbodyproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/loadtests/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, refactor, service/load-test

#16732 Add Contributor Documentation
  contributing/README.md
  contributing/topics/building-the-provider.md
  contributing/topics/debugging-the-provider.md
  contributing/topics/frequently-asked-questions.md
  contributing/topics/guide-new-data-source.md
  contributing/topics/guide-new-fields-to-data-source.md
  contributing/topics/guide-new-fields-to-resource.md
  contributing/topics/guide-new-resource.md
  contributing/topics/guide-new-service-package.md
  contributing/topics/guide-opening-a-pr.md
  contributing/topics/high-level-overview.md
  contributing/topics/maintainer-changelog.md
  contributing/topics/reference-acceptance-testing.md
  contributing/topics/reference-errors.md
  contributing/topics/reference-glossary.md
  contributing/topics/reference-naming.md
  contributing/topics/running-the-tests.md
Labels: size/XL
