Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2023-10, with the labels that each got.

#23429 Update literal casing in frontdoor.html.markdown
  website/docs/r/frontdoor.html.markdown
Labels: documentation, size/XS, service/frontdoor

#23415 `TypedSDK` - add filtering tag for removed schema items
  contributing/topics/guide-new-fields-to-resource.md
  internal/sdk/resource_encode.go
  internal/services/appservice/helpers/app_stack.go
  internal/services/automation/automation_software_update_configuration_resource.go
  internal/services/recoveryservices/site_recovery_replication_recovery_plan_resource.go
  internal/services/sentinel/sentinel_log_analytics_workspace_onboard_resource.go
Labels: size/S, service/app-service, service/automation, service/recovery-services, service/sentinel

#23444 Update kubernetes_cluster.html.markdown fix exports/supports
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#23476 azurerm_cosmosdb_postgresql_cluster - update the validation of sql_version and citus_version
  internal/services/cosmos/cosmosdb_postgresql_cluster_resource.go
  internal/services/cosmos/cosmosdb_postgresql_cluster_resource_test.go
  website/docs/r/cosmosdb_postgresql_cluster.html.markdown
Labels: documentation, size/XS, service/cosmosdb

#23483 `azurerm_palo_alto_local_rulestack`: use `location.Normalize` in Create method
  internal/services/paloalto/local_rulestack_resource.go
Labels: size/XS, service/paloalto

#23502 Update nat_gateway.html.markdown to add ip association examples
  website/docs/r/nat_gateway.html.markdown
Labels: documentation, size/XS

#23499 `azurerm_eventhub` - remove ForceNew and check `partition_count` is not decreased
  internal/services/eventhub/eventhub_resource.go
  website/docs/r/eventhub.html.markdown
Labels: documentation, size/XS, service/event-hubs

#23498 New Tool: `update-go-azure-sdk`
  internal/tools/update-go-azure-sdk/.gitignore
  internal/tools/update-go-azure-sdk/README.md
  internal/tools/update-go-azure-sdk/go.mod
  internal/tools/update-go-azure-sdk/go.sum
  internal/tools/update-go-azure-sdk/main.go
Labels: size/XL, tooling

#23518 dependencies: updating to `v0.20231011.1091146` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/deviceprovisioningservices/2022-02-05/iotdpsresource/method_listkeys.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/deviceprovisioningservices/2022-02-05/iotdpsresource/method_listkeysforkeyname.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/purview/2021-07-01/account/method_listkeys.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resourceconnector/2022-10-27/appliances/method_listkeys.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/application_ids.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/constants.go
  vendor/modules.txt
Labels: dependencies, size/XS

#23524 Tooling: upgrade some runners, improve runtime and avoid filling the filesystem
  .github/workflows/breaking-change-detection.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/validate-examples.yaml
Labels: size/XS, tooling

#23428 [Bug:] `azurerm_managed_lustre_file_system` - correct validation for `storage_capacity_in_tb` minimum per `sku_name` and remove hardcoded maximum `storage_capacity_in_tb`
  internal/services/azuremanagedlustrefilesystem/managed_lustre_file_system_resource.go
  website/docs/r/managed_lustre_file_system.html.markdown
Labels: bug, documentation, waiting-response, size/M, service/azuremanagedlustrefilesystem

#23318 `azurerm_application_gateway` - datasource support for `backend_http_settings`, `global`, `gateway_ip_configuration` and more attributes.
  internal/services/network/application_gateway_data_source.go
  internal/services/network/application_gateway_data_source_test.go
  website/docs/d/application_gateway.html.markdown
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XL, service/network

#23530 `DevCenter` - scaffolding the Service Package to enable generation
  .github/labeler-issue-triage.yml
  .github/labeler-pull-request-triage.yml
  .teamcity/components/generated/services.kt
  internal/provider/services_gen.go
  internal/services/devcenter/example_gen_test.go
  internal/services/devcenter/registration.go
  internal/services/devcenter/registration_gen.go
  internal/tools/generator-services/main.go
  website/allowed-subcategories
Labels: documentation, size/M, tooling, service/dev-center

#23534 dependencies: updating to version `v0.20231012.1141427` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#23382 Data Source: `azurerm_network_service_tags` - add `name` property
  internal/services/network/network_service_tags_data_source.go
  internal/services/network/network_service_tags_data_source_test.go
  website/docs/d/network_service_tags.html.markdown
Labels: documentation, size/S, service/network

#23529 Tooling: limit retention for gha artifacts
  .github/workflows/save-artifacts.yaml
Labels: size/XS, tooling

#23494 `azurerm_automation_schedule` - split create/update functions
  internal/services/automation/automation_schedule_resource.go
Labels: size/M, service/automation

#23533 `azurerm_application_insights_standard_web_test` - refactor resource to use model and encode and decode, update tests
  internal/services/applicationinsights/application_insights_standard_webtests_resource.go
  internal/services/applicationinsights/application_insights_standard_webtests_resource_test.go
Labels: size/XL, service/application-insights

#23535 `azurerm_virtual_machine`: fix panic if api return `nil` in `os_profile`
  go.mod
  internal/services/legacy/virtual_machine_resource.go
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/context/go19.go
  vendor/golang.org/x/net/context/pre_go17.go
  vendor/golang.org/x/net/context/pre_go19.go
  vendor/modules.txt
Labels: bug, crash, dependencies, waiting-response, size/XL, services/legacy

#23242 New resource: `azurerm_security_center_storage_defender`
  internal/provider/services.go
  internal/services/securitycenter/client/client.go
  internal/services/securitycenter/registration.go
  internal/services/securitycenter/security_center_storage_defender_resource.go
  internal/services/securitycenter/security_center_storage_defender_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2022-12-01-preview/defenderforstorage/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2022-12-01-preview/defenderforstorage/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2022-12-01-preview/defenderforstorage/method_create_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2022-12-01-preview/defenderforstorage/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2022-12-01-preview/defenderforstorage/model_defenderforstoragesetting.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2022-12-01-preview/defenderforstorage/model_defenderforstoragesettingproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2022-12-01-preview/defenderforstorage/model_malwarescanningproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2022-12-01-preview/defenderforstorage/model_onuploadproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2022-12-01-preview/defenderforstorage/model_operationstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2022-12-01-preview/defenderforstorage/model_sensitivedatadiscoveryproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2022-12-01-preview/defenderforstorage/version.go
  vendor/modules.txt
  website/docs/r/security_center_storage_defender.html.markdown
Labels: documentation, dependencies, size/XL, service/security-center

#23549 tooling: increasing the release runner to an `xl`
  .github/workflows/release.yaml
Labels: size/XS

#23551 GHA - remove invalid size spec from release flow
  .github/workflows/release.yaml
Labels: size/XS

#23552 GHA - turn on verbosity in release job
  .github/workflows/release.yaml
Labels: size/XS

#23553 GHA - reduce parallelism on release to 2
  .github/workflows/release.yaml
Labels: size/XS

#23548 `azurerm_bot_service_azure_bot` - remove use of pluginsdk tags function
  internal/services/bot/bot_service_resource_base.go
Labels: size/XS, service/bots

#23491 Data Source: `azurerm_virtual_hub_connection` - add new properties
  internal/services/network/virtual_hub_connection_data_source.go
  website/docs/d/virtual_hub_connection.html.markdown
Labels: bug, documentation, size/XS, service/network

#23554 GHA - increase parallelism on release to 8
  .github/workflows/release.yaml
Labels: size/XS

#23558 `azurerm_email_communication_service` - refactor for model, encode and decode correctly
  internal/services/communication/email_service_resource.go
Labels: size/M, service/communication

#23547 `azurerm_communication_service` - refactor for Typed SDK model, encode and decode correctly
  internal/services/communication/communication_service_resource.go
Labels: size/M, service/communication

#22976 `features` update feature flag `roll_instances_when_required` for `virtual_machine_scale_set` to be Optional
  internal/provider/features.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_other_test.go
Labels: size/XS

#23559 Auto PR: Regenerating based on (924f6fa9b0ae85e551002dc7c4b206b4913d2758)
  internal/services/automation/automation_account_data_source.go
Labels: size/XS, service/automation

#23513 automation: opening a PR when a branch named `auto-pr/deps/updating-go-azure-sdk-to-{version}` is pushed
  .github/workflows/automation-open-pull-request-go-sdk.yaml
  .github/workflows/automation-open-pull-request-pandora.yaml
Labels: size/S

#23565 GitHub Actions: fixing issues identified in GHAs
  .github/workflows/automation-open-pull-request-go-sdk.yaml
  .github/workflows/automation-open-pull-request-pandora.yaml
Labels: size/XS

#23545 Example: storage share `quota` must be >= 100 for premium account
  examples/storage/storage-share/main.tf
Labels: size/XS

#23566 Auto PR: Regenerating based on (42cfc3c34e6bd461e195d6608caf7bdcaadd666e)
  internal/services/devcenter/dev_center_project_resource_gen.go
  internal/services/devcenter/dev_center_project_resource_gen_test.go
  internal/services/devcenter/registration_gen.go
  website/allowed-subcategories
  website/docs/r/dev_center_project.html.markdown
Labels: documentation, size/S, service/dev-center

#23564 "TypedSDK": Fix the issue with the `removedInNextMajorVersion` tag causing data loss in `Decode`
  internal/sdk/resource_decode.go
Labels: size/XS

#23563 [TestCase] azurerm_maps_account - update sku_name value in the test case
  internal/services/maps/maps_account_data_source_test.go
  internal/services/maps/maps_account_resource_test.go
  website/docs/r/maps_account.html.markdown
Labels: documentation, size/XS, service/maps

#23370 `azurerm_resource_deployment_script_azure_power_shell` `azurerm_resource_deployment_script_azure_cli` - loosen version validation
  internal/services/resource/resource_deployment_script_common.go
  internal/services/resource/validate/resource_deployment_script_azure_cli_version.go
  internal/services/resource/validate/resource_deployment_script_azure_cli_version_test.go
  internal/services/resource/validate/resource_deployment_script_azure_power_shell_version.go
  internal/services/resource/validate/resource_deployment_script_azure_power_shell_version_test.go
  website/docs/r/resource_deployment_script_azure_cli.html.markdown
  website/docs/r/resource_deployment_script_azure_power_shell.html.markdown
Labels: documentation, size/L

#23568 internal/sdk: resource decoding/encoding now parses the struct tags consistently
  internal/sdk/resource_decode.go
  internal/sdk/resource_encode.go
  internal/sdk/resource_helpers.go
  internal/sdk/resource_helpers_test.go
  internal/sdk/wrapper_validate.go
Labels: size/L

#23570 azurerm_shared_image_gallery: support directly sharing
  internal/services/compute/shared_image_gallery_resource.go
  internal/services/compute/shared_image_gallery_resource_test.go
  website/docs/r/shared_image_gallery.html.markdown
Labels: documentation, size/M

#23581 dependencies: updating to `v0.62.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/kusto_cluster.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/kusto_database.go
  vendor/modules.txt
Labels: dependencies, size/L

#23588 `tools/update-go-azure-sdk`: fixing a couple of nits
  internal/tools/update-go-azure-sdk/main.go
Labels: size/S, tooling

#23575 `azurerm_redis_cache` : fix incorrect ssl values for `redis_primary_connection_string` and `secondary_connection_string`
  internal/services/redis/redis_cache_resource.go
  internal/services/redis/redis_cache_resource_test.go
Labels: size/S, service/redis

#23594 docs: improve AKS network policy section
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS

#23605 `azurerm_monitor_activity_log_alert` - support setting `HighAvailability` for `recommend_category`
  internal/services/monitor/monitor_activity_log_alert_resource.go
  internal/services/monitor/monitor_activity_log_alert_resource_test.go
  website/docs/r/monitor_activity_log_alert.html.markdown
Labels: documentation, size/XS, service/monitor

#23615 `azurerm_mssql_server_transparent_data_encryption` - Remove `Note` from documentation
  website/docs/r/mssql_managed_instance_transparent_data_encryption.html.markdown
  website/docs/r/mssql_server_transparent_data_encryption.html.markdown
Labels: documentation, size/XS

#23618 `azurerm_recovery_services_vault`: update `encryption`before update storageCfg
  internal/services/recoveryservices/recovery_services_vault_resource.go
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
Labels: size/M, service/recovery-services

#23596 Updated `azurerm_nginx_deployment` to support latest API properties
  internal/services/nginx/nginx_deployment_resource.go
  internal/services/nginx/nginx_deployment_resource_test.go
  website/docs/r/nginx_deployment.html.markdown
Labels: documentation, waiting-response, size/M, service/nginx

#23599 `azurerm_storage_account_customer_managed_key`: fix panic when dereference keyvault id pointer
  internal/services/storage/storage_account_customer_managed_key_resource.go
Labels: service/storage, size/XS

#23411 New Resource: `azurerm_application_load_balancer_frontend`
  internal/services/servicenetworking/application_load_balancer_frontend_resource.go
  internal/services/servicenetworking/application_load_balancer_frontend_resource_test.go
  internal/services/servicenetworking/application_load_balancer_resource.go
  internal/services/servicenetworking/registration.go
  website/docs/r/application_load_balancer_frontend.html.markdown
Labels: documentation, size/XL, service/service-networking

#22953 `azurerm_firewall_policy`: fix AccTest specify `pac_file` with storage sas url instead of hard code url
  internal/services/firewall/firewall_policy_resource_test.go
Labels: size/M, service/firewall

#23629 `azurerm_monitor_workspace` - export `query_endpoint`
  internal/services/monitor/monitor_workspace_resource.go
  internal/services/monitor/monitor_workspace_resource_test.go
  website/docs/r/monitor_workspace.html.markdown
Labels: documentation, size/XS, service/monitor

#23646 `azurerm_network_manager_deployment` - remove `pluginsdk` direct references
  internal/services/network/network_manager_deployment_resource.go
Labels: size/XS, service/network

#23645 Docs update forward_proxy_convention with Enum
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/XS

#23634 Add dependency to allow running TeamCity automated tests
  .teamcity/pom.xml
Labels: size/XS

#23648 `azurerm_service_fabric_managed_cluster` - remove superfluous timeout and cancel code
  internal/services/servicefabricmanaged/service_fabric_managed_cluster_resource.go
Labels: size/XS, service/service-fabric-managed-cluster

#23652 dependencies: updating to `v0.20231019.1094042` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/accounts/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/accounts/id_mediaservicesoperationresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/accounts/id_mediaservicesoperationstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/accounts/method_mediaservicesoperationresultsget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/accounts/method_mediaservicesoperationstatusesget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/accounts/model_erroradditionalinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/accounts/model_errordetail.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/accounts/model_mediaserviceoperationstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/liveevents/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/liveevents/id_operationlocation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/liveevents/method_operationlocation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/liveoutputs/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/liveoutputs/id_liveoutputoperationlocation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/liveoutputs/method_operationlocation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoints/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoints/id_streamingendpointoperationlocation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoints/method_operationlocation.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/errors.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/odata/query.go
  vendor/modules.txt
Labels: dependencies, size/XL

#23654 `azurerm_monitor_alert_prometheus_rule_group` - remove direct acesss to `pluginsdk` and fixup 32bit compat
  internal/services/monitor/monitor_alert_prometheus_rule_group_resource.go
Labels: size/XS, service/monitor

#23625 Support for ExpressRoute direct MACsec SCI state
  internal/services/network/express_route_port_resource.go
  internal/services/network/express_route_port_resource_test.go
  website/docs/r/express_route_port.html.markdown
Labels: documentation, size/XS, service/network

#23659 `azurerm_synapse_workspace` - add support for `azure_ad_only_authentication_enabled`
  internal/services/synapse/client/client.go
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/synapse/synapse_workspace_resource_test.go
  website/docs/r/synapse_workspace.html.markdown
Labels: documentation, size/M, service/synapse

#23665 `sentinel` Add shimming for sentinel abstraction from pluginSDK
  internal/sdk/resource_data.go
  internal/sdk/resource_data_pluginsdk.go
  internal/services/sentinel/sentinel_data_connector.go
  internal/services/sentinel/sentinel_data_connector_aws_cloud_trail.go
  internal/services/sentinel/sentinel_data_connector_aws_s3_resource.go
  internal/services/sentinel/sentinel_data_connector_azure_active_directory.go
  internal/services/sentinel/sentinel_data_connector_azure_advanced_threat_protection.go
  internal/services/sentinel/sentinel_data_connector_azure_security_center.go
  internal/services/sentinel/sentinel_data_connector_dynamics_365.go
  internal/services/sentinel/sentinel_data_connector_iot.go
  internal/services/sentinel/sentinel_data_connector_microsoft_cloud_app_security.go
  internal/services/sentinel/sentinel_data_connector_microsoft_defender_advanced_threat_protection.go
  internal/services/sentinel/sentinel_data_connector_microsoft_threat_protection.go
  internal/services/sentinel/sentinel_data_connector_office_365.go
  internal/services/sentinel/sentinel_data_connector_office_365_project.go
  internal/services/sentinel/sentinel_data_connector_office_atp.go
  internal/services/sentinel/sentinel_data_connector_office_irm.go
  internal/services/sentinel/sentinel_data_connector_office_power_bi.go
  internal/services/sentinel/sentinel_data_connector_threat_intelligence.go
  internal/services/sentinel/sentinel_data_connector_threat_intelligence_taxii.go
Labels: size/L, service/sentinel

#20235 Tools: Add a new tool as resource document linter
  go.mod
  go.sum
  internal/tools/document-lint/README.md
  internal/tools/document-lint/check/check_default_value.go
  internal/tools/document-lint/check/check_force_new.go
  internal/tools/document-lint/check/check_format_error.go
  internal/tools/document-lint/check/check_iface.go
  internal/tools/document-lint/check/check_possible_value.go
  internal/tools/document-lint/check/check_property_miss.go
  internal/tools/document-lint/check/check_required.go
  internal/tools/document-lint/check/check_resource.go
  internal/tools/document-lint/check/check_resource_all.go
  internal/tools/document-lint/check/check_resource_test.go
  internal/tools/document-lint/check/check_timeout.go
  internal/tools/document-lint/check/crossproperty.go
  internal/tools/document-lint/check/document_fixer.go
  internal/tools/document-lint/check/register.go
  internal/tools/document-lint/check/skip_config.go
  internal/tools/document-lint/main.go
  internal/tools/document-lint/md/doc_helper.go
  internal/tools/document-lint/md/doc_helper_test.go
  internal/tools/document-lint/md/normalize.go
  internal/tools/document-lint/md/normalize_test.go
  internal/tools/document-lint/md/parse_md.go
  internal/tools/document-lint/md/parse_md_test.go
  internal/tools/document-lint/md/resource_doc.go
  internal/tools/document-lint/md/resource_doc_test.go
  internal/tools/document-lint/md/testdata/key_vault.html.markdown
  internal/tools/document-lint/md/testdata/media_transform.html.markdown
  internal/tools/document-lint/model/position.go
  internal/tools/document-lint/model/resource_doc.go
  internal/tools/document-lint/schema/resource_schema.go
  internal/tools/document-lint/schema/resource_schema_test.go
  internal/tools/document-lint/schema/resource_value_monkey.go
  internal/tools/document-lint/util/colors.go
  internal/tools/document-lint/util/function.go
  internal/tools/document-lint/util/slice2map.go
  internal/tools/document-lint/util/string.go
  internal/tools/document-lint/util/string_test.go
  vendor/github.com/agiledragon/gomonkey/v2/LICENSE
  vendor/github.com/agiledragon/gomonkey/v2/README.md
  vendor/github.com/agiledragon/gomonkey/v2/creflect/ae1.17.go
  vendor/github.com/agiledragon/gomonkey/v2/creflect/be1.16.go
  vendor/github.com/agiledragon/gomonkey/v2/creflect/type.go
  vendor/github.com/agiledragon/gomonkey/v2/jmp_386.go
  vendor/github.com/agiledragon/gomonkey/v2/jmp_amd64.go
  vendor/github.com/agiledragon/gomonkey/v2/jmp_arm64.go
  vendor/github.com/agiledragon/gomonkey/v2/jmp_loong64.go
  vendor/github.com/agiledragon/gomonkey/v2/modify_binary_darwin.go
  vendor/github.com/agiledragon/gomonkey/v2/modify_binary_linux.go
  vendor/github.com/agiledragon/gomonkey/v2/modify_binary_windows.go
  vendor/github.com/agiledragon/gomonkey/v2/patch.go
  vendor/modules.txt
Labels: dependencies, size/XL, tooling

#23684 dependencies: updating to `v0.20231025.1113325` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_lro.go
  vendor/modules.txt
Labels: dependencies, size/XS

#23677 `azurerm_traffic_manager_azure_endpoint` - split create/update
  internal/services/trafficmanager/azure_endpoint_resource.go
Labels: size/M, service/traffic-manager

#23660 `azurerm_postgresql_flexible_server` - `private_dns_zone_id` is no longer ForceNew and case is suppressed
  internal/services/postgres/postgresql_flexible_server_resource.go
Labels: size/XS, service/postgresql

#23601 `azurerm_palo_alto_next_generation_firewall_virtual_network_local_rulestack`: add lock of `ruleStackID` in creating
  internal/services/paloalto/next_generation_firewall_vhub_local_rulestack_resource.go
  internal/services/paloalto/next_generation_firewall_vnet_local_rulestack_resource.go
  website/docs/r/palo_alto_next_generation_firewall_vhub_local_rulestack.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_virtual_network_local_rulestack.html.markdown
Labels: documentation, size/XS, service/paloalto

#23697 `azurerm_cognitive_deployment` - remove `forceNew` tag from `rai_policy_name`
  internal/services/cognitive/cognitive_deployment_resource.go
  internal/services/cognitive/cognitive_deployment_resource_test.go
  website/docs/r/cognitive_deployment.html.markdown
Labels: documentation, size/XS, service/cognitive-services

#23700 TeamCity - Increase timeout on testing for `Container Services` to 18h
  .teamcity/components/settings.kt
Labels: size/XS

#23635 Allow setting User Assigned Identity for Event Hub Encryption
  internal/services/eventhub/eventhub_namespace_customer_managed_key_resource.go
  internal/services/eventhub/eventhub_namespace_customer_managed_key_resource_test.go
  website/docs/r/eventhub_namespace_customer_managed_key.html.markdown
Labels: documentation, size/L, service/event-hubs

#23704 Auto PR: Regenerating based on (593115775673c5376200b75b4f3c2c452fa0366e)
  internal/tools/document-lint/check/crossproperty.go
  internal/tools/document-lint/check/skip_config.go
Labels: size/XS, tooling

#23709 Docs: Remove unused `azurerm_subnet` block in `azurerm_application_gateway` document
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS

#23586 "azurerm_backup_policy_vm": fix payload
  internal/services/recoveryservices/backup_policy_vm_resource.go
Labels: size/XS, service/recovery-services

#23692 Remove version/release_trian conflict from arc_kuberenetes_cluster_extension_resource
  internal/services/arckubernetes/arc_kubernetes_cluster_extension_resource.go
  internal/services/arckubernetes/arc_kubernetes_cluster_extension_resource_test.go
Labels: enhancement, size/XS, service/kubernetes-cluster, service/arc

#23574 `azurerm_storage_management_policy` - Support properties `rule.*.actions.*.base_blob.0.tier_to_cold_after_days_since_{modification|last_access_time|creation}_greater_than` and `rule.*.actions.*.{snapshot|version}.0.tier_to_cold_after_days_since_creation_greater_than`
  internal/services/storage/storage_management_policy_data_source.go
  internal/services/storage/storage_management_policy_resource.go
  internal/services/storage/storage_management_policy_resource_test.go
  website/docs/d/storage_management_policy.html.markdown
  website/docs/r/storage_management_policy.html.markdown
Labels: enhancement, documentation, service/storage, size/L

#23716 Fix incorrect documentation on `azurerm_eventhub_namespace_customer_managed_key`
  website/docs/r/eventhub_namespace_customer_managed_key.html.markdown
Labels: documentation, size/XS

#23695 `azurerm_container_registry_task_schedule_run_now`: fix panic of nil dereference
  internal/services/containers/container_registry_task_schedule_run_now_resource.go
Labels: bug, size/XS, service/container-registry

#23585 `azurerm_kubernetes_cluster` - `http_proxy_config` supports update
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, waiting-response, size/L, service/kubernetes-cluster

#23383 AccTest: storage account (network rules) modify the test for `private_link` property
  internal/services/storage/storage_account_network_rules_resource_test.go
  internal/services/storage/storage_account_resource_test.go
Labels: service/storage, size/M, tests
