Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2023-08, with the labels that each got.

#22752 `apimanagement`: pulling the `location` field from the API rather than the local config during deletion
  internal/services/apimanagement/api_management_resource.go
Labels: bug, size/XS, service/api-management

#22758 New Tool: `update-api-version`
  go.mod
  internal/tools/update-api-version/.gitignore
  internal/tools/update-api-version/README.md
  internal/tools/update-api-version/main.go
Labels: dependencies, size/L, tooling

#22769 split v3 change log into 2 files
  CHANGELOG-v3.md
  CHANGELOG.md
Labels: size/XL

#22756 azurerm_pim_eligible_role_assignment: fix the context deadline status check
  internal/services/authorization/pim_eligible_role_assignment_resource.go
Labels: bug, waiting-response, size/XS, service/authorization

#22743 Docs: update the description of security_style for azurerm_netapp_volume_group_sap_hana
  website/docs/r/netapp_volume_group_sap_hana.html.markdown
Labels: documentation, size/XS

#22749 `Resources` - Fix failed tests
  internal/services/resource/resource_provider_registration_resource_test.go
Labels: size/XS

#22721 azurerm_netapp_volume - update the validation of security_style
  internal/services/netapp/netapp_volume_resource.go
  internal/services/netapp/netapp_volume_resource_test.go
  website/docs/r/netapp_volume.html.markdown
Labels: documentation, size/XS, service/netapp

#22776 Auto PR: Regenerating based on (4d2c3561fb509e9e30195cb7964fe2fca21b20fd)
  internal/services/apimanagement/api_management_resource.go
  internal/services/privatedns/private_dns_a_record_resource.go
Labels: service/dns, size/XS, service/api-management

#22779 `tools/update-api-version`: also bumping the version within the `clients` directory too
  internal/tools/update-api-version/main.go
Labels: size/XS, tooling

#22778 r/monitor_aad_diagnostic_setting: updating to use `hashicorp/go-azure-sdk`
  internal/services/monitor/client/client.go
  internal/services/monitor/monitor_aad_diagnostic_setting_resource.go
  internal/services/monitor/monitor_aad_diagnostic_setting_resource_test.go
  internal/services/monitor/parse/monitor_aad_diagnostic_setting.go
  internal/services/monitor/parse/monitor_aad_diagnostic_setting_test.go
  internal/services/monitor/validate/monitor_aad_diagnostic_setting_id.go
  internal/services/monitor/validate/monitor_aad_diagnostic_setting_id_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/diagnosticsettings.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/diagnosticsettingscategory.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/aad/mgmt/2017-04-01/aad/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/id_diagnosticsetting.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/model_diagnosticsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/model_diagnosticsettingsresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/model_diagnosticsettingsresourcecollection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/model_logsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/model_retentionpolicy.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azureactivedirectory/2017-04-01/diagnosticsettings/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/monitor, refactor

#22788 dependencies: updating to `v0.20230802.1115742` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller.go
  vendor/modules.txt
Labels: dependencies, size/S

#22628 New Resource: `azurerm_mobile_network_sim`; New Data Source: `azurerm_mobile_network_sim`
  internal/services/mobilenetwork/client/client.go
  internal/services/mobilenetwork/mobile_network_sim_data_source.go
  internal/services/mobilenetwork/mobile_network_sim_data_source_test.go
  internal/services/mobilenetwork/mobile_network_sim_resource.go
  internal/services/mobilenetwork/mobile_network_sim_resource_test.go
  internal/services/mobilenetwork/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/id_sim.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/model_attacheddatanetworkresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/model_sim.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/model_simpolicyresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/model_simpropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/model_simstaticipproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/model_simstaticippropertiesstaticip.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/model_sliceresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/version.go
  vendor/modules.txt
  website/docs/d/mobile_network_sim.html.markdown
  website/docs/r/mobile_network_sim.html.markdown
Labels: documentation, dependencies, size/XL, service/mobile-network

#22790 Auto PR: Regenerating based on (9f9222b97f1281224c6c969253be9273b9cfaa08)
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/sim/client.go
Labels: dependencies, size/XS

#22781 dependencies -`automation`: updating `dscnodeconfiguration` and `sourcecontrol` to use API Version `2022-08-08`
  internal/services/automation/automation_dsc_nodeconfiguration_resource.go
  internal/services/automation/automation_dsc_nodeconfiguration_resource_test.go
  internal/services/automation/client/client.go
  internal/services/automation/migration/automation_source_control_migration_v0_to_v1.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/dscnodeconfiguration/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/dscnodeconfiguration/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/dscnodeconfiguration/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/dscnodeconfiguration/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/dscnodeconfiguration/method_listbyautomationaccount_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/id_automationaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/id_sourcecontrol.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/method_listbyautomationaccount_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/model_sourcecontrol.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/model_sourcecontrolcreateorupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/model_sourcecontrolcreateorupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/model_sourcecontrolproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/model_sourcecontrolsecuritytokenproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/model_sourcecontrolupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/model_sourcecontrolupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2020-01-13-preview/sourcecontrol/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/id_automationaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/id_nodeconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/method_listbyautomationaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/model_contenthash.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/model_contentsource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/model_dscconfigurationassociationproperty.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/model_dscnodeconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/model_dscnodeconfigurationcreateorupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/model_dscnodeconfigurationcreateorupdateparametersproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/model_dscnodeconfigurationproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/dscnodeconfiguration/version.go
  vendor/modules.txt
Labels: enhancement, dependencies, size/XL, service/automation

#22745 `azurerm_virtual_network`: support encryption
  internal/services/network/virtual_network_resource.go
  internal/services/network/virtual_network_resource_test.go
  website/docs/r/virtual_network.html.markdown
Labels: documentation, size/S, service/network

#22741 `azurerm_monitor_data_collection_rule` acctest: change test location to westeurope
  internal/services/monitor/monitor_data_collection_rule_data_source_test.go
  internal/services/monitor/monitor_data_collection_rule_resource_test.go
Labels: size/XS, service/monitor

#22722 `azurerm_cdn_frontdoor_rule` - fix regular expression for the `cache_duration` value
  internal/services/cdn/cdn_frontdoor_rule_resource_test.go
  internal/services/cdn/validate/front_door_validation_helpers.go
Labels: bug, size/M, service/cdn

#22718 `azurerm_eventhub_namespace_customer_managed_key`: add infrastructure encryption field
  internal/services/eventhub/eventhub_namespace_customer_managed_key_resource.go
  internal/services/eventhub/eventhub_namespace_customer_managed_key_resource_test.go
  website/docs/r/eventhub_namespace_customer_managed_key.html.markdown
Labels: documentation, size/XS, service/event-hubs

#22221 `azurerm_shared_image_gallery` - support for the sharing block
  internal/services/compute/client/client.go
  internal/services/compute/linux_virtual_machine_resource_images_test.go
  internal/services/compute/shared_image_gallery_resource.go
  internal/services/compute/shared_image_gallery_resource_test.go
  internal/services/compute/validate/shared_image_gallery_public_name_prefix.go
  internal/services/compute/validate/shared_image_gallery_public_name_prefix_test.go
  internal/services/compute/windows_virtual_machine_resource_images_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-03/gallerysharingupdate/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-03/gallerysharingupdate/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-03/gallerysharingupdate/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-03/gallerysharingupdate/id_gallery.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-03/gallerysharingupdate/method_gallerysharingprofileupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-03/gallerysharingupdate/model_sharingprofilegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-03/gallerysharingupdate/model_sharingupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-03/gallerysharingupdate/version.go
  vendor/modules.txt
  website/docs/r/shared_image_gallery.html.markdown
Labels: documentation, dependencies, service/images, size/XL

#22522 `azurerm_web_application_firewall_policy`：support `log_scrubbing` property
  internal/services/network/web_application_firewall_policy_resource.go
  internal/services/network/web_application_firewall_policy_resource_test.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, size/L, service/network

#22803 dependencies: updating to `v0.20230803.1095722` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/environment.go
  vendor/modules.txt
Labels: dependencies, size/XS

#22798 `azurerm_hpc_cache_nfs_target/azurerm_hpc_cache_blob_nfs_target` - update the validation of `usage_model`
  internal/services/hpccache/hpc_cache_blob_nfs_target_resource.go
  internal/services/hpccache/hpc_cache_blob_nfs_target_resource_test.go
  internal/services/hpccache/hpc_cache_nfs_target_resource.go
  internal/services/hpccache/hpc_cache_nfs_target_resource_test.go
  website/docs/r/hpc_cache_blob_nfs_target.html.markdown
  website/docs/r/hpc_cache_nfs_target.html.markdown
Labels: documentation, size/M, service/hpc-cache

#22199 `azurerm_public_ip`: fix AccTest hardcode location for test regionalTier
  .teamcity/components/settings.kt
Labels: size/XS

#22644 New resource and data source: `azurerm_automation_variable_object`
  internal/services/automation/automation_variable.go
  internal/services/automation/automation_variable_object_data_source.go
  internal/services/automation/automation_variable_object_data_source_test.go
  internal/services/automation/automation_variable_object_resource.go
  internal/services/automation/automation_variable_object_resource_test.go
  internal/services/automation/automation_variables_data_source.go
  internal/services/automation/helper/automation_variable.go
  internal/services/automation/registration.go
  internal/services/automation/validate/variable_name.go
  website/docs/d/automation_variable_object.html.markdown
  website/docs/r/automation_variable_object.html.markdown
Labels: documentation, size/XL, service/automation

#22809 `azurerm_kubernetes_cluster` - export `web_app_routing_identity`
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/S, service/kubernetes-cluster

#22689 `azurerm_postgresql_flexible_server_database\azurerm_postgresql_database` - update the validation of `collation`
  internal/services/postgres/migration/postgresql_database.go
  internal/services/postgres/postgresql_database_resource.go
  internal/services/postgres/postgresql_flexible_server_database_resource.go
  internal/services/postgres/postgresql_flexible_server_database_resource_test.go
  internal/services/postgres/validate/database_collation.go
  internal/services/postgres/validate/postgresql_database_collation.go
  internal/services/postgres/validate/postgresql_database_collation_test.go
  internal/services/postgres/validate/postgresql_flexible_server_database_collation.go
  internal/services/postgres/validate/postgresql_flexible_server_database_collation_test.go
Labels: size/XL, service/postgresql

#22807 `azurerm_virtual_network`: update acctest for add/remove encryption block
  internal/services/network/virtual_network_resource_test.go
Labels: size/XS, service/network

#22662 `azurerm_cdn_endpoint` - use `PUT` instead of `PATCH` for update if fields other than `tags` have changed
  internal/services/cdn/cdn_endpoint_resource.go
  internal/services/cdn/cdn_endpoint_resource_test.go
Labels: bug, size/L, service/cdn

#22812 `azurerm_custom_ip_prefix` - Honors customized resource manager endpoint
  internal/services/network/client/client.go
  scripts/run-gradually-deprecated.sh
Labels: size/XS, service/network

#22816 teamcity: running `hsm` on the main subscription
  .teamcity/components/settings.kt
Labels: size/XS, tooling

#22824 update naming conventions
  contributing/topics/reference-naming.md
Labels: size/XS

#22826 Fix provider example in documentation
  website/docs/index.html.markdown
Labels: documentation, size/XS

#22663 `azurerm_kusto_cosmosdb_data_connection_resource` - fix cosmosdb account id
  internal/services/kusto/kusto_cosmosdb_data_connection_resource.go
  internal/services/kusto/kusto_cosmosdb_data_connection_resource_test.go
Labels: size/L, service/kusto

#22813 dependencies: updating to `v0.58.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/storage_account.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/storage_container.go
  vendor/modules.txt
Labels: dependencies, size/L

#22835 `document` fix ubuntu 20_04 image reference
  website/docs/d/platform_image.html.markdown
  website/docs/r/network_connection_monitor.html.markdown
  website/docs/r/network_packet_capture.html.markdown
  website/docs/r/virtual_machine.html.markdown
  website/docs/r/virtual_machine_data_disk_attachment.html.markdown
  website/docs/r/virtual_machine_packet_capture.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, size/S

#22811 `azurerm_monitor_data_collection_rule` - force a new rule to be created when change a previous set `kind`
  internal/services/monitor/monitor_data_collection_rule_resource.go
  internal/services/monitor/monitor_data_collection_rule_resource_test.go
  website/docs/r/monitor_data_collection_rule.html.markdown
Labels: bug, documentation, size/XS, service/monitor

#22814 `azurerm_spring_cloud_configuration_service` - support for the `ca_certificate_id` property
  internal/services/springcloud/spring_cloud_configuration_service_resource.go
  internal/services/springcloud/spring_cloud_configuration_service_resource_test.go
  website/docs/r/spring_cloud_configuration_service.html.markdown
Labels: enhancement, documentation, size/L, service/spring

#22832 `azure_container_group` - Fix flattening issue for `init_container.0.secure_environment_variables`
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
Labels: bug, size/S, service/container-group

#22839 `example` - fix unix const in netapp example
  examples/netapp/nfsv3_volume_with_snapshot_policy/main.tf
Labels: documentation, size/XS, service/netapp

#22800 `azurerm_monitor_alert_prometheus_rule_group` - fix test
  internal/services/monitor/monitor_alert_prometheus_rule_group_resource_test.go
  website/docs/r/monitor_alert_prometheus_rule_group.html.markdown
Labels: documentation, size/XS, service/monitor, tests

#22597 `azurerm_log_analytics_workspace`: allow changing `sku` between `CapacityReservation` and `PerGB2018`
  internal/services/loganalytics/log_analytics_workspace_resource.go
  internal/services/loganalytics/log_analytics_workspace_resource_test.go
  website/docs/r/log_analytics_workspace.html.markdown
Labels: enhancement, documentation, size/S, service/log-analytics

#22844 feat(azurerm_security_center_subscription_pricing): Support for configuring Defender for APIs
  internal/services/securitycenter/security_center_subscription_pricing_resource.go
  website/docs/r/security_center_subscription_pricing.html.markdown
Labels: enhancement, documentation, size/XS, service/security-center

#22845 dependencies: updating to `v0.20230807.1085124` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  internal/services/monitor/monitor_metric_alert_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2018-03-01/metricalerts/model_metricalertsingleresourcemultiplemetriccriteria.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2023-04-01/datastore/model_accountkeydatastorecredentials.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2023-04-01/datastore/model_certificatedatastorecredentials.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2023-04-01/datastore/model_sasdatastorecredentials.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2023-04-01/datastore/model_serviceprincipaldatastorecredentials.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/encodings/model_jobinputsequence.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-07-01/encodings/model_jobinputsequence.go
  vendor/modules.txt
Labels: dependencies, size/L, service/monitor

#22840 `azurerm_analysis_services_server`, `azurerm_mariadb_configuration` : Fix acc tests failing on context no deadline issue
  internal/services/analysisservices/analysis_services_server_resource_test.go
  internal/services/mariadb/mariadb_configuration_resource_test.go
Labels: size/XS, service/analysis, service/maria-db

#22851 Data source azurerm_virtual_machine - fix power state is null
  internal/services/compute/virtual_machine_data_source.go
Labels: bug, service/virtual-machine, size/XS

#22848 `azurerm_static_site_custom_domain` - set `validation_token` in create instead of read
  internal/services/web/static_site_custom_domain_resource.go
  internal/services/web/static_site_resource_custom_domain_test.go
Labels: bug, size/XS, service/static-site

#22519 `azurerm_function_app_function` - update function app function naming restrictions
  internal/services/appservice/validate/function_app_function_name.go
  internal/services/appservice/validate/function_app_function_name_test.go
Labels: enhancement, size/XS, service/app-service

#22850 refactor: updating `network_profile`, `vpn_server_configuration`, `vpn_server_configuration_policy_group` and `vpn_site` to `go-azure-sdk`
  internal/services/network/client/client.go
  internal/services/network/network_profile_resource.go
  internal/services/network/network_profile_resource_test.go
  internal/services/network/parse/network_profile.go
  internal/services/network/parse/network_profile_test.go
  internal/services/network/parse/vpn_server_configuration.go
  internal/services/network/parse/vpn_server_configuration_policy_group.go
  internal/services/network/parse/vpn_server_configuration_policy_group_test.go
  internal/services/network/parse/vpn_server_configuration_test.go
  internal/services/network/parse/vpn_site.go
  internal/services/network/parse/vpn_site_link.go
  internal/services/network/parse/vpn_site_link_test.go
  internal/services/network/parse/vpn_site_test.go
  internal/services/network/point_to_site_vpn_gateway_resource.go
  internal/services/network/resourceids.go
  internal/services/network/validate/network_profile_id.go
  internal/services/network/validate/network_profile_id_test.go
  internal/services/network/validate/vpn_server_configuration_id.go
  internal/services/network/validate/vpn_server_configuration_id_test.go
  internal/services/network/validate/vpn_server_configuration_policy_group_id.go
  internal/services/network/validate/vpn_server_configuration_policy_group_id_test.go
  internal/services/network/validate/vpn_site_id.go
  internal/services/network/validate/vpn_site_id_test.go
  internal/services/network/validate/vpn_site_link_id.go
  internal/services/network/validate/vpn_site_link_id_test.go
  internal/services/network/vpn_gateway_connection_resource.go
  internal/services/network/vpn_server_configuration_policy_group_resource.go
  internal/services/network/vpn_server_configuration_policy_group_resource_test.go
  internal/services/network/vpn_server_configuration_resource.go
  internal/services/network/vpn_server_configuration_resource_test.go
  internal/services/network/vpn_site_resource.go
  internal/services/network/vpn_site_resource_test.go
Labels: size/XL, refactor, service/network

#22707 `azurerm_key_vault` - add support for the `NestedItemTypeStorageKey` to key vault `nested_item`
  internal/services/keyvault/parse/nested_item.go
Labels: bug, service/key-vault, size/XS

#22865 `azurerm_databricks_workspace`: fix validate function for machine learning workspace in databricks
  internal/services/databricks/databricks_workspace_resource.go
Labels: size/XS, service/databricks

#22868 `azurerm_kubernetes_cluster` - update doc for cycling system node pool
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#22867 `azurerm_mysql_server` : Fix acc test `TestAccMySQLServer_createPointInTimeRestore` failing with wrong time format
  internal/services/mysql/mysql_server_resource.go
Labels: size/XS, service/mysql, tests

#22828 `azurerm_mssql_server` - Add support for`identity.0.type` `SystemAssigned, UserAssigned`
  internal/services/mssql/mssql_server_resource.go
  internal/services/mssql/mssql_server_resource_test.go
  website/docs/r/mssql_server.html.markdown
Labels: enhancement, documentation, size/M, service/mssql

#22733 `azurerm_container_app_environment` - Make `log_analytics_workspace_id` an optional argument.
  internal/services/containerapps/container_app_environment_resource.go
  internal/services/containerapps/container_app_environment_resource_test.go
  website/docs/r/container_app_environment.html.markdown
Labels: documentation, size/M, service/container-apps

#22872 `azurerm_kubernetes_cluster` - docs: add exactly one of for `ingress_application_gateway`
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#22875 Docs: update the description of `ingress_application_gateway` of `azurerm_kubernetes_cluster`
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#22841 `azurerm_cdn_frontdoor_security_policy` - fix `resourceID` casing for associated `ActivatedResourceReference` resources on `READ` from Azure
  internal/services/cdn/cdn_frontdoor_security_policy_resource.go
  internal/services/cdn/frontdoorsecurityparams/cdn_frontdoor_security_params.go
Labels: size/XS, service/cdn

#22643 security_center_subscription_pricing_resource: add extensions support
  internal/services/securitycenter/security_center_subscription_pricing_resource.go
  internal/services/securitycenter/security_center_subscription_pricing_resource_test.go
  website/docs/r/security_center_subscription_pricing.html.markdown
Labels: documentation, size/L, service/security-center

#22873 refactor: porting `network_service_tag`, `network_watcher`, `network_packet_capture` over to `hashicorp/go-azure-sdk`
  internal/services/network/client/client.go
  internal/services/network/migration/network_watcher_flow_log.go
  internal/services/network/network_connection_monitor_resource.go
  internal/services/network/network_packet_capture_resource.go
  internal/services/network/network_packet_capture_resource_test.go
  internal/services/network/network_service_tags_data_source.go
  internal/services/network/network_watcher_data_source.go
  internal/services/network/network_watcher_flow_log_resource.go
  internal/services/network/network_watcher_resource.go
  internal/services/network/network_watcher_resource_test.go
  internal/services/network/parse/network_watcher.go
  internal/services/network/parse/network_watcher_test.go
  internal/services/network/parse/packet_capture.go
  internal/services/network/parse/packet_capture_test.go
  internal/services/network/resourceids.go
  internal/services/network/validate/network_watcher_id.go
  internal/services/network/validate/network_watcher_id_test.go
  internal/services/network/validate/packet_capture_id.go
  internal/services/network/validate/packet_capture_id_test.go
  internal/services/network/virtual_machine_packet_capture_resource.go
  internal/services/network/virtual_machine_packet_capture_resource_test.go
  internal/services/network/virtual_machine_scale_set_packet_capture_resource.go
  internal/services/network/virtual_machine_scale_set_packet_capture_resource_test.go
  internal/services/network/vpn_gateway_connection_resource.go
  internal/services/network/vpn_gateway_connection_resource_test.go
Labels: waiting-response, size/XL, refactor, service/network

#22542 Add public network access to workspace
  internal/services/desktopvirtualization/virtual_desktop_workspace_resource.go
  internal/services/desktopvirtualization/virtual_desktop_workspace_resource_test.go
  website/docs/r/virtual_desktop_workspace.html.markdown
Labels: enhancement, documentation, size/S, service/virtual-desktops

#21541 `azurerm_managed_application` - extend supported types for `parameters`/`parameter_values`/`output` and deprecate `parameters`
  examples/managed-application/application-with-parameter_values/main.tf
  examples/managed-application/application-with-parameter_values/variables.tf
  internal/services/managedapplications/managed_application_resource.go
  internal/services/managedapplications/managed_application_resource_test.go
  website/docs/r/managed_application.html.markdown
Labels: bug, documentation, size/XL, service/managed-apps

#20627 `azurerm_key_vault_certificate` - Support update of certificates based on `certificate_policy`
  internal/services/keyvault/key_vault_certificate_resource.go
  internal/services/keyvault/key_vault_certificate_resource_test.go
Labels: service/key-vault, size/L

#22888 Add `https` scheme support to `azurerm_monitor_action_group.webhook_receiver.aad_auth`
  internal/services/monitor/monitor_action_group_resource.go
Labels: enhancement, size/XS, service/monitor

#22892 `lint` fix website lint
  website/docs/r/palo_alto_local_rulestack_fqdn_list.html.markdown
  website/docs/r/palo_alto_local_rulestack_prefix_list.html.markdown
  website/docs/r/palo_alto_local_rulestack_rule.html.markdown
  website/docs/r/palo_alto_network_virtual_appliance.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_vhub_local_rulestack.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_vhub_panorama.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_virtual_network_local_rulestack.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_virtual_network_panorama.html.markdown
Labels: documentation, size/S

#22897 `paloalto` - missing resource example
  website/docs/r/palo_alto_next_generation_firewall_vhub_local_rulestack.html.markdown
Labels: documentation, size/S

#22898 blueprint: removing a remnant of `Azure/azure-sdk-for-go`
  internal/services/blueprints/blueprint_assingment.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/artifacts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/assignmentoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/assignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/blueprints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/publishedartifacts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/publishedblueprints.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/blueprint/mgmt/2018-11-01-preview/blueprint/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/blueprints

#22899 Auto PR: Regenerating based on (3fd91de24e3c17ac0dd82b13999df21b31f1f1a5)
  website/docs/r/palo_alto_local_rulestack.html.markdown
  website/docs/r/palo_alto_local_rulestack_certificate.html.markdown
Labels: documentation, size/XS

#22907 `postgresql_database` - Support for `collation` `en-GB`
  internal/services/postgres/validate/postgresql_database_collation.go
Labels: size/XS, service/postgresql

#22913 `azurerm_palo_alto_next_generation_firewall_virtual_hub_panorama` - Update document to use the right resource name
  website/docs/r/palo_alto_next_generation_firewall_vhub_panorama.html.markdown
Labels: documentation, size/XS

#22891 `azurerm_iothub_dps` - fix casing of possible values for `ip_filter_rule.target`
  internal/services/iothub/iothub_dps_resource.go
  internal/services/iothub/iothub_dps_resource_test.go
  website/docs/r/iothub_dps.html.markdown
Labels: documentation, size/XS, service/iot-hub

#22914 `azurerm_cognitive_deployment` - update description of property `capacity`
  website/docs/r/cognitive_deployment.html.markdown
Labels: documentation, size/XS

#22912 `azurerm_virtual_network_gateway_connection` - `custom_bgp_addresses.secondary` is now `Optional` rather than `Required`
  internal/services/network/virtual_network_gateway_connection_resource.go
  internal/services/network/virtual_network_gateway_connection_resource_test.go
  website/docs/r/virtual_network_gateway_connection.html.markdown
Labels: documentation, size/L, service/network

#22916 Update palo_alto_local_rulestack_rule.html.markdown
  website/docs/r/palo_alto_local_rulestack_rule.html.markdown
Labels: documentation, size/XS

#22834 `document` - fix `azurerm_image` examples
  examples/image/from_vhd/README.md
  examples/image/from_vhd/main.tf
  examples/image/from_vhd/variables.tf
  examples/image/from_virtual_machine/README.md
  examples/image/from_virtual_machine/main.tf
  examples/image/from_virtual_machine/variables.tf
  website/docs/r/image.html.markdown
Labels: documentation, service/images, size/L, examples

#22857 `azurerm_stack_hci_cluster` - add a new property `automanange_configuration_id`
  internal/services/automanage/client/client.go
  internal/services/automanage/parse/automanage_configuration_hci_assignment.go
  internal/services/automanage/parse/automanage_configuration_hci_assignment_test.go
  internal/services/automanage/resourceid.go
  internal/services/automanage/validate/automanage_configuration_hci_assignment_id.go
  internal/services/automanage/validate/automanage_configuration_hci_assignment_id_test.go
  internal/services/azurestackhci/stack_hci_cluster_resource.go
  internal/services/azurestackhci/stack_hci_cluster_resource_test.go
  website/docs/r/stack_hci_cluster.html.markdown
Labels: enhancement, documentation, size/XL, service/azure-stack-hci, service/automanage

#21410 `d/azurerm_key_vault_access_policy` - Fix Permission
  internal/services/keyvault/access_policy_schema.go
  internal/services/keyvault/key_vault_access_policy_data_source.go
  internal/services/keyvault/key_vault_access_policy_data_source_test.go
Labels: bug, service/key-vault, size/L

#22808 New resources `azurerm_mssql_virtual_machine_group` and `azurerm_mssql_virtual_machine_availability_group_listener`
  .github/labeler-issue-triage.yml
  internal/services/mssql/client/client.go
  internal/services/mssql/mssql_virtual_machine_availability_group_listener_resource.go
  internal/services/mssql/mssql_virtual_machine_availability_group_listener_resource_test.go
  internal/services/mssql/mssql_virtual_machine_group_resource.go
  internal/services/mssql/mssql_virtual_machine_group_resource_test.go
  internal/services/mssql/mssql_virtual_machine_resource.go
  internal/services/mssql/mssql_virtual_machine_resource_test.go
  internal/services/mssql/registration.go
  internal/services/mssql/testdata/FirstLogonCommands.xml
  internal/services/mssql/testdata/winrm.ps1
  internal/services/mssql/validate/sql_image_offer_name.go
  internal/services/mssql/validate/sql_image_offer_name_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/id_availabilitygrouplistener.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/id_sqlvirtualmachinegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/method_listbygroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/model_agconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/model_agreplica.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/model_availabilitygrouplistener.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/model_availabilitygrouplistenerproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/model_loadbalancerconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/model_multisubnetipconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/model_privateipaddress.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/availabilitygrouplisteners/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/id_sqlvirtualmachinegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/model_sqlvirtualmachinegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/model_sqlvirtualmachinegroupproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/model_sqlvirtualmachinegroupupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/model_wsfcdomainprofile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sqlvirtualmachine/2022-02-01/sqlvirtualmachinegroups/version.go
  vendor/modules.txt
  website/docs/r/mssql_virtual_machine.html.markdown
  website/docs/r/mssql_virtual_machine_availability_group_listener.html.markdown
  website/docs/r/mssql_virtual_machine_group.html.markdown
Labels: enhancement, documentation, dependencies, new-resource, size/XL, service/mssql

#22930 azurerm_cost_management_scheduled_action - add update for email_address_sender
  internal/services/costmanagement/scheduled_action_resource.go
  internal/services/costmanagement/scheduled_action_resource_test.go
Labels: size/S, service/cost-management

#22928 postgresql: reworking the validation for database collation
  internal/services/postgres/validate/postgresql_database_collation.go
  internal/services/postgres/validate/postgresql_database_collation_test.go
Labels: bug, size/XL, service/postgresql, refactor

#22947 add missing GHAs for new palo alto service
  .github/labeler-issue-triage.yml
  .github/labeler-pull-request-triage.yml
Labels: size/XS

#22946 `compute` fix test file names
  internal/services/compute/linux_virtual_machine_scale_set_resource_auth_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_disk_data_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_extensions_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_identity_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_images_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_scaling_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_disk_data_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_disk_os_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_extensions_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_identity_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_legacy_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_auth_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_disk_data_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_extensions_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_identity_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_images_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_scaling_test.go
Labels: size/XS

#22955 add missed generator config
  .github/labeler-issue-triage.yml
  internal/services/paloalto/registration.go
Labels: size/XS, service/paloalto

#22959 Auto PR: Regenerating based on (89edae4eaf06a6f7982f793cb80ede62a0258504)
  internal/services/apimanagement/api_management_gateway_host_name_configuration_data_source.go
  internal/services/apimanagement/api_management_identity_provider_aadb2c_resource_test.go
  internal/services/apimanagement/api_management_product_policy_resource.go
  internal/services/apimanagement/api_management_product_resource.go
Labels: size/XS, service/api-management

#22957 dependencies: updating to `v0.59.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/app_service.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/app_service_environment.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/app_service_function_app.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/app_service_plan.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/app_service_web_app.go
  vendor/modules.txt
Labels: dependencies, size/XL

#22967 `azurerm_kusto_cluster` - remove TestAccKustoCluster_engineV3
  internal/services/kusto/kusto_cluster_resource_test.go
Labels: size/S, service/kusto

#22972 [AccTest:] Datasource `azurerm_dns_soa_record` - fixes `TestAccDataSourceDnsSoaRecord_basic`
  internal/services/dns/dns_soa_record_data_source_test.go
Labels: service/dns, size/XS

#22962 dependencies: updating to `v0.20230815.1145621` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_public.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/helpers.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/odata/paging.go
  vendor/modules.txt
Labels: dependencies, size/S

#22983 Auto PR: Regenerating based on (8f673613ad0057280093b40037c4a3b332a7656b)
  internal/services/recoveryservices/backup_container_storage_account_resource.go
  internal/services/recoveryservices/backup_protected_file_share_resource.go
  internal/services/serviceconnector/helper.go
  internal/services/storage/storage_account_customer_managed_key_resource_test.go
  internal/services/storage/storage_account_data_source.go
  internal/services/storage/storage_account_network_rules_resource_test.go
  internal/services/storage/storage_account_resource_test.go
  internal/services/storage/storage_encryption_scope_resource_test.go
  internal/services/storage/storage_management_policy_data_source.go
  internal/services/storage/storage_sync_cloud_endpoint_resource.go
  internal/services/storagemover/storage_mover_target_endpoint_resource.go
Labels: service/storage, size/XS, service/recovery-services, service/service-connector, service/storagemover

#22982 `azurerm_web_application_firewall_policy` - fix handling not found in read
  internal/services/network/web_application_firewall_policy_resource.go
Labels: size/XS, service/network

#22943 `azurerm_netapp_pool` - update the validation of `size_in_tb`
  internal/services/netapp/netapp_pool_resource.go
  internal/services/netapp/netapp_pool_resource_test.go
  website/docs/r/netapp_pool.html.markdown
Labels: enhancement, documentation, size/XS, service/netapp

#22925 fix acctest: recovery service hyperv registration
  internal/services/recoveryservices/recovery_services_vault_hyperv_host_registration_test.go
  internal/services/recoveryservices/recovery_services_vault_hyperv_host_test.go
Labels: size/XS, service/recovery-services, tests

#22966 `azurerm_storage_management_policy` - Add existance check
  internal/services/storage/storage_management_policy_resource.go
  internal/services/storage/storage_management_policy_resource_test.go
Labels: bug, service/storage, size/S

#22994 Docs: Fix incorrect description of `enable_partitioning` property of resource `azurerm_servicebus_topic`
  website/docs/r/servicebus_topic.html.markdown
Labels: documentation, size/XS, service/service-bus

#21965 `azurerm_public_ip`: fix acctest `TestAccPublicIpStatic_importIdError` for new ID parse
  internal/services/network/public_ip_resource_test.go
Labels: size/XS, tests, service/network

#22991 `azurerm_linux/windows_virtual_machine_scale_set` - cancel rolling upgrades before deleting resource
  internal/services/compute/client/client.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_other_test.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: enhancement, documentation, service/vmss, size/XL

#23006 `AccTests` - flip everything back to primary subscription
  .teamcity/components/settings.kt
Labels: size/M

#23005 `data` `azurerm_disk_encryption_set` - support `identity`
  internal/services/compute/disk_encryption_set_data_source.go
  internal/services/compute/disk_encryption_set_data_source_test.go
  internal/services/compute/disk_encryption_set_resource_test.go
  website/docs/d/disk_encryption_set.html.markdown
Labels: enhancement, documentation, service/disks, size/S

#23007 `azurerm_windows_virtual_machine_scale_set` - fix copy pasta in test config
  internal/services/compute/windows_virtual_machine_scale_set_resource_other_test.go
Labels: service/vmss, size/XS, tests

#23008 Doc: Reflect the new id forms for the apimanagement resources
  website/docs/r/api_management_api_operation_policy.html.markdown
  website/docs/r/api_management_api_policy.html.markdown
  website/docs/r/api_management_policy.html.markdown
  website/docs/r/api_management_product_policy.html.markdown
Labels: documentation, service/api-management

#22478 `azurerm_kubernetes_cluster` - deprecate `public_network_access_enabled`
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/M, service/kubernetes-cluster

#22952 `azurerm_kubernetes_cluster` - mark `ebpf_data_plane` not force new
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/S, service/kubernetes-cluster

#23024 feature flagged schema fixes
  internal/services/appservice/helpers/app_stack.go
  internal/services/consumption/consumption_budget_base.go
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/monitor/monitor_diagnostic_setting_resource.go
Labels: waiting-response, size/XS, service/app-service, service/monitor, service/consumption, service/kusto

#23037 `acctests` - rename RGs so the Dalek will clean these up
  internal/services/apimanagement/api_management_data_source_test.go
  internal/services/apimanagement/api_management_product_data_source_test.go
  internal/services/apimanagement/api_management_user_data_source_test.go
Labels: size/XS, service/api-management, tests

#23040 azurerm_synapse_spark_pool - support addtional values for node_size_family
  internal/services/synapse/synapse_spark_pool_resource.go
  website/docs/r/synapse_spark_pool.html.markdown
Labels: documentation, size/XS, service/synapse

#23035 `azurerm_storage_management_policy` - move to `hashicorp/go-azure-sdk`
  internal/services/storage/client/client.go
  internal/services/storage/storage_management_policy_data_source.go
  internal/services/storage/storage_management_policy_resource.go
  internal/services/storage/storage_management_policy_resource_test.go
Labels: service/storage, size/XL

#23046 [Documentation]: update example usage for `azurerm_cdn_frontdoor_route`, `azurerm_cdn_frontdoor_rule`, `azurerm_cdn_frontdoor_secret` and `azurerm_cdn_frontdoor_security_policy`
  website/docs/r/cdn_frontdoor_route.html.markdown
  website/docs/r/cdn_frontdoor_rule.html.markdown
  website/docs/r/cdn_frontdoor_secret.html.markdown
  website/docs/r/cdn_frontdoor_security_policy.html.markdown
Labels: documentation, size/S

#23033 Doc Fix: `azurerm_storage_share` update `quota` section to mention the standard SA can set quota larger than 5TB
  website/docs/r/storage_share.html.markdown
Labels: documentation, size/XS

#23052 tooling: update generated labeller template with a pattern match for state migrations
  .github/labeler-pull-request-triage.yml
  internal/tools/generator-services/main.go
Labels: size/XS, tooling

#23058 r/signalr_service: updating the tests to use a Standard rather than Free SKU
  .teamcity/components/settings.kt
  internal/services/signalr/signalr_service_resource_test.go
Labels: size/M, service/signalr

#23061 `Authorization`- Fix failed tests of `azurerm_marketplace_role_assignment`
  internal/services/authorization/role_assignment_marketplace_resource_test.go
Labels: size/M, service/authorization

#23044 [Documentation]: update example usage for `azurerm_cdn_frontdoor_custom_domain` and `azurerm_cdn_frontdoor_custom_domain_association`
  website/docs/r/cdn_frontdoor_custom_domain.html.markdown
  website/docs/r/cdn_frontdoor_custom_domain_association.html.markdown
Labels: documentation, size/M

#23059 `automation`: updating references to API Version `2021-06-22` to use `2022-08-08`
  internal/services/automation/automation_software_update_configuration_resource.go
  internal/services/loganalytics/log_analytics_linked_service_resource.go
  internal/services/monitor/monitor_action_group_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/id_automationaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccountcreateorupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccountcreateorupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccountproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccountupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_automationaccountupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_encryptionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_encryptionpropertiesidentity.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_keyvaultproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_privateendpointproperty.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_privatelinkserviceconnectionstateproperty.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/model_sku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2021-06-22/automationaccount/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/monitor, service/automation, service/log-analytics

#23060 `paloalto`: updating the `network` import to use `2023-04-01` rather than `2023-02-01`
  internal/services/paloalto/schema/network_profile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/id_inboundsecurityrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/id_networkvirtualappliance.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/method_inboundsecurityrulecreateorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/method_updatetags.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_delegationproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_inboundsecurityrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_inboundsecurityruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_inboundsecurityrules.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_networkvirtualappliance.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_networkvirtualappliancepropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_partnermanagedresourceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_subresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_tagsobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_virtualapplianceadditionalnicproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_virtualappliancenicproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/model_virtualapplianceskuproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-02-01/networkvirtualappliances/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/paloalto

#23075 Service: `appservice` - rename `win32_status` to `win32_status_code`
  internal/services/appservice/helpers/auto_heal.go
  internal/services/appservice/helpers/linux_web_app_schema.go
  internal/services/appservice/windows_web_app_resource_test.go
  website/docs/d/linux_web_app.html.markdown
  website/docs/d/windows_web_app.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, waiting-response, size/XS, service/app-service

#23057 `azurerm_servicebus_namespace` - add support for `network_rule_set`
  internal/services/servicebus/servicebus_namespace_network_rule_set_resource.go
  internal/services/servicebus/servicebus_namespace_resource.go
  internal/services/servicebus/servicebus_namespace_resource_test.go
  website/docs/r/servicebus_namespace.html.markdown
Labels: documentation, size/XL, service/service-bus

#23073 r/api_management_policy: updating the Resource ID casing to ensure the ID is recased correctly
  internal/services/apimanagement/migration/policy_v2_to_v3.go
Labels: size/XS, service/api-management, state-migration

#23066 Doc Fix: Fix incorrect IoTHub categories
  website/docs/r/iothub_endpoint_eventhub.html.markdown
  website/docs/r/iothub_endpoint_servicebus_queue.html.markdown
  website/docs/r/iothub_endpoint_servicebus_topic.html.markdown
  website/docs/r/iothub_endpoint_storage_container.html.markdown
  website/docs/r/iothub_enrichment.html.markdown
  website/docs/r/iothub_fallback_route.html.markdown
  website/docs/r/iothub_route.html.markdown
Labels: documentation, size/XS

#23076 dependencies: updating to `v0.20230824.1130652` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/python3package/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automation/2022-08-08/python3package/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/msgraph/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/request_options.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/client.go
  vendor/modules.txt
Labels: dependencies, size/S

#23077 `azurerm_kubernetes_cluster`/`azurerm_kubernetes_cluster_node_pool` - extend allowed ranges for various `sysctl_config` attribute ranges
  internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, size/XS

#23079 `azurerm_dedicated_host` - Fix failed tests
  internal/services/compute/dedicated_host_resource_test.go
  internal/services/compute/linux_virtual_machine_resource_scaling_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_scaling_test.go
  internal/services/compute/windows_virtual_machine_resource_scaling_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_scaling_test.go
Labels: size/S

#23080 `azurerm_container_app_environment` - support `dapr_application_insights_connection_string`
  internal/services/containerapps/container_app_environment_resource.go
  internal/services/containerapps/container_app_environment_resource_test.go
  website/docs/r/container_app_environment.html.markdown
Labels: documentation, size/M, service/container-apps

#23003 `azurerm_virtual_network_gateway`: increase timeout for create
  internal/services/network/virtual_network_gateway_resource.go
  website/docs/r/virtual_network_gateway.html.markdown
Labels: documentation, size/XS, service/network

#23019 `azurerm_synapse_workspace`: fix panic of slice index out-of-range
  internal/services/synapse/synapse_workspace_resource.go
  internal/tf/validation/pluginsdk.go
Labels: waiting-response, size/S, service/synapse

#23082 `azurerm_automation_account`: fix automation account local_authentication_enabled logic
  internal/services/automation/automation_account_resource.go
  internal/services/automation/automation_account_resource_test.go
Labels: size/S, service/automation

#23021 `azurerm_batch_pool` - add new subproperty `automatic_upgrade_enabled`
  internal/services/batch/batch_pool.go
  internal/services/batch/batch_pool_resource.go
  internal/services/batch/batch_pool_resource_test.go
  website/docs/r/batch_pool.html.markdown
Labels: documentation, size/XS, service/batch

#23087 New resource: `azurerm_automation_python3_package`
  internal/services/automation/automation_python3_package_resource.go
  internal/services/automation/automation_python3_package_resource_test.go
  internal/services/automation/registration.go
  website/docs/r/automation_python3_package.html.markdown
Labels: documentation, size/XL, service/automation

#23069 `azurerm_postgresql_flexible_server` - support for `auto_grow_enabled`
  internal/services/postgres/postgresql_flexible_server_data_source.go
  internal/services/postgres/postgresql_flexible_server_data_source_test.go
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  website/docs/d/postgresql_flexible_server.html.markdown
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation, size/M, service/postgresql

#23049 `azurerm_virtual_hub_connection` - support for `inbound_route_map_id`, `outbound_route_map_id` and `static_vnet_local_route_override_criteria`
  internal/services/network/virtual_hub_connection_resource.go
  internal/services/network/virtual_hub_connection_resource_test.go
  website/docs/r/virtual_hub_connection.html.markdown
Labels: documentation, size/L, service/network

#23102 Doc Fix: `azurerm_service_bus_namespace` - network_rule-set -> network_rule_set
  website/docs/r/servicebus_namespace.html.markdown
Labels: documentation, size/XS

#23105 Test Fix: rename resource groups prefixed with `testacc` to `acctest` for easier cleanup
  internal/services/batch/batch_account_data_source_test.go
  internal/services/batch/batch_account_resource_test.go
  internal/services/batch/batch_certificate_data_source_test.go
  internal/services/batch/batch_certificate_resource_test.go
  internal/services/batch/batch_job_resource_test.go
  internal/services/batch/batch_pool_data_source_test.go
  internal/services/batch/batch_pool_resource_test.go
  internal/services/frontdoor/frontdoor_firewall_policy_resource_test.go
  internal/services/policy/assignment_management_group_resource_test.go
  internal/services/policy/assignment_subscription_resource_test.go
Labels: size/M, service/policy, service/batch, service/frontdoor

#23093 `azurerm_monitor_diagnostic_setting` - fix feature flagged schema
  internal/services/monitor/monitor_diagnostic_setting_resource.go
Labels: size/XS, service/monitor

#23104 fixed security_group_association for bastion example
  examples/virtual-machines/virtual_machine/bastion-box/1-dependencies.tf
  examples/virtual-machines/virtual_machine/bastion-box/main.tf
Labels: size/XS

#23072 `resources/features`: refactoring to use `hashicorp/go-azure-sdk`
  internal/services/resource/client/client.go
  internal/services/resource/parse/feature.go
  internal/services/resource/parse/feature_test.go
  internal/services/resource/resource_provider_registration_resource.go
  internal/services/resource/validate/feature_id.go
  internal/services/resource/validate/feature_id_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/features.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2015-12-01/features/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/id_feature.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/id_providers2.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/method_listall.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/method_register.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/method_unregister.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/model_featureproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/model_featureresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2021-07-01/features/version.go
  vendor/modules.txt
Labels: dependencies, waiting-response, size/XL

#23081 `sdk wrapper`: add a timeout for ctx of custom importer
  internal/sdk/wrapper_resource.go
Labels: size/XS

#23048 `azurerm_nginx_certificate`: fix acc test for certificate file path udpate
  internal/services/nginx/nginx_certificate_resource_test.go
Labels: size/S, service/nginx

#23029 monitor_diagnostic_setting_resource - add deprecation to enable_log retention_policy
  internal/services/monitor/monitor_diagnostic_setting_resource.go
Labels: size/XS, service/monitor

#23126 testing: updating the resource names to be `acctest` to ensure these are cleaned up
  internal/services/apimanagement/api_management_data_source_test.go
  internal/services/authorization/pim_active_role_assignment_test.go
  internal/services/authorization/pim_eligible_role_assignment_test.go
Labels: size/XS, service/api-management, service/authorization
