Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2023-03, with the labels that each got.

#20670 pollers: accounting for dropped connections
  internal/services/aadb2c/aadb2c_directory_resource.go
  internal/services/containerapps/container_app_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  internal/services/eventhub/eventhub_cluster_resource.go
  internal/services/eventhub/eventhub_namespace_disaster_recovery_config_resource.go
  internal/services/eventhub/eventhub_namespace_resource.go
  internal/services/iothub/iothub_dps_resource.go
  internal/services/netapp/netapp_account_resource.go
  internal/services/netapp/netapp_pool_resource.go
  internal/services/netapp/netapp_snapshot_policy_resource.go
  internal/services/netapp/netapp_snapshot_resource.go
  internal/services/netapp/netapp_volume_resource.go
  internal/services/notificationhub/notification_hub_namespace_resource.go
  internal/services/notificationhub/notification_hub_resource.go
  internal/services/sentinel/sentinel_log_analytics_workspace_onboard_resource.go
  internal/services/servicebus/servicebus_namespace_disaster_recovery_config_resource.go
  internal/services/servicefabricmanaged/service_fabric_managed_cluster_resource_test.go
Labels: size/L, service/event-hubs, service/service-bus, service/iot-hub, service/notifications, service/netapp, service/sentinel, service/service-fabric-managed-cluster, service/aadb2c

#20699 r/policy_assignment_base: removing a spurious import ignore/unneeded alias
  internal/services/policy/assignment_resource_base.go
Labels: size/XS, service/policy, refactor

#20711 `azurerm_communication_service` - add `forceNew` for `data_location`
  internal/services/communication/communication_service_resource.go
  internal/services/communication/communication_service_resource_test.go
  website/docs/r/communication_service.html.markdown
Labels: documentation, size/M, service/communication

#20710 `azurerm_spring_cloud_gateway_route_config` - fix failed testcases
  internal/services/springcloud/spring_cloud_gateway_route_config_resource.go
Labels: size/XS, service/spring

#20724 Update storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: documentation, size/XS

#20618 `azurerm_orchestrated_virtual_machine_scale_set` - Add `Priority_Mix` property
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XL

#20729 `azurerm_application_gateway` - Fix nil panic by adding a conversion check
  internal/services/network/application_gateway_resource.go
Labels: size/XS, service/network

#20708 `express_route_circuit_peering_resource` - Support `advertised_communities`
  internal/services/network/express_route_circuit_peering_resource.go
  internal/services/network/express_route_circuit_peering_resource_test.go
  website/docs/r/express_route_circuit_peering.html.markdown
Labels: documentation, size/S, service/network

#20703 `azurerm_kusto_cluster_customer_managed_key` - fix accTests
  internal/services/kusto/kusto_cluster_customer_managed_key_test.go
Labels: size/XS, service/kusto

#20738 revert 20574 due to regression and failing tests
  internal/services/containerapps/container_app_resource_test.go
  internal/services/containerapps/helpers/container_apps.go
  website/docs/r/container_app.html.markdown
Labels: documentation, size/M, service/container-apps

#20715 `aadb2c`: refactoring to use the base layer from `hashicorp/go-azure-sdk`
  go.mod
  go.sum
  internal/clients/client.go
  internal/services/aadb2c/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_checknameavailability.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_checknameavailability_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_create.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_create_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/tenants/method_update_autorest.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/aadb2c

#20722 `app_service` - add authv2 to functionapps and functionapp slots
  internal/services/appservice/linux_function_app_data_source.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_authv2_test.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_authv2_test.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/windows_function_app_data_source.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_authv2_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_authv2_test.go
  website/docs/d/linux_function_app.html.markdown
  website/docs/d/windows_function_app.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
Labels: enhancement, documentation, size/XL, service/app-service

#20685 `azurerm_media_services_account`: fix crash around `key_delivery_access_control`
  internal/services/media/media_services_account_resource.go
  internal/services/media/media_services_account_resource_test.go
Labels: size/XS, service/media

#20752 `azurerm_kubernetes_cluster` - minor additions and fixes to the documentation
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#20755 `azurerm_healthcare_service` - extend range of the cosmosdb_throughput to a maximum of `100000`
  internal/services/healthcare/healthcare_service_resource.go
  website/docs/r/healthcare_service.html.markdown
Labels: documentation, size/XS, service/healthcare

#20746 github action: updating the golint gha to run only on the internal folder
  .github/workflows/golint.yaml
Labels: size/XS

#20368 New Resource: `azurerm_sentinel_alert_rule_anomaly_built_in`; New DataSource:`azurerm_sentinel_alert_rule_anomaly`
  internal/services/sentinel/azuresdkhacks/securitymlanalyticssettings.go
  internal/services/sentinel/azuresdkhacks/securitymlanalyticssettings_models.go
  internal/services/sentinel/client/client.go
  internal/services/sentinel/parse/ml_analytics_settings.go
  internal/services/sentinel/parse/ml_analytics_settings_test.go
  internal/services/sentinel/registration.go
  internal/services/sentinel/resourceids.go
  internal/services/sentinel/sentinel_alert_rule_anomaly.go
  internal/services/sentinel/sentinel_alert_rule_anomaly_built_in_resource.go
  internal/services/sentinel/sentinel_alert_rule_anomaly_built_in_resource_test.go
  internal/services/sentinel/sentinel_alert_rule_anomaly_data_source.go
  internal/services/sentinel/sentinel_alert_rule_anomaly_data_source_test.go
  internal/services/sentinel/validate/ml_analytics_settings_id.go
  internal/services/sentinel/validate/ml_analytics_settings_id_test.go
  website/docs/d/sentinel_alert_rule_anomaly.html.markdown
  website/docs/r/sentinel_alert_rule_anomaly_built_in.html.markdown
Labels: documentation, size/XL, service/sentinel

#20706 `azurerm_batch_account` - add permission to CMK
  internal/services/batch/batch_account_data_source_test.go
  internal/services/batch/batch_account_resource_test.go
Labels: size/XS, service/batch

#20739 New Resource: `azurerm_sentinel_alert_rule_threat_intelligence`
  internal/services/sentinel/registration.go
  internal/services/sentinel/sentinel_alert_rule.go
  internal/services/sentinel/sentinel_alert_rule_template_data_source.go
  internal/services/sentinel/sentinel_alert_rule_threat_intelligence_resouce_test.go
  internal/services/sentinel/sentinel_alert_rule_threat_intelligence_resource.go
  website/docs/r/sentinel_alert_rule_threat_intelligence.html.markdown
Labels: documentation, size/XL, service/sentinel

#20726 sentinel/automation_rule: switching to use github.com/hashicorp/go-azure-sdk
  internal/services/sentinel/client/client.go
  internal/services/sentinel/sentinel_automation_rule_resource.go
  internal/services/sentinel/sentinel_automation_rule_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/id_automationrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/id_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationruleaction.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationrulebooleancondition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationrulecondition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationrulemodifypropertiesaction.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationrulepropertyarraychangedvaluescondition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationrulepropertyarrayvaluescondition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationrulepropertyvalueschangedcondition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationrulepropertyvaluescondition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationrulerunplaybookaction.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_automationruletriggeringlogic.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_booleanconditionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_clientinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_incidentlabel.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_incidentownerinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_incidentpropertiesaction.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_playbookactionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_propertyarraychangedconditionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_propertyarrayconditionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_propertychangedconditionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/model_propertyconditionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/automationrules/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, refactor, service/sentinel

#20789 few updates after running "make terrafmt"
  internal/services/appservice/linux_function_app_resource_authv2_test.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource_authv2_test.go
  internal/services/appservice/windows_function_app_resource_authv2_test.go
  internal/services/appservice/windows_function_app_slot_resource_authv2_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
Labels: documentation, size/XL, service/app-service

#20799 Doc: Fix doc issue for resource `azurerm_application_gateway`
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS

#20808 Auto PR: Regenerating based on (2fe6aeba8d562dc70bf16467c7fe3c24e4bb2ded)
  internal/services/containers/kubernetes_cluster_resource_test.go
Labels: size/XS

#20807 dependencies: updating to `v0.55.0` of `github.com/hashicorp/go-azure-helpers` & `v0.20230306.1165107` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/hyperv_site_job.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/hyperv_site_machine.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/hyperv_site_runasaccount.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/key_vault.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/key_vault_key.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/key_vault_key_version.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/key_vault_private_endpoint_connection.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/vmware_site_job.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/vmware_site_machine.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/vmware_site_runasaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/odata/types.go
  vendor/modules.txt
Labels: dependencies, size/XL

#20797 Various Resources: Add missing empty-id logic when resource was not found during read
  internal/services/applicationinsights/application_insights_analytics_item_resource.go
  internal/services/appservice/function_app_active_slot_resource.go
  internal/services/appservice/web_app_active_slot_resource.go
  internal/services/automation/automation_connection_type_resource.go
  internal/services/automation/automation_software_update_configuration_resource.go
  internal/services/automation/automation_source_control_resource.go
  internal/services/automation/automation_watcher_resource.go
  internal/services/cdn/cdn_frontdoor_route_disable_link_to_default_domain_resource.go
  internal/services/digitaltwins/digital_twins_time_series_database_connection_resource.go
  internal/services/fluidrelay/fluid_relay_servers_resource.go
  internal/services/iothub/iothub_fallback_route_resource.go
  internal/services/logic/logic_app_integration_account_resource.go
  internal/services/nginx/nginx_certificate_resource.go
  internal/services/nginx/nginx_configuration_resource.go
  internal/services/nginx/nginx_deployment_resource.go
  internal/services/synapse/synapse_workspace_aad_admin_resource.go
  internal/services/synapse/synapse_workspace_key_resource.go
  internal/services/synapse/synapse_workspace_sql_aad_admin_resource.go
Labels: size/M, service/app-service, service/application-insights, service/iot-hub, service/cdn, service/automation, service/logic, service/synapse, service/digital-twins, service/nginx

#20798 `azurerm_iothub_endpoint_*` `azurerm_iothub_route` - set Id to nil when resource is not found
  internal/services/iothub/iothub_endpoint_eventhub_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource.go
  internal/services/iothub/iothub_endpoint_storage_container_resource.go
  internal/services/iothub/iothub_route_resource.go
Labels: size/M, service/iot-hub

#20788 azurerm_linux_function_app - some minor changes to documentation, comments and schema descriptions
  internal/services/appservice/helpers/function_app_schema.go
  website/docs/r/linux_function_app.html.markdown
Labels: documentation, size/XS, service/app-service

#20801 New Resource: `azurerm_sentinel_metadata`
  internal/services/sentinel/client/client.go
  internal/services/sentinel/registration.go
  internal/services/sentinel/sentinel_metadata_resource.go
  internal/services/sentinel/sentinel_metadata_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/id_metadata.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/id_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/method_create_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/model_metadataauthor.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/model_metadatacategories.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/model_metadatadependencies.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/model_metadatamodel.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/model_metadatapatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/model_metadataproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/model_metadatapropertiespatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/model_metadatasource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/model_metadatasupport.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2022-10-01-preview/metadata/version.go
  vendor/modules.txt
  website/docs/r/sentinel_metadata.html.markdown
Labels: documentation, dependencies, size/XL, service/sentinel

#20782 azurerm_mariadb_server - add support for "ssl_minimal_tls_version_enforced"
  internal/services/mariadb/mariadb_server_resource.go
  internal/services/mariadb/mariadb_server_resource_test.go
  website/docs/r/mariadb_server.html.markdown
Labels: documentation, size/S, service/maria-db

#20781 `azurerm_maintenance_assignment_virtual_machine` - fixing potential nil panic by adding a nil check
  internal/services/maintenance/maintenance_assignment_virtual_machine_resource.go
Labels: size/XS, service/maintenance

#20768 `azurerm_automation_job_schedule` - fix ID construction while re-creating job schedule
  internal/services/automation/automation_job_schedule_resource.go
Labels: size/XS, service/automation

#20765 `azurerm_automation_schedule` - import `time/tzdata` to embed timezone information
  internal/services/automation/automation_schedule_resource.go
Labels: size/XS, service/automation

#20762 [Bug Fix] - `azurerm_api_management_api_diagnostic` - `sampling_percentage ` cannot set to 0
  internal/services/apimanagement/api_management_api_diagnostic_resource.go
Labels: size/XS, service/api-management

#20761 `azurerm_security_center_subscription_pricing` - support new enum value `CosmosDbs` for `resource_type`
  internal/services/securitycenter/security_center_subscription_pricing_resource.go
  internal/services/securitycenter/security_center_subscription_pricing_resource_test.go
  website/docs/r/security_center_subscription_pricing.html.markdown
Labels: documentation, size/XS, service/security-center

#20821 dependencies: updating to version `v0.20230307.1105329` of `github.com/tombuildsstuff/kermit`
  go.mod
  go.sum
  vendor/github.com/gofrs/uuid/.travis.yml
  vendor/github.com/gofrs/uuid/README.md
  vendor/github.com/gofrs/uuid/codec.go
  vendor/github.com/gofrs/uuid/fuzz.go
  vendor/github.com/gofrs/uuid/generator.go
  vendor/github.com/gofrs/uuid/sql.go
  vendor/github.com/gofrs/uuid/uuid.go
  vendor/github.com/tombuildsstuff/kermit/sdk/appplatform/2022-11-01-preview/appplatform/version.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/version.go
  vendor/github.com/tombuildsstuff/kermit/sdk/compute/2022-08-01/compute/version.go
  vendor/github.com/tombuildsstuff/kermit/sdk/iothub/2022-04-30-preview/iothub/version.go
  vendor/github.com/tombuildsstuff/kermit/sdk/keyvault/7.4/keyvault/models.go
  vendor/github.com/tombuildsstuff/kermit/sdk/keyvault/7.4/keyvault/version.go
  vendor/github.com/tombuildsstuff/kermit/sdk/network/2022-07-01/network/version.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/version.go
  vendor/github.com/tombuildsstuff/kermit/sdk/synapse/2021-06-01-preview/synapse/version.go
  vendor/github.com/tombuildsstuff/kermit/version/version.go
  vendor/modules.txt
Labels: dependencies, size/XL

#20822 azurerm_container_app - Add documentation for custom domain block within the ingress block
  website/docs/r/container_app.html.markdown
Labels: documentation, size/XS, service/container-apps

#20826 Fix small mistake in import example for azurerm_private_dns_resolver_…
  website/docs/r/private_dns_resolver_inbound_endpoint.html.markdown
Labels: documentation, size/XS

#20830 `azurerm_kubernetes_cluster` - generate and expose `node_resource_group_id`
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/S, service/kubernetes-cluster

#20816 `azurerm_[linux|windows]_function_app_slot` - fix health_check_eviction_time_in_min
  internal/services/appservice/helpers/function_app_slot_schema.go
Labels: size/XS, service/app-service

#20825 `azurerm_iothub` - update computed props in `file_upload` to default
  internal/services/iothub/iothub_resource.go
  internal/services/iothub/iothub_resource_test.go
Labels: size/XS, service/iot-hub

#20766 `azurerm_maintenance_assignment_virtual_machine` - maintenance configuration is now obtained by name rather than using the first in the list
  internal/services/maintenance/maintenance_assignment_virtual_machine_resource.go
  internal/services/maintenance/maintenance_assignment_virtual_machine_resource_test.go
Labels: size/M, service/maintenance

#20841 `azurerm_container_registry_task` - Fix updating failed due to incomplete `registry_credential`
  internal/services/containers/container_registry_task_resource.go
  internal/services/containers/container_registry_task_resource_test.go
Labels: bug, size/S, service/container-registry

#20819 azurerm_client_config - export environment_name
  internal/services/authorization/client_config_data_source.go
  internal/services/authorization/client_config_data_source_test.go
  website/docs/d/client_config.html.markdown
Labels: documentation, size/XS, service/authorization

#20809 r/kusto_iothub_data_connection: rewriting the `iothub_id` field in the Read function
  internal/services/kusto/kusto_iothub_data_connection_resource.go
Labels: bug, size/XS, service/kusto

#20856 Auto PR: Regenerating based on (9b5e2d17cfc9bb4d78c7b1fedf361f4270c6cc8b)
  internal/services/mariadb/mariadb_server_resource_test.go
  internal/services/sentinel/sentinel_metadata_resource_test.go
  website/docs/d/function_app_host_keys.html.markdown
Labels: documentation, size/XS, service/sentinel, service/maria-db

#20751 `azurerm_kubernetes_cluster` - add support for `vertical_pod_autoscaler_enabled`
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/M, service/kubernetes-cluster

#20603 azurerm_monitor_action_group - Add optional location parameter and default to Global #20151
  internal/services/monitor/monitor_action_group_resource.go
  internal/services/monitor/monitor_action_group_resource_test.go
  website/docs/r/monitor_action_group.html.markdown
Labels: enhancement, documentation, size/S, service/monitor

#20824 Bugfix: fix missing use of `oidc_token_file_path`, CLI auth with Cloud Shell
  .github/workflows/provider-test.yml
  internal/provider/provider.go
  internal/provider/provider_test.go
Labels: bug, size/M, authentication, provider

#20871 refactor: removing dead code whilst passing through
  helpers/azure/deprecated.go
  internal/tags/schema.go
Labels: size/S, refactor

#20875 `azurerm_mssql_database` - Add support through regex for ServerlessGen5 Hyperscale
  internal/services/mssql/validate/database_sku_name.go
Labels: size/XS, service/mssql

#20877 `azurerm_virtual_network_peering` - add support for `triggers` attribute to allow `address_space` synchronization
  internal/services/network/virtual_network_peering_resource.go
  internal/services/network/virtual_network_peering_resource_test.go
  website/docs/r/virtual_network_peering.html.markdown
Labels: documentation, size/M, service/network

#20874 `azurerm_cdn_frontdoor_origin` - fix regression where `origin_host_header` value would be inadvertently removed
  internal/services/cdn/cdn_frontdoor_origin_resource.go
  internal/services/cdn/cdn_frontdoor_origin_resource_test.go
Labels: regression, size/M, service/cdn

#20870 Doc Fix: `azurerm_storage_account` - Clarifying that /31 and /32 cidr ranges are not allowed in `ip_rules`
  website/docs/r/storage_account.html.markdown
Labels: documentation, size/XS

#20845 `azurerm_mssql_managed_database` - support for retention policies
  internal/services/mssql/client/client.go
  internal/services/mssql/mssql_managed_database_resource.go
  internal/services/mssql/mssql_managed_database_resource_test.go
  website/docs/r/mssql_managed_database.html.markdown
Labels: documentation, size/L, service/mssql

#20864 `azurerm_api_management` - Updated link to Microsoft docs
  website/docs/r/api_management.html.markdown
Labels: documentation, size/XS

#20854 `azurerm_iothub` - Fix wrong default value of `file_upload.sas_ttl` when not specified
  internal/services/iothub/iothub_resource.go
Labels: size/XS, service/iot-hub

#20873 Auto PR: Regenerating based on (ac702dc79be8b264e882c9b0ed920e883e8efc9c)
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  internal/services/portal/portal_dashboard_data_source.go
Labels: size/XS, service/portal

#20885 dependencies: updating to `v0.20230310.1062650` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_lro.go
  vendor/modules.txt
Labels: dependencies, size/XS

#20894 dependencies: updating to v0.20230310.1131431 of github.com/hashicorp/go-azure-sdk
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/aadb2c/2021-04-01-preview/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/analysisservices/2017-08-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/azurestackhci/2022-12-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerservice/2022-09-02-preview/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datadog/2021-03-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dns/2018-05-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fluidrelay/2022-05-26/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/healthbot/2020-12-08/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/loadtestservice/2021-12-01-preview/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/managedidentity/2022-01-31-preview/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/nginx/2022-08-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/servers/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/redis/2022-06-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storage/2022-05-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/timeseriesinsights/2020-05-15/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/webpubsub/2021-10-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/cached_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/client_credentials.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/token.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/claims/claims.go
  vendor/modules.txt
Labels: bug, dependencies, size/L, authentication

#20882 TestFix -`TestAccBotChannelsRegistration`
  internal/services/bot/bot_channel_direct_line_speech_resource_test.go
  internal/services/bot/bot_channels_registration_resource_test.go
Labels: size/M, service/bots

#20932 `azurerm_healthcare_dicom_service` - extend timeout for healthcare DICOM service
  internal/services/healthcare/healthcare_dicom_resource.go
  website/docs/r/healthcare_dicom.html.markdown
Labels: documentation, size/XS, service/healthcare

#20904 `azurerm_cognitive_account` - fix failed test cases
  internal/services/cognitive/cognitive_account_customer_managed_key_resource_test.go
  internal/services/cognitive/cognitive_account_resource_test.go
Labels: size/XS, service/cognitive-services

#20921 docs: Fix app_service_certificate key_vault_secret_id note example
  website/docs/r/app_service_certificate.html.markdown
Labels: documentation, size/XS

#20911 `azurerm_healthcare_service` - adding key permission to healthcare service
  internal/services/healthcare/healthcare_service_resource_test.go
Labels: size/XS, service/healthcare

#20928 Doc : Fix doc issue about arguments missing for `azurerm_key_vault_managed_storage_account_sas_token_definition` example
  website/docs/r/key_vault_managed_storage_account_sas_token_definition.html.markdown
Labels: documentation, size/XS

#20905 `compute` - fix tests with key vault
  internal/services/compute/disk_encryption_set_resource_test.go
  internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  internal/services/compute/linux_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_other_resource_test.go
  internal/services/compute/managed_disk_data_source_test.go
  internal/services/compute/managed_disk_resource_test.go
  internal/services/compute/shared_image_version_resource_test.go
  internal/services/compute/snapshot_data_source_test.go
  internal/services/compute/snapshot_resource_test.go
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_data_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_disk_os_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
Labels: size/S

#20926 `azurerm_kusto_eventhub_data_connection` - fixes accTests
  internal/services/kusto/kusto_eventhub_data_connection_resource.go
Labels: size/XS, service/kusto

#20906 `azurerm_app_configuration` - fix failed test by adding keyvault `GetRotationPolicy` permission
  internal/services/appconfiguration/app_configuration_resource_test.go
  website/docs/r/app_configuration.html.markdown
Labels: documentation, size/XS, service/app-configuration

#20912 doc fix - managed service identity auth with role assignment
  website/docs/guides/managed_service_identity.html.markdown
Labels: documentation, size/XS

#20903 `api_management_custom_domain` - Updated example in docs - Refer to versionless secret id of the Key Vault certificate
  website/docs/r/api_management_custom_domain.html.markdown
Labels: documentation, size/XS

#20880 `azurerm_recovery_services_vault`: fix acctest
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
Labels: size/XS, service/recovery-services

#20937 Auto PR: Regenerating based on (d3e01f9b2430840717fa061b1bfb2b3198225033)
  internal/services/compute/snapshot_resource_test.go
Labels: size/XS

#20667 `azurerm_express_route_gateway` - support `allow_non_virtual_wan_traffic`
  internal/services/network/express_route_gateway_resource.go
  internal/services/network/express_route_gateway_resource_test.go
  website/docs/r/express_route_gateway.html.markdown
Labels: documentation, size/XS, service/network

#20881 New Resource: `azurerm_site_recovery_vmware_replication_policy`
  internal/services/recoveryservices/registration.go
  internal/services/recoveryservices/site_recovery_vmware_replication_policy_resource.go
  internal/services/recoveryservices/site_recovery_vmware_replication_policy_resource_test.go
  website/docs/r/site_recovery_vmware_replication_policy.html.markdown
Labels: documentation, size/XL, service/recovery-services

#20732 New Resource:`azurerm_mobile_network_sim_policy`;New Datasource: `azurerm_mobile_network_sim_policy`
  internal/services/mobilenetwork/client/client.go
  internal/services/mobilenetwork/mobile_network_sim_policy_data_source.go
  internal/services/mobilenetwork/mobile_network_sim_policy_data_source_test.go
  internal/services/mobilenetwork/mobile_network_sim_policy_resource.go
  internal/services/mobilenetwork/mobile_network_sim_policy_resource_test.go
  internal/services/mobilenetwork/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/id_simpolicy.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/method_simpoliciescreateorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/method_simpoliciesdelete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/method_simpoliciesget_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/method_simpoliciesupdatetags_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/model_ambr.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/model_datanetworkconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/model_datanetworkresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/model_serviceresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/model_simpolicy.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/model_simpolicypropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/model_sliceconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/model_sliceresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/model_tagsobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simpolicy/version.go
  vendor/modules.txt
  website/docs/d/mobile_network_sim_policy.html.markdown
  website/docs/r/mobile_network_service.html.markdown
  website/docs/r/mobile_network_sim_policy.html.markdown
Labels: documentation, dependencies, size/XL, service/mobile-network

#20736 New resource - `azurerm_express_route_port_authorization`
  internal/services/network/client/client.go
  internal/services/network/express_route_port_authorization_resource.go
  internal/services/network/express_route_port_authorization_resource_test.go
  internal/services/network/parse/express_route_port_authorization.go
  internal/services/network/parse/express_route_port_authorization_test.go
  internal/services/network/registration.go
  internal/services/network/resourceids.go
  internal/services/network/validate/express_route_port_authorization_id.go
  internal/services/network/validate/express_route_port_authorization_id_test.go
  website/docs/r/express_route_circuit_authorization.html.markdown
  website/docs/r/express_route_port_authorization.html.markdown
Labels: documentation, waiting-response, size/XL, service/network

#20760 New Resource: `azurerm_sentinel_alert_rule_anomaly_duplicate`
  internal/services/sentinel/registration.go
  internal/services/sentinel/sentinel_alert_rule_anomaly_duplicate_resource.go
  internal/services/sentinel/sentinel_alert_rule_anomaly_duplicate_resource_test.go
  website/docs/r/sentinel_alert_rule_anomaly_duplicate.html.markdown
Labels: documentation, size/XL, service/sentinel

#20948 `Mobile Network`: fix acctest
  internal/services/mobilenetwork/mobile_network_sim_group_resource_test.go
  internal/services/mobilenetwork/mobile_network_sim_policy_resource_test.go
Labels: size/S, tests, service/mobile-network

#20950 `azurerm_signalr_shared_private_link_resource` - update error returning issue in Read
  internal/services/signalr/signalr_shared_private_link_resource.go
Labels: size/XS, service/signalr

#20965 Fix storage account network doc
  website/docs/r/storage_account_network_rules.html.markdown
Labels: documentation, service/storage, size/XS

#20966 dependencies: updating to `v0.20230315.1105537` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/autorest/auth.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/client_certificate_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/client_secret_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/oidc_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/shared_key_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/token.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/interface.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/msgraph/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/options.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/pollers/interface.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/pollers/poller.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/request_options.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_lro.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_provisioning_state.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/retry_policies.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/application_ids.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_china.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_gov.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_public.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_public_canary.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_stack.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/base.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/endpoint_refresh.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/environment.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/helpers.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/interfaces.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/scopes.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/azurecli/versions.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/metadata/helpers.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/metadata/models.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/stringfmt/quote_and_split_at.go
  vendor/modules.txt
Labels: dependencies, size/M

#18258 `azurerm_windows_function_app`, `azurerm_linux_function_app` - fix content share not being created automatically issue
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/windows_function_app.html.markdown
Labels: documentation, size/L, service/app-service

#20955 `azurerm_ssh_public_key` - allow `.` for `name` validation
  internal/services/compute/ssh_public_key_data_source.go
  internal/services/compute/ssh_public_key_resource.go
  internal/services/compute/ssh_public_key_resource_test.go
Labels: size/XS

#20970 Auto PR: Regenerating based on (1166dd863b723e6fc3b0c4d5de9dbe1892dd6a62)
  internal/clients/client.go
  internal/clients/client_gen.go
  internal/services/containers/client/client_gen.go
  internal/services/loadtestservice/client/client_gen.go
  internal/services/managedidentity/client/client_gen.go
Labels: size/S, service/authorization, service/load-test

#20971 `azurerm_web_application_firewall_policy`: add option `Any` for `match_conditions.x.operator`
  internal/services/network/web_application_firewall_policy_resource.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, size/XS, service/network

#20952 `azurerm_kubernetes_cluster` - Deprecate `network_profile.docker_bridge_cidr` since it's not longer supported by API
  internal/services/containers/kubernetes_cluster_data_source_test.go
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_cluster_validate.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: bug, documentation, size/S, service/kubernetes-cluster

#21001 Doc: Fix incorrect import spec for `azurerm_sentinel_alert_rule_anomaly_duplicate`
  website/docs/r/sentinel_alert_rule_anomaly_duplicate.html.markdown
Labels: documentation, size/XS, service/sentinel

#21004 dependencies: updating to `v0.20230317.1100159` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  internal/clients/client.go
  internal/services/databricks/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/accessconnector/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2022-04-01-preview/workspaces/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_update_autorest.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/databricks

#21007 locks: making the NewMutexKV method private
  internal/locks/lock.go
  internal/locks/mutexkv.go
Labels: size/XS, refactor

#21010 Auto PR: Regenerating based on (c208a1b49601760c2342583adc2d0136445a9f80)
  internal/services/containers/kubernetes_cluster_network_resource_test.go
Labels: size/XS

#21009 r/virtual_network_peering: splitting the create/update
  internal/services/network/virtual_network_peering_resource.go
  internal/services/network/virtual_network_peering_resource_test.go
  website/docs/r/virtual_network_peering.html.markdown
Labels: documentation, size/XL, service/network

#21016 bugfix: explicitly send the blob endpoint from the environment
  internal/services/machinelearning/machine_learning_datastore_blobstorage_resource.go
Labels: bug, size/XS, service/machine-learning

#21031 `azurerm_automation_account`: fix AccTest of adding `GetRotationPolicy` for keyvault
  internal/services/automation/automation_account_resource_test.go
Labels: size/XS, service/automation

#20951 `azurerm_kusto_cluster` - fixes `TestAccKustoCluster_languageExtensions`
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_cluster_resource_test.go
Labels: size/XS, service/kusto

#21033 `document` - add missing `GetRotationPolicy` in Key Vault Access Policy
  website/docs/r/cognitive_account_customer_managed_key.html.markdown
  website/docs/r/databricks_workspace_customer_managed_key.html.markdown
  website/docs/r/disk_encryption_set.html.markdown
  website/docs/r/eventhub_namespace_customer_managed_key.html.markdown
  website/docs/r/kusto_cluster_customer_managed_key.html.markdown
  website/docs/r/log_analytics_cluster_customer_managed_key.html.markdown
  website/docs/r/machine_learning_workspace.html.markdown
  website/docs/r/mssql_managed_instance_transparent_data_encryption.html.markdown
  website/docs/r/mssql_server_transparent_data_encryption.html.markdown
  website/docs/r/mysql_server_key.html.markdown
  website/docs/r/postgresql_server_key.html.markdown
  website/docs/r/storage_account_customer_managed_key.html.markdown
  website/docs/r/synapse_workspace.html.markdown
  website/docs/r/synapse_workspace_aad_admin.html.markdown
  website/docs/r/synapse_workspace_key.html.markdown
  website/docs/r/synapse_workspace_sql_aad_admin.html.markdown
Labels: documentation, size/S

#20927 `azurerm_kubernetes_cluster` - Use list API instead of GetAccessProfile
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_resource.go
Labels: bug, size/L, service/kubernetes-cluster

#21038 `document` - Update the possible values of `allowed_vm_sizes` for `azurerm_proximity_placement_group`
  website/docs/r/proximity_placement_group.html.markdown
Labels: documentation, size/XS

#21042 Docs: clarify cache_duration as the minimum cache duration
  website/docs/r/frontdoor.html.markdown
Labels: documentation, size/XS

#20661 `azurerm_sentinel_log_analytics_workspace_onboarding`: support `workspace_id`, deprecate `resource_group_name` and `workspace_name`
  internal/services/sentinel/sentinel_alert_rule_data_source_test.go
  internal/services/sentinel/sentinel_alert_rule_machine_learning_behavior_analytics_test.go
  internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource_test.go
  internal/services/sentinel/sentinel_alert_rule_nrt_resource_test.go
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
  internal/services/sentinel/sentinel_alert_rule_template_data_source_test.go
  internal/services/sentinel/sentinel_automation_rule_resource_test.go
  internal/services/sentinel/sentinel_data_connector_azure_active_directory_test.go
  internal/services/sentinel/sentinel_data_connector_azure_advanced_threat_protection_test.go
  internal/services/sentinel/sentinel_data_connector_azure_security_center_test.go
  internal/services/sentinel/sentinel_data_connector_dynamics_365_test.go
  internal/services/sentinel/sentinel_data_connector_iot_test.go
  internal/services/sentinel/sentinel_data_connector_microsoft_cloud_app_security_test.go
  internal/services/sentinel/sentinel_data_connector_microsoft_defender_advanced_threat_protection_test.go
  internal/services/sentinel/sentinel_data_connector_microsoft_threat_intelligence_test.go
  internal/services/sentinel/sentinel_data_connector_microsoft_threat_protection_test.go
  internal/services/sentinel/sentinel_data_connector_office_365_project_test.go
  internal/services/sentinel/sentinel_data_connector_office_365_test.go
  internal/services/sentinel/sentinel_data_connector_office_atp_test.go
  internal/services/sentinel/sentinel_data_connector_office_irm_test.go
  internal/services/sentinel/sentinel_data_connector_office_power_bi_test.go
  internal/services/sentinel/sentinel_data_connector_threat_intelligence_taxii_test.go
  internal/services/sentinel/sentinel_data_connector_threat_intelligence_test.go
  internal/services/sentinel/sentinel_log_analytics_workspace_onboard_resource.go
  internal/services/sentinel/sentinel_log_analytics_workspace_onboard_resource_test.go
  internal/services/sentinel/sentinel_watchlist_item_resource_test.go
  internal/services/sentinel/sentinel_watchlist_resource_test.go
  website/docs/r/azurerm_sentinel_alert_rule_machine_learning_behavior_analytics.html.markdown
  website/docs/r/sentinel_alert_rule_ms_security_incident.html.markdown
  website/docs/r/sentinel_alert_rule_nrt.html.markdown
  website/docs/r/sentinel_alert_rule_scheduled.html.markdown
  website/docs/r/sentinel_automation_rule.html.markdown
  website/docs/r/sentinel_data_connector_aws_cloud_trail.html.markdown
  website/docs/r/sentinel_data_connector_aws_s3.html.markdown
  website/docs/r/sentinel_data_connector_azure_active_directory.html.markdown
  website/docs/r/sentinel_data_connector_azure_advanced_threat_protection.html.markdown
  website/docs/r/sentinel_data_connector_azure_security_center.html.markdown
  website/docs/r/sentinel_data_connector_dynamics_365.html.markdown
  website/docs/r/sentinel_data_connector_iot.html.markdown
  website/docs/r/sentinel_data_connector_microsoft_cloud_app_security.html.markdown
  website/docs/r/sentinel_data_connector_microsoft_defender_advanced_threat_protection.html.markdown
  website/docs/r/sentinel_data_connector_microsoft_threat_intelligence.html.markdown
  website/docs/r/sentinel_data_connector_microsoft_threat_protection.html.markdown
  website/docs/r/sentinel_data_connector_office_365.html.markdown
  website/docs/r/sentinel_data_connector_office_365_project.html.markdown
  website/docs/r/sentinel_data_connector_office_atp.html.markdown
  website/docs/r/sentinel_data_connector_office_irm.html.markdown
  website/docs/r/sentinel_data_connector_office_power_bi.html.markdown
  website/docs/r/sentinel_data_connector_threat_intelligence.html.markdown
  website/docs/r/sentinel_data_connector_threat_intelligence_taxii.html.markdown
  website/docs/r/sentinel_watchlist.html.markdown
  website/docs/r/sentinel_watchlist_item.html.markdown
Labels: documentation, size/XL, service/sentinel

#20686 `azurerm_xxx_policy_assignment` - add `overrides` and `resource_selectors` property support
  internal/services/policy/assignment_management_group_resource_test.go
  internal/services/policy/assignment_resource_base.go
  internal/services/policy/assignment_resource_group_resource_test.go
  internal/services/policy/assignment_resource_test.go
  internal/services/policy/assignment_subscription_resource_test.go
  website/docs/r/management_group_policy_assignment.html.markdown
  website/docs/r/resource_group_policy_assignment.html.markdown
  website/docs/r/resource_policy_assignment.html.markdown
  website/docs/r/subscription_policy_assignment.html.markdown
Labels: documentation, size/XL, service/policy

#20730 New Resource:`azurerm_mobile_network_packet_core_control_plane`;New Datasource: `azurerm_mobile_network_packet_core_control_plane`
  internal/services/mobilenetwork/client/client.go
  internal/services/mobilenetwork/interfaceproperties.go
  internal/services/mobilenetwork/mobile_network_packet_core_control_plane_data_source.go
  internal/services/mobilenetwork/mobile_network_packet_core_control_plane_data_source_test.go
  internal/services/mobilenetwork/mobile_network_packet_core_control_plane_resource.go
  internal/services/mobilenetwork/mobile_network_packet_core_control_plane_resource_test.go
  internal/services/mobilenetwork/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/id_packetcorecontrolplane.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/method_updatetags_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_asyncoperationid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_azurestackedgedeviceresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_azurestackhciclusterresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_certificateprovisioning.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_connectedclusterresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_customlocationresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_httpsservercertificate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_installation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_interfaceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_localdiagnosticsaccessconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_packetcorecontrolplane.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_packetcorecontrolplanepropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_platformconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_siteresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_tagsobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/version.go
  vendor/modules.txt
  website/docs/d/mobile_network_packet_core_control_plane.html.markdown
  website/docs/r/mobile_network_packet_core_control_plane.html.markdown
Labels: documentation, dependencies, size/XL, service/mobile-network

#20771 New Resource: `azurerm_sentinel_threat_intelligence_indicator`
  internal/services/sentinel/azuresdkhacks/threat_intelligence_indicator_models.go
  internal/services/sentinel/azuresdkhacks/threatintelligenceindicator.go
  internal/services/sentinel/client/client.go
  internal/services/sentinel/parse/threat_intelligence_indicator.go
  internal/services/sentinel/parse/threat_intelligence_indicator_test.go
  internal/services/sentinel/registration.go
  internal/services/sentinel/resourceids.go
  internal/services/sentinel/sentinel_threat_intelligence_indicator_resource.go
  internal/services/sentinel/sentinel_threat_intelligence_indicator_resource_test.go
  internal/services/sentinel/validate/threat_intelligence_indicator_id.go
  internal/services/sentinel/validate/threat_intelligence_indicator_id_test.go
  website/docs/r/sentinel_threat_intelligence_indicator.html.markdown
Labels: documentation, size/XL, service/sentinel

#21037 `azurerm_proximity_placement_group` - force new when emptying `allowed_vm_sizes`
  internal/services/compute/proximity_placement_group_resource.go
  website/docs/r/proximity_placement_group.html.markdown
Labels: documentation, size/XS

#21046 `azurerm_kubernetes_cluster` - add missing property to `oms_agent` schema
  internal/services/containers/kubernetes_cluster_data_source.go
Labels: bug, size/XS, service/kubernetes-cluster

#21026 `azurerm_logic_app_standard`: fix acctest
  internal/services/logic/integration_service_environment_resource_test.go
  internal/services/logic/logic_app_integration_account_certificate_resource_test.go
  internal/services/logic/logic_app_integration_account_resource_test.go
  internal/services/logic/logic_app_standard_resource_test.go
  internal/services/logic/logic_app_trigger_http_request_resource_test.go
  internal/services/logic/logic_app_workflow_resource_test.go
Labels: size/S, service/logic

#20796 `azurerm_mysql_flexible_server` - support `geo_backup_key_vault_key_id` and `geo_backup_user_assigned_identity_id`
  internal/services/mysql/mysql_flexible_server_resource.go
  internal/services/mysql/mysql_flexible_server_resource_test.go
  website/docs/r/mysql_flexible_server.html.markdown
Labels: documentation, size/M, service/mysql

#20886 `azurerm_mssql_managed_instance` - Add possible value `SQL_AustraliaEast_MI_2` for `maintenance_configuration_name` property
  internal/services/mssql/mssql_managed_instance_resource.go
  website/docs/r/mssql_managed_instance.html.markdown
Labels: enhancement, documentation, size/XS, service/mssql

#20895 `azurerm_role_assignment`: Allow for sub aliases scopes
  internal/services/authorization/parse/role_assignment.go
  internal/services/authorization/parse/role_assignment_test.go
  internal/services/authorization/role_assignment_resource.go
Labels: size/M, service/authorization

#20947 `azurerm_virtual_desktop_host_pool` attribute `load_balancer_type` shouldn't force a new resource to be created
  internal/services/desktopvirtualization/virtual_desktop_host_pool_resource.go
  internal/services/desktopvirtualization/virtual_desktop_host_pool_resource_test.go
  website/docs/r/virtual_desktop_host_pool.html.markdown
Labels: documentation, size/XS, service/virtual-desktops

#20949 `azurerm_storage_account` Data Source - Add 403 (previously only 401) as a valid status code for lacking permissions to list keys
  internal/services/storage/storage_account_data_source.go
Labels: bug, service/storage, size/XS

#20954 `azurerm_storage_share_{file|directory}` - Relax the directory name
  internal/services/storage/validate/storage.go
Labels: bug, service/storage, size/XS

#20999 `Resources` - Fix failed tests
  internal/services/resource/resource_provider_registration_resource_test.go
Labels: service/resources, size/M, tests

#21013 `auth_v2_schema.go` - Update FloatAtLeast to 0 from 1
  internal/services/appservice/helpers/auth_v2_schema.go
Labels: size/XS, service/app-service

#21028 azurerm_virtual_hub - feat: add hub_routing_preference to virtual hub resource
  internal/services/network/virtual_hub_resource.go
  internal/services/network/virtual_hub_resource_test.go
  website/docs/r/virtual_hub.html.markdown
Labels: documentation, size/S, service/network

#20934 Fix resource azurerm_cdn_frontdoor_origin with Private Link Service example
  website/docs/r/cdn_frontdoor_origin.html.markdown
Labels: documentation, waiting-response, size/XS

#20975 `azurerm_signalr_service` - add `public_network_access_enabled`, `local_auth_enabled`, `aad_auth_enabled`, `tls_client_cert_enabled`, `serverless_connection_timeout_in_seconds` that were introduced in latest 2023-02-01 api
  internal/services/signalr/signalr_service_data_source.go
  internal/services/signalr/signalr_service_resource.go
  internal/services/signalr/signalr_service_resource_test.go
  website/docs/d/signalr_service.html.markdown
  website/docs/r/signalr_service.html.markdown
Labels: documentation, size/XL, service/signalr

#21058 reverting #20730
  CHANGELOG.md
  internal/services/mobilenetwork/client/client.go
  internal/services/mobilenetwork/interfaceproperties.go
  internal/services/mobilenetwork/mobile_network_packet_core_control_plane_data_source.go
  internal/services/mobilenetwork/mobile_network_packet_core_control_plane_data_source_test.go
  internal/services/mobilenetwork/mobile_network_packet_core_control_plane_resource.go
  internal/services/mobilenetwork/mobile_network_packet_core_control_plane_resource_test.go
  internal/services/mobilenetwork/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/id_packetcorecontrolplane.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/method_updatetags_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_asyncoperationid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_azurestackedgedeviceresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_azurestackhciclusterresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_certificateprovisioning.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_connectedclusterresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_customlocationresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_httpsservercertificate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_installation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_interfaceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_localdiagnosticsaccessconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_packetcorecontrolplane.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_packetcorecontrolplanepropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_platformconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_siteresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/model_tagsobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/packetcorecontrolplane/version.go
  vendor/modules.txt
  website/docs/d/mobile_network_packet_core_control_plane.html.markdown
  website/docs/r/mobile_network_packet_core_control_plane.html.markdown
Labels: documentation, dependencies, size/XL, service/mobile-network

#21063 dependencies: updating to `v0.20230320.1165256` of `hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#21060 refactor: `SystemData` does not need to be set to `nil`
  internal/services/dashboard/dashboard_grafana_resource.go
  internal/services/iothub/iothub_device_update_account_resource.go
  internal/services/iothub/iothub_device_update_instance_resource.go
  internal/services/mobilenetwork/mobile_network_resource.go
  internal/services/mobilenetwork/mobile_network_service_resource.go
  internal/services/mobilenetwork/mobile_network_sim_group_resource.go
  internal/services/mobilenetwork/mobile_network_site_resource.go
  internal/services/mobilenetwork/mobile_network_slice_resource.go
  internal/services/monitor/monitor_alert_processing_rule_action_group_resource.go
  internal/services/monitor/monitor_alert_processing_rule_suppression_resource.go
  internal/services/monitor/monitor_data_collection_rule_association_resource.go
  internal/services/monitor/monitor_data_collection_rule_resource.go
  internal/services/monitor/monitor_scheduled_query_rules_alert_v2_resource.go
  internal/services/network/network_manager_network_group_resource.go
  internal/services/privatednsresolver/private_dns_resolver_dns_forwarding_ruleset_resource.go
  internal/services/privatednsresolver/private_dns_resolver_forwarding_rule_resource.go
  internal/services/privatednsresolver/private_dns_resolver_inbound_endpoint_resource.go
  internal/services/privatednsresolver/private_dns_resolver_outbound_endpoint_resource.go
  internal/services/privatednsresolver/private_dns_resolver_resource.go
  internal/services/privatednsresolver/private_dns_resolver_virtual_network_link_resource.go
  internal/services/signalr/signalr_service_network_acl_resource.go
Labels: size/S, service/monitor, service/iot-hub, service/signalr, service/dashboard, service/private-dns-resolver, service/network, service/mobile-network

#21065 `resource_encode.go` - Return err instead of exists
  internal/sdk/resource_encode.go
Labels: size/XS

#21017 `data.azurerm_service_plan` - now decode into DataSourceModel
  internal/services/appservice/service_plan_data_source.go
Labels: size/XS, service/app-service

#21076 r/legacy_virtual_machine: fixing a typo where `2.x` should say `3.x`
  website/docs/r/virtual_machine.html.markdown
Labels: documentation, size/XS

#21084 fixing a typo in a file
  examples/logic-app/main.tf
Labels: size/XS

#21091 `azurerm_[linux|windows]_[function|web]_app[_slot]` - fix AAD auth and token_store
  internal/services/appservice/helpers/auth_v2_schema.go
  internal/services/appservice/linux_function_app_resource_authv2_test.go
Labels: size/M, service/app-service

#20607 New Resource : `azurerm_voice_services_communications_gateway`
  .teamcity/components/generated/services.kt
  .teamcity/components/settings.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/voiceservices/client/client.go
  internal/services/voiceservices/registration.go
  internal/services/voiceservices/voice_services_communications_gateway_resource.go
  internal/services/voiceservices/voice_services_communications_gateway_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/id_communicationsgateway.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/model_communicationsgateway.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/model_communicationsgatewayproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/model_communicationsgatewayupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/model_primaryregionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/model_serviceregionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/communicationsgateways/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/id_communicationsgateway.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/id_testline.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/method_listbycommunicationsgateway_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/model_testline.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/model_testlineproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/model_testlineupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/voiceservices/2023-01-31/testlines/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/voice_services_communications_gateway.html.markdown
Labels: documentation, dependencies, size/XL

#21041 r/automation_account: deprecating `key_source`
  internal/services/automation/automation_account_resource.go
  internal/services/automation/automation_account_resource_test.go
  website/docs/r/automation_account.html.markdown
Labels: documentation, size/M, service/automation

#21095 `azurerm_[linux|windows]_function_app` - fix update bug in `health_check_eviction_time_in_min`
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/function_app_slot_schema.go
Labels: size/S, service/app-service

#20082 `azurerm_app_configuration_key`, `azurerm_app_configuration_feature` - change resource ID to Data Plane URL format
  internal/services/appconfiguration/app_configuration_feature_resource.go
  internal/services/appconfiguration/app_configuration_feature_resource_test.go
  internal/services/appconfiguration/app_configuration_key_data_source.go
  internal/services/appconfiguration/app_configuration_key_resource.go
  internal/services/appconfiguration/app_configuration_key_resource_test.go
  internal/services/appconfiguration/app_configuration_keys_data_source.go
  internal/services/appconfiguration/client/client.go
  internal/services/appconfiguration/client/helpers.go
  internal/services/appconfiguration/migration/feature_resource_v0_to_v1.go
  internal/services/appconfiguration/migration/feature_resource_v0_to_v1_test.go
  internal/services/appconfiguration/migration/key_resource_v0_to_v1.go
  internal/services/appconfiguration/migration/key_resource_v0_to_v1_test.go
  internal/services/appconfiguration/migration/key_resource_v1_to_v2.go
  internal/services/appconfiguration/migration/key_resource_v1_to_v2_test.go
  internal/services/appconfiguration/parse/app_configuration_feature.go
  internal/services/appconfiguration/parse/app_configuration_key.go
  internal/services/appconfiguration/parse/nested_item.go
  internal/services/appconfiguration/parse/nested_item_test.go
  internal/services/appconfiguration/validate/nested_item_id.go
  internal/services/appconfiguration/validate/nested_item_id_test.go
  website/docs/r/app_configuration_feature.html.markdown
  website/docs/r/app_configuration_key.html.markdown
Labels: documentation, size/XL, service/app-configuration

#21089 `azurerm_automation_hybrid_runbook_worker`: update automation worker document to easy to understand
  website/docs/r/automation_hybrid_runbook_worker.html.markdown
Labels: documentation, size/XS

#21104 `azurerm_express_route_circuit` - add support for `authorization_key`
  internal/services/network/express_route_circuit_resource.go
  website/docs/r/express_route_circuit.html.markdown
Labels: documentation, size/XS, service/network

#20728 [New Resource:] `azurerm_databricks_virtual_network_peering`
  internal/services/databricks/client/client.go
  internal/services/databricks/databricks_virtual_network_peering_resource.go
  internal/services/databricks/databricks_virtual_network_peering_resource_test.go
  internal/services/databricks/registration.go
  internal/services/databricks/validate/cidr.go
  internal/services/databricks/validate/cidr_test.go
  internal/services/databricks/validate/databricks_virtual_network_peering_name.go
  internal/services/databricks/validate/databricks_virtual_network_peering_name_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/id_virtualnetworkpeering.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/id_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/method_listbyworkspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/model_addressspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/model_virtualnetworkpeering.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/model_virtualnetworkpeeringpropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/model_virtualnetworkpeeringpropertiesformatdatabricksvirtualnetwork.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/model_virtualnetworkpeeringpropertiesformatremotevirtualnetwork.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/vnetpeering/version.go
  vendor/modules.txt
  website/docs/r/databricks_virtual_network_peering.html.markdown
Labels: documentation, dependencies, size/XL, service/databricks

#21113 `azurerm_[linux|windows]_[function|web]_app[_slot]` - Fix nilpointer `auth_v2`
  internal/services/appservice/helpers/auth_v2_schema.go
Labels: size/XS, service/app-service

#21106 Docs : `azurerm_private_endpoint` - fix doc issue about the possible values of `subresource_name`
  website/docs/r/private_endpoint.html.markdown
Labels: documentation, size/XS

#20544 azurerm_linux_function_app and azurerm_windows_function_app support for zip_deploy_file
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/testdata/functionapp-zipdeploy.zip
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_web_app_resource.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, size/L, service/app-service

#21077 r/healthcare_medtech_service: fixing a hard-coding to Azure Public
  internal/services/healthcare/healthcare_medtech_service_data_source.go
  internal/services/healthcare/healthcare_medtech_service_resource.go
Labels: size/M, service/healthcare

#21135 Auto PR: Regenerating based on (dc283a81d6ee559a0e9d7a8669f3efca8b50bbfd)
  internal/services/appconfiguration/app_configuration_feature_resource_test.go
  internal/services/voiceservices/voice_services_communications_gateway_resource.go
  internal/services/voiceservices/voice_services_communications_gateway_resource_test.go
Labels: size/XS, service/app-configuration

#21146 Updated main.tf for storage account
  examples/app-service/function-basic/main.tf
Labels: size/XS

#21124 `azurerm_data_factory` - fix failed testcase
  internal/services/datafactory/data_factory_resource_test.go
Labels: size/XS, service/data-factory

#21143 docs: adjust markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, size/XS

#21034 `websit-scaffold`: auto generate possible value part.
  go.mod
  go.sum
  internal/tools/website-scaffold/main.go
  internal/tools/website-scaffold/main_test.go
  vendor/github.com/agiledragon/gomonkey/v2/LICENSE
  vendor/github.com/agiledragon/gomonkey/v2/README.md
  vendor/github.com/agiledragon/gomonkey/v2/creflect/ae1.17.go
  vendor/github.com/agiledragon/gomonkey/v2/creflect/be1.16.go
  vendor/github.com/agiledragon/gomonkey/v2/creflect/type.go
  vendor/github.com/agiledragon/gomonkey/v2/jmp_386.go
  vendor/github.com/agiledragon/gomonkey/v2/jmp_amd64.go
  vendor/github.com/agiledragon/gomonkey/v2/jmp_arm64.go
  vendor/github.com/agiledragon/gomonkey/v2/modify_binary_darwin.go
  vendor/github.com/agiledragon/gomonkey/v2/modify_binary_linux.go
  vendor/github.com/agiledragon/gomonkey/v2/modify_binary_windows.go
  vendor/github.com/agiledragon/gomonkey/v2/patch.go
  vendor/modules.txt
Labels: dependencies, size/XL, tooling

#21154 [Documentation:] `azurerm_databricks_workspace` - Remove `private preview` warning from the document
  website/docs/r/databricks_workspace.html.markdown
Labels: documentation, size/XS

#21152 Fix some Storage AccTests
  internal/services/storage/storage_account_resource_test.go
  internal/services/storage/storage_encryption_scope_resource_test.go
Labels: service/storage, size/XS, tests

#21160 Auto PR: Regenerating based on (1549fb7f2dbf7c76fdb851f78539fa6d1437ff0f)
  helpers/azure/deprecated_soon.go
Labels: size/XS

#21128 `azurerm_api_management` - fix `capacity` of primary location being changed by the `capacity` of `additional_location` issue
  internal/services/apimanagement/api_management_resource.go
  internal/services/apimanagement/api_management_resource_test.go
Labels: size/XS, service/api-management

#21125 `azurerm_web_application_firewall_policy`: set `match_values` as optional
  internal/services/network/web_application_firewall_policy_resource.go
  internal/services/network/web_application_firewall_policy_resource_test.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, size/M, service/network

#21158 Closes #21157
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS

#21163 `azurem_iothub_certificate`, `azurem_iothub_dps_certificate` - fix certificate updates
  internal/services/iothub/iothub_certificate_resource.go
  internal/services/iothub/iothub_certificate_resource_test.go
  internal/services/iothub/iothub_dps_certificate_resource.go
  internal/services/iothub/iothub_dps_certificate_resource_test.go
  internal/services/iothub/testdata/iothub_test.cer
Labels: size/M, service/iot-hub

#21172 `test` - Fix `TestAccWindowsVirtualMachineScaleSet_otherWinRMHTTPS`
  internal/services/compute/windows_virtual_machine_scale_set_other_resource_test.go
Labels: size/XS

#21170 azurerm_log_analytics_linked_service - fix the validation of workspace_id
  internal/services/loganalytics/log_analytics_linked_service_resource.go
Labels: size/XS, service/log-analytics

#21114 New Resource - `azurerm_web_pubsub_custom_certificate`
  internal/provider/services.go
  internal/services/signalr/registration.go
  internal/services/signalr/testdata/certificate-to-import.pfx
  internal/services/signalr/web_pubsub_custom_certificate_resource.go
  internal/services/signalr/web_pubsub_custom_certificate_resource_test.go
  internal/services/signalr/web_pubsub_resource.go
  website/docs/r/web_pubsub_custom_certificate.html.markdown
Labels: documentation, size/XL, service/signalr
