Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2023-12, with the labels that each got.

#24085 #24080 : Adding support for more vcores.
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource.go
  website/docs/r/mssql_managed_instance.html.markdown
Labels: enhancement, documentation, size/XS, service/mssqlmanagedinstance

#23985 `azurerm_kubernetes_cluster` - do not pass the maintenance window start date if it's not changed
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
Labels: bug, size/M, service/kubernetes-cluster

#23818 `azurerm_web_application_firewall_policy`: ruleset support `Microsoft_DefaultRuleSet_2.1`
  internal/services/network/validate/web_application_firewall_policy.go
  internal/services/network/web_application_firewall_policy_resource_test.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, waiting-response, size/M, service/network

#23984 azurerm_redis_linked_server - Adding geo replicated hostname to attribute list
  internal/services/redis/redis_linked_server_resource.go
  website/docs/r/redis_linked_server.html.markdown
Labels: enhancement, documentation, waiting-response, size/XS, service/redis

#24076 `azurerm_cosmosdb_cassandra_datacenter` - expose `seed_node_ip_addresses` property
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource.go
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource_test.go
  website/docs/r/cosmosdb_cassandra_datacenter.html.markdown
Labels: enhancement, documentation, size/S, service/cosmosdb

#23463 azurerm_application_insights_api_key - fix existing key check
  internal/services/applicationinsights/application_insights_api_key_resource.go
  internal/services/applicationinsights/application_insights_api_key_resource_test.go
Labels: bug, size/M, service/application-insights, stale

#23517 exposing internet & microsoft routing endpoints and hostnames
  internal/services/storage/storage_account_data_source.go
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/d/storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: enhancement, documentation, service/storage, size/XL

#23970 `azurerm_kubernetes_cluster` - support for the `support_plan` property
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/M, service/kubernetes-cluster

#24061 New Data Source: `azurerm_storage_containers`
  .github/labeler-issue-triage.yml
  internal/services/storage/registration.go
  internal/services/storage/storage_containers_data_source.go
  internal/services/storage/storage_containers_data_source_test.go
  website/docs/d/storage_containers.html.markdown
Labels: documentation, new-data-source, service/storage, size/XL

#23971 `azurerm_hdinsight_hadoop_cluster`: Fix edge node related acc tests
  internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
Labels: size/XS, service/hdinsight, tests

#23220 `azurerm_virtual_network_gateway` - support for new properties
  internal/services/network/parse/virtual_network_gateway_policy_group.go
  internal/services/network/parse/virtual_network_gateway_policy_group_test.go
  internal/services/network/resourceids.go
  internal/services/network/validate/policy_group_name.go
  internal/services/network/validate/policy_group_name_test.go
  internal/services/network/validate/virtual_network_gateway_policy_group_id.go
  internal/services/network/validate/virtual_network_gateway_policy_group_id_test.go
  internal/services/network/virtual_network_gateway_resource.go
  internal/services/network/virtual_network_gateway_resource_test.go
  website/docs/r/virtual_network_gateway.html.markdown
Labels: enhancement, documentation, size/XL, service/network

#24115 `azurerm_spring_cloud_api_portal` - split to create/update functions
  internal/services/springcloud/spring_cloud_api_portal_resource.go
Labels: size/M, refactor, service/spring

#24116 `azurerm_spring_cloud_gateway` - split to create/update functions
  internal/services/springcloud/spring_cloud_gateway_resource.go
Labels: size/M, refactor, service/spring

#24130 `azurerm_orchestrated_virtual_machine_scale_set` - fix document description on `zones`
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
  website/docs/r/virtual_machine_scale_set.html.markdown
Labels: documentation, size/XS

#24127 azurerm_vmware_private_cloud and azurerm_vmware_cluster adding new skus to validation-#24126
  internal/services/vmware/vmware_cluster_resource.go
  internal/services/vmware/vmware_private_cloud_resource.go
  website/docs/r/vmware_cluster.html.markdown
  website/docs/r/vmware_private_cloud.html.markdown
Labels: enhancement, documentation, size/XS, service/vmware

#24129 `d/azurerm_cosmosdb_account` - add support for `connection_strings`, `primary_sql_connection_string`, `secondary_sql_connection_string`, `primary_readonly_sql_connection_string`, `secondary_readonly_sql_connection_string`, `primary_mongodb_connection_string`, `secondary_mongodb_connection_string`, `primary_readonly_mongodb_connection_string`, `secondary_readonly_mongodb_connection_string`
  internal/services/cosmos/cosmosdb_account_data_source.go
  internal/services/cosmos/cosmosdb_account_data_source_test.go
  website/docs/d/cosmosdb_account.html.markdown
Labels: documentation, size/M, service/cosmosdb

#24128 [TestCase] Fix TestAccDashboardGrafana_withSku
  .teamcity/components/settings.kt
  website/docs/r/dashboard_grafana.html.markdown
Labels: documentation, size/XS

#24124 azurerm_mssql_database|azurerm_mssql_managed_database - do not send long rendition values in payload unless set
  internal/services/mssql/helper/sql_retention_policies.go
Labels: size/XS, service/mssql

#24122 azurerm_mssql_server_microsoft_support_auditing_policy - only include storage endpoint in payload if set
  internal/services/mssql/mssql_server_microsoft_support_auditing_policy_resource.go
Labels: size/XS, service/mssql

#24088 docs: update docs to show service principal login is now supported
  website/docs/guides/azure_cli.html.markdown
Labels: documentation, size/S

#20519 `azurerm_firewall` - `dns_settings` block to fix `dns_servers`, `dns_proxy_enabled` logic
  internal/services/firewall/firewall_data_source.go
  internal/services/firewall/firewall_data_source_test.go
  internal/services/firewall/firewall_network_rule_collection_resource_test.go
  internal/services/firewall/firewall_policy_resource_test.go
  internal/services/firewall/firewall_resource.go
  internal/services/firewall/firewall_resource_test.go
  website/docs/d/firewall.html.markdown
  website/docs/r/firewall.html.markdown
Labels: documentation, size/M, service/firewall

#23412 `azurerm_web_application_firewall_policy` - split create and update function to fix lifecycle - ignore changes
  internal/services/network/web_application_firewall_policy_resource.go
Labels: size/M, service/network

#22332 New Resource: `azurerm_key_vault_managed_hardware_security_module_role_definition` and `azurerm_key_vault_managed_hardware_security_module_role_assignment` for managed HSM
  internal/services/keyvault/client/client.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_resource.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_resource_test.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_role_assignment_resource.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_role_assignment_resource_test.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_role_definition_data_source.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_role_definition_resource.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_role_definition_resource_test.go
  internal/services/keyvault/parse/mhsm_nested_item.go
  internal/services/keyvault/parse/mhsm_nested_item_test.go
  internal/services/keyvault/registration.go
  internal/services/keyvault/validate/mhsm_nested_item_id.go
  internal/services/keyvault/validate/mhsm_nested_item_id_test.go
  website/docs/d/key_vault_managed_hardware_security_module_role_definition.html.markdown
  website/docs/r/key_vault_managed_hardware_security_module_role_assignment.html.markdown
  website/docs/r/key_vault_managed_hardware_security_module_role_definition.html.markdown
Labels: documentation, service/key-vault, size/XL

#24089 azurerm_synapse_role_assignment: New parameter `principal_type`
  internal/services/synapse/synapse_role_assignment_resource.go
  website/docs/r/synapse_role_assignment.html.markdown
Labels: documentation, size/XS, service/synapse

#24003 r/subscription: consolidating the SDK clients onto `hashicorp/go-azure-sdk`
  internal/services/subscription/client/client.go
  internal/services/subscription/subscription_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/alias.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/subscription.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/subscriptions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/tenants.go
  vendor/github.com/Azure/azure-sdk-for-go/services/subscription/mgmt/2020-09-01/subscription/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/subscription

#23969 `azurerm_spring_cloud_build_deployment` - support for the `application_performance_monitoring_ids` property
  internal/services/springcloud/spring_cloud_build_deployment_resource.go
  internal/services/springcloud/spring_cloud_build_deployment_resource_test.go
  website/docs/r/spring_cloud_build_deployment.html.markdown
Labels: documentation, size/S, service/spring

#24142 Revert "`azurerm_storage_account`: Plan time name validation (#23799)"
  internal/services/storage/storage_account_resource.go
Labels: service/storage, size/XS

#24139 `azurerm_static_site` - Update static_site.html.markdown
  website/docs/r/static_site.html.markdown
Labels: documentation, size/XS

#24140 `azurerm_container_registry` - Deprecate `network_rule_set.virtual_network`
  internal/services/containers/container_registry_resource.go
  website/docs/r/container_registry.html.markdown
Labels: documentation, size/XS

#23478 `azurerm_container_app_environment`: Add support for `workload_profile`
  internal/services/containerapps/container_app_environment_resource.go
  internal/services/containerapps/container_app_environment_resource_test.go
  internal/services/containerapps/helpers/container_app_environment.go
  internal/services/paloalto/local_rulestack_data_source_test.go
  website/docs/r/container_app_environment.html.markdown
Labels: documentation, size/L, upstream/microsoft, service/container-apps, service/paloalto

#24125 bot_service_*_bot - support for public network access
  internal/services/batch/batch_account_resource.go
  internal/services/bot/bot_service_azure_bot_resource_test.go
  internal/services/bot/bot_service_resource_base.go
  internal/services/containers/kubernetes_addons.go
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_nodepool.go
  internal/services/cosmos/cosmosdb_mongo_collection_resource.go
  internal/services/costmanagement/anomaly_alert_resource.go
  internal/services/costmanagement/scheduled_action_resource.go
  internal/services/costmanagement/view_resource_base.go
  internal/services/customproviders/custom_provider_resource.go
  internal/services/databoxedge/databox_edge_device_resource.go
  internal/services/hdinsight/hdinsight_hadoop_cluster_resource.go
  internal/services/hdinsight/hdinsight_hbase_cluster_resource.go
  internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
  internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  internal/services/hdinsight/hdinsight_spark_cluster_resource.go
  internal/services/machinelearning/machine_learning_compute_cluster_resource.go
  internal/services/machinelearning/machine_learning_compute_instance_resource.go
  internal/services/machinelearning/machine_learning_datastore_blobstorage_resource.go
  internal/services/machinelearning/machine_learning_datastore_datalake_gen2_resource.go
  internal/services/machinelearning/machine_learning_datastore_fileshare_resource.go
  internal/services/machinelearning/machine_learning_inference_cluster_resource.go
  internal/services/machinelearning/machine_learning_synapse_spark_resource.go
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/springcloud/spring_cloud_application_insights_application_performance_monitoring_resource.go
  internal/services/springcloud/spring_cloud_service_resource.go
  internal/services/streamanalytics/helpers_input.go
  internal/services/streamanalytics/helpers_output.go
  internal/services/streamanalytics/stream_analytics_cluster_resource.go
  internal/services/streamanalytics/stream_analytics_job_data_source.go
  internal/services/streamanalytics/stream_analytics_job_resource.go
  internal/services/streamanalytics/stream_analytics_job_schedule_resource.go
  internal/services/streamanalytics/stream_analytics_output_blob_resource.go
  internal/services/streamanalytics/stream_analytics_output_eventhub_resource.go
  internal/services/streamanalytics/stream_analytics_output_mssql_resource.go
  internal/services/streamanalytics/stream_analytics_output_powerbi_resource.go
  internal/services/streamanalytics/stream_analytics_output_servicebus_queue_resource.go
  internal/services/streamanalytics/stream_analytics_output_servicebus_topic_resource.go
  internal/services/streamanalytics/stream_analytics_reference_input_blob_resource.go
  internal/services/streamanalytics/stream_analytics_reference_input_mssql_resource.go
  internal/services/streamanalytics/stream_analytics_stream_input_eventhub_resource.go
  internal/services/streamanalytics/stream_analytics_stream_input_eventhub_v2_resource.go
  utils/pointer.go
Labels: size/XL, service/hdinsight, service/cosmosdb, service/stream-analytics, service/batch, service/machine-learning, service/bots, service/spring, service/cost-management, service/custom-resource-provider, service/databox-edge

#24075 `azurerm_batch_pool` - fixes `TestAccBatchPool_extensions`
  internal/services/batch/batch_pool.go
  internal/services/batch/batch_pool_resource.go
  internal/services/batch/batch_pool_resource_test.go
Labels: size/S, service/batch, tests

#24185 Auto PR: Regenerating based on (712c81474acfc3a018ce3f0ecc4975df92a40e59)
  internal/services/keyvault/key_vault_managed_hardware_security_module_role_assignment_resource_test.go
  internal/services/keyvault/key_vault_managed_hardware_security_module_role_definition_resource_test.go
Labels: service/key-vault, size/XS

#24179 `azurerm_storage_share_file`: report error instead of panic when use a empty file
  internal/services/storage/storage_share_file_resource.go
  internal/services/storage/storage_share_file_resource_test.go
  website/docs/r/storage_share_file.html.markdown
Labels: bug, documentation, service/storage, size/XS

#24164 `azurerm_bot_service_azure_bot`: remove setting LuisKey from `public_network_access_enabled` attribute
  internal/services/bot/bot_service_resource_base.go
Labels: bug, size/XS, service/bots

#24176 Add `image_names` to `azurerm_shared_image_gallery` data source
  internal/services/compute/shared_image_gallery_data_source.go
  internal/services/compute/shared_image_gallery_data_source_test.go
  website/docs/d/shared_image_gallery.html.markdown
Labels: enhancement, documentation, service/images, size/S

#24177 `azurerm_storage_blob` - `Page` blob supports `source_content`
  internal/services/storage/blobs.go
  internal/services/storage/storage_blob_resource.go
  internal/services/storage/storage_blob_resource_test.go
Labels: enhancement, service/storage, size/M

#23403 `azurerm_*_web_app_slot` - error when `service_plan_id` is the same as the parent `service_plan_id`
  internal/services/appservice/linux_web_app_slot_resource.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/L, service/app-service

#23324 New resource: `data azurerm_locations`
  .github/labeler-issue-triage.yml
  internal/clients/client.go
  internal/provider/services.go
  internal/services/subscription/client/client.go
  internal/services/subscription/location_data_source.go
  internal/services/subscription/location_data_source_test.go
  internal/services/subscription/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/method_checkzonepeers.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/method_listlocations.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_availabilityzonemappings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_availabilityzonepeers.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_checkzonepeersrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_checkzonepeersresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_location.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_locationlistresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_locationmetadata.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_managedbytenant.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_pairedregion.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_peers.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_subscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/model_subscriptionpolicies.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-12-01/subscriptions/version.go
  vendor/modules.txt
  website/docs/d/location.html.markdown
Labels: documentation, dependencies, new-data-source, size/XL, service/subscription

#21834 `azurerm_windows[linux]_web[function]_app[app_slot]` - remove restriction for client secret name and cert name
  internal/services/appservice/helpers/auth_v2_schema.go
  internal/services/appservice/linux_function_app_resource_authv2_test.go
  internal/services/appservice/linux_function_app_slot_resource_authv2_test.go
  internal/services/appservice/linux_web_app_resource_authv2_test.go
  internal/services/appservice/linux_web_app_slot_resource_authv2_test.go
  internal/services/appservice/windows_function_app_resource_authv2_test.go
  internal/services/appservice/windows_function_app_slot_resource_authv2_test.go
  internal/services/appservice/windows_web_app_resource_authv2_test.go
  internal/services/appservice/windows_web_app_slot_resource_authv2_test.go
  internal/services/network/vpn_gateway_nat_rule_resource.go.2659445421006376696
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service, service/network

#24101 `azurerm_redis_cache` - support `storage_account_subscription_id` property
  internal/services/redis/redis_cache_data_source.go
  internal/services/redis/redis_cache_resource.go
  internal/services/redis/redis_cache_resource_test.go
  website/docs/d/redis_cache.html.markdown
  website/docs/r/redis_cache.html.markdown
Labels: enhancement, documentation, size/S, service/redis

#24156 Migrate to `go-azure-sdk` for `azurerm_security_center_automation`
  internal/services/securitycenter/client/client.go
  internal/services/securitycenter/security_center_automation_resource.go
  internal/services/securitycenter/security_center_automation_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/id_automation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/method_validate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/model_automation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/model_automationaction.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/model_automationactioneventhub.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/model_automationactionlogicapp.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/model_automationactionworkspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/model_automationproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/model_automationruleset.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/model_automationscope.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/model_automationsource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/model_automationtriggeringrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/model_automationvalidationstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/security/2019-01-01-preview/automations/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/security-center

#24015 `azurerm_log_analytics_workspace` - support for the `immediate_data_purge_on_30_days_enabled ` property
  internal/services/loganalytics/log_analytics_workspace_resource.go
  internal/services/loganalytics/log_analytics_workspace_resource_test.go
  website/docs/r/log_analytics_workspace.html.markdown
Labels: enhancement, documentation, size/M, service/log-analytics

#24192 doc `azurerm_network_manager` - add description for registering provider for Management Group scope
  website/docs/r/network_manager.html.markdown
  website/docs/r/network_manager_connectivity_configuration.html.markdown
Labels: documentation, size/XS, service/network

#24169 `azurerm_dns_txt_record` - Update dns txt resource max string
  internal/services/dns/dns_txt_record_resource.go
  website/docs/r/dns_txt_record.html.markdown
Labels: enhancement, documentation, service/dns, size/XS

#24078 `azurerm_machine_learning_datastore_*`: support `skip_validation` property
  internal/services/machinelearning/machine_learning_datastore_blobstorage_resource.go
  internal/services/machinelearning/machine_learning_datastore_datalake_gen2_resource.go
  internal/services/machinelearning/machine_learning_datastore_fileshare_resource.go
Labels: enhancement, size/XS, service/machine-learning

#24077 [Bug fix] - `azurerm_pim_active_role_assignment` and `azurerm_pim_eligible_role_assignment` - Filter role assignment on scope
  internal/services/authorization/pim_active_role_assignment_resource.go
  internal/services/authorization/pim_eligible_role_assignment_resource.go
Labels: bug, size/XS, service/authorization

#24072 `azurerm_tenant_template_deployment`, `azurerm_management_group_template_deployment`, `azurerm_subscription_template_deployment`, `azurerm_resource_group_template_deployment` - fix updating `template_spec_version_id`
  internal/services/resource/management_group_template_deployment_resource.go
  internal/services/resource/resource_group_template_deployment_resource.go
  internal/services/resource/subscription_template_deployment_resource.go
  internal/services/resource/tenant_template_deployment_resource.go
Labels: bug, size/XS, service/template

#24205 azurerm_cognitive_account - add ContentSafety to the kind property validation
  internal/services/cognitive/cognitive_account_resource.go
Labels: size/XS, service/cognitive-services

#21226 `azurerm_storage_account` - Mark `shared_properties.smb` as O+C
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
Labels: service/storage, size/M, tests

#24202 linux_web_app documentation fixes
  website/docs/r/linux_web_app.html.markdown
Labels: documentation, size/XS, service/app-service

#24204 Docs: correct managed identity documentation for azurerm_batch_account
  internal/services/batch/batch_account_resource.go
  website/docs/r/batch_account.html.markdown
Labels: bug, documentation, size/XS, service/batch

#24159 `azurerm_virtual_machine` - nil check first element of additional capabilities slice
  internal/services/legacy/virtual_machine_resource.go
Labels: crash, waiting-response, service/virtual-machine, size/XS

#24211 `data.azurerm_role_definition` - fix the issue where the value of properties `role_definition_id` and `scope` are set to empty
  internal/services/authorization/role_definition_data_source.go
Labels: bug, size/XS, service/authorization

#24210 `azurerm_security_center_setting` - Allow `Sentinel` to be the valid `setting_name`
  internal/services/securitycenter/security_center_setting_resource.go
  internal/services/securitycenter/security_center_setting_resource_test.go
  website/docs/r/security_center_setting.html.markdown
Labels: bug, documentation, size/S, service/security-center

#24214 `cognitive_account` datasource: add identity block to attributes
  internal/services/cognitive/cognitive_account_data_source.go
  internal/services/cognitive/cognitive_account_data_source_test.go
  website/docs/d/cognitive_account.html.markdown
Labels: enhancement, documentation, size/M, service/cognitive-services

#24216 tooling: configuring copywrite
  .copywrite.hcl
Labels: size/XS

#24217 dependencies: updating to `v0.20231212.1221926` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/azure_cli_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/authorization.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/azurecli/azcli.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/azurecli/cache.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/azurecli/versions.go
  vendor/modules.txt
Labels: dependencies, size/L

#24219 `azurerm_container_app` - add `workload_profile_name` property
  internal/services/containerapps/container_app_data_source.go
  internal/services/containerapps/container_app_resource.go
  internal/services/containerapps/container_app_resource_test.go
  website/docs/d/container_app.html.markdown
  website/docs/r/container_app.html.markdown
Labels: documentation, size/L, service/container-apps

#24221 `azurerm_[linux|windows]_web_app[_slot]` - fix a bug in `app_settings`
  internal/services/appservice/helpers/common_web_app_schema.go
  internal/services/appservice/helpers/web_app_slot_schema.go
  internal/services/appservice/helpers/windows_web_app_schema.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_slot_resource.go
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_slot_resource.go
Labels: size/M, service/app-service

#24224 change teamcity test time to 2300 UTC
  .teamcity/components/settings.kt
Labels: size/XS

#24028 docs: 📝 add az devops workload identity related info
  website/docs/guides/service_principal_oidc.html.markdown
Labels: documentation, size/S, provider

#23965 Authentication: Support Azure Federated Identity environment variables directly
  internal/provider/provider.go
  internal/provider/provider_test.go
  website/docs/guides/aks_workload_identity.html.markdown
  website/docs/guides/azure_cli.html.markdown
  website/docs/guides/managed_service_identity.html.markdown
  website/docs/guides/service_principal_client_certificate.html.markdown
  website/docs/guides/service_principal_client_secret.html.markdown
  website/docs/guides/service_principal_oidc.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/L, authentication

#24226 Auto PR: Regenerating based on (3fd750bc9a9af6fbe8474f47a9aadddb536aac97)
  internal/services/cognitive/cognitive_account_data_source.go
Labels: size/XS, service/cognitive-services

#24237 dependencies: updating to `v0.20231214.1094851` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  internal/services/springcloud/spring_cloud_application_insights_application_performance_monitoring_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/id_spring.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_apiportalslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_apmslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_applicationacceleratorslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_applicationliveviewslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_appslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_buildpackbindinglistforcluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_buildservicelistbuildservices.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_certificateslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_configserversget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_configserversupdatepatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_configserversupdateput.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_configserversvalidate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_configurationserviceslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_containerregistrieslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_deploymentslistforcluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_devtoolportalslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_eurekaserversget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_eurekaserverslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_eurekaserversupdatepatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_eurekaserversupdateput.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_gatewayslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_monitoringsettingsget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_monitoringsettingsupdatepatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_monitoringsettingsupdateput.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_serviceregistrieslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicescreateorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicesdelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicesdisableapmglobally.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicesdisabletestendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicesenableapmglobally.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicesenabletestendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicesflushvnetdnssetting.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicesget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_serviceslistgloballyenabledapms.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_serviceslistsupportedapmtypes.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_serviceslistsupportedserverversions.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_serviceslisttestkeys.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicesregeneratetestkey.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicesstart.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicesstop.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_servicesupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/appplatform/2023-09-01-preview/appplatform/method_storageslist.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/spring

#24238 `kusto`: removing (most of) the old Resource ID Parsers since these are now unused
  internal/services/kusto/kusto_attached_database_configuration_resource.go
  internal/services/kusto/kusto_cosmosdb_data_connection_resource.go
  internal/services/kusto/migration/kusto_attached_database_configuration_migration_v0_to_v1.go
  internal/services/kusto/migration/kusto_cluster_customer_managed_key_v0_to_v1.go
  internal/services/kusto/migration/kusto_cluster_migration_v0_to_v1.go
  internal/services/kusto/migration/kusto_cluster_principal_assignment_migration_v0_to_v1.go
  internal/services/kusto/migration/kusto_database_data_connection_eventgrid_migration_v0_to_v1.go
  internal/services/kusto/migration/kusto_database_data_connection_eventhub_migration_v0_to_v1.go
  internal/services/kusto/migration/kusto_database_data_connection_iothub_migration_v0_to_v1.go
  internal/services/kusto/migration/kusto_database_migration_v0_to_v1.go
  internal/services/kusto/migration/kusto_database_principal_assignment_migration_v0_to_v1.go
  internal/services/kusto/migration/kusto_database_script_migration_v0_to_v1.go
  internal/services/kusto/migration/kusto_managed_private_endpoint_migration_v0_to_v1.go
  internal/services/kusto/migration/kusto_managed_private_endpoint_migration_v1_to_v2.go
  internal/services/kusto/parse/attached_database_configuration.go
  internal/services/kusto/parse/attached_database_configuration_test.go
  internal/services/kusto/parse/cluster.go
  internal/services/kusto/parse/cluster_principal_assignment.go
  internal/services/kusto/parse/cluster_principal_assignment_test.go
  internal/services/kusto/parse/cluster_test.go
  internal/services/kusto/parse/data_connection.go
  internal/services/kusto/parse/data_connection_test.go
  internal/services/kusto/parse/database.go
  internal/services/kusto/parse/database_principal_assignment.go
  internal/services/kusto/parse/database_principal_assignment_test.go
  internal/services/kusto/parse/database_test.go
  internal/services/kusto/parse/managed_private_endpoints.go
  internal/services/kusto/parse/managed_private_endpoints_test.go
  internal/services/kusto/parse/script.go
  internal/services/kusto/parse/script_test.go
  internal/services/kusto/resourceids.go
  internal/services/kusto/validate/attached_database_configuration_id.go
  internal/services/kusto/validate/attached_database_configuration_id_test.go
  internal/services/kusto/validate/cluster_id.go
  internal/services/kusto/validate/cluster_id_test.go
  internal/services/kusto/validate/cluster_principal_assignment_id.go
  internal/services/kusto/validate/cluster_principal_assignment_id_test.go
  internal/services/kusto/validate/data_connection_id.go
  internal/services/kusto/validate/data_connection_id_test.go
  internal/services/kusto/validate/database_id.go
  internal/services/kusto/validate/database_id_test.go
  internal/services/kusto/validate/database_principal_assignment_id.go
  internal/services/kusto/validate/database_principal_assignment_id_test.go
  internal/services/kusto/validate/managed_private_endpoints_id.go
  internal/services/kusto/validate/managed_private_endpoints_id_test.go
  internal/services/kusto/validate/script_id.go
  internal/services/kusto/validate/script_id_test.go
  internal/services/monitor/monitor_diagnostic_setting_resource.go
Labels: size/XL, service/monitor, refactor, service/kusto, state-migration

#24240 dependencies: updating `hashicorp/go-azure-sdk` to `v0.20231214.1134755`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#24239 azurerm_cognitive_account: document that `custom_subdomain_name` is required when specifying `network_acls`
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, size/XS

#24241 dependencies: updating `hashicorp/go-azure-sdk` to `v0.20231214.1160726`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#24228 `azurerm_storage_account` - Fix crash when checking for `routingInputs.PublishInternetEndpoints` and `routingInputs.PublishMicrosoftEndpoints`
  internal/services/storage/storage_account_resource.go
Labels: service/storage, size/XS

#24231 `azurerm_cognitive_account_customer_managed_key` - `identity_client_id` is no longer passed to the api when it is empty
  internal/services/cognitive/cognitive_account_customer_managed_key_resource.go
Labels: size/XS, service/cognitive-services

#24236 Remove unnecessary identity checks are they are obselete due to 2023-02-01-preview version
  internal/services/mssql/mssql_server_resource.go
  website/docs/r/mssql_server.html.markdown
Labels: documentation, size/XS, service/mssql

#24233 `azurerm_spring_cloud_gateway` - change to typed resource
  internal/services/springcloud/registration.go
  internal/services/springcloud/spring_cloud_gateway_resource.go
Labels: size/XL, service/spring

#24208 `azurerm_hpc_cache_nfs_target` - support `verification_timer_in_seconds` and `write_back_timer_in_seconds` properties
  internal/services/storagecache/hpc_cache_nfs_target_resource.go
  internal/services/storagecache/hpc_cache_nfs_target_resource_test.go
  website/docs/r/hpc_cache_nfs_target.html.markdown
Labels: documentation, size/M

#24207 `azurerm_hpc_cache_blob_nfs_target` - support for `verification_timer_in_seconds` and `write_back_timer_in_seconds` properties
  internal/services/storagecache/hpc_cache_blob_nfs_target_resource.go
  internal/services/storagecache/hpc_cache_blob_nfs_target_resource_test.go
  website/docs/r/hpc_cache_blob_nfs_target.html.markdown
Labels: documentation, size/M

#24194 `azurerm_web_application_firewall_policy` - fix the value of `rule_group_name` does not exist for Application Gateway Firewall
  internal/services/network/validate/web_application_firewall_policy.go
  internal/services/network/web_application_firewall_policy_resource_test.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, size/M, service/web-application-firewall, service/network

#24230 PowerShell72 support in azurerm_automation_runbook resource (#14089)
  internal/services/automation/automation_runbook_resource.go
  website/docs/r/automation_runbook.html.markdown
Labels: documentation, size/XS, service/automation

#24246 dependencies: updating to v0.20231214.1220802 of github.com/hashicorp/go-azure-sdk
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_china.go
  vendor/modules.txt
Labels: bug, dependencies, size/XS

#23955 azurerm_container_app - suppot for the init_container block
  internal/services/containerapps/container_app_resource_test.go
  internal/services/containerapps/helpers/container_apps.go
  website/docs/d/container_app.html.markdown
  website/docs/r/container_app.html.markdown
Labels: documentation, size/XL, service/container-apps

#24245 `azurerm_kusto_database`/`azurerm_mariadb_database`/`azurerm_mssql_database`/`azurerm_mssql_managed_database`/`azurerm_mysql_database`/`azurerm_netapp_volume`/`azurerm_postgresql_database`/`azurerm_postgresql_flexible_server_database`/`azurerm_sql_database` and `azurerm_sql_managed_database` - add note at top of documents and include the lifecycle `prevent_destroy` argument in the sample configuration block.
  website/docs/r/kusto_database.html.markdown
  website/docs/r/mariadb_database.html.markdown
  website/docs/r/mssql_database.html.markdown
  website/docs/r/mssql_managed_database.html.markdown
  website/docs/r/mysql_database.html.markdown
  website/docs/r/netapp_volume.html.markdown
  website/docs/r/postgresql_database.html.markdown
  website/docs/r/postgresql_flexible_server_database.html.markdown
  website/docs/r/sql_database.html.markdown
  website/docs/r/sql_managed_database.html.markdown
Labels: documentation, size/M

#24255 #24242: Preserve public_network_access_enabled during refresh
  internal/services/bot/bot_service_resource_base.go
Labels: size/XS, service/bots

#24251 dependencies: updating `hashicorp/go-azure-sdk` to `v0.20231215.1114251`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#24254 `azurerm_container_app_environment`: Fix documentation for container counts
  website/docs/r/container_app_environment.html.markdown
Labels: documentation, size/XS

#24263 `azurerm_spring_cloud_container_deployment`, `azurerm_spring_cloud_build_deployment` - fix tests
  internal/services/springcloud/spring_cloud_app_resource_test.go
  internal/services/springcloud/spring_cloud_build_deployment_resource_test.go
  internal/services/springcloud/spring_cloud_container_deployment_resource_test.go
Labels: size/XS, service/spring

#24257 `azurerm_logic_app_standard` - add support for `site_config.0.public_network_access_enabled`
  internal/services/logic/logic_app_standard_resource.go
  internal/services/logic/logic_app_standard_resource_test.go
  website/docs/r/logic_app_standard.html.markdown
Labels: documentation, size/M, service/logic

#24229 New resource: `azurerm_log_analytics_workspace_table`
  internal/services/loganalytics/client/client.go
  internal/services/loganalytics/log_analytics_workspace_table_resource.go
  internal/services/loganalytics/log_analytics_workspace_table_resource_test.go
  internal/services/loganalytics/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/id_table.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/id_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/method_cancelsearch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/method_listbyworkspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/method_migrate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/model_column.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/model_restoredlogs.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/model_resultstatistics.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/model_schema.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/model_searchresults.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/model_table.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/model_tableproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/model_tableslistresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/tables/version.go
  vendor/modules.txt
  website/docs/r/log_analytics_workspace_table.html.markdown
Labels: documentation, dependencies, size/XL, service/log-analytics

#24288 Add missing documentation of public_network_access_enabled
  website/docs/r/bot_service_azure_bot.html.markdown
Labels: documentation

#24256 GHA - add comment on prs with build failures
  .github/workflows/comment-failure.yaml
  .github/workflows/depscheck.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/gradually-deprecated.yaml
  .github/workflows/provider-test.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/validate-examples.yaml
  .github/workflows/website-lint.yaml
Labels: size/S

#24289 #24287: Support node_version 20-lts for azurerm_linux_web_app
  examples/app-service/linux-nodejs/main.tf
  internal/services/appservice/helpers/app_stack.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  website/docs/r/linux_web_app.html.markdown
Labels: enhancement, documentation, service/app-service

#24280 #24134: Default logic app versions to ~4
  internal/services/logic/logic_app_standard_resource.go
  internal/services/logic/logic_app_standard_resource_test.go
  website/docs/r/logic_app_standard.html.markdown
Labels: service/logic, deprecation

#24250 `azurerm_spring_cloud_api_portal` - change to a typed resource
  internal/services/springcloud/registration.go
  internal/services/springcloud/spring_cloud_api_portal_resource.go
Labels: size/XL, service/spring

#24274 `azurerm_*_virtual_machine` - `additional_capabilities.0.ultra_ssd_enabled` can now be added during update
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
Labels: bug, service/virtual-machine

#24281 GHA - update pr labeller for actions/labeler v5.0.0
  .github/labeler-pull-request-triage.yml
  internal/tools/generator-services/main.go
Labels: tooling
