Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2023-11, with the labels that each got.

#23737 `azurerm_kubernetes_cluster` - add conditional ForceNew for `custom_ca_trust_certificates_base64`
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: bug, documentation, size/XS, service/kubernetes-cluster

#23746 `azurerm_traffic_manager_external_endpoint` - split create/update
  internal/services/trafficmanager/external_endpoint_resource.go
Labels: size/M, service/traffic-manager, refactor

#23736 `azurerm_api_management_diagnostic` - the `operation_name_format` property is only available for `applicationinsights` diagnostic
  internal/services/apimanagement/api_management_diagnostic_resource.go
Labels: size/XS, service/api-management

#23751 `lighthouse` - Fix failed testcase
  internal/services/lighthouse/lighthouse_definition_resource_test.go
Labels: size/XS, tests, service/lighthouse

#23753 Contributor Docs: add guide on state migrations
  contributing/README.md
  contributing/topics/guide-state-migrations.md
Labels: size/L

#23749 `azurerm_spring_cloud_(customized)_accelerator` - state migration to fix the ID casing
  internal/services/springcloud/migration/accelerator_customized_migration_v0_to_v1.go
  internal/services/springcloud/migration/accelerator_migration_v0_to_v1.go
  internal/services/springcloud/parse/spring_cloud_accelerator.go
  internal/services/springcloud/parse/spring_cloud_accelerator_test.go
  internal/services/springcloud/parse/spring_cloud_customized_accelerator.go
  internal/services/springcloud/parse/spring_cloud_customized_accelerator_test.go
  internal/services/springcloud/resourceids.go
  internal/services/springcloud/spring_cloud_accelerator_resource.go
  internal/services/springcloud/spring_cloud_customized_accelerator_resource.go
  internal/services/springcloud/validate/spring_cloud_accelerator_id_test.go
  internal/services/springcloud/validate/spring_cloud_customized_accelerator_id_test.go
  website/docs/r/spring_cloud_accelerator.html.markdown
  website/docs/r/spring_cloud_customized_accelerator.html.markdown
Labels: documentation, size/XL, service/spring, state-migration

#23754 azurerm_managed_application - support array for parameters while flattening
  internal/services/managedapplications/managed_application_resource.go
  internal/services/managedapplications/managed_application_resource_test.go
Labels: enhancement, size/XS, service/managed-apps

#23744 Docs: Fix 'azurerm_mssql_database'
  website/docs/r/mssql_database.html.markdown
Labels: documentation, size/XS

#23741 Docs: Fix 'azurerm_api_management_api_operation' example
  internal/services/apimanagement/api_management_api_operation_resource_test.go
  website/docs/r/api_management_api_operation.html.markdown
  website/docs/r/api_management_api_operation_tag.html.markdown
Labels: documentation, size/S, service/api-management

#22802 New Resource: `azurerm_network_function_collector_policy`
  .github/labeler-issue-triage.yml
  internal/services/networkfunction/client/client.go
  internal/services/networkfunction/network_function_collector_policy_resource.go
  internal/services/networkfunction/network_function_collector_policy_resource_test.go
  internal/services/networkfunction/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/id_azuretrafficcollector.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/id_collectorpolicy.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/method_updatetags.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/model_collectorpolicy.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/model_collectorpolicypropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/model_emissionpoliciespropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/model_emissionpolicydestination.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/model_ingestionpolicypropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/model_ingestionsourcespropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/model_systemdata.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/model_tagsobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/networkfunction/2022-11-01/collectorpolicies/version.go
  vendor/modules.txt
  website/docs/r/network_function_collector_policy.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/network-function

#23752 Support for TCP type & ExposedPort on `azurerm_container_app`
  internal/services/containerapps/container_app_resource_test.go
  internal/services/containerapps/helpers/container_apps.go
  website/docs/r/container_app.html.markdown
Labels: enhancement, documentation, size/M, service/container-apps

#23682 `azurerm_application_gateway` - fix error when `firewall_policy_id` is removed
  internal/services/network/application_gateway_resource.go
  internal/services/network/application_gateway_resource_test.go
Labels: bug, size/M, service/application-gateway, service/network

#23750 azurerm_cosmosdb_postgresql_cluster - Mark administrator_login_password as optional
  internal/services/cosmos/cosmosdb_postgresql_cluster_resource.go
  internal/services/cosmos/cosmosdb_postgresql_cluster_resource_test.go
  website/docs/r/cosmosdb_postgresql_cluster.html.markdown
Labels: enhancement, documentation, size/XS, service/cosmosdb

#23380 provider: log instead of error when RPs are unavailable when validating RP registrations
  internal/resourceproviders/requiring_registration.go
Labels: bug, size/XS, provider, azure/china

#23769 Tool: schema snapshot generator not need to expose `ForceNew`
  internal/tools/generator-schema-snapshot/main.go
Labels: size/XS, tooling

#23771 `azurerm_linux_virtual_machine_scale_set` - Fix Failed testcase
  internal/services/compute/linux_virtual_machine_scale_set_resource_extensions_test.go
Labels: service/vmss, size/XS, tests

#23770 `azurerm_windows_virtual_machine` - Fix Failed testcases
  internal/services/compute/windows_virtual_machine_resource_other_test.go
Labels: service/virtual-machine, size/XS, tests

#23718 Managed Identity support for EventHub loggers in `azurerm_api_management_logger`
  internal/services/apimanagement/api_management_logger_resource.go
  internal/services/apimanagement/api_management_logger_resource_test.go
  website/docs/r/api_management_logger.html.markdown
Labels: enhancement, documentation, size/L, service/api-management

#23783 `azurerm_postgresql_database` - update the validation of `collation`
  internal/services/postgres/validate/postgresql_database_collation.go
  internal/services/postgres/validate/postgresql_database_collation_test.go
Labels: size/XS, service/postgresql

#23790 azurerm_kusto_cluster: changing regex on ClusterName to match the azure naming convention
  internal/services/kusto/validate/name.go
Labels: size/XS, service/kusto

#23780 Update application_gateway.html.markdown
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS

#23756 `azurerm_spring_cloud_customized_accelerator` - use pandora sdk
  internal/services/springcloud/client/client.go
  internal/services/springcloud/spring_cloud_customized_accelerator_resource.go
  internal/services/springcloud/spring_cloud_customized_accelerator_resource_test.go
Labels: size/L, service/spring

#22520 `azurerm_cognitive_deployment` - Add support for `VersionUpgradeOption`
  internal/services/cognitive/cognitive_deployment_resource.go
  internal/services/cognitive/cognitive_deployment_resource_test.go
  website/docs/r/cognitive_deployment.html.markdown
Labels: documentation, size/S, service/cognitive-services

#23641 `azurerm_firewall_policy_rule_collection_group`: add support for `http_headers`
  internal/services/firewall/firewall_policy_rule_collection_group_resource.go
  internal/services/firewall/firewall_policy_rule_collection_group_resource_test.go
  website/docs/r/firewall_policy_rule_collection_group.html.markdown
Labels: enhancement, documentation, size/M, service/firewall

#23803 Extend TC Server build timeout to match override value
  .teamcity/components/build_config_service.kt
Labels: size/XS

#23812 fix panic with web auto heal settings
  internal/services/appservice/helpers/auto_heal.go
Labels: size/XS, service/app-service

#23819 GA: Kubernetes Event-driven Autoscaling (KEDA) Add-on for AKS
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#23822 cosmos: consistently using the same constants
  internal/services/cosmos/common/indexing_policy.go
Labels: bug, size/XS, service/cosmosdb

#23820 provider: adding a test ensuring that Data Sources do not support import
  internal/provider/provider_schema_test.go
  internal/services/dataprotection/data_protection_backup_vault_data_source.go
  internal/services/kusto/kusto_database_data_source.go
  internal/services/network/virtual_hub_route_table_data_source.go
Labels: bug, size/S, service/kusto, service/data-protection, service/network

#23829 tools/update-go-azure-sdk: specifying a git username when running in automation
  internal/tools/update-go-azure-sdk/main.go
Labels: size/S, tooling

#23757 `tools`: update document linter tool for default value and blocktype detet regex
  internal/tools/document-lint/check/check_default_value.go
  internal/tools/document-lint/check/check_format_error.go
  internal/tools/document-lint/check/check_iface.go
  internal/tools/document-lint/check/crossproperty.go
  internal/tools/document-lint/check/skip_config.go
  internal/tools/document-lint/md/resource_doc.go
  internal/tools/document-lint/md/resource_doc_test.go
Labels: size/M, tooling

#23836 fix pnic with web auto heal settings (actions)
  internal/services/appservice/helpers/auto_heal.go
Labels: size/XS, service/app-service

#23837 Update note in mssql_server_transparent_data_encryption resource
  website/docs/r/mssql_server_transparent_data_encryption.html.markdown
Labels: documentation, waiting-response, size/XS

#23839 Docs: fix typo for resource name
  website/docs/r/data_factory_pipeline.html.markdown
Labels: documentation, size/XS, service/data-factory

#23832 automation: updating the branch name when opening an Auto PR for `hashicorp/go-azure-sdk`
  .github/workflows/automation-open-pull-request-go-sdk.yaml
Labels: size/XS

#23795 `azurerm_batch_pool` - fixes accTest `TestAccBatchPool_certificates`
  internal/services/batch/batch_pool_resource_test.go
Labels: size/XS, service/batch

#23794 Doc: Remove the `update` timeout from the doc of `azurerm_management_lock`
  website/docs/r/management_lock.html.markdown
Labels: documentation, size/XS

#23843 tooling: outputting the version of `hashicorp/go-azure-sdk` when auto PRs are opened
  .github/workflows/automation-open-pull-request-go-sdk.yaml
Labels: size/XS, tooling

#23854 dependencies: updating to `v0.20231109.1125736` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/networkvirtualappliances/model_networkvirtualappliancepropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/id_networkvirtualappliance.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/id_networkvirtualapplianceconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/method_networkvirtualapplianceconnectionscreateorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/method_networkvirtualapplianceconnectionsdelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/method_networkvirtualapplianceconnectionsget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/method_networkvirtualapplianceconnectionslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/model_networkvirtualapplianceconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/model_networkvirtualapplianceconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/model_propagatedroutetablenfv.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/model_routingconfigurationnfv.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/model_routingconfigurationnfvsubresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2023-04-01/virtualwans/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_china.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_gov.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_public.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/helpers.go
  vendor/modules.txt
Labels: dependencies, size/XL

#23644 `azurerm_role_assignment`: normalize `scope` field in Read
  internal/services/authorization/role_assignment_resource.go
  internal/services/authorization/role_assignment_resource_test.go
Labels: size/S, service/authorization

#23849 DDOS Protection Plan: refactoring to use `hashicorp/go-azure-sdk`
  internal/services/network/client/client.go
  internal/services/network/network_ddos_protection_plan_data_source.go
  internal/services/network/network_ddos_protection_plan_resource.go
  internal/services/network/network_ddos_protection_plan_resource_test.go
  internal/services/network/parse/ddos_protection_plan.go
  internal/services/network/parse/ddos_protection_plan_test.go
  internal/services/network/public_ip_resource.go
  internal/services/network/resourceids.go
  internal/services/network/validate/ddos_protection_plan_id.go
  internal/services/network/validate/ddos_protection_plan_id_test.go
  internal/services/network/virtual_network_resource.go
Labels: size/XL, refactor, service/network

#23866 `azurerm_logic_app_integration_account_certificate`/`azurerm_logic_app_integration_account_partner` - `name`/`business_identity.value` now accepts underscores.
  internal/services/logic/validate/integration_account_certificate_name.go
  internal/services/logic/validate/integration_account_partner_business_identity_value.go
Labels: size/XS, service/logic

#23872 Updated docs for Windows/Linux Virtual Machine Scale Set
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#23874 `azurerm_app_service_source_control` - add example for linux function app with source control resource
  examples/app-service/linux-function-app-with-source-control/README.md
  examples/app-service/linux-function-app-with-source-control/main.tf
  examples/app-service/linux-function-app-with-source-control/outputs.tf
  examples/app-service/linux-function-app-with-source-control/variables.tf
  internal/services/appservice/source_control_resource_test.go
Labels: size/M, service/app-service

#23886 dependencies: bump go-azure-sdk to v0.20231113.1151754
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#23859 docs: improve data collection rule data_flow section
  website/docs/r/monitor_data_collection_rule.html.markdown
Labels: documentation, size/XS

#23884 doc: Remove specificity to General Purpose for Serverless SKUs
  website/docs/r/mssql_database.html.markdown
Labels: documentation, size/XS

#23897 Docs: update `azurerm_resources.types` field description
  website/docs/d/resources.html.markdown
Labels: documentation, size/XS

#23873 `azurerm_monitor_data_collection_rule` - support `WorkspaceTransforms` for `kind`
  internal/services/monitor/monitor_data_collection_rule_resource.go
  internal/services/monitor/monitor_data_collection_rule_resource_test.go
  website/docs/r/monitor_data_collection_rule.html.markdown
Labels: enhancement, documentation, size/S, service/monitor

#23863 Updating SKU details for azurerm_elastic_cloud_elasticsearch
  website/docs/r/elastic_cloud_elasticsearch.html.markdown
Labels: documentation, size/XS, service/elastic

#23838 `azurerm_point_to_site_vpn_gateway` - split create and update methods
  internal/services/network/point_to_site_vpn_gateway_resource.go
Labels: size/M, service/network

#23900 `appservice` - support disabling access for default basic auth
  internal/services/appservice/linux_function_app_data_source.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/linux_web_app_data_source.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_data_source.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  internal/services/appservice/windows_web_app_data_source.go
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
  website/docs/d/linux_function_app.html.markdown
  website/docs/d/linux_web_app.html.markdown
  website/docs/d/windows_function_app.html.markdown
  website/docs/d/windows_web_app.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service

#23922 dependencies: updating `hashicorp/go-azure-sdk` to `v0.20231116.1162710`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#23932 Docs: Update windows/linux vmss docs to reference VMSS Flex
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, service/vmss, size/XS

#23888 `azurerm_hdinsight_hadoop_cluster`, `azurerm_hdinsight_hbase_cluster`, `azurerm_hdinsight_interactive_query_cluster`, `azurerm_hdinsight_kafka_cluster`, `azurerm_hdinsight_spark_cluster`: unmark `ForceNew` for `script_actions`
  internal/services/hdinsight/schema.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
Labels: bug, documentation, size/S, service/hdinsight

#23797 `azurerm_spring_cloud_customized_accelerator` - support for the `accelerator_type` and `sub_path`
  internal/services/springcloud/spring_cloud_customized_accelerator_resource.go
  internal/services/springcloud/spring_cloud_customized_accelerator_resource_test.go
  website/docs/r/spring_cloud_customized_accelerator.html.markdown
Labels: enhancement, documentation, size/S, service/spring

#23929 Upgrade dashboard grafanaresource API version from 2022-08-01 to 2023-09-01
  internal/services/dashboard/client/client.go
  internal/services/dashboard/dashboard_grafana_resource.go
  internal/services/dashboard/dashboard_grafana_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2022-08-01/grafanaresource/model_managedgrafanapropertiesupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/id_grafana.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/method_grafanacheckenterprisedetails.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/method_grafanacreate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/method_grafanadelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/method_grafanaget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/method_grafanalist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/method_grafanalistbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/method_grafanaupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_azuremonitorworkspaceintegration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_enterpriseconfigurations.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_enterprisedetails.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_grafanaconfigurations.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_grafanaintegrations.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_grafanaplugin.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_managedgrafana.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_managedgrafanaproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_managedgrafanapropertiesupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_managedgrafanaupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_marketplacetrialquota.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_privatelinkserviceconnectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_resourcesku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_saassubscriptiondetails.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_smtp.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/model_subscriptionterm.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/grafanaresource/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/dashboard

#23638 Added dotnet_version 8 to both linux and windows function apps
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/windows_function_app_resource_test.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
Labels: enhancement, documentation, size/M, service/app-service

#23781 Added trusted_launch_supported feature to azurerm_shared_image resource
  internal/services/compute/shared_image_resource.go
  internal/services/compute/shared_image_resource_test.go
  website/docs/r/shared_image.html.markdown
Labels: enhancement, documentation, service/images, size/M

#23864 `azurerm_log_analytics_workspace` - support for the `identity` property
  internal/services/loganalytics/log_analytics_workspace_resource.go
  internal/services/loganalytics/log_analytics_workspace_resource_test.go
  website/docs/r/log_analytics_workspace.html.markdown
Labels: enhancement, documentation, size/L, service/log-analytics

#23904 `azurerm_disk_encryption_set` - Support updating `identity`
  internal/services/compute/disk_encryption_set_resource.go
  internal/services/compute/disk_encryption_set_resource_test.go
Labels: enhancement, service/disks, size/M

#23816 `azurerm_gallery_application_version` - Support `config_file_name`, `package_file_name` and `target_region.exclude_from_latest`
  internal/services/compute/gallery_application_version_resource.go
  internal/services/compute/gallery_application_version_resource_test.go
  website/docs/r/gallery_application_version.html.markdown
Labels: enhancement, documentation, service/images, size/M

#23862 `azurerm_spring_cloud_container_deployment` - support for the `application_performance_monitoring_resource_ids` property
  internal/services/springcloud/spring_cloud_container_deployment_resource.go
  internal/services/springcloud/spring_cloud_container_deployment_resource_test.go
  website/docs/r/spring_cloud_container_deployment.html.markdown
Labels: enhancement, documentation, size/M, service/spring

#23887 `azurerm_kubernetes_cluster`, `azurerm_kubernetes_cluster_node_pool` - support for the `gpu_instance_profile` property
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: enhancement, documentation, size/M, service/kubernetes-cluster

#23941 `azurerm_managed_lustre_file_system`: Add `mgs_address` attribute
  internal/services/azuremanagedlustrefilesystem/managed_lustre_file_system_resource.go
  internal/services/azuremanagedlustrefilesystem/managed_lustre_file_system_resource_test.go
  website/docs/r/managed_lustre_file_system.html.markdown
Labels: enhancement, documentation, size/XS, service/azuremanagedlustrefilesystem

#23936 `azurerm_point_to_site_vpn_gateway` - support mutiple `connection_configurations`
  internal/services/network/point_to_site_vpn_gateway_resource.go
  internal/services/network/point_to_site_vpn_gateway_resource_test.go
Labels: size/M, service/network

#23650 Correction of example code
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS, service/application-gateway

#23966 correct sticky_settings documentation "exports" -> "supports the following"
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, size/XS

#23928 New data source: `azurerm_monitor_workspace`
  internal/services/monitor/monitor_workspace_data_source.go
  internal/services/monitor/monitor_workspace_data_source_test.go
  internal/services/monitor/registration.go
  website/docs/d/monitor_workspace.html.markdown
Labels: documentation, new-data-source, size/L, service/monitor

#23938 `azurerm_cosmosdb_postgresql_cluster` - Mark `coordinator_storage_quota_in_mb` and `coordinator_vcore_count` as `optional`
  internal/services/cosmos/cosmosdb_postgresql_cluster_resource.go
  internal/services/cosmos/cosmosdb_postgresql_cluster_resource_test.go
  website/docs/r/cosmosdb_postgresql_cluster.html.markdown
Labels: enhancement, documentation, size/M, service/cosmosdb

#23974 `azure_mssql_database` - support additional SKUs for Hyperscale tier
  internal/services/mssql/validate/database_sku_name.go
  internal/services/mssql/validate/database_sku_name_test.go
Labels: enhancement, size/XS, service/mssql

#23921 `tools`: add a document linter action
  .github/workflows/document-lint.yaml
  GNUmakefile
Labels: size/S

#23372 `azurerm_windows_web_app` : fix the issue of incorrect application stack setting after updating the web app without changing the `application_stack` configuration
  internal/services/appservice/helpers/windows_web_app_schema.go
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_resource_test.go
  website/docs/r/windows_web_app.html.markdown
Labels: documentation, size/M, service/app-service

#23721 `azurerm_mssql_server` and `azurerm_mssql_database` - upgrade from `v5.0/sql` to `2023-02-01-preview`
  internal/services/mssql/client/client.go
  internal/services/mssql/custompollers/mssql_deleteserverazureadonlyauthentication_poller.go
  internal/services/mssql/helper/elasticpool.go
  internal/services/mssql/helper/sql_retention_policies.go
  internal/services/mssql/mssql_database_data_source.go
  internal/services/mssql/mssql_database_extended_auditing_policy_resource.go
  internal/services/mssql/mssql_database_resource.go
  internal/services/mssql/mssql_database_resource_test.go
  internal/services/mssql/mssql_database_vulnerability_assessment_rule_baseline_resource.go
  internal/services/mssql/mssql_failover_group_resource.go
  internal/services/mssql/mssql_server_data_source.go
  internal/services/mssql/mssql_server_extended_auditing_policy_resource.go
  internal/services/mssql/mssql_server_microsoft_support_auditing_policy_resource.go
  internal/services/mssql/mssql_server_resource.go
  internal/services/mssql/mssql_server_resource_test.go
  internal/services/mssql/mssql_server_security_alert_policy_resource.go
  internal/services/mssql/mssql_server_security_alert_policy_resource_test.go
  internal/services/mssql/mssql_server_transparent_data_encryption_resource.go
  internal/services/mssql/mssql_server_vulnerability_assessment_resource.go
  website/docs/d/mssql_database.html.markdown
  website/docs/d/mssql_elasticpool.html.markdown
  website/docs/r/mssql_database.html.markdown
Labels: documentation, size/XL, service/mssql

#23993 firewall: recasing the `firewall_policy_id` field
  internal/services/firewall/firewall_resource.go
Labels: bug, size/XS, service/firewall

#23973 `azurerm_dev_test_linux_virtual_machine`, `azurerm_dev_test_windows_virtual_machine`: Make `storage_type` `ForceNew = true` to reflect real API requirement
  internal/services/devtestlabs/dev_test_linux_virtual_machine_resource.go
  internal/services/devtestlabs/dev_test_linux_virtual_machine_resource_test.go
  internal/services/devtestlabs/dev_test_windows_virtual_machine_resource.go
  internal/services/devtestlabs/dev_test_windows_virtual_machine_resource_test.go
  website/docs/r/dev_test_linux_virtual_machine.html.markdown
  website/docs/r/dev_test_windows_virtual_machine.html.markdown
Labels: documentation, size/M, service/devtestlabs

#23934 azurerm_dashboard_grafana: add new `sku` type `Essential`
  internal/services/dashboard/dashboard_grafana_resource.go
  internal/services/dashboard/dashboard_grafana_resource_test.go
  website/docs/r/dashboard_grafana.html.markdown
Labels: documentation, size/S, service/dashboard

#24009 `azurerm_eventhub_cluster`: Remove `ForceNew` from `sku_name`
  internal/services/eventhub/eventhub_cluster_resource.go
  website/docs/r/eventhub_cluster.html.markdown
Labels: documentation, size/XS, service/event-hubs

#24007 refactor: `templatespecversions` now uses `hashicorp/go-azure-sdk` / updates to API Version `2022-02-01`
  internal/services/resource/client/client.go
  internal/services/resource/template_spec_version_data_source.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2019-06-01-preview/templatespecs/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2019-06-01-preview/templatespecs/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2019-06-01-preview/templatespecs/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2019-06-01-preview/templatespecs/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2019-06-01-preview/templatespecs/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2019-06-01-preview/templatespecs/templatespecs.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2019-06-01-preview/templatespecs/version.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/resources/mgmt/2019-06-01-preview/templatespecs/versions.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/id_builtintemplatespec.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/id_templatespec.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/id_templatespecversion.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/id_version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/method_getbuiltin.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/method_listbuiltins.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/model_linkedtemplateartifact.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/model_templatespecversion.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/model_templatespecversionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/model_templatespecversionupdatemodel.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2022-02-01/templatespecversions/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, refactor, service/template

#23860 `azurerm_virtual_network_gateway_connection` - add `StateRefreshFunc` for SetSharedKey API
  internal/services/network/virtual_network_gateway_connection_resource.go
  internal/services/network/virtual_network_gateway_connection_resource_test.go
Labels: size/S, service/network

#23964 `azurerm_windows_virtual_machine_scale_set` - fix overprovisioning update
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_scaling_test.go
Labels: waiting-response, size/S

#23943 azurerm_api_management - Reference additional location zones from `additional_location` block instead of primary location
  internal/services/apimanagement/api_management_resource.go
  internal/services/apimanagement/api_management_resource_test.go
Labels: size/L, service/api-management

#23681 `azurerm_role_definition`: add ValidateFunc for `scope` field
  internal/services/authorization/role_definition_resource.go
  internal/tf/validation/pluginsdk.go
Labels: size/XS, service/authorization

#23420 `azurerm_private_dns_zone_virtual_network_link` - explicit test for cross-tenant usage
  internal/provider/provider.go
  internal/services/privatedns/private_dns_zone_virtual_network_link_resource_test.go
Labels: service/dns, size/M, tests, sdk/requires-upgrade, upstream/go-azure-sdk

#24013 dependencies: update `hashicorp/go-azure-sdk` to `v0.20231122.1165504`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_lro.go
  vendor/modules.txt
Labels: dependencies, size/XS

#24016 Update postgres API version
  internal/services/postgres/client/client.go
  internal/services/postgres/postgresql_flexible_server_data_source.go
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-03-01-preview/servers/model_serverproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/id_flexibleserver.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/method_create.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_authconfig.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_backup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_dataencryption.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_highavailability.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_maintenancewindow.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_network.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_privatelinkserviceconnectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_replica.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_server.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_serverforupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_serverproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_serverpropertiesforupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_sku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/model_storage.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2023-06-01-preview/servers/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/postgresql

#24008 refactor: `firewall` now uses the client from `network`
  internal/clients/client.go
  internal/services/firewall/azuresdkhacks/firewall.go
  internal/services/firewall/client/client.go
  internal/services/firewall/firewall_application_rule_collection_resource.go
  internal/services/firewall/firewall_application_rule_collection_resource_test.go
  internal/services/firewall/firewall_data_source.go
  internal/services/firewall/firewall_nat_rule_collection_resource.go
  internal/services/firewall/firewall_nat_rule_collection_resource_test.go
  internal/services/firewall/firewall_network_rule_collection_resource.go
  internal/services/firewall/firewall_network_rule_collection_resource_test.go
  internal/services/firewall/firewall_policy_data_source.go
  internal/services/firewall/firewall_policy_resource.go
  internal/services/firewall/firewall_policy_resource_test.go
  internal/services/firewall/firewall_policy_rule_collection_group_resource.go
  internal/services/firewall/firewall_policy_rule_collection_group_resource_test.go
  internal/services/firewall/firewall_resource.go
  internal/services/firewall/firewall_resource_test.go
Labels: size/M, service/firewall, refactor

#24012 acctests: renaming `hpccache` -> `storagecache`
  .teamcity/components/settings.kt
Labels: size/XS

#24014 azurerm_dashboard_grafana - support for grafana_major_version property
  internal/services/dashboard/dashboard_grafana_resource.go
  internal/services/dashboard/dashboard_grafana_resource_test.go
  website/docs/r/dashboard_grafana.html.markdown
Labels: documentation, size/M, service/dashboard

#24035 website: Add postgres v16 to allowed versions
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation, size/XS

#24026 Documentation update for `azurerm_windows_virtual_machine_scale_set`
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, size/XS

#24025 dependencies: updating to `v0.20231124.1163225` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#24027 Documentation update - `mssql_failover_group` working example
  website/docs/r/mssql_failover_group.html.markdown
Labels: documentation, size/XS

#24033 `azurerm_nginx_deployment`: add default value for capacity
  internal/services/nginx/nginx_deployment_resource.go
  website/docs/r/nginx_deployment.html.markdown
Labels: documentation, size/XS, service/nginx

#24023 `appconfiguration`: using the `ListBySubscription` endpoint rather than the Resources API
  internal/services/appconfiguration/app_configuration_feature_resource.go
  internal/services/appconfiguration/app_configuration_key_resource.go
  internal/services/appconfiguration/client/client.go
  internal/services/appconfiguration/client/helpers.go
Labels: size/M, refactor, service/app-configuration

#24039 Documentation update - Updated Features Block link
  internal/services/apimanagement/api_management_resource.go
  internal/services/appconfiguration/app_configuration_resource.go
  internal/services/keyvault/key_vault_resource.go
  internal/services/resource/resource_group_resource.go
  website/docs/r/api_management.html.markdown
  website/docs/r/app_configuration.html.markdown
  website/docs/r/cognitive_account.html.markdown
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/resource_group.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, waiting-response, service/key-vault, size/XS, service/api-management, service/app-configuration

#24031 `azurerm_ip_group`: parse and normalize firewall/policy id in read
  internal/services/network/ip_group_resource.go
Labels: size/M, service/network

#23893 Support `v8.0` for the `dotnet_version` to `azurerm_windows_web_app` and `azurerm_linux_web_app`
  internal/services/appservice/helpers/app_stack.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/M, service/app-service

#24029 `azurerm_cosmosdb_account` - Change the order of updating `capabilities`
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
Labels: size/M, service/cosmosdb

#24002 `azurerm_media_transform` - `FaceDetectorPreset` and `video_analyzer_preset` are no longer supported
  internal/services/media/media_transform_resource.go
  internal/services/media/media_transform_resource_test.go
Labels: size/XL, service/media, deprecation

#24019 `keyvault`: populating the Key Vaults cache using the KeyVault Resource Provider
  internal/services/cdn/cdn_endpoint_custom_domain_resource.go
  internal/services/cdn/frontdoorsecretparams/cdn_frontdoor_secret_params.go
  internal/services/compute/disk_encryption_set_resource.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/databricks/databricks_customer_managed_key_resource.go
  internal/services/databricks/databricks_root_dbfs_customer_managed_key_resource.go
  internal/services/databricks/databricks_workspace_resource.go
  internal/services/datafactory/data_factory_linked_service_key_vault_resource.go
  internal/services/keyvault/client/helpers.go
  internal/services/keyvault/internal.go
  internal/services/keyvault/key_vault_certificate_contacts_resource.go
  internal/services/keyvault/key_vault_certificate_issuer_data_source.go
  internal/services/keyvault/key_vault_certificate_issuer_resource.go
  internal/services/keyvault/key_vault_certificate_issuer_resource_test.go
  internal/services/keyvault/key_vault_certificate_resource.go
  internal/services/keyvault/key_vault_certificate_resource_test.go
  internal/services/keyvault/key_vault_key_resource.go
  internal/services/keyvault/key_vault_key_resource_test.go
  internal/services/keyvault/key_vault_managed_storage_account.go
  internal/services/keyvault/key_vault_managed_storage_account_sas_token_definition_resource.go
  internal/services/keyvault/key_vault_managed_storage_account_sas_token_definition_resource_test.go
  internal/services/keyvault/key_vault_managed_storage_account_test.go
  internal/services/keyvault/key_vault_secret_resource.go
  internal/services/keyvault/key_vault_secret_resource_test.go
  internal/services/keyvault/parse/certificate_issuer.go
  internal/services/kusto/kusto_cluster_customer_managed_key_resource.go
  internal/services/mysql/mysql_server_key_resource.go
  internal/services/postgres/postgresql_server_key_resource.go
  internal/services/signalr/signalr_service_custom_certificate_resource.go
  internal/services/signalr/web_pubsub_custom_certificate_resource.go
  internal/services/storage/storage_account_customer_managed_key_resource.go
  internal/services/storage/storage_account_resource.go
  internal/services/storagecache/hpc_cache_resource.go
  internal/services/web/app_service_certificate_resource.go
Labels: service/storage, service/key-vault, size/XL, service/cdn, service/postgresql, service/mysql, service/databricks, service/data-factory, service/signalr, service/kusto

#23996 `azurerm_kubernetes_cluster` - update description for the `week_index` property
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS

#24032 new datasource `azurerm_stack_hci_cluster`
  internal/provider/services.go
  internal/services/azurestackhci/registration.go
  internal/services/azurestackhci/stack_hci_cluster_data_source.go
  internal/services/azurestackhci/stack_hci_cluster_data_source_test.go
  website/docs/d/stack_hci_cluster.html.markdown
Labels: documentation, size/L, service/azure-stack-hci

#23987 `azurerm_data_factory_flowlet_data_flow`: Optional source and sink properties
  internal/services/datafactory/data_factory_data_flow.go
  internal/services/datafactory/data_factory_flowlet_data_flow_resource.go
  website/docs/r/data_factory_flowlet_data_flow.html.markdown
Labels: documentation, size/L, service/data-factory

#24070 azurerm_postgresql_database - update the validation of collation
  internal/services/postgres/validate/postgresql_database_collation.go
  internal/services/postgres/validate/postgresql_database_collation_test.go
Labels: waiting-response, size/XS, service/postgresql

#24074 `azurerm_app_configuration` - normalize `location` for `replica` block
  internal/services/appconfiguration/app_configuration.go
  internal/services/appconfiguration/app_configuration_resource.go
Labels: size/XS, service/app-configuration

#24056 bugfix: resolve issue with no-deadline context when listing RPs
  internal/clients/builder.go
  website/docs/guides/azure_cli.html.markdown
  website/docs/guides/service_principal_client_secret.html.markdown
Labels: bug, documentation, size/XS, provider
