Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2023-02, with the labels that each got.

#18194 `azurerm_linux_function_app` - fix `linuxFxVersion` for docker runtime
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/fx_strings.go
  internal/services/appservice/linux_function_app_resource_test.go
Labels: size/XL, service/app-service

#20194 `azurerm_kubernetes_cluster` - add support for `confidential_computing` and export identity for `aci_connector_linux`
  internal/services/containers/kubernetes_addons.go
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/L, service/kubernetes-cluster

#20244 Doc Fix : `azurerm_dns_a_record` - enhanced description for property `zone_name`
  website/docs/r/dns_a_record.html.markdown
Labels: documentation, size/XS

#20282 d/monitor_data_collection_rule: raising an error when the specified d…
  internal/services/monitor/monitor_data_collection_rule_data_source.go
Labels: bug, size/XS, service/monitor

#20288 Doc: `azurerm_storage_account` removes the default value for `default_service_version`
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XS

#20293 `azurerm_monitor_data_collection_rule` - fix failed test
  internal/services/monitor/monitor_data_collection_rule_data_source_test.go
  internal/services/monitor/monitor_data_collection_rule_resource_test.go
  website/docs/r/monitor_data_collection_rule.html.markdown
Labels: documentation, size/XS, service/monitor

#20300 Auto PR: Regenerating based on (37c7d097e4f13a4d900fb39f878f84196cb73da7)
  internal/provider/provider_schema_test.go
  internal/services/dataprotection/data_protection_backup_instance_disk_resource_test.go
  internal/services/loganalytics/log_analytics_workspace_resource_test.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  internal/services/recoveryservices/site_recovery_replicated_vm_resource_test.go
  internal/services/streamanalytics/stream_analytics_job_resource.go
  internal/services/streamanalytics/stream_analytics_output_servicebus_queue_resource_test.go
  internal/services/streamanalytics/stream_analytics_output_servicebus_topic_resource_test.go
  website/docs/r/user_assigned_identity.html.markdown
Labels: documentation, size/S, service/postgresql, service/stream-analytics, service/recovery-services, service/log-analytics, service/data-protection

#20302 Fix wrong replacement for azurerm_app_service in 3.0 upgrade guide
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#20237 Parse Property Case Insensitively in `Read`
  internal/services/apimanagement/api_management_subscription_resource.go
  internal/services/appservice/function_app_hybrid_connection_resource.go
  internal/services/containers/container_group_resource.go
  internal/services/disks/disk_pool_iscsi_target_lun_resource.go
  internal/services/loganalytics/log_analytics_data_export_resource.go
  internal/services/machinelearning/machine_learning_inference_cluster_resource.go
  internal/services/monitor/monitor_aad_diagnostic_setting_resource.go
  internal/services/mssql/mssql_database_resource.go
  internal/services/mssql/mssql_elasticpool_resource.go
  internal/services/mssql/mssql_managed_instance_resource.go
  internal/services/mssql/mssql_virtual_network_rule_resource.go
Labels: service/disks, size/XS, service/mssql, service/app-service, service/monitor, service/api-management, service/log-analytics, service/machine-learning

#20298 azurerm_postgresql_flexible_server - Add support for SameZone HA mode
  internal/services/postgres/postgresql_flexible_server_resource.go
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation, size/XS, service/postgresql

#20297 Doc: Fix incorrect import spec for `azurerm_site_recovery_replication_recovery_plan`
  website/docs/r/site_recovery_replication_recovery_plan.html.markdown
Labels: documentation, size/XS

#20268 `azurerm_security_insights_sentinel_onboarding`: doc enhancement
  website/allowed-subcategories
  website/docs/r/sentinel_log_analytics_workspace_onboarding.html.markdown
Labels: documentation, size/XS

#20310 Auto PR: Regenerating based on (2f2a05c911b4ea7a8eb8fe7ee013c9973727a073)
  website/allowed-subcategories
Labels: documentation, size/XS

#20312 dependencies: updating to `v0.20230204.1161343` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#20314 redisenterprise: removing a single usage of `Azure/azure-sdk-for-go` …
  internal/services/redisenterprise/validate/redis_enterprise_cluster_sku_name.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/databases.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/operationsstatus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/redisenterprise.go
  vendor/github.com/Azure/azure-sdk-for-go/services/redisenterprise/mgmt/2021-03-01/redisenterprise/version.go
  vendor/modules.txt
Labels: bug, dependencies, size/XL, service/redis, refactor

#20315 r/custom_provider: switching a spurious usage of `Azure/azure-sdk-for-go` to `hashicorp/go-azure-sdk`
  internal/services/customproviders/custom_provider_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/customproviders/mgmt/2018-09-01-preview/customproviders/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/customproviders/mgmt/2018-09-01-preview/customproviders/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/customproviders/mgmt/2018-09-01-preview/customproviders/associations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/customproviders/mgmt/2018-09-01-preview/customproviders/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/customproviders/mgmt/2018-09-01-preview/customproviders/customresourceprovider.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/customproviders/mgmt/2018-09-01-preview/customproviders/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/customproviders/mgmt/2018-09-01-preview/customproviders/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/customproviders/mgmt/2018-09-01-preview/customproviders/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/customproviders/mgmt/2018-09-01-preview/customproviders/version.go
  vendor/modules.txt
Labels: bug, dependencies, size/XL, refactor, service/custom-resource-provider

#20275 Update api_management_api_tag.html.markdown
  website/docs/r/api_management_api_tag.html.markdown
Labels: documentation, size/XS

#20295 `azurerm_monitor_action_group` - fix test`TestAccDataSourceMonitorActionGroup_complete`
  internal/services/monitor/monitor_action_group_data_source_test.go
Labels: size/XS, service/monitor

#20198 `azurerm_function_app_function` - support multiple file blocks
  internal/services/appservice/function_app_function_resource.go
Labels: size/XS, service/app-service

#20307 `azurerm_monitor_diagnostic_setting` - Removing ForceNew from `storage_account_id`, `eventhub_authorization_rule_id`, and `eventhub_name`
  internal/services/monitor/monitor_diagnostic_setting_resource.go
  website/docs/r/monitor_diagnostic_setting.html.markdown
Labels: documentation, size/XS, service/monitor

#20229 `azurerm_sentinel_data_connector_threat_intelligence_taxii` - Fix date format for `lookback_date`
  internal/services/sentinel/azuresdkhacks/models.go
  internal/services/sentinel/sentinel_data_connector_threat_intelligence_taxii_test.go
Labels: bug, size/S, service/sentinel

#20232 `azurerm_mssql_managed_instance` - fix use `administrator_password` instead of `administrator_login_password` issue
  internal/services/mssql/mssql_managed_instance_resource.go
Labels: size/XS, service/mssql

#19934 [New resource] - `azurerm_machine_learning_datastore_fileshare` Support Machine learning datastore fileshare
  internal/services/machinelearning/machine_learning_datastore_fileshare_resource.go
  internal/services/machinelearning/machine_learning_datastore_fileshare_resource_test.go
  internal/services/machinelearning/registration.go
  website/docs/r/machine_learning_datastore_fileshare.html.markdown
Labels: documentation, size/XL, service/machine-learning

#20102 `azurerm_dashboard_grafana` - Support `grafana_integrations`
  .teamcity/components/settings.kt
  internal/services/dashboard/dashboard_grafana_resource.go
  internal/services/dashboard/dashboard_grafana_resource_test.go
  website/docs/r/dashboard_grafana.html.markdown
Labels: documentation, size/M, service/dashboard

#20045 [New resource] - `azurerm_machine_learning_datastore_datalake_gen2`
  internal/services/machinelearning/machine_learning_datastore_datalake_gen2_resource.go
  internal/services/machinelearning/machine_learning_datastore_datalake_gen2_resource_test.go
  internal/services/machinelearning/registration.go
  website/docs/r/machine_learning_datastore_datalake_gen2.html.markdown
Labels: documentation, size/XL, service/machine-learning

#20230 `azurerm_sentinel_alert_rule_nrt`, `azurerm_sentinel_alert_rule_scheduled`: support `sentinel_entity_mapping`
  internal/services/sentinel/sentinel_alert_rule.go
  internal/services/sentinel/sentinel_alert_rule_nrt_resource.go
  internal/services/sentinel/sentinel_alert_rule_nrt_resource_test.go
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
  website/docs/r/sentinel_alert_rule_nrt.html.markdown
  website/docs/r/sentinel_alert_rule_scheduled.html.markdown
Labels: documentation, size/M, service/sentinel

#20309 `databricks`: Update API to `2023-02-01`, except accessconnectors
  internal/services/databricks/client/client.go
  internal/services/databricks/databricks_customer_managed_key_resource.go
  internal/services/databricks/databricks_customer_managed_key_resource_test.go
  internal/services/databricks/databricks_workspace_data_source.go
  internal/services/databricks/databricks_workspace_private_endpoint_connection_data_source.go
  internal/services/databricks/databricks_workspace_resource.go
  internal/services/databricks/databricks_workspace_resource_test.go
  internal/services/databricks/migration/customer_managed_key.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/id_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_createdby.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_encryption.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_encryptionentitiesdefinition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_encryptionv2.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_encryptionv2keyvaultproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_manageddiskencryption.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_manageddiskencryptionkeyvaultproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_managedidentityconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_privatelinkserviceconnectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_sku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_workspacecustombooleanparameter.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_workspacecustomobjectparameter.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_workspacecustomparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_workspacecustomstringparameter.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_workspaceencryptionparameter.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_workspaceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_workspacepropertiesencryption.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_workspaceproviderauthorization.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/model_workspaceupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/databricks/2023-02-01/workspaces/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/databricks

#20128 New Resource: `azurerm_mobile_network`; New DataSource: `azurerm_mobile_network`;
  .github/labeler-pull-request-triage.yml
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/mobilenetwork/client/client.go
  internal/services/mobilenetwork/mobile_network_data_source.go
  internal/services/mobilenetwork/mobile_network_data_source_test.go
  internal/services/mobilenetwork/mobile_network_resource.go
  internal/services/mobilenetwork/mobile_network_resource_test.go
  internal/services/mobilenetwork/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/id_mobilenetwork.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/method_updatetags_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/model_mobilenetwork.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/model_mobilenetworkpropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/model_plmnid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/model_tagsobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/mobilenetwork/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/d/mobile_network.html.markdown
  website/docs/r/mobile_network.html.markdown
Labels: documentation, dependencies, size/XL

#20285 `azurerm_web_application_firewall_policy` - fix failure caused by order change of `disabled_rules`
  internal/services/network/web_application_firewall_policy_resource.go
  internal/services/network/web_application_firewall_policy_resource_test.go
Labels: size/L, service/network

#20281 `azurerm_storage_blob_inventory_policy` - add `exclude_prefixes` to `filter` resource block
  internal/services/storage/storage_blob_inventory_policy_resource.go
  internal/services/storage/storage_blob_inventory_policy_resource_test.go
  website/docs/r/storage_blob_inventory_policy.html.markdown
Labels: documentation, service/storage, size/XS

#20274 `azurerm_media_streaming_locator` - support for `filter_names` property
  internal/services/media/media_streaming_locator_resource.go
  internal/services/media/media_streaming_locator_resource_test.go
  website/docs/r/media_streaming_locator.html.markdown
Labels: documentation, size/S, service/media

#20273 New Resource: `azurerm_sentinel_data_connector_microsoft_threat_intelligence`
  internal/services/sentinel/registration.go
  internal/services/sentinel/sentinel_data_connector_microsoft_threat_intelligence.go
  internal/services/sentinel/sentinel_data_connector_microsoft_threat_intelligence_test.go
  website/docs/r/sentinel_data_connector_microsoft_threat_intelligence.html.markdown
Labels: documentation, size/XL, service/sentinel

#20271 `azurerm_media_live_event_output` - support for `rewind_window_duration` property
  internal/services/media/media_live_output_resource.go
  internal/services/media/media_live_output_resource_test.go
  website/docs/r/media_live_output.html.markdown
Labels: documentation, size/XS, service/media

#20253 `azurerm_disk_encryption_set` - remove unnecessary validation on key vault purge protection
  internal/services/compute/disk_encryption_set_resource.go
  internal/services/compute/disk_encryption_set_resource_test.go
Labels: size/M

#20254 `azurerm_media_streaming_live_event` - support for `stream_options` property
  internal/services/media/media_streaming_live_event_resource.go
  internal/services/media/media_streaming_live_event_resource_test.go
  website/docs/r/media_live_event.html.markdown
Labels: documentation, size/L, service/media

#20249 `azurerm_shared_image`: support `confidential_vm_supported` and `confidential_vm_enabled`
  internal/services/compute/shared_image_resource.go
  internal/services/compute/shared_image_resource_test.go
  website/docs/r/shared_image.html.markdown
Labels: documentation, size/L

#20246 `azurerm_log_analytics_workspace` - add state migration for sdk update
  internal/services/loganalytics/log_analytics_workspace_resource.go
  internal/services/loganalytics/migration/workspace_v2_to_v3.go
Labels: size/M, service/log-analytics

#20231 `azurerm_sentinel_alert_rule_nrt` - support block `event_grouping`
  internal/services/sentinel/sentinel_alert_rule_nrt_resource.go
  internal/services/sentinel/sentinel_alert_rule_nrt_resource_test.go
  website/docs/r/sentinel_alert_rule_nrt.html.markdown
Labels: documentation, size/M, service/sentinel

#20352 `azurerm_monitor_data_collection_rule` - fix `counter_specifiers` doc
  website/docs/r/monitor_data_collection_rule.html.markdown
Labels: documentation, size/XS

#20346 fix files that are not resources but sound like they are (for tooling)
  internal/services/bot/bot_service_resource_base.go
  internal/services/costmanagement/export_resource_base.go
  internal/services/policy/assignment_resource_base.go
Labels: size/XS, service/policy, service/bots, service/cost-management

#20349 Dependencies: bump app_service to `2021-03-01` to unblock easy auth v2 support
  internal/services/appservice/client/client.go
  internal/services/appservice/function_app_active_slot_resource.go
  internal/services/appservice/function_app_function_resource.go
  internal/services/appservice/function_app_hybrid_connection_resource.go
  internal/services/appservice/helpers/auto_heal.go
  internal/services/appservice/helpers/common_web_app_schema.go
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/function_app_schema_test.go
  internal/services/appservice/helpers/function_app_slot_schema.go
  internal/services/appservice/helpers/linux_web_app_schema.go
  internal/services/appservice/helpers/publish_app.go
  internal/services/appservice/helpers/shared_schema.go
  internal/services/appservice/helpers/web_app_slot_schema.go
  internal/services/appservice/helpers/windows_web_app_schema.go
  internal/services/appservice/identity.go
  internal/services/appservice/linux_function_app_data_source.go
  internal/services/appservice/linux_function_app_resource.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_slot_resource.go
  internal/services/appservice/service_plan_resource.go
  internal/services/appservice/source_control_resource.go
  internal/services/appservice/source_control_schema.go
  internal/services/appservice/source_control_slot_resource.go
  internal/services/appservice/source_control_token_resource.go
  internal/services/appservice/web_app_active_slot_resource.go
  internal/services/appservice/web_app_hybrid_connection_resource.go
  internal/services/appservice/windows_function_app_data_source.go
  internal/services/appservice/windows_function_app_resource.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_slot_resource.go
  internal/services/web/app_service_public_certificate_resource.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/apps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/appservicecertificateorders.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/appserviceenvironments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/appserviceplans.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/certificateordersdiagnostics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/certificateregistrationprovider.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/certificates.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/containerapps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/containerappsrevisions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/deletedwebapps.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/diagnostics.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/domainregistrationprovider.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/domains.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/global.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/kubeenvironments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/provider.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/recommendations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/resourcehealthmetadata.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/staticsites.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/topleveldomains.go
  vendor/github.com/Azure/azure-sdk-for-go/services/web/mgmt/2021-03-01/web/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/app-service

#20335 `azurerm_spring_cloud_app` - normalize `addon_json`
  internal/services/springcloud/spring_cloud_app_resource.go
Labels: size/XS, service/spring

#20345 `azurerm_service_fabric_managed_cluster` - Fix potential panic when setting `node_type`
  internal/services/servicefabricmanaged/service_fabric_managed_cluster_resource.go
Labels: bug, size/XS, service/service-fabric-managed-cluster

#20342 `azurerm_databricks_access_connector` : the `identity ` property should be optional rather than required
  internal/services/databricks/databricks_access_connector_resource.go
  internal/services/databricks/databricks_access_connector_resource_test.go
  website/docs/r/databricks_access_connector.html.markdown
Labels: documentation, size/S, service/databricks

#20348 Fix api_management_custom_domain timeout length that was too short
  internal/services/apimanagement/api_management_custom_domain_resource.go
  website/docs/r/api_management_custom_domain.html.markdown
Labels: documentation, size/XS, service/api-management

#20367 Upgrade Postgresql Flexible Server AAD Administrator API version from 2022-03-08-preview to 2022-12-01
  internal/services/postgres/client/client.go
  internal/services/postgres/postgresql_flexible_server_aad_administrator_resource.go
  internal/services/postgres/postgresql_flexible_server_aad_administrator_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/id_administrator.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/id_flexibleserver.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/method_create_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/method_listbyserver_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/model_activedirectoryadministrator.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/model_activedirectoryadministratoradd.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/model_administratorproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/model_administratorpropertiesforadd.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/administrators/version.go
  vendor/modules.txt
Labels: dependencies, size/XS, service/postgresql

#20353 fixes #20351 - Update length to 64 for databricks_access_controller_name
  internal/services/databricks/validate/access_connector_name.go
  internal/services/databricks/validate/access_connector_name_test.go
Labels: size/XS, service/databricks

#20378 Doc FIx - Issue 20376
  website/docs/r/load_test.html.markdown
Labels: documentation, size/XS

#20379 Auto PR: Regenerating based on (53e7f1de241b3e813e1180bbe356746a23bb4398)
  internal/services/containerapps/container_app_environment_certificate_resource_test.go
  internal/services/containerapps/container_app_resource_test.go
  internal/services/datadog/azurerm_datadog_monitor_sso_configuration_test.go
  internal/services/datadog/datadog_monitor_tag_rule_resource.go
  internal/services/datadog/datadog_monitor_tag_rule_resource_test.go
  internal/services/datadog/datadog_monitors_resource.go
  internal/services/digitaltwins/digital_twins_endpoint_eventgrid_resource_test.go
  internal/services/digitaltwins/digital_twins_endpoint_eventhub_resource_test.go
  internal/services/digitaltwins/digital_twins_endpoint_servicebus_resource_test.go
  internal/services/digitaltwins/digital_twins_instance_resource_test.go
  internal/services/redis/redis_firewall_rule_resource.go
  internal/services/redis/redis_firewall_rule_resource_test.go
  internal/services/redis/redis_linked_server_resource.go
  website/docs/r/container_app.html.markdown
  website/docs/r/container_app_environment.html.markdown
  website/docs/r/container_app_environment_certificate.html.markdown
  website/docs/r/container_app_environment_storage.html.markdown
Labels: documentation, size/M, service/redis, service/digital-twins

#20381 dependencies: updating to `v0.20230208.1165725` of `github.com/hashicorp/go-azure-sdk` / `v0.20230208.1135849` of `github.com/tombuildsstuff/kermit`
  go.mod
  go.sum
  internal/services/containerapps/helpers/container_apps.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2022-03-01/containerapps/model_customdomain.go
  vendor/github.com/tombuildsstuff/kermit/sdk/network/2022-07-01/network/enums.go
  vendor/github.com/tombuildsstuff/kermit/sdk/network/2022-07-01/network/models.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/actions.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/alertrules.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/alertruletemplates.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/automationrules.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/bookmark.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/bookmarkrelations.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/bookmarks.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/dataconnectors.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/dataconnectorscheckrequirements.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/entities.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/entitiesgettimeline.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/entitiesrelations.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/entityqueries.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/entityquerytemplates.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/entityrelations.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/fileimports.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/incidentcomments.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/incidentrelations.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/incidents.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/metadata.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/officeconsents.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/productsettings.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/securitymlanalyticssettings.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/sentinelonboardingstates.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/sourcecontrol.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/sourcecontrols.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/threatintelligenceindicator.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/threatintelligenceindicatormetrics.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/threatintelligenceindicators.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/watchlistitems.go
  vendor/github.com/tombuildsstuff/kermit/sdk/securityinsights/2022-10-01-preview/securityinsights/watchlists.go
  vendor/modules.txt
Labels: dependencies, size/XL

#20364 `azurerm_postgresql_flexible_server` - support `replication_role` and new enum value `Replica` for `create_mode`
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation, waiting-response, size/M, service/postgresql

#20391 Docs: Fix typo in filename and wrong `storage_container_id` in `azurerm_machine_learning_datastore_blobstorage` example
  website/docs/r/machine_learning_datastore_blobstorage.html.markdown
Labels: documentation, size/XS

#20369 Upgrade Postgresql Flexible Server Database API version from 2021-06-01 to 2022-12-01
  internal/services/postgres/client/client.go
  internal/services/postgres/postgresql_flexible_server_database_resource.go
  internal/services/postgres/postgresql_flexible_server_database_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/id_database.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/id_flexibleserver.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/method_create_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/method_listbyserver_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/model_database.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/model_databaseproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/databases/version.go
  vendor/modules.txt
Labels: dependencies, size/XS, service/postgresql

#20366 `Docs`: udpate `azurerm_key_vault_access_policy` object_id description for principal app
  website/docs/r/key_vault_access_policy.html.markdown
Labels: documentation, size/XS

#20233 New Resource `azurerm_network_manager_security_admin_configuration`, `azurerm_network_manager_admin_rule_collection`, `azurerm_network_manager_admin_rule`
  internal/services/network/client/client.go
  internal/services/network/network_manager_admin_rule_collection_resource.go
  internal/services/network/network_manager_admin_rule_collection_resource_test.go
  internal/services/network/network_manager_admin_rule_resource.go
  internal/services/network/network_manager_admin_rule_resource_test.go
  internal/services/network/network_manager_connectivity_configuration_resource_test.go
  internal/services/network/network_manager_management_group_connection_resource_test.go
  internal/services/network/network_manager_network_group_resource_test.go
  internal/services/network/network_manager_resource_test.go
  internal/services/network/network_manager_scope_connection_resource_test.go
  internal/services/network/network_manager_security_admin_configuration_resource.go
  internal/services/network/network_manager_security_admin_configuration_resource_test.go
  internal/services/network/network_manager_static_member_resource_test.go
  internal/services/network/network_manager_subscription_connection_resource_test.go
  internal/services/network/parse/network_manager_admin_rule.go
  internal/services/network/parse/network_manager_admin_rule_collection.go
  internal/services/network/parse/network_manager_admin_rule_collection_test.go
  internal/services/network/parse/network_manager_admin_rule_test.go
  internal/services/network/parse/network_manager_security_admin_configuration.go
  internal/services/network/parse/network_manager_security_admin_configuration_test.go
  internal/services/network/registration.go
  internal/services/network/resourceids.go
  internal/services/network/validate/network_manager_admin_rule_collection_id.go
  internal/services/network/validate/network_manager_admin_rule_collection_id_test.go
  internal/services/network/validate/network_manager_admin_rule_id.go
  internal/services/network/validate/network_manager_admin_rule_id_test.go
  internal/services/network/validate/network_manager_security_admin_configuration_id.go
  internal/services/network/validate/network_manager_security_admin_configuration_id_test.go
  website/docs/r/network_manager_admin_rule.html.markdown
  website/docs/r/network_manager_admin_rule_collection.html.markdown
  website/docs/r/network_manager_security_admin_configuration.html.markdown
Labels: documentation, size/XL, service/network

#20247 `storage` - Parse Property Case Insensitively in `Read`
  internal/services/costmanagement/export_resource_base.go
  internal/services/loganalytics/log_analytics_storage_insights_resource.go
  internal/services/monitor/monitor_aad_diagnostic_setting_resource.go
  internal/services/monitor/monitor_diagnostic_setting_resource.go
Labels: size/S, service/monitor, service/log-analytics, service/cost-management

#20333 `azurerm_kubernetes_cluster_node_pool`: Allow multiple subnets within pool vnet (test + docs)
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, size/S

#20334 New Resource: `azurerm_mobile_network_site`; New Data Source: `azurerm_mobile_network_site`
  internal/services/mobilenetwork/client/client.go
  internal/services/mobilenetwork/helpers.go
  internal/services/mobilenetwork/mobile_network_data_source.go
  internal/services/mobilenetwork/mobile_network_site_data_source.go
  internal/services/mobilenetwork/mobile_network_site_data_source_test.go
  internal/services/mobilenetwork/mobile_network_site_resource.go
  internal/services/mobilenetwork/mobile_network_site_resource_test.go
  internal/services/mobilenetwork/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/id_site.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/method_updatetags_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/model_site.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/model_sitepropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/model_subresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/model_tagsobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/site/version.go
  vendor/modules.txt
  website/docs/d/mobile_network.html.markdown
  website/docs/d/mobile_network_site.html.markdown
  website/docs/r/mobile_network_site.html.markdown
Labels: documentation, dependencies, size/XL, service/mobile-network

#20361 `azurerm_express_route_port` - support for the `billing_type` property
  internal/services/network/express_route_port_resource.go
  internal/services/network/express_route_port_resource_test.go
  website/docs/r/express_route_port.html.markdown
Labels: documentation, size/XS, service/network

#20362 `azurerm_batch_pool`: fix index out of range panic when read from nil slice
  internal/services/batch/batch_pool.go
Labels: size/XS, service/batch

#20371 [Fix] - `azurerm_machine_learning_workspace` - Remove `image_build_compute_name` forceNew constraint
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/machinelearning/machine_learning_workspace_resource_test.go
  website/docs/r/machine_learning_workspace.html.markdown
Labels: documentation, size/XS, service/machine-learning

#20383 `azurerm_site_recovery_protection_container_mapping`: remove ForceNew of `automatic_update.automation_account_id`
  internal/services/recoveryservices/site_recovery_protection_container_mapping_resource.go
  internal/services/recoveryservices/site_recovery_protection_container_mapping_resource_test.go
  website/docs/r/site_recovery_protection_container_mapping.html.markdown
Labels: documentation, size/M, service/recovery-services

#20384 azurerm_postgresql_flexible_server_active_directory_administrator - add locks to fix concurrent issue
  internal/services/postgres/postgresql_flexible_server_aad_administrator_resource.go
Labels: size/XS, service/postgresql

#20387 r/management_locks: refactoring to use `hashicorp/go-azure-sdk`
  internal/services/resource/client/client.go
  internal/services/resource/management_lock_resource.go
  internal/services/resource/management_lock_resource_test.go
  internal/services/resource/parse/management_lock.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/authorizationoperations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/managementlocks.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2016-09-01/locks/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/id_lock.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/id_providerlock.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/id_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/id_resourcelock.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/id_scopedlock.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_createorupdateatresourcegrouplevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_createorupdateatresourcelevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_createorupdateatsubscriptionlevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_createorupdatebyscope_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_deleteatresourcegrouplevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_deleteatresourcelevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_deleteatsubscriptionlevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_deletebyscope_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_getatresourcegrouplevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_getatresourcelevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_getatsubscriptionlevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_getbyscope_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_listatresourcegrouplevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_listatresourcelevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_listatsubscriptionlevel_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/method_listbyscope_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/model_managementlockobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/model_managementlockowner.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/model_managementlockproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-05-01/managementlocks/version.go
  vendor/modules.txt
Labels: service/resources, size/XL, refactor

#20390 `azurerm_sentinel_data_connector_threat_intelligence` - support `lookback_date`
  internal/services/sentinel/azuresdkhacks/models.go
  internal/services/sentinel/sentinel_data_connector.go
  internal/services/sentinel/sentinel_data_connector_threat_intelligence.go
  internal/services/sentinel/sentinel_data_connector_threat_intelligence_test.go
  website/docs/r/sentinel_data_connector_threat_intelligence.html.markdown
Labels: documentation, size/M, service/sentinel

#20370 Upgrade Postgresql Flexible Server Firewall Rule API version from 2021-06-01 to 2022-12-01
  internal/services/postgres/client/client.go
  internal/services/postgres/postgresql_flexible_server_firewall_rule_resource.go
  internal/services/postgres/postgresql_flexible_server_firewall_rule_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/id_firewallrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/id_flexibleserver.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/method_listbyserver_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/model_firewallrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/model_firewallruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/postgresql/2022-12-01/firewallrules/version.go
  vendor/modules.txt
Labels: dependencies, size/XS, service/postgresql

#20411 Containerapps: Corrections and additions to docs
  website/docs/r/container_app.html.markdown
  website/docs/r/container_app_environment_dapr_component.html.markdown
Labels: documentation, size/XS, service/container-apps

#20407 Fix the validation for Event Grid Topic Name
  internal/services/eventgrid/eventgrid_domain_topic_resource.go
Labels: size/XS, service/event-grid

#20417 dependencies: updating to `v0.20230210.1121632` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#20418 r/private_endpoint: normalizing the private_connection_resource_id for a redis cache
  internal/services/network/private_endpoint_resource.go
Labels: bug, size/XS, service/private-link, service/network

#20432 `azurerm_kubernetes_cluster` - update version in test cases
  internal/services/containers/kubernetes_cluster_auth_resource_test.go
  internal/services/containers/kubernetes_cluster_data_source_test.go
  internal/services/containers/kubernetes_cluster_resource_test.go
Labels: size/XS, service/kubernetes-cluster, tests

#20434 azurerm_storage_queue: resource_manager_id towards documentation
  website/docs/r/storage_queue.html.markdown
Labels: documentation, size/XS

#20419 golint: updating to 1.51.1
  .github/workflows/golint.yaml
  GNUmakefile
  internal/services/containers/container_registry_resource.go
  internal/services/mssql/helper/elasticpool.go
Labels: size/XS, service/mssql

#20429 `azurerm_site_recovery_replicated_vm` - doc enhancement
  website/docs/r/site_recovery_replicated_vm.html.markdown
Labels: documentation, size/XS

#20431 `azurerm_site_recovery_protection_container_mapping` - Fix incorrect go format code in the test code
  internal/services/recoveryservices/site_recovery_protection_container_mapping_resource_test.go
Labels: size/XS, service/recovery-services

#20426 Add 'DC0' to Cognitive services account SKU options
  internal/services/cognitive/cognitive_account_resource.go
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, size/XS, service/cognitive-services

#20428 `azurerm_hpc_cache` - add nil check when `usernameSource` is `None`
  internal/services/hpccache/hpc_cache_resource.go
Labels: size/XS, service/hpc-cache

#20420 Data Source: `azurerm_policy_definition` - support for `mode` property
  DEVELOPER.md
  internal/services/policy/policy_definition_data_source.go
  internal/services/policy/policy_definition_data_source_test.go
  website/docs/d/policy_definition.html.markdown
Labels: documentation, size/XS, service/policy

#20443 azurerm_storage_account: fix environment check for `allow_nested_items_to_be_public`/`min_tls_version` checks
  go.mod
  go.sum
  internal/acceptance/required_test.go
  internal/acceptance/testclient/client.go
  internal/services/storage/storage_account_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_china.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_gov.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_public.go
  vendor/modules.txt
Labels: bug, dependencies, service/storage, size/S, tests, sdk/requires-upgrade

#20444 update go-azure-sdk to v0.20230213.1235936
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#20446 TestCase: fix TCs of azurerm_netapp_volume
  .teamcity/components/settings.kt
  internal/services/netapp/netapp_volume_resource_test.go
Labels: size/XS, service/netapp

#20445 fix: minor spelling mistakes in storage_management_policy docs
  website/docs/d/storage_management_policy.html.markdown
Labels: documentation, size/XS

#20448 Fix azurerm_storage_management_policy reporting filter as optional
  internal/services/storage/storage_management_policy_resource.go
  website/docs/r/storage_management_policy.html.markdown
Labels: bug, documentation, service/storage, size/XS

#20405 `azurerm_virtual_network_gateway_connection`: fix accTest for `WithoutSharedKey`
  internal/services/network/virtual_network_gateway_connection_resource_test.go
Labels: question, size/XS, service/network

#20403 Migrate botservice sdk from azure sdk track1 to kermit
  internal/services/bot/bot_channel_alexa_resource.go
  internal/services/bot/bot_channel_alexa_resource_test.go
  internal/services/bot/bot_channel_direct_line_speech_resource.go
  internal/services/bot/bot_channel_direct_line_speech_resource_test.go
  internal/services/bot/bot_channel_directline_resource.go
  internal/services/bot/bot_channel_directline_resource_test.go
  internal/services/bot/bot_channel_email_resource.go
  internal/services/bot/bot_channel_email_resource_test.go
  internal/services/bot/bot_channel_facebook_resource.go
  internal/services/bot/bot_channel_facebook_resource_test.go
  internal/services/bot/bot_channel_line_resource.go
  internal/services/bot/bot_channel_line_resource_test.go
  internal/services/bot/bot_channel_ms_teams_resource.go
  internal/services/bot/bot_channel_ms_teams_resource_test.go
  internal/services/bot/bot_channel_slack_resource.go
  internal/services/bot/bot_channel_slack_resource_test.go
  internal/services/bot/bot_channel_sms_resource.go
  internal/services/bot/bot_channel_sms_resource_test.go
  internal/services/bot/bot_channel_web_chat_resource.go
  internal/services/bot/bot_channel_web_chat_resource_test.go
  internal/services/bot/bot_channels_registration_resource.go
  internal/services/bot/bot_connection_resource.go
  internal/services/bot/bot_service_azure_bot_resource.go
  internal/services/bot/bot_service_resource_base.go
  internal/services/bot/bot_web_app_resource.go
  internal/services/bot/client/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/botservice/mgmt/2021-05-01-preview/botservice/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/botservice/mgmt/2021-05-01-preview/botservice/_meta.json
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/botconnection.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/bots.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/channels.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/client.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/directline.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/enums.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/hostsettings.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/models.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/operationresults.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/operations.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/privateendpointconnections.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/privatelinkresources.go
  vendor/github.com/tombuildsstuff/kermit/sdk/botservice/2021-05-01-preview/botservice/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/bots

#20450 CI - increase parallelism for `containerapps` after quota increase
  .teamcity/components/settings.kt
Labels: size/XS

#20336 New Resource: `azurerm_mobile_network_slice`; New Data Source: `azurerm_mobile_network_slice`
  internal/services/mobilenetwork/client/client.go
  internal/services/mobilenetwork/mobile_network_slice_data_source.go
  internal/services/mobilenetwork/mobile_network_slice_data_source_test.go
  internal/services/mobilenetwork/mobile_network_slice_resource.go
  internal/services/mobilenetwork/mobile_network_slice_resource_test.go
  internal/services/mobilenetwork/registration.go
  internal/services/mobilenetwork/testdata/rsa_bundle.pfx
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/id_slice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/method_updatetags_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/model_slice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/model_slicepropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/model_snssai.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/model_tagsobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/slice/version.go
  vendor/modules.txt
  website/docs/d/mobile_network_slice.html.markdown
  website/docs/r/mobile_network_slice.html.markdown
Labels: documentation, dependencies, size/XL, service/mobile-network

#20406 `azurerm_recovery_services_vault` - add limit on `cross_region_restore_enabled`
  internal/services/recoveryservices/recovery_services_vault_resource.go
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
  website/docs/r/recovery_services_vault.html.markdown
Labels: bug, documentation, size/S, service/recovery-services

#20456 dependencies: updating to `v0.20230214.1122756` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2022-05-01/datastore/method_listsecrets_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2022-05-01/machinelearningcomputes/method_computelistkeys_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/id_streamingendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/model_akamaiaccesscontrol.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/model_akamaisignatureheaderauthenticationkey.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/model_armstreamingendpointcurrentsku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/model_crosssiteaccesspolicies.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/model_ipaccesscontrol.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/model_iprange.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/model_streamingendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/model_streamingendpointaccesscontrol.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/model_streamingendpointproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoint/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoints/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2021-11-01/streamingendpoints/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/id_streamingendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/model_akamaiaccesscontrol.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/model_akamaisignatureheaderauthenticationkey.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/model_armstreamingendpointcurrentsku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/model_crosssiteaccesspolicies.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/model_ipaccesscontrol.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/model_iprange.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/model_streamingendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/model_streamingendpointaccesscontrol.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/model_streamingendpointproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoint/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoints/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/media/2022-08-01/streamingendpoints/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-10-01/deploymentscripts/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-10-01/deploymentscripts/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-10-01/deploymentscripts/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-10-01/deploymentscripts/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/application_ids.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/base.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/environment.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/helpers.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/interfaces.go
  vendor/modules.txt
Labels: dependencies, size/XL

#20462 provider: adding a unit test covering the design of the `encryption` block
  internal/provider/provider_schema_test.go
Labels: size/M

#20452 `azurerm_private_endpoint` - read private endpoint connection insensitively
  internal/services/mysql/parse/server.go
  internal/services/mysql/parse/server_test.go
  internal/services/mysql/resourceids.go
  internal/services/network/private_endpoint_resource.go
Labels: size/L, service/mysql, service/network

#20339 New Resource: `azurerm_mobile_network_sim_group`; New DataSource: `azurerm_mobile_network_sim_group`
  internal/services/mobilenetwork/client/client.go
  internal/services/mobilenetwork/helpers.go
  internal/services/mobilenetwork/mobile_network_sim_group_data_source.go
  internal/services/mobilenetwork/mobile_network_sim_group_data_source_test.go
  internal/services/mobilenetwork/mobile_network_sim_group_resource.go
  internal/services/mobilenetwork/mobile_network_sim_group_resource_test.go
  internal/services/mobilenetwork/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/id_simgroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/method_updatetags_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/model_keyvaultkey.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/model_mobilenetworkresourceid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/model_simgroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/model_simgrouppropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/model_tagsobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/simgroup/version.go
  vendor/modules.txt
  website/docs/d/mobile_network_sim_group.html.markdown
  website/docs/r/mobile_network_sim_group.html.markdown
Labels: documentation, dependencies, size/XL, service/mobile-network

#20476 Auto PR: Regenerating based on (a7afabf01188d8ff60c1338ae8597a4b74866568)
  internal/provider/provider_schema_test.go
Labels: size/XS

#20479 bugfix: data sources should surface an error rather than using d.SetID("")
  .github/workflows/gradually-deprecated.yaml
  internal/services/aadb2c/aadb2c_directory_data_source.go
  internal/services/consumption/consumption_budget_resource_group_data_source.go
  internal/services/databoxedge/databox_edge_device_data_source.go
  internal/services/dataprotection/data_protection_backup_vault_data_source.go
  internal/services/healthcare/healthcare_dicom_data_source.go
  internal/services/healthcare/healthcare_fhir_data_source.go
  internal/services/healthcare/healthcare_medtech_service_data_source.go
  internal/services/hybridcompute/hybrid_compute_machine_data_source.go
  internal/services/keyvault/key_vault_certificate_data_data_source.go
  internal/services/keyvault/key_vault_certificate_data_source.go
  internal/services/loadbalancer/outbound_rule_data_source.go
  internal/services/loadbalancer/rule_data_source.go
  internal/services/mobilenetwork/mobile_network_data_source.go
  internal/services/mobilenetwork/mobile_network_sim_group_data_source.go
  internal/services/mobilenetwork/mobile_network_site_data_source.go
  internal/services/mobilenetwork/mobile_network_site_resource.go
  internal/services/mobilenetwork/mobile_network_slice_data_source.go
  internal/services/mobilenetwork/mobile_network_slice_resource.go
  internal/services/monitor/monitor_data_collection_endpoint_data_source.go
  internal/services/mssql/mssql_managed_instance_data_source.go
  internal/services/network/local_network_gateway_data_source.go
  internal/services/network/vpn_gateway_data_source.go
  internal/services/policy/assignment_data_source.go
  internal/services/recoveryservices/site_recovery_replication_recovery_plan_data_source.go
  internal/services/redisenterprise/redis_enterprise_database_data_source.go
  internal/services/servicebus/servicebus_namespace_disaster_recovery_config_data_source.go
  internal/services/signalr/web_pubsub_data_source.go
  internal/services/storage/storage_blob_data_source.go
  internal/services/storage/storage_table_entity_data_source.go
  internal/services/web/app_service_environment_v3_data_source.go
  scripts/run-gradually-deprecated.sh
Labels: bug, service/load-balancers, service/storage, service/key-vault, size/XL, service/mssql, service/service-bus, service/monitor, service/redis, service/recovery-services, service/policy, service/signalr, service/consumption, service/healthcare, service/data-protection, service/aadb2c, service/databox-edge, service/network, service/mobile-network, service/hybrid-compute

#20481 fix: removing the (intentional) `exit 1` from `run-gradually-deprecated`
  .github/workflows/gradually-deprecated.yaml
  scripts/run-gradually-deprecated.sh
Labels: waiting-response, size/XS

#20484 r/kubernetes_cluster: parsing the `log_analytics_workspace_id` response insensitively to fix #20478
  internal/services/containers/kubernetes_addons.go
Labels: bug, size/XS, service/kubernetes-cluster

#20469 `azurerm_backup_protected_vm` - fix a bug in deletion
  internal/services/recoveryservices/backup_protected_vm_resource.go
  internal/services/recoveryservices/client/client.go
Labels: size/S, service/recovery-services

#20499 dependencies: updating to `v0.20230215.1153645` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-10-01/deploymentscripts/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2020-10-01/deploymentscripts/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/odata/errors.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/odata/types.go
  vendor/modules.txt
Labels: dependencies, size/S

#20486 Auto PR: Regenerating based on (bdf754034be92e3f0853322334103567795bb5bb)
  internal/services/aadb2c/aadb2c_directory_data_source.go
Labels: size/XS, service/aadb2c

#20341 `azurerm_kubernetes_cluster` - mark `dns_zone_id` optional
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/M, service/kubernetes-cluster

#20494 `azurerm_data_factory_linked_service_azure_blob_storage` - Add support for `connection_string_insecure`
  internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource_test.go
  website/docs/r/data_factory_linked_service_azure_blob_storage.html.markdown
Labels: documentation, size/M, service/data-factory

#20505 New Data Source `azurerm_virtual_desktop_host_pool`
  internal/services/desktopvirtualization/registration.go
  internal/services/desktopvirtualization/virtual_desktop_host_pool_data_source.go
  internal/services/desktopvirtualization/virtual_desktop_host_pool_data_source_test.go
  website/docs/d/virtual_desktop_host_pool.html.markdown
Labels: documentation, size/XL, service/virtual-desktops

#20504 r/private_endpoint: updating the resource provider name
  internal/services/network/private_endpoint_resource.go
Labels: bug, size/XS, service/private-link, service/network

#20480 Update eventhub_resource.go
  internal/services/eventhub/eventhub_resource.go
  website/docs/r/eventhub.html.markdown
Labels: documentation, size/XS, service/event-hubs

#20498 data source `azurerm_key_vault_secrets`, `azurerm_key_vault_certificates` - expose certificates block
  internal/services/keyvault/key_vault_certificates_data_source.go
  internal/services/keyvault/key_vault_certificates_data_source_test.go
  internal/services/keyvault/key_vault_secrets_data_source.go
  internal/services/keyvault/key_vault_secrets_data_source_test.go
  website/docs/d/key_vault_certificates.html.markdown
  website/docs/d/key_vault_secrets.html.markdown
Labels: documentation, service/key-vault, size/M

#20468 `azurerm_role_definition` - Add conversion check to avoid nil panic
  internal/services/authorization/role_definition_resource.go
Labels: size/XS, service/authorization

#20458 TestCase: fix acctest of azurerm_netapp_volume
  .teamcity/components/settings.kt
  internal/services/netapp/netapp_volume_resource_test.go
Labels: size/XS, service/netapp

#20491 azurerm_nginx_configuration - fix package_data, protected_file validation logic
  internal/services/nginx/nginx_configuration_resource.go
  website/docs/r/nginx_configuration.html.markdown
Labels: documentation, size/XS, service/nginx

#20337 New Resource: `azurerm_mobile_network_service`; New DataSource: `azurerm_mobile_network_service`
  internal/services/mobilenetwork/client/client.go
  internal/services/mobilenetwork/mobile_network_service_data_source.go
  internal/services/mobilenetwork/mobile_network_service_data_source_test.go
  internal/services/mobilenetwork/mobile_network_service_resource.go
  internal/services/mobilenetwork/mobile_network_service_resource_test.go
  internal/services/mobilenetwork/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/id_service.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/method_updatetags_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/model_ambr.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/model_pccruleconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/model_pccruleqospolicy.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/model_qospolicy.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/model_service.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/model_servicedataflowtemplate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/model_servicepropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/model_tagsobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mobilenetwork/2022-11-01/service/version.go
  vendor/modules.txt
  website/docs/d/mobile_network_service.html.markdown
  website/docs/r/mobile_network_service.html.markdown
Labels: documentation, dependencies, size/XL, service/mobile-network

#20365 `azurerm_route_table`: support `next_hop_in_ip_address` value as nil
  internal/services/network/route_table_resource.go
  internal/services/network/route_table_resource_test.go
Labels: size/S, service/network

#20466 `azurerm_container_app`: add identity field to registry block
  internal/services/containerapps/container_app_resource.go
  internal/services/containerapps/helpers/container_apps.go
  internal/services/containerapps/helpers/container_apps_test.go
  website/docs/r/container_app.html.markdown
Labels: documentation, size/M

#20510 update policy def datasource docs and error messages
  CHANGELOG-v2.md
  internal/services/policy/policy.go
  website/docs/d/policy_definition.html.markdown
Labels: documentation, size/XS, service/policy

#20430 New Resource: `azurerm_site_recovery_services_vault_hyperv_site`
  internal/services/recoveryservices/recovery_services_vault_hyperv_site_resource.go
  internal/services/recoveryservices/recovery_services_vault_hyperv_site_resource_test.go
  internal/services/recoveryservices/registration.go
  website/docs/r/site_recovery_services_vault_hyperv_site.html.markdown
Labels: documentation, size/L, service/recovery-services

#20399 `azurerm_api_management`: introduction of the `delegation` block
  internal/services/apimanagement/api_management_resource.go
  internal/services/apimanagement/api_management_resource_test.go
  internal/services/apimanagement/client/client.go
  website/docs/r/api_management.html.markdown
Labels: documentation, size/L, service/api-management

#19933 New Data Source: `azurerm_policy_definition_built_in`
  internal/services/policy/policy.go
  internal/services/policy/policy_definition_built_in_data_source.go
  internal/services/policy/policy_definition_built_in_data_source_test.go
  internal/services/policy/policy_definition_data_source.go
  internal/services/policy/registration.go
  website/docs/d/policy_definition_built_in.html.markdown
Labels: documentation, size/XL, service/policy

#20033 `azurerm_mssql_managed_instance` : fix acc test failure for priority changed after apply
  internal/services/mssql/mssql_managed_instance_resource_test.go
Labels: size/XS, service/mssql

#20423 `azurerm_container_app` - allow multiple `container` blocks
  internal/services/containerapps/container_app_resource_test.go
  internal/services/containerapps/helpers/container_apps.go
  website/docs/r/container_app.html.markdown
Labels: documentation, size/M

#20518 Doc: fix import specs
  website/docs/r/container_app_environment_certificate.html.markdown
  website/docs/r/container_app_environment_dapr_component.html.markdown
Labels: documentation, size/XS, service/container-apps

#20517 `azurerm_kubernetes_cluster` - fix crash when security profile is nil
  internal/services/containers/kubernetes_cluster_resource.go
Labels: size/XS

#20523 dependencies: updating to `v0.20230217.1092053` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/azure_gov.go
  vendor/modules.txt
Labels: dependencies, size/XS

#20526 Bugfix: Azure CLI auth regression
  go.mod
  go.sum
  internal/clients/auth.go
  internal/clients/builder.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/autorest/auth.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/azure_cli_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/managed_identity_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/azurecli/azcli.go
  vendor/modules.txt
Labels: bug, dependencies, regression, size/M, authentication, sdk/requires-upgrade

#20536 data plane: fixing a regression where endpoint was used rather than domainSuffix
  internal/services/logic/logic_app_standard_resource.go
  internal/services/synapse/synapse_role_assignment_resource.go
  internal/services/synapse/synapse_role_assignment_resource_test.go
Labels: bug, regression, size/S, service/logic, service/synapse

#20516 `data.azurerm_redis_cache` : fix issue about schedules could not be found when no `patch_schedule` is specified in creation
  internal/services/redis/redis_cache_data_source.go
Labels: size/XS, service/redis

#20548 Fix in documentation for app_service_environment_v3.
  website/docs/r/app_service_environment_v3.html.markdown
Labels: documentation, size/XS

#20543 Auto PR: Regenerating based on (253cb81cc8782616e5fa4e034adc1eeebd6dad84)
  internal/services/datafactory/data_factory_linked_service_azure_blob_storage_resource_test.go
  internal/services/datashare/data_share_dataset_data_lake_gen2_data_source_test.go
  internal/services/datashare/data_share_dataset_data_lake_gen2_resource_test.go
  internal/services/datashare/data_share_dataset_kusto_cluster_data_source_test.go
  internal/services/datashare/data_share_dataset_kusto_cluster_resource_test.go
  internal/services/datashare/data_share_dataset_kusto_database_data_source_test.go
  internal/services/datashare/data_share_dataset_kusto_database_resource_test.go
Labels: size/L, service/data-factory, service/data-share

#20558 Linux and windows virtual machine admin password validations
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/validate/linux_admin_password.go
  internal/services/compute/validate/linux_admin_password_test.go
  internal/services/compute/validate/windows_admin_password.go
  internal/services/compute/validate/windows_admin_password_test.go
  internal/services/compute/windows_virtual_machine_resource.go
Labels: enhancement, service/virtual-machine, size/L

#20513 `azurerm_stream_analytics_job_schedule` - a state migration to work around the previously incorrect id casing
  internal/services/streamanalytics/migration/stream_analytics_job_schedule_v0_to_v1.go
  internal/services/streamanalytics/parse/streaming_job_schedule.go
  internal/services/streamanalytics/parse/streaming_job_schedule_test.go
  internal/services/streamanalytics/resourceids.go
  internal/services/streamanalytics/stream_analytics_job_schedule_resource.go
  internal/services/streamanalytics/stream_analytics_job_schedule_resource_test.go
  internal/services/streamanalytics/validate/streaming_job_schedule_id_test.go
  website/docs/r/stream_analytics_job_schedule.html.markdown
Labels: enhancement, documentation, size/XL, service/stream-analytics

#20512 `azurerm_kusto_cluster_managed_private_endpoint`: a state migration to work around the previously incorrect id casing
  internal/services/kusto/kusto_cluster_managed_private_endpoint_resource.go
  internal/services/kusto/migration/kusto_managed_private_endpoint_migration_v1_to_v2.go
  internal/services/kusto/parse/managed_private_endpoints.go
  internal/services/kusto/parse/managed_private_endpoints_test.go
  internal/services/kusto/resourceids.go
  internal/services/kusto/validate/managed_private_endpoints_id_test.go
  website/docs/r/kusto_cluster_managed_private_endpoint.html.markdown
Labels: documentation, size/M, service/kusto

#20454 New Resource:`azurerm_site_recovery_hyperv_replication_policy`
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
  internal/services/recoveryservices/registration.go
  internal/services/recoveryservices/site_recovery_hyperv_replication_policy_resource.go
  internal/services/recoveryservices/site_recovery_hyperv_replication_policy_resource_test.go
  website/docs/r/site_recovery_replication_policy_hyperv.html.markdown
Labels: documentation, new-resource, size/XL, service/recovery-services

#20566 `databricks` `dataprotection` `loadbalancer` `managedapplications` - read id-style property insensitively
  internal/services/databricks/databricks_workspace_resource.go
  internal/services/dataprotection/data_protection_backup_instance_disk_resource.go
  internal/services/loadbalancer/nat_pool_resource.go
  internal/services/loadbalancer/nat_rule_resource.go
  internal/services/loadbalancer/outbound_rule_resource.go
  internal/services/loadbalancer/parse/load_balancer.go
  internal/services/loadbalancer/parse/load_balancer_backend_address_pool.go
  internal/services/loadbalancer/parse/load_balancer_backend_address_pool_test.go
  internal/services/loadbalancer/parse/load_balancer_frontend_ip_configuration.go
  internal/services/loadbalancer/parse/load_balancer_frontend_ip_configuration_test.go
  internal/services/loadbalancer/parse/load_balancer_test.go
  internal/services/loadbalancer/resourceids.go
  internal/services/loadbalancer/rule_resource.go
  internal/services/managedapplications/managed_application_resource.go
  internal/services/resource/parse/resource_group.go
  internal/services/resource/parse/resource_group_test.go
  internal/services/resource/resourceids.go
Labels: service/load-balancers, size/XL, service/databricks, service/managed-apps, service/data-protection

#20565 `apimanagement` `appservice` `containers` `devtestlabs` `mssql` `sql` `synapse` - read id-style property insensitively
  internal/services/apimanagement/api_management_subscription_resource.go
  internal/services/apimanagement/parse/product.go
  internal/services/apimanagement/parse/product_test.go
  internal/services/apimanagement/resourceids.go
  internal/services/appservice/linux_function_app_slot_resource.go
  internal/services/appservice/linux_web_app_slot_resource.go
  internal/services/appservice/parse/service_plan.go
  internal/services/appservice/parse/service_plan_test.go
  internal/services/appservice/resourceids.go
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_web_app_slot_resource.go
  internal/services/containers/container_connected_registry_resource.go
  internal/services/containers/parse/registry.go
  internal/services/containers/parse/registry_test.go
  internal/services/containers/resourceids.go
  internal/services/devtestlabs/dev_test_lab_resource.go
  internal/services/keyvault/parse/vault.go
  internal/services/keyvault/parse/vault_test.go
  internal/services/keyvault/resourceids.go
  internal/services/mssql/mssql_managed_instance_failover_group_resource.go
  internal/services/sql/parse/managed_instance.go
  internal/services/sql/parse/managed_instance_test.go
  internal/services/sql/resourceids.go
  internal/services/sql/sql_managed_instance_failover_group_resource.go
  internal/services/synapse/parse/spark_pool.go
  internal/services/synapse/parse/spark_pool_test.go
  internal/services/synapse/parse/workspace.go
  internal/services/synapse/parse/workspace_test.go
  internal/services/synapse/resourceids.go
  internal/services/synapse/synapse_role_assignment_resource.go
Labels: service/key-vault, size/XL, service/mssql, service/app-service, service/devtestlabs, service/api-management, service/synapse, service/sql

#20579 `azurerm_eventhub_namespace` - add usage example of `network_rulesets` property
  examples/eventhub/namespace-networkrulesets/main.tf
  examples/eventhub/namespace-networkrulesets/variables.tf
Labels: size/M, service/event-hubs, examples

#20560 `azurerm_batch_pool` - fix accessing `azure_blob_file_system` with `user_identity` assigned.
  internal/services/batch/batch_pool.go
  internal/services/batch/batch_pool_resource_test.go
Labels: bug, size/M, service/batch

#20577 data source `azurerm_linux_web_app`, `azurerm_windows_web_app` - add vnet writeback
  internal/services/appservice/linux_web_app_data_source.go
  internal/services/appservice/windows_web_app_data_source.go
  website/docs/d/linux_web_app.html.markdown
Labels: bug, documentation, size/XS, service/app-service

#20473 `azurerm_recovery_services_vault` - new property `classic_vmware_replicate_enabled`
  internal/services/recoveryservices/client/client.go
  internal/services/recoveryservices/recovery_services_vault_resource.go
  internal/services/recoveryservices/recovery_services_vault_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/id_replicationvaultsetting.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/id_vault.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/method_create_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/model_vaultsetting.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/model_vaultsettingcreationinput.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/model_vaultsettingcreationinputproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/model_vaultsettingproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicessiterecovery/2022-10-01/replicationvaultsetting/version.go
  vendor/modules.txt
  website/docs/r/recovery_services_vault.html.markdown
Labels: enhancement, documentation, dependencies, size/XL, service/recovery-services

#20584 `azurerm_kubernetes_cluster` - fix SecurityProfile nilpointer
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_resource.go
Labels: crash, size/XS, service/kubernetes-cluster

#20580 refactor: `compute` / `capacityreservations` and `capacityreservationgroups` to `hashicorp/go-azure-sdk`
  internal/services/compute/capacity_reservation_group_resource.go
  internal/services/compute/capacity_reservation_group_resource_test.go
  internal/services/compute/capacity_reservation_resource.go
  internal/services/compute/capacity_reservation_resource_test.go
  internal/services/compute/client/client.go
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/parse/capacity_reservation.go
  internal/services/compute/parse/capacity_reservation_group.go
  internal/services/compute/parse/capacity_reservation_group_test.go
  internal/services/compute/parse/capacity_reservation_test.go
  internal/services/compute/resourceids.go
  internal/services/compute/validate/capacity_reservation_group_id.go
  internal/services/compute/validate/capacity_reservation_group_id_test.go
  internal/services/compute/validate/capacity_reservation_id.go
  internal/services/compute/validate/capacity_reservation_id_test.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_nodepool.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/id_capacityreservationgroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/method_listbysubscription_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/model_capacityreservationgroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/model_capacityreservationgroupinstanceview.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/model_capacityreservationgroupproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/model_capacityreservationgroupupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/model_capacityreservationinstanceviewwithname.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/model_capacityreservationutilization.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/model_instanceviewstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/model_subresourcereadonly.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservationgroups/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/id_capacityreservation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/model_capacityreservation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/model_capacityreservationinstanceview.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/model_capacityreservationproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/model_capacityreservationupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/model_capacityreservationutilization.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/model_instanceviewstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/model_sku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/model_subresourcereadonly.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-01/capacityreservations/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, refactor, service/capacity

#20595 Fix link to usage attribution on index page
  website/docs/index.html.markdown
Labels: documentation, size/XS

#20593 `compute/diskaccesses`: refactoring to use `github.com/hashicorp/go-azure-sdk`
  internal/services/compute/client/client.go
  internal/services/compute/disk_access_data_source.go
  internal/services/compute/disk_access_resource.go
  internal/services/compute/disk_access_resource_test.go
  internal/services/compute/parse/disk_access.go
  internal/services/compute/parse/disk_access_test.go
  internal/services/compute/resourceids.go
  internal/services/compute/validate/disk_access_id.go
  internal/services/compute/validate/disk_access_id_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/id_diskaccess.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/id_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/method_delete_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/method_deleteaprivateendpointconnection_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/method_get_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/method_getaprivateendpointconnection_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/method_getprivatelinkresources_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/method_list_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/method_listbyresourcegroup_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/method_listprivateendpointconnections_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/method_update_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/method_updateaprivateendpointconnection_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/model_diskaccess.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/model_diskaccessproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/model_diskaccessupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/model_privatelinkresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/model_privatelinkresourcelistresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/model_privatelinkresourceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/model_privatelinkserviceconnectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2022-03-02/diskaccesses/version.go
  vendor/modules.txt
Labels: dependencies, service/disks, size/XL, refactor

#19608 `azurerm_log_analytics_workspace` - prevent ForceNew when `sku` is `LACluster`
  internal/services/loganalytics/log_analytics_workspace_resource.go
Labels: size/XS, service/log-analytics

#20583 `azurerm_kusto_cluster_customer_managed_key` - support auto key rotation
  internal/services/kusto/kusto_cluster_customer_managed_key_resource.go
  internal/services/kusto/kusto_cluster_customer_managed_key_test.go
  website/docs/r/kusto_cluster_customer_managed_key.html.markdown
Labels: enhancement, documentation, size/S, service/kusto

#20605 `network` -read id-style property case-insensitively
  internal/services/compute/parse/vmss_instance.go
  internal/services/compute/parse/vmss_instance_test.go
  internal/services/compute/resourceids.go
  internal/services/network/application_gateway_resource.go
  internal/services/network/express_route_circuit_connection_resource.go
  internal/services/network/express_route_circuit_resource.go
  internal/services/network/express_route_connection_resource.go
  internal/services/network/network_watcher_flow_log_resource.go
  internal/services/network/parse/application_gateway_private_link_configuration.go
  internal/services/network/parse/application_gateway_private_link_configuration_test.go
  internal/services/network/parse/authentication_certificate.go
  internal/services/network/parse/authentication_certificate_test.go
  internal/services/network/parse/backend_address_pool.go
  internal/services/network/parse/backend_address_pool_test.go
  internal/services/network/parse/backend_http_settings_collection.go
  internal/services/network/parse/backend_http_settings_collection_test.go
  internal/services/network/parse/express_route_circuit_peering.go
  internal/services/network/parse/express_route_circuit_peering_test.go
  internal/services/network/parse/express_route_port.go
  internal/services/network/parse/express_route_port_test.go
  internal/services/network/parse/frontend_ip_configuration.go
  internal/services/network/parse/frontend_ip_configuration_test.go
  internal/services/network/parse/frontend_port.go
  internal/services/network/parse/frontend_port_test.go
  internal/services/network/parse/http_listener.go
  internal/services/network/parse/http_listener_test.go
  internal/services/network/parse/hub_route_table.go
  internal/services/network/parse/hub_route_table_test.go
  internal/services/network/parse/network_security_group.go
  internal/services/network/parse/network_security_group_test.go
  internal/services/network/parse/probe.go
  internal/services/network/parse/probe_test.go
  internal/services/network/parse/redirect_configurations.go
  internal/services/network/parse/redirect_configurations_test.go
  internal/services/network/parse/rewrite_rule_set.go
  internal/services/network/parse/rewrite_rule_set_test.go
  internal/services/network/parse/ssl_certificate.go
  internal/services/network/parse/ssl_certificate_test.go
  internal/services/network/parse/ssl_profile.go
  internal/services/network/parse/ssl_profile_test.go
  internal/services/network/parse/trusted_client_certificate.go
  internal/services/network/parse/trusted_client_certificate_test.go
  internal/services/network/parse/trusted_root_certificate.go
  internal/services/network/parse/trusted_root_certificate_test.go
  internal/services/network/parse/url_path_map.go
  internal/services/network/parse/url_path_map_test.go
  internal/services/network/parse/virtual_network_gateway_ip_configuration.go
  internal/services/network/parse/virtual_network_gateway_ip_configuration_test.go
  internal/services/network/resourceids.go
  internal/services/network/virtual_machine_scale_set_packet_capture_resource.go
  internal/services/network/virtual_network_gateway_resource.go
Labels: service/vmss, size/XL, service/network

#20610 dependencies: updating to v0.20230222.1094703 of github.com/hashicorp/go-azure-sdk
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/client_certificate_authorizer.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/modules.txt
  vendor/software.sslmate.com/src/go-pkcs12/.gitattributes
  vendor/software.sslmate.com/src/go-pkcs12/.gitignore
  vendor/software.sslmate.com/src/go-pkcs12/LICENSE
  vendor/software.sslmate.com/src/go-pkcs12/README.md
  vendor/software.sslmate.com/src/go-pkcs12/bmp-string.go
  vendor/software.sslmate.com/src/go-pkcs12/crypto.go
  vendor/software.sslmate.com/src/go-pkcs12/errors.go
  vendor/software.sslmate.com/src/go-pkcs12/internal/rc2/rc2.go
  vendor/software.sslmate.com/src/go-pkcs12/mac.go
  vendor/software.sslmate.com/src/go-pkcs12/pbkdf.go
  vendor/software.sslmate.com/src/go-pkcs12/pkcs12.go
  vendor/software.sslmate.com/src/go-pkcs12/safebags.go
Labels: dependencies, size/XL

#20609 `azurerm_monitor_diagnostic_settting` - docs: change example to runnable
  website/docs/r/monitor_diagnostic_setting.html.markdown
Labels: documentation, size/XS, service/monitor

#20585 `azurerm_media_streaming_endpoint` - correctly support `tags`, `current_sku`, and `scale_units`
  internal/services/media/media_streaming_endpoint_resource.go
  internal/services/media/media_streaming_endpoint_resource_test.go
  website/docs/r/media_streaming_endpoint.html.markdown
Labels: enhancement, documentation, size/L, service/media

#20576 Change the Enterprise application to Microsoft.AzureFrontDoor-Cdn for kv secrets access
  website/docs/r/cdn_frontdoor_secret.html.markdown
Labels: documentation, size/XS, service/frontdoor

#20622 Docs: Fix issue about the `key_vault_secrets_provider` in "azurerm_kubernetes_cluster" is not optional like specify in documentation
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#20620 `azurerm_mssql_managed_instance` : fix acc tests failing due to missing route settings when running tests in francecentral
  .teamcity/components/settings.kt
  internal/services/mssql/mssql_managed_instance_resource_test.go
Labels: size/XS, service/mssql, tests

#20474 `azurerm_mobile_network_sim_group` - update schema
  internal/services/mobilenetwork/helpers.go
  internal/services/mobilenetwork/mobile_network_sim_group_resource.go
Labels: bug, size/XS, service/mobile-network

#20624 fix issue #19430
  website/docs/r/automation_software_update_configuration.html.markdown
Labels: documentation, size/XS, service/automation
