Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2024-07, with the labels that each got.

#26508 Docs: update timeout block description for `azurerm_static_web_app_function_app_registration`
  website/docs/r/static_web_app_function_app_registration.html.markdown
Labels: documentation, size/XS

#26451 `azurerm_virtual_network_gateway` - split create and update function to fix lifecycle - ignore
  internal/services/network/virtual_network_gateway_resource.go
Labels: waiting-response, size/M, service/network

#26431 `azurerm_virtual_network_gateway_connection` - split create and update function to fix lifecycle - ignore
  internal/services/network/local_network_gateway_resource.go
  internal/services/network/virtual_network_gateway_connection_resource.go
Labels: size/L, service/network

#26139 `azurerm_kubernetes_cluster_node_pool` - `os_sku` supports update
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: enhancement, documentation, size/S, service/kubernetes-cluster

#26351 `azurerm_service_plan` Add support for new Flex Consumption plan
  internal/services/appservice/helpers/service_plan.go
  internal/services/appservice/service_plan_resource_test.go
  website/docs/r/service_plan.html.markdown
Labels: documentation, size/M, service/app-service

#26478 `azurerm_kubernetes_cluster` - prevent panic #26253 by adding a nil check
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
Labels: size/M

#26523 `network` - split remaining combined `CreateUpdate` methods
  internal/services/network/application_gateway_resource.go
  internal/services/network/local_network_gateway_resource.go
  internal/services/network/network_ddos_protection_plan_resource.go
  internal/services/network/network_interface_resource.go
  internal/services/network/network_profile_resource.go
  internal/services/network/network_security_group_resource.go
  internal/services/network/network_security_rule_resource.go
  internal/services/network/private_link_service_resource.go
  internal/services/network/subnet_resource.go
  internal/services/network/subnet_service_endpoint_storage_policy_resource.go
  internal/services/network/virtual_hub_bgp_connection_resource.go
  internal/services/network/virtual_hub_ip_resource.go
  internal/services/network/virtual_network_gateway_nat_rule_resource.go
  internal/services/network/virtual_wan_resource.go
Labels: size/XL, service/network

#26262 `azurerm_kubernetes_cluster` - `os_sku` supports update
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/M, service/kubernetes-cluster

#26524 teamcity: update cosmos db teamcity regions
  .teamcity/components/settings.kt
Labels: size/XS

#26536 Use single-label/runner name instead of multiple labels
  .github/workflows/static-analysis.yaml
Labels: size/XS

#26474 `azurerm_api_connection` - remove `Computed` from `display_name`
  internal/services/connections/api_connection_resource.go
Labels: size/XS, service/connections

#26501 `azurerm_eventhub_namespace` - remove `Computed` from `maximum_throughput_units` and `minimum_tls_version`
  internal/services/eventhub/eventhub_namespace_resource.go
Labels: size/XS, service/event-hubs

#26541 `azurerm_kubernetes_cluster`/`azurerm_kubernetes_cluster_node_pool` - prevent a plan diff when API returns an empty `upgrade_settings` object
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_nodepool.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: bug, documentation, size/S, service/kubernetes-cluster

#26530 `azurerm_healthcare_fhir_service` - remove object id from access policy in test cases
  internal/services/healthcare/healthcare_fhir_resource_test.go
Labels: size/XS, service/healthcare

#26316 `azurerm_sentinel_data_connector_threat_intelligence_taxii`: fix parsing error
  internal/services/sentinel/azuresdkhacks/dataconnectors.go
  internal/services/sentinel/azuresdkhacks/models.go
  internal/services/sentinel/sentinel_data_connector.go
  internal/services/sentinel/sentinel_data_connector_threat_intelligence_taxii.go
  internal/services/sentinel/sentinel_data_connector_threat_intelligence_taxii_test.go
Labels: waiting-response, size/XL, service/sentinel

#26535 `azurem_cdn_endpoint` - remove optional + computed
  internal/services/cdn/cdn_endpoint_resource.go
  internal/services/cdn/cdn_endpoint_resource_test.go
Labels: size/XS, service/cdn

#26553 [Documentation:] azurerm_monitor_scheduled_query_rules_alert - Add warning and reference to _v2 resource
  website/docs/r/monitor_scheduled_query_rules_alert.html.markdown
Labels: documentation, size/XS

#26547 `azurerm_container_registry` - remove `ConfigModeAttr` for 4.0
  internal/services/containers/container_registry_resource.go
  internal/services/containers/container_registry_resource_test.go
Labels: size/L, service/container-registry

#26560 `azurerm_communication_service` `data.azurerm_communication_service` - Mark credentials as `sensitive`
  internal/services/communication/communication_service_data_source.go
  internal/services/communication/communication_service_resource.go
Labels: size/S, service/communication

#26488 `azurerm_hdinsight_spark_cluster` - remove `Computed` from `encryption_in_transit_enabled`
  internal/services/hdinsight/hdinsight_spark_cluster_resource.go
Labels: size/XS, service/hdinsight

#26486 `azurerm_hdinsight_interactive_query_cluster` - remove `Computed` from `encryption_in_transit_enabled`
  internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
Labels: size/XS, service/hdinsight

#26422 `azurerm_storage_account_sas` Data Source - Prepare to update `signed_version` to 2022-11-02 for v4
  internal/services/storage/storage_account_sas_data_source.go
Labels: service/storage, size/XS

#26298 `azurerm_nginx_deployment`- add `ForceNew` to nested fields
  internal/services/nginx/nginx_deployment_resource.go
  website/docs/r/nginx_deployment.html.markdown
Labels: documentation, size/XS, service/nginx

#26093 `azurerm_api_management_identity_provider_aad`, `azurerm_api_management_identity_provider_aadb2c` - support `client_library` property
  internal/services/apimanagement/api_management_identity_provider_aad_resource.go
  internal/services/apimanagement/api_management_identity_provider_aad_resource_test.go
  internal/services/apimanagement/api_management_identity_provider_aadb2c_resource.go
  internal/services/apimanagement/api_management_identity_provider_aadb2c_resource_test.go
  website/docs/r/api_management_identity_provider_aad.html.markdown
  website/docs/r/api_management_identity_provider_aadb2c.html.markdown
Labels: enhancement, documentation, waiting-response, size/L, service/api-management

#26404 `azurerm_machine_learning_compute_cluster` - Add support for update `identity`
  internal/services/machinelearning/machine_learning_compute_cluster_resource.go
  internal/services/machinelearning/machine_learning_compute_cluster_resource_test.go
  website/docs/r/machine_learning_compute_cluster.html.markdown
Labels: enhancement, documentation, size/S, service/machine-learning

#26289 `azurerm_mysql_flexible_server_configuration` - add `lock` in the write operation
  internal/services/mysql/mysql_flexible_server_configuration_resource.go
  internal/services/mysql/mysql_flexible_server_configuration_resource_test.go
  internal/services/mysql/mysql_flexible_server_resource.go
Labels: bug, size/M, service/mysql

#26429 fix(26428): data azurerm_network_service_tags AzureFrontDoor.Frontend support
  internal/services/network/network_service_tags_data_source.go
  internal/services/network/network_service_tags_data_source_test.go
Labels: enhancement, size/M, service/network

#26307 New Resource: `azurerm_dev_center_dev_box_definition`
  internal/services/devcenter/dev_center_dev_box_definition_resource.go
  internal/services/devcenter/dev_center_dev_box_definition_resource_test.go
  internal/services/devcenter/registration.go
  internal/services/devcenter/validate/dev_center_dev_box_definition_name.go
  internal/services/devcenter/validate/dev_center_dev_box_definition_name_test.go
  website/docs/r/dev_center_dev_box_definition.html.markdown
Labels: documentation, new-resource, size/XL, service/dev-center

#26572 Update sentinel_log_analytics_workspace_onboarding.html.markdown
  website/docs/r/sentinel_log_analytics_workspace_onboarding.html.markdown
Labels: documentation, size/XS, service/sentinel

#26291 New Resource: `azurerm_dev_center_environment_type`
  internal/services/devcenter/dev_center_environment_type_resource.go
  internal/services/devcenter/dev_center_environment_type_resource_test.go
  internal/services/devcenter/registration.go
  internal/services/devcenter/validate/dev_center_environment_type_name.go
  internal/services/devcenter/validate/dev_center_environment_type_name_test.go
  website/docs/r/dev_center_environment_type.html.markdown
Labels: documentation, new-resource, size/XL, service/dev-center

#26576 `azurerm_kubernetes_cluster` - set `"NodeImage"` as default value for `node_os_upgrade_channel` in version 4.0
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/XS, service/kubernetes-cluster

#26439 new datasource `azurerm_elastic_san_volume_snapshot`
  internal/services/elasticsan/elastic_san_volume_snapshot_data_source.go
  internal/services/elasticsan/elastic_san_volume_snapshot_data_source_test.go
  internal/services/elasticsan/registration.go
  internal/services/elasticsan/validate/elastic_san_snapshot_name.go
  internal/services/elasticsan/validate/elastic_san_snapshot_name_test.go
  website/docs/d/elastic_san_volume_snapshot.html.markdown
Labels: documentation, new-data-source, size/XL, service/elasticsan

#26561 `azurerm_web_application_firewall_policy` - Support JSChallenge action
  internal/services/network/web_application_firewall_policy_resource.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: enhancement, documentation, size/XS, service/web-application-firewall, service/network

#26578 `azurerm_storage_account` - By default skip the managed HSM test case to save cost
  internal/services/storage/storage_account_resource_test.go
Labels: service/storage, tests

#26479 `azurerm_servicebus_*` - remove optional and computed in 4.0 and rename `enable_*` to `*_enabled`
  internal/services/servicebus/servicebus_namespace_resource.go
  internal/services/servicebus/servicebus_queue_resource.go
  internal/services/servicebus/servicebus_subscription_resource.go
  internal/services/servicebus/servicebus_topic_resource.go
Labels: size/XL, service/service-bus

#26579 docs(synapse): typo for `azurerm_synapse_workspace_aad_admin`
  website/docs/r/synapse_workspace_sql_aad_admin.html.markdown
Labels: documentation, size/XS, service/synapse

#26582 Refactor: `azurerm_eventhub_namespace_schema_group` - removing mentions of Update from this resource
  internal/services/eventhub/eventhub_namespace_schema_registry_resource.go
Labels: waiting-response, size/XS, service/event-hubs

#26581 Add documentation to azurerm_cognitive_account.custom_subdomain_name for use with Azure OpenAI.
  website/docs/r/cognitive_account.html.markdown
Labels: documentation, size/XS, service/cognitive-services

#26580 `azurerm_automation_software_update_configuration` - fix-up 4.0 deprecations
  internal/services/automation/automation_software_update_configuration_resource.go
  website/docs/r/automation_software_update_configuration.html.markdown
Labels: documentation, size/M, service/automation

#26506 azurerm_app_configuration_feature - fix feature flags are not valid
  internal/services/appconfiguration/app_configuration_feature_resource.go
  internal/services/appconfiguration/app_configuration_feature_resource_test.go
Labels: bug, size/S, service/app-configuration

#26543 `azurerm_kubernetes_cluster` - support for the plugin `certificate_authority` for istio addon
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_data_source_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, waiting-response, size/XL, service/kubernetes-cluster

#26299 `azurerm_dev_test_virtual_network`: add support for `shared_public_ip_address_configuration`
  internal/services/devtestlabs/dev_test_virtual_network_resource.go
  internal/services/devtestlabs/dev_test_virtual_network_resource_test.go
  website/docs/r/dev_test_virtual_network.html.markdown
Labels: enhancement, documentation, size/M, service/devtestlabs

#26583 `azurerm_backup_protected_vm` - split create and update function to fix lifecycle - ignore
  internal/services/recoveryservices/backup_protected_vm_resource.go
Labels: size/L, service/recovery-services

#26585 `azurerm_recovery_services_vault` - remove `Computed` from `classic_vmware_replication_enabled`
  internal/services/recoveryservices/recovery_services_vault_resource.go
Labels: size/XS, service/recovery-services

#26533 `azurerm_virtual_network` - extend `subnet` block
  internal/services/network/virtual_network_resource.go
  internal/services/network/virtual_network_resource_test.go
Labels: size/XL, service/network

#26601 `dependencies` - update `go-azure-helpers` to `v0.70.0`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/recaser/recase.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/recaser/registration.go
  vendor/modules.txt
Labels: dependencies, size/L

#26194 azurerm_linux_web_app - support 8.3 for the php_version property
  internal/services/appservice/helpers/app_stack.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
Labels: documentation, size/S, service/app-service

#26574 provider: support the `resource_provider_registrations` and `resource_providers_to_register` provider properties (v4.0 only)
  internal/acceptance/required_test.go
  internal/acceptance/testclient/client.go
  internal/clients/auth.go
  internal/clients/builder.go
  internal/common/client_options.go
  internal/features/enhanced_validation.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/resourceproviders/cache.go
  internal/resourceproviders/errors.go
  internal/resourceproviders/registration.go
  internal/resourceproviders/required.go
  internal/resourceproviders/requiring_registration.go
  internal/services/resource/resource_provider_registration_resource.go
Labels: size/XL, provider

#26510 `azurerm_palo_alto_local_rulestack_rule` - correctly populate `protocol` property
  internal/services/paloalto/local_rulestack_rule_resource.go
  internal/services/paloalto/local_rulestack_rule_resource_test.go
  website/docs/r/palo_alto_local_rulestack_rule.html.markdown
Labels: documentation, size/L, service/paloalto

#26591 `azurerm_backup_policy_vm` - split create and update function to fix lifecycle - ignore
  internal/services/recoveryservices/backup_policy_vm_resource.go
Labels: size/L, service/recovery-services

#26589 `azurerm_databricks_workspace` - update default value for `no_public_ip` to `true` in v4.0 of the provider
  internal/services/databricks/databricks_workspace_resource.go
  internal/services/databricks/databricks_workspace_resource_test.go
  website/docs/r/databricks_workspace.html.markdown
Labels: documentation, breaking-change, size/XS, service/databricks

#26595 `azurerm_data_factory_integration_runtime_azure` - remove `Computed` from `cleanup_enabled`
  internal/services/datafactory/data_factory_integration_runtime_azure_resource.go
Labels: size/XS, service/data-factory

#26586 `4.0` - fix resource deprecations and add deprecation messages for properties that will be renamed
  internal/services/cdn/cdn_frontdoor_route_disable_link_to_default_domain_resource.go
  internal/services/cdn/registration.go
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_data_source_test.go
  internal/services/containers/kubernetes_cluster_node_pool_data_source.go
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_nodepool.go
  internal/services/databricks/databricks_customer_managed_key_resource.go
  internal/services/databricks/databricks_customer_managed_key_resource_test.go
  internal/services/databricks/registration.go
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/network/subnet_data_source.go
  internal/services/recoveryservices/recovery_services_vault_resource_guard_association_resource.go
  internal/services/recoveryservices/recovery_services_vault_resource_guard_association_resource_test.go
Labels: waiting-response, size/XL, service/cdn, service/recovery-services, service/databricks, service/kusto, service/network

#26619 `4.0` - adding the beta flag
  internal/features/five_point_oh.go
  internal/features/four_point_oh.go
Labels: size/S

#26616 `azurerm_lb_rule` - remove `Computed` from `idle_timeout_in_minutes`, `load_distribution` and `probe_id`
  internal/services/loadbalancer/rule_resource.go
  website/docs/r/lb_rule.html.markdown
Labels: documentation, service/load-balancers, size/XS

#26620 `keyvault` - remove `ConfigModeAttr`
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_nodepool.go
  internal/services/keyvault/key_vault_access_policy_resource_test.go
  internal/services/keyvault/key_vault_resource.go
  internal/services/keyvault/key_vault_resource_test.go
Labels: service/key-vault, size/L

#26621 provider: make `subscription_id` a required provider property in v4.0
  internal/clients/auth.go
  internal/provider/provider.go
  internal/provider/provider_test.go
Labels: size/M, authentication, provider

#26638 dependencies: updating `hashicorp/go-azure-sdk` to `v0.20240715.1100358`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/application_ids.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/constants.go
  vendor/modules.txt
Labels: dependencies, size/S

#26629 Fix incorrect import spec
  website/docs/r/virtual_machine_restore_point.html.markdown
Labels: documentation, service/virtual-machine

#26660 Fix typo in data eventhub_namespace_authorization_rule documentation
  website/docs/d/eventhub_namespace_authorization_rule.html.markdown
Labels: documentation, size/XS

#26655 `automation`: fix acctests in 4.0 beta
  internal/services/automation/automation_hybrid_runbook_worker_test.go
  internal/services/automation/automation_job_schedule_resource_test.go
  internal/services/automation/automation_software_update_configuration_resource.go
  internal/services/automation/automation_software_update_configuration_resource_test.go
  internal/services/automation/automation_watcher_resource_test.go
Labels: size/S, service/automation

#26652 `web` - update tests for 4.0
  internal/services/network/application_gateway_resource_test.go
  internal/services/web/app_service.go
  internal/services/web/app_service_environment_resource_test.go
  internal/services/web/app_service_resource_test.go
  internal/services/web/app_service_slot_resource_test.go
  internal/services/web/app_service_slot_virtual_network_swift_connection_resource_test.go
  internal/services/web/app_service_virtual_network_swift_connection_resource_test.go
  internal/services/web/function_app_resource_test.go
  internal/services/web/function_app_slot_resource_test.go
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
Labels: documentation, size/M, service/network

#26653 `workloads`: update tests for 4.0
  internal/services/workloads/workloads_sap_single_node_virtual_instance_resource_test.go
  internal/services/workloads/workloads_sap_three_tier_virtual_instance_resource_test.go
Labels: size/XS, service/workloads

#26654 [TestCase] `azurerm_dashboard` - deprecate test cases
  internal/services/portal/legacy_dashboard_resource_test.go
Labels: size/XS, service/portal

#26659 [TestCase] `azurerm_service_fabric_cluster` - fix acctest
  internal/services/servicefabric/service_fabric_cluster_resource_test.go
Labels: size/L, service/service-fabric

#26675 [TestCase] `azurerm_private_dns_resolver_inbound_endpoint` - add `ignore_changes` for the dependent resource `subnet` in test case
  internal/services/privatednsresolver/private_dns_resolver_dns_forwarding_ruleset_resource_test.go
  internal/services/privatednsresolver/private_dns_resolver_forwarding_rule_resource_test.go
  internal/services/privatednsresolver/private_dns_resolver_inbound_endpoint_resource_test.go
  internal/services/privatednsresolver/private_dns_resolver_outbound_endpoint_resource_test.go
  internal/services/privatednsresolver/private_dns_resolver_virtual_network_link_resource_test.go
Labels: size/XS, service/private-dns-resolver

#26676 [TestCase] azurerm_maps_* - add location in test case
  internal/services/maps/maps_account_resource_test.go
  internal/services/maps/maps_creator_resource_test.go
Labels: size/XS, service/maps

#26634 Update email_communication_service_domain.html.markdown
  website/docs/r/email_communication_service_domain.html.markdown
Labels: documentation, size/XS

#26669 `dependencies` - bump `hashicorp/go-azure-sdk` to `v0.20240715.1103416`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_lro.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_provisioning_state.go
  vendor/modules.txt
Labels: dependencies, size/S

#26639 `azurerm_storage_account` - Fix a nonsense validation error when upgrading from `StorageV2` to `Storage` (forcenew)
  internal/services/storage/storage_account_resource.go
Labels: service/storage, size/XS

#26671 `synapse` - fix tests for 4.0
  internal/services/synapse/synapse_sql_pool_extended_auditing_policy_resource_test.go
  internal/services/synapse/synapse_workspace_extended_auditing_policy_resource_test.go
  internal/services/synapse/synapse_workspace_key_resource_test.go
  internal/services/synapse/synapse_workspace_resource_test.go
Labels: size/M, service/synapse

#26218 `storage`: refactoring to use `hashicorp/go-azure-sdk`
  internal/services/cdn/cdn_endpoint_custom_domain_resource.go
  internal/services/compute/disk_encryption_set_resource.go
  internal/services/managedhsm/helpers/is_managed_hsm_uri.go
  internal/services/storage/client/client.go
  internal/services/storage/client/data_plane.go
  internal/services/storage/client/helpers.go
  internal/services/storage/custompollers/data_plane_blob_containers_availability_poller.go
  internal/services/storage/custompollers/data_plane_file_share_availability_poller.go
  internal/services/storage/custompollers/data_plane_queues_availability_poller.go
  internal/services/storage/custompollers/data_plane_static_website_availability_poller.go
  internal/services/storage/helpers.go
  internal/services/storage/storage_account_customer_managed_key_resource.go
  internal/services/storage/storage_account_data_plane_helpers.go
  internal/services/storage/storage_account_data_source.go
  internal/services/storage/storage_account_helpers_endpoints_credentials.go
  internal/services/storage/storage_account_helpers_key.go
  internal/services/storage/storage_account_helpers_network.go
  internal/services/storage/storage_account_network_rules_resource.go
  internal/services/storage/storage_account_network_rules_resource_test.go
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/accounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/blobcontainers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/blobinventorypolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/blobservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/deletedaccounts.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/encryptionscopes.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/enums.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/fileservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/fileshares.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/localusers.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/managementpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/objectreplicationpolicies.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/operations.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/privateendpointconnections.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/privatelinkresources.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/queue.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/queueservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/skus.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/table.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/tableservices.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/usages.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/version.go
  vendor/modules.txt
  website/docs/d/storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
Labels: documentation, dependencies, service/storage, size/XL, service/cdn, refactor, service/managed-hsm

#26611 `azurerm_eventhub_namespace` / `azurerm_servicebus_namespace` - deprecate the `zone_redundant` field in v4.0
  internal/services/eventhub/eventhub_namespace_data_source.go
  internal/services/eventhub/eventhub_namespace_resource.go
  internal/services/eventhub/eventhub_namespace_resource_test.go
  internal/services/servicebus/servicebus_namespace_data_source.go
  internal/services/servicebus/servicebus_namespace_resource.go
  internal/services/servicebus/servicebus_namespace_resource_test.go
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, size/L, service/event-hubs, service/service-bus

#26686 Update deprecated example cosmosdb
  examples/cosmos-db/failover/main.tf
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, size/XS, service/cosmosdb

#26664 `api_management` - update tests for 4.0
  internal/services/apimanagement/api_management_api_resource_test.go
  internal/services/apimanagement/api_management_certificate_resource_test.go
  internal/services/apimanagement/api_management_named_value_resource_test.go
  internal/services/apimanagement/api_management_resource_test.go
Labels: size/S, service/api-management, tests

#26673 `streamanalytics` - update tests for 4.0
  internal/services/streamanalytics/stream_analytics_output_cosmosdb_resource_test.go
  internal/services/streamanalytics/stream_analytics_output_mssql_resource_test.go
  internal/services/streamanalytics/stream_analytics_output_servicebus_queue_resource_test.go
  internal/services/streamanalytics/stream_analytics_output_servicebus_topic_resource_test.go
Labels: size/M, service/stream-analytics

#26689 `storage_mover` - fix tests for 4.0
  internal/services/storagemover/storage_mover_agent_resource_test.go
  internal/services/storagemover/storage_mover_job_definition_resource_test.go
Labels: waiting-response, size/XS, service/storagemover

#26690 `storage_cache` - updates tests for 4.0
  internal/services/storagecache/hpc_cache_access_policy_resource_test.go
  internal/services/storagecache/hpc_cache_blob_nfs_target_resource_test.go
  internal/services/storagecache/hpc_cache_blob_target_resource_test.go
  internal/services/storagecache/hpc_cache_nfs_target_resource_test.go
  internal/services/storagecache/hpc_cache_resource_test.go
  internal/services/storagecache/managed_lustre_file_system_resource_test.go
Labels: size/S

#26692 `storage` - update tests for 4.0
  internal/services/storage/storage_account_customer_managed_key_resource_test.go
  internal/services/storage/storage_account_network_rules_resource_test.go
  internal/services/storage/storage_account_resource_test.go
  internal/services/storage/storage_encryption_scope_resource_test.go
Labels: service/storage, size/S

#26693 `springcloud` - fix tests for 4.0
  internal/services/springcloud/spring_cloud_service_resource_test.go
Labels: size/XS, service/spring

#26694 `signalr` - updates test for 4.0
  internal/services/signalr/signalr_service_custom_certificate_resource_test.go
  internal/services/signalr/signalr_service_network_acl_resource_test.go
  internal/services/signalr/signalr_shared_private_link_resource_test.go
  internal/services/signalr/web_pubsub_network_acl_resource_test.go
Labels: size/M, service/signalr

#26696 [TestCase] `azurerm_bot_channels_registration` - add `ignore_changes` for the dependent `azurerm_key_vault`
  internal/services/bot/bot_channels_registration_resource_test.go
Labels: size/XS, service/bots

#26697 [TestCase] - add `ignore_changes` for `azurerm_netapp_*`
  internal/services/netapp/netapp_account_encryption_resource_test.go
  internal/services/netapp/netapp_snapshot_resource_test.go
  internal/services/netapp/netapp_volume_group_sap_hana_resource_test.go
  internal/services/netapp/netapp_volume_helper.go
  internal/services/netapp/netapp_volume_quota_rule_resource_test.go
  internal/services/netapp/netapp_volume_resource_test.go
Labels: size/S, service/netapp

#26698 [TestCase] add `ignore_changes` for `COSMOSDB`
  internal/services/cosmos/cosmosdb_account_resource_test.go
  internal/services/cosmos/cosmosdb_cassandra_cluster_resource_test.go
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource_test.go
  internal/services/cosmos/cosmosdb_sql_function_resource_test.go
  internal/services/cosmos/cosmosdb_sql_stored_procedure_resource_test.go
  internal/services/cosmos/cosmosdb_sql_trigger_resource_test.go
Labels: size/S, service/cosmosdb

#26700 [TestCase] `azurerm_dedicated_hardware_security_module` - use `Standard` `Public IP` in test case
  internal/services/hsm/dedicated_hardware_security_module_resource_test.go
Labels: size/XS, service/hsm

#26709 `service_connector` - update tests for 4.0
  internal/services/serviceconnector/service_connector_app_service_resource_test.go
  internal/services/serviceconnector/service_connector_function_app_resource_test.go
  internal/services/serviceconnector/service_connector_spring_cloud_resource_test.go
Labels: size/S, service/service-connector

#26614 `azurerm_lb_nat_rule` - remove `Computed` from `idle_timeout_in_minutes`
  internal/services/loadbalancer/nat_rule_resource.go
Labels: service/load-balancers, size/XS

#26720 `containers` - add `ignore_changes` in test configs
  internal/services/containers/container_connected_registry_resource_test.go
  internal/services/containers/container_group_resource_test.go
  internal/services/containers/container_registry_agent_pool_resource_test.go
  internal/services/containers/container_registry_scope_map_resource_test.go
  internal/services/containers/container_registry_token_password_resource_test.go
  internal/services/containers/container_registry_token_resource_test.go
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/containers/kubernetes_cluster_auth_resource_test.go
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  internal/services/containers/kubernetes_nodepool.go
Labels: size/L

#26719 `azurerm_kubernetes_cluster` & `azurerm_kubernetes_cluster_node_pool` - remove info text for `os_sku` attribute
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: documentation, size/XS

#26722 `chaosstudio` `cognitive` `compute` - add `ignore_changes` to test configs
  internal/services/chaosstudio/chaos_studio_capability_resource_test.go
  internal/services/cognitive/cognitive_account_resource_test.go
  internal/services/compute/disk_encryption_set_resource_test.go
  internal/services/compute/image_resource_test.go
  internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_resource_images_test.go
  internal/services/compute/linux_virtual_machine_resource_orchestrated_test.go
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  internal/services/compute/linux_virtual_machine_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_disk_data_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_test.go
  internal/services/compute/managed_disk_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_disk_data_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
  internal/services/compute/restore_point_collection_resource_test.go
  internal/services/compute/shared_image_version_resource_test.go
  internal/services/compute/snapshot_resource_test.go
  internal/services/compute/virtual_machine_data_disk_attachment_resource_test.go
  internal/services/compute/virtual_machine_extension_resource_test.go
  internal/services/compute/virtual_machine_implicit_data_disk_from_source_resource_test.go
  internal/services/compute/virtual_machine_restore_point_collection_resource_test.go
  internal/services/compute/virtual_machine_restore_point_resource_test.go
  internal/services/compute/virtual_machine_run_command_resource_test.go
  internal/services/compute/virtual_machine_scale_set_extension_resource_test.go
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_resource_images_test.go
  internal/services/compute/windows_virtual_machine_resource_orchestrated_test.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_disk_data_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_test.go
Labels: size/XL, service/cognitive-services

#26711 `servicebus` - fix tests for 4.0
  internal/services/servicebus/servicebus_namespace_network_rule_set_resource_test.go
  internal/services/servicebus/servicebus_namespace_resource_test.go
  internal/services/servicebus/servicebus_queue_authorization_rule_resource_test.go
  internal/services/servicebus/servicebus_queue_resource_test.go
  internal/services/servicebus/servicebus_subscription_resource_test.go
  internal/services/servicebus/servicebus_topic_resource_test.go
Labels: size/M, service/service-bus

#26724 `consumption` - fix panic from removed `not` block
  internal/services/consumption/consumption_budget_base.go
  internal/services/consumption/consumption_budget_resource_group_resource_test.go
Labels: size/S, service/consumption

#26725 `datafactory` - fix failing tests
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource_test.go
  internal/services/datafactory/data_factory_integration_runtime_managed_resource_test.go
  internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource_test.go
  internal/services/datafactory/data_factory_linked_custom_service_resource_test.go
  internal/services/datafactory/data_factory_managed_private_endpoint_resource_test.go
Labels: size/M, service/data-factory

#26726 `databasemigration` - add `ignore_changes` to tests
  internal/services/databasemigration/database_migration_service_resource_test.go
Labels: size/XS, service/database-migration

#26714 `azurerm_servicebus_namespace` - update behavior change of the property `zone_redundant`
  website/docs/r/servicebus_namespace.html.markdown
Labels: documentation, size/XS

#26610 `azurerm_dns_cname_record` - split create and update function to fix lifecycle - ignore
  internal/services/dns/dns_cname_record_resource.go
Labels: waiting-response, service/dns, size/M

#26627 `azurerm_dns_srv_record` - split create and update function to fix lifecycle - ignore
  internal/services/dns/dns_srv_record_resource.go
Labels: service/dns, size/M

#26735 `arckubernetes` - add `ignore_changes` to fix tests
  internal/services/arckubernetes/arc_kubernetes_cluster_resource_test.go
Labels: size/XS, service/kubernetes-cluster, tests, service/arc

#26678 `network`: fix acc tests failures of versino beta 4
  internal/services/network/application_gateway_resource_test.go
  internal/services/network/bastion_host_resource_test.go
  internal/services/network/ip_group_resource_test.go
  internal/services/network/network_connection_monitor_resource_test.go
  internal/services/network/network_interface_application_gateway_association_resource_test.go
  internal/services/network/network_interface_application_security_group_association_resource_test.go
  internal/services/network/network_interface_backend_address_pool_association_resource_test.go
  internal/services/network/network_interface_nat_rule_association_resource_test.go
  internal/services/network/network_interface_resource_test.go
  internal/services/network/network_interface_security_group_association_resource_test.go
  internal/services/network/network_packet_capture_resource_test.go
  internal/services/network/network_profile_resource_test.go
  internal/services/network/private_endpoint_application_security_group_association_test.go
  internal/services/network/private_endpoint_resource_test.go
  internal/services/network/private_link_service_resource_test.go
  internal/services/network/public_ip_data_source_test.go
  internal/services/network/public_ip_resource_test.go
  internal/services/network/public_ips_data_source_test.go
  internal/services/network/route_server_resource_test.go
  internal/services/network/route_table_resource_test.go
  internal/services/network/subnet_data_source_test.go
  internal/services/network/subnet_nat_gateway_association_resource_test.go
  internal/services/network/subnet_network_security_group_association_resource_test.go
  internal/services/network/subnet_resource_test.go
  internal/services/network/subnet_route_table_association_resource_test.go
  internal/services/network/virtual_hub_bgp_connection_resource_test.go
  internal/services/network/virtual_hub_connection_resource_test.go
  internal/services/network/virtual_hub_ip_resource_test.go
  internal/services/network/virtual_hub_route_table_resource_test.go
  internal/services/network/virtual_hub_route_table_route_resource_test.go
  internal/services/network/virtual_machine_packet_capture_resource_test.go
  internal/services/network/virtual_machine_scale_set_packet_capture_resource_test.go
  internal/services/network/virtual_network_gateway_connection_data_source_test.go
  internal/services/network/virtual_network_gateway_connection_resource_test.go
  internal/services/network/virtual_network_gateway_data_source_test.go
  internal/services/network/virtual_network_gateway_nat_rule_resource_test.go
  internal/services/network/virtual_network_gateway_resource_test.go
  internal/services/network/vpn_gateway_connection_resource_test.go
  internal/services/network/vpn_gateway_nat_rule_resource_test.go
Labels: waiting-response, size/XL, service/network

#26734 `databricks` - add `ignore_changes` to tests
  internal/services/databricks/databricks_root_dbfs_customer_managed_key_resource_test.go
  internal/services/databricks/databricks_workspace_data_source_test.go
  internal/services/databricks/databricks_workspace_private_endpoint_connection_data_source_test.go
  internal/services/databricks/databricks_workspace_resource_test.go
Labels: size/L, service/databricks

#26736 `containerapps` - add `ignore_changes` to tests
  internal/services/containerapps/container_app_environment_resource_test.go
  internal/services/containerapps/container_app_job_resource_test.go
  internal/services/containerapps/container_app_resource_test.go
Labels: size/S, service/container-apps

#26738 `firewall` - add `ignore_changes` to tests
  internal/services/firewall/firewall_data_source_test.go
  internal/services/firewall/firewall_policy_resource_test.go
  internal/services/firewall/firewall_resource_test.go
Labels: size/M, service/firewall

#26743 `compute` `containers` - fix various failures and panics
  internal/services/compute/image_resource_test.go
  internal/services/compute/linux_virtual_machine_resource_network_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/managed_disk_data_source_test.go
  internal/services/compute/snapshot_data_source_test.go
  internal/services/compute/windows_virtual_machine_resource_network_test.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/containers/kubernetes_cluster_data_source_test.go
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_nodepool.go
  internal/services/datafactory/data_factory_integration_runtime_self_hosted_resource_test.go
Labels: waiting-response, size/M, service/data-factory

#26744 `graph` `healthcare` `hybridcompute` `iothub` `kusto` `loadbalancer` - add `ignore_changes` to tests
  internal/services/graphservices/graph_services_account_resource_test.go
  internal/services/healthcare/healthcare_fhir_resource_test.go
  internal/services/hybridcompute/arc_machine_extension_resource_test.go
  internal/services/hybridcompute/hybrid_compute_machine_data_source_test.go
  internal/services/iothub/iothub_device_update_instance_resource_test.go
  internal/services/iothub/iothub_endpoint_cosmosdb_account_resource_test.go
  internal/services/iothub/iothub_endpoint_eventhub_resource_test.go
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource_test.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource_test.go
  internal/services/iothub/iothub_endpoint_storage_container_resource_test.go
  internal/services/iothub/iothub_enrichment_resource_test.go
  internal/services/iothub/iothub_fallback_route_resource_test.go
  internal/services/iothub/iothub_resource_test.go
  internal/services/iothub/iothub_route_resource_test.go
  internal/services/kusto/kusto_cluster_customer_managed_key_test.go
  internal/services/kusto/kusto_cluster_resource_test.go
  internal/services/kusto/kusto_cosmosdb_data_connection_resource_test.go
  internal/services/loadbalancer/backend_address_pool_resource_test.go
  internal/services/loadbalancer/loadbalancer_data_source_test.go
  internal/services/loadbalancer/loadbalancer_nat_rule_resource_test.go
  internal/services/loadbalancer/loadbalancer_resource_test.go
  internal/services/loadbalancer/loadbalancer_rule_resource_test.go
Labels: waiting-response, service/load-balancers, size/L, service/iot-hub, service/kusto, service/healthcare, service/hybrid-compute, service/graph

#26745 `logic` `machinelearning` `maintenance` - add ignore_changes to tests
  internal/services/logic/integration_service_environment_resource_test.go
  internal/services/logic/logic_app_integration_account_certificate_resource_test.go
  internal/services/logic/logic_app_standard_resource_test.go
  internal/services/machinelearning/machine_learning_compute_cluster_resource_test.go
  internal/services/machinelearning/machine_learning_compute_instance_resource_test.go
  internal/services/machinelearning/machine_learning_datastore_blobstorage_resource_test.go
  internal/services/machinelearning/machine_learning_datastore_datalake_gen2_resource_test.go
  internal/services/machinelearning/machine_learning_datastore_fileshare_resource_test.go
  internal/services/machinelearning/machine_learning_inference_cluster_resource_test.go
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/machinelearning/machine_learning_workspace_resource_test.go
  internal/services/maintenance/maintenance_assignment_virtual_machine_resource_test.go
  internal/services/maintenance/maintenance_assignment_virtual_machine_scale_set_resource_test.go
Labels: size/M, service/logic, service/machine-learning, service/maintenance

#26737 `azurerm_storage_account_network_rules` - split create update and remove ConfigModeAttr / O+C
  internal/services/storage/storage_account_network_rules_resource.go
  internal/services/storage/storage_account_network_rules_resource_test.go
  website/docs/r/storage_account_network_rules.html.markdown
Labels: documentation, waiting-response, service/storage, size/M

#26624 Adding beta feedback issue template
  .github/ISSUE_TEMPLATE/Beta_Feedback.md
Labels: size/S

#26750 support VS2022 for more resources
  internal/services/appservice/helpers/web_app_slot_schema.go
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, waiting-response, size/XS, service/app-service

#26749 azurerm_kubernetes_cluster - Add docs regarding values ​​supported in the duration field (maintenance window)
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, waiting-response, size/XS, service/kubernetes-cluster

#26751 `service_connector` - fix tests for 4.0
  internal/services/servicenetworking/application_load_balancer_subnet_association_resource_test.go
Labels: size/XS, service/service-networking

#26753 `redis` - fix tests for 4.0
  internal/services/redisenterprise/redis_enterprise_database_data_source_test.go
  internal/services/redisenterprise/redis_enterprise_database_resource_test.go
Labels: size/S, service/redis

#26752 `resources` - fix tests for 4.0
  internal/services/resource/resource_group_template_deployment_resource_test.go
Labels: size/XS

#26755 `docs` - whitespace fixup doc fmt for linter
  website/docs/functions/normalise_resource_id.html.markdown
Labels: documentation, size/XS

#26756 various service packages - further test fixes for 4.0
  internal/services/compute/image_data_source_test.go
  internal/services/compute/linux_virtual_machine_resource_network_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_images_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
  internal/services/compute/windows_virtual_machine_resource_network_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_images_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_other_test.go
  internal/services/containers/kubernetes_cluster_auth_resource_test.go
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/datafactory/data_factory_managed_private_endpoint_resource_test.go
  internal/services/devtestlabs/dev_test_lab_resource.go
  internal/services/devtestlabs/dev_test_lab_resource_test.go
  internal/services/eventhub/eventhub_resource_test.go
  internal/services/hybridcompute/arc_machine_data_source_test.go
  internal/services/keyvault/key_vault_certificate_contacts_resource_test.go
  internal/services/keyvault/key_vault_certificate_resource_test.go
  internal/services/keyvault/key_vault_key_resource_test.go
  internal/services/keyvault/key_vault_resource_test.go
  internal/services/keyvault/key_vault_secret_resource_test.go
  internal/services/kusto/kusto_cluster_resource_test.go
  internal/services/logic/logic_app_standard_data_source_test.go
  internal/services/machinelearning/machine_learning_compute_instance_resource_test.go
  internal/services/machinelearning/machine_learning_inference_cluster_resource_test.go
  internal/services/machinelearning/machine_learning_synapse_spark_resource_test.go
Labels: waiting-response, service/key-vault, size/L, service/event-hubs, service/devtestlabs, service/logic, service/data-factory, service/machine-learning, service/kusto, service/hybrid-compute

#26757 `dependencies` - update `go-azure-helpers` to `v0.70.1`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonschema/resource_id_reference.go
  vendor/modules.txt
Labels: dependencies, size/XS

#26683 `appservice` - update tests for 4.0
  internal/services/appservice/app_service_environment_v3_resource_test.go
  internal/services/appservice/linux_function_app_resource_authv2_test.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource_authv2_test.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/linux_web_app_resource_authv2_test.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  internal/services/appservice/service_plan_resource_test.go
  internal/services/appservice/windows_function_app_resource_authv2_test.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource_authv2_test.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  internal/services/appservice/windows_web_app_resource_authv2_test.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
Labels: size/XL, service/app-service

#26666 `appconfiguration` - update tests for 4.0
  internal/services/appconfiguration/app_configuration_resource_test.go
Labels: size/XS, service/app-configuration

#26765 `nginx` `orbital` `postgres` - add `ignore_changes` to tests
  internal/services/nginx/nginx_certificate_resource_test.go
  internal/services/nginx/nginx_configuration_resource_test.go
  internal/services/nginx/nginx_deployment_resource_test.go
  internal/services/orbital/contact_profile_resource_test.go
  internal/services/orbital/contact_resource_test.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  internal/services/postgres/postgresql_server_key_resource_test.go
  internal/services/postgres/postgresql_virtual_network_rule_resource_test.go
Labels: size/M, service/postgresql, service/nginx, service/orbital

#26767 `azurerm_management_group_policy_remediation` - fix panic in deprecated schema change for 4.0
  internal/services/policy/remediation_management_group.go
Labels: size/S, service/policy

#26546 `azurerm_kubernetes_cluster` - support for the `revisions` for istio addon
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/containers/kubernetes_cluster_data_source_test.go
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
Labels: enhancement, documentation, breaking-change, size/XL, service/kubernetes-cluster

#26740 storage: remove deprecated properties for v4.0
  internal/services/storage/storage_account_customer_managed_key_resource.go
  internal/services/storage/storage_account_data_source.go
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  internal/services/storage/storage_share_directory_resource.go
  internal/services/storage/storage_share_directory_resource_test.go
  internal/services/storage/storage_table_entity_resource.go
  internal/services/storage/storage_table_entity_resource_test.go
  website/docs/d/storage_account.html.markdown
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_account_customer_managed_key.html.markdown
Labels: documentation, service/storage, size/XL

#26762 `azurerm_virtual_network` - replace `address_prefix` with `address_prefixes` in 4.0
  internal/services/network/virtual_network_data_source_test.go
  internal/services/network/virtual_network_dns_servers_resource_test.go
  internal/services/network/virtual_network_resource.go
  internal/services/network/virtual_network_resource_test.go
  internal/services/privatedns/private_dns_zone_virtual_network_link_resource_test.go
Labels: service/dns, size/XL, service/network

#26771 `azurerm_kubernetes_cluster` - fix diff in `api_server_access_profile` in 4.0
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/containers/kubernetes_cluster_auth_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
Labels: size/M

#26772 [enhancement] - Increase max `size_in_tb` for `azurerm_netapp_pool`
  internal/services/netapp/netapp_pool_resource.go
  website/docs/r/netapp_pool.html.markdown
Labels: documentation, size/XS, service/netapp

#26764 `mssql` - fix tests for 4.0
  internal/services/mssql/mssql_database_extended_auditing_policy_resource_test.go
  internal/services/mssql/mssql_database_resource_test.go
  internal/services/mssql/mssql_server_extended_auditing_policy_resource_test.go
  internal/services/mssql/mssql_server_microsoft_support_auditing_policy_resource_test.go
  internal/services/mssql/mssql_server_resource_test.go
  internal/services/mssql/mssql_server_transparent_data_encryption_resource_test.go
  internal/services/mssql/mssql_virtual_machine_availability_group_listener_resource_test.go
  internal/services/mssql/mssql_virtual_machine_resource_test.go
  internal/services/mssql/mssql_virtual_network_rule_resource_test.go
Labels: size/M, service/mssql

#25753 ``azurerm_linux_web_app`` + ``azurerm_linux_web_app_slot`` - Set ``site_config.always_on`` as configured by the user during an update
  internal/services/appservice/helpers/linux_web_app_schema.go
  internal/services/appservice/helpers/web_app_slot_schema.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
Labels: size/XS, service/app-service

#26732 [TestCase] fix acctests for COSMOSDB
  internal/services/cosmos/cosmosdb_account_resource_test.go
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource_test.go
Labels: size/XS, service/cosmosdb

#26761 `arckubernetes` - update API version to `2024-01-01`
  internal/services/arckubernetes/arc_kubernetes_cluster_extension_resource.go
  internal/services/arckubernetes/arc_kubernetes_cluster_resource.go
  internal/services/arckubernetes/arc_kubernetes_cluster_resource_test.go
  internal/services/arckubernetes/arc_kubernetes_flux_configuration_resource.go
  internal/services/arckubernetes/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/id_connectedcluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclustercreate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterdelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterlistbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterlistbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterlistclusterusercredential.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/method_connectedclusterupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_aadprofile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_arcagentprofile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_connectedcluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_connectedclusterpatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_connectedclusterpatchproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_connectedclusterproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_credentialresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_credentialresults.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_hybridconnectionconfig.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/model_listclusterusercredentialproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/hybridkubernetes/2024-01-01/connectedclusters/version.go
  vendor/modules.txt
Labels: dependencies, size/L, service/kubernetes-cluster, service/arc

#26473 new resource `azurerm_stack_hci_logical_network`
  .github/labeler-issue-triage.yml
  internal/services/azurestackhci/registration.go
  internal/services/azurestackhci/stack_hci_logical_network_resource.go
  internal/services/azurestackhci/stack_hci_logical_network_resource_test.go
  website/docs/r/stack_hci_logical_network.html.markdown
Labels: documentation, new-resource, size/XL, service/azure-stack-hci

#26679 [TestCase] `azurerm_log_analytics_workspace` - add `kind` to `azurerm_monitor_data_collection_rule`
  internal/services/loganalytics/log_analytics_workspace_resource_test.go
Labels: size/XS, service/log-analytics

#26774 `redis` - update tests for 4.0
  internal/services/redis/redis_cache_resource.go
  internal/services/redis/redis_cache_resource_test.go
Labels: size/XS, service/redis

#26782 [DOC] Clarify what attributes of `azurerm_databricks_workspace` are used only with managed network
  website/docs/r/databricks_workspace.html.markdown
Labels: documentation, size/XS

#26783 `azurerm_kubernetes_cluster` - fix panic in `service_mesh_profile` in 4.0 mode
  internal/services/containers/kubernetes_cluster_auth_resource_test.go
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  internal/services/containers/kubernetes_cluster_scaling_resource_test.go
Labels: size/M

#26789 `azurerm_key_vault` - keep existing functionality for `access_policy` for 4.0
  internal/services/keyvault/key_vault_access_policy_resource_test.go
  internal/services/keyvault/key_vault_resource.go
  internal/services/keyvault/key_vault_resource_test.go
Labels: service/key-vault, size/L

#26790 `network_security_group` - keep existing functionality for `security_rule` for 4.0
  internal/services/network/network_security_group_resource.go
  internal/services/network/network_security_group_resource_test.go
  internal/services/network/network_security_rule_resource_test.go
Labels: size/L, service/network

#26792 `azurerm_route_table` - keep existing functionality for `route` for 4.0
  internal/services/network/route_resource_test.go
  internal/services/network/route_table_resource.go
Labels: size/M, service/network

#26791 `azurerm_virtual_network` - keep existing functionality for `subnet` for 4.0
  internal/services/network/subnet_resource_test.go
  internal/services/network/virtual_network_resource.go
  internal/services/network/virtual_network_resource_test.go
Labels: size/S, service/network

#26810 `appservice` - remove ignore_changes in tests
  internal/services/appservice/app_service_environment_v3_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/service_plan_resource_test.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
Labels: size/M, service/app-service

#26808 `azurerm_eventgrid_domain` / `azurerm_eventgrid_topic` - restore ConfigModeAttr on `inbound_ip_rule` blocks
  internal/services/eventgrid/eventgrid_domain_resource.go
  internal/services/eventgrid/eventgrid_domain_resource_test.go
  internal/services/eventgrid/eventgrid_topic_resource.go
  internal/services/eventgrid/eventgrid_topic_resource_test.go
Labels: size/M, service/event-grid

#26799 `batch`: retain ConfigModeAttr functionality for 4.0
  internal/services/batch/batch_account_resource.go
  internal/services/batch/batch_account_resource_test.go
  internal/services/batch/batch_pool_resource.go
Labels: size/M, service/batch

#26807 `mariadb` - fix tests for 4.0
  internal/services/mariadb/mariadb_configuration_resource_test.go
  internal/services/mariadb/mariadb_database_resource_test.go
  internal/services/mariadb/mariadb_firewall_rule_resource_test.go
  internal/services/mariadb/mariadb_server_data_source_test.go
  internal/services/mariadb/mariadb_server_resource_test.go
  internal/services/mariadb/mariadb_virtual_network_rule_resource_test.go
Labels: size/M, service/maria-db

#26809 `media` - fix tests for 4.0
  internal/services/media/media_asset_filter_resource_test.go
  internal/services/media/media_asset_resource_test.go
  internal/services/media/media_content_key_policy_resource_test.go
  internal/services/media/media_job_resource_test.go
  internal/services/media/media_live_output_resource_test.go
  internal/services/media/media_service_account_filter_resource_test.go
  internal/services/media/media_services_account_resource_test.go
  internal/services/media/media_streaming_endpoint_resource_test.go
  internal/services/media/media_streaming_live_event_resource_test.go
  internal/services/media/media_streaming_locator_resource_test.go
  internal/services/media/media_streaming_policy_resource_test.go
  internal/services/media/media_transform_resource_test.go
Labels: size/L, service/media

#26811 `storagemover`, `synapse` and `workloads` - reverting tests `ignore_changes` for `subnet` and `access_policy`
  internal/services/storagemover/storage_mover_agent_resource_test.go
  internal/services/synapse/synapse_sql_pool_extended_auditing_policy_resource_test.go
  internal/services/synapse/synapse_workspace_extended_auditing_policy_resource_test.go
  internal/services/synapse/synapse_workspace_key_resource_test.go
  internal/services/synapse/synapse_workspace_resource_test.go
  internal/services/workloads/workloads_sap_single_node_virtual_instance_resource_test.go
  internal/services/workloads/workloads_sap_three_tier_virtual_instance_resource_test.go
Labels: waiting-response, size/XS, service/synapse, service/storagemover, service/workloads

#26812 `compute` - reverting tests ignore_changes for subnet and access_policy
  internal/services/compute/disk_encryption_set_resource_test.go
  internal/services/compute/image_resource_test.go
  internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_resource_images_test.go
  internal/services/compute/linux_virtual_machine_resource_orchestrated_test.go
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  internal/services/compute/linux_virtual_machine_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_disk_data_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_test.go
  internal/services/compute/managed_disk_resource_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_disk_data_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
  internal/services/compute/restore_point_collection_resource_test.go
  internal/services/compute/shared_image_version_resource_test.go
  internal/services/compute/snapshot_resource_test.go
  internal/services/compute/virtual_machine_data_disk_attachment_resource_test.go
  internal/services/compute/virtual_machine_extension_resource_test.go
  internal/services/compute/virtual_machine_implicit_data_disk_from_source_resource_test.go
  internal/services/compute/virtual_machine_restore_point_collection_resource_test.go
  internal/services/compute/virtual_machine_restore_point_resource_test.go
  internal/services/compute/virtual_machine_run_command_resource_test.go
  internal/services/compute/virtual_machine_scale_set_extension_resource_test.go
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_resource_images_test.go
  internal/services/compute/windows_virtual_machine_resource_orchestrated_test.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_resource_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_disk_data_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_test.go
Labels: size/XL

#26806 `containers` - retain Computed, ConfigModeAttr functionality for 4.0
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
  internal/services/containers/container_registry_resource.go
  internal/services/containers/container_registry_resource_test.go
Labels: size/XL

#26813 `web` - reverting `ignore_changes` for `subnet`
  internal/services/web/app_service_environment_resource_test.go
  internal/services/web/app_service_resource_test.go
  internal/services/web/app_service_slot_resource_test.go
  internal/services/web/app_service_slot_virtual_network_swift_connection_resource_test.go
  internal/services/web/app_service_virtual_network_swift_connection_resource_test.go
  internal/services/web/function_app_resource_test.go
  internal/services/web/function_app_slot_resource_test.go
Labels: size/S

#26814 azurerm_iothub: restore ConfigModeAttr for `endpoint`, `enrichment`, `route` blocks
  internal/services/iothub/iothub_resource.go
  internal/services/iothub/iothub_resource_test.go
Labels: size/XL, service/iot-hub

#26817 `springcloud`, `signalr`, `servicenetworking` and `serviceconnector` - reverting ignore_changes for subnet
  internal/services/serviceconnector/service_connector_app_service_resource_test.go
  internal/services/servicenetworking/application_load_balancer_subnet_association_resource_test.go
  internal/services/signalr/signalr_service_network_acl_resource_test.go
  internal/services/signalr/web_pubsub_network_acl_resource_test.go
  internal/services/springcloud/spring_cloud_service_resource_test.go
Labels: size/S, service/signalr, service/spring, service/service-connector, service/service-networking

#26816 azurerm_kusto_cluster: restore ConfigModeAttr for `trusted_external_tenants` block
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_cluster_resource_test.go
Labels: size/M, service/kusto

#26819 azurerm_route_filter: restore ConfigModeAttr for `rule` block
  internal/services/network/route_filter_resource.go
  internal/services/network/route_filter_resource_test.go
Labels: size/M, service/network
