Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2024-11, with the labels that each got.

#26915 `azurerm_kubernetes_cluster` - fix issue where`maintenance_window_auto_upgrade`/`maintenance_window_auto_upgrade`/`maintenance_window_node_os ` might not be read into state
  internal/services/containers/kubernetes_cluster_resource.go
Labels: bug, size/XS, service/kubernetes-cluster

#27413 `azurerm_service_fabric_managed_cluster` - hide a tag that azure is adding outside of Terraform
  internal/services/servicefabricmanaged/service_fabric_managed_cluster_resource.go
Labels: enhancement, size/XS, service/service-fabric-managed-cluster

#27808 add optional arguments for Oracle VMCluster creation (domain and scan listener ports)
  internal/services/oracle/cloud_vm_cluster_resource.go
  internal/services/oracle/cloud_vm_cluster_resource_test.go
  website/docs/r/oracle_cloud_vm_cluster.html.markdown
Labels: enhancement, documentation, size/M

#27871 `azurerm_policy_definition`: fix acceptance test of removing forcenew `paramters` steps
  internal/services/policy/policy_definition_resource_test.go
Labels: service/policy, tests

#27850 `azurerm_databricks_workspace`: fix acceptance test of replace
  internal/services/databricks/databricks_workspace_resource_test.go
Labels: service/databricks, tests

#27867 logic_app_trigger_recurrence: Remove duplicate Hour validation value
  internal/services/logic/logic_app_trigger_recurrence_resource.go
Labels: enhancement, service/logic

#27873 `azurerm_trusted_signing_account` - update document
  website/docs/r/trusted_signing_account.html.markdown
Labels: documentation, service/trustedsigning

#27858 azurerm_subnet: Remove ForceNew from `default_outbound_access_enabled` property.
  internal/services/network/subnet_resource.go
  internal/services/network/subnet_resource_test.go
Labels: enhancement, service/subnets

#27875 Managed HSM: remove unused legacy tests
  internal/services/managedhsm/key_vault_managed_hardware_security_module_resource_test.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_assignment_resource_test.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_definition_data_source_test.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_definition_resource_test.go
Labels: tests, service/managed-hsm

#27845 Docs: removing deprecated attribute from all `azurerm_lb_backend_address_pool` examples
  examples/virtual-machines/linux/load-balanced/main.tf
  examples/virtual-machines/virtual_machine/2-vms-loadbalancer-lbrules/main.tf
  examples/virtual-machines/virtual_machine/openshift-origin/main.tf
  examples/vm-scale-set/linux/rolling-upgrade-policy/main.tf
  examples/vm-scale-set/virtual_machine_scale_set/automatic-rolling-updates/main.tf
  examples/vm-scale-set/windows/rolling-upgrade-policy/main.tf
  website/docs/r/lb_nat_rule.html.markdown
Labels: enhancement, documentation, waiting-response, service/virtual-machine, service/vmss

#27888 Migrating Azure Attestation Kermit endpoint
  internal/services/attestation/attestation_provider_resource.go
  internal/services/attestation/client/client.go
  internal/services/attestation/validate/stored_attestation_policy_base64.go
  vendor/github.com/jackofallops/kermit/sdk/attestation/2022-08-01/attestation/attestation.go
  vendor/github.com/jackofallops/kermit/sdk/attestation/2022-08-01/attestation/client.go
  vendor/github.com/jackofallops/kermit/sdk/attestation/2022-08-01/attestation/enums.go
  vendor/github.com/jackofallops/kermit/sdk/attestation/2022-08-01/attestation/metadataconfiguration.go
  vendor/github.com/jackofallops/kermit/sdk/attestation/2022-08-01/attestation/models.go
  vendor/github.com/jackofallops/kermit/sdk/attestation/2022-08-01/attestation/policy.go
  vendor/github.com/jackofallops/kermit/sdk/attestation/2022-08-01/attestation/policycertificates.go
  vendor/github.com/jackofallops/kermit/sdk/attestation/2022-08-01/attestation/signingcertificates.go
  vendor/github.com/jackofallops/kermit/sdk/attestation/2022-08-01/attestation/version.go
  vendor/modules.txt
Labels: dependencies, size/XS, service/attestation

#27889 `azurerm_data_factory` - fix TestAccDataFactory_globalParameterUpdate…
  internal/services/datafactory/data_factory_resource_test.go
Labels: size/XS, service/data-factory, tests

#27781 New Resource: `azurerm_dashboard_grafana_managed_private_endpoint`
  internal/services/dashboard/client/client.go
  internal/services/dashboard/dashboard_grafana_managed_private_endpoint_resource.go
  internal/services/dashboard/dashboard_grafana_managed_private_endpoint_resource_test.go
  internal/services/dashboard/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/id_grafana.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/id_managedprivateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/method_create.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/method_refresh.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/model_managedprivateendpointconnectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/model_managedprivateendpointmodel.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/model_managedprivateendpointmodelproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/model_managedprivateendpointupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dashboard/2023-09-01/managedprivateendpoints/version.go
  vendor/modules.txt
  website/docs/r/dashboard_grafana_managed_private_endpoint.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/dashboard

#27892 `azurerm_iothub_certificate` - update test case
  internal/services/iothub/iothub_certificate_resource_test.go
Labels: size/XS, service/iot-hub, tests

#27818 `storage` - allow `azurerm_storage_account` to be used in Data Plane restrictive environments
  .github/labeler-issue-triage.yml
  internal/features/defaults.go
  internal/features/user_flags.go
  internal/provider/features.go
  internal/provider/features_test.go
  internal/provider/framework/config.go
  internal/provider/framework/config_test.go
  internal/provider/framework/model.go
  internal/provider/framework/provider.go
  internal/services/storage/custompollers/data_plane_blob_containers_availability_poller.go
  internal/services/storage/custompollers/data_plane_queues_availability_poller.go
  internal/services/storage/custompollers/data_plane_static_website_availability_poller.go
  internal/services/storage/registration.go
  internal/services/storage/shim/queues_data_plane.go
  internal/services/storage/shim/shares_data_plane.go
  internal/services/storage/storage_account_data_plane_helpers.go
  internal/services/storage/storage_account_queue_properties_data_plane_resource.go
  internal/services/storage/storage_account_queue_properties_data_plane_resource_test.go
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  internal/services/storage/storage_account_static_website_data_plane_resource.go
  internal/services/storage/storage_account_static_website_data_plane_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/storage_account_queue_properties.html.markdown
  website/docs/r/storage_account_static_website.html.markdown
Labels: bug, enhancement, documentation, service/storage, size/XL

#27733 `storage` - add support for `storage_account_id` to `azurerm_storage_container` and `azurerm_storage_share`
  internal/services/storage/custompollers/storage_share_create_poller.go
  internal/services/storage/storage_container_data_source.go
  internal/services/storage/storage_container_data_source_test.go
  internal/services/storage/storage_container_resource.go
  internal/services/storage/storage_container_resource_test.go
  internal/services/storage/storage_share_data_source.go
  internal/services/storage/storage_share_data_source_test.go
  internal/services/storage/storage_share_resource.go
  internal/services/storage/storage_share_resource_test.go
  website/docs/d/storage_container.html.markdown
  website/docs/d/storage_share.html.markdown
  website/docs/r/storage_container.html.markdown
  website/docs/r/storage_share.html.markdown
Labels: enhancement, documentation, service/storage, size/XL

#27775 Dependencies: Use SDK version: v0.20241025.1143247
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_lro.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_provisioning_state.go
  vendor/modules.txt
Labels: enhancement, dependencies, size/M

#27896 Dependencies - update `go-azure-sdk` to `v0.20241104.1140654`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#27819 `storage` - back-port storage data plane workarounds
  .github/labeler-issue-triage.yml
  CHANGELOG.md
  go.mod
  go.sum
  internal/clients/graph/client.go
  internal/features/defaults.go
  internal/features/user_flags.go
  internal/provider/features.go
  internal/provider/features_test.go
  internal/provider/framework/config.go
  internal/provider/framework/config_test.go
  internal/provider/framework/model.go
  internal/provider/framework/provider.go
  internal/services/storage/custompollers/data_plane_blob_containers_availability_poller.go
  internal/services/storage/custompollers/data_plane_queues_availability_poller.go
  internal/services/storage/custompollers/data_plane_static_website_availability_poller.go
  internal/services/storage/registration.go
  internal/services/storage/shim/queues_data_plane.go
  internal/services/storage/shim/shares_data_plane.go
  internal/services/storage/storage_account_data_plane_helpers.go
  internal/services/storage/storage_account_queue_properties_data_plane_resource.go
  internal/services/storage/storage_account_queue_properties_data_plane_resource_test.go
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  internal/services/storage/storage_account_static_website_data_plane_resource.go
  internal/services/storage/storage_account_static_website_data_plane_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/msgraph/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/client.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_lro.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_lro_statuses.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_provisioning_state.go
  vendor/modules.txt
  website/docs/r/storage_account_queue_properties.html.markdown
  website/docs/r/storage_account_static_website.html.markdown
Labels: bug, enhancement, documentation, dependencies, waiting-response, service/storage, size/XL

#27882 azurerm_public_ip_prefix: adding `sku_tier` property
  internal/services/network/public_ip_prefix_data_source.go
  internal/services/network/public_ip_prefix_data_source_test.go
  internal/services/network/public_ip_prefix_resource.go
  internal/services/network/public_ip_prefix_resource_test.go
  website/docs/d/public_ip_prefix.html.markdown
  website/docs/r/public_ip_prefix.html.markdown
Labels: enhancement, documentation, service/public-ip, size/M, service/network

#27897 dependencies - bump `go-azure-helpers` to `v0.71.0`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/app_service_logic_app.go
  vendor/modules.txt
Labels: dependencies, size/M

#27464 New Resource: `azurerm_data_protection_backup_instance_mysql_flexible_server`
  internal/services/dataprotection/data_protection_backup_instance_mysql_flexible_server_resource.go
  internal/services/dataprotection/data_protection_backup_instance_mysql_flexible_server_resource_test.go
  internal/services/dataprotection/registration.go
  website/docs/r/data_protection_backup_instance_mysql_flexible_server.html.markdown
Labels: documentation, new-resource, size/XL, service/data-protection

#27691 `automation`: remove or updat acctests contains replace cases
  internal/services/automation/automation_job_schedule_resource_test.go
  internal/services/automation/automation_python3_package_resource_test.go
  internal/services/automation/automation_runbook_resource_test.go
Labels: enhancement, size/S, service/automation

#27748 `azurerm_public_ip` - support for the `domain_name_label_scope` property
  internal/services/network/public_ip_resource.go
  internal/services/network/public_ip_resource_test.go
  website/docs/r/public_ip.html.markdown
Labels: enhancement, documentation, waiting-response, size/S, service/network

#27890 `azurerm_advanced_threat_protection` - extend wait period after update
  internal/services/securitycenter/advanced_threat_protection_resource.go
Labels: enhancement, size/XS, service/security-center

#27911 Migrating Azure Batch Job Kermit endpoint
  internal/services/batch/batch_job_resource.go
  internal/services/batch/client/client.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/account.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/application.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/certificate.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/client.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/computenode.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/computenodeextension.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/enums.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/file.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/job.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/jobschedule.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/models.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/pool.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/task.go
  vendor/github.com/jackofallops/kermit/sdk/batch/2022-01.15.0/batch/version.go
  vendor/modules.txt
Labels: dependencies, size/XS, service/batch

#27926 `azurerm_cognitive_deployment` - `sku.0.name` now supports `DataZoneStandard`
  internal/services/cognitive/cognitive_deployment_resource.go
  website/docs/r/cognitive_deployment.html.markdown
Labels: documentation, size/XS, service/cognitive-services

#27912 `azurerm_cdn_frontdoor_custom_domain` - update documents for TLS 1.0 retirement
  internal/services/cdn/cdn_frontdoor_custom_domain_resource.go
  internal/services/cdn/cdn_frontdoor_custom_domain_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/cdn_frontdoor_custom_domain.html.markdown
Labels: documentation, size/S, service/cdn

#27930 Migrating Azure Bot Kermit endpoint
  internal/services/bot/bot_channel_alexa_resource.go
  internal/services/bot/bot_channel_alexa_resource_test.go
  internal/services/bot/bot_channel_direct_line_speech_resource.go
  internal/services/bot/bot_channel_direct_line_speech_resource_test.go
  internal/services/bot/bot_channel_directline_resource.go
  internal/services/bot/bot_channel_directline_resource_test.go
  internal/services/bot/bot_channel_email_resource_test.go
  internal/services/bot/bot_channel_facebook_resource.go
  internal/services/bot/bot_channel_facebook_resource_test.go
  internal/services/bot/bot_channel_line_resource.go
  internal/services/bot/bot_channel_line_resource_test.go
  internal/services/bot/bot_channel_ms_teams_resource.go
  internal/services/bot/bot_channel_ms_teams_resource_test.go
  internal/services/bot/bot_channel_slack_resource.go
  internal/services/bot/bot_channel_slack_resource_test.go
  internal/services/bot/bot_channel_sms_resource.go
  internal/services/bot/bot_channel_sms_resource_test.go
  internal/services/bot/bot_channel_web_chat_resource.go
  internal/services/bot/bot_channel_web_chat_resource_test.go
  internal/services/bot/bot_channels_registration_resource.go
  internal/services/bot/bot_connection_resource.go
  internal/services/bot/bot_service_azure_bot_resource.go
  internal/services/bot/bot_service_resource_base.go
  internal/services/bot/bot_web_app_resource.go
  internal/services/bot/client/client.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/botconnection.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/bots.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/channels.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/client.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/directline.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/enums.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/hostsettings.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/models.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/operationresults.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/operations.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/privateendpointconnections.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/privatelinkresources.go
  vendor/github.com/jackofallops/kermit/sdk/botservice/2021-05-01-preview/botservice/version.go
  vendor/modules.txt
Labels: dependencies, size/S, service/bots

#27636 New Resource : `azurerm_mongo_cluster`
  .github/labeler-issue-triage.yml
  .github/labeler-pull-request-triage.yml
  .teamcity/components/generated/services.kt
  .teamcity/components/settings.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/mongocluster/client/client.go
  internal/services/mongocluster/mongo_cluster_resource.go
  internal/services/mongocluster/mongo_cluster_resource_test.go
  internal/services/mongocluster/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/id_location.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/id_mongocluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/method_checknameavailability.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/method_listconnectionstrings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/method_promote.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_administratorproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_backupproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_checknameavailabilityrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_checknameavailabilityresponse.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_computeproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_connectionstring.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_highavailabilityproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_listconnectionstringsresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_mongocluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_mongoclusterproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_mongoclusterreplicaparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_mongoclusterrestoreparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_mongoclusterupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_mongoclusterupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_privatelinkserviceconnectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_promotereplicarequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_replicationproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_shardingproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/model_storageproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/mongocluster/2024-07-01/mongoclusters/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/mongo_cluster.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/mssql, service/search, service/application-insights, service/redis, service/api-management, service/relay, service/logic, service/data-factory, service/log-analytics, service/app-configuration, service/iot-central, service/sentinel, service/management-groups, service/synapse, service/azure-stack-hci, service/container-apps, service/nginx, service/fluid-relay, service/network, state-migration, service/dev-center

#27653 `azurerm_sentinel_alert_rule_fusion` - remove existing check for built in rule
  internal/services/sentinel/sentinel_alert_rule_fusion_resource.go
  internal/services/sentinel/sentinel_alert_rule_fusion_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/sentinel_alert_rule_fusion.html.markdown
Labels: bug, documentation, size/L, service/sentinel

#27857 azurerm_mssql_managed_database - support for tags
  internal/services/mssql/helper/elasticpool.go
  internal/services/mssqlmanagedinstance/mssql_managed_database_resource.go
  internal/services/mssqlmanagedinstance/mssql_managed_database_resource_test.go
  website/docs/r/mssql_managed_database.html.markdown
Labels: enhancement, documentation, size/XS, service/mssql

#26888 new resource `azurerm_stack_hci_network_interface`
  internal/services/azurestackhci/registration.go
  internal/services/azurestackhci/stack_hci_logical_network_resource.go
  internal/services/azurestackhci/stack_hci_marketplace_gallery_image_resource.go
  internal/services/azurestackhci/stack_hci_network_interface_resource.go
  internal/services/azurestackhci/stack_hci_network_interface_resource_test.go
  internal/services/azurestackhci/stack_hci_storage_path_resource.go
  internal/services/azurestackhci/stack_hci_virtual_hard_disk_resource.go
  website/docs/r/stack_hci_logical_network.html.markdown
  website/docs/r/stack_hci_network_interface.html.markdown
Labels: documentation, new-resource, size/XL, service/azure-stack-hci

#27432 New Resource: `azurerm_dynatrace_monitor`
  .github/labeler-issue-triage.yml
  .github/labeler-pull-request-triage.yml
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/dynatrace/client/client.go
  internal/services/dynatrace/dynatrace_monitors_resource.go
  internal/services/dynatrace/dynatrace_monitors_resource_test.go
  internal/services/dynatrace/helper.go
  internal/services/dynatrace/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/id_monitor.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_getmarketplacesaasresourcedetails.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_getmetricstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_getssodetails.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_getvmhostpayload.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_listappservices.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_listbysubscriptionid.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_listhosts.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_listlinkableenvironments.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_listmonitoredresources.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_accountinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_appserviceinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_dynatraceenvironmentproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_dynatracesinglesignonproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_environmentinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_identityproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_linkableenvironmentrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_linkableenvironmentresponse.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_marketplacesaasresourcedetailsrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_marketplacesaasresourcedetailsresponse.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_metricsstatusresponse.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_monitoredresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_monitorproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_monitorresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_monitorresourceupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_plandata.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_ssodetailsrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_ssodetailsresponse.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_userassignedidentity.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_userinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_vmextensionpayload.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/model_vminfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/dynatrace/2023-04-27/monitors/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/dynatrace_monitors.html.markdown
Labels: documentation, dependencies, new-resource, size/XL

#27909 azurerm_bastion_host: Adding `zones` property to resource and data source.
  internal/services/network/bastion_host_data_source.go
  internal/services/network/bastion_host_data_source_test.go
  internal/services/network/bastion_host_resource.go
  internal/services/network/bastion_host_resource_test.go
  website/docs/d/bastion_host.html.markdown
  website/docs/r/bastion_host.html.markdown
Labels: enhancement, documentation, size/S, service/bastion, service/network

#27886 PR Label automation for bug, enhancement, and breaking change
  .github/labeler-pull-request-triage-type.yml
  .github/workflows/pull-request-type.yaml
Labels: enhancement, size/XS

#27956 fix generator-resource-id to correctly handle SSHPublicKey & re-enable dupword linter
  .golangci.yml
  internal/services/apimanagement/parse/open_id_connect_provider.go
  internal/services/compute/parse/ssh_public_key.go
  internal/services/compute/parse/vmss_instance.go
  internal/services/iothub/parse/endpoint_cosmos_db_account.go
  internal/services/kusto/parse/database_principal.go
  internal/services/loadbalancer/parse/load_balancer_frontend_ip_configuration.go
  internal/services/mssql/parse/server_dns_alias.go
  internal/services/network/parse/application_gateway_url_path_map_path_rule.go
  internal/services/network/parse/frontend_ip_configuration.go
  internal/services/sentinel/parse/ml_analytics_settings.go
  internal/services/springcloud/parse/spring_cloud_api_portal.go
  internal/services/springcloud/parse/spring_cloud_api_portal_custom_domain.go
  internal/services/synapse/parse/workspace_aad_admin.go
  internal/services/synapse/parse/workspace_sql_aad_admin.go
  internal/tools/generator-resource-id/main.go
Labels: service/load-balancers, size/S, service/mssql, service/iot-hub, service/api-management, service/kusto, service/spring, tooling, service/sentinel, service/synapse, service/network

#27955 FourPointOh - remove from web & traffic manager
  contributing/topics/guide-state-migrations.md
  internal/clients/auth.go
  internal/services/streamanalytics/stream_analytics_job_resource.go
  internal/services/trafficmanager/azure_endpoint_resource.go
  internal/services/trafficmanager/external_endpoint_resource.go
  internal/services/trafficmanager/nested_endpoint_resource.go
  internal/services/trafficmanager/traffic_manager_profile_resource.go
  internal/services/web/app_service_environment_data_source.go
  internal/services/web/app_service_environment_data_source_test.go
  internal/services/web/app_service_environment_resource.go
  internal/services/web/app_service_environment_resource_test.go
  internal/services/web/app_service_resource_test.go
  internal/services/web/registration.go
Labels: size/XL, service/traffic-manager, service/stream-analytics

#27919 Fix usgov support for communication services
  internal/services/communication/communication_service_resource.go
  internal/services/communication/email_service_resource.go
  website/docs/r/communication_service.html.markdown
  website/docs/r/email_communication_service.html.markdown
Labels: enhancement, documentation, waiting-response, size/XS, service/communication

#27941 clean up - remove `FourPointOhBeta` code
  internal/services/compute/shared_image_version_data_source.go
  internal/services/containers/container_registry_resource.go
  internal/services/containers/container_registry_resource_test.go
  internal/services/dns/dns_zone_resource.go
  internal/services/machinelearning/machine_learning_compute_cluster_resource.go
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/network/network_connection_monitor_resource.go
  internal/services/network/virtual_network_resource.go
  internal/services/network/virtual_network_resource_test.go
  internal/services/synapse/synapse_sql_pool_resource.go
  internal/services/synapse/synapse_sql_pool_resource_test.go
  internal/services/synapse/synapse_workspace_vulnerability_assessment_resource.go
Labels: enhancement, service/dns, size/XL, service/machine-learning, service/synapse, service/network

#27590 fix(azurerm_log_analytics_workspace_table): Parse subscriptionId from workspaceId
  internal/services/loganalytics/log_analytics_workspace_table_resource.go
Labels: bug, size/XS, service/log-analytics

#27535 `azurerm_application_gateway` - add support for more `status_code` on `custom_error_configuration`
  internal/services/network/application_gateway_resource.go
  internal/services/network/application_gateway_resource_test.go
  website/docs/r/application_gateway.html.markdown
Labels: enhancement, documentation, size/M, service/network

#27966 `azurerm_traffic_manager_external_endpoint` - revert `priority` back to O+C since API increments the default value
  internal/services/trafficmanager/azure_endpoint_resource.go
  internal/services/trafficmanager/azure_endpoint_resource_test.go
  internal/services/trafficmanager/external_endpoint_resource.go
  internal/services/trafficmanager/external_endpoint_resource_test.go
  website/docs/r/traffic_manager_azure_endpoint.html.markdown
  website/docs/r/traffic_manager_external_endpoint.html.markdown
Labels: bug, documentation, size/M, service/traffic-manager

#27979 Migrating Azure Keyvault Kermit migration
  internal/services/compute/disk_encryption_set_resource.go
  internal/services/keyvault/client/client.go
  internal/services/keyvault/encrypted_value_data_source.go
  internal/services/keyvault/key_vault_certificate_contacts_resource.go
  internal/services/keyvault/key_vault_certificate_data_source.go
  internal/services/keyvault/key_vault_certificate_issuer_resource.go
  internal/services/keyvault/key_vault_certificate_resource.go
  internal/services/keyvault/key_vault_certificates_data_source.go
  internal/services/keyvault/key_vault_key_data_source.go
  internal/services/keyvault/key_vault_key_resource.go
  internal/services/keyvault/key_vault_key_resource_test.go
  internal/services/keyvault/key_vault_managed_storage_account.go
  internal/services/keyvault/key_vault_managed_storage_account_sas_token_definition_resource.go
  internal/services/keyvault/key_vault_resource.go
  internal/services/keyvault/key_vault_secret_resource.go
  internal/services/keyvault/key_vault_secret_resource_test.go
  internal/services/keyvault/key_vault_secrets_data_source.go
  internal/services/managedhsm/client/client.go
  internal/services/managedhsm/custompollers/hsm_download_poller.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_key_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_key_rotation_policy_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_assignment_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_definition_data_source.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_definition_resource.go
  vendor/github.com/jackofallops/kermit/sdk/keyvault/7.4/keyvault/client.go
  vendor/github.com/jackofallops/kermit/sdk/keyvault/7.4/keyvault/enums.go
  vendor/github.com/jackofallops/kermit/sdk/keyvault/7.4/keyvault/hsmsecuritydomain.go
  vendor/github.com/jackofallops/kermit/sdk/keyvault/7.4/keyvault/models.go
  vendor/github.com/jackofallops/kermit/sdk/keyvault/7.4/keyvault/roleassignments.go
  vendor/github.com/jackofallops/kermit/sdk/keyvault/7.4/keyvault/roledefinitions.go
  vendor/github.com/jackofallops/kermit/sdk/keyvault/7.4/keyvault/version.go
  vendor/modules.txt
Labels: dependencies, service/key-vault, size/S, service/managed-hsm

#27977 [TestCase] `azurerm_service_fabric_cluster` - add provider configuration
  internal/services/servicefabric/service_fabric_cluster_resource_test.go
Labels: size/XS, service/service-fabric

#27990 PR Label Automation Permissions Update & Fail Silently
  .github/workflows/pull-request-type.yaml
Labels: bug, size/XS

#27992 remove FourPointOh: s services + apim
  internal/services/apimanagement/api_management_api_resource.go
  internal/services/apimanagement/api_management_api_resource_test.go
  internal/services/apimanagement/api_management_resource.go
  internal/services/apimanagement/api_management_resource_test.go
  internal/services/securitycenter/registration.go
  internal/services/securitycenter/security_center_server_vulnerability_assessment_resource.go
  internal/services/securitycenter/security_center_server_vulnerability_assessment_resource_test.go
  internal/services/securitycenter/security_center_setting_resource.go
  internal/services/securitycenter/security_center_setting_resource_test.go
  internal/services/securitycenter/security_center_subscription_pricing_resource_test.go
  internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource.go
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
  internal/services/servicebus/registration.go
  internal/services/servicebus/servicebus_namespace_data_source.go
  internal/services/servicebus/servicebus_namespace_network_rule_set_resource.go
  internal/services/servicebus/servicebus_namespace_network_rule_set_resource_test.go
  internal/services/servicebus/servicebus_namespace_resource.go
  internal/services/servicebus/servicebus_namespace_resource_test.go
  internal/services/servicebus/servicebus_subscription_resource.go
  internal/services/servicebus/servicebus_topic_resource.go
  internal/services/synapse/synapse_sql_pool_vulnerability_assessment_resource.go
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/web/function_app.go
Labels: waiting-response, size/XL, service/service-bus, service/api-management, service/security-center, service/sentinel, service/synapse

#28000 `docs`: fix small errors in example code of guide docs
  contributing/topics/guide-new-resource-vs-inline.md
  contributing/topics/guide-new-resource.md
Labels: documentation, size/M

#27995 Changes encryption to customer_managed_key for azurerm_fluid_relay_servers resource
  website/docs/r/fluid_relay_servers.html.markdown
Labels: documentation, size/XS, service/fluid-relay

#28003 FourPointOh - remove from s and r and p services
  internal/services/maps/maps_account_resource.go
  internal/services/nginx/nginx_deployment_resource.go
  internal/services/notificationhub/notification_hub_authorization_rule_resource.go
  internal/services/notificationhub/notification_hub_namespace_resource.go
  internal/services/paloalto/local_rulestack_rule_resource.go
  internal/services/policy/remediation_management_group.go
  internal/services/policy/remediation_resource.go
  internal/services/policy/remediation_resource_group.go
  internal/services/policy/remediation_subscription.go
  internal/services/portal/legacy_dashboard_resource.go
  internal/services/portal/legacy_dashboard_resource_test.go
  internal/services/portal/registration.go
  internal/services/recoveryservices/recovery_services_vault_resource_guard_association_resource.go
  internal/services/recoveryservices/recovery_services_vault_resource_guard_association_resource_test.go
  internal/services/recoveryservices/site_recovery_protection_container_mapping_resource.go
  internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
  internal/services/recoveryservices/site_recovery_replication_recovery_plan_resource.go
  internal/services/redis/redis_cache_data_source.go
  internal/services/redis/redis_cache_resource.go
  internal/services/redisenterprise/redis_enterprise_database_data_source.go
  internal/services/redisenterprise/redis_enterprise_database_resource.go
Labels: enhancement, size/XL, service/redis, service/recovery-services, service/policy, service/notifications, service/maps, service/portal, service/nginx, service/paloalto

#27557 `redis` - fix various tests
  internal/services/redis/redis_cache_data_source.go
  internal/services/redis/redis_cache_resource.go
  internal/services/redis/redis_cache_resource_test.go
Labels: bug, size/L, service/redis

#28012 fixing minor typo in documentation
  website/docs/r/automation_job_schedule.html.markdown
  website/docs/r/automation_runbook.html.markdown
Labels: enhancement, documentation, size/XS, service/automation

#28010 Migrating IoTHub and IoTCentral Kermit endpoint
  internal/services/iotcentral/client/client.go
  internal/services/iotcentral/iotcentral_organization_resource.go
  internal/services/iothub/client/client.go
  internal/services/iothub/iothub_certificate_resource.go
  internal/services/iothub/iothub_consumer_group_resource.go
  internal/services/iothub/iothub_data_source.go
  internal/services/iothub/iothub_dps_resource.go
  internal/services/iothub/iothub_endpoint_cosmosdb_account_resource.go
  internal/services/iothub/iothub_endpoint_eventhub_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_queue_resource.go
  internal/services/iothub/iothub_endpoint_servicebus_topic_resource.go
  internal/services/iothub/iothub_endpoint_storage_container_resource.go
  internal/services/iothub/iothub_enrichment_resource.go
  internal/services/iothub/iothub_fallback_route_resource.go
  internal/services/iothub/iothub_file_upload_resource.go
  internal/services/iothub/iothub_resource.go
  internal/services/iothub/iothub_route_resource.go
  internal/services/iothub/iothub_shared_access_policy_resource.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/apitokens.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/client.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/dashboards.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/deploymentmanifests.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/destinations.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/devicegroups.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/devices.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/devicetemplates.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/enrollmentgroups.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/enums.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/exports.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/fileuploads.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/jobs.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/models.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/organizations.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/query.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/roles.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/scheduledjobs.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/users.go
  vendor/github.com/jackofallops/kermit/sdk/iotcentral/2022-10-31-preview/iotcentral/version.go
  vendor/github.com/jackofallops/kermit/sdk/iothub/2022-04-30-preview/iothub/certificates.go
  vendor/github.com/jackofallops/kermit/sdk/iothub/2022-04-30-preview/iothub/client.go
  vendor/github.com/jackofallops/kermit/sdk/iothub/2022-04-30-preview/iothub/enums.go
  vendor/github.com/jackofallops/kermit/sdk/iothub/2022-04-30-preview/iothub/iothub.go
  vendor/github.com/jackofallops/kermit/sdk/iothub/2022-04-30-preview/iothub/iothubresource.go
  vendor/github.com/jackofallops/kermit/sdk/iothub/2022-04-30-preview/iothub/models.go
  vendor/github.com/jackofallops/kermit/sdk/iothub/2022-04-30-preview/iothub/operations.go
  vendor/github.com/jackofallops/kermit/sdk/iothub/2022-04-30-preview/iothub/privateendpointconnections.go
  vendor/github.com/jackofallops/kermit/sdk/iothub/2022-04-30-preview/iothub/privatelinkresources.go
  vendor/github.com/jackofallops/kermit/sdk/iothub/2022-04-30-preview/iothub/resourceprovidercommon.go
  vendor/github.com/jackofallops/kermit/sdk/iothub/2022-04-30-preview/iothub/version.go
  vendor/modules.txt
Labels: enhancement, dependencies, size/S, service/iot-hub, service/iot-central

#28006 FourPointOh - remove for most resources between d-r services
  internal/services/datafactory/data_factory_integration_runtime_managed_resource.go
  internal/services/datafactory/data_factory_integration_runtime_managed_resource_test.go
  internal/services/datafactory/registration.go
  internal/services/dataprotection/data_protection_backup_vault_resource.go
  internal/services/digitaltwins/digital_twins_time_series_database_connection_resource.go
  internal/services/elastic/elasticsearch_resource.go
  internal/services/elastic/elasticsearch_resource_test.go
  internal/services/eventgrid/event_subscription_funcs.go
  internal/services/eventhub/eventhub_namespace_data_source.go
  internal/services/eventhub/eventhub_namespace_resource.go
  internal/services/eventhub/eventhub_namespace_resource_test.go
  internal/services/firewall/firewall_policy_resource.go
  internal/services/hdinsight/hdinsight_kafka_cluster_resource.go
  internal/services/iotcentral/iotcentral_application_resource.go
  internal/services/iotcentral/iotcentral_application_resource_test.go
  internal/services/keyvault/key_vault_certificate_contacts_resource.go
  internal/services/keyvault/key_vault_certificate_contacts_resource_test.go
  internal/services/keyvault/key_vault_resource.go
  internal/services/keyvault/key_vault_resource_test.go
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_cluster_resource_test.go
  internal/services/loadbalancer/loadbalancer_resource.go
  internal/services/loadbalancer/nat_rule_resource.go
  internal/services/loadbalancer/rule_resource.go
  internal/services/logic/integration_service_environment.go
  internal/services/logic/integration_service_environment_resource_test.go
  internal/services/logic/logic_app_integration_account_resource_test.go
  internal/services/logic/logic_app_standard_resource.go
  internal/services/logic/logic_app_standard_resource_test.go
  internal/services/logic/logic_app_trigger_http_request_resource_test.go
  internal/services/logic/logic_app_workflow_resource_test.go
  internal/services/logic/registration.go
  internal/services/machinelearning/machine_learning_compute_instance_resource.go
  internal/services/machinelearning/machine_learning_compute_instance_resource_test.go
  internal/services/managedapplications/managed_application_resource.go
  internal/services/managedapplications/managed_application_resource_test.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_assignment_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_definition_data_source.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_definition_resource.go
  website/docs/r/storage_account_queue_properties.html.markdown
  website/docs/r/storage_account_static_website.html.markdown
Labels: enhancement, documentation, service/load-balancers, service/key-vault, size/XL, service/hdinsight, service/event-hubs, service/logic, service/firewall, service/data-factory, service/event-grid, service/machine-learning, service/kusto, service/iot-central, service/managed-apps, service/managed-hsm, service/digital-twins, service/data-protection, service/elastic

#26914 `azurerm_mssql_database`/`azurerm_mssql_managed_database` - remove Computed for `weekly_retention`, `monthly_retention` and `yearly_retention`
  internal/services/mssql/helper/sql_retention_policies.go
  internal/services/mssql/mssql_database_resource.go
  internal/services/mssqlmanagedinstance/mssql_managed_database_resource.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/mssql_database.html.markdown
  website/docs/r/mssql_managed_database.html.markdown
Labels: enhancement, documentation, size/L, service/mssql, service/mssqlmanagedinstance

#27827 New Data Source: `azurerm_key_vault_managed_hardware_security_module_key`
  internal/services/managedhsm/key_vault_managed_hardware_security_module_key_data_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_key_data_resource_test.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_resource_test.go
  internal/services/managedhsm/registration.go
  website/docs/d/key_vault_managed_hardware_security_module_key.html.markdown
Labels: documentation, new-data-source, size/L, service/managed-hsm

#27880 Add .NET 9 support for app service and functions
  internal/services/appservice/helpers/app_stack.go
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: enhancement, documentation, size/L, service/app-service, service/functions, service/web-app

#28031 `azurerm_security_center_storage_defender` - fix acctests
  internal/services/securitycenter/security_center_storage_defender_resource_test.go
Labels: bug, size/XS, service/security-center, tests

#28026 `azurerm_iot_security_solution` - update test cases
  internal/services/securitycenter/iot_security_solution_resource_test.go
Labels: bug, size/XS, service/security-center, tests

#27993 azurerm_virtual_network , azurerm_subnet: Add 'Informatica.DataManagement/organizations' service name to service endpoint allowed values.
  internal/services/network/subnet_resource.go
  website/docs/r/subnet.html.markdown
  website/docs/r/virtual_network.html.markdown
Labels: enhancement, documentation, service/subnets, service/virtual-networks, size/XS, service/network

#27630 azurerm_api_management_api_diagnostic & azurerm_api_management_diagnostic - error out when operation_name_format is set with identity not applicationinsights
  internal/services/apimanagement/api_management_api_diagnostic_resource.go
  internal/services/apimanagement/api_management_diagnostic_resource.go
Labels: enhancement, size/S, service/api-management

#28021 FourPointOh - remove from services A-I with low find counts
  internal/services/analysisservices/analysis_services_server_resource.go
  internal/services/appservice/validate/app_settings.go
  internal/services/attestation/attestation_provider_resource.go
  internal/services/automation/automation_certificate_resource.go
  internal/services/automation/automation_job_schedule_resource.go
  internal/services/batch/batch_account_resource.go
  internal/services/batch/batch_pool_resource.go
  internal/services/cdn/frontdoorruleactions/cdn_frontdoor_rule_actions.go
  internal/services/connections/api_connection_resource.go
  internal/services/containerapps/container_app_job_resource.go
  internal/services/containerapps/container_app_job_resource_test.go
  internal/services/containerapps/helpers/container_app_environment.go
  internal/services/containerapps/helpers/container_apps.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource.go
  internal/services/cosmos/cosmosdb_cassandra_datacenter_resource_test.go
  internal/services/cosmos/cosmosdb_notebook_workspace_resource.go
  internal/services/cosmos/cosmosdb_notebook_workspace_resource_test.go
  internal/services/cosmos/registration.go
  internal/services/databoxedge/customizediff.go
  internal/services/databoxedge/databox_edge_order_resource.go
  internal/services/databoxedge/databox_edge_order_resource_test.go
  internal/services/databoxedge/registration.go
  internal/services/databricks/databricks_customer_managed_key_resource.go
  internal/services/databricks/databricks_customer_managed_key_resource_test.go
  internal/services/databricks/databricks_workspace_resource.go
  internal/services/databricks/registration.go
  internal/services/datafactory/data_factory_integration_runtime_azure_resource.go
  internal/services/iothub/iothub_resource.go
Labels: enhancement, size/XL, service/app-service, service/cosmosdb, service/iot-hub, service/cdn, service/automation, service/databricks, service/data-factory, service/batch, service/analysis, service/attestation, service/databox-edge, service/connections, service/container-apps

#28030 `azurerm_security_center_auto_provisioning` - deprecate resource
  internal/services/securitycenter/registration.go
  internal/services/securitycenter/security_center_auto_provisioning_resource.go
  internal/services/securitycenter/security_center_auto_provisioning_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/security_center_auto_provisioning.html.markdown
Labels: documentation, breaking-change, size/XS, service/security-center

#28046 `acctest` - restore test provider definition for alt tenant testing
  internal/acceptance/testcase.go
Labels: size/XS, tests

#28042 FourPointOh - Remove from services storage, containers, cdn, misc
  internal/common/client_options.go
  internal/provider/function/normalise_resource_id_test.go
  internal/provider/function/parse_resource_id_test.go
  internal/resourceproviders/errors.go
  internal/services/automation/automation_software_update_configuration_resource.go
  internal/services/cdn/cdn_endpoint_custom_domain_resource.go
  internal/services/cdn/cdn_endpoint_custom_domain_resource_test.go
  internal/services/cdn/cdn_endpoint_resource.go
  internal/services/cdn/cdn_frontdoor_helpers.go
  internal/services/cdn/cdn_frontdoor_origin_resource.go
  internal/services/cdn/cdn_frontdoor_origin_resource_test.go
  internal/services/cdn/cdn_frontdoor_route_disable_link_to_default_domain_resource.go
  internal/services/cdn/cdn_frontdoor_route_disable_link_to_default_domain_resource_test.go
  internal/services/cdn/registration.go
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_data_source_test.go
  internal/services/containers/kubernetes_cluster_node_pool_data_source.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/probe.go
  internal/services/storage/storage_account_customer_managed_key_resource.go
  internal/services/storage/storage_account_data_source.go
  internal/services/storage/storage_share_directory_resource.go
  internal/services/storage/storage_share_directory_resource_test.go
  internal/services/storage/storage_table_entities_data_source.go
  internal/services/storage/storage_table_entity_data_source.go
  internal/services/storage/storage_table_entity_resource.go
  internal/services/storage/storage_table_entity_resource_test.go
  main.go
Labels: enhancement, waiting-response, service/storage, size/XL, service/cdn, service/automation

#27734 `nginx`: fix nginx configuration acc test
  internal/services/nginx/nginx_configuration_resource.go
Labels: enhancement, waiting-response, size/S, tests, service/nginx

#27682 New Resource: `azurerm_eventgrid_namespace`
  internal/clients/client.go
  internal/provider/services.go
  internal/services/eventgrid/client/client.go
  internal/services/eventgrid/eventgrid_namespace_resource.go
  internal/services/eventgrid/eventgrid_namespace_resource_test.go
  internal/services/eventgrid/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/id_namespace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/method_listsharedaccesskeys.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/method_regeneratekey.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_clientauthenticationsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_connectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_dynamicroutingenrichment.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_inboundiprule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_namespace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_namespaceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_namespaceregeneratekeyrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_namespacesharedaccesskeys.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_namespacesku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_namespaceupdateparameterproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_namespaceupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_routingenrichments.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_routingidentityinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_staticroutingenrichment.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_staticstringroutingenrichment.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_topicsconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_topicspacesconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/model_updatetopicspacesconfigurationinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/eventgrid/2023-12-15-preview/namespaces/version.go
  vendor/modules.txt
  website/docs/r/eventgrid_namespace.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/event-grid

#28071 Update CODEOWNERS
  CODEOWNERS
Labels: size/XS

#27986 `azurerm_cosmosdb_account` - update for TLS 1.0&1.1 retirement
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/cosmosdb_account.html.markdown
Labels: enhancement, documentation, breaking-change, size/S, service/cosmosdb

#28045 `azurerm_eventhub_namespace` - `minimum_tls_version` no longer accept `1.0` and `1.1` as a value in 5.0
  internal/services/eventhub/eventhub_namespace_resource.go
  internal/services/eventhub/eventhub_namespace_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
Labels: enhancement, documentation, waiting-response, breaking-change, size/M, service/event-hubs

#28075 Dependencies - update `go-azure-sdk` to `v0.20241118.1115603`
  go.mod
  go.sum
  vendor/modules.txt
Labels: enhancement, dependencies, size/XS

#27954 Update schema-design-considerations.md
  contributing/topics/schema-design-considerations.md
Labels: enhancement, size/S

#27529 `kusto_cluster_resource` - `allowed_fqdns` and `allowed_ip_ranges` properties can be empty list when update
  internal/services/kusto/kusto_cluster_resource.go
Labels: bug, size/XS, service/kusto

#27828 `azurerm_virtual_network_gateway` - changing `ip_configuration` forces new
  internal/services/network/virtual_network_gateway_resource.go
  website/docs/r/virtual_network_gateway.html.markdown
Labels: bug, documentation, size/XS, service/virtual-network-gateway, service/network

#27935 azurerm_container_app.secret.name: enhance validation and fix error output
  internal/services/containerapps/validate/validate.go
  internal/services/containerapps/validate/validate_test.go
Labels: bug, size/XS, service/container-apps

#27189 feat: set implicit `condition_version` on `azurerm_role_assignment`
  internal/services/authorization/role_assignment_resource.go
  internal/services/authorization/role_assignment_resource_test.go
Labels: enhancement, size/M, service/authorization

#28011 `azurerm_application_gateway` - fix check for the `rewrite_rule` block when using the `Basic` SKU.
  internal/services/network/application_gateway_resource.go
  internal/services/network/application_gateway_resource_test.go
Labels: bug, size/XS, service/network

#26015 `azurerm_network_watcher_flow_log`: Property changes
  internal/services/network/network_watcher_flow_log_resource.go
  internal/services/network/network_watcher_flow_log_resource_test.go
  internal/services/network/network_watcher_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/network_watcher_flow_log.html.markdown
Labels: enhancement, documentation, dependencies, size/XL, service/network

#25412 `azurerm_linux_function_app_slot`: create content settings for linux function app slot too
  internal/services/appservice/linux_function_app_slot_resource.go
Labels: bug, size/XS, service/app-service

#27816 `azurerm_monitor_aad_diagnostic_setting` - deprecate `enabled_log.retention_policy` block
  internal/services/monitor/monitor_aad_diagnostic_setting_resource.go
  internal/services/monitor/monitor_aad_diagnostic_setting_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/monitor_aad_diagnostic_setting.html.markdown
Labels: enhancement, documentation, size/XL, service/monitor

#27758 azurerm_api_management_api fix the bug in example usage
  website/docs/r/api_management_api.html.markdown
Labels: bug, documentation, size/XS, service/api-management, examples

#28037 application_insights_api_key - Fixes infinite loop while checking for existing api keys
  internal/services/applicationinsights/application_insights_api_key_resource.go
Labels: bug, size/XS, service/application-insights

#28055 `azurerm_eventhub` - deprecate `namespace_name` and `resource_group_name` in favour of `namespace_id`
  internal/services/eventhub/eventhub_resource.go
  internal/services/eventhub/eventhub_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/eventhub.html.markdown
Labels: enhancement, documentation, size/L, service/event-hubs

#27478 `azurerm_search_service` - support attribute `customer_managed_key_encryption_compliance_status`
  internal/services/search/search_service_data_source.go
  internal/services/search/search_service_data_source_test.go
  internal/services/search/search_service_resource.go
  internal/services/search/search_service_resource_test.go
  website/docs/d/search_service.html.markdown
  website/docs/r/search_service.html.markdown
Labels: enhancement, documentation, size/XS, service/search

#28099 `azurerm_virtual_network_gateway` - fix crash issue when specifying `root_certificate ` or `revoked_certificate`
  internal/services/network/virtual_network_gateway_resource.go
  internal/services/network/virtual_network_gateway_resource_test.go
Labels: bug, size/S, service/network

#27913 `azurerm_logic_app_standard` - update resource to use `go-azure-sdk` and add `public_network_access`
  internal/services/logic/logic_app_standard_data_source.go
  internal/services/logic/logic_app_standard_resource.go
  internal/services/logic/logic_app_standard_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/d/logic_app_standard.html.markdown
  website/docs/r/logic_app_standard.html.markdown
Labels: enhancement, documentation, size/XL, service/logic

#28109 For Oracle ODB@A Resources Add annotation about ForceNew to docs
  website/docs/r/oracle_autonomous_database.html.markdown
  website/docs/r/oracle_cloud_vm_cluster.html.markdown
  website/docs/r/oracle_exadata_infrastructure.html.markdown
Labels: enhancement, documentation, size/M

#28114 `azurerm_cosmosdb_account` - Support new capabilities `EnableNoSQLFullTextSearch`
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, size/XS, service/cosmosdb

#28120 `azurerm_data_factory_linked_service_azure_sql_database` - send `tenant_id` only if it has been specified
  internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource.go
Labels: bug, size/XS, service/data-factory

#28110 `azurerm_eventgrid_event_subscription` - fix crash when flattening `advanced_filter`
  internal/services/eventgrid/event_subscription_funcs.go
Labels: bug, size/XS, service/event-grid

#26606 azurerm_databricks_workspace - support for enhanced security compliance features
  examples/databricks/enhanced-security-compliance/README.md
  examples/databricks/enhanced-security-compliance/main.tf
  examples/databricks/enhanced-security-compliance/variables.tf
  internal/services/databricks/databricks_workspace_data_source.go
  internal/services/databricks/databricks_workspace_data_source_test.go
  internal/services/databricks/databricks_workspace_resource.go
  internal/services/databricks/databricks_workspace_resource_test.go
  website/docs/d/databricks_workspace.html.markdown
  website/docs/r/databricks_workspace.html.markdown
Labels: enhancement, documentation, dependencies, size/XL, service/databricks
