Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2024-10, with the labels that each got.

#27514 `maintenance` - fix `TestAccMaintenanceAssignmentDynamicScope_update` recreate
  internal/services/maintenance/maintenance_assignment_dynamic_scope_resource_test.go
Labels: size/XS, service/maintenance

#27512 `azurerm_data_protection_backup_policy_disk` `azurerm_data_protection_backup_policy_postgresql` - remove update test since resource cannot be updated
  internal/services/dataprotection/data_protection_backup_policy_disk_resource_test.go
  internal/services/dataprotection/data_protection_backup_policy_postgresql_resource_test.go
Labels: size/S, service/data-protection

#27517 `managementgroup` - fix `TestAccManagementGroup_updateName` recreate
  internal/services/managementgroup/management_group_resource_test.go
Labels: size/XS, service/management-groups

#27540 Updated no longer supported code blocks
  examples/sql-azure/sql_server_auditing_log_analytics/main.tf
Labels: size/XS

#27552 Documentation - removed extra `"` character.
  website/docs/r/redis_enterprise_cluster.html.markdown
Labels: documentation, size/XS

#27499 `azurerm_signalr_service_custom_certificate`, `azurerm_signalr_service_custom_domain`, `azurerm_web_pubsub_custom_certificate`, `azurerm_signalr_service_custom_certificate` - update certificate for test cases
  internal/services/signalr/signalr_service_custom_certificate_resource_test.go
  internal/services/signalr/signalr_service_custom_domain_resource_test.go
  internal/services/signalr/testdata/custom-domain-cert-signalr.pfx
  internal/services/signalr/testdata/custom-domain-cert-wps.pfx
  internal/services/signalr/testdata/updated-cert-to-import.pfx
  internal/services/signalr/web_pubsub_custom_certificate_resource_test.go
  internal/services/signalr/web_pubsub_custom_domain_resource_test.go
Labels: size/XS, service/signalr

#27504 machine_learning_datastore_fileshare - Fix typo in docs
  website/docs/r/machine_learning_datastore_fileshare.html.markdown
Labels: documentation, size/XS

#27237 `azurerm_role_assignment` - fix id parsing for root or provider scoped role assignments
  internal/services/authorization/parse/role_assignment.go
  internal/services/authorization/parse/role_assignment_test.go
Labels: size/S, service/authorization

#27353 `azurerm_linux_virtual_machine_scale_set ` - fix crash in `nil` value for `auto_upgrade_minor_version_enabled`
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
Labels: crash, waiting-response, service/vmss, size/XS

#27560 `azurerm_virtual_network_gateway_connection` - make `shared_key` optional and computed again
  internal/services/network/virtual_network_gateway_connection_resource.go
  internal/services/network/virtual_network_gateway_connection_resource_test.go
Labels: size/XS, service/network

#27505 `azurerm_mssql_database` - set `short_term_retention_policy.backup_interval_in_hours` to nil when elastic pool is hyperscale
  internal/services/mssql/mssql_database_resource.go
  internal/services/mssql/mssql_database_resource_test.go
Labels: size/M, service/mssql

#27569 Doc Fix: Minor update to `azurerm_api_management_api_operation`
  website/docs/r/api_management_api_operation.html.markdown
Labels: documentation, size/XS

#27474 New resource: `azurerm_stack_hci_virtual_hard_disk`
  internal/services/azurestackhci/registration.go
  internal/services/azurestackhci/stack_hci_virtual_hard_disk_resource.go
  internal/services/azurestackhci/stack_hci_virtual_hard_disk_resource_test.go
  website/docs/r/stack_hci_virtual_hard_disk.html.markdown
Labels: documentation, new-resource, size/XL, service/azure-stack-hci

#27442 `azurerm_mysql_flexible_server` - fix setting `source_server_id` when reading `mysql_flexible_server` resource
  internal/services/mysql/mysql_flexible_server_resource.go
Labels: size/XS, service/mysql

#27461 `azurerm_management_group_subscription_association` - add migration for SDK update
  internal/services/managementgroup/migration/subscription_association_v0_to_v1.go
  internal/services/managementgroup/subscription_association_resource.go
  website/docs/r/management_group_subscription_association.html.markdown
Labels: documentation, size/S, service/management-groups, state-migration

#27476 remove `Microsoft.TimeSeriesInsights` from legacy Resource Provider list
  internal/resourceproviders/required.go
Labels: size/XS

#27516 `azurerm_sentinel_alert_rule_scheduled` - fix the acctest `TestAccSentinelAlertRuleScheduled_upgrade`
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
Labels: size/XS, service/sentinel

#27519 `relay` - fix `TestAccRelayHybridConnection_update` recreate
  internal/services/relay/relay_hybrid_connection_resource_test.go
Labels: size/XS, service/relay

#27521 `resource` - fix `TestAccResourceManagementPrivateLinkAssociation_requiresImport`
  internal/services/resource/resource_management_private_link_association_resource_test.go
Labels: size/XS

#27495 Adding a note explaining the transport configuration behavior in azurerm_container_app
  website/docs/r/container_app.html.markdown
Labels: documentation, size/XS

#27278 `azurerm_bastion_host` - support new SKU `Premium` and feature `Session recording`
  internal/services/network/bastion_host_data_source.go
  internal/services/network/bastion_host_data_source_test.go
  internal/services/network/bastion_host_resource.go
  internal/services/network/bastion_host_resource_test.go
  website/docs/r/bastion_host.html.markdown
Labels: documentation, size/L, service/network

#27323 `azurerm_data_protection_backup_policy_blob_storage` : remove deprecated property `retention_duration`
  internal/services/dataprotection/data_protection_backup_policy_blob_storage_resource.go
  internal/services/dataprotection/data_protection_backup_policy_blob_storage_resource_test.go
Labels: size/M, service/data-protection

#27328 `azurerm_bot_channels_registration` - remove four point oh feature flag
  internal/services/bot/bot_channels_registration_resource.go
  internal/services/bot/bot_channels_registration_resource_test.go
Labels: size/XL, service/bots

#27355 `azurerm_postgresql_flexible_server_configuration` - add lock to avoid confliction
  internal/services/postgres/postgresql_flexible_server_configuration_resource.go
Labels: size/XS, service/postgresql

#27616 azurerm_log_analytics_cluster size_gb now supportsall of 100, 200, 300, 400, 500, 1000, 2000, 5000, 10000, 25000, 50000
  internal/services/loganalytics/log_analytics_cluster_resource.go
  website/docs/r/log_analytics_cluster.html.markdown
Labels: documentation, size/XS, service/log-analytics

#27456 `azurerm_api_management_api_diagnostic` fix support for identifier `azuremonitor`
  internal/services/apimanagement/api_management_api_diagnostic_resource.go
Labels: size/XS, service/api-management

#27604 azurerm_nginx_deployment - allow in-place SKU change
  internal/services/nginx/nginx_deployment_resource.go
  website/docs/r/nginx_deployment.html.markdown
Labels: enhancement, documentation, size/XS, service/nginx

#27625 `data.azurerm_sentinel_alert_rule_anomaly` - fix acctest
  internal/services/sentinel/sentinel_alert_rule_anomaly_data_source_test.go
Labels: bug, size/XS, tests, service/sentinel

#27624 `azurerm_logic_workflow` - fix acctest `TestAccLogicAppWorkflow_tags`
  internal/services/logic/logic_app_workflow_resource_test.go
Labels: bug, size/XS, service/logic, tests

#27586 `azurerm_kubernetes_cluster_node_pool` & `azurerm_kubernetes_cluster`: Update doc for `node_public_ip_tags` property
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: enhancement, documentation, size/XS, service/kubernetes-cluster

#27568 Docs - Updated documentation to reflect that v4 of the provider is now released
  website/docs/guides/4.0-beta.html.markdown
  website/docs/guides/4.0-overview.html.markdown
  website/docs/guides/4.0-upgrade-guide.html.markdown
Labels: enhancement, documentation, size/M

#27644 Remove 4.0 beta issue template, updated guide link to regular templates
  .github/ISSUE_TEMPLATE/Beta_Feedback.md
Labels: enhancement, documentation, size/S, user-experience

#27583 `azurerm_kubernetes_cluster` - remove subnet lock
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
Labels: enhancement, waiting-response, size/XS, service/kubernetes-cluster

#27635 `azurerm_sentinel_alert_rule_anomaly_duplicate` - fix acctest
  internal/services/sentinel/sentinel_alert_rule_anomaly_duplicate_resource_test.go
Labels: bug, size/S, service/sentinel

#27654 Contributor Docs - add guide on deprecations and breaking changes
  contributing/README.md
  contributing/topics/guide-breaking-changes.md
Labels: enhancement, size/L

#27581 `azurerm_fluid_relay_server` - add support for `customer_managed_key`
  internal/services/fluidrelay/fluid_relay_servers_resource.go
  internal/services/fluidrelay/fluid_relay_servers_resource_test.go
  website/docs/r/fluid_relay_servers.html.markdown
Labels: enhancement, documentation, size/L, service/fluid-relay

#27534 azurerm_linux_virtual_machine - Support UBUNTU_PRO license_type for azurerm_linux_virtual_machine
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  website/docs/r/linux_virtual_machine.html.markdown
Labels: enhancement, documentation, service/virtual-machine, size/XS

#27543 `search` - fix TestAccSearchService_freeSku
  internal/services/search/search_service_resource_test.go
Labels: enhancement, size/XS, service/search

#27585 Migrating Azure App Configuration Kermit endpoint
  go.mod
  go.sum
  internal/services/appconfiguration/app_configuration.go
  internal/services/appconfiguration/app_configuration_feature_resource.go
  internal/services/appconfiguration/app_configuration_feature_resource_test.go
  internal/services/appconfiguration/app_configuration_key_data_source.go
  internal/services/appconfiguration/app_configuration_key_resource.go
  internal/services/appconfiguration/app_configuration_key_resource_test.go
  internal/services/appconfiguration/app_configuration_keys_data_source.go
  internal/services/appconfiguration/azuresdkhacks/dataplaneclient.go
  internal/services/appconfiguration/client/client.go
  vendor/github.com/jackofallops/kermit/LICENSE
  vendor/github.com/jackofallops/kermit/sdk/appconfiguration/1.0/appconfiguration/client.go
  vendor/github.com/jackofallops/kermit/sdk/appconfiguration/1.0/appconfiguration/enums.go
  vendor/github.com/jackofallops/kermit/sdk/appconfiguration/1.0/appconfiguration/models.go
  vendor/github.com/jackofallops/kermit/sdk/appconfiguration/1.0/appconfiguration/version.go
  vendor/github.com/jackofallops/kermit/version/version.go
  vendor/modules.txt
Labels: enhancement, dependencies, size/XL, service/app-configuration

#27595 Minor sample Update
  website/docs/r/container_app_custom_domain.html.markdown
Labels: enhancement, documentation, size/XS

#27465 `Compute` - Fix failed Acc Test
  internal/services/legacy/virtual_machine_managed_disks_resource_test.go
  internal/services/legacy/virtual_machine_scale_set_resource_test.go
  internal/services/legacy/virtual_machine_unmanaged_disks_resource_test.go
Labels: enhancement, service/virtual-machine, service/vmss, size/XL

#27617 `docs`: fix resource type name typo and aks rename field
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/orbital_contact.html.markdown
Labels: enhancement, documentation, size/XS

#27650 `azurerm_log_analytics_cluster` - fix error when updating
  internal/services/loganalytics/log_analytics_cluster_resource.go
Labels: bug, size/XS, service/log-analytics

#27638 New Resource: `azurerm_dev_center_attached_network`
  internal/services/devcenter/dev_center_attached_network_resource.go
  internal/services/devcenter/dev_center_attached_network_resource_test.go
  internal/services/devcenter/registration.go
  website/docs/r/dev_center_attached_network.html.markdown
Labels: documentation, new-resource, size/XL, service/dev-center

#27661 `azurerm_synapse_spark_pool` - fix a test
  internal/services/synapse/synapse_spark_pool_resource_test.go
Labels: size/XS, service/synapse

#27637 `azurerm_application_insights` - update error message and doc for server side automatic workspace migration
  internal/services/applicationinsights/application_insights_resource.go
  website/docs/r/application_insights.html.markdown
Labels: enhancement, documentation, size/XS, service/application-insights

#27634 `azurerm_data_factory_data_flow`, `azurerm_data_factory_integration_runtime_azure_ssis`: fix tests
  internal/services/datafactory/data_factory_data_flow_resource_test.go
  internal/services/datafactory/data_factory_integration_runtime_azure_ssis_resource_test.go
Labels: bug, size/M, service/data-factory

#27620 `azurerm_iothub` & `azurerm_iothub_certificate` - fixing acctests
  internal/services/iothub/iothub_certificate_resource_test.go
  internal/services/iothub/iothub_resource_test.go
Labels: bug, size/S, service/iot-hub

#27591 Fix azurerm_ip_group_cidr cannot be added to an ip_group hosted in a different subscription as per #27589
  internal/services/network/ip_group_cidr_resource.go
Labels: bug, size/XS, service/network

#27598 `azurerm_container_app` - adding property `max_inactive_revisions`
  internal/services/containerapps/container_app_data_source.go
  internal/services/containerapps/container_app_resource.go
  internal/services/containerapps/container_app_resource_test.go
  website/docs/d/container_app.html.markdown
  website/docs/r/container_app.html.markdown
Labels: enhancement, documentation, size/M, service/azure-stack-hci, service/container-apps

#27176 new resource and data source : azurerm_oracle_cloud_vm_cluster
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/oracle/client/client.go
  internal/services/oracle/cloud_vm_cluster_data_source.go
  internal/services/oracle/cloud_vm_cluster_data_source_test.go
  internal/services/oracle/cloud_vm_cluster_resource.go
  internal/services/oracle/cloud_vm_cluster_resource_test.go
  internal/services/oracle/db_servers_data_source.go
  internal/services/oracle/db_servers_data_source_test.go
  internal/services/oracle/exadata_infrastructure_data_source.go
  internal/services/oracle/exadata_infrastructure_data_source_test.go
  internal/services/oracle/exadata_infrastructure_resource.go
  internal/services/oracle/exadata_infrastructure_resource_test.go
  internal/services/oracle/registration.go
  internal/services/oracle/validate/cloud_vm_cluster.go
  internal/services/oracle/validate/exadata_infrastructure.go
  internal/services/oracledatabase/client/client.go
  website/allowed-subcategories
  website/docs/d/oracle_cloud_vm_cluster.html.markdown
  website/docs/d/oracle_db_servers.html.markdown
  website/docs/d/oracle_exadata_infrastructure.html.markdown
  website/docs/r/oracle_cloud_vm_cluster.html.markdown
  website/docs/r/oracle_exadata_infrastructure.html.markdown
Labels: enhancement, documentation, dependencies, size/XL

#27674 `azurerm_app_configuration` - support for premium sku
  internal/services/appconfiguration/app_configuration_resource.go
  internal/services/appconfiguration/app_configuration_resource_test.go
  website/docs/r/app_configuration.html.markdown
Labels: documentation, size/M, service/app-configuration

#27675 Revert "new resource and data source : azurerm_oracle_cloud_vm_cluster"
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/oracle/client/client.go
  internal/services/oracle/cloud_vm_cluster_data_source.go
  internal/services/oracle/cloud_vm_cluster_data_source_test.go
  internal/services/oracle/cloud_vm_cluster_resource.go
  internal/services/oracle/cloud_vm_cluster_resource_test.go
  internal/services/oracle/db_servers_data_source.go
  internal/services/oracle/db_servers_data_source_test.go
  internal/services/oracle/validate/cloud_vm_cluster.go
  internal/services/oracledatabase/client/client.go
  internal/services/oracledatabase/exadata_infrastructure_data_source.go
  internal/services/oracledatabase/exadata_infrastructure_data_source_test.go
  internal/services/oracledatabase/exadata_infrastructure_resource.go
  internal/services/oracledatabase/exadata_infrastructure_resource_test.go
  internal/services/oracledatabase/registration.go
  internal/services/oracledatabase/validate/exadata_infrastructure.go
  website/allowed-subcategories
  website/docs/d/oracle_cloud_vm_cluster.html.markdown
  website/docs/d/oracle_db_servers.html.markdown
  website/docs/d/oracledatabase_exadata_infrastructure.html.markdown
  website/docs/r/oracle_cloud_vm_cluster.html.markdown
  website/docs/r/oracledatabase_exadata_infrastructure.html.markdown
Labels: documentation, size/XL

#27669 Add CODEOWNERS & META.d
  CODEOWNERS
  META.d/_summary.yaml
Labels: enhancement, size/XS

#27673 Docs: `azurerm_virtual_hub` - add `virtual_router_auto_scale_min_capacity` to the argument list
  website/docs/r/virtual_hub.html.markdown
Labels: enhancement, documentation, size/XS

#27686 Revert "`azurerm_iothub` & `azurerm_iothub_certificate` - fixing acctests" to move fix to teamcity config
  internal/services/iothub/iothub_certificate_resource_test.go
  internal/services/iothub/iothub_resource_test.go
Labels: size/S, service/iot-hub

#27677 Introduce OracleDatabase VMCluster Resource & Data and DBServer Data
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/oracle/client/client.go
  internal/services/oracle/cloud_vm_cluster_data_source.go
  internal/services/oracle/cloud_vm_cluster_data_source_test.go
  internal/services/oracle/cloud_vm_cluster_resource.go
  internal/services/oracle/cloud_vm_cluster_resource_test.go
  internal/services/oracle/db_servers_data_source.go
  internal/services/oracle/db_servers_data_source_test.go
  internal/services/oracle/exadata_infrastructure_data_source.go
  internal/services/oracle/exadata_infrastructure_data_source_test.go
  internal/services/oracle/exadata_infrastructure_resource.go
  internal/services/oracle/exadata_infrastructure_resource_test.go
  internal/services/oracle/registration.go
  internal/services/oracle/validate/cloud_vm_cluster.go
  internal/services/oracle/validate/exadata_infrastructure.go
  website/allowed-subcategories
  website/docs/d/oracle_cloud_vm_cluster.html.markdown
  website/docs/d/oracle_db_servers.html.markdown
  website/docs/d/oracle_exadata_infrastructure.html.markdown
  website/docs/r/oracle_cloud_vm_cluster.html.markdown
  website/docs/r/oracle_exadata_infrastructure.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL

#27688 iothub: change primary test location to eastus
  .teamcity/components/settings.kt
Labels: size/XS

#27479 `azurerm_stack_hci_logical_network` - mark`subnet.route.name` property as optional
  internal/services/azurestackhci/stack_hci_logical_network_resource.go
  internal/services/azurestackhci/stack_hci_logical_network_resource_test.go
  website/docs/r/stack_hci_logical_network.html.markdown
Labels: bug, documentation, size/M, service/azure-stack-hci

#27685 azurerm_application_insights - adjust error message
  internal/services/applicationinsights/application_insights_resource.go
  website/docs/r/application_insights.html.markdown
Labels: documentation, size/XS, service/application-insights

#27547 `relay` - Fix TestAccRelayHybridConnection_update
  internal/services/relay/relay_hybrid_connection_resource_test.go
Labels: enhancement, size/XS, service/relay

#27690 `acceptance`: add the replace path to the error info
  internal/acceptance/helpers/is_not_resource_action.go
Labels: size/XS

#27707 Docs: `azurerm_storage_account` mention a container named `$web` will be created if `static_website` specified
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/XS

#27699 Minor function documentation update
  website/docs/functions/parse_resource_id.html.markdown
Labels: documentation, size/XS

#27712 `graphservices` - remove 4.0 flag
  internal/services/graphservices/graph_services_account_resource.go
  internal/services/graphservices/graph_services_account_resource_test.go
  internal/services/graphservices/registration.go
Labels: size/M, service/graph

#27714 `azurerm_mssql_database` - fix short term retention update
  internal/services/mssql/mssql_database_resource.go
  internal/services/mssql/mssql_database_resource_test.go
Labels: size/M, service/mssql

#27694 `firewall`: remove or updat acctests contains replace cases
  internal/services/firewall/firewall_policy_resource_test.go
  internal/services/firewall/firewall_policy_rule_collection_group_resource_test.go
  internal/services/firewall/firewall_resource_test.go
Labels: size/XS, service/firewall, tests

#27632 New Resource: `azurerm_video_indexer_account`
  .github/labeler-issue-triage.yml
  .github/labeler-pull-request-triage.yml
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/videoindexer/account_resource.go
  internal/services/videoindexer/account_resource_test.go
  internal/services/videoindexer/client/client.go
  internal/services/videoindexer/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/id_account.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/model_account.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/model_accountpatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/model_accountpropertiesforpatchrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/model_accountpropertiesforputrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/model_storageservicesforpatchrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/model_storageservicesforputrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/video_indexer_account.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/app-service

#27711 `azurerm_subscription_policy_assignment` - add nil pointer check
  internal/services/policy/assignment.go
Labels: bug, size/XS, service/policy

#25574 `azurerm_automation_software_update_configuration` - fix issue about `monthly_occurrence` is not allowed to be set to `-1`
  internal/services/automation/automation_software_update_configuration_resource.go
  internal/services/automation/automation_software_update_configuration_resource_test.go
  website/docs/r/automation_software_update_configuration.html.markdown
Labels: bug, documentation, dependencies, service/disks, service/storage, service/key-vault, size/M, service/hdinsight, service/mssql, service/app-service, service/service-bus, service/cosmosdb, service/monitor, service/application-insights, service/postgresql, service/automation, service/recovery-services, service/mysql, service/logic, service/data-factory, service/event-grid, service/security-center, service/log-analytics, service/signalr, service/media, service/machine-learning, tooling, service/maintenance, service/sentinel, service/management-groups, service/iot-time-series, service/attestation, service/virtual-desktops, service/domain-services, service/logz, service/service-fabric-managed-cluster, service/video-analyzer, service/load-test, service/sql, service/container-apps, service/network, service/hybrid-compute, service/graph, state-migration

#27713 Dependencies - update `go-azure-sdk` to `v0.20241021.1074254`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/autonomousdatabasecharactersets/model_autonomousdatabasecharactersetproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/autonomousdatabasenationalcharactersets/model_autonomousdatabasenationalcharactersetproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/autonomousdatabaseversions/model_autonomousdbversionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/dbnodes/model_dbnodeproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/dbsystemshapes/model_dbsystemshapeproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/dnsprivateviews/model_dnsprivateviewproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/dnsprivatezones/model_dnsprivatezoneproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/giversions/model_giversionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/systemversions/model_systemversionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/web/2023-12-01/appserviceplans/model_siteproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/web/2023-12-01/webapps/model_siteproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/client.go
  vendor/modules.txt
Labels: enhancement, dependencies, size/L

#27696 Introduce Oracle Autonomous Database Resource & Data
  internal/services/oracle/autonomous_database_regular_data_source.go
  internal/services/oracle/autonomous_database_regular_data_source_test.go
  internal/services/oracle/autonomous_database_regular_resource.go
  internal/services/oracle/autonomous_database_regular_resource_test.go
  internal/services/oracle/cloud_vm_cluster_data_source.go
  internal/services/oracle/cloud_vm_cluster_resource.go
  internal/services/oracle/registration.go
  internal/services/oracle/validate/autonomous_database_regular.go
  internal/services/oracledatabase/client/client.go
  website/docs/d/oracle_autonomous_database_regular.html.markdown
  website/docs/r/oracle_autonomous_database_regular.html.markdown
Labels: documentation, new-resource, new-data-source, size/XL

#27745 azurerm_linux_function_app fix the bug in example usage
  website/docs/r/linux_function_app.html.markdown
Labels: documentation, size/XS, service/app-service

#27706 New Resource: `azurerm_dev_center_project_pool`
  internal/services/devcenter/dev_center_project_pool_resource.go
  internal/services/devcenter/dev_center_project_pool_resource_test.go
  internal/services/devcenter/registration.go
  internal/services/devcenter/validate/dev_center_project_pool_name.go
  internal/services/devcenter/validate/dev_center_project_pool_name_test.go
  website/docs/r/dev_center_project_pool.html.markdown
Labels: documentation, new-resource, size/XL, service/dev-center

#27511 `consumption` - remove 4.0 flag and fix tests
  internal/services/consumption/consumption_budget_base.go
  internal/services/consumption/consumption_budget_management_group_resource.go
  internal/services/consumption/consumption_budget_resource_group_resource_test.go
  website/docs/r/consumption_budget_management_group.html.markdown
  website/docs/r/consumption_budget_resource_group.html.markdown
  website/docs/r/consumption_budget_subscription.html.markdown
Labels: bug, documentation, size/L, service/consumption

#27692 `azurerm_cosmosdb_sql_container` - add force new condition for `partition_key_version` property
  internal/services/cosmos/cosmosdb_sql_container_resource.go
  internal/services/cosmos/cosmosdb_sql_container_resource_test.go
  website/docs/r/cosmosdb_sql_container.html.markdown
Labels: bug, documentation, size/XS, service/cosmosdb

#27737 `azurerm_mssql_managed_instance` - allow `storage_account_type` to be updated
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource.go
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource_test.go
  website/docs/r/mssql_managed_instance.html.markdown
Labels: documentation, size/S, service/mssqlmanagedinstance

#27551 container apps - support for additional settings in container apps probes
  internal/services/containerapps/container_app_resource_test.go
  internal/services/containerapps/helpers/container_apps.go
  website/docs/d/container_app.html.markdown
  website/docs/r/container_app.html.markdown
Labels: enhancement, documentation, size/M, service/container-apps

#27509 [fix] Correctly set`replica_server_id` on `azurerm_postgresql_flexible_server_virtual_endpoint` for`azurerm_postgresql_flexible_server`s that exist in separate resource groups
  internal/services/postgres/custompollers/postgresql_flexible_server_virtual_endpoint_resource_poller.go
  internal/services/postgres/postgresql_flexible_server_virtual_endpoint_resource.go
  internal/services/postgres/postgresql_flexible_server_virtual_endpoint_resource_test.go
Labels: bug, size/XL, service/postgresql

#27389 `azurerm_network_watcher_flow_log`: fix updating tags on existing resource
  internal/services/network/network_watcher_flow_log_resource.go
Labels: bug, size/XS, service/network

#27698 Introduce Additional Oracle Data Sources.
  internal/services/oracle/autonomous_database_char_set_data_source.go
  internal/services/oracle/autonomous_database_char_set_data_source_test.go
  internal/services/oracle/autonomous_database_nchar_set_data_source.go
  internal/services/oracle/autonomous_database_nchar_set_data_source_test.go
  internal/services/oracle/db_nodes_data_source.go
  internal/services/oracle/db_nodes_data_source_test.go
  internal/services/oracle/db_servers_data_source.go
  internal/services/oracle/db_system_shapes_data_source.go
  internal/services/oracle/db_system_shapes_data_source_test.go
  internal/services/oracle/gi_versions_data_source.go
  internal/services/oracle/gi_versions_data_source_test.go
  internal/services/oracle/registration.go
  website/docs/d/oracle_adbs_character_sets.html.markdown
  website/docs/d/oracle_adbs_national_character_sets.html.markdown
  website/docs/d/oracle_db_nodes.html.markdown
  website/docs/d/oracle_db_system_shapes.html.markdown
  website/docs/d/oracle_gi_versions.html.markdown
Labels: enhancement, documentation, size/XL

#27735 `azurerm_storage_account_customer_managed_key`: update key vault uri document note for different subs
  website/docs/r/storage_account_customer_managed_key.html.markdown
Labels: enhancement, documentation, size/XS

#27515 `managedapplications` - fix `TestAccManagedApplicationDefinition_update` and `TestAccManagedApplication_plan`
  internal/services/managedapplications/managed_application_definition_resource.go
  internal/services/managedapplications/managed_application_definition_resource_test.go
  internal/services/managedapplications/managed_application_resource_test.go
Labels: enhancement, size/M, service/managed-apps

#27440 azurerm_application_gateway - support for the Basic SKU
  internal/services/network/application_gateway_resource.go
  internal/services/network/application_gateway_resource_test.go
  website/docs/r/application_gateway.html.markdown
Labels: enhancement, documentation, size/XL, service/network

#27700 `azurerm_windows_function_app_slot` - fixed panic when planning
  internal/services/appservice/migration/windows_function_app_slot.go
Labels: bug, size/XS, service/app-service, state-migration

#27629 `azurerm_data_factory_linked_service_azure_sql_database` - adding `credential` block
  internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource.go
  internal/services/datafactory/data_factory_linked_service_azure_sql_database_resource_test.go
  website/docs/r/data_factory_linked_service_azure_sql_database.html.markdown
Labels: enhancement, documentation, size/M, service/data-factory

#27769 Update oracle_autonomous_database documentation names - remove _regular suffix
  website/docs/d/oracle_autonomous_database.html.markdown
  website/docs/r/oracle_autonomous_database.html.markdown
Labels: documentation, size/XS

#27764 contributor docs - update guides on new resources and data sources
  contributing/topics/guide-new-data-source.md
  contributing/topics/guide-new-resource.md
Labels: documentation, size/L

#27320 `azurerm_kubernetes_cluster` - remove four point oh feature flag
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  internal/services/containers/kubernetes_nodepool.go
Labels: enhancement, waiting-response, size/XL, service/kubernetes-cluster

#27793 provider: add UA for 5.0 beta
  internal/common/client_options.go
Labels: size/XS

#27774 `azurerm_web_application_firewall_policy` - add support for `policy_settings.0.file_upload_enforcement`
  internal/services/network/web_application_firewall_policy_resource.go
  internal/services/network/web_application_firewall_policy_resource_test.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: enhancement, documentation, size/M, service/network

#27384 [New resource] `azurerm_machine_learning_workspace_network_outbound_rule_fqdn`
  internal/services/machinelearning/client/client.go
  internal/services/machinelearning/machine_learning_workspace_network_outbound_rule_fqdn_resource.go
  internal/services/machinelearning/machine_learning_workspace_network_outbound_rule_fqdn_resource_test.go
  internal/services/machinelearning/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/id_outboundrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/id_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/method_provisionsprovisionmanagednetwork.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/method_settingsrulecreateorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/method_settingsruledelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/method_settingsruleget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/method_settingsrulelist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/model_fqdnoutboundrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/model_managednetworkprovisionoptions.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/model_managednetworkprovisionstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/model_outboundrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/model_outboundrulebasicresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/model_privateendpointdestination.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/model_privateendpointoutboundrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/model_servicetagdestination.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/model_servicetagoutboundrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/machinelearningservices/2024-04-01/managednetwork/version.go
  vendor/modules.txt
  website/docs/r/machine_learning_workspace_network_outbound_rule_fqdn.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/machine-learning

#27596 `azurerm_kubernetes_cluster`: support for the `backend_pool_type` property
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/S, service/kubernetes-cluster

#27588 `azurerm_kubernetes_cluster` - support for`daemonset_eviction_for_empty_nodes_enabled`, `daemonset_eviction_for_occupied_nodes_enabled` and `ignore_daemonsets_utilization_enabled` properties
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_cluster_scaling_resource_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/L, service/kubernetes-cluster

#27797 `automation_xx`: call `MarkAsGone` if resource not found in Read
  internal/services/automation/automation_hybrid_runbook_worker_group_resource.go
  internal/services/automation/automation_hybrid_runbook_worker_group_resource_test.go
  internal/services/automation/automation_hybrid_runbook_worker_resource.go
  internal/services/automation/automation_hybrid_runbook_worker_resource_test.go
  internal/services/automation/automation_python3_package_resource.go
Labels: bug, size/XS, service/automation

#27763 `azurerm_cosmosdb_account` - support new version of `mongo_server_version`
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: enhancement, documentation, size/M, service/cosmosdb

#27800 `azurerm_load_test` - fix test failure of `TestAccLoadTest_update`
  internal/services/loadtestservice/load_test_resource.go
  website/docs/r/load_test.html.markdown
Labels: documentation, size/XS, service/load-test

#27799 `azurerm_virtual_desktop_workspace` - fix test failure of `TestAccAzureRMDesktopVirtualizationWorkspace_update`
  internal/services/desktopvirtualization/virtual_desktop_workspace_resource_test.go
Labels: size/XS, tests, service/virtual-desktops

#27787 `azurerm_kubernetes_cluster` - fix several AKS tests
  internal/services/containers/kubernetes_cluster_addons_resource_test.go
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
Labels: enhancement, size/XL, service/kubernetes-cluster

#27785 Make OCID property exportable after Oracle VMCluster creation
  internal/services/oracle/cloud_vm_cluster_resource.go
  website/docs/r/oracle_cloud_vm_cluster.html.markdown
Labels: enhancement, documentation, size/XS, service/oracle

#27762 `azurerm_data_protection_backup_vault` - fix invalid memory address or nil pointer dereference issue
  internal/services/dataprotection/data_protection_backup_vault_resource.go
  internal/services/dataprotection/data_protection_backup_vault_resource_test.go
Labels: bug, crash, size/XS, service/data-protection

#26929 new resource `azurerm_stack_hci_extension`
  internal/services/azurestackhci/registration.go
  internal/services/azurestackhci/stack_hci_extension_resource.go
  internal/services/azurestackhci/stack_hci_extension_resource_test.go
  website/docs/r/stack_hci_extension.html.markdown
Labels: documentation, new-resource, size/XL, service/azure-stack-hci

#27599 `azurerm_orchestrated_virtual_machine_scale_set` - add `sku_profile` to support instance mix feature
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
  internal/services/compute/validate/orchestrated_vmss_sku.go
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
Labels: enhancement, documentation, size/XL

#27731 `azurerm_role_management_policy` - fix a crash
  internal/services/authorization/models.go
  internal/services/authorization/role_management_policy.go
  internal/services/authorization/role_management_policy_data_source.go
  internal/services/authorization/role_management_policy_resource.go
Labels: bug, size/XL, service/authorization

#27794 azurerm_container_app_environment - changing the log_analytics_workspace_id property no longer creates a new resource
  internal/services/containerapps/container_app_environment_resource.go
  internal/services/containerapps/container_app_environment_resource_test.go
  website/docs/r/container_app_environment.html.markdown
Labels: documentation, size/XS, service/container-apps

#27811 Docs: Add example of `azurerm_role_definition` scoped to a Management Group.
  website/docs/r/role_definition.html.markdown
Labels: documentation, size/S

#27812 Docs: Adds note to `azurerm_application_gateway` about certificate rotation using versionless secret
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS, service/application-gateway

#27729 Migrating Azure AppService Kermit endpoint
  internal/services/appservice/helpers/auth_v2_schema.go
  internal/services/appservice/helpers/function_app_slot_schema.go
  internal/services/appservice/linux_function_app_resource.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/apps.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/appservicecertificateorders.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/appserviceenvironments.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/appserviceplans.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/certificateordersdiagnostics.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/certificateregistrationprovider.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/certificates.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/client.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/containerapps.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/containerappsrevisions.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/deletedwebapps.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/diagnostics.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/domainregistrationprovider.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/domains.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/enums.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/global.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/kubeenvironments.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/models.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/provider.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/recommendations.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/resourcehealthmetadata.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/staticsites.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/topleveldomains.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/version.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/workflowrunactionrepetitions.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/workflowrunactionrepetitionsrequesthistories.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/workflowrunactions.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/workflowrunactionscoperepetitions.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/workflowruns.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/workflows.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/workflowtriggerhistories.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/workflowtriggers.go
  vendor/github.com/jackofallops/kermit/sdk/web/2022-09-01/web/workflowversions.go
  vendor/modules.txt
Labels: enhancement, dependencies, size/XS, service/app-service

#27606 `azurerm_synapse_workspace_aad_admin` - fix dependency issue when removing `azurerm_synapse_workspace_aad_admin` for `azurerm_synapse_workspace`
  internal/services/synapse/synapse_workspace_aad_admin_resource.go
  internal/services/synapse/synapse_workspace_aad_admin_resource_test.go
Labels: enhancement, size/XS, service/synapse

#27795 Updates labeler-pull-request-triage for bug, enhancement, and breaking change
  .github/labeler-pull-request-triage.yml
Labels: enhancement, size/XS

#27813 `azurerm_key_vault_key` - `expiration_date` only recreates the resource when it is removed from the config file
  internal/services/keyvault/key_vault_key_resource.go
  internal/services/keyvault/key_vault_key_resource_test.go
  website/docs/r/key_vault_key.html.markdown
Labels: documentation, service/key-vault, size/M

#26521 `azurerm_cosmosdb_account`: support for CMK through `managed_hsm_key_id` property
  internal/customermanagedkeys/key_vault_or_managed_hsm_key.go
  internal/customermanagedkeys/key_vault_or_managed_hsm_key_test.go
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: enhancement, documentation, size/XL, service/cosmosdb, service/netapp

#27530 Data Source: `azurerm_virtual_network_peering` - resolve issue (#27486)
  .github/labeler-issue-triage.yml
  internal/services/network/registration.go
  internal/services/network/virtual_network_peering_data_source.go
  internal/services/network/virtual_network_peering_data_source_test.go
  website/docs/d/virtual_network_peering.html.markdown
Labels: documentation, new-data-source, size/XL, service/network

#27721 `azurerm_security_center_subscription_pricing` - correctly type assert additional properties
  internal/services/securitycenter/security_center_subscription_pricing_resource.go
  internal/services/securitycenter/security_center_subscription_pricing_resource_test.go
Labels: bug, size/M, service/security-center

#27833 `azurerm_web_application_firewall_policy` - support possible value `Uppercase` for property `transforms`
  internal/services/network/web_application_firewall_policy_resource.go
  internal/services/network/web_application_firewall_policy_resource_test.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: enhancement, service/web-application-firewall

#27834 Docs: Removed enabled property from encryption block in the example
  website/docs/r/container_registry.html.markdown
Labels: documentation, service/container-registry

#27720 `azurerm_trusted_signing_account` - new resource support
  .github/labeler-issue-triage.yml
  .github/labeler-pull-request-triage.yml
  .teamcity/components/generated/services.kt
  internal/clients/client.go
  internal/provider/services.go
  internal/services/codesigning/client/client.go
  internal/services/codesigning/registration.go
  internal/services/codesigning/trusted_signing_account_resource.go
  internal/services/codesigning/trusted_signing_account_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/id_certificateprofile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/id_codesigningaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/method_create.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/method_listbycodesigningaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/method_revokecertificate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/model_certificate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/model_certificateprofile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/model_certificateprofileproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/model_revocation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/model_revokecertificate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/certificateprofiles/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/id_codesigningaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/method_checknameavailability.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/method_create.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/model_accountsku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/model_accountskupatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/model_checknameavailability.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/model_checknameavailabilityresult.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/model_codesigningaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/model_codesigningaccountpatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/model_codesigningaccountpatchproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/model_codesigningaccountproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/codesigning/2024-09-30-preview/codesigningaccounts/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/trusted_signing_account.html.markdown
Labels: documentation, dependencies, new-resource, size/XL
