Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2024-09, with the labels that each got.

#27195 Update `media` service v4.0 clean up
  website/docs/r/media_asset.html.markdown
  website/docs/r/media_asset_filter.html.markdown
  website/docs/r/media_content_key_policy.html.markdown
  website/docs/r/media_job.html.markdown
  website/docs/r/media_live_event.html.markdown
  website/docs/r/media_live_output.html.markdown
  website/docs/r/media_services_account.html.markdown
  website/docs/r/media_services_account_filter.html.markdown
  website/docs/r/media_streaming_endpoint.html.markdown
  website/docs/r/media_streaming_locator.html.markdown
  website/docs/r/media_streaming_policy.html.markdown
  website/docs/r/media_transform.html.markdown
Labels: documentation, size/XL, service/media

#27137 `azurerm_api_management_logger` : support `connection_string` of `application_insights`
  internal/services/apimanagement/api_management_logger_resource.go
  internal/services/apimanagement/api_management_logger_resource_test.go
  website/docs/r/api_management_logger.html.markdown
Labels: documentation, size/M, service/api-management

#27264 Changing default testing location for container app resource
  .teamcity/components/settings.kt
Labels: size/XS

#27263 `azurerm_senitnel_alert_rule_nrt` - update docs and test cases for 4.0
  internal/services/sentinel/sentinel_alert_rule_nrt_resource.go
  internal/services/sentinel/sentinel_alert_rule_nrt_resource_test.go
  website/docs/r/sentinel_alert_rule_nrt.html.markdown
Labels: documentation, size/XS, service/sentinel

#27268 `dependencies` - bump `hashicorp/go-azure-sdk` to `v0.20240903.1111904`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_lro_statuses.go
  vendor/modules.txt
Labels: dependencies, size/XS

#27284 fix typo in listing
  CHANGELOG.md
Labels: size/XS

#27276 `azurerm_cosmosdb_account` - add state migration for `ip_range_filter` underlying type change
  internal/services/cosmos/common/ip_rules.go
  internal/services/cosmos/cosmosdb_account_data_source.go
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/migration/cosmosdb_account.go
Labels: size/XL, service/cosmosdb, state-migration

#27286 `azurerm_kubernetes_cluster`- fix test configs for renamed properties
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_upgrade_test.go
  internal/services/containers/kubernetes_cluster_scaling_resource_test.go
  internal/services/containers/kubernetes_nodepool.go
Labels: size/L

#27287 AKS: fix nat_gateway_profile block documentation
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS

#27269 `azurerm_sentinel_automation_rule` - fix panic and remove 4.0 flags
  internal/services/sentinel/sentinel_automation_rule_resource.go
  internal/services/sentinel/sentinel_automation_rule_resource_test.go
Labels: size/L, service/sentinel

#27296 Docs(azurerm_storage_management_policy): make argument value quoting consistent
  website/docs/r/storage_management_policy.html.markdown
Labels: documentation, size/S

#27184 Documentation updates - updated examples to use provider version 4.x
  website/docs/guides/aks_workload_identity.html.markdown
  website/docs/guides/azure_cli.html.markdown
  website/docs/guides/managed_service_identity.html.markdown
  website/docs/guides/service_principal_client_certificate.html.markdown
  website/docs/guides/service_principal_client_secret.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/XS

#27295 `azurerm_mysql_flexible_server` - set `source_server_id` in the state file
  internal/services/mysql/mysql_flexible_server_resource.go
Labels: size/XS, service/mysql

#27280 `azurerm_bot_service_azure_bot` - send value for `developer_app_insights_api_key`
  internal/services/bot/bot_service_azure_bot_resource_test.go
  internal/services/bot/bot_service_resource_base.go
Labels: size/XS, service/bots

#27259 add Microsoft.DevOpsInfrastructure as allowed services for subnet delegation
  internal/services/network/subnet_resource.go
  website/docs/r/subnet.html.markdown
Labels: documentation, size/XS, service/network

#27261 #27228: Support smb3_protocol_encryption_enabled part of azurerm_netapp_volume resource
  internal/services/netapp/netapp_volume_resource.go
  internal/services/netapp/netapp_volume_resource_test.go
  website/docs/r/netapp_volume.html.markdown
Labels: documentation, size/L, service/netapp

#27303 Docs: fix documentation for wrong resource
  website/docs/d/application_gateway.html.markdown
  website/docs/r/application_gateway.html.markdown
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: documentation, size/XS

#27302 `azurerm_cosmosdb_account` - fix crash during state migration
  internal/services/cosmos/migration/cosmosdb_account.go
Labels: size/XS, service/cosmosdb, state-migration

#27277 `bastionhosts` - upgrade api version from `2023-11-01` to `2024-01-01`
  internal/services/network/bastion_host_data_source.go
  internal/services/network/bastion_host_resource.go
  internal/services/network/bastion_host_resource_test.go
  internal/services/network/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/id_bastionhost.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_deletebastionshareablelink.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_deletebastionshareablelinkbytoken.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_disconnectactivesessions.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_getactivesessions.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_getbastionshareablelink.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_putbastionshareablelink.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/method_updatetags.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_bastionactivesession.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_bastionhost.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_bastionhostipconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_bastionhostipconfigurationpropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_bastionhostpropertiesformat.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_bastionhostpropertiesformatnetworkacls.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_bastionsessionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_bastionshareablelink.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_bastionshareablelinklistrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_bastionshareablelinktokenlistrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_iprule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_sessionids.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_sku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_subresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/model_tagsobject.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-01-01/bastionhosts/version.go
  vendor/modules.txt
Labels: dependencies, service/load-balancers, size/XL, service/app-service, service/cdn, service/logic, service/firewall, service/data-factory, service/network, service/paloalto, state-migration

#27240 `azurem_mssql_managed_instance`- support for `service_principal_type` property
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource.go
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource_test.go
  website/docs/r/mssql_managed_instance.html.markdown
Labels: documentation, size/M, service/mssqlmanagedinstance

#27305 `azurerm_servicebus_queue` - fix defaults and remove 4.0 flags
  internal/services/servicebus/servicebus_queue_resource.go
  internal/services/servicebus/servicebus_queue_resource_test.go
  website/docs/r/servicebus_queue.html.markdown
Labels: documentation, size/M, service/service-bus

#27294 `azurerm_linux_web_app` - retrieve and set site config into existing model when updating a linux web app
  internal/services/appservice/linux_web_app_resource.go
Labels: size/XS, service/app-service

#26657 New Resource: `azurerm_arc_machine_automanage_configuration_assignment`
  .github/labeler-issue-triage.yml
  internal/services/automanage/arc_machine_automanage_configuration_assignment_resource.go
  internal/services/automanage/arc_machine_automanage_configuration_assignment_resource_test.go
  internal/services/automanage/client/client.go
  internal/services/automanage/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofilehcrpassignments/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofilehcrpassignments/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofilehcrpassignments/id_providers2configurationprofileassignment.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofilehcrpassignments/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofilehcrpassignments/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofilehcrpassignments/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofilehcrpassignments/model_configurationprofileassignment.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofilehcrpassignments/model_configurationprofileassignmentproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofilehcrpassignments/version.go
  vendor/modules.txt
  website/docs/r/arc_machine_automanage_configuration_assignment.html.markdown
Labels: service/automanage

#27197 `azurerm_data_protection_backup_vault` : support new property `cross_region_restore_enabled`
  internal/services/dataprotection/data_protection_backup_vault_resource.go
  internal/services/dataprotection/data_protection_backup_vault_resource_test.go
  website/docs/r/data_protection_backup_vault.html.markdown
Labels: documentation, size/M, service/data-protection

#27379 `tooling` - update `Go` version to `1.22.7`
  .github/workflows/link-milestone.yaml
  .go-version
  go.mod
Labels: dependencies, size/XS

#27380 `dependencies` - deprecate legacy pointer functions
  utils/bool.go
  utils/float.go
  utils/int.go
  utils/pointer.go
  utils/string.go
Labels: size/XS

#27408 Minor update to the developer guide
  DEVELOPER.md
Labels: size/XS

#27381 Fix incorrect import spec
  website/docs/r/arc_machine_automanage_configuration_assignment.html.markdown
Labels: documentation, size/XS

#27352 `azurerm_application_insights ` - fix crash when read for DataVolumeCap is `nil`
  internal/services/applicationinsights/application_insights_resource.go
Labels: size/XS, service/application-insights

#27416 `azurerm_linux_virtual_machine_scale_set` - add description for non-computed `scale_in` property to 4.0 upgrade doc
  internal/services/compute/virtual_machine_scale_set.go
  website/docs/guides/4.0-upgrade-guide.html.markdown
Labels: documentation, service/vmss, size/S

#27425 Revert "Documentation updates - updated examples to use provider version 4.x"
  website/docs/guides/aks_workload_identity.html.markdown
  website/docs/guides/azure_cli.html.markdown
  website/docs/guides/managed_service_identity.html.markdown
  website/docs/guides/service_principal_client_certificate.html.markdown
  website/docs/guides/service_principal_client_secret.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/XS

#27409 `tests` - removing redundant service connector tests
  internal/services/serviceconnector/service_connector_app_service_resource_test.go
  internal/services/serviceconnector/service_connector_spring_cloud_resource_test.go
Labels: size/M, tests, service/service-connector

#27377 `tests` - `azurerm_managed_lustre_file_system` change test zone from 2 to 1
  internal/services/storagecache/managed_lustre_file_system_resource_test.go
Labels: size/XS, tests

#27366 `streamanalytics` - fix tests that were being recreated instead of updated
  internal/services/streamanalytics/stream_analytics_output_mssql_resource_test.go
  internal/services/streamanalytics/stream_analytics_output_synapse_resource_test.go
  internal/services/streamanalytics/stream_analytics_stream_input_iothub_resource_test.go
Labels: size/XS, service/stream-analytics, tests

#27426 `documentation` - update v3 refs for v4
  website/docs/guides/aks_workload_identity.html.markdown
  website/docs/guides/azure_cli.html.markdown
  website/docs/guides/managed_service_identity.html.markdown
  website/docs/guides/service_principal_client_certificate.html.markdown
  website/docs/guides/service_principal_client_secret.html.markdown
  website/docs/guides/service_principal_oidc.html.markdown
Labels: documentation, size/S

#27412 tests - `servicebus` test fixes
  internal/services/servicebus/servicebus_namespace_resource_test.go
  internal/services/servicebus/servicebus_queue_resource_test.go
  internal/services/servicebus/servicebus_subscription_resource_test.go
  internal/services/servicebus/servicebus_topic_resource_test.go
Labels: size/S, service/service-bus

#27404 `azurerm_spring_cloud_gateway` - `environment_variables` and `sensitive_environment_variables` are no longer ForceNew
  internal/services/springcloud/spring_cloud_app_mysql_association_resource_test.go
  internal/services/springcloud/spring_cloud_build_pack_binding_resource_test.go
  internal/services/springcloud/spring_cloud_gateway_resource.go
  website/docs/r/spring_cloud_gateway.html.markdown
Labels: documentation, waiting-response, size/XS, service/spring

#27394 `azurerm_storage_blob` - `source` is no longer ForceNew / `azurerm_storage_object_replication` - `rules.x. source_container_name` and `rules.x. destination_container_name` are no longer ForceNew
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_blob_resource.go
  internal/services/storage/storage_object_replication_resource.go
  internal/services/storage/storage_object_replication_resource_test.go
  internal/services/storage/storage_share_file_resource_test.go
  internal/services/storage/storage_share_resource.go
  internal/services/storage/storage_share_resource_test.go
  internal/services/storage/storage_sync_resource_test.go
  internal/services/storage/storage_table_resource.go
  website/docs/r/storage_blob.html.markdown
  website/docs/r/storage_object_replication.html.markdown
Labels: documentation, service/storage, size/S

#27376 `tests` - TestAccStorageMoverJobDefinition_update
  internal/services/storagemover/storage_mover_job_definition_resource_test.go
Labels: size/XS, service/storagemover

#27365 `subscriptions` - Fix `TestAccLocationDataSource_eastUS`
  internal/services/subscription/extended_locations_data_source_test.go
  internal/services/subscription/location_data_source_test.go
Labels: waiting-response, size/XS, service/subscription

#27346 `web` - hardcode a location for static web tests
  internal/services/web/static_site_resource_test.go
Labels: size/S

#27427 `azurerm_container_registry` - updated georeplications documentation
  website/docs/r/container_registry.html.markdown
Labels: documentation, size/XS

#27211 `azurerm_monitor_alert_prometheus_rule_group` - fix aks `host_encryption_enabled` property in tests
  internal/services/monitor/monitor_alert_prometheus_rule_group_resource_test.go
  website/docs/r/monitor_alert_prometheus_rule_group.html.markdown
Labels: documentation, size/S, service/monitor

#27357 `azurerm_cosmosdb_account` : support new capability `EnableNoSQLVectorSearch`
  internal/services/cosmos/cosmosdb_account_resource.go
  internal/services/cosmos/cosmosdb_account_resource_test.go
  website/docs/r/cosmosdb_account.html.markdown
Labels: documentation, size/XS, service/cosmosdb

#27370 `azurerm_sentinel_log_analytics_workspace_onboarding` - remove 4.0 feature flag and update documents
  internal/services/sentinel/sentinel_log_analytics_workspace_onboard_resource.go
  internal/services/sentinel/sentinel_log_analytics_workspace_onboard_resource_test.go
  internal/services/sentinel/sentinel_threat_intelligence_indicator_resource_test.go
  website/docs/r/sentinel_threat_intelligence_indicator.html.markdown
Labels: documentation, size/M, service/sentinel

#27395 `azure_nginx_deployment`: Use the `standardv2_Monthly` SKU
  internal/services/nginx/nginx_certificate_resource_test.go
  internal/services/nginx/nginx_configuration_resource_test.go
  internal/services/nginx/nginx_deployment_resource_test.go
  website/docs/d/nginx_deployment.html.markdown
  website/docs/r/nginx_deployment.html.markdown
Labels: documentation, size/XS, service/nginx

#27397 Docs Update - Update Provider Version To Enable Correct Minor Version Incrementation
  website/docs/guides/aks_workload_identity.html.markdown
  website/docs/guides/azure_cli.html.markdown
  website/docs/guides/managed_service_identity.html.markdown
  website/docs/guides/service_principal_client_certificate.html.markdown
  website/docs/guides/service_principal_client_secret.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/XS

#27411 CI: bump golangci-lint-action to 6.1.0
  .github/workflows/golint.yaml
Labels: size/XS

#27419 `azurerm_application_insights` - remove 4.0 flag
  internal/services/applicationinsights/application_insights_resource.go
Labels: size/XS, service/application-insights

#27420 `azurerm_log_analytics_workspace_table` - set `total_retention_in_days` when `sku` is `Basic`
  internal/services/loganalytics/log_analytics_workspace_table_resource.go
  internal/services/loganalytics/log_analytics_workspace_table_resource_test.go
Labels: size/XS, service/log-analytics

#27421 `azurerm_template_deployment` - remove in 4.0
  internal/services/resource/registration.go
  internal/services/resource/template_deployment_resource.go
  internal/services/resource/template_deployment_resource_test.go
Labels: size/XL

#27422 `azurerm_log_analytics_linked_storage_account` - remove 4.0 flag
  internal/services/loganalytics/log_analytics_linked_storage_account_resource.go
  website/docs/r/log_analytics_linked_storage_account.html.markdown
Labels: documentation, size/XS, service/log-analytics

#27434 Azure CLI authentication documentation update
  website/docs/guides/azure_cli.html.markdown
Labels: documentation, size/XS

#27288 `VMSS` - Support updating `zones`
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_scaling_test.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_scaling_test.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, size/L

#25646 new resource `azurerm_stack_hci_deployment_setting`
  internal/services/azurestackhci/registration.go
  internal/services/azurestackhci/stack_hci_deployment_setting_resource.go
  internal/services/azurestackhci/stack_hci_deployment_setting_resource_test.go
  internal/services/azurestackhci/testdata/ad.ps1
  internal/services/azurestackhci/testdata/connect.ps1
  website/docs/r/stack_hci_deployment_setting.html.markdown
Labels: documentation, dependencies, waiting-response, size/XL, service/azure-stack-hci, service/extended-location

#26955 New Resource: `azurerm_data_protection_backup_policy_mysql_flexible_server`
  helpers/validate/time.go
  helpers/validate/time_test.go
  internal/services/dataprotection/data_protection_backup_policy_mysql_flexible_server_resource.go
  internal/services/dataprotection/data_protection_backup_policy_mysql_flexible_server_resource_test.go
  internal/services/dataprotection/registration.go
  internal/services/dataprotection/validate/backup_policy_mysql_flexible_server_name.go
  internal/services/dataprotection/validate/backup_policy_mysql_flexible_server_name_test.go
  internal/services/dataprotection/validate/backup_policy_mysql_flexible_server_time_zone.go
  website/docs/r/data_protection_backup_policy_mysql_flexible_server.html.markdown
Labels: documentation, size/XL, service/data-protection

#27396 `azurerm_container_app` - Relax validation on the ingress traffic
  internal/services/containerapps/container_app_resource.go
  internal/services/containerapps/container_app_resource_test.go
  website/docs/r/container_app.html.markdown
Labels: documentation, size/M, service/container-apps

#27205 `azurerm_role_management_policy` - Support for resource scope
  internal/services/authorization/role_management_policy_data_source.go
  internal/services/authorization/role_management_policy_data_source_test.go
  internal/services/authorization/role_management_policy_resource.go
  internal/services/authorization/role_management_policy_resource_test.go
  website/docs/d/role_management_policy.html.markdown
  website/docs/r/role_management_policy.html.markdown
Labels: documentation, size/L, service/authorization

#26177 New Resource: `azurerm_advisor_suppression`
  .github/labeler-issue-triage.yml
  internal/provider/services.go
  internal/services/advisor/advisor_suppression_resource.go
  internal/services/advisor/advisor_suppression_resource_test.go
  internal/services/advisor/client/client.go
  internal/services/advisor/registration.go
  internal/services/advisor/validate/duration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/suppressions/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/suppressions/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/suppressions/id_scopedsuppression.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/suppressions/method_create.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/suppressions/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/suppressions/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/suppressions/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/suppressions/model_suppressioncontract.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/suppressions/model_suppressionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/suppressions/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/suppressions/version.go
  vendor/modules.txt
  website/docs/r/advisor_suppresion.html.markdown
Labels: documentation, dependencies, size/XL, service/advisor

#25972 `azurerm_container_app_custom_domain` - fix parsing the certificate ID error
  internal/services/containerapps/container_app_custom_domain_resource.go
  website/docs/r/container_app_custom_domain.html.markdown
Labels: documentation, dependencies, waiting-response, service/storage, size/S, service/app-service, service/postgresql, service/recovery-services, service/log-analytics, service/sentinel, service/authorization, service/data-protection, service/container-apps, service/network, service/elasticsan

#26345 `azurerm_static_web_app` - add `public_network_access_enabled` attribute
  internal/services/appservice/static_web_app_data_source.go
  internal/services/appservice/static_web_app_resource.go
  internal/services/appservice/static_web_app_resource_test.go
  website/docs/d/static_web_app.html.markdown
  website/docs/r/static_web_app.html.markdown
Labels: documentation, size/M, service/app-service

#27054 New Data Source : `azurerm_vpn_server_configuration`
  internal/services/network/registration.go
  internal/services/network/vpn_server_configuration_data_source_resource.go
  internal/services/network/vpn_server_configuration_data_source_resource_test.go
  website/docs/d/vpn_server_configuration.html.markdown
Labels: documentation, size/XL, service/network

#26370 azurerm_shared_image - support for the disk_controller_type_nvme_enabled property
  internal/services/compute/shared_image_resource.go
  internal/services/compute/shared_image_resource_test.go
  website/docs/r/shared_image.html.markdown
Labels: documentation, size/M

#27316 docs: monitor_autoscale_setting - update the external link
  website/docs/r/monitor_autoscale_setting.html.markdown
Labels: documentation, size/XS

#27037 Docs: Enhance `stream_analytics_job` example to use `StandardV2` SKU and add details around `streaming_units` parameter
  website/docs/r/stream_analytics_job.html.markdown
Labels: documentation, size/XS, stale

#27443 Data Source: remove deprecated datasource `azurerm_hybrid_compute_machine`
  internal/services/hybridcompute/hybrid_compute_machine_data_source.go
  internal/services/hybridcompute/hybrid_compute_machine_data_source_test.go
  internal/services/hybridcompute/registration.go
Labels: size/XL, service/hybrid-compute

#27414 `azurerm_monitor_data_collection_endpoint` - prevent replace in update test
  internal/services/monitor/monitor_data_collection_endpoint_data_source.go
  internal/services/monitor/monitor_data_collection_endpoint_resource.go
  internal/services/monitor/monitor_data_collection_endpoint_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/id_execution.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/id_job.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_executionslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_jobexecution.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_listsecrets.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_start.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_stopexecution.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_stopmultipleexecutions.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_basecontainer.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_container.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_containerappprobe.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_containerappprobehttpget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_containerappprobehttpgethttpheadersinlined.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_containerappprobetcpsocket.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_containerresources.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_environmentvar.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_job.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobconfigurationeventtriggerconfig.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobconfigurationmanualtriggerconfig.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobconfigurationscheduletriggerconfig.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobexecution.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobexecutionbase.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobexecutioncontainer.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobexecutionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobexecutiontemplate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobpatchproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobpatchpropertiesproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobscale.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobscalerule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobsecretscollection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobtemplate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_registrycredentials.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_scaleruleauth.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_secret.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_secretvolumeitem.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_volume.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_volumemount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/monitor

#27447 `azurerm_machine_learning_compute_cluster` Fix AccTest
  internal/services/machinelearning/machine_learning_compute_cluster_resource_test.go
Labels: size/XS, service/machine-learning

#27460 `azurerm_orbital_spacecraft`: fix update acc test
  internal/services/orbital/spacecraft_resource_test.go
Labels: size/XS, service/orbital

#27327 `azurerm_api_management_diagnostic` : remove default value for property `operation_name_format`
  internal/services/apimanagement/api_management_diagnostic_resource.go
Labels: size/XS, service/api-management

#27459 Minor update to azurerm_virtual_desktop_scaling_plan documentation
  website/docs/r/virtual_desktop_scaling_plan.html.markdown
Labels: documentation, size/XS

#27483 Add scaffolded 5.0 upgrade guide and hook up flag for testing
  .teamcity/components/build_azure.kt
  internal/features/five_point_oh.go
  website/docs/5.0-upgrade-guide.html.markdown
Labels: documentation, size/M

#27480 `azurerm_site_recovery_replicated_vm` - support for the `target_virtual_machine_size` property
  internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
  internal/services/recoveryservices/site_recovery_replicated_vm_resource_test.go
  website/docs/r/site_recovery_replicated_vm.html.markdown
Labels: documentation, size/XL, service/recovery-services

#27335 `azurerm_netapp_snapshot_policy` - remove four point oh feature flag
  internal/services/netapp/netapp_snapshot_policy_resource.go
Labels: size/XS, service/netapp

#27334 `azurerm_netapp_pool` - remove four point oh feature flag
  internal/services/netapp/netapp_pool_resource.go
Labels: size/XS, service/netapp

#27333 `azurerm_netapp_volume` - remove four point oh feature flag
  internal/services/netapp/netapp_volume_resource.go
Labels: size/XS, service/netapp

#27331 `azurerm_cosmosdb_sql_container` - remove four point oh feature flag
  internal/services/cosmos/cosmosdb_sql_container_resource.go
Labels: size/S, service/cosmosdb

#27326 `azurerm_bot_channel_web_chat` - remove four point oh feature flag
  internal/services/bot/bot_channel_web_chat_resource.go
  internal/services/bot/bot_channel_web_chat_resource_test.go
Labels: size/M, service/bots

#27322 `azurerm_bot_connection` - remove four point oh feature flag
  internal/services/bot/bot_connection_resource.go
Labels: size/XS, service/bots

#27494 `azurerm_log_analytics_workspace` - `sku` property remove 4.0 feature flag
  internal/services/loganalytics/log_analytics_workspace_resource.go
Labels: size/XS, service/log-analytics

#27471 Doc Fix: fixed data collection rule property address
  website/docs/guides/4.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#27360 `role_management_policy` Update documentation example to fix data `azuread_group` usage
  website/docs/r/role_management_policy.html.markdown
Labels: documentation, size/XS

#27508 `azurerm_storage_blob` - `source_content` is now ForceNew
  internal/services/storage/storage_blob_resource.go
  internal/services/storage/storage_blob_resource_test.go
  website/docs/r/storage_blob.html.markdown
Labels: documentation, service/storage, size/XS
