Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2024-06, with the labels that each got.

#26174 Fixing minor typo n Sample code
  website/docs/r/container_registry_cache_rule.html.markdown
Labels: documentation, size/XS

#25969 `container_app_job`: support secrets from Key Vault
  internal/services/containerapps/container_app_job_resource.go
  internal/services/containerapps/container_app_job_resource_test.go
  internal/services/containerapps/helpers/container_app_job.go
  website/docs/r/container_app.html.markdown
  website/docs/r/container_app_job.html.markdown
Labels: documentation, size/XL, service/container-apps

#26182 Data Source `azurerm_role_definition` - Fix an acctest about builtin contributor role
  internal/services/authorization/role_definition_data_source_test.go
Labels: size/XS, service/authorization

#26189 `network` - update route resources to use `go-azure-sdk`
  internal/services/network/route_map_resource.go
  internal/services/network/route_map_resource_test.go
  internal/services/network/route_server_bgp_connection_resource.go
  internal/services/network/route_server_bgp_connection_resource_test.go
  internal/services/network/route_server_resource.go
  internal/services/network/route_server_resource_test.go
Labels: size/XL, service/network

#26191 `network` - update private endpoint to use `go-azure-sdk`
  internal/services/network/private_endpoint_connection_data_source.go
  internal/services/network/private_endpoint_resource.go
Labels: size/L, service/network

#26204 `azurerm_storage_sync_server_endpoint` create/update polling
  internal/services/storage/custompollers/storage_sync_server_endpoint_poller.go
  internal/services/storage/storage_sync_server_endpoint_resource.go
  website/docs/r/storage_sync_server_endpoint.html.markdown
Labels: documentation, service/storage, size/M

#26181 Describe name requirement for stream_declaration in monitor_data_collection_rule
  website/docs/r/monitor_data_collection_rule.html.markdown
Labels: documentation, size/XS

#26205 upgrade `advisor` api to 2023-01-01
  internal/services/advisor/advisor_recommendations_data_source.go
  internal/services/advisor/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/id_scopedrecommendation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/method_recommendationsget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/method_recommendationslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/model_recommendationproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/model_resourcemetadata.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/model_resourcerecommendationbase.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/model_shortdescription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/advisor/2023-01-01/getrecommendations/version.go
  vendor/modules.txt
Labels: dependencies, size/M, service/advisor

#26150 Fix - `azurerm_api_management_named_value` would not enforce `secret=true` when using `value_from_key_vault`
  internal/services/apimanagement/api_management_named_value_resource.go
  internal/services/apimanagement/api_management_named_value_resource_test.go
  website/docs/r/api_management_named_value.html.markdown
Labels: documentation, size/S, service/api-management

#25970 `azurerm_data_protection_backup_policy_blob_storage` - support azure blob vaulted backup
  internal/services/dataprotection/data_protection_backup_policy_blob_storage_resource.go
  internal/services/dataprotection/data_protection_backup_policy_blob_storage_resource_test.go
  website/docs/r/data_protection_backup_policy_blob_storage.html.markdown
Labels: documentation, size/XL, service/data-protection

#25259 `azurerm_subnet` - adding property `default_outbound_access_enabled`
  internal/services/network/subnet_data_source.go
  internal/services/network/subnet_resource.go
  internal/services/network/subnet_resource_test.go
  website/docs/d/subnet.html.markdown
  website/docs/r/subnet.html.markdown
Labels: enhancement, documentation, service/subnets, size/M, service/network

#26206 dependencies: updating `hashicorp/go-azure-sdk` to `v0.20240603.1222802`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/sdk/client/resourcemanager/poller_lro_statuses.go
  vendor/modules.txt
Labels: dependencies, size/XS

#26196 `network` - update service endpoint storage policy to use `go-azure-sdk`
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/network/subnet_nat_gateway_association_resource.go
  internal/services/network/subnet_network_security_group_association_resource.go
  internal/services/network/subnet_resource.go
  internal/services/network/subnet_route_table_association_resource.go
  internal/services/network/subnet_route_table_association_resource_test.go
  internal/services/network/subnet_service_endpoint_storage_policy_resource.go
  internal/services/network/subnet_service_endpoint_storage_policy_resource_test.go
  internal/services/network/virtual_network_dns_servers_resource.go
  internal/services/network/virtual_network_resource.go
  internal/services/web/app_service_slot_virtual_network_swift_connection_resource.go
  internal/services/web/app_service_virtual_network_swift_connection_resource.go
Labels: size/L, service/network

#25773 Restore azurerm_nginx_configuration resource and data source
  internal/services/nginx/nginx_certificate_resource_test.go
  internal/services/nginx/nginx_configuration_data_source_test.go
  internal/services/nginx/nginx_configuration_resource.go
  internal/services/nginx/nginx_configuration_resource_test.go
  internal/services/nginx/nginx_deployment_resource.go
  internal/services/nginx/nginx_deployment_resource_test.go
  website/docs/d/nginx_configuration.html.markdown
  website/docs/r/nginx_configuration.html.markdown
  website/docs/r/nginx_deployment.html.markdown
Labels: enhancement, documentation, size/XL, deprecation, service/nginx

#26212 `network` - update private link resources and data sources to use `go-azure-sdk`
  internal/services/network/private_link_service_data_source.go
  internal/services/network/private_link_service_endpoint_connections_data_source.go
  internal/services/network/private_link_service_resource.go
  internal/services/network/private_link_service_resource_test.go
Labels: size/XL, service/network

#26199 `keyvault`: handling the Resources API returning key vaults that have been deleted
  internal/services/keyvault/client/populate_cache.go
Labels: service/key-vault, size/XS

#26175 `azurerm_vpn_server_configuration` - split create and update function to fix lifecycle - ignore
  internal/services/network/vpn_server_configuration_resource.go
Labels: size/M, service/network

#26207 `azurerm_vpn_server_configuration_policy_group` - split create and update function to fix lifecycle - ignore
  internal/services/network/vpn_server_configuration_policy_group_resource.go
Labels: size/M, service/network

#26221 `azurerm_kubernetes_cluster`: Remove note about AzureServiceMeshPreview flag
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#25168 Don't remove the revison suffix from the api_id of the API tag
  internal/services/apimanagement/api_management_api_tag_resource.go
Labels: breaking-change, size/XS, service/api-management

#26231 `azurerm_kubernetes_cluster` - fixes various crashes in 4.0 mode
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_nodepool.go
Labels: size/M, service/kubernetes-cluster

#26217 `network` - update virtual network resources to use `hashicorp/go-azure-sdk`
  internal/services/network/azuresdkhacks/network_interface.go
  internal/services/network/edge_zone.go
  internal/services/network/virtual_network_data_source.go
  internal/services/network/virtual_network_dns_servers_resource.go
  internal/services/network/virtual_network_dns_servers_resource_test.go
  internal/services/network/virtual_network_gateway_connection_data_source.go
  internal/services/network/virtual_network_gateway_connection_data_source_test.go
  internal/services/network/virtual_network_gateway_connection_resource.go
  internal/services/network/virtual_network_gateway_connection_resource_test.go
  internal/services/network/virtual_network_gateway_data_source.go
  internal/services/network/virtual_network_gateway_nat_rule_resource.go
  internal/services/network/virtual_network_gateway_nat_rule_resource_test.go
  internal/services/network/virtual_network_gateway_resource.go
  internal/services/network/virtual_network_gateway_resource_test.go
  internal/services/network/virtual_network_peering_resource_test.go
  internal/services/network/virtual_network_resource.go
  internal/services/network/virtual_network_resource_test.go
Labels: size/XL, service/network

#26242 PR Template Community Note Update added 'any updates' to extra noise
  .github/pull_request_template.md
Labels: size/XS

#26117 `azurerm_kubernetes_cluster` - support for the `web_app_routing.dns_zone_ids` property
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/L, service/kubernetes-cluster

#26246 `azurerm_virtual_network` - split create and update function to fix lifecycle - ignore
  internal/services/network/virtual_network_resource.go
Labels: size/L, service/network

#25531 `TypedSDK` - fix-up reflection for optional properties and unreachable codepaths and refactor out magic strings
  .github/workflows/static-analysis.yaml
  internal/sdk/plugin_sdk_test.go
  internal/sdk/resource_decode.go
  internal/sdk/resource_decode_test.go
  internal/sdk/resource_encode.go
  internal/sdk/resource_encode_test.go
  internal/services/automation/automation_software_update_configuration_resource.go
  internal/services/monitor/alert_processing_rule.go
  internal/services/recoveryservices/backup_policy_vm_workload_resource.go
  internal/tools/static-analysis/main.go
  internal/tools/static-analysis/rules/interface.go
  internal/tools/static-analysis/rules/typed_sdk_bit_check.go
  scripts/run-static-analysis.sh
Labels: size/XL, service/monitor, service/automation, service/recovery-services, tooling

#26275 Correct format in guide-new-resource documentation
  contributing/topics/guide-new-resource.md
Labels: size/XS

#26176 `azurerm_kubernetes_cluster` - Support in-place update of `network_profile.network_policy`
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
Labels: enhancement, size/M, service/kubernetes-cluster

#26266 `azurerm_route` - split createupdate in `azurerm_route_filter` and `azurerm_route_server`
  internal/services/network/route_filter_resource.go
  internal/services/network/route_server_resource.go
Labels: size/L, refactor, service/network

#26281 `azurerm_kubernetes_cluster` - update customize diff for `network_policy` to support updating existing clusters to use `azure` or `calico`
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
Labels: bug, waiting-response, size/S, service/kubernetes-cluster

#26282 provider: support subscription ID hinting when using Azure CLI authentication
  go.mod
  go.sum
  internal/provider/provider.go
  internal/provider/provider_test.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/auth.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/azure_cli_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/config.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/environments/interfaces.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/internal/azurecli/azcli.go
  vendor/modules.txt
Labels: enhancement, dependencies, size/L, authentication

#26237 `express_route_*` - split createupdate in `express_route_`
  internal/services/network/express_route_circuit_peering_resource.go
  internal/services/network/express_route_circuit_resource.go
  internal/services/network/express_route_gateway_resource.go
  internal/services/network/express_route_port_resource.go
  internal/services/network/public_ip_prefix_resource.go
  internal/services/network/public_ip_resource.go
Labels: size/XL, refactor, service/network

#26270 `azurerm_virtual_desktop_scaling_plan` - update documentation example to use updated service principal `display_name`
  website/docs/r/virtual_desktop_scaling_plan.html.markdown
Labels: documentation, size/XS, service/virtual-desktops

#26283 `azurerm_virtual_network` - Fix Parsing of NSG ID
  internal/services/network/virtual_network_resource.go
Labels: bug, size/XS, service/network

#26284 `azurerm_subnet` - turn `actions` into a set in 4.0
  internal/services/network/subnet_resource.go
Labels: enhancement, breaking-change, size/S, service/network

#26274 `azurerm_kubernetes_cluster`: Respect PDB on default node pool rotation
  internal/services/containers/kubernetes_cluster_resource.go
Labels: enhancement, size/XS, service/kubernetes-cluster

#26264 `azurerm_lb_backend_address_pool_address` - when using this resource, values are no longer reset on `azurerm_lb_backend_address_pool`
  internal/services/loadbalancer/backend_address_pool_address_resource.go
  internal/services/loadbalancer/backend_address_pool_address_resource_test.go
Labels: service/load-balancers, size/XS

#26294 `azurerm_lb` - set default `sku` to `Standard` for 4.0
  internal/services/loadbalancer/loadbalancer_resource.go
Labels: breaking-change, service/load-balancers, size/XS

#26293 `azurerm_network_interface` - removes `Computed` from `dns_server` and renames `enable_*` to `*_enabled`
  internal/services/legacy/virtual_machine_managed_disks_resource_test.go
  internal/services/network/network_interface_data_source.go
  internal/services/network/network_interface_resource.go
  internal/services/network/network_interface_resource_test.go
  internal/services/recoveryservices/recovery_services_vault_hyperv_host_test.go
  website/docs/d/network_interface.html.markdown
  website/docs/r/network_interface.html.markdown
Labels: enhancement, documentation, breaking-change, service/network-interfaces, size/XL, service/recovery-services, service/network

#26165 `azurerm_netapp_volume` - remove `Computed` from `network_features`, `create_from_snapshot_resource_id` and `protocols_enabled`
  internal/services/netapp/netapp_volume_resource.go
Labels: size/XS, service/netapp

#26251 `4.0` - various breaking schema changes for `azurerm_virtual_network_gateway_connection` and `azurerm_kubernetes_cluster`
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/network/virtual_network_gateway_connection_resource.go
  internal/services/network/virtual_network_gateway_connection_resource_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/L, service/kubernetes-cluster, deprecation, service/network

#26305 `azurerm_api_management` - deprecate and remove `policy` block in 4.0
  internal/services/apimanagement/api_management_resource.go
  internal/services/apimanagement/api_management_resource_test.go
  website/docs/r/api_management.html.markdown
Labels: documentation, size/L, service/api-management

#26248 `serviceconnector`: Upgrade service connector SDK version to 2024-04-01
  internal/services/serviceconnector/client/client.go
  internal/services/serviceconnector/helper.go
  internal/services/serviceconnector/service_connector_app_service_resource.go
  internal/services/serviceconnector/service_connector_app_service_resource_test.go
  internal/services/serviceconnector/service_connector_function_app_resource.go
  internal/services/serviceconnector/service_connector_function_app_resource_test.go
  internal/services/serviceconnector/service_connector_spring_cloud_resource.go
  internal/services/serviceconnector/service_connector_spring_cloud_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2022-05-01/servicelinker/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/id_connector.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/id_location.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/id_scopedlinker.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/method_connectorcreateorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/method_connectorget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/method_connectorlist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/method_linkercreateorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/method_linkerget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/method_linkerlist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_accesskeyinfobase.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_authinfobase.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_azurekeyvaultproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_azureresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_azureresourcepropertiesbase.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_configurationinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_configurationstore.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_confluentbootstrapserver.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_confluentschemaregistry.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_daprmetadata.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_daprproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_easyauthmicrosoftentraidauthinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_firewallrules.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_keyvaultsecretreferencesecretinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_keyvaultsecreturisecretinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_linkerproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_linkerresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_publicnetworksolution.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_secretauthinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_secretinfobase.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_secretstore.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_selfhostedserver.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_serviceprincipalcertificateauthinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_serviceprincipalsecretauthinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_systemassignedidentityauthinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_targetservicebase.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_useraccountauthinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_userassignedidentityauthinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_valuesecretinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/model_vnetsolution.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/servicelinker/2024-04-01/servicelinker/version.go
  vendor/modules.txt
Labels: dependencies, size/XL, service/service-connector

#26309 `azurerm_lb_backend_address_pool` - support for the `synchronous_mode` property
  internal/services/loadbalancer/backend_address_pool_address_resource.go
  internal/services/loadbalancer/backend_address_pool_resource.go
  internal/services/loadbalancer/backend_address_pool_resource_test.go
  website/docs/r/lb_backend_address_pool.html.markdown
Labels: documentation, service/load-balancers, size/L

#26308 `azurerm_container_groups` - allow windows container groups to be created with a User Assigned Identity
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
Labels: enhancement, size/XS, service/container-group

#26006 `azurerm_private_endpoint` - Remove internal lock on subnet while processing private endpoint
  internal/services/network/private_endpoint_resource.go
  internal/services/network/private_endpoint_resource_test.go
Labels: size/S, service/network

#25900 `azurerm_role_management_policy` New resource & data source
  internal/services/authorization/client/client.go
  internal/services/authorization/parse/role_management_policy.go
  internal/services/authorization/registration.go
  internal/services/authorization/role_management_policy.go
  internal/services/authorization/role_management_policy_data_source.go
  internal/services/authorization/role_management_policy_data_source_test.go
  internal/services/authorization/role_management_policy_resource.go
  internal/services/authorization/role_management_policy_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/id_scopedrolemanagementpolicy.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/method_listforscope.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/model_policyproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/model_policypropertiesscope.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/model_principal.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/model_rolemanagementpolicy.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/model_rolemanagementpolicyproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/model_rolemanagementpolicyrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/model_rolemanagementpolicyruletarget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicies/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/id_scopedrolemanagementpolicyassignment.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/method_create.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/method_listforscope.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/model_policyassignmentproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/model_policyassignmentpropertiespolicy.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/model_policyassignmentpropertiesroledefinition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/model_policyassignmentpropertiesscope.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/model_principal.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/model_rolemanagementpolicyassignment.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/model_rolemanagementpolicyassignmentproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/model_rolemanagementpolicyrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/model_rolemanagementpolicyruletarget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/authorization/2020-10-01/rolemanagementpolicyassignments/version.go
  vendor/modules.txt
  website/docs/d/role_management_policy.html.markdown
  website/docs/r/role_management_policy.html.markdown
Labels: documentation, dependencies, size/XL, service/authorization

#26317 `azurerm_synapse_workspace` - deprecate `aad_admin` and `sql_aad_admin`
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/synapse/synapse_workspace_resource_test.go
  internal/services/synapse/synapse_workspace_sql_aad_admin_resource.go
  website/docs/r/synapse_workspace.html.markdown
Labels: documentation, size/XL, deprecation, service/synapse

#26320 `azurerm_cosmosdb_cassandra_table` - remove `Computed` from `default_ttl`
  internal/services/cosmos/cosmosdb_cassandra_table_resource.go
Labels: size/XS, service/cosmosdb

#22164 `azurerm_automation_job_schedule`: update jobSchedule resource id format
  internal/services/automation/automation_job_schedule_resource.go
  internal/services/automation/automation_job_schedule_resource_test.go
  internal/services/automation/automation_runbook_resource.go
  internal/services/automation/automation_runbook_resource_test.go
  internal/services/automation/helper/automation_job_schedule.go
  internal/services/automation/migration/automation_job_schedule_migration_v0_to_v1.go
  website/docs/r/automation_job_schedule.html.markdown
  website/docs/r/automation_runbook.html.markdown
Labels: enhancement, documentation, breaking-change, size/XL, service/automation, state-migration

#26310 `azurerm_virtual_hub_*` - split CreateUpdate
  internal/services/network/virtual_hub_resource.go
  internal/services/network/virtual_hub_route_table_resource.go
  internal/services/network/virtual_hub_route_table_route_resource.go
Labels: size/L, service/network

#26339 `azurerm_databricks_workspace`: Fix disabling default firewall
  internal/services/databricks/databricks_workspace_resource.go
  internal/services/databricks/databricks_workspace_resource_test.go
Labels: size/M, service/databricks

#26336 `azurerm_role_management_policy` - Fix import spec
  website/docs/r/role_management_policy.html.markdown
Labels: documentation, size/XS, service/authorization

#26329 `trafficmanager` - remove `Computed` and set defaults for `weight` ,`priority` and `profile_status`
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/trafficmanager/azure_endpoint_resource.go
  internal/services/trafficmanager/azure_endpoint_resource_test.go
  internal/services/trafficmanager/external_endpoint_resource.go
  internal/services/trafficmanager/external_endpoint_resource_test.go
  internal/services/trafficmanager/nested_endpoint_resource.go
  internal/services/trafficmanager/nested_endpoint_resource_test.go
  internal/services/trafficmanager/traffic_manager_profile_resource.go
  internal/services/trafficmanager/traffic_manager_profile_resource_test.go
Labels: size/M, service/traffic-manager, service/synapse

#26330 `streamanalytics` - remove `Computed` and set default for `data_locale`
  internal/services/streamanalytics/stream_analytics_job_resource.go
  internal/services/streamanalytics/stream_analytics_job_schedule_resource.go
Labels: size/XS, service/stream-analytics

#26331 `recoveryservices` - remove `ConfigModeAttr`
  internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
  internal/services/recoveryservices/site_recovery_replicated_vm_resource_test.go
Labels: size/M, service/recovery-services

#26349 `azurerm_cosmosdb_gremlin_graph` - remove `Computed` from `default_ttl`
  internal/services/cosmos/cosmosdb_gremlin_graph_resource.go
Labels: size/XS, service/cosmosdb

#26332 `azurerm_cosmosdb_sql_container` - remove `Computed` from `default_ttl`
  internal/services/cosmos/cosmosdb_sql_container_resource.go
Labels: size/XS, service/cosmosdb

#26337 `sentinel` - review `Optional`+`Computed` properties
  internal/sdk/resource_encode.go
  internal/services/sentinel/sentinel_alert_rule_fusion_resource.go
  internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource.go
  internal/services/sentinel/sentinel_alert_rule_nrt_resource.go
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
  internal/services/sentinel/sentinel_automation_rule_resource.go
  internal/services/sentinel/sentinel_log_analytics_workspace_onboard_resource.go
  internal/services/sentinel/sentinel_metadata_resource.go
  internal/services/sentinel/sentinel_threat_intelligence_indicator_resource.go
  website/docs/r/sentinel_alert_rule_scheduled.html.markdown
Labels: documentation, size/L, service/sentinel

#26354 `mariadb` - deprecate all resources and data sources
  internal/services/mariadb/mariadb_configuration_resource.go
  internal/services/mariadb/mariadb_database_resource.go
  internal/services/mariadb/mariadb_firewall_rule_resource.go
  internal/services/mariadb/mariadb_server_data_source.go
  internal/services/mariadb/mariadb_server_resource.go
  internal/services/mariadb/mariadb_virtual_network_rule_resource.go
  internal/services/mariadb/registration.go
Labels: size/S, deprecation, service/maria-db

#26352 `devtestlabs` and `desktopvirtualization` - reviewed `Optional`+`Computed`
  internal/services/desktopvirtualization/virtual_desktop_application_resource.go
  internal/services/devtestlabs/dev_test_virtual_network_resource.go
Labels: size/M, service/devtestlabs, service/virtual-desktops

#26368 `keyvault` - review `ConfigModeAttr` for `access_policy`
  internal/services/keyvault/key_vault_resource.go
Labels: service/key-vault, size/XS

#26366 `synapse` - review `Optional`+`Computed`
  internal/services/synapse/synapse_sql_pool_resource.go
  internal/services/synapse/synapse_sql_pool_vulnerability_assessment_resource.go
  internal/services/synapse/synapse_workspace_vulnerability_assessment_resource.go
Labels: size/XS, service/synapse

#26355 `azurerm_signalr_service` - remove optional and computed from `cors`
  internal/services/signalr/signalr_service_resource.go
  internal/services/signalr/signalr_service_resource_test.go
Labels: size/M, service/signalr

#26004 `azurerm_system_center_virtual_machine_manager_server` - add `StateRefreshFunc` for checking the sync status
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_server_resource.go
  website/docs/r/system_center_virtual_machine_manager_server.html.markdown
Labels: documentation, size/M, service/systemcentervirtualmachinemanager

#26367 `network` - review `ConfigModeAttr` and split `CreateUpdate` for network connection monitor
  internal/services/network/network_connection_monitor_resource.go
  internal/services/network/network_connection_monitor_resource_test.go
  internal/services/network/network_security_group_resource.go
  internal/services/network/route_filter_resource.go
  internal/services/network/route_filter_resource_test.go
  internal/services/network/route_table_resource.go
  internal/services/network/virtual_network_resource.go
Labels: size/XL, service/network

#26353 `elastic` - remove `Computed` on `logs`
  internal/services/elastic/elasticsearch_resource.go
  internal/services/elastic/elasticsearch_resource_test.go
Labels: size/S, service/elastic

#25429 New Resource: `azurerm_system_center_virtual_machine_manager_cloud`
  internal/services/systemcentervirtualmachinemanager/registration.go
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_cloud_resource.go
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_cloud_resource_test.go
  internal/services/systemcentervirtualmachinemanager/validate/system_center_virtual_machine_manager_cloud_name.go
  internal/services/systemcentervirtualmachinemanager/validate/system_center_virtual_machine_manager_cloud_name_test.go
  website/docs/r/system_center_virtual_machine_manager_cloud.html.markdown
Labels: documentation, waiting-response, size/XL, blocked, service/systemcentervirtualmachinemanager

#26235 `azurerm_cosmosdb_account` - update the nil check for `mongo_server_version`
  internal/services/cosmos/cosmosdb_account_resource.go
Labels: size/XS, service/cosmosdb

#25449 New Resource: `azurerm_system_center_virtual_machine_manager_virtual_machine_template`
  internal/services/systemcentervirtualmachinemanager/registration.go
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_virtual_machine_template_resource.go
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_virtual_machine_template_resource_test.go
  internal/services/systemcentervirtualmachinemanager/validate/system_center_virtual_machine_manager_virtual_machine_template_name.go
  internal/services/systemcentervirtualmachinemanager/validate/system_center_virtual_machine_manager_virtual_machine_template_name_test.go
  website/docs/r/system_center_virtual_machine_manager_virtual_machine_template.html.markdown
Labels: documentation, size/XL, blocked, service/systemcentervirtualmachinemanager

#26356 update role_management_policy import docs
  website/docs/r/role_management_policy.html.markdown
Labels: documentation, size/XS

#26359 New Data Source: `azurerm_automation_runbook` -
  internal/services/automation/automation_runbook_data_source.go
  internal/services/automation/automation_runbook_data_source_test.go
  internal/services/automation/registration.go
  website/docs/d/automation_runbook.html.markdown
Labels: documentation, size/L, service/automation

#26399 `azurerm_dashboard_grafana` - set `grafana_major_version` to required in 4.0
  internal/services/dashboard/dashboard_grafana_resource.go
  internal/services/dashboard/dashboard_grafana_resource_test.go
Labels: size/M, service/dashboard

#26397 `azurerm_maps_account` - add `cors`, `data_store`, `location` and `identity`
  .teamcity/components/settings.kt
  internal/services/maps/client/client.go
  internal/services/maps/custompollers/maps_account_poller.go
  internal/services/maps/maps_account_data_source.go
  internal/services/maps/maps_account_data_source_test.go
  internal/services/maps/maps_account_resource.go
  internal/services/maps/maps_account_resource_test.go
  internal/services/maps/maps_creator_resource.go
  internal/services/maps/maps_creator_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2021-02-01/accounts/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2021-02-01/accounts/model_mapsaccountproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2021-02-01/accounts/model_mapsaccountupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2021-02-01/creators/model_creator.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/id_account.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/method_listkeys.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/method_listsas.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/method_regeneratekeys.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_accountsasparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_corsrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_corsrules.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_customermanagedkeyencryption.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_customermanagedkeyencryptionkeyencryptionkeyidentity.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_encryption.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_linkedresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_mapsaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_mapsaccountkeys.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_mapsaccountproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_mapsaccountsastoken.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_mapsaccountupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_mapskeyspecification.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/model_sku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/accounts/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/id_account.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/id_creator.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/method_listbyaccount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/model_creator.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/model_creatorproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/model_creatorupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/maps/2023-06-01/creators/version.go
  vendor/modules.txt
  website/docs/r/maps_account.html.markdown
Labels: enhancement, documentation, dependencies, size/XL, service/maps

#26383 `machinelearning` - review `Optional`+`Computed`
  internal/services/machinelearning/machine_learning_compute_cluster_resource.go
  internal/services/machinelearning/machine_learning_datastore_datalake_gen2_resource.go
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/machinelearning/machine_learning_workspace_resource_test.go
Labels: size/XL, service/machine-learning

#25763 azurerm_monitor_private_link_scope - api 2021-07-01-preview - ingestion and query mode access added
  internal/services/monitor/client/client.go
  internal/services/monitor/monitor_private_link_scope_resource.go
  internal/services/monitor/monitor_private_link_scope_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2019-10-17-preview/privatelinkscopesapis/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2019-10-17-preview/privatelinkscopesapis/model_privatelinkserviceconnectionstateproperty.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/id_privatelinkscope.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/method_privatelinkscopescreateorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/method_privatelinkscopesdelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/method_privatelinkscopesget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/method_privatelinkscopeslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/method_privatelinkscopeslistbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/method_privatelinkscopesupdatetags.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/model_accessmodesettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/model_accessmodesettingsexclusion.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/model_azuremonitorprivatelinkscope.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/model_azuremonitorprivatelinkscopeproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/model_privatelinkserviceconnectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/model_tagsresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/insights/2021-07-01-preview/privatelinkscopesapis/version.go
  vendor/modules.txt
  website/docs/r/monitor_private_link_scope.html.markdown
Labels: enhancement, documentation, dependencies, size/L, service/monitor

#26179 New Resource: `azurerm_email_communication_service_domain`
  internal/services/communication/client/client.go
  internal/services/communication/email_service_domain_resource.go
  internal/services/communication/email_service_domain_resource_test.go
  internal/services/communication/helper/domain_record.go
  internal/services/communication/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/id_domain.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/id_emailservice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/method_cancelverification.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/method_initiateverification.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/method_listbyemailserviceresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/model_dnsrecord.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/model_domainproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/model_domainpropertiesverificationrecords.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/model_domainpropertiesverificationstates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/model_domainresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/model_updatedomainproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/model_updatedomainrequestparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/model_verificationparameter.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/model_verificationstatusrecord.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/communication/2023-03-31/domains/version.go
  vendor/modules.txt
  website/docs/r/email_communication_service_domain.html.markdown
Labels: documentation, dependencies, size/XL, service/communication

#26184 `azurerm_synapse_spark_pool` - Set `spark_version` defaults to `v3.4`
  internal/services/synapse/synapse_spark_pool_resource.go
  internal/services/synapse/synapse_spark_pool_resource_test.go
Labels: documentation, size/S, service/synapse

#26185 `azurerm_container_app` - Add nil check to avoid panic
  internal/services/containerapps/container_app_resource.go
Labels: size/XS, service/container-apps

#26225 `azurerm_vpn_gateway_connection` - split create and update function to fix lifecycle - ignore
  internal/services/network/vpn_gateway_connection_resource.go
Labels: size/M, service/network

#26228 Adding cluster_id to HDInsight Data Source
  internal/services/hdinsight/hdinsight_cluster_data_source.go
  internal/services/hdinsight/hdinsight_cluster_data_source_test.go
  website/docs/d/hdinsight_cluster.html.markdown
Labels: documentation, size/XS, service/hdinsight

#26229 `azurerm_virtual_network_peering` - support for the `peer_complete_virtual_networks_enabled`, `only_ipv6_peering_enabled`, `local_subnet_names` and `remote_subnet_names` properties
  internal/services/network/virtual_network_peering_resource.go
  internal/services/network/virtual_network_peering_resource_test.go
  website/docs/r/virtual_network_peering.html.markdown
Labels: documentation, size/M, service/network

#26232 `azurerm_data_protection_backup_instance_blob_storage` - support for the `storage_account_container_names` property
  internal/services/dataprotection/data_protection_backup_instance_blob_storage_resource.go
  internal/services/dataprotection/data_protection_backup_instance_blob_storage_resource_test.go
  website/docs/r/data_protection_backup_instance_blob_storage.html.markdown
Labels: documentation, size/M, service/data-protection

#26249 New Resource: `azurerm_data_protection_backup_instance_postgresql_flexible_server`
  internal/services/dataprotection/data_protection_backup_instance_postgresql_flexible_server_resource.go
  internal/services/dataprotection/data_protection_backup_instance_postgresql_flexible_server_resource_test.go
  internal/services/dataprotection/registration.go
  website/docs/r/data_protection_backup_instance_postgresql_flexible_server.html.markdown
Labels: documentation, size/XL, service/data-protection

#25451 New Resource: `azurerm_system_center_virtual_machine_manager_virtual_network`
  internal/services/systemcentervirtualmachinemanager/registration.go
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_virtual_network_resource.go
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_virtual_network_resource_test.go
  internal/services/systemcentervirtualmachinemanager/validate/system_center_virtual_machine_manager_virtual_network_name.go
  internal/services/systemcentervirtualmachinemanager/validate/system_center_virtual_machine_manager_virtual_network_name_test.go
  website/docs/r/system_center_virtual_machine_manager_virtual_network.html.markdown
Labels: documentation, size/XL, blocked, service/systemcentervirtualmachinemanager

#26372 `azurerm_cosmosdb_sql_container` - support for the properties `partition_key_kind` and `partition_key_paths`
  internal/services/cosmos/cosmosdb_sql_container_resource.go
  internal/services/cosmos/cosmosdb_sql_container_resource_test.go
  website/docs/r/cosmosdb_sql_container.html.markdown
Labels: documentation, size/L, service/cosmosdb

#26406 `iothub` - review `Optional`+`Computed`
  internal/services/iothub/iothub_resource.go
Labels: size/S, service/iot-hub

#26420 Doc: fix import spec
  website/docs/r/email_communication_service_domain.html.markdown
Labels: documentation, size/XS

#26416 fix(docs): correct azurerm_express_route_circuit_peering data source
  website/docs/d/express_route_circuit_peering.html.markdown
Labels: documentation, size/XS, service/express-route

#26411 Auto PR: Regenerating based on (fec70df1cec5a8059f59a58245ba637cc9dd9d8f)
  website/docs/r/monitor_private_link_scope.html.markdown
Labels: documentation, size/XS

#26376 New Data Source: azurerm_load_test
  internal/services/loadtestservice/load_test_data_source.go
  internal/services/loadtestservice/load_test_data_source_test.go
  internal/services/loadtestservice/registration.go
  website/docs/d/load_test.html.markdown
Labels: documentation, size/XL, service/load-test

#26427 `azurerm_virtual_network_dns_servers` - split create and update function to fix lifecycle - ignore
  internal/services/network/virtual_network_dns_servers_resource.go
  internal/services/network/virtual_network_dns_servers_resource_test.go
Labels: size/M, service/network

#25529 `azurerm_redhat_openshift_cluster` - support for custom `managed_resource_group_name`
  internal/services/redhatopenshift/redhat_openshift_cluster_resource.go
  internal/services/redhatopenshift/redhat_openshift_cluster_resource_test.go
  internal/services/redhatopenshift/validate/cluster_resource_group_name.go
  internal/services/redhatopenshift/validate/cluster_resource_group_name_test.go
  website/docs/r/redhat_openshift_cluster.html.markdown
Labels: documentation, size/L, service/redhatopenshift

#26421 `azurerm_synapse_workspace` - return an empty workspace config repo object instead of nil
  internal/services/synapse/synapse_workspace_resource.go
  internal/services/synapse/synapse_workspace_resource_test.go
Labels: size/S, service/synapse

#26424 `batch` - review `Optional`+`Computed`
  internal/services/batch/batch_account_resource.go
  internal/services/batch/batch_account_resource_test.go
  internal/services/batch/validate/account_name_test.go
Labels: size/S, service/batch

#26360 `azurerm_network_connection_monitor` - remove `Computed` from `target_resource_id`
  internal/services/network/network_connection_monitor_resource.go
Labels: size/XS, service/network

#26361 `azurerm_local_network_gateway` - remove `Computed` from `peer_weight`
  internal/services/network/local_network_gateway_resource.go
Labels: size/XS, service/network

#26382 `azurerm_network_watcher_flow_log` - remove `Computed` from `version`
  internal/services/network/network_watcher_flow_log_resource.go
Labels: size/XS, service/network

#26401 `azurerm_express_route_port` - remove `Computed` from `billing_type`
  internal/services/network/express_route_port_resource.go
Labels: size/XS, service/network

#26402 `azurerm_vpn_gateway` - remove `Computed` from `routing_preference`
  internal/services/network/vpn_gateway_resource.go
Labels: size/XS, service/network

#26419 `azurerm_network_interface` - remove `Computed` from `internal_dns_name_label`
  internal/services/network/network_interface_resource.go
Labels: size/XS, service/network

#26437 `recoveryservices` - remove `ConfigModeAttr` in `4.0`
  internal/services/recoveryservices/site_recovery_replicated_vm_resource.go
Labels: size/M, service/recovery-services

#26292 `azurerm_security_center_automation` - remove `forceNew` from `tags`
  internal/services/securitycenter/security_center_automation_resource.go
  internal/services/securitycenter/security_center_automation_resource_test.go
  website/docs/r/security_center_automation.html.markdown
Labels: bug, documentation, size/XS, service/security-center

#26160 azurerm_nginx_certificate - add new read only fields to data source
  internal/services/nginx/nginx_certificate_data_source.go
  internal/services/nginx/nginx_certificate_data_source_test.go
  website/docs/d/nginx_certificate.html.markdown
Labels: enhancement, documentation, size/M, service/nginx

#26441 [Bug Fix] - `azurerm_express_route_circuit_peering` - Fix ID not handled bug
  internal/services/network/express_route_circuit_peering_data_source.go
Labels: size/XS, service/network

#26442 `subscription` - review Optional+Computed
  internal/services/subscription/subscription_resource.go
Labels: size/XS, service/subscription

#26380 azurerm_monitor_data_collection_endpoint - adding attribute immutable_id
  internal/services/monitor/monitor_data_collection_endpoint_data_source.go
  internal/services/monitor/monitor_data_collection_endpoint_data_source_test.go
  internal/services/monitor/monitor_data_collection_endpoint_resource.go
  website/docs/d/monitor_data_collection_endpoint.html.markdown
  website/docs/r/monitor_data_collection_endpoint.html.markdown
Labels: documentation, size/S, service/monitor

#26364 `azurerm_monitor_scheduled_query_rules_alert_v2` - correctly handling `identity` block if not specified
  internal/services/monitor/monitor_scheduled_query_rules_alert_v2_resource.go
Labels: size/XS, service/monitor

#26444 `applicationinsights` - review `Optional`+`Computed`
  internal/services/applicationinsights/application_insights_resource.go
Labels: size/XS, service/application-insights

#26445 `appconfiguration` - review `Optional`+`Computed`
  internal/services/appconfiguration/app_configuration_feature_resource.go
  internal/services/appconfiguration/app_configuration_key_resource.go
Labels: size/XS, service/app-configuration

#26452 `azurerm_redhat_openshift_cluster` - fix resource group parse
  internal/services/redhatopenshift/redhat_openshift_cluster_resource.go
Labels: bug, size/XS, service/redhatopenshift

#26440 `azurerm_redis_cache_access_policy` - remove `ForceNew` from `permissions`
  internal/services/redis/redis_cache_access_policy_resource.go
  internal/services/redis/redis_cache_access_policy_resource_test.go
  website/docs/r/redis_cache_access_policy.html.markdown
Labels: documentation, size/M, service/redis

#26082 `azurerm_redhat_openshift_cluster` - support for the `preconfigured_network_security_group_enabled` property
  internal/services/redhatopenshift/redhat_openshift_cluster_resource.go
  internal/services/redhatopenshift/redhat_openshift_cluster_resource_test.go
  website/docs/r/redhat_openshift_cluster.html.markdown
Labels: enhancement, documentation, size/L, service/redhatopenshift, upstream/microsoft/needs-support-on-azure-api

#26365 `containerapps` - review Optional+Computed properties
  internal/services/containerapps/container_app_environment_resource.go
  internal/services/containerapps/container_app_resource_test.go
  internal/services/containerapps/helpers/container_apps.go
  website/docs/r/container_app_environment.html.markdown
Labels: documentation, size/L, service/container-apps

#26460 `databricks` - review `Optional` + `Computed`
  internal/services/databricks/databricks_workspace_resource.go
Labels: size/XS, service/databricks

#26466 3.0 Upgrade Guide - document casing changes
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, size/XL

#26471 `azurerm_kubernetes_cluster_node_pool` - respect pod disruption budget when delete the node pool
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
Labels: enhancement, size/XS, service/kubernetes-cluster

#26462 `appservice` - set `allowed_applications` in the expand for `active_directory_v2`
  internal/services/appservice/helpers/auth_v2_schema.go
  internal/services/appservice/linux_function_app_resource_authv2_test.go
  internal/services/appservice/linux_function_app_slot_resource_authv2_test.go
  internal/services/appservice/linux_web_app_resource_authv2_test.go
  internal/services/appservice/linux_web_app_slot_resource_authv2_test.go
  internal/services/appservice/windows_function_app_resource_authv2_test.go
  internal/services/appservice/windows_function_app_slot_resource_authv2_test.go
  internal/services/appservice/windows_web_app_resource_authv2_test.go
  internal/services/appservice/windows_web_app_slot_resource_authv2_test.go
Labels: bug, size/XS, service/app-service

#26456 `analysisservices` - review `Optional`+`Computed`
  internal/services/analysisservices/analysis_services_server_resource.go
  internal/services/analysisservices/analysis_services_server_resource_test.go
Labels: size/L, service/analysis

#26384 `azurerm_api_management` - remove `ForceNew` from `zones` in `additional_location`
  internal/services/apimanagement/api_management_resource.go
  internal/services/apimanagement/api_management_resource_test.go
  website/docs/r/api_management.html.markdown
Labels: documentation, size/XS, service/api-management

#26480 Auto PR: Regenerating based on (61966fff00853e6df979abea765f43703da3422e)
  website/docs/guides/3.0-upgrade-guide.html.markdown
Labels: documentation, size/XS

#26487 docs/azurerm_data_protection_backup_policy_postgresql_flexible_server: fix example
  website/docs/r/data_protection_backup_policy_postgresql_flexible_server.html.markdown
Labels: documentation, size/XS

#26475 `azurerm_logic_app_integration_account_schema` - allow underscores in `name`
  internal/services/logic/validate/integration_account_schema_name.go
  internal/services/logic/validate/integration_account_schema_name_test.go
Labels: size/XS, service/logic

#26485 `azurerm_iotcentral_application` - remove `Computed` from `template`
  internal/services/iotcentral/iotcentral_application_resource.go
Labels: size/XS, service/iot-central

#26490 `azurerm_palo_alto_local_rulestack_rule` - fix `protocol` update
  internal/services/paloalto/local_rulestack_rule_resource.go
  internal/services/paloalto/local_rulestack_rule_resource_test.go
Labels: size/M, service/paloalto

#26448 azurerm_mssql_managed_instance - support the value GZRS for the storage_account_type property
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource.go
  website/docs/r/mssql_managed_instance.html.markdown
Labels: documentation, size/XS, service/mssqlmanagedinstance

#26484 `azurerm_digital_twins_time_series_database_connection` - remove `Computed` from `kusto_table_name`
  internal/services/digitaltwins/digital_twins_time_series_database_connection_resource.go
Labels: size/XS, service/digital-twins

#26496 `azurerm_mssql_managed_instance_transparent_data_encryption` - add support for `managed_hsm_key_id`
  internal/services/mssql/mssql_server_transparent_data_encryption_resource.go
  internal/services/mssql/mssql_server_transparent_data_encryption_resource_test.go
  website/docs/r/mssql_managed_instance_transparent_data_encryption.html.markdown
Labels: documentation, size/L, service/mssql

#26497 `azurerm_email_communication_service_domain` - Fix inconsistencies in Arguments Reference
  website/docs/r/email_communication_service_domain.html.markdown
Labels: documentation, size/XS

#26263 `azurerm_backup_policy_vm` - support for the `tiering_policy` property
  internal/services/recoveryservices/backup_policy_vm_resource.go
  internal/services/recoveryservices/backup_policy_vm_resource_test.go
  website/docs/r/backup_policy_vm.html.markdown
Labels: enhancement, documentation, size/L, service/recovery-services

#24670 New resource `azurerm_virtual_desktop_scaling_plan_host_pool_association`
  internal/services/desktopvirtualization/parse/scaling_plan_host_pool_association.go
  internal/services/desktopvirtualization/registration.go
  internal/services/desktopvirtualization/virtual_desktop_scaling_plan_host_pool_association_resource.go
  internal/services/desktopvirtualization/virtual_desktop_scaling_plan_host_pool_association_resource_test.go
  internal/services/desktopvirtualization/virtual_desktop_scaling_plan_resource.go
  internal/services/desktopvirtualization/virtual_desktop_scaling_plan_resource_test.go
  website/docs/r/virtual_desktop_scaling_plan_host_pool_association.html.markdown
Labels: documentation, size/XL, new-virtual-resource, service/virtual-desktops

#26400 `azurerm_dashboard_grafana`: handle SMTP update
  internal/services/dashboard/dashboard_grafana_resource.go
  internal/services/dashboard/dashboard_grafana_resource_test.go
Labels: size/XS, service/dashboard

#26467 azurerm_express_route_gateway - prevent panic
  internal/services/network/express_route_gateway_resource.go
Labels: waiting-response, size/M, service/network

#26447 azurerm_app_service_certificate - add documentation note for app_service_plan_id and premum plans
  website/docs/r/app_service_certificate.html.markdown
Labels: documentation, size/XS

#26499 `azurerm_firewall_policy` - remove `Computed` from `sku`
  internal/services/firewall/firewall_policy_resource.go
Labels: size/XS, service/firewall

#26201 `disk_encryption_set`: Support managed HSMs
  internal/services/compute/disk_encryption_set_data_source.go
  internal/services/compute/disk_encryption_set_resource.go
  internal/services/managedhsm/helpers/is_managed_hsm_uri.go
  website/docs/d/disk_encryption_set.html.markdown
  website/docs/r/disk_encryption_set.html.markdown
Labels: documentation, waiting-response, size/XL, service/managed-hsm
