Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2024-12, with the labels that each got.

#28100 `azurerm_cognitive_deployment` - support for the property `dynamic_throttling_enabled`
  internal/services/cognitive/cognitive_deployment_resource.go
  internal/services/cognitive/cognitive_deployment_resource_test.go
  website/docs/r/cognitive_deployment.html.markdown
Labels: enhancement, documentation, size/M, service/cognitive-services

#28142 Update nat_gateway.html.markdown
  website/docs/r/nat_gateway.html.markdown
Labels: documentation, size/XS, service/nat-gateway

#28143 Docs - updated `cdn_frontdoor_origin_group` docs to reflect valid health probe intervals
  internal/services/cdn/cdn_frontdoor_origin_group_resource.go
  website/docs/r/cdn_frontdoor_origin_group.html.markdown
Labels: bug, documentation, size/XS, service/cdn

#28158 `data.azurerm_logic_app_standard` - fix a bug on `identity`
  internal/services/logic/logic_app_standard_data_source.go
Labels: bug, size/XS, service/logic

#28025 `azurerm_container_group` - Fix update error with `diagnostics.log_analytics` defined
  internal/services/containers/container_group_resource.go
  internal/services/containers/container_group_resource_test.go
Labels: bug, size/L, service/container-group

#28151 `azurerm_api_management_policy` explained the nuance
  website/docs/r/api_management_policy.html.markdown
Labels: enhancement, documentation, size/XS, service/api-management

#28157 `azurerm_cdn_endpoint_custom_domain` - `cdn_managed_https.tls_version` and `user_managed_https.tls_version` no longer accept `None` or `TLS10` as a value in 5.0
  internal/services/cdn/cdn_endpoint_custom_domain_resource.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/cdn_endpoint_custom_domain.html.markdown
Labels: documentation, breaking-change, size/S, service/cdn

#28168 Docs: Update servicebus_subscription - auto_delete_on_idle
  website/docs/d/servicebus_subscription.html.markdown
Labels: documentation, size/XS

#28123 [Enhance] -`azurerm_machine_learning_datastore_datalake_gen2` - Support crosse sub storage account
  internal/services/machinelearning/machine_learning_datastore_datalake_gen2_resource.go
  internal/services/machinelearning/machine_learning_datastore_datalake_gen2_resource_test.go
Labels: bug, enhancement, size/M, service/machine-learning

#28105 azurerm_search_service:Update basic SKU partition count from 1 to 3
  internal/services/search/search_service_resource.go
  internal/services/search/search_service_resource_test.go
  website/docs/r/search_service.html.markdown
Labels: bug, documentation, size/S, service/search

#28184 Run ephemeral AKV tests as acceptance tests
  internal/services/keyvault/key_vault_certificate_ephemeral_test.go
  internal/services/keyvault/key_vault_secret_ephemeral_test.go
Labels: bug, service/key-vault, size/XS

#28186 Update documentation for azurerm_data_protection_backup_instance_blob_storage
  website/docs/r/data_protection_backup_instance_blob_storage.html.markdown
Labels: documentation, size/XS, service/data-protection

#28177 `azurerm_network_watcher_flow_log`: Add 2 more resource types to `target_resource_id`
  internal/services/network/network_watcher_flow_log_resource.go
  internal/services/network/network_watcher_flow_log_resource_test.go
  internal/services/network/network_watcher_resource_test.go
  website/docs/d/mssql_managed_database.html.markdown
  website/docs/r/network_watcher_flow_log.html.markdown
Labels: enhancement, documentation, waiting-response, size/M, service/network

#28171 `azurerm_key_vault_managed_hardware_security_module_key`: add `oct-HSM` key type support
  internal/services/managedhsm/key_vault_managed_hardware_security_module_key_resource.go
  website/docs/r/key_vault_managed_hardware_security_module_key.html.markdown
Labels: enhancement, documentation, size/XS, service/managed-hsm

#28159 CHANGELOG - 4.13.0
  CHANGELOG.md
Labels: size/XS

#28192 Update CHANGELOG.md date and links
  .release/provider-schema.json
  CHANGELOG.md
Labels: size/XS

#28194 `azurerm_api_management_api_tag_description`: update the swagger link in the acctest and example
  internal/services/apimanagement/api_management_api_diagnostic_resource_test.go
  website/docs/r/api_management_api_diagnostic.html.markdown
  website/docs/r/api_management_api_release.html.markdown
  website/docs/r/api_management_api_tag_description.html.markdown
Labels: documentation, size/XS, service/api-management, tests

#27981 `postgresql`: fix replace acctests
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  internal/services/postgres/postgresql_server_resource_test.go
Labels: enhancement, waiting-response, size/M, service/postgresql, tests

#28196 `azurerm_orbital_spacecraft`, `azurerm_orbital_contact`, `azurerm_orbital_contact_profile`: Deprecate all orbital resources
  internal/services/orbital/contact_profile_resource.go
  internal/services/orbital/contact_profile_resource_test.go
  internal/services/orbital/contact_resource.go
  internal/services/orbital/contact_resource_test.go
  internal/services/orbital/registration.go
  internal/services/orbital/spacecraft_resource.go
  internal/services/orbital/spacecraft_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/orbital_contact.html.markdown
  website/docs/r/orbital_contact_profile.html.markdown
  website/docs/r/orbital_spacecraft.html.markdown
Labels: documentation, breaking-change, size/M, service/orbital

#28139 `azurerm_search_service` allows configuration of `network_rule_bypass_option`
  internal/services/search/search_service_resource.go
  internal/services/search/search_service_resource_test.go
  website/docs/r/search_service.html.markdown
Labels: enhancement, documentation, size/M, service/search

#26304 `app_service` - support preview version `21` for `java_version`
  internal/services/appservice/helpers/app_stack.go
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/fx_strings.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_web_app_resource_test.go
  website/docs/r/function_app.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/windows_function_app.html.markdown
Labels: enhancement, documentation, waiting-response, size/M, service/app-service

#28207 spelling error
  website/docs/r/automation_software_update_configuration.html.markdown
Labels: documentation, size/XS

#28211 Dependencies - update `go-azure-sdk` to `v0.20241206.1180327`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#28214 Doc - `azurerm_storage_container` Fix typo of the `storage_account_id` description
  website/docs/d/storage_container.html.markdown
Labels: documentation, size/XS

#28016 `azurerm_linux_function_app_slot`, `azurerm_windows_function_app_slot` - `site_config.minimum_tls_version` and `site_config.scm_minimum_tls_version` accept `1.3` as a value
  internal/services/appservice/helpers/function_app_slot_schema.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
Labels: bug, enhancement, documentation, size/L, service/app-service

#28231 `azurerm_powerbi_embedded` - improve the error message for `name` validation
  internal/services/powerbi/validate/embedded_name.go
Labels: bug, enhancement, size/XS, service/power-bi

#28229 `azurerm_logic_app_standard` - `site_config.min_tls_version` and `site_config. scm_min_tls_version` no longer accept `1.0` or `1.1` as a value in 5.0.
  internal/services/logic/logic_app_standard_resource.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/logic_app_standard.html.markdown
Labels: documentation, breaking-change, size/S, service/logic

#28230 `azurerm_mssql_server` - `minimum_tls_version` no longer accepts `Disabled`, `1.0` and `1.1` as a value in 5.0.
  internal/services/mssql/mssql_server_resource.go
  internal/services/mssql/mssql_server_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/mssql_server.html.markdown
Labels: documentation, breaking-change, size/S, service/mssql

#28080 New Resource : `azurerm_fabric_capacity`
  .github/labeler-issue-triage.yml
  .github/labeler-pull-request-triage.yml
  .teamcity/components/generated/services.kt
  go.mod
  go.sum
  internal/clients/client.go
  internal/provider/services.go
  internal/services/fabric/client/client.go
  internal/services/fabric/fabric_capacity_resource.go
  internal/services/fabric/fabric_capacity_resource_test.go
  internal/services/fabric/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/id_capacity.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/id_location.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/method_checknameavailability.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/method_listskus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/method_listskusforcapacity.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/method_resume.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/method_suspend.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/model_capacityadministration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/model_checknameavailabilityrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/model_checknameavailabilityresponse.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/model_fabriccapacity.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/model_fabriccapacityproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/model_fabriccapacityupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/model_fabriccapacityupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/model_rpsku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/model_rpskudetailsforexistingresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/model_rpskudetailsfornewresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/fabric/2023-11-01/fabriccapacities/version.go
  vendor/modules.txt
  website/allowed-subcategories
  website/docs/r/fabric_capacity.html.markdown
Labels: documentation, dependencies, new-resource, size/XL

#28241 Contributor Docs - simplify test config names in new resource guide
  contributing/topics/guide-new-resource.md
Labels: size/M

#28222 Docs: Update guide-breaking-changes.md
  contributing/topics/guide-breaking-changes.md
Labels: enhancement, size/XS

#28250 `azurerm_managed_disk` - fix document issue of `performance_plus_enabled`
  website/docs/r/managed_disk.html.markdown
Labels: enhancement, documentation, service/disks, size/XS

#27915 `azurerm_network_function_collector_policy` - convert `source_resource_ids` to a set to prevent ordering issues
  internal/services/networkfunction/network_function_collector_policy_resource.go
  internal/services/networkfunction/network_function_collector_policy_resource_test.go
Labels: bug, breaking-change, size/S, service/network-function

#28257 Fixing DNS test typos
  internal/services/dns/dns_cname_record_resource_test.go
  internal/services/dns/dns_zone_resource_test.go
Labels: service/dns, size/XS

#28160 `azurerm_windows_virtual_machine` - Support Hotpatch for Windows Server 2025
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/shared_schema.go
  internal/services/compute/windows_virtual_machine_resource.go
Labels: enhancement, service/virtual-machine, size/XS

#28043 New Resource: `azurerm_cognitive_rai_blocklist`
  internal/services/cognitive/client/client.go
  internal/services/cognitive/cognitive_account_rai_blocklist_resource.go
  internal/services/cognitive/cognitive_account_rai_blocklist_resource_test.go
  internal/services/cognitive/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/id_account.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/id_raiblocklist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/id_raiblocklistitem.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/method_raiblocklistitemsbatchadd.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/method_raiblocklistitemsbatchdelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/method_raiblocklistitemscreateorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/method_raiblocklistitemsdelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/method_raiblocklistitemsget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/method_raiblocklistitemslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/model_raiblocklist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/model_raiblocklistitem.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/model_raiblocklistitembulkrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/model_raiblocklistitemproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/model_raiblocklistproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/cognitive/2024-10-01/raiblocklists/version.go
  vendor/modules.txt
  website/docs/r/cognitive_account_rai_blocklist.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/cognitive-services

#28244 Contributor Docs - Breaking Changes: update intro & clarify what constitutes a breaking change
  contributing/topics/guide-breaking-changes.md
Labels: enhancement, waiting-response, size/XS

#28197 `CHANGELOG.md` updates for `4.14.0` release
  .release/provider-schema.json
  CHANGELOG.md
Labels: size/S

#28215 `azurerm_mongo_cluster` - remove the check logic for `administrator_password`
  internal/acceptance/testcase.go
  internal/services/mongocluster/mongo_cluster_resource.go
  internal/services/mongocluster/mongo_cluster_resource_test.go
Labels: bug, waiting-response, size/XS, service/mongo-cluster

#27894 `azurerm_nginx_deployment`: Deprecate `logging_storage_account` block
  internal/services/nginx/nginx_deployment_data_source.go
  internal/services/nginx/nginx_deployment_resource.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/d/nginx_deployment.html.markdown
  website/docs/r/nginx_deployment.html.markdown
Labels: documentation, size/L, service/nginx

#28279 `azurerm_storage_account` - fix error handling for `static_website` and `queue_properties` availability checks
  internal/services/storage/custompollers/data_plane_static_website_availability_poller.go
  internal/services/storage/storage_account_data_plane_helpers.go
  internal/services/storage/storage_account_data_plane_helpers_test.go
Labels: bug, service/storage, size/S

#28278 New Data Source - `azurerm_kubernetes_fleet_manager`
  .github/labeler-issue-triage.yml
  internal/services/containers/kubernetes_fleet_manager_data_source.go
  internal/services/containers/kubernetes_fleet_manager_data_source_test.go
  internal/services/containers/registration.go
  website/docs/d/kubernetes_fleet_manager.html.markdown
Labels: documentation, new-data-source, size/L, service/kubernetes-cluster

#28269 `azurerm_mongo_cluster` - move the validation to create func for `source_server_id`
  internal/services/mongocluster/mongo_cluster_resource.go
  internal/services/mongocluster/mongo_cluster_resource_test.go
Labels: bug, size/XS, service/mongo-cluster

#28300 FourPointOh - removal from 's' resources/datasources
  internal/services/securitycenter/security_center_contact_resource.go
  internal/services/servicebus/servicebus_topic_resource.go
  internal/services/springcloud/spring_cloud_gateway_route_config_resource.go
  internal/services/storage/storage_account_sas_data_source.go
  internal/services/synapse/synapse_spark_pool_resource.go
  internal/services/synapse/synapse_workspace_resource.go
  website/docs/d/storage_account_sas.html.markdown
  website/docs/r/security_center_contact.html.markdown
  website/docs/r/spring_cloud_gateway_route_config.html.markdown
  website/docs/r/synapse_spark_pool.html.markdown
Labels: enhancement, documentation, service/storage, size/L, service/service-bus, service/security-center, service/spring, service/synapse

#27876 `azurerm_log_analytics_data_export_rule` - wait for state after creation
  internal/services/loganalytics/custompollers/log_analytics_data_export_poller.go
  internal/services/loganalytics/log_analytics_data_export_resource.go
Labels: bug, waiting-response, size/S, service/log-analytics

#28069 `azurerm_batch_pool` - support for new block `security_profile`
  internal/services/batch/batch_pool.go
  internal/services/batch/batch_pool_resource.go
  internal/services/batch/batch_pool_resource_test.go
  website/docs/r/batch_pool.html.markdown
Labels: enhancement, documentation, size/L, service/batch

#28312 `azurerm_automation_software_update_configuration` remove deprecated misspelled attribute `error_meesage`
  internal/services/automation/automation_software_update_configuration_resource.go
Labels: documentation, size/XS, service/automation

#28332 Docs: `azurerm_mysql_flexible_server_active_directory_administrator` - fix md filename
  website/docs/r/mysql_flexible_server_active_directory_administrator.html.markdown
Labels: enhancement, documentation, size/XS

#28286 `azurerm_api_management_api_policy` elaborated additional functionalitiy
  website/docs/r/api_management_api_policy.html.markdown
Labels: documentation, size/XS

#28324 `azurerm_network_packet_capture` - deprecate resource for 5.0
  internal/services/network/network_packet_capture_resource.go
  internal/services/network/network_packet_capture_resource_test.go
  internal/services/network/registration.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/guides/4.0-upgrade-guide.html.markdown
Labels: documentation, breaking-change, size/S, service/network

#28340 FourPointOh - remove from `service/apimanagement`
  internal/services/apimanagement/api_management_api_tag_resource.go
Labels: enhancement, size/XS, service/api-management

#28339 FourPointOh - remove from `service/loganalytics`
  internal/services/loganalytics/log_analytics_cluster_resource.go
  website/docs/r/log_analytics_cluster.html.markdown
Labels: enhancement, documentation, size/XS, service/log-analytics

#28335 `azurerm_mssql_managed_instance_resource` - fix update test
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource_test.go
Labels: size/XS, tests, service/mssqlmanagedinstance

#28345 Docs: `azurerm_*_function_app` - update docs to include `vnet_image_pull_enabled` property
  internal/services/appservice/helpers/function_app_schema.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/windows_function_app.html.markdown
Labels: documentation, size/XS, service/app-service

#28346 Docs: add `managed_hsm_key_id` property to `azurerm_mssql_server_transparent_data_encryption` docs
  website/docs/r/mssql_managed_instance_transparent_data_encryption.html.markdown
  website/docs/r/mssql_server_transparent_data_encryption.html.markdown
Labels: documentation, size/XS

#28311 Docs: `azurerm_postgresql_flexible_server` Change example SKU and Tier to a less expensive option
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation, size/XS

#27874 [New Resource] `azurerm_machine_learning_workspace_network_outbound_rule_private_endpoint`
  internal/services/machinelearning/machine_learning_workspace_network_outbound_rule_private_endpoint_resource.go
  internal/services/machinelearning/machine_learning_workspace_network_outbound_rule_private_endpoint_resource_test.go
  internal/services/machinelearning/registration.go
  website/docs/r/machine_learning_workspace_network_outbound_rule_private_endpoint.html.markdown
Labels: documentation, waiting-response, new-resource, size/XL, service/machine-learning

#28351 `azurerm_network_interface_application_gateway_backend_address_pool_association` - Fixing test and updating documentation
  internal/services/network/network_interface_application_gateway_association_resource_test.go
  website/docs/r/application_gateway.html.markdown
Labels: documentation, size/XS, service/network

#28348 FourPointOh - remove from `service/compute`
  internal/services/compute/encryption_settings.go
  internal/services/compute/image_resource.go
  internal/services/compute/image_resource_test.go
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_test.go
  internal/services/compute/shared_image_version_data_source_test.go
  internal/services/compute/snapshot_resource.go
  internal/services/compute/virtual_machine_scale_set.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_other_test.go
Labels: enhancement, service/virtual-machine, service/images, service/vmss, size/XL

#28349 FourPointOh - remove from `service/hdinsight`
  internal/services/hdinsight/hdinsight_interactive_query_cluster_resource.go
  internal/services/hdinsight/schema.go
Labels: enhancement, size/M, service/hdinsight

#28322 FourPointOh - Remove from `service/network`
  internal/services/network/express_route_port_resource.go
  internal/services/network/network_connection_monitor_resource_test.go
  internal/services/network/network_interface_data_source.go
  internal/services/network/network_interface_resource.go
  internal/services/network/network_interface_resource_test.go
  internal/services/network/network_security_group_resource_test.go
  internal/services/network/public_ip_resource.go
  internal/services/network/route_table_resource.go
  internal/services/network/route_table_resource_test.go
  internal/services/network/subnet_data_source.go
  internal/services/network/subnet_resource.go
  internal/services/network/subnet_resource_test.go
  internal/services/network/virtual_network_gateway_connection_resource.go
  internal/services/network/vpn_gateway_nat_rule_resource.go
  internal/services/network/vpn_gateway_nat_rule_resource_test.go
  internal/services/network/vpn_gateway_resource.go
  internal/services/network/web_application_firewall_policy_resource.go
  website/docs/r/virtual_network_gateway_connection.html.markdown
Labels: enhancement, documentation, waiting-response, size/XL, service/network

#28386 tooling - add workflow to auto assign reviewers
  .github/workflows/auto-assign-reviewers-to-pr.yaml
Labels: enhancement, size/XS

#28005 golangci - enable tenv linter and swap os.SetEnv to correct t.SetEnv & enabled
  .golangci.yml
  internal/provider/framework/config_test.go
  internal/provider/framework/helpers_test.go
  internal/sdk/plugin_sdk_test.go
  internal/services/apimanagement/migration/policy.go
  internal/services/compute/capacity_reservation_group_resource.go
  internal/services/compute/no_downtime_resize.go
  internal/services/storage/storage_account_static_website_data_plane_resource.go
Labels: enhancement, service/storage, size/M, service/api-management, state-migration

#28131 provider: update changelog via seperate script and update release script to just push tag
  .github/workflows/release.yaml
  scripts/release-update-changelog-and-export-schema.sh
  scripts/release.sh
Labels: enhancement, size/M

#28387 update auto assign workflow
  .github/workflows/auto-assign-reviewers-to-pr.yaml
Labels: size/S

#28384 `azurerm_cognitive_deployment` - Update the description of the `tier` property within the `sku` block.
  website/docs/r/cognitive_deployment.html.markdown
Labels: enhancement, documentation, size/XS

#28367 `azurerm_monitor_data_collection_rule` - doc: remove deprecated stream type
  website/docs/d/monitor_data_collection_rule.html.markdown
  website/docs/r/monitor_data_collection_rule.html.markdown
Labels: enhancement, documentation, size/XS

#28370 Test: Add `features {}` to the provider block
  internal/services/authorization/role_management_policy_data_source_test.go
  internal/services/authorization/role_management_policy_resource_test.go
  internal/services/storage/storage_blob_resource_test.go
Labels: waiting-response, service/storage, size/S, service/authorization

#28388 tooling - update reviewer assign to only do it when changes are requested
  .github/workflows/auto-assign-reviewers-to-pr.yaml
Labels: waiting-response, size/XS

#28352 `azurerm_(windows|linux)_virtual_machine` - adding `os_disk` ID attribute
  internal/services/compute/virtual_machine.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: enhancement, documentation, size/XS

#28390 `azurerm_netapp_volume` - `network_features` is Optional/Computed
  internal/services/netapp/netapp_volume_resource.go
Labels: size/XS, service/netapp
