Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2024-05, with the labels that each got.

#25758 `azurerm_resource_group`: Work around sporadic ARM eventual consistency issues
  internal/services/resource/resource_group_resource.go
Labels: bug, waiting-response, size/S

#25825 Update .goreleaser.yml
  .goreleaser.yml
Labels: size/XS

#25831 New Resource: `azurerm_storage_sync_server_endpoint`
  .github/labeler-issue-triage.yml
  internal/services/storage/client/client.go
  internal/services/storage/registration.go
  internal/services/storage/storage_sync_resource.go
  internal/services/storage/storage_sync_server_endpoint_resource.go
  internal/services/storage/storage_sync_server_endpoint_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/id_registeredserver.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/id_storagesyncservice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/method_registeredserverscreate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/method_registeredserversdelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/method_registeredserversget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/method_registeredserverslistbystoragesyncservice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/method_registeredserverstriggerrollover.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/model_registeredserver.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/model_registeredserverarray.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/model_registeredservercreateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/model_registeredservercreateparametersproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/model_registeredserverproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/model_triggerrolloverrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/registeredserverresource/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/id_serverendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/id_syncgroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/method_serverendpointscreate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/method_serverendpointsdelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/method_serverendpointsget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/method_serverendpointslistbysyncgroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/method_serverendpointsrecallaction.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/method_serverendpointsupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_cloudtieringcacheperformance.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_cloudtieringdatepolicystatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_cloudtieringfilesnottiering.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_cloudtieringspacesavings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_cloudtieringvolumefreespacepolicystatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_filesnottieringerror.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_recallactionparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointarray.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointcloudtieringstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointcreateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointcreateparametersproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointfilesnotsyncingerror.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointrecallerror.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointrecallstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointsyncactivitystatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointsyncsessionstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointsyncstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/model_serverendpointupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagesync/2020-03-01/serverendpointresource/version.go
  vendor/modules.txt
  website/docs/r/storage_sync.html.markdown
  website/docs/r/storage_sync_server_endpoint.html.markdown
Labels: documentation, dependencies, service/storage, size/XL

#25601 managedhsm: introducing dedicated Resource ID Parsers for the Data Plane Versioned and Versionless Key IDs
  internal/services/managedhsm/client/helpers.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_resource_test.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_assignment_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_assignment_resource_test.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_definition_data_source.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_definition_data_source_test.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_definition_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_role_definition_resource_test.go
  internal/services/managedhsm/migration/role_assignment_v0_parser.go
  internal/services/managedhsm/migration/role_assignment_v0_parser_test.go
  internal/services/managedhsm/migration/role_assignment_v0_to_v1.go
  internal/services/managedhsm/migration/role_definition_v0_parser.go
  internal/services/managedhsm/migration/role_definition_v0_parser_test.go
  internal/services/managedhsm/migration/role_definition_v0_to_v1.go
  internal/services/managedhsm/parse/data_plane_helpers.go
  internal/services/managedhsm/parse/managed_hsm_data_plane_role_assignment.go
  internal/services/managedhsm/parse/managed_hsm_data_plane_role_assignment_test.go
  internal/services/managedhsm/parse/managed_hsm_data_plane_role_definition.go
  internal/services/managedhsm/parse/managed_hsm_data_plane_role_definition_test.go
  internal/services/managedhsm/parse/managed_hsm_data_plane_versioned_key.go
  internal/services/managedhsm/parse/managed_hsm_data_plane_versioned_key_test.go
  internal/services/managedhsm/parse/managed_hsm_data_plane_versionless_key.go
  internal/services/managedhsm/parse/managed_hsm_data_plane_versionless_key_test.go
  internal/services/managedhsm/parse/managed_hsm_role_assignment_id.go
  internal/services/managedhsm/parse/managed_hsm_role_assignment_id_test.go
  internal/services/managedhsm/parse/managed_hsm_role_definition_id.go
  internal/services/managedhsm/parse/managed_hsm_role_definition_id_test.go
  internal/services/managedhsm/validate/managed_hsm_data_plane_role_assignment.go
  internal/services/managedhsm/validate/managed_hsm_data_plane_role_assignment_test.go
  internal/services/managedhsm/validate/managed_hsm_data_plane_role_definition.go
  internal/services/managedhsm/validate/managed_hsm_data_plane_role_definition_test.go
  internal/services/managedhsm/validate/managed_hsm_data_plane_versioned_key.go
  internal/services/managedhsm/validate/managed_hsm_data_plane_versioned_key_test.go
  internal/services/managedhsm/validate/managed_hsm_data_plane_versionless_key.go
  internal/services/managedhsm/validate/managed_hsm_data_plane_versionless_key_test.go
  internal/services/managedhsm/validate/mhsm_role_assignment_id_test.go
  internal/services/managedhsm/validate/mhsm_role_definition_id_test.go
  website/docs/d/key_vault_managed_hardware_security_module_role_definition.html.markdown
  website/docs/r/key_vault_managed_hardware_security_module_role_assignment.html.markdown
Labels: documentation, size/XL, service/managed-hsm, state-migration

#25088 `azurerm_storage_account`: Support managed HSMs for CMKs
  internal/services/managedhsm/helpers/is_managed_hsm_uri.go
  internal/services/storage/storage_account_customer_managed_key_resource.go
  internal/services/storage/storage_account_resource.go
  website/docs/r/storage_account.html.markdown
  website/docs/r/storage_account_customer_managed_key.html.markdown
Labels: documentation, service/storage, size/L, service/managed-hsm, dependent-on-another-pr

#25804 new resource: azurerm_storage_container_immutability_policy
  .github/labeler-issue-triage.yml
  internal/services/storage/parse/storage_container_immutability_policy.go
  internal/services/storage/parse/storage_container_immutability_policy_test.go
  internal/services/storage/registration.go
  internal/services/storage/resourceids.go
  internal/services/storage/storage_container_immutability_policy_resource.go
  internal/services/storage/storage_container_immutability_policy_resource_test.go
  internal/services/storage/validate/storage_container_immutability_policy_id.go
  internal/services/storage/validate/storage_container_immutability_policy_id_test.go
  website/docs/r/storage_container_immutability_policy.html.markdown
Labels: documentation, new-resource, service/storage, size/XL

#25814 `tools`: fix document linter panic if document not eixsts
  internal/tools/document-lint/check/check_iface.go
  internal/tools/document-lint/check/check_resource.go
  internal/tools/document-lint/check/document_fixer.go
  internal/tools/document-lint/schema/resource_schema.go
Labels: size/S, tooling

#25785 fix `TestAccResourceProviderRegistration_requiresImport`
  internal/services/resource/resource_provider_registration_resource_test.go
Labels: size/XS

#25861 `Lighthouse` - fix failed testcases
  internal/clients/client.go
Labels: size/XS

#25847 `network` - split `CreateUpdate` for `azurerm_application_security_group` and `azurerm_bastion_host`
  internal/services/network/application_security_group_resource.go
  internal/services/network/bastion_host_resource.go
Labels: size/L, refactor, service/network

#25872 dependencies: bump `go-azure-sdk` to `v0.20240506.1094936`
  go.mod
  go.sum
  internal/services/redis/redis_cache_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/redis/2023-08-01/redis/model_rediscommonpropertiesredisconfiguration.go
  vendor/modules.txt
Labels: dependencies, size/XS, service/redis

#25393 `azurerm_mssql_database`: fix acctests failure
  internal/services/mssql/mssql_database_resource.go
  website/docs/r/mssql_database.html.markdown
Labels: documentation, dependencies, service/storage, size/M, service/mssql, service/app-service, service/monitor, service/application-insights, service/recovery-services, service/machine-learning, service/netapp, service/nginx, service/automanage, service/network, service/graph, state-migration, service/elasticsan, service/systemcentervirtualmachinemanager

#25854 Updating the tenant end point documentation url
  website/docs/d/linux_function_app.html.markdown
  website/docs/d/linux_web_app.html.markdown
  website/docs/d/windows_function_app.html.markdown
  website/docs/d/windows_web_app.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/S

#25850 azurerm_subnet - Documentation change to make clear that the resource group of subnet must be vnet resource group
  website/docs/r/subnet.html.markdown
Labels: documentation, size/XS

#22945 New resource `azurerm_virtual_machine_gallery_application_assignment`
  internal/services/compute/parse/virtual_machine_gallery_application_assignment_id.go
  internal/services/compute/parse/virtual_machine_gallery_application_assignment_id_test.go
  internal/services/compute/registration.go
  internal/services/compute/virtual_machine_gallery_application_assignment_resource.go
  internal/services/compute/virtual_machine_gallery_application_assignment_resource_test.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/virtual_machine_gallery_application_assignment.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, size/XL

#25743 azurerm_container_app - Remove 'cannot remove secrets' check
  internal/services/containerapps/container_app_resource.go
  internal/services/containerapps/container_app_resource_test.go
  website/docs/r/container_app.html.markdown
Labels: documentation, size/S, service/container-apps

#25873 dependencies: updating to `v0.68.0` of `github.com/hashicorp/go-azure-helpers`
  go.mod
  go.sum
  internal/services/springcloud/spring_cloud_app_dynamics_application_performance_monitoring_resource.go
  internal/services/springcloud/spring_cloud_application_insights_application_performance_monitoring_resource.go
  internal/services/springcloud/spring_cloud_dynatrace_application_performance_monitoring_resource.go
  internal/services/springcloud/spring_cloud_elastic_application_performance_monitoring_resource.go
  internal/services/springcloud/spring_cloud_new_relic_application_performance_monitoring_resource.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/ids.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/features/user_specified_segments.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/recaser/recase.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/recaser/registration.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/resourceids/match.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/resourceids/parse.go
  vendor/modules.txt
Labels: dependencies, size/M, service/spring

#25869 azurerm_log_analytics_saved_search - fix function_parameters not created in correct order
  internal/services/loganalytics/log_analytics_saved_search_resource.go
  internal/services/loganalytics/log_analytics_saved_search_resource_test.go
Labels: size/XS, service/log-analytics

#25853 azurerm_role_assignment: Retry replication lag error for cross-tenant usage
  internal/services/authorization/role_assignment_resource.go
Labels: size/XS, service/authorization

#25823 `azurerm_bastion_host` - adding property `kerberos_enabled`
  internal/services/network/bastion_host_resource.go
  internal/services/network/bastion_host_resource_test.go
  website/docs/r/bastion_host.html.markdown
Labels: documentation, waiting-response, size/XS, service/network

#25787 `azurerm_monitor_private_link_scoped_service` - normalize `linked_resource_id`
  internal/services/monitor/monitor_private_link_scoped_service_resource.go
Labels: size/XS, service/monitor

#25778 `azurerm_storage_account`: add `permanent_delete_enabled`
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: documentation, service/storage, size/M

#25746 new data source `azurerm_network_manager_connectivity_configuration`
  .github/labeler-issue-triage.yml
  internal/services/network/network_manager_connectivity_configuration_data_source.go
  internal/services/network/network_manager_connectivity_configuration_data_source_test.go
  internal/services/network/network_manager_resource_test.go
  internal/services/network/registration.go
  website/docs/d/network_manager_connectivity_configuration.html.markdown
Labels: documentation, size/L, service/network

#25686 `azurerm_log_analytics_cluster`: update API version to `2022-10-01`
  internal/services/loganalytics/client/client.go
  internal/services/loganalytics/log_analytics_cluster.go
  internal/services/loganalytics/log_analytics_cluster_customer_managed_key_resource.go
  internal/services/loganalytics/log_analytics_cluster_customer_managed_key_resource_test.go
  internal/services/loganalytics/log_analytics_cluster_resource.go
  internal/services/loganalytics/log_analytics_cluster_resource_test.go
  internal/services/loganalytics/log_analytics_linked_service_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/clusters/model_cluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/clusters/model_clusterpatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2020-08-01/clusters/model_clusterproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/id_cluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/model_associatedworkspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/model_capacityreservationproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/model_cluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/model_clusterpatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/model_clusterpatchproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/model_clusterproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/model_clustersku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/model_keyvaultproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/operationalinsights/2022-10-01/clusters/version.go
  vendor/modules.txt
Labels: dependencies, size/L, service/log-analytics

#25480 New Resource: `azurerm_virtual_machine_automanage_configuration_assignment`
  .github/labeler-issue-triage.yml
  internal/services/automanage/client/client.go
  internal/services/automanage/registration.go
  internal/services/automanage/virtual_machine_automanage_configuration_assignment_resource.go
  internal/services/automanage/virtual_machine_automanage_configuration_assignment_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/id_cluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/id_machine.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/id_virtualmachine.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/id_virtualmachineproviders2configurationprofileassignment.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/method_listbyclustername.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/method_listbymachinename.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/method_listbyvirtualmachines.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/model_configurationprofileassignment.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/model_configurationprofileassignmentlist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/model_configurationprofileassignmentproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/version.go
  vendor/modules.txt
  website/docs/r/virtual_machine_automanage_configuration_assignment.html.markdown
Labels: documentation, dependencies, size/XL, service/automanage

#25467 New Resource: `azurerm_maintenance_assignment_dynamic_scope`
  internal/provider/services.go
  internal/services/maintenance/maintenance_assignment_dynamic_scope_resource.go
  internal/services/maintenance/maintenance_assignment_dynamic_scope_resource_test.go
  internal/services/maintenance/registration.go
  website/docs/r/maintenance_assignment_dynamic_scope.html.markdown
Labels: documentation, size/XL, service/maintenance

#24914 #24898: azurerm_linux_virtual_machine_scale_set and azurerm_windows_virtual_machine_scale_set - support max_surge_instances for vmss rolling upgrades
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/virtual_machine_scale_set.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, size/S

#25876 dependencies: running `go mod vendor` to fix up dependency issues
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/id_cluster.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/id_machine.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/id_virtualmachine.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/automanage/2022-05-04/configurationprofileassignments/id_virtualmachineproviders2configurationprofileassignment.go
Labels: dependencies, size/XS

#25840 azurerm_subnet - Fix service_endpoint_policy_ids bug
  internal/services/network/subnet_resource.go
Labels: waiting-response, size/XS, service/network

#25716 `azurerm_container_app_resource`: fix `TestAccContainerAppResource_completeWithVNet` and `TestAccContainerAppResource_completeTcpExposedPort`
  internal/services/containerapps/container_app_environment_resource_test.go
  internal/services/containerapps/container_app_resource_test.go
Labels: waiting-response, size/S, service/container-apps

#25816 `4.0` - remove `ConfigModeAttr` from `kusto` and `logic`
  internal/services/kusto/kusto_cluster_customer_managed_key_test.go
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_cluster_resource_test.go
  internal/services/logic/logic_app_standard_resource.go
  internal/services/logic/logic_app_standard_resource_test.go
Labels: size/XL, service/logic, service/kusto

#25870 `network` - split `CreateUpdate` method of several resources
  internal/services/network/network_watcher_flow_log_resource.go
  internal/services/network/network_watcher_flow_log_resource_test.go
  internal/services/network/network_watcher_resource.go
  internal/services/network/route_resource.go
  internal/services/network/route_table_resource.go
Labels: size/XL, refactor, service/network

#25877 `azurerm_kubernetes_cluster` - fix tests
  internal/services/chaosstudio/chaos_studio_capability_resource_test.go
  internal/services/chaosstudio/chaos_studio_experiment_resource_test.go
  internal/services/dataprotection/data_protection_backup_instance_kubernetes_cluster_resource_test.go
  internal/services/machinelearning/machine_learning_inference_cluster_resource_test.go
Labels: size/XS, tests, service/machine-learning, service/data-protection

#23871 New Resource: `azurerm_container_app_job`
  internal/services/containerapps/client/client.go
  internal/services/containerapps/container_app_job_resource.go
  internal/services/containerapps/container_app_job_resource_test.go
  internal/services/containerapps/helpers/container_app_job.go
  internal/services/containerapps/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/id_execution.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/id_job.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_executionslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_jobexecution.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_listsecrets.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_start.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_stopexecution.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_stopmultipleexecutions.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_basecontainer.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_container.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_containerappprobe.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_containerappprobehttpget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_containerappprobehttpgethttpheadersinlined.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_containerappprobetcpsocket.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_containerresources.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_environmentvar.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_job.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobconfigurationeventtriggerconfig.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobconfigurationmanualtriggerconfig.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobconfigurationscheduletriggerconfig.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobexecution.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobexecutionbase.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobexecutioncontainer.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobexecutionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobexecutiontemplate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobpatchproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobpatchpropertiesproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobscale.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobscalerule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobsecretscollection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_jobtemplate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_registrycredentials.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_scaleruleauth.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_secret.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_secretvolumeitem.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_volume.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/model_volumemount.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/containerapps/2023-05-01/jobs/version.go
  vendor/modules.txt
  website/docs/r/container_app_job.html.markdown
Labels: documentation, dependencies, size/XL, service/container-apps

#20049 `azurerm_windows_web_app`, `azurerm_windows_web_app_slot`, `azurerm_linux_web_app`, `azurerm_linux _web_app_slot` - fix auto heal slow request with path issue
  internal/services/appservice/helpers/auto_heal.go
  internal/services/appservice/helpers/linux_web_app_schema.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
  website/docs/d/linux_web_app.html.markdown
  website/docs/d/windows_web_app.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/XL, service/app-service

#25879 `app_service` - add missing struct tag for deprecated `python_version`
  internal/services/appservice/helpers/app_stack.go
Labels: size/XS, service/app-service

#25878 `vmss` - rename `maximum_surge_instances` to `maximum_surge_instances_enabled`
  internal/services/compute/linux_virtual_machine_scale_set_resource_other_test.go
  internal/services/compute/virtual_machine_scale_set.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, size/XS

#25884 automation: adding a check to ensure that Resource IDs are compared using `resourceids.Match(a, b)`
  scripts/run-gradually-deprecated.sh
Labels: size/XS, tooling

#25790 Docs: add a re-creation sentence for changes to `create_mode` field for `azure_postgres_flexbile_server`
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation, waiting-response, size/XS

#25805 new resource: `azurerm_data_factory_credential_service_principal`
  internal/services/datafactory/data_factory_credential_service_principal_resource.go
  internal/services/datafactory/data_factory_credential_service_principal_resource_test.go
  internal/services/datafactory/data_factory_credential_user_assigned_managed_identity_resource.go
  internal/services/datafactory/data_factory_credential_user_assigned_managed_identity_resource_test.go
  internal/services/datafactory/registration.go
  website/docs/r/data_factory_credential_service_principal.html.markdown
Labels: documentation, new-resource, size/XL, service/data-factory

#25779 `azurerm_subnet` - the private_endpoint_network_policies_enabled property has been deprecated in favour of the `private_endpoint_network_policies` property
  internal/services/network/subnet_data_source.go
  internal/services/network/subnet_resource.go
  internal/services/network/subnet_resource_test.go
  website/docs/d/subnet.html.markdown
  website/docs/r/subnet.html.markdown
Labels: documentation, size/L, service/network

#25890 Update network_profile.html.markdown Correct my own grammar issue from 2 years ago.
  website/docs/r/network_profile.html.markdown
Labels: documentation, size/XS

#25530 `azurerm_kubernetes_cluster` - Fix error when update `outbound_type` in `network_profile` nested block
  internal/services/containers/kubernetes_cluster_network_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_cluster_resource_test.go
Labels: size/L

#25903 dependencies: bump `hashicorp/go-azure-helpers` to `v0.69.0`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/commonids/composite_resource_id.go
  vendor/github.com/hashicorp/go-azure-helpers/resourcemanager/identity/legacy_system_and_user_assigned_map.go
  vendor/modules.txt
Labels: dependencies, size/S

#25886 `webpubsub`: fixing a panic where `networkACL.PublicNetwork.Deny` was nil
  internal/services/signalr/web_pubsub_network_acl_resource.go
Labels: bug, crash, size/XS, service/signalr, service/web-pub-sub

#25909 linux_virtual_machine - license_type adding all the different supported value
  internal/services/compute/linux_virtual_machine_resource.go
  website/docs/r/linux_virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XS

#24157 provider - support for the `recover_soft_deleted_backup_protected_vm` feature
  internal/features/defaults.go
  internal/features/user_flags.go
  internal/provider/features.go
  internal/provider/features_test.go
  internal/services/recoveryservices/backup_protected_vm_resource.go
  internal/services/recoveryservices/backup_protected_vm_resource_test.go
  website/docs/guides/features-block.html.markdown
Labels: documentation, size/XL, service/recovery-services

#24346 `azurerm_container_app_environment` - add support for the Custom DNS Suffix (via the new `azurerm_container_app_environment_custom_domain` resource) and expose the `custom_domain_verification_id` attribute
  internal/services/containerapps/container_app_environment_custom_domain_resource.go
  internal/services/containerapps/container_app_environment_custom_domain_resource_test.go
  internal/services/containerapps/container_app_environment_data_source.go
  internal/services/containerapps/container_app_environment_resource.go
  internal/services/containerapps/registration.go
  internal/services/containerapps/testdata/testacc_nopassword.pfx
  website/docs/d/container_app_environment.html.markdown
  website/docs/r/container_app_environment.html.markdown
  website/docs/r/container_app_environment_custom_domain.html.markdown
Labels: documentation, size/XL, service/container-apps

#25923 `azurerm_automation_python3_package`: fix AccTest by using `.whl` file replacing `.tar.gz` file
  internal/services/automation/automation_python3_package_resource_test.go
Labels: size/XS, service/automation

#25925 Docs: Adding missing line break before a section
  website/docs/d/monitor_data_collection_rule.html.markdown
  website/docs/d/netapp_volume.html.markdown
  website/docs/d/site_recovery_replication_recovery_plan.html.markdown
  website/docs/r/datadog_monitor_tag_rule.html.markdown
  website/docs/r/datadog_monitors.html.markdown
  website/docs/r/ip_group.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/machine_learning_compute_cluster.html.markdown
  website/docs/r/machine_learning_datastore_datalake_gen2.html.markdown
  website/docs/r/media_streaming_endpoint.html.markdown
  website/docs/r/media_transform.html.markdown
  website/docs/r/virtual_desktop_host_pool.html.markdown
  website/docs/r/voice_services_communications_gateway.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/S

#25920 `loadtest` - fix missing build loadtest client issue
  internal/clients/client.go
Labels: size/XS

#25939 fix virtual_machine_scale_set loadbalancer-probe example (extra resource_group_name property removed)
  examples/vm-scale-set/virtual_machine_scale_set/loadbalancer-probe/main.tf
Labels: size/XS

#25931 `azurerm_container_app_job`: Allow event scale min_executions of 0
  internal/services/containerapps/helpers/container_app_job.go
Labels: size/XS, service/container-apps

#25905 `network` - update several resources to use `hashicorp/go-azure-sdk`
  internal/services/network/custom_ip_prefix_resource.go
  internal/services/network/custom_ip_prefix_resource_test.go
  internal/services/network/custompollers/local_network_gateway_poller.go
  internal/services/network/ip_group_cidr_resource.go
  internal/services/network/ip_group_cidr_resource_test.go
  internal/services/network/ip_group_data_source.go
  internal/services/network/ip_group_resource.go
  internal/services/network/ip_group_resource_test.go
  internal/services/network/ip_groups_data_source.go
  internal/services/network/local_network_gateway_data_source.go
  internal/services/network/local_network_gateway_resource.go
  internal/services/network/local_network_gateway_resource_test.go
  internal/services/network/nat_gateway_data_source.go
  internal/services/network/nat_gateway_public_ip_association_resource.go
  internal/services/network/nat_gateway_public_ip_association_resource_test.go
  internal/services/network/nat_gateway_public_ip_prefix_association_resource.go
  internal/services/network/nat_gateway_public_ip_prefix_association_resource_test.go
  internal/services/network/nat_gateway_resource.go
  internal/services/network/nat_gateway_resource_test.go
  internal/services/network/network_subresource.go
  scripts/run-gradually-deprecated.sh
Labels: size/XL, service/network

#25932 `azurerm_data_factory_trigger_custom_event`: Allow subject_begins_with and subject_ends_with to both not be set
  internal/services/datafactory/data_factory_trigger_custom_event_resource.go
  website/docs/r/data_factory_trigger_custom_event.html.markdown
Labels: documentation, size/XS, service/data-factory

#25719 new data source `azurerm_elastic_san`
  internal/services/elasticsan/elastic_san_data_source.go
  internal/services/elasticsan/elastic_san_data_source_test.go
  internal/services/elasticsan/elastic_san_resource.go
  internal/services/elasticsan/registration.go
  website/docs/d/elastic_san.html.markdown
Labels: documentation, new-data-source, size/XL, service/elasticsan

#25688 `azurerm_sentinel_alert_rule_scheduled` - remove `forcenew` for `alert_rule_template_version`
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
  website/docs/r/sentinel_alert_rule_scheduled.html.markdown
Labels: bug, documentation, size/S, service/sentinel

#25940 `azurerm_log_analytics_cluster` - support `UserAssigned` and `SystemAssigned, UserAssigned` identity
  internal/services/loganalytics/log_analytics_cluster_resource.go
  internal/services/loganalytics/log_analytics_cluster_resource_test.go
  website/docs/r/log_analytics_cluster.html.markdown
Labels: documentation, size/S, service/log-analytics

#25959 `network` - update several association resources to use `hashicorp/go-azure-sdk`
  internal/services/network/nat_gateway_public_ip_association_resource.go
  internal/services/network/nat_gateway_public_ip_association_resource_test.go
  internal/services/network/nat_gateway_public_ip_prefix_association_resource.go
  internal/services/network/nat_gateway_public_ip_prefix_association_resource_test.go
  internal/services/network/network_interface_application_gateway_association_resource.go
  internal/services/network/network_interface_application_gateway_association_resource_test.go
  internal/services/network/network_interface_application_security_group_association_resource.go
  internal/services/network/network_interface_application_security_group_association_resource_test.go
  internal/services/network/network_interface_backend_address_pool_association_resource.go
  internal/services/network/network_interface_backend_address_pool_association_resource_test.go
  internal/services/network/network_interface_helpers.go
  internal/services/network/network_interface_nat_rule_association_resource.go
  internal/services/network/network_interface_nat_rule_association_resource_test.go
  internal/services/network/parse/application_gateway_backend_address_pool.go
  internal/services/network/parse/application_gateway_backend_address_pool_test.go
Labels: size/XL, service/network

#25980 Adding support for PowerShell 7.4
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/windows_function_app_resource_test.go
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
Labels: documentation, size/S, service/app-service

#25956 bugfix: resolve crashes and read/import bugs in PIM resources
  internal/services/authorization/parse/pim_role_assignment.go
  internal/services/authorization/pim_active_role_assignment_resource.go
  internal/services/authorization/pim_active_role_assignment_resource_test.go
  internal/services/authorization/pim_eligible_role_assignment_resource.go
  internal/services/authorization/pim_eligible_role_assignment_resource_test.go
  internal/services/authorization/validate/pim_role_assignment_id.go
  website/docs/r/pim_active_role_assignment.html.markdown
  website/docs/r/pim_eligible_role_assignment.html.markdown
Labels: bug, enhancement, documentation, crash, size/XL, refactor, service/authorization

#25968 `azurerm_storage_sync_server_endpoint` - Removing `initial_upload_policy` from model to prevent a crash
  internal/services/storage/storage_sync_server_endpoint_resource.go
Labels: service/storage, size/XS

#25947 azurerm_postgresql_flexible_server: fix storage_tier calculation
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
Labels: size/M, service/postgresql

#25976 Contributor Documentation: Add section on composite resource IDs
  contributing/README.md
  contributing/topics/guide-new-data-source.md
  contributing/topics/guide-new-fields-to-data-source.md
  contributing/topics/guide-new-fields-to-resource.md
  contributing/topics/guide-new-resource.md
  contributing/topics/guide-resource-ids.md
Labels: size/XL

#25971 `network` - update resources and data sources to use `hashicorp/go-azure-sdk`
  internal/services/network/edge_zone.go
  internal/services/network/network_security_group_data_source.go
  internal/services/network/network_security_group_resource.go
  internal/services/network/network_security_group_resource_test.go
  internal/services/network/public_ip_data_source.go
  internal/services/network/public_ip_prefix_data_source.go
  internal/services/network/public_ip_prefix_resource.go
  internal/services/network/public_ip_prefix_resource_test.go
  internal/services/network/public_ip_resource.go
  internal/services/network/public_ip_resource_test.go
  internal/services/network/public_ips_data_source.go
  internal/services/network/virtual_wan_data_source.go
  internal/services/network/virtual_wan_resource.go
  internal/services/network/virtual_wan_resource_test.go
  internal/services/network/vpn_gateway_nat_rule_resource.go
  internal/services/network/vpn_gateway_nat_rule_resource_test.go
  scripts/run-gradually-deprecated.sh
  website/docs/r/vpn_gateway_nat_rule.html.markdown
Labels: documentation, size/XL, service/network

#25989 `azurerm_container_app_job` - Fix misleading document for identity of `azurerm_container_app_job`
  website/docs/r/container_app_job.html.markdown
Labels: documentation, size/XS

#25984 `azurerm_container_app_job` - upgrading validation for replica_retry_limit, put 0 as minimal value
  internal/services/containerapps/container_app_job_resource.go
Labels: size/XS, service/container-apps

#25888 kubernetes_cluster_node_pool: Fix race condition with virtual network status when creating node pool
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
Labels: bug, size/L, service/kubernetes-cluster

#25935 New Resource: `azurerm_key_vault_managed_hardware_security_module_key`
  internal/features/defaults.go
  internal/features/user_flags.go
  internal/provider/features.go
  internal/provider/features_test.go
  internal/services/managedhsm/client/client.go
  internal/services/managedhsm/internal.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_key_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_key_resource_test.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_resource_test.go
  internal/services/managedhsm/parse/managed_hsm_data_plane_versioned_key.go
  internal/services/managedhsm/parse/managed_hsm_data_plane_versionless_key.go
  internal/services/managedhsm/registration.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/guides/features-block.html.markdown
  website/docs/r/key_vault_managed_hardware_security_module_key.html.markdown
Labels: documentation, dependencies, service/storage, size/XL, service/managed-hsm

#25985 Remove custom labels to single label/runner name
  .github/workflows/breaking-change-detection.yaml
  .github/workflows/gencheck.yaml
  .github/workflows/golint.yaml
  .github/workflows/provider-test.yaml
  .github/workflows/release.yaml
  .github/workflows/tflint.yaml
  .github/workflows/thirty-two-bit.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/validate-examples.yaml
Labels: size/XS

#26000 redis_enterprise_cluster_location_zone_support: removes Central India from list of regions not supporting zones.
  internal/services/redisenterprise/validate/redis_enterprise_cluster_location_zone_support.go
Labels: size/XS, service/redis

#25997 Update `databasemigration` API version from `2018-04-19` to `2021-06-30`
  internal/services/databasemigration/client/client.go
  internal/services/databasemigration/database_migration_project_data_source.go
  internal/services/databasemigration/database_migration_project_data_source_test.go
  internal/services/databasemigration/database_migration_project_resource.go
  internal/services/databasemigration/database_migration_project_resource_test.go
  internal/services/databasemigration/database_migration_service_data_source.go
  internal/services/databasemigration/database_migration_service_resource.go
  internal/services/databasemigration/database_migration_service_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2018-04-19/projectresource/model_project.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2018-04-19/serviceresource/model_projecttaskproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/id_project.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/id_service.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/method_projectscreateorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/method_projectsdelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/method_projectsget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/method_projectslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/method_projectsupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/model_connectioninfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/model_databaseinfo.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/model_project.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/model_projectproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/projectresource/version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/id_project.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/id_resourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/id_service.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_servicescheckstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_servicescreateorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_servicesdelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_servicesget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_serviceslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_serviceslistbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_serviceslistskus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_servicesstart.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_servicesstop.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_servicesupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_servicetaskslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/method_taskslist.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/model_availableservicesku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/model_availableserviceskucapacity.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/model_availableserviceskusku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/model_commandproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/model_datamigrationservice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/model_datamigrationserviceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/model_datamigrationservicestatusresponse.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/model_odataerror.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/model_projecttask.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/model_projecttaskproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/model_servicesku.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datamigration/2021-06-30/serviceresource/version.go
  vendor/modules.txt
  website/docs/r/database_migration_project.html.markdown
Labels: documentation, dependencies, size/XL, service/database-migration

#25777 `azurerm_key_vault` - Allow previously existing key vaults to continue to manage the `contact` field prior to the `v3.93.0` conditional polling change
  internal/services/keyvault/key_vault_resource.go
Labels: service/key-vault, size/L

#26012 tooling: updating version of hashicorp/ghaction-terraform-provider-release to v4.0.1
  .github/workflows/release.yaml
Labels: size/XS, tooling

#25838 `azurerm_linux_function_app_slot` - fixed panic when planning from a version older than 3.88.0
  internal/services/appservice/migration/linux_function_app_slot.go
Labels: size/XS, service/app-service, state-migration

#26029 bugfix: fix a regression creating PIM role assignments with no expiration
  internal/services/authorization/pim_active_role_assignment_resource.go
  internal/services/authorization/pim_active_role_assignment_resource_test.go
  internal/services/authorization/pim_eligible_role_assignment_resource.go
  internal/services/authorization/pim_eligible_role_assignment_resource_test.go
Labels: regression, size/L, service/authorization

#25634 ``azurerm_windows_web_app_slot``, ``azurerm_windows_function_app_slot`` - Fix error 500/409 when using virtual network subnet
  internal/services/appservice/windows_function_app_slot_resource.go
  internal/services/appservice/windows_web_app_slot_resource.go
Labels: bug, size/XS, service/app-service

#26049 `azurerm_container_app_job` Fix parameter validation
  internal/services/containerapps/container_app_job_resource.go
  internal/services/containerapps/helpers/container_apps.go
  internal/services/containerapps/validate/validate.go
Labels: size/S, service/container-apps

#26060 `azurerm_machine_learning_compute_cluster` - add validation for `name`
  internal/services/machinelearning/machine_learning_compute_cluster_resource.go
  internal/services/machinelearning/validate/compute_cluster_name.go
  internal/services/machinelearning/validate/compute_cluster_name_test.go
Labels: size/M, service/machine-learning

#26059 bugfix: fix a persistent diff for PIM role assignments with no ticket information
  internal/services/authorization/parse/pim_role_assignment.go
  internal/services/authorization/pim_active_role_assignment_resource.go
  internal/services/authorization/pim_active_role_assignment_resource_test.go
  internal/services/authorization/pim_eligible_role_assignment_resource.go
  internal/services/authorization/pim_eligible_role_assignment_resource_test.go
Labels: bug, size/M, service/authorization

#26053 `azurerm_bot_channels_registration` - remove `Computed` from `developer_app_insights_api_key`, `developer_app_insights_application_id`, `developer_app_insights_key` and `icon_url`
  internal/services/bot/bot_channels_registration_resource.go
  internal/services/bot/bot_channels_registration_resource_test.go
Labels: enhancement, documentation, size/XS, service/bots

#26069 dependencies: updating to `v0.20240522.1080424` of `github.com/hashicorp/go-azure-sdk`
  go.mod
  go.sum
  vendor/modules.txt
Labels: dependencies, size/XS

#25996 `azurerm_snapshot` - Add support for `disk_access_id`
  internal/services/compute/snapshot_resource.go
  internal/services/compute/snapshot_resource_test.go
  website/docs/r/snapshot.html.markdown
Labels: enhancement, documentation, size/M, service/snapshot

#26036 Fixing sample code in the documentation
  website/docs/r/data_protection_backup_instance_kubernetes_cluster.html.markdown
Labels: documentation, size/XS

#25885 `appservice`: conditionally rewriting the value for `virtual_network_subnet_id`
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/windows_web_app_resource.go
Labels: bug, size/XS, service/app-service

#26073 azurerm_machine_learning_compute_cluster change subnet_resource_id constraint: Respect Managed Vnet when creating compute clusters fixes #25901
  internal/services/machinelearning/machine_learning_compute_cluster_resource.go
Labels: size/M, service/machine-learning

#26058 application_insights_smart_detection_rule - Removed duplicated values for name
  website/docs/r/application_insights_smart_detection_rule.html.markdown
Labels: documentation, size/XS

#26084 `azurerm_bot_web_app` - remove `Computed` from `developer_app_insights_api_key`, `developer_app_insights_application_id` and `developer_app_insights_key`
  internal/services/bot/bot_web_app_resource.go
  internal/services/bot/bot_web_app_resource_test.go
Labels: size/XS, service/bots

#26083 `azurerm_policy_definition` - `parameters` is ForceNew if there are less parameters between runs
  internal/services/policy/policy_definition_resource.go
  internal/services/policy/policy_definition_resource_test.go
Labels: bug, size/M, service/policy

#26077 added head and options verbs to azurerm_application_insights_standard_web_test
  internal/services/applicationinsights/application_insights_standard_webtests_resource.go
  website/docs/r/application_insights_standard_web_test.html.markdown
Labels: enhancement, documentation, size/XS, service/application-insights

#26074 r/container_app_environmnet_custom_domain: parsing the Workspace ID insensitively since this comes from the API
  internal/services/containerapps/container_app_environment_custom_domain_resource.go
Labels: bug, size/XS, service/container-apps

#26017 azurerm_cdn_frontdoor_rule - allow conditions.x.url_path_condition.x.match_values to be set to / (any length)
  internal/services/cdn/cdn_frontdoor_rule_resource_test.go
  internal/services/cdn/validate/front_door_validation_helpers.go
Labels: enhancement, size/S, service/cdn

#25812 azurerm_postgresql_flexible_server - mark public_network_access_enabled as optional
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation, size/M, service/postgresql

#25992 `network` - update virtual hub resources to use `hashicorp/go-azure-sdk`
  internal/services/network/express_route_connection_resource.go
  internal/services/network/network_interface_security_group_association_resource.go
  internal/services/network/network_interface_security_group_association_resource_test.go
  internal/services/network/subnet_nat_gateway_association_resource.go
  internal/services/network/subnet_nat_gateway_association_resource_test.go
  internal/services/network/subnet_network_security_group_association_resource.go
  internal/services/network/virtual_hub_bgp_connection_resource.go
  internal/services/network/virtual_hub_bgp_connection_resource_test.go
  internal/services/network/virtual_hub_connection_data_source.go
  internal/services/network/virtual_hub_connection_resource.go
  internal/services/network/virtual_hub_connection_resource_test.go
  internal/services/network/virtual_hub_data_source.go
  internal/services/network/virtual_hub_ip_resource.go
  internal/services/network/virtual_hub_ip_resource_test.go
  internal/services/network/virtual_hub_resource.go
  internal/services/network/virtual_hub_resource_test.go
  internal/services/network/virtual_hub_route_table_data_source.go
  internal/services/network/virtual_hub_route_table_resource.go
  internal/services/network/virtual_hub_route_table_resource_test.go
  internal/services/network/virtual_hub_route_table_route_resource.go
  internal/services/network/virtual_hub_route_table_route_resource_test.go
  internal/services/network/virtual_hub_security_partner_provider_resource.go
  internal/services/network/virtual_hub_security_partner_provider_resource_test.go
Labels: size/XL, service/network

#26097 `tooling` - filter out false positives from paths not related to resources
  scripts/run-gradually-deprecated.sh
Labels: size/XS

#26103 Doc Fix: `azurerm_nginx_deployment` - clarify what the `diagnose_support_enabled` option does
  website/docs/d/nginx_deployment.html.markdown
  website/docs/r/nginx_deployment.html.markdown
Labels: documentation, size/XS

#26099 `azurerm_public_ip` - split createupdate in `azurerm_public_ip` and `azurerm_public_ip_prefix`
  internal/services/network/public_ip_prefix_resource.go
  internal/services/network/public_ip_resource.go
Labels: size/L, refactor, service/network

#26085 fix: fix access policy and assignment on redis as only one can be configured at a time
  internal/services/redis/redis_cache_access_policy_assignment_resource.go
  internal/services/redis/redis_cache_access_policy_assignment_resource_test.go
  internal/services/redis/redis_cache_access_policy_resource.go
  internal/services/redis/redis_cache_access_policy_resource_test.go
Labels: bug, size/M, service/redis

#25910 `TypedSDK` - update all `int` struct properties to `int64`
  internal/services/appconfiguration/feature_structs.go
  internal/services/applicationinsights/application_insights_standard_webtests_resource.go
  internal/services/appservice/service_plan_data_source.go
  internal/services/appservice/service_plan_resource.go
  internal/services/authorization/pim_active_role_assignment_resource.go
  internal/services/authorization/pim_eligible_role_assignment_resource.go
  internal/services/automanage/automanage_configuration_resource.go
  internal/services/automation/automation_software_update_configuration_resource.go
  internal/services/batch/batch_job_resource.go
  internal/services/compute/gallery_application_version_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_data_source.go
  internal/services/compute/virtual_machine_run_command_resource.go
  internal/services/containerapps/helpers/container_app_job.go
  internal/services/containerapps/helpers/container_apps.go
  internal/services/containers/container_registry_task_resource.go
  internal/services/databoxedge/databox_edge_device_resource.go
  internal/services/dataprotection/azurerm_data_protection_backup_policy_kubernetes_cluster_resource.go
  internal/services/iothub/iothub_file_upload_resource.go
  internal/services/loadbalancer/backend_address_pool_address_resource.go
  internal/services/monitor/monitor_alert_prometheus_rule_group_resource.go
  internal/services/mssql/mssql_failover_group_resource.go
  internal/services/mssql/mssql_virtual_machine_availability_group_listener_resource.go
  internal/services/mssqlmanagedinstance/mssql_managed_database_resource.go
  internal/services/mssqlmanagedinstance/mssql_managed_instance_data_source.go
  internal/services/mssqlmanagedinstance/mssql_managed_instance_failover_group_resource.go
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource.go
  internal/services/netapp/models/models.go
  internal/services/netapp/netapp_volume_helper.go
  internal/services/paloalto/local_rulestack_rule_resource.go
  internal/services/paloalto/schema/destination_nat.go
  internal/services/redhatopenshift/redhat_openshift_cluster_resource.go
  internal/services/sentinel/sentinel_alert_rule_anomaly_built_in_resource.go
  internal/services/sentinel/sentinel_alert_rule_anomaly_data_source.go
  internal/services/sentinel/sentinel_alert_rule_anomaly_duplicate_resource.go
  internal/services/sentinel/sentinel_threat_intelligence_indicator_resource.go
  internal/services/springcloud/spring_cloud_api_portal_resource.go
  internal/services/springcloud/spring_cloud_app_dynamics_application_performance_monitoring_resource.go
  internal/services/springcloud/spring_cloud_gateway_resource.go
  internal/services/springcloud/spring_cloud_new_relic_application_performance_monitoring_resource.go
  internal/services/streamanalytics/stream_analytics_output_function_resource.go
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_server_resource.go
  internal/services/workloads/workloads_sap_single_node_virtual_instance_resource.go
  internal/services/workloads/workloads_sap_three_tier_virtual_instance_resource.go
Labels: service/load-balancers, size/XL, service/mssql, service/app-service, service/monitor, service/application-insights, service/iot-hub, service/stream-analytics, service/automation, service/recovery-services, service/batch, service/netapp, service/spring, service/app-configuration, service/sentinel, service/authorization, service/data-protection, service/databox-edge, service/container-apps, service/automanage, service/mssqlmanagedinstance, service/paloalto, service/elasticsan, service/redhatopenshift, service/systemcentervirtualmachinemanager, service/workloads

#26054 `azurerm_container_registry` - Fail fast if public_network_access_enabled is disabled for a non-Premium SKU
  internal/services/containers/container_registry_resource.go
Labels: enhancement, size/XS, service/container-registry

#26046 resource azurerm_nginx_deployment: Add doc around basic SKU
  website/docs/r/nginx_deployment.html.markdown
Labels: documentation, size/XS, service/nginx

#26037 `azurerm_app_configuration_{feature|key}` enhance waiting for provisioning
  internal/services/appconfiguration/app_configuration_feature_resource.go
  internal/services/appconfiguration/app_configuration_key_resource.go
Labels: bug, size/XS, service/app-configuration

#26106 `azurerm_automation_powershell72_module`: support `tag` property
  internal/services/automation/automation_powershell72_module_resource.go
  internal/services/automation/automation_powershell72_module_resource_test.go
  website/docs/r/automation_powershell72_module.html.markdown
Labels: enhancement, documentation, size/XS, service/automation

#26108 Auto PR: Regenerating based on (fe092e5bfee9411898a9d70a60b62342176e36bb)
  internal/services/redis/redis_cache_access_policy_assignment_resource.go
  internal/services/redis/redis_cache_access_policy_resource.go
Labels: size/XS, service/redis

#26087 New Data Source: `azurerm_storage_queue`
  internal/services/storage/registration.go
  internal/services/storage/storage_queue_data_source.go
  internal/services/storage/storage_queue_data_source_test.go
  website/docs/d/storage_queue.html.markdown
Labels: documentation, waiting-response, new-data-source, service/storage, size/L

#26003 `azurerm_route_map` - Make rule parameters optional when type is `Drop`
  internal/services/network/route_map_resource.go
  internal/services/network/route_map_resource_test.go
  website/docs/r/route_map.html.markdown
Labels: enhancement, documentation, size/S, service/network

#25986 `azurerm_postgresql_flexible_server` - move the error check for `storage_mb` from `CustomizeDiff` to `Create/Update` func
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
Labels: size/M, service/postgresql

#25731 new data source `azurerm_arc_resource_bridge_appliance`
  internal/services/arcresourcebridge/arc_resource_bridge_appliance_data_source.go
  internal/services/arcresourcebridge/arc_resource_bridge_appliance_data_source_test.go
  internal/services/arcresourcebridge/arc_resource_bridge_appliance_resource_test.go
  internal/services/arcresourcebridge/registration.go
  website/docs/d/arc_resource_bridge_appliance.html.markdown
  website/docs/r/arc_resource_bridge_appliance.html.markdown
Labels: documentation, new-data-source, size/L, service/arc-resource-bridge

#26109 Refactor - remove last remnants of int from `TypedSDK` resources
  internal/services/managedhsm/key_vault_managed_hardware_security_module_key_resource.go
  internal/services/storage/storage_container_immutability_policy_resource.go
Labels: service/storage, size/XS, service/managed-hsm

#26068 `azurerm_bastion_host` - support new SKU `Developer`
  internal/services/network/bastion_host_resource.go
  internal/services/network/bastion_host_resource_test.go
  website/docs/r/bastion_host.html.markdown
Labels: documentation, size/M, service/network

#26113 dependencies: fix vendor deps
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/keyvault/2023-07-01/vaults/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/keyvault/2023-07-01/vaults/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/keyvault/2023-07-01/vaults/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/keyvault/2023-07-01/vaults/method_listdeleted.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/resources/2015-11-01/resources/method_list.go
Labels: dependencies, size/XS

#26102 Add a supported identity type
  website/docs/r/nginx_deployment.html.markdown
Labels: documentation, size/XS

#26116 `Virtual Machine` - Fix Acc Test `TestAccLinuxVirtualMachine_orchestratedIdUpdate` and `TestAccWindowsVirtualMachine_orchestratedIdUpdate`
  internal/services/compute/linux_virtual_machine_resource_orchestrated_test.go
  internal/services/compute/windows_virtual_machine_resource_orchestrated_test.go
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: documentation, service/virtual-machine, size/XS, tests

#25955 Data Source: `azurerm_system_center_virtual_machine_manager_inventory_items` - normalize the resource ID
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_inventory_items_data_source.go
Labels: bug, size/S, service/systemcentervirtualmachinemanager

#25979 azurerm_logic_app_trigger_custom - adding exported attribute callback_url
  internal/services/logic/logic_app_trigger_custom_resource.go
  internal/services/logic/logic_app_trigger_custom_resource_test.go
  internal/services/logic/logic_app_trigger_http_request_resource.go
  internal/services/logic/logic_app_trigger_http_request_resource_test.go
  internal/services/logic/logic_app_trigger_recurrence_resource.go
  internal/services/logic/logic_apps.go
  website/docs/r/logic_app_trigger_custom.html.markdown
  website/docs/r/logic_app_trigger_http_request.html.markdown
Labels: enhancement, documentation, size/M, service/logic

#26130 Added a NOTE box for name argument of azurerm_security_center_automation resource
  website/docs/r/security_center_automation.html.markdown
Labels: documentation, size/XS

#26107 `azurerm_[linux|windows]_[function|web]_app[_slot]` - fixup `update` processing of `WEBSITE_HEALTHCHECK_MAXPINGFAILURES` and `health_check_eviction_time_in_min`
  internal/services/appservice/helpers/auto_heal.go
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/function_app_slot_schema.go
  internal/services/appservice/helpers/linux_web_app_schema.go
  internal/services/appservice/helpers/web_app_slot_schema.go
  internal/services/appservice/helpers/windows_web_app_schema.go
  internal/services/appservice/linux_web_app_resource.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  internal/services/appservice/windows_web_app_resource.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
Labels: size/XL, service/app-service

#26063 `azurerm_container_app_job` Rename plural properties to singular for consistency with other Container App resources
  internal/services/containerapps/container_app_job_resource.go
  internal/services/containerapps/container_app_job_resource_test.go
  website/docs/r/container_app_job.html.markdown
Labels: documentation, size/L, service/container-apps

#25339 Contributor Docs: Add a Default Breaking Change section
  contributing/topics/guide-breaking-changes.md
  contributing/topics/guide-new-fields-to-resource.md
Labels: documentation, size/M

#26132 `azurerm_kubernetes_cluster` - fix tests
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  internal/services/containers/kubernetes_cluster_scaling_resource_test.go
  internal/services/containers/kubernetes_node_pool_snapshot_data_source_test.go
Labels: size/M, service/kubernetes-cluster, tests

#26115 `azurerm_new_relic_monitor` - Support `identity`
  internal/services/newrelic/new_relic_monitor_resource.go
  internal/services/newrelic/new_relic_monitor_resource_test.go
  website/docs/r/new_relic_monitor.html.markdown
Labels: enhancement, documentation, size/M

#26135 Contributor Docs - fix formatting and update bool name to reflect naming guidelines
  contributing/topics/guide-breaking-changes.md
Labels: size/XS

#25660 `azurerm_machine_learning_workspace` - Add support for `serverless_compute`
  internal/services/machinelearning/machine_learning_workspace_resource.go
  internal/services/machinelearning/machine_learning_workspace_resource_test.go
  website/docs/r/machine_learning_workspace.html.markdown
Labels: enhancement, documentation, size/L, service/machine-learning

#26141 issue-template: adding "any update" to the list of topics
  .github/ISSUE_TEMPLATE/Bug_Report.yml
  .github/ISSUE_TEMPLATE/Feature_Request.yml
Labels: size/XS

#26031 tooling: enable running a release from a branch instead of `main`
  scripts/release.sh
Labels: size/XS, tooling

#26137 `azurerm_kubernetes_cluster`/`azurerm_kubernetes_cluster_node_pool` - add `drain_timeout_in_minutes` and `node_soak_duration_in_minutes`
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_upgrade_test.go
  internal/services/containers/kubernetes_nodepool.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/d/kubernetes_cluster_node_pool.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: enhancement, documentation, size/L, service/kubernetes-cluster

#26075 `azurerm_key_vault_managed_hardware_security_module`: remove `ForceNew` for `public_network_access_enabled`
  internal/services/managedhsm/key_vault_managed_hardware_security_module_resource.go
  internal/services/managedhsm/key_vault_managed_hardware_security_module_resource_test.go
Labels: enhancement, size/XS, service/managed-hsm

#26052 `azurerm_kubernetes_cluster` - support for the `cost_analysis_enabled` property
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/M, service/kubernetes-cluster

#26066 `network` - update express route to use `hashicorp/go-azure-sdk`
  internal/services/network/express_route_circuit_authorization_resource.go
  internal/services/network/express_route_circuit_authorization_resource_test.go
  internal/services/network/express_route_circuit_connection_resource.go
  internal/services/network/express_route_circuit_connection_resource_test.go
  internal/services/network/express_route_circuit_data_source.go
  internal/services/network/express_route_circuit_peering_data_source.go
  internal/services/network/express_route_circuit_peering_resource.go
  internal/services/network/express_route_circuit_peering_resource_test.go
  internal/services/network/express_route_circuit_resource.go
  internal/services/network/express_route_circuit_resource_test.go
  internal/services/network/express_route_connection_resource.go
  internal/services/network/express_route_connection_resource_test.go
  internal/services/network/express_route_gateway_resource.go
  internal/services/network/express_route_gateway_resource_test.go
  internal/services/network/express_route_port_authorization_resource.go
  internal/services/network/express_route_port_authorization_resource_test.go
  internal/services/network/express_route_port_resource.go
  internal/services/network/express_route_port_resource_test.go
Labels: size/XL, service/network

#26149 `azurerm_virtual_network` - update `address_space` from a List to a Set
  internal/services/network/virtual_network_resource.go
  internal/tf/suppress/list.go
Labels: size/S, service/network

#26161 azurerm_mssql_elasticpool - support the sku HS_PRMS
  internal/services/mssql/mssql_elasticpool_resource.go
  website/docs/r/mssql_elasticpool.html.markdown
Labels: documentation, waiting-response, size/XS, service/mssql

#26162 azurerm_windows_web_app - fix panic due to nil map
  internal/services/appservice/helpers/windows_web_app_schema.go
Labels: size/XS, service/app-service

#25809 `azurerm_eventhub_namespace_customer_managed_key` - validating that the User Assigned Identity used for accessing the Key Vault is assigned to the EventHub Namespace
  internal/services/eventhub/eventhub_namespace_customer_managed_key_resource.go
  internal/services/eventhub/eventhub_namespace_customer_managed_key_resource_test.go
Labels: size/S, service/event-hubs

#26126 New Data Source: `azurerm_storage_table`
  .github/labeler-issue-triage.yml
  internal/services/storage/parse/storage_table_resource_manager.go
  internal/services/storage/parse/storage_table_resource_manager_test.go
  internal/services/storage/registration.go
  internal/services/storage/resourceids.go
  internal/services/storage/storage_table_data_source.go
  internal/services/storage/storage_table_data_source_test.go
  internal/services/storage/validate/storage_table_resource_manager_id.go
  internal/services/storage/validate/storage_table_resource_manager_id_test.go
  website/docs/d/storage_table.html.markdown
Labels: documentation, service/storage, size/XL

#26111 new datasource `azurerm_elastic_san_volume_group`
  internal/services/elasticsan/elastic_san_volume_group_data_source.go
  internal/services/elasticsan/elastic_san_volume_group_data_source_test.go
  internal/services/elasticsan/registration.go
  website/docs/d/elastic_san_volume_group.html.markdown
Labels: documentation, size/XL, service/elasticsan

#26140 `azurerm_netapp_snapshot_policy` - remove `Computed` from `hourly_schedule`, `daily_schedule`, `weekly_schedule` and `monthly_schedule`
  internal/services/netapp/netapp_snapshot_policy_resource.go
Labels: size/S, service/netapp

#26166 `tooling` - remove erroneous debug symbol
  scripts/release.sh
Labels: size/XS

#26136 provider - add exception for data source in unit test checking `encryption` block
  internal/provider/provider_schema_test.go
Labels: size/XS

#26167 `dependencies` - fixup for removed network api-version
  internal/services/network/express_route_circuit_authorization_resource.go
  internal/services/network/express_route_circuit_authorization_resource_test.go
  internal/services/network/express_route_circuit_connection_resource.go
  internal/services/network/express_route_circuit_connection_resource_test.go
  internal/services/network/express_route_circuit_data_source.go
  internal/services/network/express_route_circuit_peering_data_source.go
  internal/services/network/express_route_circuit_peering_resource.go
  internal/services/network/express_route_circuit_resource.go
  internal/services/network/express_route_circuit_resource_test.go
  internal/services/network/express_route_connection_resource.go
  internal/services/network/express_route_connection_resource_test.go
  internal/services/network/express_route_gateway_resource.go
  internal/services/network/express_route_gateway_resource_test.go
  internal/services/network/express_route_port_authorization_resource.go
  internal/services/network/express_route_port_authorization_resource_test.go
  internal/services/network/express_route_port_resource.go
Labels: dependencies, waiting-response, size/S, service/network

#26173 `data.azurerm_kubernetes_cluster`: fix a crash when reading/setting `upgrade_settings`
  internal/services/containers/kubernetes_cluster_data_source.go
Labels: crash, size/XS, service/kubernetes-cluster

#26163 `azurerm_vpn_site` - split create and update function to fix lifecycle - ignore changes
  internal/services/network/vpn_site_resource.go
Labels: size/M, service/network
