Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2025-05, with the labels that each got.

#28919 New Resource and Data Source: azurerm_nginx_api_key
  internal/services/nginx/nginx_api_key_data_source.go
  internal/services/nginx/nginx_api_key_data_source_test.go
  internal/services/nginx/nginx_api_key_resource.go
  internal/services/nginx/nginx_api_key_resource_test.go
  internal/services/nginx/registration.go
  internal/services/nginx/validate/end_date_time.go
  internal/services/nginx/validate/end_date_time_test.go
  website/docs/d/nginx_api_key.html.markdown
  website/docs/r/nginx_api_key.html.markdown
Labels: documentation, size/XL, service/nginx

#29443 `azurerm_batch_pool` - add nil check for `certificate`
  internal/services/batch/batch_pool_resource.go
Labels: enhancement, size/XS, service/batch

#29456 `azurerm_virtual_network_gateway`: fix panic when remove `vpn_client_configuration`
  internal/services/network/virtual_network_gateway_resource.go
  internal/services/network/virtual_network_gateway_resource_test.go
Labels: bug, size/M, service/network

#29424 `azurerm_postgresql_flexible_server_virtual_endpoint` - is no longer removed from state when a fail-over occurs
  internal/services/postgres/migration/postgresql_flexible_server_virtual_endpoint.go
  internal/services/postgres/postgresql_flexible_server_virtual_endpoint_resource.go
  internal/services/postgres/postgresql_flexible_server_virtual_endpoint_resource_test.go
  website/docs/r/postgresql_flexible_server_virtual_endpoint.html.markdown
Labels: documentation, size/L, service/postgresql, state-migration

#29150 `azurerm_windows_web_app`/`azurerm_windows_web_app_slot` - fix perpetual diff around incorrect default for `always_on` and ignore default values for `logs.0.application_logs`
  internal/services/appservice/helpers/common_web_app_schema.go
  internal/services/appservice/helpers/web_app_slot_schema.go
  internal/services/appservice/helpers/windows_web_app_schema.go
  internal/services/appservice/windows_web_app_resource_test.go
  internal/services/appservice/windows_web_app_slot_resource_test.go
Labels: bug, size/L, service/app-service, stale

#29435 `azurerm_servicebus_queue` - ignore unnecessary waiting on resource creation
  internal/services/servicebus/servicebus_queue_resource.go
Labels: enhancement, size/S, service/service-bus

#29458 Rcsk/changelog permissions update
  .github/workflows/changelog_entry.yml
  .github/workflows/update_changelog.yml
Labels: bug, size/M

#29480 Update example of azurerm_network_watcher_flow_log to https_traffic_only_enabled for azurerm_storage_account
  website/docs/r/network_watcher_flow_log.html.markdown
Labels: enhancement, documentation, size/XS

#29460 Doc: Clarify that `oidc_token_file_path` is only read once
  website/docs/index.html.markdown
Labels: documentation, size/XS

#29396 [Enhance] `azurerm_application_insights` - Add `computed=true` to `workspace_id`
  internal/services/applicationinsights/application_insights_resource.go
Labels: enhancement, size/XS, service/application-insights

#29197 `azurerm_ai_foundry_project`: add support for `primary_user_assigned_identity`
  internal/services/machinelearning/ai_foundry_project_resource.go
  internal/services/machinelearning/ai_foundry_project_resource_test.go
  website/docs/r/ai_foundry_project.html.markdown
Labels: bug, documentation, size/L, service/machine-learning

#28954 `azurerm_shared_image_version` - Adapt upcoming breaking changes for Azure Compute Gallery Image Version
  internal/services/compute/client/client.go
  internal/services/compute/helpers.go
  internal/services/compute/helpers_test.go
  internal/services/compute/shared_image_resource.go
  internal/services/compute/shared_image_version_data_source.go
  internal/services/compute/shared_image_version_resource.go
  internal/services/compute/shared_image_version_resource_test.go
  internal/services/compute/shared_image_versions_data_source.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/id_galleryimage.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/id_imageversion.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/method_listbygalleryimage.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_datadiskimageencryption.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_encryptionimages.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_galleryartifactpublishingprofilebase.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_galleryartifactversionfullsource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_gallerydatadiskimage.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_gallerydiskimage.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_gallerydiskimagesource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_galleryextendedlocation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_galleryimageversion.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_galleryimageversionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_galleryimageversionsafetyprofile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_galleryimageversionstorageprofile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_galleryimageversionuefisettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_galleryimageversionupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_gallerytargetextendedlocation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_imageversionsecurityprofile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_osdiskimageencryption.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_osdiskimagesecurityprofile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_policyviolation.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_regionalreplicationstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_replicationstatus.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_targetregion.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_uefikey.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/model_uefikeysignatures.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/compute/2023-07-03/galleryimageversions/version.go
  vendor/modules.txt
Labels: bug, enhancement, dependencies, size/L

#29363 dependencies: `azurerm_mssql_server_security_alert_policy` - update to API version `2023-08-01-preview/serversecurityalertpolicies`
  internal/services/mssql/mssql_server_security_alert_policy_resource.go
  internal/services/mssql/mssql_server_security_alert_policy_resource_test.go
  website/docs/r/mssql_server_security_alert_policy.html.markdown
Labels: documentation, dependencies, breaking-change, size/XL, service/mssql

#29421 CHANGELOG.md for v4.28.0
  .release/provider-schema.json
  CHANGELOG.md
Labels: size/S

#29042 `azurerm_api_management_api` - fix update resource failure when specifying `oauth2_authorization`/`openid_authentication` property
  internal/services/apimanagement/api_management_api_resource.go
  internal/services/apimanagement/api_management_api_resource_test.go
Labels: bug, size/M, service/api-management

#29492 `azurerm_app_configuration` - support `developer` as a valid `sku` ; allow downgrading sku from `premium` to `standard`
  internal/services/appconfiguration/app_configuration_resource.go
  internal/services/appconfiguration/app_configuration_resource_test.go
  website/docs/r/app_configuration.html.markdown
Labels: enhancement, documentation, size/XS, service/app-configuration

#29506 Rename documentation files to follow expected pattern
  website/docs/d/dynatrace_monitor.html.markdown
  website/docs/d/healthcare_dicom_service.html.markdown
  website/docs/r/advisor_suppression.html.markdown
  website/docs/r/api_management_global_schema.html.markdown
  website/docs/r/data_factory_credential_user_managed_identity.html.markdown
  website/docs/r/data_factory_trigger_tumbling_window.html.markdown
  website/docs/r/datadog_monitor.html.markdown
  website/docs/r/dev_center_catalog.html.markdown
  website/docs/r/dynatrace_monitor.html.markdown
  website/docs/r/fluid_relay_server.html.markdown
  website/docs/r/healthbot.html.markdown
  website/docs/r/healthcare_dicom_service.html.markdown
  website/docs/r/managed_disk_sas_token.html.markdown
  website/docs/r/marketplace_role_assignment.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_virtual_hub_local_rulestack.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_virtual_hub_panorama.html.markdown
  website/docs/r/palo_alto_virtual_network_appliance.html.markdown
  website/docs/r/signalr_shared_private_link_resource.html.markdown
  website/docs/r/web_pubsub_shared_private_link_resource.html.markdown
Labels: documentation, size/XS

#28953 New Resource: `azurerm_system_center_virtual_machine_manager_virtual_machine_instance_guest_agent`
  internal/services/systemcentervirtualmachinemanager/parse/virtual_machine_instance_guest_agent.go
  internal/services/systemcentervirtualmachinemanager/parse/virtual_machine_instance_guest_agent_test.go
  internal/services/systemcentervirtualmachinemanager/registration.go
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_virtual_machine_instance_guest_agent_resource.go
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_virtual_machine_instance_guest_agent_resource_test.go
  internal/services/systemcentervirtualmachinemanager/system_center_virtual_machine_manager_virtual_machine_instance_resource.go
  internal/services/systemcentervirtualmachinemanager/validate/virtual_machine_instance_guest_agent_id.go
  internal/services/systemcentervirtualmachinemanager/validate/virtual_machine_instance_guest_agent_id_test.go
  website/docs/r/system_center_virtual_machine_manager_virtual_machine_instance.html.markdown
  website/docs/r/system_center_virtual_machine_manager_virtual_machine_instance_guest_agent.html.markdown
Labels: documentation, size/XL, service/systemcentervirtualmachinemanager

#29468 `azurerm_netapp_pool` - add support for `cool_access_enabled`
  internal/services/netapp/netapp_pool_data_source.go
  internal/services/netapp/netapp_pool_resource.go
  internal/services/netapp/netapp_pool_resource_test.go
  website/docs/d/netapp_pool.html.markdown
  website/docs/r/netapp_pool.html.markdown
Labels: enhancement, documentation, size/M, service/netapp

#29527 Data Source: `azurerm_palo_alto_local_rulestack` - add missing documentation page
  website/docs/d/palo_alto_local_rulestack.html.markdown
Labels: documentation, size/M

#29536 `azurerm_network_manager_deployment` - `scope_access` now accepts `Routing`
  internal/services/network/network_manager_deployment_resource.go
  website/docs/r/network_manager_deployment.html.markdown
Labels: enhancement, documentation, size/XS, service/network

#29524 `key_vault_managed_hardware_security_module_key` : add `import` keyop support
  internal/services/managedhsm/key_vault_managed_hardware_security_module_key_resource.go
  website/docs/r/key_vault_managed_hardware_security_module_key.html.markdown
Labels: enhancement, documentation, size/XS, service/managed-hsm

#28193 `azurerm_api_management_api`: add costom poller for `import` openapi
  internal/services/apimanagement/api_management_api_resource.go
  internal/services/apimanagement/api_management_api_resource_test.go
  internal/services/apimanagement/custompollers/api_management_api_poller.go
  internal/services/apimanagement/testdata/api_management_api_openapi_invalid.yaml
Labels: bug, size/L, service/api-management

#29374 `azurerm_container_app_environment_storage`: add support for file protocol `NFS` vis the `nfs_server` property
  internal/services/containerapps/container_app_environment_storage_resource.go
  internal/services/containerapps/container_app_environment_storage_resource_test.go
  website/docs/r/container_app_environment_storage.html.markdown
Labels: enhancement, documentation, size/M, service/container-apps

#29541 Changelog Automation Permissions Testing Fix
  .github/workflows/update_changelog.yml
Labels: bug, size/XS

#29239 `azurerm_virtual_machine_implicit_data_disk_from_source` - Supports data disk live expanding
  internal/services/compute/helpers.go
  internal/services/compute/managed_disk_resource.go
  internal/services/compute/virtual_machine_implicit_data_disk_from_source_resource.go
  internal/services/compute/virtual_machine_implicit_data_disk_from_source_resource_test.go
  website/docs/r/virtual_machine_implicit_data_disk_from_source.html.markdown
Labels: enhancement, documentation, size/XL

#29608 Docs: services `b*` - add API version sections
  website/docs/d/batch_account.html.markdown
  website/docs/d/batch_application.html.markdown
  website/docs/d/batch_certificate.html.markdown
  website/docs/d/batch_pool.html.markdown
  website/docs/d/blueprint_definition.html.markdown
  website/docs/d/blueprint_published_version.html.markdown
  website/docs/r/batch_account.html.markdown
  website/docs/r/batch_application.html.markdown
  website/docs/r/batch_certificate.html.markdown
  website/docs/r/batch_pool.html.markdown
  website/docs/r/blueprint_assignment.html.markdown
  website/docs/r/bot_channel_email.html.markdown
  website/docs/r/healthbot.html.markdown
Labels: documentation, size/M

#29581 Docs: services `e*` - add API version sections
  website/docs/d/elastic_cloud_elasticsearch.html.markdown
  website/docs/d/elastic_san.html.markdown
  website/docs/d/elastic_san_volume_group.html.markdown
  website/docs/d/elastic_san_volume_snapshot.html.markdown
  website/docs/d/eventgrid_domain.html.markdown
  website/docs/d/eventgrid_domain_topic.html.markdown
  website/docs/d/eventgrid_system_topic.html.markdown
  website/docs/d/eventgrid_topic.html.markdown
  website/docs/d/eventhub.html.markdown
  website/docs/d/eventhub_authorization_rule.html.markdown
  website/docs/d/eventhub_cluster.html.markdown
  website/docs/d/eventhub_consumer_group.html.markdown
  website/docs/d/eventhub_namespace.html.markdown
  website/docs/d/eventhub_namespace_authorization_rule.html.markdown
  website/docs/d/extended_location_custom_location.html.markdown
  website/docs/r/elastic_cloud_elasticsearch.html.markdown
  website/docs/r/elastic_san.html.markdown
  website/docs/r/elastic_san_volume.html.markdown
  website/docs/r/elastic_san_volume_group.html.markdown
  website/docs/r/eventgrid_domain.html.markdown
  website/docs/r/eventgrid_domain_topic.html.markdown
  website/docs/r/eventgrid_event_subscription.html.markdown
  website/docs/r/eventgrid_namespace.html.markdown
  website/docs/r/eventgrid_partner_configuration.html.markdown
  website/docs/r/eventgrid_system_topic.html.markdown
  website/docs/r/eventgrid_system_topic_event_subscription.html.markdown
  website/docs/r/eventgrid_topic.html.markdown
  website/docs/r/eventhub.html.markdown
  website/docs/r/eventhub_authorization_rule.html.markdown
  website/docs/r/eventhub_cluster.html.markdown
  website/docs/r/eventhub_consumer_group.html.markdown
  website/docs/r/eventhub_namespace.html.markdown
  website/docs/r/eventhub_namespace_authorization_rule.html.markdown
  website/docs/r/eventhub_namespace_customer_managed_key.html.markdown
  website/docs/r/eventhub_namespace_disaster_recovery_config.html.markdown
  website/docs/r/eventhub_namespace_schema_group.html.markdown
  website/docs/r/extended_location_custom_location.html.markdown
Labels: documentation, size/L

#29582 Docs: services `f*` & `g*` - add API version sections
  website/docs/d/firewall.html.markdown
  website/docs/d/firewall_policy.html.markdown
  website/docs/r/fabric_capacity.html.markdown
  website/docs/r/firewall.html.markdown
  website/docs/r/firewall_application_rule_collection.html.markdown
  website/docs/r/firewall_nat_rule_collection.html.markdown
  website/docs/r/firewall_network_rule_collection.html.markdown
  website/docs/r/firewall_policy.html.markdown
  website/docs/r/firewall_policy_rule_collection_group.html.markdown
  website/docs/r/fluid_relay_server.html.markdown
  website/docs/r/graph_services_account.html.markdown
Labels: documentation, size/M

#29583 Docs: services `h*` - add API version sections
  website/docs/d/arc_machine.html.markdown
  website/docs/d/hdinsight_cluster.html.markdown
  website/docs/d/healthcare_dicom_service.html.markdown
  website/docs/d/healthcare_fhir_service.html.markdown
  website/docs/d/healthcare_medtech_service.html.markdown
  website/docs/d/healthcare_service.html.markdown
  website/docs/d/healthcare_workspace.html.markdown
  website/docs/r/arc_machine.html.markdown
  website/docs/r/arc_machine_extension.html.markdown
  website/docs/r/arc_private_link_scope.html.markdown
  website/docs/r/dedicated_hardware_security_module.html.markdown
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
  website/docs/r/healthcare_dicom_service.html.markdown
  website/docs/r/healthcare_fhir_service.html.markdown
  website/docs/r/healthcare_medtech_service.html.markdown
  website/docs/r/healthcare_medtech_service_fhir_destination.html.markdown
  website/docs/r/healthcare_service.html.markdown
  website/docs/r/healthcare_workspace.html.markdown
Labels: documentation, size/M

#29585 Docs: services `k*` - add API version sections
  website/docs/d/kusto_cluster.html.markdown
  website/docs/d/kusto_database.html.markdown
  website/docs/r/kusto_attached_database_configuration.html.markdown
  website/docs/r/kusto_cluster.html.markdown
  website/docs/r/kusto_cluster_customer_managed_key.html.markdown
  website/docs/r/kusto_cluster_managed_private_endpoint.html.markdown
  website/docs/r/kusto_cluster_principal_assignment.html.markdown
  website/docs/r/kusto_cosmosdb_data_connection.html.markdown
  website/docs/r/kusto_database.html.markdown
  website/docs/r/kusto_database_principal_assignment.html.markdown
  website/docs/r/kusto_eventgrid_data_connection.html.markdown
  website/docs/r/kusto_eventhub_data_connection.html.markdown
  website/docs/r/kusto_iothub_data_connection.html.markdown
  website/docs/r/kusto_script.html.markdown
Labels: documentation, size/M

#29586 Docs: services `l*` - add API version sections
  website/docs/d/lb.html.markdown
  website/docs/d/lb_backend_address_pool.html.markdown
  website/docs/d/lb_outbound_rule.html.markdown
  website/docs/d/lb_rule.html.markdown
  website/docs/d/load_test.html.markdown
  website/docs/d/log_analytics_workspace.html.markdown
  website/docs/d/logic_app_integration_account.html.markdown
  website/docs/d/logic_app_standard.html.markdown
  website/docs/d/logic_app_workflow.html.markdown
  website/docs/r/lb.html.markdown
  website/docs/r/lb_backend_address_pool.html.markdown
  website/docs/r/lb_backend_address_pool_address.html.markdown
  website/docs/r/lb_nat_pool.html.markdown
  website/docs/r/lb_nat_rule.html.markdown
  website/docs/r/lb_outbound_rule.html.markdown
  website/docs/r/lb_probe.html.markdown
  website/docs/r/lb_rule.html.markdown
  website/docs/r/lighthouse_assignment.html.markdown
  website/docs/r/lighthouse_definition.html.markdown
  website/docs/r/load_test.html.markdown
  website/docs/r/log_analytics_cluster.html.markdown
  website/docs/r/log_analytics_cluster_customer_managed_key.html.markdown
  website/docs/r/log_analytics_data_export_rule.html.markdown
  website/docs/r/log_analytics_datasource_windows_event.html.markdown
  website/docs/r/log_analytics_datasource_windows_performance_counter.html.markdown
  website/docs/r/log_analytics_linked_service.html.markdown
  website/docs/r/log_analytics_linked_storage_account.html.markdown
  website/docs/r/log_analytics_query_pack.html.markdown
  website/docs/r/log_analytics_query_pack_query.html.markdown
  website/docs/r/log_analytics_saved_search.html.markdown
  website/docs/r/log_analytics_solution.html.markdown
  website/docs/r/log_analytics_storage_insights.html.markdown
  website/docs/r/log_analytics_workspace.html.markdown
  website/docs/r/log_analytics_workspace_table.html.markdown
Labels: documentation, size/L

#29591 Docs: services `r*` - add API version sections
  website/docs/d/recovery_services_vault.html.markdown
  website/docs/d/redis_cache.html.markdown
  website/docs/d/redis_enterprise_database.html.markdown
  website/docs/d/site_recovery_fabric.html.markdown
  website/docs/d/site_recovery_protection_container.html.markdown
  website/docs/d/site_recovery_replication_policy.html.markdown
  website/docs/d/site_recovery_replication_recovery_plan.html.markdown
  website/docs/d/template_spec_version.html.markdown
  website/docs/r/recovery_services_vault.html.markdown
  website/docs/r/redhat_openshift_cluster.html.markdown
  website/docs/r/redis_cache.html.markdown
  website/docs/r/redis_cache_access_policy.html.markdown
  website/docs/r/redis_cache_access_policy_assignment.html.markdown
  website/docs/r/redis_enterprise_cluster.html.markdown
  website/docs/r/redis_enterprise_database.html.markdown
  website/docs/r/redis_firewall_rule.html.markdown
  website/docs/r/redis_linked_server.html.markdown
  website/docs/r/relay_hybrid_connection.html.markdown
  website/docs/r/relay_hybrid_connection_authorization_rule.html.markdown
  website/docs/r/relay_namespace.html.markdown
  website/docs/r/relay_namespace_authorization_rule.html.markdown
  website/docs/r/resource_deployment_script_azure_cli.html.markdown
  website/docs/r/resource_deployment_script_azure_power_shell.html.markdown
  website/docs/r/resource_management_private_link.html.markdown
  website/docs/r/resource_management_private_link_association.html.markdown
  website/docs/r/resource_provider_registration.html.markdown
  website/docs/r/site_recovery_fabric.html.markdown
  website/docs/r/site_recovery_hyperv_network_mapping.html.markdown
  website/docs/r/site_recovery_hyperv_replication_policy.html.markdown
  website/docs/r/site_recovery_hyperv_replication_policy_association.html.markdown
  website/docs/r/site_recovery_network_mapping.html.markdown
  website/docs/r/site_recovery_protection_container.html.markdown
  website/docs/r/site_recovery_protection_container_mapping.html.markdown
  website/docs/r/site_recovery_replicated_vm.html.markdown
  website/docs/r/site_recovery_replication_policy.html.markdown
  website/docs/r/site_recovery_replication_recovery_plan.html.markdown
  website/docs/r/site_recovery_services_vault_hyperv_site.html.markdown
  website/docs/r/site_recovery_vmware_replicated_vm.html.markdown
  website/docs/r/site_recovery_vmware_replication_policy.html.markdown
  website/docs/r/site_recovery_vmware_replication_policy_association.html.markdown
Labels: documentation, size/L

#29593 Docs: services `t*`, `v*`, & `w*` - add API version sections
  website/docs/d/traffic_manager_geographical_location.html.markdown
  website/docs/d/traffic_manager_profile.html.markdown
  website/docs/d/vmware_private_cloud.html.markdown
  website/docs/r/traffic_manager_azure_endpoint.html.markdown
  website/docs/r/traffic_manager_external_endpoint.html.markdown
  website/docs/r/traffic_manager_nested_endpoint.html.markdown
  website/docs/r/traffic_manager_profile.html.markdown
  website/docs/r/video_indexer_account.html.markdown
  website/docs/r/vmware_cluster.html.markdown
  website/docs/r/vmware_express_route_authorization.html.markdown
  website/docs/r/vmware_netapp_volume_attachment.html.markdown
  website/docs/r/vmware_private_cloud.html.markdown
  website/docs/r/voice_services_communications_gateway.html.markdown
  website/docs/r/voice_services_communications_gateway_test_line.html.markdown
  website/docs/r/workloads_sap_discovery_virtual_instance.html.markdown
  website/docs/r/workloads_sap_single_node_virtual_instance.html.markdown
  website/docs/r/workloads_sap_three_tier_virtual_instance.html.markdown
Labels: documentation, size/M

#29589 Docs: services `o*` - add API version sections
  website/docs/d/oracle_adbs_character_sets.html.markdown
  website/docs/d/oracle_adbs_national_character_sets.html.markdown
  website/docs/d/oracle_autonomous_database.html.markdown
  website/docs/d/oracle_cloud_vm_cluster.html.markdown
  website/docs/d/oracle_db_nodes.html.markdown
  website/docs/d/oracle_db_servers.html.markdown
  website/docs/d/oracle_db_system_shapes.html.markdown
  website/docs/d/oracle_exadata_infrastructure.html.markdown
  website/docs/d/oracle_gi_versions.html.markdown
  website/docs/r/oracle_autonomous_database.html.markdown
  website/docs/r/oracle_cloud_vm_cluster.html.markdown
  website/docs/r/oracle_exadata_infrastructure.html.markdown
  website/docs/r/orbital_contact.html.markdown
  website/docs/r/orbital_contact_profile.html.markdown
  website/docs/r/orbital_spacecraft.html.markdown
Labels: documentation, size/M

#29614 `azurerm_web_application_firewall_policy` : support new type `JSChallenge` for `action` property
  internal/services/network/web_application_firewall_policy_resource.go
  internal/services/network/web_application_firewall_policy_resource_test.go
  website/docs/r/web_application_firewall_policy.html.markdown
Labels: enhancement, documentation, size/XS, service/network

#29606 Use a 4.x version in the Readme example
  README.md
Labels: size/XS

#29601 `azurerm_private_endpoint_application_security_group_association` - remove resource from state file when the resource does not exist
  internal/services/network/private_endpoint_application_security_group_association_resource.go
Labels: enhancement, size/XS, service/network

#29625 `doc`: update two examples using depreacated `azurerm_sql_server` and `azurerm_sql_database`
  website/docs/r/mssql_database_vulnerability_assessment_rule_baseline.html.markdown
  website/docs/r/stream_analytics_output_mssql.html.markdown
Labels: documentation, size/S

#29632 Remove outdated note from `azurerm_machine_learning_compute_cluster` documentation
  website/docs/r/machine_learning_compute_cluster.html.markdown
Labels: documentation, size/XS

#29513 `data.azurerm_managed_disk` - add support for `location`
  internal/services/compute/managed_disk_data_source.go
  internal/services/compute/managed_disk_data_source_test.go
  website/docs/d/managed_disk.html.markdown
Labels: enhancement, documentation, size/XS

#29665 Dependencies: update `go-azure-sdk` to `v0.20250520.1180806`
  go.mod
  go.sum
  internal/services/oracle/oracle_db_nodes_data_source.go
  internal/services/oracle/oracle_db_servers_data_source.go
  internal/services/recoveryservices/backup_protected_file_share_resource.go
  internal/services/recoveryservices/backup_protected_vm_resource.go
  internal/services/recoveryservices/recovery_services_vault_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datafactory/2018-06-01/linkedservices/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datafactory/2018-06-01/linkedservices/model_amazonrdsforlinkedservicetypeproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datafactory/2018-06-01/linkedservices/model_azuredatabrickslinkedservicetypeproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datafactory/2018-06-01/linkedservices/model_hivelinkedservicetypeproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datafactory/2018-06-01/linkedservices/model_impalalinkedservicetypeproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/datafactory/2018-06-01/linkedservices/model_sparklinkedservicetypeproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/loadbalancers/model_loadbalancerhealthperruleperbackendaddress.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanageractiveconfigurations/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanageractiveconnectivityconfigurations/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanagereffectiveconnectivityconfiguration/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanagereffectivesecurityadminrules/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/autonomousdatabasebackups/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/autonomousdatabasebackups/method_listbyparent.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/autonomousdatabasebackups/model_autonomousdatabasebackupupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/autonomousdatabasebackups/model_autonomousdatabasebackupupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/dbnodes/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/dbnodes/method_listbyparent.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/dbservers/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/dbservers/method_listbyparent.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/virtualnetworkaddresses/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/oracledatabase/2024-06-01/virtualnetworkaddresses/method_listbyparent.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicesbackup/2023-02-01/protecteditems/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicesbackup/2023-02-01/protecteditems/method_createorupdate_autorest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/recoveryservicesbackup/2023-02-01/protecteditems/method_delete_autorest.go
  vendor/modules.txt
Labels: enhancement, dependencies, size/XL, service/recovery-services

#29664 Add support for contactemail tag on dns_caa_record resource
  internal/services/dns/dns_caa_record_resource.go
  website/docs/d/dns_caa_record.html.markdown
  website/docs/r/dns_caa_record.html.markdown
Labels: enhancement, documentation, service/dns, size/XS

#29677 Fix typo in automation_runbook.html.markdown
  website/docs/r/automation_runbook.html.markdown
Labels: bug, documentation, size/XS

#29023 `azurerm_function_app_flex_consumption` - add `always_ready`
  internal/services/appservice/function_app_flex_consumption_resource.go
  internal/services/appservice/function_app_flex_consumption_resource_test.go
  website/docs/r/function_app_flex_consumption.html.markdown
Labels: enhancement, documentation, size/XL, service/app-service

#29671 `azurerm_hpc_cache*` - skip tests and deprecate resources for 5.0
  internal/services/storagecache/hpc_cache_access_policy_resource.go
  internal/services/storagecache/hpc_cache_access_policy_resource_test.go
  internal/services/storagecache/hpc_cache_blob_nfs_target_resource.go
  internal/services/storagecache/hpc_cache_blob_nfs_target_resource_test.go
  internal/services/storagecache/hpc_cache_blob_target_resource.go
  internal/services/storagecache/hpc_cache_blob_target_resource_test.go
  internal/services/storagecache/hpc_cache_nfs_target_resource.go
  internal/services/storagecache/hpc_cache_nfs_target_resource_test.go
  internal/services/storagecache/hpc_cache_resource.go
  internal/services/storagecache/hpc_cache_resource_test.go
  internal/services/storagecache/registration.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/hpc_cache.html.markdown
  website/docs/r/hpc_cache_access_policy.html.markdown
  website/docs/r/hpc_cache_blob_nfs_target.html.markdown
  website/docs/r/hpc_cache_blob_target.html.markdown
  website/docs/r/hpc_cache_nfs_target.html.markdown
Labels: enhancement, documentation, size/M

#29676 Migrate GitHub Actions updates from TSCCR to Dependabot
  .github/dependabot.yml
Labels: size/XS, dependapatch

#29683 eventhub_namespace: fix docs value allowed for maximum_throughput_units
  website/docs/r/eventhub_namespace.html.markdown
Labels: documentation, size/XS

#29646 CHANGELOG.md for v4.30.0
  .release/provider-schema.json
  CHANGELOG.md
Labels: size/XS

#29690 azurerm_storage_account_static_website - fix incorrect example resource reference
  website/docs/r/storage_account_static_website.html.markdown
Labels: bug, documentation, size/XS

#29319 `azurerm_network_interface`: `tags` can now be updated when NIC is attached to a private endpoint
  internal/services/network/network_interface_resource.go
  internal/services/network/network_interface_resource_test.go
Labels: bug, size/M, service/network

#29373 [Dependencies:] `azurerm_mssql_server_vulnerability_assessment` - update to version `2023-08-01-preview/serversecurityalertpolicies` API
  internal/services/mssql/mssql_server_vulnerability_assessment_resource.go
  internal/services/mssql/mssql_server_vulnerability_assessment_resource_test.go
  website/docs/r/mssql_server_vulnerability_assessment.html.markdown
Labels: documentation, dependencies, size/XL, service/mssql

#29024 `azurerm_function_app_flex_consumption` - add `https_only`
  internal/services/appservice/function_app_flex_consumption_resource.go
  internal/services/appservice/function_app_flex_consumption_resource_test.go
  website/docs/r/function_app_flex_consumption.html.markdown
Labels: enhancement, documentation, size/S, service/app-service

#29704 `HDInsight`: update docs to avoid incorrect use of `storage_container_id`
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
Labels: bug, documentation, size/XS

#29715 `videoindexer` : upgrade API version from `2024-01-01` to `2025-04-01`
  internal/services/videoindexer/client/client.go
  internal/services/videoindexer/video_indexer_account_resource.go
  internal/services/videoindexer/video_indexer_account_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/model_accountpropertiesforpatchrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2024-01-01/accounts/model_accountpropertiesforputrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/id_account.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_account.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_accountpatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_accountpropertiesforpatchrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_accountpropertiesforputrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_openaiservicesforpatchrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_openaiservicesforputrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_privateendpoint.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_privateendpointconnection.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_privateendpointconnectionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_privatelinkserviceconnectionstate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_storageservicesforpatchrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/model_storageservicesforputrequest.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/videoindexer/2025-04-01/accounts/version.go
  vendor/modules.txt
Labels: enhancement, dependencies, size/XL, service/video-indexer

#29709 `mysql_flexible_server` - add `MO_Standard_E96ads_v5` to sku_name
  internal/services/mysql/validate/flexible_server_sku_name.go
  internal/services/mysql/validate/flexible_server_sku_name_test.go
Labels: bug, enhancement, size/XS, service/mysql

#29710 `azurerm_backup_protected_vm` - add `BackupsSuspended` to `protection_state`, fix some issues
  internal/services/recoveryservices/backup_protected_vm_resource.go
  internal/services/recoveryservices/backup_protected_vm_resource_test.go
  website/docs/r/backup_protected_vm.html.markdown
Labels: bug, enhancement, documentation, size/XL, service/recovery-services

#29624 `azurerm_api_management_api` : Fix the error caused by `api_type` being specified as `websocket` but `service_url` is specified as an empty string
  internal/services/apimanagement/api_management_api_resource.go
  website/docs/r/api_management_api.html.markdown
Labels: bug, documentation, size/XS, service/api-management

#28262 Bug Fix: `hdinsight` `script_action` should be marked as `ForceNew`
  internal/services/hdinsight/schema.go
  website/docs/r/hdinsight_hadoop_cluster.html.markdown
  website/docs/r/hdinsight_hbase_cluster.html.markdown
  website/docs/r/hdinsight_interactive_query_cluster.html.markdown
  website/docs/r/hdinsight_kafka_cluster.html.markdown
  website/docs/r/hdinsight_spark_cluster.html.markdown
Labels: bug, documentation, good first issue, size/S, service/hdinsight

#29247 `Contributor Guides` - Add some notes for resource development
  contributing/topics/best-practices.md
  contributing/topics/guide-new-resource.md
Labels: enhancement, size/S

#29538 `azurerm_api_management_api_operation` : Add validation for `url_template` and `template_parameter`
  internal/services/apimanagement/api_management_api_operation_resource.go
Labels: enhancement, size/S, service/api-management

#29377 `azurerm_batch_pool` - correctly update `data_disks`
  internal/services/batch/batch_pool_resource.go
  internal/services/batch/batch_pool_resource_test.go
Labels: bug, enhancement, size/S, service/batch

#29337 `azurerm_postgresql_flexible_server`: lock source server when creating replica server
  internal/services/postgres/postgresql_flexible_server_configuration_resource.go
  internal/services/postgres/postgresql_flexible_server_configuration_resource_test.go
  internal/services/postgres/postgresql_flexible_server_resource.go
Labels: enhancement, size/S, service/postgresql

#29246 `azurerm_search_service`: keep `network_rule_bypass_option` when only update `allowed_ips`
  internal/services/search/search_service_resource.go
  internal/services/search/search_service_resource_test.go
Labels: bug, size/S, service/search

#29717 `azurerm_linux_virtual_machine` - fix update for `identity` when VM has `VMExtensions` configured
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_identity_test.go
  internal/services/compute/linux_virtual_machine_resource_test.go
Labels: size/L

#29310 New Resource: `azurerm_network_manager_routing_configuration`
  internal/services/network/network_manager_resource_test.go
  internal/services/network/network_manager_routing_configuration_resource.go
  internal/services/network/network_manager_routing_configuration_resource_test.go
  internal/services/network/registration.go
  website/docs/r/network_manager_routing_configuration.html.markdown
Labels: documentation, size/XL, service/network

#29698 [Dependencies:] `client` - remove `LegacyServerSecurityAlertPoliciesClient` from the mssql client package
  internal/services/mssql/client/client.go
Labels: size/S, service/mssql

#29723 `azurerm_mssql_virtual_machine` - disable `auto_patching` when the block is not specified
  internal/services/mssql/mssql_virtual_machine_resource.go
  internal/services/mssql/mssql_virtual_machine_resource_test.go
Labels: bug, size/XS, service/mssql

#29716 New Data Source: `azurerm_dev_center`
  internal/services/devcenter/dev_center_data_source.go
  internal/services/devcenter/dev_center_data_source_test.go
  internal/services/devcenter/registration.go
  website/docs/d/dev_center.html.markdown
Labels: documentation, size/L, service/dev-center

#29406 `monitor_diagnostic_setting` - replace `metric` with `enabled_metric`
  internal/services/monitor/monitor_diagnostic_setting_resource.go
  internal/services/monitor/monitor_diagnostic_setting_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/monitor_diagnostic_setting.html.markdown
Labels: bug, documentation, size/XL, service/monitor

#29689 CHANGELOG.md for v4.31.0
  .release/provider-schema.json
  CHANGELOG.md
Labels: size/S

#29741 `azurerm_postgresql_flexible_server` - Support versionless CMK key vault key id
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: enhancement, documentation, size/S, service/postgresql

#29186 `azurerm_vpn_gateway` - support for new readonly property `ip_configuration`
  internal/services/network/vpn_gateway_data_source.go
  internal/services/network/vpn_gateway_data_source_test.go
  internal/services/network/vpn_gateway_resource.go
  internal/services/network/vpn_gateway_resource_test.go
  website/docs/d/vpn_gateway.html.markdown
  website/docs/r/vpn_gateway.html.markdown
Labels: enhancement, documentation, size/M, service/network
