Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2025-02, with the labels that each got.

#28447 `azurerm_logic_app_action_http` - omit `queries` when not specified
  internal/services/logic/logic_app_action_http_resource.go
  internal/services/logic/logic_app_action_http_resource_test.go
Labels: bug, size/XS, service/logic

#28532 azurerm_nginx_configuration - add content hash attribute to protected files
  internal/services/nginx/nginx_configuration_data_source.go
  internal/services/nginx/nginx_configuration_data_source_test.go
  internal/services/nginx/nginx_configuration_resource.go
  website/docs/d/nginx_configuration.html.markdown
  website/docs/r/nginx_configuration.html.markdown
Labels: enhancement, documentation, size/S, service/nginx

#28611 Contributor Docs: add provider documentation standards page
  contributing/topics/documentation-standards.md
Labels: enhancement, size/M

#28675 `azurerm_maps_account` - Update documentation for location to be (Required) #28652
  website/docs/r/maps_account.html.markdown
Labels: bug, documentation, size/XS, service/maps

#28537 `azurerm_palo_alto_next_generation_firewall_*` - support for new properties `marketplace_offer_id` and `plan_id`
  internal/services/paloalto/next_generation_firewall_vhub_local_rulestack_resource.go
  internal/services/paloalto/next_generation_firewall_vhub_local_rulestack_resource_test.go
  internal/services/paloalto/next_generation_firewall_vhub_panorama_resource.go
  internal/services/paloalto/next_generation_firewall_vhub_panorama_resource_test.go
  internal/services/paloalto/next_generation_firewall_vnet_local_rulestack_resource.go
  internal/services/paloalto/next_generation_firewall_vnet_local_rulestack_resource_test.go
  internal/services/paloalto/next_generation_firewall_vnet_panorama_resource.go
  internal/services/paloalto/next_generation_firewall_vnet_panorama_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_vhub_local_rulestack.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_vhub_panorama.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_virtual_network_local_rulestack.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_virtual_network_panorama.html.markdown
Labels: enhancement, documentation, size/XL, service/paloalto

#28640 acceptance tests - update plan check logic to not error if the resource isn't found in the plan
  internal/acceptance/helpers/is_not_resource_action.go
Labels: size/M, tests

#28674 dependencies: update go-azure-sdk to v0.20250131.1134653
  go.mod
  go.sum
  internal/provider/framework/config.go
  internal/provider/framework/helpers.go
  internal/provider/framework/model.go
  internal/provider/framework/provider.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/services/connections/api_connection_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/applicationinsights/2015-05-01/componentproactivedetectionapis/model_applicationinsightscomponentproactivedetectionconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanageractiveconfigurations/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanageractiveconnectivityconfigurations/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/web/2016-06-01/connections/model_apiconnectiondefinitionproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/README.md
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/ado_pipeline_oidc_authorizer.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/auth.go
  vendor/github.com/hashicorp/go-azure-sdk/sdk/auth/config.go
  vendor/modules.txt
  website/docs/d/api_management_subscription.html.markdown
  website/docs/guides/service_principal_oidc.html.markdown
  website/docs/index.html.markdown
Labels: enhancement, documentation, dependencies, size/XL, service/connections

#28363 `azurerm_route_server` - Add support for `hub_routing_preference` property
  internal/services/network/route_server_resource.go
  internal/services/network/route_server_resource_test.go
  website/docs/r/route_server.html.markdown
Labels: enhancement, documentation, size/S, service/network

#28708 `azurerm_kubernetes_cluster` - add caution note to AKS docs about the preview version deprecation schedule
  website/docs/r/kubernetes_cluster.html.markdown
Labels: documentation, size/XS, service/kubernetes-cluster

#28536 Fix datatype issue of AutonomousDatabaseRegularDataSource
  internal/services/oracle/autonomous_database_regular_data_source.go
Labels: bug, breaking-change, size/XS

#28416 `azurerm_network_watcher_flow_log` - add nil check for `traffic_analytics`
  internal/services/network/network_watcher_flow_log_resource.go
  internal/services/network/network_watcher_flow_log_resource_test.go
Labels: bug, size/XS, service/network

#28673 `azurerm_machine_learning_compute_cluster` - `subnet_resource_id` does not have to be specified when `node_public_ip_enabled` is `false`
  internal/services/machinelearning/machine_learning_compute_cluster_resource.go
  internal/services/machinelearning/machine_learning_compute_cluster_resource_test.go
  website/docs/r/machine_learning_compute_cluster.html.markdown
Labels: bug, documentation, size/M, service/machine-learning

#27533 azurerm_container_app - support for the `add sub_path` property
  internal/services/containerapps/container_app_resource_test.go
  internal/services/containerapps/helpers/container_apps.go
  website/docs/d/container_app.html.markdown
  website/docs/r/container_app.html.markdown
Labels: enhancement, documentation, good first issue, size/S, service/container-apps

#28651 CHANGELOG.md for v4.18.0
  .release/provider-schema.json
  CHANGELOG.md
Labels: size/XS

#28523 `azurerm_container_app`: add support for `client_certificate_mode`
  internal/services/containerapps/container_app_resource_test.go
  internal/services/containerapps/helpers/container_apps.go
  website/docs/r/container_app.html.markdown
Labels: enhancement, documentation, size/XS, service/container-apps

#28691 New Resource: `azurerm_mssql_job_step`
  .github/labeler-issue-triage.yml
  .github/pull_request_template.md
  internal/services/mssql/client/client.go
  internal/services/mssql/mssql_job_step_resource.go
  internal/services/mssql/mssql_job_step_resource_test.go
  internal/services/mssql/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/id_job.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/id_step.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/id_version.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/id_versionstep.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/method_getbyversion.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/method_listbyjob.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/method_listbyversion.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/model_jobstep.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/model_jobstepaction.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/model_jobstepexecutionoptions.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/model_jobstepoutput.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/model_jobstepproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/jobsteps/version.go
  vendor/modules.txt
  website/docs/r/mssql_job_step.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/mssql

#28723 make terrafmt
  internal/services/containerapps/container_app_resource_test.go
Labels: size/XS, service/container-apps

#28724 testing merge rules
  internal/services/automation/automation_connection_type_resource.go
Labels: waiting-response, size/XS, service/automation

#28717 azurerm_cdn_frontdoor_firewall_policy - custom rules to accept JSChallenge
  internal/services/cdn/cdn_frontdoor_firewall_policy_resource.go
  website/docs/r/cdn_frontdoor_firewall_policy.html.markdown
Labels: enhancement, documentation, waiting-response, size/XS, service/cdn

#28728 guide-new-resource.md: replaced hard tab with spaces, fixed bug
  contributing/topics/guide-new-resource.md
Labels: enhancement, size/XL

#26680 `azurerm_servicebus_topic` - add premium namespace partition validation
  internal/services/servicebus/servicebus_topic_resource.go
  internal/services/servicebus/servicebus_topic_resource_test.go
  website/docs/r/servicebus_topic.html.markdown
Labels: enhancement, documentation, size/M, service/service-bus

#28703 `azurerm_windows_web_app`, `azurerm_linux_web_app`, `azurerm_windows_function_app`, `azurerm_linux_function_app` - Terraform will no longer plan when `site_config.0.cors` are the default values
  internal/services/appservice/helpers/shared_schema.go
  internal/services/appservice/linux_function_app_resource_test.go
Labels: bug, size/S, service/app-service

#28725 `azurerm_(windows|linux)_function_app_slot` - Fix `site_config.elastic_instance_minimum` not being set
  internal/services/appservice/helpers/function_app_slot_schema.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
Labels: bug, size/XS, service/app-service

#28733 `azurerm_postgresql_flexible_server_virtual_endpoint` - allow `source_server_id` and `replica_server_id` to be identical
  internal/services/postgres/postgresql_flexible_server_virtual_endpoint_resource.go
  internal/services/postgres/postgresql_flexible_server_virtual_endpoint_resource_test.go
Labels: bug, size/M, service/postgresql

#28742 Docs: Fix typo in documentation for `secret_rotation_interval` description in `azurerm_kubernetes_cluster`
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/XS

#28659 `azurerm_express_route_circuit` - add support for the `rate_limiting_enabled` property
  internal/services/network/express_route_circuit_resource.go
  internal/services/network/express_route_circuit_resource_test.go
  website/docs/r/express_route_circuit.html.markdown
Labels: enhancement, documentation, size/XS, service/network

#28722 `azurerm_storage_account` - updated documentation for storage_account access_tier to display cold tier
  website/docs/r/storage_account.html.markdown
Labels: bug, documentation, service/storage, size/XS

#28741 dependencies: bump `hashicorp/go-azure-sdk` to `v0.20250211.1073809`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanagereffectiveconnectivityconfiguration/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanagereffectivesecurityadminrules/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/storagecache/2023-05-01/amlfilesystems/model_amlfilesystemarchivestatus.go
  vendor/modules.txt
Labels: bug, dependencies, size/S

#28441 New Resource - `azurerm_virtual_machine_scale_set_standby_pool`
  .github/labeler-issue-triage.yml
  internal/services/compute/client/client.go
  internal/services/compute/registration.go
  internal/services/compute/virtual_machine_scale_set_standby_pool_resource.go
  internal/services/compute/virtual_machine_scale_set_standby_pool_resource_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/id_standbyvirtualmachinepool.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/method_listbysubscription.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/model_standbyvirtualmachinepoolelasticityprofile.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/model_standbyvirtualmachinepoolresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/model_standbyvirtualmachinepoolresourceproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/model_standbyvirtualmachinepoolresourceupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/model_standbyvirtualmachinepoolresourceupdateproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/standbypool/2024-03-01/standbyvirtualmachinepools/version.go
  vendor/modules.txt
  website/docs/r/virtual_machine_scale_set_standby_pool.html.markdown
Labels: documentation, dependencies, size/XL

#28602 New Data Source: `azurerm_stack_hci_storage_path`
  internal/services/azurestackhci/registration.go
  internal/services/azurestackhci/stack_hci_storage_path_data_source.go
  internal/services/azurestackhci/stack_hci_storage_path_data_source_test.go
  website/docs/d/stack_hci_storage_path.html.markdown
Labels: documentation, size/L, service/azure-stack-hci

#28750 [TEST:] `azurerm_cdn_frontdoor_firewall_policy` - add tests for `custom_rule` `action` `JSChallenge`
  internal/services/cdn/cdn_frontdoor_firewall_policy_resource_test.go
  website/docs/r/cdn_frontdoor_firewall_policy.html.markdown
Labels: documentation, size/L, service/cdn

#28751 Just a minor documentation update
  contributing/topics/high-level-overview.md
  website/docs/r/storage_blob.html.markdown
Labels: enhancement, documentation, size/XS

#27424 New resources: `azurerm_ai_foundry` `azurerm_ai_foundry_project`
  .github/labeler-issue-triage.yml
  internal/services/cognitive/ai_services_resource.go
  internal/services/cognitive/ai_services_resource_test.go
  internal/services/cognitive/registration.go
  internal/services/machinelearning/ai_foundry_project_resource.go
  internal/services/machinelearning/ai_foundry_project_resource_test.go
  internal/services/machinelearning/ai_foundry_resource.go
  internal/services/machinelearning/ai_foundry_resource_test.go
  internal/services/machinelearning/registration.go
  website/docs/r/ai_foundry.html.markdown
  website/docs/r/ai_foundry_project.html.markdown
  website/docs/r/ai_services.html.markdown
Labels: documentation, new-resource, size/XL, service/cognitive-services, service/machine-learning

#28524 `azurerm_service_plan` - support for `premium_plan_auto_scale_enabled`
  internal/services/appservice/helpers/service_plan.go
  internal/services/appservice/service_plan_resource.go
  internal/services/appservice/service_plan_resource_test.go
  website/docs/r/service_plan.html.markdown
Labels: documentation, size/L, service/app-service

#28726 [Enhancement:] `azurerm_cdn_frontdoor_firewall_policy` - `js_challenge_cookie_expiration_in_minutes` causing `BadRequest` error with `Standard_AzureFrontDoor` SKU
  internal/services/cdn/cdn_frontdoor_firewall_policy_data_source_test.go
  internal/services/cdn/cdn_frontdoor_firewall_policy_resource.go
  internal/services/cdn/cdn_frontdoor_firewall_policy_resource_test.go
  internal/services/cdn/cdn_frontdoor_profile_resource.go
  internal/services/cdn/cdn_frontdoor_profile_resource_test.go
  website/docs/r/cdn_frontdoor_firewall_policy.html.markdown
Labels: bug, enhancement, documentation, size/XL, service/cdn

#28767 dependencies: bump `hashicorp/go-azure-sdk` to `v0.20250213.1092825`
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanageractiveconfigurations/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanageractiveconnectivityconfigurations/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanagereffectiveconnectivityconfiguration/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/network/2024-05-01/networkmanagereffectivesecurityadminrules/constants.go
  vendor/modules.txt
Labels: dependencies, size/S

#28195 `azurerm_sentinel_alert_rule_*` - upgrade API version
  internal/services/sentinel/client/client.go
  internal/services/sentinel/sentinel_alert_rule.go
  internal/services/sentinel/sentinel_alert_rule_anomaly_built_in_resource_test.go
  internal/services/sentinel/sentinel_alert_rule_anomaly_data_source_test.go
  internal/services/sentinel/sentinel_alert_rule_data_source.go
  internal/services/sentinel/sentinel_alert_rule_fusion_resource.go
  internal/services/sentinel/sentinel_alert_rule_fusion_resource_test.go
  internal/services/sentinel/sentinel_alert_rule_machine_learning_behavior_analytics.go
  internal/services/sentinel/sentinel_alert_rule_machine_learning_behavior_analytics_test.go
  internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource.go
  internal/services/sentinel/sentinel_alert_rule_ms_security_incident_resource_test.go
  internal/services/sentinel/sentinel_alert_rule_nrt_resource.go
  internal/services/sentinel/sentinel_alert_rule_nrt_resource_test.go
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource.go
  internal/services/sentinel/sentinel_alert_rule_scheduled_resource_test.go
  internal/services/sentinel/sentinel_alert_rule_threat_intelligence_resouce_test.go
  internal/services/sentinel/sentinel_alert_rule_threat_intelligence_resource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/id_alertrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/id_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_alertdetailsoverride.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_alertpropertymapping.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_alertrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_entitymapping.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_eventgroupingsettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_fieldmapping.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_fusionalertrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_fusionalertruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_fusionscenarioexclusionpattern.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_fusionsourcesettings.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_fusionsourcesubtypesetting.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_fusionsubtypeseverityfilter.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_fusionsubtypeseverityfiltersitem.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_groupingconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_incidentconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_microsoftsecurityincidentcreationalertrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_microsoftsecurityincidentcreationalertruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_mlbehavioranalyticsalertrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_mlbehavioranalyticsalertruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_nrtalertrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_nrtalertruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_scheduledalertrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_scheduledalertruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_sentinelentitymapping.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_threatintelligencealertrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/model_threatintelligencealertruleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/securityinsights/2023-12-01-preview/alertrules/version.go
  vendor/modules.txt
  website/docs/r/sentinel_alert_rule_scheduled.html.markdown
Labels: enhancement, documentation, dependencies, size/XL, service/sentinel

#28770 `app_service` / `web` - deprecate Visual Studio versions for `remote_debugging_version`
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/helpers/function_app_slot_schema.go
  internal/services/appservice/helpers/linux_web_app_schema.go
  internal/services/appservice/helpers/web_app_slot_schema.go
  internal/services/appservice/helpers/windows_web_app_schema.go
  internal/services/web/app_service.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/guides/migrating-from-deprecated-resources.html.markdown
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
  website/docs/r/linux_function_app.html.markdown
  website/docs/r/linux_function_app_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_function_app.html.markdown
  website/docs/r/windows_function_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: enhancement, documentation, size/L, service/app-service

#28757 Docs: update description for `plan_id` in `azurerm_palo_alto_next_generation_firewall_*`
  website/docs/r/palo_alto_next_generation_firewall_vhub_local_rulestack.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_vhub_panorama.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_virtual_network_local_rulestack.html.markdown
  website/docs/r/palo_alto_next_generation_firewall_virtual_network_panorama.html.markdown
Labels: enhancement, documentation, size/XS

#28714 CHANGELOG.md for v4.19.0
  .release/provider-schema.json
  CHANGELOG.md
Labels: size/S

#28679 New Resource: `azurerm_data_protection_backup_vault_customer_managed_key`
  internal/services/dataprotection/data_protection_backup_vault_customer_managed_key_resource.go
  internal/services/dataprotection/data_protection_backup_vault_customer_managed_key_resource_test.go
  internal/services/dataprotection/registration.go
  website/docs/r/data_protection_backup_vault_customer_managed_key.html.markdown
Labels: documentation, size/XL, service/data-protection

#28763 `azurerm_logic_app_standard` - support disabling default basic auth policies
  internal/services/logic/logic_app_standard_data_source.go
  internal/services/logic/logic_app_standard_data_source_test.go
  internal/services/logic/logic_app_standard_resource.go
  internal/services/logic/logic_app_standard_resource_test.go
  website/docs/d/logic_app_standard.html.markdown
  website/docs/r/logic_app_standard.html.markdown
Labels: enhancement, documentation, size/XL, service/logic

#28223 `mssql_virtual_machine` - Deprecated `encryption_enabled` and validate `storage_account_access_key`
  internal/services/mssql/mssql_virtual_machine_resource.go
  internal/services/mssql/mssql_virtual_machine_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/mssql_virtual_machine.html.markdown
Labels: bug, enhancement, documentation, size/L, service/mssql

#28381 New data source: `azurerm_dynatrace_monitor`
  internal/services/dynatrace/dynatrace_monitors_data_source.go
  internal/services/dynatrace/dynatrace_monitors_data_source_test.go
  internal/services/dynatrace/dynatrace_monitors_resource.go
  internal/services/dynatrace/helper.go
  internal/services/dynatrace/registration.go
  website/docs/d/dynatrace_monitors.html.markdown
Labels: documentation, new-data-source, size/XL, service/dynatrace

#28783 `azurerm_spatial_anchors_account` - deprecate this resource
  internal/services/mixedreality/registration.go
  internal/services/mixedreality/spatial_anchors_account_data_source.go
  internal/services/mixedreality/spatial_anchors_account_data_source_test.go
  internal/services/mixedreality/spatial_anchors_account_resource.go
  internal/services/mixedreality/spatial_anchors_account_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/d/spatial_anchors_account.html.markdown
  website/docs/r/spatial_anchors_account.html.markdown
Labels: enhancement, documentation, size/S, service/mixed-reality

#28784 `azurerm_storage_container` and `azurerm_storage_share` - add support for migrating from deprecated `storage_account_name` to `storage_account_id`
  internal/services/storage/storage_container_resource.go
  internal/services/storage/storage_container_resource_test.go
  internal/services/storage/storage_share_resource.go
  internal/services/storage/storage_share_resource_test.go
  website/docs/r/storage_container.html.markdown
  website/docs/r/storage_share.html.markdown
Labels: enhancement, documentation, service/storage, size/XL

#28798 `ci` update DSL configs version for TC
  .teamcity/components/project.kt
  .teamcity/settings.kts
Labels: size/XS

#28814 `azurerm_container_registry` - fix principal_id of azurerm_role_assignment
  website/docs/r/container_registry.html.markdown
Labels: bug, documentation, size/XS

#28530 Resolve 4.0 TODOs Kusto
  internal/services/kusto/kusto_attached_database_configuration_resource.go
  internal/services/kusto/kusto_attached_database_configuration_resource_test.go
  internal/services/kusto/kusto_database_script_resource_test.go
  internal/services/kusto/kusto_eventgrid_data_connection_resource.go
  internal/services/kusto/kusto_eventgrid_data_connection_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/kusto_attached_database_configuration.html.markdown
  website/docs/r/kusto_eventgrid_data_connection.html.markdown
Labels: enhancement, documentation, size/XL, service/kusto

#28815 azurerm_windows_function_app - support for node 22
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
  website/docs/r/windows_function_app_slot.html.markdown
Labels: bug, documentation, size/XS, service/app-service

#28793 `azurerm_container_app`: add support for `client_certificate_mode` in data source
  internal/services/containerapps/helpers/container_apps.go
  website/docs/d/container_app.html.markdown
Labels: enhancement, documentation, size/XS, service/container-apps

#27947 azurerm_pim_active_role_assignment: add support for RBAC conditions.
  internal/services/authorization/pim_eligible_role_assignment_resource.go
  internal/services/authorization/pim_eligible_role_assignment_resource_test.go
  website/docs/r/pim_eligible_role_assignment.html.markdown
Labels: enhancement, documentation, size/M, service/authorization

#28809 `azurerm_storage_table` - add attribute `resource_manager_id`
  internal/services/storage/storage_table_resource.go
  website/docs/r/storage_table.html.markdown
Labels: enhancement, documentation, waiting-response, service/storage, size/XS

#28774 CHANGELOG.md for v4.20.0
  .release/provider-schema.json
  CHANGELOG.md
Labels: size/XS

#28840 azurerm_linux_web_app: Add Node Version 22
  examples/app-service/linux-nodejs/main.tf
  internal/services/appservice/helpers/app_stack.go
  internal/services/appservice/linux_web_app_resource_test.go
  internal/services/appservice/linux_web_app_slot_resource_test.go
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
Labels: enhancement, documentation, size/S, service/app-service

#28839 `azurerm_synapse_sql_pool` - fix documentation
  website/docs/r/synapse_sql_pool.html.markdown
Labels: documentation, size/XS

#28845 guide-new-resource.md: documentation minor improvements
  contributing/topics/guide-new-resource.md
Labels: enhancement, size/XS

#28821 Correct schema default value type
  internal/services/datafactory/data_factory_linked_service_azure_databricks_resource.go
  internal/services/machinelearning/machine_learning_inference_cluster_resource.go
  internal/services/redis/redis_cache_resource.go
  internal/services/storage/storage_account_sas_data_source.go
Labels: bug, service/storage, size/XS, service/redis, service/data-factory, service/machine-learning

#27962 `azurerm_kubernetes_cluster` - support for `upgrade_override_setting` property
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  website/docs/r/kubernetes_cluster.html.markdown
Labels: enhancement, documentation, size/L, service/kubernetes-cluster

#28867 New Relic - Skip Tests while delete issues are investigated
  internal/services/newrelic/new_relic_monitor_resource_test.go
  internal/services/newrelic/new_relic_tag_rule_resource_test.go
Labels: size/XS

#28859 `azurerm_[linux|windows]_function_app[_slot]` - correctly update `WEBSITE_CONTENTSHARE` and `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` when changed in `app_settings`
  internal/services/appservice/helpers/function_app_schema.go
  internal/services/appservice/linux_function_app_resource_test.go
  internal/services/appservice/linux_function_app_slot_resource_test.go
  internal/services/appservice/windows_function_app_resource_test.go
  internal/services/appservice/windows_function_app_slot_resource_test.go
Labels: size/M, service/app-service

#28871 `CI` - add new secret env var for email address
  .teamcity/components/build_azure.kt
  .teamcity/settings.kts
  .teamcity/tests/helpers.kt
Labels: size/XS

#28539 `azurerm_servicebus_namespace` - split create update funcs
  internal/services/servicebus/servicebus_namespace_resource.go
Labels: bug, documentation, waiting-response, size/L, service/service-bus

#28799 `azurerm_mysql_flexible_server` - add `administrator_password_wo` and `administrator_password_wo_version`
  internal/services/mysql/mysql_flexible_server_resource.go
  internal/services/mysql/mysql_flexible_server_resource_test.go
  website/docs/r/mysql_flexible_server.html.markdown
Labels: enhancement, documentation, size/M, service/mysql, write-only

#28818 `azurerm_mssql_server` - add support for `administrator_login_password_wo` and `administrator_login_password_wo_version`
  internal/services/mssql/mssql_server_resource.go
  internal/services/mssql/mssql_server_resource_test.go
  internal/tf/pluginsdk/write_only.go
  website/docs/r/mssql_server.html.markdown
Labels: documentation, size/L, service/mssql, write-only

#28857 `azurerm_postgresql_flexible_server` - add `administrator_password_wo` and `administrator_password_wo_version`
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: enhancement, documentation, size/L, service/postgresql, write-only

#28248 `azurerm_mssql_managed_instance` - support for properties `database_format` and `hybrid_secondary_usage`
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource.go
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource_test.go
  website/docs/r/mssql_managed_instance.html.markdown
Labels: enhancement, documentation, size/L, service/mssqlmanagedinstance

#28858 Contributor Docs - add guide on adding write only attributes
  contributing/README.md
  contributing/topics/guide-new-write-only-attribute.md
  internal/sdk/resource.go
Labels: size/L, write-only

#27805 `azurerm_security_center_pricing` - force new resource to be created when `subplan` changes
  internal/services/securitycenter/security_center_subscription_pricing_resource.go
  internal/services/securitycenter/security_center_subscription_pricing_resource_test.go
  website/docs/r/security_center_subscription_pricing.html.markdown
Labels: bug, documentation, size/L, service/security-center

#28122 `azurerm_storage_account` - Supports updating `immutability_policy`
  internal/services/storage/storage_account_resource.go
  internal/services/storage/storage_account_resource_test.go
  website/docs/r/storage_account.html.markdown
Labels: bug, documentation, service/storage, good first issue, size/L

#28494 `azurerm_key_vault_secret`: remove expiration triage recreate
  internal/services/keyvault/key_vault_secret_resource.go
  website/docs/r/key_vault_secret.html.markdown
Labels: bug, documentation, service/key-vault, size/XS

#28316 `azurerm_service_plan` - Adding isolated memory intensive SKUs for `azurerm_app_service_environment_v3`
  internal/services/appservice/helpers/service_plan.go
  internal/services/appservice/service_plan_resource_test.go
  website/docs/r/service_plan.html.markdown
Labels: bug, enhancement, documentation, size/M, service/app-service

#28754 New Resource: `azurerm_network_manager_verifier_workspace`
  internal/services/network/custompollers/network_manager_verifier_workspace_poller.go
  internal/services/network/network_manager_resource_test.go
  internal/services/network/network_manager_verifier_workspace_resource.go
  internal/services/network/network_manager_verifier_workspace_resource_test.go
  internal/services/network/registration.go
  website/docs/r/network_manager_verifier_workspace.html.markdown
Labels: documentation, size/XL, service/network

#28779 Contributor Docs: additions, fixes and updating mkdocs.yml
  contributing/README.md
  contributing/topics/best-practices.md
  contributing/topics/frequently-asked-questions.md
  contributing/topics/guide-breaking-changes.md
  contributing/topics/guide-new-resource-vs-inline.md
  contributing/topics/guide-opening-a-pr.md
  contributing/topics/guide-resource-ids.md
  contributing/topics/guide-state-migrations.md
  contributing/topics/high-level-overview.md
  contributing/topics/maintainer-changelog.md
  contributing/topics/reference-documentation-standards.md
  contributing/topics/reference-errors.md
  contributing/topics/reference-glossary.md
  contributing/topics/reference-naming.md
  contributing/topics/schema-design-considerations.md
  mkdocs.yml
Labels: enhancement, documentation, size/M

#28842 `azurerm_windows_web_app` - fix change detection for `tomcat_version`
  internal/services/appservice/helpers/windows_web_app_schema.go
  internal/services/appservice/windows_web_app_resource_test.go
Labels: bug, size/XS, service/app-service

#28892 Update reference-naming.md
  contributing/topics/reference-naming.md
Labels: size/XS

#28879 `azurerm_logic_app_standard` - support `vnet_content_share_enabled`
  internal/services/logic/logic_app_standard_resource.go
  internal/services/logic/logic_app_standard_resource_test.go
  website/docs/r/logic_app_standard.html.markdown
Labels: enhancement, documentation, size/M, service/logic

#28897 Contributor Guide - change add property and deprecation examples
  contributing/topics/guide-new-fields-to-resource.md
Labels: size/S

#28896 Update kusto_cluster_principal_assignment.html.markdown
  website/docs/r/kusto_cluster_principal_assignment.html.markdown
Labels: documentation, size/XS

#28898 Remove write-only argument validation on the resources
  contributing/topics/guide-new-write-only-attribute.md
  internal/services/mssql/mssql_job_credential_resource.go
  internal/services/mssql/mssql_server_resource.go
  internal/services/mysql/mysql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_server_resource.go
Labels: size/S, service/mssql, service/postgresql, service/mysql

#28895 `azurerm_shared_image_version` - fix `TestAccSharedImageVersion_basic`
  internal/services/compute/shared_image_version_resource_test.go
Labels: bug, size/XS, tests

#28851 changelog/v4.21.0
  .release/provider-schema.json
  CHANGELOG.md
Labels: size/S

#28843 `azurerm_mssql_managed_instance` - fix issue with using `random_password` resource as value for `administrator_login_password`
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource.go
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource_test.go
Labels: bug, size/XS, service/mssqlmanagedinstance

#28881 `azurerm_workloads_sap_*` - support for the `managed_resources_network_access_type` property
  internal/services/workloads/workloads_sap_discovery_virtual_instance_resource.go
  internal/services/workloads/workloads_sap_discovery_virtual_instance_resource_test.go
  internal/services/workloads/workloads_sap_single_node_virtual_instance_resource.go
  internal/services/workloads/workloads_sap_single_node_virtual_instance_resource_test.go
  internal/services/workloads/workloads_sap_three_tier_virtual_instance_resource.go
  internal/services/workloads/workloads_sap_three_tier_virtual_instance_resource_test.go
  website/docs/r/workloads_sap_discovery_virtual_instance.html.markdown
  website/docs/r/workloads_sap_single_node_virtual_instance.html.markdown
  website/docs/r/workloads_sap_three_tier_virtual_instance.html.markdown
Labels: enhancement, documentation, size/XL, service/workloads

#28886 `azurerm_stream_analytics_job` - split create and update
  internal/services/streamanalytics/stream_analytics_job_resource.go
  internal/services/streamanalytics/stream_analytics_job_resource_test.go
Labels: size/XL, service/stream-analytics

#28848 `azurerm_key_vault_certificate`: set partial when updating key vault certificate
  internal/services/keyvault/key_vault_certificate_resource.go
Labels: bug, service/key-vault, size/XS
