Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2025-09, with the labels that each got.

#29295 `azurerm_sentinel_automation_rule` - support `action_incident_task` block
  internal/services/sentinel/sentinel_automation_rule_resource.go
  internal/services/sentinel/sentinel_automation_rule_resource_test.go
  website/docs/r/sentinel_automation_rule.html.markdown
Labels: enhancement, documentation, size/L, service/sentinel

#30528 Revert "`azurerm_subnet` - support `sharing_scope` property"
  internal/services/network/subnet_resource.go
  internal/services/network/subnet_resource_test.go
  website/docs/r/subnet.html.markdown
Labels: documentation, size/M, service/network

#30515 `azurerm_kubernetes_cluster`, `azurerm_kubernetes_cluster_node_pool` - support for the `undrainable_node_behavior` and `max_unavailable` properties
  internal/services/containers/kubernetes_cluster_data_source.go
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_upgrade_test.go
  internal/services/containers/kubernetes_nodepool.go
  website/docs/d/kubernetes_cluster.html.markdown
  website/docs/d/kubernetes_cluster_node_pool.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: enhancement, documentation, size/M, ai-assisted

#30493 `azurerm[_management_group]_policy_set_definition` - fix update for `policy_definition_reference`
  internal/sdk/raw_config.go
  internal/services/policy/management_group_policy_set_definition_resource.go
  internal/services/policy/management_group_policy_set_definition_resource_test.go
  internal/services/policy/policy_set_definition.go
  internal/services/policy/policy_set_definition_resource.go
  internal/services/policy/policy_set_definition_resource_test.go
  internal/tf/pluginsdk/convert.go
Labels: bug, size/L, service/policy

#28694 `azurerm_role_assignment`: check role assignment exits for 409 error
  internal/services/authorization/role_assignment_resource.go
  internal/services/authorization/role_assignment_resource_test.go
Labels: bug, size/M, service/authorization

#30553 Revert "`azurerm_role_assignment`: check role assignment exits for 409 error"
  internal/services/authorization/role_assignment_resource.go
  internal/services/authorization/role_assignment_resource_test.go
Labels: size/M, service/authorization

#30201 Azure rm support for oracle_autonomouse_database_backup feature
  internal/services/oracle/oracle_autonomous_database_backup_data_source.go
  internal/services/oracle/oracle_autonomous_database_backup_data_source_test.go
  internal/services/oracle/oracle_autonomous_database_backup_resource.go
  internal/services/oracle/oracle_autonomous_database_backup_resource_test.go
  internal/services/oracle/oracle_autonomous_database_backups_data_source.go
  internal/services/oracle/oracle_autonomous_database_backups_data_source_test.go
  internal/services/oracle/oracle_autonomous_database_helper.go
  internal/services/oracle/registration.go
  website/docs/d/oracle_autonomous_database_backup.html.markdown
  website/docs/d/oracle_autonomous_database_backups.html.markdown
  website/docs/r/oracle_autonomous_database_backup.html.markdown
Labels: documentation, new-resource, size/XL, service/oracle

#30506 CHANGELOG.md for 4.43.0
  .release/provider-schema.json
  CHANGELOG.md
  version/VERSION
Labels: size/XS, changelog

#30494 `azurerm_netapp_volume` - add support for `accept_grow_capacity_pool_for_short_term_clone_split`
  examples/netapp/short_term_clone/README.md
  examples/netapp/short_term_clone/main.tf
  examples/netapp/short_term_clone/variables.tf
  internal/services/netapp/netapp_volume_data_source.go
  internal/services/netapp/netapp_volume_resource.go
  internal/services/netapp/netapp_volume_resource_test.go
  website/docs/d/netapp_volume.html.markdown
  website/docs/r/netapp_volume.html.markdown
Labels: enhancement, documentation, size/L, service/netapp

#30537 `azurerm_custom_ip_prefix ` - fix issue caused by incorrect type assertion
  internal/services/network/custom_ip_prefix_resource.go
Labels: bug, size/XS, service/network

#30591 mssql_server_extended_auditing_policy- Updated Diagnostic Setting Example
  website/docs/r/mssql_server_extended_auditing_policy.html.markdown
Labels: enhancement, documentation, size/XS

#30497 `azurerm_postgresql_flexible_server` : fix acctests failure
  internal/services/postgres/postgresql_flexible_server_resource.go
Labels: bug, size/XS, service/postgresql

#30577 `azurerm_kubernetes_cluster_node_pool` - fix tests
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_resource_upgrade_test.go
  internal/services/containers/kubernetes_node_pool_snapshot_data_source_test.go
Labels: size/L

#30590 `azurerm_monitor_activity_log_alert` - fix `name` validation
  internal/services/monitor/monitor_activity_log_alert_resource.go
Labels: bug, size/XS, service/monitor

#30595 docs: network restricted Servicename to Search Service
  website/docs/r/search_service.html.markdown
Labels: documentation, size/XS

#30020 Contributor Docs: Add a guide for Resource Identity
  contributing/topics/guide-new-resource.md
  contributing/topics/guide-resource-identity.md
  mkdocs.yml
Labels: waiting-response, size/L

#30620 `azurerm_kusto_cluster` - rename `language_extensions` to `language_extension`
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_cluster_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/kusto_cluster.html.markdown
Labels: documentation, size/L, service/kusto

#30635 Testing - lower parallelism for devcenter and swap locations
  .teamcity/components/settings.kt
Labels: waiting-response, size/XS

#30647 Add actions support / New Action: `azurerm_virtual_machine_power`
  internal/provider/framework/provider.go
  internal/provider/services.go
  internal/sdk/action.go
  internal/sdk/framework_resource.go
  internal/sdk/framework_service_registration.go
  internal/services/compute/registration.go
  internal/services/compute/virtual_machine_power_action.go
  internal/services/compute/virtual_machine_power_action_test.go
  internal/services/keyvault/registration.go
  internal/services/network/registration.go
  internal/services/storage/registration.go
  website/docs/actions/virtual_machine_power.html.markdown
Labels: documentation, dependencies, service/storage, service/key-vault, size/XL, service/network

#30633 Contributor Docs: document additional documentation conventions
  contributing/topics/reference-documentation-standards.md
Labels: size/M

#30299 `azurerm_cdn_frontdoor_security_policy` - Add update ability
  internal/services/cdn/cdn_frontdoor_security_policy_resource.go
  internal/services/cdn/cdn_frontdoor_security_policy_resource_test.go
  website/docs/r/cdn_frontdoor_security_policy.html.markdown
Labels: enhancement, documentation, size/M, service/cdn

#30683 `azurerm_postgresql_flexible_server` - add support for `17` in the `version` property
  internal/services/postgres/postgresql_flexible_server_resource.go
  internal/services/postgres/postgresql_flexible_server_resource_test.go
  website/docs/r/postgresql_flexible_server.html.markdown
Labels: documentation, size/S, service/postgresql

#30686 [TestCase] `azurerm_*_cost_management_export` - Update `container_id`
  internal/services/costmanagement/resource_group_cost_management_export_resource_test.go
  internal/services/costmanagement/subscription_cost_management_export_resource_test.go
Labels: bug, size/XS, service/cost-management

#30466 `azurerm_data_factory_linked_service_sftp` - Add MFA auth type
  internal/services/datafactory/data_factory_linked_service_sftp_resource.go
  internal/services/datafactory/data_factory_linked_service_sftp_resource_test.go
Labels: enhancement, size/M, service/data-factory

#29678 `azurerm_flex_function_app` - add `http_concurrency`
  internal/services/appservice/function_app_flex_consumption_resource.go
  internal/services/appservice/function_app_flex_consumption_resource_test.go
  website/docs/r/function_app_flex_consumption.html.markdown
Labels: enhancement, documentation, size/L, service/app-service

#30707 docs: replace `terraform.io` `ignore_changes` url with a `developer.hashicorp.com` url
  website/docs/d/redis_cache.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/nginx_deployment.html.markdown
  website/docs/r/redis_cache.html.markdown
  website/docs/r/resource_management_private_link_association.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: documentation, size/S

#30662 CHANGELOG.md for `v4.46.0`
  .release/provider-schema.json
  CHANGELOG.md
  version/VERSION
Labels: size/XS, changelog

#30710 Doc: azurerm_storage_queue import spec fix
  website/docs/r/storage_queue.html.markdown
Labels: documentation, size/XS

#30547 New Resource - `azurerm_api_management_workspace_policy`
  internal/services/apimanagement/api_management_workspace_policy_resource.go
  internal/services/apimanagement/api_management_workspace_policy_resource_test.go
  internal/services/apimanagement/client/client.go
  internal/services/apimanagement/registration.go
  internal/services/apimanagement/testdata/api_management_policy_update_test.xml
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/id_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/method_getentitytag.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/method_listbyapi.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/model_policycontract.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/model_policycontractproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/workspacepolicy/version.go
  vendor/modules.txt
  website/docs/r/api_management_workspace_policy.html.markdown
Labels: documentation, dependencies, new-resource, service/load-balancers, service/storage, service/key-vault, service/dns, size/XL, service/hdinsight, service/mssql, service/app-service, service/event-hubs, service/traffic-manager, service/service-bus, service/cosmosdb, service/monitor, service/application-insights, service/redis, service/iot-hub, service/cognitive-services, service/cdn, service/postgresql, service/stream-analytics, service/automation, service/recovery-services, service/mysql, service/policy, service/devtestlabs, service/api-management, service/relay, service/logic, service/firewall, service/data-factory, service/event-grid, service/security-center, service/log-analytics, service/blueprints, service/batch, service/signalr, service/frontdoor, service/machine-learning, service/netapp, service/kusto, service/bots, service/spring, service/healthcare, service/app-configuration, service/power-bi, tooling, service/maintenance, service/cost-management, service/managed-apps, service/sentinel, service/management-groups, service/authorization, service/managed-hsm, service/synapse, service/attestation, service/subscription, service/azure-stack-hci, service/communication, service/data-protection, service/service-fabric-managed-cluster, service/container-apps, service/fluid-relay, service/network, service/mssqlmanagedinstance, service/paloalto, state-migration, service/redhatopenshift, service/systemcentervirtualmachinemanager, service/hsm, service/workloads, service/arc-kubernetes

#30728 `azurerm_stream_analytics_job` - add support for `Msi` in `job_storage_account.authentication_mode`
  internal/services/streamanalytics/stream_analytics_job_resource.go
  internal/services/streamanalytics/stream_analytics_job_resource_test.go
  website/docs/r/stream_analytics_job.html.markdown
Labels: enhancement, documentation, size/M, service/stream-analytics
