Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2025-07, with the labels that each got.

#29915 `azurerm_netapp_volume` - add support for cool access
  internal/services/netapp/netapp_volume_resource.go
  internal/services/netapp/netapp_volume_resource_test.go
  website/docs/r/netapp_volume.html.markdown
Labels: enhancement, documentation, size/XL, service/netapp

#30062 Docs : Add possible value `Standby` for property `secondary_type`
  website/docs/r/mssql_database.html.markdown
Labels: documentation, size/XS

#30064 [TestCase] `azurerm_dashboard_grafana` - update `grafana_major_version`
  internal/services/dashboard/dashboard_grafana_resource_test.go
Labels: enhancement, size/XS, service/dashboard

#30070 `CI` - fix-up action pinning
  .github/workflows/update_changelog.yml
Labels: size/XS

#29724 `azurerm_linux_virtual_machine_scale_set`, `azurerm_windows_virtual_machine_scale_set` - adding properties `auxiliary_mode` and `auxiliary_sku`
  internal/services/compute/linux_virtual_machine_scale_set_resource.go
  internal/services/compute/linux_virtual_machine_scale_set_resource_network_test.go
  internal/services/compute/virtual_machine_scale_set.go
  internal/services/compute/windows_virtual_machine_scale_set_resource.go
  internal/services/compute/windows_virtual_machine_scale_set_resource_network_test.go
  website/docs/r/linux_virtual_machine_scale_set.html.markdown
  website/docs/r/windows_virtual_machine_scale_set.html.markdown
Labels: enhancement, documentation, size/L, size/XL

#29851 `azurerm_public_ip_prefix` : support for the `custom_ip_prefix_id` property
  internal/services/network/public_ip_prefix_resource.go
  internal/services/network/public_ip_prefix_resource_test.go
  website/docs/r/public_ip_prefix.html.markdown
Labels: enhancement, documentation, size/M, service/network

#30077 [TestCase] Update TestAccLogAnalyticsQueryPackQuery_update and TestAccLogAnalyticsSavedSearch_functionParameter
  internal/services/loganalytics/log_analytics_query_pack_query_resource_test.go
  internal/services/loganalytics/log_analytics_saved_search_resource_test.go
Labels: enhancement, size/M, service/log-analytics

#30041 azurerm_logic_app_workflow - make trigger block property allowed_caller_ip_address_range optional
  internal/services/logic/logic_app_workflow_resource.go
  internal/services/logic/logic_app_workflow_resource_test.go
  website/docs/r/logic_app_workflow.html.markdown
Labels: bug, documentation, size/XS, service/logic

#30056 `azurerm_mobile_network_packet_core_control_plane` - correct updating `site_ids`
  internal/services/mobilenetwork/mobile_network_packet_core_control_plane_resource.go
  website/docs/r/mobile_network_packet_core_control_plane.html.markdown
Labels: bug, documentation, size/XS, service/mobile-network

#30039 `testing` - update core version used for testing and bump external providers
  .teamcity/components/settings.kt
  internal/acceptance/testcase.go
Labels: size/XS

#29810 `azurerm_service_plan` : allow update `zone_balancing_enabled` property without `ForceNew`
  internal/services/appservice/service_plan_data_source_test.go
  internal/services/appservice/service_plan_resource.go
  internal/services/appservice/service_plan_resource_test.go
  website/docs/r/service_plan.html.markdown
Labels: enhancement, documentation, dependencies, service/storage, service/dns, size/S, size/M, size/XL, service/mssql, service/app-service, service/cosmosdb, service/application-insights, service/mysql, service/policy, service/api-management, service/firewall, service/event-grid, service/log-analytics, service/machine-learning, service/netapp, service/kusto, tooling, service/authorization, service/purview, service/communication, service/data-protection, service/container-apps, service/network, state-migration, service/dev-center

#29467 `azurerm_kubernetes_cluster_node_pool` - remove `_enabled` from non-bool property `transparent_huge_page_enabled`
  internal/provider/provider_schema_test.go
  internal/services/containers/container_registry_task_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_cluster_resource.go
  internal/services/containers/kubernetes_cluster_resource_test.go
  internal/services/containers/kubernetes_nodepool.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/kubernetes_cluster.html.markdown
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: enhancement, documentation, size/XL, service/netapp, state-migration

#30111 `CI` - increase job timeout for `netapp`
  .teamcity/Makefile
  .teamcity/components/settings.kt
  .teamcity/settings.kts
Labels: size/XS

#28956 New Resource: `azurerm_network_manager_verifier_workspace_reachability_analysis_intent`
  internal/services/network/network_manager_resource_test.go
  internal/services/network/network_manager_verifier_workspace_reachability_analysis_intent_resource.go
  internal/services/network/network_manager_verifier_workspace_reachability_analysis_intent_resource_test.go
  internal/services/network/network_manager_verifier_workspace_resource.go
  internal/services/network/network_manager_verifier_workspace_resource_test.go
  internal/services/network/registration.go
  internal/services/network/validate/ip_traffic_port.go
  internal/services/network/validate/ip_traffic_port_test.go
  website/docs/r/network_manager_verifier_workspace_reachability_analysis_intent.html.markdown
Labels: documentation, size/XL, service/network

#30098 [TestCase] TestAccBotChannelsRegistration_complete/TestAccBotChannelsRegistration_update - fix testcase
  internal/services/bot/bot_channels_registration_resource_test.go
Labels: enhancement, size/XS, service/bots

#30086 `azurerm_container_registry` and Data Source `azurerm_container_registry` - adding `data_endpoint_host_names` to exported properties
  internal/services/containers/container_registry_data_source.go
  internal/services/containers/container_registry_data_source_test.go
  internal/services/containers/container_registry_resource.go
  website/docs/d/container_registry.html.markdown
  website/docs/r/container_registry.html.markdown
Labels: enhancement, documentation, size/XS

#29627 `azurerm_hdinsight_hbase_cluster`: fix complete acc test
  internal/services/hdinsight/hdinsight_hbase_cluster_resource_test.go
Labels: enhancement, size/M, service/hdinsight

#30087 `azurerm_data_protection_backup_instance_disk` - support cross subscription snapshot resource group
  internal/services/dataprotection/data_protection_backup_instance_disk_resource.go
  internal/services/dataprotection/data_protection_backup_instance_disk_resource_test.go
  website/docs/r/data_protection_backup_instance_disk.html.markdown
Labels: enhancement, documentation, size/L, size/M, service/data-protection

#30130 `storage` - fix import tests template reference
  internal/services/storage/storage_container_resource_test.go
  internal/services/storage/storage_share_resource_test.go
Labels: service/storage, size/XS

#30123 Docs: sync before release
  website/docs/d/api_management.html.markdown
  website/docs/d/dev_center_dev_box_definition.html.markdown
  website/docs/r/api_management.html.markdown
  website/docs/r/api_management_custom_domain.html.markdown
  website/docs/r/api_management_policy.html.markdown
  website/docs/r/application_load_balancer.html.markdown
  website/docs/r/application_load_balancer_frontend.html.markdown
  website/docs/r/application_load_balancer_subnet_association.html.markdown
  website/docs/r/arc_kubernetes_cluster_extension.html.markdown
  website/docs/r/arc_kubernetes_flux_configuration.html.markdown
  website/docs/r/dev_center_dev_box_definition.html.markdown
  website/docs/r/kubernetes_cluster_extension.html.markdown
  website/docs/r/kubernetes_flux_configuration.html.markdown
  website/docs/r/management_group_policy_set_definition.html.markdown
  website/docs/r/network_manager_verifier_workspace_reachability_analysis_intent.html.markdown
  website/docs/r/oracle_autonomous_database.html.markdown
  website/docs/r/policy_set_definition.html.markdown
  website/docs/r/purview_account.html.markdown
Labels: documentation, size/S

#30118 Data source: azurerm_marketplace_agreement - support for 'accepted' computed property
  internal/services/compute/marketplace_agreement_data_source.go
  internal/services/compute/marketplace_agreement_data_source_test.go
  website/docs/d/marketplace_agreement.html.markdown
Labels: enhancement, documentation, waiting-response, size/S, size/XS

#30075 CHANGELOG.md for 4.36.0
  .release/provider-schema.json
  CHANGELOG.md
Labels: size/S, size/XS, changelog

#30142 Docs: fix example parameter for resource `azurerm_container_app_environment_certificate`
  website/docs/r/container_app_environment_certificate.html.markdown
Labels: documentation, size/XS

#29409 `azurerm_container_app_environment`: add support for `identity`
  internal/services/containerapps/container_app_environment_resource.go
  internal/services/containerapps/container_app_environment_resource_test.go
  website/docs/r/container_app_environment.html.markdown
Labels: enhancement, documentation, size/L, size/M, service/container-apps

#29579 `azurerm_netapp_volume` remove `_enabled` from non-bool property `protocols_enabled`
  internal/provider/provider_schema_test.go
  internal/services/netapp/netapp_volume_resource.go
  internal/services/netapp/netapp_volume_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/netapp_volume.html.markdown
Labels: enhancement, documentation, size/XL, service/netapp

#30102 `azurerm_orchestrated_virtual_machine_scale_set` - add support for `auxiliary_mode` and `auxiliary_sku`
  internal/services/compute/orchestrated_virtual_machine_scale_set.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource.go
  internal/services/compute/orchestrated_virtual_machine_scale_set_resource_network_test.go
  website/docs/r/orchestrated_virtual_machine_scale_set.html.markdown
Labels: enhancement, documentation, size/XL

#30139 `azurerm_container_app_environment` - fix import for `workload_profile`
  internal/services/containerapps/container_app_environment_resource.go
  internal/services/containerapps/container_app_environment_resource_test.go
  internal/services/containerapps/helpers/container_app_environment.go
Labels: bug, size/M, service/container-apps

#29434 `azurerm_vpn_gateway_connection` - support for new property `dpd_timeout_seconds`
  internal/services/network/vpn_gateway_connection_resource.go
  internal/services/network/vpn_gateway_connection_resource_test.go
  website/docs/r/vpn_gateway_connection.html.markdown
Labels: enhancement, documentation, size/XS, service/network

#30159 Data Source: `azurerm_virtual_machine_scale_set` - add `auxiliary_mode` and `auxiliary_sku`
  internal/services/compute/virtual_machine_scale_set.go
  website/docs/d/virtual_machine_scale_set.html.markdown
Labels: bug, enhancement, documentation, size/M

#29867 `azurerm_policy_definition` - Add test for reducing number of parameters
  internal/services/policy/policy_definition_resource_test.go
  website/docs/r/policy_definition.html.markdown
Labels: enhancement, documentation, size/XS, service/policy

#30082 `azurerm_kubernetes_flux_configuration` - support for the `git_repository.provider` property
  internal/services/containers/kubernetes_flux_configuration_resource.go
  internal/services/containers/kubernetes_flux_configuration_resource_test.go
  website/docs/r/kubernetes_flux_configuration.html.markdown
Labels: documentation, size/M

#30135 CHANGELOG.md for 4.37.0
  .release/provider-schema.json
  CHANGELOG.md
Labels: size/XS, changelog

#29882 `azurerm_security_center_automation` - use SDK constants for `action.type`
  internal/services/securitycenter/security_center_automation_resource.go
  internal/services/securitycenter/security_center_automation_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/security_center_automation.html.markdown
Labels: enhancement, documentation, size/L, size/M, service/security-center

#30181 `ci` - skip cli auth for now due to incompatible MFA requirement
  .github/workflows/provider-test.yaml
  internal/provider/provider_test.go
Labels: size/XS

#30182 `azurerm_batch_pool` - fix `task_retry_maximum` validation
  internal/services/batch/batch_pool.go
  internal/services/batch/batch_pool_resource.go
  website/docs/r/batch_pool.html.markdown
Labels: documentation, size/XS, service/batch

#30165 `azurerm_service_plan` - fix CustomizeDiff
  internal/services/appservice/helpers/service_plan.go
  internal/services/appservice/helpers/service_plan_test.go
  internal/services/appservice/service_plan_resource.go
  internal/services/appservice/service_plan_resource_test.go
  website/docs/r/service_plan.html.markdown
Labels: bug, documentation, waiting-response, size/L, service/app-service

#30198 30150 - azurerm_function_app_flex_consumption - instance_memory_in_mbdocs update
  website/docs/r/function_app_flex_consumption.html.markdown
Labels: documentation, size/XS

#26702 new resource `azurerm_mssql_managed_instance_start_stop_schedule`
  internal/services/mssqlmanagedinstance/client/client.go
  internal/services/mssqlmanagedinstance/mssql_managed_instance_start_stop_schedule_resource.go
  internal/services/mssqlmanagedinstance/mssql_managed_instance_start_stop_schedule_resource_test.go
  internal/services/mssqlmanagedinstance/parse/managed_instance_start_stop_schedule.go
  internal/services/mssqlmanagedinstance/parse/managed_instance_start_stop_schedule_test.go
  internal/services/mssqlmanagedinstance/registration.go
  internal/services/mssqlmanagedinstance/resourceids.go
  internal/services/mssqlmanagedinstance/validate/managed_instance_start_stop_schedule_id.go
  internal/services/mssqlmanagedinstance/validate/managed_instance_start_stop_schedule_id_test.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/method_listbyinstance.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/model_scheduleitem.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/model_startstopmanagedinstanceschedule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/model_startstopmanagedinstancescheduleproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/sql/2023-08-01-preview/startstopmanagedinstanceschedules/version.go
  vendor/modules.txt
  website/docs/r/mssql_managed_instance_sql_start_stop_schedule.html.markdown
Labels: documentation, dependencies, new-resource, size/XL, service/mssqlmanagedinstance

#30212 Update CODEOWNERS
  CODEOWNERS
Labels: size/XS

#30211 Add explicative note for enable_rbac_authorization
  website/docs/r/key_vault.html.markdown
Labels: documentation, size/XS

#30218 Tooling - `website-scaffold` - change templated description for booleans
  internal/tools/website-scaffold/main.go
  internal/tools/website-scaffold/main_test.go
Labels: size/XS, tooling

#30221 Just a minor sample update in the documentation
  website/docs/r/app_service_certificate.html.markdown
Labels: enhancement, documentation, size/XS

#30222 `azurerm_image` - enhance validation for `os_disk` and `data_disk` block
  internal/services/compute/image_resource.go
  website/docs/r/image.html.markdown
Labels: documentation, size/S

#29428 New Data Source : `azurerm_mssql_failover_group`
  internal/services/mssql/mssql_failover_group_data_source.go
  internal/services/mssql/mssql_failover_group_data_source_test.go
  internal/services/mssql/registration.go
  website/docs/d/mssql_failover_group.html.markdown
Labels: enhancement, documentation, dependencies, service/load-balancers, service/storage, service/key-vault, service/dns, size/XL, service/hdinsight, service/mssql, service/app-service, service/event-hubs, service/traffic-manager, service/service-bus, service/search, service/cosmosdb, service/monitor, service/application-insights, service/redis, service/cdn, service/postgresql, service/automation, service/recovery-services, service/mysql, service/policy, service/service-fabric, service/devtestlabs, service/databricks, service/api-management, service/logic, service/firewall, service/data-factory, service/event-grid, service/security-center, service/log-analytics, service/batch, service/signalr, service/frontdoor, service/machine-learning, service/netapp, service/kusto, service/bots, service/healthcare, service/app-configuration, tooling, service/cost-management, service/sentinel, service/management-groups, service/authorization, service/managed-hsm, service/vmware, service/subscription, service/purview, service/communication, service/data-protection, service/billing, service/service-fabric-managed-cluster, service/service-connector, service/elastic, service/container-apps, service/datadog, service/dashboard, service/nginx, service/private-dns-resolver, service/fluid-relay, service/network, service/mobile-network, service/mssqlmanagedinstance, service/orbital, service/paloalto, state-migration, service/service-networking, service/dev-center, service/systemcentervirtualmachinemanager, service/extended-location, service/video-indexer, service/dynatrace, service/mongo-cluster, service/arc-kubernetes, service/qumulo

#29297 `azurerm_kusto_cluster` - add deprecation warning to `virtual_network_configuration` block
  internal/services/kusto/kusto_cluster_resource.go
  internal/services/kusto/kusto_cluster_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/kusto_cluster.html.markdown
Labels: enhancement, documentation, breaking-change, size/XL, service/kusto

#29274 `azurerm_dev_center` - support new property for `project_catalog_item_sync_enabled`
  internal/services/devcenter/dev_center_resource.go
  internal/services/devcenter/dev_center_resource_test.go
  website/docs/r/dev_center.html.markdown
Labels: enhancement, documentation, size/S, service/dev-center

#29084 `azurerm_role_management_policy` - stop drift by making `approval_status` computed
  internal/services/authorization/role_management_policy_resource.go
  internal/services/authorization/role_management_policy_resource_test.go
Labels: bug, size/S, service/authorization

#30092 Add filesystem to the Oracle exadata and vmcluster
  internal/services/oracle/oracle_cloud_vm_cluster.go
  internal/services/oracle/oracle_cloud_vm_cluster_data_source.go
  internal/services/oracle/oracle_cloud_vm_cluster_resource.go
  internal/services/oracle/oracle_cloud_vm_cluster_resource_test.go
  internal/services/oracle/oracle_exadata_infrastructure_data_source.go
  website/docs/d/oracle_cloud_vm_cluster.html.markdown
  website/docs/d/oracle_db_system_shapes.html.markdown
  website/docs/d/oracle_exadata_infrastructure.html.markdown
  website/docs/d/oracle_gi_versions.html.markdown
  website/docs/r/oracle_cloud_vm_cluster.html.markdown
Labels: enhancement, documentation, waiting-response, size/XL

#29725 `azurerm_video_indexer_account` - support for the `public_network_access` property
  internal/services/videoindexer/video_indexer_account_resource.go
  internal/services/videoindexer/video_indexer_account_resource_test.go
  website/docs/r/video_indexer_account.html.markdown
Labels: enhancement, documentation, size/S, service/video-indexer, service/trustedsigning

#29251 `azurerm_dynatrace_monitor`: Add support for `environment_properties`
  internal/services/dynatrace/dynatrace_monitor_data_source.go
  internal/services/dynatrace/dynatrace_monitor_resource.go
  internal/services/dynatrace/dynatrace_monitor_resource_test.go
  internal/services/dynatrace/helper.go
  website/docs/r/dynatrace_monitor.html.markdown
Labels: enhancement, documentation, waiting-response, size/L, service/dynatrace

#29736 [New resource:] `azurerm_eventgrid_partner_registration`
  internal/services/eventgrid/eventgrid_partner_registration_data_source.go
  internal/services/eventgrid/eventgrid_partner_registration_data_source_test.go
  internal/services/eventgrid/eventgrid_partner_registration_resource.go
  internal/services/eventgrid/eventgrid_partner_registration_resource_test.go
  internal/services/eventgrid/registration.go
  website/docs/d/eventgrid_partner_registration.html.markdown
  website/docs/r/eventgrid_partner_registration.html.markdown
Labels: documentation, size/XL, service/event-grid

#30262 Contributor Guides: minor updates
  contributing/topics/best-practices.md
  contributing/topics/reference-documentation-standards.md
Labels: size/XS

#30245 `azurerm_web_application_firewall_policy` - set `js_challenge_cookie_expiration_in_minutes` to default value if not returned from API
  internal/services/network/web_application_firewall_policy_resource.go
Labels: bug, size/XS, service/network

#30263 `azurerm_mssql_managed_instance` - make `administrator_login` computed
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource.go
  internal/services/mssqlmanagedinstance/mssql_managed_instance_resource_test.go
  website/docs/r/mssql_managed_instance.html.markdown
Labels: bug, documentation, size/S, service/mssqlmanagedinstance

#30178 [New Data Source]: `azurerm_api_connection`
  internal/provider/services.go
  internal/services/connections/api_connection_data_source.go
  internal/services/connections/api_connection_data_source_test.go
  internal/services/connections/api_connection_resource.go
  internal/services/connections/registration.go
  website/docs/d/api_connection.html.markdown
Labels: documentation, size/XL, service/connections
