Repository hashicorp/terraform-provider-azurerm, pull requests merged in 2025-08, with the labels that each got.

#30307 update headers to hc standard
  internal/services/oracle/client/client.go
  internal/services/oracle/oracle_adbs_character_sets_data_source.go
  internal/services/oracle/oracle_adbs_character_sets_data_source_test.go
  internal/services/oracle/oracle_adbs_national_character_sets_data_source.go
  internal/services/oracle/oracle_adbs_national_character_sets_data_source_test.go
  internal/services/oracle/oracle_autonomous_database_data_source.go
  internal/services/oracle/oracle_autonomous_database_data_source_test.go
  internal/services/oracle/oracle_autonomous_database_resource.go
  internal/services/oracle/oracle_autonomous_database_resource_test.go
  internal/services/oracle/oracle_cloud_vm_cluster_data_source.go
  internal/services/oracle/oracle_cloud_vm_cluster_data_source_test.go
  internal/services/oracle/oracle_cloud_vm_cluster_resource.go
  internal/services/oracle/oracle_cloud_vm_cluster_resource_test.go
  internal/services/oracle/oracle_db_nodes_data_source.go
  internal/services/oracle/oracle_db_nodes_data_source_test.go
  internal/services/oracle/oracle_db_servers_data_source.go
  internal/services/oracle/oracle_db_servers_data_source_test.go
  internal/services/oracle/oracle_db_system_shapes_data_source.go
  internal/services/oracle/oracle_db_system_shapes_data_source_test.go
  internal/services/oracle/oracle_exadata_infrastructure_data_source.go
  internal/services/oracle/oracle_exadata_infrastructure_data_source_test.go
  internal/services/oracle/oracle_exadata_infrastructure_resource.go
  internal/services/oracle/oracle_exadata_infrastructure_resource_test.go
  internal/services/oracle/oracle_gi_versions_data_source.go
  internal/services/oracle/oracle_gi_versions_data_source_test.go
  internal/services/oracle/registration.go
Labels: size/M

#30168 `azurerm_synapse_spark_pool`/`azurerm_synapse_workspace`- fix acctests
  internal/services/synapse/synapse_spark_pool_resource.go
  internal/services/synapse/synapse_spark_pool_resource_test.go
  internal/services/synapse/synapse_workspace_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/synapse_spark_pool.html.markdown
Labels: documentation, size/S, service/synapse

#30226 New Resource : support new resource `azurerm_api_management_standalone_gateway`
  internal/services/apimanagement/api_management_standalone_gateway_resource.go
  internal/services/apimanagement/api_management_standalone_gateway_resource_test.go
  internal/services/apimanagement/client/client.go
  internal/services/apimanagement/registration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/id_gateway.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/method_list.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/method_listbyresourcegroup.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/model_apimanagementgatewaybaseproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/model_apimanagementgatewayresource.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/model_apimanagementgatewayskuproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/model_apimanagementgatewayskupropertiesforpatch.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/model_apimanagementgatewayupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/model_backendconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/model_backendsubnetconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/model_frontendconfiguration.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/model_gatewayconfigurationapi.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/apigateway/version.go
  vendor/modules.txt
  website/docs/r/api_management_standalone_gateway.html.markdown
Labels: documentation, dependencies, size/XL, service/mssql, service/service-bus, service/api-management, service/event-grid, service/kusto, service/authorization, service/network, state-migration, service/dev-center, service/trustedsigning

#30324 Sync Docs
  .github/workflows/website-lint.yaml
  website/docs/d/cognitive_account.html.markdown
  website/docs/r/ai_services.html.markdown
  website/docs/r/cognitive_account.html.markdown
  website/docs/r/cognitive_account_customer_managed_key.html.markdown
  website/docs/r/cognitive_account_rai_blocklist.html.markdown
  website/docs/r/cognitive_account_rai_policy.html.markdown
  website/docs/r/cognitive_deployment.html.markdown
Labels: documentation, size/XS

#30330 `azurerm_active_directory_domain_service`: Testcase update for a breaking change in `azuread_service_principal`
  internal/services/domainservices/active_directory_domain_service_test.go
Labels: size/XS, service/domain-services

#30266 New resource: `azurerm_eventgrid_partner_namespace`
  internal/services/eventgrid/eventgrid_partner_namespace_data_source.go
  internal/services/eventgrid/eventgrid_partner_namespace_data_source_test.go
  internal/services/eventgrid/eventgrid_partner_namespace_resource.go
  internal/services/eventgrid/eventgrid_partner_namespace_resource_test.go
  internal/services/eventgrid/registration.go
  website/docs/d/eventgrid_partner_namespace.html.markdown
  website/docs/r/eventgrid_partner_namespace.html.markdown
Labels: documentation, size/XL, service/event-grid

#30343 [TestCase]TestAccLogAnalyticsQueryPackQuery_basic/TestAccLogAnalyticsQueryPackQuery_requiresImport - set uuid
  internal/services/loganalytics/log_analytics_query_pack_query_resource_test.go
Labels: bug, enhancement, size/XS, service/log-analytics

#30342 `azurerm_function_app_flex_consumption` - fix `maximum_instance_count` updating error
  internal/services/appservice/function_app_flex_consumption_resource.go
  internal/services/appservice/function_app_flex_consumption_resource_test.go
Labels: bug, size/S, service/app-service

#30345 `internals` - experimental helper
  internal/tf/pluginsdk/convert.go
Labels: size/XS

#30336 Add experimental helpers for typed resources
  internal/sdk/raw_config.go
Labels: size/L

#29475 `azurerm_postgresql_flexible_server`: fix to set `administrator_login` with `administrator_password_wo` when also enable password auth from false
  internal/services/postgres/postgresql_flexible_server_resource.go
Labels: bug, size/XS, service/postgresql

#30071 add zone and shape filters for GiVersion and DbSystemShapes
  internal/services/oracle/oracle_db_system_shapes_data_source.go
  internal/services/oracle/oracle_db_system_shapes_data_source_test.go
  internal/services/oracle/oracle_gi_versions_data_source.go
  internal/services/oracle/oracle_gi_versions_data_source_test.go
  website/docs/d/oracle_db_system_shapes.html.markdown
  website/docs/d/oracle_gi_versions.html.markdown
Labels: enhancement, documentation, dependencies, size/M

#30295 CHANGELOG.md for 4.39.0
  .release/provider-schema.json
  CHANGELOG.md
  version/VERSION
Labels: size/S, changelog

#29954 `azurerm_kubernetes_cluster` - adding property `gpu_profile` to skip GPU driver install
  internal/services/containers/kubernetes_cluster_node_pool_data_source.go
  internal/services/containers/kubernetes_cluster_node_pool_resource.go
  internal/services/containers/kubernetes_cluster_node_pool_resource_test.go
  internal/services/containers/kubernetes_cluster_other_resource_test.go
  internal/services/containers/kubernetes_nodepool.go
  terraform-registry-manifest.json
  website/docs/r/kubernetes_cluster_node_pool.html.markdown
Labels: enhancement, documentation, size/M

#30358 `Tooling` - `document-fmt` fix regexes
  internal/tools/document-fmt/data/packages.go
Labels: size/XS, tooling

#29811 `azurerm_machine_learning_compute_instance` - allow empty `subnet_resource_id` with managed networking
  internal/services/machinelearning/machine_learning_compute_instance_resource.go
  internal/services/machinelearning/machine_learning_compute_instance_resource_test.go
  website/docs/r/machine_learning_compute_instance.html.markdown
Labels: bug, documentation, size/M, service/machine-learning

#30357 Size Labeler Action - ignore vendor directory
  .github/workflows/pull-request.yaml
Labels: enhancement, size/XS

#30379 `azurerm_eventgrid_system_topic` - suppress case differences on `source_resource_id`
  internal/services/eventgrid/eventgrid_system_topic_resource.go
Labels: bug, size/S, service/event-grid

#30389 Tooling - add step to `scaffold-website` to populate API section
  scripts/scaffold-website.sh
Labels: size/XS

#30115 [Enhancement:] `azurerm_cdn_frontdoor_profile` - add support for `log_scrubbing_rule`
  internal/services/cdn/cdn_frontdoor_profile_data_source.go
  internal/services/cdn/cdn_frontdoor_profile_data_source_test.go
  internal/services/cdn/cdn_frontdoor_profile_resource.go
  internal/services/cdn/cdn_frontdoor_profile_resource_test.go
  website/docs/d/cdn_frontdoor_profile.html.markdown
  website/docs/r/cdn_frontdoor_profile.html.markdown
Labels: enhancement, documentation, size/XL, service/cdn

#29783 New Resource: `azurerm_network_manager_routing_rule_collection`
  internal/services/network/network_manager_resource_test.go
  internal/services/network/network_manager_routing_rule_collection_resource.go
  internal/services/network/network_manager_routing_rule_collection_resource_test.go
  internal/services/network/registration.go
  website/docs/r/network_manager_routing_configuration.html.markdown
  website/docs/r/network_manager_routing_rule_collection.html.markdown
Labels: documentation, new-resource, size/XL, service/network

#30350 azurerm_postgresql_flexible_server - support importing PGSQL replica servers
  internal/services/postgres/postgresql_flexible_server_resource.go
Labels: bug, size/XS, service/postgresql

#30413 `azurerm_network_manager_routing_rule_collection` - correctly read resource name
  internal/services/network/network_manager_routing_rule_collection_resource.go
  internal/services/network/network_manager_routing_rule_collection_resource_test.go
Labels: bug, size/XS, service/network

#29501 New Resource: `azurerm_network_manager_ipam_pool_static_cidr`
  internal/services/network/network_manager_ipam_pool_static_cidr_resource.go
  internal/services/network/network_manager_ipam_pool_static_cidr_resource_test.go
  internal/services/network/network_manager_resource_test.go
  internal/services/network/registration.go
  internal/services/network/validate/number_of_ip_addresses.go
  internal/services/network/validate/number_of_ip_addresses_test.go
  website/docs/r/network_manager_ipam_pool_static_cidr.html.markdown
Labels: documentation, new-resource, size/XL, service/network

#30421 `azurerm_windows_web_app` - fix edge case where `logs.0.application_logs` isn't set into state
  internal/services/appservice/helpers/common_web_app_schema.go
  website/docs/r/app_service.html.markdown
  website/docs/r/app_service_slot.html.markdown
  website/docs/r/linux_web_app.html.markdown
  website/docs/r/linux_web_app_slot.html.markdown
  website/docs/r/windows_web_app.html.markdown
  website/docs/r/windows_web_app_slot.html.markdown
Labels: documentation, size/XS, service/app-service

#30447 `azurerm_monitor_diagnostic_setting` - allow management group IDs for `target_resource_id`
  internal/services/monitor/monitor_diagnostic_setting_resource.go
  internal/services/monitor/monitor_diagnostic_setting_resource_test.go
Labels: enhancement, size/M, service/monitor

#30398 CHANGELOG.md for 4.41.0
  .release/provider-schema.json
  CHANGELOG.md
  version/VERSION
Labels: size/XS, changelog

#30394 `azurerm_[linux|windows]_virtual_machine` - add support for `os_managed_disk_id` property
  .github/labeler-issue-triage.yml
  internal/services/compute/custompoller/managed_disk_detached_poller.go
  internal/services/compute/linux_virtual_machine_resource.go
  internal/services/compute/linux_virtual_machine_resource_disk_os_test.go
  internal/services/compute/linux_virtual_machine_resource_other_test.go
  internal/services/compute/managed_disks_data_source.go
  internal/services/compute/managed_disks_data_source_test.go
  internal/services/compute/registration.go
  internal/services/compute/shared_schema.go
  internal/services/compute/ssh_keys.go
  internal/services/compute/virtual_machine.go
  internal/services/compute/virtual_machine_import.go
  internal/services/compute/windows_virtual_machine_resource.go
  internal/services/compute/windows_virtual_machine_resource_deprecation_test.go
  internal/services/compute/windows_virtual_machine_resource_disk_os_test.go
  internal/services/compute/windows_virtual_machine_resource_other_test.go
  internal/services/compute/windows_virtual_machine_resource_test.go
  website/docs/d/managed_disks.html.markdown
  website/docs/r/linux_virtual_machine.html.markdown
  website/docs/r/windows_virtual_machine.html.markdown
Labels: enhancement, documentation, size/XL

#30477 `azurerm_mysql_flexible_server` - fix failing acceptance test
  internal/services/mysql/mysql_flexible_server_resource_test.go
Labels: size/XS, service/mysql

#29886 `azurerm_key_vault` rename `enabled` field
  internal/services/keyvault/key_vault_certificate_contacts_resource_test.go
  internal/services/keyvault/key_vault_data_source.go
  internal/services/keyvault/key_vault_resource.go
  internal/services/keyvault/key_vault_resource_test.go
  website/docs/5.0-upgrade-guide.html.markdown
  website/docs/r/key_vault.html.markdown
Labels: enhancement, documentation, service/key-vault, size/XL

#30465 CHANGELOG.md for 4.42.0
  .release/provider-schema.json
  CHANGELOG.md
  version/VERSION
Labels: size/S, changelog

#30489 `azurerm_flex_function_app` - fix `instance_memory_in_mb` update issue
  internal/services/appservice/function_app_flex_consumption_resource.go
  internal/services/appservice/function_app_flex_consumption_resource_test.go
Labels: bug, size/M, service/app-service

#30500 Upgrade the API version to support the new feature of `azurerm_api_management_backend`
  internal/services/apimanagement/api_management_backend_resource.go
  internal/services/apimanagement/api_management_backend_resource_test.go
  internal/services/apimanagement/client/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2022-08-01/backend/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2022-08-01/backend/model_backendcontractproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2022-08-01/backend/model_backendupdateparameterproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/README.md
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/client.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/constants.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/id_backend.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/id_service.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/id_workspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/id_workspacebackend.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_createorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_delete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_get.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_getentitytag.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_listbyservice.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_update.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_workspacebackendcreateorupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_workspacebackenddelete.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_workspacebackendget.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_workspacebackendgetentitytag.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_workspacebackendlistbyworkspace.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/method_workspacebackendupdate.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendauthorizationheadercredentials.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendbaseparameterspool.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendcircuitbreaker.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendcontract.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendcontractproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendcredentialscontract.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendpoolitem.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendproxycontract.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendservicefabricclusterproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendtlsproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendupdateparameterproperties.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_backendupdateparameters.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_circuitbreakerfailurecondition.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_circuitbreakerrule.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_failurestatuscoderange.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/model_x509certificatename.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/predicates.go
  vendor/github.com/hashicorp/go-azure-sdk/resource-manager/apimanagement/2024-05-01/backend/version.go
  vendor/modules.txt
  website/docs/r/api_management_backend.html.markdown
Labels: documentation, dependencies, size/XS, service/api-management

#30440 `azurerm_dev_center_project_pool` - support new property for `single_sign_on_enabled`
  internal/services/devcenter/dev_center_project_pool_data_source.go
  internal/services/devcenter/dev_center_project_pool_resource.go
  internal/services/devcenter/dev_center_project_pool_resource_test.go
  website/docs/d/dev_center_project_pool.html.markdown
  website/docs/r/dev_center_project_pool.html.markdown
Labels: enhancement, documentation, size/S, service/dev-center
